Repository appsmithorg/appsmith, pull requests merged in 2020-09, with the labels that each got.

#471 Feature: Icon component icon names, props and className updated
  app/client/src/components/ads/AppIcon.tsx
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/IconSelector.tsx
  app/client/src/components/ads/Menu.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/ads/Table.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/ads/common.tsx
  app/client/src/components/stories/Button.stories.tsx
  app/client/src/components/stories/Icon.stories.tsx
  app/client/src/components/stories/IconSelector.stories.tsx
  app/client/src/components/stories/Menu.stories.tsx
  app/client/src/components/stories/Table.stories.tsx
  app/client/src/components/stories/Tabs.stories.tsx
  app/client/src/pages/organization/Members.tsx
  app/client/src/pages/organization/settings.tsx
Labels: design-system

#376 Add API for uploading logo images for organizations
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Url.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/AssetController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/OrganizationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Asset.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Organization.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AssetRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AssetService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AssetServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/OrganizationService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/OrganizationServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/OrganizationServiceTest.java
  app/server/appsmith-server/src/test/resources/test_assets/OrganizationServiceTest/my_organization_logo.png
Labels: server

#444 Add validation for host values in DB datasources
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/PluginExecutorHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/SeedMongoData.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
Labels: server

#477 Feature: Dropdown component
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/stories/Dropdown.stories.tsx
Labels: design-system

#483 Fix: Button height issue
  app/client/src/components/ads/Button.tsx
Labels: design-system

#484 Fix: Menu item disabled state
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/stories/Menu.stories.tsx
Labels: design-system

#494 Fix: Hide icon issue in EditableText component
  app/client/src/components/ads/EditableText.tsx
Labels: design-system

#485 Fix: Tab header icon size
  app/client/src/components/ads/Tabs.tsx
Labels: design-system

#491 Fix Let's Encrypt certificate generation for self-hosted
  deploy/install.sh
  deploy/template/docker-compose.yml.sh
  deploy/template/init-letsencrypt.sh.sh
Labels: server

#469 Fix MongoDB plugin update commands produce an empty response
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
Labels: server

#442 Get list of application IDs to be cloned as examples from template config
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Datasource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ApplicationRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConfigService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConfigServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ExamplesOrganizationCloner.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesOrganizationClonerTests.java
Labels: server

#495 Fix: Default icon selection issue in stories
  app/client/src/components/stories/Button.stories.tsx
  app/client/src/components/stories/Icon.stories.tsx
  app/client/src/components/stories/Menu.stories.tsx
  app/client/src/components/stories/Tabs.stories.tsx
Labels: design-system

#490 Feature: Toggle component
  app/client/src/components/ads/Spinner.tsx
  app/client/src/components/ads/Toggle.tsx
  app/client/src/components/ads/common.tsx
  app/client/src/components/stories/Toggle.stories.tsx
Labels: design-system

#498 Feature: Tooltip component with story
  app/client/src/components/ads/Tooltip.tsx
  app/client/src/components/ads/common.tsx
  app/client/src/components/stories/Tooltip.stories.tsx
Labels: design-system

#475 Feature: Checkbox component
  app/client/src/components/ads/Checkbox.tsx
  app/client/src/components/stories/Checkbox.stories.tsx
Labels: design-system

#481 Feature: Radio group component
  app/client/src/components/ads/Radio.tsx
  app/client/src/components/stories/Radio.stories.tsx
  app/client/src/constants/DefaultTheme.tsx
Labels: design-system

#540 Fix: State management in EditableText Component
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/stories/EditableText.stories.tsx
  app/client/src/components/stories/Menu.stories.tsx
Labels: design-system

#534 Cypress selector added in component system
  app/client/src/components/ads/AppIcon.tsx
  app/client/src/components/ads/Checkbox.tsx
  app/client/src/components/ads/ColorSelector.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/IconSelector.tsx
  app/client/src/components/ads/Menu.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/Radio.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/ads/TableDropdown.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/ads/Text.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/ads/Toggle.tsx
  app/client/src/components/ads/Tooltip.tsx
  app/client/src/components/stories/Radio.stories.tsx
  app/client/src/components/stories/Tooltip.stories.tsx
Labels: design-system

#535 Feature: Callout component
  app/client/src/components/ads/Callout.tsx
  app/client/src/components/stories/Callout.stories.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/mockResponses/PropertyPaneConfigResponse.tsx
Labels: design-system

#571 Improve action pane performance
  app/client/src/pages/Editor/MainContainer.tsx
Labels: client, performance

#578 Feature: Theme switching between light and dark mode
  app/client/src/assets/icons/ads/logout.svg
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/Menu.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/RectangularSwitcher.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
  app/client/src/pages/common/ThemeSwitcher.tsx
  app/client/src/reducers/uiReducers/themeReducer.ts
  app/client/src/sagas/ThemeSaga.tsx
  app/client/src/sagas/index.tsx
Labels: design-system

#677 Feature: Variable addition in light and dark theme
  app/client/src/components/ads/AppIcon.tsx
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/Checkbox.tsx
  app/client/src/components/ads/ColorSelector.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/IconSelector.tsx
  app/client/src/components/ads/Menu.tsx
  app/client/src/components/ads/MenuDivider.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/Radio.tsx
  app/client/src/components/ads/RectangularSwitcher.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/ads/Spinner.tsx
  app/client/src/components/ads/Table.tsx
  app/client/src/components/ads/TableDropdown.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/ads/Text.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/ads/Toggle.tsx
  app/client/src/components/ads/Tooltip.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/Explorer/Datasources/QueryTemplates.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
  app/client/src/pages/organization/General.tsx
Labels: design-system

#736 Fix: user name in profile dropdown
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
Labels: design-system

#724 Fix: Light mode bugs
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/RectangularSwitcher.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/index.tsx
Labels: design-system
