Repository appsmithorg/appsmith, pull requests merged in 2020-12, with the labels that each got.

#1929 Fix: Persist of default values even after delete of widget
  app/client/cypress/integration/Smoke_TestSuite/FormWidgets/Input_spec.js
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/evaluationsSaga.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Bug

#1954 Fix: Organization rename and toast issues
  app/client/cypress/integration/Smoke_TestSuite/Applications/UpdateApplication_spec.js
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Toast.tsx
  app/client/src/pages/Applications/index.tsx
Labels: Bug

#250 Filepicker component
  app/client/src/actions/orgActions.ts
  app/client/src/api/OrgApi.ts
  app/client/src/assets/icons/ads/upload.svg
  app/client/src/components/ads/FilePicker.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/stories/FilePicker.stories.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/orgConstants.ts
  app/client/src/pages/organization/General.tsx
  app/client/src/sagas/OrgSagas.ts
  app/client/src/selectors/organizationSelectors.tsx
Labels: Design System

#1994 Add a TC to mysql plugin to test all regularly used data types in mysql.
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Backend, DB connections, Enhancement, Plugin, advanced, datasources, java, regression

#1987 Cache eslint results
  app/client/.gitignore
  app/client/package.json
  app/client/yarn.lock
Labels: Bug

#1978 Fix: Fusioncharts Watermark
  .github/workflows/client.yml
  .github/workflows/github-release.yml
  app/client/public/index.html
  app/client/src/components/designSystems/appsmith/ChartComponent.tsx
  app/client/src/configs/index.ts
  app/client/src/configs/types.ts
Labels: Bug

#1940 Fix-Flicker issue when columns are resized or reordered
  app/client/src/components/designSystems/appsmith/ReactTableComponent.tsx
  app/client/src/components/designSystems/appsmith/TableUtilities.tsx
Labels: Bug

#2001 [Bug] Propagte mysql test datasource failure to UI.
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Backend, Bug, DB connections, High, Plugin, datasources, java, regression

#1953 Fix #1597: Add a signed issuer token to proxied requests, if configured
  app/server/appsmith-plugins/restApiPlugin/pom.xml
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Backend, Enhancement

#1985 Fix: FilePicker widget was not setting loading state to true on calling action
  app/client/cypress/integration/Smoke_TestSuite/FormWidgets/FilePicker_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
  app/client/package.json
  app/client/src/widgets/FilepickerWidget.tsx
  app/client/yarn.lock
Labels: Bug

#2010 Render templates directly without Mustache
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/MustacheHelper.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/MustacheHelperTest.java
Labels: Backend

#1988 Encode req body in Rest API plugin
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Backend, Bug, High

#1710 Fix: Application name update checks
  app/client/cypress/integration/Smoke_TestSuite/Applications/UpdateApplication_spec.js
  app/client/cypress/locators/HomePage.json
  app/client/src/components/ads/ColorSelector.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/EditableTextWrapper.tsx
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/sagas/ApplicationSagas.tsx
Labels: Bug

#2031 Fix: Overflow text in button widget
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
  app/client/src/components/editorComponents/ErrorBoundry.tsx
Labels: Bug

#1898 Implementation of Ansible playbook
  deploy/ansible/README.MD
  deploy/ansible/appsmith_playbook/appsmith-vars.yml
  deploy/ansible/appsmith_playbook/main.yml
  deploy/ansible/appsmith_playbook/roles/base/defaults/main.yml
  deploy/ansible/appsmith_playbook/roles/base/tasks/install-docker.yml
  deploy/ansible/appsmith_playbook/roles/base/tasks/main.yml
  deploy/ansible/appsmith_playbook/roles/base/tasks/setup-ubuntu.yml
  deploy/ansible/appsmith_playbook/roles/domain_ssl/handlers/main.yml
  deploy/ansible/appsmith_playbook/roles/domain_ssl/tasks/main.yml
  deploy/ansible/appsmith_playbook/roles/domain_ssl/templates/init_letsencrypt.sh.j2
  deploy/ansible/appsmith_playbook/roles/generate_template/defaults/main.yml
  deploy/ansible/appsmith_playbook/roles/generate_template/tasks/main.yml
  deploy/ansible/appsmith_playbook/roles/generate_template/templates/docker-compose.j2
  deploy/ansible/appsmith_playbook/roles/generate_template/templates/docker.env.j2
  deploy/ansible/appsmith_playbook/roles/generate_template/templates/encryption.env.j2
  deploy/ansible/appsmith_playbook/roles/generate_template/templates/mongo-init.js.j2
  deploy/ansible/appsmith_playbook/roles/generate_template/templates/nginx-app.conf.j2
  deploy/ansible/appsmith_playbook/roles/start_app/handlers/main.yml
  deploy/ansible/appsmith_playbook/roles/start_app/tasks/main.yml
Labels: Enhancement

#2056 add step for running cypress tests at code contribution guidelines
  contributions/CodeContributionsGuidelines.md
Labels: Documentation

#2018 Fix/updating datasources does not update sidebar
  app/client/cypress/integration/Smoke_TestSuite/ExplorerTests/Entity_Explorer_Query_Datasource_spec.js
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/locators/commonlocators.json
  app/client/src/pages/Editor/Explorer/Pages/PageGroup.tsx
Labels: Bug

#2002 Fix: alignment of response view in API Editor
  app/client/src/components/editorComponents/ApiResponseView.tsx
Labels: Bug, Frontend, Low

#2080 mysql plugin - check if connection is stale before running query
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Backend, Bug, DB connections, High, Plugin, datasources, java

#2055 Check boolean env values against 'true' string
  app/client/public/index.html
Labels: Bug, Deployment

#2089 Fix: App icon and color name change issue
  app/client/src/api/ApplicationApi.tsx
  app/client/src/components/stories/ColorSelector.stories.tsx
  app/client/src/components/stories/Menu.stories.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/helpers.ts
  app/client/src/pages/Applications/index.tsx
  app/client/src/sagas/ApplicationSagas.tsx
Labels: Bug

#2109 Fix for false evaluated value showing as null
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
Labels: Bug

#2059 fix toast message on widget cut
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug

#2116 Fixing text overflow for long names in application card
  app/client/src/pages/Applications/ApplicationCard.tsx
Labels: Bug

#2070 Fix: User icon numbers on home page
  app/client/src/pages/Applications/index.tsx
Labels: Bug

#2068 Fix: Org logo upload redux state
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/sagas/OrgSagas.ts
Labels: Bug

#2128 Execution params in actions
  app/client/cypress/fixtures/executionParamsDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ActionExecution/Action_PageOnLoad_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ActionExecution/ExecutionParams_spec.js
  app/client/src/constants/ActionConstants.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/sagas/ActionExecutionSagas.ts
  app/client/src/sagas/evaluationsSaga.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/utils/helpers.tsx
Labels: Actions, Dynamic Binding, Enhancement

#2022 Add xml2json and json2xml functions
  app/client/cypress/fixtures/xmlParser.json
  app/client/cypress/integration/Smoke_TestSuite/Binding/xmlParser_spec.js
  app/client/package.json
  app/client/src/constants/defs/xmlParser.json
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/utils/autocomplete/TernServer.ts
  app/client/yarn.lock
Labels: Dynamic Binding, Enhancement

#2196 fix actions/queries not fetched after cloning a page
  app/client/cypress/integration/Smoke_TestSuite/Pages/Pages_spec.js
  app/client/src/reducers/entityReducers/actionsReducer.tsx
  app/client/src/sagas/PageSagas.tsx
Labels: Bug

#2286 Fix invalid templates and API breaking on invalid templates
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/templates/meta.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PluginServiceImpl.java
Labels: Backend, Bug, High

#2115 Fix: Auto scroll to specific section when reloading with same url fixed.
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/pages/Applications/index.tsx
Labels: Bug

#2296 Fix Firestore datasources not encrypting secret key JSON when editing
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AuthenticationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceContextServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceStructureSolution.java
Labels: Backend, Bug

#2112 Redshift plugin
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/redshiftPlugin/plugin.properties
  app/server/appsmith-plugins/redshiftPlugin/pom.xml
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/plugins/RedshiftPlugin.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/templates/DELETE.sql
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/templates/SELECT.sql
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/templates/UPDATE.sql
  app/server/appsmith-plugins/redshiftPlugin/src/test/java/com/external/plugins/RedshiftPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Backend, Datasources, Enhancement, advanced

#2307 Reset table selected row when table data changes
  app/client/cypress/integration/Smoke_TestSuite/Binding/Binding_Table_Widget_DefaultSearch_Input_widget_spec.js
  app/client/src/widgets/TableWidget.tsx
  app/client/src/workers/evaluation.worker.ts
Labels: Bug

#2297 Fixed data validation issue
  app/client/src/components/designSystems/appsmith/TableUtilities.tsx
  app/client/src/widgets/TableWidget.tsx
  app/client/src/workers/evaluation.worker.ts
Labels: Bug

#2329 fix position for table column sub-menus while scrolling
  app/client/src/components/designSystems/appsmith/TableColumnMenu.tsx
Labels: Bug

#2315 fix undo delete tab
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: Bug

#2231 select first when default or selected tab is not found
  app/client/src/widgets/TabsWidget.tsx
Labels: Bug

#2325 reorder widgets alphabetically, autofocus search input
  app/client/src/mockResponses/WidgetSidebarResponse.tsx
  app/client/src/pages/Editor/WidgetSidebar.tsx
  app/client/src/reducers/uiReducers/widgetSidebarReducer.ts
  app/client/src/selectors/editorSelectors.tsx
Labels: Enhancement

#2393 [Worker] Fix critical issues
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/sagas/evaluationsSaga.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Bug
