Repository appsmithorg/appsmith, pull requests merged in 2020-08, with the labels that each got.

#202 Return 200 when action could not be executed
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ActionServiceImpl.java
Labels: server

#201 Auto-login on signup
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/CustomFormLoginServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ApplicationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/BaseController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/CollectionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/PageController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/UserController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/SessionUserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserSignup.java
Labels: enhancement, server

#256 Add transient field on applications to indicate whether it's an example application
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConfigService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConfigServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ExamplesOrganizationCloner.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExampleApplicationsAreMarked.java
Labels: server

#241 Fix numbers being converted to floats in JSON Post body
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
Labels: bug, server

#252 Textinput component ads
  README.md
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/stories/TextInput.stories.tsx
Labels: ads

#287 Set transient fields when loading application by id
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationServiceImpl.java
Labels: bug, server

#248 Tabs component ads
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/stories/Tabs.stories.tsx
Labels: ads

#249 Text and TextInput component ads
  app/client/.storybook/addons.js
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/Spinner.tsx
  app/client/src/components/ads/Text.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/ads/common.tsx
  app/client/src/components/stories/Button.stories.tsx
  app/client/src/components/stories/Text.stories.tsx
  app/client/src/components/stories/TextInput.stories.tsx
  app/client/src/constants/DefaultTheme.tsx
Labels: ads

#307 Fixes to data tree appsmith entities
  app/client/src/actions/pageActions.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/defs/base64-js.json
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/reducers/entityReducers/appReducer.ts
  app/client/src/reducers/entityReducers/authUserReducer.ts
  app/client/src/reducers/entityReducers/index.ts
  app/client/src/reducers/entityReducers/queryDataReducer.tsx
  app/client/src/reducers/entityReducers/urlReducer.ts
  app/client/src/reducers/index.tsx
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/utils/autocomplete/TernServer.ts
Labels: client

#306 Don't always automatically create a blank personal org
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/OrganizationService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/OrganizationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ExamplesOrganizationCloner.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExampleApplicationsAreMarked.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesOrganizationClonerTests.java
Labels: server

#345 Tabs component Border, Text Input box shadow, input focus/error state fixed.
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/ads/TextInput.tsx
Labels: ads

#290 Initial implementation to import examples organization as a migration
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/resources/examples-organization.json
Labels: server

#383 Fix default page not being set for cloned applications
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ExamplesOrganizationCloner.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesOrganizationClonerTests.java
Labels: server

#407 Table dropdown component for role selection
  app/client/src/components/ads/TableDropdown.tsx
  app/client/src/components/stories/TableDropdown.stories.tsx
Labels: ads

#405 Color picker component
  app/client/src/components/ads/ColorSelector.tsx
  app/client/src/components/stories/ColorSelector.stories.tsx
Labels: design-system

#404 Icon picker component
  app/client/src/assets/icons/ads/bag.svg
  app/client/src/assets/icons/ads/book.svg
  app/client/src/assets/icons/ads/calender.svg
  app/client/src/assets/icons/ads/camera.svg
  app/client/src/assets/icons/ads/chat.svg
  app/client/src/assets/icons/ads/file.svg
  app/client/src/assets/icons/ads/flight.svg
  app/client/src/assets/icons/ads/frame.svg
  app/client/src/assets/icons/ads/globe.svg
  app/client/src/assets/icons/ads/heart.svg
  app/client/src/assets/icons/ads/product.svg
  app/client/src/assets/icons/ads/shopper.svg
  app/client/src/components/ads/AppIcon.tsx
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/IconSelector.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/stories/Icon.stories.tsx
  app/client/src/components/stories/IconSelector.stories.tsx
  app/client/src/components/stories/Table.stories.tsx
Labels: design-system

#403 Search input component
  app/client/src/assets/icons/ads/close.svg
  app/client/src/assets/icons/ads/search.svg
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/stories/SearchInput.stories.tsx
Labels: design-system

#362 Editable text component
  app/client/src/assets/icons/ads/edit.svg
  app/client/src/assets/icons/ads/error.svg
  app/client/src/assets/icons/ads/success.svg
  app/client/src/components/ads/EditableInput.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/stories/ColorSelector.stories.tsx
  app/client/src/components/stories/EditableText.stories.tsx
Labels: design-system

#437 Menu item component
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/ColorSelector.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/IconSelector.tsx
  app/client/src/components/ads/Menu.tsx
  app/client/src/components/ads/MenuDivider.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/ads/Table.tsx
  app/client/src/components/ads/TableDropdown.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/ads/common.tsx
  app/client/src/components/stories/Button.stories.tsx
  app/client/src/components/stories/ColorSelector.stories.tsx
  app/client/src/components/stories/EditableText.stories.tsx
  app/client/src/components/stories/Icon.stories.tsx
  app/client/src/components/stories/IconSelector.stories.tsx
  app/client/src/components/stories/Menu.stories.tsx
  app/client/src/components/stories/SearchInput.stories.tsx
  app/client/src/components/stories/Table.stories.tsx
  app/client/src/components/stories/TableDropdown.stories.tsx
  app/client/src/components/stories/Tabs.stories.tsx
  app/client/src/components/stories/Text.stories.tsx
  app/client/src/components/stories/TextInput.stories.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/UserAuth/index.tsx
Labels: design-system

#358 Menu component
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/ColorSelector.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/IconSelector.tsx
  app/client/src/components/ads/Menu.tsx
  app/client/src/components/ads/MenuDivider.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/ads/Table.tsx
  app/client/src/components/ads/TableDropdown.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/ads/common.tsx
  app/client/src/components/stories/Button.stories.tsx
  app/client/src/components/stories/ColorSelector.stories.tsx
  app/client/src/components/stories/EditableText.stories.tsx
  app/client/src/components/stories/Icon.stories.tsx
  app/client/src/components/stories/IconSelector.stories.tsx
  app/client/src/components/stories/Menu.stories.tsx
  app/client/src/components/stories/SearchInput.stories.tsx
  app/client/src/components/stories/Table.stories.tsx
  app/client/src/components/stories/TableDropdown.stories.tsx
  app/client/src/components/stories/Tabs.stories.tsx
  app/client/src/components/stories/Text.stories.tsx
  app/client/src/components/stories/TextInput.stories.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/UserAuth/index.tsx
Labels: design-system

#463 Feature-Icon enum added and size updated.
  app/client/src/assets/icons/ads/create-new.svg
  app/client/src/assets/icons/ads/invite-users.svg
  app/client/src/assets/icons/ads/launch.svg
  app/client/src/assets/icons/ads/share.svg
  app/client/src/assets/icons/ads/view-all.svg
  app/client/src/assets/icons/ads/workspace.svg
  app/client/src/components/ads/AppIcon.tsx
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/IconSelector.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/ads/Spinner.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/stories/Button.stories.tsx
  app/client/src/components/stories/Icon.stories.tsx
  app/client/src/components/stories/Menu.stories.tsx
  app/client/src/components/stories/Table.stories.tsx
  app/client/src/components/stories/TableDropdown.stories.tsx
  app/client/src/components/stories/Tabs.stories.tsx
  app/client/src/components/stories/TextInput.stories.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/organization/Members.tsx
  app/client/src/pages/organization/settings.tsx
Labels: design-system

#468 Feature: Text component props and enum values in stories updated
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/TableDropdown.tsx
  app/client/src/components/ads/Text.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/ads/common.tsx
  app/client/src/components/stories/Button.stories.tsx
  app/client/src/components/stories/EditableText.stories.tsx
  app/client/src/components/stories/Icon.stories.tsx
  app/client/src/components/stories/IconSelector.stories.tsx
  app/client/src/components/stories/Menu.stories.tsx
  app/client/src/components/stories/SearchInput.stories.tsx
  app/client/src/components/stories/TableDropdown.stories.tsx
  app/client/src/components/stories/Text.stories.tsx
Labels: design-system
