Repository appsmithorg/appsmith, pull requests merged in 2020-11, with the labels that each got.

#1734 Fix/show number of records
  app/client/src/components/designSystems/appsmith/TableHeader.tsx
Labels: Bug

#1721 Heroku Button implementation
  app.json
  deploy/heroku/Dockerfile
  deploy/heroku/README.MD
  deploy/heroku/bootstrap.sh
  deploy/heroku/default.conf.template
  deploy/heroku/images/add-domain-button.png
  deploy/heroku/images/add-domain-form.png
  deploy/heroku/images/app-settings.png
  deploy/heroku/images/finish.png
  deploy/heroku/nginx.conf
  heroku.yml
Labels: Enhancement

#1785 Hide AppViewer Header
  app/client/src/pages/AppViewer/viewer/AppViewerHeader.tsx
Labels: Enhancement

#1693 Added to contribution docs with Test Automation steps
  contributions/docs/TestAutomation.md
Labels: Documentation

#1682 Add new property hidden to formControl fields
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/SwitchControl.tsx
  app/client/src/components/formControls/utils.test.ts
  app/client/src/components/formControls/utils.ts
  app/client/src/mockResponses/PostgresConfigResponse.tsx
  app/client/src/pages/Editor/APIEditor/Form.tsx
  app/client/src/pages/Editor/ActionSettings.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/FormControl.tsx
  app/client/src/pages/Editor/QueryEditor/Form.tsx
  app/client/src/utils/FormControlFactory.tsx
Labels: Enhancement

#1613 Highlight matching brackets in editor
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
Labels: Enhancement

#1668 Show api datasource list on focus
  app/client/src/components/editorComponents/CodeEditor/EditorConfig.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
Labels: Enhancement

#1796 Fix: Theme restricted for selected account
  app/client/src/sagas/userSagas.tsx
Labels: Bug

#1798 Fix: App card boundaries UI
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/index.tsx
Labels: Bug

#1684 Added defaultSelectedRow property in table widget so that users can configure default selected row(s)
  app/client/cypress/integration/Smoke_TestSuite/Binding/TextTable.js
  app/client/src/constants/FieldExpectedValue.ts
  app/client/src/constants/WidgetValidation.ts
  app/client/src/mockResponses/PropertyPaneConfigResponse.tsx
  app/client/src/widgets/TableWidget.tsx
  app/client/src/workers/evaluation.worker.ts
Labels: Enhancement

#1862 Making MySql blocking commands run on elastic thread pool
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
Labels: Enhancement

#1853 Making dynamo db's blocking commands run on elastic thread pool.
  app/server/appsmith-plugins/dynamoPlugin/src/main/java/com/external/plugins/DynamoPlugin.java
Labels: Enhancement

#1850 Making Redis plugin blocking statements run on elastic thread pool
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/plugins/RedisPlugin.java
Labels: Enhancement

#1799 Firestore Integration
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/firestorePlugin/plugin.properties
  app/server/appsmith-plugins/firestorePlugin/pom.xml
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/Method.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/Op.java
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/form.json
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceContextServiceImpl.java
Labels: Enhancement

#476 Feature: Toast component
  app/client/src/assets/icons/ads/warning.svg
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/Callout.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/Toast.tsx
  app/client/src/components/ads/common.tsx
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/components/editorComponents/ToastComponent.tsx
  app/client/src/components/stories/Button.stories.tsx
  app/client/src/components/stories/Callout.stories.tsx
  app/client/src/components/stories/Icon.stories.tsx
  app/client/src/components/stories/Table.stories.tsx
  app/client/src/components/stories/Toast.stories.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/Connected.tsx
  app/client/src/pages/organization/Members.tsx
  app/client/src/pages/organization/OrgInviteUsersForm.tsx
  app/client/src/sagas/ActionExecutionSagas.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/CurlImportSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/OrgSagas.ts
  app/client/src/sagas/ProvidersSaga.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/evaluationsSaga.ts
Labels: Design System

#1854 Fix: Maps widget crash on wrong initial location datatype
  app/client/.gitignore
  app/client/cypress/integration/Smoke_TestSuite/DisplayWidgets/Map_spec.js
  app/client/cypress/plugins/index.js
  app/client/src/components/designSystems/appsmith/MapComponent.tsx
  app/client/src/components/propertyControls/LocationSearchControl.tsx
  app/client/src/widgets/MapWidget.tsx
Labels: Bug

#1887 Use env variables in Cypress tests
  app/client/cypress/plugins/index.js
  contributions/docs/TestAutomation.md
Labels: Documentation

#1756 Add support for WSL local dev
  app/client/Dockerfile
  app/client/cypress/setup-test.sh
  app/client/docker/start-nginx.sh
  app/client/docker/templates/nginx-app.conf.template
  app/client/docker/templates/nginx-linux.conf.template
  app/client/start-https.sh
Labels: Enhancement

#1892 Fix selectedTab binding issue
  app/client/src/widgets/TabsWidget.tsx
Labels: Bug, Needs Tests, Tab Widget

#1201 Feature: Rename organization in homepage
  app/client/src/actions/applicationActions.ts
  app/client/src/api/ApplicationApi.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Menu.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/orgConstants.ts
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/organization/AppInviteUsersForm.tsx
  app/client/src/pages/organization/General.tsx
  app/client/src/pages/organization/Members.tsx
  app/client/src/pages/organization/OrgInviteUsersForm.tsx
  app/client/src/pages/organization/settings.tsx
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/OrgSagas.ts
  app/client/src/selectors/applicationSelectors.tsx
  app/client/src/selectors/organizationSelectors.tsx
Labels: Bug

#1926 Improved client setup and workflow
  contributions/ClientSetup.md
Labels: Documentation

#1884 Fix: isRequired validation of checkbox widget
  app/client/cypress/fixtures/formWidgetdsl.json
  app/client/cypress/integration/Smoke_TestSuite/FormWidgets/CheckBox_spec.js
  app/client/src/components/designSystems/blueprint/CheckboxComponent.tsx
  app/client/src/widgets/ButtonWidget.tsx
  app/client/src/widgets/CheckboxWidget.tsx
  app/client/src/widgets/FormButtonWidget.tsx
Labels: Bug

#1893 fixed func arg splitting regex to include arrays and objects
  app/client/cypress/integration/Smoke_TestSuite/Binding/ButtonWidgets_NavigateTo_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Binding/InputWidgets_NavigateTo_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Binding/TableWidgets_NavigateTo_Validation_spec.js
  app/client/cypress/support/commands.js
  app/client/src/components/editorComponents/actioncreator/ActionCreator.tsx
Labels: Bug

#1930 Sava api with datasource without having to click on save datasource
  app/client/cypress/integration/Smoke_TestSuite/Datasources/RestApiDatasource_spec.js
  app/client/src/actions/datasourceActions.ts
  app/client/src/components/editorComponents/StoreAsDatasource.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug

#1865 Feature: Min and Max date inputs to restrict range in Datepicker Widget
  app/client/cypress/integration/Smoke_TestSuite/FormWidgets/Button_spec.js
  app/client/cypress/integration/Smoke_TestSuite/FormWidgets/DatePicker_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/cypress/support/commands.js
  app/client/src/components/designSystems/blueprint/DatePickerComponent.tsx
  app/client/src/components/propertyControls/DatePickerControl.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/mockResponses/PropertyPaneConfigResponse.tsx
  app/client/src/widgets/DatePickerWidget.tsx
  app/client/src/workers/evaluation.worker.ts
Labels: Enhancement

#1880 Loop sagas to respawn when they crash
  app/client/src/sagas/index.tsx
Labels: Bug

#1936 Move sql plugin to use R2DBC driver from JDBC driver
  app/server/appsmith-plugins/mysqlPlugin/pom.xml
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Backend, DB connections, Enhancement, Plugin, advanced, datasources, java

#1934 Make sure google is available before loading components
  app/client/cypress/integration/Smoke_TestSuite/DisplayWidgets/Map_spec.js
  app/client/src/components/designSystems/appsmith/MapComponent.tsx
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
  app/client/src/components/propertyControls/LocationSearchControl.tsx
  app/client/src/utils/hooks/useScript.tsx
  app/client/src/widgets/MapWidget.tsx
Labels: Bug
