Repository appsmithorg/appsmith, pull requests merged in 2020-10, with the labels that each got.

#641 Datasource structure support for MongoDB
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStructure.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
Labels: Plugin

#689 Explorer fixes
  app/client/src/pages/Editor/Explorer/Actions/ActionsGroup.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/JSDependencies.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageGroup.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetGroup.tsx
Labels: Entity Explorer, Frontend, UX Improvement

#927 Feature: Invite modal
  app/client/cypress/locators/HomePage.json
  app/client/src/assets/icons/ads/manage.svg
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/Callout.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/ads/Toggle.tsx
  app/client/src/components/designSystems/appsmith/CopyToClipBoard.tsx
  app/client/src/components/editorComponents/TagInputComponent.tsx
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/components/editorComponents/form/fields/SelectField.tsx
  app/client/src/components/stories/Callout.stories.tsx
  app/client/src/components/stories/Dropdown.stories.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
  app/client/src/pages/organization/AppInviteUsersForm.tsx
  app/client/src/pages/organization/OrgInviteUsersForm.tsx
Labels: Design System

#1184 Add first_login event for analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/AuthenticationSuccessHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AnalyticsService.java
Labels: Backend

#926 Feature: Create new-app flow
  app/client/cypress/locators/HomePage.json
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
  app/client/src/components/ads/ColorSelector.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/ads/Table.tsx
  app/client/src/components/ads/TableDropdown.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/ApplicationLoaders.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
  app/client/src/pages/common/SubHeader.tsx
  app/client/src/pages/organization/Members.tsx
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/reducers/uiReducers/orgReducer.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/selectors/applicationSelectors.tsx
  app/client/src/selectors/organizationSelectors.tsx
Labels: Design System

#1188 Add logging to segment SDK
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
Labels: Backend

#1217 Add pre-requisites instructions to server setup
  contributions/ServerSetup.md
Labels: Documentation

#800 Fix: refresh on chunk load error due to deployment
  app/client/public/index.html
Labels: Frontend

#1222 Remove extraneous scrollbars in API action pane
  app/client/src/components/designSystems/appsmith/TabbedView.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
Labels: Frontend

#1272 MS SQL Plugin implementation
  app/server/appsmith-plugins/mssqlPlugin/plugin.properties
  app/server/appsmith-plugins/mssqlPlugin/pom.xml
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/templates/DELETE.sql
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/templates/SELECT.sql
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/templates/UPDATE.sql
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Backend, Plugin

#1181 Add ElasticSearch integration
  app/server/appsmith-plugins/elasticSearchPlugin/plugin.properties
  app/server/appsmith-plugins/elasticSearchPlugin/pom.xml
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/elasticSearchPlugin/src/test/java/com/external/plugins/ElasticSearchPluginTest.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Backend, Plugin

#1167 Add DynamoDB Plugin
  app/server/appsmith-plugins/dynamoPlugin/plugin.properties
  app/server/appsmith-plugins/dynamoPlugin/pom.xml
  app/server/appsmith-plugins/dynamoPlugin/src/main/java/com/external/plugins/DynamoPlugin.java
  app/server/appsmith-plugins/dynamoPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/dynamoPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/dynamoPlugin/src/test/java/com/external/plugins/DynamoPluginTest.java
  app/server/appsmith-plugins/dynamoPlugin/src/test/java/com/external/plugins/PlainToSdkTests.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Backend, Plugin
