Repository appsmithorg/appsmith, pull requests merged in 2021-09, with the labels that each got.

#6980 fix: widget crashing
  app/client/src/components/designSystems/blueprint/TextComponent.tsx
  app/client/src/constants/OmnibarDocumentationConstants.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/Form.tsx
  app/client/src/widgets/TableWidget/index.tsx
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Count.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Delete.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Distinct.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Find.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/UpdateMany.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/util/plugin-generation/.gitignore
Labels: UI Building Pod

#6598 Feat/icon button as column type
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
  app/client/src/components/designSystems/appsmith/IconButtonComponent.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/Constants.ts
  app/client/src/components/designSystems/appsmith/TableComponent/TableFilterPaneContent.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.tsx
  app/client/src/components/propertyControls/ColumnActionSelectorControl.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod

#7017 fix: fix missed out errorType field for debugger error analytics
  app/client/src/api/ActionAPI.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: skip-changelog

#7026 fix: updated color picker interections
  app/client/src/components/ads/ColorPickerComponent.tsx
Labels: UI Building Pod

#6961 fix : Iframe onUrlChanged issue
  app/client/src/components/designSystems/blueprint/IframeComponent.tsx
Labels: new-contribution

#6618 fix: multiselect animation
  app/client/src/components/designSystems/appsmith/MultiSelectComponent/index.styled.tsx
Labels: UI Building Pod

#7018 fix: changed defaultText to empty string
  app/client/src/mockResponses/WidgetConfigResponse.tsx
Labels: UI Building Pod, new-contribution

#6956 feat: Generating plugin framework using plop
  app/util/plugin-generation/package-lock.json
  app/util/plugin-generation/plop-templates/database-changelog.hbs
  app/util/plugin-generation/plop-templates/editor-json.hbs
  app/util/plugin-generation/plop-templates/form-json.hbs
  app/util/plugin-generation/plop-templates/json-template.hbs
  app/util/plugin-generation/plop-templates/plugin-iml.hbs
  app/util/plugin-generation/plop-templates/plugin-pom.hbs
  app/util/plugin-generation/plop-templates/pluginJava.hbs
  app/util/plugin-generation/plop-templates/pluginTest.hbs
  app/util/plugin-generation/plop-templates/super-plugins-pom.hbs
  app/util/plugin-generation/plopfile.js
Labels: skip-changelog

#6832 fix: Firefox input widget text selection
  app/client/src/widgets/InputWidget.tsx
Labels: UI Building Pod

#6556 feat: statbox widget
  app/client/cypress/fixtures/StatboxDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Statbox_spec.js
  app/client/src/assets/icons/widget/statbox.svg
  app/client/src/components/designSystems/appsmith/IconButtonComponent.tsx
  app/client/src/constants/HelpConstants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/mockResponses/WidgetSidebarResponse.tsx
  app/client/src/reducers/entityReducers/widgetConfigReducer.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/IconButtonWidget.tsx
  app/client/src/widgets/StatboxWidget.tsx
Labels: UI Building Pod, new-contribution

#7088 fix: reorder IconButtonWidget properties
  app/client/src/widgets/IconButtonWidget.tsx
Labels: UI Building Pod

#7048 feat: Add horizontal tabs in gitSync Modal
  app/client/src/components/ads/TabItemBackgroundFill.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/Menu.tsx
  app/client/src/pages/Editor/gitSync/components/TabItem.tsx
  app/client/src/pages/Editor/gitSync/constants.ts
Labels: Version Control

#6287 fix: Making only the back link clickable instead of the whole row
  app/client/src/components/editorComponents/CloseEditor.tsx
Labels: Bug

#6637 feat: compact mode in property pane
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_GeneralProperty_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/publishWidgetspage.json
  app/client/src/components/designSystems/appsmith/TableComponent/Table.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableCompactMode.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableHeader.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/index.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod

#6865 fix: underline style for text
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_GeneralProperty_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/assets/icons/control/underline1.svg
  app/client/src/components/ads/ButtonTabComponent.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/AutoToolTipComponent.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableStyledWrappers.tsx
  app/client/src/icons/ControlIcons.tsx
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod

#6854 fix: added migrations for old input widget
  app/client/src/components/designSystems/blueprint/InputComponent/index.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/widgets/InputWidget.tsx
Labels: UI Building Pod, new-contribution

#7091 fix: change validation rule for data in list widget
  app/client/src/widgets/ListWidget/ListPropertyPaneConfig.ts
Labels: List Widget, hotfix

#6310 feat: chart yaxis adaptive
  app/client/src/components/designSystems/appsmith/ChartComponent.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/widgets/ChartWidget/index.tsx
  app/client/src/widgets/ChartWidget/propertyConfig.test.ts
  app/client/src/widgets/ChartWidget/propertyConfig.ts
Labels: UI Building Pod, new-contribution

#7162 feat: Adding labels to PR based on their title
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: Enhancement

#7168 fix: Running the PR labeler when a PR is edited
  .github/workflows/pr-labeler.yml
Labels: Bug

#6886 fix: add expected structure example
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/pages/Editor/APIEditor/PostBodyData.tsx
Labels: UI Building Pod

#7182 fix: fix Arangodb plugin response on update commands
  app/server/appsmith-plugins/arangoDBPlugin/src/main/java/com/external/plugins/ArangoDBPlugin.java
  app/server/appsmith-plugins/arangoDBPlugin/src/test/java/com/external/plugins/ArangoDBPluginTest.java
Labels: Bug

#7173 fix: snippets UI
  app/client/src/components/editorComponents/GlobalSearch/SnippetsDescription.tsx
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/selectors/themeSelectors.tsx
Labels: Bug

#7174 fix: resize breaks DnD
  app/client/src/pages/Editor/WidgetsEditor.tsx
  app/client/src/pages/common/CanvasSelectionArena.tsx
  app/client/src/utils/hooks/useAllowEditorDragToSelect.ts
Labels: Bug, UI Building Pod, UI Building

#7189 fix: Use BigDecimal to maintain precision for floating point numbers when using prepared statements
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
Labels: Bug

#7198 feat: Removed unnecessary fields from exported application
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationService.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Enhancement

#7178 fix: close notifications list on clicking a list item
  app/client/src/notifications/NotificationListItem.tsx
Labels: Bug

#5535 test: List widget UI test cases
  app/client/cypress/fixtures/example.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/List_spec.js
  app/client/cypress/integration/Smoke_TestSuite/LayoutWidgets/List_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
Labels: skip-changelog, Stale

#7185 fix: handle resolved/deleted comment threads after they're fetched
  app/client/src/actions/commentActions.ts
  app/client/src/comments/AppComments/AppCommentThreads.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/reducers/uiReducers/commentsReducer/commentsReducer.ts
  app/client/src/reducers/uiReducers/commentsReducer/handleFetchApplicationCommentsSuccess.ts
  app/client/src/reducers/uiReducers/commentsReducer/interfaces.ts
  app/client/src/sagas/CommentSagas/index.ts
  app/client/src/selectors/commentsSelectors.ts
Labels: Bug, hotfix

#7180 fix: text overflow
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/styles.ts
Labels: Bug, Generate Page

#7181 fix: omit props passing to DOM element
  app/client/src/comments/CommentThread/CommentThread.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/designSystems/appsmith/IconButtonComponent.tsx
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
  app/client/src/components/designSystems/blueprint/InputComponent/index.tsx
Labels: Bug

#7141 chore: jest state update on unmount error
  app/client/src/pages/Editor/GeneratePage/components/CrudInfoModal.tsx
Labels: Frontend, skip-changelog

#7204 fix: Fetch all the schemas present in the postgres DB
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
Labels: Bug

#7200 fix: try making create new thread transition better
  app/client/src/sagas/CommentSagas/index.ts
Labels: Bug

#6328 test: Select UI test cases
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Chart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Button_onClickAction_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Dropdown_onOptionChange_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Dropdown_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormReset_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWithSwitch_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/RichTextEditor_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/cypress/support/commands.js
Labels: Stale

#7156 fix: persist draft comments on clicking outside
  app/client/src/actions/commentActions.ts
  app/client/src/comments/CommentThread/CommentThread.tsx
  app/client/src/comments/inlineComments/AddCommentInput.tsx
  app/client/src/comments/inlineComments/InlineCommentPin.tsx
  app/client/src/comments/inlineComments/UnpublishedCommentThread.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/reducers/uiReducers/commentsReducer/commentsReducer.ts
  app/client/src/reducers/uiReducers/commentsReducer/interfaces.ts
  app/client/src/selectors/commentsSelectors.ts
Labels: Bug

#6949 fix: Tabs widget - full height when showTabs is false
  app/client/src/components/designSystems/appsmith/TabsComponent.tsx
Labels: UI Building Pod

#7205 fix: stop creating private thread if someone tagged a user in their f…
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CommentServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CommentServiceTest.java
Labels: Bug

#6983 feat: Consistent styling for widgets disabled state
  app/client/src/components/designSystems/appsmith/CheckboxGroupComponent.tsx
  app/client/src/components/designSystems/blueprint/CheckboxComponent.tsx
  app/client/src/components/designSystems/blueprint/RateComponent.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/widgets/CheckboxWidget.tsx
Labels: UI Building Pod

#7027 fix: checked array before spread
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod

#7101 fix: Filter columns which has a column accessor
  app/client/src/widgets/TableWidget/derived.js
Labels: Bug, UI Building Pod

#7186 fix: wrapped header text in AutotooltipComponent
  app/client/src/pages/Editor/QueryEditor/Table.tsx
Labels: Bug

#7232 fix: Undoing delete widget does not restore the errors in the debugger
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Debugger/Widget_Error_spec.js
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: Bug

#6702 feat: Recorder widget
  app/client/package.json
  app/client/src/assets/icons/widget/audio-recorder.svg
  app/client/src/assets/icons/widget/recorder/recorder_complete.svg
  app/client/src/assets/icons/widget/recorder/recorder_default.svg
  app/client/src/assets/icons/widget/recorder/recorder_no_permission.svg
  app/client/src/assets/icons/widget/recorder/recorder_pause.svg
  app/client/src/assets/icons/widget/recorder/recorder_recording.svg
  app/client/src/components/ads/ColorPickerComponent.tsx
  app/client/src/components/designSystems/appsmith/AudioRecorderComponent.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/HelpConstants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/mockResponses/WidgetSidebarResponse.tsx
  app/client/src/reducers/entityReducers/widgetConfigReducer.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/AudioRecorderWidget.tsx
  app/client/yarn.lock
Labels: UI Building Pod, new-contribution

#7188 feat: Updating render according to new json structure
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/sagas/FormEvaluationSaga.ts
Labels: Enhancement

#7157 fix: property pane
  app/client/cypress/locators/Widgets.json
  app/client/src/constants/Colors.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/widgets/ButtonWidget.tsx
  app/client/src/widgets/ChartWidget/propertyConfig.test.ts
  app/client/src/widgets/ChartWidget/propertyConfig.ts
  app/client/src/widgets/CheckboxGroupWidget.tsx
  app/client/src/widgets/CheckboxWidget.tsx
  app/client/src/widgets/DatePickerWidget.tsx
  app/client/src/widgets/DividerWidget.tsx
  app/client/src/widgets/DropdownWidget.tsx
  app/client/src/widgets/FilepickerWidgetV2.tsx
  app/client/src/widgets/IframeWidget.tsx
  app/client/src/widgets/ImageWidget.tsx
  app/client/src/widgets/InputWidget.tsx
  app/client/src/widgets/ListWidget/ListPropertyPaneConfig.ts
  app/client/src/widgets/MapWidget.tsx
  app/client/src/widgets/MenuButtonWidget.tsx
  app/client/src/widgets/ModalWidget.tsx
  app/client/src/widgets/MultiSelectWidget.tsx
  app/client/src/widgets/RadioGroupWidget.tsx
  app/client/src/widgets/RateWidget/index.tsx
  app/client/src/widgets/RichTextEditorWidget.tsx
  app/client/src/widgets/SwitchWidget.tsx
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/Tabs/TabsWidget.tsx
  app/client/src/widgets/TextWidget.tsx
  app/client/src/widgets/VideoWidget.tsx
  app/client/test/factories/Widgets/ImageFactory.ts
Labels: Bug, UI Building Pod

#7271 test: commenting dropdown_spec
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Dropdown_spec.js
Labels: skip-changelog, Test

#7272 fix: convert message to string if it is not in debugger
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
Labels: Bug

#7295 fix: Restore missing fields on appsmith.user object
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserProfileDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  deploy/fat_container/README.md
Labels: Bug

#7202 feat: API to connect application to git
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/GitController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitApplicationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitConnectDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement

#7311 fix: sniping checkbox will set the string not boolean
  app/client/src/sagas/SnipingModeSagas.ts
Labels: Bug

#7276 fix: add migration for removed table default selected row
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
Labels: Bug, UI Building Pod, new-contribution

#7082 feat: Add consumption of UQI UI templates
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PluginService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PluginServiceImpl.java
Labels: Enhancement

#7321 fix: Js editor view mode collections accessible to anonymous users
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
Labels: Bug

#7249 chore: Update snippet text and search params for debugger search menu
  app/client/src/components/editorComponents/ActionRightPane/Connections.tsx
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/Debugger/ContextualMenu.tsx
  app/client/src/components/editorComponents/Debugger/DebugCTA.tsx
  app/client/src/components/editorComponents/Debugger/DebuggerLogs.tsx
  app/client/src/components/editorComponents/Debugger/EntityDependecies.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/Debugger/hooks/debuggerHooks.ts
  app/client/src/components/editorComponents/Debugger/hooks/useGetEntityInfo.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/PropertyPane/PropertyPaneConnections.tsx
Labels: skip-changelog

#7273 fix: ui polish comments
  app/client/src/assets/icons/comments/commentCursor.svg
  app/client/src/assets/icons/comments/reaction-2.svg
  app/client/src/comments/AppComments/AppCommentsFilterPopover.tsx
  app/client/src/comments/AppComments/AppCommentsHeader.tsx
  app/client/src/comments/CommentCard/CommentContextMenu.tsx
  app/client/src/comments/CommentCard/ResolveCommentButton.tsx
  app/client/src/comments/inlineComments/InlineCommentPin.tsx
  app/client/src/comments/inlineComments/UnpublishedCommentThread.tsx
  app/client/src/components/ads/EmojiPicker.tsx
  app/client/src/components/ads/EmojiReactions.tsx
  app/client/src/constants/Colors.tsx
Labels: Bug

#7298 fix: Collab feedback fixes
  app/client/src/comments/AppComments/AppCommentThreads.tsx
  app/client/src/comments/CommentCard/CommentCard.tsx
  app/client/src/comments/CommentCard/ResolveCommentButton.tsx
  app/client/src/components/editorComponents/WidgetNameComponent/index.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/WidgetsMultiSelectBox.tsx
  app/client/src/pages/common/CanvasSelectionArena.tsx
  app/client/src/reducers/uiReducers/commentsReducer/commentsReducer.ts
  app/client/src/reducers/uiReducers/commentsReducer/handleDeleteCommentThreadEvent.ts
  app/client/src/reducers/uiReducers/commentsReducer/handleNewCommentThreadEvent.ts
  app/client/src/reducers/uiReducers/commentsReducer/handleUpdateCommentThreadEvent.ts
  app/client/src/reducers/uiReducers/commentsReducer/interfaces.ts
  app/client/src/selectors/commentsSelectors.ts
Labels: Bug

#7270 fix: text overflow issue
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
Labels: Bug, Frontend, Generate Page

#7290 fix: snippets UI
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/components/editorComponents/GlobalSearch/SearchResults.tsx
  app/client/src/components/editorComponents/GlobalSearch/SetSearchResults.tsx
  app/client/src/components/editorComponents/GlobalSearch/SnippetRefinements.tsx
  app/client/src/components/editorComponents/GlobalSearch/SnippetsDescription.tsx
  app/client/src/components/editorComponents/GlobalSearch/SnippetsFilter.tsx
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/sagas/ActionSagas.ts
Labels: Bug

#7089 feat: Improved onboarding flow on user signup
  app/client/src/actions/onboardingActions.ts
  app/client/src/actions/widgetSidebarActions.tsx
  app/client/src/components/editorComponents/Sidebar.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/constants/routes.ts
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/Explorer/index.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Checklist.test.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Checklist.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.test.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Tasks.test.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Tasks.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Utils.ts
  app/client/src/pages/Editor/FirstTimeUserOnboarding/testUtils.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/ActiveDataSources.tsx
  app/client/src/pages/Editor/MainContainer.tsx
  app/client/src/pages/Editor/WidgetSidebar.tsx
  app/client/src/pages/Editor/WidgetsEditor.tsx
  app/client/src/pages/Editor/utils.ts
  app/client/src/pages/common/ProfileDropdown.tsx
  app/client/src/reducers/uiReducers/onBoardingReducer.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/sagas/userSagas.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/selectors/onboardingSelectors.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/storage.ts
  coverage-summary.json
Labels: Enhancement

#7061 test: Added assertion for query data
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidgetTableAndBind_spec.js
  app/client/cypress/locators/QueryEditor.json
Labels: skip-changelog, Test

#7374 fix: Fixing the previous page pagination for Firestore
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
Labels: Bug

#7372 fix: Calling form eval init on form change
  app/client/src/pages/Editor/QueryEditor/index.tsx
Labels: Bug

#7377 fix: action error callback crashing worker
  app/client/src/sagas/ActionExecution/PromiseActionSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Bug

#7161 feat: Classify the error messages to validation or plugin errors
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/GetValuesMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/InfoMethod.java
Labels: skip-changelog

#7360 fix: Snippet execution changes
  app/client/src/components/editorComponents/GlobalSearch/SnippetsDescription.tsx
Labels: Bug

#7037 fix: New table widget migration to sanitize primaryColumn, columnOrder and binding paths
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/helpers.test.ts
  app/client/src/utils/helpers.tsx
  app/client/src/utils/migrations/TableWidget.test.ts
  app/client/src/utils/migrations/TableWidget.ts
Labels: UI Building Pod

#7323 fix: allow multiple draggable popper to co-exist
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/PropertyPane/Draggable_PropertyPane_Widgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/PropertyPane/Draggable_PropertyPane_spec.js
  app/client/src/pages/Editor/Popper.tsx
  app/client/src/pages/Editor/PropertyPane/index.tsx
  app/client/src/pages/Editor/utils.ts
Labels: Bug, UI Building Pod, hotfix

#7269 feat: Git connection
  app/client/src/actions/applicationActions.ts
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/ApplicationApi.tsx
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/assets/icons/ads/file-copy-line.svg
  app/client/src/assets/icons/ads/key-2-line.svg
  app/client/src/components/ads/Checkbox.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/BottomBar/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/gitSync/Deploy/Commit.tsx
  app/client/src/pages/Editor/gitSync/Deploy/Deploy.tsx
  app/client/src/pages/Editor/gitSync/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/components/BranchDropdown.tsx
  app/client/src/pages/Editor/gitSync/components/CreateNewBranchForm.tsx
  app/client/src/pages/Editor/gitSync/components/StyledComponents.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings/index.tsx
  app/client/src/pages/Editor/gitSync/constants.ts
  app/client/src/pages/Editor/gitSync/hooks.ts
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/index.tsx
  app/client/src/selectors/applicationSelectors.tsx
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Enhancement, Frontend, Platform, Version Control

#7303 fix: Set thread mode to comment mode when comments created
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/AbstractCommentDomain.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Comment.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/CommentThread.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CommentServiceImpl.java
Labels: Bug

#7373 fix: debug button message shown in query pane
  app/client/src/components/editorComponents/Debugger/DebuggerMessage.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug

#7402 fix: always assume onSuccess, onError, .then, .catch to be callbacks
  app/client/src/sagas/ActionExecution/PromiseActionSaga.ts
Labels: Bug

#7414 fix: Initial values extraction process from json
  app/client/src/components/formControls/utils.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Bug

#7397 feat: Smart Substitution for Google Sheets Plugin
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/setting.json
Labels: Enhancement

#7381 chore: check for anonymous user before fetching notifs
  app/client/src/pages/common/PageHeader.tsx
Labels: skip-changelog

#7376 feat: Enabled collab presence feature
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Enhancement

#7438 chore: remove debugger
  app/client/cypress/support/index.js
Labels: skip-changelog

#7439 fix: update on page load actions on action delete.
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Bug

#7420 fix: Show recent errors first in the debugger error tab
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Debugger/Widget_Error_spec.js
  app/client/src/components/editorComponents/Debugger/DebuggerTabs.tsx
  app/client/src/reducers/uiReducers/debuggerReducer.ts
Labels: Bug

#7388 feat: create js action default with js collection
  app/client/src/actions/jsActionActions.ts
  app/client/src/api/JSActionAPI.tsx
  app/client/src/sagas/JSActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
Labels: Enhancement

#6304 chore: fixed issue of height when focusing on API input box
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
Labels: skip-changelog, Stale

#7447 fix: Updated Template
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
Labels: Bug

#7446 test: fix/formWidgetSpec
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#7421 fix: Signposting and Welcome tour overlapping issue
  app/client/src/constants/routes.ts
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/selectors/onboardingSelectors.tsx
Labels: Bug

#7365 fix: Styling issues with the buttons on the platform
  app/client/src/components/designSystems/appsmith/BaseButton.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/widgets/FilePickerWidgetV2/component/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/constants.ts
  app/client/src/widgets/FilePickerWidgetV2/icon.svg
  app/client/src/widgets/FilePickerWidgetV2/index.ts
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/FilepickerWidget/component/index.tsx
  app/client/src/widgets/StatboxWidget/icon.svg
Labels: Bug, UI Building

#7469 chore: Minor changes for fixing some strings on the home page & action settings page
  app/client/src/constants/messages.ts
  app/client/src/pages/Applications/index.tsx
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/setting.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
Labels: skip-changelog

#7456 feat: minor bottom bar UI updates
  app/client/src/actions/gitSyncActions.ts
  app/client/src/assets/icons/ads/git-commit-line.svg
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/GitSync.ts
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/components/GitErrorPopup.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/selectors/debuggerSelectors.tsx
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Enhancement, skip-changelog

#7464 fix: copy paste new widget key generation
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Canvas/Unique_key.spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/pages/Editor/QueryEditor/Table.tsx
  app/client/src/utils/WidgetRegisterHelpers.tsx
  app/client/src/widgets/RateWidget/widget/index.tsx
Labels: Bug, UI Building Pod

#6476 fix: added container wrapper component to handle styles
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Text_new_feature_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/Container_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/PropertyPane/Draggable_PropertyPane_Widgets_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/components/designSystems/appsmith/WidgetStyleContainer.tsx
  app/client/src/utils/migrations/ContainerWidget.ts
  app/client/src/widgets/ContainerWidget/component/index.tsx
  app/client/src/widgets/ContainerWidget/index.ts
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/FormWidget/widget/index.tsx
  app/client/src/widgets/TextWidget/widget/index.tsx
Labels: UI Building Pod

#7386 fix: Quickly clicking do it for me button shows errors during onboarding
  app/client/src/components/editorComponents/Onboarding/Helper.tsx
  app/client/src/sagas/OnboardingSagas.ts
Labels: Bug

#7251 fix: Input widget as number type 0 as default value
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Input_spec.js
  app/client/src/widgets/InputWidget/widget/index.test.tsx
  app/client/src/widgets/InputWidget/widget/index.tsx
Labels: Bug, UI Building Pod, hotfix

#7244 fix: table row cell actions to get proper currentRow data
  app/client/src/widgets/TableWidget/widget/index.tsx
Labels: Bug, UI Building Pod

#7250 fix: add text type to check max char in input widget
  app/client/cypress/fixtures/inputMaxCharDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Input_MaxChar_spec.js
  app/client/src/widgets/InputWidget/widget/index.tsx
Labels: Bug, UI Building Pod, new-contribution

#7491 feat: init import app via git repo modal
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/ImportAppViaGitModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/hooks.ts
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Enhancement

#7530 fix: changing Scrolling into view from center to nearest
  app/client/src/utils/helpers.tsx
Labels: Bug, skip-changelog

#7517 fix: Add migrations for all google sheet actions to turn off smart substitution for existing actions
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Bug

#7524 chore: fix the checkbox widget icon
  app/client/src/widgets/CheckboxGroupWidget/icon.svg
  app/client/src/widgets/CheckboxWidget/icon.svg
Labels: skip-changelog

#7518 chore: Correct Select widget name in widget list
  app/client/src/widgets/DropdownWidget/index.ts
Labels: skip-changelog

#7529 chore: widget help links from the property pane
  app/client/src/pages/Editor/PropertyPaneHelpButton.tsx
Labels: skip-changelog

#7535 test: fixFlakyInputSpec
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Input_spec.js
Labels: skip-changelog, Test

#7342 fix: make the FormButtonWidget to have properties of ButtonWidget
  app/client/src/utils/DSLMigrations.ts
  app/client/src/widgets/FormButtonWidget/widget/index.tsx
  app/client/src/widgets/FormWidget/index.ts
Labels: UI Building Pod

#7525 test: Added test for public access test
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OrganisationTests/ShareAppTests_spec.js
Labels: skip-changelog, Test

#7542 fix: list widget cyclic dependency
  app/client/src/widgets/ListWidget/widget/derived.js
Labels: Bug, UI Building Pod, skip-changelog

#7551 test: fixing the Cypress test for input spec
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Input_spec.js
Labels: skip-changelog, Test

#7547 fix: flashElement scrolls canvas too much.
  app/client/src/pages/Editor/Explorer/Widgets/useNavigateToWidget.ts
  app/client/src/utils/helpers.tsx
  app/client/src/widgets/ContainerWidget/component/index.tsx
Labels: Bug, skip-changelog

#7552 fix: only run onFilterUpdate when it's defined
  app/client/src/widgets/MultiSelectWidget/widget/index.tsx
Labels: Bug, UI Building Pod, skip-changelog

#7472 fix: app crashes when editing table visibility
  app/client/src/components/editorComponents/CodeEditor/codeEditorUtils.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/propertyControls/ComputeTablePropertyControl.tsx
Labels: Bug, UI Building Pod, skip-changelog

#7502 fix: layout control not working
  app/client/src/pages/Editor/MainContainerLayoutControl.tsx
  app/client/src/pages/Editor/WidgetsEditor.tsx
  app/client/src/pages/common/ArtBoard.tsx
  app/client/src/pages/common/CanvasMultiPointerArena.tsx
Labels: Bug

#7268 fix: Transparent menu on MenuButton widget
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
Labels: Bug, UI Building Pod

#6987 fix: fix mysql prepared statement integer type handling
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
  app/server/appsmith-plugins/arangoDBPlugin/src/main/java/com/external/plugins/ArangoDBPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Bug

#6271 feat: Tree Select widget
  app/client/cypress/fixtures/TreeSelectDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Tree_Select_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Multi_Select_Tree_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Single_Select_Tree_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/cypress/locators/publishWidgetspage.json
  app/client/cypress/support/commands.js
  app/client/package.json
  app/client/src/assets/icons/widget/multi-tree-select.svg
  app/client/src/assets/icons/widget/single-tree-select.svg
  app/client/src/constants/HelpConstants.ts
  app/client/src/constants/WidgetValidation.ts
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/validation/common.ts
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/icon.svg
  app/client/src/widgets/MultiSelectTreeWidget/index.ts
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/icon.svg
  app/client/src/widgets/SingleSelectTreeWidget/index.ts
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/workers/validations.ts
  app/client/test/__mocks__/RealmExecutorMock.ts
  app/client/test/factories/Widgets/ContainerFactory.ts
  app/client/test/factories/Widgets/RadiogroupFactory.ts
  app/client/test/factories/Widgets/TextFactory.ts
  app/client/test/testMockedWidgets.tsx
  app/client/yarn.lock
Labels: Enhancement, UI Building Pod

#7504 chore: Misc welcome page minor issues
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/Landing.tsx
  app/client/src/pages/setup/SetupForm.tsx
  app/client/src/pages/setup/index.tsx
  app/client/src/utils/storage.ts
Labels: skip-changelog

#7287 feat: address few bug with linting and improve highlighting
  app/client/package.json
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/yarn.lock
Labels: Enhancement

#7538 feat: add git config to user profile settings
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/GitSync.ts
  app/client/src/pages/UserProfile/General.tsx
  app/client/src/pages/UserProfile/GitConfig.tsx
  app/client/src/pages/UserProfile/StyledComponents.tsx
  app/client/src/pages/UserProfile/index.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Enhancement

#7159 feat: add copy button to evaluated value
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
Labels: Enhancement

#7452 feat: set `modifiedBy` during create, clone, fork, import app
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationService.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Enhancement

#7424 fix: multiselect selectAll design
  app/client/src/widgets/MultiSelectWidget/component/index.styled.tsx
Labels: Bug, UI Building Pod

#7418 fix: multiselect loading state
  app/client/src/widgets/MultiSelectWidget/component/index.tsx
Labels: Bug, UI Building Pod

#7490 fix: on page load actions are disabled after fork app
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ApplicationForkingService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ExamplesOrganizationCloner.java
Labels: Bug

#7534 feat: JSON view for query & datasource form components
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/utils/FormControlFactory.tsx
Labels: Enhancement, Actions Pod, Actions, UQI

#7238 feat: Add UQI infrastructure to Mongo
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPluginUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Aggregate.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Count.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Delete.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Distinct.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Find.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Insert.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/MongoCommand.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/UpdateMany.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/UpdateOne.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/constants/ConfigurationIndex.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/constants/FieldName.java
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/dependency.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/aggregate.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/count.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/distinct.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/find.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/insert.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/raw.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/update.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-plugins/mongoPluginUqi/plugin.properties
  app/server/appsmith-plugins/mongoPluginUqi/pom.xml
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/MongoPluginUqi.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/MongoPluginUtils.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/commands/Aggregate.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/commands/Count.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/commands/Delete.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/commands/Distinct.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/commands/Find.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/commands/Insert.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/commands/MongoCommand.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/java/com/external/plugins/commands/UpdateMany.java
  app/server/appsmith-plugins/mongoPluginUqi/src/main/resources/dependency.json
  app/server/appsmith-plugins/mongoPluginUqi/src/main/resources/editor.json
  app/server/appsmith-plugins/mongoPluginUqi/src/main/resources/form.json
  app/server/appsmith-plugins/mongoPluginUqi/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPluginUqi/src/main/resources/templates/CREATE.json
  app/server/appsmith-plugins/mongoPluginUqi/src/main/resources/templates/DELETE.json
  app/server/appsmith-plugins/mongoPluginUqi/src/main/resources/templates/READ.json
  app/server/appsmith-plugins/mongoPluginUqi/src/main/resources/templates/UPDATE.json
  app/server/appsmith-plugins/mongoPluginUqi/src/main/resources/templates/meta.json
  app/server/appsmith-plugins/mongoPluginUqi/src/test/java/com/external/plugins/MongoPluginUqiTest.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Enhancement

#7486 feat: git sync ui update
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/ApplicationApi.tsx
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/gitSync/Deploy/Deploy.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/ImportAppViaGitModal.tsx
  app/client/src/pages/Editor/gitSync/Menu.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/Tabs/InitialState.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/BranchDropdown.tsx
  app/client/src/pages/Editor/gitSync/components/StyledComponents.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings/index.tsx
  app/client/src/pages/Editor/gitSync/constants.ts
  app/client/src/pages/Editor/gitSync/hooks.ts
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/applicationSelectors.tsx
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Enhancement

#7595 fix: Datasource structure command failure for Google Sheets
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
Labels: Bug

#7592 feat: Where condition helper library using H2 in memory database
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/ConditionalOperator.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Condition.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/FilterDataService.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/services/FilterDataServiceTest.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/utils/WhereConditionUtils.java
Labels: Enhancement

#7596 feat: Adding input type to BSON fields in Mongo Plugin
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/aggregate.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/count.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/distinct.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/find.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/insert.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/update.json
Labels: Enhancement

#7597 feat: Adding "where" clause support for Google Sheets Plugin
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Condition.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/GetValuesMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/MethodConfig.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor.json
Labels: Enhancement

#7562 chore: fixed alignment for import btn
  app/client/src/pages/Applications/ImportApplicationModal.tsx
Labels: skip-changelog

#7584 chore: minor styling fixes for debugger
  app/client/src/components/editorComponents/Debugger/ContextualMenu.tsx
  app/client/src/components/editorComponents/Debugger/DebugCTA.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/constants/DefaultTheme.tsx
Labels: skip-changelog

#7569 chore: Miscellaneous signposting issues fixes
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Checklist.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/testUtils.ts
  app/client/src/selectors/onboardingSelectors.tsx
Labels: skip-changelog

#7603 chore: Invite user to org form input tab issue
  app/client/src/components/ads/TagInputComponent.tsx
Labels: skip-changelog

#7611 ci: Add retries when getting page from GitBook
  app/client/gitbook-algolia-lambda.js
Labels: CI, skip-changelog

#7313 fix: radio group widget options
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: Bug, UI Building Pod

#7602 fix: Adding handling for columns with multiple words in name for filtering data in filtering library
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/FilterDataService.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/services/FilterDataServiceTest.java
Labels: Bug

#7521 fix: Hide generate page button in integration home screen for onboarding
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
Labels: Bug

#7434 feat: [Feature] Use photo asset id instead of email address for profile picture in comments
  app/client/src/comments/CommentCard/CommentCard.tsx
  app/client/src/constants/userConstants.ts
  app/client/src/entities/Comments/CommentsInterfaces.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Constraint.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/AssetController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Comment.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/events/UserPhotoChangedEvent.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomCommentRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomCommentRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AssetService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AssetServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CommentServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/OrganizationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserChangedHandler.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CommentServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/OrganizationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
Labels: Enhancement

#7613 chore: Fix unnecessary scrollbar in entity explorer during onboarding
  app/client/src/components/editorComponents/Sidebar.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
Labels: skip-changelog

#7467 fix: Widget Property Pane Updates
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/explorerlocators.json
  app/client/src/constants/Colors.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/Explorer/JSActions/JSActionGroup.tsx
  app/client/src/pages/Editor/Explorer/PluginGroup/PluginGroup.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetGroup.tsx
  app/client/src/pages/Editor/PropertyPane/index.tsx
  app/client/src/widgets/ButtonWidget/index.ts
  app/client/src/widgets/ButtonWidget/widget/index.tsx
  app/client/src/widgets/ChartWidget/index.ts
  app/client/src/widgets/ChartWidget/widget/propertyConfig.test.ts
  app/client/src/widgets/ChartWidget/widget/propertyConfig.ts
  app/client/src/widgets/CheckboxGroupWidget/index.ts
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/CheckboxWidget/widget/index.tsx
  app/client/src/widgets/ContainerWidget/index.ts
  app/client/src/widgets/DatePickerWidget/widget/index.tsx
  app/client/src/widgets/DividerWidget/widget/index.tsx
  app/client/src/widgets/DropdownWidget/index.ts
  app/client/src/widgets/DropdownWidget/widget/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/FormWidget/index.ts
  app/client/src/widgets/IframeWidget/index.ts
  app/client/src/widgets/IframeWidget/widget/index.tsx
  app/client/src/widgets/ImageWidget/index.ts
  app/client/src/widgets/ImageWidget/widget/index.tsx
  app/client/src/widgets/InputWidget/index.ts
  app/client/src/widgets/InputWidget/widget/index.tsx
  app/client/src/widgets/ListWidget/index.ts
  app/client/src/widgets/ListWidget/widget/propertyConfig.ts
  app/client/src/widgets/MapWidget/index.ts
  app/client/src/widgets/MapWidget/widget/index.tsx
  app/client/src/widgets/MenuButtonWidget/widget/index.tsx
  app/client/src/widgets/ModalWidget/index.ts
  app/client/src/widgets/ModalWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidget/index.ts
  app/client/src/widgets/MultiSelectWidget/widget/index.tsx
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/RateWidget/index.ts
  app/client/src/widgets/RateWidget/widget/index.tsx
  app/client/src/widgets/RichTextEditorWidget/index.ts
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
  app/client/src/widgets/SwitchWidget/index.ts
  app/client/src/widgets/SwitchWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/index.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TabsWidget/index.ts
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/TextWidget/widget/index.tsx
  app/client/src/widgets/VideoWidget/index.ts
  app/client/src/widgets/VideoWidget/widget/index.tsx
  app/client/test/factories/Widgets/ImageFactory.ts
Labels: Bug, UI Building Pod

#7455 fix: Switch to the debugger error tab when clicked on the debug button in toast
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Debugger/Widget_Error_spec.js
  app/client/src/actions/debuggerActions.ts
  app/client/src/components/ads/Toast.tsx
  app/client/src/components/editorComponents/Debugger/DebugCTA.tsx
  app/client/src/components/editorComponents/Debugger/DebuggerTabs.tsx
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/reducers/uiReducers/debuggerReducer.ts
  app/client/src/selectors/debuggerSelectors.tsx
Labels: Bug

#7637 fix: Default type of where conditions converted to array
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/MethodConfig.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor.json
Labels: Bug

#7505 fix: Reset widget children by default
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/workers/Actions.ts
Labels: Bug

#7477 fix: Currency input text overlap
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/widgets/InputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/InputWidget/component/ISDCodeDropdown.tsx
  app/client/src/widgets/InputWidget/component/index.tsx
Labels: Bug, UI Building Pod

#7631 fix: Property pane updates
  app/client/cypress/fixtures/TreeSelectDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Custom_Chart_spec.js
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/ChartWidget/widget/propertyConfig.ts
  app/client/src/widgets/MultiSelectTreeWidget/index.ts
  app/client/src/widgets/SingleSelectTreeWidget/index.ts
Labels: Bug

#7312 feat: resizable modal
  app/client/cypress/fixtures/example.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Chart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Button_onClickAction_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Dropdown_onOptionChange_spec.js
  app/client/cypress/support/commands.js
  app/client/src/actions/pageActions.tsx
  app/client/src/components/editorComponents/ResizeStyledComponents.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/resizable/index.tsx
  app/client/src/sagas/ModalSagas.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/ModalWidget.test.ts
  app/client/src/utils/migrations/ModalWidget.ts
  app/client/src/widgets/ModalWidget/component/index.tsx
  app/client/src/widgets/ModalWidget/index.ts
  app/client/src/widgets/ModalWidget/widget/index.tsx
Labels: Enhancement, UI Building Pod

#7385 ci: Add CI workflow for building fat container
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/setup-test.sh
Labels: CI, skip-changelog

#7572 fix: Rating widget crashing when put inside the list widget
  app/client/src/widgets/ListWidget/widget/index.tsx
Labels: Bug

#7125 fix: tabindex and a11y
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/DropdownWidget/component/index.tsx
Labels: UI Building Pod

#7574 fix: widget refactor actions fetch change
  app/client/cypress/fixtures/buttonApiDsl.json
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_Button_with_API_spec.js
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/JSActionSagas.ts
  app/client/src/sagas/PageSagas.tsx
Labels: Bug

#7465 fix: pushing and removing errors from debugger for js object
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug

#7659 Fix incorrect tag variable name
  .github/workflows/test-build-docker-image.yml
Labels: CI, skip-changelog

#7655 feat: Adding where clause for command Query range method for `Fetch sheet rows`
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor.json
Labels: Enhancement
