Repository appsmithorg/appsmith, pull requests merged in 2021-07, with the labels that each got.

#5478 moved table property pane config
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
Labels: new-contribution

#5409 FIX #5235: added text color js convertible support in text widget
  app/client/src/constants/WidgetValidation.ts
  app/client/src/widgets/TextWidget.tsx
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: UI Building Pod, new-contribution

#4891 Rate widget
  app/client/package.json
  app/client/src/assets/icons/widget/rating.svg
  app/client/src/components/designSystems/blueprint/RateComponent.tsx
  app/client/src/components/designSystems/blueprint/TextComponent.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/constants/FieldExpectedValue.ts
  app/client/src/constants/HelpConstants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/mockResponses/WidgetSidebarResponse.tsx
  app/client/src/reducers/entityReducers/widgetConfigReducer.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/RateWidget/index.tsx
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
  app/client/yarn.lock
Labels: New Widget, UI Building Pod, new-contribution

#5114 Fix-Input widget with text area expands over boundaries
  app/client/src/components/designSystems/blueprint/InputComponent.test.tsx
  app/client/src/components/designSystems/blueprint/InputComponent.tsx
Labels: UI Building Pod, new-contribution

#5496 Fix-Rename compact mode property in Table Widget to Row Height
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_spec.js
  app/client/cypress/locators/publishWidgetspage.json
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
Labels: new-contribution

#5555 Fix flaky debugger test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Debugger/Logs_spec.js
Labels: skip-changelog

#4916 FIX #4813 : display filter count and highlighted filter button
  app/client/src/components/designSystems/appsmith/TableComponent/TableAction.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableFilters.tsx
Labels: UI Building Pod, new-contribution

#5407 FIX #5287 : updated isLoading state when event action completed
  app/client/src/widgets/FilepickerWidget.tsx
Labels: UI Building Pod, new-contribution

#4778 FIX #4376 : update default config response to render proper data for …
  app/client/src/mockResponses/WidgetConfigResponse.tsx
Labels: UI Building Pod, new-contribution

#5488 fix: Add Appname to title
  app/client/src/pages/Editor/index.tsx
Labels: UI Building Pod, new-contribution

#5588 Feature/1726 iframe widget
  app/client/src/components/designSystems/blueprint/IframeComponent.tsx
Labels: UI Building Pod, new-contribution

#4822 FIX #4802 : Color picker inconsistency
  app/client/cypress/locators/Widgets.json
  app/client/src/components/ads/ColorPickerComponent.tsx
Labels: UI Building Pod, new-contribution

#5627 Bug/tablewidget image url spliting
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.tsx
Labels: new-contribution

#4744 FIX #1983 : Updated Css to move disabled button smoothly
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CheckBox_spec.js
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
Labels: UI Building Pod, new-contribution

#5504 FIX #5335 : updated custom charttype list
  app/client/src/constants/CustomChartConstants.ts
  app/client/src/workers/validations.test.ts
Labels: UI Building Pod, new-contribution

#5074 Feature/table multi select
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_MultiRowSelect_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/components/designSystems/appsmith/TableComponent/Table.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableStyledWrappers.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/index.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod, new-contribution

#5330 Add required option to Rich Text Editor for validations when used with Form widget
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/widgets/RichTextEditorWidget.tsx
Labels: UI Building Pod, new-contribution

#5607 Fix-Column definition get truncated when copying a table widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Copy_Paste_spec.js
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: UI Building Pod, new-contribution

#5284 Widget Grouping Context Menu
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetSelection/WidgetSelection_spec.js
  app/client/src/assets/icons/control/copy2.svg
  app/client/src/assets/icons/control/cut.svg
  app/client/src/assets/icons/control/group.svg
  app/client/src/components/designSystems/appsmith/ContainerComponent.tsx
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/components/editorComponents/ResizeStyledComponents.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/Layers.tsx
  app/client/src/icons/ControlIcons.tsx
  app/client/src/pages/Editor/WidgetsMultiSelectBox.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/selectors.tsx
  app/client/src/utils/hooks/useClickOpenPropPane.tsx
  app/client/src/widgets/ContainerWidget.tsx
  app/client/src/widgets/ListWidget/ListComponent.tsx
  app/client/src/widgets/ListWidget/ListWidget.tsx
Labels: QA

#5493 CI with AWS CodeBuild
  ci/1-client-scripts/3-build.sh
  ci/1-client-unit-tests.yml
  ci/1-server-scripts/1-install.sh
  ci/1-server-scripts/3-build.sh
  ci/1-server-unit-tests.yml
  ci/2-cypress.yml
  ci/2-scripts/1-install.sh
  ci/2-scripts/3-build.sh
  ci/3-publish.yml
  ci/3-scripts/3-build.sh
  ci/buildspec.yml
  ci/common/cleanup.sh
  ci/common/extra-env.sh
  ci/common/upload-logs.sh
Labels: CI, skip-changelog

#5638 Support for Google reCaptcha v2 in Button Widget
  app/client/package.json
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/widgets/ButtonWidget.tsx
  app/client/src/widgets/FormButtonWidget.tsx
  app/client/yarn.lock
Labels: UI Building Pod, new-contribution

#5717 Add Cloud Service end point to external-client-tests.yml
  .github/workflows/external-client-test.yml
Labels: skip-changelog

#5731 Fix: Minor fix adding try/catch around debugger analytics saga
  app/client/src/sagas/DebuggerSagas.ts
Labels: skip-changelog

#5696 Change the default object fit property of image widget to `contain`
  app/client/src/components/designSystems/appsmith/ImageComponent.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/widgets/ImageWidget.tsx
Labels: new-contribution

#5744 Adds YT Setup Videos to Docs
  app/client/README.md
  app/server/README.md
  contributions/ClientSetup.md
  contributions/ServerSetup.md
  static/images/client-yt-video-thumbnail.jpg
  static/images/server-yt-video-thumbnail.jpg
Labels: skip-changelog

#5331 FIX #4676 : added onclick handler and update property pane config to table widget for column type image
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_spec.js
  app/client/cypress/support/commands.js
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.test.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.tsx
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod, new-contribution

#5598 Adding support for cypress tests for server changes
  .github/workflows/client-test.yml
Labels: skip-changelog

#5334 Menu button widget
  app/client/src/assets/icons/control/align_left.svg
  app/client/src/assets/icons/control/align_right.svg
  app/client/src/assets/icons/widget/menu-button.svg
  app/client/src/assets/icons/widget/menu.svg
  app/client/src/components/designSystems/appsmith/MenuButtonComponent/index.tsx
  app/client/src/components/propertyControls/IconAlignControl.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/components/propertyControls/MenuItemsControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/constants/FieldExpectedValue.ts
  app/client/src/constants/HelpConstants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/icons/ControlIcons.tsx
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/mockResponses/WidgetSidebarResponse.tsx
  app/client/src/reducers/entityReducers/widgetConfigReducer.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/MenuButtonWidget.tsx
Labels: UI Building Pod, new-contribution

#5846 Wait for server to start before Cypress tests
  .github/workflows/client-test.yml
  app/client/cypress/setup-test.sh
Labels: skip-changelog

#5837 Fix OAuth endpoint prefix
  deploy/k8s/scripts/appsmith-ingress.yaml.sh
Labels: skip-changelog

#5575 Task/5463 Navigation Bar menu Dropdown
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/UpdateApplication_spec.js
  app/client/cypress/locators/HomePage.json
  app/client/cypress/support/commands.js
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/EditableTextSubComponent.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/index.css
  app/client/src/pages/Editor/EditorAppName/EditableAppName.tsx
  app/client/src/pages/Editor/EditorAppName/NavigationMenu.tsx
  app/client/src/pages/Editor/EditorAppName/NavigationMenuData.ts
  app/client/src/pages/Editor/EditorAppName/NavigationMenuItem.tsx
  app/client/src/pages/Editor/EditorAppName/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/ToggleModeButton.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: UI Building Pod

#5883 [Fix test] Fix globalsearch test: wait for page load
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GlobalSearch/GlobalSearch_spec.js
Labels: skip-changelog

#5049 Currency datatype in Input Widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Input_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/designSystems/appsmith/SearchComponent.tsx
  app/client/src/components/designSystems/blueprint/InputComponent.test.tsx
  app/client/src/components/designSystems/blueprint/InputComponent.tsx
  app/client/src/components/propertyControls/DropDownControl.tsx
  app/client/src/constants/Currency.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/pages/Editor/GlobalHotKeys.test.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/InputWidget.tsx
Labels: UI Building Pod, new-contribution

#5894 Fix: Minor change in initial height for bottom tabs in action screen
  app/client/src/constants/DefaultTheme.tsx
Labels: skip-changelog

#5393 datepicker 2 migration 27 added, default response udpated
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
Labels: UI Building Pod, new-contribution

#5903 Update comments onboarding tour
  app/client/src/actions/orgActions.ts
  app/client/src/api/OrgApi.ts
  app/client/src/assets/icons/comments/commentCursor.png
  app/client/src/assets/icons/comments/commentCursor.svg
  app/client/src/comments/CommentCard/CommentCard.tsx
  app/client/src/comments/CommentThread/CommentThread.tsx
  app/client/src/comments/CommentsShowcaseCarousel/index.tsx
  app/client/src/comments/inlineComments/AddCommentInput.tsx
  app/client/src/comments/inlineComments/OverlayCommentsWrapper.tsx
  app/client/src/comments/inlineComments/useOrgUsers.tsx
  app/client/src/comments/tour/AddCommentTourComponent.tsx
  app/client/src/comments/tour/commentsTourSteps.ts
  app/client/src/components/ads/tour/TourTooltipWrapper.tsx
  app/client/src/constants/TourSteps.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/Comments/CommentsInterfaces.ts
  app/client/src/entities/Tour/index.ts
  app/client/src/notifications/NotificationListItem.tsx
  app/client/src/notifications/NotificationsList.tsx
  app/client/src/pages/Editor/ToggleModeButton.tsx
  app/client/src/reducers/uiReducers/commentsReducer/handleNewCommentThreadEvent.ts
  app/client/src/sagas/OrgSagas.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/utils/hooks/useOrg.tsx
  app/client/src/utils/hooks/useProceedToNextTourStep.tsx
  app/client/src/widgets/BaseWidget.tsx
Labels: skip-changelog

#5907 Bug - Set Suggested widgets before processing data types
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/NewActionServiceImpl.java
Labels: skip-changelog

#4167 BUG-4058 : Inconsistence in the meta properties fallbacks in widgets
  app/client/src/components/ads/DatePickerComponent.tsx
  app/client/src/components/designSystems/blueprint/DatePickerComponent.tsx
  app/client/src/components/designSystems/blueprint/DatePickerComponent2.tsx
  app/client/src/components/propertyControls/DatePickerControl.tsx
  app/client/src/widgets/DatePickerWidget2.tsx
Labels: UI Building Pod, new-contribution

#4475 fix: update JS options
  app/client/src/widgets/ButtonWidget.tsx
  app/client/src/widgets/ContainerWidget.tsx
  app/client/src/widgets/FormWidget.tsx
  app/client/src/widgets/TextWidget.tsx
Labels: UI Building Pod, new-contribution

#5888 Update font-size in Readme how-it-works image
  README.md
  static/how-it-works.svg
Labels: skip-changelog

#5950 Locking mongo Docker container to 4.4.6
  app/server/docker-compose.yml
  deploy/ansible/appsmith_playbook/roles/generate_template/templates/docker-compose.j2
  deploy/k8s/templates/mongo-template.yaml
  deploy/template/docker-compose.yml.sh
Labels: skip-changelog

#5952 Fix checkbox spec Cypress test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CheckBox_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Form_With_CheckBox_spec.js
Labels: skip-changelog

#5904 Fixes related to the comments feature
  app/client/src/comments/CommentCard/CommentCard.tsx
  app/client/src/comments/CommentsShowcaseCarousel/index.tsx
  app/client/src/comments/inlineComments/AddCommentInput.tsx
  app/client/src/comments/inlineComments/InlineCommentPin.tsx
  app/client/src/comments/inlineComments/UnpublishedCommentThread.tsx
  app/client/src/comments/inlineComments/useOrgUsers.tsx
  app/client/src/comments/tests/Comments.test.tsx
  app/client/src/comments/utils.ts
  app/client/src/components/ads/MentionsInput.tsx
  app/client/src/components/ads/tour/TourTooltipWrapper.tsx
  app/client/src/configs/index.ts
  app/client/src/configs/types.ts
  app/client/src/constants/Layers.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/Comments/CommentsInterfaces.ts
  app/client/src/globalStyles/portals.ts
  app/client/src/mockResponses/CommentApiMockResponse.tsx
  app/client/src/pages/organization/AppInviteUsersForm.tsx
  app/client/src/reducers/uiReducers/commentsReducer/testFixtures.ts
  app/client/src/sagas/CommentSagas/index.ts
  app/client/src/selectors/commentsSelectors.ts
  app/client/src/utils/helpers.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/CommentThread.java
Labels: skip-changelog

#5594 [perf] Update redux store with only the values that changed
  app/client/src/reducers/evaluationReducers/treeReducer.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
  app/client/yarn.lock
Labels: UI Building Pod

#5876 [perf] Prevent property pane title from re-rendering on every state change
  app/client/src/pages/Editor/PropertyPane/index.tsx
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
Labels: UI Building Pod, UI Performance

#5955 Added nohup, debugging info and missing env vari
  .github/workflows/client-test.yml
Labels: skip-changelog

#5978 Removing non-required fields from Heroku deployment.
  app.json
Labels: skip-changelog

#5909 Fix: Fix horizontal scroll on overflow in property pane
  app/client/src/pages/Editor/PropertyPane/index.tsx
Labels: skip-changelog

#5901 Replaced docker image with local server
  .github/workflows/external-client-test.yml
Labels: skip-changelog

#5931 fix when component update
  app/client/src/components/designSystems/appsmith/ChartComponent.tsx
Labels: UI Building Pod, new-contribution

#5587 Bug/mustache binding extra space
  app/client/cypress/fixtures/tableNewDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_PropertyPane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Derived_Column_Computed_value_spec.js
  app/client/src/comments/dsl.json
  app/client/src/components/designSystems/appsmith/TableComponent/TableHelpers.test.ts
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.tsx
  app/client/src/components/propertyControls/ComputeTablePropertyControl.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/reducers/uiReducers/pageWidgetsReducer.test.ts
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidget/TableWidgetConstants.ts
  app/client/src/widgets/TableWidget/derived.js
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application.json
Labels: UI Building Pod, new-contribution

#5951 handle image download error
  app/client/src/components/designSystems/appsmith/ImageComponent.tsx
Labels: UI Building Pod, new-contribution

#5276 FIX #3229 : added new props shortcuts and closeOnSelection for smooth interactions
  app/client/cypress/fixtures/datePicker2dsl.json
  app/client/src/components/designSystems/appsmith/TableComponent/CascadeFields.tsx
  app/client/src/components/designSystems/blueprint/DatePickerComponent2.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/widgets/DatePickerWidget2.tsx
Labels: UI Building Pod, new-contribution

#5885 [Perf] prevent un-necessry re-renders of resizable Component on property control keyPress
  app/client/package.json
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/widgets/MetaHOC.tsx
  app/client/yarn.lock
Labels: UI Building Pod, UI Performance

#6094 [Hotfix] Add stack trace to redshift failures
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/plugins/RedshiftPlugin.java
Labels: skip-changelog

#5991 Fix-Keep date picker open when selecting time, month, year in Table widget filters
  app/client/src/components/designSystems/appsmith/TableComponent/CascadeFields.tsx
  app/client/src/components/designSystems/blueprint/DatePickerComponent2.tsx
  app/client/src/widgets/TableWidget/derived.js
Labels: UI Building Pod, new-contribution

#5926 Feature flags on the server
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/FeatureFlagConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/UserController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/strategies/AppsmithUserStrategy.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/FeatureFlagService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/FeatureFlagServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserService.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/FeatureFlagServiceTest.java
  app/server/appsmith-server/src/test/resources/features/init-flags-test.yml
Labels: skip-changelog

#6137 Added new labels for automated tagging
  .github/config.json
Labels: skip-changelog

#6001 fix for "does not contain" filter for TableWidget
  app/client/src/widgets/TableWidget/derived.js
Labels: UI Building Pod

#6130 changed texts on datasources page
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
Labels: skip-changelog

#6197 Add intercom app id during client build for the github-release workflow
  .github/workflows/github-release.yml
Labels: skip-changelog

#6204 Add deployment options on Readme
  README.md
Labels: skip-changelog

#6198 Add analytics event for self-hosted instances
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AnalyticsService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ReleaseNotesService.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#6234 Fix JS error message showing call stack in firefox
  app/client/src/workers/evaluate.ts
Labels: skip-changelog

#6223 Fix - #6221 new nav analytics improvements
  app/client/src/pages/Editor/IntegrationEditor/MockDataSources.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/pages/Editor/PropertyPane/ConnectDataCTA.tsx
  app/client/src/pages/Editor/PropertyPane/index.tsx
Labels: skip-changelog

#6233 Add missed new nav analytics for connections
  app/client/src/components/editorComponents/ActionRightPane/Connections.tsx
  app/client/src/components/editorComponents/Debugger/EntityDependecies.tsx
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/components/editorComponents/Debugger/hooks.ts
  app/client/src/pages/Editor/PropertyPane/PropertyPaneConnections.tsx
Labels: skip-changelog

#6190 [Fix] Small UI improvements to suggested widgets section
  app/client/src/components/editorComponents/ActionRightPane/Connections.tsx
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
Labels: skip-changelog

#5897 make the iframe widget message property accessible
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/IframeWidget.tsx
Labels: UI Building Pod, new-contribution

#6203 Disable tern in view mode
  app/client/src/sagas/EvaluationsSaga.ts
Labels: UI Building Pod

#6273 Fix add widget test by mocking the response
  app/client/cypress/fixtures/addWidgetTable-mock.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidgetTableAndBind_spec.js
Labels: skip-changelog
