Repository appsmithorg/appsmith, pull requests merged in 2021-01, with the labels that each got.

#1841 Sub tree evaluation
  app/client/.eslintrc.json
  app/client/cypress/fixtures/newFormDsl.json
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Smoke_TestSuite/Binding/Binding_Table_Widget_DefaultSearch_Input_widget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/OrganisationTests/CreateAppWithSameName_spec.js
  app/client/cypress/integration/Smoke_TestSuite/OrganisationTests/CreateDuplicateAppWithinOrg_spec.js
  app/client/cypress/integration/Smoke_TestSuite/OrganisationTests/CreateOrgTests_spec.js
  app/client/cypress/manual_TestSuite/Deletion _of_Duplicate_App.js
  app/client/cypress/manual_TestSuite/Duplicate_App.js
  app/client/cypress/manual_TestSuite/Duplicate_App_Spec.js
  app/client/cypress/manual_TestSuite/Organisation_Name.js
  app/client/cypress/manual_TestSuite/Organisation_Name_Spec.js
  app/client/cypress/manual_TestSuite/Reusing_Name_of_Deleted_App.js
  app/client/cypress/manual_TestSuite/Spl_Chracter_Org_Name.js
  app/client/cypress/support/commands.js
  app/client/package.json
  app/client/src/api/ActionAPI.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.tsx
  app/client/src/reducers/evaluationReducers/dependencyReducer.ts
  app/client/src/reducers/evaluationReducers/treeReducer.ts
  app/client/src/sagas/ActionExecutionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/index.tsx
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/utils/DynamicBindingsUtil.test.ts
  app/client/src/utils/PerformanceTracker.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ImageWidget.test.tsx
  app/client/src/widgets/InputWidget.tsx
  app/client/src/widgets/MetaHOC.tsx
  app/client/src/widgets/TabsWidget.tsx
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
  app/client/src/workers/validations.ts
  app/client/yarn.lock
Labels: Enhancement, Performance

#2319 Feature: Run Button integration
  app/client/src/pages/Editor/APIEditor/Form.tsx
Labels: API pane, Actions Pod, Frontend

#2318 Feature: Editable API name
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/EditableTextWrapper.tsx
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
Labels: API pane, Actions Pod, Frontend

#2365 Feature: More actionable Menu
  app/client/src/components/ads/TreeDropdown.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Editor/APIEditor/Form.tsx
  app/client/src/pages/Editor/Explorer/Actions/MoreActionsMenu.tsx
Labels: API pane, Actions Pod, Frontend

#2397 Feature: Url search component
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
Labels: API pane, Frontend

#2369 Feature: API Request dropdown
  app/client/src/components/designSystems/appsmith/Dropdown.tsx
  app/client/src/components/editorComponents/form/fields/DropdownFieldWrapper.tsx
  app/client/src/components/editorComponents/form/fields/RequestDropdownField.tsx
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/pages/Editor/APIEditor/Form.tsx
Labels: API pane, Actions Pod, Frontend

#2443 Fix invalid toast message for evaluation error
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/sagas/ActionExecutionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
Labels: Bug

#2454 Update axios package
  app/client/package.json
  app/client/yarn.lock
Labels: Dependencies

#2423 [Fix] - Authentication after 404 not redirecting back to the original page
  app/client/src/api/Api.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/UserAuth/ThirdPartyAuth.tsx
  app/client/src/pages/common/ErrorPageHeader.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/PageNotFound.tsx
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/InitSagas.ts
Labels: Bug

#2475 Fix - 502 in save layout is abruptly taking me to an error screen
  app/client/src/api/Api.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/reducers/uiReducers/editorReducer.tsx
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/PageSagas.tsx
  app/client/src/sagas/userSagas.tsx
  app/client/src/selectors/editorSelectors.tsx
Labels: Bug

#2200 Include version information when building Docker images for server and client
  .github/workflows/client.yml
  .github/workflows/github-release.yml
  .github/workflows/server.yml
  .github/workflows/sync-community-repo.yml
  app/client/craco.build.config.js
  app/server/.gitignore
  app/server/Dockerfile
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/AuthenticationSuccessHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CloudServicesConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ProjectProperties.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/UserController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserHomepageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomUserDataRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomUserDataRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomUserRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomUserRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/UserDataRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConfigService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConfigServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/MarketplaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ApplicationFetcher.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTask.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ReleaseNotesService.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ReleaseNotesServiceTest.java
Labels: Backend, Enhancement, Frontend

#2635 Never show the redux action type in toast errors
  app/client/src/constants/errors.ts
  app/client/src/constants/messages.ts
  app/client/src/sagas/ErrorSagas.tsx
Labels: Bug

#2679 Remove functions from Eval Action bindings task returning from the worker
  app/client/src/workers/evaluation.worker.ts
Labels: Bug

#2216 Fix: App name UI in edit and deploy mode
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/EditableTextWrapper.tsx
  app/client/src/pages/AppViewer/viewer/AppViewerHeader.tsx
Labels: Bug

#2718 Fix reference type fields in Firestore throwing 500
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
Labels: Bug, firestore
