Repository appsmithorg/appsmith, pull requests merged in 2021-10, with the labels that each got.

#8040 fix: missing where key in plugin specified templates
  app/client/src/pages/Editor/SaaSEditor/ActionForm.tsx
Labels: Bug

#7963 ci: Build ARM and AMD Docker images in CI
  .github/workflows/github-release.yml
  .github/workflows/test-build-docker-image.yml
Labels: CI, skip-changelog

#8020 fix: snippets ranking
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/sagas/ActionSagas.ts
Labels: Bug

#7977 fix: slash command auto open
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug

#7962 fix: Refactor collection API
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionCollectionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/RefactorActionNameDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/RefactorActionNameInCollectionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ActionCollectionService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutCollectionService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutCollectionServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Bug

#8003 fix: Cyclic dependency not resolving in JS Editor
  app/client/src/workers/evaluation.worker.ts
Labels: Bug

#7964 fix: Refactor now uses FQN when available
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
Labels: Bug

#7579 fix: Update success asset urls for generate page
  app/client/src/comments/CommentsShowcaseCarousel/index.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/pages/Editor/GeneratePage/components/CrudInfoModal.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Assets.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Resources.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/CreateDBTablePageSolution.java
Labels: Bug, Stale

#7961 fix: added auto focus for number input
  app/client/src/widgets/InputWidget/component/index.tsx
Labels: Bug, UI Building Pod

#7792 fix: Single binding sql query causing prepared statement issue
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluationSubstitution.test.ts
  app/client/src/workers/evaluationSubstitution.ts
Labels: Bug

#7693 fix: skip bot comment when user skips comments tour
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Comments/AddComments_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Comments/utils.js
  app/client/cypress/locators/SignupPage.json
  app/client/cypress/support/commands.js
  app/client/src/actions/userActions.ts
  app/client/src/api/UserApi.tsx
  app/client/src/comments/CommentCard/CommentCard.tsx
  app/client/src/comments/CommentsShowcaseCarousel/index.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/userConstants.ts
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
  app/client/src/pages/Editor/ToggleModeButton.tsx
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/sagas/userSagas.tsx
  app/client/src/utils/storage.ts
Labels: Bug

#7837 refactor: client side rts
  app/client/src/actions/appCollabActions.ts
  app/client/src/actions/websocketActions.ts
  app/client/src/constants/AppCollabConstants.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/WebsocketConstants.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/RealtimeAppEditors.tsx
  app/client/src/pages/common/CanvasMultiPointerArena.tsx
  app/client/src/reducers/index.tsx
  app/client/src/reducers/uiReducers/appCollabReducer.ts
  app/client/src/reducers/uiReducers/websocketReducer.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/WebsocketSagas/WebsocketSagas.ts
  app/client/src/sagas/WebsocketSagas/handleAppLevelSocketEvents.ts
  app/client/src/sagas/WebsocketSagas/handlePageLevelSocketEvents.ts
  app/client/src/sagas/WebsocketSagas/socketEvents.ts
  app/client/src/sagas/userSagas.tsx
  app/client/src/selectors/websocketSelectors.ts
Labels: Refactor

#8086 fix: js action parsing error resolution
  app/client/src/workers/evaluate.ts
Labels: Bug

#7975 feat: added API to get unread comment thread count in an application
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/CommentController.java
Labels: Enhancement

#8043 fix: update user names in notifications when users update their name
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomCommentRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNotificationRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNotificationRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserChangedHandler.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomNotificationRepositoryImplTest.java
Labels: Bug

#7902 fix: Effect the telemetry choice in welcome page
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/NetworkUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AnalyticsService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTask.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserSignup.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/UserSignupTest.java
Labels: Bug

#7343 feat: Implement Appsmith helm chart
  deploy/helm/.helmignore
  deploy/helm/Chart.lock
  deploy/helm/Chart.yaml
  deploy/helm/README.md
  deploy/helm/Setup-https.md
  deploy/helm/charts/common-0.3.1.tgz
  deploy/helm/images/helm-ssl-config.png
  deploy/helm/templates/NOTES.txt
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/autoupdate.yaml
  deploy/helm/templates/deployment.yaml
  deploy/helm/templates/ingress.yaml
  deploy/helm/templates/namespace.yaml
  deploy/helm/templates/persistentVolume.yaml
  deploy/helm/templates/persistentVolumeClaim.yaml
  deploy/helm/templates/service.yaml
  deploy/helm/templates/serviceaccount.yaml
  deploy/helm/templates/storageClass.yaml
  deploy/helm/templates/tls-secret.yaml
  deploy/helm/values.yaml
Labels: Stale

#8113 ci: Use separate Segment Key for release
  .github/workflows/test-build-docker-image.yml
Labels: CI, skip-changelog

#7967 fix: Don't include the deleted page in applicationPages for export application flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationService.java
Labels: Bug

#8130 feat: added event for online page editors
  app/rts/src/server.ts
Labels: Enhancement

#7931 chore: Do not show initialLocation in an error state when field is blank
  app/client/src/widgets/MapWidget/widget/index.tsx
Labels: skip-changelog

#7993 fix: Fixes scenario where renaming actions was clearing debugger errors.
  app/client/src/reducers/uiReducers/debuggerReducer.ts
Labels: Bug

#8072 fix: Fixes scenario where onboarding was trying to create an app in an organisation with view access
  app/client/src/pages/Applications/index.tsx
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/selectors/onboardingSelectors.tsx
Labels: Bug

#8139 docs: Update tutorials link on readme
  README.md
Labels: skip-changelog

#7736 feat: remove linting feature flag
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/entities/FeatureFlag.ts
  app/client/src/sagas/PostEvaluationSagas.ts
Labels: Enhancement

#7790 fix: added max width to the switch control
  app/client/src/components/formControls/SwitchControl.tsx
Labels: Bug, Stale

#8099 chore: updated test cases for export app flow
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ExportApplication_spec.js
Labels: skip-changelog

#8079 chore: Update TCs to check fork app is possible for user with VIEW permission
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: skip-changelog

#8080 feat: callouts for wip features
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Canvas/Unique_key.spec.js
  app/client/src/actions/appCollabActions.ts
  app/client/src/comments/ConcurrentPageEditorToast.tsx
  app/client/src/components/ads/Toast.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/constants/Layers.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/BottomBar/index.tsx
  app/client/src/pages/Editor/MainContainer.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/RealtimeAppEditors.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/pages/Editor/utils.ts
  app/client/src/reducers/uiReducers/appCollabReducer.ts
  app/client/src/sagas/WebsocketSagas/handleAppLevelSocketEvents.ts
  app/client/src/sagas/WebsocketSagas/handlePageLevelSocketEvents.ts
  app/client/src/sagas/WebsocketSagas/socketEvents.ts
  app/client/src/selectors/appCollabSelectors.tsx
  app/client/src/utils/storage.ts
Labels: Enhancement, hotfix

#8019 fix: Added checks to ensure that the configs are valid before starting eval
  app/client/src/sagas/FormEvaluationSaga.ts
Labels: Bug, skip-changelog

#8150 fix: for in sentry bug
  app/client/src/entities/Action/actionProperties.ts
Labels: Bug

#8153 fix: Preventing evaluations reset on page change unless it is the first load
  app/client/src/reducers/evaluationReducers/formEvaluationReducer.ts
  app/client/src/sagas/FormEvaluationSaga.ts
Labels: Bug

#8022 fix: small fixes js editor
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/DataTree/dataTreeJSAction.ts
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/autocomplete/dataTreeTypeDefCreator.ts
Labels: Bug

#7928 fix: Add window object methods and properties as invalid entity name
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_Unique_name_spec.js
  app/client/src/constants/WidgetValidation.ts
  app/client/src/utils/helpers.tsx
Labels: Bug

#8176 chore: anonymised user id for CE
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug, skip-changelog

#8178 fix: Hardcoded version name removed
  app/client/src/pages/Applications/index.tsx
Labels: Bug, skip-changelog

#8162 fix: send list of users to others when someone leaves the page edit
  app/client/src/actions/appCollabActions.ts
  app/client/src/comments/ConcurrentPageEditorToast.tsx
  app/client/src/pages/Editor/index.tsx
  app/rts/src/server.ts
Labels: Bug, skip-changelog

#8175 fix: update spacings and debugger error badge padding/font-size
  app/client/src/comments/ConcurrentPageEditorToast.tsx
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
Labels: Bug

#8182 fix: Appsmith design system style fixes
  app/client/src/comments/ConcurrentPageEditorToast.tsx
  app/client/src/components/ads/DialogComponent.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/designSystems/appsmith/help/DocumentationSearch.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/components/editorComponents/Onboarding/EndTour.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/JSDependencies.tsx
  app/client/src/pages/Editor/HelpButton.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
Labels: Bug, skip-changelog

#8186 chore: appsmith->Appsmith
  app/client/src/constants/messages.ts
Labels: skip-changelog

#7922 chore: Update TC to include Smart Substitution and prepared statement check for generate page
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
Labels: skip-changelog

#8202 chore: fixing select query for postgres
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/templates/SELECT.sql
Labels: skip-changelog

#8198 test: Updated flaky test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_InputWidget_Table_Sorting_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Query_Datasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CheckboxGroup_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Radio_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_CopyQuery_RenameDatasource_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#8187 fix: Don't run test build docker for external PRs
  .github/workflows/external-client-test.yml
  .github/workflows/test-build-docker-image.yml
Labels: Bug

#7638 feat: Trigger linting
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluationUtils.ts
  app/client/src/workers/lint.ts
Labels: Enhancement

#8213 docs: update header image
  README.md
  static/git-banner-new.png
  static/git-banner.png
Labels: skip-changelog

#8194 fix: Bug in evaluated value for falsy value checks
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
Labels: Bug

#8166 chore: change welcome page telemetry label
  app/client/src/constants/messages.ts
  app/client/src/pages/setup/DataCollectionForm.tsx
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/NewsletterForm.tsx
Labels: skip-changelog

#8205 chore: show canvas when user selects widgets tab during signposting flow
  app/client/src/components/editorComponents/Sidebar.tsx
Labels: skip-changelog

#8195 fix: added errors to debugger
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug

#8183 fix: improve dropdown component
  app/client/cypress/locators/apiWidgetslocator.json
  app/client/src/components/editorComponents/DropdownComponent.tsx
  app/client/src/components/editorComponents/form/fields/DynamicDropdownField.tsx
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/pages/Editor/APIEditor/PostBodyData.tsx
  app/client/src/transformers/RestActionTransformer.ts
  app/client/src/transformers/RestActionTransformers.test.ts
Labels: Bug

#8666 fix: rename no item to no results in select components
  app/client/cypress/fixtures/SelectDslWithEmptyOptions.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Select_TreeSelect_MultiSelect_Empty_spec.js
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
Labels: UI Building Pod
