Repository appsmithorg/appsmith, pull requests merged in 2021-05, with the labels that each got.

#4214 Fix cyclic dependency making the table widget crash the app. #4209
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building, Widgets

#4484 Updating release-drafter to add skip-changelog PR
  .github/release-drafter-template.yml
Labels: skip-changelog

#3910 Adding test ideas for Text Widget
  app/client/cypress/manual_TestSuite/Text_Widget_Spec.js
Labels: skip-changelog

#4090 Test ideas for List Widget
  app/client/cypress/manual_TestSuite/List_Widget_Spec.js
Labels: skip-changelog

#4578 Fix: Mongo datasource and query Cypress test
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MongoDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/MongoDatasource_spec.js
Labels: skip-changelog

#4446 Use the Function constructor for user script eval
  app/client/src/workers/evaluate.ts
Labels: Enhancement

#4644 Assume tokens without expiry have always expired
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuth2.java
Labels: Datasources

#4697 [FIX] Added environment parameter to the bug report template
  .github/ISSUE_TEMPLATE/---bug-report.md
Labels: new-contribution

#4414 [FIX] Update Dropdown Widget default value placeholder
  app/client/src/widgets/DropdownWidget.tsx
Labels: new-contribution

#4678 Added optional audience and resource fields for oauth2 datasources
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/Authentication.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuth2.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2AuthorizationCode.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2ClientCredentials.java
  app/server/appsmith-plugins/restApiPlugin/src/main/resources/form.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/AuthenticationService.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesOrganizationClonerTests.java
Labels: Datasources

#4693 FIX #4603 : updated css to truncate long column name
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
Labels: new-contribution

#4433 fix: remove uploadedFileUrls property from FilePicker
  app/client/src/constants/FieldExpectedValue.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/FilepickerWidget.tsx
Labels: new-contribution

#4766 added click event config for customChart
  app/client/src/components/designSystems/appsmith/ChartComponent.tsx
Labels: new-contribution

#4350 fix: set default format in table date type cell
  app/client/src/components/propertyControls/DropDownControl.tsx
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
Labels: new-contribution

#4525 updated closeModal saga to stop reseting children meta properties.
  app/client/src/sagas/ModalSagas.ts
Labels: new-contribution
