Repository appsmithorg/appsmith, pull requests merged in 2021-06, with the labels that each got.

#4801 Enable smart substitution for widgets
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/entities/Widget/utils.ts
  app/client/src/widgets/ChartWidget/propertyConfig.ts
  app/client/src/widgets/DropdownWidget.tsx
  app/client/src/widgets/FilepickerWidget.tsx
  app/client/src/widgets/ListWidget/ListPropertyPaneConfig.ts
  app/client/src/widgets/MapWidget.tsx
  app/client/src/widgets/RadioGroupWidget.tsx
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
Labels: Bug, JS, Property Pane

#4818 Fixes failure due to extra spaces in authorization url in OAuth2 datasource
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/helpers/DatasourceValidator.java
Labels: Datasources

#4805 Fix for pageSize calculation in table widget
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/migrations/TableWidget.test.ts
  app/client/src/utils/migrations/TableWidget.ts
Labels: new-contribution

#4836 Changes to client credentials form for audience field
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
Labels: Datasources

#4905 bugfix: redirect user to homepage when user was inside an org and lef…
  app/client/src/sagas/OrgSagas.ts
Labels: Verified

#4425 Fix: Allow the same dates to be used in Default & Min/Max fields
  app/client/src/components/designSystems/blueprint/DatePickerComponent2.tsx
Labels: new-contribution

#4794 FIX #3648 : updated css to display toast message properly on deleting…
  app/client/src/components/ads/Toast.tsx
Labels: new-contribution

#4835 fixing docs and expectation strings on custom chart
  app/client/src/components/propertyControls/CustomFusionChartControl.tsx
  app/client/src/widgets/ChartWidget/propertyConfig.ts
Labels: new-contribution

#4309 Fix email parsing issue in text widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Text_spec.js
  app/client/package.json
  app/client/src/components/designSystems/blueprint/TextComponent.tsx
  app/client/yarn.lock
Labels: QA, new-contribution

#4618 Fix/2358 dropdown multi select too much space
  app/client/src/components/designSystems/blueprint/DropdownComponent.tsx
Labels: new-contribution

#4734 added string check on options props
  app/client/src/widgets/DropdownWidget.tsx
Labels: new-contribution

#4604 Fix/4362 recaptcha field unexpected data types
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
Labels: new-contribution

#4372 fix :extended maxDate and minDate limits to 100 years from now.
  app/client/src/components/designSystems/blueprint/DatePickerComponent2.tsx
  app/client/src/components/propertyControls/DatePickerControl.tsx
Labels: new-contribution

#4799 Horizontal scrollbars are not required for default table widget
  app/client/src/mockResponses/WidgetConfigResponse.tsx
Labels: new-contribution

#4452 fix: add color picker to form component
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_DragAndDropWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_spec.js
  app/client/src/widgets/FormWidget.tsx
Labels: new-contribution

#4660 FIX #4573 : added custom fusion chart config to override default message
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/widgets/ChartWidget/index.tsx
Labels: new-contribution

#4834 added onclose property and handlers on ModalWidget
  app/client/src/components/designSystems/blueprint/ModalComponent.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/widgets/ModalWidget.tsx
Labels: new-contribution

#4641 [ISSUE#4524]Fix: Added a check in else block too and assigned default…
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/workers/validations.ts
Labels: new-contribution

#4967 fix: *isRetry is undefined* bug on Page saga
  app/client/src/actions/pageActions.tsx
  app/client/src/sagas/PageSagas.tsx
Labels: new-contribution

#4844 FIX #3899 : added supported custom chart types list, validate chart t…
  app/client/src/constants/CustomChartConstants.ts
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: new-contribution

#4319 Test Ideas for Tab widget
  app/client/cypress/manual_TestSuite/Tab_Widget_Spec.js
Labels: skip-changelog

#4299 Feature/4135 table url column pretty link
  app/client/src/components/designSystems/appsmith/TableComponent/AutoToolTipComponent.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/Constants.ts
  app/client/src/components/designSystems/appsmith/TableComponent/TableStyledWrappers.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.tsx
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: new-contribution

#4637 Docs/updates mkcert installation
  app/client/README.md
  contributions/ClientSetup.md
Labels: skip-changelog

#5051 Fix/org test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/ExecutionParams_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OrganisationTests/CreateOrgTests_spec.js
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/manual_TestSuite/Tab_Widget_Spec.js
Labels: skip-changelog

#5108 Check if user exists before loading the form
  app/client/src/pages/Applications/OnboardingForm.tsx
Labels: skip-changelog

#4946 FIX #4875 : update modal onclick reference for same modal while pasting modal
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: new-contribution

#4580 Feature/2111 toggle header options
  app/client/src/components/designSystems/appsmith/TableComponent/Table.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableHeader.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableStyledWrappers.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/index.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/migrations/TableWidget.test.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: new-contribution

#5154 Modifying PR template to revert to older version
  .github/pull_request_template.md
Labels: new-contribution, skip-changelog

#5169 Added Documentation for Windows WSL2 Client Setup
  contributions/ClientSetup.md
Labels: new-contribution

#5248 Commenting out migration for quick fix to bring up release
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#4189 List Widget Phase 2
  app/client/cypress/fixtures/listdsl.json
  app/client/cypress/fixtures/listwidgetdsl.json
  app/client/cypress/integration/Smoke_TestSuite/LayoutWidgets/List_spec.js
  app/client/src/components/ads/ColorPickerComponent.tsx
  app/client/src/components/designSystems/appsmith/ContainerComponent.tsx
  app/client/src/components/designSystems/blueprint/DropdownComponent.tsx
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/constants/FieldExpectedValue.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetContextMenu.tsx
  app/client/src/reducers/entityReducers/metaReducer.ts
  app/client/src/resizable/index.tsx
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/utils/WidgetFactory.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.test.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/helpers.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ChartWidget/index.tsx
  app/client/src/widgets/CheckboxWidget.tsx
  app/client/src/widgets/FilepickerWidget.tsx
  app/client/src/widgets/ListWidget/ListComponent.tsx
  app/client/src/widgets/ListWidget/ListPropertyPaneConfig.ts
  app/client/src/widgets/ListWidget/ListWidget.test.tsx
  app/client/src/widgets/ListWidget/ListWidget.tsx
  app/client/src/widgets/ListWidget/derived.js
  app/client/src/widgets/ListWidget/derived.test.js
  app/client/src/widgets/ListWidget/parseDerivedProperties.ts
  app/client/src/widgets/MapWidget.tsx
  app/client/src/widgets/MetaHOC.tsx
  app/client/src/widgets/Tabs/TabsWidget.tsx
  app/client/test/factories/Widgets/ListFactory.ts
Labels: QA

#3975 Fix Table Widget Filter issue
  app/client/src/widgets/TableWidget/derived.js
  app/client/src/widgets/TableWidget/derived.test.js
Labels: UI Building Pod, new-contribution

#4864 FIX #4731: update condition for selectedRowIndices when table widget drag and drop
  app/client/src/widgets/TableWidget/derived.js
Labels: UI Building Pod, new-contribution

#5291 Mongo For Update Migrations
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#4341 fix: Dropdown option gets overlapped on the ModalComponent
  app/client/src/components/designSystems/appsmith/Dropdown.tsx
  app/client/src/components/designSystems/blueprint/DropdownComponent.tsx
  app/client/src/components/designSystems/blueprint/ModalComponent.tsx
  app/client/src/constants/Layers.tsx
  app/client/src/index.css
  app/client/src/widgets/DropdownWidget.tsx
Labels: UI Building Pod, new-contribution

#5167 FIX/5073 for File Picker close button tool tip content change
  app/client/src/widgets/FilepickerWidget.tsx
Labels: UI Building Pod, new-contribution

#4345 Added Cypress tests for tab widget
  app/client/cypress/fixtures/tabsWithWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/Tab_new_scenario_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/Tab_spec.js
  app/client/cypress/locators/Layout.json
  app/client/cypress/locators/publishWidgetspage.json
  app/client/cypress/support/commands.js
Labels: skip-changelog

#5026 Adding iframe widget
  app/client/src/assets/icons/widget/embed.svg
  app/client/src/components/designSystems/blueprint/IframeComponent.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/FieldExpectedValue.ts
  app/client/src/constants/HelpConstants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/mockResponses/WidgetSidebarResponse.tsx
  app/client/src/reducers/entityReducers/widgetConfigReducer.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/IframeWidget.tsx
Labels: UI Building Pod, new-contribution

#4863 Enable total number of rows and page size for server side pagination in table widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_TableTextPagination_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Copy_Paste_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Multiple_Widgets_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/components/designSystems/appsmith/TableComponent/Table.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableHeader.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/index.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/TableWidgetConstants.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod, new-contribution

#5361 Minor fixes for errors
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluate.ts
Labels: skip-changelog

#5162 Fix-Extra grey space in published mode Table Widget when columns are hidden
  app/client/cypress/fixtures/tableResizedColumnsDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Column_Resize_spec.js
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod, new-contribution

#5373 Update comments onboarding carousel images
  app/client/src/assets/icons/comments/commentCursor.png
  app/client/src/assets/images/comments-onboarding/step-1.png
  app/client/src/assets/images/comments-onboarding/step-2.png
  app/client/src/assets/images/comments-onboarding/step-3.png
  app/client/src/assets/images/comments-onboarding/step-4.png
  app/client/src/assets/images/comments-onboarding/step-5.png
  app/client/src/comments/CommentsShowcaseCarousel/index.tsx
Labels: skip-changelog

#5372 Set mode (EDIT/PUBLISHED) for comments for notification links
  app/client/src/entities/Comments/CommentsInterfaces.ts
  app/client/src/notifications/NotificationListItem.tsx
  app/client/src/sagas/CommentSagas/index.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Comment.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/CommentThread.java
Labels: skip-changelog

#5271 Minor collab fixes
  app/client/src/actions/commentActions.ts
  app/client/src/api/CommentsAPI.tsx
  app/client/src/assets/icons/comments/chat.svg
  app/client/src/assets/icons/comments/comment-mode-unread-indicator.svg
  app/client/src/comments/inlineComments/AddCommentInput.tsx
  app/client/src/comments/inlineComments/InlineCommentPin.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/reducers/uiReducers/commentsReducer/commentsReducer.ts
  app/client/src/sagas/CommentSagas/index.ts
  app/client/src/sagas/WebsocketSagas/handleSocketEvent.ts
Labels: skip-changelog

#5369 Fix scroll at the viewer: make the whole window scrollable instead of the main container
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
Labels: skip-changelog

#5388 Adding detailed steps on adding a new plugin
  contributions/ServerCodeContributionsGuidelines/PluginCodeContributionsGuidelines.md
Labels: skip-changelog

#5378 Update links on README
  README.md
Labels: skip-changelog

#5416 Onboarding typeform related fixes
  app/client/src/pages/Applications/OnboardingForm.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/utils/storage.ts
Labels: skip-changelog

#5440 added pod label automation for the new iFrame widget
  .github/config.json
Labels: new-contribution, skip-changelog

#4857 Test Ideas for GoogleSheets and Mongo DB Form Input
  app/client/cypress/manual_TestSuite/GoogleSheet_API_Spec.js
  app/client/cypress/manual_TestSuite/Mongo_Datasource_Spec.js
Labels: skip-changelog

#5450 Removed Reload action
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/RichTextEditor_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_CopyQuery_RenameDatasource_spec.js
Labels: skip-changelog

#5455 Update/bump node version in the doc
  contributions/ClientSetup.md
Labels: skip-changelog

#5468 Update form label changes for Mongo Form
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/MongoDatasource_spec.js
Labels: skip-changelog

#4168 Added delay after typing in Cypress test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_Unique_name_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog

#4427 fix: comma-separated splitting of image url in table col of type image
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.test.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.tsx
Labels: UI Building Pod, new-contribution

#5494 Show current page entities on top within global search results
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
Labels: skip-changelog
