Repository appsmithorg/appsmith, pull requests merged in 2021-12, with the labels that each got.

#9472 fix: remove custom defs when not available in an entity's context
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
Labels: Bug

#9459 fix(query-keys-map): Adding empty array check for mapping keys
  app/client/src/pages/Editor/QueryEditor/Table.tsx
Labels: skip-changelog

#9392 fix: Added client side execution logic and on page load logic for js
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PageLoadActionsUtil.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/envs/dev.env.example
Labels: Bug

#9435 test: RestAPI parallel run & Debug btn crash [Bugs 5550, 6863, 8686] - Script implementation
  app/client/cypress.json
  app/client/cypress/fixtures/apiParallelDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_JSObject_Postgress_Table_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiPaneTests/API_Bugs_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidgetTableAndBind_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#8550 fix: refresh profile image on the header when a new image is uploaded
  app/client/src/actions/userActions.ts
  app/client/src/api/UserApi.tsx
  app/client/src/components/ads/UserProfileImagePicker.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/pages/AppViewer/viewer/AppViewerHeader.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/common/ErrorPageHeader.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/sagas/userSagas.tsx
Labels: Stale

#9324 fix: fixed the default value of zero not present in parent form data on pageload
  app/client/cypress/fixtures/formWidgetWithInputValCheckDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_With_Input_Number.js
  app/client/src/widgets/FormWidget/widget/index.tsx
Labels: Bug

#9187 fix: long dropdown popup truncates items
  app/client/cypress/support/commands.js
  app/client/src/components/ads/TreeDropdown.tsx
Labels: Bug, UI Builders Pod

#9481 fix: button group cursor in case of disable
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#9352 feat: authentication for SaaS
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/IntegrationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/AuthenticationService.java
Labels: Enhancement

#9115 feat: Syntax parsing through AST
  app/client/package.json
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/widgets/InputWidget/widget/index.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/ast.test.ts
  app/client/src/workers/ast.ts
  app/client/src/workers/constants.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/lint.ts
  app/client/yarn.lock
Labels: Enhancement, FE Coders Pod

#9460 fix: Fix Appsmith image name in Helm chart values
  deploy/helm/values.yaml
Labels: Bug

#9476 fix: empty string validation if required is set
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CheckboxGroup_spec.js
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: Bug, UI Builders Pod

#9517 chore: Handle telemetry disabled
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
Labels: skip-changelog

#9535 chore: Send telemetry option in user profile to client
  app/client/cypress/fixtures/user.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Auth/Analytics_spec.js
  app/client/public/index.html
  app/client/src/configs/index.ts
  app/client/src/configs/types.ts
  app/client/src/constants/userConstants.ts
  app/client/src/sagas/userSagas.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/AppsmithUtils.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserProfileDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
Labels: skip-changelog

#9540 ci: Publish Appsmith helm chart
  appsmith-1.3.0.tgz
  index.yaml
Labels: skip-changelog, CI

#9542 docs: Makes video thumbnail more obvious
  contributions/AppsmithWidgetDevelopmentGuide.md
  contributions/assets/React_Component_to_Appsmith_Widget_Thumbnail.jpg
Labels: skip-changelog

#9543 fix: fix segment calls not getting fired issue on CE instances
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug

#8961 fix: Fold/Unfold fix on click of entity
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_DragAndDropWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Multiple_Widgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Widgets_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
Labels: Bug, Stale

#9491 fix: sentry issues
  app/client/src/polyfills/corejs-add-on.ts
  app/client/src/sagas/EvaluationsSaga.ts
Labels: Bug

#9445 fix: selected row issue
  app/client/cypress/fixtures/tableAndTextDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Selected_row_spec.js
  app/client/src/widgets/TableWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#9560 chore: disable and assert disablility of telemetry on CI
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Auth/Analytics_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog

#9454 fix: ButtonGroupWidget button variant validation updated
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#9536 fix: 7487 added allowSelectAll option in property pane
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/MultiSelect_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/widgets/MultiSelectWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#8927 feat: Adding a SMTP plugin
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/smtpPlugin/plugin.properties
  app/server/appsmith-plugins/smtpPlugin/pom.xml
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com.external.plugins/SmtpPlugin.java
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/send.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/smtpPlugin/src/test/java/com.external.plugins/SmtpPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Enhancement

#9521 fix: undefined evaluted value text widget
  app/client/cypress/fixtures/textWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/TextWidget_BgColor_TextSize_spec.js
  app/client/src/widgets/TextWidget/widget/index.tsx
  app/client/yarn.lock
Labels: Bug

#9616 test: echoAPICMS
  app/client/cypress/integration/Smoke_TestSuite/Application/EchoApiCMS_spec.js
Labels: skip-changelog, Test

#9576 fix: check if smartlook, sentry and analytics are inited before the init call
  app/client/src/utils/AppsmithUtils.tsx
Labels: Bug

#9229 fix: misc git sync fixes / ui polish
  app/client/src/AppRouter.tsx
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/ListSegmentHeader.tsx
  app/client/src/components/ads/Statusbar.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/constants/typography.ts
  app/client/src/entities/FeatureFlag.ts
  app/client/src/entities/GitSync.ts
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/GlobalHotKeys.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/pages/Editor/gitSync/components/DeployedKeyUI.tsx
  app/client/src/pages/Editor/gitSync/components/GitChanged.tsx
  app/client/src/pages/Editor/gitSync/components/GitSyncError.tsx
  app/client/src/pages/Editor/gitSync/components/InfoWrapper.tsx
  app/client/src/pages/Editor/gitSync/components/Link.tsx
  app/client/src/pages/Editor/gitSync/components/MergeStatus.tsx
  app/client/src/pages/Editor/gitSync/components/Statusbar.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings/index.tsx
  app/client/src/pages/Editor/gitSync/utils.ts
  app/client/src/pages/Editor/index.tsx
  app/client/src/pages/common/CanvasMultiPointerArena.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/WebsocketSagas/utils.ts
  app/client/src/selectors/gitSyncSelectors.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Bug

#9295 feat: Geolocation APIs on appsmith
  app/client/src/actions/browserRequestActions.ts
  app/client/src/actions/evaluationActions.ts
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/DataTree/actionTriggers.ts
  app/client/src/reducers/entityReducers/appReducer.ts
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/GetCurrentLocationSaga.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/autocomplete/dataTreeTypeDefCreator.ts
  app/client/src/workers/Actions.ts
Labels: Enhancement

#9594 fix: Newly added tailwind classes disable the possibility to display regular HTML lists in Text-widgets
  app/client/src/widgets/TextWidget/component/index.tsx
Labels: Bug

#9579 fix: Bug fix in the api url bar
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
Labels: Bug

#9478 feat: [Fature] Send test mail by config
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/InstanceAdminController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/TestEmailConfigRequestDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvManager.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
Labels: Enhancement

#9608 fix: Added timestamp in where clause types, modified logic for calculating date time types
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/FilterDataService.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/services/FilterDataServiceTest.java
Labels: Bug

#9466 fix: Empty column name check before computing dynamicBindingPathList in Table widget
  app/client/cypress/fixtures/TableWidgetDatawithEmptyKeys.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_PropertyPane_spec.js
  app/client/src/widgets/TableWidget/widget/index.tsx
Labels: Bug

#9562 chore: Migration to update mockdb endpoint
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#9654 chore: Making smtp default install true for new all organizations
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#9354 fix: added placement support in button, button group, and menu widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/ButtonGroup_spec.js
  app/client/src/components/constants.ts
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
  app/client/src/widgets/ButtonGroupWidget/index.ts
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/widget/index.tsx
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/widget/index.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#8156 feat: Table widget row selection using primary column
  app/client/cypress/fixtures/buttonLintErrorDsl.json
  app/client/cypress/fixtures/multiSelectedRowUpdationDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_MultiRowSelect_dataUpdation_spec.js
  app/client/src/components/propertyControls/PrimaryColumnDropdownControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/TableWidget/constants.ts
  app/client/src/widgets/TableWidget/widget/derived.js
  app/client/src/widgets/TableWidget/widget/derived.test.js
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidget/widget/utilities.test.ts
  app/client/src/widgets/TableWidget/widget/utilities.ts
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, UI Building Pod, Stale

#9444 fix: Select widget Value
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Widgets_Default_data_validation_spec.js
  app/client/src/widgets/DropdownWidget/widget/index.test.tsx
  app/client/src/widgets/DropdownWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#9396 fix: table icon selector js mode toggle issue
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/TextWidget_BgColor_TextSize_spec.js
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/utils/validation/common.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: Bug, UI Builders Pod

#9505 fix: add enableClientSideSearch
  app/client/cypress/fixtures/TableClientSearch.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Table_ClientSide_Search_spec.js
  app/client/src/widgets/TableWidget/constants.ts
  app/client/src/widgets/TableWidget/index.ts
  app/client/src/widgets/TableWidget/widget/derived.js
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod

#9633 feat: [Feature] Custom domain should be configured from admin UI
  app/client/src/pages/Settings/SettingsConfig.ts
  app/client/src/sagas/SuperUserSagas.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvManager.java
Labels: Enhancement

#8111 fix: Cursor turning to pointer upon onclick in deployed app
  app/client/src/widgets/ImageWidget/component/index.tsx
Labels: hacktoberfest, App Viewers Pod

#9571 fix: negative spacing in list widget
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/widgets/ListWidget/widget/propertyConfig.ts
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: Bug, App Viewers Pod

#7590 feat: Switch Group widget
  app/client/cypress/fixtures/SwitchGroupWidgetDsl.json
  app/client/cypress/fixtures/newFormDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/SwitchGroup_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/cypress/locators/publishWidgetspage.json
  app/client/package.json
  app/client/src/assets/icons/widget/switch-group.svg
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/HelpConstants.ts
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/utils/AppsmithUtils.test.ts
  app/client/src/utils/AppsmithUtils.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/SwitchGroupWidget/component/index.tsx
  app/client/src/widgets/SwitchGroupWidget/icon.svg
  app/client/src/widgets/SwitchGroupWidget/index.ts
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, UI Building Pod, Stale

#9631 chore: send email config details when making send test email call
  app/client/src/api/UserApi.tsx
  app/client/src/pages/Settings/Main/Button.tsx
  app/client/src/pages/Settings/SettingsConfig.ts
  app/client/src/sagas/SuperUserSagas.tsx
Labels: skip-changelog

#8712 fix: button variant table binding
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#9178 fix: PageLoad - action.data implicitly depends on action.actionConfiguration. Added this relationship to dag
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PageLoadActionsUtil.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
Labels: Bug

#8810 fix: Update query failing for SQL in generated page when user provides table with columns less than 4
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/CreateDBTablePageSolution.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
Labels: Bug

#9675 fix: Context menu auto close issue in page settings
  app/client/src/pages/Editor/PagesEditor/index.tsx
Labels: Bug

#9539 test: Automated tests for RestApi, S3 Bugs
  app/client/cypress/fixtures/apiParallelDsl.json
  app/client/cypress/fixtures/apiTableDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/S3_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/QueryPaneTests/SwitchDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiPaneTests/API_Bugs_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/ArangoDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MsSQLDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MySQLDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RedshiftDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/EmptyDataSource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
Labels: skip-changelog, Test

#9487 fix: add defaultTab as selectedTab when selectedTab is not available
  app/client/src/widgets/TabsWidget/widget/derived.js
  app/client/src/widgets/TabsWidget/widget/derived.test.js
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/TabsWidget/widget/parseDerivedProperties.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#9337 feat: Added action to upload multiple files in S3
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/constants/AmazonS3Action.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/create_many.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
Labels: Enhancement

#9706 fix: Add CLI argument to fix log4j2 RCE
  app/server/entrypoint.sh
  deploy/docker/templates/supervisord/application_process/backend.conf
Labels: Bug

#8337 feat: Change Map Pin Color on Map Widget
  app/client/src/widgets/MapWidget/component/index.tsx
  app/client/src/widgets/MapWidget/constants.ts
  app/client/src/widgets/MapWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, UI Building Pod, Stale

#8619 ci: Run a small test on fat image before pushing to DockerHub
  .github/workflows/test-build-docker-image.yml
  deploy/docker/run-test.sh
Labels: skip-changelog, Stale, CI

#9691 fix: Update crud template for failing S3 list file action
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
Labels: Bug

#8519 fix: Load pages from GitBook sequentially
  app/client/gitbook-algolia-lambda.js
Labels: Bug

#8461 docs: Editing grammatical errors
  deploy/aws_ami/README.md
Labels: hacktoberfest, skip-changelog

#8640 chore: Duplicate case labels found in switch case
  app/client/src/components/ads/Icon.tsx
Labels: skip-changelog

#9600 test: Added test for select Widget
  app/client/cypress/fixtures/selectWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/select_Widget_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiPaneTests/API_Bugs_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#9713 chore: remove plausible to improve page load performance
  app/client/public/index.html
Labels: skip-changelog

#9744 fix: Revert "fix: Select widget Value"
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Widgets_Default_data_validation_spec.js
  app/client/src/widgets/DropdownWidget/widget/index.test.tsx
  app/client/src/widgets/DropdownWidget/widget/index.tsx
Labels: Bug

#9748 fix: changed conditions for variables as variables were undefined
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, skip-changelog

#9681 fix: table color picker issue
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/widgets/TableWidget/index.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidget/widget/propertyUtils.ts
Labels: Bug, App Viewers Pod

#9602 fix: Button group icon aligment improved
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#9634 fix: Regex to detect function args
  app/client/src/components/editorComponents/ActionCreator/Fields.test.ts
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
Labels: Bug, UI Builders Pod

#9446 feat: UQI Pagination Component implementation
  app/client/src/components/formControls/PaginationControl.tsx
  app/client/src/utils/FormControlRegistry.tsx
Labels: Enhancement

#9637 fix: Added handling for action collections during duplicate app flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ExamplesOrganizationCloner.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
Labels: Bug

#9651 feat: Add support for custom 'this' and 'global' variables during evaluation
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/ast.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/lint.ts
  app/client/src/workers/validations.ts
Labels: Enhancement

#9549 fix: application is added to recent list if duplicated
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/PageController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/NewPageService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/NewPageServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
Labels: Bug

#8932 feat: [Feature] Upgrade spring boot version to 2.5.5
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/annotations/encryption/EncryptionHandler.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/restApiPlugin/pom.xml
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MongoConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/mongo/SoftDeleteMongoQueryLookupStrategy.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/mongo/SoftDeletePartTreeMongoQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CommentServiceTest.java
  app/server/pom.xml
Labels: Enhancement

#9745 fix: fixes duplication of where clause AND-condition fields
  app/client/src/components/formControls/WhereClauseControl.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug

#9683 fix: Added collection id and clientSideExecution to layout on page load DTO
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/DslActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/LayoutActionUpdateDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/NewActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PageLoadActionsUtil.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: Bug

#9094 fix: Correcting the run button loading state on cancel in API pane
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_Edit_spec.js
  app/client/cypress/locators/apiWidgetslocator.json
  app/client/src/reducers/entityReducers/actionsReducer.tsx
  app/client/src/reducers/uiReducers/apiPaneReducer.ts
Labels: Bug

#9157 fix: Correcting the duplication of headers from datasource to newer APIs
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
Labels: Bug

#9773 fix: properly lint triggerfields
  app/client/src/workers/DataTreeEvaluator.ts
Labels: Bug

#9703 chore: Entity Name re-render fix
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/selectors/entitiesSelector.ts
Labels: UI Performance, skip-changelog

#9776 fix: Update replaceAll function for browser support
  app/client/src/entities/DataTree/dataTreeJSAction.ts
Labels: Bug

#8980 fix(handle-enter-confirm-popup): added key action to confirm popup wi…
  app/client/src/pages/Editor/ConfirmRunModal.tsx
Labels: Bug

#9606 fix: removed -1 and 2d array population error in the selectedRowIndices
  app/client/cypress/fixtures/tableWithTextWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Copy_Paste_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/table_with_text_no_2dArray_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/table_with_text_selRowIndices_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Multiple_Widgets_spec.js
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/autocomplete/dataTypeSortRules.ts
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyUtils.test.ts
  app/client/src/widgets/TableWidget/widget/propertyUtils.ts
Labels: Bug

#9471 fix: Limits datasource name character length
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/pages/Editor/DataSourceEditor/FormTitle.tsx
Labels: Bug

#9784 fix: Issue with deleting page
  app/client/src/pages/Editor/PagesEditor/PageListItem.tsx
Labels: Bug, UI Builders Pod

#9796 fix: selected option value from select widget
  app/client/cypress/fixtures/Select_table_dsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Select_Widget_Value_spec.js
  app/client/src/widgets/DropdownWidget/widget/index.test.tsx
  app/client/src/widgets/DropdownWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#9756 fix: Added check for self references in layout
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Bug

#9785 fix: Fix action collection not being deleted when the deleted collection in edit mode is published
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
Labels: Bug

#9760 fix: Resolve issues related to disconnect git repo flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug

#9795 test: TableWidget bugs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Table_ClientSide_Search_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Button_Icon_validation_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#9769 fix: Ignore form data elements with null keys
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/FieldName.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/helpers/DataUtils.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/helpers/RequestCaptureFilter.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/helpers/DataUtilsTest.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
  app/server/appsmith-plugins/saasPlugin/src/main/java/com/external/helpers/RequestCaptureFilter.java
Labels: Bug

#9774 fix: Added handling for refactor of default list elements
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Bug

#9761 fix: fixes query editor duplication
  app/client/src/pages/Editor/QueryEditor/index.tsx
Labels: Bug

#9507 fix: deleted actions display error messages when navigated to
  app/client/src/pages/Editor/EntityNotFoundPane.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/pages/Editor/SaaSEditor/ActionForm.tsx
Labels: Bug

#9184 fix: Assigns query Params in Datasource and Api query editor
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/DatasourceForm_spec.js
  app/client/src/components/ads/Callout.tsx
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/entities/Action/index.ts
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/APIEditor/Form.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
Labels: Bug

#9360 fix: Fixes inability to use duplicate names across multiple actions in different pages
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/selectors/entitiesSelector.ts
Labels: Bug

#9687 feat: Admin settings page to tinker with env variables
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AdminSettings/Admin_settings_spec.js
  app/client/cypress/locators/AdminsSettingsLocators.json
  app/client/cypress/support/commands.js
  app/client/src/entities/FeatureFlag.ts
  app/client/src/pages/Settings/LeftPane.tsx
  app/client/src/pages/Settings/Main.tsx
  app/client/src/pages/Settings/Main/Button.test.tsx
  app/client/src/pages/Settings/Main/Button.tsx
  app/client/src/pages/Settings/Main/Common.tsx
  app/client/src/pages/Settings/Main/Group.text.tsx
  app/client/src/pages/Settings/Main/Link.test.tsx
  app/client/src/pages/Settings/Main/Link.tsx
  app/client/src/pages/Settings/Main/Text.test.tsx
  app/client/src/pages/Settings/Main/Text.tsx
  app/client/src/pages/Settings/Main/TextInput.tsx
  app/client/src/pages/Settings/Main/common.test.tsx
  app/client/src/pages/Settings/Main/group.tsx
  app/client/src/pages/Settings/RestartBanner.tsx
  app/client/src/pages/Settings/index.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Enhancement

#6959 fix: checkbox group feedback
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/CheckboxGroupWidget.ts
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/index.ts
Labels: App Viewers Pod, UI Building Pod

#9829 fix: Fix merge problems
  app/client/src/pages/Editor/QueryEditor/index.tsx
Labels: Bug

#9830 fir: Fix migration OOM in firestore action migration
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#9725 fix: Google sheets Bulk insert of empty array returns an error
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/BulkAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/BulkAppendMethodTest.java
Labels: Bug

#9508 feat: Add appsmithctl command to migrate running container to new server
  Dockerfile
  deploy/docker/README.md
  deploy/docker/scripts/install_docker.sh
  deploy/docker/scripts/pull_resource.sh
  deploy/docker/scripts/start_app.sh
  deploy/docker/utils/.gitignore
  deploy/docker/utils/bin/export_db.js
  deploy/docker/utils/bin/import_db.js
  deploy/docker/utils/bin/index.js
  deploy/docker/utils/bin/migrate.js
  deploy/docker/utils/bin/utils.js
  deploy/docker/utils/package-lock.json
  deploy/docker/utils/package.json
Labels: Stale

#9718 fix: chart validation
  app/client/src/components/propertyControls/ChartDataControl.tsx
  app/client/src/workers/validations.ts
Labels: Bug, App Viewers Pod

#9840 fix: Install plugin to existing organizations after approval
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PluginScheduledTaskCEImpl.java
Labels: Bug

#9846 docs: add new "documentation" section in epic template
  .github/ISSUE_TEMPLATE/--epic.yaml
Labels: skip-changelog

#9848 fix: fixes inability to rename other widgets, jsactions, pages
  app/client/src/selectors/entitiesSelector.ts
Labels: Bug

#9804 chore: Update local git repo path
  app/server/appsmith-git/src/main/java/com/appsmith/git/configurations/GitServiceConfig.java
Labels: skip-changelog

#9400 Migrate DigitalOcean app to use fat container
  deploy/digital_ocean/README.md
  deploy/digital_ocean/files/etc/update-motd.d/99-one-click
  deploy/digital_ocean/files/var/lib/cloud/scripts/per-instance/01-onboot
  deploy/digital_ocean/images/edit-app.png
  deploy/digital_ocean/scripts/01-packages.sh
  deploy/digital_ocean/scripts/90-cleanup.sh
  deploy/digital_ocean/scripts/99-img_check.sh
  deploy/digital_ocean/scripts/install-docker.sh
  deploy/digital_ocean/template.json
Labels: Stale

#9839 fix: [Fix] Removed sentry reporting when application not found
  app/client/src/sagas/CommentSagas/index.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CommentServiceCEImpl.java
Labels: Bug, skip-changelog

#9821 fix: Use Appsmith user profile as a fallback git profile
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
Labels: Bug

#9810 fix: Handled a possible null key from headers - NullpointException in Sentry_Issue
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
Labels: Bug

#9803 feat: limit private git repo connected application
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitApplicationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitConnectionLimitDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Enhancement

#9842 fix: Excluded hyphen substitution in branch name validation
  app/client/src/pages/Editor/gitSync/components/BranchList.test.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
Labels: Bug

#9854 chore: update font for the user settings title
  app/client/src/constants/Colors.tsx
  app/client/src/constants/typography.ts
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings/index.tsx
Labels: skip-changelog

#9287 feat: Add option to delete empty organization
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OrganisationTests/DeleteOrganization_spec.js
  app/client/cypress/support/commands.js
  app/client/src/actions/orgActions.ts
  app/client/src/api/OrgApi.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Applications/index.tsx
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/sagas/OrgSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/OrganizationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/OrganizationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/OrganizationServiceUnitTest.java
Labels: Enhancement

#9865 fix: add missing part in CS url
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug

#9832 fix: handle undefined filterdata props in table widget
  app/client/src/widgets/TableWidget/widget/utilities.test.ts
  app/client/src/widgets/TableWidget/widget/utilities.ts
Labels: Bug

#9863 fix: Updating log4j to 2.17.0 to prevent JNDI lookups
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/UpdateApplication_spec.js
  app/client/src/sagas/ApplicationSagas.tsx
  app/server/appsmith-plugins/amazons3Plugin/pom.xml
  app/server/appsmith-plugins/arangoDBPlugin/pom.xml
  app/server/appsmith-plugins/dynamoPlugin/pom.xml
  app/server/appsmith-plugins/elasticSearchPlugin/pom.xml
  app/server/appsmith-plugins/firestorePlugin/pom.xml
  app/server/appsmith-plugins/googleSheetsPlugin/pom.xml
  app/server/appsmith-plugins/jsPlugin/pom.xml
  app/server/appsmith-plugins/mongoPlugin/pom.xml
  app/server/appsmith-plugins/mssqlPlugin/pom.xml
  app/server/appsmith-plugins/mysqlPlugin/pom.xml
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/postgresPlugin/pom.xml
  app/server/appsmith-plugins/redisPlugin/pom.xml
  app/server/appsmith-plugins/redshiftPlugin/pom.xml
  app/server/appsmith-plugins/restApiPlugin/pom.xml
  app/server/appsmith-plugins/saasPlugin/pom.xml
  app/server/appsmith-plugins/smtpPlugin/pom.xml
  app/server/appsmith-plugins/snowflakePlugin/pom.xml
  app/server/pom.xml
Labels: Bug

#9493 fix: [Fix] Hide updated date when application was not updated manually
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
Labels: Bug

#9660 feat: Add support to send arbitrary form values to oAuth server during Datasource authentication
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2ClientCredentials.java
Labels: Enhancement

#9742 test: adding test cases for undo/redo
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Replay/Replay_Editor_spec.js
Labels: skip-changelog, Test

#9593 fix: update onboarding datasource host
  app/client/src/sagas/OnboardingSagas.ts
Labels: Bug

#9886 fix: Replace default IDs for forked application with destination resource IDs
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesOrganizationClonerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: Bug

#9892 fix: fix firestore pagination cyclic dependency error
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/getCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Bug

#9868 test: updated org test
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#9695 test: Automated tests for RestApi, S3 Bugs + Flakiness fixes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_JSObject_Postgress_Table_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Property_JsonUpdate_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CheckboxGroup_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/S3_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/QueryPaneTests/SwitchDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiPaneTests/API_Bugs_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OrganisationTests/ShareAppTests_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/EmptyDataSource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#9735 fix: corrected Index cond. for conditional formatting in table widget
  app/client/cypress/fixtures/tableWidgetCondnFormatDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Table_Widget__CondtionalFormatting_spec.js
  app/client/src/widgets/TableWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#9903 ci: Adding Vercel integration because of issues with Netlify
  app/client/vercel.json
Labels: skip-changelog, CI

#9891 fix: Fixes related to git profile
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitConnectDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug

#9909 chore: Add migration for new MongoDB mock endpoint
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#9856 fix: fix Mongo plugin's smart substitution feature to handle quotes around ObjectId in array
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/SmartSubstitutionInterface.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
Labels: Bug

#9818 fix: git config fixes
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/entities/GitSync.ts
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings/index.tsx
  app/client/src/pages/Editor/gitSync/hooks.ts
  app/client/src/pages/UserProfile/GitConfig.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug

#9913 chore: Updated Template for CRUD DB template
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: Bug, skip-changelog

#9874 fix: Clear the cache - git limit number of repos
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ErrorType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug

#9432 fix: unexpected return error
  app/client/cypress/fixtures/snippetDsl.json
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
Labels: Bug

#9882 chore: show only ssh key in the deploy key UI section, rm label
  app/client/src/pages/Editor/gitSync/components/DeployedKeyUI.tsx
Labels: skip-changelog

#9833 fix: Disconnect git and repo connect error UI modal
  app/client/src/actions/applicationActions.ts
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/ApplicationApi.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/hooks.ts
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug

#9947 fix: Fix for on page load action in forked application
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesOrganizationClonerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: Bug

#9966 fix: add work around to handle bad data in Firestore UQI migration
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Bug

#9921 fix: remove allowed filetype restriction in filepickerwidget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/filepicker_spec.js
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug

#9963 fix: add query params from datasource to URI
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug

#9957 fix: Toast message on reset password
  app/client/src/pages/UserProfile/General.tsx
Labels: Bug

#9960 fix: Do not return JS actions when fetching page actions
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesOrganizationClonerTests.java
Labels: Bug

#9916 fix: Switched reference from package name to plugin name for import export
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: Bug

#9712 feat: add support for projection, sort and pagination.
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/SortType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/UQIDataFilterParams.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/IFilterDataServiceCE.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/services/FilterDataServiceTest.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
Labels: Enhancement

#9423 fix: added support for timePrecision
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/DatePicker_2_Default_spec.js
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/constants.ts
  app/client/src/widgets/DatePickerWidget2/index.ts
  app/client/src/widgets/DatePickerWidget2/widget/index.tsx
  app/client/src/widgets/TableWidget/component/CascadeFields.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#8988 feat: Native promises support in Appsmith
  app/client/craco.build.config.js
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/components/utils/FlagBadge.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/defs/ecmascript.json
  app/client/src/constants/messages.ts
  app/client/src/entities/DataTree/actionTriggers.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/CopyActionSaga.ts
  app/client/src/sagas/ActionExecution/DownloadActionSaga.ts
  app/client/src/sagas/ActionExecution/GetCurrentLocationSaga.ts
  app/client/src/sagas/ActionExecution/ModalSagas.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionExecution/PromiseActionSaga.ts
  app/client/src/sagas/ActionExecution/ResetWidgetActionSaga.ts
  app/client/src/sagas/ActionExecution/SetIntervalSaga.ts
  app/client/src/sagas/ActionExecution/ShowAlertActionSaga.ts
  app/client/src/sagas/ActionExecution/errorUtils.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/utils/WorkerUtil.test.ts
  app/client/src/utils/WorkerUtil.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/autocomplete/TernServer.ts
  app/client/src/workers/Actions.test.ts
  app/client/src/workers/Actions.ts
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/PromisifyAction.test.ts
  app/client/src/workers/PromisifyAction.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Enhancement

#7643 fix: Audio recorder widget - group styling properties
  app/client/src/widgets/AudioRecorderWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#9823 fix: Default date to remain empty value when binding value is empty
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#9771 fix: Incorrect error handling when incorrect sheet name is used in Google Sheets query
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/AppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/BulkAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/BulkUpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/UpdateMethod.java
Labels: Bug

#9952 fix: fixes undefined error coming from datasource rest api form values
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug

#9880 fix: remove unneccessary styles from field array control
  app/client/src/components/formControls/FieldArrayControl.tsx
Labels: Bug
