Repository appsmithorg/appsmith, pull requests merged in 2021-08, with the labels that each got.

#6281 Missing validations
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/ChartWidget/propertyConfig.ts
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: Enhancement, UI Building, Widget Validation

#6245 Minor comments feature fixes
  app/client/src/assets/images/comments-onboarding/thumbnails/step-1.jpg
  app/client/src/assets/images/comments-onboarding/thumbnails/step-2.jpg
  app/client/src/comments/CommentCard/CommentCard.tsx
  app/client/src/comments/CommentsShowcaseCarousel/CommentsCarouselModal.tsx
  app/client/src/comments/CommentsShowcaseCarousel/index.tsx
  app/client/src/comments/inlineComments/InlineCommentPin.tsx
  app/client/src/comments/tour/commentsTourSteps.ts
  app/client/src/components/ads/DisplayImageUpload.tsx
  app/client/src/components/ads/EmojiReactions.tsx
  app/client/src/components/ads/ProgressiveImage.tsx
  app/client/src/globalStyles/uppy.ts
  app/client/src/pages/Editor/ToggleModeButton.tsx
  app/client/src/reducers/uiReducers/commentsReducer/commentsReducer.ts
Labels: skip-changelog

#6166 Fix comment card click on the same thread after closing the inline thread
  app/client/src/comments/CommentCard/CommentCard.tsx
Labels: skip-changelog

#6256 Sentry fix for TypeError: t.entities.canvasWidgets[e.widgetId] is undefined
  app/client/src/components/editorComponents/DropTargetComponent.tsx
Labels: UI Building Pod

#6041 Supporting all ASCII characters in table widget
  app/client/src/components/designSystems/appsmith/TableComponent/TableHelpers.test.ts
  app/client/src/components/designSystems/appsmith/TableComponent/TableHelpers.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidget/derived.js
Labels: UI Building Pod, new-contribution

#5941 [perf] propertyControl re-rendering
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/selectors/widgetEnhancementSelectors.ts
  app/client/src/widgets/ChartWidget/propertyConfig.ts
  app/client/src/widgets/DatePickerWidget.tsx
  app/client/src/widgets/DividerWidget.tsx
  app/client/src/widgets/DropdownWidget.tsx
  app/client/src/widgets/InputWidget.tsx
  app/client/src/widgets/ListWidget/ListPropertyPaneConfig.ts
  app/client/src/widgets/RateWidget/index.tsx
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/Tabs/TabsMigrator.tsx
  app/client/src/widgets/Tabs/TabsWidget.tsx
Labels: UI Building Pod, UI Performance

#6255 fix for propertyPane Action for run keyword
  app/client/src/components/editorComponents/ActionCreator/index.tsx
Labels: UI Building Pod

#6242 Fix unnecessary renders of ActionCreator, EntityName, CodeEditor and ActionEntityContextMenu
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/sagas/selectors.tsx
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/selectors/globalSearchSelectors.tsx
Labels: UI Building Pod

#6119 Navigation Dropdown feedback Changes
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Editor/EditableAppName.tsx
  app/client/src/pages/Editor/EditorAppName/NavigationMenuData.ts
  app/client/src/pages/Editor/EditorAppName/NavigationMenuItem.tsx
  app/client/src/pages/Editor/EditorAppName/index.tsx
  app/client/src/pages/Editor/ToggleModeButton.tsx
Labels: UI Building Pod

#6383 Bug/modal cnclbtn close
  app/client/src/mockResponses/WidgetConfigResponse.tsx
Labels: UI Building Pod, new-contribution

#6205 Fix/6163 add confirm of clicking url on text
  app/client/src/components/designSystems/blueprint/TextComponent.tsx
Labels: UI Building Pod

#6386 change label dropdown widget to select widget
  .github/config.json
Labels: UI Building Pod, skip-changelog

#6295 iFrame - When the source url is removed message should be displayed in iframe similar to other widgets
  app/client/src/components/designSystems/blueprint/IframeComponent.tsx
Labels: UI Building Pod, new-contribution

#6053 BUG : Iframe widget: wrong placeholder `Title`
  app/client/src/widgets/IframeWidget.tsx
Labels: UI Building Pod, new-contribution

#6322 Use feature flag api to enable/disable comments
  app/client/src/AppRouter.tsx
  app/client/src/actions/commentActions.ts
  app/client/src/actions/userActions.ts
  app/client/src/api/UserApi.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/entities/FeatureFlag.ts
  app/client/src/pages/common/AppHeader.tsx
  app/client/src/reducers/uiReducers/commentsReducer/commentsReducer.ts
  app/client/src/reducers/uiReducers/commentsReducer/interfaces.ts
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/sagas/CommentSagas/index.ts
  app/client/src/sagas/WebsocketSagas/WebsocketSagas.ts
  app/client/src/sagas/userSagas.tsx
  app/client/src/selectors/commentsSelectors.ts
  app/client/src/selectors/usersSelectors.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/AppsmithUtils.tsx
  app/client/src/utils/featureFlags.ts
Labels: skip-changelog

#6396 Fix ts error release
  app/client/src/selectors/commentsSelectors.ts
Labels: skip-changelog

#6403 Fix: Wrap overflowing option in multiselect dropdown
  app/client/src/components/designSystems/appsmith/MultiSelectComponent/index.styled.tsx
Labels: UI Building Pod

#5723 Icon Button Widget
  app/client/src/assets/icons/control/border-radius-circle.svg
  app/client/src/assets/icons/control/border-radius-rounded.svg
  app/client/src/assets/icons/control/border-radius-sharp.svg
  app/client/src/assets/icons/control/box-shadow-none.svg
  app/client/src/assets/icons/control/box-shadow-variant1.svg
  app/client/src/assets/icons/control/box-shadow-variant2.svg
  app/client/src/assets/icons/control/box-shadow-variant3.svg
  app/client/src/assets/icons/control/box-shadow-variant4.svg
  app/client/src/assets/icons/control/box-shadow-variant5.svg
  app/client/src/assets/icons/widget/icon-button.svg
  app/client/src/components/designSystems/appsmith/IconButtonComponent.tsx
  app/client/src/components/propertyControls/BorderRadiusOptionsControl.tsx
  app/client/src/components/propertyControls/BoxShadowOptionsControl.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/constants/Colors.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/HelpConstants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/icons/ControlIcons.tsx
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/mockResponses/WidgetSidebarResponse.tsx
  app/client/src/reducers/entityReducers/widgetConfigReducer.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/IconButtonWidget.tsx
Labels: UI Building Pod, new-contribution

#6400 fix: Font size
  app/client/src/components/designSystems/appsmith/MultiSelectComponent/index.styled.tsx
Labels: UI Building Pod

#5505 Cypress tests for commenting feature
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Comments/AddComments_spec.js
  app/client/cypress/locators/commentsLocators.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
  app/client/src/comments/inlineComments/InlineCommentPin.tsx
  app/client/src/components/ads/MentionsInput.tsx
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/Editor/ToggleModeButton.tsx
Labels: skip-changelog

#6431 [Fix] Update permission check for determining a user with dev access for comments intro
  app/client/src/comments/CommentsShowcaseCarousel/index.tsx
  app/client/src/comments/inlineComments/AddCommentInput.tsx
  app/client/src/utils/helpers.tsx
Labels: skip-changelog

#6467 changed default image to old
  app/client/src/mockResponses/WidgetConfigResponse.tsx
Labels: UI Building Pod, new-contribution

#6428 Enable auto-start of containers after VM restart in self-hosted installations
  deploy/template/docker-compose.yml.sh
Labels: Deployment

#6260 Property pane for iFrame widget does not appear on clicking on widget
  app/client/src/components/designSystems/blueprint/IframeComponent.tsx
  app/client/src/widgets/IframeWidget.tsx
Labels: UI Building Pod, new-contribution

#6034 Fix-Catch invalid google recaptcha v3 key error
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
Labels: UI Building Pod

#6335 changed default divider color
  app/client/src/constants/Colors.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
Labels: UI Building Pod, new-contribution

#6380 fixed issue of left corner resizing cursor
  app/client/src/components/editorComponents/ResizeStyledComponents.tsx
  app/client/src/resizable/index.tsx
Labels: UI Building Pod

#6429 Revert "Supporting all ASCII characters in table widget"
  app/client/src/components/designSystems/appsmith/TableComponent/TableHelpers.test.ts
  app/client/src/components/designSystems/appsmith/TableComponent/TableHelpers.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidget/derived.js
Labels: UI Building Pod

#6214 Fix: Adding checks before we check for disallowCopy
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: UI Building Pod, UI Building

#6170 FIX #5254 : dropdown height fixed and made scrollable
  app/client/src/pages/common/CustomizedDropdown/StyledComponents.tsx
Labels: UI Building Pod

#6516 Fix: Close widget pane when user moves away from canvas
  app/client/src/pages/Editor/WidgetSidebar.tsx
Labels: skip-changelog

#6512 Fix: intercom triggers are not working properly
  app/client/src/components/designSystems/appsmith/help/DocumentationSearch.tsx
  app/client/src/components/designSystems/appsmith/help/HelpModal.tsx
  app/client/src/pages/Editor/HelpButton.tsx
Labels: skip-changelog

#6521 fix: table column order and isVisible
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
Labels: UI Building Pod

#6438 Feature: select all rows across table pages
  app/client/src/components/designSystems/appsmith/TableComponent/Table.tsx
Labels: UI Building Pod

#5389 [Feature] Widget grouping - Allow Drag and Drop of multiple widgets.
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetSelection/WidgetSelection_spec.js
  app/client/cypress/locators/explorerlocators.json
  app/client/cypress/support/commands.js
  app/client/src/actions/canvasSelectionActions.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/components/editorComponents/DragLayerComponent.tsx
  app/client/src/components/editorComponents/DraggableComponent.tsx
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/components/editorComponents/Dropzone.tsx
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/components/editorComponents/ResizeStyledComponents.tsx
  app/client/src/components/editorComponents/WidgetNameComponent/index.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/src/pages/Editor/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/MainContainer.test.tsx
  app/client/src/pages/Editor/WidgetCard.tsx
  app/client/src/pages/Editor/WidgetsMultiSelectBox.tsx
  app/client/src/pages/common/CanvasDraggingArena.tsx
  app/client/src/pages/common/CanvasSelectionArena.test.tsx
  app/client/src/pages/common/CanvasSelectionArena.tsx
  app/client/src/reducers/uiReducers/canvasSelectionReducer.ts
  app/client/src/reducers/uiReducers/dragResizeReducer.ts
  app/client/src/resizable/index.tsx
  app/client/src/sagas/DraggingCanvasSagas.ts
  app/client/src/sagas/SelectionCanvasSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/sagas/index.tsx
  app/client/src/sagas/selectors.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/generators.tsx
  app/client/src/utils/helpers.tsx
  app/client/src/utils/hooks/dragResizeHooks.tsx
  app/client/src/utils/hooks/useBlocksToBeDraggedOnCanvas.ts
  app/client/src/utils/hooks/useCanvasDragToScroll.ts
  app/client/src/utils/hooks/useCanvasDragging.ts
  app/client/src/utils/hooks/useClickOpenPropPane.tsx
  app/client/src/utils/hooks/usePositionedContainerZIndex.ts
  app/client/src/widgets/ContainerWidget.tsx
  app/client/src/widgets/ModalWidget.tsx
  app/client/test/factories/WidgetFactoryUtils.ts
  app/client/test/sagas.ts
  app/client/test/setup.ts
Labels: UI Building Pod

#6580 Minor shortcut change to show existing hot key
  app/client/src/pages/Editor/EditorAppName/NavigationMenuData.ts
Labels: UI Building Pod

#4989 [Feature] Page Properties
  app/client/src/actions/pageActions.tsx
  app/client/src/api/PageApi.tsx
  app/client/src/assets/icons/menu/link.svg
  app/client/src/components/ads/DraggableList.tsx
  app/client/src/components/ads/DraggableListComponent.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/IconConstants.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/icons/MenuIcons.tsx
  app/client/src/pages/Editor/EditorAppName/NavigationMenuData.ts
  app/client/src/pages/Editor/Explorer/Entity/AddButton.tsx
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageGroup.tsx
  app/client/src/pages/Editor/MainContainer.tsx
  app/client/src/pages/Editor/PagesEditor/ContextMenu.tsx
  app/client/src/pages/Editor/PagesEditor/EditName.tsx
  app/client/src/pages/Editor/PagesEditor/PageListItem.tsx
  app/client/src/pages/Editor/PagesEditor/index.tsx
  app/client/src/pages/Editor/routes.tsx
  app/client/src/reducers/entityReducers/pageListReducer.tsx
  app/client/src/sagas/PageSagas.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: QA, UI Building Pod

#5737 Feat/server side filtering multiselect
  app/client/src/components/designSystems/appsmith/MultiSelectComponent/index.tsx
  app/client/src/components/designSystems/blueprint/DropdownComponent.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/DropdownWidget.tsx
  app/client/src/widgets/MultiSelectWidget.tsx
Labels: UI Building Pod

#6134 Fix-Date type column sort in Table widget
  app/client/src/widgets/TableWidget/derived.js
Labels: UI Building Pod

#6199 Feature : Checkbox Group widget
  app/client/cypress/fixtures/newFormDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CheckboxGroup_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/cypress/locators/publishWidgetspage.json
  app/client/src/assets/icons/widget/checkbox-group.svg
  app/client/src/components/designSystems/appsmith/CheckboxGroupComponent.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/HelpConstants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/mockResponses/WidgetSidebarResponse.tsx
  app/client/src/reducers/entityReducers/widgetConfigReducer.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/CheckboxGroupWidget.tsx
  app/client/src/workers/validations.ts
Labels: UI Building Pod, new-contribution

#6532 atob Invalid CharacterError for image url
  app/client/src/workers/validations.ts
Labels: UI Building Pod

#5670 Add Tooltip box in InputBox
  app/client/cypress/fixtures/newFormDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Input_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/components/designSystems/blueprint/InputComponent.tsx
  app/client/src/constants/messages.ts
  app/client/src/globalStyles/tooltip.ts
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/widgets/InputWidget.tsx
Labels: UI Building Pod, new-contribution

#6105 added tooltip icon and hover functionality
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
  app/client/src/widgets/ButtonWidget.tsx
Labels: UI Building Pod, new-contribution

#4819 feat: Add isDisabled to Button column and isVisible to all Table widget Columns
  app/client/src/components/designSystems/appsmith/TableComponent/AutoToolTipComponent.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/Constants.ts
  app/client/src/components/designSystems/appsmith/TableComponent/TableStyledWrappers.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod, new-contribution

#6104 chart added series title
  app/client/cypress/fixtures/ChartDsl.json
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Chart_Data_point_spec.js
  app/client/src/components/designSystems/appsmith/ChartComponent.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/widgets/ChartWidget/index.tsx
Labels: UI Building Pod, new-contribution

#6588 FIX #6463 : updated condition to handle undefined values
  app/client/src/components/designSystems/appsmith/TableComponent/TableUtilities.tsx
Labels: UI Building Pod

#6662 FIX #6615 : added check for open filter pane and close if before property pane open
  app/client/src/components/designSystems/appsmith/TableComponent/CascadeFields.tsx
  app/client/src/utils/hooks/useBlocksToBeDraggedOnCanvas.ts
Labels: UI Building Pod

#6291 FIX #3123 : added csvSeparator property in table widget for csv download
  app/client/src/components/designSystems/appsmith/TableComponent/Table.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableDataDownload.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableHeader.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/index.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod

#6703 Fix: background rect width of usernames, of other realtime users (pointer sharing)
  app/client/src/pages/common/CanvasMultiPointerArena.tsx
Labels: skip-changelog

#6264 Add s3 support for generate CRUD
  .github/workflows/client-test.yml
  .github/workflows/external-client-test.yml
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/GenerateCRUDPage_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/S3_CRUDPage_Spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/locators/GeneratePage.json
  app/client/cypress/support/commands.js
  app/client/src/actions/datasourceActions.ts
  app/client/src/api/DatasourcesApi.ts
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/styles.ts
  app/client/src/pages/Editor/GeneratePage/components/GoogleSheetForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/constants.ts
  app/client/src/reducers/entityReducers/datasourceReducer.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/selectors/entitiesSelector.ts
Labels: Frontend, QA, Platform, Generate Page

#6301 Add Gsheets support for generate CRUD page
  app/client/cypress/support/commands.js
  app/client/src/actions/datasourceActions.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/api/PageApi.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GoogleSheetForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/styles.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/types.ts
  app/client/src/pages/Editor/GeneratePage/components/GoogleSheetForm.tsx
  app/client/src/pages/Editor/GeneratePage/index.tsx
  app/client/src/selectors/entitiesSelector.ts
Labels: Frontend, Platform, Generate Page

#6716 Fix: Style for documentation link in query pane
  app/client/src/assets/icons/ads/book-open-line.svg
  app/client/src/components/ads/Icon.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: skip-changelog

#6739 fixed the filter issue in table widget
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod

#6772 Commit page ui
  app/client/src/components/ads/NumberedStep.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/gitSync/Deploy/Commit.tsx
  app/client/src/pages/Editor/gitSync/components/StyledComponents.tsx
Labels: skip-changelog

#6767 Fix: Cypress tests for import application
  app/client/cypress/fixtures/application-file.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ExportApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OrganisationTests/OrgImportApplication_spec.js
  app/client/src/pages/Applications/ApplicationCard.tsx
Labels: skip-changelog

#6763 Analytics events for the comments onboarding
  app/client/src/comments/CommentsShowcaseCarousel/CommentsCarouselModal.tsx
  app/client/src/comments/CommentsShowcaseCarousel/index.tsx
  app/client/src/components/ads/ShowcaseCarousel.tsx
  app/client/src/pages/AppViewer/GlobalHotKeys.tsx
  app/client/src/pages/Editor/GlobalHotKeys.tsx
  app/client/src/pages/Editor/ToggleModeButton.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: skip-changelog

#6754 Add errorType in debugger error analytics payload for plugin execution errors
  app/client/src/actions/debuggerActions.ts
  app/client/src/api/ActionAPI.tsx
  app/client/src/entities/AppsmithConsole/index.ts
  app/client/src/sagas/ActionExecutionSagas.ts
  app/client/src/sagas/DebuggerSagas.ts
Labels: skip-changelog

#6219 [Feature] Click on widget will no longer open property pane
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Debugger/Logs_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Property_JsonUpdate_spec.js
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/pages/Editor/GlobalHotKeys.test.tsx
  app/client/src/utils/hooks/useClickToSelectWidget.tsx
  app/client/src/widgets/ModalWidget.tsx
Labels: UI Building Pod

#6692 Filepicker v2 - Don't store large files in the dataStore
  app/client/src/constants/HelpConstants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/mockResponses/WidgetSidebarResponse.tsx
  app/client/src/reducers/entityReducers/widgetConfigReducer.tsx
  app/client/src/sagas/ActionExecutionSagas.ts
  app/client/src/utils/AppsmithUtils.tsx
  app/client/src/utils/TypeHelpers.ts
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/FilepickerWidgetV2.tsx
Labels: High

#6237 menu style customization
  app/client/src/components/designSystems/appsmith/MenuButtonComponent/index.tsx
  app/client/src/components/propertyControls/BoxShadowOptionsControl.tsx
  app/client/src/components/propertyControls/ButtonBorderRadiusControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/constants/Colors.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/migrations/MenuButtonWidget.ts
  app/client/src/widgets/MenuButtonWidget.tsx
Labels: UI Building Pod, new-contribution

#6305 FIX #6193 : bind enter and tab key on color picker input to close color board
  app/client/src/components/ads/ColorPickerComponent.tsx
Labels: UI Building Pod

#6538 feat: Widget grouping Extended Features
  app/client/src/actions/canvasSelectionActions.ts
  app/client/src/actions/widgetSelectionActions.ts
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/components/editorComponents/ResizableUtils.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/pages/Editor/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/MainContainer.test.tsx
  app/client/src/pages/Editor/WidgetsEditor.tsx
  app/client/src/pages/common/CanvasSelectionArena.test.tsx
  app/client/src/pages/common/CanvasSelectionArena.tsx
  app/client/src/reducers/uiReducers/canvasSelectionReducer.ts
  app/client/src/sagas/SelectionCanvasSagas.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/hooks/useBlocksToBeDraggedOnCanvas.ts
  app/client/src/utils/hooks/useCanvasDragging.ts
  app/client/test/factories/Widgets/CanvasFactory.ts
  app/client/test/factories/Widgets/ListFactory.ts
  app/client/test/testMockedWidgets.tsx
Labels: UI Building Pod

#6670 Fix: show property pane only when respective widget is present on the DOM
  app/client/src/selectors/propertyPaneSelectors.tsx
Labels: UI Building Pod

#6052 Feat: Style customisation in the button widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Button_spec.js
  app/client/package.json
  app/client/src/components/designSystems/appsmith/FilePickerComponent.tsx
  app/client/src/components/designSystems/appsmith/IconButtonComponent.tsx
  app/client/src/components/designSystems/blueprint/ButtonComponent.tsx
  app/client/src/components/editorComponents/DropdownComponent.tsx
  app/client/src/components/editorComponents/form/fields/DynamicDropdownField.tsx
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/components/formControls/FilePickerControl.tsx
  app/client/src/components/propertyControls/BorderRadiusOptionsControl.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/pages/Editor/APIEditor/RapidApiEditorForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/widgets/ButtonWidget.tsx
  app/client/src/widgets/FormButtonWidget.tsx
  app/client/src/widgets/IconButtonWidget.tsx
  app/client/yarn.lock
Labels: UI Building Pod, new-contribution

#5704 Grouping widgets into container
  app/client/src/actions/widgetActions.tsx
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/entities/Widget/utils.ts
  app/client/src/pages/Editor/Explorer/Widgets/useNavigateToWidget.ts
  app/client/src/pages/Editor/GlobalHotKeys.tsx
  app/client/src/pages/Editor/WidgetsEditor.tsx
  app/client/src/pages/Editor/WidgetsMultiSelectBox.tsx
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/helpers.tsx
  app/client/src/utils/storage.ts
Labels: QA, UI Building Pod

#6834 fix: Generate Page using Empty Table error
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
Labels: Platform, Task, Generate Page

#6669 fix: load main container without waiting for evaluations to complete.
  app/client/src/selectors/editorSelectors.tsx
Labels: UI Building Pod

#6836 feat: add merge page ui
  app/client/src/assets/icons/ads/arrow-left-1.svg
  app/client/src/assets/icons/ads/git-merge.svg
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/Merge.tsx
Labels: skip-changelog

#6866 fix: Restrict e as input for table header index
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GoogleSheetForm.tsx
Labels: Frontend, QA, Platform, Generate Page

#6068 Table sort column APIs
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_InputWidget_Table_Sorting_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Copy_Paste_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Multiple_Widgets_spec.js
  app/client/src/components/designSystems/appsmith/TableComponent/Constants.ts
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/TableWidgetConstants.ts
  app/client/src/widgets/TableWidget/derived.js
  app/client/src/widgets/TableWidget/derived.test.js
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod

#6677 Fix/select widget placeholder
  app/client/src/components/designSystems/appsmith/MultiSelectComponent/index.styled.tsx
  app/client/src/components/designSystems/blueprint/DropdownComponent.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/widgets/DropdownWidget.tsx
Labels: UI Building Pod

#6196 FIX #4955 : updated page count on enter key press
  app/client/src/components/designSystems/appsmith/TableComponent/TableHeader.tsx
Labels: UI Building Pod

#6789 Fix: RTE crash on defaultText change
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: UI Building Pod, hotfix

#5930 Table widget: default selected row, 0th
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/widgets/TableWidget/TableWidgetConstants.ts
Labels: UI Building Pod, new-contribution

#5552 fix: Configure table data rows count
  app/client/cypress/fixtures/navigateTotabledsl.json
  app/client/cypress/fixtures/tableTextPaginationDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_TableTextPagination_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Copy_Paste_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Multiple_Widgets_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/components/designSystems/appsmith/TableComponent/Table.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableHeader.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/index.tsx
  app/client/src/mockResponses/WidgetConfigResponse.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyHelpLabel.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/TableWidget/TablePropertyPaneConfig.ts
  app/client/src/widgets/TableWidget/TableWidgetConstants.ts
  app/client/src/widgets/TableWidget/index.tsx
Labels: UI Building Pod, new-contribution

#6940 fix: cell wrapper
  app/client/src/components/designSystems/appsmith/TableComponent/TableFilterPaneContent.tsx
  app/client/src/components/designSystems/appsmith/TableComponent/TableStyledWrappers.tsx
Labels: UI Building Pod

#6955 feat: show relationships mapping in api/query pane as soon as user makes a binding
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: skip-changelog

#6211 Fix #5319: Break word when text widget content is long
  app/client/src/components/designSystems/blueprint/TextComponent.tsx
Labels: UI Building Pod, Stale

#6908 feat: Add fillOptions prop to dropdown
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/GeneratePage/components/DataSourceOption.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings/index.tsx
Labels: Enhancement

#6719 fix: datepicker critical issue
  app/client/package.json
  app/client/yarn.lock
Labels: UI Building Pod

#6984 fix: label text casing
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GoogleSheetForm.tsx
Labels: Platform, Generate Page
