Repository appsmithorg/appsmith, pull requests merged in 2021-11, with the labels that each got.

#8803 fix: API Editor bug fixes
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/ConfirmRunAction_spec.js
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/APIEditor/Form.tsx
  app/client/src/pages/Editor/ConfirmRunModal.tsx
  app/client/src/reducers/uiReducers/queryPaneReducer.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug

#8818 fix: Update admin settings API for changes in UI
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvManager.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserSignup.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/UserSignupTest.java
Labels: Bug, skip-changelog

#8698 fix: [Bugfix] Delete comments when unpublished page is deleted
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/AbstractCommentDomain.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/CommentMode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/CommentThreadFilterDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/PolicyUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomCommentThreadRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomCommentThreadRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CommentServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomCommentThreadRepositoryImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
Labels: Bug

#8860 feat: [Feature] Add slug for applications and pages
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/TextUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/NewPageServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/TextUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
Labels: Enhancement

#8450 fix: [Bug]Audio option hidden on edit mode
  app/client/src/widgets/AudioWidget/component/index.tsx
Labels: hacktoberfest

#8945 chore: Comment super user cypress test
  app/client/cypress/setup-test.sh
  app/client/cypress/support/index.js
Labels: skip-changelog

#8914 chore: Fixing typo in tooltip for Map widget property
  app/client/src/widgets/MapWidget/widget/index.tsx
Labels: App Viewers Pod, skip-changelog

#8498 fix: design audit input widget
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/designSystems/appsmith/SearchComponent.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/widgets/InputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/InputWidget/component/ISDCodeDropdown.tsx
  app/client/src/widgets/InputWidget/component/index.tsx
  app/client/src/widgets/InputWidget/index.ts
  app/client/src/widgets/InputWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#8562 feat: Updates widget default state
  app/client/cypress/fixtures/audioWidgetDsl.json
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/fixtures/videoWidgetDsl.json
  app/client/src/comments/dsl.json
  app/client/src/utils/WidgetPropsUtils.test.tsx
  app/client/src/utils/validation/common.ts
  app/client/src/widgets/AudioWidget/index.tsx
  app/client/src/widgets/AudioWidget/widget/index.tsx
  app/client/src/widgets/IframeWidget/index.ts
  app/client/src/widgets/IframeWidget/widget/index.tsx
  app/client/src/widgets/ListWidget/index.ts
  app/client/src/widgets/VideoWidget/index.ts
  app/client/src/widgets/VideoWidget/widget/index.tsx
  app/client/src/workers/validations.test.ts
  app/client/test/factories/Widgets/VideoFactory.ts
Labels: Stale

#8893 fix: Property pane draggable field design fix
  app/client/src/components/propertyControls/MenuItemsControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/components/propertyControls/TabControl.tsx
Labels: Bug

#8908 fix: 8727 - added module of real time sharing icon tile when sharing user
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/orgConstants.ts
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/common/SharedUserList.tsx
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/sagas/userSagas.tsx
Labels: Bug

#8946 test: Added suitable wait
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#8957 chore: Expose Sentry object globally
  app/client/src/configs/index.ts
  app/client/src/utils/AppsmithUtils.tsx
Labels: skip-changelog

#8618 fix: added try catch in where key handling
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_spec.js
  app/client/src/pages/Editor/SaaSEditor/ActionForm.tsx
Labels: Bug

#8759 feat: new tooltip, updated cypress tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Button_tooltip_spec.js
  app/client/src/widgets/ButtonWidget/component/index.tsx
Labels: Enhancement, App Viewers Pod, UI Building Pod

#8856 feat: [Feature] Add API to send test email
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvManager.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
Labels: Enhancement

#8616 feat: [Feature] Add `isConfigurable` property in profile response for the super admins
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserProfileDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
Labels: Enhancement

#8895 fix: application name overflowing
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/EditableTextSubComponent.tsx
  app/client/src/pages/Editor/EditorAppName/EditableAppName.tsx
Labels: Bug

#8617 feat: Extract references in code with AST
  app/client/package.json
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/widgets/InputWidget/widget/index.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/ast.test.ts
  app/client/src/workers/ast.ts
  app/client/src/workers/constants.ts
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/lint.ts
  app/client/yarn.lock
Labels: Enhancement

#8987 fix: Make organization plugins unique
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/OrganizationPlugin.java
Labels: Bug

#8993 chore: Adding evaluation version in application for new evaluation logic.
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ApplicationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
Labels: skip-changelog

#8676 fix: lint position is incorrect
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
Labels: Bug

#8140 fix: Enhance sort icon layout in Table
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidget/component/TableUtilities.tsx
Labels: Bug, UI Building Pod, Stale

#8829 feat: remove region requirement from s3 plugin
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/constants/AmazonS3Action.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/DatasourceUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/list.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/form.json
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Enhancement

#8837 fix: selectedRows issues
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyUtils.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#8892 fix: git merge
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
Labels: Bug

#9005 chore: update gitsync switch branches tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Comments_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/SwitchBranches_spec.js
  app/client/cypress/locators/gitSyncLocators.js
  app/client/cypress/support/commands.js
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/reducers/entityReducers/pageListReducer.tsx
Labels: skip-changelog

#8564 chore: Config changes
  app/client/.babelrc
  app/client/.eslintrc.json
  app/client/package.json
  app/client/src/components/ads/FilePicker.tsx
  app/client/src/components/ads/Radio.tsx
  app/client/src/components/ads/Toast.tsx
  app/client/src/components/editorComponents/ErrorBoundry.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/BatchSagas.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/JSActionSagas.ts
  app/client/src/sagas/WidgetBlueprintSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/WidgetFactory.tsx
  app/client/src/utils/localStorage.tsx
  app/client/src/widgets/TableWidget/widget/derived.js
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/validations.ts
  app/client/yarn.lock
Labels: skip-changelog

#8816 fix: member setting page issues
  app/client/src/components/ads/DialogComponent.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/Text.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/pages/organization/DeleteConfirmationModal.tsx
  app/client/src/pages/organization/Members.tsx
Labels: Bug

#8954 fix: paste before copy resulted in value being undefined
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/utils/storage.ts
Labels: Bug, UI Builders Pod

#8680 fix: theme updated with new variant keys
  app/client/src/components/designSystems/appsmith/BaseButton.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/TableWidget/component/components/menuButtonTableComponent.tsx
  app/client/src/widgets/WidgetUtils.test.ts
  app/client/src/widgets/WidgetUtils.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#8901 fix: incorrect icon being used for chevron-right
  app/client/src/components/ads/Icon.tsx
  app/client/src/pages/AppViewer/viewer/PageTabsContainer.tsx
Labels: Bug

#8821 fix: merged parsing and eval flow
  app/client/src/actions/evaluationActions.ts
  app/client/src/actions/jsPaneActions.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeJSAction.ts
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/reducers/uiReducers/jsPaneReducer.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug

#8942 fix: List Widget shows cyclic dependency error when children widgets with bindings in action are deleted
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Bug

#9034 fix: Add global functions to autocompletion for widgets
  app/client/src/utils/autocomplete/TernServer.ts
Labels: Bug

#8955 fix: toast width to fit-content
  app/client/src/components/ads/Toast.tsx
  app/client/src/index.css
Labels: Bug, UI Builders Pod

#8986 fix: Added support for multiple files in multipart REST
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/helpers/DataUtils.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/helpers/DataUtilsTest.java
Labels: Bug

#7387 fix: disable sorting in view mode
  app/client/cypress/fixtures/tableWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidget/component/Table.tsx
  app/client/src/widgets/TableWidget/component/TableUtilities.tsx
  app/client/src/widgets/TableWidget/component/index.tsx
  app/client/src/widgets/TableWidget/constants.ts
  app/client/src/widgets/TableWidget/index.ts
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod, UI Building Pod, Stale

#8992 feat: Provide option to send test email to test out email configurati…
  app/client/src/api/UserApi.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/constants/userConstants.ts
  app/client/src/pages/Settings/SettingsConfig.ts
  app/client/src/pages/Settings/WithSuperUserHoc.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
  app/client/src/sagas/SuperUserSagas.tsx
Labels: Enhancement

#9043 fix: Unable to group widgets
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetGrouping/WidgetGrouping_spec.js
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Bug, UI Builders Pod

#9007 fix: 8956 connection and deploy v2
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/assets/svg/loader-2-fill.svg
  app/client/src/components/ads/Statusbar.tsx
  app/client/src/components/ads/Text.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/GeneratePage/components/CrudInfoModal.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/pages/Editor/gitSync/components/GitError.tsx
  app/client/src/pages/Editor/gitSync/components/StatusLoader.tsx
  app/client/src/pages/Editor/gitSync/components/Statusbar.tsx
  app/client/src/pages/Editor/gitSync/constants.ts
  app/client/src/pages/Editor/gitSync/hooks.ts
  app/client/src/pages/common/SpinnerLoader.tsx
  app/client/src/pages/common/SuccessTick.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug, skip-changelog

#9046 fix: dropdown subtext alignment
  app/client/src/components/ads/Dropdown.tsx
Labels: Bug

#9001 test: Disable status check for deleteApp step after each test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/List_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#8827 feat: checkout remote branch
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/GitController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitCheckoutBranchDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement

#9021 fix: Add support for content type in create file for S3 plugin
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/MultipartFormDataDTO.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/helpers/DataUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Bug

#9057 fix: set max-width for Toast message
  app/client/src/components/ads/Toast.tsx
  app/client/src/utils/replayHelpers.tsx
Labels: Bug, UI Builders Pod

#8796 fix: evaluation of escaped characters
  app/client/src/api/ApplicationApi.tsx
  app/client/src/configs/index.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Bug

#9072 fix: Updated Template for S3 to support content type changes
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: Bug

#9035 fix: app is publicly accessible event if it's not public
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
Labels: Bug

#8490 feat: 5706 new where clause component
  app/client/src/components/editorComponents/form/fields/DropdownField.tsx
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/components/formControls/WhereClauseControl.tsx
  app/client/src/components/formControls/utils.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/utils/FormControlRegistry.tsx
Labels: Enhancement

#8755 fix: Disallows entity name to be any extra library name
  app/client/cypress/support/commands.js
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/pages/Editor/DataSourceEditor/FormTitle.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/sagas/PageSagas.tsx
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/utils/helpers.tsx
Labels: Bug, App Viewers Pod

#7337 feat: create button group widget
  app/client/src/assets/icons/widget/button-group.svg
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
  app/client/src/widgets/ButtonGroupWidget/constants.ts
  app/client/src/widgets/ButtonGroupWidget/icon.svg
  app/client/src/widgets/ButtonGroupWidget/index.ts
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, UI Building Pod, Stale

#9097 feat: git branch list updates
  app/client/src/components/ads/Icon.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/GitSync.ts
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/CreateNewBranchForm.tsx
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Enhancement

#9040 fix: added beta icon for js editor
  app/client/src/assets/icons/menu/beta.svg
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionGroup.tsx
Labels: Bug

#9103 ci: Remove unused package for DP step
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#8950 fix: 8543 added disabled flag support in icon button table widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
  app/client/src/widgets/TableWidget/component/TableUtilities.tsx
  app/client/src/widgets/TableWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#8984 fix: application edit date is updated when an user is added or remove…
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationService.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug

#9108 fix: Add support for dynamic bindings in Google Sheets URL field
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor.json
Labels: Bug

#8868 fix: The value is always empty object in AudioRecorder Widget
  app/client/src/utils/AppsmithUtils.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/AudioRecorderWidget/component/index.tsx
  app/client/src/widgets/AudioRecorderWidget/constants.ts
  app/client/src/widgets/AudioRecorderWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#8504 feat: design updates as per figma for checkbox and radio button widget
  app/client/src/constants/Colors.tsx
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/index.ts
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/src/widgets/CheckboxWidget/index.ts
  app/client/src/widgets/RadioGroupWidget/component/index.tsx
  app/client/src/widgets/RadioGroupWidget/index.ts
Labels: Enhancement, App Viewers Pod, UI Building Pod

#9082 fix: Updating the MS-SQL select query template to use TOP instead of LIMIT since LIMIT is not supported in the same.
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/templates/SELECT.sql
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
Labels: Bug

#9074 chore: Enabling JS editor for all users
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog

#8496 feat: Spellcheck property for the input widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Input_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/widgets/InputWidget/component/index.tsx
  app/client/src/widgets/InputWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, UI Building Pod, Stale

#8921 docs: Updated appsmith_events.md and SECURITY.md
  SECURITY.md
  appsmith_events.md
Labels: skip-changelog, Stale

#9118 feat: git pull bottom bar
  .github/workflows/test-build-docker-image.yml
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/assets/icons/menu/beta.svg
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/GitSync.ts
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionGroup.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/JSActionSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Enhancement

#8979 fix: null check in Table widget
  app/client/src/utils/migrations/TableWidget.test.ts
  app/client/src/utils/migrations/TableWidget.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#9030 feat: handle error messages for merge action
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/MergeStatusDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/GitController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitMergeDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitPullDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/GitExecutorTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement

#9124 feat: Added Smart substitution support for S3
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
Labels: Enhancement

#9112 fix: Fix sessions being cleared after fat container is restarted
  deploy/docker/entrypoint.sh
Labels: Bug

#8731 feat: unified style for disabled widgets
  app/client/src/constants/Colors.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/widgets/AudioRecorderWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/DropdownWidget/component/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/InputWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.styled.tsx
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/TableWidget/component/TableHeader.tsx
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
Labels: Enhancement, UI Building Pod, UI Builders Pod

#9166 fix: add migration for application going public event it has isPublic…
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Bug

#9167 fix: redirect anonymous users to login page if they visit non public app
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OrganisationTests/ShareAppTests_spec.js
  app/client/src/sagas/ApplicationSagas.tsx
Labels: Bug

#9174 fix: this is undefined in js editor
  app/client/src/entities/DataTree/dataTreeJSAction.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug

#9029 fix: clearInterval action creator adds argument in the wrong slot
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/setInterval_spec.js
  app/client/cypress/support/commands.js
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/components/editorComponents/ActionCreator/index.tsx
Labels: Bug

#8594 fix: Update designs for select widgets according to Figma
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Multi_Select_Tree_spec.js
  app/client/cypress/support/commands.js
  app/client/src/assets/icons/ads/dropdown.svg
  app/client/src/components/ads/Icon.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/widgets/DropdownWidget/component/index.styled.tsx
  app/client/src/widgets/DropdownWidget/component/index.tsx
  app/client/src/widgets/DropdownWidget/index.ts
  app/client/src/widgets/DropdownWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/index.ts
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidget/index.ts
  app/client/src/widgets/MultiSelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/index.ts
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#8981 fix: correctly update dynamic binding pathlist
  app/client/src/sagas/ActionSagas.ts
  app/client/src/utils/DynamicBindingUtils.test.ts
  app/client/src/utils/DynamicBindingUtils.ts
Labels: Bug

#9172 fix: Added selector for drop down component, increased width
  app/client/src/components/formControls/FieldArrayControl.tsx
Labels: Bug

#8947 test: Fix super user signup form cypress test
  app/client/cypress/setup-test.sh
  app/client/cypress/support/index.js
Labels: skip-changelog, Test

#9052 feat: progress, loading and error states for git flows, pull button and minor misc changes
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/GitSync.ts
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/pages/Editor/gitSync/components/DeployedKeyUI.tsx
  app/client/src/pages/Editor/gitSync/components/GitChanged.tsx
  app/client/src/pages/Editor/gitSync/components/GitSyncError.tsx
  app/client/src/pages/Editor/gitSync/components/MergeStatus.tsx
  app/client/src/pages/Editor/gitSync/components/StyledComponents.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings/index.tsx
  app/client/src/pages/Editor/gitSync/hooks.ts
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/JSActionSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
  app/client/src/widgets/RateWidget/index.ts
Labels: Enhancement

#8039 feat: add liveness Probe to backend deployment manifest
  deploy/k8s/templates/backend-template.yaml
Labels: hacktoberfest, Stale

#8948 fix: 8537 submenu color when disabled
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/widgets/TableWidget/component/components/menuButtonTableComponent.tsx
Labels: Bug, App Viewers Pod

#8733 fix: #8528 Added default Icon column
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_PropertyPane_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod

#9013 fix: Edit icon in API editor and toggle transition issue
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Entity_Naming_conflict_spec.js
  app/client/cypress/support/commands.js
  app/client/src/components/ads/EditableTextSubComponent.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/ads/Toggle.tsx
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/components/editorComponents/ErrorTooltip.tsx
  app/client/src/pages/Editor/APIEditor/Form.tsx
Labels: Bug

#9120 test: updated createModal util
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_JSObject_List_Widget_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
Labels: skip-changelog, Test

#9213 fix: Second time file upload is failing in S3 crud page
  app/client/src/widgets/ListWidget/widget/derived.js
Labels: Bug

#9191 fix: Widget property eval substitution type was not correct
  app/client/cypress/fixtures/tableAndChart.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/SmartSubstitutionWidgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/autocomplete_spec.js
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/entities/Widget/utils.ts
Labels: Bug

#9171 test: first time user onboarding cypress tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/FirstTimeUserOnboarding_spec.js
  app/client/cypress/locators/FirstTimeUserOnboarding.json
  app/client/cypress/support/index.js
  app/client/src/pages/Editor/DataSourceEditor/BackButton.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Checklist.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Tasks.tsx
  app/client/src/pages/Editor/WidgetSidebar.tsx
Labels: skip-changelog, Test

#9214 test: updated getUser route
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
Labels: skip-changelog, Test

#9183 fix: git sync minor fixes
  app/client/src/actions/gitSyncActions.ts
  app/client/src/comments/utils.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/GitSync.ts
  app/client/src/notifications/NotificationListItem.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/GitChanged.tsx
  app/client/src/pages/Editor/gitSync/components/GitErrorPopup.tsx
  app/client/src/pages/Editor/gitSync/components/InfoWrapper.tsx
  app/client/src/pages/Editor/gitSync/components/Link.tsx
  app/client/src/pages/Editor/gitSync/components/MergeStatus.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug

#8206 fix: Unable to drag disabled button
  app/client/cypress/fixtures/disabledWidgetsDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Disabled_Widgets_drag_validation_spec.js
  app/client/cypress/support/index.js
  app/client/package.json
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/yarn.lock
Labels: Bug, App Viewers Pod, UI Building Pod

#8982 fix: table sorting with null values
  app/client/src/widgets/TableWidget/widget/derived.js
  app/client/src/widgets/TableWidget/widget/derived.test.js
Labels: Bug

#9081 test: Intercept/Real DB for Mongo, MySQL & QueryPane with CRUD flow for Postgres & Mongo
  app/client/cypress.env.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_JSObject_Postgress_Table_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/MsSQL_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/MySQL_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/S3_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/QueryPaneTests/SwitchDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_Datasource_Structure_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidgetTableAndBind_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/ConfirmRunAction_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/MongoDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/PostgreDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/PostgresCRUDOps_spec.js
  app/client/cypress/locators/GeneratePage.json
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/locators/explorerlocators.json
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#9247 ci: Upload server logs if Cypress tests fail
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#9179 fix: [Fix] Set user email to lowercase before creating the user and in reset password
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: Bug

#9246 fix: Modified multipart logic to avoid exception handling
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/create.json
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/helpers/DataUtils.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug

#9104 chore: Let the server start automatically on boot
  deploy/aws_ami/docker-compose.yml
Labels: skip-changelog, Stale

#9242 fix: updated condition select widget
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#9254 fix: Add null check for unpublished collections in view mode
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ActionCollectionServiceImpl.java
Labels: Bug

#9232 fix: handled component update value logic
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#8994 chore: Fixes fat container welcome message for email
  app/client/src/constants/messages.ts
Labels: skip-changelog

#9139 test: PgAdminApp Intial
  app/client/cypress/fixtures/PgAdmindsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/PgAdmin_spec.js
  app/client/cypress/locators/PgAdminlocators.json
Labels: skip-changelog, Test

#8962 fix: Show invite option for substring user emails of other shared users
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Comments/AddComments_spec.js
  app/client/cypress/locators/commentsLocators.json
  app/client/src/comments/inlineComments/AddCommentInput.tsx
Labels: Bug

#9020 feat: product update modal v2
  app/client/src/components/ads/CopyToClipBoard.tsx
  app/client/src/components/ads/DialogComponent.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/pages/AppViewer/viewer/AppViewerHeader.tsx
  app/client/src/pages/Applications/ProductUpdatesModal/ReleaseComponent.tsx
  app/client/src/pages/Applications/ProductUpdatesModal/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/organization/AppInviteUsersForm.tsx
  app/client/src/pages/organization/OrgInviteUsersForm.tsx
Labels: Enhancement

#8425 fix: Date picker must exit on pressing esc key when 'close on selecting' is turned off
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
Labels: Enhancement, App Viewers Pod, UI Building Pod

#9275 test: Change number of jobs to 24
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#9283 fix: editor undefined bug
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug

#9239 fix: issues with key / column ID in QueryEditor
  app/client/src/pages/Editor/QueryEditor/Table.tsx
  app/client/src/pages/Editor/__tests__/QueryEditorTable.test.tsx
Labels: Bug, App Viewers Pod

#8922 feat: Config for editor program run script instead of nginx
  deploy/docker/entrypoint.sh
  deploy/docker/scripts/init_ssl_cert.sh
  deploy/docker/scripts/run-nginx.sh
  deploy/docker/templates/supervisord/application_process/editor.conf
Labels: Stale

#8770 fix: #4758 added EvaluatedValuePopup over PrimaryColumnsControl to show errors and handled duplicate column name
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Duplicate_ColumnName_spec.js
  app/client/src/components/ads/DraggableListComponent.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidget/widget/propertyUtils.ts
Labels: Bug, App Viewers Pod

#8734 fix: #5980 added clear all filters button and close filter pane button
  app/client/src/constants/Colors.tsx
  app/client/src/widgets/TableWidget/component/TableFilterPane.tsx
  app/client/src/widgets/TableWidget/component/TableFilterPaneContent.tsx
Labels: Bug, App Viewers Pod

#9259 fix: added muted flag and updated helper text
  app/client/src/widgets/VideoWidget/component/index.tsx
  app/client/src/widgets/VideoWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#8664 fix: Table Widget Icon Button should be having a default variant
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidget/widget/propertyUtils.ts
Labels: Bug, App Viewers Pod, Stale

#9169 fix: properly update dependency map
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluation.test.ts
Labels: Bug

#9228 fix: minor git sync fixes
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
Labels: Bug

#9323 fix: Hide scrollbar in header and show when user hovers over header in Table Widget
  app/client/src/widgets/TableWidget/component/Table.tsx
  app/client/src/widgets/TableWidget/index.ts
Labels: Bug, App Viewers Pod, UI Builders Pod

#9318 fix: Button size inside the Table widget has increased + Property pane's panel not scrollable + Alignment issues
  app/client/src/comments/CommentThread/CommentThread.tsx
  app/client/src/components/editorComponents/Button.tsx
  app/client/src/components/editorComponents/GlobalSearch/SnippetRefinements.tsx
  app/client/src/components/editorComponents/GlobalSearch/SnippetsFilter.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/GeneratePage/components/DataSourceOption.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/PropertyPane/PanelPropertiesEditor.tsx
  app/client/src/pages/common/CanvasSelectionArena.tsx
  app/client/src/pages/common/PageNotFound.tsx
  app/client/src/widgets/IframeWidget/component/index.tsx
Labels: Bug

#9325 fix: Load env variables at start of backend and rts
  deploy/docker/scripts/run-nginx.sh
  deploy/docker/scripts/run-with-env.sh
  deploy/docker/templates/supervisord/application_process/backend.conf
  deploy/docker/templates/supervisord/application_process/editor.conf
  deploy/docker/templates/supervisord/application_process/rts.conf
Labels: Bug

#9271 test: updated locators
  app/client/cypress.json
  app/client/cypress/fixtures/tableNewDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
Labels: skip-changelog, Test

#9142 feat: Trigger framework with default implementation for entity selector for UQI
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ClientDataDisplayType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/TriggerRequestDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/TriggerRequestType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/TriggerResultDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/DatasourceController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceStructureSolution.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceTriggerSolution.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/MockPluginExecutor.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceTriggerSolutionTest.java
Labels: Enhancement

#8983 feat: Refactor AMI to use new Docker image
  deploy/aws_ami/base-install.sh
  deploy/aws_ami/configure-ssl.sh
  deploy/aws_ami/first-time-setup.sh
  deploy/aws_ami/init-letsencrypt.sh
Labels: Stale

#9303 fix: radio group widget crash when one of options becomes null
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#9366 fix: Mute action execution errors when error callback is present
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/Error_handling_spec.js
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionExecution/errorUtils.ts
Labels: Bug, community

#9293 fix: Add escaping special characters before JSON.parse
  app/client/.eslintrc.json
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/widgets/WidgetUtils.test.ts
  app/client/src/widgets/WidgetUtils.ts
Labels: Bug, FE Coders Pod

#9215 fix: fixing missing where key
  app/client/src/pages/Editor/SaaSEditor/ActionForm.tsx
  app/client/src/pages/Editor/SaaSEditor/__data__/FinalState.json
  app/client/src/pages/Editor/SaaSEditor/__data__/InitialState.json
  app/client/src/pages/Editor/SaaSEditor/__tests__/ActionForm.test.js
  app/client/src/sagas/ActionSagas.ts
  app/client/src/utils/getPathAndValueFromActionDiffObject.ts
Labels: Bug

#9387 test: Ignoring Flaky test
  app/client/cypress.json
Labels: skip-changelog, Test

#9304 fix: improve styled for button list in property
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#9297 fix: update tooltip record count prop table
  app/client/src/constants/messages.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.test.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug

#9373 fix: Publish the helm chart
  appsmith-1.3.0.tgz
  index.yaml
Labels: Bug

#9353 fix: Alignment of point numbers in welcome pages
  app/client/src/pages/setup/DataCollectionForm.tsx
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/NewsletterForm.tsx
  app/client/src/pages/setup/common.tsx
Labels: Bug

#9296 fix: Don't remove bindings when transfering action out of page
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_all_sidebar_actions_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiPaneTests/Api_Marketplace_spec.js
  app/client/cypress/support/commands.js
  app/client/src/sagas/ActionSagas.ts
  app/client/src/utils/DynamicBindingUtils.ts
Labels: Bug

#9385 fix(promise-errors): Correcting the throwing error to logging error for promisified triggers
  app/client/src/sagas/ActionExecution/PromiseActionSaga.ts
Labels: Bug, Critical

#9278 test: S3 QueryPane scripting along with possible CRUD flow coverage
  app/client/cypress/fixtures/snippingTableDsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/PgAdmin_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/FirstTimeUserOnboarding_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/locators/GeneratePage.json
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#9356 fix: Evaluation issue with Button in table Widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Duplicate_ColumnName_spec.js
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod

#9388 test: updated test flow
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_GeneralProperty_spec.js
Labels: skip-changelog, Test

#9364 fix: Google Sheet Plugin Numeric inputs Whitespace issue.
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/MethodConfig.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/MethodConfigTest.java
Labels: Bug

#9195 fix: MenuItem overflow
  app/client/src/components/ads/TreeDropdown.tsx
Labels: Bug, UI Builders Pod

#9418 fix: Add default props dependency in dependency map
  app/client/src/workers/DataTreeEvaluator.ts
Labels: Bug, FE Coders Pod

#8775 fix: #8530 Added Config for Menu JS Convertible
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/yarn.lock
Labels: Bug, App Viewers Pod

#7666 feat: add document viewer widget
  app/client/cypress/fixtures/DocumentViewerDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/DocumentViewer_spec.js
  app/client/jest.config.js
  app/client/package.json
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/widgets/DocumentViewerWidget/component/DocViewer.tsx
  app/client/src/widgets/DocumentViewerWidget/component/XlsxViewer.tsx
  app/client/src/widgets/DocumentViewerWidget/component/index.test.tsx
  app/client/src/widgets/DocumentViewerWidget/component/index.tsx
  app/client/src/widgets/DocumentViewerWidget/constants.ts
  app/client/src/widgets/DocumentViewerWidget/icon.svg
  app/client/src/widgets/DocumentViewerWidget/index.ts
  app/client/src/widgets/DocumentViewerWidget/widget/index.test.tsx
  app/client/src/widgets/DocumentViewerWidget/widget/index.tsx
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, UI Building Pod

#9313 test: PgAdminFix
  app/client/cypress/integration/Smoke_TestSuite/Application/PgAdmin_spec.js
Labels: skip-changelog, Test

#9420 test: testcases for content management system app using echo api
  app/client/cypress/fixtures/CMSdsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/EchoApiCMS_spec.js
  app/client/cypress/locators/CMSApplocators.json
Labels: skip-changelog, Test

#9415 fix: Show correct toast type options in debugger
  app/client/src/components/ads/Toast.tsx
  app/client/src/components/ads/common.tsx
  app/client/src/sagas/ActionExecution/ShowAlertActionSaga.ts
Labels: Bug

#9416 fix: Properly save JSON to clipboard
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
Labels: Bug

#9017 feat: [Feature] Show recently accessed apps first
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomApplicationRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomApplicationRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomUserDataRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomUserDataRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/NewPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserOrganizationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ApplicationFetcher.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/CollectionUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomApplicationRepositoryImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomUserDataRepositoryImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserOrganizationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherUnitTest.java
Labels: Enhancement

#7694 fix: missing number of queries in active datasource
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActiveDatasource/ActiveDatasource.spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/commands.js
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/selectors/entitiesSelector.ts
Labels: Bug

#7499 fix: popups same width as parent
  app/client/cypress/fixtures/widgetPopupDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Widget_Popup_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/cypress/locators/Widgets.json
  app/client/src/components/ads/EmojiReactions.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/components/editorComponents/Debugger/DebugCTA.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/DropdownWidget/component/index.tsx
  app/client/src/widgets/DropdownWidget/widget/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/component/components/menuButtonTableComponent.tsx
  app/client/src/widgets/WidgetUtils.ts
  app/client/src/widgets/constants.ts
  app/client/test/factories/Widgets/ImageFactory.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#9448 test: updated filter tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Filter_spec.js
  app/client/cypress/locators/publishWidgetspage.json
  app/client/cypress/plugins/index.js
  app/client/cypress/support/commands.js
  app/client/package.json
Labels: skip-changelog, Test

#9177 chore: Update Validations
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: skip-changelog

#9335 fix: Send unsupported message when trying to test SaaS integrations
  app/server/appsmith-plugins/saasPlugin/src/main/java/com/external/plugins/SaasPlugin.java
Labels: Bug
