Repository appsmithorg/appsmith, pull requests merged in 2021-02, with the labels that each got.

#2781 Allow for navigateTo urls to be of `mailto` or `tel` url schemes t
  app/client/src/sagas/ActionExecutionSagas.ts
Labels: Enhancement

#2782 Migrate renamed canvas widgets to the correct name
  app/client/src/utils/WidgetPropsUtils.tsx
Labels: Bug

#2960 Fix input's onSubmit action being triggered if its validation is failing
  app/client/src/widgets/InputWidget.tsx
Labels: Bug, community

#2983 Add QUERY_DYNAMIC_INPUT_TEXT control
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/utils/FormControlRegistry.tsx
Labels: Needs Tests

#3142 Fix action subtree evaluation
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, Critical
