Repository appsmithorg/appsmith, pull requests merged in 2022-10, with the labels that each got.

#17210 chore: minor refactor get datasource from action
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: skip-changelog, Team Managers Pod, Test Plan Approved

#17245 chore: Refactored `validCreateWorkspaceTest` test case to ensure EE test case scenario also passed by moving away from absolute assertions to containsAll way of expression
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: skip-changelog, Team Managers Pod

#17247 chore: Permission Group Service minor refactor
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
Labels: Team Managers Pod, RBAC

#16973 ci: Add retry for fat container
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Stale, CI, Test Plan Approved

#17254 ci: Fix ci download dup
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#17266 fix: Fix updating wrong workspace
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: Bug, Skip Docs, Test Plan Approved

#17264 test: Script updates for flaky tests to unblock CI
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/Json_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
Labels: skip-changelog, Test Plan Approved, Test

#17259 fix: Handle retaining of selected role in the dropdown
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
Labels: Bug, Needs Triaging, Team Managers Pod, medium, RBAC

#11426 fix: sandboxed iFrames with srcDoc
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Iframe/Iframe_spec.js
  app/client/docker/templates/nginx-app-http.conf.template
  app/client/docker/templates/nginx-app-https.conf.template
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/widgets/IframeWidget/component/index.tsx
  app/client/start-https.sh
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/EnvVariables.java
  deploy/docker/scripts/run-nginx.sh
  deploy/helm/values.yaml
  deploy/template/docker.env.sh
Labels: Bug, App Viewers Pod, iFrame, DevOps Pod

#17017 feat: Implement data type handling in MySQL (#16621)
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datatypes/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datatypes/MySQL_false_Spec.ts
  app/client/cypress/support/Objects/mySqlData.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/SmartSubstitutionInterface.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/datatypes/MySQLSpecificDataTypes.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Bug, Enhancement, Needs Triaging, MySQL, Task, BE Coders Pod, Postgres, Test Plan Approved, Datatype issue, Data Platform Pod, Integrations Pod

#17006 fix: select widget search improvement
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Select/select_Widget_Bug_spec.js
  app/client/src/widgets/JSONFormWidget/fields/SelectField.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SelectWidget/constants.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Select Widget, App Viewers Pod, High

#17014 chore: Extract views into their own components
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/KeyValueView/index.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/SelectorView/SelectorView.test.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/SelectorView/index.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/TabView/TabView.test.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/TabView/index.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/TextView/TextView.test.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/TextView/index.tsx
Labels: skip-changelog, FE Coders Pod, JS Usability, Code Refactoring, Test Plan Approved, Framework Functions

#17261 fix: scenario where unselecting the first page and importing fails
  app/client/src/sagas/TemplatesSagas.ts
Labels: Bug, High, Needs Triaging, Release Blocker, New Developers Pod, Templates

#17290 chore: Remove the unnecessary error log from the derived property function
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Table Widget, App Viewers Pod, Needs Triaging, skip-changelog, Table Widget V2

#17175 fix: Default value of input's text is undefined
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
Labels: Bug, Input Widget, App Viewers Pod, medium

#17249 fix: Fix error toast messages displayed when an action is cancelled on pag…
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, Needs Design, Needs Triaging, Mongo, BE Coders Pod, Data Platform Pod, Integrations Pod, Query Settings

#17195 fix: Use proxy for access token requests
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CustomAccessTokenResponseClient.java
Labels: Bug, Needs Triaging

#17202 feat: Migrate DraggableListCard and DraggableListComponent from ads
  app/client/src/components/ads/index.ts
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/components/propertyControls/DraggableListCard.tsx
  app/client/src/components/propertyControls/DraggableListComponent.tsx
  app/client/src/components/propertyControls/FieldConfigurationControl.tsx
  app/client/src/components/propertyControls/MenuItemsControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControlV2.tsx
  app/client/src/components/propertyControls/TabControl.tsx
Labels: Design System Pod, Task, ads migration

#17281 feat: migration of ads/formFields/TextField to utils as part ads migration
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/ce/pages/UserAuth/SignUp.tsx
  app/client/src/components/utils/ReduxFormTextField.tsx
  app/client/src/pages/Settings/FormGroup/Checkbox.tsx
  app/client/src/pages/Settings/FormGroup/TextInput.tsx
  app/client/src/pages/Settings/FormGroup/Toggle.tsx
  app/client/src/pages/UserAuth/ForgotPassword.tsx
  app/client/src/pages/UserAuth/ResetPassword.tsx
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/GetStarted.tsx
  app/client/src/pages/setup/common.tsx
Labels: Enhancement, Design System Pod, Task, ads migration

#17237 chore: added datasource-save event differentiator for analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Datasources, Task, skip-changelog, Test Plan Approved, Data Platform Pod

#17185 fix: add getMetaPropertiesMap() to code scanner
  app/client/src/widgets/CodeScannerWidget/widget/index.tsx
Labels: Bug, UX Improvement, App Viewers Pod, High, Production, Needs Triaging, Code Scanner Widget

#17111 feat: Moved UserProfileImagePicker from ads folder
  app/client/package.json
  app/client/src/components/ads/index.ts
  app/client/src/pages/UserProfile/General.tsx
  app/client/src/pages/UserProfile/UserProfileImagePicker.tsx
  app/client/yarn.lock
Labels: Design System Pod, Task

#16912 fix: workspace email website validation
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/UpdateWorkspaceTests_spec.js
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/PatternConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: Bug, UX Improvement, Settings, Low, Release, Team Managers Pod, Test Plan Approved

#16872 feat: Support row virtualization using react-window in table widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/virtual_row_spec.js
  app/client/package.json
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/Row.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/AutoToolTipComponent.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/EmptyCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectionCheckboxCell.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/yarn.lock
Labels: Enhancement, Table Widget, Performance, App Viewers Pod, High, Low, potential-duplicate, Task, Table Widget V2

#16990 fix: updated settings page design
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/columnTypes/select_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/components/editorComponents/form/fields/StyledFormComponents.tsx
  app/client/src/components/formControls/SwitchControl.tsx
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/GoogleSheetsSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/QuerySettingsConfig.ts
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/ActionSettings.tsx
  app/client/src/pages/Editor/FormConfig.tsx
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/setting.json
Labels: Bug, UI Improvement, Core Query Execution, BE Coders Pod, Postgres, Test Plan Approved, Data Platform Pod, Integrations Pod, Query Settings

#17295 feat: Audio Recorder Reskinning
  app/client/src/widgets/AudioRecorderWidget/component/index.tsx
  app/client/src/widgets/AudioRecorderWidget/index.ts
Labels: Enhancement, App Viewers Pod, Low, Audio Recorder Widget

#17331 ci: Update integration-tests-command.yml to handle failures in ui-test step
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI, Test Plan Approved

#17363 chore: Fix outdated comment
  Dockerfile
Labels: skip-changelog

#17316 fix: fix GraphQL query run behaviour post cursor based pagination configuration
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/utils/GraphQLPaginationUtils.java
  app/server/appsmith-plugins/graphqlPlugin/src/test/java/com/external/plugins/GraphQLPluginTest.java
Labels: Bug, Backend, Needs Triaging, GraphQL Plugin, Test Plan Approved, Integrations Pod

#17355 feat: Video Widget Reskinning
  app/client/src/widgets/VideoWidget/index.ts
Labels: Enhancement, App Viewers Pod, Low, Video Widget

#17379 chore: Corrected usage of OR operator
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog

#17300 chore: Moved page delete to happen only after other resources are deleted
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#17292 fix: forking template to a child branch of git connected app is throwing Page not found error
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationTemplateServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Backend, Needs Triaging, Git Version Control, Team Managers Pod, Release Blocker, New Developers Pod, Templates

#17375 fix: Add row virtual offset for different row sizes to fix select cel…
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Select.ts
Labels: Bug, App Viewers Pod, Needs Triaging, Table Widget V2

#17390 fix: Fixed wrong event data on page view event
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Bug, skip-changelog, Test Plan Approved

#17229 fix: adding mode for graphql syntax with dynamic bindings
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug16702_Spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/components/editorComponents/CodeEditor/modes.ts
Labels: Bug, Needs Triaging, GraphQL Plugin, medium, Test Plan Approved, Integrations Pod

#17409 test: Update ArangoDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/ArangoDataSourceStub_spec.js
Labels: skip-changelog, Test

#17252 feat: import changes for step component
  app/client/src/components/ads/StepComponent.test.tsx
  app/client/src/components/ads/StepComponent.tsx
  app/client/src/components/ads/index.ts
  app/client/src/components/propertyControls/StepControl.tsx
Labels: Design System Pod, Task

#17302 feat: Change dialogue component import to design system repository
  app/client/src/components/ads/DialogComponent.tsx
  app/client/src/components/ads/index.ts
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/components/formControls/FilePickerControl.tsx
  app/client/src/pages/Applications/ForkModalStyles.ts
  app/client/src/pages/Applications/ImportApplicationModal.tsx
  app/client/src/pages/Applications/ProductUpdatesModal/index.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/GeneratePage/components/CrudInfoModal.tsx
  app/client/src/pages/Editor/GuidedTour/DeviationModal.tsx
  app/client/src/pages/Editor/IntegrationEditor/UnsupportedPluginDialog.tsx
  app/client/src/pages/Editor/RequestConfirmationModal.tsx
  app/client/src/pages/Editor/ThemePropertyPane/DeleteThemeModal.tsx
  app/client/src/pages/Editor/ThemePropertyPane/SaveThemeModal.tsx
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/ImportedAppSuccessModal.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Templates/ForkTemplate.tsx
  app/client/src/pages/Templates/TemplatesModal/index.tsx
  app/client/src/pages/workspace/DeleteConfirmationModal.tsx
Labels: Design System Pod, Task

#17426 chore: update gitignore with yalc
  .gitignore
Labels: skip-changelog

#17405 fix: Set pagination field in request body for server side paginated requests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_Table_Widget_API_Pagination_spec.js
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Actions.ts
  app/client/src/workers/PromisifyAction.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Bug, Needs Triaging, Release Blocker, FE Coders Pod, JS Promises, Test Plan Approved

#17034 chore: hide templates v2 behind feature flag
  app/client/cypress/fixtures/featureFlags.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Fork_Template_To_App_spec.js
  app/client/src/components/editorComponents/form/fields/__tests__/KeyValueFieldArray.test.tsx
  app/client/src/entities/FeatureFlags.ts
  app/client/src/pages/Editor/Explorer/Pages/AddPageContextMenu.tsx
  app/client/src/pages/Editor/WidgetsEditor/EmptyCanvasSection.tsx
Labels: skip-changelog, New Developers Pod

#17391 chore: fix templates feature flag param name
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog, New Developers Pod

#17049 test: updated the list test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/List1_spec.js
Labels: skip-changelog, Test

#17419 chore: move TextAreaField
  app/client/src/pages/Settings/FormGroup/TextAreaField.tsx
Labels: Design System Pod, Task, skip-changelog, ads migration

#17451 chore: Fix NPE in git service analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: skip-changelog

#17471 test: RTS server start
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test Plan Approved, Test

#17442 chore: Refactoring refactor flows
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/LayoutController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/LayoutControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutCollectionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/RefactoringSolution.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/RefactoringSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/RefactoringSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/RefactoringSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCETest.java
Labels: Backend, Task, skip-changelog, Entity Refactor, Data Platform Pod

#17483 test: RTS server start
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: Test Plan Approved

#17495 fix: Added null check for action dependency edge
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ActionDependencyEdge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
Labels: Bug, Backend, Needs Triaging, Release Blocker, FE Coders Pod, AST, Data Platform Pod

#17479 ci: Add a /command to run only perf tests
  .github/workflows/integration-tests-command.yml
  .github/workflows/perf-test.yml
  .github/workflows/perf-tests-command.yml
Labels: Performance, skip-changelog, CI

#17469 test: Script updates for flaky tests to unblock CI
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug16702_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/InvalidURL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_FormWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/List1_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/List6_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, Test Plan Approved, Test

#17491 feat: Added analytics events for admin settings updates
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
Labels: Enhancement, Test Plan Approved

#17449 feat: InputTextControl enhanement
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/propertyControls/InputTextControl.tsx
Labels: Enhancement, UI Builders Pod, Dynamic Height

#17372 fix: Table widget's pagination properties
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Bug, Property Pane, App Viewers Pod, UI Builders Pod, Widget Property, medium, Table Widget V2

#17369 chore: migrate form message
  app/client/package.json
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/ce/pages/UserAuth/SignUp.tsx
  app/client/src/components/ads/formFields/FormMessage.tsx
  app/client/src/pages/UserAuth/ForgotPassword.tsx
  app/client/src/pages/UserAuth/ResetPassword.tsx
  app/client/yarn.lock
Labels: Design System Pod, skip-changelog

#17354 test: Add cypress tests for leave workspace flow
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/LeaveWorkspaceTest_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/MemberRoles_Spec.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/WorkspaceCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#17285 chore: migrate editable text and friends
  app/client/package.json
  app/client/src/components/ads/EditableText.test.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/EditableTextSubComponent.tsx
  app/client/src/components/ads/EditableTextWrapper.tsx
  app/client/src/components/ads/LighteningMenu.tsx
  app/client/src/components/ads/Tag.tsx
  app/client/src/components/ads/Tree.tsx
  app/client/src/components/ads/index.ts
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/EditorAppName/EditableAppName.tsx
  app/client/src/pages/Editor/EditorAppName/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
  app/client/yarn.lock
Labels: Enhancement, Design System Pod, Task, ads migration

#17308 chore: migrate file picker v2
  app/client/package.json
  app/client/src/components/ads/FilePicker.tsx
  app/client/src/components/ads/FilePickerV2.tsx
  app/client/src/components/ads/index.ts
  app/client/src/components/formControls/FilePickerControl.tsx
  app/client/src/pages/Applications/ImportApplicationModal.tsx
  app/client/src/pages/Applications/ImportApplicationModalOld.tsx
  app/client/src/pages/workspace/General.tsx
  app/client/yarn.lock
Labels: Design System Pod, Task, skip-changelog

#17322 chore: move copy url form into setting components
  app/client/src/pages/Settings/FormGroup/CopyUrlForm.test.tsx
  app/client/src/pages/Settings/FormGroup/CopyUrlForm.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
Labels: Design System Pod, Task, skip-changelog

#17289 feat: Migrated callout component to design system
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/components/ads/Callout.tsx
  app/client/src/components/ads/index.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Enhancement, Design System Pod, Task

#17329 feat: Migrate table component to design system
  app/client/package.json
  app/client/src/components/ads/Table.tsx
  app/client/src/components/ads/index.ts
  app/client/src/pages/workspace/Members.tsx
  app/client/yarn.lock
Labels: Design System Pod, Task

#17327 feat: Banner message component migrated to design system
  app/client/package.json
  app/client/src/components/ads/BannerMessage.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/yarn.lock
Labels: Enhancement, Design System Pod, Task, ads migration

#17321 feat: Tabs component migrated to design system
  app/client/src/components/TabItemBackgroundFill.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/editorComponents/EntityBottomTabs.tsx
  app/client/src/components/editorComponents/GlobalSearch/SnippetsDescription.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTab.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/gitSync/Menu.tsx
  app/client/src/pages/Editor/gitSync/components/TabItem.tsx
  app/client/src/pages/UserProfile/index.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: Enhancement, Design System Pod, Task

#17340 fix: added url validations in authenticated API DS
  app/client/src/ce/constants/messages.ts
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/InputTextControl.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/__tests__/AuthenticatedAPIErrorValidation.test.tsx
Labels: Bug, High, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod

#17447 fix: Switches mongo field type from dynamic input text to dynamic text
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/find.json
Labels: Bug, Enhancement, Low, Mongo, Test Plan Approved, Integrations Pod

#17517 fix: App Version issue where the app was getting reset to old url after the template was merged to existing application
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: Bug, Backend, High, Needs Triaging, New Developers Pod, Clean URLs, Templates

#17539 ci: Add env variable Appsmith_Auditlog_Enabled to CI
  .github/workflows/integration-tests-command.yml
  .github/workflows/server-build.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI, Test Plan Approved

#17485 chore: add transient user permissions to action collection DTO
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionCollectionDTO.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: Task, skip-changelog, Team Managers Pod, Test Plan Approved, RBAC

#17194 feat: Adds one way switching to Form Controls
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormNativeToRawTests/Mongo_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/FormControl.test.tsx
  app/client/src/pages/Editor/FormControl.tsx
Labels: Bug, Enhancement, High, Mongo, BE Coders Pod, needs estimate, Test Plan Approved, Integrations Pod

#17474 fix: Post forking an application without the first page the application ends up having pages with page name as the page id
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Backend, High, New Developers Pod, Templates, Test Plan Approved

#17299 feat: Add Text Truncate Button Color to System Themes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_FormWidget_spec.js
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: Enhancement, App Viewers Pod, Low, Text Widget, App Theming

#17542 ci: added to pull workflow
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI, Test Plan Approved

#17228 fix: Table reskinning
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/columnTypes/checkboxCell_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/columnTypes/switchCell_spec.js
  app/client/src/pages/Editor/Popper.tsx
  app/client/src/pages/common/CustomizedDropdown/StyledComponents.tsx
  app/client/src/pages/common/CustomizedDropdown/index.tsx
  app/client/src/theme/wds.css
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/ImageWidget/component/index.tsx
  app/client/src/widgets/ListWidget/component/ListPagination.tsx
  app/client/src/widgets/TableWidget/component/TableAction.tsx
  app/client/src/widgets/TableWidgetV2/component/CascadeFields.tsx
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableAction.tsx
  app/client/src/widgets/TableWidgetV2/component/TableDataDownload.tsx
  app/client/src/widgets/TableWidgetV2/component/TableFilterPane.tsx
  app/client/src/widgets/TableWidgetV2/component/TableFilterPaneContent.tsx
  app/client/src/widgets/TableWidgetV2/component/TableFilters.tsx
  app/client/src/widgets/TableWidgetV2/component/TableHeader.tsx
  app/client/src/widgets/TableWidgetV2/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/AutoToolTipComponent.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/Button.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/IconButtonCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/MenuButtonCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/menuButtonTableComponent.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/index.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/styleConfig.ts
Labels: Bug, Enhancement, Table Widget, App Viewers Pod, Release, regression, Needs Triaging, List Widget, medium

#16632 fix: Use JSON to serialize sessions for OAuth
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/RedisConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/LoginSource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/OAuth2AuthorizedClientDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserSessionDTO.java
Labels: Bug, DevOps Pod, Skip Docs

#17519 fix: Ends with operator not working as expected
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/TableFilter2_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter2_Spec.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Bug, Table Widget, App Viewers Pod, High

#17345 feat: Change Modern/Default Theme Background to #F8FAFC
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_Default_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_FormWidget_spec.js
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/AppPageLayout_spec.js/EmptyApp.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/AppPageLayout_spec.js/apppage.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/AppPageLayout_spec.js/emptyAppBuilder.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/WidgetsLayout_spec.js/inlineDisabled.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/WidgetsLayout_spec.js/inlineEnabled.snap.png
  app/client/src/components/ads/ColorPickerComponentV2.test.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/reducers/uiReducers/appThemingReducer.ts
  app/client/src/workers/DataTreeEvaluator/mockData/mockUnEvalTree.ts
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: Enhancement, App Viewers Pod, Low, App Theming

#17554 ci: fix Pull workflow
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#17326 chore: changed the datasource-update event tag for analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Datasources, Task, skip-changelog, Test Plan Approved, Data Platform Pod

#17406 fix: update implementation as per design | git
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, UI Improvement, Git Version Control, Task, Team Managers Pod, medium

#17394 fix: show pull button when behind X commits | git
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
Labels: Bug

#17543 fix: Fix assets not loading in supervisor UI
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Bug, DevOps Pod

#16096 fix: Add mongo/redis to helm chart dependencies
  .gitignore
  deploy/helm/Chart.lock
  deploy/helm/Chart.yaml
  deploy/helm/templates/configMap.yaml
  deploy/helm/templates/statefulset.yaml
  deploy/helm/values.yaml
Labels: Bug, Enhancement, Deployment, K8s, DevOps Pod

#17389 fix: updated logic to retain the files on page change
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_Widget_reset_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_spec.js
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug, File Picker Widget, App Viewers Pod, High, regression

#17407 feat: Add configuration API to save some configurations in tenantConfiguration
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AclPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AppsmithRole.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ConfigNames.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Url.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/TenantController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/TenantControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Tenant.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/TenantConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomTenantRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomTenantRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/TenantRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomTenantRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomTenantRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/TenantRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/TenantServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConfigServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvManagerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/main/resources/email/forgotPasswordTemplate.html
  app/server/appsmith-server/src/main/resources/email/inviteExistingUserToWorkspaceTemplate.html
  app/server/appsmith-server/src/main/resources/email/inviteUserCreatorTemplate.html
  app/server/appsmith-server/src/main/resources/email/updateRoleExistingUserTemplate.html
  app/server/appsmith-server/src/main/resources/email/welcomeUserTemplate.html
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
Labels: Enhancement, skip-changelog

#17581 chore: Fixing the API to fetch current tenant configuration
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/TenantController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvManagerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
Labels: skip-changelog

#17577 feat: tenant api
  app/client/src/AppRouter.tsx
  app/client/src/ce/actions/tenantActions.ts
  app/client/src/ce/api/TenantApi.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/ce/sagas/index.tsx
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/ce/selectors/tenantSelectors.tsx
  app/client/src/ee/actions/tenantActions.ts
  app/client/src/ee/api/TenantApi.ts
  app/client/src/ee/reducers/tenantReducer.ts
  app/client/src/ee/sagas/tenantSagas.tsx
  app/client/src/ee/selectors/tenantSelectors.tsx
Labels: Enhancement

#17362 feat: Migrated color picker v2 to property controls
  app/client/src/components/propertyControls/ColorPickerComponentV2.test.tsx
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
  app/client/src/components/propertyControls/ColorPickerControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnColorPickerControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnColorPickerControlV2.tsx
  app/client/src/pages/Editor/ThemePropertyPane/controls/ThemeColorControl.tsx
Labels: Design System Pod, Task

#17364 fix: Remove datasource connection from cache when datasource is deleted
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/arangoDBPlugin/src/main/java/com/external/plugins/ArangoDBPlugin.java
  app/server/appsmith-plugins/dynamoPlugin/src/main/java/com/external/plugins/DynamoPlugin.java
  app/server/appsmith-plugins/dynamoPlugin/src/test/java/com/external/plugins/DynamoPluginTest.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/jsPlugin/src/main/java/com/external/plugins/JSPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/plugins/RedisPlugin.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/plugins/RedshiftPlugin.java
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com/external/plugins/SmtpPlugin.java
  app/server/appsmith-plugins/smtpPlugin/src/test/java/com/external/plugins/SmtpPluginTest.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceContextServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
Labels: Bug, Datasources, High, Data Platform Pod

#17536 fix: Fixed check for duplicate JSObject names in an application page
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Bug, High, Production, Cannot Reproduce Issue, Needs Triaging, Core Query Execution, JS Objects, FE Coders Pod, Data Platform Pod

#17609 chore: Flapdoodle version upgrade
  app/server/appsmith-server/pom.xml
Labels: skip-changelog

#17596 chore: code split tenant API CE
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/ee/sagas/tenantSagas.tsx
  app/client/src/pages/Applications/permissionHelpers.tsx
Labels: Enhancement, skip-changelog, Team Managers Pod, RBAC

#17614 chore: BaseAppsmithRepo code split
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
Labels: Team Managers Pod, RBAC

#17585 feat: ce tenant permissions
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionEntity.tsx
Labels: ABAC, Team Managers Pod

#17525 feat: upgrade hooks | audit logs
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/AuditLogs/Audit_logs_spec.js
  app/client/src/assets/svg/upgrade/audit-logs/debugging.svg
  app/client/src/assets/svg/upgrade/audit-logs/incident-management.svg
  app/client/src/assets/svg/upgrade/audit-logs/security-and-compliance.svg
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/Main.tsx
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/ce/pages/Upgrade/AccessControlUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/Carousel.tsx
  app/client/src/ce/pages/Upgrade/Footer.tsx
  app/client/src/ce/pages/Upgrade/Header.tsx
  app/client/src/ce/pages/Upgrade/UpgradePage.tsx
  app/client/src/ce/pages/Upgrade/types.ts
  app/client/src/pages/Settings/config/ConfigFactory.ts
  app/client/src/pages/Settings/config/advanced.ts
  app/client/src/pages/Settings/config/email.ts
  app/client/src/pages/Settings/config/googleMaps.ts
  app/client/src/pages/Settings/config/version.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Enhancement, Audit Logs

#17298 feat: Text Widget Reskinning
  app/client/src/widgets/TextWidget/component/index.tsx
  app/client/src/widgets/TextWidget/index.ts
  app/client/src/widgets/TextWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, Low, Text Widget

#17612 fix: update regex and test case for organisation website
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/PatternConstants.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: Bug, UX Improvement, Settings, QA, Low, Release, Team Managers Pod, QAVerificationBlocked

#17621 chore: Add properties to analytics event
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
Labels: skip-changelog, Test Plan Approved

#17342 fix: ms sql default port updated to 1433
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
Labels: Bug, Good First Issue, Backend, High, skip-changelog, BE Coders Pod, Up for grabs, Test Plan Approved, MsSQL, Integrations Pod

#17634 chore: Fixing broken client build
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
  app/client/src/selectors/jsPaneSelectors.ts
  app/client/src/selectors/queryPaneSelectors.ts
Labels: Bug, skip-changelog

#17429 fix: Refactored common datatype handling logic to conform to new client side datatypes
  app/client/src/api/ActionAPI.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/DataType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/ArrayType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/NullArrayType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/NullType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ExecuteActionDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Param.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/SmartSubstitutionInterface.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/DataTypeStringUtilsTest.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/graphqlPlugin/src/test/java/com/external/plugins/GraphQLPluginTest.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/datatypes/BsonType.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/datatypes/MongoSpecificDataTypes.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginDataTypeTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/datatypes/PostgresSpecificDataTypes.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginDataTypeTest.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Bug, Backend, High, Needs Triaging, MySQL, Task, BE Coders Pod, Postgres, REST API plugin, Prepared statements, needs estimate, Datatype issue, MsSQL, Data Platform Pod, Integrations Pod

#17608 feat: Update invite modal submit when we have tabs in modal
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
Labels: Enhancement, Team Managers Pod, RBAC

#17434 feat: AST based entity refactor
  app/rts/src/controllers/Ast/AstController.ts
  app/rts/src/routes/ast_routes.ts
  app/rts/src/services/AstService.ts
  app/rts/src/test/server.test.ts
  app/shared/ast/index.ts
  app/shared/ast/src/index.ts
  app/shared/ast/src/utils.ts
Labels: Enhancement, Task, BE Coders Pod, Test Plan Approved, Data Platform Pod, Page load executions

#17657 chore: Added feature flag for datasource environments
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Backend, Task, skip-changelog, Data Platform Pod, Datasource Environments

#17692 fix: Fix typo in cloud-hosting check and NPE from Segment
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
Labels: skip-changelog, Skip Docs

#17664 fix: remove file references on click of cancel button
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug, File Picker Widget, App Viewers Pod, Needs Triaging, Release Blocker

#17459 fix: table does not show data issue fixed
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_Response_View_spec.js
  app/client/src/components/editorComponents/ApiResponseView.tsx
Labels: Bug, Good First Issue, High, Production, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod

#17700 fix: Fix typo in cloud-hosting check and NPE from Segment
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
Labels: skip-changelog, Skip Docs

#17415 fix: removed height auto default theme
  app/client/src/constants/DefaultTheme.tsx
Labels: Stale

#17704 chore: Add recommended indexes
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: skip-changelog, Skip Docs

#17644 chore: Added workspace details to user invite analytic event
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#17671 fix: toast font on windows
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, skip-changelog, Test Plan Approved

#17586 fix: replace time based action to event based
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
Labels: Bug, Datasources, UX Improvement, Low, Team Managers Pod, BE Coders Pod, medium, RBAC, Data Platform Pod, Sentry

#17714 chore: Change Segment CDN to our proxy
  app/client/src/utils/AnalyticsUtil.tsx
Labels: skip-changelog, Skip Docs

#17733 chore: Adding base repository function to add user permissions to generic domain object
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomConfigRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/SeedMongoData.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesWorkspaceClonerTests.java
Labels: skip-changelog, Test Plan Approved

#17718 feat: code split permission helpers and added null check for some selectors
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/ce/selectors/tenantSelectors.tsx
  app/client/src/ce/utils/permissionHelpers.tsx
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/ee/utils/permissionHelpers.tsx
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/ForkApplicationModal.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Applications/permissionHelpers.tsx
  app/client/src/pages/Editor/EditorAppName/NavigationMenuData.ts
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/src/selectors/applicationSelectors.tsx
  app/client/src/selectors/onboardingSelectors.tsx
  app/client/src/selectors/usersSelectors.tsx
  app/client/src/utils/helpers.tsx
Labels: Enhancement, ABAC, Team Managers Pod, RBAC

#17603 test: Script updates for flaky tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug16702_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/ForkTemplateToGitConnectedApp.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/Fork_Template_To_App_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/SetTimeout_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#14925 feat: Add postMessage as a global function
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/PostWindowMessage_spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/components/editorComponents/ActionCreator/constants.ts
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/components/editorComponents/ActionCreator/types.ts
  app/client/src/entities/DataTree/actionTriggers.ts
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/PostMessage.test.ts
  app/client/src/sagas/ActionExecution/PostMessageSaga.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/IframeWidget/component/index.tsx
  app/client/src/widgets/IframeWidget/widget/index.tsx
  app/client/src/workers/Actions.test.ts
  app/client/src/workers/Actions.ts
Labels: Enhancement, JS Evaluation, Medium effort, Stale, FE Coders Pod, Test Plan Approved

#17562 chore: Add action execution params to analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved, Audit Logs

#16939 fix: Add collapse icon for bottom bar
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/ErrorReporting_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/EntityBottomBar_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/PageOnLoad_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/TriggerErrors_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Widget_Error_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MockDBs_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/SetTimeout_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/locators/Debugger.json
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/Debugger/DebuggerTabs.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Enhancement, UI Improvement, Needs Design, Production, Debugger, FE Coders Pod, New Developers Pod, IDE Navigation

#17666 chore: fix list widget data parsing
  app/client/cypress/fixtures/ListVulnerabilityDSL.json
  app/client/cypress/fixtures/ListWidgetWithDataAndButtonDSL.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/List7_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/ListWidgetParseError.ts
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/widgets/WidgetUtils.test.ts
  app/client/src/widgets/WidgetUtils.ts
Labels: JS Evaluation, App Viewers Pod, High, community, UI Builders Pod, List Widget, skip-changelog, FE Coders Pod, Framework Functions

#17750 fix: Response Pane height context restore issue in some cases
  app/client/src/components/editorComponents/Debugger/Resizer/index.tsx
Labels: Bug, New Developers Pod, IDE Navigation

#17778 chore: NPE for action execution tests
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#17758 refactor: Update styles of admin settings page
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/pages/Settings/SaveSettings.tsx
  app/client/src/pages/Settings/components.tsx
Labels: Task, Team Managers Pod, RBAC

#17516 fix: checkbox widget label right alignment issue.
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Form/Form_With_CheckBox_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Switch/Switch_spec.js
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/src/widgets/CheckboxWidget/index.ts
  app/client/src/widgets/SwitchWidget/component/index.tsx
Labels: Bug, App Viewers Pod, High, Production, regression, Checkbox Widget, Needs Triaging, UI Builders Pod

#17697 fix: upgrade page for audit logs with correct data
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/AuditLogs/Audit_logs_spec.js
  app/client/src/assets/svg/upgrade/audit-logs/debugging.svg
  app/client/src/assets/svg/upgrade/audit-logs/incident-management.svg
  app/client/src/assets/svg/upgrade/audit-logs/security-and-compliance.svg
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/Footer.tsx
  app/client/src/ce/pages/Upgrade/UpgradePage.tsx
Labels: Bug

#17138 feat: Add validation dependency
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/workers/DataTreeEvaluator/index.ts
  app/client/src/workers/DataTreeEvaluator/mockData/mockUnEvalTree.ts
  app/client/src/workers/DataTreeEvaluator/test.ts
  app/client/src/workers/DataTreeEvaluator/validationUtils.ts
  app/client/src/workers/DependencyMap/index.ts
  app/client/src/workers/DependencyMap/test.ts
  app/client/src/workers/DependencyMap/utils.ts
  app/client/src/workers/JSObject/utils.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Enhancement, Tab Widget, App Viewers Pod, Needs Triaging, Widget Validation, FE Coders Pod, Evaluated Value, Code Editor

#17465 feat: Add a read only mode to rating widget
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/RateWidgetMigrations.ts
  app/client/src/widgets/RateWidget/component/index.tsx
  app/client/src/widgets/RateWidget/index.ts
  app/client/src/widgets/RateWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, Rating Widget, medium

#17754 fix: update PR template to include QA details
  .github/pull_request_template.md
Labels: Bug, Test Plan Approved

#17467 feat: slider widgets cypress test cases
  app/client/cypress/fixtures/categorySliderWidgetDsl.json
  app/client/cypress/fixtures/numberSliderWidgetDsl.json
  app/client/cypress/fixtures/rangeSliderWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Sliders/CategroySlider_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Sliders/NumberSlider_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Sliders/RangeSlider_spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/src/widgets/NumberSliderWidget/component/Thumb.tsx
  app/client/src/widgets/RangeSliderWidget/validations.ts
Labels: Enhancement, UI Builders Pod, Task, Slider Widget

#17788 fix: Updating left panel height on home page due to addition of admin settings
  app/client/src/pages/Applications/index.tsx
Labels: Bug, Needs Triaging, Team Managers Pod, RBAC

#17808 feat: default admin path
  app/client/src/AppRouter.tsx
  app/client/src/ce/pages/AdminSettings/Main.tsx
  app/client/src/ce/pages/Home/LeftPaneBottomSection.tsx
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/constants/routes/appRoutes.ts
  app/client/src/pages/common/MobileSidebar.tsx
Labels: Enhancement

#17805 fix: Add max dropdown height
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/components/editorComponents/form/fields/DropdownWrapper.tsx
  app/client/src/components/editorComponents/form/fields/SelectField.tsx
Labels: Bug, Needs Triaging, Team Managers Pod, RBAC

#17530 fix: MultiSelect/TreeSelect widget deselects on clicking again
  app/client/src/widgets/useDropdown.tsx
Labels: Bug, Needs More Info, Select Widget, Property Pane, App Viewers Pod, High, UI Builders Pod, MultiSelect Widget, MultiTree Select Widget, TreeSelect

#17813 fix: Updating left panel CSS on home page
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Home/LeftPaneBottomSection.tsx
Labels: Bug, Needs Triaging, Team Managers Pod, RBAC

#17812 chore: Fixing flaky behaviour in SeedMongoData
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/SeedMongoData.java
Labels: skip-changelog

#17826 chore: Update READ_PERMISSION_GROUP to PERMISSION_GROUP_MEMBERS
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AclPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/ce/PolicyGeneratorCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ShareWorkspacePermissionTests.java
Labels: skip-changelog, Team Managers Pod, RBAC

#17827 chore: Changes in layout and theme analytics events
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#17807 chore: Code split and refactor for inviteUser flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/UserController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/UserControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/InviteUsersDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/InviteUsersCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserAndAccessManagementService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserAndAccessManagementServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserAndAccessManagementServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserAndAccessManagementServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ShareWorkspacePermissionTests.java
Labels: skip-changelog

#17084 chore: move render field to component
  app/client/src/components/editorComponents/ActionCreator/Field/Field.test.tsx
  app/client/src/components/editorComponents/ActionCreator/Field/index.tsx
  app/client/src/components/editorComponents/ActionCreator/FieldConfig.ts
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/components/editorComponents/ActionCreator/constants.ts
  app/client/src/components/editorComponents/ActionCreator/types.ts
Labels: skip-changelog, FE Coders Pod, JS Usability, Code Refactoring, Test Plan Approved, Framework Functions

#17753 fix: After merging the template the deployed version of the App was failing to load
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Backend, High, Needs Triaging, New Developers Pod, QAVerificationBlocked, Clean URLs, Templates

#17742 ci: fix fat-container combined
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI, Test Plan Approved

#17858 chore: Add git file system env to server setup guidelines
  contributions/ServerSetup.md
Labels: skip-changelog, Test Plan Approved

#17756 fix: prevents console log from getting mutated
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.ts
  app/client/src/workers/UserLog.ts
Labels: Bug, Needs Triaging, New Developers Pod

#17627 fix: List connected private repos on repo-limit modal in git-import flow | git
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Editor/gitSync/hooks/useGitConnect.ts
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, Needs Triaging, Git Version Control, Team Managers Pod

#17871 feat: set user permissions to objects when creating
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutCollectionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Enhancement, Task, Team Managers Pod, RBAC

#17847 refactor: Code splitting of some files for invite modal on EE
  app/client/src/actions/workspaceActions.ts
  app/client/src/ce/api/WorkspaceApi.ts
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/uiReducers/workspaceReducer.ts
  app/client/src/ce/sagas/WorkspaceSagas.ts
  app/client/src/ce/sagas/index.tsx
  app/client/src/ee/api/WorkspaceApi.ts
  app/client/src/ee/reducers/uiReducers/workspaceReducer.tsx
  app/client/src/ee/sagas/WorkspaceSagas.ts
  app/client/src/pages/workspace/General.tsx
  app/client/src/reducers/uiReducers/index.tsx
  app/client/test/sagas.ts
Labels: Team Managers Pod, RBAC

#17884 chore: Changes in layout and theme analytics events (#17827)
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#17888 chore: Reducing the number of /new API calls
  app/client/src/ce/pages/AdminSettings/index.tsx
  app/client/src/pages/Applications/ProductUpdatesModal/index.tsx
Labels: Task, skip-changelog, Team Managers Pod

#17523 fix: Refactor entities with specific rules
  app/rts/src/controllers/Ast/AstController.ts
  app/rts/src/controllers/BaseController.ts
  app/rts/src/middlewares/rules/ast.ts
  app/rts/src/routes/ast_routes.ts
  app/rts/src/services/AstService.ts
  app/rts/src/test/server.test.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/WebClientUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/DslUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/RefactoringSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/RefactoringSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCETest.java
  app/server/appsmith-server/src/test/resources/com/appsmith/server/solutions/ce/refactorDslWithOnlyWidgets.json
  app/server/appsmith-server/src/test/resources/com/appsmith/server/solutions/ce/refactorDslWithOnlyWidgetsWithNewList.json
  app/server/appsmith-server/src/test/resources/com/appsmith/server/solutions/ce/refactorDslWithOnlyWidgetsWithNewText.json
  app/shared/ast/src/index.ts
  app/shared/ast/src/jsObject/index.ts
Labels: Bug, High, Task, BE Coders Pod, Entity Refactor, Data Platform Pod
