Repository appsmithorg/appsmith, pull requests merged in 2022-04, with the labels that each got.

#11974 fix: Show restricted signup error message on login screen
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/components/ads/Button.tsx
Labels: Bug, High, Needs Triaging, Platform Pod, Team Managers Pod, New Developers Pod, Super Admin, SSO

#12442 fix: onclick handler update in ButtonGroup Widget
  app/client/cypress/fixtures/buttonGroupDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/ButtonGroup_binding_spec.js
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Critical, UI Building Pod, Button Group widget

#12441 fix: Fixes issue with initial values
  app/client/src/pages/Editor/Explorer/Datasources/QueryTemplates.tsx
Labels: Bug, Actions Pod, Low, Needs Triaging, UQI, BE Coders Pod

#12383 feat: activity logging
  app/client/public/index.html
  app/client/public/logger.js
Labels: Enhancement

#12488 test: Fix failing git sync tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Connection_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/locators/gitSyncLocators.js
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
Labels: Bug, skip-changelog

#12501 fix: sending query params on redirection from signup to login page
  app/client/src/ce/pages/UserAuth/SignUp.tsx
Labels: Bug, QA, High, Needs Triaging, Platform Pod, Team Managers Pod, New Developers Pod, Super Admin, SSO

#10813 feat: Multi widget reflow
  app/client/src/pages/common/CanvasArenas/hooks/useBlocksToBeDraggedOnCanvas.ts
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/reflow/index.ts
  app/client/src/reflow/reflowHelpers.ts
  app/client/src/reflow/reflowTypes.ts
  app/client/src/reflow/reflowUtils.ts
  app/client/src/reflow/tests/reflowHelpers.test.js
  app/client/src/reflow/tests/reflowUtils.test.js
  app/client/src/resizable/resizenreflow/index.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/WidgetPropsUtils.test.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/hooks/useReflow.ts
Labels: Enhancement, UI Improvement, UI Building Pod, UI Builders Pod

#11938 fix: Button Group, MenuButton, Tabs undo Redo fixed.
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/MenuButton_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/ButtonGroup_spec.js
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/components/propertyControls/MenuItemsControl.tsx
  app/client/src/components/propertyControls/TabControl.tsx
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/TableWidget/component/components/menuButtonTableComponent.tsx
Labels: Bug, App Viewers Pod, High, Low, Production, UI Building Pod, UI Builders Pod, Menu Button Widget, Papercut, Undo/Redo

#12485 chore: Remove feature flag for application templates
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Platform Pod, skip-changelog, New Developers Pod

#12347 fix: projection component issues
  app/client/src/utils/FormControlRegistry.tsx
Labels: Bug, Actions Pod, High, Needs Triaging, BE Coders Pod

#12444 test: Cypress tests to include Deploy mode verifications + few flaky fixes
  app/client/cypress.json
  app/client/cypress/fixtures/Select_table_dsl.json
  app/client/cypress/fixtures/onPageLoadActionsDsl.json
  app/client/cypress/fixtures/paramsDsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/AForceMigration_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Auth/Analytics_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/BindButton_Text_WithRecaptcha_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/LoadashBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/MomentBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/SelectWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Select_Widget_Value_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/aTobAndbToaBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/ChartDataPoint_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/DocumentViewer_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Migration_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_tabledata_schema_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/S3_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Replay/Replay_Editor_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiPaneTests/API_Bugs_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MySQLNoiseTest_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/SMTPDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_Datasource_Structure_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/OnLoadActions_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
Labels: Task, skip-changelog, Test

#12489 feat: Make property title not focusable with keyboard
  app/client/src/pages/Editor/PropertyPane/PropertyHelpLabel.tsx
Labels: Enhancement, Property Pane, UI Building Pod, UI Builders Pod, Task

#12530 feat: update list segment header
  app/client/src/components/ads/ListSegmentHeader.test.tsx
  app/client/src/components/ads/ListSegmentHeader.tsx
Labels: Enhancement

#12440 fix: show errors from git status
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, High, Release, Platform Pod, Git Version Control, Team Managers Pod

#12324 fix: default value consistency issues in select widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Dropdown_spec.js
  app/client/src/widgets/SelectWidget/widget/index.test.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, High, Production, UI Building Pod

#12279 chore: Improve UX on admin settings page
  app/client/src/components/ads/TagInputComponent.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
  app/client/src/pages/Settings/SaveSettings.tsx
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/theme/colors.css
Labels: Platform Pod, Task, skip-changelog, Team Managers Pod

#12510 fix: make region a non-mandatory field
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/DatasourceUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
Labels: Bug, Actions Pod, community, Needs Triaging, S3, BE Coders Pod

#12512 fix: Fix importing datasource with same name but different plugin issue
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Needs Triaging, Platform Pod, Import-Export-App, Team Managers Pod

#12427 test: add tests for git import flow
  app/client/cypress/fixtures/gitImport.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitImport/GitImport_spec.js
  app/client/cypress/support/commands.js
Labels: Task, skip-changelog, Test

#12408 chore: Changing the clean URLs update description in product updates modal
  app/client/src/ce/constants/messages.ts
  app/client/src/constants/Colors.tsx
  app/client/src/pages/Editor/BottomBar/ManualUpgrades.tsx
Labels: skip-changelog

#12548 test: change load docker condition
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#12547 fix: 404 on renaming new pages in apps with legacy URLs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ApplicationURL_spec.js
  app/client/cypress/support/commands.js
  app/client/src/RouteBuilder.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/PageSagas.tsx
  app/client/src/store.ts
  app/client/src/utils/helpers.tsx
Labels: Bug

#12071 feat: migration changes hint
  app/client/src/assets/icons/ads/js.svg
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Icon.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.test.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/components/GitChanged.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
Labels: Enhancement

#10971 fix: #6518 Implemented responsive table header controls
  app/client/cypress/fixtures/modalOnTableFilterPaneDsl.json
  app/client/cypress/fixtures/tableResizeDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Resize_spec.js
  app/client/src/widgets/TableWidget/component/Constants.ts
  app/client/src/widgets/TableWidget/component/Table.tsx
  app/client/src/widgets/TableWidget/component/TableDataDownload.tsx
  app/client/src/widgets/TableWidget/component/TableFilters.tsx
  app/client/src/widgets/TableWidget/component/TableHeader.tsx
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
Labels: Bug, Enhancement, Table Widget, App Viewers Pod, UI Building Pod

#12557 fix: page launch error from dashboard
  app/client/src/api/ApiUtils.ts
  app/client/src/pages/tests/mockData.ts
  app/client/src/pages/tests/slug.test.tsx
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/sagas/InitSagas.ts
  app/client/src/store.ts
Labels: Bug, High, Needs Triaging, Platform Pod, New Developers Pod

#12539 fix: While importing the application page sequence does not match with the source application
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Low, Needs Triaging, Platform Pod, Import-Export-App, Team Managers Pod

#12567 fix: Pages tab navigation in preview mode for git apps
  app/client/src/pages/tests/slug.test.tsx
  app/client/src/utils/AppsmithUtils.tsx
Labels: Bug

#12573 test: commented load docker license
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, Test

#11383 feat: Internal property to detect changes in a form
  app/client/cypress/fixtures/CameraDsl.json
  app/client/cypress/fixtures/SwitchGroupWidgetDsl.json
  app/client/cypress/fixtures/TreeSelectDsl.json
  app/client/cypress/fixtures/formHasChangesDsl.json
  app/client/cypress/fixtures/formdsl1.json
  app/client/cypress/fixtures/multiSelectDsl.json
  app/client/cypress/fixtures/newFormDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_DragAndDropWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Widgets_Copy_Delete_Undo_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Widgets_Copy_Paste_Delete_Undo_Keyboard_Event_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/AudioRecorder_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Camera_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CheckBox_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CheckboxGroup_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CurrencyInput_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/DatePicker_2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FilePickerV2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_Nested_HasChanges_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Inputv2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/MultiSelect_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Multi_Select_Tree_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Phone_input_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/RadioGroup_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/RichTextEditor_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Select_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Single_Select_Tree_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/SwitchGroup_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Switch_spec.js
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/AudioRecorderWidget/widget/index.tsx
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/CameraWidget/widget/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/CheckboxWidget/widget/index.tsx
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/DatePickerWidget2/widget/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/FormWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/SwitchWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, UI Building Pod, Form Widget, community

#12506 fix: added sanity check to avoid unexpected eval error
  app/client/src/workers/DataTreeEvaluator.ts
Labels: Actions Pod, High, Needs Triaging, JS Editor, FE Coders Pod, Old App Issues, Function execution, JS Usability

#12459 fix: Multi-select dropdown not closing properly
  app/client/cypress/fixtures/widgetPopupDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Widget_Popup_spec.js
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.styled.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#12555 chore: Added a check for testing mandatory fields
  app/client/src/pages/Settings/SettingsForm.tsx
Labels: Platform Pod, Task, skip-changelog, Team Managers Pod

#12575 fix: added a null check for datasourceConfiguration to refer url key
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
Labels: Bug, Actions Pod, Critical, Needs Triaging, Query Execution, Release Blocker, BE Coders Pod

#12372 fix: Disabled button widget tooltips stay open
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Canvas_scrolling_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Button_tooltip_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/List_spec.js
  app/client/src/widgets/ButtonWidget/component/DragContainer.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/widget/index.tsx
Labels: Bug, QA, App Viewers Pod, High, Verified, Button Widget, UI Building Pod

#12542 chore: Add some cypress tests for Admin settings page
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AdminSettings/Admin_settings_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/src/pages/AppViewer/viewer/AppViewerHeader.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/common/LoginHeader.tsx
  app/client/src/pages/common/PageHeader.tsx
Labels: Platform Pod, Task, skip-changelog, Team Managers Pod

#12541 fix: align Table widget URL Column type
  app/client/src/widgets/TableWidget/component/AutoToolTipComponent.tsx
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
Labels: Bug, Table Widget, App Viewers Pod, Low, UI Building Pod, regression, Papercut

#12597 fix: Using form url encoded content type for token requests
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2AuthorizationCode.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2ClientCredentials.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Bug, Actions Pod, High, Needs Triaging, BE Coders Pod, REST API plugin

#12583 fix: Revert - Implemented responsive table header controls #10971
  app/client/cypress/fixtures/modalOnTableFilterPaneDsl.json
  app/client/cypress/fixtures/tableResizeDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Resize_spec.js
  app/client/src/widgets/TableWidget/component/Constants.ts
  app/client/src/widgets/TableWidget/component/Table.tsx
  app/client/src/widgets/TableWidget/component/TableDataDownload.tsx
  app/client/src/widgets/TableWidget/component/TableFilters.tsx
  app/client/src/widgets/TableWidget/component/TableHeader.tsx
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
Labels: Bug

#12601 fix: Only add missing user set actions to scheduling order
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Bug, Actions Pod, High, Query Execution, BE Coders Pod

#12553 fix: removed promisification of confirmation
  app/client/cypress/integration/Smoke_TestSuite/Application/AForceMigration_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/LoadashBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/MomentBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/aTobAndbToaBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/ChartDataPoint_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/JSOnLoadActions_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/OnLoadActions_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/actions/jsPaneActions.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/workers/evaluate.ts
Labels: Bug, Actions Pod, Critical, Production, Release, Needs Triaging, Stale, JS Editor, FE Coders Pod, JS Promises

#12586 fix: update url while switching between git branches
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ApplicationURL_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Git_spec.js
  app/client/cypress/support/commands.js
  app/client/src/RouteBuilder.ts
  app/client/src/sagas/InitSagas.ts
Labels: Bug

#12579 feat: Updated CRUD Template
  app/client/cypress/locators/GeneratePage.json
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: Enhancement

#12619 fix: 404 on apps with names that start with api, login or oauth
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ApplicationURL_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Git_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/OnLoadActions_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/commands.js
  app/client/perf/src/perf.js
  app/client/src/RouteBuilder.ts
  app/client/src/constants/routes.ts
  app/client/src/pages/Editor/BottomBar/ManualUpgrades.tsx
  app/client/src/pages/Editor/Explorer/helpers.test.ts
  app/client/src/pages/Editor/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/MainContainer.test.tsx
  app/client/src/pages/common/CanvasArenas/CanvasSelectionArena.test.tsx
  app/client/src/pages/tests/slug.test.tsx
  app/client/src/sagas/InitSagas.ts
Labels: Bug, High, Needs Triaging, Platform Pod, New Developers Pod

#12645 chore: Update theming default themes configs
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: skip-changelog

#12634 chore: Update crud template
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: skip-changelog

#12657 chore: added beta to onPageLoad for js actions
  app/client/src/ce/constants/messages.ts
Labels: skip-changelog

#12640 fix: Fix app crash on navigation to API and Datasource Editor
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
Labels: Bug, Datasources, Actions Pod, Critical, Release, Query Editor, Needs Triaging, skip-changelog, Release Blocker, BE Coders Pod

#12658 fix: Auto-suggestion is not working for progress widget while binding
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/autocomplete/dataTypeSortRules.ts
  app/client/src/widgets/ProgressWidget/index.ts
  app/client/src/widgets/ProgressWidget/widget/index.tsx
Labels: Bug, Critical, Release, Release Blocker, Progress bar widget

#12664 test: Revert postgres CRUD element xpath to match CRUD template revertion
  app/client/cypress/locators/GeneratePage.json
Labels: skip-changelog

#12671 test: Automation script update to fix JSOnPageLoad pop-up text message
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, Test

#12667 fix: Progress widget with circular type is showing wrong value
  app/client/src/widgets/ProgressWidget/component/index.tsx
Labels: Bug, Critical, Release, Release Blocker, Progress bar widget

#12673 test: Automation script update to fix JSOnPageLoad pop-up text message
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, Test

#12668 fix: "Revert: trigger fields linting issue"
  app/client/src/utils/WidgetFactory.tsx
  app/client/src/utils/WidgetLoadingStateUtils.test.ts
  app/client/src/utils/WidgetLoadingStateUtils.ts
  app/client/src/utils/WidgetRegisterHelpers.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/TableWidget/index.ts
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/workers/DataTreeEvaluator.ts
Labels: Bug

#11797 feat: Keyboard navigable Color Picker control
  app/client/package.json
  app/client/src/components/ads/ColorPickerComponentV2.test.tsx
  app/client/src/components/ads/ColorPickerComponentV2.tsx
  app/client/yarn.lock
Labels: UI Builders Pod

#12680 test: commented license addition
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#12614 feat: remove horizontal rule from git branch list
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
Labels: Enhancement, Task

#12592 fix: retained value of where condition
  app/client/src/components/formControls/FieldArrayControl.tsx
  app/client/src/components/formControls/WhereClauseControl.tsx
Labels: Bug, Frontend, UX Improvement, Actions Pod, hacktoberfest, High, Needs Triaging, S3, AutomationGap, FE Coders Pod, BE Coders Pod, Evaluated Value

#12559 feat: Refactor SaasEditor page
  app/client/src/actions/queryPaneActions.ts
  app/client/src/constants/routes.ts
  app/client/src/pages/Editor/QueryEditor/Form.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/pages/Editor/SaaSEditor/ActionForm.tsx
  app/client/src/pages/Editor/SaaSEditor/routes.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/sagas/ReplaySaga.ts
  app/client/src/sagas/SaaSPaneSagas.ts
Labels: Enhancement, Actions Pod, BE Coders Pod

#12411 fix: handle duplicate tab name in tab widget
  app/client/cypress/fixtures/tabsWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/Tab_Duplicate_TabName_spec.js
  app/client/cypress/support/commands.js
  app/client/src/components/ads/DraggableListCard.tsx
  app/client/src/components/propertyControls/TabControl.tsx
  app/client/src/widgets/TabsWidget/component/index.tsx
Labels: Bug, Frontend, Tab Widget, App Viewers Pod, Low, UI Building Pod

#12004 fix: introduce new regexp for remote url validation
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Connection_spec.js
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/utils.test.ts
  app/client/src/pages/Editor/gitSync/utils.ts
Labels: Bug, Platform Pod, Git Version Control, Team Managers Pod

#9164 fix: 8385 added button variant support in table column type button
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_PropertyPane_IconName_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_PropertyPane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/TableWidget/component/Constants.ts
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidget/component/TableUtilities.tsx
  app/client/src/widgets/TableWidget/widget/getTableColumns.tsx
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidget/widget/propertyUtils.test.ts
  app/client/src/widgets/TableWidget/widget/propertyUtils.ts
Labels: Bug, Table Widget, App Viewers Pod, Low, Production, Release, UI Building Pod, Stale

#12263 chore: Parallelise feature flags and user info API
  app/client/src/AppRouter.tsx
  app/client/src/actions/userActions.ts
  app/client/src/components/designSystems/appsmith/header/DeployLinkButton.tsx
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/entities/FeatureFlag.ts
  app/client/src/entities/FeatureFlags.ts
  app/client/src/pages/Applications/ImportApplicationModal.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/EditorAppName/NavigationMenuData.ts
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Settings/WithSuperUserHoc.tsx
  app/client/src/pages/UserAuth/requiresAuthHOC.tsx
  app/client/src/pages/UserProfile/index.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/sagas/ReflowSagas.ts
  app/client/src/sagas/index.tsx
  app/client/src/sagas/userSagas.tsx
  app/client/src/selectors/appCollabSelectors.tsx
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/selectors/usersSelectors.tsx
  app/client/src/utils/autocomplete/dataTreeTypeDefCreator.ts
  app/client/src/utils/featureFlags.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
Labels: Performance, skip-changelog

#12356 fix: remove unnecessary horizontal scroll when table columns fit within table widget width and prevent unnecessary re-renders
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Migration_Spec.js
  app/client/src/widgets/TableWidget/component/AutoToolTipComponent.tsx
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
Labels: Bug, Table Widget, QA, App Viewers Pod, Low, Release, UI Building Pod, regression, Needs Triaging

#12590 chore: Add data property in entity explorer as part of "show bindings"
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/pages/Editor/Explorer/Entity/EntityProperties.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
Labels: Actions Pod, Low, Low effort, Task, skip-changelog, JS Editor, FE Coders Pod, V1

#12685 test: Add license key with docker run
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#12578 fix: JSONForm select/multiselect filterText value synchronous update with onFilterUpdate action
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_FilterText_spec.js
  app/client/src/widgets/JSONFormWidget/FormContext.tsx
  app/client/src/widgets/JSONFormWidget/fields/MultiSelectField.tsx
  app/client/src/widgets/JSONFormWidget/fields/SelectField.tsx
  app/client/src/widgets/JSONFormWidget/fields/useUpdateInternalMetaState.ts
  app/client/src/widgets/JSONFormWidget/widget/helper.test.ts
  app/client/src/widgets/JSONFormWidget/widget/helper.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/MetaHOC.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, JSON Form

#12703 fix: Reset of isPublic flag during git merge operation
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Low, Release, Needs Triaging, Platform Pod, Git Version Control, Team Managers Pod

#12710 fix: Fix server not starting when custom domain not set
  deploy/docker/scripts/run-nginx.sh
Labels: Bug

#12694 chore: Run UI perf tests on two different machines
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog

#12675 fix: Auto-suggestion is not working for progress widget while binding
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Progress_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Button_spec.js
Labels: Bug, High, Verified, Release, skip-changelog, Automation, Release Blocker, Progress bar widget

#12529 fix: Form widget should include the following widgets in data property when added in form
  app/client/cypress/fixtures/formDataDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormData_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Phone_input_spec.js
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, Form Widget

#12725 fix: Only setting maximum heap size for heroku deployed instances
  deploy/docker/entrypoint.sh
Labels: Bug

#12707 chore: Added analytics for manual upgrade and adds redirection
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ApplicationURL_spec.js
  app/client/src/AppRouter.tsx
  app/client/src/constants/routes.ts
  app/client/src/pages/Editor/BottomBar/ManualUpgrades.tsx
  app/client/src/pages/common/PageNotFound.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: skip-changelog

#9629 feat: Response view switcher for all action editors
  app/client/src/actions/pluginActionActions.ts
  app/client/src/api/ActionAPI.tsx
  app/client/src/components/ads/MultiSwitch.tsx
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/EntityBottomTabs.tsx
  app/client/src/components/editorComponents/ReadOnlyEditor.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/APIEditor/Form.tsx
  app/client/src/pages/Editor/APIEditor/RapidApiEditorForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/Form.tsx
  app/client/src/pages/Editor/QueryEditor/JSONViewer.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/reducers/entityReducers/actionsReducer.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
Labels: Enhancement, UI Improvement, UX Improvement, Needs Design, Actions Pod, Query Editor, Dont merge, Stale, BE Coders Pod

#12729 fix: update check for GSheet where condition
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Condition.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/MethodConfig.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/MethodConfigTest.java
Labels: Bug, Actions Pod, Needs Triaging, Google Sheets, Release Blocker, BE Coders Pod

#12733 chore: Use the correct setup script
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog

#12693 fix: Edit App icon color changes to white
  app/client/src/pages/AppViewer/viewer/GetAppViewerHeaderCTA.tsx
Labels: Bug, Design System, Needs Triaging, Platform Pod, skip-changelog, New Developers Pod

#12635 fix: JSONForm select not working in nested fields - Array/Object
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_NestedField_Select_Multiselect.js
  app/client/src/widgets/JSONFormWidget/fields/MultiSelectField.tsx
  app/client/src/widgets/JSONFormWidget/fields/SelectField.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, Needs Triaging, JSON Form

#12699 fix: Current branch delete exception in delete branch API
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug, Platform Pod, Git Version Control, Team Managers Pod

#12698 fix: Maintain page order during file import
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Low, Needs Triaging, Platform Pod, Import-Export-App, Team Managers Pod

#12723 fix: Fix clone page issue where JSObject are not showing up in destination page when application is connected to git
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
Labels: Bug

#12577 fix: prevent cyclic dependency with action.clear
  app/client/src/entities/DataTree/dataTreeAction.ts
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, Actions Pod, JS, High, Needs Triaging, FE Coders Pod

#12610 fix: Invisible icon in property pane panel
  app/client/src/pages/Editor/PropertyPane/PanelPropertiesEditor.tsx
Labels: Bug, Property Pane, UI Building Pod, Needs Triaging, UI Builders Pod

#12742 chore: react overlay issue
  app/client/package.json
  app/client/yarn.lock
Labels: Task, skip-changelog

#12533 test: Commands file organised
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ApplicationURL_spec.js
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/OrgCommands.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/dataSourceCommands.js
  app/client/cypress/support/gitSync.js
  app/client/cypress/support/index.js
  app/client/cypress/support/queryCommands.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, Test

#12670 fix: add support for reading DBRef type in Mongo plugin
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
Labels: Bug, Actions Pod, High, community, Low effort, Mongo, BE Coders Pod

#12479 fix: fork app button not opening the fork modal for non-signed in users
  app/client/cypress/fixtures/forkNonSignedInUser.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ForkApplication_spec.js
  app/client/cypress/locators/Applications.json
  app/client/cypress/locators/LoginPage.json
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/components/ads/CopyToClipBoard.tsx
  app/client/src/constants/routes.ts
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Applications/ForkApplicationModal.tsx
  app/client/src/pages/common/AppHeader.tsx
Labels: Bug, Critical, Production, Platform Pod, Fork App, Team Managers Pod, New Developers Pod

#12743 fix: After cloning the page with JSObject creating a new branch copies all the JSObject in a single page
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/DefaultResourcesUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
Labels: Bug, Actions Pod, JS, Critical, Release, Needs Triaging, Platform Pod, Git Version Control, Team Managers Pod, FE Coders Pod

#12752 fix: Git import error message for empty repo
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, High, Platform Pod, Git Version Control, Team Managers Pod

#12580 chore: Improve the UI for restart banner on admin settings page
  app/client/src/actions/settingsAction.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/AppIcon.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/pages/Settings/RestartBanner.tsx
  app/client/src/pages/common/ServerUnavailable.tsx
  app/client/src/reducers/settingsReducer.ts
  app/client/src/sagas/SuperUserSagas.tsx
Labels: Platform Pod, Task, skip-changelog, Team Managers Pod

#12503 fix: 12338 - postgres datasource default configure on reconnect modal
  app/client/cypress/fixtures/one_postgres.json
  app/client/cypress/integration/Smoke_TestSuite/Application/ImportExportForkApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Application/ReconnectDatasource_spec.js
  app/client/src/actions/datasourceActions.ts
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/Editor/gitSync/components/DatasourceListItem.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, High, Low, Production, Release, Needs Triaging, Platform Pod, Git Version Control, Import-Export-App, Team Managers Pod

#12781 fix: Conversion logic for expires in field
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2AuthorizationCode.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2ClientCredentials.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Bug, Actions Pod, Critical, Needs Triaging, BE Coders Pod, REST API plugin

#12773 fix: Fix google sheets datasource options
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
Labels: Bug, Actions Pod, Critical, Release, regression, Query Editor, Needs Triaging, Release Blocker, BE Coders Pod

#12801 fix: Fix app crash on arrow down in where clause
  app/client/src/components/ads/Dropdown.tsx
Labels: Bug, Frontend, Actions Pod, Critical, Production, Needs Triaging, Google Sheets, BE Coders Pod

#12569 fix: 12456, 12420, 12422 on reconnect modal issues
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/selectors/entitiesSelector.ts
Labels: Bug, High, Low, Release, Needs Triaging, Platform Pod, Git Version Control, Team Managers Pod

#12655 fix: remove internalKeys from Selected row and Triggered row
  app/client/src/widgets/TableWidget/widget/derived.js
  app/client/src/widgets/TableWidget/widget/derived.test.js
Labels: Bug, Table Widget, App Viewers Pod, High, UI Building Pod

#12534 test: Automated tests for AForce Migration scenarios + Improved TableFilter spec script coverage
  app/client/cypress.json
  app/client/cypress/fixtures/AForceMigrationExport.json
  app/client/cypress/fixtures/tableWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/AForceMigration_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_tableApi_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/ChartDataPoint_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/TableFilter_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Download_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Filter_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_PropertyPane_IconName_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/JSOnLoadActions_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OrganisationTests/MemberRoles_Spec.ts
  app/client/cypress/plugins/index.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
Labels: Task, skip-changelog, Test

#12683 fix: remove "Error when determining async func"
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluate.ts
Labels: Bug, Actions Pod, High, Low, Release, community, Needs Triaging, JS Editor, FE Coders Pod

#12847 chore: Migrating Github release workflow to use Buildjet for client build
  .github/workflows/github-release.yml
Labels: skip-changelog

#12837 fix: Fixes Mongo connection pool minimum size to 0
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/utils/DatasourceUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/utils/DatasourceUtilsTest.java
Labels: Bug, Actions Pod, Mongo, BE Coders Pod

#11878 fix: updated default content-type and default body format type
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/sagas/ApiPaneSagas.ts
Labels: Bug, Frontend, Actions Pod, Needs Triaging, Stale, BE Coders Pod

#12822 fix: Checklist flow
  app/client/src/pages/Editor/MainContainer.tsx
  app/client/src/pages/Editor/routes.tsx
  app/client/src/sagas/js_snippets.json
Labels: Bug, Needs Triaging, Platform Pod, New Developers Pod

#12202 fix: template fork button style on safari
  app/client/src/pages/Applications/ForkApplicationModal.tsx
  app/client/src/pages/Templates/ForkTemplate.tsx
Labels: Bug, Needs Triaging, Platform Pod, safari, Fork App, New Developers Pod, Templates

#12611 feat: Add analytics events to track user activation
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Enhancement, Platform Pod, Task, New Developers Pod

#12865 fix: 12861 trim unnecessary re-render in select widget in server side rendering
  app/client/src/widgets/SelectWidget/component/index.tsx
Labels: Bug

#12684 fix: Js object - set async tag after all objects are parsed
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/workers/DataTreeEvaluator/DataTreeEvaluator.ts
Labels: Bug, UX Improvement, Actions Pod, High, Release, Needs Triaging, JS Editor, FE Coders Pod, JS Promises

#12854 fix: Removed redundant init_ssl_cert function call
  deploy/docker/scripts/run-nginx.sh
Labels: Bug, Critical, Needs Triaging, Platform Pod, Release Blocker, New Developers Pod

#12820 fix: show loading state in JS Editor
  app/client/src/actions/jsPaneActions.ts
  app/client/src/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/sagas/JSPaneSagas.ts
Labels: Bug, Actions Pod, Needs Triaging, JS Editor, FE Coders Pod, V1

#12875 fix: Overriding margin and padding for custom render in the dropdown component
  app/client/src/components/ads/Dropdown.tsx
Labels: Bug, UI Improvement, Low, Production, Platform Pod, Generate Page, New Developers Pod

#12576 fix: merge tab issues
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.test.tsx
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.tsx
  app/client/src/pages/Editor/gitSync/components/GitErrorPopup.tsx
  app/client/src/pages/Editor/gitSync/components/MergeStatus.tsx
Labels: Bug, High, Platform Pod, Git Version Control, Deploy Preview, Team Managers Pod

#12434 chore: search for templates with a given datasource or widgets
  app/client/src/selectors/templatesSelectors.tsx
Labels: skip-changelog

#12681 feat: git delete branch | FE
  app/client/package.json
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Menu.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/components/BetaTag.test.tsx
  app/client/src/pages/Editor/gitSync/components/BetaTag.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.test.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/BranchListItem.tsx
  app/client/src/pages/Editor/gitSync/components/BranchListItemContainer.tsx
  app/client/src/pages/Editor/gitSync/components/BranchMoreMenu.tsx
  app/client/src/pages/Editor/gitSync/components/DangerMenuItem.tsx
  app/client/src/pages/Editor/gitSync/components/DefaultTag.test.tsx
  app/client/src/pages/Editor/gitSync/components/DefaultTag.tsx
  app/client/src/pages/Editor/gitSync/components/DeployedKeyUI.tsx
  app/client/src/pages/Editor/gitSync/components/LocalBranchList.test.tsx
  app/client/src/pages/Editor/gitSync/components/LocalBranchList.tsx
  app/client/src/pages/Editor/gitSync/components/RemoteBranchList.test.tsx
  app/client/src/pages/Editor/gitSync/components/RemoteBranchList.tsx
  app/client/src/pages/Editor/gitSync/components/RemoteBranchListItem.tsx
  app/client/src/pages/Editor/gitSync/hooks/index.ts
  app/client/src/pages/Editor/gitSync/hooks/useActiveHoverIndex.ts
  app/client/src/pages/Editor/gitSync/hooks/useFilteredBranches.ts
  app/client/src/pages/Editor/gitSync/hooks/useGitConnect.ts
  app/client/src/pages/Editor/gitSync/hooks/useHover.ts
  app/client/src/pages/Editor/gitSync/hooks/useSSHKeyPair.ts
  app/client/src/pages/Editor/gitSync/utils.test.ts
  app/client/src/pages/Editor/gitSync/utils.ts
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/yarn.lock
Labels: Enhancement, Task

#12613 fix: welcome form getting submitted on pressing enter key
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/SetupForm.test.tsx
  app/client/src/pages/setup/SetupForm.tsx
  app/client/src/pages/setup/common.tsx
Labels: Bug, Low, Platform Pod, New Developers Pod, Welcome Screen

#12819 fix: Connection timeout for git connect when the git repo is behind a firewall
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, High, Needs Triaging, Platform Pod, Git Version Control, Team Managers Pod, medium

#12805 fix: Organization name can be empty
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/OrganizationServiceTest.java
Labels: Bug

#12686 feat: Container Jump Improvements and Code for tracking Container Jumps
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/pages/common/CanvasArenas/hooks/ContainerJumpMetric.ts
  app/client/src/pages/common/CanvasArenas/hooks/useBlocksToBeDraggedOnCanvas.ts
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/WidgetPropsUtils.test.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/hooks/useReflow.ts
Labels: Bug, Enhancement, Low, Production, UI Building Pod, UI Builders Pod, Drag & Drop, Reflow & Resize

#12751 test: Add tests for git bugs and git import
  app/client/cypress.json
  app/client/cypress/fixtures/JsObjecWithGitdsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/EchoApiCMS_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Application/MongoDBShoppingCart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitImport/GitImport_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/GitBugs_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/FirstTimeUserOnboarding_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Replay/Replay_Editor_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/gitSync.js
  app/client/src/ce/constants/messages.test.ts
Labels: Platform Pod, Git Version Control, skip-changelog, Team Managers Pod, Test

#12351 chore: Should not persist DSL for mainContainer layout changes
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.tsx
  app/client/src/reducers/index.tsx
  app/client/src/reducers/uiReducers/index.tsx
  app/client/src/reducers/uiReducers/mainCanvasReducer.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
  app/client/src/widgets/ModalWidget/widget/index.tsx
Labels: UI Building Pod, Platform Pod, UI Builders Pod, Git Version Control, Task, skip-changelog, Team Managers Pod

#12537 chore: Parallellise fetch page call with actions, jsObject and plugins
  app/client/src/pages/Editor/GuidedTour/app.json
  app/client/src/sagas/InitSagas.ts
Labels: Performance, skip-changelog

#12912 chore: Key missing error in Boxed component
  app/client/src/pages/Editor/PropertyPane/Generator.tsx
Labels: skip-changelog

#12886 feat: Handle stringified json response and fix alignment issue
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
Labels: Enhancement, Frontend, Backend, API pane, Actions Pod, Low, Release, regression, Query Editor, Needs Triaging, Query Execution, BE Coders Pod, REST API plugin

#12830 fix: onboarding deploy step redirecting to edit mode
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
Labels: Bug, High, regression, Needs Triaging, Platform Pod, Onboarding, New Developers Pod, Welcome Screen

#12568 fix: replace rfdc with klona
  app/client/package.json
  app/client/src/components/propertyControls/FieldConfigurationControl.tsx
  app/client/src/utils/klona.test.ts
  app/client/src/widgets/JSONFormWidget/component/Field.tsx
  app/client/src/widgets/JSONFormWidget/component/Form.tsx
  app/client/src/widgets/JSONFormWidget/fields/ArrayField.tsx
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.ts
  app/client/src/widgets/JSONFormWidget/fields/useUpdateInternalMetaState.ts
  app/client/src/widgets/JSONFormWidget/schemaParser.test.ts
  app/client/src/widgets/JSONFormWidget/schemaParser.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/helper.test.ts
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/workers/Actions.ts
  app/client/src/workers/DataTreeEvaluator/DataTreeEvaluator.ts
  app/client/src/workers/evaluationUtils.ts
  app/client/yarn.lock
Labels: Bug, Performance, Actions Pod, High, community, Needs Triaging, Task, FE Coders Pod

#11705 feat: Update directory structure for git-sync to mimic UI
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/CommonConstants.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/converters/GsonDoubleToLongConverterTest.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/pluginExceptions/AppsmithPluginError.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ApplicationGitReference.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersions.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/FileFormatMigrationTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v1/application.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v1/datasources/Datasource1.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v1/jsobjects/JSObject1_Page1.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v1/metadata.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v1/pages/Page1.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v1/queries/Query1_Page1.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v2/application.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v2/datasources/Datasource1.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v2/metadata.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v2/pages/Page1/canvas.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v2/pages/Page1/jsobjects/JSObject1.json
  app/server/appsmith-server/src/test/resources/test_assets/GitExecutorTests/FileFormatVersions/v2/pages/Page1/queries/Query1.json
Labels: Enhancement, Platform Pod, Git Version Control, Dont merge, Team Managers Pod

#12890 fix: Reset app, page and widget details when switching between apps
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Migration_Spec.js
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/reducers/entityReducers/pageListReducer.tsx
  app/client/src/reducers/uiReducers/pageCanvasStructureReducer.ts
  app/client/src/reducers/uiReducers/pageWidgetsReducer.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/InitSagas.ts
Labels: Bug, Documentation, User Education Pod

#12937 chore: remove template feature flag
  app/client/src/AppRouter.tsx
  app/client/src/pages/common/PageHeader.tsx
Labels: Bug, High, Needs Triaging, Platform Pod, skip-changelog, New Developers Pod

#12574 fix: update custom chart data and type only
  app/client/cypress/fixtures/chartCustomDataDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Custom_Chart_Data_spec.js
  app/client/src/widgets/ChartWidget/component/index.tsx
Labels: Bug, Enhancement, Chart Widget, App Viewers Pod, Low, UI Building Pod, community

#12187 fix: renamed temporary encryption variables in docker entry-point script
  deploy/docker/entrypoint.sh
  deploy/docker/templates/docker.env.sh
Labels: Bug, Deployment, High, K8s, DevOps Pod

#12850 fix: updated cursor style in actionWrapper
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidget/component/TableUtilities.tsx
  app/client/src/widgets/TableWidget/component/components/menuButtonTableComponent.tsx
Labels: Bug, Good First Issue, Table Widget, App Viewers Pod, Low, UI Building Pod, Low effort, Papercut

#12940 chore: remove minifying in dev to ease debugging
  app/client/craco.common.config.js
  app/client/craco.dev.config.js
Labels: skip-changelog

#12986 fix: Handle logic to delete the application resource during git delete branch flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, High, Release, Needs Triaging, Platform Pod, Git Version Control, Team Managers Pod

#12909 chore: Remove feature flag for git import
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog

#12976 chore: add common code for SAML
  app/client/src/components/ads/formFields/CopyUrlForm.tsx
  app/client/src/components/ads/formFields/TextAreaField.tsx
Labels: Platform Pod, skip-changelog, Team Managers Pod

#12927 fix: always show advanced settings in rest api editor
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
Labels: Bug, Frontend, Datasources, Needs Design, Actions Pod, Critical, High, Needs Triaging, BE Coders Pod, OAuth

#13040 fix: Fix issues in git flows when pages don't have reference in application object
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/GitConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
Labels: Bug, Needs Triaging, Platform Pod, Git Version Control, Team Managers Pod, Release Blocker

#11549 fix: Add logic to change default branch for git connected application
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/SwitchBranches_spec.js
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, Platform Pod, Git Version Control, Team Managers Pod

#13062 fix: 12988 - deleting original default branch
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
Labels: Bug, High, Release, Platform Pod, Git Version Control, Team Managers Pod

#13092 fix: Updated the condition to show expiry key
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/list.json
Labels: Bug, Actions Pod, Critical, Needs Triaging, S3, BE Coders Pod

#13117 chore: Update theming default themes configs
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: skip-changelog

#12745 fix: Reflow widgets overlap on the canvas edges
  app/client/src/reflow/reflowHelpers.ts
  app/client/src/reflow/reflowTypes.ts
  app/client/src/reflow/reflowUtils.ts
  app/client/src/reflow/tests/reflowHelpers.test.js
  app/client/src/reflow/tests/reflowUtils.test.js
Labels: Bug, Production, UI Building Pod, Needs Triaging, UI Builders Pod, Drag & Drop, Reflow & Resize

#12933 fix: git remote SSH url for Azure | BE
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
Labels: Bug, High, Platform Pod, Git Version Control, Team Managers Pod

#13073 fix: onOptionChange event not triggering in JSON Form radio group field
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_FieldEvents_spec.js
  app/client/src/widgets/JSONFormWidget/fields/RadioGroupField.tsx
  app/client/src/widgets/RadioGroupWidget/component/index.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, Needs Triaging, JSON Form, Skip Docs

#12821 fix: 11141-JDBC override parameter for resolving TZ Cast Errors
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
Labels: Bug, Backend, Actions Pod, Low, Platform Pod, Generate Page, BE Coders Pod, New Developers Pod, Postgres

#12788 fix: changed prop drilled fn to class fn, avoided array prop
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
Labels: Bug, Frontend, Actions Pod, UI Building Pod, Needs Triaging, UI Builders Pod, UI Performance, BE Coders Pod

#13138 chore: Add OAuth env variables to Cypress test runs in workflows
  .github/workflows/TestReuseActions.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image-fat.yml
  .github/workflows/test-build-docker-image.yml
Labels: Platform Pod, Task, skip-changelog, Team Managers Pod

#12746 feat: bring reflow out of beta, remove all the respective code related to disabling reflow
  app/client/src/actions/reflowActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/MainContainerLayoutControl.tsx
  app/client/src/pages/Editor/ReflowBetaCard.tsx
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/reducers/index.tsx
  app/client/src/reducers/uiReducers/reflowReducer.ts
  app/client/src/resizable/resizenreflow/index.tsx
  app/client/src/sagas/ReflowSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/index.tsx
  app/client/src/selectors/widgetReflowSelectors.tsx
  app/client/src/utils/storage.ts
Labels: Enhancement, UI Building Pod, UI Builders Pod, Task, Drag & Drop, Reflow & Resize

#13085 fix: scroll to active entity in explorer on route change
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Modal_spec.js
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/sagas/ModalSagas.ts
Labels: Bug, Entity Explorer, Omnibar, Needs Triaging, Platform Pod, New Developers Pod, medium

#13157 chore: update OAuth env variables to Cypress test runs in workflows
  .github/workflows/TestReuseActions.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image-fat.yml
  .github/workflows/test-build-docker-image.yml
Labels: Platform Pod, Task, skip-changelog, Team Managers Pod

#13133 fix: Update indexes to optimise the performance for git flows
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug

#13036 chore: update a cypress test
  .gitignore
  app/client/cypress/fixtures/githubSource.json
  app/client/cypress/fixtures/googleSource.json
  app/client/cypress/integration/Smoke_TestSuite/EnterpriseTests/AdminSettings/Admin_settings_spec.js
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/Github/EnableGithub_spec.js
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/Google/EnableGoogle_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/cypress/locators/EnterpriseAdminSettingsLocators.json
  app/client/cypress/locators/GithubForm.json
  app/client/cypress/locators/GoogleForm.json
  app/client/cypress/support/AdminSettingsCommands.js
  app/client/cypress/support/index.js
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/UserAuth/ThirdPartyAuth.tsx
Labels: Platform Pod, Task, skip-changelog, Team Managers Pod
