Repository appsmithorg/appsmith, pull requests merged in 2022-09, with the labels that each got.

#16375 refactor: Shift loader component to common file
  app/client/src/ce/pages/AdminSettings/index.tsx
  app/client/src/pages/Settings/components.tsx
Labels: Task, Team Managers Pod, RBAC

#16356 chore: Refactor repo limit check function
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#16193 chore: show template fork modal based on query param
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Fork_Template_spec.js
  app/client/cypress/locators/TemplatesLocators.json
  app/client/src/pages/Templates/Template/index.tsx
  app/client/src/pages/Templates/TemplateView.tsx
Labels: skip-changelog, New Developers Pod, Templates

#16199 fix: remove 300ms delay in form evaluations
  app/client/cypress/support/commands.js
  app/client/cypress/support/queryCommands.js
  app/client/src/actions/pluginActionActions.ts
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Bug, Performance, Query Editor, Needs Triaging, BE Coders Pod

#16401 fix: TreeWidgets issues
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/JSParse_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Multiselect/Multi_Select_Tree_spec.js
  app/client/src/widgets/MultiSelectTreeWidget/widget/derived.js
  app/client/src/widgets/MultiSelectTreeWidget/widget/derived.test.ts
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/parseDerivedProperties.ts
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/derived.js
  app/client/src/widgets/SingleSelectTreeWidget/widget/derived.test.ts
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/parseDerivedProperties.ts
  app/client/src/widgets/WidgetUtils.ts
Labels: Bug, App Viewers Pod, High, Release, regression, Needs Triaging, FE Coders Pod, MultiTree Select Widget, TreeSelect, OnPageLoad

#14427 feat: All outgoing requests should go through the configured proxy
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/WebClientUtils.java
  app/server/appsmith-plugins/googleSheetsPlugin/pom.xml
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/FileInfoMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsBulkAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsBulkUpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsDeleteMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsUpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/SheetDeleteMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Aggregate.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Count.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Distinct.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Find.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Insert.java
  app/server/appsmith-plugins/mysqlPlugin/pom.xml
  app/server/appsmith-plugins/rapidApiPlugin/src/main/java/com/external/plugins/RapidApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/pom.xml
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2AuthorizationCode.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2ClientCredentials.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/saasPlugin/src/main/java/com/external/plugins/SaasPlugin.java
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitCloudServicesUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/NetworkUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MockDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PluginScheduledTaskCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ReleaseNotesServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceTriggerSolutionTest.java
  app/server/reactive-caching/pom.xml
  deploy/docker/scripts/run-java.sh
Labels: Enhancement, Deployment, Business Edition, Team Managers Pod, DevOps Pod

#16237 fix: Table reverts column positions on sorting if columns returned differ
  app/client/cypress/fixtures/tableV2ColumnOrderDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Column_Order_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, medium

#16153 feat: Fetch Appsmith version when browser tab comes on focus
  app/client/public/index.html
  app/client/src/actions/pageVisibilityActions.ts
  app/client/src/ce/sagas/index.tsx
  app/client/src/sagas/PageVisibilitySagas.ts
  app/client/src/sagas/WebsocketSagas/WebsocketSagas.ts
  app/client/src/sagas/WebsocketSagas/socketEvents.ts
  app/rts/src/constants/socket.ts
  app/rts/src/sockets/events.ts
Labels: Bug, Enhancement, Critical, IDE, Task, New Developers Pod

#16423 fix: replacing supabase secrets with performance db secrets.
  .github/workflows/integration-tests-command.yml
Labels: Bug, Performance

#16013 fix: show the form setting in button widget
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
  app/client/src/sagas/selectors.tsx
  app/client/src/widgets/ButtonWidget/widget/index.tsx
Labels: Bug, Modal Widget, App Viewers Pod, Button Widget, Form Widget, Needs Triaging, Container Widget, Stat Box Widget

#16083 feat: Add new pageOffset binding to Table Widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Widget_Copy_Paste_spec.js
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/derived.test.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Enhancement, Good First Issue, Table Widget, App Viewers Pod, medium

#16444 chore: Update the welcome bot message
  .github/config.yml
Labels: skip-changelog

#16332 test: Unit test for datatype evaluation logic
  app/client/src/workers/evaluationUtils.test.ts
Labels: Frontend, High, Task, skip-changelog, BE Coders Pod, Test Plan Approved, Datatype issue, Test

#16021 feat:setup pseudo canvas widget reducer for evaluation
  app/client/src/actions/evaluationActions.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/selectors.tsx
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/widgets/ListWidgetV2/index.ts
  app/client/src/widgets/withWidgetProps.tsx
Labels: Enhancement, App Viewers Pod, Task, List Widget

#16267 fix: response table misalignment
  app/client/src/pages/Editor/QueryEditor/Table.tsx
  app/client/src/pages/Editor/__tests__/QueryEditorTable.test.tsx
  app/client/test/testMockedWidgets.tsx
Labels: Bug, Good First Issue, Frontend, Low, Query Editor, BE Coders Pod, Up for grabs, Test Plan Approved

#16248 fix: Blocks shortcut action execution when git modal is open
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug16248_spec.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, Query Editor, Git Version Control, Team Managers Pod, BE Coders Pod, REST API plugin, medium, Test Plan Approved

#16355 test: Script updates for flaky tests
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/SelectWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug9334_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug9334_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/InputTruncateCheck_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Moment_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_MultiSelectWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/List1_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/Array_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/BooleanEnum_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/DateTime_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/Json_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/FakerHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#16441 fix: gsheets insert command placeholder issue fixed
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/GoogleSheetsQuery_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/insert.json
Labels: Bug, Backend, Google Sheets, BE Coders Pod, Test Plan Approved

#16437 docs: update deployment options order
  README.md
Labels: Documentation, skip-changelog

#16439 fix: Refactoring to replace all usages of isEqual method from lodash with equal method from fast-deep-equal/es6
  app/client/src/components/ads/DraggableListComponent.tsx
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/editorComponents/Debugger/hooks/useGetEntityInfo.tsx
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
  app/client/src/pages/Editor/APIEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/common/CanvasArenas/hooks/useBlocksToBeDraggedOnCanvas.ts
  app/client/src/sagas/CanvasSagas/SelectionCanvasSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/utils/DynamicBindingUtils.test.ts
  app/client/src/utils/klona.test.ts
  app/client/src/widgets/ChartWidget/component/index.tsx
  app/client/src/widgets/FormWidget/widget/index.tsx
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/component/AutoToolTipComponent.tsx
  app/client/src/widgets/TableWidget/component/index.tsx
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TextWidget/component/index.tsx
Labels: Performance, Task, Code Refactoring

#16240 feat: Add server-side base data types (#15784)
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/DataType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/AppsmithType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/ArrayType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/BigDecimalType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/BooleanType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/ClientDataType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/DateType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/DoubleType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/FloatType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/IntegerType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/JsonObjectType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/LongType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/NullType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/StringType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/TimeType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/TimestampType.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/datatypes/MySQLBooleanType.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/datatypes/MySQLDateTimeType.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/datatypes/MySQLDateType.java
Labels: Enhancement, Backend, High, Task, BE Coders Pod, Datatype issue

#16474 feat: Add QR Scanner to System Themes
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: Enhancement, App Viewers Pod, community, New Widget

#16079 fix: welcome tour ending on page refresh
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
  app/client/cypress/locators/GuidedTour.json
  app/client/src/actions/onboardingActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Editor/GuidedTour/Guide.tsx
  app/client/src/pages/Editor/GuidedTour/useComputeCurrentStep.ts
  app/client/src/pages/Editor/GuidedTour/utils.ts
  app/client/src/reducers/uiReducers/guidedTourReducer.ts
  app/client/src/reducers/uiReducers/index.tsx
  app/client/src/reducers/uiReducers/onBoardingReducer.ts
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/selectors/onboardingSelectors.tsx
  app/client/src/utils/localStorage.test.ts
  app/client/src/utils/localStorage.tsx
Labels: Bug, High, Verified, regression, Needs Triaging, Onboarding, New Developers Pod

#16335 chore: some datasources not appearing in templates tab
  app/client/src/pages/Templates/DatasourceChip.tsx
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/selectors/templatesSelectors.tsx
Labels: Bug, skip-changelog, New Developers Pod, Templates

#16473 fix: large app icons
  app/client/src/pages/Applications/ApplicationCard.tsx
Labels: Bug, Design System Pod, High, Production, Needs Triaging

#16496 fix: Duplicating themes where 1:many applications mapping exists
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug, Critical, Needs Triaging, App Theming, Test Plan Approved

#16436 fix: added tablet landscape icon.
  app/client/src/pages/Editor/MainContainerLayoutControl.tsx
Labels: Bug, Good First Issue, Design System Pod, Property Pane, QA, Low, Release, UI Builders Pod, Responsive Viewport

#16497 fix: Performance improvement of /new API by updating the api used for fetching apps. Eliminating public applications from the result
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherUnitTest.java
Labels: Bug, High, Needs Triaging, skip-changelog, Team Managers Pod, Test Plan Approved, RBAC

#16504 chore: Fixing lint errors in the Cypress code base
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_API_with_List_Widget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_TableV2Widget_selectedRow_Input_widget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_TableWidget_selectedRow_Input_widget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Binding_TableV2_Widget_DefaultSearch_Input_widget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Binding_Table_Widget_DefaultSearch_Input_widget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Table_Property_ToggleJs_With_Binding_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Widgets_Default_data_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_DragAndDropWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/DuplicateApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/PropertyPane/PropertyPaneJsEnabledVisible_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_FormWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Button/ButtonGroup_MenuButton_Width_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Chart/Custom_Chart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Form/FormWidget_With_RichTextEditor_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/List4_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Migration_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Others/MapChart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Switch/SwitchGroup2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/pagesize_spec.js
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, Test Plan Approved

#16286 feat: console log implementation in appsmith
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.js
  app/client/cypress/locators/Debugger.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/Debugger/ContextualMenu.tsx
  app/client/src/components/editorComponents/Debugger/DebuggerLogs.tsx
  app/client/src/components/editorComponents/Debugger/FilterHeader.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/components/editorComponents/Debugger/hooks/debuggerHooks.ts
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/entities/AppsmithConsole/index.ts
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/selectors/debuggerSelectors.test.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/AppsmithConsole.ts
  app/client/src/workers/DataTreeEvaluator/index.ts
  app/client/src/workers/UserLog.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Enhancement, Debugger, Task, FE Coders Pod, Test Plan Approved

#16507 chore: update-bad-theme should only run once.
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: skip-changelog

#16490 fix: Never cache index.html via Service Worker
  app/client/src/serviceWorker.js
Labels: Bug, CI

#16263 fix: update def on focus
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/utils/autocomplete/TernServer.ts
  app/client/src/utils/autocomplete/customDefUtils.ts
  app/client/src/utils/autocomplete/customTreeTypeDefCreator.ts
Labels: Bug, Performance, High, Autocomplete, Needs Triaging, Task, FE Coders Pod, medium

#16432 chore: Added some changes in authentication analytics events
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
Labels: skip-changelog, Test Plan Approved

#16488 chore: bump ds version
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_MultiSelectWidget_spec.js
  app/client/package.json
  app/client/src/pages/Editor/__tests__/QueryEditorTable.test.tsx
  app/client/yarn.lock
Labels: Design System Pod, skip-changelog

#16455 test: Script updates for flaky tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Autocomplete_JS_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/TableFilter_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_tabledata_schema_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/UUID_Spec.ts
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/UpgradeAppsmith/UpgradeAppsimth_spec.js
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test Plan Approved, Test

#16546 fix: adding git token for perf infra.
  .github/workflows/integration-tests-command.yml
Labels: Bug, Performance, High, UI Builders Pod, Task, UI Performance, skip-changelog

#16533 test: Script updates for flaky tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FieldChange_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/List1_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, Test Plan Approved, Test

#16559 fix: adding perf test runs to workflows post merge to release.
  .github/workflows/test-build-docker-image.yml
Labels: Bug, Performance, High, UI Builders Pod, Task, UI Performance, skip-changelog

#16565 fix: Fix LinkageError in Saas & GSheets plugins
  app/server/appsmith-plugins/googleSheetsPlugin/pom.xml
  app/server/appsmith-plugins/saasPlugin/pom.xml
Labels: Bug, Skip Docs

#16574 fix: fixing perf test workflow during merge.
  .github/workflows/test-build-docker-image.yml
Labels: Performance, skip-changelog

#16580 fix: Add remove def when updating def
  app/client/src/utils/autocomplete/TernServer.ts
Labels: Bug, High, Verified, Release, Autocomplete, Needs Triaging, FE Coders Pod

#16579 fix: Creating default workspace for SSO signed up users before creating first application
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/AuthenticationSuccessHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
Labels: Bug, Needs Triaging, Team Managers Pod, Release Blocker, BE Coders Pod, OAuth, Test Plan Approved

#16589 fix: removing "Exit if Server hasn't started" coz its not needed.
  .github/workflows/test-build-docker-image.yml
Labels: Bug, Performance, High, UI Builders Pod, Task, UI Performance

#16566 ci: Update ok-to-test.yml to run only on pull request comments
  .github/workflows/ok-to-test.yml
Labels: skip-changelog

#16550 test: refactor git test
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCEImplTest.java
Labels: skip-changelog, Team Managers Pod, Test Plan Approved, Test

#16598 test: Moving from Chrome to Electron browser for CI runs
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#16520 fix: updating trigger meta to get the source of console logs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.js
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/DataTreeEvaluator/index.ts
  app/client/src/workers/JSObject/index.ts
  app/client/src/workers/UserLog.ts
  app/client/src/workers/evaluate.ts
Labels: Bug, High, Release, Debugger, Needs Triaging, Query Execution, Release Blocker, FE Coders Pod, BE Coders Pod, Test Plan Approved

#16606 fix: Duplicate default workspaces for first login using SSO
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/AuthenticationSuccessHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
Labels: Team Managers Pod

#16558 test: Script updates for flaky tests
  app/client/cypress/fixtures/defaultMetaDsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/AllWidgets_Reset_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/JSParse_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllWidgets_default_meta_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Dropdown/Dropdown_onOptionChange_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Switch/SwitchGroup2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Text/Text_truncate_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_RequestBody_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/ConfirmRunAction_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_1_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_2_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/TableV2.ts
  app/client/cypress/support/WorkspaceCommands.js
  app/client/cypress/support/queryCommands.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#16620 chore: Using single permission group for all public viewable objects
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PermissionGroupServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Cannot Reproduce Issue, Needs Triaging, skip-changelog, Team Managers Pod, Test Plan Approved

#16541 fix: Fix border bottom highlight issue
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
Labels: Bug, UI Improvement, Low, Production, Query Editor, Needs Triaging, BE Coders Pod, Test Plan Approved

#16451 fix: fix debugger logs for performance
  app/client/src/actions/debuggerActions.ts
  app/client/src/reducers/uiReducers/debuggerReducer.ts
  app/client/src/sagas/DebuggerSagas.ts
Labels: Bug, Performance, Debugger, Needs Triaging, FE Coders Pod

#16595 feat: Update QR Scanner Themes to Code Scanner Themes
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: Enhancement, App Viewers Pod, community, New Widget

#15933 feat: Table widget checkbox column type
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/TableV2_Property_ToggleJs_With_Binding_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Button/ButtonGroup_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Chart/Chart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/CurrencyInput/CurrencyInput_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Dropdown/Dropdown_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Form/Form_With_CheckBox_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Input/Input_MaxChar_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Input/Input_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_ArrayField_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Multiselect/MultiSelect1_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Multiselect/MultiSelect4_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Others/MenuButton_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Select/Select_widget1_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/Inline_editing_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_IconName_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/columnTypes/checkboxCell_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Text/Text_spec.js
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/Generator.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/src/widgets/CheckboxWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/fields/CheckboxField.tsx
  app/client/src/widgets/TableWidgetV2/component/CascadeFields.tsx
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/CheckboxCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/EmptyCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectionCheckboxCell.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/ColumnControl.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Events.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Styles.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/index.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Enhancement, Table Widget, App Viewers Pod, High, potential-duplicate, Low effort

#16587 feat: Datepicker reskinning
  app/client/src/theme/wds.css
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: Enhancement, Date Picker Widget, App Viewers Pod

#16527 feat: Rating reskinning
  app/client/src/theme/wds.css
  app/client/src/widgets/RateWidget/component/index.tsx
  app/client/src/widgets/RateWidget/index.ts
Labels: Enhancement, App Viewers Pod, Low, Rating Widget

#16534 test: fix for flaky test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/CreateNewApp_spec.js
Labels: skip-changelog, Test

#15918 feat: Add non-configured datasource to merge template to an existing app API response
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
Labels: Enhancement, Backend, Task, New Developers Pod, Templates, medium, Test Plan Approved

#16658 ci: Swap docker for depot
  .github/workflows/github-release.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/rts-build.yml
  .github/workflows/test-build-docker-image.yml
  depot.json
Labels: skip-changelog, CI

#16596 chore: Fix Jest test Flakiness
  app/client/src/components/ads/ColorPickerComponentV2.test.tsx
  app/client/src/components/propertyControls/IconSelectControl.test.tsx
Labels: Task, skip-changelog

#16611 chore: Changes in user invited analytics event
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: Bug, High, Needs Triaging, skip-changelog, Test Plan Approved, Audit Logs

#16661 ci: Fixing the package step for test-build-docker workflow
  .github/workflows/perf-test.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#16542 fix:allow clear button in tree select widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Select/Single_Select_Tree_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Release, regression, Needs Triaging, TreeSelect

#16671 ci: Fixing the notification & Depot Docker build step
  .github/workflows/integration-tests-command.yml
  .github/workflows/rts-build.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#16626 fix: Table widget default selected row should display value "0" instead of a watermark
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Bug, Table Widget, UX Improvement, App Viewers Pod, Production, Needs Triaging, medium

#16676 fix: Update AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
Labels: Bug, Test Plan Approved

#16680 chore: Minor code refactor + Deleting PermissionGroupServiceTest from CE
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserUtilsCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PermissionGroupServiceTest.java
Labels: skip-changelog, Test Plan Approved

#16675 test: Fix flaky git tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/Git_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/Merge_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/support/gitSync.js
Labels: skip-changelog, Test Plan Approved, Test

#16631 test: Script updates for flaky tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/BindButton_Text_WithRecaptcha_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/TableV2_Property_ToggleJs_With_Binding_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/TableV2_Style_ToggleJS_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Table_Property_ToggleJs_With_Binding_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Table_Style_ToggleJS_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/CreateNewApp_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_MultiSelectWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/List1_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/TableFilter1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/TableFilter2_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/Inline_editing_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter2_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_All_Verb_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_Bugs_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/FakerHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/index.js
Labels: skip-changelog, Test Plan Approved, Test

#16643 feat: Divider Reskinning
  app/client/src/widgets/DividerWidget/index.ts
Labels: Enhancement, App Viewers Pod, Low, Divider Widget

#16678 ci: Fix `build_args` to be `build-args` for Depot builds
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#16628 fix: Fix Api url path issue
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/AbortAction_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug16377_spec.ts
  app/client/cypress/support/Objects/CommonErrorMessages.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/transformers/RestActionTransformer.ts
  app/client/src/transformers/RestActionTransformers.test.ts
Labels: Bug, High, Production, Needs Triaging, Query Execution, FE Coders Pod, BE Coders Pod, Evaluated Value, Test Plan Approved

#16668 chore: Delete service worker cache
  app/client/src/serviceWorker.js
Labels: skip-changelog

#16573 chore: Expose widget configuration to define properties that can set …
  app/client/src/utils/WidgetFactory.tsx
  app/client/src/utils/WidgetLoadingStateUtils.test.ts
  app/client/src/utils/WidgetLoadingStateUtils.ts
  app/client/src/utils/WidgetRegisterHelpers.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/TableWidgetV2/index.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/constants.ts
Labels: Bug, App Viewers Pod, Needs Triaging, skip-changelog, Table Widget V2

#15954 feat: Table widget V2 Inline editing validation for plain text & number column
  app/client/cypress.env.json
  app/client/cypress/fixtures/Table/InlineEditingDSL.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/inline_editing_validations_spec.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/components/editorComponents/ErrorTooltip.tsx
  app/client/src/components/propertyControls/TableInlineEditValidation.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/DefaultCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/InlineCellEditor.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/TextCell.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/index.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validation.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validations/Common.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validations/Number.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/index.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.test.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Enhancement, Table Widget, App Viewers Pod, High

#16656 test: updated test and dsl
  app/client/cypress/fixtures/tableV2NewDslWithPagination.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/Table_Widget_Add_button_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_spec.js
Labels: skip-changelog, Test

#16711 chore: fix table widget migration merge conflict
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigrations.ts
Labels: skip-changelog

#16719 test: update cypress test fork_template_spec
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Fork_Template_spec.js
Labels: skip-changelog, Skip Docs

#16151 fix: entrypoint.sh external mongo replica set check
  deploy/docker/entrypoint.sh
Labels: Bug, Deployment, Stale, Docker, DevOps Pod

#16735 fix(ci): fix tag reference to `github.sha`
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#16734 test: updated locator with wait for flaky test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FieldChange_spec.js
Labels: skip-changelog, Test

#16667 feat: Support running NGINX for development without Docker
  app/client/.gitignore
  app/client/Dockerfile
  app/client/docker/templates/nginx-app.conf.template
  app/client/start-https.sh
Labels: Enhancement, Skip Docs

#16553 feat: Updates modal new design changes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Admin_settings_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/ProductUpdates_spec.js
  app/client/src/pages/Applications/ProductUpdatesModal/ReleaseComponent.tsx
  app/client/src/pages/Applications/ProductUpdatesModal/index.tsx
  app/client/src/theme/colors.css
Labels: Enhancement, Design System Pod, Task

#16617 ci: Packer script to build AWS and DigitalOcean images
  .github/workflows/packer-ami-build.yml
  deploy/ansible/README.MD
  deploy/ansible/appsmith_playbook/appsmith-playbook.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/defaults/main.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/Debian-setup-docker.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/cleanup-packer-build.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/main.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/preflight.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-appsmith-runtime.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-appsmith.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-init-config.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-user-data.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/templates/appsmith/scripts/boot.sh
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/templates/appsmith/scripts/first-time-setup.sh
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/templates/cloud-config.cfg
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/templates/init-ssh.sh
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/templates/user-data.sh
  deploy/aws_ami/docker-compose.yml
  deploy/digital_ocean/files/var/lib/cloud/scripts/per-instance/01-onboot
  deploy/docker/docker-compose.yml
  deploy/packer/defaults.cfg
  deploy/packer/template.json.pkr.hcl
Labels: skip-changelog, CI, Skip Docs

#16502 perf: Widget layer optimization
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/components/editorComponents/DraggableComponent.tsx
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/components/editorComponents/SnipeableComponent.tsx
  app/client/src/selectors/ui.tsx
  app/client/src/selectors/widgetReflowSelectors.tsx
  app/client/src/selectors/widgetSelectors.ts
  app/client/src/utils/hooks/useClickToSelectWidget.tsx
  app/client/src/utils/hooks/usePositionedContainerZIndex.ts
  app/client/src/widgets/BaseWidget.tsx
Labels: Performance, High, UI Builders Pod, Task

#16526 fix: incorrect lint error position
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
  app/client/src/workers/Lint/index.ts
  app/client/src/workers/Lint/utils.ts
Labels: Bug, UX Improvement, Verified, Production, Needs Triaging, JS Linting & Errors, FE Coders Pod, medium, Test Plan Approved

#16748 ci: Fixing the RTS build workflow
  .github/workflows/client-build.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/perf-test.yml
  .github/workflows/rts-build.yml
  .github/workflows/server-build.yml
  .github/workflows/test-build-docker-image.yml
  app/rts/build.sh
  depot.json
Labels: skip-changelog

#16757 ci: Fixing the caches for server,client and rts build
  .github/workflows/client-build.yml
  .github/workflows/rts-build.yml
  .github/workflows/server-build.yml
Labels: skip-changelog

#16751 fix: docker entrypoint script to check mongo replicaset
  deploy/docker/entrypoint.sh
Labels: Bug

#16472 chore: Adding JS Object Events
  app/client/src/actions/jsActionActions.ts
  app/client/src/actions/jsPaneActions.ts
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/utils.ts
  app/client/src/sagas/JSActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Task, skip-changelog, JS Editor, FE Coders Pod, Test Plan Approved

#16772 ci: Fix tar download for rts
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#16773 ci: Fix rts dist
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#16647 chore: Refactor getSelectedWidget selector
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FieldChange_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/Table_Widget_Add_button_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_spec.js
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/Debugger/hooks/debuggerHooks.ts
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/selectors/onboardingSelectors.tsx
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/selectors/tableFilterSelectors.tsx
  app/client/src/selectors/ui.tsx
  app/client/src/selectors/widgetSelectors.ts
Labels: Performance, Task, skip-changelog

#16781 ci: Fix ui-test cache
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#16729 fix: table widget issue where editableCell is undefined
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, Critical, Table Widget V2

#16782 feat: add helper text for property pane inputs
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneHelperText.tsx
Labels: Enhancement, Property Pane, App Viewers Pod, UI Builders Pod, medium

#14856 feat: Change navigate to UI
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/NavigateTo_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/ButtonWidgets_NavigateTo_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/InputWidgets_NavigateTo_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/TableV2Widgets_NavigateTo_Validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/TableWidgets_NavigateTo_Validation_spec.js
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/components/propertyControls/ActionSelectorControl.tsx
  app/client/src/components/propertyControls/ColumnActionSelectorControl.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/sagas/ActionExecution/NavigateActionSaga.ts
  app/client/src/utils/URLUtils.ts
Labels: Bug, Enhancement, Needs Design, Property Pane, High, Low, Production, Release, UI Builders Pod, FE Coders Pod

#16262 feat: table widget switch column type
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/columnTypes/switchCell_spec.js
  app/client/src/widgets/TableWidgetV2/component/CascadeFields.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SwitchCell.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/ColumnControl.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Events.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Styles.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/index.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Enhancement, Table Widget, App Viewers Pod, High, potential-duplicate, Low effort

#16761 fix: prevent duplicated fields in debugger logs
  app/client/src/components/editorComponents/Debugger/helpers.test.ts
  app/client/src/components/editorComponents/Debugger/helpers.tsx
Labels: Bug, Performance, Needs More Info, High, Debugger, FE Coders Pod

#15990 feat: Code Scanner Widget
  app/client/cypress/fixtures/qr.mjpeg
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/CodeScanner/CodeScanner_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/publishWidgetspage.json
  app/client/package.json
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/utils/AppUtils.ts
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/CodeScannerWidget/component/index.tsx
  app/client/src/widgets/CodeScannerWidget/constants.ts
  app/client/src/widgets/CodeScannerWidget/icon.svg
  app/client/src/widgets/CodeScannerWidget/index.ts
  app/client/src/widgets/CodeScannerWidget/widget/index.tsx
  app/client/src/widgets/CodeScannerWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/CodeScannerWidget/widget/propertyConfig/styleConfig.ts
  app/client/src/widgets/CodeScannerWidget/widget/propertyUtils.ts
  app/client/src/widgets/QRGeneratorWidget/component/FontLoader.tsx
  app/client/src/widgets/QRGeneratorWidget/component/index.tsx
  app/client/src/widgets/QRGeneratorWidget/constants.ts
  app/client/src/widgets/QRGeneratorWidget/icon.svg
  app/client/src/widgets/QRGeneratorWidget/index.ts
  app/client/src/widgets/QRGeneratorWidget/widget/index.tsx
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, High, community, New Widget, Needs PRD

#16696 test: mysql datatypes cypress test cases
  app/client/cypress/fixtures/Datatypes/mySQLdsl.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datatypes/MySQL_Spec.ts
  app/client/cypress/support/Objects/mySqlData.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: Task, skip-changelog, BE Coders Pod, medium, Test Plan Approved, Datatype issue, Test, Data Platform Pod

#16765 chore: Allow env API for frame ancestors variable
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/EnvVariables.java
Labels: Backend, App Viewers Pod, Task, skip-changelog, Embedding Apps, Skip Docs

#16803 fix: Fix NGINX in start-https clashing with system conf
  app/client/start-https.sh
Labels: Bug, Skip Docs

#16826 Fix hard-coded mime.types location
  app/client/start-https.sh
Labels: skip-changelog, Skip Docs

#16619 feat: Add a service layer to get AppsmithType from client-type (#16508)
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/FallbackType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/FloatType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeServiceUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Param.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySQLPluginDataTypeTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Enhancement, Backend, High, Core Query Execution, Task, BE Coders Pod, Datatype issue, Data Platform Pod

#16750 fix: chart widget color fontfamily
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/ChartWidgetReskinningMigrations.ts
  app/client/src/utils/testDSLs.ts
Labels: Bug, Chart Widget, App Viewers Pod, High, Needs Triaging

#16746 fix: Class cast exception during file upload in S3 bucket (#15832)
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
Labels: Bug, Backend, High, S3, BE Coders Pod, Test Plan Approved, Integrations Pod

#16793 fix: batching console log save calls in redux store
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/utils/AppsmithConsole.ts
Labels: Bug, Needs Triaging, UI Builders Pod, UI Performance, Test Plan Approved

#16825 chore: Added users name to sessionUser
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserSession.java
Labels: skip-changelog, Test Plan Approved

#16812 fix: Optimize reflows on the applications list page
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/UpdateApplication_spec.js
  app/client/src/pages/Applications/ApplicationCard.tsx
Labels: Bug, Performance, Home Page, High, Low effort, Task, Team Managers Pod

#16462 feat: added theme values for slider widget.
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: Enhancement, Needs Design, App Viewers Pod, High, Stale, New Widget

#16591 feat: added WIDGET_DRAG event.
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
Labels: Enhancement, Needs Triaging, UI Builders Pod, Task, Canvas / Grid

#16171 feat: Linting in entity properties and methods
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/EntityPropertiesLint_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_Unique_name_spec.js
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/components/editorComponents/ActionCreator/constants.ts
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/constants/ast.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/utils/helpers.test.ts
  app/client/src/utils/helpers.tsx
  app/client/src/workers/Actions.ts
  app/client/src/workers/DataTreeEvaluator/index.ts
  app/client/src/workers/DataTreeEvaluator/test.ts
  app/client/src/workers/DependencyMap/index.ts
  app/client/src/workers/DependencyMap/utils.ts
  app/client/src/workers/Lint/index.ts
  app/client/src/workers/Lint/utils.ts
  app/client/src/workers/ast.test.ts
  app/client/src/workers/ast.ts
  app/shared/ast/index.d.ts
  app/shared/ast/index.ts
  app/shared/ast/src/constants.ts
  app/shared/ast/src/constants/ast.ts
  app/shared/ast/src/constants/index.ts
  app/shared/ast/src/index.test.ts
  app/shared/ast/src/index.ts
  app/shared/ast/src/jsObject/index.ts
  app/shared/ast/src/utils.ts
  yarn.lock
Labels: Bug, Enhancement, JS Evaluation, High, Production, Needs Triaging, Task, JS Linting & Errors, FE Coders Pod, Test Plan Approved, AST

#16850 ci: Fix ci cache & rts build for push workflow
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI, Test Plan Approved

#16845 fix: Fix h2 version mismatch
  app/server/appsmith-interfaces/pom.xml
  app/server/pom.xml
Labels: Bug, Skip Docs

#16851 ci: removed rts download for modues
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI, Test Plan Approved

#16852 ci: Fix ci cache
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#16314 fix: autocomplete-regress
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Autocomplete_JS_spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/reducers/entityReducers/appReducer.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/autocomplete/TernServer.ts
Labels: Bug, High, Verified, Autocomplete, Needs Triaging, Task, FE Coders Pod, medium, needs estimate, Test Plan Approved

#16698 feat: grouping in console logs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/Debugger/hooks/debuggerHooks.ts
  app/client/src/constants/Colors.tsx
  app/client/src/entities/AppsmithConsole/index.ts
  app/client/src/reducers/uiReducers/debuggerReducer.ts
  app/client/src/utils/AppsmithConsole.ts
  app/client/src/workers/evaluate.ts
Labels: Enhancement, Debugger, Core Query Execution, FE Coders Pod, BE Coders Pod, medium, Test Plan Approved, Data Platform Pod

#16842 fix: Better support for disallowed hosts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/TriggerUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/URIUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/WebClientUtils.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
Labels: Bug, Skip Docs, Test Plan Approved

#16836 fix: Migration to convert old defaultOptionValue expression to new on…
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/SelectWidget.test.ts
  app/client/src/utils/migrations/SelectWidget.ts
Labels: Bug, Select Widget, App Viewers Pod, Critical, Needs Triaging, MultiSelect Widget

#16874 fix: build error due to fn name change, copy node_modules on mac error
  app/rts/build.sh
  app/rts/src/services/AstService.ts
Labels: Bug, Critical, Needs Triaging, Release Blocker, FE Coders Pod, Test Plan Approved, AST

#16710 chore: Add support for limit - queryAll method of base repo
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
Labels: skip-changelog, Test Plan Approved

#16910 fix: added a condition to check for accentColor
  app/client/src/widgets/CodeScannerWidget/widget/index.tsx
Labels: skip-changelog

#16902 chore: Shutting down get applications endpoint
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
Labels: skip-changelog, Team Managers Pod, Test Plan Approved

#16914 fix: auto height limits scroll issue
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/DynamicHeightContainer.tsx
  app/client/src/widgets/RadioGroupWidget/component/index.tsx
  app/client/src/widgets/SwitchGroupWidget/component/index.tsx
Labels: UI Builders Pod, dynamic height

#16943 fix: auto height input label oob
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/DynamicHeightContainer.tsx
Labels: UI Builders Pod, dynamic height

#16549 fix: fixes right body type not selected after curl import
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/utils/ApiPaneUtils.test.ts
  app/client/src/utils/ApiPaneUtils.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
Labels: Bug, Frontend, Backend, High, BE Coders Pod, Test Plan Approved, CURL, Integrations Pod

#16787 feat: Image Widget Reskinning
  app/client/src/assets/icons/widget/image/download.svg
  app/client/src/assets/icons/widget/image/rotate-left.svg
  app/client/src/assets/icons/widget/image/rotate-right.svg
  app/client/src/theme/wds.css
  app/client/src/widgets/ImageWidget/component/index.tsx
  app/client/src/widgets/ImageWidget/index.ts
Labels: Enhancement, Image Widget, App Viewers Pod, Low

#16883 fix: Make projection fields refresh when table heading row index selection is updated
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/fetch_many.json
Labels: Bug, High, Production, Needs Triaging, Google Sheets, Query Forms, Test Plan Approved, Integrations Pod

#16888 fix: Fix NPE in execute API (#16722)
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Param.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceCEImplTest.java
Labels: Bug, Backend, Core Query Execution, BE Coders Pod, medium, Data Platform Pod, Sentry

#16832 fix: updated message changes for auth tab, capital texts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/StoreAsDatasource.tsx
Labels: Bug, Good First Issue, Frontend, QA, Low, Release, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod

#16425 fix: URL column in table widget not working correctly
  app/client/cypress/fixtures/tableV2WithUrlColumnDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Url_Column_spec.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/AutoToolTipComponent.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/DefaultCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/TextCell.tsx
Labels: Bug, App Viewers Pod, High, Needs Triaging, Table Widget V2

#16648 fix: Table interact-able columnTypes should not show in selectedRow
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Autocomplete_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/Custom_column_alias_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/Inline_editing_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/non_ascii_column_name_spec.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/derived.test.js
Labels: Bug, Table Widget, App Viewers Pod, medium, Table Widget V2

#16922 feat: Add font family to system-themes for map chart
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: Enhancement, App Viewers Pod, Low, Map Chart Widget

#16689 feat: parse CSV data using File Picker Widget
  app/client/cypress/fixtures/Test_csv.csv
  app/client/cypress/fixtures/filePickerTableDSL.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_CSV_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/package.json
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneHelperText.tsx
  app/client/src/widgets/FilePickerWidgetV2/index.ts
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/constants.ts
  app/client/yarn.lock
Labels: Enhancement, File Picker Widget, App Viewers Pod, High

#16949 fix: auto height text widget hide overflow
  app/client/src/widgets/TextWidget/widget/index.tsx
Labels: UI Builders Pod, dynamic height

#16904 fix: Table filter issues
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter2_Spec.ts
  app/client/src/widgets/TableWidgetV2/component/CascadeFields.tsx
  app/client/src/widgets/TableWidgetV2/component/TableFilterPaneContent.tsx
Labels: Bug, Table Widget, App Viewers Pod, medium

#16448 fix: Table's last column doesn't resize properly
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Column_Resize_spec.js
  app/client/src/widgets/TableWidgetV2/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, Needs Triaging, medium, Table Widget V2

#16881 fix: Design system package conflict with babel-plugin-styled-components
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, Design System Pod, Task, ADS Component Issue

#15712 feat: implemented slider widget inspired by mantine ui
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/CategorySliderWidget/icon.svg
  app/client/src/widgets/CategorySliderWidget/index.ts
  app/client/src/widgets/CategorySliderWidget/validations.ts
  app/client/src/widgets/CategorySliderWidget/widget/index.tsx
  app/client/src/widgets/CategorySliderWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/CategorySliderWidget/widget/propertyConfig/styleConfig.ts
  app/client/src/widgets/NumberSliderWidget/component/Container.tsx
  app/client/src/widgets/NumberSliderWidget/component/Marks.tsx
  app/client/src/widgets/NumberSliderWidget/component/SilderRoot.tsx
  app/client/src/widgets/NumberSliderWidget/component/Slider.tsx
  app/client/src/widgets/NumberSliderWidget/component/Thumb.tsx
  app/client/src/widgets/NumberSliderWidget/component/Track.tsx
  app/client/src/widgets/NumberSliderWidget/icon.svg
  app/client/src/widgets/NumberSliderWidget/index.ts
  app/client/src/widgets/NumberSliderWidget/use-move.ts
  app/client/src/widgets/NumberSliderWidget/utils.ts
  app/client/src/widgets/NumberSliderWidget/validations.ts
  app/client/src/widgets/NumberSliderWidget/widget/index.tsx
  app/client/src/widgets/NumberSliderWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/NumberSliderWidget/widget/propertyConfig/styleConfig.ts
  app/client/src/widgets/RangeSliderWidget/component/RangeSlider.tsx
  app/client/src/widgets/RangeSliderWidget/icon.svg
  app/client/src/widgets/RangeSliderWidget/index.ts
  app/client/src/widgets/RangeSliderWidget/validations.ts
  app/client/src/widgets/RangeSliderWidget/widget/index.tsx
  app/client/src/widgets/RangeSliderWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/RangeSliderWidget/widget/propertyConfig/styleConfig.ts
  app/client/src/widgets/WidgetUtils.ts
Labels: Enhancement, Needs Design, QA, App Viewers Pod, High, UI Builders Pod, New Widget

#16204 fix: Issues with JS toggle
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/utils/testPropertyPaneConfig.test.ts
  app/client/src/widgets/CircularProgressWidget/widget/index.tsx
  app/client/src/widgets/DatePickerWidget2/widget/index.tsx
  app/client/src/widgets/DividerWidget/widget/index.tsx
  app/client/src/widgets/ProgressBarWidget/widget/index.tsx
  app/client/src/widgets/ProgressWidget/widget/index.tsx
Labels: Bug, Date Picker Widget, Property Pane, App Viewers Pod, Needs Triaging, UI Builders Pod, Progress bar widget, medium

#16999 ci: Fixing the github release workflow to push the latest tags for Docker images
  .github/workflows/github-release.yml
Labels: skip-changelog, CI

#17001 chore: Fix host error message in Elasticsearch config
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/resources/form.json
Labels: skip-changelog

#16646 fix: Camera widget is unable to capture high quality images
  app/client/src/widgets/CameraWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Needs Triaging, Camera Widget, medium

#16878 fix: Action Selector menu goes out of viewport
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/utils/ApiPaneUtils.test.ts
Labels: Bug, UX Improvement, Modal Widget, Property Pane, App Viewers Pod, Production, Needs Triaging, UI Builders Pod, Menu Button Widget, Button Group widget, medium

#16501 fix: remove RapidAPI plugin src code from API server
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/rapidApiPlugin/plugin.properties
  app/server/appsmith-plugins/rapidApiPlugin/pom.xml
  app/server/appsmith-plugins/rapidApiPlugin/src/main/java/com/external/plugins/RapidApiPlugin.java
  app/server/appsmith-plugins/rapidApiPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/rapidApiPlugin/src/test/java/com/external/plugins/RapidApiPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: Bug, Backend, Low, Task, BE Coders Pod, SAAS Plugins, Test Plan Approved, Tech Debt, Integrations Pod

#16958 fix: JS option missing for some style items in table widget v2
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/styleConfig.ts
Labels: Bug, Table Widget, App Viewers Pod, Low

#17025 feat: Create a feature flag for Templates: Phase 2
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Enhancement, New Developers Pod, Templates
