Repository appsmithorg/appsmith, pull requests merged in 2022-05, with the labels that each got.

#13394 test: Add tests for git sync app and git bugs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitImport/ImportEmptyRepo_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/GitBugs_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/GitSyncedApps_spec.js
  app/client/cypress/support/OrgCommands.js
  app/client/cypress/support/gitSync.js
Labels: Task, skip-changelog, Test

#13472 fix: 12603 - git import modal message of remote url inputbox
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
Labels: Bug, Needs Triaging, Git Version Control, Team Managers Pod, Platform Pod

#13488 chore: add overflow to js editor settings
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
Labels: Low, Release, skip-changelog, JS Editor, FE Coders Pod, Actions Pod

#12333 fix: don't run onClick event handler when button is disabled
  app/client/src/components/ads/Button.test.tsx
  app/client/src/components/ads/Button.tsx
  app/client/src/widgets/ButtonWidget/component/DragContainer.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
Labels: Bug, Good First Issue, Query Editor, Needs Triaging, Query Execution, Stale, FE Coders Pod, BE Coders Pod, Actions Pod

#13401 fix: Optimize flow to maintain page order during export-import
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: Bug, High, Needs Triaging, Import-Export-App, Team Managers Pod, Platform Pod

#13491 fix: Add null check for createdAt field in analytics event
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Bug

#13511 fix: 12456 - oauth redirection issue
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
Labels: Bug, Release, Needs Triaging, Git Version Control, Team Managers Pod, Release Blocker, Platform Pod

#13198 chore: Add JS editor test cases
  app/client/src/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/pages/Editor/Explorer/helpers.test.ts
  app/client/src/utils/JSPaneUtils.test.ts
  app/client/src/utils/autocomplete/EntityDefinitions.test.ts
Labels: Task, skip-changelog, JS Editor, FE Coders Pod, V1, Actions Pod

#13415 fix: submit button not disabled in invalid json form on first load
  app/client/cypress/fixtures/jsonFormDslWithoutSchema.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_FormProperties_spec.js
  app/client/src/widgets/JSONFormWidget/component/Form.tsx
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, JSON Form

#12288 chore: Commit application files during the connect flow
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Deploy_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/DisconnectGit_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/GitBugs_spec.js
  app/client/cypress/support/gitSync.js
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/GitExecutorTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Git Version Control, Task, skip-changelog, Team Managers Pod, Platform Pod

#13453 fix: JSONForm placed in modal does not update default value from source data
  app/client/cypress/fixtures/jsonFormInModalDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONFrom_Modal_spec.js
  app/client/src/widgets/JSONFormWidget/component/Form.tsx
  app/client/src/widgets/JSONFormWidget/component/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, JSON Form

#12906 feat: new Widget Copy paste experience
  app/client/cypress/fixtures/WidgetCopyPaste.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetCopyPaste/WidgetCopyPaste_spec.js
  app/client/src/actions/widgetActions.tsx
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/constants/componentClassNameConstants.ts
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/pages/Editor/GlobalHotKeys/index.tsx
  app/client/src/pages/Editor/GlobalHotKeys/useMouseLocation.tsx
  app/client/src/pages/Editor/GuidedTour/useComputeCurrentStep.ts
  app/client/src/pages/Editor/WidgetsMultiSelectBox.tsx
  app/client/src/pages/common/CanvasArenas/CanvasSelectionArena.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/utils/generators.tsx
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/InputWidget/component/index.tsx
  app/client/src/widgets/ModalWidget/component/index.tsx
  app/client/src/widgets/ModalWidget/widget/index.tsx
Labels: Enhancement, UI Building Pod, UI Builders Pod, Task, Copy Paste

#13304 fix: welcome form shown for a while after signup
  app/client/src/pages/setup/SignupSuccess.test.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/pages/setup/Welcome.tsx
  app/client/src/pages/setup/common.tsx
Labels: Bug, Invite users, Team Managers Pod, Platform Pod

#13521 fix: only execute pageload actions after successfully fetching actions and jscollections in view mode
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/OnLoadActions_Spec.ts
  app/client/src/sagas/InitSagas.ts
Labels: Bug, Critical, Needs Triaging, FE Coders Pod, OnPageLoad, Actions Pod

#13318 fix: DisplayText in table url column should be processed properly for…
  app/client/cypress/fixtures/example.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/TableBugs_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/src/widgets/TableWidget/widget/getTableColumns.test.tsx
  app/client/src/widgets/TableWidget/widget/getTableColumns.tsx
Labels: Bug, Table Widget, App Viewers Pod, Low, UI Building Pod, community

#13212 chore: highlight name input field for newly created js objects
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/components/utils/NameEditorComponent.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/actionSelectors.tsx
  app/client/src/selectors/ui.tsx
Labels: Enhancement, Task, skip-changelog, FE Coders Pod, Actions Pod

#12633 feat: Support getting values from secrets in helm chart configuration
  deploy/helm/templates/statefulset.yaml
  deploy/helm/values.yaml
Labels: Enhancement, Deployment, Stale, K8s, DevOps Pod

#13514 fix: remove horizontal scrollbar
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
Labels: Bug, Low, Needs Triaging, Git Version Control, Team Managers Pod, Platform Pod

#12190 feat: added keyboard interaction for datepicker
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/DatePicker_With_Switch_spec.js
  app/client/src/components/ads/DatePickerComponent.tsx
Labels: Enhancement, UI Building Pod, UI Builders Pod, Task

#13526 fix: update JS libs version numbers in entity explorer
  app/client/src/utils/DynamicBindingUtils.ts
Labels: Bug, Needs Triaging, Task, New Developers Pod, Libraries, Platform Pod

#13571 test: fix Tab widget related cypress tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_TabWidget_Input_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/Tab_new_scenario_spec.js
Labels: skip-changelog, Test

#13519 fix: Missing applicationId in fetch comments API
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Bug, Home Page, Low, regression, Needs Triaging, Team Managers Pod, New Developers Pod, Platform Pod

#13557 chore: Code split for RBAC feature
  app/client/src/AppRouter.tsx
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/Main.tsx
  app/client/src/ce/pages/AdminSettings/config/index.ts
  app/client/src/ce/pages/AdminSettings/index.tsx
  app/client/src/ee/pages/AdminSettings/LeftPane.tsx
  app/client/src/ee/pages/AdminSettings/Main.tsx
  app/client/src/ee/pages/AdminSettings/config/index.ts
  app/client/src/ee/pages/AdminSettings/index.tsx
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/pages/Settings/components.ts
  app/client/src/pages/Settings/config/index.ts
Labels: Enhancement, potential-duplicate, Task, skip-changelog, Team Managers Pod, Platform Pod

#13558 fix: Throw error when trying to import a cURL command that has a subshell
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
Labels: Bug, High, Needs Triaging, BE Coders Pod, REST API plugin, Actions Pod

#13365 fix: JSONForm RadioGroupField - support numeric values in the options
  app/client/cypress/fixtures/jsonFormDslWithoutSchema.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_RadioGroupField_spec.js
  app/client/src/widgets/JSONFormWidget/constants.ts
  app/client/src/widgets/JSONFormWidget/fields/RadioGroupField.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/radioGroup.test.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/radioGroup.ts
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, Needs Triaging, Radio Group Widget, JSON Form

#13425 feat: file explorer submenu
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/pages/Editor/Explorer/Files/SubmenuHotkeys.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
Labels: Enhancement, Design System, UI Improvement, UX Improvement, Entity Explorer, Low, Deploy Preview, New Developers Pod, Platform Pod

#13551 fix: moving refreshTokenClientCredentialsLocation from oAuth2Common to AuthoCode
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
Labels: Bug, Backend, Datasources, Critical, BE Coders Pod, REST API plugin, OAuth, Actions Pod

#13570 Chore: Functional breakdown for authentication analytics feature
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
Labels: Task, Team Managers Pod, SSO, Platform Pod

#13505 chore: Add analytics event for SSH key generation
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitAuth.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
Labels: Git Version Control, skip-changelog, Team Managers Pod, Platform Pod

#13575 fix: Fix text/plain not showing up when api is run in api response viewer
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, High, Query Editor, Needs Triaging, Query Execution, BE Coders Pod, REST API plugin, Actions Pod

#11835 feat: git discard changes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Connection_spec.js
  app/client/cypress/locators/gitSyncLocators.js
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/NotificationBanner.test.tsx
  app/client/src/components/ads/NotificationBanner.tsx
  app/client/src/components/designSystems/appsmith/CloseButton.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/DeployedKeyUI.tsx
  app/client/src/pages/Editor/gitSync/components/DiscardChangesWarning.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
  app/client/src/pages/Editor/gitSync/components/GitConnectError.tsx
  app/client/src/pages/Editor/gitSync/components/RemoteBranchList.test.tsx
  app/client/src/pages/Editor/gitSync/components/StyledComponents.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug, Enhancement, QA, High, Verified, Git Version Control, Task, Deploy Preview, Team Managers Pod, Platform Pod

#13105 fix: set max-height for Dropdown component
  app/client/cypress/support/widgetCommands.js
  app/client/src/components/ads/Dropdown.test.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/MultiselectDropdown.test.tsx
  app/client/src/components/ads/MultiselectDropdown.tsx
  app/client/src/components/ads/index.ts
  app/client/src/components/constants.ts
  app/client/src/components/propertyControls/DropDownControl.tsx
  app/client/src/components/propertyControls/MultiSelectControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnDropdownControl.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/constants/Colors.tsx
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/DatePickerWidget2/widget/constants.ts
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/FilepickerWidget/widget/index.tsx
  app/client/src/widgets/InputWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/input.ts
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
Labels: Bug, Property Pane, High, UI Building Pod, UI Builders Pod, Papercut

#13536 chore: Fix the typo in login credentials
  app/client/perf/src/utils/utils.js
  app/client/perf/tests/golden-app.perf.js
Labels: skip-changelog

#13580 fix: Improve git error logging
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ErrorType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug, Git Version Control, Team Managers Pod, Platform Pod

#12904 test: Automated tests to improve coverage for JSObjects-onPageLoad + Flaky fixes
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_TabWidget_Input_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/ButtonWidgets_NavigateTo_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Canvas_scrolling_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/AuthenticatedApiDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RestApiDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/JSOnLoadActions_Spec.ts
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/App_Theming_New_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, Test

#12544 chore: Update property from property pane to use improved get strategy & BATCH_UPDATE_WIDGET_PROPERTY to be processed serially
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Table Widget, App Viewers Pod, High, UI Building Pod, Needs Triaging, UI Builders Pod, Task, skip-changelog, Generate Page, New Developers Pod, Platform Pod

#13279 ci: Add github action workflow to release new helm version (#12950)
  .github/workflows/helm-release.yml
Labels: skip-changelog, CI

#13154 feat: added healthcheck to docker
  Dockerfile
  app/client/Dockerfile
  app/server/Dockerfile
  deploy/docker/scripts/healthcheck.sh
Labels: Enhancement

#13573 fix: skip copying logic while grouping
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Bug, Release, UI Building Pod, UI Builders Pod, Widget Grouping

#12929 fix: Firestore where condition issue
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/utils/WhereConditionUtils.java
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/getCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
Labels: Bug, Datasources, High, Needs Triaging, Firestore, BE Coders Pod, Actions Pod

#13487 fix: Fix missing pluginId issue for datasource during the import flow if destination org don't have sepcific plugin installed
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-page-added.json
Labels: Bug, Critical, High, Needs Triaging, Git Version Control, Import-Export-App, Deploy Preview, Team Managers Pod, Platform Pod

#13564 fix: JSONForm currency and phone input dropdown not working in Array Field
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_ArrayField_spec.js
  app/client/src/widgets/JSONFormWidget/fields/ArrayField.tsx
Labels: Bug, App Viewers Pod, Low, UI Building Pod, regression, JSON Form

#13509 fix: JSONForm fix events/actions controls JS mode produces additional binding strings
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_FilterText_spec.js
  app/client/src/components/propertyControls/JSONFormComputeControl.tsx
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.test.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/helper.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/checkbox.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/common.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/date.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/input.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/multiSelect.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/radioGroup.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/select.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/switch.ts
Labels: Bug, App Viewers Pod, High, UI Building Pod, JSON Form

#13579 fix: makes entity bindings popover consistent with the rest of the popovers
  app/client/src/pages/Editor/Explorer/Entity/EntityProperties.tsx
Labels: Bug, Design System, UI Improvement, Entity Explorer, Low, Deploy Preview, New Developers Pod, Platform Pod

#13621 fix: stopping list widget from copying onto another list widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetCopyPaste/WidgetCopyPaste_spec.js
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Bug, Release, UI Building Pod, regression, Needs Triaging, UI Builders Pod, Release Blocker, Copy Paste

#13644 fix: disable revoke button after first click
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/DisconnectGit_spec.js
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
Labels: Bug, Git Version Control, Team Managers Pod, Platform Pod

#13178 feat: 12594 - added cypress test of form login on admin setting page
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/FormLogin/EnableFormLogin_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/cypress/support/AdminSettingsCommands.js
  app/client/src/pages/Settings/FormGroup/Toggle.tsx
Labels: Enhancement, Task, Team Managers Pod, Platform Pod

#13261 fix:change default value in rest api json and placeholder
  app/client/cypress/fixtures/patchjson.txt
  app/client/cypress/fixtures/postjson.txt
  app/client/cypress/fixtures/putjson.txt
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiPaneTests/API_All_Verb_spec.js
  app/client/src/components/ads/MultiSwitch.tsx
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/pages/Editor/APIEditor/PostBodyData.tsx
Labels: Bug, Enhancement, Frontend, UX Improvement, High, Query Editor, Needs Triaging, Low effort, BE Coders Pod, REST API plugin, Up for grabs, medium, Actions Pod

#13590 fix:only show js successful execution toast message in edit mode
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/JSOnLoadActions_Spec.ts
  app/client/src/sagas/JSPaneSagas.ts
Labels: Bug, JS Editor, FE Coders Pod, Actions Pod

#13610 Server setup steps on Windows using WSL
  contributions/ServerSetup.md
Labels: Documentation, Low effort, Task, BE Coders Pod, User Education Pod, Actions Pod

#13559 fix: Lowercase 'first' on the welcome page.
  app/client/src/ce/constants/messages.ts
Labels: Bug, UX Improvement, Login / Signup, High, Release, Team Managers Pod, Platform Pod

#13260 test: Fix fat container rerun
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Stale, Test

#13525 fix: JSONForm Phone number field required validation
  app/client/src/widgets/JSONFormWidget/fields/PhoneInputField.test.ts
  app/client/src/widgets/JSONFormWidget/fields/PhoneInputField.tsx
Labels: Bug, App Viewers Pod, UI Building Pod, Phone Input Widget, JSON Form, medium

#13553 fix: Use unique id instead of indices as keys for DraggableList
  app/client/src/components/ads/DraggableList.tsx
  app/client/src/pages/Editor/PagesEditor/index.tsx
Labels: Bug, Settings, Pages, High, Release, UI Building Pod, potential-duplicate, UI Builders Pod, Team Managers Pod, Platform Pod

#13568 fix: Handle login form password error message on blur
  .gitignore
  app/client/src/ce/pages/UserAuth/Login.tsx
Labels: Bug, Login / Signup, High, Needs Triaging, Team Managers Pod, Platform Pod

#11601 fix: triggering omnibar shortcuts toggles visibility when visible
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GlobalSearch/GlobalSearch_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Omnibar/Omnibar_spec.js
  app/client/cypress/locators/GlobalSearch.json
  app/client/src/actions/globalSearchActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/components/editorComponents/Debugger/ContextualMenu.tsx
  app/client/src/components/editorComponents/GlobalSearch/HelpBar.tsx
  app/client/src/components/editorComponents/GlobalSearch/SearchBox.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/reducers/uiReducers/globalSearchReducer.ts
  app/client/src/sagas/ActionSagas.ts
Labels: Bug, UX Improvement, Low, Production, Omnibar, New Developers Pod, Platform Pod

#13653 fix: use "modified" instead of "updated" in git changes list
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
Labels: Bug, Task

#13663 fix: Test failing for theme name change
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug

#13662 test: Automated tests to TableFilterSpec for Bug# 13334 + failure fixes
  app/client/cypress/fixtures/TableFilterImportApp.json
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/Error_handling_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/setInterval_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/App_Theming_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/ButtonWidgets_NavigateTo_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/IconButton_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/TableFilter_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test

#13159 feat: Track recently forked templates
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationTemplateServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
Labels: New Developers Pod, Platform Pod

#13102 feat: dynamic height checkbox group standardization
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
Labels: Enhancement, UI Building Pod, UI Builders Pod, dynamic height

#13160 feat: dynamic height radio group widget standardization
  app/client/src/widgets/RadioGroupWidget/component/index.tsx
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
Labels: Enhancement, UI Building Pod, potential-duplicate, UI Builders Pod, Task, dynamic height

#13450 fix: Application created when the repo is empty in git import flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, Needs Triaging, Git Version Control, Team Managers Pod, medium, Platform Pod

#13548 fix: signing up with a redirect url which has a query param goes to a 400 page
  app/client/src/ce/pages/UserAuth/SignUp.tsx
Labels: Bug, Login / Signup, QA, Critical, Production, Fork App, Team Managers Pod, New Developers Pod, Platform Pod

#13715 fix: Fix build failure
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug

#13695 feat: dynamic height input widget standardisation
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/CurrencyInputWidget/component/index.tsx
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/component/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/PhoneInputWidget/component/index.tsx
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
Labels: UI Builders Pod, dynamic height

#13669 Add functionality to close modal when back overlay is clicked.
  app/client/src/pages/Editor/RequestConfirmationModal.tsx
Labels: Bug, UX Improvement, Production, Needs Triaging, Query Execution, BE Coders Pod, medium, Actions Pod

#13275 fix: disable cancel button on a disabled select widget
  app/client/src/components/ads/Icon.tsx
  app/client/src/pages/Editor/BottomBar/ManualUpgrades.tsx
  app/client/src/widgets/SelectWidget/component/SelectButton.test.tsx
  app/client/src/widgets/SelectWidget/component/SelectButton.tsx
Labels: Bug, Select Widget, App Viewers Pod, High, UI Building Pod, Skip Docs

#13608 fix: Not able to see all the options of Font property as it is not scrollable + Canvas scroll to top when I drop Tab widget on the canvas
  app/client/src/widgets/InputWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidget/widget/index.tsx
  app/client/src/widgets/TabsWidget/component/PageTabs.tsx
  app/client/src/widgets/TabsWidget/component/index.tsx
Labels: Bug, Tab Widget, App Viewers Pod, Critical, Release, UI Building Pod, regression, Needs Triaging, Release Blocker, App Theming, medium

#13713 chore: add theme stylesheet for Table widget v2
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: skip-changelog

#12740 test: Theme related tests
  app/client/cypress/fixtures/ThemeAppdsl.json
  app/client/cypress/fixtures/fontData.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/Application_Theme_Default_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/Application_Theme_MultiSelectWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/Application_Theme_spec.js
  app/client/cypress/locators/ThemeLocators.json
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
  app/client/cypress/support/themeCommands.js
Labels: skip-changelog, Test

#13657 fix: delay on page load actions till all actions are retrieved
  app/client/src/actions/pageActions.tsx
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/PageSagas.tsx
Labels: Bug, QA, Critical, Needs Triaging, Release Blocker, FE Coders Pod, OnPageLoad, Actions Pod

#13448 fix: The page order doesn't work as expected in page setting page
  app/client/src/components/ads/DraggableList.tsx
  app/client/src/pages/Editor/PagesEditor/index.tsx
Labels: Bug, Settings, Pages, High, Low, Production, Release, UI Building Pod, potential-duplicate, Needs Triaging, UI Builders Pod, Team Managers Pod, Platform Pod

#13668 chore: remove only for jest test
  app/client/src/entities/Action/actionProperties.test.ts
Labels: skip-changelog

#13719 fix: Avoid pasting list widget inside another list widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetCopyPaste/WidgetCopyPaste_spec.js
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Bug, Release, UI Building Pod, regression, Needs Triaging, UI Builders Pod, Release Blocker, Copy Paste

#13725 fix: Hover state of renaming titles
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/pages/Editor/DataSourceEditor/FormTitle.tsx
Labels: Bug

#13718 Check for "Test Plan Approved" Label in PRs
  .github/workflows/label-checker.yml
Labels: FE Coders Pod, Test Plan Approved

#13700 fix: prevent lint warnings from blocking execution in js objects
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/entitiesSelector.ts
Labels: Bug, High, JS Editor, JS Linting & Errors, FE Coders Pod, Actions Pod

#13743 chore: safe crash application on theme APIs failure
  app/client/src/sagas/InitSagas.ts
Labels: skip-changelog

#13738 fix: persists query param in redirect urls
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ApplicationURL_spec.js
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
  app/client/src/sagas/ErrorSagas.tsx
Labels: Bug, Login / Signup, High, community, Needs Triaging, Team Managers Pod, New Developers Pod, Platform Pod

#13761 test: update cypress tests as per added test data in TED
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/GitSyncedApps_spec.js
Labels: skip-changelog, Test

#13671 feat: dynamic switch widget standardisation
  app/client/src/widgets/SwitchWidget/component/index.tsx
  app/client/src/widgets/SwitchWidget/widget/index.tsx
Labels: UI Builders Pod, dynamic height

#13724 chore: refactor git code
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.test.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
  app/client/src/pages/Editor/gitSync/utils.test.ts
  app/client/src/pages/Editor/gitSync/utils.ts
Labels: skip-changelog, Team Managers Pod, Test Plan Approved

#13781 Don't check for "Test Plan Approved" Label for performance PR
  .github/workflows/label-checker.yml
Labels: Test Plan Approved

#13748 test: Fix test failures due to the new connect flow
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: skip-changelog, Test

#13774 fix: Trigger submenu instead of omnibar when Add Query/JS" button is clicked.
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
Labels: Bug, New Developers Pod

#13600 fix: prevent dragging when resizing
  app/client/src/widgets/TableWidget/component/index.tsx
Labels: Bug, Table Widget, UX Improvement, App Viewers Pod, UI Building Pod, medium

#13637 feat: dynamic multi tree select widget standardisation
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
Labels: UI Builders Pod, dynamic height

#13729 fix: GraphQL UI issues, Datasource config issue
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiEditorConfigs.ts
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/QueryEditor.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/VariableEditor.tsx
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/sagas/QueryPaneSagas.ts
  app/server/appsmith-plugins/graphqlPlugin/src/main/resources/form.json
Labels: Bug, Frontend, Needs Triaging, BE Coders Pod, GraphQL Plugin, Actions Pod

#13716 fix: theme property pane reset on hover over the widget
  app/client/src/reducers/uiReducers/appThemingReducer.ts
Labels: Bug, App Viewers Pod, Release, UI Building Pod, App Theming, medium

#13578 chore: add autofocus prop to TagInputComponent
  app/client/src/components/ads/TagInputComponent.tsx
  app/client/src/components/editorComponents/form/fields/TagListField.tsx
  app/client/src/pages/organization/OrgInviteUsersForm.tsx
Labels: Bug, Design System, UX Improvement, Settings, Low, skip-changelog, Team Managers Pod, New Developers Pod, Platform Pod

#13817 fix: JSONForm missing theming accent color property and few JS enabled controls not access sourceData/formData properties
  app/client/src/widgets/JSONFormWidget/fields/DateField.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/generatePanelPropertyConfig.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/array.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/checkbox.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/common.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/object.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/radioGroup.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/switch.ts
Labels: Bug, App Viewers Pod, UI Building Pod, App Theming, JSON Form, medium

#13796 feat: dynamic height json form widget standardisation
  app/client/src/widgets/JSONFormWidget/component/Form.tsx
  app/client/src/widgets/JSONFormWidget/component/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
Labels: UI Builders Pod, dynamic height

#13799 feat: dynamic height datepicker widget standardisation
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/widget/index.tsx
Labels: UI Builders Pod, dynamic height

#13141 chore: changes to render complete property pane post dragging or resizing
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/pages/Editor/CanvasPropertyPane/index.tsx
  app/client/src/selectors/widgetSelectors.ts
Labels: Performance, High, UI Building Pod, UI Builders Pod, Task, UI Performance, skip-changelog, Drag & Drop

#13793 fix: Select widget filtering
  app/client/cypress/fixtures/formSelectDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/select_Widget_Bug_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/widgets/SelectWidget/component/index.tsx
Labels: Bug, Select Widget, App Viewers Pod, UI Building Pod, regression, medium

#13576 feat: Entity explorer pages section resize
  app/client/src/components/ads/Switcher.tsx
  app/client/src/pages/Editor/Explorer/Entity/Collapse.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/utils/hooks/useResize.tsx
Labels: Enhancement, New Developers Pod, Platform Pod

#13837 fix: added empty stack in sppThemingReducer
  app/client/src/reducers/uiReducers/appThemingReducer.ts
Labels: Bug, App Viewers Pod, UI Building Pod, Needs Triaging

#13811 chore: Improve execution time logging
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/Constraint.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/StopwatchHelpers.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/Stopwatch.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MockDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Critical, Git Version Control, skip-changelog, Team Managers Pod, Platform Pod

#13857 fix: add a field for a reply-to email address on the email config page
  app/client/src/pages/Settings/config/email.ts
Labels: Bug, Needs Triaging, Team Managers Pod, Platform Pod

#13870 fix: Theming issue when application has multiple git branches
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ThemeControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ThemeServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: Bug, App Viewers Pod, Release, UI Building Pod, Needs Triaging, Git Version Control, Team Managers Pod, Release Blocker, New Developers Pod, App Theming, Platform Pod

#13881 fix: Property pane - Hidden sections icon select popover not opening properly
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_FormProperties_spec.js
  app/client/src/components/propertyControls/IconSelectControl.tsx
Labels: Bug, App Viewers Pod, Release, UI Building Pod, regression, Needs Triaging, Release Blocker, App Theming, JSON Form

#13894 fix: NPE check when datasource createdAt is null during sendAnalytics for action execution
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Bug, Team Managers Pod

#13866 test: Add cypress tests for git discard changes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/locators/gitSyncLocators.js
  app/client/cypress/support/gitSync.js
  app/client/cypress/support/widgetCommands.js
Labels: Git Version Control, skip-changelog, Team Managers Pod, Test, Platform Pod

#13257 fix: remove cell background from empty rows
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_EmptyRow_Color_spec.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/widgets/TableWidget/component/TableUtilities.tsx
Labels: Bug, Table Widget, UX Improvement, Needs Design, App Viewers Pod, Low, UI Building Pod, Needs Triaging, medium, Skip Docs

#13858 chore: optimize naming conventions for variables and functions
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/Main.tsx
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/components/editorComponents/form/fields/DropdownWrapper.tsx
  app/client/src/components/editorComponents/form/fields/SelectField.tsx
  app/client/src/pages/Settings/FormGroup/Dropdown.tsx
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/pages/Settings/components.ts
Labels: Task, skip-changelog, Team Managers Pod, Platform Pod

#13791 feat: Update organization slug
  app/client/src/pages/Applications/index.tsx
  app/client/src/sagas/OrgSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Organization.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/OrganizationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceWithDisabledSignupTest.java
Labels: Bug, Enhancement, Backend, Home Page, Needs Triaging, Team Managers Pod, New Developers Pod, Platform Pod

#13476 feat: Optimize create uneval tree via memoization
  app/client/package.json
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/entities/Widget/utils.ts
  app/client/src/widgets/MultiSelectWidget/component/index.tsx
  app/client/yarn.lock
Labels: Enhancement, Performance, High, Needs Triaging

#13897 chore: Added selected state for query/js add button in the explorer
  app/client/src/pages/Editor/Explorer/Entity/AddButton.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
Labels: skip-changelog, New Developers Pod

#13859 fix: bind action to list widget in sniping mode
  app/client/src/sagas/SnipingModeSagas.ts
Labels: Bug, Needs Triaging, AutomationGap, New Developers Pod, Sniping Mode, medium, Platform Pod

#13776 fix: Add unit tests for async tag
  app/client/src/workers/DataTreeEvaluator/test/DataTreeEvaluator.test.ts
  app/client/src/workers/DataTreeEvaluator/test/mockUnEvalTree.ts
Labels: Bug, FE Coders Pod, Actions Pod

#13871 fix: Text overlap in slash commands
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
Labels: Bug, Low, regression, Needs Triaging, FE Coders Pod, New Developers Pod, Slash Command, Actions Pod

#13712 test: Automated tests to improve coverage for JSObjects-onPageLoad
  app/client/cypress/fixtures/CommunityIssuesExport.json
  app/client/cypress/fixtures/JSApiOnLoadDsl.json
  app/client/cypress/fixtures/JSObjOnLoadApp.json
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Inputv2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/JSOnLoadActions_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/dataSourceCommands.js
  app/client/cypress/support/gitSync.js
  app/client/cypress/support/queryCommands.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, Test, Test Plan Approved

#13943 fix: Fix validation check that is blocking input from changing
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/ElasticSearchDatasource_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/dataSourceCommands.js
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/formControls/KeyValueArrayControl.tsx
Labels: Bug, Datasources, Critical, regression, Needs Triaging, BE Coders Pod, Actions Pod, Test Plan Approved

#13925 fix: add analytics for git import application flow
  app/client/src/pages/Applications/ImportApplicationModal.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug, Git Version Control, Team Managers Pod, Platform Pod, Test Plan Approved

#13887 fix: handle selectedValues value
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
Labels: Bug, Modal Widget, App Viewers Pod, High, UI Building Pod, Checkbox Group widget

#13904 task: JSONForm footer should always stick to bottom when fixed footer enabled
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_Footer_spec.js
  app/client/src/widgets/JSONFormWidget/component/Form.tsx
Labels: App Viewers Pod, Low, UI Building Pod, Task, JSON Form

#13954 docs: Add docs for adding a global function to Appsmith
  contributions/docs/GlobalFunctions.md
Labels: Documentation, FE Coders Pod, User Education Pod, Actions Pod

#13953 feat: add smart json substitution logic for query variables in GraphQL plugin
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/SmartSubstitutionUtils.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
Labels: Enhancement, Backend, BE Coders Pod, GraphQL Plugin, Actions Pod

#13765 fix: prioritize parse errors in debugger callout
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
Labels: Bug, Needs Triaging, FE Coders Pod, Actions Pod, Test Plan Approved

#13708 fix: Js editor inconsistency
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/JSFunctionRun.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/pages/Editor/JSEditor/styledComponents.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Enhancement, Low, Needs Triaging, JS Editor, FE Coders Pod, Actions Pod, Test Plan Approved

#13592 fix:prevent execution of js function when jscollection is saving
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/components/editorComponents/utils.test.ts
  app/client/src/components/editorComponents/utils.ts
  app/client/src/sagas/JSPaneSagas.ts
Labels: Bug, High, Release, Needs Triaging, JS Editor, FE Coders Pod, Actions Pod, Test Plan Approved

#13705 chore: Add isSystemGenerated field to analytics for git operations
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Git Version Control, skip-changelog, Team Managers Pod, Platform Pod

#13942 fix: remove transition delay in entity explorer.
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
  app/client/src/components/editorComponents/Sidebar.tsx
  app/client/src/constants/Explorer.ts
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/ExplorerSearch.tsx
  app/client/src/pages/Editor/Explorer/index.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
  app/client/src/pages/Editor/WidgetSidebar.tsx
Labels: Bug, Entity Explorer, New Developers Pod, medium, Platform Pod

#13966 fix: JSONForm modify source data object to null causes crash
  app/client/src/widgets/JSONFormWidget/schemaParser.test.ts
  app/client/src/widgets/JSONFormWidget/schemaParser.ts
Labels: Bug, App Viewers Pod, Critical, UI Building Pod, JSON Form

#13974 fix: Error message thrown on reset password from user profile screen
  app/client/src/pages/UserProfile/General.tsx
Labels: Bug, High, Needs Triaging, New Developers Pod, Welcome Screen, Platform Pod

#13847 feat: Add query count and page count as attributes to publish app event
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Enhancement, Task, New Developers Pod, Platform Pod

#13968 test: Automation script update to fix Community issues failure
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/JSEditorContextMenu_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, Test, Test Plan Approved

#14025 Fix for running migrations before application start
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MongoConfig.java
Labels: Team Managers Pod

#13161 feat: dynamic height switch group widget standardization
  app/client/src/widgets/SwitchGroupWidget/component/index.tsx
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
Labels: Enhancement, UI Building Pod, UI Builders Pod, Task, Stale, dynamic height

#14018 fix: Redirect to website home instead of appsmith home on watermark
  app/client/src/pages/AppViewer/BrandingBadge.tsx
  app/client/src/pages/AppViewer/BrandingBadgeMobile.tsx
Labels: Bug, Enhancement, App Viewers Pod, High, UI Building Pod, App Theming

#13985 Fixes encryption handler
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/annotations/encryption/CandidateField.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/annotations/encryption/EncryptionHandler.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/annotations/encryption/AppsmithTestSubDomainWithoutEncryption.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/annotations/encryption/EncryptionHandlerTest.java
Labels: Team Managers Pod

#13798 feat: dynamic height RateWidget standardisation
  app/client/src/widgets/RateWidget/component/index.tsx
  app/client/src/widgets/RateWidget/widget/index.tsx
Labels: UI Builders Pod, Stale, dynamic height

#13680 feat: dynamic height table widget standardisation
  app/client/src/widgets/TableWidget/component/Table.tsx
  app/client/src/widgets/TableWidget/component/index.tsx
  app/client/src/widgets/TableWidget/widget/index.tsx
Labels: UI Builders Pod, Stale, dynamic height

#13381 feat: Deprecation warning
  app/client/cypress/fixtures/deprecatedWidgets.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/deprecatedWidgets_spec.js
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/BannerMessage.tsx
  app/client/src/pages/Editor/PropertyPane/ConnectDataCTA.tsx
  app/client/src/pages/Editor/PropertyPane/Generator.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneConnections.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/pages/Editor/utils.ts
  app/client/src/utils/WidgetRegisterHelpers.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/widgets/CircularProgressWidget/index.ts
  app/client/src/widgets/DatePickerWidget/index.ts
  app/client/src/widgets/DropdownWidget/index.ts
  app/client/src/widgets/FilepickerWidget/index.ts
  app/client/src/widgets/IconWidget/index.ts
  app/client/src/widgets/InputWidget/index.ts
  app/client/src/widgets/MultiSelectWidget/index.ts
  app/client/src/widgets/ProgressBarWidget/index.ts
  app/client/src/widgets/constants.ts
Labels: Enhancement, Needs Design, App Viewers Pod, UI Building Pod, UI Builders Pod, Stale, All Widgets

#13898 fix: inconsistency in naming actions in omnibar
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GlobalSearch/GlobalSearch_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/locators/GlobalSearch.json
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
Labels: Bug, Frontend, Low, Omnibar, New Developers Pod, Platform Pod

#13084 fix: trigger consuming previous evaluated values
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/AllInputWidgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormReset_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Phone_input_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/SwitchGroup_spec.js
  app/client/cypress/support/commands.js
  app/client/src/actions/evaluationActions.ts
  app/client/src/actions/metaActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/components/editorComponents/EditorContextProvider.tsx
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/reducers/entityReducers/metaReducer/index.ts
  app/client/src/reducers/entityReducers/metaReducer/test.ts
  app/client/src/reducers/evaluationReducers/treeReducer.ts
  app/client/src/sagas/BatchSagas.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/ModalSagas.ts
  app/client/src/sagas/selectors.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/hooks/useCanvasMinHeightUpdateHook.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/JSONFormWidget/fields/SwitchField.tsx
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/MetaHOC.tsx
  app/client/src/widgets/PhoneInputWidget/component/index.tsx
  app/client/src/widgets/SwitchWidget/component/index.tsx
  app/client/src/widgets/SwitchWidget/widget/index.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/workers/DataTreeEvaluator/DataTreeEvaluator.ts
  app/client/src/workers/DataTreeEvaluator/types.ts
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, QA, Critical, High, community, Needs Triaging, FE Coders Pod, Evaluated Value, Function execution, medium, Skip Docs, Actions Pod, Test Plan Approved

#13993 fix: JSONForm Select field validate empty string as an invalid value
  app/client/src/widgets/JSONFormWidget/fields/SelectField.test.tsx
  app/client/src/widgets/JSONFormWidget/fields/SelectField.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, JSON Form

#13513 feat: Focus widget name or first property when opening property pane
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/MenuButton_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/ButtonGroup_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/PropertyPane/PropertyPaneCTA_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidgetTableAndBind_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/Pages/Table.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/components/ads/DatePickerComponent.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/EditableTextSubComponent.tsx
  app/client/src/components/ads/Switch.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/designSystems/appsmith/TextInputComponent.tsx
  app/client/src/components/propertyControls/DatePickerControl.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/components/propertyControls/KeyValueComponent.tsx
  app/client/src/components/propertyControls/LocationSearchControl.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
  app/client/src/reducers/uiReducers/canvasSelectionReducer.ts
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: Enhancement, Property Pane, UI Building Pod, UI Builders Pod, Task

#13585 fix: table derived bindingList error.
  app/client/src/sagas/WidgetOperationSaga.test.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/widgets/TableWidget/widget/propertyUtils.ts
Labels: Bug, Table Widget, Needs More Info, App Viewers Pod, High, UI Building Pod, UI Builders Pod

#13997 fix: checkbox, switch property fields update, migration added
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Form_With_CheckBox_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Switch_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/components/constants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/PropertyPaneMigrations.ts
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/src/widgets/CheckboxWidget/index.ts
  app/client/src/widgets/CheckboxWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/fields/CheckboxField.tsx
  app/client/src/widgets/JSONFormWidget/fields/SwitchField.tsx
  app/client/src/widgets/SwitchWidget/component/index.tsx
  app/client/src/widgets/SwitchWidget/index.ts
  app/client/src/widgets/SwitchWidget/widget/index.tsx
  app/client/src/widgets/constants.ts
Labels: Bug, Enhancement, App Viewers Pod, UI Building Pod, Checkbox Widget, Switch widget, medium

#14029 fix: Remove animation in deploy button
  app/client/src/components/designSystems/appsmith/header/DeployLinkButton.tsx
Labels: Bug, Design System, UX Improvement, Low, New Developers Pod, Platform Pod

#13640 fix: Add support to generate ssh keys of type RSA
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitAuthDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitDeployKeyDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitDeployKeyGenerator.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherUnitTest.java
Labels: Bug, Needs Design, High, Production, Needs Triaging, Git Version Control, Team Managers Pod, Platform Pod

#14001 fix: improve jseditor linting performance
  app/client/cypress/fixtures/largeJSONData.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
  app/client/src/pages/Editor/JSEditor/Form.tsx
Labels: Bug, Critical, High, Needs Triaging, JS Editor, JS Linting & Errors, FE Coders Pod, Actions Pod, Test Plan Approved

#14032 fix: Removes transition animation on tooltip component
  app/client/src/components/ads/Tooltip.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/pages/common/SharedUserList.tsx
Labels: Bug, Design System, UX Improvement, Property Pane, Low, UI Building Pod, UI Builders Pod, New Developers Pod, Platform Pod

#13800 feat: dynamic single tree select widget standardisation
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
Labels: UI Builders Pod, Stale, dynamic height

#12662 feature: Update CRUD page template to include JSONFormWidget
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/locators/GeneratePage.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
Labels: Enhancement, App Viewers Pod, UI Building Pod, JSON Form

#13950 fix: alignment of the image seen on no search results on application page
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/src/components/ads/formFields/SelectField.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/sagas/InitSagas.ts
Labels: Bug, Home Page, Needs Triaging, Team Managers Pod, Platform Pod

#13917 fix: Canvas jitters on page refresh on an application where widgets don't occupy the entire width of the canvas
  app/client/src/pages/Editor/MainContainer.test.tsx
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/reducers/uiReducers/mainCanvasReducer.ts
  app/client/src/selectors/mainCanvasSelectors.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: Bug, UX Improvement, High, Release, UI Building Pod, Needs Triaging, UI Builders Pod

#14064 fix: stop showing errored widget labels prmanently and show them only on hover or when selected
  app/client/src/components/editorComponents/WidgetNameComponent/index.tsx
Labels: Bug, Low, UI Building Pod, UI Builders Pod
