Repository appsmithorg/appsmith, pull requests merged in 2022-06, with the labels that each got.

#14223 fix: Fix Node version in RTS' Dockerfile
  app/rts/Dockerfile
Labels: Bug

#14156 fix: Upgrade Lombok package version to 1.18.22 to avoid build error #14080
  app/server/appsmith-git/pom.xml
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/rapidApiPlugin/pom.xml
Labels: Bug, Good First Issue, Backend, High, Needs Triaging, BE Coders Pod, Actions Pod, Test Plan Approved

#14107 fix: removed default value for API DS, updated conditions for headers and apiformattype
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_DefaultContentType_spec.js
  app/client/cypress/locators/ApiEditor.js
  app/client/cypress/locators/CMSApplocators.js
  app/client/src/components/ads/MultiSwitch.tsx
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/pages/Editor/APIEditor/PostBodyData.tsx
  app/client/src/sagas/ApiPaneSagas.ts
Labels: Bug, Frontend, Datasources, Needs Triaging, Reopen, BE Coders Pod, Actions Pod, Test Plan Approved

#13991 Revert "fix: signing up with a redirect url which has a query param goes to a 400 page (#13548)"
  app/client/src/ce/pages/UserAuth/SignUp.tsx
Labels: Bug, Login / Signup, High, Needs Triaging, Team Managers Pod, New Developers Pod, Platform Pod

#14147 feat: Adding Permission Group datastructure
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/PermissionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/PermissionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Permission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/PermissionGroup.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/Permission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomPermissionGroupRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomPermissionGroupRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomPermissionRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomPermissionRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/PermissionGroupRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/PermissionRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/PermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/PermissionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PermissionGroupService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PermissionGroupServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PermissionService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PermissionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PluginServiceCEImpl.java
Labels: Enhancement, Team Managers Pod

#14226 chore: Update docs url for connecting to repo flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Assets.java
Labels: High, Git Version Control, Task, skip-changelog, Team Managers Pod, Platform Pod

#14205 fix: name not getting focused on adding new modal widget
  app/client/src/widgets/ModalWidget/component/index.tsx
Labels: Bug, Property Pane, UI Building Pod, UI Builders Pod

#14112 fix: update error highlight border in RTE widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_With_RichTextEditor_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/RichTextEditor_Validation_spec.js
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
Labels: Bug, Rich Text Editor Widget, Input Widget, App Viewers Pod, Low, UI Building Pod, Papercut

#14145 chore: Deleting the sync community workflow from this repo as it is not required
  .github/workflows/sync-community-repo.yml
Labels: skip-changelog, Test Plan Approved

#14193 fix: Theming is not applied to Table's 'Delete' & JSONForm's 'Reset & Update' buttons in Crud template
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: Bug, Table Widget, App Viewers Pod, UI Building Pod, Needs Triaging, Generate Page, New Developers Pod, App Theming, JSON Form, Platform Pod

#14152 chore: Remove client subscription for delete branch
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, Git Version Control, skip-changelog, Team Managers Pod, Platform Pod

#14131 feat: Added Tooltip for icon button widget
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/IconButtonWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, High, UI Building Pod, Icon Button Widget

#13801 feat: dynamic MultiSelect widget standardisation
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
Labels: UI Builders Pod, dynamic height

#14099 fix: fix class cast exception seen on MySQL plugin when built on local setup
  app/server/appsmith-plugins/mysqlPlugin/pom.xml
Labels: Bug, Datasources, High, Needs Triaging, MySQL, Import-Export-App, Stale, Team Managers Pod, BE Coders Pod, Platform Pod, Actions Pod

#14201 fix: uses forwardRef instead of using ref prop
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/EditableTextSubComponent.tsx
Labels: Bug, UI Builders Pod

#13309 chore: Adds canDisplayValue to property controls
  app/client/src/components/propertyControls/ActionSelectorControl.tsx
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/components/propertyControls/ButtonTabControl.test.tsx
  app/client/src/components/propertyControls/ButtonTabControl.tsx
  app/client/src/components/propertyControls/ColorPickerControl.test.tsx
  app/client/src/components/propertyControls/ColorPickerControl.tsx
  app/client/src/components/propertyControls/DropDownControl.test.tsx
  app/client/src/components/propertyControls/DropDownControl.tsx
  app/client/src/components/propertyControls/IconSelectControl.test.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/components/propertyControls/IconTabControl.test.tsx
  app/client/src/components/propertyControls/IconTabControl.tsx
  app/client/src/components/propertyControls/LocationSearchControl.tsx
  app/client/src/components/propertyControls/StepControl.test.tsx
  app/client/src/components/propertyControls/StepControl.tsx
  app/client/src/components/propertyControls/SwitchControl.test.tsx
  app/client/src/components/propertyControls/SwitchControl.tsx
  app/client/src/utils/PropertyControlFactory.tsx
  app/client/src/utils/PropertyControlRegistry.tsx
Labels: Property Pane, UI Building Pod, UI Builders Pod, Task, skip-changelog

#14245 fix: Add sequential counter for import application flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Home Page, Low, Production, Import-Export-App, Team Managers Pod, Platform Pod

#14225 Fixed a few other flows
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/CrudTemplateService.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsBulkAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsBulkUpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsUpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/PluginExecutorHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/CreateDBTablePageSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
Labels: Backend, Task, Google Sheets, UQI, BE Coders Pod, UQI migration

#13944 fix: Update the widget from drop down to select widget in suggested widget list
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/WidgetType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/WidgetSuggestionHelper.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Bug, Select Widget, App Viewers Pod, UI Building Pod, Needs Triaging, App Theming

#13907 fix: move git file operations to elastic schedulers
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
Labels: Bug, Git Version Control, Team Managers Pod, Platform Pod

#13741 fix: Theming UX Changes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/App_Theming_Reset_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/Application_Theme_Default_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/Application_Theme_MultiSelectWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/Application_Theme_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/Theming_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/List_spec.js
  app/client/cypress/locators/ThemeLocators.json
  app/client/src/actions/appThemingActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/components/ads/ColorPickerComponentV2.tsx
  app/client/src/entities/AppTheming/index.ts
  app/client/src/entities/AppTheming/utils.test.ts
  app/client/src/entities/AppTheming/utils.ts
  app/client/src/pages/Editor/ThemePropertyPane/ThemeCard.tsx
  app/client/src/pages/Editor/ThemePropertyPane/ThemeEditor.tsx
  app/client/src/pages/Editor/ThemePropertyPane/ThemeSelector.tsx
  app/client/src/pages/Editor/ThemePropertyPane/controls/ThemeColorControl.tsx
  app/client/src/sagas/AppThemingSaga.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: Bug, Enhancement, App Viewers Pod, UI Building Pod, App Theming

#13999 fixed mysql plugin tests
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Needs Triaging, Team Managers Pod

#14065 feat: Add custom slug along with auto generated slug for pages
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
Labels: Enhancement, New Developers Pod, Platform Pod

#14210 fix: reduced the call for fetchPublishedPage action to single
  app/client/cypress/fixtures/executeAction.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/PreviewMode/ExecuteAction_spec.js
  app/client/src/actions/evaluationActions.ts
  app/client/src/actions/jsActionActions.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/PageSagas.tsx
Labels: Bug, Critical, Needs Triaging, Query Execution, Release Blocker, FE Coders Pod, BE Coders Pod, OnPageLoad, Actions Pod, Test Plan Approved

#14273 chore: Minor correction in Deprecation message Header
  app/client/src/ce/constants/messages.ts
Labels: UI Building Pod, UI Builders Pod, skip-changelog

#14191 test: Automated tests for improved CRUD with JSONFrom - Mongo Ds
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CRUD_JSONForm/Mongo_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CRUD_JSONForm/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/Mongo_Spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test, Test Plan Approved

#14285 chore: update document link for SAML
  app/client/src/constants/ThirdPartyConstants.tsx
Labels: Task, skip-changelog, Team Managers Pod, Platform Pod

#14208 fix: Add null checks for empty datatypes in api/query responses
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionExecution/PluginActionSagaUtils.test.ts
  app/client/src/sagas/ActionExecution/PluginActionSagaUtils.ts
Labels: Bug, Critical, JS Editor, FE Coders Pod, BE Coders Pod, Actions Pod, Test Plan Approved

#14320 fix: crash due to evalMetaUpdate
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Bug, Critical, regression, Needs Triaging, FE Coders Pod, Evaluated Value, Test Plan Approved

#14335 fix: Test failures due to missing organisation export permission in seed data
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/SeedMongoData.java
Labels: Bug, Needs Triaging, Team Managers Pod

#14342 fix: for onPageLoad false errors and crash due to evalMetaUpdate
  app/client/cypress/fixtures/executeAction.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/PreviewMode/ExecuteAction_spec.js
  app/client/src/actions/evaluationActions.ts
  app/client/src/actions/jsActionActions.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/workers/evaluation.worker.ts
Labels: Test Plan Approved

#14343 fix: updated css clash with tree select
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
Labels: Bug, App Viewers Pod, Low, Verified, UI Building Pod, Needs Triaging, MultiTree Select Widget

#12507 feat: Import an template inside an existing Application
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Enhancement, New Developers Pod, Platform Pod

#13996 feat: Return recently used templates first
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceTest.java
Labels: Enhancement, New Developers Pod, Platform Pod

#14206 fix: Cursor pagination in list widget
  app/client/src/widgets/ListWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, List Widget, BE Coders Pod

#14325 test: Add regenerate SSH key tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/DatePicker_2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitImport/GitImport_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/RegenerateSSHKey_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Replay/Replay_Editor_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetGrouping/WidgetGrouping_spec.js
  app/client/cypress/locators/gitSyncLocators.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/gitSync.js
Labels: skip-changelog, Test, Test Plan Approved

#13914 fix: cyclic dependency in renaming js objects
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, Critical, High, Release, Needs Triaging, JS Editor, FE Coders Pod, JS Promises, OnPageLoad, Actions Pod, Test Plan Approved, Add/Update Test Plan

#14364 chore: Improve the import application flow performance
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: Git Version Control, skip-changelog, Team Managers Pod, Platform Pod

#13886 feat: Rich Text Editor enable browser spellcheck
  app/client/package.json
  app/client/src/utils/AppsmithUtils.tsx
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
  app/client/yarn.lock
Labels: Enhancement, Rich Text Editor Widget, App Viewers Pod, UI Building Pod, medium

#14346 chore: code split for hiding branding badge
  app/client/src/ce/selectors/organizationSelectors.tsx
  app/client/src/comments/CommentsShowcaseCarousel/index.tsx
  app/client/src/comments/inlineComments/AddCommentInput.tsx
  app/client/src/comments/inlineComments/useOrgUsers.tsx
  app/client/src/ee/selectors/organizationSelectors.tsx
  app/client/src/pages/AppViewer/AppViewerHeader.tsx
  app/client/src/pages/AppViewer/PageMenu.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/IntegrationEditor/MockDataSources.tsx
  app/client/src/pages/organization/AppInviteUsersForm.tsx
  app/client/src/pages/organization/General.tsx
  app/client/src/pages/organization/Members.tsx
  app/client/src/pages/organization/OrgInviteUsersForm.tsx
  app/client/src/pages/organization/settings.tsx
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/CurlImportSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/OrgSagas.ts
  app/client/src/sagas/PluginSagas.ts
  app/client/src/sagas/ProvidersSaga.ts
  app/client/src/utils/hooks/useOrg.tsx
Labels: App Viewers Pod, skip-changelog, App Theming

#14153 test:JsonForm test for multi source data
  app/client/cypress/fixtures/example.json
  app/client/cypress/fixtures/jsonTextDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_Basic_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/JSONFormWidget/JSONForm_MultipleSourceData_spec.js
  app/client/cypress/locators/jsonFormWidget.json
Labels: skip-changelog, Test

#14362 chore: Refactor code for RBAC feature
  app/client/src/RouteBuilder.ts
  app/client/src/ce/pages/AdminSettings/BreadcrumbCategories.tsx
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/Main.tsx
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/components/editorComponents/form/fields/DropdownWrapper.tsx
  app/client/src/components/editorComponents/form/fields/SelectField.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/constants/routes.ts
  app/client/src/entities/FeatureFlags.ts
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/pages/Settings/components.ts
  app/client/src/pages/organization/helpers.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: potential-duplicate, Task, skip-changelog, Team Managers Pod, Platform Pod

#14270 feat: Backup & Restore commands
  deploy/docker/utils/bin/backup.js
  deploy/docker/utils/bin/export_db.js
  deploy/docker/utils/bin/index.js
  deploy/docker/utils/bin/restore.js
  deploy/docker/utils/bin/utils.js
Labels: Enhancement

#14303 chore: Run perf tests only on buildjet machine
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog

#14274 fix: Handle string datatype in api response
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/pages/Editor/QueryEditor/Table.tsx
Labels: Bug, Critical, Needs Triaging, Query Execution, BE Coders Pod, Skip Docs, Test Plan Approved

#14095 fix: Improve cell overflow check logic when switching between table page
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/Application/EchoApiCMS_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Application/ImportExportForkApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Application/MongoDBShoppingCart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Migration_Spec.js
  app/client/cypress/locators/GeneratePage.json
  app/client/cypress/support/Pages/Table.ts
  app/client/src/widgets/TableWidget/component/AutoToolTipComponent.tsx
Labels: Bug, Table Widget, UX Improvement, App Viewers Pod, Release, UI Building Pod, medium

#14059 fix: Update the widget from drop down to select widget in suggested widget list
  app/client/cypress/fixtures/mongo_POST_Actions.json
  app/client/cypress/fixtures/mySQL_POST_Execute.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/locators/QueryEditor.json
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
Labels: Bug, App Viewers Pod

#14311 chore: Adds feature flag for Property pane grouping
  app/client/src/entities/FeatureFlags.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/strategies/EmailBasedRolloutStrategy.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: UI Building Pod, UI Builders Pod, Task, skip-changelog

#14389 test: Updating Mongo DB name to match Mongo TED database name
  app/client/cypress.json
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_Datasource_Structure_spec.js
Labels: skip-changelog, Test, Test Plan Approved

#14400 fix: App canvas is stuck in loading state ( Desktop Layout )
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: Bug, Critical, Release, UI Building Pod, Needs Triaging, UI Builders Pod, Canvas / Grid

#14195 fix: select Modal Widget on clicking on settings badge
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Modal_spec.js
  app/client/src/components/editorComponents/WidgetNameComponent/index.tsx
Labels: Bug, Modal Widget, Property Pane, App Viewers Pod, High, UI Building Pod, Needs Triaging, UI Builders Pod

#14421 fix: Fix okhttp dependency
  app/server/appsmith-server/pom.xml
Labels: Bug

#14295 fix: navigate to Canvas upon pasting widgets on generate page
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetCopyPaste/WidgetCopyPaste_spec.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/constants/routes.ts
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, Needs Triaging, UI Builders Pod, Copy Paste, All Widgets

#14393 fix: Application name being auto-focused on Application card menu
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/Menu.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
Labels: Bug, Property Pane, UI Building Pod, UI Builders Pod

#14426 chore: Refactor code for RBAC feature
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/components/ads/DialogComponent.tsx
  app/client/src/entities/FeatureFlags.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: QA, potential-duplicate, Task, skip-changelog, Team Managers Pod, Platform Pod

#14430 fix: fallback url for git documentation
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug

#14196 chore: slowed down git commit and discard progress bar
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
Labels: skip-changelog, Stale

#14409 fix: App canvas is stuck in loading state ( Desktop Layout ) + Updating Mongo DB name to match Mongo TED database name
  app/client/cypress.json
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_Datasource_Structure_spec.js
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: UI Builders Pod

#14399 fix: delete application flow for git sync to avoid incosistency
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Bug, High, Git Version Control, Team Managers Pod, Platform Pod

#14294 fix: AppViewer init and page fetch logic
  app/client/src/actions/evaluationActions.ts
  app/client/src/actions/initActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/pages/utils.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/utils/hooks/usePrevious.tsx
  app/client/test/testCommon.ts
Labels: Bug, App Viewers Pod, Task, FE Coders Pod

#14323 fix: Resolved the issue of actionCollection updatedAt field not getting updated
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
Labels: Bug, skip-changelog

#13957 Feat: Add workflow to publish packer image
  .github/workflows/packer-ami-build.yml
Labels: Stale

#14425 chore: remove addChildrenSaga dead code and it's associated redux actions
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/sagas/WidgetAdditionSagas.ts
Labels: Task, skip-changelog

#14494 test: Script fixes for flaky tests
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CRUD_JSONForm/Mongo_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CRUD_JSONForm/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CRUD_JSONForm/Postgres_Spec.ts
Labels: skip-changelog, Test, Test Plan Approved

#14499 fix: restore encryption sale var typo fix
  deploy/docker/utils/bin/restore.js
Labels: Bug, skip-changelog, Skip Docs

#14502 fix: skipping parse of empty array response
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/src/pages/Editor/QueryEditor/Table.tsx
Labels: Bug, Frontend, High, Needs Triaging, MySQL, Release Blocker, BE Coders Pod, Postgres, Test Plan Approved

#14338 fix: Fixes issue where CI was not executing all tests
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ValidationUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomPluginRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomUserDataRepositoryImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/UserRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/WorkspaceRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/pom.xml
Labels: Bug, QA, Needs Triaging, Team Managers Pod, Platform Pod

#13962 fix: cyclic dependency on array of objects removal
  app/client/src/workers/DataTreeEvaluator/test/DataTreeEvaluator.test.ts
  app/client/src/workers/DataTreeEvaluator/test/mockData/ArrayAccessorTree.ts
  app/client/src/workers/DataTreeEvaluator/test/mockData/NestedArrayAccessorTree.ts
  app/client/src/workers/DataTreeEvaluator/test/mockData/mockUnEvalTree.ts
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, High, FE Coders Pod, Skip Docs, Actions Pod, Test Plan Approved

#14488 fix: Toast shows wrong theme name when changing themes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CRUD_JSONForm/Postgres_Spec.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/sagas/AppThemingSaga.tsx
Labels: Bug, App Viewers Pod, UI Building Pod, Needs Triaging, App Theming

#13731 fix: order async functions in settings tab alphabetically
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/utils.ts
  app/client/src/selectors/entitiesSelector.ts
Labels: Bug, Needs Triaging, JS Editor, FE Coders Pod, Actions Pod, Test Plan Approved

#14318 fix: hide explorer toggle icon in preview mode
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Bug, Low, IDE, Needs Triaging, New Developers Pod, Platform Pod

#14334 fix: list copy - update dynamic trigger path list names
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Bug, High, Release, Needs Triaging, FE Coders Pod, BE Coders Pod, Actions Pod, Test Plan Approved

#14268 fix: Redirection after login does not work for Google and Github
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
Labels: Team Managers Pod

#14582 test: Test failures for git file utils
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
Labels: QA, skip-changelog, Team Managers Pod, Tests, Platform Pod, Test

#14216 fix: hide focus pointer when the associated element is out of view in welcome tour
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/GuidedTour/constants.tsx
  app/client/src/pages/Editor/GuidedTour/utils.ts
Labels: Bug, UI Improvement, Low, regression, Needs Triaging, Reopen, Onboarding, New Developers Pod, medium, Platform Pod

#14481 test: Automated tests for Postgres Datatype - Numeric, Character
  app/client/cypress/fixtures/CharacterDTdsl.json
  app/client/cypress/fixtures/NumericDTdsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/Theming_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/BindButton_Text_WithRecaptcha_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CRUD_JSONForm/Mongo_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CRUD_JSONForm/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CRUD_JSONForm/Postgres_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/ChartDataPoint_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/DocumentViewer_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/TableBugs_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/DisconnectGit_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/DataTypes/Character_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/DataTypes/Numeric_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RestApiDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/JSEditorContextMenu_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, Tests, Test Plan Approved

#14504 fix: Issues with widget name focus
  app/client/src/pages/Applications/index.tsx
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
Labels: Bug, Property Pane, UI Building Pod, Needs Triaging, UI Builders Pod

#12754 feat: Disable js toggle button if field is not empty
  app/client/cypress/fixtures/datePickerdsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Table_Property_ToggleJs_With_Binding_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/DatePicker_2_Default_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/DatePicker_2_spec.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Tooltip.tsx
  app/client/src/components/propertyControls/BorderRadiusOptionsControl.tsx
  app/client/src/components/propertyControls/BoxShadowOptionsControl.tsx
  app/client/src/components/propertyControls/DatePickerControl.tsx
  app/client/src/components/propertyControls/OptionControl.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
Labels: Enhancement, UX Improvement, Property Pane, High, UI Building Pod, UI Builders Pod

#14316 fix: Theming is not applied to Table's 'Delete' & JSONForm's 'Reset & Update' buttons in Crud template
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: Bug, Table Widget, App Viewers Pod, Verified, UI Building Pod, Needs Triaging, Generate Page, New Developers Pod, App Theming, JSON Form, Platform Pod

#14492 fix: In Table widget for button/icon/menu type when Button Color is selected as Theme color and we toggle JS {{or}}}} is displayed
  app/client/src/components/propertyControls/PrimaryColumnColorPickerControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug, Table Widget, App Viewers Pod, Low, Release, UI Building Pod, Needs Triaging, App Theming

#14464 feat: widget fuzzy search
  app/client/src/pages/Editor/WidgetSidebar.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/WidgetRegisterHelpers.tsx
  app/client/src/widgets/AudioRecorderWidget/index.ts
  app/client/src/widgets/AudioWidget/index.tsx
  app/client/src/widgets/ButtonGroupWidget/index.ts
  app/client/src/widgets/ButtonWidget/index.ts
  app/client/src/widgets/CameraWidget/index.ts
  app/client/src/widgets/ChartWidget/index.ts
  app/client/src/widgets/CheckboxWidget/index.ts
  app/client/src/widgets/ContainerWidget/index.ts
  app/client/src/widgets/CurrencyInputWidget/index.ts
  app/client/src/widgets/DatePickerWidget2/index.ts
  app/client/src/widgets/DividerWidget/index.ts
  app/client/src/widgets/DocumentViewerWidget/index.ts
  app/client/src/widgets/FilePickerWidgetV2/index.ts
  app/client/src/widgets/FormWidget/index.ts
  app/client/src/widgets/IconButtonWidget/index.ts
  app/client/src/widgets/IframeWidget/index.ts
  app/client/src/widgets/InputWidgetV2/index.ts
  app/client/src/widgets/MapChartWidget/index.ts
  app/client/src/widgets/ModalWidget/index.ts
  app/client/src/widgets/MultiSelectTreeWidget/index.ts
  app/client/src/widgets/MultiSelectWidgetV2/index.ts
  app/client/src/widgets/PhoneInputWidget/index.ts
  app/client/src/widgets/ProgressWidget/index.ts
  app/client/src/widgets/RadioGroupWidget/index.ts
  app/client/src/widgets/RateWidget/index.ts
  app/client/src/widgets/RichTextEditorWidget/index.ts
  app/client/src/widgets/SelectWidget/index.ts
  app/client/src/widgets/SingleSelectTreeWidget/index.ts
  app/client/src/widgets/SwitchWidget/index.ts
  app/client/src/widgets/TableWidget/index.ts
  app/client/src/widgets/TextWidget/index.ts
  app/client/src/widgets/VideoWidget/index.ts
  app/client/src/widgets/constants.ts
Labels: Enhancement, Entity Explorer, UI Building Pod, UI Builders Pod, New Developers Pod, Widgets Pane, Platform Pod

#14120 chore: Enable serialisation for `JsonIgnore` fields during export flow to avoid adding intermediate fields in DTO
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/converters/GsonISOStringToInstantConverter.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ApplicationGitReference.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ResourceModes.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/converters/GsonISOStringToInstantConverter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ActionCollection.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Layout.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/NewAction.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/NewPage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Theme.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionCollectionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/DslActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ExportFileDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CompareDslActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/HelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersions.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/converters/GsonISOStringToInstantConverterTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/FileFormatMigrationTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/CompareDslActionDTOTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-custom-themes.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-action-collection.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-theme.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application.json
Labels: Enhancement, Git Version Control, skip-changelog, Import-Export-App, Team Managers Pod, Platform Pod

#14615 chore: Adding the configuration parameter to ensure that the target branch is master for all releases are created
  .github/workflows/release-drafter.yml
Labels: skip-changelog

#14617 fix: Adding workspaceId when missing with organizationId present in REST API actions
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Bug, Test Plan Approved

#14634 fix: Fix migration for overwriting recently used workspaces
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug

#14649 ci: Remove sudo from perf tests command
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#14636 ci: Use buildjet runners for Cypress tests, and fewer of them
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI, Skip Docs

#14658 fix: multiple storeValue action completion track
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/StoreValue_spec.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/entities/DataTree/actionTriggers.ts
  app/client/src/sagas/ActionExecution/StoreActionSaga.ts
  app/client/src/workers/Actions.test.ts
  app/client/src/workers/Actions.ts
Labels: Bug, JS, Critical, Production, regression, Needs Triaging, FE Coders Pod, Test Plan Approved, storeValue

#14633 ci: Update Test plan checker
  .github/workflows/label-checker.yml
Labels: skip-changelog, CI

#14053 feat: support for graphql pagination
  app/client/src/components/ads/Radio.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/components/editorComponents/form/fields/RadioGroupWrapper.tsx
  app/client/src/components/formControls/FilePickerControl.tsx
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/Pagination.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/QueryEditor.tsx
  app/client/src/pages/Editor/APIEditor/Pagination.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewQuery.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
Labels: BE Coders Pod

#14680 fix: Custom theme not copied when creating new branch
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, Critical, Needs Triaging, Git Version Control, Import-Export-App, Team Managers Pod, New Developers Pod, Platform Pod, Test Plan Approved

#14702 ci: Release promotion 1.7.5
  .github/config.json
  .github/workflows/integration-tests-command.yml
  .github/workflows/label-checker.yml
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/StoreValue_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_DefaultContentType_spec.js
  app/client/src/actions/pageActions.tsx
  app/client/src/entities/DataTree/actionTriggers.ts
  app/client/src/sagas/ActionExecution/StoreActionSaga.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/workers/Actions.test.ts
  app/client/src/workers/Actions.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Release Promotion

#14509 fix: the rating widget breaking on dropping issue
  app/client/src/widgets/RateWidget/index.ts
Labels: Bug, App Viewers Pod, Low, UI Building Pod, Rating Widget

#14385 chore: add analytics events for to see how a user moves from the canvas to any other file
  app/client/src/components/editorComponents/CloseEditor.tsx
  app/client/src/pages/Editor/DataSourceEditor/BackButton.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/src/pages/Editor/Explorer/index.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Task, New Developers Pod, Platform Pod

#14724 ci: Revert "ci: Use buildjet runners for Cypress tests, and fewer of them"
  .github/workflows/test-build-docker-image.yml
Labels: CI

#14184 Feat: Perform file ops only when the resource is updated
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Git_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/SwitchBranches_spec.js
  app/client/cypress/support/gitSync.js
  app/server/appsmith-git/pom.xml
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/GitConstants.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ApplicationGitReference.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitApplicationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: Git Version Control, Team Managers Pod, Platform Pod

#14474 fix: Admin email not working
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
Labels: Bug, High, Release, Needs Triaging, New Developers Pod, Super Admin, DevOps Pod, Platform Pod

#14718 fix: editor utils moment async import
  app/client/src/utils/EditorUtils.ts
Labels: Bug, UI Builders Pod

#14460 fix: show the error message in input widget
  app/client/src/ce/constants/messages.ts
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
Labels: Bug, Input Widget, App Viewers Pod, Low, Production, UI Building Pod

#14648 fix: JS toggle issue for dropdown control with numeric value
  app/client/src/components/propertyControls/DropDownControl.test.tsx
  app/client/src/components/propertyControls/DropDownControl.tsx
Labels: Bug, Property Pane, UI Building Pod, UI Builders Pod

#14629 fix: Edit App button not confirming to the theme
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/AppThemingTests/Theming_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad_Spec.ts
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
Labels: Bug, App Viewers Pod

#14687 fix: JSONForm - Generate Form button apply theme on new fields
  app/client/src/widgets/JSONFormWidget/widget/helper.test.ts
  app/client/src/widgets/JSONFormWidget/widget/helper.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.test.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod, High, Production, UI Building Pod, App Theming, JSON Form

#13129 fix: Popover in Multi select widget inside modals breaks away from the widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/MultiSelect_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Multi_Select_Tree_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Single_Select_Tree_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/WidgetUtils.ts
  app/client/src/widgets/useDropdown.tsx
Labels: Bug, Tab Widget, Needs More Info, App Viewers Pod, Production, UI Building Pod, Form Widget, Stale, MultiSelect Widget, MultiTree Select Widget, TreeSelect, medium

#14575 chore: add analytics log on app crash
  app/client/src/AppErrorBoundry.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Needs Triaging, Task, skip-changelog, New Developers Pod, Platform Pod

#14747 fix: Updated the graphql ds to use api ds form
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug, Frontend, Needs Triaging, BE Coders Pod, GraphQL Plugin

#14641 feat: Add API for git docs and supported shh keys
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/ErrorReferenceDocUrl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/GitConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitDocsDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Enhancement, Task

#14728 chore: Send whether the app was published manually to the analytics e…
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Task, skip-changelog, New Developers Pod, Platform Pod

#14720 chore: Added actionId and requestedAt fields in ActionExecutionRequest
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionExecutionRequest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/MockDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Backend, High, Query Execution, Low effort, Task, skip-changelog, BE Coders Pod, Up for grabs

#14639 chore: throttle git apis
  app/client/src/sagas/GitSyncSagas.ts
Labels: Task, skip-changelog

#14540 fix: disable branch dropdown until merge status returns
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
Labels: Bug

#14532 feat: Deprecation warning message update to reference the widget that is replacing it
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/BannerMessage.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/pages/Editor/utils.ts
  app/client/src/utils/WidgetRegisterHelpers.tsx
  app/client/src/utils/testPropertyPaneConfig.test.ts
  app/client/src/widgets/CircularProgressWidget/index.ts
  app/client/src/widgets/DatePickerWidget/index.ts
  app/client/src/widgets/DropdownWidget/index.ts
  app/client/src/widgets/FilepickerWidget/index.ts
  app/client/src/widgets/IconWidget/index.ts
  app/client/src/widgets/InputWidget/index.ts
  app/client/src/widgets/MultiSelectWidget/index.ts
  app/client/src/widgets/ProgressBarWidget/index.ts
  app/client/src/widgets/constants.ts
Labels: Enhancement, UI Building Pod, UI Builders Pod

#14709 fix: numeric input button focus
  app/client/src/components/propertyControls/NumericInputControl.tsx
Labels: Bug, Property Pane, UI Building Pod, Needs Triaging, UI Builders Pod, keyboard shortcut, medium

#14530 fix: container gap with wrapper on border radius
  app/client/src/components/designSystems/appsmith/WidgetStyleContainer.tsx
  app/client/src/widgets/ContainerWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Low, UI Building Pod, Stat Box Widget

#14644 fix: menu button icon alignment fixed.
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Low, UI Building Pod, regression, Menu Button Widget

#12999 fix: Saving variables as string rather than values in backend
  app/client/src/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/entities/DataTree/dataTreeJSAction.ts
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/workers/DataTreeEvaluator/DataTreeEvaluator.ts
  app/client/src/workers/ast.test.ts
  app/client/src/workers/ast.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, High, Release, Task, Stale, JS Editor, FE Coders Pod, V1, Actions Pod, Test Plan Approved

#14770 fix: Fix backward compatibility related to v1 git file format
  app/server/appsmith-git/pom.xml
  app/server/appsmith-git/src/main/java/com/appsmith/git/configurations/GitServiceConfig.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
Labels: Bug, Git Version Control, skip-changelog, Team Managers Pod

#14581 fix: Property pane components re-render
  app/client/src/components/editorComponents/Debugger/hooks/debuggerHooks.ts
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/pages/Editor/Explorer/Widgets/useNavigateToWidget.ts
  app/client/src/pages/Editor/PropertyPane/PropertyPaneConnections.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, Performance, Property Pane, UI Building Pod, UI Builders Pod, Task, UI Performance

#12551 feat: Add a field for the post message api exposure
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/entities/DataTree/actionTriggers.ts
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/PostMessage.test.ts
  app/client/src/sagas/ActionExecution/PostMessageSaga.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/workers/Actions.test.ts
  app/client/src/workers/Actions.ts
Labels: Enhancement, JS, QA, Medium effort, FE Coders Pod, Test Plan Approved

#14751 fix: update imported app to make use of user db for onboarding
  app/client/src/pages/Editor/GuidedTour/app.json
  app/client/src/pages/Editor/GuidedTour/constants.tsx
Labels: Bug, Critical, Needs Triaging, New Developers Pod, Platform Pod

#14778 test: Automated tests for Postgres Datatype - Boolean & Enum
  app/client/cypress/fixtures/BooleanEnumDTdsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/SnapshotTests/AppPageLayout_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List_Regression_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/DataTypes/BooleanEnum_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/DataTypes/Character_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/DataTypes/DateTime_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/DataTypes/Numeric_Spec.ts
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/EmptyApp.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/__diff_output__/apppage.diff.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/apppage.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/emptyAppBuilder.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/loginpage.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/quickPageWizard.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/WidgetsLayout_spec.js/inlineDisabled.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/WidgetsLayout_spec.js/inlineEnabled.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/SnapshotTests/AppPageLayout_spec.js/EmptyApp.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/SnapshotTests/AppPageLayout_spec.js/Profile.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/SnapshotTests/AppPageLayout_spec.js/apppage.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/SnapshotTests/AppPageLayout_spec.js/emptyAppBuilder.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/SnapshotTests/AppPageLayout_spec.js/loginpage.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/SnapshotTests/AppPageLayout_spec.js/quickPageWizard.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/SnapshotTests/WidgetsLayout_spec.js/inlineDisabled.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/SnapshotTests/WidgetsLayout_spec.js/inlineEnabled.snap.png
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
Labels: skip-changelog, Test Plan Approved, Test

#14374 fix: Garbled characters in API response (#13515)
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_Bugs_Spec.js
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug, Backend, High, Needs Triaging, BE Coders Pod, REST API plugin, needs estimate, Actions Pod, Test Plan Approved, Datatype issue

#14663 fix: invite user and password reset email not being sent via config page setup
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/pages/Settings/FormGroup/Toggle.tsx
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/pages/Settings/config/email.ts
  app/client/src/pages/Settings/config/general.ts
Labels: Bug, Needs More Info, High, Team Managers Pod, DevOps Pod, Email Config

#14605 fix: broken documentation links in omni-bar
  app/client/src/components/editorComponents/GlobalSearch/parseDocumentationContent.test.ts
  app/client/src/components/editorComponents/GlobalSearch/parseDocumentationContent.ts
Labels: Bug, High, Omnibar, Needs Triaging, New Developers Pod, Platform Pod

#14662 fix: Replace initEval binding success event
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Bug, Performance, Needs More Info, App Viewers Pod, High, UI Building Pod, Needs Triaging, UI Builders Pod, FE Coders Pod

#14472 fix: the random month showing issue in datepicker widget
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
Labels: Bug, Date Picker Widget, App Viewers Pod, Low, UI Building Pod

#14468 fix: reset meta to default value
  app/client/cypress/fixtures/multiSelectDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllInputWidgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/MultiSelect_spec copy.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/MultiSelect_spec2.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/src/actions/metaActions.ts
  app/client/src/reducers/entityReducers/metaReducer/index.ts
  app/client/src/reducers/entityReducers/metaReducer/test.ts
  app/client/src/sagas/ActionExecution/ResetWidgetActionSaga.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod, MultiSelect Widget, FE Coders Pod, Actions Pod, Test Plan Approved

#14691 fix: show repo limit reached on home page
  app/client/src/pages/Applications/index.tsx
Labels: Bug, Release, Needs Triaging, Git Version Control, Team Managers Pod, medium, Platform Pod

#14805 fix: Test failure for get profile of anonymous users
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: Bug, Test Plan Approved

#14668 fix: prevent cyclic dependency when switching to js mode
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Switchgroup_spec.js
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, Frontend, High, Needs Triaging, UQI, FE Coders Pod, BE Coders Pod, UQI components, Add/Update Test Plan

#14837 fix: Server build failure due to failing tests
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/WorkspaceControllerTest.java
Labels: Bug, Test Plan Approved

#14842 fix: JsObject parsing
  app/client/src/constants/ast.ts
  app/client/src/workers/DataTreeEvaluator/DataTreeEvaluator.ts
  app/client/src/workers/ast.test.ts
  app/client/src/workers/ast.ts
Labels: Bug, High, Needs Triaging, JS Editor, Release Blocker, FE Coders Pod, Test Plan Approved

#14714 fix: remove the duplicate and rename the actions to events in property panel
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Dropdown_onOptionChange_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/widgetCommands.js
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
Labels: Bug, Property Pane, App Viewers Pod, UI Builders Pod, medium

#14627 fix: Open modal widget on paste and modal on paste fixes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Modal_spec.js
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Bug, Modal Widget, App Viewers Pod, High, Needs Triaging, UI Builders Pod, Medium effort, Copy Paste

#14388 fix: Multi widget selection fixes
  app/client/src/pages/Editor/WidgetsMultiSelectBox.tsx
  app/client/src/sagas/CanvasSagas/SelectionCanvasSagas.ts
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/widgets/ContainerWidget/widget/index.tsx
Labels: Bug, Low, Needs Triaging, UI Builders Pod, Copy Paste, Widget Grouping

#14103 fix: UI inconsistencies in Datasource card and page
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Datasources/Datasources_styles_spec.js
  app/client/cypress/support/dataSourceCommands.js
  app/client/src/components/ads/Tabs.tsx
  app/client/src/components/utils/CollapseComponent.tsx
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/pages/Editor/IntegrationEditor/ActiveDataSources.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceHome.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx
  app/client/src/pages/Editor/IntegrationEditor/MockDataSources.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
Labels: Bug, Low, Needs Triaging, BE Coders Pod, Skip Docs, Test Plan Approved

#14788 fix: store value spec as JsObject bug is resolved
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/StoreValue_spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: Bug, Test Plan Approved

#14799 fix: signposting task page is shown when a page is selected
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/FirstTimeUserOnboarding_spec.js
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/selectors/onboardingSelectors.tsx
Labels: Bug, High, Onboarding, New Developers Pod

#14597 fix: Adding deploy button on git deploy tab
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, Low, Git Version Control, Team Managers Pod

#14888 fix: CENTER as default value for vertical alignment in Table Widget
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug, Table Widget, Property Pane, App Viewers Pod, Critical, Release, Needs Triaging, UI Builders Pod

#14899 fix: made blinking cursor transparent for switch datasource
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Low, Production, Needs Triaging, BE Coders Pod, New Developers Pod, Welcome Screen

#14820 fix: checkbox-group widget breaking UI issue
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, Low, Checkbox Group widget

#14850 test: add matrix for fat container tests
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test Plan Approved, Test

#14555 fix: show js function execution errors in debugger
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/entities/AppsmithConsole/index.ts
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Bug, High, Production, Needs Triaging, JS Editor, FE Coders Pod, Test Plan Approved

#14604 fix: No way to go back to appsmith applications from the app viewer mode navigation
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ViewMode/ViewMode_spec.js
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/SnapshotTests/AppPageLayout_spec.js/EmptyApp.snap.png
  app/client/src/pages/AppViewer/AppViewerHeader.tsx
  app/client/src/pages/AppViewer/BackToHomeButton.tsx
  app/client/src/pages/AppViewer/PageMenu.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
Labels: Bug, App Viewers Pod, App Theming

#14858 feat: upgrade client npm packages.
  app/client/.lintstagedrc
  app/client/craco.build.config.js
  app/client/package.json
  app/client/src/api/Api.ts
  app/client/src/api/ApiUtils.test.ts
  app/client/src/api/ApiUtils.ts
  app/client/src/components/formControls/StyledControls.tsx
  app/client/yarn.lock
Labels: Enhancement, Dependencies, UI Builders Pod, Task

#14880 ci: Added workflow for adding reviewers to PR if ads folder changed
  .github/reviewers.yml
  .github/workflows/design-system-reviewer.yml
Labels: Design System Pod, Task, skip-changelog, CI
