Repository appsmithorg/appsmith, pull requests merged in 2022-02, with the labels that each got.

#10737 fix: Evaluate PrivateWidgets to fix list widget children evaluation issue
  app/client/src/workers/DataTreeEvaluator.ts
Labels: Bug

#10770 fix: Added iFrame to load Base64 PDF data in document viewer widget
  app/client/src/widgets/DocumentViewerWidget/component/index.test.tsx
  app/client/src/widgets/DocumentViewerWidget/component/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10760 fix: select treeselect value validation
  app/client/cypress/fixtures/formSelectTreeselectDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_Select_TreeSelect_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_spec.js
  app/client/src/widgets/DropdownWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#10797 fix: Disallow access to instance metadata hosts
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug

#10767 fix: Consistent rename behaviour for datasources
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
Labels: Bug

#10688 feat: added a keydown listener to focus property pane title on pressing f2
  app/client/src/components/ads/EditableText.test.tsx
  app/client/src/components/ads/EditableText.tsx
  app/client/src/components/ads/EditableTextSubComponent.tsx
  app/client/src/pages/Editor/PropertyPaneTitle.test.tsx
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
Labels: Enhancement, UI Builders Pod

#10772 test: Fixed flaky tests Replay_editor and Table_navigateTo_validation_spec
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActiveDatasource/ActiveDatasource.spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/TableWidgets_NavigateTo_Validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Replay/Replay_Editor_spec.js
Labels: skip-changelog, Test

#10694 fix: Updated Template
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: Bug, QA

#10804 fix: test case
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_Select_TreeSelect_spec.js
  app/client/cypress/locators/FormWidgets.json
Labels: Bug

#10774 chore: beta tags for git sync
  app/client/src/constants/Colors.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/components/BetaTag.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/TabItem.tsx
Labels: skip-changelog

#10811 fix: Disabled generate CRUD page feature for MsSQL plugin
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Bug

#10726 fix: Removed filter of JS actions from get actions call
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesOrganizationClonerTests.java
Labels: Bug

#10641 feat: keyboard accessible text / code input
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Autocomplete_spec.js
  app/client/cypress/locators/DynamicInput.json
  app/client/src/components/ads/Button.tsx
  app/client/src/components/editorComponents/CodeEditor/index.test.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
Labels: UI Builders Pod

#10803 fix: Purge orphaned paths from dynamic path lists in widgets
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Bug

#10789 chore: change reflow Beta tag
  app/client/src/pages/Editor/ReflowBetaCard.tsx
Labels: UI Builders Pod, skip-changelog

#10801 fix: Multiple API calls on Team settings page for same user role selection
  app/client/src/components/ads/TableDropdown.tsx
Labels: Bug

#10544 fix: add pre-filled option on adding an option to a checkbox or radio button
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Checkbox_group_spec.js
  app/client/src/components/propertyControls/KeyValueComponent.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10664 fix: Datasources section overlap
  app/client/src/pages/Editor/IntegrationEditor/DatasourceHome.tsx
Labels: Bug

#10690 fix: add keywords to the validation list
  app/client/src/constants/WidgetValidation.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#10805 fix: Fixed issue with H2 where PS parameters were getting merged if the keys were the same
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/PreparedStatementValueDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/IFilterDataServiceCE.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/services/FilterDataServiceTest.java
Labels: Bug

#10836 fix: Execute query overflow scroll issue
  app/client/src/components/ads/TreeDropdown.tsx
Labels: Bug

#10437 fix: Name of undefined error in datasource catch Block
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug

#10831 chore: Perform perf tests on a large app
  app/client/cypress/init-mysql-dump-for-test.sql
  app/client/perf/gen-summary.js
  app/client/perf/package.json
  app/client/perf/src/perf.js
  app/client/perf/src/summary.js
  app/client/perf/src/utils/utils.js
  app/client/perf/tests/dsl/blog-admin-app.json
  app/client/perf/tests/golden-app.perf.js
  app/client/perf/yarn.lock
Labels: skip-changelog

#7585 fix: Replace inequality operator with the strict inequality operator
  app/client/cypress/support/commands.js
  app/server/scripts/node/dump-examples-org.js
Labels: skip-changelog

#10812 fix: Update ApplicationPageId with defaultPageId while fetching applications for homepage
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Organization.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ResponseUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ApplicationFetcherImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ResponseUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherUnitTest.java
  app/server/appsmith-server/src/test/resources/test_assets/ResponseUtilsTest/mockObjects.json
Labels: Bug

#10790 fix: added sentry exception for invalid DynamicBindingListPath
  app/client/src/sagas/PageSagas.tsx
  app/client/src/utils/helpers.test.ts
  app/client/src/utils/helpers.tsx
Labels: Bug

#10736 feat: add sorting and pagination features to S3 plugin
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/SortType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/UQIDataFilterParams.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/services/FilterDataServiceTest.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/constants/FieldName.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/list.json
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
Labels: Enhancement

#10632 fix: onOptionChange on TreeSelects and fix Switch Toggle
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/SwitchWidget/component/index.tsx
Labels: Bug, App Viewers Pod

#10853 fix: Updated Template
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: Bug, QA

#10854 fix: props is now required in type Validator
  app/client/src/constants/WidgetValidation.ts
  app/client/src/workers/evaluationUtils.ts
  app/client/src/workers/validations.ts
Labels: Bug

#10861 chore: Test reuse actions
  .github/workflows/TestReuseActions.yml
Labels: skip-changelog

#10776 chore: Commit only unpublished resources to git repo which includes queries, JSObjects, pages to avoid data duplication
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/GitDirectories.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application.json
Labels: skip-changelog

#10858 fix: Fix NPE during import when page ids are missing for published action and actionCollection
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application.json
Labels: Bug

#10852 chore: Update doc urls for errors related to git
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/ErrorReferenceDocUrl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Assets.java
Labels: skip-changelog

#10868 fix: Disallowed IPs can be bypassed by using a CNAME/A record
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug

#10866 fix: enable response tab in js editor even if it has warnings
  app/client/src/components/editorComponents/JSResponseView.tsx
Labels: Bug

#10724 fix: Spaces are not allowed on widgets children names (tabs, menus, buttons etc.)
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/components/propertyControls/MenuItemsControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
  app/client/src/components/propertyControls/TabControl.tsx
Labels: Bug, App Viewers Pod

#10810 fix: Delete the pages post merge operation from application when they are removed from file system
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-page-added.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-page-removed.json
Labels: Bug

#10808 fix: table column visibility
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
Labels: Bug, App Viewers Pod

#10872 chore: update text and doc url for git disconnect modal
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: skip-changelog

#10874 test: Support reuse of github actions
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#10888 test: Fix reuse actions
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, Test

#10046 fix: Column tile reposition on focus state of Input element inside property pane configuration for Table and Tabs widget
  app/client/cypress/locators/Layout.json
  app/client/src/components/ads/DraggableList.tsx
  app/client/src/components/ads/DraggableListCard.tsx
  app/client/src/components/ads/DraggableListComponent.tsx
  app/client/src/components/designSystems/appsmith/DraggableListComponent.tsx
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/components/propertyControls/MenuItemsControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
  app/client/src/components/propertyControls/TabControl.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod

#10807 feat: adds Headers tab to the Api response view
  app/client/src/components/editorComponents/ApiResponseView.tsx
Labels: Enhancement

#10837 fix: Race condition issue of meta reducer update
  app/client/src/actions/metaActions.ts
  app/client/src/reducers/entityReducers/metaReducer.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, Verified, FE Coders Pod

#10826 fix: passing params from JS to API/SQL query
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/workers/DataTreeEvaluator.test.ts
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/validations.ts
Labels: Bug, Verified

#10897 fix: skip bad table migration thats breaking computed columns we di…
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/TableWidget.ts
Labels: Bug

#10869 chore: Add brotli compression
  app/client/craco.build.config.js
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog

#10709 chore: hide the image column in guided tour table
  app/client/src/pages/Editor/GuidedTour/app.json
Labels: skip-changelog

#10913 test: Reuse performance actions
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, Test

#10914 chore: Remove feature-flag for git
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog

#10895 fix: handle empty column name in UQI sort component
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/services/FilterDataServiceTest.java
Labels: Bug

#10933 fix: Sort unordered set elements before committing to git repo so as to have same serialised output string for identical set of elements
  app/server/appsmith-git/pom.xml
  app/server/appsmith-git/src/main/java/com/appsmith/git/converters/GsonDoubleToLongConverter.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/converters/GsonUnorderedToOrderedSetConverter.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-git/src/test/java/GsonDoubleToLongConverterTest.java
  app/server/appsmith-git/src/test/java/GsonUnorderedToOrderedSetTest.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/GitStatusDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CompareDslActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/CompareDslActionDTOTest.java
Labels: Bug

#10922 chore: releaseBlockerFixes-v1.6.9
  app/client/src/actions/metaActions.ts
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/reducers/entityReducers/metaReducer.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/workers/DataTreeEvaluator.test.ts
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluationUtils.ts
  app/client/src/workers/validations.ts
Labels: skip-changelog

#10930 fix: fix margin top issues with checkbox form controls
  app/client/src/components/editorComponents/form/fields/StyledFormComponents.tsx
  app/client/src/pages/Editor/FormControl.tsx
Labels: Bug

#10775 fix: 9414 Firestore where clause not fetching numbers
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/utils/WhereConditionUtils.java
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
Labels: Bug

#10886 fix: limit validation errors in debugger
  app/client/src/constants/messages.ts
  app/client/src/workers/helpers.test.ts
  app/client/src/workers/helpers.ts
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: Bug

#10829 fix: fixes uqi component issues
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/PaginationControl.tsx
  app/client/src/components/formControls/SortingControl.tsx
  app/client/src/pages/Editor/FormControl.tsx
Labels: Bug

#10838 fix: Multiselection in table widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_MultiRowSelect_spec.js
  app/client/src/widgets/TableWidget/component/index.tsx
  app/client/src/widgets/TableWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#11004 fix: Remove references of messages.ts in worker files
  app/client/src/constants/messages.ts
  app/client/src/workers/validations.ts
Labels: skip-changelog

#10953 fix: added missed analytic events for git sync
  app/client/src/components/ads/TextInput.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Editor/BottomBar/index.tsx
  app/client/src/pages/Editor/MainContainer.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/hooks/useAutoGrow.tsx
Labels: Bug

#10763 fix: Reset focus on widgets search bar when the search text is cleared
  app/client/src/pages/Editor/WidgetSidebar.tsx
Labels: Bug

#10875 fix: fix refresh token flow in REST API OAuth
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/pages/Editor/DataSourceEditor/Collapsible.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuth2.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2AuthorizationCode.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2ClientCredentials.java
  app/server/appsmith-plugins/restApiPlugin/src/main/resources/form.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesOrganizationClonerTests.java
Labels: Bug

#11014 chore: Anonymous stats if telemetry is enabled
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/ApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/DatasourceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/NewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/NewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/OrganizationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/UserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
Labels: skip-changelog

#10945 fix: Search closes in dropdown when search text contains space
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/widgets/CurrencyInputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/PhoneInputWidget/component/ISDCodeDropdown.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10942 fix: Added disable signup form config
  app/client/docker/templates/nginx-app-http.conf.template
  app/client/docker/templates/nginx-app-https.conf.template
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/ce/pages/UserAuth/SignUp.tsx
Labels: Bug

#10928 chore: Extend the list of widgets that cannot be used inside the List…
  app/client/cypress/fixtures/EmptyListWidget.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/List_spec.js
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/widgets/ListWidget/index.ts
Labels: skip-changelog

#10010 fix: Refactor init mongodb flow to check and enable replica set for external mongodb
  deploy/docker/entrypoint.sh
  deploy/docker/templates/docker.env.sh
Labels: Stale

#10466 fix: Ansible support on Amazon Linux
  deploy/ansible/README.MD
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/defaults/main.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/handlers/main.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/Amazon-setup-docker.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/Debian-setup-docker.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/Ubuntu-setup-docker.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/main.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/preflight.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-appsmith.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-docker.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-ubuntu.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/start-docker.yml
Labels: Stale

#10296 fix: Map pin does not center when location is changed and centering option is turned on
  app/client/src/widgets/MapWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, Stale

#10821 feat: added datasource icon on left of entity name, revamped name editor
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/utils/NameEditorComponent.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/selectors/actionSelectors.tsx
  app/client/src/selectors/ui.tsx
  app/client/src/selectors/widgetSelectors.ts
Labels: Enhancement, Frontend, BE Coders Pod

#10860 fix: Phone Input and Input widget not getting reset on submit issue
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CurrencyInput_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Phone_input_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/input_v2_spec.js
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
Labels: Bug

#11039 chore: Minor refactor of code to avoid merge conflicts.
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOidcUserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ClientUserRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/LoginSource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserProfileDTO.java
Labels: skip-changelog

#11034 fix: Added stricter validation for Mongo pipeline
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Aggregate.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
Labels: Bug

#11036 feat: Add gitHosting provider to analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Enhancement

#11044 fix: Update error handling for resource not found exception
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, skip-changelog

#10949 fix: Header tags are not styled correctly in the Text widget
  app/client/src/widgets/TextWidget/component/index.tsx
Labels: Bug, App Viewers Pod

#10622 feat: keyboard accessible multi-select dropdown, action selector and text input
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Autocomplete_spec.js
  app/client/cypress/locators/DynamicInput.json
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/MultiselectDropdown.test.tsx
  app/client/src/components/ads/MultiselectDropdown.tsx
  app/client/src/components/ads/TreeDropdown.test.tsx
  app/client/src/components/ads/TreeDropdown.tsx
  app/client/src/components/editorComponents/CodeEditor/index.test.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/propertyControls/MultiSelectControl.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
Labels: Enhancement, UI Builders Pod, skip-changelog

#11069 chore: Add stopwatch to log execution time by process name
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/Stopwatch.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: skip-changelog

#10966 fix: Input, Phone and Currency input widgets valid property validations
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/input_v2_spec.js
  app/client/cypress/support/commands.js
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
Labels: Bug

#10941 fix: keep linting in trigger field in sync with the state of the datatree 🐛
  app/client/src/workers/DataTreeEvaluator.ts
Labels: Bug

#11072 fix: NPE in git analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
Labels: Bug

#11052 feat: add more plugins to rich text editor
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
Labels: Enhancement, App Viewers Pod

#10832 feat: Provide option in phone input widget to turn off auto formatting
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Phone_input_spec.js
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/PhoneInputWidgetMigrations.test.ts
  app/client/src/utils/migrations/PhoneInputWidgetMigrations.ts
  app/client/src/widgets/PhoneInputWidget/index.ts
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
Labels: Enhancement

#11070 fix: Update error handling for git connect
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/Constraint.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, skip-changelog

#11001 fix: added new library and reduced function calls for global data
  app/client/package.json
  app/client/src/workers/Actions.test.ts
  app/client/src/workers/Actions.ts
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/PromisifyAction.test.ts
  app/client/src/workers/PromisifyAction.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
  app/client/src/workers/validations.ts
  app/client/yarn.lock
Labels: Bug

#11058 fix: Increase supported header size for multipart data
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/WebConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
Labels: Bug, skip-changelog

#11019 fix: Comment icon gets hidden behind tabs on Tab widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Comments/AddComments_spec.js
  app/client/src/comments/inlineComments/InlineCommentPin.tsx
  app/client/src/comments/inlineComments/UnpublishedCommentThread.tsx
Labels: Bug

#11097 fix: Remove default values for error message in analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug, skip-changelog

#11102 chore: Minor code refactoring for bean utils and action execution
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/AppsmithBeanUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/MustacheHelper.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/AppsmithBeanUtilsTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionCollectionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ResponseUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: skip-changelog

#11148 fix: Update indexes for ActionCollection and NewAction to improve the query performance for getResourceByPageId
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Bug, skip-changelog

#11125 chore: Moving ActionServiceTest to ce package
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: skip-changelog

#11119 feat: S3 plugin: add command to delete multiple files at a time
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/constants/AmazonS3Action.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/TemplateUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/delete_many.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
Labels: Enhancement

#11043 feat: Self-signed certificates for REST APIs
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/ExceptionHelper.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/SSLHelper.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionExecutionResult.java
  app/server/appsmith-plugins/arangoDBPlugin/src/main/java/com/external/utils/SSLUtils.java
  app/server/appsmith-plugins/restApiPlugin/pom.xml
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
Labels: Enhancement, BE Coders Pod

#11116 fix: S3 plugin: remove `Expiry Duration` config from `Read file` query
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/read.json
Labels: Bug

#11048 fix: select widget overflow
  app/client/src/widgets/SelectWidget/component/index.styled.tsx
Labels: Bug, App Viewers Pod

#11161 fix: Fix error code for application controller
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
Labels: Bug, skip-changelog

#7127 feat: Support body in GET API requests
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_Multipart_spec.js
  app/client/cypress/locators/ApiEditor.json
  app/client/src/actions/apiPaneActions.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/MultiSwitch.tsx
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/APIEditor/Form.tsx
  app/client/src/pages/Editor/APIEditor/PostBodyData.tsx
  app/client/src/pages/Editor/APIEditor/RapidApiEditorForm.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/reducers/uiReducers/apiPaneReducer.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/transformers/RestActionTransformer.ts
  app/client/src/transformers/RestActionTransformers.test.ts
  app/client/src/utils/ApiPaneUtils.tsx
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ApiContentType.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: BE Coders Pod

#11059 feat: Step control keyboard navigation
  app/client/src/components/ads/StepComponent.test.tsx
  app/client/src/components/ads/StepComponent.tsx
Labels: Enhancement, UI Builders Pod, skip-changelog

#11153 feat: Add Mongo Templates for plugin.
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Aggregate.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Count.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Distinct.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/utils/MongoPluginUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
Labels: Enhancement

#11179 chore: upgrade jshint to fix security alert
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog

#11020 fix: add ellipsis to table search input when blur
  app/client/src/components/designSystems/appsmith/SearchComponent.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10667 fix: add ellipsis when the page name is longer than width
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Pages/Page_Load_Spec.js
  app/client/src/pages/AppViewer/viewer/PageTabs.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#11184 fix: ensure backward compatibility with older Actions.
  app/client/src/sagas/ApiPaneSagas.ts
Labels: Bug, skip-changelog

#11080 feat: Return page slug for default pages in get applications API in home page
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationPage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ApplicationFetcherImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherUnitTest.java
Labels: Enhancement

#10954 fix: rating widgets flickering when value is reduced.
  app/client/src/widgets/RateWidget/widget/index.tsx
Labels: Bug

#11151 fix: Take previously connected git applications accessibility into consideration to accurately calculate private repo count
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug

#11089 fix: 7794 Google Sheet Fails with Mixed Datatype
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/IFilterDataServiceCE.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/GetValuesMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/Method.java
Labels: Bug, BE Coders Pod

#11124 fix: showing invalid credentials message on MongoDB test datasource if there is an unauthorized error
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
Labels: Bug

#11018 feat: ssh key regeneration
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Icon.test.tsx
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/NotificationBanner.tsx
  app/client/src/constants/IconConstants.tsx
  app/client/src/pages/Editor/gitSync/components/DeployedKeyUI.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Enhancement

#11063 fix: Spacing for encrypted tag for form control
  app/client/src/components/editorComponents/form/fields/StyledFormComponents.tsx
  app/client/src/pages/Editor/FormControl.tsx
Labels: Bug

#10919 fix: Add circular progress svg to WidgetIcons.tsx
  app/client/src/assets/icons/widget/circular-progress.svg
  app/client/src/icons/WidgetIcons.tsx
Labels: Bug, UI Builders Pod, Stale

#11208 chore: persist performance test results
  .github/workflows/integration-tests-command.yml
  app/client/perf/gen-summary.js
  app/client/perf/package.json
  app/client/perf/src/ci/supabase.js
  app/client/perf/src/index.js
  app/client/perf/src/summary.js
  app/client/perf/tests/actions.js
  app/client/perf/tests/golden-app.perf.js
  app/client/perf/tests/import-application.perf.js
  app/client/perf/tests/sample-test.js
  app/client/perf/yarn.lock
Labels: skip-changelog

#11213 chore: Remove old way of adding feature flags
  .env.example
  app/client/docker/templates/nginx-app-http.conf.template
  app/client/docker/templates/nginx-app-https.conf.template
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/netlify.toml
  app/client/package.json
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/vercel.json
  app/client/yarn.lock
  deploy/docker/templates/docker.env.sh
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
  deploy/heroku/default.conf.template
  deploy/k8s/scripts/nginx-configmap.yaml
  deploy/template/nginx_app.conf.sh
Labels: Platform Pod, skip-changelog

#11144 feat: Add api to check the git connection after the key is regenerated
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Enhancement

#11178 fix: Wait for evaluation before completing resetWidget and storeValue functions
  app/client/cypress/fixtures/promisesBtn.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/PromisesSpec.ts
  app/client/src/actions/batchActions.ts
  app/client/src/actions/metaActions.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/actions/pluginActionActions.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/sagas/ActionExecution/ResetWidgetActionSaga.ts
  app/client/src/sagas/ActionExecution/StoreActionSaga.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
Labels: Bug, Critical, FE Coders Pod

#11225 chore: Remove theme ids during git commit
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: skip-changelog

#11216 chore: remove pointer cursor from dialog header icons.
  app/client/src/components/ads/DialogComponent.tsx
Labels: skip-changelog

#11234 feat: `Disable form login` configurable via admin settings page.
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/EnvVariables.java
Labels: Enhancement

#11207 fix: 8878 - To handle Comma delimited float values
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/DataTypeStringUtilsTest.java
Labels: Bug

#11226 chore: Move supabase key to the right step in CI
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog

#11210 chore: changing reflow threshold to 10/10 from 20/20
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
Labels: UI Builders Pod, skip-changelog

#11189 fix: Text widget shows a horizontal scroll on center and right alignment
  app/client/src/widgets/TextWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Text Widget

#10943 fix: Issues and Enhancements in the camera widget
  app/client/cypress/fixtures/CameraDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/PromisesSpec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Camera_spec.js
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/CameraWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, Camera Widget

#11228 chore: introduce lookup tables inplace of switch
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/common.tsx
Labels: skip-changelog

#11236 chore: Move data counts to properties object
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
Labels: skip-changelog

#11163 fix: remove dependencies from trigger fields
  app/client/src/workers/DataTreeEvaluator.ts
Labels: Bug

#10255 feat: Homepage mobile UI
  app/client/src/assets/icons/ads/two-line-hamburger.svg
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/SearchInput.tsx
  app/client/src/constants/AppConstants.ts
  app/client/src/constants/Colors.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/common/MobileSidebar.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/SharedUserList.tsx
  app/client/src/pages/common/SubHeader.tsx
  app/client/src/theme/colors.css
  app/client/src/theme/defaultTheme.css
  app/client/src/utils/hooks/useDeviceDetect.ts
Labels: Enhancement

#10912 chore: Updates JS editor default text
  app/client/src/utils/JSPaneUtils.tsx
Labels: Stale

#11249 fix: update git connect modal
  app/client/src/pages/Editor/gitSync/components/DeployedKeyUI.tsx
  app/client/src/pages/Editor/gitSync/components/TabItem.tsx
Labels: Bug

#11238 fix: Fixed test MongoDB datasource shows ok even if there is no database matching the name in the 'Default Database Name' input
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
Labels: Bug

#11242 chore: Save data of all performance runs
  app/client/perf/src/ci/supabase.js
Labels: skip-changelog

#11204 fix: NPE when application has no page
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
Labels: Bug

#11222 test: Added test event driver
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/fixtures/forkedApp.json
  app/client/cypress/integration/Smoke_TestSuite/Application/ImportExportForkApplication_spec.js
  app/client/cypress/setup-test.sh
Labels: skip-changelog, Test

#10935 fix: Rating Widget inactive-color.
  app/client/src/widgets/RateWidget/component/index.tsx
Labels: Bug, App Viewers Pod

#10618 fix: Table Filter pane overflows when Table is at the top of the canvas
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Download_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_spec.js
  app/client/src/pages/Editor/Popper.tsx
  app/client/src/pages/Editor/utils.ts
  app/client/src/widgets/TableWidget/component/TableFilterPane.tsx
Labels: Bug

#11123 fix: push js object after creation
  app/client/src/pages/Editor/Explorer/JSActions/JSActionEntity.tsx
  app/client/src/reducers/entityReducers/jsActionsReducer.tsx
Labels: Bug

#10796 fix: updated height for page view
  app/client/src/widgets/CanvasWidget.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#11171 fix: Adds use case text box to input custom use case in welcome form
  app/client/src/ce/constants/messages.ts
  app/client/src/constants/forms.ts
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/SetupForm.tsx
Labels: Bug

#11196 fix: updated css for ISDCode Dropdown
  app/client/src/widgets/PhoneInputWidget/component/ISDCodeDropdown.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#11313 chore: Rename metadata to idToken
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserProfileDTO.java
Labels: skip-changelog

#11300 fix: Username and email hardcoded in mobile sidebar
  app/client/src/pages/common/PageHeader.tsx
Labels: Bug

#11085 fix: Spaces are not allowed on widgets children names (tabs, menus, buttons etc.)
  app/client/src/components/ads/TextInput.tsx
Labels: Bug, App Viewers Pod

#11082 fix: select widget accept string and object in the defaultOption property
  app/client/cypress/fixtures/Js_toggle_dsl.json
  app/client/cypress/fixtures/formSelectTreeselectDsl.json
  app/client/cypress/fixtures/formdsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Dropdown_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/MultiSelect_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/src/comments/dsl.json
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/index.ts
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.test.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/component/index.styled.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SelectWidget/index.ts
  app/client/src/widgets/SelectWidget/widget/index.test.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/workers/evaluation.test.ts
  app/client/test/factories/Widgets/WidgetTypeFactories.ts
Labels: Bug, App Viewers Pod

#11326 fix: Prevent content-type header from changing when switching to raw mode in API pane
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_Multipart_spec.js
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/selectors/apiPaneSelectors.ts
Labels: Bug

#11324 test: updated flaky test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Debugger/PageOnLoad_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Chart_Widget_Loading_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Dropdown_spec.js
Labels: skip-changelog, Test

#11107 chore: Update config label in Rest API datasource config page
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
Labels: skip-changelog, Stale

#11138 fix: handled to hide widget in preview mode
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/PreviewMode/PreviewMode_spec.js
  app/client/src/components/editorComponents/PreviewModeComponent.tsx
  app/client/src/widgets/BaseWidget.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#11323 fix: Property panel resize on dragging
  app/client/src/utils/hooks/useHorizontalResize.tsx
Labels: Bug

#11333 fix: updated max character validation
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod
