Repository appsmithorg/appsmith, pull requests merged in 2022-11, with the labels that each got.

#17947 chore: add QA checklist for PR's
  .github/pull_request_template.md
Labels: Bug

#17995 chore: Remove example workspace creation in migration since its no longer used
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog, Team Managers Pod, Test Plan Approved, RBAC

#17958 chore: Add missing relationships for RBAC
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/PolicyGenerator.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/ce/PolicyGeneratorCE.java
Labels: skip-changelog, Team Managers Pod, Test Plan Approved, RBAC

#17983 ci: Fix a typo in client-build workflow
  .github/workflows/client-build.yml
Labels: Performance, Task, skip-changelog, CI

#17713 feat: appsmith ctl jest with workflow
  .github/workflows/appsmithctl.yml
  .github/workflows/integration-tests-command.yml
  deploy/docker/utils/bin/backup.js
  deploy/docker/utils/bin/backup.test.js
  deploy/docker/utils/bin/constants.js
  deploy/docker/utils/bin/logger.js
  deploy/docker/utils/package-lock.json
  deploy/docker/utils/package.json
Labels: Enhancement, DevOps Pod

#17729 feat: wrap widgets into a component which listens to content height changes
  app/client/src/components/autoHeight/AutoHeightContainer.test.tsx
  app/client/src/components/autoHeight/AutoHeightContainer.tsx
Labels: Enhancement, UI Builders Pod, Dynamic Height

#17568 feat: Clear store values
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/ClearStore_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/RemoveValue_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Others/Autocomplete_spec.js
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ActionCreator/constants.ts
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/entities/DataTree/actionTriggers.ts
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/StoreActionSaga.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/workers/Actions.test.ts
  app/client/src/workers/Actions.ts
Labels: Enhancement, hacktoberfest, FE Coders Pod, JS Usability, Test Plan Approved, Framework Functions

#17980 test: Script updates for flaky tests
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test Plan Approved, Test

#18001 fix: Number validation passthrough behaviour on 0
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/FilepickerWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/ProgressBarWidget/widget/index.tsx
  app/client/src/widgets/ProgressWidget/widget/index.tsx
  app/client/src/workers/validations.test.ts
  app/client/src/workers/validations.ts
Labels: Bug, App Viewers Pod, Needs Triaging, Widget Validation

#18037 chore: remove extra feature flags | FE
  app/client/src/entities/FeatureFlags.ts
  app/client/src/pages/Applications/ImportApplicationModal.tsx
Labels: Task, skip-changelog

#17988 chore: update upgrade page
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/AuditLogs/Audit_logs_spec.js
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/Main.tsx
  app/client/src/ce/pages/Upgrade/AccessControlUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/Carousel.tsx
  app/client/src/ce/pages/Upgrade/Header.tsx
  app/client/src/ce/pages/Upgrade/UpgradePage.tsx
  app/client/src/ce/pages/Upgrade/UsageUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/types.ts
  app/client/src/entities/FeatureFlags.ts
Labels: skip-changelog

#18033 fix: abstracted the empty onHeightUpdate function from AutoHeightContainer…
  app/client/src/components/autoHeight/AutoHeightContainer.test.tsx
Labels: Bug, UI Builders Pod

#17170 chore: Remove feature flags for GIT
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog, Stale, Test Plan Approved

#18047 chore: added video log field to issue template
  .github/ISSUE_TEMPLATE/--bug-report.yaml
Labels: skip-changelog

#16380 feat:allow local decimal sep. curr. & input widget
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/CurrencyInputWidget/component/index.tsx
  app/client/src/widgets/CurrencyInputWidget/component/utilities.test.ts
  app/client/src/widgets/CurrencyInputWidget/component/utilities.ts
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/fields/CurrencyInputField.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: Enhancement, App Viewers Pod, High, i18n, New Developers Pod, Currency Input Widget

#18000 chore: use latest design-system version
  app/client/package.json
  app/client/yarn.lock
Labels: Design System Pod, skip-changelog

#17902 chore: add EE Pojo for UpdatePermissionGroup
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UpdatePermissionGroupDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/UpdatePermissionGroupCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
Labels: Task, skip-changelog, Team Managers Pod, Test Plan Approved, RBAC

#18053 fix: set current workspace id in redux store
  app/client/src/sagas/ApplicationSagas.tsx
Labels: Bug, Task, Team Managers Pod

#18056 fix: Radio button triggering on change twice
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, Design System Pod, JS Objects, FE Coders Pod

#18085 chore: Splitting files to support groups on members page in EE
  app/client/src/actions/editorContextActions.ts
  app/client/src/actions/focusHistoryActions.ts
  app/client/src/ce/actions/workspaceActions.ts
  app/client/src/ce/api/WorkspaceApi.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/workspaceConstants.ts
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/reducers/uiReducers/workspaceReducer.ts
  app/client/src/ce/sagas/WorkspaceSagas.ts
  app/client/src/ce/selectors/workspaceSelectors.tsx
  app/client/src/components/editorComponents/ActionCreator/FieldConfig.ts
  app/client/src/components/editorComponents/StoreAsDatasource.tsx
  app/client/src/ee/actions/workspaceActions.ts
  app/client/src/ee/constants/workspaceConstants.ts
  app/client/src/ee/pages/workspace/Members.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/WidgetsEditor/EmptyCanvasSection.tsx
  app/client/src/pages/Editor/__tests__/AuthenticatedAPIErrorValidation.test.tsx
  app/client/src/pages/Templates/TemplatesModal/Header.tsx
  app/client/src/pages/Templates/TemplatesModal/PageSelection.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateList.tsx
  app/client/src/pages/common/SharedUserList.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/src/pages/workspace/General.tsx
  app/client/src/pages/workspace/settings.tsx
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/NavigationSagas.ts
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/sagas/helper.ts
  app/client/src/selectors/applicationSelectors.tsx
  app/client/src/utils/helpers.tsx
  app/client/src/utils/hooks/useWorkspace.tsx
Labels: skip-changelog, Team Managers Pod, RBAC

#17882 chore: template list sidebar consistent with application page sidebar
  app/client/src/pages/Templates/Filters.tsx
  app/client/src/pages/Templates/TemplateList.tsx
  app/client/src/pages/Templates/index.tsx
Labels: Design System Pod, Task, skip-changelog, New Developers Pod, Templates

#17949 fix: delete individual ds without blocking other ds
  app/client/src/ce/constants/messages.ts
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/reducers/entityReducers/datasourceReducer.ts
  app/client/src/selectors/entitiesSelector.ts
Labels: Bug, Needs Triaging, Google Sheets, medium, Test Plan Approved, Integrations Pod

#17929 feat: Code Scanner Enhancements
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/CodeScanner/CodeScanner_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/package.json
  app/client/src/assets/icons/widget/codeScanner/flip.svg
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/CodeScannerWidgetMigrations.ts
  app/client/src/widgets/CodeScannerWidget/component/index.tsx
  app/client/src/widgets/CodeScannerWidget/constants.ts
  app/client/src/widgets/CodeScannerWidget/index.ts
  app/client/src/widgets/CodeScannerWidget/widget/index.tsx
  app/client/src/widgets/CodeScannerWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/CodeScannerWidget/widget/propertyConfig/styleConfig.ts
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, Task, medium, Code Scanner Widget

#17994 feat: base widget Auto height enhancements
  app/client/src/components/editorComponents/AutoHeightOverlay.tsx
  app/client/src/widgets/AutoHeightContainer.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/WidgetUtils.test.ts
  app/client/src/widgets/WidgetUtils.ts
Labels: Enhancement, UI Builders Pod, Task, Dynamic Height

#17515 feat: Ability to add new row in Table widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/Add_new_row_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/Inline_editing_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Widget_Copy_Paste_spec.js
  app/client/src/assets/icons/control/add.svg
  app/client/src/components/propertyControls/TableInlineEditValidPropertyControl.tsx
  app/client/src/components/propertyControls/TableInlineEditValidationControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/WidgetMigrationUtils.test.ts
  app/client/src/utils/WidgetMigrationUtils.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/migrations/TableWidget.test.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidgetV2/component/CommonUtilities.ts
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/Row.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/AutoToolTipComponent.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/BasicCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/ButtonCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/CheckboxCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/EditActionsCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/IconButtonCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/ImageCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/InlineCellEditor.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/MenuButtonCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/PlainTextCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SwitchCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/VideoCell.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/ActionItem.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/Download.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/PageNumberInput.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/Pagination.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/Utilities.test.ts
  app/client/src/widgets/TableWidgetV2/component/header/actions/Utilities.ts
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/CascadeFields.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/FilterPane.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/FilterPaneContent.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/index.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/index.tsx
  app/client/src/widgets/TableWidgetV2/component/header/banner/AddNewRowBanner.tsx
  app/client/src/widgets/TableWidgetV2/component/header/banner/index.tsx
  app/client/src/widgets/TableWidgetV2/component/header/index.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/derived.test.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validations/Common.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validations/Number.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Enhancement, Table Widget, App Viewers Pod, High

#18132 chore: Re-adding the read permission group AclPermission
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AclPermission.java
Labels: skip-changelog

#17953 feat: Auto-height add reducers and actions
  app/client/src/actions/autoHeightActions.ts
  app/client/src/actions/controlActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/components/editorComponents/EditorContextProvider.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/reducers/entityReducers/autoHeightReducers/autoHeightLayoutTreeReducer.test.ts
  app/client/src/reducers/entityReducers/autoHeightReducers/autoHeightLayoutTreeReducer.ts
  app/client/src/reducers/entityReducers/autoHeightReducers/canvasLevelsReducer.test.ts
  app/client/src/reducers/entityReducers/autoHeightReducers/canvasLevelsReducer.ts
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.test.ts
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.tsx
  app/client/src/reducers/entityReducers/index.ts
  app/client/src/utils/autoHeight/constants.ts
Labels: Enhancement, UI Builders Pod, Dynamic Height

#18152 chore: added type for feature flag
  app/client/src/entities/FeatureFlags.ts
Labels: Frontend, skip-changelog, BE Coders Pod, Test Plan Approved, Data Platform Pod, Datasource Environments

#17794 feat: [Context Switching]: Change focus target and fix cursor position
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Autocomplete_JS_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/Canvas_Context_Property_Pane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/Canvas_Context_Selected_Widgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Replay_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Image/Image_validation_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/actions/editorActions.ts
  app/client/src/actions/editorContextActions.ts
  app/client/src/actions/propertyPaneActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/LazyCodeEditorWrapper/index.layout.tsx
  app/client/src/components/editorComponents/LazyCodeEditorWrapper/index.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/pages/Editor/Explorer/Widgets/useNavigateToWidget.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/SaaSEditor/constants.ts
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/reducers/uiReducers/editorContextReducer.ts
  app/client/src/reducers/uiReducers/propertyPaneReducer.tsx
  app/client/src/sagas/editorContextSagas.ts
  app/client/src/selectors/editorContextSelectors.ts
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/utils/editorContextUtils.ts
  app/client/src/utils/helpers.tsx
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Enhancement, High, regression, Needs Triaging, Task, New Developers Pod, IDE Navigation

#18018 fix: JS Objects save failures due to AST changes
  app/rts/src/server.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesWorkspaceClonerTests.java
Labels: Bug, Critical, High, Needs Triaging, Stale, JS Objects, FE Coders Pod, Test Plan Approved, Query performance, Data Platform Pod

#18024 fix: update local_testing.sh to build image for external contributor PRs
  scripts/local_testing.sh
Labels: Bug, Backend, QA, Task, Stale, Mongo, BE Coders Pod, Test Plan Approved, Integrations Pod

#18050 chore: use `typography` and `getTypographyFromKey` from the design-system
  app/client/src/ce/pages/UserAuth/ThirdPartyAuth.tsx
  app/client/src/components/TabItemBackgroundFill.tsx
  app/client/src/components/editorComponents/ActionRightPane/Connections.tsx
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/components/editorComponents/Debugger/DebugCTA.tsx
  app/client/src/components/editorComponents/Debugger/EntityDependecies.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/Description.tsx
  app/client/src/components/editorComponents/GlobalSearch/HelpBar.tsx
  app/client/src/components/editorComponents/GlobalSearch/ResultsNotFound.tsx
  app/client/src/components/editorComponents/GlobalSearch/SearchBox.tsx
  app/client/src/components/editorComponents/GlobalSearch/SearchResults.tsx
  app/client/src/components/editorComponents/GlobalSearch/SnippetsDescription.tsx
  app/client/src/globalStyles/CodemirrorHintStyles.ts
  app/client/src/pages/AppViewer/PageTabs.tsx
  app/client/src/pages/Applications/ForkModalStyles.ts
  app/client/src/pages/Editor/EditorAppName/NavigationMenuItem.tsx
  app/client/src/pages/Editor/EditorAppName/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
  app/client/src/pages/Editor/GeneratePage/components/CrudInfoModal.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GoogleSheetForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/styles.ts
  app/client/src/pages/Editor/GeneratePage/index.tsx
  app/client/src/pages/Editor/GuidedTour/EndTour.tsx
  app/client/src/pages/Editor/GuidedTour/Guide.tsx
  app/client/src/pages/Editor/GuidedTour/TourCompletionMessage.tsx
  app/client/src/pages/Editor/PropertyPane/ConnectDataCTA.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneConnections.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/components/BetaTag.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/BranchListItemContainer.tsx
  app/client/src/pages/Editor/gitSync/components/LocalBranchList.tsx
  app/client/src/pages/Editor/gitSync/components/RemoteBranchList.tsx
  app/client/src/pages/Editor/gitSync/components/StyledComponents.tsx
  app/client/src/pages/Editor/gitSync/components/TabItem.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings.tsx
  app/client/src/pages/Settings/DisconnectService.tsx
  app/client/src/pages/Settings/FormGroup/Common.tsx
  app/client/src/pages/Templates/DatasourceChip.tsx
  app/client/src/pages/Templates/Template/LargeTemplate.tsx
  app/client/src/pages/Templates/Template/TemplateDescription.tsx
  app/client/src/pages/Templates/Template/index.tsx
  app/client/src/pages/Templates/index.tsx
  app/client/src/pages/UserAuth/StyledComponents.tsx
  app/client/src/widgets/TabsWidget/component/PageTabs.tsx
Labels: Design System Pod, Task, skip-changelog, Stale, ads migration

#18185 fix: Error deleting application when soft-deleted entities are present in the application
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepositoryImpl.java
Labels: Bug, Needs Triaging, Test Plan Approved

#18199 fix: Google sheet datasource fix
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
Labels: Bug, High, Production, Needs Triaging, Google Sheets, Generate Page, BE Coders Pod, New Developers Pod, Integrations Pod

#17851 feat: Ability to disable vertical resize handles
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/components/editorComponents/ResizableUtils.test.ts
  app/client/src/components/editorComponents/ResizableUtils.tsx
  app/client/src/components/editorComponents/ResizeStyledComponents.tsx
  app/client/src/resizable/resize/index.tsx
  app/client/src/resizable/resizenreflow/index.tsx
  app/client/src/widgets/ModalWidget/component/index.tsx
Labels: Enhancement, UI Builders Pod, Task

#17852 feat: Feature to have widget features
  app/client/src/components/editorComponents/AutoHeightOverlay.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/sagas/autoHeightSagas/batcher.ts
  app/client/src/sagas/autoHeightSagas/containers.ts
  app/client/src/sagas/autoHeightSagas/helpers.ts
  app/client/src/sagas/autoHeightSagas/index.ts
  app/client/src/sagas/autoHeightSagas/widgets.ts
  app/client/src/selectors/applicationSelectors.tsx
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/utils/WidgetFactory.tsx
  app/client/src/utils/WidgetFactoryHelpers.test.ts
  app/client/src/utils/WidgetFactoryHelpers.ts
  app/client/src/utils/WidgetFeatures.test.ts
  app/client/src/utils/WidgetFeatures.ts
  app/client/src/utils/WidgetRegisterHelpers.tsx
  app/client/src/widgets/AutoHeightContainer.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/WidgetUtils.test.ts
  app/client/src/widgets/WidgetUtils.ts
  app/client/src/widgets/constants.ts
Labels: Enhancement, UI Builders Pod, Task

#17957 fix: Stale PID file breaking start-https.sh script
  app/client/start-https.sh
Labels: Bug

#18238 fix: Corrected usage of old soft deleted filter in BaseAppsmithRepository
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
Labels: Bug, Frontend, Backend, Task, Test Plan Approved, Tech Debt

#18196 fix: Log ChunkLoadError on Sentry only after 3rd failure
  app/client/src/serviceWorker.js
  app/client/src/utils/AppsmithUtils.tsx
Labels: Bug, IDE, Task, skip-changelog, New Developers Pod, skip-docs

#18101 chore: linting perf
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/reducers/lintingReducers/lintErrorsReducers.ts
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/selectors/lintingSelectors.ts
  app/client/src/workers/Linting/utils.ts
Labels: Performance, UI Builders Pod, Task, UI Performance, skip-changelog

#18217 fix: Cyclic deps in Table widget shouldn't crash the app
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_spec.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, High, Release, regression, Binding

#18244 task: Dynamic height reflow fixes in Branch
  app/client/src/reducers/entityReducers/autoHeightReducers/autoHeightLayoutTreeReducer.ts
  app/client/src/utils/treeManipulationHelpers/dynamicHeightReflow.ts
Labels: UI Builders Pod, Task, Dynamic Height

#18265 fix: lint perf
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/reducers/lintingReducers/lintErrorsReducers.ts
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/selectors/lintingSelectors.ts
  app/client/src/workers/Linting/utils.ts
Labels: Release, Release Promotion

#18198 fix: Fix JS object duplicate name issue
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Bug, High, Production, Cannot Reproduce Issue, Core Query Execution, JS Objects, FE Coders Pod, BE Coders Pod, Test Plan Approved, Data Platform Pod

#17717 fix: Fix response header issues
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
Labels: Bug, Needs Triaging, Stale, BE Coders Pod, REST API plugin, medium, Test Plan Approved, Integrations Pod

#17962 feat: Add auto height computation functions
  app/client/src/reflow/reflowUtils.ts
  app/client/src/sagas/CanvasSagas/SelectionCanvasSagas.ts
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/autoHeight/constants.ts
  app/client/src/utils/autoHeight/generateTree.test.ts
  app/client/src/utils/autoHeight/generateTree.ts
  app/client/src/utils/autoHeight/reflow.test.ts
  app/client/src/utils/autoHeight/reflow.ts
  app/client/src/utils/boxHelpers.test.ts
  app/client/src/utils/boxHelpers.ts
  app/client/src/utils/helpers.test.ts
  app/client/src/utils/helpers.tsx
  app/client/src/utils/hooks/useReflow.ts
  app/client/src/utils/reflowHookUtils.ts
Labels: Enhancement, UI Builders Pod, Task, Dynamic Height

#18046 feat: Insturment JS Objects settings #16970
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Enhancement, Task, Stale, JS Objects, FE Coders Pod, Test Plan Approved

#18146 chore: update omnibar to work with docusaurus site
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/gitbook-algolia-lambda.js
  app/client/netlify.toml
  app/client/src/ce/configs/index.ts
  app/client/src/components/editorComponents/GlobalSearch/Description.tsx
  app/client/src/components/editorComponents/GlobalSearch/parseDocumentationContent.ts
  app/client/yarn.lock
Labels: Omnibar, Task, skip-changelog, New Developers Pod

#18077 feat: set user permissions for js object
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: Enhancement, Task, Team Managers Pod, RBAC

#18083 feat: move ce permissions ctas and more unit tests
  app/client/src/ce/utils/permissionHelpers.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/pages/Editor/APIEditor/ApiAuthentication.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/Connected.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Datasources.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DataSourceContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceStructure.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionContextMenu.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetGroup.tsx
  app/client/src/pages/Editor/Explorer/mockTestData.ts
  app/client/src/pages/Editor/IntegrationEditor/ActiveDataSources.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/PagesEditor/ContextMenu.tsx
  app/client/src/pages/Editor/PagesEditor/PageListItem.tsx
  app/client/src/pages/Editor/PagesEditor/index.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Stale

#17855 feat: Use RenderModes.PREVIEW for preview mode widgets
  app/client/cypress/fixtures/formResetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/PreviewMode_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Form/FormReset_spec.js
  app/client/src/components/editorComponents/DraggableComponent.test.tsx
  app/client/src/components/editorComponents/DraggableComponent.tsx
  app/client/src/components/editorComponents/PreviewModeComponent.tsx
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/components/editorComponents/WidgetNameComponent/index.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/hooks/useAllowEditorDragToSelect.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
Labels: Enhancement, UI Builders Pod, Task, Refactor

#18355 chore: release v1.8.10
  .github/config.json
  README.md
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/gitbook-algolia-lambda.js
  app/client/netlify.toml
  app/client/src/ce/configs/index.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/GlobalSearch/Description.tsx
  app/client/src/components/editorComponents/GlobalSearch/parseDocumentationContent.ts
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
  app/client/src/reflow/reflowUtils.ts
  app/client/src/sagas/CanvasSagas/SelectionCanvasSagas.ts
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/serviceWorker.js
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/AppsmithUtils.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/autoHeight/constants.ts
  app/client/src/utils/autoHeight/generateTree.test.ts
  app/client/src/utils/autoHeight/generateTree.ts
  app/client/src/utils/autoHeight/reflow.test.ts
  app/client/src/utils/autoHeight/reflow.ts
  app/client/src/utils/boxHelpers.test.ts
  app/client/src/utils/boxHelpers.ts
  app/client/src/utils/helpers.test.ts
  app/client/src/utils/helpers.tsx
  app/client/src/utils/hooks/useReflow.ts
  app/client/src/utils/reflowHookUtils.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/start-https.sh
  app/client/yarn.lock
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Release Promotion

#18190 docs: Updating contribution guidelines
  .github/ISSUE_TEMPLATE/--documentation-improvement.yaml
  CONTRIBUTING.md
  contributions/docs/CONTRIBUTING.md
  contributions/docs/DB Integrations.md
  contributions/docs/TestAutomation.md
  contributions/docs/UploadingAssets.md
  contributions/docs/Widgets.md
  contributions/docs/adding_guides.md
Labels: skip-changelog

#18379 ci: fix upload success
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#18266 fix: add certmanager and classname fields in ingress
  deploy/helm/templates/ingress.yaml
Labels: skip-changelog

#18404 chore: Add data points for the log
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
Labels: skip-changelog

#18417 chore: add back feature flag for context switching
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog

#18415 test: fixed DH flaky test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Multiple_Container_spec.js
Labels: UI Builders Pod, skip-changelog, Auto Height, Test

#18408 fix: auto height container computations
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/sagas/ReplaySaga.ts
  app/client/src/sagas/autoHeightSagas/containers.ts
  app/client/src/sagas/autoHeightSagas/helpers.ts
  app/client/src/sagas/autoHeightSagas/widgets.ts
  app/client/src/utils/WidgetFeatures.ts
  app/client/src/widgets/ContainerWidget/index.ts
  app/client/src/widgets/JSONFormWidget/component/Form.tsx
  app/client/src/widgets/JSONFormWidget/component/useFixedFooter.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/ModalWidget/index.ts
  app/client/src/widgets/StatboxWidget/index.ts
  app/client/src/widgets/TabsWidget/index.ts
  app/client/src/widgets/WidgetUtils.ts
  app/client/src/widgets/withWidgetProps.tsx
Labels: Bug, UI Builders Pod, Auto Height

#18398 fix: Invisible Widgets Overlap while switching back and forth between edit and preview modes in rare cases
  app/client/src/utils/autoHeight/generateTree.ts
Labels: Bug, High, UI Builders Pod, Auto Height

#18360 fix: group widgets label alignment.
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Visibility_spec.js
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/RadioGroupWidget/component/index.tsx
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/SwitchGroupWidget/component/index.tsx
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/SwitchWidget/component/index.tsx
Labels: Bug, UI Builders Pod, Auto Height

#18381 feat: Disable auto height for widgets in List Widget
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/utils/WidgetFeatures.ts
  app/client/src/widgets/ListWidget/index.ts
Labels: UI Builders Pod, Auto Height

#18432 chore: Add logs from segment error retry handler
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
Labels: skip-changelog

#18441 fix: list widget remove autoLayoutContainer for list widget template children
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ListWidget/widget/index.tsx
Labels: Bug, UI Builders Pod, Auto Height

#18418 chore: Add binding parameters' count to analytics data on execute action event
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Core Query Execution, Task, skip-changelog, BE Coders Pod, Test Plan Approved, Data Platform Pod

#18321 fix: Using an html tag within a Text widget to access a web page, without the https:// appended causes application to crash
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Text/Text_new_feature_spec.js
  app/client/src/widgets/TextWidget/component/filters/LinkFilter.ts
  app/client/src/widgets/TextWidget/component/helpers.tsx
  app/client/src/widgets/TextWidget/component/index.tsx
Labels: Bug, App Viewers Pod, High, Text Widget, Needs Triaging

#16629 feat: embed settings
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/EmbedSettings/EmbedSettings_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/pages/AppViewer/AppViewerHeader.tsx
  app/client/src/pages/Settings/FormGroup/Accordion.test.tsx
  app/client/src/pages/Settings/FormGroup/Button.test.tsx
  app/client/src/pages/Settings/FormGroup/Group.test.tsx
  app/client/src/pages/Settings/FormGroup/Link.test.tsx
  app/client/src/pages/Settings/FormGroup/Radio.test.tsx
  app/client/src/pages/Settings/FormGroup/Radio.tsx
  app/client/src/pages/Settings/FormGroup/TagInputField.test.tsx
  app/client/src/pages/Settings/FormGroup/TagInputField.tsx
  app/client/src/pages/Settings/FormGroup/Text.test.tsx
  app/client/src/pages/Settings/FormGroup/TextInput.test.tsx
  app/client/src/pages/Settings/FormGroup/Toggle.test.tsx
  app/client/src/pages/Settings/FormGroup/common.test.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
Labels: Enhancement, App Viewers Pod, High, Embedding Apps

#17473 chore: Context switching - Api right pane tabs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/actions/apiPaneActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/reducers/uiReducers/apiPaneReducer.ts
  app/client/src/selectors/apiPaneSelectors.ts
Labels: Task, New Developers Pod, IDE Navigation

#18225 feat: updatedRow property should point to the last edited row in table widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/Inline_editing_spec.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/derived.test.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Enhancement, App Viewers Pod, medium, Table Widget V2

#18439 ci: Setup ted for perf tests
  .github/workflows/perf-test.yml
Labels: Task, skip-changelog, CI

#18290 fix: Refresh datasource structure on save
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/DatasourceSchema_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Datasources, Needs Triaging, BE Coders Pod, medium, Test Plan Approved, Data Platform Pod

#17885 fix: error message for input widget updated for when the default value is more than the max chars allowed
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Input/Input_MaxChar_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FieldProperties_spec.js
  app/client/src/ce/constants/messages.ts
Labels: Bug, Good First Issue, Input Widget, QA, App Viewers Pod, Low, Verified, Production, Stale

#18264 fix: table scroll issue fixed
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/Table.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/pages/Editor/__tests__/QueryEditorTable.test.tsx
Labels: Bug, High, regression, Needs Triaging, Query Forms, BE Coders Pod, Test Plan Approved, Integrations Pod

#18129 feat: add missing fusion chart
  app/client/src/widgets/ChartWidget/constants.ts
Labels: Enhancement, Chart Widget, App Viewers Pod, Stale

#18034 fix: App card is created even when app import fails and no action can be performed on this app card
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, High, Production, Import-Export-App, Team Managers Pod

#18137 feat: add tableheader property to autocomplete in table
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Widget_Copy_Paste_spec.js
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/derived.test.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Enhancement, Good First Issue, App Viewers Pod, Low, Low effort, Stale, Table Widget V2

#18200 fix: api url z-index to show it above response panel
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
Labels: Bug, UI Improvement, UX Improvement, Low, Production, Needs Triaging, REST API plugin, Test Plan Approved, Integrations Pod

#18440 chore: Switched to sequential checks instead of a parallel one for RTS check
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PluginScheduledTaskCEImpl.java
Labels: Bug

#18192 fix: Allowing multi form to json switching and eliminating json to form sw…
  app/client/src/components/editorComponents/form/ToggleComponentToJson.tsx
  app/client/src/components/formControls/utils.test.ts
  app/client/src/components/formControls/utils.ts
Labels: Bug, Enhancement, Frontend, Needs Triaging, Google Sheets, Query Forms, BE Coders Pod, medium, Test Plan Approved, Integrations Pod

#18460 fix: Overlapping of widgets while reflowing other widgets
  app/client/src/components/editorComponents/form/ToggleComponentToJson.tsx
  app/client/src/components/formControls/utils.test.ts
  app/client/src/components/formControls/utils.ts
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/reflow/reflowHelpers.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PluginScheduledTaskCEImpl.java
Labels: Bug, UI Builders Pod, Reflow & Resize

#18467 chore: Reduce size of payload to data sent to Segment
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#18466 chore: Fix analytics NPE for checkout remote branch flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#18277 fix: slider widget issues
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Sliders/NumberSlider_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Sliders/RangeSlider_spec.ts
  app/client/src/widgets/CategorySliderWidget/index.ts
  app/client/src/widgets/CategorySliderWidget/widget/index.tsx
  app/client/src/widgets/CategorySliderWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/NumberSliderWidget/component/Slider.tsx
  app/client/src/widgets/NumberSliderWidget/index.ts
  app/client/src/widgets/NumberSliderWidget/validations.ts
  app/client/src/widgets/NumberSliderWidget/widget/index.tsx
  app/client/src/widgets/NumberSliderWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/RangeSliderWidget/component/RangeSlider.tsx
  app/client/src/widgets/RangeSliderWidget/index.ts
  app/client/src/widgets/RangeSliderWidget/validations.ts
  app/client/src/widgets/RangeSliderWidget/widget/index.tsx
  app/client/src/widgets/RangeSliderWidget/widget/propertyConfig/contentConfig.ts
Labels: Bug, Enhancement, Good First Issue, Low, regression, Needs Triaging, UI Builders Pod, Slider Widget

#18463 chore: Upgrading RTS dependencies
  app/rts/package.json
  app/rts/yarn.lock
Labels: skip-changelog, Test Plan Approved

#18283 Fix: Unable to delete the checkbox group items inside the list widget
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
Labels: Bug, Property Pane, High, Needs Triaging, UI Builders Pod

#18472 chore: Add role details in replica set error message
  deploy/docker/entrypoint.sh
Labels: skip-changelog, skip-docs

#18468 fix: issues related to tabs widget in auto height
  app/client/src/components/autoHeightOverlay/index.tsx
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/sagas/autoHeightSagas/containers.ts
  app/client/src/sagas/autoHeightSagas/helpers.ts
  app/client/src/sagas/autoHeightSagas/index.ts
  app/client/src/sagas/autoHeightSagas/widgets.ts
  app/client/src/widgets/TabsWidget/component/index.tsx
  app/client/src/widgets/TabsWidget/index.ts
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: UI Builders Pod, Auto Height, Table Widget V2

#18462 fix: widgets increase spacing
  app/client/src/utils/autoHeight/constants.ts
  app/client/src/utils/autoHeight/generateTree.test.ts
  app/client/src/utils/autoHeight/generateTree.ts
  app/client/src/utils/autoHeight/helpers.ts
  app/client/src/utils/autoHeight/reflow.test.ts
  app/client/src/utils/autoHeight/reflow.ts
Labels: Bug, UI Builders Pod, Auto Height

#18457 fix: Switch to preview mode performance issue
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/PreviewMode_spec.js
  app/client/src/components/autoHeight/AutoHeightContainerWrapper.tsx
  app/client/src/components/autoHeightOverlay/AutoHeightLimitHandleGroup.tsx
  app/client/src/components/autoHeightOverlay/index.tsx
  app/client/src/components/autoHeightOverlay/store.ts
  app/client/src/components/editorComponents/DraggableComponent.test.tsx
  app/client/src/components/editorComponents/DraggableComponent.tsx
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/components/editorComponents/WidgetNameComponent/index.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/reflow/reflowHelpers.ts
  app/client/src/sagas/autoHeightSagas/batcher.ts
  app/client/src/sagas/autoHeightSagas/containers.ts
  app/client/src/sagas/autoHeightSagas/helpers.ts
  app/client/src/sagas/autoHeightSagas/index.ts
  app/client/src/sagas/autoHeightSagas/layoutTree.ts
  app/client/src/sagas/autoHeightSagas/widgets.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/autoHeight/constants.ts
  app/client/src/utils/autoHeight/generateTree.test.ts
  app/client/src/utils/autoHeight/generateTree.ts
  app/client/src/utils/autoHeight/helpers.ts
  app/client/src/utils/autoHeight/reflow.test.ts
  app/client/src/utils/autoHeight/reflow.ts
  app/client/src/utils/hooks/autoHeightUIHooks.ts
  app/client/src/utils/hooks/useAllowEditorDragToSelect.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/TabsWidget/component/index.tsx
  app/client/src/widgets/TabsWidget/index.ts
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/WidgetUtils.test.ts
  app/client/src/widgets/WidgetUtils.ts
  app/client/src/widgets/withWidgetProps.tsx
Labels: Bug, Needs Triaging, UI Builders Pod, UI Performance, Auto Height

#18389 fix: gsheet save and authorize redirect issue fixed
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/AuthenticatedApiDatasource_spec.js
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Entity.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Bug, Needs Triaging, BE Coders Pod, REST API plugin, medium, Test Plan Approved, Integrations Pod

#18470 fix: Known issues with Context Switching
  app/client/cypress/fixtures/Bugs/CheckboxGroupInListWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/Canvas_Context_Bug_Fixes.js
  app/client/src/RouteBuilder.ts
  app/client/src/entities/URLRedirect/URLAssembly.ts
  app/client/src/pages/Editor/Explorer/Widgets/utils.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/utils/helpers.tsx
Labels: Bug, Property Pane, QA, Critical, High, Needs Triaging, UI Builders Pod, FE Coders Pod, New Developers Pod, Framework Functions, IDE Navigation

#18257 feat: Add type inference for redux's useSelector hook
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/components/editorComponents/GlobalSearch/SnippetsDescription.tsx
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
  app/client/src/config.d.ts
  app/client/src/pages/Applications/ForkApplicationModal.tsx
  app/client/src/pages/Applications/ImportApplicationModal.tsx
  app/client/src/pages/Applications/ImportApplicationModalOld.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Datasources.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Checklist.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Tasks.tsx
  app/client/src/pages/Editor/GuidedTour/Boxed.tsx
  app/client/src/pages/Editor/GuidedTour/DeviationModal.tsx
  app/client/src/pages/Editor/MainContainerLayoutControl.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/pages/Editor/gitSync/components/GitConnectError.tsx
  app/client/src/pages/Settings/FormGroup/Button.test.tsx
  app/client/src/pages/Settings/FormGroup/Button.tsx
  app/client/src/pages/Settings/FormGroup/Text.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
  app/client/src/pages/Settings/RestartBanner.tsx
  app/client/src/pages/common/CanvasArenas/hooks/useBlocksToBeDraggedOnCanvas.ts
  app/client/src/pages/common/SharedUserList.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/store.ts
  app/client/src/utils/hooks/useAllowEditorDragToSelect.ts
  app/client/src/utils/hooks/useCanvasMinHeightUpdateHook.ts
  app/client/src/utils/hooks/useClickToSelectWidget.tsx
  app/client/src/utils/hooks/usePositionedContainerZIndex.ts
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/CodeScannerWidget/component/index.tsx
  app/client/src/widgets/IframeWidget/component/index.tsx
Labels: Enhancement, FE Coders Pod, Code Refactoring, Test Plan Approved

#18332 fix: rich text editor is buggy
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/RTE/RichTextEditor_spec.js
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
Labels: Bug, Rich Text Editor Widget, App Viewers Pod, High, Needs Triaging

#18254 chore: update dependencies
  app/client/package.json
  app/client/src/components/editorComponents/form/fields/__tests__/KeyValueFieldArray.test.tsx
  app/client/src/widgets/MapWidget/component/index.tsx
  app/client/typings/json-fn/index.d.ts
  app/client/typings/lodash-move/index.d.ts
  app/client/typings/react-base-table/index.d.ts
  app/client/typings/react-infinite-scroller/index.d.ts
  app/client/yarn.lock
  app/rts/yarn.lock
Labels: Dependencies, UI Builders Pod, Task, skip-changelog, Frontend Libraries Upgrade

#18563 chore: Minor code refactor to support changes around permissions and test cases in EE
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/WorkspacePermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/WorkspacePermissionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
Labels: skip-changelog

#18491 chore: fix flaky embed settings test
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/EmbedSettings/EmbedSettings_spec.js
  app/client/cypress/support/AdminSettingsCommands.js
Labels: skip-changelog, New Developers Pod

#18231 fix: Form message component link issue
  app/client/package.json
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/ForgotPassword.tsx
  app/client/src/pages/UserAuth/ResetPassword.tsx
  app/client/yarn.lock
Labels: Bug, Design System Pod, Login / Signup, High, Needs Triaging, New Developers Pod

#18526 chore: Fixed a failing assertion in page clone test
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
Labels: High, skip-changelog, Fork App, New Developers Pod

#18522 fix: Added view mode param to returned application object
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
Labels: Bug, High, Needs Triaging, UI Builders Pod, Canvas / Grid

#18236 fix: text font size for text widget inside modal & statbox.
  app/client/src/widgets/ModalWidget/index.ts
  app/client/src/widgets/StatboxWidget/index.ts
Labels: Bug, Modal Widget, Property Pane, App Viewers Pod, Needs Triaging, UI Builders Pod, Stat Box Widget

#18530 fix: Appsmith version update dialog showing up when no version is set
  app/client/src/sagas/WebsocketSagas/handleAppLevelSocketEvents.tsx
Labels: Bug, Needs Triaging

#18547 fix: flicker issue when both the min max values collide
  app/client/src/components/autoHeightOverlay/index.tsx
Labels: Bug, Needs Triaging, UI Builders Pod, Auto Height

#18546 fix: auto height limits container select
  app/client/src/selectors/widgetSelectors.test.tsx
  app/client/src/selectors/widgetSelectors.ts
  app/client/src/utils/hooks/autoHeightUIHooks.ts
  app/client/src/widgets/DividerWidget/widget/index.test.tsx
  app/client/src/widgets/DropdownWidget/widget/index.test.tsx
Labels: Bug, UI Builders Pod, Auto Height

#18235 fix: geolocation api callbacks are not called
  app/client/src/index.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/sagas/ActionExecution/GetCurrentLocationSaga.test.ts
  app/client/src/sagas/ActionExecution/GetCurrentLocationSaga.ts
  app/client/src/store.ts
Labels: Bug, JS Evaluation, High, Needs Triaging, FE Coders Pod, Test Plan Approved

#18571 ci: fix-fat-failedspec
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#18542 chore: Adding additional optional props to editable text component
  app/client/src/components/editorComponents/EditableText.tsx
Labels: Task, skip-changelog, Team Managers Pod, RBAC

#18587 test: fix merge_spec.js cypress test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/Merge_spec.js
Labels: skip-changelog, skip-docs, Test

#17832 feat: Enable fetch API
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/Fetch_Spec.ts
  app/client/src/constants/defs/browser.json
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/Evaluation/HTTPRequestOverride.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/indirectEval.ts
Labels: Bug, Enhancement, JS Evaluation, Needs Triaging, FE Coders Pod, Test Plan Approved
