Repository appsmithorg/appsmith, pull requests merged in 2022-12, with the labels that each got.

#17652 feat: Dynamic Menu Items - Menu Button Widget
  app/client/cypress/fixtures/example.json
  app/client/cypress/fixtures/menuButtonDsl.json
  app/client/cypress/fixtures/widgetPopupDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Auto_Height_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Others/MenuButton_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/components/propertyControls/MenuButtonDynamicItemsControl.tsx
  app/client/src/components/propertyControls/OpenConfigPanelControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/MenuButtonWidget.ts
  app/client/src/utils/validation/common.ts
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/constants.ts
  app/client/src/widgets/MenuButtonWidget/index.ts
  app/client/src/widgets/MenuButtonWidget/validations.test.ts
  app/client/src/widgets/MenuButtonWidget/validations.ts
  app/client/src/widgets/MenuButtonWidget/widget/helper.test.ts
  app/client/src/widgets/MenuButtonWidget/widget/helper.ts
  app/client/src/widgets/MenuButtonWidget/widget/index.tsx
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/childPanels/configureMenuItemsConfig.ts
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/childPanels/menuItemsConfig.ts
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/propertyUtils.ts
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/styleConfig.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Basic.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/BorderAndShadow.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Color.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/ColumnControl.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/DiscardButtonproperties.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/General.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Icon.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/SaveButtonProperties.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/TextFormatting.ts
  app/client/src/workers/Evaluation/__tests__/validations.test.ts
  app/client/src/workers/Evaluation/validations.ts
Labels: Bug, Enhancement, Table Widget, App Viewers Pod, High, Release, regression, Menu Button Widget, Button Group widget

#18127 fix: miscellaneous issues in table widgets
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_spec.js
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/InlineCellEditor.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/PlainTextCell.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/Utilities.test.ts
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/FilterPaneContent.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, High, Production, Needs Triaging, Stale, medium, Table Widget V2

#18611 chore: add events related to roles and groups
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
Labels: skip-changelog, Team Managers Pod, Test Plan Approved, RBAC

#18577 fix: multiselect crashing
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, Critical, MultiSelect Widget

#18586 fix: page list item icons aren't permission driven on first load
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/PagesEditor/ContextMenu.tsx
  app/client/src/pages/Editor/PagesEditor/PageListItem.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Needs Triaging, Deploy Preview, Team Managers Pod, RBAC

#17521 feat: [ Context Switching ] Maintain datasource edit mode
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/actions/datasourceActions.ts
  app/client/src/components/editorComponents/StoreAsDatasource.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/reducers/uiReducers/datasourcePaneReducer.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/selectors/ui.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation

#18433 fix: Reduces cloning by not adding platform functions
  app/client/src/workers/Evaluation/JSObject/index.ts
Labels: Bug, Performance

#18581 chore: Update NavigateTo tests to verify params
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/NavigateTo_spec.ts
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog, New Developers Pod, IDE Navigation, skip-testPlan

#18615 fix: If the user has delete permission on the workspace, allow the user to delete the workspace and also delete the default roles (without permission)
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
Labels: Bug, Test Plan Approved

#18629 fix: Add user permission in the response for update datasource api
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
Labels: Team Managers Pod, Test Plan Approved, RBAC

#18609 fix: update permission driven ctas to handle auto save update changes
  app/client/src/pages/Editor/DataSourceEditor/SaveOrDiscardDatasourceModal.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
Labels: Bug, Needs Triaging, Team Managers Pod, RBAC

#18361 chore: perf data tree shrink
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/entities/DataTree/dataTreeAction.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/entities/DataTree/dataTreeJSAction.ts
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/entities/DataTree/types.ts
  app/client/src/entities/DataTree/utils.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/LintingSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/sagas/selectors.tsx
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/WidgetLoadingStateUtils.test.ts
  app/client/src/utils/autocomplete/dataTreeTypeDefCreator.test.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/workers/Evaluation/JSObject/utils.ts
  app/client/src/workers/Evaluation/__tests__/dataTreeUtils.test.ts
  app/client/src/workers/Evaluation/__tests__/evaluate.test.ts
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/Evaluation/__tests__/evaluationUtils.test.ts
  app/client/src/workers/Evaluation/dataTreeUtils.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/evaluation.worker.ts
  app/client/src/workers/Evaluation/evaluationUtils.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/Linting/types.ts
  app/client/src/workers/Linting/utils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/mockData/mockUnEvalTree.ts
  app/client/src/workers/common/DataTreeEvaluator/validationUtils.ts
Labels: Performance, High, Task, skip-changelog, FE Coders Pod, Evaluated Value, Test Plan Approved

#18397 fix: datasource switching issue for Google sheets
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/reducers/evaluationReducers/triggerReducer.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/selectors/formSelectors.ts
Labels: Bug, High, Needs Triaging, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#18378 fix: center align select and RTE labels.
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.styled.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
  app/client/src/widgets/SelectWidget/component/index.styled.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
Labels: Bug, Select Widget, App Viewers Pod, UI Builders Pod

#18554 feat: Adding an upgrade page for Access control
  app/client/src/assets/svg/upgrade/access-control/prevent-accidental-damage.png
  app/client/src/assets/svg/upgrade/access-control/restrict-public-exposure.png
  app/client/src/assets/svg/upgrade/access-control/secure-apps-least-privilege.png
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/ce/pages/Upgrade/AccessControlUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/Carousel.tsx
  app/client/src/ce/pages/Upgrade/Header.tsx
  app/client/src/ce/pages/Upgrade/UpgradePage.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
Labels: Enhancement, Task, Team Managers Pod, RBAC

#18645 fix: datasource title not editable and ctas disabled on create
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
Labels: Bug, Needs Triaging

#18528 chore: dependentbot vulnerabilities.
  app/client/package.json
  app/client/yarn.lock
Labels: Dependencies, UI Builders Pod, Task, skip-changelog, Frontend Libraries Upgrade

#18203 fix: Added support for country code flags on windows devices
  app/client/package.json
  app/client/src/AppRouter.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/widgets/CurrencyInputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/PhoneInputWidget/component/ISDCodeDropdown.tsx
  app/client/yarn.lock
Labels: Bug, Property Pane, App Viewers Pod, Needs Triaging, UI Builders Pod, Phone Input Widget

#18657 fix: Updating spec for member roles
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/MemberRoles_Spec.ts
Labels: Bug

#17616 feat: [Context Switching] Maintain datasource collapse state
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/dataSourceCommands.js
  app/client/src/actions/datasourceActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/pages/Editor/DataSourceEditor/Collapsible.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/reducers/uiReducers/datasourcePaneReducer.ts
  app/client/src/selectors/ui.tsx
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Enhancement, Task, New Developers Pod, IDE Navigation

#18662 chore: Remove debugging logs for analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
Labels: skip-changelog

#18451 chore: Support using custom port(s) for listening in the start-https.sh script
  app/client/start-https.sh
Labels: skip-changelog, skip-docs

#18566 feat: Adding Embedding Apps Functionality
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
Labels: New Developers Pod, Embedding Apps

#18684 chore: fix ingress fieldname in appsmith
  deploy/helm/templates/ingress.yaml
Labels: skip-changelog

#18691 fix: Auto height breaks for fixed modal's children
  app/client/src/reducers/entityReducers/autoHeightReducers/autoHeightLayoutTreeReducer.ts
  app/client/src/sagas/autoHeightSagas/helpers.ts
  app/client/src/sagas/autoHeightSagas/widgets.ts
Labels: Bug, Modal Widget, QA, High, UI Builders Pod, Auto Height

#18690 fix: datasource autosave git issue fixed
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitDatasourceChange/CreateBranch_DiscardDatasource_spec.js
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
Labels: Bug, Datasources, Critical, Needs Triaging, Release Blocker, BE Coders Pod, Test Plan Approved, Integrations Pod

#18692 chore: Improved metadata on logs when reading DSL fails
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
Labels: skip-changelog

#18108 fix: Fix NPE on reset password, and message formats
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
Labels: Bug, Stale, skip-docs

#18702 ci: Update perf infra dashboard link inside github workflows yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/perf-tests-command.yml
Labels: skip-changelog, CI

#18675 test: Add dummy users in Cypress test suite
  .github/workflows/integration-tests-command.yml
  .github/workflows/perf-test.yml
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/support/index.js
Labels: skip-changelog, Test

#18693 chore: Fix dropdown font family
  app/client/package.json
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/widgets/CurrencyInputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/PhoneInputWidget/component/ISDCodeDropdown.tsx
  app/client/yarn.lock
Labels: Bug, Property Pane, High, Release, Needs Triaging, UI Builders Pod, skip-changelog, Release Blocker

#17740 chore: use link from ds
  README.md
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitDatasourceChange/CreateBranch_DiscardDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/MemberRoles_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/dataSourceCommands.js
  app/client/package.json
  app/client/src/AppRouter.tsx
  app/client/src/actions/datasourceActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/ce/pages/UserAuth/SignUp.tsx
  app/client/src/ce/pages/UserAuth/ThirdPartyAuth.tsx
  app/client/src/components/editorComponents/Debugger/DebugCTA.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/SearchBox.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/typography.ts
  app/client/src/index.css
  app/client/src/navigation/FocusElements.ts
  app/client/src/pages/Applications/ForkModalStyles.ts
  app/client/src/pages/Applications/ProductUpdatesModal/UpdatesButton.tsx
  app/client/src/pages/Editor/DataSourceEditor/Collapsible.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GuidedTour/EndTour.tsx
  app/client/src/pages/Editor/GuidedTour/Guide.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/components/BetaTag.tsx
  app/client/src/pages/UserAuth/FooterLinks.tsx
  app/client/src/pages/UserAuth/ForgotPassword.tsx
  app/client/src/pages/UserAuth/ResetPassword.tsx
  app/client/src/pages/UserAuth/StyledComponents.tsx
  app/client/src/pages/UserAuth/index.tsx
  app/client/src/reducers/entityReducers/autoHeightReducers/autoHeightLayoutTreeReducer.ts
  app/client/src/reducers/uiReducers/datasourcePaneReducer.ts
  app/client/src/sagas/autoHeightSagas/helpers.ts
  app/client/src/sagas/autoHeightSagas/widgets.ts
  app/client/src/selectors/ui.tsx
  app/client/src/widgets/CurrencyInputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/PhoneInputWidget/component/ISDCodeDropdown.tsx
  app/client/start-https.sh
  app/client/yarn.lock
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  deploy/helm/templates/ingress.yaml
Labels: Design System Pod, skip-changelog

#18535 chore: update dependencies list
  app/client/yarn.lock
Labels: Design System Pod, Task, skip-changelog

#18718 fix: Remove redundant share CTA from org menu
  app/client/src/pages/Applications/index.tsx
Labels: Bug, Home Page, Task, Team Managers Pod

#18722 chore: Fetch pages in editor with READ permissions
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Needs Triaging, skip-changelog, Deploy Preview, Team Managers Pod, RBAC

#18135 test: Added test for bug fixed
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug16702_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Tab/Tab_OnEvent_Navigation_spec.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, Stale, Test

#18524 fix: add js for icon property in button group
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
Labels: Bug, Good First Issue, Property Pane, hacktoberfest, QA, App Viewers Pod, Button Widget, UI Builders Pod, Menu Button Widget, Papercut, Widget Property, Button Group widget, Test Plan Approved

#18262 fix: table widget header links should have pointer cursor when hovered
  app/client/src/widgets/TableWidgetV2/component/header/actions/ActionItem.tsx
Labels: Bug, App Viewers Pod, Low, Release, regression, Needs Triaging, Table Widget V2

#18348 fix: show filter & show download should not control add new row link visibility in table widget
  app/client/src/widgets/TableWidgetV2/component/header/actions/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, High, Production, Needs Triaging

#18642 fix: workspace context menu is not permission driven
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Auto_Height_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_CanvasHeight_resize_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Container_Scroll_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Container_collapse_undo_redoSpec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_List_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Tab_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Others/StatBox_DragAndDrop_spec.js
  app/client/src/ce/utils/permissionHelpers.tsx
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/ee/utils/permissionHelpers.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/EditorAppName/NavigationMenuData.ts
  app/client/src/pages/workspace/settings.tsx
Labels: Bug, Needs Triaging, Deploy Preview, Team Managers Pod, RBAC

#18741 ci: Improve the test file check workflow
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-test-file-check.yml
Labels: skip-changelog, CI, skip-testPlan

#18285 fix: Aggregate calls to add and remove Appsmith errors
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Button/ButtonLintErrorValidation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/ListWidgetLintErrorValidation.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Text/TextWidget_LintErrorValidation_spec.js
  app/client/src/actions/debuggerActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/reducers/uiReducers/debuggerReducer.ts
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionExecution/errorUtils.ts
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/sagas/PostLintingSagas.ts
  app/client/src/utils/AppsmithConsole.ts
Labels: Bug, Frontend, Performance, Debugger, Needs Triaging, Task, FE Coders Pod, medium

#18048 feat: update property name automatically when custom column name is changed
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_spec.js
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/index.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.test.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.ts
Labels: Enhancement, App Viewers Pod, medium, Test Plan Approved, Table Widget V2

#18335 feat: update button states
  app/client/package.json
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/propertyControls/ButtonControl.tsx
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/components/propertyControls/ChartDataControl.tsx
  app/client/src/components/propertyControls/ColumnActionSelectorControl.tsx
  app/client/src/components/propertyControls/FieldConfigurationControl.tsx
  app/client/src/components/propertyControls/KeyValueComponent.tsx
  app/client/src/components/propertyControls/MenuItemsControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControlV2.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/components/propertyControls/TabControl.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/ForkApplicationModal.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/APIEditor/Pagination.tsx
  app/client/src/pages/Editor/BottomBar/ManualUpgrades.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/IntegrationEditor/UnsupportedPluginDialog.tsx
  app/client/src/pages/Editor/PropertyPane/ConnectDataCTA.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/RequestConfirmationModal.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/ThemePropertyPane/DeleteThemeModal.tsx
  app/client/src/pages/Editor/ThemePropertyPane/SaveThemeModal.tsx
  app/client/src/pages/Editor/ThemePropertyPane/ThemeBetaCard.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.tsx
  app/client/src/pages/Editor/gitSync/components/DefaultTag.tsx
  app/client/src/pages/Settings/FormGroup/Button.tsx
  app/client/src/pages/Settings/FormGroup/Checkbox.tsx
  app/client/src/pages/Settings/SaveSettings.tsx
  app/client/src/pages/Templates/ForkTemplate.tsx
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/workspace/DeleteConfirmationModal.tsx
  app/client/yarn.lock
Labels: Enhancement, Design System Pod, Task

#18405 chore: rename_triggerUtils
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/RestAPIActivateUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/BaseRestApiPluginExecutor.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
Labels: Good First Issue, Backend, Low, Task, skip-changelog, Refactor, BE Coders Pod, GraphQL Plugin, REST API plugin, Tech Debt, Integrations Pod

#18126 fix: resetting audio and video widget
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Audio/audio_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Others/Video_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/widgetCommands.js
  app/client/src/widgets/AudioWidget/component/index.tsx
  app/client/src/widgets/AudioWidget/widget/index.tsx
  app/client/src/widgets/VideoWidget/component/index.tsx
  app/client/src/widgets/VideoWidget/widget/index.tsx
Labels: Bug, Good First Issue, UI Improvement, hacktoberfest, App Viewers Pod, High, Production, Video Widget, Widget Validation, Audio Widget, Widget Property

#18727 fix: fork template tracking
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
Labels: Bug, Backend, Task, New Developers Pod, Templates

#18749 fix: fetching the plugin form config for queries if datasource is not viewable
  app/client/src/components/editorComponents/Button.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/sagas/PluginSagas.ts
Labels: Bug, Deploy Preview, Team Managers Pod, RBAC

#18735 refactor: Updating upgrade flows to start using upgrade hook for better code reusability
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/ce/pages/Upgrade/AccessControlUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
  app/client/src/ce/utils/permissionHelpers.tsx
  app/client/src/ee/utils/permissionHelpers.tsx
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Task, Team Managers Pod, SSO

#18326 feat: Command click navigation via code
  app/client/cypress/fixtures/ContextSwitching.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Modal_spec.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/actions/focusHistoryActions.ts
  app/client/src/components/editorComponents/CodeEditor/EditorConfig.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/markHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/src/pages/Editor/Explorer/Widgets/useNavigateToWidget.ts
  app/client/src/pages/Editor/MainContainer.tsx
  app/client/src/sagas/ModalSagas.ts
  app/client/src/sagas/NavigationSagas.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/selectors/navigationSelectors.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/history.ts
Labels: Bug, Enhancement, UX Improvement, Critical, Production, Needs Triaging, Task, FE Coders Pod, New Developers Pod, medium, IDE Navigation, Code Editor

#18783 fix: Corrected action execution analytics event
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
Labels: Bug, Test Plan Approved

#18242 fix: gs quick wizard table header index
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GoogleSheetForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/MethodConfig.java
Labels: Bug, Needs Triaging, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#18769 test: Automated tests for Bug18376 + few flaky fixes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug16248_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/GitBugs.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitDatasourceChange/CreateBranch_DiscardDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/APIOnLoad_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/locators/gitSyncLocators.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/gitSync.js
Labels: skip-changelog, Test Plan Approved, Test

#18784 chore: update smartlook client
  app/client/package.json
  app/client/src/pages/common/CanvasArenas/StickyCanvasArena.tsx
  app/client/yarn.lock
Labels: Task, skip-changelog, Test Plan Approved

#18229 feat: Add Series Colour property for default charts
  app/client/src/components/propertyControls/ChartDataControl.tsx
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
  app/client/src/widgets/ChartWidget/component/index.tsx
  app/client/src/widgets/ChartWidget/constants.ts
Labels: Enhancement, Chart Widget, App Viewers Pod, medium, Test Plan Approved

#18434 chore: Add multipart payload support for admin settings
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/InstanceAdminControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AssetServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AssetServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
Labels: skip-changelog

#18761 fix: datasource discard popup issue fixed
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug18664_spec.ts
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug, Datasources, Needs Triaging, Postgres, Test Plan Approved, Integrations Pod

#18742 fix: hide workspace menu options trigger when there are no permissions
  app/client/src/pages/Applications/index.tsx
Labels: Bug, Needs Triaging, Team Managers Pod, RBAC

#18552 fix: gsheet multiline broken formatting fixed
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/DataTypeStringUtilsTest.java
Labels: Bug, High, Needs Triaging, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#18430 fix: Filtering out empty value env variables from /admin/env API response in backend
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/InstanceAdminControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
Labels: Bug, Test Plan Approved

#18559 fix: query command value from being reset to an empty state
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Bug, High, Needs Triaging, Query Forms, BE Coders Pod, Test Plan Approved, Integrations Pod

#18603 test: fix flaky tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/Fork_Template_To_App_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#18835 fix: Fix logos in email templates
  app/server/appsmith-server/src/main/resources/email/forgotPasswordTemplate.html
  app/server/appsmith-server/src/main/resources/email/inviteUserTemplate.html
  app/server/appsmith-server/src/main/resources/email/welcomeUserTemplate.html
Labels: Bug, skip-docs, skip-testPlan

#18830 chore: splitting the role name to avoid showing workspace name next to it
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/ExportApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/DeleteWorkspace_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/LeaveWorkspaceTest_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/MemberRoles_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/ShareAppTests_spec.js
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Upgrade/AccessControlUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
Labels: Task, skip-changelog, Team Managers Pod, RBAC

#18738 chore: audit logs analytics
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: skip-changelog

#18828 Fix: Context switching UX issues
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/Canvas_Context_Bug_Fixes.js
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/src/pages/Editor/PropertyPane/Generator.tsx
  app/client/src/pages/Editor/PropertyPane/PanelPropertiesEditor.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/sagas/NavigationSagas.ts
Labels: Task, New Developers Pod, IDE Navigation

#18846 chore: Synchronize Page,Action and ActionCollection object from original corresponding object
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: skip-changelog, Import-Export-App, Team Managers Pod

#18845 fix: Left panel not scrollable on Admin settings page when the list is too long
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/index.tsx
  app/client/src/pages/common/PageWrapper.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
Labels: Bug, Needs Triaging, Super Admin, DevOps Pod, medium

#18750 fix: modal deselect issue auto height
  app/client/src/widgets/BaseWidget.tsx
Labels: Bug, Modal Widget, App Viewers Pod, regression, Needs Triaging, UI Builders Pod, medium, Auto Height

#18676 chore: add analytics for page creation ctas
  app/client/src/pages/Editor/Explorer/Pages/AddPageContextMenu.tsx
  app/client/src/pages/Editor/WidgetsEditor/EmptyCanvasSection.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Task, skip-changelog, New Developers Pod, Templates

#18715 refactor: JSONForm eliminate the use of canvasWidgets and remove childStylesheet from dynamicBindingPathList
  app/client/src/components/propertyControls/FieldConfigurationControl.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/ThemingMigration.test.ts
  app/client/src/utils/migrations/ThemingMigrations.ts
  app/client/src/widgets/JSONFormWidget/schemaParser.test.ts
  app/client/src/widgets/JSONFormWidget/schemaParser.ts
  app/client/src/widgets/JSONFormWidget/schemaTestData.ts
  app/client/src/widgets/JSONFormWidget/widget/helper.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
Labels: App Viewers Pod, Low, List Widget, JSON Form

#18739 fix: update settings pane validations
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/ClearStore_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitWithTheming/GitWithTheming_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/SettingsPane/GeneralSettings_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/SettingsPane/PageSettings_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/ThemeReset_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_Default_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_FormWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_MultiSelectWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_Widget_Reskinning_spec.js
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/AppSettings/AppSettings.ts
  app/client/cypress/support/Pages/AppSettings/GeneralSettings.ts
  app/client/cypress/support/Pages/AppSettings/PageSettings.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/entities/URLRedirect/URLAssembly.ts
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/GeneralSettings.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/PageSettings.tsx
  app/client/src/pages/Editor/AppSettingsPane/Utils.ts
  app/client/src/pages/Editor/CanvasPropertyPane/index.tsx
  app/client/src/pages/Editor/EditorAppName/NavigationMenuData.ts
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/utils/validation/CheckRegex.ts
Labels: Bug, High, Needs Triaging, New Developers Pod, Clean URLs, medium

#18517 fix: Refactor entities based on AST parsing logic
  app/rts/package.json
  app/rts/src/server.ts
  app/rts/src/test/server.test.ts
  app/rts/yarn.lock
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/MustacheHelper.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/MustacheBindingToken.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/SmartSubstitutionInterface.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/MustacheHelperTest.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/DslUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/RefactoringSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/RefactoringSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/RefactoringSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/DslUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCEImplTest.java
  app/shared/ast/src/index.ts
Labels: Bug, Backend, High, Epic, Task, FE Coders Pod, BE Coders Pod, AST, Entity Refactor, Data Platform Pod

#18128 feat: [APPSMTH-22] Execute action on widget focus and blur
  app/client/cypress/fixtures/selectMultiSelectTreeSelectWidgetDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Datepicker/DatePickerV2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Datepicker/DatePicker_With_Switch_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Dropdown/Dropdown_onOptionChange_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Input/Input_OnFocus_OnBlur_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Select/Select_TreeSelect_MultiSelect_OnFocus_OnBlur_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/cypress/locators/Widgets.json
  app/client/cypress/support/widgetCommands.js
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
  app/client/src/widgets/SelectWidget/component/SelectButton.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/useDropdown.tsx
Labels: Enhancement, Rich Text Editor Widget, Input Widget, Select Widget, Date Picker Widget, App Viewers Pod, High, community, MultiSelect Widget, MultiTree Select Widget, TreeSelect, Needs PRD, Currency Input Widget, Phone Input Widget, Table Widget V2

#18875 chore: update import to fix compilation issue
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/PageSettings.tsx
Labels: Bug

#18882 Fix potential race condition in sending email
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-docs, skip-testPlan

#18874 fix: Updating the logic for getting tenant permissions to show new workspace button
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/ce/utils/permissionHelpers.tsx
  app/client/src/pages/Applications/index.tsx
Labels: Bug, regression, Needs Triaging, Team Managers Pod, Release Blocker, Test Plan Approved, RBAC

#18884 chore: Fix more potential race condition in sending emails
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserAndAccessManagementServiceCEImpl.java
Labels: Bug, skip-docs, skip-testPlan

#18873 ci: Add replicate set to the mongodb url for transaction PR
  .github/workflows/integration-tests-command.yml
  .github/workflows/perf-test.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, skip-testPlan

#18890 ci: revert Add replicate set to the mongodb url for transaction PR
  .github/workflows/integration-tests-command.yml
  .github/workflows/perf-test.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI, skip-testPlan

#18617 docs: Added a title to GlobalFunctions.md
  contributions/docs/GlobalFunctions.md
Labels: skip-changelog, skip-testPlan

#18915 ci: Add three more runners for the fat container tests
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#17886 fix: Execute api pagination fix
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug, Backend, High, BE Coders Pod, REST API plugin, Up for grabs, Test Plan Approved, Integrations Pod

#18865 fix: publishing an app removes page permissions
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/PageSagas.tsx
Labels: Bug, Needs Triaging, Deploy Preview, Team Managers Pod, RBAC

#18863 fix: datasource active tab options menu is not permission driven
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
Labels: Bug, High, Needs Triaging, Deploy Preview, Team Managers Pod, Test Plan Approved, RBAC

#18918 ci: Fix perf test failure due to a wrong step added earlier
  .github/workflows/perf-test.yml
Labels: Performance, Task, skip-changelog, CI

#18917 test: Migration to FatContainer (new .yml faile)
  .github/workflows/fat-migration.yml
Labels: skip-changelog, Test

#18913 fix: Modal opening or closing type error
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Bug, Modal Widget, skip-testPlan

#18428 fix: treat empty valued env variables as false | FE
  app/client/src/ce/sagas/SuperUserSagas.tsx
Labels: Bug, Task, Team Managers Pod

#18176 fix: Login password length upper limit changed from 48 to 256 characters
  app/client/src/ce/constants/messages.ts
  app/client/src/utils/formhelpers.ts
Labels: Bug, Login / Signup, High, Needs Triaging, Stale, Team Managers Pod

#18881 fix: Error handling for undefined datasource in API Authentication
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug18876_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/APIEditor/ApiAuthentication.tsx
  app/client/src/pages/Editor/DataSourceEditor/SaveOrDiscardDatasourceModal.tsx
Labels: Bug, Datasources, Critical, Production, Needs Triaging, BE Coders Pod, Test Plan Approved, Integrations Pod

#18926 ci: Fix perf tests failure
  .github/workflows/perf-test.yml
Labels: Performance, Task, skip-changelog

#18626 fix: removed old key_val_input, updated keyval_array, show ds info
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/DatasourceForm_spec.js
  app/client/src/components/formControls/KeyValueArrayControl.tsx
  app/client/src/components/formControls/KeyValueInputControl.tsx
  app/client/src/components/formControls/utils.ts
  app/client/src/pages/Editor/DataSourceEditor/Connected.tsx
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/SaaSEditor/__data__/FinalState.json
  app/client/src/pages/Editor/SaaSEditor/__data__/InitialState.json
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
  app/server/appsmith-plugins/graphqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/restApiPlugin/src/main/resources/form.json
Labels: Bug, Good First Issue, Needs Design, Low, Needs Triaging, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod

#18944 chore: use read permission to fetch pages in edit mode
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Bug, Needs Triaging, skip-changelog, Deploy Preview, Team Managers Pod, RBAC

#18888 fix: show more modal of a truncated text widget is flickering
  app/client/cypress/manual_TestSuite/Modal_Spec.js
  app/client/src/components/designSystems/appsmith/ModalComponent.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/index.css
Labels: Bug, App Viewers Pod, High, Text Widget, Needs Triaging

#18762 chore: decomposing action execution flow methods into smaller methods
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceCEImplTest.java
Labels: Core Query Execution, Task, skip-changelog, Test Plan Approved, Data Platform Pod

#18705 chore: use updated table widget in onboarding
  app/client/src/pages/Editor/GuidedTour/app.json
Labels: High, Needs Triaging, Onboarding, skip-changelog, New Developers Pod

#18895 chore: Updating UI for the left panel on Admin settings page by adding separators
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/ce/pages/Upgrade/Carousel.tsx
  app/client/src/ce/pages/Upgrade/Header.tsx
  app/client/src/pages/Settings/components.tsx
Labels: Task, skip-changelog, Team Managers Pod, RBAC

#18956 chore: Adding variable to track admin settings visibility in user profile
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserProfileDTO.java
Labels: skip-changelog

#18955 ci: Make perf tests a blocking check
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI, Test Plan Approved

#18946 fix: Updating page permissions in view mode to solve error message for updating the page
  app/client/src/actions/appSettingsPaneActions.ts
  app/client/src/components/designSystems/appsmith/header/DeployLinkButton.tsx
  app/client/src/components/editorComponents/form/ToggleComponentToJson.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/DraggablePageList.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/GeneralSettings.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/PageSettings.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
  app/client/src/pages/Editor/AppSettingsPane/PaneHeader.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneSearchInput.tsx
  app/client/src/pages/Settings/WithSuperUserHoc.tsx
  app/client/src/reducers/uiReducers/appSettingsPaneReducer.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/selectors/appSettingsPaneSelectors.tsx
  app/client/src/utils/WidgetFeatures.ts
  app/client/src/utils/hooks/autoHeightUIHooks.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: Bug, Needs Triaging, Deploy Preview, Team Managers Pod, RBAC

#18930 fix: hide workspace menu when user has delete permission but there are applications in workspace
  app/client/src/pages/Applications/index.tsx
Labels: Bug, Needs Triaging, Deploy Preview, Team Managers Pod, medium, Test Plan Approved, RBAC

#18953 fix: modal widget close on new widget drop
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/selectors/entitiesSelector.ts
Labels: Bug, Modal Widget, App Viewers Pod, Needs Triaging, UI Builders Pod

#18781 chore: Navigation analytics
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/src/AppRouter.tsx
  app/client/src/actions/focusHistoryActions.ts
  app/client/src/actions/globalSearchActions.ts
  app/client/src/actions/recentEntityActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/index.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/Debugger/hooks/debuggerHooks.ts
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/useRecentEntities.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/index.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/src/pages/Editor/Explorer/Widgets/useNavigateToWidget.ts
  app/client/src/pages/Editor/Explorer/Widgets/utils.ts
  app/client/src/pages/Editor/PropertyPane/DraggableListControl.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/pages/common/AppRoute.tsx
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/GlobalSearchSagas.ts
  app/client/src/sagas/NavigationSagas.ts
  app/client/src/sagas/RecentEntitiesSagas.ts
  app/client/src/sagas/ThemeSaga.tsx
  app/client/src/selectors/editorContextSelectors.ts
  app/client/src/selectors/navigationSelectors.ts
  app/client/src/utils/history.ts
  app/client/src/utils/storage.ts
Labels: Bug, High, Omnibar, Task, skip-changelog, New Developers Pod, IDE Navigation, skip-testPlan

#18943 fix: replace Appsmith's mock server endpoint with MockWebServer
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug, Test Plan Approved

#18961 chore: Adding adminSettingsVisible variable in User type
  app/client/src/constants/userConstants.ts
Labels: skip-changelog

#18909 chore: updated supertest package.
  app/rts/package.json
  app/rts/yarn.lock
Labels: Dependencies, skip-changelog

#18809 feat: reset meta widgets
  app/client/src/actions/metaActions.ts
  app/client/src/reducers/entityReducers/metaReducer/index.ts
  app/client/src/reducers/entityReducers/metaReducer/metaReducerUtils.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Enhancement, App Viewers Pod, List Widget V2

#18964 fix: App deleted when the user creates branch in few scenarios
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
Labels: Bug, skip-testPlan

#18950 chore: method signature changed for getCachedDatasourceForActtionExecution
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Core Query Execution, Task, skip-changelog, Test Plan Approved, Data Platform Pod

#18872 chore: Update Logo/Favicon url + remove EE cypress code for Branding + Update screenshots tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/AppPageLayout_spec.js
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/Branding/Branding_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/AppPageLayout_spec.js/apppage.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/AppPageLayout_spec.js/emptyAppBuilder.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/AppPageLayout_spec.js/loginpage.snap.png
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/ce/selectors/tenantSelectors.tsx
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
  app/client/src/pages/UserAuth/Container.tsx
  app/client/src/pages/UserAuth/index.tsx
Labels: App Viewers Pod, skip-changelog

#18965 chore: Updating the version of the design system dependency
  app/client/package.json
  app/client/yarn.lock
Labels: Task, skip-changelog, Team Managers Pod, RBAC

#18858 chore: Property pane search input focus
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/PropertyPane/PropertyPane_Search_spec.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/pages/Editor/PropertyPane/PropertyPaneSearchInput.tsx
Labels: Property Pane, UI Builders Pod, Task, skip-changelog

#18240 feat: [Context Switching] maintain focus of form control fields
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/Canvas_Context_Property_Pane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/actions/editorContextActions.ts
  app/client/src/actions/propertyPaneActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/pages/Editor/APIEditor/Pagination.tsx
  app/client/src/pages/Editor/APIEditor/RapidApiEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/RestAPIForm.tsx
  app/client/src/pages/Editor/FormConfig.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/reducers/uiReducers/editorContextReducer.ts
  app/client/src/reducers/uiReducers/propertyPaneReducer.tsx
  app/client/src/sagas/editorContextSagas.ts
  app/client/src/selectors/editorContextSelectors.ts
  app/client/src/selectors/propertyPaneSelectors.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation

#18977 fix: [GAC] editing js objects should use read permission for creating actions
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ItemServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesWorkspaceClonerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesWorkspaceClonerTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCETest.java
Labels: Bug, High, Needs Triaging, Deploy Preview, Team Managers Pod, RBAC

#18981 chore: Refactor sign up flow to support create workspace to be permission driven
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/MockDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCETest.java
Labels: skip-changelog, Team Managers Pod, Test Plan Approved, RBAC

#18180 feat: Provide currentRow access in the table widget select column typ…
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/columnTypes/select_spec.js
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/components/propertyControls/TableComputeValue.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/TableWidget.test.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Select.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.test.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.test.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Bug, Enhancement, App Viewers Pod, Needs Triaging, Table Widget V2

#18968 test: add common test methods for RBAC
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/locators/HomePage.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/dataSourceCommands.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#18951 fix: Button Group Menu Item Label Misaligned
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Low, Production, Needs Triaging, Button Group widget

#18737 fix: Add error message for protected branch
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/components/PushFailedWarning.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, Needs Triaging, Git Version Control, Team Managers Pod, medium

#18649 chore: Remove evalError & values from dataTree
  app/client/src/workers/Evaluation/__tests__/evaluationUtils.test.ts
  app/client/src/workers/Evaluation/dataTreeUtils.ts
  app/client/src/workers/Evaluation/evaluation.worker.ts
  app/client/src/workers/Evaluation/evaluationUtils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/validationUtils.ts
Labels: Performance, QA, Task, skip-changelog, FE Coders Pod, Evaluated Value, Test Plan Approved

#18971 fix: updating the redirection of admin settings to fix failing tests
  app/client/src/AppRouter.tsx
  app/client/src/ce/pages/AdminSettings/WithSuperUserHoc.tsx
  app/client/src/ce/pages/AdminSettings/index.tsx
  app/client/src/ee/pages/AdminSettings/WithSuperUserHoc.tsx
Labels: Bug, Needs Triaging, Deploy Preview, Team Managers Pod, medium, RBAC

#19009 fix: set soft focus for property pane inputs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/Canvas_Context_Property_Pane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/src/actions/propertyPaneActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/reducers/uiReducers/propertyPaneReducer.tsx
  app/client/src/sagas/editorContextSagas.ts
  app/client/src/selectors/propertyPaneSelectors.tsx
Labels: Bug, IDE, New Developers Pod

#19007 chore: [GAC] Using correct permissions to fetch the application object using view mode
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
Labels: Needs Triaging, skip-changelog, Deploy Preview, Team Managers Pod, Test Plan Approved, RBAC

#18755 fix: Remove auto-height from list widget's children
  app/client/cypress/fixtures/Bugs/CheckboxGroupInListWidgetDsl.json
  app/client/cypress/fixtures/dynamicHeightListDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_List_spec.js
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControlsGenerator.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/pages/Editor/PropertyPane/helpers.ts
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/sagas/WidgetBlueprintSagas.test.ts
  app/client/src/sagas/WidgetBlueprintSagas.ts
  app/client/src/sagas/WidgetEnhancementHelpers.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/selectors/widgetEnhancementSelectors.ts
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/DSLMigrationsUtils.test.ts
  app/client/src/utils/WidgetFeatures.ts
  app/client/src/utils/migrations/autoHeightMigrations.ts
  app/client/src/widgets/ListWidget/index.ts
Labels: Bug, App Viewers Pod, UI Builders Pod, Task, List Widget, Auto Height

#18619 chore: Update github actions to remove deprecation warnings
  .github/workflows/appsmithctl.yml
  .github/workflows/client-build.yml
  .github/workflows/github-release.yml
  .github/workflows/helm-release.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/packer-ami-build.yml
  .github/workflows/perf-test.yml
  .github/workflows/rts-build.yml
  .github/workflows/server-build.yml
  .github/workflows/shared-modules.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, skip-testPlan

#19029 chore: restrict when /usage-pulse can be fired
  app/client/public/logger.js
Labels: Task, skip-changelog, Team Managers Pod

#18773 feat: Dockerfile mongodb 4.4 to 5.0.14 upgrade
  Dockerfile
Labels: Enhancement, DevOps Pod

#19031 chore: Fix inconsistency in behaviour when re-marking public
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
Labels: skip-changelog, skip-docs, skip-testPlan

#18905 fix: All property control renders when JS toggle button is clicked
  app/client/jest.config.js
  app/client/package.json
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/components/editorComponents/ActionCreator/types.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/selectors.tsx
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.ts
  app/client/src/workers/Evaluation/evaluationUtils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/validationUtils.ts
  app/client/src/workers/common/DependencyMap/index.ts
  app/client/yarn.lock
Labels: Bug, Performance, Property Pane, High, UI Builders Pod, Task, UI Performance

#18450 ci: Comment failing tests to PR
  .github/workflows/CypressAddKnownfailedtests.yml
  .github/workflows/integration-tests-command.yml
  app/client/cypress/xataadd.sh
  app/client/cypress/xatadel.sh
Labels: skip-changelog, Stale, CI

#18449 chore: CE EE split of routes for manage env pages
  app/client/src/ce/pages/routes.tsx
  app/client/src/ee/pages/routes.tsx
  app/client/src/pages/Editor/routes.tsx
Labels: Frontend, skip-changelog, Stale, BE Coders Pod, Test Plan Approved, Data Platform Pod, Datasource Environments

#19041 chore: Addressing changes requested by the design team during design QA
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: Task, skip-changelog, Team Managers Pod, RBAC

#19065 ci: fix PR number in adding failed tests
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#19066 ci: Migrate runners from buildjet to github
  .github/workflows/client-build.yml
  .github/workflows/github-release.yml
  .github/workflows/perf-test.yml
  .github/workflows/server-build.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#19022 fix:copy paste issues in list widget v2
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Copy_Paste_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/reducers/entityReducers/metaWidgetsReducer.ts
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/widgets/ListWidgetV2/index.ts
Labels: Bug, App Viewers Pod, Production, Needs Triaging, UI Builders Pod, List Widget, Copy Paste, medium

#18785 fix: google sheet ui issues, removed redundant code
  app/client/cypress/integration/Smoke_TestSuite/Application/ReconnectDatasource_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/CloseEditor.tsx
  app/client/src/pages/Editor/DataSourceEditor/Collapsible.tsx
  app/client/src/pages/Editor/DataSourceEditor/Connected.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/common/datasourceAuth/AuthMessage.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/utils/editorContextUtils.ts
Labels: Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#19091 ci: flaky test validCloneApplicationWhenCancelledMidWay
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
Labels: skip-changelog, CI

#18824 test: Updated test for list widget
  app/client/cypress/fixtures/DynamicHeightListTextDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/ButtonGroup_binding_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_List_TextWidget_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_MultiRowSelect_spec.js
Labels: UI Builders Pod, List Widget, skip-changelog, Auto Height, Test

#19084 ci: Ci fix run result due to deprecated
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#18764 feat: [APPSMTH-29] make step up/down arrows in input Number and Currency widgets optional
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/CurrencyInput/CurrencyInput_ShowStepArrows_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Input/Inputv2_ShowStepArrows_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/CurrencyInputWidgetMigrations.test.ts
  app/client/src/utils/migrations/CurrencyInputWidgetMigrations.ts
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/BaseInputWidget/constants.ts
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
  app/client/src/widgets/CurrencyInputWidget/component/index.tsx
  app/client/src/widgets/CurrencyInputWidget/index.ts
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/component/index.tsx
  app/client/src/widgets/InputWidgetV2/index.ts
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
Labels: Enhancement, Rich Text Editor Widget, Input Widget, Select Widget, Date Picker Widget, App Viewers Pod, High, community, MultiSelect Widget, MultiTree Select Widget, TreeSelect, Needs PRD, Currency Input Widget, Phone Input Widget, Table Widget V2

#18997 feat: Support for Import/Export without ACL
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImplV2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCEImplTest.java
Labels: Bug, Enhancement, Needs Triaging, Git Version Control, Deploy Preview, Team Managers Pod, RBAC

#19120 fix: Updating UI for icons and import modal content height
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
Labels: Bug, Release, Needs Triaging, Import-Export-App, Team Managers Pod, medium

#18844 chore: Upgraded Spring Boot and Spring to intermediate ver
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Appsmith.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog0.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog1.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/EncryptionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/pom.xml
Labels: Backend, Task, skip-changelog

#18719 fix: discard popup for gsheet updates
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug18035_Spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/DataSourceEditor/SaveOrDiscardDatasourceModal.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
Labels: Bug, Needs Triaging, Google Sheets, Test Plan Approved, Integrations Pod

#19001 fix: auto height limits one row difference
  app/client/src/components/autoHeightOverlay/AutoHeightOverlay.tsx
  app/client/src/components/autoHeightOverlay/AutoHeightOverlayWithStateContext.tsx
  app/client/src/components/autoHeightOverlay/hooks.ts
  app/client/src/components/autoHeightOverlay/index.tsx
  app/client/src/components/autoHeightOverlay/store.tsx
  app/client/src/widgets/BaseWidget.tsx
Labels: Bug, Enhancement, UI Builders Pod, Auto Height

#19140 ci: Do not run perf tests as a part of ok-to-test and make it non blocking
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#19113 fix: Updating error message and placeholders for cloud instance
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/MemberRoles_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/UpdateWorkspaceTests_spec.js
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/Editor/gitSync/components/DatasourceListItem.tsx
  app/client/src/pages/workspace/SettingsPageHeader.tsx
  app/client/src/pages/workspace/__tests__/settings.test.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: Bug, Release, Needs Triaging, Invite users, Team Managers Pod, medium, RBAC

#18988 test: Cypress tests for AST-based entity refactor(WIP)
  app/client/cypress/fixtures/Datatypes/RefactorDTdsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Auto_Height_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Modal_Widget_spec.js
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/Refactoring/Refactoring_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
Labels: Task, skip-changelog, BE Coders Pod, Test Plan Approved, Test, Entity Refactor, Data Platform Pod

#19142 chore: Splitting messages to support cloud messages
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/AppViewer/AppViewerHeader.tsx
  app/client/src/pages/AppViewer/PageMenu.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: Release, Needs Triaging, Invite users, skip-changelog, Team Managers Pod, medium, RBAC
