Repository appsmithorg/appsmith, pull requests merged in 2022-03, with the labels that each got.

#11481 fix: Handled NPE in home page API
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
Labels: Bug

#11436 chore: Fix extra space in email placehoder in signup page
  app/client/src/ce/constants/messages.ts
Labels: skip-changelog

#11495 fix: added allowDeselection in ads/dropdown
  app/client/src/components/ads/Dropdown.test.tsx
  app/client/src/components/ads/Dropdown.tsx
Labels: Bug

#11461 fix: handle main container height
  app/client/src/widgets/CanvasWidget.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#11376 fix: use sentence casing
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings.tsx
Labels: Bug

#11432 feat: Add API for delete branch for git connected application
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement

#11396 fix: separating property pane out of widgets editor to avoid triggering unwanted events on widget canvas
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/MapChart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetSelection/WidgetSelection_spec.js
  app/client/src/pages/Editor/MultiSelectPropertyPane/index.tsx
  app/client/src/pages/Editor/WidgetsEditor/PropertyPaneContainer.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
Labels: Bug, UI Builders Pod

#11391 fix: changed download flow for image control
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Image_spec.js
  app/client/src/widgets/ImageWidget/component/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#11511 fix: Modified toast message error from string to first error object in debugger log
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, BE Coders Pod

#9473 fix: Modified action execution endpoint
  app/client/src/api/ActionAPI.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/helpers/DataUtils.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/helpers/DataUtilsTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceImplTest.java
Labels: Bug, Dont merge, BE Coders Pod

#11435 fix: 9824 Google Sheet to filter empty condition ver.2
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Condition.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/services/FilterDataServiceTest.java
Labels: Bug, BE Coders Pod

#11389 feat: Add disconnect button on auth config pages and form login callout banner
  .env.example
  app/client/src/ce/configs/index.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/components/ads/TagInputComponent.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/ads/formFields/RedirectUrlForm.tsx
  app/client/src/components/ads/formFields/UneditableField.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/ee/utils/adminSettingsHelpers.ts
  app/client/src/pages/Settings/FormGroup/Accordion.tsx
  app/client/src/pages/Settings/FormGroup/Common.tsx
  app/client/src/pages/Settings/FormGroup/TagInputField.tsx
  app/client/src/pages/Settings/FormGroup/TextInput.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/pages/Settings/config/ConfigFactory.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/start-https.sh
  app/server/envs/dev.env.example
  app/server/envs/docker.env.example
  deploy/docker/templates/docker.env.sh
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
  deploy/helm/README.md
  deploy/helm/values.yaml
  deploy/heroku/default.conf.template
  deploy/k8s/scripts/appsmith-configmap.yaml.sh
  deploy/k8s/scripts/nginx-configmap.yaml
  deploy/template/docker.env.sh
  deploy/template/nginx_app.conf.sh
Labels: Enhancement

#11442 fix: Number type input should honour required property when value is an empty string
  app/client/src/widgets/InputWidgetV2/widget/derived.js
  app/client/src/widgets/InputWidgetV2/widget/derived.test.ts
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
Labels: Bug

#11362 feat: Add discard changes functionality for git
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-action-collection.json
Labels: Enhancement

#11523 test: Test fix grep spec case insesitive
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#11372 Feature: Remove curl call to download certbot config files for ssl
  deploy/docker/scripts/init_ssl_cert.sh
Labels: Stale

#11578 chore: Changed test class reference to CE
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceCEImplTest.java
Labels: skip-changelog

#11341 fix: removing unnecessary paths to evaluate
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug

#11245 test: bugAutomation4136
  app/client/cypress/fixtures/defaultTableDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_tableApi_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Default_Row_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidgetTableAndBind_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#10964 feat: Application templates
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/Fork_Template_spec.js
  app/client/cypress/locators/TemplatesLocators.json
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
  app/client/package.json
  app/client/src/AppRouter.tsx
  app/client/src/actions/pluginActions.ts
  app/client/src/actions/templateActions.ts
  app/client/src/api/PluginApi.ts
  app/client/src/api/TemplatesApi.ts
  app/client/src/assets/icons/ads/fork-2.svg
  app/client/src/assets/images/request-template.svg
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/Text.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/routes.ts
  app/client/src/entities/FeatureFlag.ts
  app/client/src/globalStyles/popover.ts
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Home/LeftPaneBottomSection.tsx
  app/client/src/pages/Templates/DatasourceChip.tsx
  app/client/src/pages/Templates/Filters.tsx
  app/client/src/pages/Templates/ForkTemplate.tsx
  app/client/src/pages/Templates/LeftPaneTemplateList.tsx
  app/client/src/pages/Templates/Template/LargeTemplate.tsx
  app/client/src/pages/Templates/Template/RequestTemplate.tsx
  app/client/src/pages/Templates/Template/index.tsx
  app/client/src/pages/Templates/TemplateList.tsx
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/pages/Templates/TemplatesTabItem.tsx
  app/client/src/pages/Templates/WidgetInfo.tsx
  app/client/src/pages/Templates/constants.ts
  app/client/src/pages/Templates/index.tsx
  app/client/src/pages/Templates/loader.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/SubHeader.tsx
  app/client/src/reducers/entityReducers/pluginsReducer.ts
  app/client/src/reducers/index.tsx
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/reducers/uiReducers/index.tsx
  app/client/src/reducers/uiReducers/templateReducer.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/PluginSagas.ts
  app/client/src/sagas/TemplatesSagas.ts
  app/client/src/sagas/index.tsx
  app/client/src/selectors/applicationSelectors.tsx
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/selectors/templatesSelectors.tsx
  app/client/src/utils/storage.ts
  app/client/yarn.lock
Labels: Enhancement

#10351 fix: warning message - if child property doesn't exist in data tree
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug

#11410 fix: #11301 filter pane text css updated
  app/client/src/widgets/TableWidget/component/TableFilterPaneContent.tsx
Labels: Bug, App Viewers Pod

#11547 feat: Makes shadow and radius controls keyboard accessible
  app/client/src/components/ads/ButtonTabComponent.tsx
  app/client/src/components/propertyControls/BorderRadiusOptionsControl.tsx
  app/client/src/components/propertyControls/BoxShadowOptionsControl.tsx
Labels: UI Builders Pod

#11591 fix: Remove reset password button if form login is disabled
  app/client/src/components/ads/CalloutV2.tsx
  app/client/src/pages/Settings/DisconnectService.tsx
  app/client/src/pages/UserProfile/General.tsx
  app/client/src/sagas/SuperUserSagas.tsx
  app/client/start-https.sh
Labels: Bug

#11561 chore: Modified plugin config aggregation logic
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/root.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PluginServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/PluginServiceCEImplTest.java
  app/server/appsmith-server/src/test/resources/test_assets/PluginServiceTest/mock-editor.json
  app/server/appsmith-server/src/test/resources/test_assets/PluginServiceTest/mock-example.json
Labels: skip-changelog, BE Coders Pod

#11600 fix: Fix apiContentType bug
  app/client/src/sagas/ApiPaneSagas.ts
Labels: Bug

#11465 fix: Drop down multiselect usage fixes for query forms
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/ProjectionSelectorControl.tsx
  app/client/src/utils/FormControlRegistry.tsx
Labels: Bug, BE Coders Pod

#11597 fix: update success event was missing for js edit for loader to top
  app/client/src/sagas/ActionSagas.ts
Labels: Bug

#11606 fix: Signup text update & code optimisation
  app/client/jest.config.js
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/pages/Settings/FormGroup/TextInput.tsx
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/pages/Settings/config/advanced.ts
  app/client/src/pages/Settings/config/email.ts
  app/client/src/pages/Settings/config/general.ts
  app/client/src/pages/Settings/config/googleMaps.ts
  app/client/src/pages/Settings/config/version.ts
  app/client/src/sagas/SuperUserSagas.tsx
Labels: Bug

#11448 feat: Add new API to combine get application details and get pages API
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/PageControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationPagesDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
Labels: Enhancement

#10460 feat: Make icon selector keyboard accessible
  app/client/src/components/propertyControls/IconSelectControl.test.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
Labels: Enhancement, UI Builders Pod

#11453 fix: Aspect ratio of video changes when Camera widget is longer in width than the aspect ratio
  app/client/src/widgets/CameraWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Camera Widget

#10666 feat: add tooltip to column header text which overflows
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_GeneralProperty_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_PropertyPane_spec.js
  app/client/cypress/support/commands.js
  app/client/src/widgets/TableWidget/component/AutoToolTipComponent.tsx
  app/client/src/widgets/TableWidget/component/Table.tsx
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidget/component/TableUtilities.tsx
Labels: Enhancement, App Viewers Pod, UI Building Pod

#11596 fix: Don't provide extra information on forgot password
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/UserControllerCE.java
Labels: Bug

#11427 fix: removed default isAsync false from new js action
  app/client/src/utils/JSPaneUtils.tsx
Labels: Bug, FE Coders Pod

#11586 test: Automated tests for Bug #10784 + Failure fixes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Migration_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_GeneralProperty_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, Test

#11632 fix: Default action config values not being set
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Bug, BE Coders Pod

#11631 fix: Add check for default branch before deleting branch
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug

#11356 fix: remove EDIT button
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings.tsx
Labels: Bug

#11548 chore: update icons in org menu
  app/client/src/components/ads/Icon.tsx
  app/client/src/pages/Applications/index.tsx
Labels: skip-changelog

#11469 test: adding MySQL noise test
  app/client/cypress.json
  app/client/cypress/fixtures/noiseDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Git_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MySQLNoiseTest_spec.js
Labels: skip-changelog, Test

#11493 fix: reword datasource message
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
Labels: Bug, Frontend, BE Coders Pod

#11527 fix: Added theme API path for permission in security config
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
Labels: Bug

#11640 fix: Style values of the page and default value for telemetry
  app/client/src/ce/configs/index.ts
  app/client/src/components/ads/formFields/UneditableField.tsx
  app/client/src/pages/Settings/FormGroup/Accordion.tsx
Labels: Bug

#11676 fix: Modified root json for SMTP to comply with UQI aggregation rules
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/root.json
Labels: Bug

#11686 fix: Fix startup failing if signup disabled is empty
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
Labels: Bug

#11626 feat: Add applicationVersion property to Application
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/ApplicationVersion.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
Labels: Enhancement

#11650 fix: Table widget value displacement
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidget/component/TableUtilities.tsx
Labels: Bug, App Viewers Pod

#11674 fix: handle main container height
  app/client/src/widgets/CanvasWidget.tsx
Labels: Bug, App Viewers Pod, High, UI Building Pod

#11693 chore: Added analytics event to track datasource dropdown usage in query editors
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/sagas/SaaSPaneSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: skip-changelog

#11618 fix: Fixes confirmation modal flickering bug
  app/client/src/pages/Editor/RequestConfirmationModal.tsx
Labels: Bug, BE Coders Pod

#11692 chore: Update appsmith docs version to 1.3
  app/client/gitbook-algolia-lambda.js
  app/client/src/components/editorComponents/GlobalSearch/githubHelper.ts
Labels: skip-changelog

#11370 fix: unrelated widgets in loading state
  app/client/src/sagas/WidgetLoadingSaga.ts
  app/client/src/utils/WidgetLoadingStateUtils.test.ts
  app/client/src/utils/WidgetLoadingStateUtils.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, FE Coders Pod

#11700 fix: Rest API UI issues (Empty DS headers, UI for Param tab, Save DS button, Placeholder)
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/pages/Editor/APIEditor/ApiAuthentication.tsx
  app/client/src/pages/Editor/APIEditor/Form.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug

#11648 fix: curl import ui fixes wrt to design system
  app/client/src/pages/Editor/APIEditor/CurlImportForm.tsx
Labels: Bug

#11623 fix: Added root element as the ParentBoundary for TableFilterPane.
  app/client/src/widgets/TableWidget/component/TableFilterPane.tsx
Labels: Bug

#11653 test: Script fixes for Flaky tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/BindApi_withPageload_Input_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_JSObject_Postgress_Table_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Widgets_Dependancy_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Migration_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_GeneralProperty_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_PropertyPane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Text_new_feature_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_DragAndDropWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/DatePicker_2_Default_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/Container_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Replay/Replay_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WidgetSelection/WidgetSelection_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/locators/Widgets.json
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#11531 feat: Apply env variables in NGINX config before startup
  deploy/docker/scripts/run-nginx.sh
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Enhancement

#11570 fix: Icon alignment changes automatically every time the icon is changed in Menu button widget
  app/client/cypress/fixtures/menuButtonDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/MenuButton_spec.js
  app/client/src/widgets/MenuButtonWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, Menu Button Widget

#11712 fix: Updated conditions for dropdown control to take in false also as value
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
Labels: Bug

#11718 fix: Adds user set on load prop from actions to exported JSON file
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/InvisibleActionFields.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug

#11666 chore: Make sure discard changes for git is applied even if client exits the flow before server responds
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: skip-changelog

#11420 chore: Keyboard accessibility added to canvas selector buttons.
  app/client/src/pages/Editor/MainContainerLayoutControl.test.tsx
  app/client/src/pages/Editor/MainContainerLayoutControl.tsx
Labels: skip-changelog

#11625 feat: added isJSConvertible property in IconButton Widget
  app/client/src/widgets/IconButtonWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod

#11740 fix: polish git-sync feature
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/NotificationBanner.tsx
  app/client/src/index.css
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/pages/Editor/gitSync/components/DeployedKeyUI.tsx
  app/client/src/utils/helpers.tsx
Labels: Bug

#11579 fix: numeric type input should accept zero after decimal point
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Inputv2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Phone_input_spec.js
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/derived.js
  app/client/src/widgets/InputWidgetV2/widget/derived.test.ts
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
Labels: Bug

#11395 fix: Remove datasources from Execute Query Action.
  app/client/src/components/editorComponents/ActionCreator/index.tsx
Labels: Bug

#11571 fix: typo in messages
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
Labels: Bug

#11694 fix: Support repo url conversion for all top level domains
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug

#11342 fix: limit commit message area expansion and text spillover
  app/client/src/components/ads/TextInput.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
Labels: Bug

#11699 fix: 11220 GSheet incorrect error message fixed
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/ClearMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/GetValuesMethod.java
Labels: Bug

#11771 test: added github token to rerun
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#11567 fix: Templates UI polishing
  app/client/cypress/integration/Smoke_TestSuite/Application/ImportExportForkApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ForkApplication_spec.js
  app/client/cypress/locators/HomePage.js
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Icon.tsx
  app/client/src/pages/AppViewer/viewer/GetAppViewerHeaderCTA.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/ForkApplicationModal.tsx
  app/client/src/pages/Applications/ForkModalStyles.ts
  app/client/src/pages/Templates/Filters.tsx
  app/client/src/pages/Templates/ForkTemplate.tsx
  app/client/src/pages/Templates/Template/LargeTemplate.tsx
  app/client/src/pages/Templates/Template/RequestTemplate.tsx
  app/client/src/pages/Templates/Template/index.tsx
  app/client/src/pages/Templates/TemplateList.tsx
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/pages/Templates/TemplatesTabItem.tsx
  app/client/src/pages/Templates/index.tsx
  app/client/src/reducers/uiReducers/templateReducer.ts
  app/client/src/selectors/templatesSelectors.tsx
Labels: Bug

#11764 test: Adding setup test for fat container
  app/client/cypress/setup-test-fat.sh
Labels: skip-changelog, Test

#11462 fix: inconsistency in select and treeselect widgets behaviours
  app/client/cypress/fixtures/widgetPopupDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_Select_TreeSelect_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Multi_Select_Tree_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Single_Select_Tree_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Widget_Popup_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/src/assets/icons/widget/audio.svg
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/index.ts
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.styled.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/index.ts
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/component/index.styled.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SelectWidget/index.ts
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/index.ts
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/yarn.lock
Labels: Bug, App Viewers Pod

#11388 fix: #11112 updated list widget property config
  app/client/src/widgets/ListWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod

#11390 fix: #11315 Added trimming in button variant name
  app/client/cypress/fixtures/iconButtonWidgetsDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/IconButton_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/src/widgets/IconButtonWidget/component/index.tsx
Labels: Bug, App Viewers Pod

#11703 fix: Update copy and flag for all toggle buttons on Admin settings page
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
  app/client/src/pages/Settings/FormGroup/Toggle.tsx
  app/client/src/pages/Settings/config/email.ts
  app/client/src/pages/Settings/config/general.ts
  app/client/src/pages/setup/DataCollectionForm.tsx
  app/client/src/pages/setup/NewsletterForm.tsx
  app/client/src/pages/setup/common.tsx
Labels: Bug

#11785 fix: fix embedded url misalignment
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
Labels: Bug

#11064 fix: Preserve entity explorer state on page refresh
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/ExecutionParams_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActiveDatasource/ActiveDatasource.spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_Edit_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_Search_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_Button_with_API_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_JSObject_Postgress_Table_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_TableTextPagination_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/InputWidgets_NavigateTo_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/NavigateToFeatureValidation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Select_Widget_Value_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/TableWidgets_NavigateTo_Validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/DocumentViewer_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Migration_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_tabledata_schema_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_DragAndDropWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Entity_Naming_conflict_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Multiple_Widgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Query_Datasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Widgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/S3_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/Git_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/SwitchBranches_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Pages/Pages_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiPaneTests/API_Bugs_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/EditorContextMenu_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_API_Pane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_CopyQuery_RenameDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_Datasource_Structure_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Switcher.tsx
  app/client/src/constants/ApiEditorConstants.ts
  app/client/src/constants/Colors.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/icons/MenuIcons.tsx
  app/client/src/pages/Editor/Explorer/Datasources.tsx
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/Explorer/JSDependencies.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetGroup.tsx
  app/client/src/pages/Editor/Explorer/common.tsx
  app/client/src/pages/Editor/Explorer/helpers.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
Labels: Bug

#11777 test: adding tests for smtp using test-event-driver
  app/client/cypress/fixtures/SMTPTestdsl.json
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/SMTPDatasource_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/setup-test.sh
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#11799 fix: Fix special char handling in pre-define env
  deploy/docker/entrypoint.sh
Labels: Bug

#11508 feat: changed icon widget to icon btn for modal widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Modal_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/ModalWidget.ts
  app/client/src/widgets/ModalWidget/index.ts
Labels: Enhancement, App Viewers Pod, UI Building Pod

#11818 fix: Analytics sendEvent should be able to send events even during sign in process
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
Labels: Bug

#11627 fix: Added Button Container for the firefox drag issue
  app/client/cypress/fixtures/mongoAppdsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/EchoApiCMS_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Application/MongoDBShoppingCart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/LoadashBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/MomentBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Widgets_form_input_table_default_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/aTobAndbToaBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Modal_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Statbox_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/ButtonGroup_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_With_Input_Number.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/SMTPDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_Datasource_Structure_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OrganisationTests/MemberRoles_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/locators/CMSApplocators.js
  app/client/cypress/locators/GeneratePage.json
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
  app/client/src/widgets/ButtonWidget/component/DragContainer.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/component/utils.tsx
  app/client/src/widgets/ButtonWidget/widget/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/IconButtonWidget/widget/index.tsx
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/widget/index.tsx
Labels: Bug

#11753 fix: incorrect shortcut text for "create new" in omnibar
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/components/editorComponents/GlobalSearch/HelpBar.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/WidgetsMultiSelectBox.tsx
  app/client/src/utils/helpers.tsx
  app/client/src/utils/replayHelpers.tsx
Labels: Bug

#11792 test: Cypress env for fat container
  .github/workflows/test-build-docker-image-fat.yml
  app/client/cypress_fat.json
Labels: skip-changelog, Test

#11588 fix: allow functions inside loop
  app/client/src/workers/lint.ts
Labels: Bug, FE Coders Pod

#11829 chore: Add asterisk for mandatory fields
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/components/ads/TagInputComponent.tsx
  app/client/src/components/ads/TextInput.tsx
  app/client/src/pages/Settings/FormGroup/Common.tsx
Labels: skip-changelog

#11859 test: commenting Fork_Template until fixed to unblock CI
  app/client/cypress.json
Labels: skip-changelog, Test

#11719 fix: Application template fork fails
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationTemplate.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
Labels: Bug

#11854 fix: Fix removal of env variables not working in NGINX
  deploy/docker/scripts/run-nginx.sh
Labels: Bug

#11876 chore: [Fat Container] Increasing the start time check for backend process to stay up to 3.5 minutes to ensure that all the checks have run and some grace time before marking the process to be running.
  deploy/docker/templates/supervisord/application_process/backend.conf
Labels: skip-changelog

#11860 fix: onboarding not starting from intro modal
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/OnboardingSagas.ts
Labels: Bug

#11790 fix: Reset image error flag when imageUrl or defaultImageUrl is changed in Image widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Image_validation_spec.js
  app/client/src/widgets/ImageWidget/component/index.tsx
Labels: Bug, App Viewers Pod

#11888 chore: Revert "fix: numeric type input widget should accept zero after decim…
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Inputv2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Phone_input_spec.js
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/derived.js
  app/client/src/widgets/InputWidgetV2/widget/derived.test.ts
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
Labels: skip-changelog

#11909 fix: Fix nginx not starting in fat container
  deploy/docker/scripts/run-nginx.sh
Labels: Bug

#11853 fix: properly render html responses
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/utils.ts
Labels: Bug

#11736 fix: Icon Selector width on propety pane resize
  app/client/src/components/propertyControls/IconSelectControl.tsx
Labels: Bug, UI Builders Pod

#11756 fix: set initial value of KeyValueArrayControl
  app/client/src/components/ads/TextInput.tsx
  app/client/src/components/formControls/KeyValueArrayControl.tsx
Labels: Bug

#11883 fix: do not show errors for private widgets
  app/client/src/workers/evaluationUtils.ts
Labels: Bug

#11872 fix: convert blob urls in object type values
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug

#11907 fix: wait for organisation list to be fetched before creating an application for welcome tour
  app/client/src/sagas/OnboardingSagas.ts
Labels: Bug

#11590 fix: Input widget onSubmit gets triggered before evaluation
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Inputv2_spec.js
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
Labels: Bug, Input Widget, App Viewers Pod

#11664 fix: 10527 Google Sheet crud generation header issue v2
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/GetStructureMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/GoogleSheetsMethodStrategy.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/MethodIdentifiers.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/GetStructureMethodTest.java
Labels: Bug, BE Coders Pod

#11918 fix: Show signup link even if signup toggle is off
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/ce/pages/UserAuth/SignUp.tsx
Labels: Bug

#11825 fix: handle Centered component height
  app/client/src/components/designSystems/appsmith/CenteredWrapper.tsx
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
Labels: Bug, App Viewers Pod

#11789 fix: remove margin when no label
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
Labels: Bug, App Viewers Pod

#11865 fix: Button Icon Alignment on Icon Change
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Button_spec.js
  app/client/src/widgets/ButtonWidget/widget/index.tsx
Labels: Bug

#11856 chore: removed api calls to fetch default docs from github
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
Labels: skip-changelog

#11866 feat: Added analytics events on themes
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
Labels: Enhancement

#11836 test: Test add support for fat container in ci
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#11662 fix: Added response meta to the response for import template API
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
Labels: Bug

#11942 Revert "test: Test add support for fat container in ci"
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#9984 feat: Settings js editor
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/actions/evaluationActions.ts
  app/client/src/actions/jsPaneActions.ts
  app/client/src/actions/pluginActionActions.ts
  app/client/src/api/JSActionAPI.tsx
  app/client/src/api/PageApi.tsx
  app/client/src/assets/icons/menu/settings.svg
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/components/utils/FlagBadge.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/entities/DataTree/actionTriggers.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeJSAction.ts
  app/client/src/entities/JSCollection/index.ts
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
  app/client/src/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/PromisifyAction.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Enhancement, FE Coders Pod

#11581 fix: Java arguments tuning using env
  deploy/docker/scripts/run-java.sh
  deploy/docker/templates/docker.env.sh
  deploy/docker/templates/supervisord/application_process/backend.conf
Labels: Bug

#11898 feat: Added migration to change default theme name
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Theme.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/system-themes.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-custom-themes.json
Labels: Enhancement

#11951 test: Test fix build rts dependency
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#11892 fix: Show newly created datasources on the entity explorer
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_all_sidebar_actions_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Entity_Renaming_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Widgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Pages/Hide_Page_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_CopyQuery_RenameDatasource_spec.js
  app/client/cypress/support/commands.js
  app/client/src/pages/Editor/Explorer/Datasources.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
  app/client/src/pages/Editor/Explorer/Entity/EntityProperties.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionContextMenu.tsx
  app/client/src/pages/Editor/Explorer/hooks.ts
  app/client/src/pages/Editor/Explorer/mockTestData.ts
Labels: Bug

#11940 feat: Added new fields to templates
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationTemplate.java
Labels: Enhancement

#11925 fix: Combined API returns branched application id instead of root application id
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ResponseUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
Labels: Bug

#11963 chore: update import template response parsing
  app/client/src/api/TemplatesApi.ts
  app/client/src/sagas/TemplatesSagas.ts
Labels: skip-changelog

#11948 fix: Handle JSON schema migration for CRUD page generation JSON template
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/file-with-v1.json
Labels: Bug, skip-changelog

#11923 fix: numeric type input widget should accept zero after decimal point
  app/client/cypress/fixtures/InputWidgetV2InsideListDSL.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Inputv2_inside_List_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Inputv2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Phone_input_spec.js
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/Utilities.test.ts
  app/client/src/widgets/InputWidgetV2/widget/Utilities.ts
  app/client/src/widgets/InputWidgetV2/widget/derived.js
  app/client/src/widgets/InputWidgetV2/widget/derived.test.ts
  app/client/src/widgets/InputWidgetV2/widget/index.test.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
Labels: Bug

#11724 test: Script fixes for flaky tests + Unskipping few skipped tests + Cypress upgraded
  app/client/cypress.json
  app/client/cypress/integration/Smoke_TestSuite/Application/AForceMigration_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/Application/MongoDBShoppingCart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActiveDatasource/ActiveDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Applications/ForkApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/ChartDataPoint_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/DocumentViewer_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Dropdown_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/List_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Color_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_GeneralProperty_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/List_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Pages/Page_Load_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Replay/Replay_Editor_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/SMTPDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/EditorContextMenu_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_CopyQuery_RenameDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/UserProfile/UpdateUsersName_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/commands.js
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test

#11971 test: Added if for fat container
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, Test

#11988 test: fixed build artifacts download
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, Test

#11991 test: changed for rerun
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, Test

#11783 fix: revoke access and limit reached modal updates
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GitSync/DisconnectGit_spec.js
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/components/GitConnectError.tsx
Labels: Bug

#11891 chore: Update error message for checkout remote branch flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: skip-changelog

#11786 feat: Switch to JSON view functionality for form components
  app/client/src/components/editorComponents/form/ToggleComponentToJson.tsx
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/utils.ts
  app/client/src/entities/Action/actionProperties.ts
  app/client/src/pages/Editor/FormConfig.tsx
  app/client/src/pages/Editor/FormControl.tsx
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Enhancement

#11534 chore: Migrations to enable JSON and form mode
  app/client/cypress/fixtures/mongo_GET_Actions.json
  app/client/cypress/integration/Smoke_TestSuite/Application/MongoDBShoppingCart_spec.js
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/constants/FieldName.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/TemplateUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/create.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/create_many.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/delete_many.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/list.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/read.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/constants/FieldName.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/addToCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/createDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/deleteDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/getCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/getDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/setDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/updateDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Aggregate.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Count.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Delete.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Distinct.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Find.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Insert.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/MongoCommand.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/UpdateMany.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/constants/FieldName.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/utils/MongoPluginUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/aggregate.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/count.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/distinct.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/find.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/insert.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/raw.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/update.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/HelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersions.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/invalid-application-without-pageId-action-collection.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-custom-themes.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-action-collection.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-theme.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application.json
Labels: skip-changelog, Dont merge, BE Coders Pod

#11497 fix: Use lockfile as is in CI
  .github/workflows/TestReuseActions.yml
  .github/workflows/client-build.yml
  .github/workflows/github-release.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: Bug, Stale

#11906 fix: remove extra key value pair for DataSource
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
Labels: Bug

#11969 fix: Fix replicaset checking with limited permissions
  deploy/docker/entrypoint.sh
  deploy/docker/utils/bin/check_replica_set.js
Labels: Bug

#12013 chore: Ignore actions that are already migrated
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: skip-changelog

#11513 fix: set default value in authentication type
  app/client/src/entities/Datasource/RestAPIForm.ts
Labels: Bug, BE Coders Pod

#12021 chore: Updated Template for form/json mode for Firestore, S3 and Mongo
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: skip-changelog

#12049 fix: S3 formData path for bucket name
  app/client/cypress.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/locators/GeneratePage.json
  app/client/src/sagas/QueryPaneSagas.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStructure.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/TemplateUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Aggregate.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Count.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Delete.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Distinct.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Find.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Insert.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/UpdateMany.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/utils/MongoPluginUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/dependency.json
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
Labels: Bug

#12034 fix: Reconnect application showing for existing datasources due to missing flag value
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug

#11774 feat: Revamp deletion flow
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActiveDatasource/ActiveDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Entity_Renaming_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Query_Datasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Tab_rename_Delete_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/QueryPaneTests/Datasourcedocs_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/QueryPaneTests/SwitchDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiFlow/CurlImportFlow_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiPaneTests/API_All_Verb_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/ArangoDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/DatasourceForm_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MsSQLDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MySQLDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MySQL_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/PostgresDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RedshiftDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/EditorContextMenu_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_CopyQuery_RenameDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_Datasource_Structure_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/ConfirmRunAction_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/UnitTest/LoginFromUIApp_spec.js
  app/client/cypress/locators/JSEditor.json
  app/client/cypress/locators/Pages.json
  app/client/cypress/locators/apiWidgetslocator.json
  app/client/cypress/support/commands.js
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/TreeDropdown.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Actions/MoreActionsMenu.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DataSourceContextMenu.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionContextMenu.tsx
  app/client/src/pages/Editor/Explorer/JSActions/MoreJSActionsMenu.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/Explorer/TreeDropdown.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/common/datasourceAuth/DefaultAuth.tsx
  app/client/src/pages/common/datasourceAuth/OAuth.tsx
  app/client/src/reducers/uiReducers/modalActionReducer.ts
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Enhancement

#12031 fix: 10927, 11999, 12035 - tooltip of org and redirect issues from oauth datasource configuration
  app/client/src/components/ads/MenuItem.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
Labels: Bug

#12134 feat: Makes the reset button keyboard accessible
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
Labels: UI Builders Pod

#11973 fix: Fixed Icon Button onClick in disabled state and disabled style fixes for widgets.
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/IconButton_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/publishWidgetspage.json
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/widgets/AudioRecorderWidget/component/index.tsx
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/component/DragContainer.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#12050 fix: Archived pages are getting copied in forked application
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesOrganizationClonerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: Bug

#12145 fix: blank screen in datasource view mode
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/AuthenticatedApiDatasource_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/commands.js
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
Labels: Bug, skip-changelog

#12150 test: added tests for omnibar
  app/client/cypress.json
  app/client/cypress/fixtures/omnibarDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Omnibar/Omnibar_spec.js
  app/client/cypress/locators/Omnibar.json
  app/client/cypress/locators/commonlocators.json
Labels: skip-changelog, Test

#11890 fix: App visibility of git connected application is reset after git merge
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug

#11958 fix: Design QA changes & form login removed from signup screen if disabled
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/ce/pages/UserAuth/SignUp.tsx
  app/client/src/components/ads/formFields/RedirectUrlForm.tsx
  app/client/src/components/ads/formFields/UneditableField.tsx
  app/client/src/pages/Settings/DisconnectService.tsx
  app/client/src/pages/Settings/FormGroup/Button.tsx
  app/client/src/pages/Settings/FormGroup/Common.tsx
  app/client/src/pages/Settings/FormGroup/Group.test.tsx
  app/client/src/pages/Settings/FormGroup/Toggle.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
  app/client/src/sagas/SuperUserSagas.tsx
Labels: Bug

#12156 fix: Removes static generate page text from integrations page.
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IntegrationEditor/ActiveDataSources.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/IntegrationEditor/__tests__/datasourceCard.test.tsx
  app/client/src/pages/Editor/IntegrationEditor/mockData/index.ts
Labels: Bug
