Repository appsmithorg/appsmith, pull requests merged in 2022-08, with the labels that each got.

#15457 fix: provide access to currentRow in table widget menubutton items
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/columnTypes/menubutton_spec.js
  app/client/src/widgets/TableWidgetV2/component/cellComponents/MenuButtonCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/menuButtonTableComponent.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/ButtonProperties.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/MenuItems.ts
Labels: Bug, Table Widget, App Viewers Pod, High, community, Menu Button Widget

#15133 feat: Select defaultValue Validation Check for ServerSide Filtering(On/Off)
  app/client/cypress/fixtures/promisesStoreValueDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/SelectWidget_Spec.ts
  app/client/src/widgets/SelectWidget/widget/derived.js
  app/client/src/widgets/SelectWidget/widget/derived.test.ts
  app/client/src/widgets/SelectWidget/widget/index.test.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/parseDerivedProperties.ts
Labels: Bug, Enhancement, Select Widget, App Viewers Pod, High, medium

#15494 fix: Improve ssh url checking for git import
  app/client/src/pages/Editor/gitSync/utils.test.ts
  app/client/src/pages/Editor/gitSync/utils.ts
Labels: Bug, High, Needs Triaging, Git Version Control, Team Managers Pod

#15576 fix: Delay in display of Intercom pop up when user tries to upgrade the Watermark property
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/ce/pages/AdminSettings/index.tsx
Labels: Bug, App Viewers Pod, Needs Triaging, Release Blocker

#15553 chore: Update text message for git remote url placeholder
  app/client/cypress/integration/Smoke_TestSuite/Application/ReconnectDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/Git_spec.js
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.test.tsx
  app/client/src/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/sagas/CurlImportSagas.ts
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
Labels: skip-changelog

#15591 fix: fix Mongo plugin query execution failure
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
Labels: Bug, Backend, Critical, Needs Triaging, Query Execution, Mongo, BE Coders Pod, Test Plan Approved

#15616 chore: Extend commenting deprecation deadline to 1.7.12
  app/client/src/comments/AppComments/AppComments.tsx
  app/client/src/notifications/NotificationsList.tsx
  app/server/appsmith-server/src/main/resources/email/commentAddedTemplate.html
Labels: Task, skip-changelog, New Developers Pod

#15619 fix: Change to allow all domains to embed Appsmith apps
  deploy/docker/templates/docker.env.sh
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Bug

#15297 chore: Grouping & reorganisation of Video widget
  app/client/src/widgets/VideoWidget/index.ts
  app/client/src/widgets/VideoWidget/widget/index.tsx
Labels: UI Builders Pod, skip-changelog

#15514 chore: Grouping & reorganisation of Document Viewer widget
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTab.tsx
  app/client/src/widgets/DocumentViewerWidget/index.ts
  app/client/src/widgets/DocumentViewerWidget/widget/index.tsx
Labels: UI Builders Pod, skip-changelog

#15593 fix: Do not cache updatable connections
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceContextServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
Labels: Bug, Datasources, Critical, BE Coders Pod, Test Plan Approved

#14876 feat: Search properties in property pane
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/PropertyPane/EmptySearchResult.tsx
  app/client/src/pages/Editor/PropertyPane/Generator.tsx
  app/client/src/pages/Editor/PropertyPane/PanelPropertiesEditor.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
  app/client/src/pages/Editor/PropertyPane/helpers.test.ts
  app/client/src/pages/Editor/PropertyPane/helpers.ts
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
Labels: UI Builders Pod

#15442 fix: Reset sync function fields on each update
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/commands.js
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
Labels: Bug, Backend, High, Needs Triaging, Query Execution, JS Editor, FE Coders Pod, BE Coders Pod, OnPageLoad, Test Plan Approved

#14679 fix: improve camera widget
  app/client/package.json
  app/client/src/utils/helpers.tsx
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/CameraWidget/widget/index.tsx
  app/client/yarn.lock
Labels: Bug, Enhancement, App Viewers Pod, High, community, Camera Widget

#15622 feat: added accentColor and fontFamily to the theme config chartwidget
  app/server/appsmith-server/src/main/resources/system-themes.json
Labels: Enhancement, Chart Widget, App Viewers Pod, potential-duplicate

#15332 fix: Elasticsearch DB Head request fails on some ES instances when used on /test API
  app/server/appsmith-plugins/elasticSearchPlugin/pom.xml
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/test/java/com/external/plugins/ElasticSearchPluginTest.java
Labels: Bug, Test Plan Approved

#15491 feat: Multiselect defaultValue Validation Check for ServerSide Filtering(On/Off)
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Multiselect/MultiSelect2_spec.js
  app/client/src/widgets/MultiSelectWidgetV2/widget/derived.js
  app/client/src/widgets/MultiSelectWidgetV2/widget/derived.test.js
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.test.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/parseDerivedProperties.ts
Labels: Enhancement, App Viewers Pod, potential-duplicate, MultiSelect Widget

#15607 fix: Add support for crypto API in linting
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/workers/Lint/utils.ts
Labels: Bug, JS, Needs Triaging, JS Editor, JS Linting & Errors, FE Coders Pod, Test Plan Approved

#14872 test: test for default meta feature
  app/client/cypress/fixtures/defaultMetaDsl.json
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllWidgets_default_meta_spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/locators/commonlocators.json
Labels: skip-changelog, Test Plan Approved, Test

#15032 fix: tighten controls for fuzzy search in widget sidebar
  app/client/src/pages/Editor/WidgetSidebar.tsx
Labels: Bug, Entity Explorer, Needs Triaging, UI Builders Pod, New Developers Pod, Widgets Pane

#15606 feat: Added unconfigured datasources to the template API response
  app/client/src/api/TemplatesApi.ts
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/pages/Templates/index.tsx
  app/client/src/sagas/TemplatesSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: Bug, Enhancement, High, Needs Triaging, New Developers Pod, Templates

#15582 test: Automated tests for Postgres Datatype - UUID Cont., + Flaky fixes
  app/client/cypress/fixtures/Datatypes/UUIDDTdsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/StoreValue_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Autocomplete_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bugs_autocomplete_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/ErrorReporting_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/List/List1_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Multiselect/MultiSelect2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/TableBugs_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/TableFilter_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/FirestoreStub_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/GoogleSheetsDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/GoogleSheetsStub_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MongoDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MsSQLDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RestApiOAuth2AuthorizationCodeValidation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RestApiOAuth2ClientCredentialsValidation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RestApiOAuth2Validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/APIOnLoad_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/Action_PageOnLoad_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/ExecuteAction_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/ExecuteAction_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/UUID_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/DSDocs_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Datasourcedocs_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/dataSourceCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#14379 chore: Grouping & Reorganisation for ButtonWidget, JSON Form widget and Audio Widget
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Tabs.tsx
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/EmptySearchResult.tsx
  app/client/src/pages/Editor/PropertyPane/Generator.tsx
  app/client/src/pages/Editor/PropertyPane/PanelPropertiesEditor.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneGenerator.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTab.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
  app/client/src/pages/Editor/PropertyPane/helpers.test.ts
  app/client/src/pages/Editor/PropertyPane/helpers.ts
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
  app/client/src/utils/WidgetFactory.tsx
  app/client/src/utils/WidgetRegisterHelpers.tsx
  app/client/src/widgets/AudioWidget/index.tsx
  app/client/src/widgets/AudioWidget/widget/index.tsx
  app/client/src/widgets/ButtonWidget/index.ts
  app/client/src/widgets/ButtonWidget/widget/index.tsx
  app/client/src/widgets/DocumentViewerWidget/index.ts
  app/client/src/widgets/DocumentViewerWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/index.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/generatePanelPropertyConfig.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/helper.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/array.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/checkbox.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/common.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/date.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/input.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/multiSelect.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/radioGroup.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/select.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/switch.ts
  app/client/src/widgets/VideoWidget/index.ts
  app/client/src/widgets/VideoWidget/widget/index.tsx
  app/client/src/widgets/constants.ts
Labels: Property Pane, UI Builders Pod, Task, skip-changelog

#15675 feat: query body smart substitution
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/utils/GraphQLBodyDataType.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/utils/GraphQLDataTypeUtils.java
Labels: Enhancement, Backend, High, BE Coders Pod, GraphQL Plugin

#15352 feat: Add pod labels to allow for selector labels across different configs
  deploy/helm/README.md
  deploy/helm/templates/statefulset.yaml
  deploy/helm/values.yaml
Labels: Stale

#15702 fix: Add `startupProbe` to Appsmith pods
  deploy/helm/templates/statefulset.yaml
Labels: Bug, Needs Triaging, K8s, DevOps Pod, Skip Docs

#15649 fix: graphql test cases moved to server side tests from client side tests folder
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GraphQLDatasource/GraphQL_creation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GraphQLDatasource/GraphQL_execution_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/GraphQL_spec.ts
  app/client/cypress/locators/ApiEditor.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: Frontend, QA, Task, BE Coders Pod, GraphQL Plugin, medium, Test Plan Approved

#15507 feat: import changes for button tab component
  app/client/package.json
  app/client/src/components/ads/ButtonTabComponent.test.tsx
  app/client/src/components/ads/ButtonTabComponent.tsx
  app/client/src/components/ads/index.ts
  app/client/src/components/propertyControls/BorderRadiusOptionsControl.tsx
  app/client/src/components/propertyControls/BoxShadowOptionsControl.tsx
  app/client/src/components/propertyControls/ButtonTabControl.tsx
  app/client/src/components/propertyControls/IconTabControl.tsx
  app/client/src/components/propertyControls/LabelAlignmentOptionsControl.tsx
  app/client/yarn.lock
Labels: Enhancement, Design System Pod, Task, ads migration

#15641 fix: revert success flag from trigger response
  app/client/src/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, UX Improvement, App Viewers Pod, Critical, Production, Button Widget, Needs Triaging, A-Force

#15329 fix: Reskinning Radio + Toggle + Checkbox
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Widgets_Labels_spec.js
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/WidgetsLayout_spec.js/inlineDisabled.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/WidgetsLayout_spec.js/inlineEnabled.snap.png
  app/client/src/assets/icons/widget/checkbox/check-icon.svg
  app/client/src/assets/icons/widget/checkbox/disabled-indeterminate-icon.svg
  app/client/src/assets/icons/widget/checkbox/disabledcheck-icon.svg
  app/client/src/assets/icons/widget/checkbox/indeterminate-icon.svg
  app/client/src/components/ads/LabelWithTooltip.tsx
  app/client/src/components/wds/Checkbox/index.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/index.css
  app/client/src/theme/defaultTheme.css
  app/client/src/theme/wds.css
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/index.ts
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/src/widgets/RadioGroupWidget/component/index.tsx
  app/client/src/widgets/RadioGroupWidget/index.ts
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/SwitchGroupWidget/index.ts
  app/client/src/widgets/SwitchWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Checkbox Widget, potential-duplicate, Switch widget, Checkbox Group widget, Radio Group Widget, Switch Group Widget

#15707 test: updated flaky test under default meta
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllWidgets_default_meta_spec.js
Labels: skip-changelog, Test

#15650 fix: JSONForm field event trigger binding get updated formData values
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FieldEvents_spec.js
  app/client/src/widgets/JSONFormWidget/FormContext.tsx
  app/client/src/widgets/JSONFormWidget/component/index.tsx
  app/client/src/widgets/JSONFormWidget/constants.ts
  app/client/src/widgets/JSONFormWidget/fields/BaseInputField.tsx
  app/client/src/widgets/JSONFormWidget/fields/CheckboxField.tsx
  app/client/src/widgets/JSONFormWidget/fields/DateField.tsx
  app/client/src/widgets/JSONFormWidget/fields/MultiSelectField.tsx
  app/client/src/widgets/JSONFormWidget/fields/RadioGroupField.tsx
  app/client/src/widgets/JSONFormWidget/fields/SelectField.tsx
  app/client/src/widgets/JSONFormWidget/fields/SwitchField.tsx
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, High, Production, JSON Form

#15758 fix: update UI for members page
  app/client/src/pages/workspace/General.tsx
  app/client/src/pages/workspace/Members.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: Team Managers Pod

#15081 feat: change imports for dropdown v2 and dependencies
  app/client/package.json
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/DropdownV2.tsx
  app/client/src/components/designSystems/appsmith/SearchComponent.tsx
  app/client/src/pages/Editor/ThemePropertyPane/ThemeEditor.tsx
  app/client/src/widgets/TableWidget/component/TableHeader.tsx
  app/client/src/widgets/TableWidgetV2/component/TableHeader.tsx
  app/client/src/workers/DependencyMap/index.ts
  app/client/yarn.lock
Labels: Enhancement, Design System Pod, Task, ads migration

#15767 fix:disable nginx server tokens, set gzip_type to *
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Bug, Deployment, DevOps Pod

#15626 fix: reset the filepicker widget when the user goes to a different link
  app/client/cypress/fixtures/filePickerV2_reset_check_dsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_Widget_reset_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug, File Picker Widget, App Viewers Pod, High

#15733 fix: Correctly update trigger field dependency map
  app/client/src/workers/DataTreeEvaluator/test.ts
  app/client/src/workers/DependencyMap/index.ts
Labels: Bug, JS, Critical, FE Coders Pod, Test Plan Approved

#15773 fix: Disable polling transport for RTS
  app/client/src/sagas/WebsocketSagas/WebsocketSagas.ts
Labels: Bug, Skip Docs

#15782 fix: Adding a check for invalid hosts on redirects as well
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug, Test Plan Approved

#15815 fix: Remove unwanted logs which may confuse the users
  app/client/src/utils/WidgetFactory.tsx
Labels: Bug, UX Improvement, High, Release, Needs Triaging, UI Builders Pod, Release Blocker, Trigger fields

#15834 fix: Adding checks to prevent disallowed hosts from connecting via Elasticsearch plugin
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/test/java/com/external/plugins/ElasticSearchPluginTest.java
Labels: Bug, Test Plan Approved

#15850 ci: Running the "Test plan approved" check only on pull requests to release branch
  .github/workflows/label-checker.yml
Labels: skip-changelog, CI

#15849 fix: Cherry pick security fixes
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/test/java/com/external/plugins/ElasticSearchPluginTest.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: skip-changelog, Skip Docs, Test Plan Approved

#15719 fix: fix class def not found error
  app/server/appsmith-plugins/graphqlPlugin/pom.xml
  app/server/appsmith-server/pom.xml
Labels: Bug, Backend, Needs Triaging, Task, BE Coders Pod, GraphQL Plugin, Up for grabs

#15684 feat: Added more data to existing analytics events
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: Enhancement, skip-changelog, Test Plan Approved

#15673 chore: Grouping & reorganisation for multiple widgets
  app/client/src/widgets/DividerWidget/index.ts
  app/client/src/widgets/DividerWidget/widget/index.tsx
  app/client/src/widgets/IframeWidget/index.ts
  app/client/src/widgets/IframeWidget/widget/index.tsx
  app/client/src/widgets/ListWidget/index.ts
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/widgets/ListWidget/widget/propertyConfig.ts
  app/client/src/widgets/ModalWidget/index.ts
  app/client/src/widgets/ModalWidget/widget/index.tsx
  app/client/src/widgets/ProgressWidget/index.ts
  app/client/src/widgets/ProgressWidget/widget/index.tsx
  app/client/src/widgets/RateWidget/index.ts
  app/client/src/widgets/RateWidget/widget/index.tsx
  app/client/src/widgets/StatboxWidget/index.ts
  app/client/src/widgets/StatboxWidget/widget/index.tsx
  app/client/src/widgets/TabsWidget/index.ts
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/TextWidget/index.ts
  app/client/src/widgets/TextWidget/widget/index.tsx
Labels: Property Pane, UI Builders Pod, skip-changelog

#15557 chore: Property Pane Grouping of Chart, Maps & Media widgets
  app/client/src/pages/Editor/PropertyPane/EmptySearchResult.tsx
  app/client/src/pages/Editor/PropertyPane/Generator.tsx
  app/client/src/widgets/AudioRecorderWidget/index.ts
  app/client/src/widgets/AudioRecorderWidget/widget/index.tsx
  app/client/src/widgets/CameraWidget/index.ts
  app/client/src/widgets/CameraWidget/widget/index.tsx
  app/client/src/widgets/ChartWidget/index.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
  app/client/src/widgets/ChartWidget/widget/propertyConfig.ts
  app/client/src/widgets/ContainerWidget/index.ts
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/index.ts
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/FormWidget/index.ts
  app/client/src/widgets/ImageWidget/index.ts
  app/client/src/widgets/ImageWidget/widget/index.tsx
  app/client/src/widgets/MapChartWidget/index.ts
  app/client/src/widgets/MapChartWidget/widget/index.tsx
  app/client/src/widgets/MapWidget/index.ts
  app/client/src/widgets/MapWidget/widget/index.tsx
Labels: Property Pane, UI Builders Pod, skip-changelog

#15396 fix: Modify Form Control Inputs for various Datasource Actions
  app/client/cypress/integration/Smoke_TestSuite/Application/MongoDBShoppingCart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.ts
  app/client/src/entities/Action/index.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/delete_many.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/addToCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/createDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/getCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/setDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/updateDocument.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/aggregate.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/insert.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/send.json
Labels: Bug, Needs Triaging, BE Coders Pod, UQI components, medium, Test Plan Approved

#15679 fix: Multiple scrolls in view mode
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
Labels: Bug

#15490 fix: update def on widget property name update
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Autocomplete_Spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/widgetEvalUtils.ts
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, Verified, Autocomplete, FE Coders Pod, medium, Test Plan Approved

#15887 ci: Remove CodeBuild
  ci/1-client-scripts/3-build.sh
  ci/1-client-unit-tests.yml
  ci/1-server-scripts/1-install.sh
  ci/1-server-scripts/3-build.sh
  ci/1-server-unit-tests.yml
  ci/2-cypress.yml
  ci/2-scripts/1-install.sh
  ci/2-scripts/3-build.sh
  ci/3-publish.yml
  ci/3-scripts/3-build.sh
  ci/buildspec.yml
  ci/common/cleanup.sh
  ci/common/extra-env.sh
  ci/common/upload-logs.sh
Labels: skip-changelog, Skip Docs

#15769 feat: Change default label position of RTE to top
  app/client/src/widgets/RichTextEditorWidget/index.ts
Labels: Enhancement, Good First Issue, Rich Text Editor Widget, App Viewers Pod, Quick effort, Papercut

#14854 chore: Return custom slug in other api
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationPage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageNameIdDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
Labels: skip-changelog, New Developers Pod, Test Plan Approved

#15878 test: Script fix for Cypress Timeout - CI runs
  app/client/cypress.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/index.js
  app/client/cypress/support/timeout.js
Labels: skip-changelog, Test Plan Approved, Test

#15846 fix: select default value validation
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllWidgets_default_meta_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FieldEvents_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/TableFilter_Spec.ts
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.test.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.test.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: Bug, Select Widget, App Viewers Pod, Critical, High, Production, Release Blocker, Old App Issues

#15914 fix: design system package conflict with styled-component
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FieldEvents_spec.js
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, Design System Pod

#15881 fix: Make default DB compulsory in URI string format
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/utils/DatasourceUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/utils/MongoPluginUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/utils/MongoPluginUtilsTest.java
Labels: Bug, Backend, Datasources, High, community, Mongo, BE Coders Pod, Up for grabs, Test Plan Approved

#15676 feat: capture console from across the app
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/utils/AppsmithConsole.ts
  app/client/src/workers/DataTreeEvaluator/index.ts
  app/client/src/workers/UserLog.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluation.worker.ts
Labels: Enhancement, High, Debugger, FE Coders Pod

#15775 feat: Abort Query Execution
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/Abort_Action_Execution_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/queryCommands.js
  app/client/src/api/ActionAPI.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/Debugger/Resizer/index.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Enhancement, Frontend, API pane, Needs Triaging, Query Execution, BE Coders Pod, medium, Test Plan Approved

#15947 feat: JS toggle for icon property of Inputs
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/input.ts
  app/client/src/widgets/constants.ts
Labels: Enhancement, Good First Issue, App Viewers Pod, Icon Button Widget, medium

#15963 fix: rts version file moved to src
  app/client/cypress/tsconfig.json
  app/rts/src/server.ts
  app/rts/src/sockets/events.ts
  app/rts/src/version.js
Labels: Bug, skip-changelog, Test Plan Approved

#15861 feat: Making the error messages in amazon s3 plugin informative
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/AmazonS3ErrorUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/utils/AmazonS3ErrorUtilsTest.java
Labels: Enhancement, Backend, Low effort, S3, BE Coders Pod, medium, Test Plan Approved

#15831 chore: Grouping & Reorganisation for Select Widgets
  app/client/src/widgets/MultiSelectTreeWidget/index.ts
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/index.ts
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/index.ts
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/index.ts
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
Labels: Property Pane, UI Builders Pod, skip-changelog

#15706 chore: Grouping & reorganisation for Toggle widgets
  app/client/src/pages/Editor/PropertyPane/PanelPropertiesEditor.tsx
  app/client/src/widgets/ButtonGroupWidget/index.ts
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/index.ts
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/CheckboxWidget/index.ts
  app/client/src/widgets/CheckboxWidget/widget/index.tsx
  app/client/src/widgets/IconButtonWidget/index.ts
  app/client/src/widgets/IconButtonWidget/widget/index.tsx
  app/client/src/widgets/MenuButtonWidget/index.ts
  app/client/src/widgets/MenuButtonWidget/widget/index.tsx
  app/client/src/widgets/RadioGroupWidget/index.ts
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/SwitchGroupWidget/index.ts
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/SwitchWidget/index.ts
  app/client/src/widgets/SwitchWidget/widget/index.tsx
Labels: Property Pane, UI Builders Pod, skip-changelog

#16007 fix: unable to remove Icon on Input widget
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/input.ts
Labels: Bug, Property Pane, Needs Triaging, UI Builders Pod, Release Blocker

#16010 fix: RTS Docker image build error
  app/rts/Dockerfile
Labels: Bug

#15898 fix: Cell background colour not applied to new columns in table widget
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/General.ts
Labels: Bug, Table Widget, App Viewers Pod, Low, Production

#15841 test: Update workflows for upgrade scenarios
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test Plan Approved, Test

#15656 fix: navigation issue in the Iframe widget due to src change
  app/client/cypress/fixtures/IframeOnSrcDocChange.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Iframe/Iframe_onSrcDocChange_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Iframe/Iframe_spec.js
  app/client/src/widgets/IframeWidget/component/index.tsx
Labels: Bug, App Viewers Pod, High, Production, Needs Triaging, iFrame

#15917 test: Cypress version upgrade for timeout issue resolution
  app/client/cypress.json
  app/client/cypress/fixtures/buttonRecaptchaDsl.json
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/BindButton_Text_WithRecaptcha_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Table_Property_ToggleJs_With_Binding_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/ExecutionParams_spec.js
  app/client/cypress/plugins/index.js
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test Plan Approved, Test

#16003 test: updated default-meta fix
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllWidgets_default_meta_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#16022 fix: Removed the conflicting part with TED
  app/client/cypress/setup-test-fat.sh
Labels: skip-changelog, Test Plan Approved, Test

#15549 fix: Text getting clipped for Italic font in Table Widget V1
  app/client/cypress/support/timeout.js
  app/client/src/widgets/TableWidget/component/AutoToolTipComponent.tsx
Labels: Bug, Table Widget, Needs More Info, App Viewers Pod, Low, Release, regression, Papercut

#15991 chore: Update integration script to use performance testing code from private repo
  .github/workflows/integration-tests-command.yml
  app/client/perf/gen-summary.js
  app/client/perf/package.json
  app/client/perf/readme.md
  app/client/perf/src/ci/supabase.js
  app/client/perf/src/index.js
  app/client/perf/src/perf.js
  app/client/perf/src/summary.js
  app/client/perf/src/utils/system-cleanup.js
  app/client/perf/src/utils/utils.js
  app/client/perf/start-test.sh
  app/client/perf/tests/actions.js
  app/client/perf/tests/dsl/ImportTest.json
  app/client/perf/tests/dsl/blog-admin-app-mysql.json
  app/client/perf/tests/dsl/blog-admin-app-postgres.json
  app/client/perf/tests/dsl/simple-typing.js
  app/client/perf/tests/dsl/stress-select-widget.json
  app/client/perf/tests/golden-app.perf.js
  app/client/perf/tests/initial-setup.js
  app/client/perf/tests/sample-test.js
  app/client/perf/tests/select-widget.perf.js
  app/client/perf/yarn.lock
Labels: skip-changelog

#15537 fix: hide explorer menu on scroll
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Menu_spec.js
  app/client/src/components/editorComponents/Sidebar.tsx
  app/client/src/constants/Explorer.ts
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceStructure.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/pages/Editor/Explorer/TreeDropdown.tsx
  app/client/src/pages/Editor/Explorer/hooks.ts
Labels: Bug, UX Improvement, Entity Explorer, Production, Needs Triaging, New Developers Pod, medium

#16032 ci: Update the access token in ci script.
  .github/workflows/integration-tests-command.yml
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllWidgets_default_meta_spec.js
Labels: Performance, Task, skip-changelog, CI

#16058 ci: Update the access token in ci script
  .github/workflows/integration-tests-command.yml
Labels: Performance, Task

#15683 feat: added support for loaders / spinners in table component.
  app/client/src/components/ads/Table.tsx
Labels: Enhancement, Design System Pod, ABAC, Low, Needs Triaging, Task, Team Managers Pod, RBAC

#15957 feat: refactor invite modal UI
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/components/ads/Button.tsx
  app/client/src/components/ads/Callout.tsx
  app/client/src/components/ads/CalloutV2.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/TagInputComponent.tsx
  app/client/src/pages/Settings/DisconnectService.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
Labels: Enhancement, Task, Team Managers Pod, RBAC

#16033 feat: updated design system package to 1.0.13
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, Enhancement, Design System Pod

#15965 chore: integrate msw to browser to mock api requests
  app/client/package.json
  app/client/public/mockServiceWorker.js
  app/client/src/ce/mocks/handlers.ts
  app/client/src/ce/mocks/mockJsons/testMockApi.json
  app/client/src/ee/mocks/handlers.ts
  app/client/src/index.tsx
  app/client/src/mocks/browser.ts
Labels: Task, skip-changelog, Team Managers Pod

#16084 ci: Remove directory listing command from perf tests
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog

#16037 fix: undefined triggerpath dependency
  app/client/src/workers/DependencyMap/index.ts
Labels: Bug, JS, Critical, Stale, FE Coders Pod, Test Plan Approved

#16098 fix: provide analytics data for graphql plugin
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Enhancement, Backend, BE Coders Pod, GraphQL Plugin

#16056 fix: Show invalid page UI for invalid jsobject page
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug16047_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/ErrorReporting_spec.ts
  app/client/src/pages/Editor/JSEditor/index.tsx
Labels: Bug, Needs Triaging, JS Editor, FE Coders Pod, javascript, Test Plan Approved

#16090 fix: Set button type to prevent reload of page when clicked
  app/client/src/pages/Editor/JSEditor/utils.ts
Labels: Bug, Needs Triaging, JS Editor, FE Coders Pod, Test Plan Approved

#16109 ci: Change directory listing code
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog

#16092 fix: rts fat container docker image
  Dockerfile
Labels: Bug, Docker

#16015 fix: prevent children rerender in listwidget
  app/client/src/widgets/ListWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, Needs Triaging, UI Builders Pod, List Widget, UI Performance

#15638 chore: Grouping & reorganisation of Table Widget
  app/client/src/pages/Editor/PropertyPane/PanelPropertiesEditor.tsx
  app/client/src/widgets/TableWidgetV2/index.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Basic.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/General.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/index.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/styleConfig.ts
Labels: Property Pane, UI Builders Pod, skip-changelog

#16117 ci: Remove directory listing command from perf tests
  .github/workflows/integration-tests-command.yml
Labels: Performance, Task, skip-changelog

#16089 fix: TED run command updated
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/setup-test.sh
Labels: Bug, Test Plan Approved

#15546 fix: Reskinning Input Widgets
  app/client/cypress/support/commands.js
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/LabelWithTooltip.tsx
  app/client/src/components/wds/Checkbox/index.tsx
  app/client/src/theme/wds.css
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/src/widgets/CurrencyInputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/CurrencyInputWidget/component/index.tsx
  app/client/src/widgets/InputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/PhoneInputWidget/component/ISDCodeDropdown.tsx
Labels: Bug, Enhancement, Input Widget, App Viewers Pod, potential-duplicate, Currency Input Widget, Phone Input Widget

#16028 test: Automated test for JSObj OnPageLoad + flaky fixes + fix for timeout runs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Menu_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/CreateNewApp_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_tabledata_schema_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test Plan Approved, Test

#15856 feat: Select default value control
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Multiselect/MultiSelect4_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Select/Select_widget1_spec.js
  app/client/src/components/propertyControls/SelectDefaultValueControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: Bug, Enhancement, Select Widget, App Viewers Pod, Verified, potential-duplicate, Needs Triaging, MultiSelect Widget, medium

#16125 fix: Logging execute events again
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: skip-changelog

#16073 fix: search functionality in tree select
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Multiselect/Multi_Select_Tree_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Select/Single_Select_Tree_spec.js
  app/client/package.json
  app/client/src/widgets/JSONFormWidget/fields/MultiSelectField.tsx
  app/client/src/widgets/JSONFormWidget/helper.ts
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/useDropdown.tsx
  app/client/yarn.lock
Labels: Bug, UX Improvement, App Viewers Pod, Production, MultiTree Select Widget, TreeSelect, medium

#16138 test: Fixing http-proxy version
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test Plan Approved, Test

#16076 fix: old column names exists even after renamed columns
  app/client/src/components/formControls/DropDownControl.tsx
Labels: Bug, Critical, Query Execution, Google Sheets, BE Coders Pod, Test Plan Approved

#16106 chore: Modified action execution payload to support data types
  app/client/src/api/ActionAPI.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/workers/evaluationUtils.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ExecuteActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceCEImplTest.java
Labels: Enhancement, Backend, High, skip-changelog, BE Coders Pod, Test Plan Approved, Datatype issue

#16142 ci: Removing unused CI workflow files
  .github/workflows/TestReuseActions.yml
  .github/workflows/remove-old-artifacts.yml
  .github/workflows/test-build-docker-image-fat.yml
Labels: skip-changelog

#16034 fix: Fix template for MongoDB Raw command
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.ts
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/constants/QueryEditorConstants.ts
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Bug, Datasources, Task, BE Coders Pod, Test Plan Approved

#16162 fix: GraphQL plugin: remove duplicate warning message from action execution response
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/utils/GraphQLPaginationUtils.java
Labels: Bug, Backend, Needs Triaging, BE Coders Pod, GraphQL Plugin

#16088 chore: remove mockServiceWorker.js from build since its not needed in prod
  app/client/package.json
Labels: Task, skip-changelog, Team Managers Pod

#15999 fix: Autocomplete object value binding
  app/client/src/utils/autocomplete/TernServer.test.ts
  app/client/src/utils/autocomplete/TernServer.ts
Labels: Bug, App Viewers Pod, High, Production, Autocomplete, Query Editor, Needs Triaging, Checkbox Group widget, FE Coders Pod, BE Coders Pod, medium, Test Plan Approved

#15837 fix: Allow "spaces" in theme names while saving and display a more relevant error message
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/ThemePropertyPane/SaveThemeModal.tsx
Labels: Bug, Good First Issue, App Viewers Pod, Low, Papercut, App Theming

#15866 fix: Fix Encrypted Text alignment
  app/client/src/components/editorComponents/form/fields/StyledFormComponents.tsx
  app/client/src/pages/Editor/FormConfig.tsx
Labels: Bug, Datasources, Low, Needs Triaging, UI Builders Pod, S3, BE Coders Pod

#15857 fix: autocomplete fixes & enhancement
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Autocomplete/Autocomplete_JS_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_MultiSelect_Button_Text_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllInputWidgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllWidgets_default_meta_spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/constants/defs/browser.json
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/utils/autocomplete/AutocompleteSortRules.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/autocomplete/TernServer.ts
  app/client/src/utils/autocomplete/dataTreeTypeDefCreator.test.ts
  app/client/src/utils/autocomplete/dataTreeTypeDefCreator.ts
  app/client/src/utils/autocomplete/keywordCompletion.ts
Labels: Bug, Production, Autocomplete, Needs Triaging, FE Coders Pod, medium, Test Plan Approved

#16179 fix: ternserver code
  app/client/src/utils/autocomplete/TernServer.ts
Labels: Bug, Verified, skip-changelog, Test Plan Approved

#16194 fix: changed the download paths
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: Bug, skip-changelog, Test Plan Approved

#16195 fix: import of admin settings button
  app/client/src/pages/Settings/FormGroup/group.tsx
Labels: Bug, Team Managers Pod

#16134 chore: code split sagas and reducers for abac
  app/client/src/ce/reducers/aclReducer.ts
  app/client/src/ce/sagas/AclSagas.tsx
  app/client/src/ee/reducers/aclReducer.ts
  app/client/src/ee/sagas/AclSagas.tsx
  app/client/src/reducers/index.tsx
  app/client/src/sagas/index.tsx
Labels: Task, skip-changelog, Team Managers Pod

#16200 fix: a typo (conatiner -> container)
  .github/workflows/integration-tests-command.yml
Labels: Bug

#15376 fix: catch block not working in firefox and safari for async functions
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug15372_spec.ts
  app/client/src/sagas/EvaluationsSaga.ts
Labels: Bug, FE Coders Pod, Test Plan Approved

#15573 fix: Table Widget shows scrollbar when not in focus
  app/client/src/widgets/TableWidget/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableStyledWrappers.tsx
Labels: Bug, Enhancement, Table Widget, UI Improvement, UX Improvement, App Viewers Pod, Low

#15892 feat: Extraction of AST Logic
  app/client/src/pages/Editor/JSEditor/utils.ts
  app/client/src/workers/DependencyMap/utils.ts
  app/client/src/workers/JSObject/index.ts
  app/client/src/workers/Lint/utils.ts
  app/shared/ast/index.ts
  app/shared/ast/package.json
  app/shared/ast/rollup.config.js
  app/shared/ast/src/constants.ts
  app/shared/ast/src/index.test.ts
  app/shared/ast/src/index.ts
  app/shared/ast/src/jsObject/index.ts
  app/shared/ast/src/typings/unescape-js/index.d.ts
  app/shared/ast/src/utils.ts
  app/shared/ast/tsconfig.json
  app/shared/ast/yarn.lock
Labels: Enhancement, Frontend, Datasources, Query Execution, Epic, Task, BE Coders Pod, Test Plan Approved, AST

#16045 fix: Table widget pagesize in short row height mode
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/pagesize_spec.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Bug, App Viewers Pod, Needs Triaging, medium, Table Widget V2

#16232 fix: Series Title Custom Charts
  app/client/src/widgets/ChartWidget/component/index.tsx
Labels: Bug, Chart Widget, App Viewers Pod, High, Needs Triaging

#16130 feat: Add USA to the Map Chart Widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Others/MapChart_spec.js
  app/client/src/widgets/MapChartWidget/CustomMapConstants.ts
  app/client/src/widgets/MapChartWidget/component/index.tsx
  app/client/src/widgets/MapChartWidget/constants.ts
  app/client/src/widgets/MapChartWidget/widget/index.tsx
Labels: Enhancement, Good First Issue, App Viewers Pod, Map Chart Widget

#16173 feat: Select Reskinning
  app/client/src/theme/wds.css
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.styled.tsx
  app/client/src/widgets/SelectWidget/component/index.styled.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: Enhancement, Select Widget, App Viewers Pod, Low, MultiSelect Widget, MultiTree Select Widget, TreeSelect

#15952 fix: dataTree mutation
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/DataTree_Mutation_spec.ts
  app/client/src/workers/Actions.ts
  app/client/src/workers/evaluate.ts
Labels: Bug, High, Needs Triaging, FE Coders Pod, Evaluated Value, Test Plan Approved

#16121 feat: Added Vanuatu Vatu to currency list
  app/client/src/constants/Currency.tsx
Labels: Enhancement, App Viewers Pod

#16287 chore: refactor git constants
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/GitConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/GitDefaultCommitMessage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: skip-changelog

#16030 fix: useCanvasDragging should not be called in View mode.
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/MainContainer.test.tsx
  app/client/src/pages/common/CanvasArenas/CanvasSelectionArena.test.tsx
  app/client/src/widgets/ContainerWidget/widget/index.test.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/test/testCommon.ts
  app/client/test/testMockedWidgets.tsx
Labels: Bug, Performance, High, UI Builders Pod, Low effort, Task, UI Performance, Canvas / Grid

#16341 fix: Display community edition along with version
  .github/workflows/client-build.yml
  .github/workflows/github-release.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/designSystems/appsmith/help/DocumentationSearch.tsx
  app/client/src/pages/Home/LeftPaneBottomSection.tsx
  app/client/src/pages/common/MobileSidebar.tsx
Labels: Bug

#16346 ci: Moving server builds to Buildjet to confirm if it's faster and more reliable
  .github/workflows/build-rts.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/server.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#16289 test: Script updates for flaky fixes
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/StoreValue_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/LoadashBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/MomentBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/aTobAndbToaBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/AbortAction_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Autocomplete_JS_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/CatchBlock_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/DataTree_Mutation_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/InvalidURL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/JSParse_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Moment_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/ErrorReporting_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllInputWidgets_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/AllInputWidgets_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Chart/ChartDataPoint_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Multiselect/MultiSelect2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/TableBugs_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/TableFilter_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/table_with_text_no_2dArray_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/ExecuteAction_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Postgres_DataTypes/UUID_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/DSDocs_Spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/FakerHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test Plan Approved, Test

#16292 feat: Make headers sticky on Members page
  app/client/src/ce/pages/AdminSettings/index.tsx
  app/client/src/components/ads/CalloutV2.tsx
  app/client/src/components/ads/Table.tsx
  app/client/src/components/utils/helperComponents.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/pages/Settings/components.tsx
  app/client/src/pages/common/PageWrapper.tsx
  app/client/src/pages/workspace/Members.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: Enhancement, Team Managers Pod, RBAC

#16348 chore: refactor code split for UserUtils for super user creation
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/UserUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/UserSignupTest.java
Labels: skip-changelog, Test Plan Approved

#16351 fix: Super user updated from docker.env on every restart
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug, Deployment, Needs Triaging, Super Admin, DevOps Pod, Test Plan Approved

#16352 chore: Removing the Community/Business edition display for cloud hosting.
  app/client/src/ce/constants/messages.ts
  app/client/src/components/designSystems/appsmith/help/DocumentationSearch.tsx
  app/client/src/pages/Home/LeftPaneBottomSection.tsx
  app/client/src/pages/common/MobileSidebar.tsx
Labels: skip-changelog

#16203 test: Upgrade appsmith
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/UpgradeAppsmith/UpgradeAppsimth_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
Labels: skip-changelog, Test Plan Approved, Test

#16350 test: Script updates for flaky fixes
  app/client/cypress/integration/Smoke_TestSuite/Application/PgAdmin_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Widget_loading_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_CopyQuery_RenameDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Query_Datasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_MultiSelectWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/InputTruncateCheck_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/ArangoDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/DatasourceForm_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MongoDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MsSQLDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MySQLDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MySQLNoiseTest_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MySQL_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/PostgresDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RedshiftDataSourceStub_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/SMTPDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/ExecutionParams_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/UpgradeAppsmith/UpgradeAppsimth_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/dataSourceCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#16362 feat: Adding cache eviction for users whose permissions change due to super user changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CollectionUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
Labels: Bug, Enhancement, Deployment, QA, Needs Triaging, Super Admin, DevOps Pod, Test Plan Approved

#16363 fix: Hiding the add new button in new workspace created if user has app viewer access
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/common/PageWrapper.tsx
Labels: Bug, Settings, Home Page, regression, Needs Triaging, Team Managers Pod

#16383 fix: Added analytics event for workspace creation
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
Labels: Bug, Test Plan Approved

#16379 fix: Property pane dropdown for currency and phone input widgets.
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/CurrencyInput/CurrencyInput_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/PhoneInput/Phone_input_spec.js
  app/client/package.json
  app/client/src/components/propertyControls/DropDownControl.tsx
  app/client/yarn.lock
Labels: Bug, Property Pane, App Viewers Pod, High, Production, regression, Needs Triaging, UI Builders Pod, Release Blocker, Currency Input Widget, Phone Input Widget

#16409 fix: For a public app, do not export the default permission group
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Test Plan Approved

#16406 revert: "fix: dataTree mutation (#15952)"
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/DataTree_Mutation_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/src/workers/Actions.ts
  app/client/src/workers/DataTreeEvaluator/index.ts
  app/client/src/workers/evaluate.ts
Labels: Bug, Performance, High, Release, Needs Triaging, JS Editor, Release Blocker, FE Coders Pod

#16277 fix: replace action execution cancellation toast errors with a better one
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/AbortAction_Spec.ts
  app/client/src/api/ApiUtils.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, Low, Release, BE Coders Pod, REST API plugin, Test Plan Approved
