Repository appsmithorg/appsmith, pull requests merged in 2022-07, with the labels that each got.

#14811 test: Add visual tests for datasource page
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/AppPageLayout_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/WidgetsLayout_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/OAuthServiceValidation_spec.js
  app/client/cypress/locators/Omnibar.json
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/MongoDBActivetab.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/PostgresActivetab.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/apiSection.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/ctaButtons.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/databaseSection.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/emptydatasourcepage.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/mongoAuthenticationSection2.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/mongoConnectionSection2.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/mongoSSLSection2.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/postgresAuthenticationSection2.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/postgresConnectionSection2.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/postgresSSLSection2.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/DatasourcePageLayout_spec.js/sampleDatabasesSection.snap.png
  app/client/cypress/support/gitSync.js
Labels: Task, skip-changelog, Test Plan Approved, Test

#14847 fix: prevent temporary update of sub-path value in store object
  app/client/cypress/integration/Smoke_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/StoreValue_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/LoadashBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/MomentBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/aTobAndbToaBasic_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug14299_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/ChartDataPoint_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableBugs_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableFilter_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/workers/Actions.ts
Labels: Bug, Needs Triaging, FE Coders Pod, Test Plan Approved, storeValue

#14855 fix: Increase file size limit for templates
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
Labels: Bug, Pages, Critical, Needs Triaging, UI Builders Pod, New Developers Pod

#14576 fix: Update the default themes in app theming
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitWithTheming/GitWithTheming_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_Default_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_FormWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_MultiSelectWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Table_PropertyPane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/DataTypes/Character_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Mongo_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/EmptyApp.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/apppage.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/emptyAppBuilder.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout_spec.js/quickPageWizard.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/WidgetsLayout_spec.js/inlineDisabled.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/WidgetsLayout_spec.js/inlineEnabled.snap.png
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Theme.java
  app/server/appsmith-server/src/main/resources/system-themes.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/EmbeddedMongoConfig.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomThemeRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
Labels: Bug, Enhancement, App Viewers Pod, App Theming, medium

#14948 fix: Updates border radius and box shadow labels in widgets
  app/client/src/constants/ThemeConstants.tsx
Labels: Bug, QA, App Viewers Pod, Low, App Theming, medium

#14126 fix: remove debounce from RTE component
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/RichTextEditor_spec.js
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
Labels: Bug, Rich Text Editor Widget, App Viewers Pod, High, Low, Release, Needs Triaging, Epic

#14619 fix: throttle git status api
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, Enhancement, Performance, Git Version Control, Team Managers Pod, medium

#14672 chore: code cleanup - remove extra break
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/CameraWidget/widget/index.tsx
Labels: skip-changelog, Test Plan Approved

#14963 fix: pass remote url to ConflictInfo component
  app/client/src/pages/Editor/gitSync/components/GitErrorPopup.tsx
Labels: Bug, Needs Triaging, Git Version Control, Team Managers Pod, medium

#14933 fix: revert checkbox-group widget breaking UI issue
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
Labels: Bug

#14975 fix: Disabled state UI for JS toggle button
  app/client/src/components/ads/JSToggleButtonComponent.tsx
Labels: Bug, Property Pane, Release, regression, UI Builders Pod, Release Blocker

#14971 fix: Switched Google Sheets JSON to local directory
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/list.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/append.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/bulkAppend.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/bulkUpdate.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/create.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/deleteRow.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/fetch_many.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/get.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/info.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/insert.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/list.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/update.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PluginServiceCEImpl.java
Labels: Bug, Backend, Low effort, Task, UQI, Release Blocker, BE Coders Pod

#14733 fix: aws market place vulnerabilities
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/defaults/main.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/Debian-setup-docker.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-appsmith-runtime.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-init-config.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/templates/appsmith/scripts/first-time-setup.sh
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/templates/init-ssh.sh
Labels: Stale

#15035 fix: UQI UI alignment fixes
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/components/formControls/EntitySelectorControl.tsx
  app/client/src/components/formControls/PaginationControl.tsx
  app/client/src/components/formControls/SortingControl.tsx
  app/client/src/components/formControls/WhereClauseControl.tsx
Labels: Bug, Needs Triaging, UQI, BE Coders Pod, UQI components

#14558 feature: GraphQL pagination server side support
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/DataUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/DatasourceUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/HeaderUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/HintMessageUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/InitUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/SmartSubstitutionUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/TriggerUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/URIUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionConfiguration.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/PaginationType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/BasePlugin.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/BaseRestApiPluginExecutor.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/utils/GraphQLBodyUtils.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/utils/GraphQLConstants.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/utils/GraphQLHintMessageUtils.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/utils/GraphQLPaginationUtils.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/helpers/DataUtilsTest.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
Labels: Stale

#15037 test: Script fixes for failing cases due to UQI css changes
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug14299_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/JSEditorContextMenu_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableBugs_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableFilter_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
Labels: skip-changelog, Test Plan Approved, Test

#14979 fix: Prevent non populated labels from showing up in datasource page
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/AuthenticatedApiDatasource_spec.js
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
Labels: Bug, API pane, High, Low, Release, Needs Triaging, BE Coders Pod, Test Plan Approved

#14892 fix: JS toggle issue with Numeric Input & multi select dropdown controls
  app/client/src/components/propertyControls/DropDownControl.test.tsx
  app/client/src/components/propertyControls/DropDownControl.tsx
  app/client/src/components/propertyControls/NumericInputControl.test.ts
  app/client/src/components/propertyControls/NumericInputControl.tsx
Labels: Bug, File Picker Widget, Property Pane, App Viewers Pod, Low, Needs Triaging, UI Builders Pod

#14934 fix: show the error message for text input widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Input_MaxChar_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONFormWidget/JSONForm_FieldProperties_spec.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/ce/constants/messages.ts
  app/client/src/widgets/InputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/fields/BaseInputField.tsx
Labels: Bug, Input Widget, Needs More Info, App Viewers Pod, medium

#14866 fix: remove unnecessary re-renders on JS Object context menu in explorer
  app/client/src/pages/Editor/Explorer/JSActions/JSActionContextMenu.tsx
  app/client/src/pages/Editor/Explorer/JSActions/MoreJSActionsMenu.tsx
  app/client/src/pages/Editor/Explorer/JSActions/helpers.tsx
  app/client/src/selectors/editorSelectors.tsx
Labels: Bug, Performance, High, JS Editor, FE Coders Pod

#14782 fix: App crash on binding large base64 data to text widget
  app/client/src/widgets/TextWidget/widget/index.tsx
  app/client/src/workers/validations.ts
Labels: Bug, Performance, File Picker Widget, QA, App Viewers Pod, High

#14797 feat: appsmithctl backup error logging and mailer
  deploy/docker/utils/bin/backup.js
  deploy/docker/utils/bin/constants.js
  deploy/docker/utils/bin/logger.js
  deploy/docker/utils/bin/mailer.js
  deploy/docker/utils/bin/restore.js
  deploy/docker/utils/bin/utils.js
  deploy/docker/utils/package.json
Labels: Enhancement, Deployment, skip-changelog, DevOps Pod, Skip Docs

#14868 fix: resizer pushed into the propertypane
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
Labels: Bug, UX Improvement, Property Pane, High, Production, UI Builders Pod

#14873 fix: Saving values with special chars in env file
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
Labels: Bug, Deployment, High, Needs Triaging, DevOps Pod

#14764 fix: show empty pop when no result is found.
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/CurrencyInputDynamicCurrencyCode_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/PhoneInputDynamicValue_spec.js
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/widgets/CurrencyInputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/PhoneInputWidget/component/ISDCodeDropdown.tsx
Labels: Bug, App Viewers Pod, High, Production, Currency Input Widget, Phone Input Widget

#14800 chore: Refactor git api to include application id as request param instead of the path variable
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/Connection_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/DisconnectGit_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/Git_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/gitSync.js
  app/client/src/api/GitSyncAPI.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
Labels: Git Version Control, Task, skip-changelog, Team Managers Pod

#15048 fix: Transparent bg on app viewer header in comment mode
  app/client/src/pages/AppViewer/AppViewerHeader.tsx
Labels: Bug, App Viewers Pod, Needs Triaging

#14871 fix: JS function arguments determination & refactor JSObject code
  app/client/src/workers/DataTreeEvaluator/index.ts
  app/client/src/workers/DataTreeEvaluator/mockData/ArrayAccessorTree.ts
  app/client/src/workers/DataTreeEvaluator/mockData/NestedArrayAccessorTree.ts
  app/client/src/workers/DataTreeEvaluator/mockData/mockUnEvalTree.ts
  app/client/src/workers/DataTreeEvaluator/test.ts
  app/client/src/workers/JSObject/index.ts
  app/client/src/workers/JSObject/utils.ts
  app/client/src/workers/ast.test.ts
  app/client/src/workers/ast.ts
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, Needs Triaging, Task, JS Editor, FE Coders Pod, Test Plan Approved

#14996 ci: Design system label name fix
  .github/workflows/label-checker.yml
Labels: Bug, skip-changelog, CI

#15011 fix: reset line height and font weight for tab titles
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Datasources/Datasources_styles_spec.js
  app/client/src/components/ads/Tabs.tsx
Labels: Bug, Needs Triaging, UI Builders Pod, BE Coders Pod

#14980 feat: align tab counts with center to the tab name and added test id attribute for tab count
  app/client/src/components/ads/Tabs.tsx
Labels: Enhancement, Design System Pod

#14959 fix: switch datasource option list contains similar ds
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/SwitchDatasource_spec.js
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Frontend, BE Coders Pod, Up for grabs, Ready for design, Test Plan Approved

#15067 feat: fetch branch speific refs from the remote repo
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement, Git Version Control, Task, Team Managers Pod

#15023 fix: reset selectedFiles meta prop only on specific reason event
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/FilePickerV2_spec.js
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug, File Picker Widget, App Viewers Pod, High

#14613 test: Automate JSObject app in cypress and fix few flaky tests
  app/client/cypress.json
  app/client/cypress/fixtures/promisesStoreValueDsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/ImportExportForkApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Application/PromisesApp_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/DeleteBranch_spec.js
  app/client/cypress/support/queryCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#15020 fix: fixes google sheets datasource global search error
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/GlobalSearch_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/dataSourceCommands.js
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug, Critical, High, Production, Needs Triaging, Google Sheets, BE Coders Pod, Test Plan Approved

#14609 fix: clear search input on selection
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/MultiSelect_spec2.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Multi_Select_Tree_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Select_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Single_Select_Tree_spec.js
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
Labels: Bug, Select Widget, App Viewers Pod, Low, UI Builders Pod

#13812 fix: Outdated design for Rest API Editor
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/API_Styles_spec.js
  app/client/cypress/locators/ApiEditor.js
  app/client/cypress/support/dataSourceCommands.js
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/editorComponents/CodeEditor/BindingPrompt.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/globalStyles/CodemirrorHintStyles.ts
Labels: Bug, Task, BE Coders Pod, medium, Test Plan Approved

#14904 test: Added test for a bug
  app/client/cypress/fixtures/defaultMetadataDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_MultiSelect_Button_Text_spec.js
  app/client/cypress/locators/WidgetLocators.ts
Labels: skip-changelog, Test Plan Approved, Test

#15017 fix: collapse animation changed transition duration.
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
Labels: Bug, Good First Issue, UX Improvement, Property Pane, Low, UI Builders Pod

#15074 fix: query param seperator in signup url
  app/client/src/ce/pages/UserAuth/SignUp.tsx
Labels: Bug, Login / Signup, Critical, Production, Team Managers Pod, New Developers Pod

#14911 chore: update messaging for Deploy tab
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/pages/Editor/gitSync/components/DiscardChangesWarning.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.test.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
  app/client/src/pages/Editor/gitSync/utils.test.ts
  app/client/src/pages/Editor/gitSync/utils.ts
Labels: skip-changelog

#15053 fix: accept non-empty commit messages
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
Labels: Bug, Low, Low effort, Git Version Control, Team Managers Pod

#15060 feat: Add the Zipy identify call
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Enhancement, New Developers Pod

#15058 fix: Dropdown issues
  app/client/package.json
  app/client/src/widgets/MultiSelectTreeWidget/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/useDropdown.tsx
  app/client/yarn.lock
Labels: Bug, App Viewers Pod, Critical, Needs Triaging, UI Builders Pod, MultiSelect Widget

#15000 fix: initial selected value not getting displayed
  app/client/src/utils/PropertyControlFactory.tsx
Labels: Bug, Table Widget, Property Pane, App Viewers Pod, Low, UI Builders Pod

#15138 chore: add back button on individual authentication config pages
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/pages/Settings/components.tsx
Labels: Task, skip-changelog, Team Managers Pod

#15093 fix: modal and App viewer header overlap
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/widgets/ModalWidget/component/index.tsx
Labels: Bug, UX Improvement, Modal Widget, App Viewers Pod, Pages, UI Builders Pod, App Navigation, medium

#14784 feat: Add new field for the page meta data in templates
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationTemplate.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceTest.java
Labels: Enhancement, New Developers Pod

#15085 fix: Not able to right click on app home button in view mode
  app/client/src/pages/AppViewer/BackToHomeButton.tsx
Labels: Bug, App Viewers Pod, medium

#15151 fix: using old versions of marked
  app/client/package.json
  app/client/src/components/editorComponents/GlobalSearch/parseDocumentationContent.ts
  app/client/yarn.lock
Labels: Bug, Critical, Release, regression, Needs Triaging, New Developers Pod

#14545 fix: Added dropdown to select whether to send credentials in header or body in client credentials flow
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RestApiOAuth2AuthorizationCodeValidation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RestApiOAuth2ClientCredentialsValidation_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/commands.js
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuth2.java
  app/server/appsmith-plugins/restApiPlugin/pom.xml
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2ClientCredentials.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/connections/OAuth2ClientCredentialsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesWorkspaceClonerTests.java
Labels: Bug, High, BE Coders Pod, REST API plugin, Action form, Test Plan Approved

#15178 fix: curl import error
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug, Critical, BE Coders Pod, New Developers Pod, CURL

#15164 test: Automated tests for Postgres Datatype - Array type
  app/client/cypress/fixtures/ArrayDTdsl.json
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/DataTypes/Array_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/MySQL_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/GenerateCRUD/Postgres_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#13703 chore: Adds analytics for Property Pane keyboard navigation
  app/client/cypress/locators/Widgets.json
  app/client/src/components/ads/ButtonTabComponent.test.tsx
  app/client/src/components/ads/ButtonTabComponent.tsx
  app/client/src/components/ads/ColorPickerComponentV2.tsx
  app/client/src/components/ads/Dropdown.test.tsx
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/ads/StepComponent.test.tsx
  app/client/src/components/ads/StepComponent.tsx
  app/client/src/components/ads/Switch.tsx
  app/client/src/components/ads/TreeDropdown.test.tsx
  app/client/src/components/ads/TreeDropdown.tsx
  app/client/src/components/editorComponents/ActionCreator/Fields.tsx
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/propertyControls/ActionSelectorControl.tsx
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/components/propertyControls/BorderRadiusOptionsControl.tsx
  app/client/src/components/propertyControls/BoxShadowOptionsControl.tsx
  app/client/src/components/propertyControls/ButtonTabControl.tsx
  app/client/src/components/propertyControls/CodeEditorControl.tsx
  app/client/src/components/propertyControls/ColorPickerControl.tsx
  app/client/src/components/propertyControls/DropDownControl.tsx
  app/client/src/components/propertyControls/IconSelectControl.test.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/components/propertyControls/IconTabControl.tsx
  app/client/src/components/propertyControls/InputTextControl.tsx
  app/client/src/components/propertyControls/KeyValueComponent.tsx
  app/client/src/components/propertyControls/LabelAlignmentOptionsControl.tsx
  app/client/src/components/propertyControls/LocationSearchControl.tsx
  app/client/src/components/propertyControls/NumericInputControl.tsx
  app/client/src/components/propertyControls/OptionControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnDropdownControl.tsx
  app/client/src/components/propertyControls/StepControl.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/components/propertyControls/SwitchControl.tsx
  app/client/src/components/utils/TreeStructure.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneConnections.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/AppsmithUtils.tsx
  app/client/src/utils/PropertyControlRegistry.tsx
  app/client/src/utils/hooks/useDSEvent.ts
  app/client/src/utils/hooks/useInteractionAnalyticsEvent.ts
Labels: UI Builders Pod, Task, skip-changelog

#15168 fix: add anchor tag behaviours to edit/launch buttons in applications dasboard
  app/client/src/pages/Applications/ApplicationCard.tsx
Labels: Bug, New Developers Pod

#15182 chore: Added script to run Appsmith branches locally
  scripts/local_testing.sh
Labels: Task, skip-changelog, BE Coders Pod

#14908 feat: add support for anonymous user
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/ce/PolicyGeneratorCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/PermissionGroup.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/PolicyUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/UserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/WorkspaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/SeedMongoData.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceUnitTest.java
Labels: Enhancement

#15115 test: Add tests for bugs and fix flaky cypress tests
  app/client/cypress/integration/Smoke_TestSuite/Application/ImportExportForkApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ApiTests/CurlImportFlow_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/gitSync.js
Labels: skip-changelog, Test Plan Approved, Test

#15049 Feat: RBAC new workspace members
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ModelMapperConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/WorkspaceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Workspace.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PermissionGroupInfoDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UpdatePermissionGroupDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserAndPermissionGroupDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/events/AbstractCommentEvent.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/events/CommentAddedEvent.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/events/CommentThreadClosedEvent.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/PermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PermissionGroupServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserWorkspaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/WorkspaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EmailEventHandlerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ShareWorkspacePermissionTests.java
Labels: Stale

#15215 fix: added default value for switch view type
  app/client/src/components/formControls/utils.test.ts
  app/client/src/components/formControls/utils.ts
Labels: Bug, High, Google Sheets, BE Coders Pod, Test Plan Approved

#14992 fix: Update maincanvas height on widget resize, drag or delete operation
  app/client/cypress/fixtures/longCanvasDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/WidgetCanvas_spec.js
  app/client/src/constants/AppConstants.ts
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
  app/client/src/widgets/CanvasWidget.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: Bug, High, UI Builders Pod

#15124 feat: update dependencies (bot-alerts)
  app/client/package.json
  app/client/src/components/editorComponents/GlobalSearch/parseDocumentationContent.ts
  app/client/yarn.lock
  app/rts/package.json
  app/rts/yarn.lock
Labels: Enhancement, Dependencies, UI Builders Pod, Task

#14962 fix: JSObject AST parsing logic
  app/client/src/workers/ast.ts
Labels: Bug, Task, FE Coders Pod, Test Plan Approved

#15235 fix: UI alignment for key value arrays
  app/client/src/pages/Editor/FormConfig.tsx
Labels: Bug, Datasources, Needs Triaging, BE Coders Pod, UQI components, Test Plan Approved

#14738 feat: filter error messages from hidden widgets
  app/client/src/selectors/debuggerSelectors.test.ts
  app/client/src/selectors/debuggerSelectors.tsx
Labels: Enhancement, Debugger, JS Linting & Errors, FE Coders Pod, New Developers Pod, medium

#15241 fix: break branch creation text, fix text casing
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
Labels: Bug, UI Improvement, Low, Git Version Control, Task, Team Managers Pod

#15240 fix: show conflict info properly
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.tsx
Labels: Bug, Low, Needs Triaging, Git Version Control, Team Managers Pod

#13735 chore: Upgrade dependencies reported by Dependabot
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/MustacheHelperTest.java
  app/server/appsmith-plugins/arangoDBPlugin/pom.xml
  app/server/appsmith-plugins/dynamoPlugin/pom.xml
  app/server/appsmith-plugins/dynamoPlugin/src/test/java/com/external/plugins/DynamoPluginTest.java
  app/server/appsmith-plugins/elasticSearchPlugin/pom.xml
  app/server/appsmith-plugins/firestorePlugin/pom.xml
  app/server/appsmith-plugins/googleSheetsPlugin/pom.xml
  app/server/appsmith-plugins/jsPlugin/pom.xml
  app/server/appsmith-plugins/mongoPlugin/pom.xml
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/pom.xml
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/postgresPlugin/pom.xml
  app/server/appsmith-plugins/rapidApiPlugin/pom.xml
  app/server/appsmith-plugins/redisPlugin/pom.xml
  app/server/appsmith-plugins/restApiPlugin/pom.xml
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/helpers/BodyReceiver.java
  app/server/appsmith-plugins/saasPlugin/pom.xml
  app/server/appsmith-plugins/saasPlugin/src/main/java/com/external/helpers/BodyReceiver.java
  app/server/appsmith-plugins/smtpPlugin/pom.xml
  app/server/appsmith-plugins/snowflakePlugin/pom.xml
  app/server/appsmith-plugins/snowflakePlugin/src/test/java/com/external/plugins/SnowflakePluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppSmithErrorWebExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
  app/server/build.sh
  app/server/pom.xml
Labels: skip-changelog, Stale, Skip Docs, Test Plan Approved

#15272 fix: query forms which require evaluation shows loading
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Datasources/Datasources_styles_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Create_Mongo_query_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/locators/explorerlocators.json
  app/client/cypress/support/dataSourceCommands.js
  app/client/src/sagas/FormEvaluationSaga.ts
Labels: Bug, Entity Explorer, Low, Needs Triaging, Mongo, BE Coders Pod, New Developers Pod

#15314 fix: Log users out to fix serialization error from upgrading Spring
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug

#15281 fix: query creation via shortcut
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
Labels: Bug, Entity Explorer, Low, Release, Query Editor, Needs Triaging, Mongo, Release Blocker, BE Coders Pod, New Developers Pod

#15311 chore: Adding the appsmithctl command to estimate the bill for an existing Appsmith user
  deploy/docker/utils/bin/estimate_billing.js
  deploy/docker/utils/bin/index.js
  deploy/docker/utils/bin/utils.js
  deploy/docker/utils/package-lock.json
  deploy/docker/utils/package.json
Labels: skip-changelog, Test Plan Approved

#15239 fix: Unwanted width calculation in Dropdown
  app/client/src/components/ads/Dropdown.tsx
  app/client/test/setup.ts
Labels: Bug, Performance, UI Builders Pod

#15068 fix: Tooltip for long names in Entity Explorer
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Datasource_Structure_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Long_Name_Tooltip_spec.js
  app/client/cypress/support/WorkspaceCommands.js
  app/client/cypress/tsconfig.json
  app/client/package.json
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/yarn.lock
Labels: Bug, Good First Issue, Entity Explorer, Low, IDE, New Developers Pod

#14958 fix: error showing in currency input
  app/client/cypress/fixtures/CurrencyInputIssueExport.json
  app/client/cypress/integration/Smoke_TestSuite/Application/CurrencyInputIssue_Spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_InputWidget_TableV2_Sorting_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_InputWidget_Table_Sorting_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/CurrencyInput_spec.js
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/commands.js
  app/client/src/widgets/CurrencyInputWidget/widget/derived.js
Labels: Bug, App Viewers Pod, High, Currency Input Widget

#14964 fix: reload default page on discard
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Modal_spec.js
  app/client/cypress/support/gitSync.js
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, Release, Needs Triaging, Git Version Control, Team Managers Pod, medium

#15233 fix: cell background for edit actions column in Table v2
  app/client/cypress/fixtures/tableV2NewDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Color_spec.js
  app/client/src/components/ads/DraggableList.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControlV2.tsx
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/EditActionsCell.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Styles.ts
Labels: Bug, Table Widget, App Viewers Pod, High, Needs Triaging, Deploy Preview, Release Blocker, Table Widget V2

#15277 feat: Update the table widget to v2 in suggested widget list
  app/client/cypress/fixtures/addWidgetTable-mock.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_JSObject_Postgress_Table_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidgetTableAndBind_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/AddWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/locators/QueryEditor.json
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/General.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/WidgetType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/WidgetSuggestionHelper.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Bug, Enhancement, Table Widget, UI Improvement, App Viewers Pod, Low, Needs Triaging, Task, Release Blocker, Table Widget V2

#13222 feat: Auto-indent JS code in the editor
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/WidgetGrouping_spec.js
  app/client/cypress/plugins/index.js
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjAfterGoLineStartSmart5.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify1.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify2.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify3.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify4.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify4_1.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify6.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify7.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjBeforeGoLineStartSmart5.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify1.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify2.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify3.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify4.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify6.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify7.snap.png
  app/client/public/tinymce/tinymce.min.js
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/ads/TreeDropdown.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/utils/autoIndentUtils.ts
  app/client/src/components/editorComponents/CodeEditor/utils/cursorLeftMovement.ts
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/pages/Editor/Explorer/JSActions/MoreJSActionsMenu.tsx
  app/client/src/pages/Editor/Explorer/TreeDropdown.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/pages/Editor/JSEditor/JSFunctionRun.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/helpers.tsx
  app/client/src/utils/replayHelpers.tsx
Labels: Bug, Enhancement, UI Improvement, UX Improvement, Low, Production, JS Editor, FE Coders Pod, V1, Test Plan Approved

#15322 fix: Fix method name for Redis cleaning migration
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: skip-changelog, Skip Docs

#14767 fix: api auth fails displays error on view mode now
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug, Good First Issue, Frontend, High, Query Editor, Needs Triaging, Low effort, Stale, BE Coders Pod, REST API plugin, Up for grabs, Test Plan Approved

#15205 fix: JSONForm default array item not deletable when default value initialized with undefined
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONFormWidget/JSONForm_ArrayField_spec.js
  app/client/src/widgets/JSONFormWidget/fields/ArrayField.tsx
Labels: Bug, App Viewers Pod, JSON Form, medium

#13676 fix: Improve CodeMirror rendering performance using idleCallback
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_TableTextPagination_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JS_Toggle_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/TriggerErrors_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Widget_Error_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Autocomplete_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Button/Button_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Chart_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Datepicker/DatePicker1_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Datepicker/DatePickerV2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Dropdown/Dropdown_onOptionChange_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Form/FormWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/Table_Button_Icon_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/Table_PropertyPane_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV1/Table_Widget_Add_button_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Params/ExecutionParams_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/components/editorComponents/LazyCodeEditorWrapper/index.layout.tsx
  app/client/src/components/editorComponents/LazyCodeEditorWrapper/index.tsx
  app/client/src/components/propertyControls/ChartDataControl.tsx
  app/client/src/components/propertyControls/CodeEditorControl.tsx
  app/client/src/components/propertyControls/ComputeTablePropertyControl.tsx
  app/client/src/components/propertyControls/InputTextControl.tsx
  app/client/src/components/propertyControls/JSONFormComputeControl.tsx
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
Labels: Bug, Performance, Property Pane, UI Builders Pod, Task

#14158 feat: migrate from org to workspace under phase 3
  app/client/cypress/integration/Smoke_TestSuite/Application/ImportExportForkApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Application/ReconnectDatasource_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/ExportApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/CreateAppWithSameNameInWorkspace_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/CreateSameAppInDiffWorkspace_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/DeleteWorkspace_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/LeaveWorkspaceTest_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/MemberRoles_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/ShareAppTests_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/UpdateWorkspaceTests_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/WorkspaceImportApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/WorkspaceSettings_validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/WorkspaceUserIconTest_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/WorkspaceTests/Workspacename_validation_spec.js
  app/client/cypress/locators/HomePage.js
  app/client/cypress/manual_TestSuite/Workspace_Name_Spec.js
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/WorkspaceCommands.js
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/constants/forms.ts
  app/client/src/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/mockResponses/ApplicationsNewMockResponse.json
  app/client/src/mockResponses/CreateWorkspaceMockResponse.json
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/common/CustomizedDropdown/WorkspaceDropdownData.tsx
  app/client/src/pages/workspace/General.tsx
  app/client/src/pages/workspace/__tests__/WorkspaceSettingsForm.test.tsx
  app/client/src/pages/workspace/index.tsx
  app/client/src/sagas/PluginSagas.ts
  app/client/src/sagas/WorkspaceSagas.ts
  app/client/src/sagas/userSagas.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/test/resources/test_assets/ActionCollectionServiceTest/mockObjects.json
  app/server/scripts/node/README.md
  appsmith_templates.md
  deploy/aws_ami/README.md
  deploy/template/mongo-init.js.sh
Labels: Enhancement, potential-duplicate, Task, Team Managers Pod

#15217 fix: changed the marker(default) value string to number
  app/client/src/widgets/MapWidget/component/index.tsx
Labels: Bug, Map Widget, App Viewers Pod, High, Release, regression, Reopen

#15259 feat: prevent secrets to be pushed to repo
  app/client/package.json
  contributions/CodeContributionsGuidelines.md
Labels: Enhancement, DevOps Pod, Test Plan Approved

#14348 fix: fix race condition on datasource creation
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/CheckPostgresConnOnPageLoad_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
Labels: Bug, Datasources, Critical, High, Needs Triaging, Query Execution, Stale, BE Coders Pod, Postgres, Test Plan Approved

#15262 chore: typescript build error
  app/client/src/components/editorComponents/GlobalSearch/parseDocumentationContent.ts
Labels: skip-changelog

#15255 fix: App deploying when git push fails
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, Critical, High, community, Needs Triaging, Git Version Control, Team Managers Pod

#15005 feat: add hostname to log file
  deploy/docker/templates/supervisord/application_process/backend.conf
  deploy/docker/templates/supervisord/application_process/editor.conf
  deploy/docker/templates/supervisord/application_process/rts.conf
Labels: Bug, Enhancement, Low, Needs Triaging, New Developers Pod, K8s, DevOps Pod

#15348 feat: Control where embedding of Appsmith is allowed
  deploy/docker/scripts/run-nginx.sh
  deploy/docker/templates/docker.env.sh
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Enhancement

#15350 docs: update discord link on readme and remove old image files
  API.png
  Query.png
  README.md
Labels: skip-changelog

#15033 chore: JSON Form Grouping & Reorganisation
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/Generator.tsx
  app/client/src/pages/Editor/PropertyPane/PanelPropertiesEditor.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneGenerator.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTab.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
  app/client/src/pages/Editor/PropertyPaneTitle.tsx
  app/client/src/widgets/JSONFormWidget/index.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/generatePanelPropertyConfig.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/helper.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/array.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/checkbox.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/common.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/date.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/input.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/multiSelect.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/radioGroup.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/select.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/switch.ts
Labels: UI Builders Pod

#14719 fix: Added support for self signed certificate during OAuth2 flows
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/RestApiDatasource_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/commands.js
  app/client/src/components/formControls/CheckboxControl.tsx
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/SSLHelper.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuth2.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/APIConnection.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/APIConnectionFactory.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2AuthorizationCode.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2ClientCredentials.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/connections/OAuth2ClientCredentialsTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesWorkspaceClonerTests.java
Labels: Bug, High, community, BE Coders Pod, OAuth

#14942 feat: Add API to get sample apps related to a template
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
Labels: Enhancement, New Developers Pod

#15098 fix: Improve lint error reporting
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/ErrorReporting_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/lint.ts
Labels: Bug, Enhancement, High, Low, Needs Triaging, JS Editor, JS Linting & Errors, FE Coders Pod, Test Plan Approved, Add/Update Test Plan

#14730 feat: Expose message event details for Iframe Widget
  app/client/cypress/fixtures/IframeDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Iframe_spec.js
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/IframeWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, High, community, iFrame

#15302 fix: Compact property not functional for menu type in table widget v2
  app/client/src/widgets/TableWidgetV2/component/cellComponents/menuButtonTableComponent.tsx
Labels: Bug, Table Widget, App Viewers Pod, Release, Needs Triaging, medium

#14944 chore: Refactor dependency Map code
  app/client/src/workers/DataTreeEvaluator/index.ts
  app/client/src/workers/DataTreeEvaluator/test.ts
  app/client/src/workers/DependencyMap/index.ts
  app/client/src/workers/DependencyMap/utils.ts
  app/client/src/workers/evaluationUtils.ts
Labels: skip-changelog, Refactor, FE Coders Pod, Test Plan Approved

#15378 chore: Fixing bug where the Mongo DB URL wasn't being picked up by the billing script
  deploy/docker/utils/bin/estimate_billing.js
Labels: skip-changelog, Test Plan Approved

#15015 feat: Triggerpath dependency
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/linting_spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/workers/Actions.test.ts
  app/client/src/workers/Actions.ts
  app/client/src/workers/DataTreeEvaluator/index.ts
  app/client/src/workers/DataTreeEvaluator/mockData/mockUnEvalTree.ts
  app/client/src/workers/DataTreeEvaluator/test.ts
  app/client/src/workers/DependencyMap/index.ts
  app/client/src/workers/DependencyMap/utils.ts
  app/client/src/workers/Lint/index.ts
  app/client/src/workers/Lint/utils.ts
  app/client/src/workers/PromisifyAction.test.ts
  app/client/src/workers/PromisifyAction.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, Enhancement, High, JS Linting & Errors, FE Coders Pod, Test Plan Approved

#14997 fix: Fix `isset` command not found
  deploy/docker/scripts/run-java.sh
Labels: Bug, Stale

#15410 feat: migrate texts and error messages from organization to workspace
  app/client/src/ce/constants/messages.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AppsmithRole.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/email/inviteExistingUserToWorkspaceTemplate.html
  app/server/appsmith-server/src/main/resources/email/inviteUserCreatorTemplate.html
  app/server/appsmith-server/src/main/resources/email/updateRoleExistingUserTemplate.html
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-page-added.json
Labels: Bug, Enhancement, Release, Needs Triaging, Team Managers Pod, RBAC

#15437 test: Fix flaky cypress tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Create_Mongo_query_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Iframe_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ThemingTests/Theme_FormWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Custom_Chart_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#15419 test: Update documentation URLs used in tests
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/pages/Editor/gitSync/utils.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: skip-changelog, Test Plan Approved, Test

#15363 chore: Deprecation warning for comments
  app/client/cypress.json
  app/client/src/comments/AppComments/AppComments.tsx
  app/client/src/notifications/NotificationsList.tsx
  app/client/src/pages/Editor/ToggleModeButton.tsx
  app/server/appsmith-server/src/main/resources/email/commentAddedTemplate.html
Labels: Task, Realtime Commenting, skip-changelog, Team Managers Pod

#15450 fix: Converted ApplicationForkingServiceTests to synchronous
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: Bug, Test Plan Approved

#14957 fix: Add migration to fix deleted themes when branch was deleted
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug, Critical, Needs Triaging, Git Version Control, Team Managers Pod, Test Plan Approved

#15468 chore: Fixing flaky test in ApplicationForkingServiceTests
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: Bug, skip-changelog, Test Plan Approved

#15309 fix: updated marked to the latest version
  app/client/package.json
  app/client/src/components/editorComponents/GlobalSearch/parseDocumentationContent.ts
  app/client/yarn.lock
Labels: Bug, Dependencies, UI Builders Pod, Task

#15202 fix: set default on reset of The Tab widget
  app/client/cypress/fixtures/tabsWidgetReset.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Tab_reset_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Tab_spec.js
  app/client/src/widgets/TabsWidget/widget/index.tsx
Labels: Bug, UX Improvement, Tab Widget, App Viewers Pod, Production, Needs Triaging, Widget Validation, Widget Property

#15245 chore: Upgrade astring version from v1.7.5 to v1.8.3
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug15283_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Linting/ErrorReporting_spec.ts
  app/client/src/workers/ast.ts
  app/client/yarn.lock
Labels: Bug, Needs Triaging, skip-changelog, JS Linting & Errors, FE Coders Pod, Test Plan Approved

#15323 chore: fix cannot read properties of null (reading 'id') sentry error
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/entities/Engine/index.ts
  app/client/src/sagas/InitSagas.ts
Labels: Bug, skip-changelog, New Developers Pod

#15480 chore: NPE issue while copying in git-theming migration
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug, skip-changelog

#15446 fix: onboarding visual distraction from the entity explorer being hidden
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
  app/client/src/sagas/OnboardingSagas.ts
Labels: Bug, Needs Triaging, Onboarding, New Developers Pod

#15408 feat: Added missing analytics events and extra data
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/LogoutSuccessHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/LogoutSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: Enhancement, Task, skip-changelog, Test Plan Approved, Audit Logs

#15232 fix: show clear input icon on allow clear value
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Tree_Select_spec.js
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/component/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, Low, UI Builders Pod, TreeSelect

#15440 chore: Better server logging infra
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/BaseException.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionConfiguration.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/arangoDBPlugin/src/main/java/com/external/plugins/ArangoDBPlugin.java
  app/server/appsmith-plugins/dynamoPlugin/src/main/java/com/external/plugins/DynamoPlugin.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/rapidApiPlugin/src/main/java/com/external/plugins/RapidApiPlugin.java
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/plugins/RedisPlugin.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/plugins/RedshiftPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/connections/OAuth2ClientCredentials.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com/external/plugins/SmtpPlugin.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MDCConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/MDCFilter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/MDCConfigTest.java
Labels: Bug, High, skip-changelog, BE Coders Pod, Test Plan Approved

#15069 chore: Added analytics for C, U, D operations on actions
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CrudService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MockDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/MockDataServiceTest.java
Labels: Task, skip-changelog, BE Coders Pod

#15324 fix: remove appsmith from widget entity dropdown
  app/client/src/components/editorComponents/Debugger/helpers.tsx
Labels: Bug, Low, Release, regression, Needs Triaging, UI Builders Pod

#15497 feat: Update API calls from roles to permission groups
  app/client/cypress/support/commands.js
  app/client/src/actions/workspaceActions.ts
  app/client/src/api/ApplicationApi.tsx
  app/client/src/api/WorkspaceApi.ts
  app/client/src/ce/selectors/workspaceSelectors.tsx
  app/client/src/components/ads/TableDropdown.tsx
  app/client/src/components/editorComponents/form/fields/DropdownWrapper.tsx
  app/client/src/constants/workspaceConstants.ts
  app/client/src/mockResponses/ApplicationsNewMockResponse.json
  app/client/src/pages/common/SharedUserList.tsx
  app/client/src/pages/workspace/Members.tsx
  app/client/src/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/workspace/helpers.ts
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/reducers/uiReducers/workspaceReducer.ts
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/sagas/userSagas.tsx
Labels: Team Managers Pod

#15458 fix: fix query failure on simultaneous execution of multiple queries
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
  app/server/appsmith-plugins/redshiftPlugin/pom.xml
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/plugins/RedshiftPlugin.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/utils/RedshiftDatasourceUtils.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/redshiftPlugin/src/test/java/com/external/plugins/RedshiftPluginTest.java
Labels: Bug, High, community, Needs Triaging, Redshift, BE Coders Pod, Test Plan Approved

#15203 feat: appsmithctl auto-backup and cleanup
  Dockerfile
  deploy/docker/utils/bin/backup.js
  deploy/docker/utils/bin/constants.js
  deploy/docker/utils/bin/utils.js
  deploy/docker/watchtower-hooks/pre-check.sh
  deploy/docker/watchtower-hooks/pre-update.sh
Labels: Enhancement, Stale, DevOps Pod

#14416 feat: Annotation based Caching library similar to spring's Cacheable with WebFlux support
  app/server/pom.xml
  app/server/reactive-caching/pom.xml
  app/server/reactive-caching/src/main/java/com/appsmith/caching/annotations/Cache.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/annotations/CacheEvict.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/aspects/CacheAspect.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/components/CacheManager.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/components/RedisCacheManagerImpl.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/model/CacheStats.java
  app/server/reactive-caching/src/test/java/com/appsmith/caching/CacheApplication.java
  app/server/reactive-caching/src/test/java/com/appsmith/caching/configuration/RedisTestContainerConfig.java
  app/server/reactive-caching/src/test/java/com/appsmith/caching/model/ArgumentModel.java
  app/server/reactive-caching/src/test/java/com/appsmith/caching/model/NestedModel.java
  app/server/reactive-caching/src/test/java/com/appsmith/caching/model/ParentModel.java
  app/server/reactive-caching/src/test/java/com/appsmith/caching/model/TestModel.java
  app/server/reactive-caching/src/test/java/com/appsmith/caching/service/CacheTestService.java
  app/server/reactive-caching/src/test/java/com/appsmith/caching/test/TestCachingMethods.java
Labels: Enhancement, Team Managers Pod

#15505 chore: Added isMock and isTemplate to action execution analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Query Execution, Task, skip-changelog, BE Coders Pod, Integration

#15508 test: fix git cypress tests
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Create_Mongo_query_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/Git_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/Merge_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/gitSync.js
Labels: skip-changelog, Test Plan Approved, Test

#15470 fix: Added type static hierarchy to allow compatible types
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/services/FilterDataServiceTest.java
Labels: Bug, Critical, Needs Triaging, Google Sheets, BE Coders Pod

#15316 fix: JSONForm input field REGEX validation
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONFormWidget/JSONForm_FieldProperties_spec.js
  app/client/src/components/propertyControls/JSONFormComputeControl.tsx
Labels: Bug, App Viewers Pod, High, Widget Validation, Form Validation, JSON Form

#15183 fix: filePicker widget re-skinning
  app/client/cypress/fixtures/filePickerV2WidgetReskinDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/FilePickerV2_Widget_Reskinning_spec.js
  app/client/src/globalStyles/WidgetGlobalStyles.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug, File Picker Widget, App Viewers Pod

#15499 fix: ssh url validation to include a few cases where `-` is present in the url
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
Labels: Bug, High, Needs Triaging, Git Version Control, Team Managers Pod

#15534 fix: Fix potential delay in sending setup completion
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Bug, skip-changelog, Skip Docs

#15512 feat: members page new design CE changes
  app/client/src/ce/constants/messages.ts
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/utils/HighlightText.test.tsx
  app/client/src/components/utils/HighlightText.tsx
  app/client/src/components/utils/helperComponents.tsx
  app/client/src/pages/workspace/Members.tsx
  app/client/src/pages/workspace/SettingsPageHeader.tsx
  app/client/src/pages/workspace/__tests__/SettingsPageHeader.test.tsx
  app/client/src/pages/workspace/__tests__/settings.test.tsx
  app/client/src/pages/workspace/helpers.ts
  app/client/src/pages/workspace/settings.tsx
Labels: ABAC, Team Managers Pod

#15530 fix: fix self cyclic dep error in GraphQL plugin
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
Labels: Bug, Backend, Needs Triaging, BE Coders Pod, GraphQL Plugin

#15343 chore: Closing resources to ensure there are no memory leaks
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/utils/ExecutionUtils.java
Labels: Stale, Test Plan Approved

#15550 chore: Fixed flaky ApplicationForkingServiceTests
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#15411 chore: Update ClientSetup.md
  contributions/ClientSetup.md
Labels: skip-changelog, Test Plan Approved

#15368 feat: JSON Session serialization on Redis
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/RedisConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserSession.java
Labels: Enhancement, Needs Triaging, Skip Docs
