Repository appsmithorg/appsmith, pull requests merged in 2022-01, with the labels that each got.

#9464 fix: change recaptcha key and type and add suggestion for recaptchaToken
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Autocomplete_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Button_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/components/constants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/migrations/ButtonWidgetMigrations.ts
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/index.ts
  app/client/src/widgets/ButtonWidget/widget/index.tsx
  app/client/src/widgets/FormButtonWidget/index.ts
  app/client/src/widgets/FormButtonWidget/widget/index.tsx
  app/client/src/widgets/FormWidget/index.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#10103 fix: Unable to add comment to public apps
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CommentServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CommentServiceTest.java
Labels: Bug

#9918 fix: sync branch issues
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug

#10097 fix: Cherry pick cert renewal fixes
  deploy/docker/scripts/renew-certificate.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: skip-changelog

#10135 chore: Remove Project Labeler
  .github/project-labeler.yml
  .github/workflows/project-labeler.yml
Labels: skip-changelog

#9820 feat: #4141 added truncate support into text widget
  app/client/cypress/fixtures/textNewDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Text_truncate_spec.js
  app/client/src/widgets/TextWidget/component/index.tsx
  app/client/src/widgets/TextWidget/index.ts
  app/client/src/widgets/TextWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod

#10104 fix: clear action data on page switch
  app/client/src/reducers/entityReducers/actionsReducer.tsx
Labels: Bug

#10117 fix: Merge and pull branch analytics NPE
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug

#10075 fix: remove unnecessary spaces from the active datasource page for consistent page scroll
  app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx
Labels: Bug

#10050 feat: Add app import utility and perform the initial setup on CI
  .gitignore
  app/client/perf/package.json
  app/client/perf/src/index.js
  app/client/perf/src/perf.js
  app/client/perf/src/summary.js
  app/client/perf/src/utils/utils.js
  app/client/perf/start-test.sh
  app/client/perf/tests/dsl/ImportTest.json
  app/client/perf/tests/dsl/simple-typing.js
  app/client/perf/tests/import-application.perf.js
  app/client/perf/tests/initial-setup.js
  app/client/perf/tests/typing.perf.js
  app/client/perf/yarn.lock
Labels: Enhancement

#10101 fix: remove duplicate query params in evaluated value
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ApiPaneTests/API_Edit_spec.js
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/transformers/RestActionTransformer.ts
Labels: Bug

#10102 fix: improve slash command conditional
  app/client/src/components/editorComponents/CodeEditor/BindingPromptHelper.ts
Labels: Bug

#10045 fix: added focus styling for switches in property pane
  app/client/src/components/ads/Switch.tsx
Labels: Bug, UI Builders Pod

#8549 fix: Show image control only if either of image or default image exists
  app/client/src/widgets/ImageWidget/component/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10153 feat: Add config to disable the form login
  app/client/docker/templates/nginx-app-http.conf.template
  app/client/docker/templates/nginx-app-https.conf.template
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/public/index.html
  app/client/src/configs/index.ts
  app/client/src/configs/types.ts
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
Labels: Enhancement

#8693 feat: support iframe.srcdoc in iframe widget
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/widgets/IframeWidget/component/index.tsx
  app/client/src/widgets/IframeWidget/constants.ts
  app/client/src/widgets/IframeWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod

#10149 fix: run button loading infinitely due to entity update start action
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug, Critical

#9378 fix: Select widget if set to required on initial state has red border
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Widget_Popup_spec.js
  app/client/src/widgets/DropdownWidget/component/index.tsx
  app/client/src/widgets/DropdownWidget/widget/index.tsx
Labels: Bug

#9775 feat: Feat/uqi sorting component
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/designSystems/appsmith/Dropdown.tsx
  app/client/src/components/editorComponents/form/fields/DropdownField.tsx
  app/client/src/components/formControls/SortingControl.tsx
  app/client/src/utils/FormControlRegistry.tsx
Labels: Enhancement

#10188 test: Updates to YAML file for TS cypress tests inclusion
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test

#10074 fix: Fixed error due to string to instant serialization
  app/server/appsmith-server/src/main/java/com/appsmith/server/converters/GsonISOStringToInstantConverter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionCollectionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/converters/GsonISOStringToInstantConverterTest.java
Labels: Bug

#10156 test: added tests for upload of different file types
  app/client/cypress/fixtures/filepickerDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FilePicker_with_fileTypes_spec.js
  app/client/cypress/locators/commonlocators.json
Labels: skip-changelog, Test

#10189 fix: run button loading infinitely due to query update when final and initial value remains same
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug

#10190 fix: The date data in ISO 8601 format is throwing Invalid date on table widget
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod

#9129 feat: Git import - generate and save SSH Keys
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitDeployKeys.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitDeployKeyGenerator.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/GitDeployKeysRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement, Test

#10192 feat: Connect drop down to redux state to fetch options dynamically
  app/client/src/components/formControls/DropDownControl.tsx
Labels: Enhancement

#10121 fix: added min width to wrap long page names
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/PagesEditor/ContextMenu.tsx
  app/client/src/pages/Editor/PagesEditor/EditName.tsx
Labels: Bug, UI Builders Pod

#9437 feat: Moving form evaluations to separate thread (8051)
  app/client/src/actions/evaluationActions.ts
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/reducers/evaluationReducers/formEvaluationReducer.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/selectors/formSelectors.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/formEval.ts
Labels: Enhancement

#10202 test: added tests for import, export and fork application
  app/client/cypress/fixtures/exportedApp.json
  app/client/cypress/fixtures/forkedApp.json
  app/client/cypress/integration/Smoke_TestSuite/Application/ImportExportForkApplication_spec.js
Labels: skip-changelog, Test

#10214 fix: action.run signature check
  app/client/src/workers/Actions.test.ts
  app/client/src/workers/Actions.ts
Labels: Bug

#10036 chore: Don't take client cancellation for git flows into account to keep the repo and DB in sane state
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitCloudServicesUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: skip-changelog

#10215 feat: Add enable/disable functionality to form components
  app/client/src/components/editorComponents/form/fields/DynamicTextField.tsx
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/components/formControls/FilePickerControl.tsx
  app/client/src/components/formControls/FixedKeyInputControl.tsx
  app/client/src/components/formControls/SwitchControl.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/reducers/evaluationReducers/formEvaluationReducer.ts
  app/client/src/workers/formEval.ts
Labels: Enhancement

#10137 test: Automated tests for RestApi Bug in Typescript
  app/client/cypress.json
  app/client/cypress/fixtures/onPageLoadActionsDsl.json
  app/client/cypress/index.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/TableWidgets_NavigateTo_Validation_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Typescript/LayoutOnLoadActions/OnLoadActionsSpec.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/pageObjects/AggregateHelper.ts
  app/client/cypress/support/pageObjects/ApiPage.ts
  app/client/cypress/tsconfig.json
Labels: skip-changelog, Test

#10218 chore: Skip bad table migration version 47
  app/client/src/utils/DSLMigrations.ts
Labels: Bug

#10141 fix: 9870 merge button visible condition
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/MergeStatus.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug

#10221 chore: Fixing client build because of unused variable
  app/client/src/utils/DSLMigrations.ts
Labels: skip-changelog

#10147 fix: fetch js collections after page clone
  app/client/src/sagas/PageSagas.tsx
Labels: Bug

#9905 feat: analytics events related to git sync flows (FE)
  app/client/src/api/ApplicationApi.tsx
  app/client/src/pages/Applications/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/components/DeployedKeyUI.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings/index.tsx
  app/client/src/pages/Editor/gitSync/hooks.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Enhancement

#6929 feat: Map Chart widget
  app/client/cypress/fixtures/MapChartDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/MapChart_spec.js
  app/client/cypress/locators/ViewWidgets.json
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
  app/client/package.json
  app/client/src/assets/icons/widget/map-chart.svg
  app/client/src/constants/HelpConstants.ts
  app/client/src/icons/WidgetIcons.tsx
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/MapChartWidget/CustomMapConstants.ts
  app/client/src/widgets/MapChartWidget/component/index.tsx
  app/client/src/widgets/MapChartWidget/constants.ts
  app/client/src/widgets/MapChartWidget/icon.svg
  app/client/src/widgets/MapChartWidget/index.ts
  app/client/src/widgets/MapChartWidget/widget/index.tsx
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, UI Building Pod

#10146 fix: S3 CRUD upload 2nd time, name undefined issue (#9922)
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: Bug, QA

#10224 fix: url action execution order for actions on page load
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
Labels: Bug

#10249 chore: Add env variable for git filesystem in CI
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#10254 fix: downloaded file gets corrupted when base64 string is used in download action
  app/client/src/sagas/ActionExecution/DownloadActionSaga.ts
  app/client/src/sagas/ActionExecution/downloadActionUtils.ts
Labels: Bug

#10223 test: Automated tests for JSObjects in Typescript
  app/client/cypress/index.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_JSObject_List_Widget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/Entity_Explorer_JSEditor_spec.js
  app/client/cypress/integration/Smoke_TestSuite/Typescript/Binding/JSObject_To_ListWidgetSpec.ts
  app/client/cypress/integration/Smoke_TestSuite/Typescript/JSEditor/ContextMenuSpec.ts
  app/client/cypress/integration/Smoke_TestSuite/Typescript/LayoutOnLoadActions/OnLoadActionsSpec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/pageObjects/AggregateHelper.ts
Labels: skip-changelog, Test

#10229 fix: filter menu not opening in snippet search
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GlobalSearch/GlobalSearch_spec.js
  app/client/cypress/locators/GlobalSearch.json
  app/client/src/components/editorComponents/GlobalSearch/SnippetsFilter.tsx
Labels: Bug

#10173 fix: ssh to http url conversion
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug

#10248 revert: "fix: S3 CRUD upload 2nd time, name undefined issue (#9922)"
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: skip-changelog

#10080 chore: Set MongoDB Key permissions everytime
  deploy/docker/entrypoint.sh
Labels: skip-changelog

#10257 feat: Mongo plugin: add `limit` field to `aggregate` command to allow users to define `batchSize`
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/Aggregate.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/constants/FieldName.java
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/aggregate.json
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: Enhancement

#10021 fix: long status code text ellipsized
  app/client/src/components/editorComponents/ApiResponseView.tsx
Labels: Bug

#10281 fix: Update crud template
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: Bug

#10181 fix: Inconsistency propertypane
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_GeneralProperty_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Text_new_feature_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_DragAndDropWidget_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/TextWidget_BgColor_TextSize_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/Container_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/List_spec.js
  app/client/cypress/locators/Widgets.json
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/ListWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TextWidget/widget/index.tsx
Labels: Bug

#10264 fix: alignment issues in dropdown component of ads
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GoogleSheetForm.tsx
Labels: Bug

#10295 chore: Add migration to update indexes for DB collection to include branchName param
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#10220 chore: Make sure to keep forked application in valid state even if client exits the flow before server responds
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: skip-changelog

#10301 test: Autocomplete not working for Appsmith specific JS APIs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/Autocomplete_spec.js
Labels: skip-changelog, Test

#8744 feat: Checkbox group should have a select all option
  app/client/cypress/fixtures/checkboxgroupDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/CheckboxGroup_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/constants.ts
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/CheckboxWidget/component/index.tsx
Labels: Enhancement, App Viewers Pod

#10310 chore: Re-run the fakeapi DB migration
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#10252 fix: fix page load action execution order
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Bug

#10178 test: removing failure threshold
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout.spec.js/EmptyApp.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout.spec.js/Profile.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/LayoutValidation/AppPageLayout.spec.js/loginpage.snap.png
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#8630 feat: Tab widget should have navigation arrows when the tabs don't fit
  app/client/cypress/fixtures/layoutdsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/LayoutWidgets/Tab_spec.js
  app/client/src/assets/icons/widget/tabs/scroll-nav-left.svg
  app/client/src/assets/icons/widget/tabs/scroll-nav-right.svg
  app/client/src/widgets/TabsWidget/component/index.tsx
  app/client/src/widgets/TabsWidget/constants.ts
  app/client/src/widgets/TabsWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod

#10307 fix: Change SSH key generation protocol for git
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitDeployKeyGenerator.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
Labels: Bug

#10313 fix: Fixed encoding for all requests in Google Sheets
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/AppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/BulkAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/BulkUpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/ClearMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/CopyMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/CreateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/DeleteRowMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/DeleteSheetMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/UpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
Labels: Bug

#10288 test: Automated tests for Promises in Typescript + failure fixes
  app/client/cypress/fixtures/FlowerVase.jpeg
  app/client/cypress/fixtures/formInputTableDsl.json
  app/client/cypress/fixtures/promisesBtn.json
  app/client/cypress/fixtures/promisesBtnImg.json
  app/client/cypress/fixtures/promisesBtnList.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_JSObject_Widgets.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObject_To_ListWidgetSpec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/PromisesSpec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FilePicker_with_fileTypes_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/ExplorerTests/EditorContextMenuSpec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/LayoutOnLoadActions/OnLoadActionsSpec.ts
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/commands.js
  app/client/package.json
Labels: skip-changelog, Test

#8773 feat: Add Jest Test for propertyPaneConfiguration validation
  app/client/cypress/fixtures/testdata.json
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/testPropertyPaneConfig.test.ts
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
  app/client/src/widgets/DatePickerWidget/widget/index.tsx
  app/client/src/widgets/DividerWidget/widget/index.tsx
  app/client/src/widgets/FormButtonWidget/widget/index.tsx
  app/client/src/widgets/ProgressBarWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Enhancement, UI Building Pod, UI Builders Pod

#8919 fix: implement getStructure method for S3 plugin
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/S3_Spec.js
  app/client/cypress/support/commands.js
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/Explorer/Datasources/QueryTemplates.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStructure.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/constants/FieldName.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/TemplateUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/read.json
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/constants/FieldName.java
Labels: Bug, Stale

#10376 fix: App crashes when a modal has a filepicker?
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug

#10324 feat: 5701 dynamic value fetch for forms
  app/client/src/api/PluginApi.ts
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/reducers/evaluationReducers/formEvaluationReducer.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/workers/formEval.ts
Labels: Enhancement

#10334 fix: Cannot delete current branch
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug

#10326 fix: extended min date limit to last 150 years
  app/client/src/components/propertyControls/DatePickerControl.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10022 fix: minor git sync fixes
  app/client/src/actions/applicationActions.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.tsx
  app/client/src/pages/Editor/gitSync/components/GitSyncError.tsx
  app/client/src/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug

#10380 fix: App crashes when a modal has a filepicker? (#10376)
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug

#10328 fix: Datasource alignment is broken under the active tab
  app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx
Labels: Bug

#10345 feat: Add page slug in the get pages API
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageNameIdDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
Labels: Enhancement

#9054 feat: Reflow and Resize while Dragging and Resizing widgets.
  app/client/cypress/support/commands.js
  app/client/src/actions/pageActions.tsx
  app/client/src/actions/reflowActions.ts
  app/client/src/assets/icons/menu/beta.svg
  app/client/src/comments/CommentsShowcaseCarousel/CommentsCarouselModal.tsx
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/components/editorComponents/ResizableUtils.tsx
  app/client/src/constants/CanvasEditorConstants.tsx
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/globalStyles/popover.ts
  app/client/src/pages/Editor/MainContainer.test.tsx
  app/client/src/pages/Editor/MainContainerLayoutControl.tsx
  app/client/src/pages/common/CanvasDraggingArena.tsx
  app/client/src/pages/common/CanvasSelectionArena.tsx
  app/client/src/reducers/index.tsx
  app/client/src/reducers/uiReducers/index.tsx
  app/client/src/reducers/uiReducers/reflowReducer.ts
  app/client/src/reflow/index.ts
  app/client/src/reflow/reflowHelpers.ts
  app/client/src/reflow/reflowTypes.ts
  app/client/src/reflow/reflowUtils.ts
  app/client/src/reflow/tests/reflowUtils.test.js
  app/client/src/resizable/resize/index.tsx
  app/client/src/resizable/resizenreflow/index.tsx
  app/client/src/sagas/DraggingCanvasSagas.ts
  app/client/src/sagas/ReflowSagas.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/index.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/selectors/widgetReflowSelectors.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/hooks/useBlocksToBeDraggedOnCanvas.ts
  app/client/src/utils/hooks/useCanvasDragging.ts
  app/client/src/utils/hooks/useReflow.ts
  app/client/src/utils/reflowHookUtils.ts
  app/client/src/utils/storage.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/DividerWidget/widget/index.test.tsx
  app/client/src/widgets/DropdownWidget/widget/index.test.tsx
  app/client/src/widgets/ModalWidget/component/index.tsx
Labels: Enhancement

#10395 chore: Fix path to http nginx config file
  app/client/Dockerfile
Labels: skip-changelog

#10316 chore: Removing trailing slash from application API endpoint.
  app/client/cypress/support/commands.js
  app/client/src/api/ApplicationApi.tsx
Labels: skip-changelog

#10355 fix: Fix for import curl when app is connected to git
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/RestApiImportControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CurlImporterServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PostmanImporterServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApiImporterCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/BaseApiImporterCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PostmanImporterServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
Labels: Bug

#10323 fix: Widget pane not closing when switching from canvas
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
Labels: Bug

#10322 fix: revert this.params solution
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluate.test.ts
  app/client/src/workers/evaluate.ts
  app/client/src/workers/validations.ts
Labels: Bug

#9657 feat: Support OAuth for all plugin types
  app/client/src/actions/datasourceActions.ts
  app/client/src/api/CloudServicesApi.ts
  app/client/src/api/OAuthApi.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/common/datasourceAuth/DefaultAuth.tsx
  app/client/src/pages/common/datasourceAuth/OAuth.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/form.json
Labels: Enhancement

#10411 fix: Where clause UI fixes (10406)
  app/client/src/components/editorComponents/form/fields/StyledFormComponents.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/components/formControls/FilePickerControl.tsx
  app/client/src/components/formControls/FixedKeyInputControl.tsx
  app/client/src/components/formControls/InputTextControl.tsx
  app/client/src/components/formControls/KeyValueArrayControl.tsx
  app/client/src/components/formControls/KeyValueInputControl.tsx
  app/client/src/components/formControls/PaginationControl.tsx
  app/client/src/components/formControls/WhereClauseControl.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
Labels: Bug

#10294 feat: projection selector component
  app/client/src/components/ads/Dropdown.tsx
  app/client/src/components/formControls/ProjectionSelectorControl.tsx
  app/client/src/utils/FormControlRegistry.tsx
Labels: Enhancement

#10393 chore: Use CDN for plugin icons
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#10356 fix: When all the rows are hidden the user must not be displayed with number of records or pages in the Deploy mode
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod

#10423 test: Adding fix for Table_widget_add_button spec's test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Widget_Add_button_spec.js
Labels: skip-changelog, Test

#10426 fix: App crashes when a modal has a filepicker?
  app/client/src/widgets/FilepickerWidget/widget/index.tsx
Labels: Bug

#10400 feat: 5705 entity selector component
  app/client/src/components/ads/Icon.tsx
  app/client/src/components/formControls/EntitySelectorControl.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/utils/FormControlRegistry.tsx
  app/client/src/workers/formEval.ts
Labels: Enhancement

#10403 fix: Signposting intro modal UI issue
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
Labels: Bug

#10262 fix: added loading state for chart widget
  app/client/cypress/fixtures/ChartLoadingDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Chart_Widget_Loading_spec.js
  app/client/src/widgets/ChartWidget/component/index.tsx
  app/client/src/widgets/ChartWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#10433 fix: Fixes UI inconsistencies on the app
  app/client/src/components/ads/TreeDropdown.tsx
  app/client/src/pages/Editor/QueryEditor/TemplateMenu.tsx
Labels: Bug

#10365 feat: Displays validation errors corresponding to a particular form control.
  app/client/src/pages/Editor/FormControl.tsx
Labels: Enhancement

#10244 feat: Added Circular progress Widget
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/autocomplete/EntityDefinitions.ts
  app/client/src/utils/autocomplete/dataTypeSortRules.ts
  app/client/src/widgets/CircularProgressWidget/component/index.tsx
  app/client/src/widgets/CircularProgressWidget/constants.ts
  app/client/src/widgets/CircularProgressWidget/icon.svg
  app/client/src/widgets/CircularProgressWidget/index.ts
  app/client/src/widgets/CircularProgressWidget/widget/index.tsx
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod

#10462 test: Adding fix for Chart_Widget_Loading_spec
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Chart_Widget_Loading_spec.js
Labels: skip-changelog, Test

#10454 fix: Gracefully handle defaultResourceIds exception
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionViewDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ResponseUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ResponseUtilsTest.java
  app/server/appsmith-server/src/test/resources/test_assets/ResponseUtilsTest/mockObjects.json
Labels: Bug, skip-changelog

#10430 feat: Remove action and actionCollection ids during export application
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Enhancement, skip-changelog

#10440 fix: changed height calc for embeded app page
  app/client/src/pages/AppViewer/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10409 test: Automated mongoDB app with CRUD operations
  app/client/cypress/fixtures/mongoAppdsl.json
  app/client/cypress/integration/Smoke_TestSuite/Application/MongoDBShoppingCart_spec.js
  app/client/cypress/locators/PgAdminlocators.json
Labels: skip-changelog, Test

#10353 fix: datepicker derived property condition updates
  app/client/src/widgets/DatePickerWidget2/widget/derived.js
Labels: Bug, App Viewers Pod, UI Building Pod, Platform Pod

#10477 test: Skipping JSObjectToListWidgetSpec.ts until open bug fix
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObject_To_ListWidgetSpec.ts
Labels: skip-changelog, Test

#10455 fix: Fix clone JSObject issue and race condition for delete action when trying to delete page with JSObject
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesOrganizationClonerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
Labels: Bug

#10325 feat: Add documentation URL alongwith the error response to offer more info about the exception
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/AppsmithBotAsset.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/ErrorDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Assets.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ErrorReferenceDocUrl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithException.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitDeployKeyGenerator.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement, skip-changelog

#10435 fix: Google Sheet Bulk Insert, overwrites existing rows
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/BulkAppendMethod.java
Labels: Bug

#10481 chore: Reflow Info Card
  app/client/src/actions/reflowActions.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/constants/messages.ts
  app/client/src/pages/Editor/MainContainerLayoutControl.tsx
  app/client/src/pages/Editor/ReflowBetaCard.tsx
  app/client/src/reducers/uiReducers/reflowReducer.ts
  app/client/src/sagas/ReflowSagas.ts
  app/client/src/selectors/widgetReflowSelectors.tsx
  app/client/src/utils/storage.ts
Labels: UI Building Pod, UI Builders Pod, skip-changelog

#10338 fix: currentItem showing error in debugger for list widgets
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/DSLMigrationsUtils.test.ts
  app/client/src/widgets/ListWidget/index.ts
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug

#10461 chore: S3 Template
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
Labels: QA, skip-changelog

#10518 fix: Use the authorName as committer to avoid the inconsistency with name
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
Labels: Bug

#10523 fix: Fix 10463 js object cloning issue
  app/client/src/actions/jsActionActions.ts
  app/client/src/api/JSActionAPI.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionContextMenu.tsx
  app/client/src/pages/Editor/Explorer/JSActions/MoreJSActionsMenu.tsx
  app/client/src/sagas/JSActionSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionCollectionMoveDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
Labels: Bug

#10349 fix: Default resources for actions within collections
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: Bug

#10449 fix: page settings invoking onClick on drag
  app/client/src/pages/Editor/PagesEditor/PageListItem.tsx
  app/client/yarn.lock
Labels: Bug

#10427 chore: react spring upgrade
  app/client/package.json
  app/client/src/comments/AppComments/AppCommentThreadsContainer.tsx
  app/client/src/components/ads/DraggableList.tsx
  app/client/src/components/ads/ScrollIndicator.tsx
  app/client/src/components/ads/ShowcaseCarousel.tsx
  app/client/src/resizable/resize/index.tsx
  app/client/src/resizable/resizenreflow/index.tsx
  app/client/yarn.lock
Labels: UI Building Pod, UI Builders Pod, UI Performance, skip-changelog

#10498 fix: handle no color as transperant
  app/client/src/widgets/DividerWidget/component/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10488 fix: Fixing unwanted GRID_DENSITY_MIGRATION_V1 based configs.
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/utils/WidgetRegistry.tsx
  app/client/src/utils/testPropertyPaneConfig.test.ts
  app/client/src/widgets/AudioRecorderWidget/index.ts
  app/client/src/widgets/AudioWidget/index.tsx
  app/client/src/widgets/ButtonGroupWidget/index.ts
  app/client/src/widgets/ButtonWidget/index.ts
  app/client/src/widgets/CameraWidget/index.ts
  app/client/src/widgets/ChartWidget/index.ts
  app/client/src/widgets/CheckboxGroupWidget/index.ts
  app/client/src/widgets/CircularProgressWidget/index.ts
  app/client/src/widgets/ContainerWidget/index.ts
  app/client/src/widgets/DatePickerWidget/index.ts
  app/client/src/widgets/DatePickerWidget2/index.ts
  app/client/src/widgets/DividerWidget/index.ts
  app/client/src/widgets/DocumentViewerWidget/index.ts
  app/client/src/widgets/DropdownWidget/index.ts
  app/client/src/widgets/FilePickerWidgetV2/index.ts
  app/client/src/widgets/FilepickerWidget/index.ts
  app/client/src/widgets/FormButtonWidget/index.ts
  app/client/src/widgets/FormWidget/index.ts
  app/client/src/widgets/IconButtonWidget/index.ts
  app/client/src/widgets/IconWidget/index.ts
  app/client/src/widgets/IframeWidget/index.ts
  app/client/src/widgets/ImageWidget/index.ts
  app/client/src/widgets/InputWidget/index.ts
  app/client/src/widgets/ListWidget/index.ts
  app/client/src/widgets/MapChartWidget/index.ts
  app/client/src/widgets/MapWidget/index.ts
  app/client/src/widgets/MenuButtonWidget/index.ts
  app/client/src/widgets/ModalWidget/index.ts
  app/client/src/widgets/MultiSelectTreeWidget/index.ts
  app/client/src/widgets/MultiSelectWidget/index.ts
  app/client/src/widgets/ProgressBarWidget/index.ts
  app/client/src/widgets/RadioGroupWidget/index.ts
  app/client/src/widgets/RateWidget/index.ts
  app/client/src/widgets/RichTextEditorWidget/index.ts
  app/client/src/widgets/SingleSelectTreeWidget/index.ts
  app/client/src/widgets/SkeletonWidget.tsx
  app/client/src/widgets/StatboxWidget/index.ts
  app/client/src/widgets/SwitchGroupWidget/index.ts
  app/client/src/widgets/SwitchWidget/index.ts
  app/client/src/widgets/TableWidget/index.ts
  app/client/src/widgets/TabsWidget/index.ts
  app/client/src/widgets/TextWidget/index.ts
  app/client/src/widgets/VideoWidget/index.ts
Labels: Bug, App Viewers Pod, UI Builders Pod

#10535 fix: Remove private widgets from autocompletion
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/evaluationUtils.test.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug

#10543 fix: Reflow onboarding typo fix
  app/client/src/constants/messages.ts
Labels: Bug, UI Building Pod, UI Builders Pod, skip-changelog

#10605 fix: 10502-Space in Google Sheet name
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/AppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/BulkAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/BulkUpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/ClearMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/CopyMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/CreateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/DeleteRowMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/DeleteSheetMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/UpdateMethod.java
Labels: Bug

#10610 fix: hover highlight for menu item
  app/client/src/components/ads/TreeDropdown.tsx
Labels: Bug

#10383 fix: table column name migration update
  app/client/cypress/fixtures/basicNumberDataTableDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Number_column_spec.js
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/DSLMigrationsUtils.test.ts
  app/client/src/utils/migrations/TableWidget.test.ts
  app/client/src/utils/migrations/TableWidget.ts
Labels: Bug, App Viewers Pod, UI Building Pod

#10350 fix: Unable to login if oauth email is in uppercase
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOAuth2UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOidcUserServiceCEImpl.java
Labels: Bug

#10594 fix: Incorrect member list sorting on user roles
  app/client/src/components/ads/TableDropdown.tsx
Labels: Bug

#10570 feat: Add code hints for JS promises in JS Object editor
  app/client/src/utils/JSPaneUtils.tsx
Labels: skip-changelog

#10571 test: Table Download test
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/DisplayWidgets/Table_Download_validation_spec.js
Labels: skip-changelog, Test

#10619 test: commented Ts tests
  app/client/cypress.json
Labels: skip-changelog, Test

#9983 feat: Sliding Canvas for Dragging and Selection
  app/client/cypress/locators/explorerlocators.json
  app/client/src/actions/canvasSelectionActions.ts
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/components/editorComponents/DropTargetUtils.ts
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/components/editorComponents/ResizableUtils.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/MainContainer.test.tsx
  app/client/src/pages/common/CanvasArenas/CanvasDraggingArena.tsx
  app/client/src/pages/common/CanvasArenas/CanvasMultiPointerArena.tsx
  app/client/src/pages/common/CanvasArenas/CanvasSelectionArena.test.tsx
  app/client/src/pages/common/CanvasArenas/CanvasSelectionArena.tsx
  app/client/src/pages/common/CanvasArenas/StickyCanvasArena.tsx
  app/client/src/pages/common/CanvasArenas/hooks/useBlocksToBeDraggedOnCanvas.ts
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragToScroll.ts
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/reducers/uiReducers/canvasSelectionReducer.ts
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/sagas/CanvasSagas/SelectionCanvasSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/index.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/test/sagas.ts
  app/client/test/setup.ts
Labels: Enhancement

#10417 fix: Use CDN for all assets
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/server/appsmith-git/src/main/resources/gitInitializeRepo/GitConnect-Initialize-Repo-Template
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Assets.java
  app/server/appsmith-server/src/main/resources/email/commentAddedTemplate.html
  app/util/plugin-generation/plop-templates/database-changelog.hbs
Labels: Bug

#10020 fix: changed validation to FUNCTION for the default selected value RadioGroupWidget
  app/client/cypress/fixtures/radioGroup_int_value_dsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/RadioGroup_Int_Value_spec.js
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/RadioGroupWidget/widget/propertyPaneConfig.test.ts
Labels: Bug

#10478 feat: Add logic to sync the repo if the path is not updated in env file
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Enhancement

#10574 fix: make query params visible in various flows when saved in REST API datasource
  app/server/appsmith-plugins/restApiPlugin/src/main/resources/form.json
Labels: Bug

#10321 fix: Active datasource page flashes to user upon clicking the Save DataSource Button.
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug

#10638 fix: Bugfix for curl import in the child branch when application is connected to git
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
Labels: Bug

#10636 fix: Removed tracking on Sentry for unsupported plugin operation
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/pluginExceptions/AppsmithPluginError.java
  app/server/appsmith-plugins/saasPlugin/src/main/java/com/external/plugins/SaasPlugin.java
Labels: Bug

#10658 chore: Update mongo indexes to improve the query performance
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog.java
Labels: skip-changelog

#10282 feat: Git import api
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitDeployKeys.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitImportDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/DefaultResourcesUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitDeployKeyGenerator.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement

#10647 fix: Logic to delete stale git branch which are not in db
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug

#10479 fix: updated closeOnSelection default value, onDateSelected logic update
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/index.ts
  app/client/src/widgets/DatePickerWidget2/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10620 feat: Add reference doc url for error responses for git APIs
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/ErrorReferenceDocUrl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/MergeStatusDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement, skip-changelog

#10629 fix: RTE required field
  app/client/cypress/fixtures/formWithRTEDsl.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FormWidget_With_RichTextEditor_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
Labels: Bug, App Viewers Pod

#10553 fix: Memoized the Form Control Component reducing unwanted re-rendering
  app/client/src/pages/Editor/FormControl.tsx
  app/client/src/pages/Editor/QueryEditor/helpers.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/selectors/formSelectors.ts
Labels: Enhancement

#10586 chore: remove defaultSelectedFiles
  app/client/cypress/fixtures/filepickerDsl.json
  app/client/src/widgets/FilePickerWidgetV2/index.ts
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/FilepickerWidget/index.ts
  app/client/src/widgets/FilepickerWidget/widget/index.tsx
Labels: skip-changelog

#10457 feat: Validations for Action Forms
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ActionExecution/ExecutionParams_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/Bind_TableTextPagination_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Binding/JSObject_To_ListWidgetSpec.ts
  app/client/cypress/locators/ModalWidget.json
  app/client/cypress/locators/publishWidgetspage.json
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/reducers/index.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
  app/client/src/workers/validations.ts
Labels: Enhancement

#10670 fix: broken list widget
  app/client/src/widgets/ListWidget/widget/index.tsx
Labels: Bug

#10487 fix: #10428 styling support in popup
  app/client/src/widgets/TextWidget/component/index.tsx
Labels: Bug, App Viewers Pod

#10573 fix: icon button remove default green
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/IconButtonWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Building Pod

#10702 fix: Copy evaluation version for cloned application from the source application to fix dynamic dynamic binding evaluation to support escaped characters without double escape
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationServiceTest.java
Labels: Bug

#10599 fix: show lint when unused variable is present in code
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
  app/client/src/globalStyles/CodemirrorHintStyles.ts
  app/client/src/workers/lint.ts
Labels: Bug

#10401 fix: Add meta to eval cycle and update it when default changes
  app/client/cypress/fixtures/AAAFlowerVase.jpeg
  app/client/cypress/fixtures/AAAGlobeChristmas.jpeg
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/FormWidgets/FilePicker_with_fileTypes_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/S3_spec.js
  app/client/cypress/support/index.js
  app/client/cypress/tsconfig.json
  app/client/src/actions/metaActions.ts
  app/client/src/constants/ReduxActionConstants.tsx
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/entities/DataTree/utils.ts
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/reducers/entityReducers/metaReducer.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/utils/WidgetFactory.tsx
  app/client/src/widgets/MetaHOC.tsx
  app/client/src/workers/DataTreeEvaluator.ts
  app/client/src/workers/evaluation.test.ts
  app/client/src/workers/evaluation.worker.ts
  app/client/src/workers/evaluationUtils.ts
Labels: Bug, QA, FE Coders Pod

#10312 chore: Remove CORS configuration since we don't need it today
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
Labels: skip-changelog, Stale

#9955 feat: Clear sessions on password reset
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/RedisConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/SessionUserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/SessionUserServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/SessionUserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: Enhancement

#10681 fix: Add query parameters to Options/Form
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
Labels: Bug

#10662 chore: use documentation link from the error response for git errors
  app/client/src/constants/GitErrorCodes.ts
  app/client/src/entities/GitSync.ts
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.tsx
  app/client/src/pages/Editor/gitSync/components/GitConnectError.tsx
  app/client/src/pages/Editor/gitSync/components/GitErrorPopup.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: skip-changelog
