Repository appsmithorg/appsmith, pull requests merged in 2023-08, with the labels that each got.

#25856 ci: Default to release CS unless building for prod
  .github/workflows/ad-hoc-deploy-preview.yml
  .github/workflows/build-docker-image.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#25505 feat: debugger error navigation
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Logs2_spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/actions/editorActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/index.tsx
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogEntityLink.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/propertyControls/FieldConfigurationControl.tsx
  app/client/src/pages/Editor/EntityNavigation/ActionPane/index.ts
  app/client/src/pages/Editor/EntityNavigation/JSObjectsPane/index.ts
  app/client/src/pages/Editor/EntityNavigation/PaneNavigation.ts
  app/client/src/pages/Editor/EntityNavigation/PropertyPane/index.ts
  app/client/src/pages/Editor/EntityNavigation/PropertyPane/utils.ts
  app/client/src/pages/Editor/EntityNavigation/costants.ts
  app/client/src/pages/Editor/EntityNavigation/factory.ts
  app/client/src/pages/Editor/EntityNavigation/types.ts
  app/client/src/pages/Editor/PropertyPane/DraggableListControl.tsx
  app/client/src/pages/Editor/PropertyPane/PanelPropertiesEditor.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
  app/client/src/sagas/NavigationSagas.ts
  app/client/src/utils/editorContextUtils.ts
Labels: Enhancement, UI Improvement, UX Improvement, potential-duplicate, Task, New Developers Pod, Test Plan Approved, IDE Navigation

#25852 chore: Remove old unused Helm chart
  appsmith-1.3.0.tgz
  index.yaml
  list
Labels: skip-changelog

#25676 feat: default camera config for camera widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Camera/CameraWidgetSpec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/CameraWidget/component/utils.test.ts
  app/client/src/widgets/CameraWidget/component/utils.ts
  app/client/src/widgets/CameraWidget/constants.ts
  app/client/src/widgets/CameraWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, Community Reported, Camera Widget, Test Plan Approved

#25878 fix: Fix failing product alert API for anonymous user
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
Labels: Bug

#25867 test: Cypress | Automated tests for MySQL + Flaky fixes
  .github/workflows/fat-migration.yml
  app/client/cypress/e2e/GSheet/WidgetBinding_AllAccess_Spec.ts
  app/client/cypress/e2e/GSheet/WidgetBinding_SelectedAccess_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/NavigateTo1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_setters_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/SuggestedWidgets_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePicker2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_editing_1_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MongoURI_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/MySQL_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/limited-tests.txt
  app/client/cypress/package.json
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/gitSync.js
  app/client/cypress/tsconfig.json
Labels: skip-changelog, Test Plan Approved, Test

#25844 test: Additional regression scenarios for gsheet
  .github/workflows/ci-test-hosted.yml
  app/client/cypress/e2e/GSheet/Misc_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress_ci_hosted.config.ts
Labels: skip-changelog, Test

#25900 fix: Cypress test for widget sidebar in Airgap
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/src/selectors/editorSelectors.tsx
Labels: Bug, Map Widget, skip-changelog, Widget design system, Airgap

#25893 fix: Update spring-security-config for CVE-2023-34034
  app/server/pom.xml
Labels: Bug

#25887 test: cypress - Flaky fix ListV2_nested_List_widget_spec.js
  app/client/cypress/e2e/GSheet/Misc_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_nested_List_widget_spec.js
Labels: skip-changelog, Test

#25914 test: Cypress - Fix regex issue in datasources
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Test

#25901 test: Cypress | Flaky fixes
  app/client/cypress/e2e/Regression/Apps/EchoApiCMS_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/uiToCode_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/JS_AC1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Childwigets/List_Inputs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Video_spec.js
  app/client/cypress/e2e/Sanity/Datasources/AuthenticatedApiDatasource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/RestApiOAuth2Validation_spec.js
  app/client/cypress/limited-tests.txt
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
Labels: skip-changelog, Test Plan Approved, Test

#25919 chore: skip interaction with explorer in input truncate test
  app/client/cypress/e2e/Regression/ClientSide/BugTests/InputTruncateCheck_Spec.ts
Labels: skip-changelog

#25906 ci: Update docker/build-push-action to v4
  .github/workflows/ad-hoc-deploy-preview.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: skip-changelog, CI

#25862 fix: update the last deployed status after rebase
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug, Needs Triaging, Git Version Control, Test Plan Approved, Git Pod

#25927 chore: Add support for custom CS URL in local_testing.sh script
  scripts/local_testing.sh
Labels: skip-changelog

#25896 chore: Add JSLibrary autocomplete analytics
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
Labels: Task, skip-changelog, FE Coders Pod, Custom JS Libraries, skip-testPlan

#25861 chore: update file lock error message
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
Labels: Git Version Control, skip-changelog, skip-testPlan

#25933 ci: Fix cypress dashboard url for rerun
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#25932 fix: remove shared-modules workflow file
  .github/workflows/docs/integration-tests-command.md
  .github/workflows/integration-tests-command.yml
  .github/workflows/shared-modules.yml
Labels: Bug, Needs Triaging

#25936 test: Cypress | Uncomment EE-Pin check in InputTruncateCheck_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/InputTruncateCheck_Spec.ts
Labels: skip-changelog, Test

#25842 chore: Add appmode in debugger analytics
  app/client/src/sagas/DebuggerSagas.ts
Labels: Low, Task, skip-changelog, JS Linting & Errors, FE Coders Pod, skip-testPlan

#25870 ci: Use vars.EDITION instead of hard-coded edition to avoid conflicts with EE sync
  .github/workflows/github-release.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#25835 fix: Fix search for s3 datasources
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceStructureContainer.tsx
Labels: Bug, High, Production, Needs Triaging, S3, BE Coders Pod, Test Plan Approved, Integrations Pod

#24766 feat: Add a method to verify signature for cloud services response
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ApiConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/SignatureVerifier.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/SignatureVerifierTest.java
Labels: Enhancement, skip-testPlan

#25848 chore: WDS color cleanup
  app/client/packages/design-system/theming/src/color/ColorsAccessor.ts
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/types.ts
Labels: App Viewers Pod, skip-changelog, skip-testPlan, Widget design system, WDS team

#25948 chore: Add info.json to Docker images
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  Dockerfile
  scripts/generate_info_json.sh
Labels: skip-changelog, skip-testPlan

#25943 fix: Update dependencies to bring fixes for CVEs
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-server/pom.xml
Labels: Bug

#25917 chore: Update environment switch toast text
  app/client/src/ce/constants/messages.ts
Labels: Frontend, skip-changelog, BE Coders Pod, Medium, Data Platform Pod, Datasource Environments, skip-testPlan

#25960 ci: Fix slack notification for ci-test-hosted
  .github/workflows/ci-test-hosted.yml
Labels: skip-changelog, CI

#25880 fix: Skip echarts rerendering if props are same
  app/client/src/widgets/ChartWidget/component/ChartErrorComponent.tsx
  app/client/src/widgets/ChartWidget/component/index.tsx
Labels: Bug, Chart Widget, App Viewers Pod, Needs Triaging, Medium, Test Plan Approved

#25899 fix: Fix/chart widget use undefined series name if empty
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.ts
  app/client/src/widgets/ChartWidget/constants.ts
Labels: Bug, Chart Widget, App Viewers Pod, Needs Triaging, Test Plan Approved

#25962 chore: send referrer analytics on landing on signup page
  app/client/src/ce/pages/UserAuth/SignUp.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Login / Signup, Task, skip-changelog, New Developers Pod

#25966 chore: Modified sw analtyics tracker
  app/client/src/sagas/InitSagas.ts
Labels: skip-changelog, skip-testPlan

#25895 fix: Fixed mustache binding highlight
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug25894_spec.ts
  app/client/src/components/editorComponents/CodeEditor/MarkHelpers/bindingMarker.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/modes.ts
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
Labels: Bug, FE Coders Pod, Test Plan Approved, Code Editor

#25937 test: Cypress - Flaky Fix
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_2_spec.js
  app/client/cypress/e2e/Sanity/Datasources/AuthenticatedApiDatasource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/AuthenticatedApiWithOAuth_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/RestApiOAuth2Validation_spec.js
  app/client/cypress/e2e/Sanity/Datasources/RestApiOAuth2Validation_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test

#25952 chore: Include tag information, if any in info.json
  .gitignore
  scripts/generate_info_json.sh
Labels: skip-changelog

#25955 fix: DS config saveAndDiscard modal discard flow update
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug

#25965 fix: moved the logic of highlight walkthrough to widget boundary
  app/client/src/components/editorComponents/WidgetComponentBoundary.tsx
  app/client/src/widgets/ContainerWidget/component/index.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: Bug, App Viewers Pod, Release, Needs Triaging, List Widget, Release Blocker, Test Plan Approved, List Widget V2

#25975 fix: Fixed tenant features cache issue
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
Labels: Bug, skip-testPlan

#25857 feat: Create lightweight status api
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/UncommittedChangesDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCEImplTest.java
Labels: Enhancement, Git Version Control, Task, Test Plan Approved, Git Pod

#25777 fix: Menu button widget height not changing on resizing
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Production, Needs Triaging, UI Builders Pod, Menu Button Widget, Reflow & Resize, Medium, Test Plan Approved

#25992 fix: dp deployments
  scripts/cleanup_dp.sh
  scripts/deploy_preview.sh
Labels: Bug

#25926 fix: Loading state changes button width
  app/client/packages/design-system/widgets/src/components/Button/Button.tsx
  app/client/packages/design-system/widgets/src/components/Button/index.styled.tsx
Labels: Bug, App Viewers Pod, skip-changelog, skip-docs, skip-testPlan, Widget design system, WDS team, skip-documentation

#25979 test: Cypress - Flaky Fix
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/locators/ApiEditor.js
  app/client/cypress/support/ApiCommands.js
Labels: skip-changelog, Test

#25409 test: cypress - updated tests for List page js to ts migration
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelector_JsToNonJSMode_2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Container_collapse_undo_redoSpec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_TextWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/List/List4_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/List/List4_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/DataIdentifierProperty_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/DefaultSelectItem_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Event_Bindings_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_PropertyPane_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_dataIdentifierProperty_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_defaultSelectedItem_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_event_bindings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/PropertyPane_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test Plan Approved, Test

#25994 chore: added cypress changes for ee
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DSDiscardBugs_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/PostgresConnections_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/DSAutosaveImprovements_spec.ts
  app/client/cypress/support/Objects/TestConfigs.ts
Labels: skip-changelog, skip-testPlan

#26000 test: Cypress | CI Stabilize
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Event_Bindings_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Test

#25904 fix:Update README
  README.md
  static/images/appsmith-editor.png
  static/images/appsmith-in-100-seconds.png
Labels: Documentation, User Education Pod

#25973 fix: Reset echartsConfiguration when chartType is changed to CUSTOM_FUSION…
  app/client/src/widgets/ChartWidget/component/index.test.tsx
  app/client/src/widgets/ChartWidget/component/index.tsx
Labels: Bug, Chart Widget, App Viewers Pod, Needs Triaging

#26033 Fix: Added utm codes to readme links
  README.md
Labels: Documentation, skip-testPlan

#25934 fix: Make dataSource required true for customFusionChartConfig
  app/client/src/widgets/ChartWidget/widget/propertyConfig.test.ts
  app/client/src/widgets/ChartWidget/widget/propertyConfig.ts
Labels: Bug, Chart Widget, App Viewers Pod, Test Plan Approved

#25881 fix: Update product alert stub to check for 200 status
  app/client/cypress/support/commands.js
  app/client/cypress/support/e2e.js
Labels: Bug, skip-testPlan

#25910 fix: unnecessary error toast on generate page fixed
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, Frontend, Needs Triaging, Google Sheets, BE Coders Pod, Medium, Test Plan Approved, Integrations Pod

#25841 Document Viewer Widget : Parse maximum number of headers present in excel file raw data
  app/client/src/widgets/DocumentViewerWidget/component/ExcelDataParser.test.ts
  app/client/src/widgets/DocumentViewerWidget/component/ExcelDataParser.ts
  app/client/src/widgets/DocumentViewerWidget/component/XlsxViewer.tsx
Labels: Bug, App Viewers Pod, Critical, Regressed, Community Reported, Document Viewer Widget, Test Plan Approved

#26037 chore(deps): Remove vulnerable semver version
  app/client/package.json
  app/client/yarn.lock
Labels: skip-testPlan

#26057 chore: clean up switch stories
  .github/workflows/build-chromatic.yml
  .github/workflows/build-storybook.yml
  app/client/packages/storybook/stories/design-system/widgets/Switch.stories.mdx
  app/client/packages/storybook/stories/design-system/widgets/SwitchGroup.stories.mdx
Labels: skip-changelog, skip-docs, skip-testPlan, skip-documentation

#26048 fix: added expression to not include message after cutoff date using curre…
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/resources/productAlerts/productAlertMessages.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ProductAlertServiceCEImplTest.java
  app/server/appsmith-server/src/test/resources/productAlerts/productAlertMessages.json
Labels: Bug, Needs Triaging

#25399 feat: Remove async/sync differentiation from Appsmith
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/entities/DataTree/dataTreeJSAction.ts
  app/client/src/entities/DataTree/types.ts
  app/client/src/entities/DependencyMap/DependencyMapUtils.ts
  app/client/src/entities/DependencyMap/__tests__/index.test.ts
  app/client/src/entities/DependencyMap/index.ts
  app/client/src/entities/JSCollection/index.ts
  app/client/src/pages/Editor/Explorer/mockTestData.ts
  app/client/src/pages/Editor/JSEditor/JSFunctionRun.tsx
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/utils.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/utils/JSPaneUtils.test.ts
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/workers/Evaluation/JSObject/asyncJSFunctionBoundToDataField.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/JSObject/jsPropertiesState.ts
  app/client/src/workers/Evaluation/JSObject/test.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
  app/client/src/workers/Evaluation/__tests__/errorModifier.test.ts
  app/client/src/workers/Evaluation/__tests__/evaluate.test.ts
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/Evaluation/errorModifier.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/functionDeterminer.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/mockData/mockUnEvalTree.ts
  app/client/src/workers/common/DataTreeEvaluator/test.ts
  app/client/src/workers/common/DataTreeEvaluator/utils.ts
  app/client/src/workers/common/DependencyMap/index.ts
  app/client/src/workers/common/DependencyMap/test.ts
  app/client/src/workers/common/DependencyMap/utils.ts
  app/client/src/workers/common/DependencyMap/utils/getEntityDependencies.ts
  app/client/src/workers/common/DependencyMap/utils/getValidationDependencies.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/MustacheHelper.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionConfiguration.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/EntityDependencyNode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-custom-themes.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-page-added.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-theme.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application.json
Labels: Bug, Enhancement, Backend, Release, Regressed, Community Reported, Needs Triaging, Core Query Execution, Epic, Task, JS Objects, FE Coders Pod, BE Coders Pod, JS Promises, OnPageLoad, JS Function execution, Medium, needs estimate, Test Plan Approved, Data Platform Pod

#25764 feat: ramps for multiple environments
  app/client/src/ce/components/SwitchEnvironment/index.tsx
  app/client/src/ce/components/editorComponents/DSDataFilter/index.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ee/components/DSDataFilter/index.tsx
  app/client/src/ee/components/SwitchEnvironment/index.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/utils/ProductRamps/RampTypes.ts
  app/client/src/utils/ProductRamps/RampsControlList.ts
  app/client/src/utils/ProductRamps/index.ts
Labels: Enhancement, BE Coders Pod, Test Plan Approved, Data Platform Pod, Datasource Environments

#25768 feat: gsheets schema UI
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/DataSourceEditor/DSFormHeader.tsx
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/SaaSEditor/GoogleSheetSchema.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/editorContextUtils.ts
Labels: Bug, Enhancement, Frontend, Backend, High, Needs Triaging, Google Sheets, Deploy Preview, BE Coders Pod, Test Plan Approved, Integrations Pod

#26035 chore: Log execution time for git status operation
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ExecutionTimeLogging.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Git Version Control, Task, skip-changelog, Test Plan Approved, Git Pod

#26060 fix: Resetting the search keyword when the user un-mounts from the home page
  app/client/cypress/e2e/Regression/Enterprise/AdminSettings/Admin_settings_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/ce/pages/AdminSettings/config/branding/UpgradeBanner.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/components/BusinessTag.tsx
  app/client/src/components/EnterpriseTag.tsx
  app/client/src/ee/sagas/analyticsSaga.ts
  app/client/src/pages/Applications/EmbedSnippet/PrivateEmbeddingContent.tsx
  app/client/src/pages/Settings/FormGroup/Checkbox.tsx
Labels: Bug, Home Page, Needs Triaging, Team Managers Pod, Medium

#25846 ci: Deploy preview from branch
  .github/workflows/ad-hoc-deploy-preview.yml
  scripts/build_dp_from_branch.sh
Labels: skip-changelog, CI, skip-testPlan

#25355 chore: add color validation + native color picker
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/DragAndDropWidget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Replay_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Basic_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Theme_FormWidget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/List/List4_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/List/List4_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Color_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_EmptyRow_Color_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_PropertyPane_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Widget_Add_button_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Color_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_PropertyPane_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Widget_Add_button_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Text/TextWidget_BgColor_TextSize_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Text/Text_new_feature_spec.js
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Json_Spec.ts
  app/client/cypress/locators/ThemeLocators.json
  app/client/cypress/locators/Widgets.json
  app/client/cypress/support/Pages/AppSettings/ThemeSettings.ts
  app/client/package.json
  app/client/src/assets/styles/index.css
  app/client/src/ce/constants/messages.ts
  app/client/src/components/propertyControls/ColorPickerComponentV2.test.tsx
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
  app/client/src/constants/ThemeConstants.tsx
  app/client/src/pages/Editor/ThemePropertyPane/controls/ThemeColorControl.tsx
  app/client/src/utils/helpers.test.ts
  app/client/src/utils/helpers.tsx
  app/client/yarn.lock
Labels: App Viewers Pod, skip-changelog, skip-docs, skip-testPlan, Widget design system, WDS team, skip-documentation

#25997 chore: Add `SAVE_ACTION` analytics event
  app/client/package.json
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/AnalyticsSaga.ts
  app/client/src/sagas/helper.test.ts
  app/client/src/sagas/helper.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/test/setup.ts
  app/client/yarn.lock
Labels: Task, skip-testPlan, Modules pod

#26046 fix: Fix leaking NGINX version
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Bug

#25976 fix: Date formatting issue for signature verification
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/SignatureVerifier.java
Labels: Bug, skip-changelog, skip-testPlan

#25969 fix: gsheet misleading error banner issues fixed
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/utils/editorContextUtils.ts
Labels: Bug, Frontend, Needs Triaging, Google Sheets, BE Coders Pod, Medium, Test Plan Approved, Integrations Pod

#26056 chore: improve eslint rules
  app/client/.eslintrc.base.json
  app/client/.eslintrc.js
  app/client/cypress/.eslintrc.json
  app/client/packages/ast/.eslintrc.json
  app/client/packages/ast/rollup.config.js
  app/client/packages/design-system/headless/src/components/Button/Button.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/Checkbox.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/CheckboxGroup.tsx
  app/client/packages/design-system/headless/src/components/Field/ErrorText.tsx
  app/client/packages/design-system/headless/src/components/Field/Field.tsx
  app/client/packages/design-system/headless/src/components/Field/Label.tsx
  app/client/packages/design-system/headless/src/components/Radio/Radio.tsx
  app/client/packages/design-system/headless/src/components/Radio/RadioGroup.tsx
  app/client/packages/design-system/headless/src/components/Switch/Switch.tsx
  app/client/packages/design-system/headless/src/components/Tooltip/TooltipContent.tsx
  app/client/packages/design-system/headless/src/components/Tooltip/TooltipTrigger.tsx
  app/client/packages/design-system/widgets-old/.eslintrc.json
  app/client/packages/design-system/widgets/src/components/Button/Button.test.tsx
  app/client/packages/design-system/widgets/src/components/Button/Button.tsx
  app/client/packages/design-system/widgets/src/components/ButtonGroup/ButtonGroup.test.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/Checkbox.test.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/Checkbox.tsx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/CheckboxGroup.tsx
  app/client/packages/design-system/widgets/src/components/Flex/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/Flex/types.ts
  app/client/packages/design-system/widgets/src/components/Radio/Radio.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/RadioGroup.tsx
  app/client/packages/design-system/widgets/src/components/Spinner/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/Switch/Switch.tsx
  app/client/packages/design-system/widgets/src/components/Text/Text.tsx
  app/client/packages/design-system/widgets/src/components/Tooltip/TooltipContent.tsx
  app/client/packages/dsl/rollup.config.js
  app/client/packages/dsl/src/index.test.ts
  app/client/packages/rts/.eslintrc.json
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
  app/client/src/constants/routes/appRoutes.ts
  app/client/src/constants/routes/baseRoutes.ts
  app/client/src/utils/history.ts
  app/client/src/wdyr.ts
  app/client/src/widgets/ChartWidget/component/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/FileParser.test.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: skip-changelog, skip-docs, skip-testPlan, skip-documentation

#26065 chore: Update NodeJS in Docker image to v18
  Dockerfile
Labels: skip-changelog

#26058 fix: adding loading state on remote branch switching
  app/client/cypress/e2e/Regression/ClientSide/BugTests/GitBugs_Spec.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/pages/Editor/gitSync/components/BranchListItem.tsx
  app/client/src/pages/Editor/gitSync/components/RemoteBranchListItem.tsx
Labels: Bug, Needs Triaging, Git Version Control, Test Plan Approved, Git Pod

#26091 chore: Add git API's metrics to Grafana
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ExecutionTimeLogging.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCEImplTest.java
Labels: skip-changelog, skip-testPlan

#26117 chore: Add Rajat to codeowners for app viewers cypress tests code review
  CODEOWNERS
Labels: skip-changelog, skip-testPlan

#26095 chore: add components to complex form
  app/client/packages/design-system/widgets/src/components/ButtonGroup/index.styled.tsx
  app/client/packages/storybook/stories/design-system/widgets/Switch.stories.mdx
  app/client/packages/storybook/stories/design-system/widgets/testing/ComplexForm.tsx
Labels: skip-changelog, skip-docs, skip-testPlan, skip-documentation

#26004 test: Cypress | CI Stablize + verifying DS Connection Errors (DI)
  app/client/cypress/e2e/Regression/Apps/PgAdmin_spec.js
  app/client/cypress/e2e/Regression/ClientSide/BugTests/AllWidgets_Reset_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug19933_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mysql_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ViewMode_spec.js
  app/client/cypress/e2e/Regression/ClientSide/SettingsPane/EmbedSettings_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Templates/Filtering/TemplatesModal_filtering_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Childwigets/List_Inputs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/DataIdentifierProperty_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_SerververSide_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/StatboxDsl_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Workspace/ShareAppTests_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/LoginTests/LoginFailure_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_2_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/limited-tests.txt
  app/client/cypress/locators/PgAdminlocators.json
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Objects/TestConfigs.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/AppSettings/EmbedSettings.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/InviteModal.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/Pages/Templates.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/e2e.js
  app/client/src/widgets/RateWidget/index.ts
Labels: skip-changelog, Test Plan Approved, Test

#25981 test: Cypress - progress widget cases
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Progress_spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/locators/Widgets.json
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test Plan Approved, Test

#26149 test: Cypress | CI Stabilize
  app/client/cypress/e2e/Regression/ServerSide/LoginTests/LoginFailure_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test Plan Approved, Test

#26168 fix: WDS `fgAccent` for achromatic seeds (dark mode)
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
Labels: Bug, App Viewers Pod, skip-testPlan, Widget design system, WDS team

#25886 fix: setter mutation issue
  app/client/cypress/e2e/Regression/ClientSide/Widgets/WidgetPropertySetters_spec.ts
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/setters.ts
Labels: Bug, QA, Release, Community Reported, Needs Triaging, JS Objects, FE Coders Pod, Test Plan Approved, Widget setter method

#26128 chore: Add `X-Content-Type-Options` to all downstream responses
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
Labels: skip-changelog

#25909 fix: fix issue with field array values for rest and graphql apis
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Bugs_Spec.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/sagas/ActionSagas.ts
Labels: Bug, Release, Needs Triaging, Query Forms, BE Coders Pod, Medium, Test Plan Approved, Integrations Pod

#26169 chore: Install latest MongoDB v5
  Dockerfile
Labels: skip-changelog

#25951 test: cypress -updated test for Tablev2
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Container_collapse_undo_redoSpec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_GeneralProperty_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#26184 test: Cypress | CI Stabilize
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/LoginTests/LoginFailure_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: skip-changelog, Test Plan Approved, Test

#26185 test: Cypress | Skipping spec to unblock CI
  app/client/cypress/e2e/Regression/ServerSide/LoginTests/LoginFailure_spec.js
Labels: skip-changelog, Test

#25548 chore: Split the import code to smaller parts
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceUnitTest.java
Labels: Git Version Control, skip-changelog, Test Plan Approved, Git Pod

#26125 fix: Updating the pageId in the reconnect modal for Gsheets authorization
  app/client/src/pages/common/datasourceAuth/index.tsx
Labels: Bug, Datasources, Critical, Needs Triaging, Team Managers Pod, BE Coders Pod, Data Platform Pod, Airgap

#26197 chore: Splitting analytic events
  app/client/src/actions/apiPaneActions.ts
  app/client/src/actions/debuggerActions.ts
  app/client/src/actions/jsActionActions.ts
  app/client/src/actions/jsPaneActions.ts
  app/client/src/ce/pages/UserAuth/ThirdPartyAuth.tsx
  app/client/src/ce/sagas/SuperUserSagas.tsx
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/ee/utils/analyticsUtilTypes.ts
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/utils.ts
  app/client/src/pages/Settings/FormGroup/CopyUrlForm.test.tsx
  app/client/src/pages/Settings/FormGroup/CopyUrlForm.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/JSActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/hooks/useOnUpgrade.ts
Labels: skip-changelog, Team Managers Pod, Billing & Usage Pod, Analytics Improvements, SCIM

#25538 fix: Retain last selected tab on debugger and user selected filter condition
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/EntityBottomBar_spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/src/actions/debuggerActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/components/editorComponents/Debugger/DebuggerLogs.tsx
  app/client/src/reducers/uiReducers/debuggerReducer.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/debuggerSelectors.tsx
Labels: Bug, UX Improvement, Regressed, Debugger, FE Coders Pod, Medium, Test Plan Approved

#25788 feat: Improve discovery of callbacks
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelector_JsToNonJSMode_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/NavigateTo1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/uiToCode_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/GuidedTour_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/table_data_change_spec.ts
  app/client/cypress/support/commands.js
  app/client/src/components/editorComponents/ActionCreator/index.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/Action/ActionSelector.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/Action/ActionTree.tsx
Labels: Enhancement, FE Coders Pod, Medium, Test Plan Approved, Action Selector

#26167 fix: Fix uqi query switching issue
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug25982_Spec.ts
  app/client/src/components/formControls/DropDownControl.tsx
Labels: Bug, Frontend, Critical, Needs Triaging, Core Query Execution, Mongo, BE Coders Pod, Test Plan Approved, Data Platform Pod, Integrations Pod, Integrations Pod General

#26200 chore: moved feature flagging ce tests to ce folder
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
Labels: Task, skip-changelog, New Developers Pod, skip-testPlan, Feature Flagging

#26203 chore: Add force update method to fetch latest tenant level feature flags
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
Labels: Backend, skip-changelog, skip-testPlan, 1-click upgrade

#26207 hotfix: Add an optional data check around series data
  app/client/src/widgets/ChartWidget/widget/index.test.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
Labels: Chart Widget, App Viewers Pod, Critical, High, potential-duplicate, Sentry

#26211 feat: added email domain trait to flagsmith (#25928)
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserIdentifierServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserIdentifierServiceCEImpl.java
Labels: Enhancement, Task, New Developers Pod, Feature Flagging

#25750 feat: Integrate one click binding to sourceData of select and multi select widget
  app/client/cypress/e2e/Regression/ClientSide/Binding/Invalid_binding_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Widgets_Default_data_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/MultiSelectWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/MultiSelectWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/SelectWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/SelectWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mysql_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/spec_utility.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Dropdown/Dropdown_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Childwigets/List_Select_Widgets_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect4_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect_label_value.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_label_value.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_widget1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/select_Widget_Bug_spec.js
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JsOnLoad3_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Params/PassingParams_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/fixtures/MultipleWidgetDsl.json
  app/client/cypress/fixtures/formSelectDsl.json
  app/client/cypress/fixtures/formSelectTreeselectDsl.json
  app/client/cypress/fixtures/multiSelectDsl.json
  app/client/cypress/fixtures/newFormDsl.json
  app/client/cypress/locators/FormWidgets.json
  app/client/cypress/locators/OneClickBindingLocator.ts
  app/client/src/WidgetQueryGenerators/GSheets/index.ts
  app/client/src/WidgetQueryGenerators/MongoDB/index.test.ts
  app/client/src/WidgetQueryGenerators/MongoDB/index.ts
  app/client/src/WidgetQueryGenerators/types.ts
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useDatasource.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/ConnectData/useConnectData.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/ColumnDropdown/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/ColumnDropdown/useColumns.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/types.ts
  app/client/src/components/propertyControls/OneClickBindingControl.tsx
  app/client/src/sagas/OneClickBindingSaga.ts
  app/client/src/widgets/MultiSelectWidgetV2/index.ts
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/index.ts
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Enhancement, Select Widget, App Viewers Pod, MultiSelect Widget, Test Plan Approved, One-click Binding

#26083 feat: code scanner widget default camera
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/CameraWidget/constants.ts
  app/client/src/widgets/CameraWidget/widget/index.tsx
  app/client/src/widgets/CodeScannerWidget/component/index.tsx
  app/client/src/widgets/CodeScannerWidget/constants.ts
  app/client/src/widgets/CodeScannerWidget/widget/index.tsx
  app/client/src/widgets/CodeScannerWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/CodeScannerWidget/widget/propertyConfig/contetConfig.test.ts
  app/client/src/widgets/constants.ts
  app/client/src/widgets/utils.test.ts
  app/client/src/widgets/utils.ts
Labels: Enhancement, App Viewers Pod, Task, Test Plan Approved, Code Scanner Widget

#26092 fix: open data section, collapse other section if walkthru opened for widget
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
Labels: Bug, Enhancement, Frontend, BE Coders Pod, Test Plan Approved, Integrations Pod, Integrations Pod General

#26238 fix: Fix NGINX config template path in cert provisioning script
  deploy/docker/scripts/init_ssl_cert.sh
Labels: Bug

#26237 test: Cypress - Flaky Fix
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/GuidedTour_spec.js
  app/client/cypress/limited-tests.txt
  app/client/cypress/locators/TemplatesLocators.json
Labels: skip-changelog, Test Plan Approved, Test

#26212 fix: Save and authorise flow in current editing environment
  app/client/src/ce/api/ApiUtils.ts
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
Labels: Bug, Critical, Production, Needs Triaging, BE Coders Pod, Test Plan Approved, Data Platform Pod, Datasource Environments

#25771 feat: debugger api pane navigation
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Api_pane_navigation_spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/e2e.js
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/components/formControls/KeyValueArrayControl.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/Pagination.tsx
  app/client/src/pages/Editor/APIEditor/Pagination.tsx
  app/client/src/pages/Editor/DataSourceEditor/Collapsible.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/EntityNavigation/ActionPane/ActionPaneNavigation.ts
  app/client/src/pages/Editor/EntityNavigation/ActionPane/ApiPaneNavigation.ts
  app/client/src/pages/Editor/EntityNavigation/ActionPane/exports.ts
  app/client/src/pages/Editor/EntityNavigation/ActionPane/index.ts
  app/client/src/pages/Editor/EntityNavigation/factory.ts
  app/client/src/pages/Editor/EntityNavigation/types.ts
  app/client/src/pages/Editor/FormControl.tsx
  app/client/src/sagas/NavigationSagas.ts
  app/client/src/utils/replayHelpers.tsx
Labels: Enhancement, potential-duplicate, Task, New Developers Pod, Test Plan Approved, IDE Navigation

#26210 test: cypress - updated tests for Tab
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Text_With_Different_Size_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Tab/Tab_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#26258 fix: fix button font weight
  app/client/packages/design-system/theming/src/typography/types.ts
  app/client/packages/design-system/theming/src/typography/typography.ts
  app/client/packages/design-system/widgets/src/components/Button/Button.tsx
  app/client/packages/design-system/widgets/src/components/Button/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/Text/Text.tsx
  app/client/packages/design-system/widgets/src/components/Text/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/Text/types.ts
  app/client/packages/storybook/chromatic/design-system/widgets/Text.chromatic.stories.tsx
  app/client/packages/storybook/stories/design-system/widgets/Text.stories.mdx
Labels: Bug, skip-docs, skip-testPlan, skip-documentation

#26244 ci: workflow run id context var fix
  .github/workflows/ad-hoc-deploy-preview.yml
Labels: skip-changelog, CI

#26217 ci: Update Codeowners with data platform paths
  CODEOWNERS
Labels: Task, skip-testPlan

#26093 test: cypress - switch widget automation
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Switch/Switch2_spec.ts
  app/client/cypress/locators/Widgets.json
Labels: skip-changelog, Test Plan Approved, Test

#25983 fix: Refactor faster page loads
  app/client/public/index.html
  app/client/src/actions/initActions.ts
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/selectors/tenantSelectors.tsx
  app/client/src/pages/Settings/loader.tsx
  app/client/src/pages/loaderHooks.ts
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/InitSagas.ts
Labels: Bug, IDE, Task, New Developers Pod, Test Plan Approved

#26076 fix: MsSQL count breaks app
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/src/pages/Editor/QueryEditor/Table.tsx
Labels: Bug, Frontend, Datasources, High, Release, Needs Triaging, BE Coders Pod, Test Plan Approved, MsSQL, Integrations Pod

#26263 test: cypress- Test/slider reg new
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Sliders/CategorySlider_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Sliders/NumberSlider_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Sliders/RangeSlider_spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test Plan Approved, Test

#26266 fix: deduct bottom bar height from sidebar's height in preview mode
  app/client/src/pages/AppViewer/Navigation/Sidebar.tsx
Labels: Bug, App Viewers Pod, Production, Needs Triaging, BE Coders Pod, App Navigation, Medium, Test Plan Approved, Data Platform Pod, Datasource Environments

#26245 fix: fixed auto indent in fields that contains JSON inside binding
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/snapshots/JSEditorIndent_spec.js/formattedJSONBodyAfterSave.snap.png
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/components/editorComponents/CodeEditor/modes.ts
Labels: Bug, Community Reported, Needs Triaging, JS Objects, FE Coders Pod, Test Plan Approved

#26257 feat: Table widget activation experiment
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/sagas/OnboardingSagas.ts
Labels: Enhancement, Onboarding, New Developers Pod, skip-testPlan

#25671 chore: added route listener on non-trackable URLs
  app/client/src/RouteChangeListener.tsx
  app/client/src/actions/focusHistoryActions.ts
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/usagePulse/index.ts
Labels: Bug, High, skip-changelog, skip-testPlan, Billing & Usage Pod, CE Instance

#25863 fix: Disturbed canvas due to css transition in chrome
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/components/editorComponents/Sidebar.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/WidgetsEditor/NavigationPreview.tsx
Labels: Bug, High, Release, Needs Triaging, UI Builders Pod, Canvas / Grid

#26296 chore: removed aug 6 downtime message
  app/server/appsmith-server/src/main/resources/productAlerts/productAlertMessages.json
Labels: Backend, Task, skip-changelog

#26124 fix: property pane table binding issue fixed
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/SuggestedWidgets_spec.js
  app/client/cypress/support/Objects/TestConfigs.ts
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
Labels: Bug, Frontend, High, Regressed, Needs Triaging, Needs automation, BE Coders Pod, REST API plugin, Up for grabs, Test Plan Approved, Integrations Pod

#26317 fix: WDS colors checks for non-achromatic seeds (dark mode)
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
Labels: Bug, skip-testPlan, WDS team

#26199 test: cypress - added tests for Document Viewer
  app/client/cypress/e2e/Regression/ClientSide/Widgets/DocumentViewer/DocumentViewer_spec.ts
  app/client/cypress/fixtures/US_PopulationTest.xlsx
  app/client/cypress/fixtures/sample-pdf-file.pdf
  app/client/cypress/fixtures/test.ppt
  app/client/cypress/fixtures/testDoc.docx
Labels: skip-changelog, Test Plan Approved, Test

#26320 chore: Remove unauthenticated access to actuator APIs
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
Labels: Backend, Core Query Execution, Task, skip-changelog, BE Coders Pod, DevOps Pod, Data Platform Pod, Observability

#26319 fix: Add migration to show/hide data point labels on charts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/ChartWidget.test.ts
  app/client/src/utils/migrations/ChartWidget.ts
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.ts
  app/client/src/widgets/ChartWidget/component/EChartsDatasetBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/index.test.tsx
  app/client/src/widgets/ChartWidget/component/index.tsx
  app/client/src/widgets/ChartWidget/index.ts
  app/client/src/widgets/ChartWidget/widget/SyntaxErrorsEvaluation.test.ts
  app/client/src/widgets/ChartWidget/widget/index.test.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
  app/client/src/widgets/ChartWidget/widget/propertyConfig.test.ts
  app/client/src/widgets/ChartWidget/widget/propertyConfig.ts
Labels: Bug, Chart Widget, App Viewers Pod, Needs Triaging, Test Plan Approved

#26308 chore: Add sourceData of select and multi select widgets to dynamiPro…
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/SelectWidget.test.ts
  app/client/src/utils/migrations/SelectWidget.ts
Labels: Bug, Select Widget, App Viewers Pod, Release, Needs Triaging, skip-changelog, MultiSelect Widget, One-click Binding

#26241 chore: Fix Security vulnerabilities
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/Api_XSS_Vulnerability_spec.ts
  app/client/src/components/editorComponents/utils.ts
  app/client/yarn.lock
Labels: skip-changelog, Test Plan Approved

#26354 feat: Modal chanegs for Community templates
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Templates/CommunityTemplates/Modals/CommunityTemplatesPublish.tsx
  app/client/src/pages/Templates/CommunityTemplates/Modals/ConfirmCommunityTemplatePublish.tsx
Labels: Enhancement, Community template

#26358 chore:update node version to v18
  .github/workflows/appsmithctl.yml
  .github/workflows/build-chromatic.yml
  .github/workflows/build-storybook.yml
  .github/workflows/ci-sanity.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test.yml
  .github/workflows/client-build.yml
  .github/workflows/client-lint.yml
  .github/workflows/client-prettier.yml
  .github/workflows/client-unit-tests.yml
  .github/workflows/github-release.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/perf-test-v2.yml
  .github/workflows/perf-test.yml
  .github/workflows/rts-build.yml
  app/client/.nvmrc
  app/client/.yarn/plugins/@yarnpkg/plugin-engines.cjs
  app/client/.yarnrc.yml
  app/client/cypress/package.json
  app/client/package.json
  contributions/ClientSetup.md
Labels: skip-changelog, skip-docs, skip-testPlan, skip-documentation

#26326 fix: Fix chart dataset crash
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/ChartWidget/widget/index.test.ts
  app/client/src/widgets/ChartWidget/widget/propertyConfig.test.ts
  app/client/src/widgets/ChartWidget/widget/propertyConfig.ts
Labels: Bug, Chart Widget, App Viewers Pod, Test Plan Approved, Sentry

#24933 chore: send diff updates from worker
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MongoURI_Spec.ts
  app/client/src/actions/evaluationActions.ts
  app/client/src/ce/workers/Evaluation/__tests__/dataTreeUtils.test.ts
  app/client/src/ce/workers/Evaluation/dataTreeUtils.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/components/editorComponents/GlobalSearch/Description.tsx
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/components/editorComponents/GlobalSearch/ResultsNotFound.tsx
  app/client/src/components/editorComponents/GlobalSearch/SearchBox.tsx
  app/client/src/components/editorComponents/GlobalSearch/SearchResults.tsx
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/useRecentEntities.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/pages/Editor/Explorer/hooks.ts
  app/client/src/pages/Editor/PropertyPane/PropertyPaneConnections.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTab.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/reducers/evaluationReducers/treeReducer.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/widgets/withWidgetProps.tsx
  app/client/src/workers/Evaluation/__tests__/generateOpimisedUpdates.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/helpers.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/validationUtils.ts
  app/client/src/workers/common/JSLibrary/resetJSLibraries.ts
Labels: Performance Pod, App Viewers Pod, skip-changelog, Table Widget V2, Performance

#26208 test: cypress - switch group cases - 1
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Switch/SwitchGroup1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Switch/SwitchGroup2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Switch/Switchgroup1_spec.js
  app/client/cypress/locators/WidgetLocators.ts
Labels: skip-changelog, Test Plan Approved, Test

#25064 chore: cleanup Pr for multiple-environment
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorage.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/SaasControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration020TransferToDatasourceStorage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStorageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStorageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ForkExamplesWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/AuthenticationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceTriggerSolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ForkExamplesWorkspaceServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: skip-changelog, Datasource Environments, skip-testPlan

#26368 fix: Chromatic build issue
  app/client/package.json
  app/client/packages/dsl/package.json
Labels: Bug, skip-changelog, skip-testPlan

#25231 feat: one click code splitting - Branding, SSO
  app/client/cypress/e2e/Regression/Enterprise/AdminSettings/Admin_settings_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/AdminSettings/config/branding/UpgradeBanner.tsx
  app/client/src/ce/pages/AdminSettings/config/branding/index.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/ce/pages/Upgrade/Footer.tsx
  app/client/src/ce/utils/planHelpers.ts
  app/client/src/ee/utils/planHelpers.ts
  app/client/src/pages/Settings/config/ConfigFactory.ts
  app/client/src/pages/Settings/config/branding/BrandingPage.tsx
  app/client/src/pages/Settings/config/branding/SettingsForm.tsx
  app/client/src/utils/BusinessFeatures/brandingPageHelpers.tsx
Labels: Enhancement, skip-testPlan, Billing & Usage Pod, 1-click upgrade

#26291 fix: Adding maximum limit coz of local dev setup JS heap issues
  app/client/package.json
Labels: Bug, skip-testPlan

#26350 fix: moved jest to devdependencies for appsmithctl and updated dockerfile to exclude it during install
  Dockerfile
  deploy/docker/utils/package.json
Labels: Bug, Needs Triaging, Docker, DevOps Pod

#25853 feat: debugger query pane navigation
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Query_pane_navigation.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/EntityNavigation/ActionPane/ActionPaneNavigation.ts
  app/client/src/pages/Editor/EntityNavigation/ActionPane/QueryPaneNavigation.ts
  app/client/src/pages/Editor/EntityNavigation/ActionPane/exports.ts
  app/client/src/pages/Editor/EntityNavigation/ActionPane/index.ts
  app/client/src/pages/Editor/EntityNavigation/types.ts
  app/client/src/sagas/FormEvaluationSaga.ts
Labels: Enhancement, IDE, Task, New Developers Pod, Test Plan Approved, IDE Navigation

#25938 ci: Use default CS URL for DPs
  scripts/build_dp_from_branch.sh
  scripts/deploy_preview.sh
Labels: skip-changelog, CI

#26289 chore: unit tests for color algo - bg
  app/client/packages/design-system/theming/jest.config.js
  app/client/packages/design-system/theming/package.json
  app/client/packages/design-system/theming/src/color/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
Labels: App Viewers Pod, skip-changelog, Widget design system, WDS team

#26379 feat: code split branding helpers, add auth locators in CE
  app/client/cypress/e2e/Regression/Enterprise/AdminSettings/Admin_settings_spec.js
  app/client/cypress/locators/EnterpriseAdminSettingsLocators.json
  app/client/cypress/support/commands.js
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/ce/utils/BusinessFeatures/brandingPageHelpers.tsx
  app/client/src/ee/utils/BusinessFeatures/brandingPageHelpers.tsx
  app/client/src/pages/Settings/config/branding/BrandingPage.tsx
Labels: Enhancement, skip-testPlan, Billing & Usage Pod

#26276 chore: Analytics file lock stale time
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: skip-changelog, skip-testPlan

#26190 chore: Add id & ref to Flex component
  app/client/packages/design-system/widgets/src/components/Flex/Flex.tsx
  app/client/packages/design-system/widgets/src/components/Flex/types.ts
Labels: skip-changelog, skip-testPlan

#26384 test: canvas widget coverage junit
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/DSLTransformHelperTest.java
  app/server/appsmith-git/src/test/resources/DSLWidget/AllWidgetsDSL.json
  app/server/appsmith-git/src/test/resources/DSLWidget/TabWidgetNestedChildren.json
Labels: Git Version Control, skip-changelog, skip-testPlan, Git Pod, Test

#26391 fix: improve performance of updateDependency flow
  app/client/package.json
  app/client/src/entities/DependencyMap/index.ts
  app/client/yarn.lock
Labels: Bug, JS Evaluation, Critical, Needs Triaging, FE Coders Pod

#26386 fix: [one-click-binding] filter out the non searchable columns from …
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/ConnectData/useConnectData.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/ColumnDropdown/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/ColumnDropdown/useColumns.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/index.tsx
  app/client/src/sagas/OneClickBindingSaga.ts
Labels: Bug, Select Widget, App Viewers Pod, High, Release, Needs Triaging, MultiSelect Widget, Release Blocker, One-click Binding

#26396 chore: migrate storybook from webpack to vite
  app/client/packages/storybook/.storybook/main.ts
  app/client/packages/storybook/.storybook/styles.css
  app/client/packages/storybook/package.json
  app/client/yarn.lock
Labels: skip-changelog, skip-docs, skip-testPlan, skip-documentation

#26322 chore: Removed duplicate showProductRamps and getRampLink functions
  app/client/src/ce/components/SwitchEnvironment/index.tsx
  app/client/src/ce/components/editorComponents/DSDataFilter/index.tsx
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/utils/ProductRamps/index.test.ts
  app/client/src/utils/ProductRamps/index.ts
Labels: skip-changelog, skip-testPlan

#26413 chore: Adding CODEOWNERS file for Admin settings client-side files
  CODEOWNERS
Labels: skip-changelog

#26129 test: Cypress - Automated tests for Audio and Audio recorder widgets
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Audio/AudioRecorder_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Audio/Audio_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/SwitchDatasource_spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Objects/ObjectsCore.ts
Labels: skip-changelog, Test

#26096 fix: adding branch name in the export application api
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug24486_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/ce/constants/ApiConstants.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Editor/EditorAppName/NavigationMenuData.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
Labels: Bug, High, Needs Triaging, Import-Export-App, Test Plan Approved, Git Pod

#25775 feat: debugger js pane navigation
  app/client/cypress/e2e/Regression/ClientSide/Debugger/JSObjects_navigation_spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogEntityLink.tsx
  app/client/src/entities/AppsmithConsole/index.ts
  app/client/src/pages/Editor/EntityNavigation/JSObjectsPane/index.ts
  app/client/src/pages/Editor/EntityNavigation/factory.ts
  app/client/src/pages/Editor/EntityNavigation/types.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/sagas/PostLintingSagas.ts
Labels: Enhancement, UI Improvement, UX Improvement, Task, New Developers Pod, IDE Navigation

#26426 chore: Remove unused NGINX templates
  app/client/docker/templates/nginx-app-http.conf.template
  app/client/docker/templates/nginx-app-https.conf.template
Labels: skip-changelog
