Repository appsmithorg/appsmith, pull requests merged in 2023-01, with the labels that each got.

#19076 fix: remove incorrect uncaughtPromiseRejection error
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/src/workers/Evaluation/evaluate.ts
Labels: Production, Needs Triaging, error, FE Coders Pod, medium, Test Plan Approved

#19420 chore: refactor backend startup script
  Dockerfile
  deploy/docker/scripts/run-java.sh
  deploy/docker/templates/supervisord/application_process/backend.conf
  scripts/start-backend.sh
Labels: Deployment, Task, skip-changelog, DevOps Pod

#19411 fix: EE client-build failure
  app/client/src/workers/Evaluation/JSObject/utils.ts
Labels: Bug

#19245 fix: Updating placeholder of input field on invite modal used on edit & deployed app
  app/client/package.json
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/yarn.lock
Labels: Bug, Needs Triaging, Team Managers Pod, RBAC

#19413 chore: Moved usage of projection query from custom to generic
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
Labels: Backend, Task, skip-changelog

#19281 fix: Fix firestore plugin Configuration
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/addToCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/createDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/deleteDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/getCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/setDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/updateDocument.json
Labels: Bug, skip-testPlan

#19075 feat: appsmithctl version and mongo-eval utils
  deploy/docker/utils/bin/backup.js
  deploy/docker/utils/bin/backup.test.js
  deploy/docker/utils/bin/index.js
  deploy/docker/utils/bin/mongo_shell_utils.js
  deploy/docker/utils/bin/utils.js
  deploy/docker/utils/bin/version.js
Labels: Enhancement, Deployment, DevOps Pod

#19303 fix: jsObject updates
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
Labels: Bug, High, Needs Triaging, JS Objects, FE Coders Pod, Test Plan Approved

#18791 feat: [APPSMTH-30] When field is hidden in a json form allow user to set if they want to use source data as fallback
  app/client/cypress/fixtures/jsonFormDslWithSchema.json
  app/client/cypress/fixtures/jsonFormDslWithoutSchema.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FormProperties_spec.js
  app/client/src/widgets/JSONFormWidget/helper.test.ts
  app/client/src/widgets/JSONFormWidget/helper.ts
  app/client/src/widgets/JSONFormWidget/index.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.ts
Labels: Enhancement, App Viewers Pod, JSON Form, medium

#19425 feat: separate health check api for redis and mongo
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Url.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/HealthCheckController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/HealthCheckControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/HealthCheckService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/HealthCheckServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/HealthCheckServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/HealthCheckServiceCEImpl.java
Labels: Enhancement, Task, DevOps Pod, Test Plan Approved

#19452 fix: Fix flacky testcase for clone application
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Bug, skip-changelog

#19289 fix: Added Gsheet Auth Failure Analytic Event
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug, Enhancement, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#19438 fix: Added handling for empty evaluated values
  app/client/cypress/support/Objects/mySqlData.ts
  app/server/appsmith-plugins/mysqlPlugin/pom.xml
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Bug

#19056 chore: table widget cell tooltip should be calculated only on hover
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/TableV2/Text_wrapping_spec.js
  app/client/src/widgets/TableWidgetV2/component/cellComponents/AutoToolTipComponent.tsx
Labels: Performance, App Viewers Pod, Task, skip-changelog, Table Widget V2

#19471 ci: Add java setup step to perf-test workflow
  .github/workflows/perf-test.yml
Labels: skip-changelog, CI

#19469 ci: Ensure Test Plan Approval for all Engineering pods
  .github/workflows/label-checker.yml
Labels: Task, skip-changelog, CI, skip-testPlan

#19482 fix: update health check url
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Url.java
Labels: Bug, Task

#19132 fix: Updated isPublic field to fetch from Permission groups
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Bug

#19412 fix: Added Firestore pagination paths to self referencing candidates
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
Labels: Bug, Critical, Cannot Reproduce Issue, Needs Triaging, FE Coders Pod, Test Plan Approved, AST, Data Platform Pod, Query Settings

#19302 fix: serverside selected and triggered row issues
  app/client/cypress/fixtures/Listv2/Listv2JSObjects.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/ListV2/ListV2_SerververSide_spec.js
  app/client/src/selectors/debuggerSelectors.tsx
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, List Widget V2

#19435 fix: New user datasource test 404 issue fixed
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug19426_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Datasources, Needs Triaging, BE Coders Pod, Test Plan Approved, Integrations Pod

#19505 fix: Updating the input field placeholder on app invite users modal
  app/client/package.json
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/yarn.lock
Labels: Bug, Needs Triaging, Invite users, Team Managers Pod

#19493 fix: Check for instance schema serially instead of in parallel
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
Labels: Bug

#19517 ci: Back merge v1.9.1
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: skip-changelog, CI

#19524 fix: Added default value to prevent code editor crash
  app/client/src/components/editorComponents/CodeEditor/markHelpers.ts
Labels: Bug

#18667 feat: code commenting #9369
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Autocomplete/Autocomplete_JS_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Autocomplete/Autocomplete_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Autocomplete/PropertyPaneSuggestion_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Autocomplete/autocomplete_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/CodeComment/PropertyPaneCodeComment_spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorComment_spec.js
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/Refactoring/Refactoring_spec.ts
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorComment_spec.js/jsObjAfterCommenting1.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorComment_spec.js/jsObjBeforeCommenting1.snap.png
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/utils/codeComment.ts
  app/client/src/components/editorComponents/CodeEditor/utils/codeComments.test.ts
  app/client/src/components/editorComponents/form/fields/DynamicTextField.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
Labels: Enhancement, Low effort, JS Objects, FE Coders Pod, JS Usability, Test Plan Approved

#19475 chore: ee clean up
  app/client/src/ce/entities/DataTree/actionTriggers.ts
  app/client/src/ce/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/sagas/ActionExecution/CopyActionSaga.ts
  app/client/src/sagas/ActionExecution/DownloadActionSaga.ts
  app/client/src/sagas/ActionExecution/ModalSagas.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionExecution/ResetWidgetActionSaga.ts
  app/client/src/sagas/ActionExecution/ShowAlertActionSaga.ts
  app/client/src/sagas/ActionExecution/errorUtils.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/PromisifyAction.ts
Labels: skip-changelog, Test Plan Approved

#19350 fix: Fixed an edge case with refactoring widget names similar to template widget names
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/RefactoringSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCEImplTest.java
  app/server/appsmith-server/src/test/resources/com/appsmith/server/solutions/ce/refactorDslWithOnlyWidgets.json
  app/server/appsmith-server/src/test/resources/com/appsmith/server/solutions/ce/refactorDslWithOnlyWidgetsWithNewList.json
Labels: Bug, Test Plan Approved, Entity Refactor, Data Platform Pod

#19441 chore: updated dependencies removed unused dependencies.
  app/client/craco.dev.config.js
  app/client/package.json
  app/client/yarn.lock
Labels: Dependencies, UI Builders Pod, Task, skip-changelog

#19122 chore: send segment anonymous id
  app/client/src/actions/analyticsActions.ts
  app/client/src/api/ApiUtils.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/reducers/uiReducers/analyticsReducer.ts
  app/client/src/reducers/uiReducers/index.tsx
  app/client/src/sagas/__tests__/initSagas.test.ts
  app/client/src/selectors/analyticsSelectors.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/AppsmithUtils.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ExchangeUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MockDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Task, skip-changelog, New Developers Pod, Test Plan Approved

#19531 chore: Check Java version in build script
  app/server/build.sh
Labels: skip-changelog, skip-docs, skip-testPlan

#19047 feat: drag n drop and Container jump enhancements
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/InputTruncateCheck_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Others/Divider_spec.js
  app/client/src/actions/canvasSelectionActions.ts
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/components/editorComponents/ResizableUtils.ts
  app/client/src/constants/CanvasEditorConstants.tsx
  app/client/src/pages/common/CanvasArenas/CanvasSelectionArena.tsx
  app/client/src/pages/common/CanvasArenas/hooks/ContainerJumpMetric.ts
  app/client/src/pages/common/CanvasArenas/hooks/canvasDraggingUtils.test.ts
  app/client/src/pages/common/CanvasArenas/hooks/canvasDraggingUtils.ts
  app/client/src/pages/common/CanvasArenas/hooks/useBlocksToBeDraggedOnCanvas.ts
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/pages/common/CanvasArenas/hooks/useRenderBlocksOnCanvas.ts
  app/client/src/reducers/uiReducers/canvasSelectionReducer.ts
  app/client/src/reflow/index.ts
  app/client/src/reflow/reflowHelpers.ts
  app/client/src/reflow/reflowTypes.ts
  app/client/src/reflow/reflowUtils.ts
  app/client/src/reflow/tests/reflowHelpers.test.js
  app/client/src/reflow/tests/reflowUtils.test.js
  app/client/src/resizable/resizenreflow/index.tsx
  app/client/src/sagas/selectors.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/hooks/useReflow.ts
Labels: Bug, Enhancement, Needs Triaging, UI Builders Pod, Task, Drag & Drop, Reflow & Resize

#19541 ci: Add host gateway to connect cloud services
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: Bug

#19514 feat: App Positioning Feature Backend Implementation
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Enhancement

#19565 chore: Updated the usage pulse format
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/UsagePulseControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UsagePulse.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/User.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UsagePulseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserSessionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UsagePulseServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UsagePulseServiceTest.java
Labels: skip-changelog, Test Plan Approved, Usage & Billing

#19261 feat: Multi Pane IDE: Phase 1
  app/client/src/actions/controlActions.tsx
  app/client/src/actions/editorActions.ts
  app/client/src/actions/multiPaneActions.ts
  app/client/src/assets/icons/header/database-side-nav.svg
  app/client/src/assets/icons/header/explorer-side-nav.svg
  app/client/src/assets/icons/header/library-side-nav.svg
  app/client/src/assets/icons/header/multi-pane-switch-2.svg
  app/client/src/assets/icons/header/multi-pane-switch-3.svg
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/components/editorComponents/Sidebar.tsx
  app/client/src/entities/FeatureFlags.ts
  app/client/src/pages/Editor/BottomBar/index.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/CanvasPane.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/MultiPaneContainer.tsx
  app/client/src/pages/Editor/TabsPane.tsx
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/pages/Editor/routes.tsx
  app/client/src/pages/common/CanvasArenas/StickyCanvasArena.tsx
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/pages/common/PaneCountSwitcher.tsx
  app/client/src/pages/common/SideNav.tsx
  app/client/src/reducers/uiReducers/index.tsx
  app/client/src/reducers/uiReducers/mainCanvasReducer.ts
  app/client/src/reducers/uiReducers/multiPaneReducer.ts
  app/client/src/sagas/NavigationSagas.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/selectors/multiPaneSelectors.ts
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: Enhancement, potential-duplicate, Task, New Developers Pod, skip-docs, IDE Navigation, skip-testPlan

#19574 chore: Codesplit on FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
Labels: skip-changelog, Test Plan Approved

#19297 chore: code refactor for jsFunction audit log
  app/client/src/ce/workers/Evaluation/JSObject/JSProxy.ts
  app/client/src/ce/workers/Evaluation/evalWorkerActions.ts
  app/client/src/ee/workers/Evaluation/JSObject/JSProxy.ts
  app/client/src/ee/workers/Evaluation/evalWorkerActions.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSLibrarySaga.ts
  app/client/src/workers/Evaluation/PromisifyAction.ts
  app/client/src/workers/Evaluation/UserLog.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/handlers/__tests__/jsLibrary.test.ts
  app/client/src/workers/Evaluation/handlers/index.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/Linting/utils.ts
Labels: skip-changelog, skip-testPlan

#17873 fix: add connection pool to MySQL plugin and fix issues due to Spring upgrade
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/MySQLNoiseTest_spec.js
  app/server/appsmith-plugins/mysqlPlugin/pom.xml
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/utils/MySqlDatasourceUtils.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/utils/MySqlGetStructureUtils.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
Labels: Bug, Backend, Critical, Needs Triaging, MySQL, Task, Stale, Release Blocker, BE Coders Pod, medium, Test Plan Approved, Integrations Pod, Connection pool

#19347 fix: user from group leaves workspace proper error handling
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
Labels: Bug, Team Managers Pod, Test Plan Approved, RBAC

#19307 fix: save a query as valid if datasource has no permissions
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Bug, High, Release, Team Managers Pod, RBAC

#18987 fix: Fix api url binding params
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug16683_Spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/utils/ApiPaneUtils.tsx
Labels: Bug, High, Needs Triaging, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod

#19439 tests: Add Origin header to all requests
  app/client/cypress/support/index.js
Labels: Bug

#19440 fix: generate page error while creating a datasource
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/GenerateCRUD/Generate_Crud_New_Page_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
Labels: Bug, High, Production, Needs Triaging, Generate Page, New Developers Pod, Test Plan Approved

#19575 chore: Platform functions extension for EE
  app/client/src/actions/focusHistoryActions.ts
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/ce/sagas/index.tsx
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/ce/workers/Evaluation/PlatformFunctions.ts
  app/client/src/ee/sagas/NavigationSagas.ts
  app/client/src/ee/workers/Evaluation/PlatformFunctions.ts
  app/client/src/workers/Evaluation/evaluate.ts
Labels: skip-changelog, Test Plan Approved

#19515 fix: Remove sentry logging for errors with no types
  app/client/src/sagas/PostEvaluationSagas.ts
Labels: Bug, JS Evaluation, FE Coders Pod, skip-testPlan

#19247 chore: store value perf
  app/client/cypress/support/commands.js
  app/client/src/actions/evaluationActions.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/entities/DataTree/actionTriggers.ts
  app/client/src/ce/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/ce/workers/Evaluation/evalWorkerActions.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/Engine/index.ts
  app/client/src/reducers/entityReducers/appReducer.ts
  app/client/src/sagas/ActionExecution/StoreActionSaga.ts
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/__tests__/Actions.test.ts
  app/client/src/workers/Evaluation/__tests__/evaluate.test.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/fns/fetch.ts
  app/client/src/workers/Evaluation/fns/storeFns.ts
  app/client/src/workers/Evaluation/fns/timeout.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerCollector.ts
  app/client/src/workers/Evaluation/fns/utils/fnGuard.ts
  app/client/src/workers/Linting/utils.ts
Labels: Performance, Needs More Info, High, Task, skip-changelog, FE Coders Pod, Test Plan Approved, storeValue

#19436 chore: code split usage and billing files
  app/client/src/assets/images/upgrade/be-cta/upgrade-to-be.png
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/AdminSettings/Main.tsx
  app/client/src/ce/pages/AdminSettings/index.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/Home/LeftPaneBottomSection.tsx
  app/client/src/ce/pages/Upgrade/Footer.tsx
  app/client/src/ce/pages/Upgrade/UsageUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/businessEdition/UpgradeToBEPage.tsx
  app/client/src/ce/pages/Upgrade/types.ts
  app/client/src/ce/pages/common/PageWrapper.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/ce/selectors/tenantSelectors.tsx
  app/client/src/ce/utils/signupHelpers.ts
  app/client/src/constants/Colors.tsx
  app/client/src/constants/routes/baseRoutes.ts
  app/client/src/ee/AppRouter.tsx
  app/client/src/ee/pages/Applications/index.tsx
  app/client/src/ee/pages/Home/LeftPaneBottomSection.tsx
  app/client/src/ee/pages/common/PageWrapper.tsx
  app/client/src/ee/utils/signupHelpers.ts
  app/client/src/entities/FeatureFlags.ts
  app/client/src/index.tsx
  app/client/src/pages/Applications/loader.tsx
  app/client/src/pages/Templates/LeftPaneTemplateList.tsx
  app/client/src/pages/Templates/index.tsx
  app/client/src/pages/UserProfile/index.tsx
  app/client/src/pages/common/SubHeader.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/pages/users/index.tsx
  app/client/src/pages/workspace/index.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog, Team Managers Pod, skip-testPlan, Usage & Billing

#19118 feat: Google Sheet oAuth analytic events
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AuthenticationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Enhancement, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#19650 fix: incorrect currentItem value
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
Labels: App Viewers Pod, List Widget V2

#19552 chore: Use rolling window in the usage pulse call and send segment anonymous id for anonymous users
  app/client/public/index.html
  app/client/public/logger.js
  app/client/src/RouteBuilder.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/constants/routes/appRoutes.ts
  app/client/src/index.tsx
  app/client/src/usagePulse/index.ts
  app/client/src/usagePulse/usagePulse.test.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/AppsmithUtils.tsx
Labels: skip-changelog

#19352 fix: fix git sync related bugs for Custom JS Lib feature
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/GitDirectories.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/GitConstants.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/GitStatusDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ApplicationGitReference.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/CustomJSLib.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CustomJSLibServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CustomJSLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImplV2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application.json
Labels: Bug, Needs Triaging, Mongo, BE Coders Pod, Integrations Pod, Custom JS Lib, skip-testPlan

#18966 feat: adding new api for release items
  app/client/src/api/ApplicationApi.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/mockResponses/FetchReleasesMockResponse.json
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/test/__mocks__/apiHandlers.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ReleaseItemsDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserHomepageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
Labels: Bug, Enhancement, Performance, Home Page, Task, Team Managers Pod

#19731 chore: change billing and usage feature flag email
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog

#19685 test: Script updates to unblock CI
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/ForkApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/ShareAppTests_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/JsFunctionExecution/SetTimeout_spec.ts
  app/client/cypress/integration/Smoke_TestSuite_Fat/ClientSideTests/Refactoring/Refactoring_spec.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test Plan Approved, Test

#19752 chore: send static anonymous id for anonymous users in usage pulse call
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/ForkApplication_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/ShareAppTests_spec.js
  app/client/src/ce/sagas/userSagas.tsx
Labels: skip-changelog, Test Plan Approved

#19526 fix: This fixes the border issue for the table v1 widget (#18322)
  app/client/src/widgets/TableWidget/component/TableAction.tsx
Labels: Bug, Good First Issue, Table Widget, UI Improvement, App Viewers Pod, Low, Production, Needs Triaging, skip-testPlan

#19678 fix: Updating UI for invite modal when the user doesn't have share access
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
Labels: Bug, High, Production, Needs Triaging, Team Managers Pod, medium, RBAC

#19722 fix: Updating logic to push blank key value params based on manage access for APIs
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/MemberRoles_Spec.ts
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, High, Needs Triaging, Deploy Preview, Team Managers Pod, RBAC

#19265 fix: PostgreSQL Trust Authentication Login
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/QueryPane/EmptyDataSource_spec.js
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
Labels: Bug, Good First Issue, Backend, Needs Triaging, Stale, BE Coders Pod, Postgres, Test Plan Approved, Integrations Pod

#19649 chore: add chore as a type of change
  .github/pull_request_template.md
Labels: skip-changelog

#19680 feat: Return first page as home page when application has no home page
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
Labels: Enhancement, Task, skip-testPlan

#19246 fix: slider widgets remove design system label component.
  app/client/src/widgets/DropdownWidget/component/index.tsx
  app/client/src/widgets/InputWidget/component/index.tsx
  app/client/src/widgets/NumberSliderWidget/component/Container.tsx
  app/client/src/widgets/NumberSliderWidget/component/Slider.tsx
  app/client/src/widgets/RangeSliderWidget/component/RangeSlider.tsx
  app/client/src/widgets/SelectWidget/component/index.styled.tsx
Labels: Bug, UI Builders Pod

#19422 chore: cypress tests added
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/DSAutosaveImprovements_spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: Datasources, Task, skip-changelog, Test Plan Approved, Integrations Pod

#19725 test: Script fix for flaky test in JSEditorComment_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorComment_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#19551 fix: Disable console logs for internal operation
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/UserLog.ts
  app/client/src/workers/Evaluation/functionDeterminer.ts
Labels: Bug, Release, Needs Triaging, JS Objects, FE Coders Pod, medium, Test Plan Approved

#19298 fix: Api new line chars getting lost issue fixed
  app/client/src/components/editorComponents/CodeEditor/EditorConfig.ts
  app/client/src/components/editorComponents/CodeEditor/codeEditorUtils.test.ts
  app/client/src/components/editorComponents/CodeEditor/codeEditorUtils.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
Labels: Bug, High, Production, Needs Triaging, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod

#19683 feat: meta rehydration
  app/client/src/actions/metaActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/workers/Evaluation/evaluationUtils.test.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/entities/DataTree/types.ts
  app/client/src/entities/DataTree/utils.ts
  app/client/src/reducers/entityReducers/metaReducer/index.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/handlers/evalTrigger.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/test.ts
  app/client/src/workers/common/DependencyMap/test.ts
Labels: Enhancement, JS Evaluation, App Viewers Pod, Needs Triaging, FE Coders Pod, Test Plan Approved, List Widget V2

#19315 fix: Upgrade map widget library to support react 17
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/ForkTemplateToGitConnectedApp.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/Fork_Template_To_App_spec.js
  app/client/package.json
  app/client/src/components/propertyControls/LocationSearchControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneSearchInput.tsx
  app/client/src/utils/hooks/useClickToSelectWidget.tsx
  app/client/src/widgets/MapWidget/component/Clusterer.tsx
  app/client/src/widgets/MapWidget/component/Map.tsx
  app/client/src/widgets/MapWidget/component/Marker.tsx
  app/client/src/widgets/MapWidget/component/PickMyLocation.tsx
  app/client/src/widgets/MapWidget/component/SearchBox.tsx
  app/client/src/widgets/MapWidget/component/index.tsx
  app/client/src/widgets/MapWidget/widget/index.tsx
  app/client/yarn.lock
Labels: Bug, Enhancement, Map Widget, App Viewers Pod, High

#19742 fix: API change
  app/client/cypress/fixtures/Listv2/ListWithInputForSelectedAndTriggerRow.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_onRowClick_spec.js
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/ListWidgetV2/widget/derived.js
  app/client/src/widgets/ListWidgetV2/widget/derived.test.js
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/ListWidgetV2/widget/propertyConfig.ts
Labels: App Viewers Pod

#19743 fix: current item in widget that uses current item internally
  app/client/cypress/fixtures/Listv2/Listv2WithTablewidget.json
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/ListV2/Childwigets/List_Table_Widgets_spec.js
  app/client/src/actions/metaWidgetActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/components/editorComponents/EditorContextProvider.test.tsx
  app/client/src/components/editorComponents/EditorContextProvider.tsx
  app/client/src/reducers/entityReducers/metaWidgetsReducer.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.test.ts
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/MetaWidgetContextProvider.tsx
Labels: App Viewers Pod

#19781 chore: Refactor rts connection retry with limits
  app/client/src/actions/websocketActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/sagas/WebsocketSagas/WebsocketSagas.ts
Labels: Task, Development, skip-changelog, skip-testPlan

#19573 feat: Add a description field for pages
  app/client/src/actions/pageActions.tsx
  app/client/src/api/PageApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/AppViewer/AppViewerHeader.tsx
  app/client/src/pages/AppViewer/AppViewerHtmlTitle.tsx
  app/client/src/reducers/entityReducers/pageListReducer.tsx
  app/client/src/sagas/PageSagas.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
Labels: Enhancement, Task, Templates, skip-testPlan

#19580 chore: Updated a field name in JSON form to be more user friendly
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FormProperties_spec.js
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.ts
Labels: Bug, App Viewers Pod, Low, JSON Form, skip-testPlan

#19790 ci: Add spoiler to list failed ui tests
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI, skip-testPlan

#19786 chore: update browser list
  app/client/yarn.lock
Labels: skip-changelog

#19718 chore: fix error message not logged from cloud service in Mockdata service
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MockDataServiceCEImpl.java
Labels: skip-changelog, skip-testPlan

#19798 ci: Add JAVA setup step to perf tests in test build workflow
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#19800 ci: Update README.md
  README.md
Labels: skip-changelog, CI

#19767 feat: emoji picker (#19450)
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/RTE/RichTextEditor_spec.js
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
Labels: Enhancement, Good First Issue, Rich Text Editor Widget, App Viewers Pod, Low effort, Test Plan Approved

#19803 chore: Add serve module back
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#19671 chore: Refactor for JSFunction execution auditLogs
  app/client/src/ce/sagas/JSFunctionExecutionSaga.ts
  app/client/src/ce/workers/Evaluation/JSObject/postJSFunctionExecution.ts
  app/client/src/ee/sagas/JSFunctionExecutionSaga.ts
  app/client/src/ee/workers/Evaluation/JSObject/JSProxy.ts
  app/client/src/ee/workers/Evaluation/JSObject/postJSFunctionExecution.ts
  app/client/src/ee/workers/Evaluation/evalWorkerActions.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/JSObject/JSProxy.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerCollector.ts
Labels: skip-changelog, FE Coders Pod, skip-docs, skip-testPlan

#19485 chore: datasourceContextService refactor
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/DatasourceContextIdentifier.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/DatasourceContextIdentifierCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
Labels: Task, skip-changelog, Test Plan Approved, Data Platform Pod, Datasource Environments

#19472 chore: feature flag changes for auto layout.
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog, skip-testPlan

#19773 fix: Rebranding changes for design system components
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTab.tsx
  app/client/src/pages/Editor/gitSync/components/TabItem.tsx
  app/client/src/utils/hooks/useBrandingTheme.ts
Labels: Bug, Design System Pod, Task, skip-testPlan

#19811 fix: Show JS Function data in autocompletion hints
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/Bug15909_Spec.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/utils/autocomplete/dataTreeTypeDefCreator.ts
Labels: Bug, UX Improvement, High, Production, Autocomplete, FE Coders Pod, JS Usability, medium, needs estimate, Test Plan Approved

#19296 fix: helm install values checks
  deploy/helm/Chart.yaml
  deploy/helm/templates/ingress.yaml
  deploy/helm/templates/statefulset.yaml
  deploy/helm/values.yaml
Labels: Bug, Deployment, DevOps Pod

#19807 fix: This fixes the DDOS that appsmith production database faced when the sessions set in redis were in bad state.
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
Labels: Bug, Team Managers Pod, RBAC, skip-testPlan

#19141 feat: multi-line input and auto-resize textarea
  app/client/cypress/integration/Smoke_TestSuite/Application/EchoApiCMS_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Input/Input_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Input/Inputv2_spec.js
  app/client/cypress/locators/CMSApplocators.js
  app/client/src/components/editorComponents/AutoResizeTextArea.test.tsx
  app/client/src/components/editorComponents/AutoResizeTextArea.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/UseComposeRef.ts
  app/client/src/utils/migrations/autoHeightMigrations.ts
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/BaseInputWidget/constants.ts
  app/client/src/widgets/BaseInputWidget/utils.ts
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
  app/client/src/widgets/InputWidget/component/index.tsx
  app/client/src/widgets/InputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/derived.js
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
Labels: Enhancement, UI Builders Pod, Auto Height, Test Plan Approved

#19780 fix: Navigation Settings API
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Bug, Enhancement, App Viewers Pod, Task, App Navigation, medium

#19737 fix: Container jump temporary undroppable state of dragging widget
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/utils/hooks/useReflow.ts
Labels: Bug, regression, UI Builders Pod, Reflow & Resize, medium

#19837 chore: fix typo from area to aria
  app/client/src/widgets/ListWidget/component/ListPagination.tsx
Labels: skip-changelog

#19852 fix: Usage pulse delivery for invalid user where manage user permission is missing
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/UsagePulseControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: Bug, skip-changelog, skip-testPlan

#19831 chore: update import for ActionTriggerFunctionNames
  app/client/src/workers/Linting/utils.ts
Labels: skip-changelog, Test Plan Approved

#19827 fix: fix Snowflake JDBC driver connectivity issue
  app/server/appsmith-plugins/snowflakePlugin/pom.xml
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
Labels: Bug, Datasources, Critical, Release, Needs Triaging, BE Coders Pod, Test Plan Approved, Integrations Pod, skip-testPlan

#19865 fix: Modified upgrade path error for v1.9.2
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
Labels: Bug, Critical, Docker, DevOps Pod

#19748 test: Flaky test fix-3
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/Fork_Template_To_App_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Templates/Fork_Template_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorComment_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Workspace/MemberRoles_Spec.ts
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/queryCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#18724 fix: Return undefined for nonexistent action headers
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/utils/ApiPaneUtils.tsx
Labels: Bug, High, Stale, REST API plugin, Test Plan Approved, Integrations Pod

#19853 fix: date picker required fix (#19547)
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Datepicker/DatePicker2_spec.js
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Datepicker/DatePickerV2Updated_spec.js
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/fields/DateField.tsx
Labels: Bug, Test Plan Approved

#19861 fix: Eval error handling bugs
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogItem.tsx
  app/client/src/workers/Evaluation/validations.ts
Labels: Bug

#19879 fix: Add support for the shh url that does not contain domain name
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
Labels: Bug, Needs Triaging, Git Version Control, skip-testPlan, Git Pod

#19789 chore: support localstorage APIs using appsmith store functions
  app/client/src/workers/Evaluation/__tests__/Actions.test.ts
  app/client/src/workers/Evaluation/fns/LocalStorage.ts
  app/client/src/workers/Evaluation/fns/__tests__/LocalStorage.test.ts
  app/client/src/workers/Evaluation/fns/storeFns.ts
  app/client/src/workers/Evaluation/handlers/setupEvalEnv.ts
Labels: skip-changelog, JS Objects, FE Coders Pod, Test Plan Approved, Custom JS Lib

#19884 chore: disable JS Libs feature flag
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog, skip-testPlan

#19848 fix:use correct error message for git import failures
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
Labels: Bug, skip-changelog, skip-testPlan

#19809 chore: code split changes for license error page for non admin user
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
Labels: skip-changelog

#19874 chore: formatting and access modifier changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved, Datasource Environments

#19916 test: Skipping GraphQL tests until endpoint responds to unblock CI
  app/client/cypress/integration/Smoke_TestSuite/ServerSideTests/Datasources/GraphQL_spec.ts
Labels: skip-changelog, Test

#19156 feat: Separate the js object code and metadata when used with git sync
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/CommonConstants.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ApplicationGitReference.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ActionCollection.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionCollectionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CommentServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GoogleRecaptchaServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MarketplaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement, Git Version Control, Task, Test Plan Approved, Git Pod

#19775 chore: send anonymous id from segment for anonymous users in usage pulse call
  app/client/src/ce/sagas/userSagas.tsx
Labels: skip-changelog

#19504 fix: Checkbox group widget fails to display the updated values
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Checkbox/CheckboxGroup_withQuery_spec.js
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, High, Needs Triaging, Checkbox Group widget, Test Plan Approved

#19891 chore: Updates supabase library URL from 2.2.3 to 2.4.0
  app/client/src/pages/Editor/Explorer/Libraries/recommendedLibraries.ts
Labels: Task, skip-changelog, skip-testPlan

#19886 fix: fix git related issues in Custom JS Library feature
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
Labels: Bug, High, Production, Needs Triaging, Git Version Control, Mongo, BE Coders Pod, Test Plan Approved, Integrations Pod, Custom JS Lib, Git Pod

#19929 fix: show progress bar in git modal when committing library diffs
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/__tests__/Deploy.test.tsx
Labels: Bug, Needs Triaging, Git Version Control, medium, Test Plan Approved, Custom JS Lib, Git Pod

#19930 fix: Forking fails when template has REST datasource with Bearer Token Authentication
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DecryptedSensitiveFields.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
Labels: Bug, Needs Triaging, Import-Export-App, New Developers Pod, Templates, skip-testPlan, Git Pod

#19833 fix: Query and data source page - 404 error on reload
  app/client/src/ce/AppRouter.tsx
  app/client/src/pages/tests/slug.test.tsx
  app/client/src/utils/helpers.tsx
Labels: Bug, Critical, Production, New Developers Pod, Clean URLs, Test Plan Approved

#19919 fix: prevent invalid property assesment lint error
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/BugTests/invalidLintError_Spec.ts
  app/shared/ast/src/index.ts
Labels: Bug, Needs Triaging, Test Plan Approved

#19939 chore: Add eslint and prettier config to shared module
  app/shared/ast/.eslintrc.json
  app/shared/ast/.prettierrc
Labels: skip-changelog, Test Plan Approved

#18531 fix: secret saved indicator on ui for datasource forms
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/InputTextControl.tsx
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
Labels: Bug, Backend, BE Coders Pod, OAuth, Up for grabs, Ready for design, Test Plan Approved, Integrations Pod

#19963 feat: added models for export
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ActionConfigurationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ActionMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ApplicationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ApplicationResource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/DatasourceMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/JSObjectMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/LayoutMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/PageMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ThemeMetadata.java
Labels: Enhancement

#19945 test: add cypress test for multiline and singleline datatype for input widget
  app/client/cypress/integration/Smoke_TestSuite/ClientSideTests/Widgets/Input/Input_Multiline_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#19977 ci: Make perf tests a blocking check
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#19917 chore: [code split] License issue landing page for non admin user
  app/client/src/pages/common/ErrorPages/Page.tsx
Labels: skip-changelog

#19771 feat: APIs to Upload/Delete App navigation logo (#19164)
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Constraint.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Enhancement, App Viewers Pod, Task, App Navigation

#19973 chore: Delete netlify.toml
  app/client/netlify.toml
Labels: skip-changelog, skip-docs, skip-testPlan

#19966 fix: viewing forkable apps routing to login for non signed in users
  app/client/src/pages/AppViewer/PageMenu.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.test.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
  app/client/src/pages/Applications/ForkApplicationModal.tsx
Labels: Bug, Critical, Needs Triaging, Fork App, New Developers Pod, skip-testPlan, Testcase approved

#19981 fix: Redis rdb persistance | User session persistance
  deploy/docker/entrypoint.sh
Labels: Bug, Deployment, Critical, Needs Triaging, DevOps Pod

#20006 test: Upgrade Appsmith [POC]
  .github/workflows/upgrade-appsmith-tests.yml
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/UpgradeAppsmith/UpgradeAppsimth_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#20017 test: Fix upgrade workflow run
  .github/workflows/upgrade-appsmith-tests.yml
Labels: skip-changelog, Test

#19974 fix: issue with ansible deployment
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/defaults/main.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/error-checks.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/install-docker.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/main.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-appsmith-runtime.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-init-config.yml
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/tasks/setup-user-data.yml
Labels: Bug, Deployment, DevOps Pod

#19756 chore: [POC] JSObject mutation
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/ce/workers/Evaluation/evalWorkerActions.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/JSObject/Collection.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/functionDeterminer.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog

#19735 chore: Add frame-ancestors CSP during dev time
  app/client/start-https.sh
Labels: skip-changelog, Stale, skip-docs, skip-testPlan

#20009 chore: updated label config to let us add performance on any independent issue
  .github/config-test.json
Labels: skip-changelog, skip-testPlan

#20079 fix: flaky tests due to startup happening async
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExampleApplicationsAreMarked.java
Labels: Bug

#20039 feat: Add `instanceId` in tenant response
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Tenant.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/TenantServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
Labels: Enhancement

#19943 fix: Autocomplete does not suggest same function name that belongs to…
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Autocomplete/Autocomplete_JS_spec.ts
  app/client/src/utils/autocomplete/AutocompleteSortRules.ts
Labels: Bug, Test Plan Approved

#19988 chore: Deploy preview of a PR
  .github/workflows/build-deploy-preview.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  scripts/deploy_preview.sh
Labels: skip-changelog

#20030 fix: Fix Appsmith logo in emails
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/utils/BrandingUtils.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AssetServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/email/forgotPasswordTemplate.html
  app/server/appsmith-server/src/main/resources/email/inviteUserTemplate.html
  app/server/appsmith-server/src/main/resources/email/welcomeUserTemplate.html
Labels: Bug

#20064 chore: redirect to pricing page on upgrade
  app/client/src/utils/hooks/useOnUpgrade.ts
Labels: skip-changelog

#20114 ci: changed ubunut latest for ci
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#20040 ci: Fat migration CI Re-run fix
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, Test Plan Approved, Test

#19119 test: Cypress CI run Group name update
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#20131 ci: add cosmetic changes to deploy-preview ci
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  scripts/deploy_preview.sh
Labels: skip-changelog, CI

#20052 feat: Improved App Nav - Sidebar
  app/client/package.json
  app/client/src/actions/applicationActions.ts
  app/client/src/assets/icons/settings/nav-style-minimal.svg
  app/client/src/assets/icons/settings/nav-style-sidebar.svg
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/AppViewer/AppViewerButton.tsx
  app/client/src/pages/AppViewer/AppViewerHeader.tsx
  app/client/src/pages/AppViewer/Navigation/Sidebar.styled.tsx
  app/client/src/pages/AppViewer/Navigation/Sidebar.tsx
  app/client/src/pages/AppViewer/Navigation/TopStacked.styled.tsx
  app/client/src/pages/AppViewer/Navigation/TopStacked.tsx
  app/client/src/pages/AppViewer/Navigation/components/ApplicationName.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/ApplicationName.tsx
  app/client/src/pages/AppViewer/Navigation/components/CollapseButton.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/CollapseButton.tsx
  app/client/src/pages/AppViewer/Navigation/components/HeaderRightItemContainer.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuItem.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuItem.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuItemContainer.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuText.tsx
  app/client/src/pages/AppViewer/Navigation/components/MobileNavToggle.tsx
  app/client/src/pages/AppViewer/Navigation/components/ShareButton.tsx
  app/client/src/pages/AppViewer/Navigation/components/SidebarProfileComponent.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/SidebarProfileComponent.tsx
  app/client/src/pages/AppViewer/Navigation/components/TopHeader.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/TopHeader.tsx
  app/client/src/pages/AppViewer/Navigation/constants.ts
  app/client/src/pages/AppViewer/Navigation/index.tsx
  app/client/src/pages/AppViewer/PageMenu.tsx
  app/client/src/pages/AppViewer/PageTabsContainer.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.test.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/ButtonGroupSetting.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/ColorStyleIcon.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/LogoConfiguration.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/SwitchSetting.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/index.tsx
  app/client/src/pages/Editor/WidgetsEditor/PageTabs.tsx
  app/client/src/pages/common/AppHeader.tsx
  app/client/src/selectors/applicationSelectors.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, App Navigation

#19967 fix: table border issue fix (#18339)
  app/client/src/widgets/TableWidget/component/TableAction.tsx
  app/client/src/widgets/TableWidget/component/TableStyledWrappers.tsx
Labels: Bug, Table Widget, App Viewers Pod, Low, Production, Needs Triaging, skip-testPlan

#19994 fix: resolve issue of double click to select all in checkbox group
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
Labels: Bug, App Viewers Pod, Checkbox Group widget, skip-testPlan

#20046 fix: resolve issue of inconsistent color of select all label in disabled state.
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
Labels: Bug, Checkbox Group widget, skip-testPlan

#19952 fix: add new button is always visible as long as it is enabled (#19762)
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/Add_new_row_spec.js
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
Labels: Bug, App Viewers Pod, High, Low effort, Test Plan Approved, Table Widget V2, Testcase approved

#20145 chore: removed unused import
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
Labels: skip-changelog

#20080 fix: MySQL Plugin: update handling of JSON DB type
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Bug, Critical, MySQL, BE Coders Pod, Test Plan Approved, Integrations Pod

#20138 ci: fix github-actions trigger sequence
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: skip-changelog, CI
