Repository appsmithorg/appsmith, pull requests merged in 2023-06, with the labels that each got.

#23884 fix: Fix undefined section values in datasource card
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceCard.tsx
Labels: Bug, Low, Needs Triaging, BE Coders Pod, Integrations Pod, Sentry, skip-testPlan, Integrations Pod General

#23724 fix: Auto dimension not working within Modal widget
  app/client/src/sagas/AutoLayoutUpdateSagas.tsx
  app/client/src/sagas/ModalSagas.ts
Labels: Bug, Needs Triaging, UI Builders Pod, Auto Height, skip-testPlan, Responsive Widget

#23934 test: Cypress - Skipping tests to unblock CI
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ErrorMessages_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_CurlPOSTImport_spec.js
Labels: skip-changelog, Test

#23887 fix: Add a checkbox to multiselect Selects
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
Labels: Bug, Release, Needs Triaging, Team Managers Pod, Release Blocker, Audit Logs

#23888 fix: google sheet datasource is incorrectly marked as unauthorised by reconnect modal logic.
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/Editor/gitSync/components/DatasourceListItem.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/utils/editorContextUtils.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
Labels: Bug, Release, Regressed, Needs Triaging, Google Sheets, Import-Export-App, Release Blocker, BE Coders Pod, Test Plan Approved, Integrations Pod, Git Pod

#23941 test: Cypress - Skipping tests to unblock CI
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.js
Labels: skip-changelog, Test

#23922 fix: adding loader state on branch switching
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/gitSync/components/BranchListItem.tsx
  app/client/src/pages/Editor/gitSync/components/LocalBranchList.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug, Needs Triaging, Test Plan Approved

#23944 chore: revert Exclude published mode resources for customJSLibs
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
Labels: skip-changelog

#23945 fix: fix bug with support for enter for superuser form
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/SetupForm.test.tsx
  app/client/src/pages/setup/SetupForm.tsx
Labels: Bug, Release, Needs Triaging, Release Blocker, skip-testPlan, Billing & Usage Pod

#23906 feat: intercom consent with ADS 2.0 changes and cypress test cases
  app/client/cypress/e2e/Regression/ClientSide/Editor/HelpButton_spec.ts
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/src/pages/Editor/HelpButton.tsx
Labels: Enhancement, Frontend, Needs Design, Verified, Task, skip-testPlan, Billing & Usage Pod, CE Instance

#23946 task: update Airtable Cypress test as per the new sentence case
  app/client/cypress/e2e/Sanity/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: Design System Pod, Task, BE Coders Pod, SAAS Plugins, Integrations Pod, ads revamp, Integrations Pod General

#23950 fix: datepicker issues in property pane
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, Design System Pod, Date Picker Widget, App Viewers Pod, Release, Regressed, Needs Triaging, Release Blocker, ads deduplication

#23918 chore: Add cypress test for setter method
  app/client/cypress/e2e/Regression/ClientSide/Widgets/WidgetPropertySetters_spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/widgets/AudioWidget/index.tsx
  app/client/src/widgets/AudioWidget/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: JS Evaluation, FE Coders Pod

#23882 chore: CDN related changes
  app/client/public/index.html
  app/client/src/index.tsx
Labels: Enhancement, Test Plan Approved

#23890 fix: gs authorisation status updates
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/SaaSEditor/errorUtils.ts
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AuthenticationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Bug, Frontend, High, Needs Triaging, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#23974 fix: excluding intercom test cases for airgap
  app/client/cypress/e2e/Regression/ClientSide/Editor/HelpButton_spec.ts
Labels: Frontend, skip-testPlan, Billing & Usage Pod

#23963 fix: Fix for Google sheets datasource generate query pane inactive
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Bug, Backend, Release, Regressed, Needs Triaging, Release Blocker, BE Coders Pod, Test Plan Approved, Data Platform Pod, Datasource Environments

#23975 chore: bump appsmith-design-system
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog

#23726 chore: Add missing autocomplete definition declarations
  app/client/generators/widget/templates/index.js.hbs
  app/client/src/widgets/AudioWidget/index.tsx
  app/client/src/widgets/BaseInputWidget/index.ts
  app/client/src/widgets/CanvasWidget.tsx
  app/client/src/widgets/DatePickerWidget/index.ts
  app/client/src/widgets/DividerWidget/index.ts
  app/client/src/widgets/FilepickerWidget/index.ts
  app/client/src/widgets/IconWidget/index.ts
  app/client/src/widgets/QRGeneratorWidget/index.ts
  app/client/src/widgets/SkeletonWidget.tsx
  app/client/src/widgets/TabsMigrator/index.ts
Labels: skip-changelog, Test Plan Approved

#23526 chore: add utility for widget level acl
  app/client/src/ce/actions/tenantActions.ts
  app/client/src/ce/api/TenantApi.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/reducers/settingsReducer.ts
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/ee/sagas/tenantSagas.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Settings/FormGroup/Checkbox.tsx
  app/client/src/pages/Settings/SaveSettings.tsx
  app/client/src/pages/Settings/SettingsForm.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserProfileDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/UserProfileCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: skip-changelog, Team Managers Pod, RBAC

#23981 fix: add additional checks for super user form not not be submitted more than once
  app/client/src/pages/setup/SetupForm.tsx
Labels: Bug, QA, Release, Needs Triaging, Release Blocker, skip-testPlan, Billing & Usage Pod

#23923 fix: Fix dropdown bug issue
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/sagas/SaaSPaneSagas.ts
Labels: Bug, Google Sheets, BE Coders Pod, medium, Test Plan Approved, Integrations Pod

#23917 test: Cypress - Flaky test fix
  .github/workflows/ci-test-limited.yml
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_sql_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Button_Text_WithRecaptcha_spec.js
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/CopyQuery_RenameDatasource_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Replay_Editor_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/DatasourcePageLayout_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Chart_Widget_Loading_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_PageNo_PageSize_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicServerSideData_spec.js
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad_cyclic_dependency_errors_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo_Spec.js
  app/client/cypress/e2e/Sanity/Datasources/PostgresDatasource_spec.js
  app/client/cypress/fixtures/mongoAppdsl.json
  app/client/cypress/locators/PgAdminlocators.json
Labels: skip-changelog, Test Plan Approved, Test

#22904 chore: Fix Style recalcs for stickyCanvasArena
  app/client/src/pages/common/CanvasArenas/CanvasDraggingArena.tsx
  app/client/src/pages/common/CanvasArenas/CanvasSelectionArena.tsx
  app/client/src/pages/common/CanvasArenas/StickyCanvasArena.tsx
Labels: Performance Pod, UI Builders Pod, Task, skip-changelog, Drag & Drop, Canvas / Grid, Performance

#23912 fix: added gitsyncid assignment to DataSource constructor with dataSourceS…
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorage.java
Labels: Bug, High, Release, Git Version Control, Release Blocker, BE Coders Pod, Test Plan Approved, Data Platform Pod, Datasource Environments, Git Pod

#24000 test: Cypress - Flaky fixes
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.js
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
Labels: skip-changelog, Test

#23965 chore: OB Revamp BE code refactor
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/CommonConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/CommonConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RedirectHelper.java
Labels: skip-changelog

#24004 test: Cypress | Flaky fix MySQL1_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: skip-changelog, Test Plan Approved, Test

#24007 test: Cypress | Skipping tests to unblock CI
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/postgres_spec.ts
Labels: skip-changelog, Test

#17952 fix: Fix test email not respecting SSL option
  app/client/src/pages/Settings/config/email.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/TestEmailConfigRequestDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
Labels: Bug, Low, Community Reported, Needs Triaging, Stale, Super Admin, DevOps Pod, medium

#24008 test: Cypress | StartPage - GenerateApp flaky fix
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo_Spec.ts
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test Plan Approved, Test

#23818 fix: peeking on undefined properties
  app/client/cypress/e2e/Regression/ClientSide/PeekOverlay/PeekOverlay_Spec.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/selectors/dataTreeSelectors.ts
Labels: Bug, Verified, IDE, Needs Triaging, New Developers Pod, Test Plan Approved

#23898 chore: Fix client setup documentation: Add steps for running backend server from docker + run jest tests locally + fix overall structure
  contributions/ClientSetup.md
Labels: App Viewers Pod, skip-changelog, skip-testPlan

#23361 feat: Updates templates filters section in appsmith platform
  app/client/src/pages/Templates/Filters.tsx
  app/client/src/selectors/templatesSelectors.tsx
Labels: Enhancement, Templates pod, Test Plan Approved

#24002 fix: gsheet file picker ui fixes
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/SaaSEditor/GoogleSheetFilePicker.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug, Task, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#23929 fix: SQL keyword style bug
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_sql_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_sql_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
Labels: Bug, Needs Triaging, FE Coders Pod, Test Plan Approved, Code Editor

#24019 fix: added fallback handling of environmentId header absent in trigger call
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
Labels: Bug, Backend, QA, Release, Regressed, Needs Triaging, Release Blocker, BE Coders Pod, Data Platform Pod, Datasource Environments

#23982 fix: curl import empty headers issue fixed
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/CurlImportFlow_spec.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
Labels: Bug, Backend, Low, BE Coders Pod, CURL, Integrations Pod

#23979 perf: Optimising DSL fetch api
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Performance Pod, Task, Performance

#23725 feat: Adds support for showing navbar in embedded view.
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ViewMode_spec.js
  app/client/cypress/e2e/Regression/ClientSide/SettingsPane/EmbedSettings_spec.ts
  app/client/cypress/locators/HomePage.js
  app/client/cypress/support/Pages/AppSettings/EmbedSettings.ts
  app/client/cypress/support/Pages/InviteModal.ts
  app/client/cypress/support/commands.js
  app/client/src/pages/AppViewer/Navigation/Sidebar.tsx
  app/client/src/pages/AppViewer/Navigation/components/TopHeader.tsx
  app/client/src/pages/AppViewer/Navigation/index.tsx
  app/client/src/pages/Applications/EmbedSnippet/useUpdateEmbedSnippet.tsx
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateDetailedView.tsx
Labels: Enhancement, Templates pod, Test Plan Approved

#24042 chore: Add analytics event to track telemetry is disabled & update properties for INVITE_USER event
  app/client/src/actions/actionSelectorActions.ts
  app/client/src/actions/oneClickBindingActions.ts
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/ce/sagas/SuperUserSagas.tsx
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/TextView/index.tsx
  app/client/src/components/editorComponents/LazyCodeEditor/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useDatasource.tsx
  app/client/src/pages/Editor/CanvasLayoutConversion/ConversionButton.tsx
  app/client/src/pages/Editor/DataSourceEditor/DSFormHeader.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceStructure.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/pages/Editor/SaaSEditor/GoogleSheetFilePicker.tsx
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/pages/UserProfile/UserProfileImagePicker.tsx
  app/client/src/pages/common/datasourceAuth/AuthMessage.tsx
  app/client/src/sagas/SaaSPaneSagas.ts
  app/client/src/selectors/oneClickBindingSelectors.tsx
  app/client/src/usagePulse/index.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/FilterInternalProperties/Widget.ts
  app/client/src/utils/FilterInternalProperties/index.ts
  app/client/src/utils/editorContextUtils.ts
  app/client/src/workers/Evaluation/__tests__/evaluate.test.ts
Labels: skip-changelog, skip-testPlan

#23159 fix: Add support for xls,json,tsv file types in file widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePickerV2_CSV_spec.js
  app/client/cypress/fixtures/Sample.tsv
  app/client/cypress/fixtures/SampleXLS.xls
  app/client/cypress/fixtures/TestSpreadsheet.xlsx
  app/client/src/widgets/DocumentViewerWidget/component/XlsxViewer.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/FileParser.test.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/FileParser.ts
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug, Enhancement, File Picker Widget, App Viewers Pod, medium, Test Plan Approved

#24003 feat: Add support for yaml extension for the git connect flow validation
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
Labels: Enhancement, Git Version Control, Test Plan Approved, Git Pod

#23897 fix: Cannot read properties of undefined (reading 'matches')
  app/client/src/utils/hooks/useWidgetFocus/useWidgetFocus.tsx
Labels: Bug, App Viewers Pod, High, Needs Triaging, Test Plan Approved, Sentry, Widget keyboard accessibility

#24063 chore: Merge conflict resolution with master
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_JS_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_focus_spec.js
  deploy/docker/entrypoint.sh
Labels: skip-changelog, skip-testPlan

#24018 fix: Added "children" to autocomplete list for multiTree and singleTree widgets
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_Spec.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
Labels: Bug, UX Improvement, Production, Autocomplete, FE Coders Pod, medium, Test Plan Approved, Add/Update Test Plan

#24025 fix: Autocomplete trigger changes
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_JS_spec.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug, Autocomplete, FE Coders Pod, medium, Test Plan Approved

#24076 chore: enable cleanup dps
  .github/workflows/cleanup-dp.yml
Labels: skip-changelog

#24083 chore: Removing unnecessary field idToken from CE codebase
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/UserProfileCE_DTO.java
Labels: skip-changelog, SSO

#23991 chore: Linter check for dangling it.only tests
  app/client/.eslintrc.js
  app/client/cypress/.eslintrc.json
Labels: Test Plan Approved, skip-testPlan

#24056 chore: Added error redirect in Redirect Helper
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RedirectHelper.java
Labels: skip-changelog, skip-testPlan

#24114 fix: fix alignments with the non super user form
  app/client/src/pages/setup/GetStarted.tsx
  app/client/src/pages/setup/Welcome.tsx
Labels: Bug, Release, Needs Triaging, Release Blocker, New Developers Pod, Welcome Screen, skip-testPlan

#24078 feat: add loading spinner for action execution
  app/client/src/components/editorComponents/ActionExecutionInProgressView.tsx
Labels: Enhancement, Frontend, Task, BE Coders Pod, Integrations Pod, skip-testPlan, Integrations Pod General

#23997 chore: [One-click binding] design and QA callouts one click binding
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/index_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/spec_utility.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Add_new_row_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/freeze_column_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/inline_editing_validations_spec.js
  app/client/cypress/locators/OneClickBindingLocator.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/widgetCommands.js
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/DropdownOption.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/ConnectData/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/styles.tsx
  app/client/src/widgets/TableWidgetV2/component/ConnectDataOverlay.tsx
Labels: App Viewers Pod, skip-changelog, skip-testPlan, One-click Binding

#24073 fix: connect datasource size issue in the generate page form
  app/client/src/pages/Editor/GeneratePage/components/DataSourceOption.tsx
Labels: Bug, skip-testPlan

#24162 chore: fix RTS start failure script
  app/client/packages/rts/start-server.sh
Labels: Bug, Needs Triaging, skip-changelog, BE Coders Pod, Entity Refactor, Data Platform Pod, skip-testPlan

#24164 chore: add eslint rules for skipped tests
  app/client/.eslintrc.base.json
  app/client/cypress/.eslintrc.json
  app/client/cypress/e2e/Regression/ClientSide/Binding/Button_Text_WithRecaptcha_spec.js
  app/client/package.json
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/workers/Evaluation/__tests__/evaluate.test.ts
  app/client/src/workers/Evaluation/fns/__tests__/interval.test.ts
  app/client/yarn.lock
Labels: Good First Issue, Task, skip-changelog, skip-docs, skip-testPlan

#24041 fix: ipv6 nginx startup error
  deploy/docker/entrypoint.sh
Labels: Bug, Needs Triaging

#24087 fix: Datafield error for setter method
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/workers/Evaluation/errorModifier.ts
  app/client/src/workers/Evaluation/setters.ts
  app/client/src/workers/Linting/constants.ts
  app/client/src/workers/Linting/index.ts
  app/client/src/workers/Linting/utils/isEntityFunction.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: Task

#18533 fix: Issue with the Segmented control in property pane
  app/client/src/components/propertyControls/IconTabControl.tsx
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
  app/client/src/widgets/ButtonWidget/widget/index.tsx
  app/client/src/widgets/CameraWidget/widget/index.tsx
  app/client/src/widgets/CodeScannerWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/CodeScannerWidget/widget/propertyConfig/styleConfig.ts
  app/client/src/widgets/DividerWidget/widget/index.tsx
  app/client/src/widgets/FormButtonWidget/widget/index.tsx
  app/client/src/widgets/IconButtonWidget/widget/index.tsx
  app/client/src/widgets/InputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/checkbox.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/input.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/switch.ts
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/childPanels/configureMenuItemsConfig.ts
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/childPanels/menuItemsConfig.ts
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/styleConfig.ts
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/RateWidget/widget/index.tsx
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Basic.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Icon.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/childPanels/configureMenuItemsConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Bug, Design System Pod, Property Pane, App Viewers Pod, Low, Production, UI Builders Pod, Code Scanner Widget, skip-testPlan

#24186 chore: reduction in flakines
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, skip-testPlan

#23971 fix: Remove empty space in embed apps when nav is set to sidebar
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: Bug, App Viewers Pod, High, Production, Needs Triaging, New Developers Pod, App Navigation, Embedding Apps, Test Plan Approved

#24180 fix: close AI window on navigating between SQL queries
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug, skip-testPlan

#24043 fix: WDS color `bgAccentSubtle` (dark mode)
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
Labels: Bug, App Viewers Pod, skip-changelog, skip-docs, skip-testPlan, Widget design system, WDS team

#24210 chore: create compare tokens component and refactor test components
  app/client/packages/design-system/widgets/src/TestComponents/ColorGrid.stories.mdx
  app/client/packages/design-system/widgets/src/TestComponents/ColorGrid.styled.tsx
  app/client/packages/design-system/widgets/src/TestComponents/ColorGrid.tsx
  app/client/packages/design-system/widgets/src/TestComponents/CompareTokens.stories.mdx
  app/client/packages/design-system/widgets/src/TestComponents/CompareTokens.tsx
  app/client/packages/design-system/widgets/src/TestComponents/ComplexForm.stories.mdx
  app/client/packages/design-system/widgets/src/TestComponents/ComplexForm.tsx
  app/client/packages/design-system/widgets/src/TestComponents/colors.ts
Labels: skip-changelog, skip-docs, skip-testPlan, Widget design system, WDS team

#23795 fix: updated Box shadow UI
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Basic_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Theme_Default_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Theme_FormWidget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Theme_MultiSelectWidget_spec.js
  app/client/src/components/propertyControls/BoxShadowOptionsControl.tsx
  app/client/src/constants/ThemeConstants.tsx
  app/client/src/pages/Editor/ThemePropertyPane/controls/ThemeShadowControl.tsx
Labels: skip-testPlan

#24203 chore: Add two more sentry logs when REQUEST_NOT_AUTHORISED and PAGE_NOT_FOUND alongwith rejecting respective promises with the whole error object
  app/client/src/ce/api/ApiUtils.ts
Labels: App Viewers Pod, Task, skip-changelog, All Widgets, Sentry, skip-testPlan

#24189 fix: Removed duplicate flaky test
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
Labels: skip-testPlan

#24051 fix: Empty space at the start of Topstacked navigation page list
  app/client/src/pages/AppViewer/Navigation/TopStacked.tsx
Labels: Bug, App Viewers Pod, App Navigation, Test Plan Approved

#23809 chore: Make delete page services transactional
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Git Version Control, Task, skip-changelog, Git Pod

#24230 test: Cypress - Skipping tests to unblock CI
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/postgres_spec.ts
Labels: skip-changelog, Test

#24228 chore: Overriding the import @appsmith eslint rule on EE folder
  app/client/.eslintrc.js
  app/client/src/ee/.eslintrc
Labels: Business Edition, Task, skip-changelog, Team Managers Pod, skip-testPlan

#23572 chore: Upgraded Snake YAML version to 2.0
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/FeatureFlagConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.xml
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/FeatureFlagServiceTest.java
  app/server/appsmith-server/src/test/resources/features/init-flags-test.xml
  app/server/appsmith-server/src/test/resources/features/init-flags-test.yml
  app/server/pom.xml
Labels: Backend, skip-changelog

#24006 fix: fixed validation error for logo upload
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/utils.ts
Labels: App Navigation, Test Plan Approved

#24031 fix: Disable run button when there are empty fields
  app/client/cypress/e2e/Regression/ClientSide/Binding/JSObject_Postgress_Table_spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/SuggestedWidgets_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ActionExecution/Block_Execution.ts
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Search_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/AddWidgetTableAndBind_spec.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/constants/ApiEditorConstants/ApiEditorConstants.ts
  app/client/src/constants/QueryEditorConstants.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Frontend, Task, BE Coders Pod, Test Plan Approved, Integrations Pod, Integrations Pod General

#24242 test: Cypress | Flaky fix
  app/client/cypress/e2e/Regression/Apps/ImportExportForkApplication_spec.js
  app/client/cypress/fixtures/forkedApp.json
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Test

#24206 fix: git repo button is unresponsive
  app/client/cypress/e2e/Regression/ClientSide/BugTests/GitBugs_Spec.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.tsx
Labels: Bug, Release, Regressed, Git Version Control, Release Blocker, Test Plan Approved, Git Pod

#24049 fix: gsheet file picker background issue fixed
  app/client/src/index.css
  app/client/src/pages/Editor/SaaSEditor/GoogleSheetFilePicker.tsx
  app/client/src/pages/utils.ts
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Frontend, Needs Triaging, Google Sheets, BE Coders Pod, medium, Test Plan Approved, Integrations Pod

#24137 fix: `Installation Setup Complete` event to fire always after the super user is created
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/NetworkUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Bug, Backend, Task, skip-testPlan, Billing & Usage Pod, Analytics Improvements

#24090 fix: one click binding postgress sorting issue when primary key is no…
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/fixtures/featureFlags.json
  app/client/src/WidgetQueryGenerators/PostgreSQL/index.test.ts
  app/client/src/WidgetQueryGenerators/PostgreSQL/index.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useDatasource.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/constants.ts
  app/client/src/entities/FeatureFlags.ts
  app/client/src/sagas/OneClickBindingSaga.ts
  app/client/src/widgets/TableWidgetV2/component/ConnectDataOverlay.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.xml
Labels: Bug, App Viewers Pod, High, Release, Release Blocker, One-click Binding

#24214 fix: Add null check to fix sentry error in widget reflow
  app/client/src/reflow/reflowUtils.ts
  app/client/src/reflow/tests/reflowUtils.test.js
Labels: Bug, UI Builders Pod, Reflow & Resize, Sentry

#23485 feat: Adds logic to filter templates in add page from template on the basis of `allowPageImport`
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/TemplatesPage_spec.ts
  app/client/cypress/fixtures/Templates/AllowPageImportTemplates.json
  app/client/cypress/support/Pages/Templates.ts
  app/client/src/api/TemplatesApi.ts
  app/client/src/pages/Templates/TemplatesModal/TemplateList.tsx
  app/client/src/pages/Templates/index.tsx
Labels: Enhancement, Test Plan Approved

#24274 fix: Adds airgap support for templates page spec
  app/client/cypress/e2e/Regression/Apps/ImportExportForkApplication_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/TemplatesPage_spec.ts
Labels: Bug

#24199 chore: fix ipv6 nginx startup error
  deploy/docker/entrypoint.sh
Labels: QA, Needs Triaging, skip-changelog

#24269 fix: migration for encryption
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration013UnsetEncryptionVersion2Fields.java
Labels: Bug, Datasources, BE Coders Pod, Integrations Pod, skip-testPlan

#23829 chore: update entrypoint to deploy appsmith on cloudrun
  Dockerfile
  deploy/docker/entrypoint.sh
Labels: Enhancement, skip-changelog

#23988 feat: refactor git discrad flow
  app/client/cypress/e2e/Regression/ClientSide/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/support/gitSync.js
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/components/DiscardChangesWarning.tsx
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Enhancement, Git Version Control, Test Plan Approved, Git Pod

#24283 fix: Adds linting to ImportexportforkApplicationSpec
  app/client/cypress/e2e/Regression/Apps/ImportExportForkApplication_spec.js
Labels: Bug

#24163 chore: Log JS Function execution
  app/client/src/ce/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/fns/utils/ExecutionMetaData.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
  app/client/src/workers/Evaluation/fns/utils/jsObjectFnFactory.ts
Labels: JS Evaluation, Task, skip-changelog, FE Coders Pod, skip-testPlan

#24273 fix: gsheet continuous re authorisation required issue fixed
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Bug, Critical, Needs Triaging, Google Sheets, BE Coders Pod, Integrations Pod, skip-testPlan

#24284 chore: remove the doPull flag from the git discard API
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
Labels: skip-changelog, skip-testPlan

#24303 renamed datasource to datasource storage migration to accomodate for …
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration109TransferToDatasourceStorage.java
Labels: Datasources, BE Coders Pod, Integrations Pod

#24071 fix: show callback button in action selector cards for chainable actions by default
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/GuidedTour_spec.js
  app/client/cypress/support/commands.js
  app/client/src/components/editorComponents/ActionCreator/viewComponents/Action/ActionTree.test.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/Action/ActionTree.tsx
Labels: Bug, Duplicate, Enhancement, UX Improvement, Needs Design, High, FE Coders Pod, medium, Test Plan Approved, Action Selector

#24010 fix(eslint): fix direct `remixicon` imports in `packages/design-system/*`
  app/client/.eslintrc.base.json
  app/client/.eslintrc.js
  app/client/package.json
  app/client/packages/design-system/headless/src/components/Checkbox/Checkbox.tsx
  app/client/packages/design-system/headless/src/components/Field/ErrorText.tsx
  app/client/packages/design-system/headless/src/components/Field/Label.tsx
  app/client/packages/design-system/widgets/src/components/Button/Button.test.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/Checkbox.test.tsx
  app/client/packages/design-system/widgets/src/components/Spinner/index.styled.tsx
  app/client/src/workers/Evaluation/fns/__tests__/interval.test.ts
  app/client/yarn.lock
Labels: skip-changelog, skip-docs, skip-testPlan

#23429 chore: Add GAC permission checks in import application
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/PolicyUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ImportApplicationPermissionProvider.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/ImportApplicationPermissionProviderTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
Labels: skip-changelog, Import-Export-App, Test Plan Approved, Git Pod

#24298 fix: Fix blocked api execution for url path fields
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
Labels: Bug, Datasources, Release, Needs Triaging, BE Coders Pod, REST API plugin, medium, Integrations Pod, skip-testPlan

#23768 feat: disabling the toast messages on view mode without debug flag
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/Error_handling_spec.js
  app/client/cypress/e2e/Regression/ClientSide/PublishedApps/PublishedModeToastToggle.ts
  app/client/cypress/fixtures/publishedModeToastToggleDsl.json
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/src/sagas/ActionExecution/PostMessageSaga.ts
  app/client/src/sagas/ActionExecution/ShowAlertActionSaga.ts
  app/client/src/sagas/ActionExecution/errorUtils.ts
  app/client/src/sagas/ActionExecution/geolocationSaga.test.ts
  app/client/src/sagas/ActionExecution/geolocationSaga.ts
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/sagas/ToastSagas.ts
  contributions/docs/GlobalFunctions.md
Labels: Bug, Enhancement, Needs Triaging, BE Coders Pod, Test Plan Approved, Integrations Pod, Integrations Pod General

#24241 fix: Add check to disable nav logo link click if current page is the same as homepage
  app/client/src/ce/pages/AppViewer/NavigationLogo.tsx
Labels: Bug, App Viewers Pod, Low, App Navigation, Test Plan Approved

#24323 ci: Fixing the default value syntax for update input parameter
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: skip-changelog, CI

#24300 chore: Add instance id property to all analytic events
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/ce/sagas/SuperUserSagas.tsx
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/pages/Settings/config/advanced.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Business Edition, skip-changelog, Team Managers Pod, RBAC, skip-testPlan

#24324 chore: Enable Auto layout git cypress tests and using more module methods in Autolayout tests
  app/client/cypress/e2e/Regression/ClientSide/Git/GitWithAutoLayout/conversion_of_git_connected_apps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoLayout_Widgets_Copy_Paste_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionAlgorithm_AutoLayout_Validation_BasicSpec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionAlgorithm_FixedLayout_Mobile_Validation_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionFlow_Corner_Cases_spec.ts
  app/client/cypress/support/Pages/AutoLayout.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
Labels: skip-changelog

#24329 chore: Exclude failing auto-layout test cases for air gapped instances
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionFlow_Corner_Cases_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionFlow_Generated_App_spec.ts
Labels: skip-changelog

#24339 chore: decrease pvc volume to enable more dps
  scripts/deploy_preview.sh
Labels: skip-changelog

#24337 fix: Adding key icon on login buttons for OIDC and SAML
  app/client/src/ce/pages/UserAuth/ThirdPartyAuth.tsx
Labels: Bug, Release, Needs Triaging, Team Managers Pod, SSO, medium, skip-testPlan

#24012 fix: all backlog fixes for ads v2
  app/client/package.json
  app/client/src/assets/icons/gifs/config_pagination.gif
  app/client/src/assets/icons/gifs/config_pagination_darkmode.gif
  app/client/src/assets/icons/gifs/config_pagination_lightmode.gif
  app/client/src/assets/icons/gifs/darkmode_thumbnail.png
  app/client/src/assets/icons/gifs/thumbnail.png
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/pages/Editor/APIEditor/Pagination.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneSearchInput.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/yarn.lock
Labels: Bug, Design System Pod

#24193 test: update OpenProperty with SelectEntityByName
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/autocomplete_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/ButtonWidgets_NavigateTo_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/ChartText_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Input_NavigateTo_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Invalid_binding_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/JS_Toggle_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/MultiSelect_Button_Text_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/NavigateToFeatureValidation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/No_Binding_Prompt_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/SmartSubstitutionWidgets_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableTextPagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2TextPagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2Widgets_NavigateTo_Validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Api_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Property_ToggleJs_With_Binding_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Widget__CondtionalFormatting_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableWidgets_NavigateTo_Validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Table_Api_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Table_Widget__CondtionalFormatting_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TextTableV2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TextTable_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Widgets_Default_data_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Widgets_Dependancy_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Auto_Height_Limit_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Auto_Height_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/CanvasHeight_resize_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Container_Scroll_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Container_collapse_undo_redoSpec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/DynamicHeight_Visibility_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Form_With_SwitchGroup_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/JsonForm_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_Resizing_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_TextWidget_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Modal_Widget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Text_Widget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_PropertyPane_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Mustache_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/AddWidgetTableAndBind_spec.js
Labels: skip-changelog, Test

#23390 chore: [one click binding] gsheets query adaptor
  app/client/src/WidgetQueryGenerators/GSheets/index.test.ts
  app/client/src/WidgetQueryGenerators/GSheets/index.ts
  app/client/src/WidgetQueryGenerators/index.ts
  app/client/src/WidgetQueryGenerators/types.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/ConnectData/useConnectData.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/DatasourceSpecificControls/GoogleSheetControls/SheetsDropdown/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/DatasourceSpecificControls/GoogleSheetControls/SheetsDropdown/useSheets.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/DatasourceSpecificControls/GoogleSheetControls/TableHeaderIndex/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/DatasourceSpecificControls/GoogleSheetControls/TableHeaderIndex/useTableHeader.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/styles.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/utils.ts
  app/client/src/components/propertyControls/OneClickBindingControl.tsx
Labels: App Viewers Pod, Test Plan Approved, Table Widget V2, One-click Binding

#24362 test: Cypress - Skipping tests to unblock CI
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ForkApplication_spec.js
Labels: skip-changelog, Test

#24367 fix: Modifies Action selector copy in onboarding flow
  app/client/src/pages/Editor/GuidedTour/constants.tsx
Labels: Bug, UX Improvement, High, Production, FE Coders Pod, skip-testPlan, Action Selector

#24366 chore: use stable design-system release
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog

#24360 fix: flaky setInterval jest test
  app/client/src/workers/Evaluation/fns/__tests__/interval.test.ts
Labels: Bug, FE Coders Pod, Framework Functions, skip-testPlan

#24363 fix: Block Action execution for Post UQI datasources like oracle
  app/client/cypress/e2e/Regression/ServerSide/ActionExecution/Block_Execution.ts
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/constants/QueryEditorConstants.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Release, Regressed, Needs Triaging, Release Blocker, BE Coders Pod, Test Plan Approved, Integrations Pod, Oracle SQL DB

#23980 fix: Fix migrations failing with update error on DocumentDB
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration003PermissionGroupDefaultWorkspaceIdMigration.java
Labels: Bug, Datasources, Needs Design

#24403 Update pull_request_template.md
  .github/pull_request_template.md
Labels: skip-changelog, skip-docs, skip-testPlan

#24205 fix: Disallow copying of individual tabs in tab widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/WidgetCopyPaste_spec.js
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: Bug, Tab Widget, App Viewers Pod, UI Builders Pod

#23948 feat: WDS algorithmic negative colors
  app/client/packages/design-system/theming/src/color/ColorsAccessor.ts
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/types.ts
Labels: Enhancement, App Viewers Pod, Widget Styling, skip-testPlan, Widget design system, WDS team

#24368 fix: fix execution of REST API query when dynamic binding is present in the URL
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_TestExecuteWithDynamicBindingInUrl_spec.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/pluginExceptions/AppsmithPluginError.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/pluginExceptions/AppsmithPluginErrorCode.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/DatasourceUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/InitUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorage.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/BaseRestApiPluginExecutor.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/plugins/DatasourceUtilsTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStorageServiceCEImpl.java
Labels: Bug, Critical, Community Reported, Needs Triaging, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod, Integrations Pod General

#24395 chore: Add redirect and homepage URL on Github config page
  app/client/cypress/locators/GithubForm.json
  app/client/cypress/support/AdminSettingsCommands.js
  app/client/src/ce/constants/forms.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
Labels: Production, skip-changelog, Team Managers Pod, SSO, medium, skip-testPlan

#24301 fix: Improve evaluated url experience
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/utils/ApiPaneUtils.tsx
Labels: Bug, Needs Triaging, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod

#24342 fix: use newer editableText component
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, Design System Pod, Property Pane, UI Builders Pod, Task, ADS Component Issue, medium

#24352 fix: Incorrect autocomplete cursor placement for lodash functions
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
Labels: Bug, Autocomplete, FE Coders Pod, Test Plan Approved

#24317 chore: add codeowners file
  CODEOWNERS
Labels: skip-changelog, skip-docs, skip-testPlan

#24213 feat: added trigger for collection property editor, making it dd for mongo
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_JS_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/FormNativeToRawTests/MongoConversion_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/EvaluatedValuePopUp_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
  app/client/cypress/locators/FormControl.json
  app/client/cypress/support/Pages/DataSources.ts
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/aggregate.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/count.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/distinct.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/find.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/insert.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/update.json
Labels: Enhancement, Mongo, BE Coders Pod, Test Plan Approved, Integrations Pod, Integrations Pod General

#24422 feat: Updating key value array control component to support custom attributes on SAML config page
  app/client/src/ce/pages/AdminSettings/config/authentication/AuthPage.tsx
  app/client/src/components/formControls/KeyValueArrayControl.tsx
Labels: Enhancement, Team Managers Pod, SSO, skip-testPlan

#24453 Added tests for linting in widget property setters
  app/client/cypress/e2e/Regression/ClientSide/Widgets/WidgetPropertySetters_spec.ts
  app/client/src/workers/Evaluation/setters.ts
Labels: JS Evaluation, potential-duplicate, FE Coders Pod

#24413 chore: WPS unit test
  app/client/src/workers/Evaluation/__tests__/setters.test.ts
Labels: JS Evaluation, FE Coders Pod

#24396 fix: Removed inputText from Input widget autocomplete
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_TriggerRow_SelectedRow.js
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
Labels: Bug, UX Improvement, Production, Autocomplete, FE Coders Pod, medium, Test Plan Approved

#24402 fix: add migration to update Oracle doc link
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration014UpdateOraclePluginDocumentationLink.java
Labels: Bug, Backend, BE Coders Pod, Test Plan Approved, Integrations Pod, Oracle SQL DB

#24467 chore: Cleanup some typescript web issues
  app/client/package.json
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragToScroll.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/utils/WorkerUtil.test.ts
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/workers/Evaluation/fns/overrides/fetch.ts
  app/client/yarn.lock
Labels: skip-changelog

#24454 chore: Optimizing the solution for supporting tenant config on admin settings
  app/client/src/ce/constants/tenantConstants.ts
  app/client/src/ce/reducers/settingsReducer.ts
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/components/formControls/KeyValueArrayControl.tsx
  app/client/src/ee/constants/tenantConstants.ts
  app/client/src/pages/Settings/SettingsForm.tsx
Labels: skip-changelog, skip-testPlan

#24458 feat: add htmlPageTitle hook and use it in login and sign up pages
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/ce/pages/UserAuth/SignUp.tsx
  app/client/src/ce/utils/index.ts
Labels: Enhancement, App Viewers Pod, skip-changelog, Test Plan Approved, Branding

#24361 feat: move `Use this template` to top of iframe
  app/client/src/pages/Templates/Template/TemplateDescription.tsx
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/pages/Templates/TemplateViewHeader.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateDetailedView.tsx
Labels: Enhancement, Frontend, Task, New Developers Pod, Templates pod, Test Plan Approved

#24387 fix: search input autofocus issue in entity explorer add query/js menu
  .github/workflows/design-system-reviewer.yml
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
Labels: Bug, Design System Pod, Release, Needs Triaging, skip-testPlan

#24005 fix: Sort/Freeze control existing after they are disabled
  app/client/src/widgets/TableWidgetV2/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/HeaderCell.tsx
Labels: Test Plan Approved

#24169 chore: added extra params for AUTO_COMPLETE events
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/utils/autocomplete/AutocompleteSortRules.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
Labels: Autocomplete, Task, skip-changelog, FE Coders Pod, skip-testPlan

#24479 chore: revert git rebase with discard
  app/client/cypress/e2e/Regression/ClientSide/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/support/gitSync.js
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/components/DiscardChangesWarning.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: skip-changelog, Test Plan Approved

#24478 chore: Added instanceId and workspaceId to ENTITY_BINDING_SUCCESS event
  app/client/src/sagas/PostEvaluationSagas.ts
Labels: Task, skip-changelog, FE Coders Pod, JS Usability, skip-testPlan

#24489 test: Cypress | AirtableSpec dropdown value fix
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Test

#24500 test: Cypress | Local config file syntax fix
  app/client/cypress.config.ts
Labels: skip-changelog, Test Plan Approved, Test

#24498 chore: use separate feature flags for JS expressions and SQL query AI
  app/client/src/ce/components/editorComponents/GPT/trigger.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/entities/FeatureFlags.ts
Labels: skip-changelog, skip-testPlan

#24484 fix: update graphql pagination label cop
  app/client/src/pages/Editor/APIEditor/GraphQL/Pagination.tsx
Labels: Bug, GraphQL Plugin, Test Plan Approved

#24382 perf: merge all icons into three major chunks
  app/client/craco.build.config.js
  app/client/craco.common.config.js
  app/client/webpack/IconChunkNamingPlugin.js
Labels: skip-testPlan

#24277 fix: Fix table height issue
  app/client/src/pages/Editor/QueryEditor/Table.tsx
Labels: Bug, Frontend, Design System Pod, Needs Triaging, Core Query Execution, BE Coders Pod, medium, Test Plan Approved, Data Platform Pod, Integrations Pod, ads deduplication, Integrations Pod General

#24355 chore: [one click binding] allow switching between js mode and non js mode on property control
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/disableJSToggle_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/actions/controlActions.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/index.tsx
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/components/propertyControls/OneClickBindingControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/utils/PropertyControlFactory.tsx
  app/client/src/utils/PropertyControlRegistry.tsx
Labels: App Viewers Pod, Task, skip-changelog, Test Plan Approved, One-click Binding

#24434 chore: adding environmentId to datasourceStorageStructure save call
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStructureRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStructureRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStructureServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStructureServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceStructureSolutionTest.java
Labels: skip-changelog, skip-testPlan

#24483 fix: functionality of placeholdertext in key value array control
  app/client/src/components/formControls/KeyValueArrayControl.tsx
  app/server/appsmith-plugins/arangoDBPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/form.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/redisPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/form.json
Labels: Bug, Frontend, Datasources, potential-duplicate, Needs Triaging, BE Coders Pod, Up for grabs, Test Plan Approved, Integrations Pod, Integrations Pod General

#24332 test: fix test API_CurlImportPost_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_CurlPOSTImport_spec.js
  app/client/cypress/fixtures/datasources.json
Labels: skip-changelog, Test

#24508 test: Cypress | Flaky fixes
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test.yml
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/AppNavigationWithAutoLayout_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/AppNavigationWithMultiplePages_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/TextWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Linting/ErrorReporting_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoDimension_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoDimension_2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Analytics_spec.js
  app/client/cypress/e2e/Regression/ClientSide/PropertyPane/PropertyPane_Search_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_onItemClick_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Migration_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/StatBox_DragAndDrop_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/TableBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Inline_editing_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
  app/client/cypress/fixtures/Table/InlineEditingDSL.json
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/AppSettings/AppSettings.ts
  app/client/cypress/support/Pages/AssertHelper.ts
  app/client/cypress/support/Pages/AutoLayout.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/e2e.js
Labels: skip-changelog, Test

#24570 ci: Set Commit Message
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#24464 fix: Fix get structure for Mock datasources
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Needs Triaging, Mongo, BE Coders Pod, Test Plan Approved, Integrations Pod
