Repository appsmithorg/appsmith, pull requests merged in 2023-11, with the labels that each got.

#28524 chore: Updating DS version to use apps-line icon from DS
  app/client/package.json
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/pages/AdminSettings/Branding/previews/AppPreview.tsx
  app/client/src/pages/AppViewer/Navigation/components/BackToAppsButton.tsx
  app/client/yarn.lock
Labels: Frontend, Task, skip-changelog, Modules pod

#28531 fix: subject and email templates
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/EmailConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/EmailServiceHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/EmailServiceHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/EmailServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/email/ce/inviteWorkspaceExistingUserTemplate.html
  app/server/appsmith-server/src/main/resources/email/ce/inviteWorkspaceNewUserTemplate.html
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/EmailServiceCEImplTest.java
Labels: Bug

#28509 feat: update loading state page for datasource schema display preview page
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/DatasourceInfo/RenderInterimDataState.tsx
Labels: Enhancement, BE Coders Pod, Integrations Pod, skip-testPlan, Integrations Pod General, Activation - datasources

#28534 feat: code split JSActionAPI and JSActionSagas
  app/client/src/actions/jsActionActions.ts
  app/client/src/actions/jsPaneActions.ts
  app/client/src/ce/api/JSActionAPI.tsx
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/sagas/index.tsx
  app/client/src/ee/api/JSActionAPI.tsx
  app/client/src/ee/sagas/JSActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/test/sagas.ts
Labels: Enhancement, skip-testPlan

#28481 fix: Converts target param of postWindowMessage into a dropdown in action selector
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelector_JsToNonJSMode_3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/PostWindowMessage_spec.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/components/editorComponents/ActionCreator/Field/FieldConfig.ts
  app/client/src/components/editorComponents/ActionCreator/Field/index.tsx
  app/client/src/sagas/selectors.tsx
Labels: Bug, UX Improvement, Production, Task, FE Coders Pod, Medium, Test Plan Approved, Action Selector

#28565 chore: Add code split in `ActionCollectionDTO` (#28557)
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionCollectionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ActionCollectionCE_DTO.java
Labels: Backend, Task, skip-changelog, Modules pod

#28527 chore: Refactor URLAssembly to throw error on missing pageId for app route resolution only
  app/client/src/RouteParamsMiddleware.ts
  app/client/src/ce/RouteParamsMiddleware.ts
  app/client/src/ce/entities/URLRedirect/URLAssembly.test.ts
  app/client/src/ce/entities/URLRedirect/URLAssembly.ts
  app/client/src/ee/RouteParamsMiddleware.ts
  app/client/src/store.ts
Labels: Frontend, Task, skip-changelog, skip-testPlan, Modules pod

#28573 chore: Fixes failing spec, Uses a different template
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/locators/TemplatesLocators.json
Labels: skip-changelog

#28575 fix: Installation of libraries without a default export
  app/client/src/workers/Evaluation/handlers/__tests__/jsLibrary.test.ts
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
Labels: Bug, Needs Triaging, FE Coders Pod, Custom JS Libraries

#28579 chore: Remove PageList From DataTree
  app/client/src/ce/plugins/Linting/lib/entity/entityConstructorMap.ts
  app/client/src/ce/plugins/Linting/lib/entity/types.ts
  app/client/src/ce/workers/Evaluation/__tests__/dataTreeUtils.test.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeTypes.ts
  app/client/src/entities/DependencyMap/__tests__/index.test.ts
  app/client/src/plugins/Linting/lib/entity/PagelistEntity.ts
  app/client/src/plugins/Linting/lib/entity/index.ts
  app/client/src/workers/Evaluation/__tests__/Actions.test.ts
Labels: skip-changelog, skip-docs, skip-testPlan

#28295 feat: open ai feature request
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/utils/Environments/index.tsx
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/LightningMenu/hooks.ts
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/FieldArrayControl.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiDatasourceFormsButtonConfig.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/DatasourceInfo/DatasourceStructureContainer.tsx
  app/client/src/pages/Editor/EntityNavigation/ActionPane/index.ts
  app/client/src/pages/Editor/Explorer/Actions/helpers.tsx
  app/client/src/pages/Editor/IDESidePane/DataSidePane.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/utils/editorContextUtils.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/PluginConstants.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/PluginType.java
  app/server/appsmith-plugins/openAiPlugin/pom.xml
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/OpenAiPlugin.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/commands/ChatCommand.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/commands/EmbeddingsCommand.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/commands/OpenAICommand.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/constants/OpenAIConstants.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/constants/OpenAIErrorMessages.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/ChatMessage.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/ChatRequestDTO.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/EmbeddingRequestDTO.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/EncodingFormat.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/OpenAIRequestDTO.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/Role.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/utils/OpenAIMethodStrategy.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/utils/RequestUtils.java
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/chat.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/embeddings.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/openAiPlugin/src/test/java/com/external/plugins/ChatCommandTest.java
  app/server/appsmith-plugins/openAiPlugin/src/test/java/com/external/plugins/EmbeddingCommandTest.java
  app/server/appsmith-plugins/openAiPlugin/src/test/java/com/external/plugins/OpenAIPluginTest.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration033AddOpenAIPlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Enhancement, Task, FE Coders Pod, Test Plan Approved, AI

#28332 [Chore]: App Sidebar Library Pane
  app/client/src/components/Sidebar/SidebarButton.tsx
  app/client/src/components/editorComponents/EntityExplorerSidebar.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/pages/Editor/AppsmithIDE.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/Libraries/index.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/IDE/AppsmithIDE.test.tsx
  app/client/src/pages/Editor/IDE/LeftPane/AddLibraryPopover.tsx
  app/client/src/pages/Editor/IDE/LeftPane/AppSettings.tsx
  app/client/src/pages/Editor/IDE/LeftPane/CreateDatasourcePopover.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
  app/client/src/pages/Editor/IDE/LeftPane/LibrarySidePane.tsx
  app/client/src/pages/Editor/IDE/LeftPane/PaneHeader.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/IDE/MainPane/routes.ts
  app/client/src/pages/Editor/IDE/RightPane/index.tsx
  app/client/src/pages/Editor/IDE/Sidebar/SidebarButton.tsx
  app/client/src/pages/Editor/IDE/Sidebar/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/IDE/index.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/pages/Editor/WidgetsEditorEntityExplorer.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/selectors/appSettingsPaneSelectors.tsx
  app/client/test/testMockedWidgets.tsx
Labels: Enhancement, potential-duplicate, New Developers Pod, IDE Navigation

#28425 fix: response tab open by default in case of page load query
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug28287_Spec.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Frontend, QA, Needs Triaging, Task, BE Coders Pod, Postgres, Test Plan Approved, Integrations Pod

#28456 test: Cypress | SetWidget property validations + CI Stabilize
  .github/workflows/build-client-server.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/integration-tests-with-documentdb-command.yml
  app/client/cypress/e2e/Regression/ClientSide/Binding/ButtonWidgets_NavigateTo_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Button_Text_WithRecaptcha_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Promises_1_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/AbortAction_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/DataIdentifierProperty_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/DataIdentifier_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/Multi_Select_Tree_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/Radio2_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Array_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/UUID_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test Plan Approved, Test

#28583 feat: add menu component
  app/client/package.json
  app/client/packages/design-system/headless/package.json
  app/client/packages/design-system/headless/src/components/Field/src/Field.tsx
  app/client/packages/design-system/headless/src/components/Menu/index.ts
  app/client/packages/design-system/headless/src/components/Menu/src/Menu.tsx
  app/client/packages/design-system/headless/src/components/Menu/src/MenuItem.tsx
  app/client/packages/design-system/headless/src/components/Menu/src/MenuList.tsx
  app/client/packages/design-system/headless/src/components/Menu/src/index.ts
  app/client/packages/design-system/headless/src/components/Menu/src/types.ts
  app/client/packages/design-system/headless/src/components/Menu/stories/Menu.stories.mdx
  app/client/packages/design-system/headless/src/components/Popover/index.ts
  app/client/packages/design-system/headless/src/components/Popover/src/Popover.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/PopoverContent.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/PopoverContext.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/PopoverTrigger.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/index.ts
  app/client/packages/design-system/headless/src/components/Popover/src/types.ts
  app/client/packages/design-system/headless/src/components/Popover/src/usePopover.ts
  app/client/packages/design-system/headless/src/components/Popover/stories/ControlledPopover.tsx
  app/client/packages/design-system/headless/src/components/Popover/stories/Popover.stories.mdx
  app/client/packages/design-system/headless/src/components/Tooltip/src/TooltipTrigger.tsx
  app/client/packages/design-system/headless/src/index.ts
  app/client/packages/design-system/widgets/src/components/Button/src/Button.tsx
  app/client/packages/design-system/widgets/src/components/ButtonGroup/src/ButtonGroup.tsx
  app/client/packages/design-system/widgets/src/components/ButtonGroup/src/ButtonGroupContext.tsx
  app/client/packages/design-system/widgets/src/components/ButtonGroup/src/ButtonGroupItem.tsx
  app/client/packages/design-system/widgets/src/components/ButtonGroup/src/types.ts
  app/client/packages/design-system/widgets/src/components/Menu/index.ts
  app/client/packages/design-system/widgets/src/components/Menu/src/Menu.tsx
  app/client/packages/design-system/widgets/src/components/Menu/src/MenuList.tsx
  app/client/packages/design-system/widgets/src/components/Menu/src/index.ts
  app/client/packages/design-system/widgets/src/components/Menu/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Menu/stories/Menu.stories.mdx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/storybook/.storybook/main.ts
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, skip-changelog, skip-docs, skip-testPlan, Widget design system, WDS team, skip-documentation

#28604 chore: update API contract for Partial Export
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/PartialExportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/PartialExportServiceCEImpl.java
Labels: skip-changelog, skip-testPlan, Templates

#28522 feat: RTL support for input, select and multi-select widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/RTL_support.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/RTL_support.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/RTL_support.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/component/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.styled.tsx
  app/client/src/widgets/MultiSelectWidgetV2/component/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/component/SelectButton.tsx
  app/client/src/widgets/SelectWidget/component/index.styled.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SelectWidget/constants.ts
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/components/LabelWithTooltip.tsx
Labels: Enhancement, Input Widget, Select Widget, App Viewers Pod, MultiSelect Widget

#28567 fix: Call out message in git sync modal for JS library is incorrect
  app/client/cypress/e2e/Regression/ClientSide/Git/ExistingApps/v1.9.24/DSCrudAndBindings_Spec.ts
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
Labels: Bug, Git Version Control, Release Blocker, FE Coders Pod, Test Plan Approved, Custom JS Libraries, Git Pod

#28542 chore: CE changes for linting
  app/client/src/ce/plugins/Linting/lib/entity/index.ts
  app/client/src/ce/plugins/Linting/lib/entity/types.ts
  app/client/src/ce/plugins/Linting/utils/getEntityDependencies.ts
  app/client/src/ee/plugins/Linting/lib/entity/index.ts
  app/client/src/ee/plugins/Linting/utils/getEntityDependencies.ts
  app/client/src/plugins/Linting/handlers/lintService.ts
  app/client/src/plugins/Linting/lib/entity/EntityTree.ts
  app/client/src/plugins/Linting/lib/entity/WidgetEntity.ts
  app/client/src/plugins/Linting/lib/entity/index.ts
  app/client/src/plugins/Linting/utils/pathUtils.ts
Labels: skip-changelog, skip-docs, skip-testPlan

#28609 test: Cypress | CI Stabilize
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select3_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Single_Select_Tree_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/GoogleSheets_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_2_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#28512 test: Cypress - Map chart automation
  .github/workflows/ci-test-limited.yml
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MapChart_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MapChart_spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/snapshots/MapChart_Spec.ts/mapChartWithBorderRadius.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapChartWithBoxShadow.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapChartWithColorRange.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapchartsimple.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithafrica.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithantarctica.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithasia.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithcustomdata.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithcustomtitle.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwitheurope.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithnorthamerica.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithoceania.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithshowlabelsoff.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithshowlableson.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithsouthamerica.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithusa.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithvisibilityoff.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithvisibilityon.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithworld.snap.png
Labels: skip-changelog, Test

#28629 chore: CE linting changes
  app/client/src/ce/plugins/Linting/lib/entity/entityConstructorMap.ts
  app/client/src/ce/plugins/Linting/lib/entity/isDynamicEntity.ts
  app/client/src/ee/plugins/Linting/lib/entity/entityConstructorMap.ts
Labels: skip-changelog, skip-docs, skip-testPlan

#27819 feat: Table widget currency column
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/currency_spec.ts
  app/client/src/widgets/CurrencyInputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/InlineCellEditor.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/PlainTextCell.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Alignment.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Color.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Events.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/TextFormatting.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validation.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validations/Number.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.ts
  app/client/src/widgets/TableWidgetV2/widget/reactTableUtils/getColumnsPureFn.tsx
  app/client/src/widgets/TableWidgetV2/widget/utilities.test.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/Utilities.test.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Alignment.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Basic.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/BorderAndShadow.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Color.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Data.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/DiscardButtonproperties.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Events.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/General.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Icon.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/SaveButtonProperties.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Select.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/TextFormatting.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Validation.ts
Labels: Enhancement, Table Widget, Needs Design, App Viewers Pod, Test Plan Approved

#28572 fix: null check before accessing dsl of page in getCurrentPageWidgets selector
  app/client/src/ce/selectors/entitiesSelector.ts
Labels: Bug, Table Widget, App Viewers Pod, Critical, High, Production, Needs Triaging

#28528 feat: WDS Checkbox Group Integration
  app/client/src/components/wds/constants.ts
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/component/types.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/featuresConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/index.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/propertyPaneConfig/index.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/propertyPaneConfig/validations/defaultSelectedValuesValidation.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/propertyPaneConfig/validations/index.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/settersConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/icon.svg
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/index.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/widget/types.ts
Labels: Enhancement, App Viewers Pod, Widget design system, WDS team

#28480 chore: added new relic OTLP exporter
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/package.json
  app/client/public/index.html
  app/client/src/auto-otel-web.js
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/index.tsx
  app/client/src/utils/WorkerUtil.ts
  app/client/yarn.lock
Labels: Performance Pod, skip-changelog, Performance infra

#28626 test: Cypress | SetWidget property validations + CI Stabilize
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug27817_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/DeleteBranch_spec.js
  app/client/cypress/e2e/Regression/ClientSide/JSObject/Bug9585_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/JSObject/JSObjectMutation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/SetOptions_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWidget_Select_TreeSelect_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/Multi_Select_Tree_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/RTL_support.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Sliders/CategorySlider_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Sliders/NumberSlider_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Edge_case_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Select_TreeSelect_MultiSelect_Empty_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Single_Select_Tree_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Tree_Select_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/MySQL_Datatypes/Basic_Spec.ts
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/InviteModal.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test Plan Approved, Test

#28489 fix: use optional permission for forking enabled apps
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: Bug, Needs Triaging, Templates pod, Test Plan Approved, Templates

#28660 chore: Update BaseAction type to include 2 more optional keys
  app/client/src/entities/Action/index.ts
Labels: skip-changelog

#28649 chore: Add transactional to the update protected branches
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/GitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Git Version Control, skip-changelog, skip-testPlan, Git Pod

#28580 chore: WDS fluid tokens refinement
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
  app/client/packages/design-system/widgets/src/styles/src/field.module.css
  app/client/packages/design-system/widgets/src/styles/src/inline-label.module.css
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
Labels: App Viewers Pod, skip-changelog, skip-testPlan, Widget design system, WDS team

#28666 chore: added downstream error code and msg to sentry
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
Labels: Task, skip-changelog, BE Coders Pod, Integrations Pod, skip-testPlan, Integrations Pod General

#28664 chore: Java download URL in base image dockerfile
  deploy/docker/base.dockerfile
Labels: skip-changelog

#28214 feat: Added hints for function arguments
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_setters_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/autocomplete_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/constants/defs/browser.json
  app/client/src/globalStyles/CodemirrorHintStyles.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/utils/autocomplete/defCreatorUtils.ts
  app/client/src/workers/common/JSLibrary/ternDefinitionGenerator.ts
Labels: Enhancement, Autocomplete, FE Coders Pod, Medium

#28215 feat: manage env code split
  app/client/src/ce/components/WorkspaceSettingsTabs/index.tsx
  app/client/src/ce/configs/types.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/ManageEnvironmentsMenu.tsx
  app/client/src/ce/pages/Applications/WorkspaceMenu.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/selectors/environmentSelectors.tsx
  app/client/src/ce/selectors/workspaceSelectors.tsx
  app/client/src/ce/utils/permissionHelpers.tsx
  app/client/src/ee/components/WorkspaceSettingsTabs/index.tsx
  app/client/src/ee/pages/Applications/ManageEnvironmentsMenu.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasorceTabs.tsx
  app/client/src/pages/workspace/General.tsx
  app/client/src/pages/workspace/__tests__/settings.test.tsx
  app/client/src/pages/workspace/settings.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Enhancement, Test Plan Approved

#28683 chore: add default value for feature flag on the client side
  app/client/src/ce/entities/FeatureFlag.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
Labels: Task, skip-changelog, BE Coders Pod, Integrations Pod, skip-testPlan, Activation - datasources

#28574 chore: add analytics event for query failure post schema fetch pass
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/pages/Editor/DataSourceEditor/hooks.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
Labels: Task, BE Coders Pod, Integrations Pod, skip-testPlan, Integrations Pod General, Activation - datasources

#28662 fix: wrong sheet preview data on selecting different spreadsheet
  app/client/src/pages/Editor/DatasourceInfo/GoogleSheetSchema.tsx
Labels: Bug, Release, Needs Triaging, Google Sheets, Release Blocker, BE Coders Pod, Test Plan Approved, Integrations Pod, Activation - datasources

#28657 test: Cypress | CI Stabilize
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/StoreValue_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_RadioGroupField_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/StatboxDsl_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select3_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Numeric_Spec.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
Labels: skip-changelog, Test Plan Approved, Test

#28667 fix: git branch protection fixes
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/utils/planHelpers.ts
  app/client/src/components/editorComponents/GlobalSearch/HelpBar.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponentWrapper.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.test.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/pages/Editor/WidgetsEditor/MainContainerWrapper.tsx
  app/client/src/pages/Editor/WidgetsEditor/NavigationPreview.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/ConnectionSuccess.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitDefaultBranch.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitProtectedBranches.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/hooks.ts
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, Git Version Control, Test Plan Approved, Git Pod

#28700 test: Cypress | CI Flaky fix
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters2_spec.ts
Labels: skip-changelog, Test

#28679 chore: refactor entityDependency code
  app/client/src/ce/plugins/Linting/utils/getEntityDependencies.ts
Labels: skip-changelog, skip-docs, skip-testPlan

#28686 feat: Show generate page on Datasource Page
  app/client/src/pages/Editor/DataSourceEditor/DSFormHeader.tsx
  app/client/src/pages/Editor/DataSourceEditor/hooks.ts
Labels: Enhancement

#28716 fix: Extra space is being introduced at the bottom of the canvas on scrolling down
  app/client/src/components/editorComponents/EntityExplorerSidebar.tsx
Labels: Bug, Needs Triaging, Deploy Preview, Release Blocker, New Developers Pod, Medium, IDE Navigation

#28719 fix: adding git admin permissions
  app/client/src/ce/constants/messages.ts
  app/client/src/components/designSystems/appsmith/header/DeployLinkButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitDisconnect.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/index.test.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/index.tsx
  app/client/src/pages/Editor/gitSync/hooks/useIsGitAdmin.ts
Labels: Bug, Git Version Control, skip-testPlan, Git Pod

#27704 chore: Fix layout of y axis labels
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.ts
  app/client/src/widgets/ChartWidget/component/EChartsDatasetBuilder.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsLayoutBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsYAxisLayoutBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsYAxisLayoutBuilder.ts
  app/client/src/widgets/ChartWidget/component/helpers.ts
  app/client/src/widgets/ChartWidget/widget/index.test.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
Labels: Bug, Chart Widget, App Viewers Pod, Needs Triaging, skip-changelog, Test Plan Approved

#28513 feat: Add IFrame widget for Custom EChart and support for custom functions in property pane
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Custom3DChartSpec.ts
  app/client/cypress/fixtures/TestDataSet1.json
  app/client/cypress/snapshots/Custom3DChartSpec.ts/2DCustomECharts.snap.png
  app/client/cypress/snapshots/Custom3DChartSpec.ts/3DCustomECharts-2.snap.png
  app/client/cypress/snapshots/Custom3DChartSpec.ts/3DCustomECharts.snap.png
  app/client/cypress/snapshots/Custom3DChartSpec.ts/FusionCharts.snap.png
  app/client/package.json
  app/client/public/libraries/echarts-gl@2.0.9.js
  app/client/public/libraries/echarts@5.4.3.js
  app/client/public/libraries/lodash@4.17.21.js
  app/client/src/constants/WidgetValidation.ts
  app/client/src/widgets/ChartWidget/MessageContractDocumentation.md
  app/client/src/widgets/ChartWidget/component/ChartErrorComponent.tsx
  app/client/src/widgets/ChartWidget/component/CustomEChartIFrameComponent.test.tsx
  app/client/src/widgets/ChartWidget/component/CustomEChartIFrameComponent.tsx
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsLayoutBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsLayoutBuilder.ts
  app/client/src/widgets/ChartWidget/component/helpers.test.ts
  app/client/src/widgets/ChartWidget/component/helpers.ts
  app/client/src/widgets/ChartWidget/component/index.test.tsx
  app/client/src/widgets/ChartWidget/component/index.tsx
  app/client/src/widgets/ChartWidget/constants.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
  app/client/src/widgets/ChartWidget/widget/propertyConfig.ts
  app/client/src/workers/Evaluation/helpers.test.ts
  app/client/src/workers/Evaluation/helpers.ts
  app/client/src/workers/Evaluation/validations.ts
  app/client/yarn.lock
Labels: Enhancement, Chart Widget, App Viewers Pod, Test Plan Approved

#28702 feat: walkthrough optional footer
  app/client/src/components/featureWalkthrough/walkthroughContext.tsx
  app/client/src/components/featureWalkthrough/walkthroughRenderer.tsx
  app/client/src/constants/WalkthroughConstants.ts
Labels: Enhancement, Frontend, High, BE Coders Pod, Data Platform Pod, skip-testPlan, Custom environments

#27457 feat: added an intermediary step to enable new create new app flow
  app/client/src/actions/onboardingActions.ts
  app/client/src/actions/templateActions.ts
  app/client/src/assets/images/start-from-scratch.svg
  app/client/src/assets/images/start-from-template.svg
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/selectors/applicationSelectors.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/ce/utils/signupHelpers.ts
  app/client/src/ee/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Templates/Filters.tsx
  app/client/src/pages/Templates/Template/RequestTemplate.tsx
  app/client/src/pages/Templates/Template/index.tsx
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/pages/Templates/TemplateViewHeader.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/reducers/uiReducers/templateReducer.ts
  app/client/src/sagas/TemplatesSagas.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
Labels: Enhancement, Home Page, Task, Team Managers Pod, BE Coders Pod, Test Plan Approved, Integrations Pod, Activation - datasources

#28755 chore: fix css for DS view mode
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
Labels: Release, Regressed, Needs Triaging, skip-changelog, Release Blocker, BE Coders Pod, Data Platform Pod, skip-testPlan, Custom environments

#28737 fix: App settings navigating out fixes
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation

#27990 feat: Make one click binding form controls searchable
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/ColumnDropdown/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/ColumnDropdown/useColumnDropdown.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/OtherFields/Field/Dropdown/Dropdown.tsx
Labels: Enhancement, App Viewers Pod, One-click Binding

#28722 fix: scrolling issue in gsheet structure on clicking on spreadsheet
  app/client/src/pages/Editor/DatasourceInfo/GoogleSheetSchema.tsx
Labels: Bug, Needs Triaging, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod, Activation - datasources

#28687 feat: move SSO to Enterprise plan
  app/client/src/pages/AdminSettings/Authentication/AuthPage.tsx
Labels: Enhancement, skip-testPlan

#28741 fix: Update refactored entity by branched id
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/refactors/NewActionRefactoringServiceCEImpl.java
Labels: Bug, Needs Triaging, Git Version Control, Release Blocker, Git Pod

#28688 feat: Added Communication popover for new Sidebar
  app/client/package.json
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/IDE/Sidebar/index.tsx
  app/client/src/selectors/ideSelectors.tsx
  app/client/src/utils/history.ts
  app/client/yarn.lock
Labels: Enhancement, New Developers Pod, Test Plan Approved, IDE Navigation

#28732 test: Cypress - fix for modal spec flakiness - added wait until
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#28725 feat: WDS Switch Integration
  app/client/src/components/wds/constants.ts
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/featuresConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/index.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/methodsConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/propertyPaneConfig/index.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/settersConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/icon.svg
  app/client/src/widgets/wds/WDSSwitchWidget/index.ts
  app/client/src/widgets/wds/WDSSwitchWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchWidget/widget/types.ts
Labels: Enhancement, App Viewers Pod, Widget design system, WDS team

#28656 chore: adding more logs to the test cases for understanding failures
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: skip-changelog

#28633 chore: Refactored on page load logic to be generic wrt creator context
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/CreatorContextType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/onpageload/ActionOnPageLoadServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/onpageload/ActionOnPageLoadServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/onload/ExecutableOnPageLoadServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/onload/ExecutableOnPageLoadServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/executables/ExecutableOnLoadService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/executables/ExecutableOnLoadServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtil.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onpageload/executables/ExecutableOnPageLoadService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onpageload/executables/ExecutableOnPageLoadServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onpageload/internal/PageLoadExecutablesUtil.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onpageload/internal/PageLoadExecutablesUtilImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
Labels: skip-changelog

#28749 fix: git branch protection bug fixes
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitDefaultBranch.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitProtectedBranches.tsx
  app/client/src/pages/Editor/gitSync/constants.ts
  app/client/src/pages/Editor/gitSync/hooks/useIsGitAdmin.ts
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, skip-testPlan

#28721 chore: Refactoring create query operation helpers to include modules in the list
  app/client/src/ce/entities/Engine/actionHelpers.ts
  app/client/src/ce/selectors/engineSelectors.ts
  app/client/src/ce/utils/moduleInstanceHelpers.tsx
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/ee/entities/Engine/actionHelpers.ts
  app/client/src/ee/selectors/engineSelectors.ts
  app/client/src/ee/utils/moduleInstanceHelpers.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
Labels: Frontend, Task, skip-changelog, Modules pod

#28760 feat: added ui option for start with data
  app/client/src/assets/images/start-from-scratch.svg
  app/client/src/assets/images/start-from-template.svg
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
Labels: Enhancement, Task, BE Coders Pod, Integrations Pod, skip-testPlan, Activation - datasources

#28738 feat: add wds modal component
  app/client/packages/design-system/headless/src/components/Button/src/Button.tsx
  app/client/packages/design-system/headless/src/components/Menu/src/Menu.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/PopoverContent.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/index.ts
  app/client/packages/design-system/headless/src/components/Popover/src/types.ts
  app/client/packages/design-system/headless/src/components/Popover/src/usePopover.ts
  app/client/packages/design-system/headless/src/components/Popover/stories/Popover.stories.mdx
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/design-system/theming/src/theme/src/types.ts
  app/client/packages/design-system/theming/src/theme/src/useTheme.tsx
  app/client/packages/design-system/theming/src/theme/stories/Spacing.stories.mdx
  app/client/packages/design-system/theming/src/token/src/TokensAccessor.ts
  app/client/packages/design-system/theming/src/token/src/fluid/getFluidSizing.ts
  app/client/packages/design-system/theming/src/token/src/styles.module.css
  app/client/packages/design-system/theming/src/token/src/themeTokens.json
  app/client/packages/design-system/widgets/src/components/Flex/src/dimensions.ts
  app/client/packages/design-system/widgets/src/components/Flex/src/flexCss.ts
  app/client/packages/design-system/widgets/src/components/Modal/index.ts
  app/client/packages/design-system/widgets/src/components/Modal/src/CloseIcon.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/Modal.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/ModalBody.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/ModalFooter.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/ModalHeader.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/index.ts
  app/client/packages/design-system/widgets/src/components/Modal/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Modal/src/types.ts
  app/client/packages/design-system/widgets/src/components/Modal/stories/ControlledModal.tsx
  app/client/packages/design-system/widgets/src/components/Modal/stories/Modal.stories.mdx
  app/client/packages/design-system/widgets/src/components/Text/src/types.ts
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
  app/client/packages/storybook/.storybook/styles.css
  app/client/packages/storybook/src/components/TokenTable.tsx
Labels: Enhancement, App Viewers Pod, skip-changelog, skip-docs, skip-testPlan, Widget design system, WDS team, skip-documentation

#28775 fix: update mongo test container setup process
  app/server/appsmith-plugins/mongoPlugin/pom.xml
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginDatasourceTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginErrorsTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginFormsTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginQueriesTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginRegexTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginStaleConnTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoTestContainer.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoTestDBContainerManager.java
Labels: Bug, Task, Mongo, Integrations Pod, skip-testPlan, Integrations Pod General

#28781 chore: fixed logic for bottom bar visibility
  app/client/src/pages/AppViewer/index.tsx
Labels: Bug, App Viewers Pod, Release, Regressed, Needs Triaging, View Mode, skip-changelog, Release Blocker, skip-testPlan

#28728 chore: split for evaluation actions for EE
  app/client/src/actions/evaluationActions.ts
  app/client/src/ce/actions/evaluationActionsList.ts
  app/client/src/ee/actions/evaluationActions.ts
  app/client/src/ee/actions/evaluationActionsList.ts
  app/client/src/pages/Editor/QueryEditor/Editor.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/sagas/ReplaySaga.ts
Labels: skip-changelog

#28564 feat: show additional info for autocomplete results
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Autocomplete_setters_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/constants/defs/browser.json
  app/client/src/constants/defs/ecmascript.json
  app/client/src/globalStyles/CodemirrorHintStyles.ts
  app/client/src/utils/FilterInternalProperties/Common.ts
  app/client/src/utils/autocomplete/AutocompleteSortRules.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/utils/autocomplete/ternDocTooltip.tsx
Labels: Enhancement, UX Improvement, Low, Autocomplete, FE Coders Pod, skip-testPlan

#28632 fix: Adjust autocomplete results ranking for function arguments
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/utils/autocomplete/AutocompleteSortRules.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/utils/autocomplete/__tests__/TernServer.test.ts
  app/client/test/__mocks__/CodeMirrorEditorMock.ts
Labels: Bug, Autocomplete, FE Coders Pod, skip-testPlan

#28740 fix: Preview behaviour fix in datasource page
  app/client/src/pages/Editor/DataSourceEditor/DSFormHeader.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/sagas/PageSagas.tsx
Labels: Bug, Release, Needs Triaging, New Developers Pod, Test Plan Approved, IDE Navigation

#28747 feat: add currency to wds table
  app/client/src/widgets/wds/WDSTableWidget/component/Constants.ts
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/AutoToolTipComponent.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/Button.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/ButtonCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/DateCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/EditActionsCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/HeaderCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/InlineCellEditor.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/PlainTextCell.test.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/PlainTextCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/SelectCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/menuButtonTableComponent.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/TableColumnHeader.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/filter/FilterPaneContent.tsx
  app/client/src/widgets/wds/WDSTableWidget/constants.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/derived.js
  app/client/src/widgets/wds/WDSTableWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Alignment.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Basic.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/BorderAndShadow.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Color.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Data.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/DateProperties.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/DiscardButtonproperties.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Events.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/General.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Icon.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/SaveButtonProperties.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Select.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/TextFormatting.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Validation.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Validations/Common.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Validations/Date.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/Validations/Number.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/PanelConfig/childPanels/configureMenuItemsConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/propertyUtils.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/reactTableUtils/getColumnsPureFn.tsx
  app/client/src/widgets/wds/WDSTableWidget/widget/utilities.test.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/utilities.ts
Labels: Enhancement, skip-changelog, skip-docs, skip-testPlan, skip-documentation

#28763 chore: start with data store workspace id and fetch plugins info
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
Labels: Task, skip-changelog, Test Plan Approved, Integrations Pod, Integrations Pod General

#28783 fix: IDE texts and alignements bugs
  app/client/src/ce/constants/messages.ts
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/pages/Editor/IDE/LeftPane/AddLibraryPopover.tsx
Labels: Bug, Release, Needs Triaging, New Developers Pod, IDE Navigation

#28785 fix: schema accordions don't open on search, placeholder for search input
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug28750_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/DatasourceInfo/DatasourceStructure.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceStructureContainer.tsx
Labels: Bug, Needs Triaging, Postgres, Test Plan Approved, Integrations Pod

#28770 fix: remove feature flag and minor fixes for git branch protection
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBranchProtect_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitConnectV2_spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/ConnectionSuccess.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitDefaultBranch.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitProtectedBranches.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/index.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug, Needs Triaging, Git Version Control, Test Plan Approved, Git Pod

#28773 fix: remove branch protection when user downgraded from ee
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitPrivateRepoHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitPrivateRepoHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/GitPrivateRepoCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Bug, Git Version Control, Deploy Preview, Git Pod, PR blocker

#28806 chore: split for env walkthrough PR
  app/client/src/ce/utils/BusinessFeatures/permissionPageHelpers.tsx
  app/client/src/ce/utils/permissionHelpers.tsx
  app/client/src/components/featureWalkthrough/walkthroughRenderer.tsx
Labels: Enhancement, Frontend, QA, High, skip-changelog, BE Coders Pod, Data Platform Pod, skip-testPlan, Custom environments

#28706 feat: partial import ui
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceCEImpl.java
Labels: Enhancement

#27571 chore: Custom widget (alpha)
  app/client/src/WidgetProvider/factory/helpers.ts
  app/client/src/WidgetProvider/factory/index.tsx
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/components/propertyControls/ButtonControl.tsx
  app/client/src/components/propertyControls/HTMLDocumentBuilderControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/constants/routes/baseRoutes.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/pages/Editor/EntityNavigation/PropertyPane/index.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/pages/WidgetBuilder/Editor.tsx
  app/client/src/pages/WidgetBuilder/Styles.tsx
  app/client/src/pages/WidgetBuilder/index.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/utils/PropertyControlFactory.tsx
  app/client/src/utils/decorators.ts
  app/client/src/utils/migrations/IncorrectDynamicBindingPathLists.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ChartWidget/widget/propertyConfig.ts
  app/client/src/widgets/ExternalWidget/component/index.tsx
  app/client/src/widgets/ExternalWidget/component/reset.css
  app/client/src/widgets/ExternalWidget/component/script.js
  app/client/src/widgets/ExternalWidget/constants.ts
  app/client/src/widgets/ExternalWidget/icon.svg
  app/client/src/widgets/ExternalWidget/index.ts
  app/client/src/widgets/ExternalWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/index.ts
Labels: App Viewers Pod, skip-changelog, custom widgets

#28671 chore: add configuration for large and small widgets
  app/client/src/WidgetProvider/constants.ts
  app/client/src/WidgetProvider/factory/index.tsx
  app/client/src/widgets/AudioRecorderWidget/widget/index.tsx
  app/client/src/widgets/AudioWidget/widget/index.tsx
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
  app/client/src/widgets/ButtonWidget/widget/index.tsx
  app/client/src/widgets/CameraWidget/widget/index.tsx
  app/client/src/widgets/CategorySliderWidget/widget/index.tsx
  app/client/src/widgets/ChartWidget/widget/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/CheckboxWidget/widget/index.tsx
  app/client/src/widgets/CodeScannerWidget/widget/index.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/DatePickerWidget2/widget/index.tsx
  app/client/src/widgets/DividerWidget/widget/index.tsx
  app/client/src/widgets/DocumentViewerWidget/widget/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/FormWidget/widget/index.tsx
  app/client/src/widgets/IconButtonWidget/widget/index.tsx
  app/client/src/widgets/IframeWidget/widget/index.tsx
  app/client/src/widgets/ImageWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/MapChartWidget/widget/index.tsx
  app/client/src/widgets/MapWidget/widget/index.tsx
  app/client/src/widgets/MenuButtonWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/NumberSliderWidget/widget/index.tsx
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
  app/client/src/widgets/ProgressWidget/widget/index.tsx
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/RangeSliderWidget/widget/index.tsx
  app/client/src/widgets/RateWidget/widget/index.tsx
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/StatboxWidget/widget/index.tsx
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/SwitchWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/TextWidget/widget/index.tsx
  app/client/src/widgets/VideoWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSBaseInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSButtonWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSIconButtonWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSTextWidget/config/anvilConfig.ts
Labels: UI Builders Pod, skip-changelog, skip-testPlan, skip-documentation, Anvil layout

#28824 fix: calling protected branches on sync
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug, Needs Triaging, Git Version Control, Test Plan Approved

#28830 fix: Further DS Sidebar permission fixes
  app/client/src/pages/Editor/DataSourceEditor/DSFormHeader.tsx
  app/client/src/pages/Editor/DataSourceEditor/DatasourceBlankState.tsx
  app/client/src/pages/Editor/IDE/LeftPane/CreateDatasourcePopover.tsx
Labels: Bug

#28631 chore: migrate AWS SDK for JavaScript v2 APIs to v3
  app/client/cypress/scripts/util.ts
  app/client/package.json
  app/client/yarn.lock
Labels: Stale

#28839 chore: Fix prettier issue in the reset css file
  app/client/src/widgets/ExternalWidget/component/reset.css
Labels: skip-changelog

#28695 fix: scroll issue and improve select component
  app/client/src/constants/TemplatesConstants.tsx
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/components/TemplateInfoForm.tsx
Labels: Bug, Templates pod, Test Plan Approved, Templates, Community template

#28851 feat: add events for hover on building block and datasource connect click
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/layoutSystems/common/dropTarget/starterBuildingBlocks/index.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceStarterLayoutPrompt.tsx
Labels: Enhancement, Templates pod, Templates

#28696 feat: extend datasource reconnect modal tooltip to include title
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_spec.js
  app/client/cypress/locators/ReconnectLocators.js
  app/client/src/pages/Editor/gitSync/components/DatasourceListItem.tsx
Labels: Bug, Enhancement, Needs Triaging, Templates pod, Test Plan Approved, Templates

#28858 fix: widget selection issues
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/StyledSheet.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/WidgetsExport.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/index.tsx
  app/client/src/sagas/TemplatesSagas.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Templates pod, Templates

#28860 test: Cypress| fix test GitWithCustomJSLib
  app/client/cypress/e2e/Regression/ClientSide/Git/GitWithJSLibrary/GitwithCustomJSLibrary_spec.js
Labels: skip-changelog, Test

#28799 chore: Add `contextId` and `contextType` in executables
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ActionCollectionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: Backend, Task, skip-changelog, Modules pod

#28290 feat: Support running as a non-root user
  Dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/renew-certificate.sh
  deploy/docker/fs/opt/appsmith/run-with-env.sh
  deploy/docker/fs/opt/appsmith/templates/supervisord/cron.conf
Labels: Enhancement

#28861 chore: Remove AI sign posting
  app/client/src/ce/components/editorComponents/CodeEditorSignPosting.tsx
  app/client/src/ce/components/editorComponents/EditorFormSignPosting.tsx
  app/client/src/components/editorComponents/CodeEditor/BindingPrompt.tsx
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/ee/components/editorComponents/EditorFormSignPosting.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: skip-changelog, skip-testPlan

#28871 fix: Sidebar release blockers
  app/client/cypress/e2e/Regression/ClientSide/Linting/BasicLint_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/IDE/LeftPane/AddLibraryPopover.tsx
Labels: Bug, Pages, High, Release, Regressed, Needs Triaging, UI Builders Pod, FE Coders Pod, New Developers Pod, Medium, IDE Navigation, Custom JS Libraries, skip-testPlan, PR blocker

#28876 chore: Add an extra feature flag to control App sidebar rollout
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/Editor/routes.tsx
  app/client/src/components/editorComponents/EntityExplorerSidebar.tsx
  app/client/src/navigation/featureFlagHooks.ts
  app/client/src/pages/Editor/AppSettingsPane/PaneHeader.tsx
  app/client/src/pages/Editor/CanvasPropertyPane/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/EditorName/NavigationMenuData.ts
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/IDE/Sidebar/index.tsx
  app/client/src/selectors/ideSelectors.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: Task, skip-changelog, New Developers Pod, IDE Navigation

#28711 fix: Anvil fixes and enhancements post R0
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useCanvasActivation.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useCanvasDragging.ts
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/common/widgetComponent/AnvilWidgetComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorWidgetOnion.tsx
  app/client/src/layoutSystems/anvil/integrations/actions/actionTypes.ts
  app/client/src/layoutSystems/anvil/integrations/actions/draggingActions.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/draggingSagas.ts
  app/client/src/layoutSystems/anvil/utils/types.ts
  app/client/src/layoutSystems/anvil/viewer/AnvilViewerWidgetOnion.tsx
  app/client/src/layoutSystems/common/canvasArenas/StickyCanvasArena.tsx
  app/client/src/layoutSystems/common/mainContainerResizer/useMainContainerResizer.ts
  app/client/src/pages/Editor/WidgetsEditor/MainContainerWrapper.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: Bug, UI Builders Pod, Task, Responsive Canvas

#28757 chore: register offset values as per parent drop target in Anvil
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useCanvasDragging.ts
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/integrations/reducers/layoutElementPositionsReducer.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/LayoutElementPositionsSaga.ts
  app/client/src/layoutSystems/anvil/layoutComponents/components/AlignedLayoutColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/AlignedWidgetColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/AlignedWidgetRow.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/FlexLayout.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/LayoutColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/LayoutRow.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/WidgetColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/WidgetRow.tsx
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedColumnHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedRowHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedRowHighlights.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/columnHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/dimensionUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/highlightUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/rowHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/rowHighlights.ts
  app/client/src/layoutSystems/anvil/utils/layouts/renderUtils.tsx
  app/client/src/layoutSystems/common/types.ts
  app/client/src/layoutSystems/common/utils/LayoutElementPositionsObserver/index.ts
  app/client/src/layoutSystems/common/utils/LayoutElementPositionsObserver/usePositionObserver.ts
Labels: UI Builders Pod, skip-changelog, Responsive Canvas

#28566 chore: integrate currency input widget
  app/client/packages/design-system/headless/src/components/Field/src/Field.tsx
  app/client/packages/design-system/headless/src/components/Field/src/HelpText.tsx
  app/client/packages/design-system/headless/src/components/Field/src/Label.tsx
  app/client/packages/design-system/headless/src/components/TextArea/src/TextArea.tsx
  app/client/packages/design-system/headless/src/components/TextArea/src/types.ts
  app/client/packages/design-system/headless/src/components/TextInput/src/types.ts
  app/client/packages/design-system/headless/src/components/TextInputBase/src/TextInputBase.tsx
  app/client/packages/design-system/headless/src/components/TextInputBase/src/types.ts
  app/client/packages/design-system/widgets/src/components/TextArea/src/TextArea.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/src/Label.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/src/TextInput.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/src/index.ts
  app/client/packages/design-system/widgets/src/styles/src/field.module.css
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/src/components/wds/constants.ts
  app/client/src/constants/Currency.tsx
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/component/types.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/component/index.tsx
  app/client/src/widgets/wds/WDSCurrencyInputWidget/component/types.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/component/utilities.test.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/component/utilities.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/constants.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/icon.svg
  app/client/src/widgets/wds/WDSCurrencyInputWidget/index.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/featuresConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/index.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/propertyPaneConfig/index.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/propertyPaneConfig/validations/defaultValueValidation.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/propertyPaneConfig/validations/index.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/settersConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/derived.js
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/derived.test.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/helpers.test.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/helpers.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/index.test.tsx
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/parsedDerivedProperties.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/types.ts
  app/client/src/widgets/wds/WDSInputWidget/component/types.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/widget/types.ts
  app/client/src/widgets/wds/WDSTextWidget/config/propertyPaneConfig/styleConfig.ts
Labels: App Viewers Pod, potential-duplicate, skip-testPlan, Widget design system, WDS team

#28829 feat: wds modal improvements
  app/client/packages/design-system/headless/src/components/Popover/src/PopoverContent.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/PopoverModalContent.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/index.ts
  app/client/packages/design-system/headless/src/components/Popover/src/types.ts
  app/client/packages/design-system/headless/src/components/Popover/src/usePopover.ts
  app/client/packages/design-system/headless/src/components/Popover/stories/Popover.stories.mdx
  app/client/packages/design-system/widgets/src/components/Modal/src/Modal.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/ModalContent.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/ModalFooter.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/index.ts
  app/client/packages/design-system/widgets/src/components/Modal/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Modal/src/types.ts
  app/client/packages/design-system/widgets/src/components/Modal/stories/ControlledModal.tsx
  app/client/packages/design-system/widgets/src/components/Modal/stories/CustomModal.tsx
  app/client/packages/design-system/widgets/src/components/Modal/stories/Modal.stories.mdx
  app/client/packages/design-system/widgets/src/components/Modal/stories/ModalExamples.tsx
  app/client/packages/design-system/widgets/src/components/Modal/stories/SimpleModal.tsx
Labels: Enhancement, skip-changelog, skip-docs, skip-testPlan, Widget design system, WDS team, skip-documentation

#28895 fix: bad hook call in class component
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
Labels: Bug, Datasources, Release, Needs Triaging, Release Blocker, Data Platform Pod

#28896 fix: Typo in error message when passwords fields don't match.
  app/client/src/ce/constants/messages.ts
Labels: Bug

#28761 chore: Add `LaunchDarkly` configs in CI run to mock feature flags
  .github/workflows/ci-test-custom-script.yml
Labels: skip-changelog, skip-testPlan

#28777 feat: Adding vision command in OpenAI plugin
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/OpenAiPlugin.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/commands/ChatCommand.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/commands/EmbeddingsCommand.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/commands/VisionCommand.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/constants/OpenAIConstants.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/constants/OpenAIErrorMessages.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/QueryType.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/UserContent.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/UserImageContent.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/UserQuery.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/UserTextContent.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/VisionMessage.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/VisionRequestDTO.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/utils/OpenAIMethodStrategy.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/utils/RequestUtils.java
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/chat.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/embeddings.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/vision.json
  app/server/appsmith-plugins/openAiPlugin/src/test/java/com/external/plugins/VisionCommandTest.java
Labels: Enhancement, skip-testPlan

#28901 fix: enable pull when branch is protected
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
Labels: Bug, Needs Triaging, Git Version Control, Test Plan Approved, Git Pod

#28855 chore: Refactor entity explorer to support displaying module instances in the list
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/pages/Editor/Explorer/ModuleInstanceEntity.tsx
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/sagas/index.tsx
  app/client/src/ee/pages/Editor/Explorer/ModuleInstanceEntity.tsx
  app/client/src/ee/sagas/PageSagas.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/IDE/AppsmithIDE.test.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/sagas/ActionExecution/NavigateActionSaga.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/TemplatesSagas.ts
  app/client/src/sagas/layoutConversionSagas.ts
  app/client/test/testCommon.ts
Labels: Frontend, Task, skip-changelog, Modules pod

#28850 feat: most popular section added on create new ds page
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceHome.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewQuery.tsx
Labels: Enhancement, BE Coders Pod, Test Plan Approved, Integrations Pod, Activation - datasources

#28907 chore: Moving references around for EE consumption
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/EntityType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/RefactorEntityNameDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/RefactorEntityNameDTO_CE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringSolutionCEImpl.java
Labels: skip-changelog

#28910 chore: Refactored DTO names to follow common convention
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/imports/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/LayoutControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ProductFeatureAlertControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/BranchProtectionRequestDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/FeaturesRequestDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/FeaturesResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ImportActionCollectionResultDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ImportActionResultDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ImportedActionAndCollectionMapsDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ProductAlertMessageApplicabilityContext.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ProductAlertResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/RefactorEntityNameDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UncommittedChangesDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UpdateMultiplePageLayoutDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserUpdateDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedImportableResourcesCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/RefactorEntityNameCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/UserUpdateCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/imports/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ProductAlertServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ProductAlertServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/MockCacheableFeatureFlagHelper.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ProductAlertServiceCEImplTest.java
Labels: skip-changelog

#28904 fix: Adding multiple certs in ca-certs folder
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Bug

#28752 chore: Add debugger CE changes
  app/client/src/ce/components/editorComponents/Debugger/entityTypeLinkMap.tsx
  app/client/src/ce/entities/DataTree/isDynamicEntity.ts
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/ce/utils/getEntityPayloadInfo.ts
  app/client/src/components/editorComponents/Debugger/ActionLink.tsx
  app/client/src/components/editorComponents/Debugger/DataSourceLink.tsx
  app/client/src/components/editorComponents/Debugger/DebuggerEntityLink.tsx
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogEntityLink.tsx
  app/client/src/components/editorComponents/Debugger/JSCollectionLink.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/Debugger/WidgetLink.tsx
  app/client/src/ee/components/editorComponents/Debugger/entityTypeLinkMap.tsx
  app/client/src/ee/entities/DataTree/isDynamicEntity.ts
  app/client/src/ee/utils/getEntityPayloadInfo.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
Labels: skip-changelog, skip-testPlan

#28879 docs: WDS dimension tokens
  app/client/packages/design-system/theming/src/theme/stories/BorderRadius.stories.mdx
  app/client/packages/design-system/theming/src/theme/stories/Dimension.stories.mdx
  app/client/packages/design-system/theming/src/theme/stories/Sizing.stories.mdx
  app/client/packages/design-system/theming/src/theme/stories/Spacing.stories.mdx
  app/client/packages/design-system/theming/src/theme/stories/Typography.stories.mdx
Labels: skip-testPlan, Widget design system, WDS team

#28841 fix: Handle data update for query execution failure
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
  app/client/cypress/fixtures/SMTPTestdsl.json
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, Needs Triaging, Core Query Execution, FE Coders Pod, BE Coders Pod, Evaluated Value, Data Platform Pod

#28913 test: Cypress| fix ButtonWidgets_NavigateTo_Validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/ButtonWidgets_NavigateTo_validation_spec.js
Labels: skip-changelog, Test

#28884 fix: lint editor after input value is updated
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug28764_Spec.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug, Needs Triaging, JS Linting & Errors, FE Coders Pod

#28689 fix: remove user specific templates sorting
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
Labels: Bug, Backend, Low, Stale, New Developers Pod, Templates pod

#28293 feat: Adds partial import functionality
  app/client/cypress/e2e/Regression/ClientSide/Binding/ButtonWidgets_NavigateTo_validation_spec.js
  app/client/src/actions/widgetActions.tsx
  app/client/src/assets/icons/menu/library.svg
  app/client/src/assets/icons/menu/query-group.svg
  app/client/src/ce/actions/applicationActions.ts
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/selectors/applicationSelectors.tsx
  app/client/src/components/editorComponents/EntityExplorerSidebar.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/EntityCheckboxSelector.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/JSObjectsNQueriesExport.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/StyledSheet.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/WidgetsExport.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/index.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialImportModal/index.tsx
  app/client/src/icons/MenuIcons.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/sagas/JSLibrarySaga.ts
  app/client/src/sagas/TemplatesSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/workers/common/JSLibrary/index.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceCEImpl.java
Labels: Enhancement, Templates pod, Test Plan Approved, Partial-import-export

#28925 chore: fix copy paste issue in custom widget builder
  app/client/src/pages/WidgetBuilder/index.tsx
Labels: skip-changelog, Test Plan Approved

#28890 feat: Transform API/Query data based on widget's expected data type after 1-click binding
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug28731_Spec.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useConnectToOptions.tsx
Labels: Enhancement, JS Evaluation, FE Coders Pod

#28934 chore: Add analytics for partial export
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/PartialExportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/PartialExportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/partial-export-resource.json
Labels: skip-changelog, skip-testPlan

#28941 test: Cypress| skip failing cypress tests
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.ts
Labels: skip-changelog, Test

#28784 feat: [Table Widget] Allow moment date formats in input and display d…
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_editing_2_spec.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data.ts
Labels: Bug, Enhancement, Table Widget, App Viewers Pod, Needs Triaging, Test Plan Approved, Table Widget V2

#28946 fix: modified error code for unauthorised trigger and execute calls
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/pluginExceptions/AppsmithPluginError.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/pluginExceptions/AppsmithPluginErrorCode.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/OpenAiPlugin.java
Labels: Bug, skip-testPlan

#28947 test: Cypress | Flaky fix /Apps/MongoDBShoppingCart_spec.ts for CI runs
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.ts
Labels: skip-changelog, Test

#28854 fix: modified now issues preserve key order
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/DataUtils.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug, Community Reported, Needs Triaging, Core Query Execution, Test Plan Approved, Data Platform Pod, a-force

#28949 fix: ESM library installation on page load
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
Labels: Bug, Custom JS Libraries, skip-testPlan

#28959 test: Cypress - skipping flaky cases in ce
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#28962 chore: Minor update to modal copy after Git Connect
  app/client/src/ce/constants/messages.ts
Labels: skip-changelog

#28843 feat: 1st step to implement start with data onboarding option
  app/client/src/actions/onboardingActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/selectors/applicationSelectors.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/sagas/SaaSPaneSagas.ts
Labels: Enhancement, Task, BE Coders Pod, Test Plan Approved, Integrations Pod, Activation - datasources

#28953 chore: changes to accomodate logout being a GET call in EE
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog

#28960 feat: WDS Switch Group Integration
  app/client/src/components/wds/constants.ts
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/component/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/component/types.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/featuresConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/index.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/propertyPaneConfig/index.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/settersConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/icon.svg
  app/client/src/widgets/wds/WDSSwitchGroupWidget/index.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/types.ts
Labels: Enhancement, App Viewers Pod, potential-duplicate, skip-testPlan, Widget design system, WDS team

#28961 fix: Fixes reset click for jsobjects
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/index.tsx
Labels: Bug, Templates pod, Templates

#28976 test: self-hosted github runner
  .github/workflows/rts-build-self-host.yml
Labels: skip-changelog, Test

#28968 fix: Datasource Title style issues
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IDE/LeftPane/PaneHeader.tsx
Labels: Bug, Needs Triaging, New Developers Pod, IDE Navigation

#28948 chore: Add error handling for the community template upload flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationTemplateServicePublishTemplateTest.java
Labels: Enhancement, skip-changelog, Templates pod

#28888 chore: Phone Input Widget Integration
  app/client/src/components/wds/constants.ts
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/config/propertyPaneConfig/validations/defaultValueValidation.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/validations/defaultValueValidation.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/validations/index.test.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/component/index.tsx
  app/client/src/widgets/wds/WDSPhoneInputWidget/component/types.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/constants.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/icon.svg
  app/client/src/widgets/wds/WDSPhoneInputWidget/index.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/featuresConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/index.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/propertyPaneConfig/index.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/propertyPaneConfig/validations/defaultValueValidation.test.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/propertyPaneConfig/validations/defaultValueValidation.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/propertyPaneConfig/validations/index.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/config/settersConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/derived.js
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/derived.test.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/helpers.test.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/helpers.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/parsedDerivedProperties.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/types.ts
Labels: App Viewers Pod, skip-changelog, Widget design system, WDS team

#28954 chore: Refactored is name allowed
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/refactors/ActionCollectionRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/LayoutController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/LayoutControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/refactors/NewActionRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/entities/EntityRefactoringServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutCollectionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/CreateDBTablePageSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/RefactoringSolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceCEImplTest.java
Labels: skip-changelog

#29007 chore: Added context type handling for isNameAllowed
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/RefactoringSolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: skip-changelog

#28972 chore: Peekoverlay for moduleInputs
  app/client/src/ce/utils/FilterInternalProperties/getEntityPeekData.ts
  app/client/src/ee/utils/FilterInternalProperties/getEntityPeekData.ts
  app/client/src/utils/FilterInternalProperties/__tests__/index.test.ts
  app/client/src/utils/FilterInternalProperties/index.ts
Labels: skip-changelog, skip-testPlan

#29005 fix: partial export for git connected apps
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/PartialExportServiceCEImpl.java
Labels: Bug, Release, Needs Triaging, Release Blocker, Templates pod, Test Plan Approved, Partial-import-export

#28984 ci: Skip flaky tests on demand
  .github/workflows/ci-test-custom-script.yml
  app/client/cypress/scripts/cypress-split.ts
  app/client/cypress/scripts/util.ts
Labels: skip-changelog, CI

#29014 feat: skip-tests for rts
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/rts-build.yml
Labels: Enhancement

#29015 fix: partial import for git connected apps
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceCEImpl.java
Labels: Bug, Critical, Production, Needs Triaging, Templates pod, Test Plan Approved, Partial-import-export

#29024 chore: Modified visibility of a few deps
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringSolutionCEImpl.java
Labels: skip-changelog

#28957 fix: order of plugins in most popular section fixed
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceHome.tsx
Labels: Bug, Release, Needs Triaging, BE Coders Pod, Test Plan Approved, Integrations Pod, Integrations Pod General

#28977 feat: implement WDS components and tokenst at header of table widget
  app/client/packages/design-system/headless/src/components/Button/src/Button.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/PopoverContent.tsx
  app/client/packages/design-system/headless/src/components/Popover/src/PopoverModalContent.tsx
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/TextArea/src/TextArea.tsx
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/src/widgets/wds/WDSTableWidget/component/Constants.ts
  app/client/src/widgets/wds/WDSTableWidget/component/Table.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/ActionItem.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/Download.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/PageNumberInput.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/filter/CascadeFields.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/filter/FilterPane.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/filter/FilterPaneContent.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/filter/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/banner/AddNewRowBanner.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/banner/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/banner/styles.module.css
  app/client/src/widgets/wds/WDSTableWidget/component/header/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/index.tsx
Labels: Enhancement, App Viewers Pod, skip-docs, skip-testPlan, Widget design system, WDS team, skip-documentation

#28973 fix: Preserve query execution data on name refactor
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug28985_spec.ts
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/workers/Evaluation/handlers/updateActionData.ts
Labels: Bug, JS Evaluation, Needs Triaging, FE Coders Pod

#29019 chore: Prevent logging error analytics on first page load
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: JS Evaluation, Task, skip-changelog, FE Coders Pod

#29027 chore: split for module instance evaluation on ee
  app/client/src/ce/constants/ModuleConstants.ts
  app/client/src/ce/constants/ModuleInstanceConstants.ts
  app/client/src/ce/entities/DataTree/dataTreeAction.ts
  app/client/src/ce/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/ce/entities/DataTree/dataTreeJSAction.ts
  app/client/src/ce/entities/DataTree/dataTreeModuleInstance.ts
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/ee/constants/ModuleInstanceConstants.ts
  app/client/src/ee/entities/DataTree/dataTreeAction.ts
  app/client/src/ee/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/ee/entities/DataTree/dataTreeJSAction.ts
  app/client/src/ee/entities/DataTree/dataTreeModuleInstance.ts
  app/client/src/entities/Action/index.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/selectors/dataTreeSelectors.ts
Labels: skip-changelog

#29008 chore: create evalContext for module instance CE changes
  app/client/src/ce/workers/Evaluation/fns/utils/isRunNClearFnQualifierEntity.ts
  app/client/src/ce/workers/Evaluation/getEntityForEvalContextMap.ts
  app/client/src/ee/workers/Evaluation/fns/utils/isRunNClearFnQualifierEntity.ts
  app/client/src/ee/workers/Evaluation/getEntityForEvalContextMap.ts
  app/client/src/workers/Evaluation/fns/index.ts
  app/client/src/workers/Evaluation/getEntityForContext.ts
  app/client/src/workers/Evaluation/getJSActionForEvalContext.ts
Labels: skip-changelog, skip-testPlan, Modules pod

#28987 feat: updated loading, nodata, failed states on preview data screen
  app/client/src/assets/images/empty-table-in-display-preview.svg
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/DatasourceInfo/RenderInterimDataState.tsx
Labels: Bug, Enhancement, Needs Triaging, MySQL, Google Sheets, Postgres, Test Plan Approved, Integrations Pod, Activation - datasources

#29016 ci: Remove all extra slash commands yml
  .github/workflows/build-deploy-preview.yml
  .github/workflows/ci-test-limited-command.yml
  .github/workflows/ok-to-test-with-documentdb.yml
  .github/workflows/ok-to-test.yml
Labels: skip-changelog, CI
