Repository appsmithorg/appsmith, pull requests merged in 2023-05, with the labels that each got.

#22641 fix: entity link in errors
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogEntityLink.tsx
Labels: Bug, Task, BE Coders Pod, Test Plan Approved, Data Platform Pod, Error Handling

#22864 fix: Don't log all env variables when starting up
  deploy/docker/entrypoint.sh
Labels: Bug

#22777 fix: Scroll to selected widget failing when it's a container
  app/client/src/utils/helpers.tsx
Labels: Bug, Needs Triaging, New Developers Pod, medium, IDE Navigation, skip-testPlan

#21254 chore: Delete slim installation
  deploy/install.sh
  deploy/template/docker-compose.yml.sh
  deploy/template/docker.env.sh
  deploy/template/encryption.env.sh
  deploy/template/mongo-init.js.sh
  deploy/template/nginx_app.conf.sh
Labels: skip-changelog, Stale

#22867 feat: added TinyMCE code plugin
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
Labels: Rich Text Editor Widget, App Viewers Pod, Community Reported, skip-testPlan

#22793 feat: update app via import from within application
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/pages/Applications/ImportApplicationModal.tsx
  app/client/src/pages/Applications/ImportApplicationModalOld.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/ImportAppSettings.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
  app/client/src/pages/Editor/AppSettingsPane/index.tsx
Labels: Enhancement, Task, Team Managers Pod, skip-testPlan, Airgap

#22791 test: updated test workflow
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV1/Table_tabledata_schema_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#22461 test: Generic test for All widgets wrt autolayout
  app/client/cypress/fixtures/AllWidgetsDsl.json
  app/client/cypress/fixtures/mobileViewScrollDsl.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/AutoFillWidgets_Basic_2_test.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/AutoFillWidgets_Basic_test.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/AutoScroll_Validation_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#22788 chore: Oracle: add JUnit TCs
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
  app/server/appsmith-plugins/oraclePlugin/pom.xml
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/OraclePlugin.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/exceptions/OracleErrorMessages.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/utils/OracleDatasourceUtils.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/utils/OracleExecuteUtils.java
  app/server/appsmith-plugins/oraclePlugin/src/test/java/com/external/plugins/OracleExecutionTest.java
  app/server/appsmith-plugins/oraclePlugin/src/test/java/com/external/plugins/OracleGetDBSchemaTest.java
  app/server/appsmith-plugins/oraclePlugin/src/test/java/com/external/plugins/OraclePluginConnectionTest.java
  app/server/appsmith-plugins/oraclePlugin/src/test/java/com/external/plugins/OraclePluginDatasourceValidityErrorsTest.java
  app/server/appsmith-plugins/oraclePlugin/src/test/java/com/external/plugins/OraclePluginErrorsTest.java
  app/server/appsmith-plugins/oraclePlugin/src/test/java/com/external/plugins/OracleTestDBContainerManager.java
Labels: Task, skip-changelog, Integrations Pod, skip-testPlan, Oracle SQL DB

#22870 fix: Remove support for updating the Git connected application via file import
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ImportExportUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ImportExportUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
Labels: Bug, High, Needs Triaging, Import-Export-App, Deploy Preview, Team Managers Pod, skip-testPlan, Git Pod, Airgap

#22822 chore: remove Oracle integration feature flag
  app/client/src/entities/FeatureFlags.ts
  app/client/src/selectors/entitiesSelector.ts
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/form.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Task, skip-changelog, BE Coders Pod, Integrations Pod, skip-testPlan, Oracle SQL DB

#22721 chore: Add checkbox group component
  app/client/packages/design-system/headless/package.json
  app/client/packages/design-system/headless/src/components/Button/Button.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/Checkbox.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/CheckboxGroup.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/context.ts
  app/client/packages/design-system/headless/src/components/Checkbox/index.tsx
  app/client/packages/design-system/headless/src/components/Field/ErrorText.tsx
  app/client/packages/design-system/headless/src/components/Field/Field.tsx
  app/client/packages/design-system/headless/src/components/Field/Label.tsx
  app/client/packages/design-system/headless/src/components/Field/index.tsx
  app/client/packages/design-system/headless/src/index.ts
  app/client/packages/design-system/theming/src/tokens/themeTokens.json
  app/client/packages/design-system/theming/src/utils/TokensAccessor/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/LightModeTheme.ts
  app/client/packages/design-system/widgets/src/components/Button/Button.tsx
  app/client/packages/design-system/widgets/src/components/Button/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/Checkbox.stories.mdx
  app/client/packages/design-system/widgets/src/components/Checkbox/Checkbox.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/CheckboxGroup.stories.mdx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/CheckboxGroup.tsx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/index.tsx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/design-system/widgets/src/styles/fieldStyles.ts
Labels: App Viewers Pod, skip-changelog, Widget design system, WDS team

#22895 fix: branding favicon url airgapped
  app/client/src/utils/hooks/useBrandingTheme.ts
Labels: Bug, Task, skip-testPlan, Airgap

#22764 fix: Fixed race condition in import application flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
Labels: Bug, QA, Release, Needs Triaging, Git Version Control, Import-Export-App, FE Coders Pod, Test Plan Approved, Custom JS Libraries, Git Pod, CI impacted

#22889 chore: Remove unused ThirdPartyLoginRegistry
  app/client/src/ce/pages/UserAuth/Login.tsx
  app/client/src/ce/pages/UserAuth/SignUp.tsx
  app/client/src/pages/UserAuth/ThirdPartyLoginRegistry.ts
Labels: skip-changelog

#22088 feat: signposting stickiness
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/FirstTimeUserOnboarding_spec.js
  app/client/cypress/locators/FirstTimeUserOnboarding.json
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/Onboarding.ts
  app/client/cypress/support/WorkspaceCommands.js
  app/client/cypress/support/commands.js
  app/client/src/actions/onboardingActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/components/editorComponents/Sidebar.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Checklist.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Utils.ts
  app/client/src/pages/Editor/FirstTimeUserOnboarding/testUtils.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GuidedTour/useComputeCurrentStep.ts
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/reducers/uiReducers/onBoardingReducer.ts
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/selectors/onboardingSelectors.tsx
  app/client/src/utils/storage.ts
Labels: Enhancement, Onboarding, New Developers Pod, Test Plan Approved

#22901 chore: use color object directly in themes
  app/client/packages/design-system/theming/src/utils/ColorsAccessor/ColorsAccessor.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/LightModeTheme.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/contrast.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/index.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/lighten.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/parse.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/setLch.ts
  app/client/packages/design-system/theming/src/utils/index.ts
Labels: skip-changelog, skip-docs, skip-testPlan

#22854 chore: Add rapid mode to skip new app creation in cypress test
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/Add_new_row_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/ShareAppTests_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
Labels: Task, skip-changelog, Cypress flaky tests

#22899 fix: gsheet trigger 500 issue fixed
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/utils/SheetsUtil.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/SheetsUtilTest.java
Labels: Bug, Release, Needs Triaging, Google Sheets, Release Blocker, BE Coders Pod, Integrations Pod, skip-testPlan

#22604 test: Cypress - Fix Flaky Tests
  app/client/cypress/fixtures/CommunityIssuesExport.json
  app/client/cypress/integration/Regression_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Autocomplete/Autocomplete_JS_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Google/EnableGoogle_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Tab/Tab_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/LeaveWorkspaceTest_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/ApiTests/API_Search_spec.js
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test Plan Approved, Test

#22924 fix: fix favicon not showing up on release
  app/client/src/utils/hooks/useBrandingTheme.ts
Labels: Bug, skip-testPlan, Airgap

#22594 fix: Encode query params in URLs
  app/client/src/RouteBuilder.test.ts
  app/client/src/RouteBuilder.ts
Labels: Bug, JS Evaluation, Low, Community Reported, FE Coders Pod, Test Plan Approved, Framework Functions

#22918 fix: assign 100% width to fill widgets on mobile viewport
  app/client/src/utils/autoLayout/positionUtils.test.ts
  app/client/src/utils/autoLayout/positionUtils.ts
Labels: Bug, skip-testPlan, Mobile Pod

#22565 fix: Layout Conversion bugs for auto Layout
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/pages/Editor/CanvasLayoutConversion/hooks/useAutoToFixedLayoutFlow.ts
  app/client/src/pages/Editor/CanvasLayoutConversion/hooks/useSnapShotForm.ts
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/sagas/SnapshotSagas.ts
  app/client/src/sagas/layoutConversionSagas.ts
  app/client/src/selectors/autoLayoutSelectors.tsx
  app/client/src/utils/DSLConversions/fixedToAutoLayout.ts
  app/client/src/utils/autoLayout/AutoLayoutUtils.ts
  app/client/src/utils/autoLayout/constants.ts
  app/client/src/utils/dayJsUtils.ts
  app/client/src/widgets/ModalWidget/widget/index.tsx
Labels: Bug, Tab Widget, Needs Design, Needs More Info, Modal Widget, App Viewers Pod, Release, Needs Triaging, Responsive Viewport, Deploy Preview, medium, skip-testPlan, Mobile Pod, Responsive Widget, Responsive Canvas, Conversion Algorithm, PR blocker

#22926 fix: Updated server set up docs to lower confusion from logs
  app/server/envs/dev.env.example
  contributions/ServerSetup.md
Labels: Bug

#22847 fix: Removed structure data from within datasource collection
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceConfigurationStructure.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog1.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration009RemoveStructureFromWithinDatasource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomDatasourceConfigurationStructureRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomDatasourceConfigurationStructureRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/DatasourceConfigurationStructureRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceConfigurationStructureRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceConfigurationStructureRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/DatasourceConfigurationStructureRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceConfigurationStructureService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceConfigurationStructureServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceConfigurationStructureServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceConfigurationStructureServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceStructureSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceTriggerSolutionTest.java
Labels: Bug, Datasources, Data Platform Pod

#22691 fix: column order of frozen columns when query changes
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/freeze_column_query_change_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/freeze_column_spec.js
  app/client/cypress/support/Constants.js
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, Production, medium, Test Plan Approved

#22778 fix: firefox file picker not showing up issue fixed
  app/client/src/constants/Datasource.ts
  app/client/src/pages/Editor/SaaSEditor/GoogleSheetFilePicker.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Frontend, Google Sheets, BE Coders Pod, Integrations Pod, skip-testPlan

#22908 chore: Removing the old BINDING_SUCCESS event
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Low, Task, skip-changelog, JS Objects, FE Coders Pod, Test Plan Approved

#22683 fix: this.params shows error in IIFE
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug6732_Spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/test.ts
  app/client/src/workers/common/DataTreeEvaluator/utils.ts
Labels: Bug, JS Evaluation, Low, FE Coders Pod, Test Plan Approved

#22787 fix: delete ds should restore init state after menu closed
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
Labels: Bug, Frontend, Datasources, Low, Production, BE Coders Pod, Up for grabs, Test Plan Approved, Integrations Pod, skip-testPlan

#22939 fix: Text font gets changed on adding Rich text editor widget onto canvas
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
Labels: Bug, Rich Text Editor Widget, Property Pane, App Viewers Pod, Critical, Needs Triaging, UI Builders Pod, skip-testPlan

#22848 fix: Added single quotes on hint query containing mustache substitution fo…
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/templates/UPDATE.sql
  app/server/appsmith-plugins/snowflakePlugin/src/test/java/com/external/plugins/SnowflakePluginTest.java
Labels: Bug, Backend, Low, Core Query Execution, BE Coders Pod, Up for grabs, Test Plan Approved, Data Platform Pod

#22873 fix: Updated Template to create datasourceConfigurationStructureList
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/LeaveWorkspaceTest_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/MySQL2_Spec.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/CreateDBTablePageSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
Labels: Bug, Core Query Execution, Test Plan Approved, Data Platform Pod

#22746 fix: gs import export issue
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Backend, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#22766 fix: no input validation error in totalRecordsCount
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.test.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.ts
Labels: Bug, Table Widget, UX Improvement, App Viewers Pod, Production, Needs Triaging, Widget Validation, medium, Test Plan Approved

#22927 fix: display name validation (server)
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: Bug, IDE, Needs Triaging, New Developers Pod

#22900 fix: display picture - prevent invalid files
  app/client/cypress/fixtures/Files/invalid-image.png
  app/client/cypress/fixtures/Files/valid-image.jpeg
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/UserProfile/UpdateUserPicture_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/UserProfile/UpdateUsersName_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/package.json
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/UserProfile/UserProfileImagePicker.tsx
  app/client/yarn.lock
Labels: Bug, Enhancement, IDE, New Developers Pod, Test Plan Approved

#22978 ci: Remove unused java setup step
  .github/workflows/build-docker-image.yml
Labels: skip-changelog, CI

#22808 fix: advanced filetype validation
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AssetServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
  app/server/appsmith-server/src/test/resources/test_assets/WorkspaceServiceTest/json_file_to_png.png
Labels: Bug, Enhancement, QA, IDE, New Developers Pod, Test Plan Approved

#22970 fix: added userPermissions in newPage Api
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageNameIdDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
Labels: Bug, Task, Team Managers Pod, RBAC

#22875 fix: back button to fit content instead of full width
  app/client/src/pages/Editor/DataSourceEditor/BackButton.tsx
Labels: Bug, Frontend, Datasources, UX Improvement, Low, BE Coders Pod, Up for grabs, Test Plan Approved, Integrations Pod

#22938 fix: display name validation (client)
  app/client/package.json
  app/client/src/ce/constants/messages.ts
  app/client/src/constants/Regex.ts
  app/client/src/pages/UserProfile/General.tsx
  app/client/typings/js-regex-pl/index.d.ts
  app/client/yarn.lock
Labels: Bug, QA, IDE, Needs Triaging, New Developers Pod, Test Plan Approved

#22632 fix: Error handling added with proper message when try to create application with duplicate name
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesWorkspaceClonerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Bug, Good First Issue, Low, Release, Team Managers Pod

#22882 feat: Deduplicate Manual Product Update Modal
  app/client/src/pages/Applications/ProductUpdatesModal/index.tsx
  app/client/src/pages/Editor/BottomBar/ManualUpgrades.tsx
  app/client/src/pages/Editor/BottomBar/index.tsx
  app/client/src/pages/tests/slug.test.tsx
Labels: Design System Pod, ads deduplication, ads grayscale

#22297 feat: App navigation - Logo upload
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/EmbedSettings/EmbedSettings_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/ViewMode_spec.js
  app/client/cypress/locators/AppNavigation.json
  app/client/cypress/locators/HomePage.js
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/src/ce/actions/applicationActions.ts
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AppViewer/BackToHomeButton.tsx
  app/client/src/ce/pages/AppViewer/NavigationLogo.tsx
  app/client/src/ce/pages/Editor/NavigationSettings/LogoInput.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/selectors/applicationSelectors.tsx
  app/client/src/constants/AppConstants.ts
  app/client/src/ee/pages/AppViewer/BackToHomeButton.tsx
  app/client/src/ee/pages/AppViewer/NavigationLogo.tsx
  app/client/src/ee/pages/Editor/NavigationSettings/LogoInput.tsx
  app/client/src/ee/sagas/ApplicationSagas.tsx
  app/client/src/pages/AppViewer/AppViewerButton.tsx
  app/client/src/pages/AppViewer/Navigation/Sidebar.styled.tsx
  app/client/src/pages/AppViewer/Navigation/Sidebar.tsx
  app/client/src/pages/AppViewer/Navigation/components/ApplicationName.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/ApplicationName.tsx
  app/client/src/pages/AppViewer/Navigation/components/BackToAppsButton.tsx
  app/client/src/pages/AppViewer/Navigation/components/CollapseButton.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/ShareButton.tsx
  app/client/src/pages/AppViewer/Navigation/components/TopHeader.tsx
  app/client/src/pages/AppViewer/PageMenu.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.test.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/ImageInput.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/LogoConfiguration.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/SwitchSettingForLogoConfiguration.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/index.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/utils.ts
  app/client/src/pages/Editor/AppSettingsPane/index.tsx
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/pages/Editor/WidgetsEditor/NavigationPreview.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
Labels: Bug, Enhancement, App Viewers Pod, Regressed, Needs Triaging, Task, App Navigation, medium

#22718 fix: Invalidated error state connection mono from cache (#20538)
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
Labels: Bug, High, Community Reported, BE Coders Pod, OAuth, Integrations Pod, Integrations Pod General

#22979 fix: delete dps of closed PRs
  scripts/cleanup_dp.sh
Labels: Bug

#22109 chore: improving /actions endpoint performance
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ActionSpans.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Performance Pod, Core Query Execution, Task, skip-changelog, Stale, BE Coders Pod, Test Plan Approved, Data Platform Pod, Performance

#22741 fix: fixes the google sheets update datasource name issue
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
Labels: Bug, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#22912 fix: action reducers were using old implementation of updating state
  app/client/src/reducers/entityReducers/actionsReducer.tsx
Labels: Bug, Frontend, High, Production, Google Sheets, BE Coders Pod, REST API plugin, medium, Test Plan Approved, Integrations Pod

#22556 fix: Add current index property to min max fields
  app/client/cypress/fixtures/tableV2NewDslWithPagination.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_spec.js
  app/client/src/components/propertyControls/TableInlineEditValidationControl.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/DSLMigrationsUtils.test.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validations/Common.ts
Labels: Bug, Table Widget, App Viewers Pod, High, Test Plan Approved

#22758 fix: removed gsheet feature flag
  app/client/cypress/fixtures/featureFlags.json
  app/client/src/entities/FeatureFlags.ts
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/form.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Enhancement, Frontend, Backend, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#22670 chore: cleaned up formatting for the template
  .github/pull_request_template.md
Labels: skip-changelog, skip-docs, skip-testPlan

#22571 fix: Reflow resize issue where widgets around the dragging widget start to move without any contact
  app/client/src/utils/hooks/useReflow.ts
Labels: Bug, UX Improvement, App Viewers Pod, Production, Needs Triaging, Container Widget, UI Builders Pod, Reflow & Resize, medium

#22687 feat: ADS changes for Generate Form Page
  app/client/cypress/fixtures/mongo_PUT_replaceLayoutWithCRUD.json
  app/client/cypress/fixtures/mySQL_PUT_replaceLayoutWithCRUD.json
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useDatasource.tsx
  app/client/src/pages/Editor/GeneratePage/components/CrudInfoModal.tsx
  app/client/src/pages/Editor/GeneratePage/components/DataSourceOption.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GoogleSheetForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/styles.ts
  app/client/src/pages/Editor/GeneratePage/components/PageContent.tsx
  app/client/src/pages/Editor/GeneratePage/index.tsx
  app/client/src/pages/common/SuccessTick.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
Labels: Design System Pod, potential-duplicate, ads deduplication, ads grayscale

#22975 fix: Editor loses focus when ESC is pressed
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/src/components/editorComponents/CodeEditor/index.test.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug, FE Coders Pod, JS Usability, Test Plan Approved

#22776 fix: Clear cache when switching pages
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/reducers/evaluationReducers/treeReducer.ts
  app/client/src/sagas/EvaluationsSaga.ts
Labels: Bug, JS Evaluation, FE Coders Pod, medium, skip-testPlan

#22792 chore: Minor Tasks for Auto Layout feature, Sentry errors, metrics and Beta tag
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/CanvasLayoutConversion/ConversionButton.tsx
  app/client/src/pages/Editor/CanvasLayoutConversion/SnapShotBannerCTA.tsx
  app/client/src/sagas/PageSagas.tsx
  app/client/src/sagas/SnapshotSagas.ts
  app/client/src/sagas/layoutConversionSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: skip-changelog, skip-testPlan

#23046 chore: resolves merge conflicts in AnalyticsUtil
  app/client/src/utils/AnalyticsUtil.tsx
Labels: skip-changelog, skip-testPlan

#23003 fix: enable uppy informer for airgapped instances
  app/client/src/pages/UserProfile/UserProfileImagePicker.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Bug, Release, Needs Triaging, Team Managers Pod, Release Blocker, skip-testPlan, Airgap

#23050 fix: Renaming ff to conform to new type
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/entities/FeatureFlags.ts
Labels: Bug

#23016 chore: Send example structure to slash commands
  app/client/src/components/editorComponents/CodeEditor/EditorConfig.ts
  app/client/src/components/editorComponents/CodeEditor/commandsHelper.ts
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/sagas/ActionSagas.ts
Labels: skip-changelog, skip-testPlan

#22195 helm: add node selectors for appsmith sub-charts
  deploy/helm/Chart.yaml
  deploy/helm/values.yaml
Labels: Bug, Community Reported, Needs Triaging, Stale, K8s, DevOps Pod

#22986 fix: oracle icon path
  app/client/src/constants/serverAssets.ts
Labels: Bug, Datasources, UI Improvement, Release, Needs Triaging, Team Managers Pod, Release Blocker, BE Coders Pod, medium, Integrations Pod, skip-testPlan, Airgap

#23029 chore: Modify default seriliser to custom JsonSerialiser
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/RedisConfig.java
Labels: skip-changelog, skip-testPlan

#22933 fix: sending usage pulse when the app is private and user is logged in.
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/pages/Editor/Explorer/helpers.tsx
  app/client/src/usagePulse/index.ts
  app/client/src/usagePulse/usagePulse.test.ts
Labels: Bug, skip-testPlan, Billing & Usage Pod

#22754 feat: Update order of action file operations
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/commands.js
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.test.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/reducers/entityReducers/datasourceReducer.ts
  app/client/src/selectors/entitiesSelector.ts
Labels: Enhancement, Entity Explorer, New Developers Pod, Test Plan Approved

#22968 fix: layout conversion for git apps by getting actual page list from current list and dynamic binding path fix
  app/client/src/sagas/layoutConversionSagas.ts
  app/client/src/utils/DSLConversions/fixedToAutoLayout.ts
Labels: Bug, Mobile Pod, Conversion Algorithm

#22977 fix: Add message prompt on min field
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_spec.js
  app/client/src/ce/constants/messages.ts
  app/client/src/components/propertyControls/TableInlineEditValidPropertyControl.tsx
  app/client/src/components/propertyControls/TableInlineEditValidationControl.tsx
Labels: Bug, Table Widget, App Viewers Pod, Low, Production, Regressed, Needs Triaging, Test Plan Approved

#23056 fix: upload image logo fix
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AssetServiceCEImpl.java
Labels: Bug, App Viewers Pod, Release, App Navigation

#23031 chore: Update Spring to v3.0.6
  app/client/cypress/integration/Regression_TestSuite/Application/ImportExportForkApplication_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/ExportApplication_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/WorkspaceImportApplication_spec.js
  app/server/pom.xml
Labels: Table Widget, UI Improvement, App Viewers Pod, Verified, skip-changelog, skip-testPlan

#23091 fix: country flag emojis not working in chromium browsers on windows for airgapped instances.
  app/client/package.json
  app/client/src/assets/fonts/custom/index.css
  app/client/src/assets/fonts/custom/twemoji/TwemojiCountryFlags.woff2
  app/client/src/assets/fonts/custom/twemoji/license.txt
  app/client/src/assets/fonts/custom/twemoji/twemoji.css
  app/client/src/ce/AppRouter.tsx
  app/client/yarn.lock
Labels: Bug, Release, Needs Triaging, Team Managers Pod, Airgap

#20958 test: Cypress tests - Grouping logical it blocks - Part 3
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Canvas_Context_Bug_Fixes.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Canvas_Context_Property_Pane_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/JSLibrary/Library_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/AsyncFunctionsBoundInSyncFields_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/EntityPropertiesLint_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ConversionAlgorithm_AutoLayout_Validation_BasicSpec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ConversionAlgorithm_FixedLayout_Mobile_Validation_Spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ConversionAlgorithm_FixedLayout_Validation_Desktop.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/FillwidgetResizingSpec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/HugWidgetValidationSpec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ValidateAutoFillContainerWidgets_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ValidateAutoFillContainerWithInput_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/EmptyCanvas_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Container_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Tab_reset_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_GeneralProperty_spec.js
Labels: skip-changelog, Test Plan Approved, Automation Test

#23113 fix: edit button fixes, authorisation wrong message fixed
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
Labels: Bug, Frontend, Low, Release, Regressed, Needs Triaging, Google Sheets, Release Blocker, BE Coders Pod, Test Plan Approved, Integrations Pod

#23147 fix: undo redo toast message (ADS)
  app/client/src/utils/helpers.tsx
Labels: Design System Pod, ads deduplication, ads grayscale

#23146 chore: deduplicate view mode all apps tooltip
  app/client/src/pages/AppViewer/Navigation/components/BackToAppsButton.tsx
Labels: Design System Pod, ads deduplication, ads grayscale

#23030 fix: editor app name hover state
  app/client/src/pages/Editor/EditorAppName/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Design System Pod, ads deduplication, ads grayscale

#23060 fix: set Api.data on promise resolution
  app/client/src/workers/Evaluation/fns/actionFns.ts
  app/client/src/workers/Evaluation/fns/index.ts
Labels: Bug, Critical, JS Objects, FE Coders Pod, skip-testPlan

#23165 fix: git ADS issues
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/BranchMoreMenu.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/pages/Editor/gitSync/components/StatusLoader.tsx
Labels: Design System Pod, ads deduplication

#22200 task: [Design System V2] Git features
  app/client/.babelrc
  app/client/package.json
  app/client/src/ce/constants/messages.ts
  app/client/src/entities/GitSync.ts
  app/client/src/index.css
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/Menu.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
  app/client/src/pages/Editor/gitSync/components/BranchListItem.tsx
  app/client/src/pages/Editor/gitSync/components/BranchListItemContainer.tsx
  app/client/src/pages/Editor/gitSync/components/BranchMoreMenu.tsx
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.tsx
  app/client/src/pages/Editor/gitSync/components/DefaultTag.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/pages/Editor/gitSync/components/DiscardChangesWarning.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
  app/client/src/pages/Editor/gitSync/components/GitConnectError.tsx
  app/client/src/pages/Editor/gitSync/components/InfoWrapper.tsx
  app/client/src/pages/Editor/gitSync/components/LocalBranchList.tsx
  app/client/src/pages/Editor/gitSync/components/MergeStatus.tsx
  app/client/src/pages/Editor/gitSync/components/RemoteBranchList.tsx
  app/client/src/pages/Editor/gitSync/components/RemoteBranchListItem.tsx
  app/client/src/pages/Editor/gitSync/components/StatusLoader.tsx
  app/client/src/pages/Editor/gitSync/components/Statusbar.tsx
  app/client/src/pages/Editor/gitSync/components/StyledComponents.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/CopySSHKey.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/StyledComponents.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/getConfirmMenuItem.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/getMenuItems.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/getNotificationBanner.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/index.tsx
  app/client/src/pages/Editor/gitSync/constants.ts
  app/client/src/pages/common/SpinnerLoader.tsx
  app/client/yarn.lock
Labels: Design System Pod, ads deduplication, ads grayscale

#23114 fix: Email domain hash in analytics event
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  deploy/docker/entrypoint.sh
Labels: Bug, skip-testPlan

#23157 chore: Refactored a few workspace related methods for reusability
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/WorkspaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#22354 chore: Remove lazy canvas rendering feature flag - LAZY_CANVAS_RENDERING
  app/client/src/entities/FeatureFlags.ts
  app/client/src/widgets/withLazyRender.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Performance Pod, App Viewers Pod, Task, skip-changelog, All Widgets, Performance

#22859 fix: MySQL Error Message Fix
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/utils/MySqlErrorUtils.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Bug, Backend, MySQL, BE Coders Pod, Up for grabs, medium, Test Plan Approved, Integrations Pod

#23140 chore: add logs to capture duration for operations
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Bug, Performance Pod, High, Needs Triaging, skip-changelog, Team Managers Pod, Super Admin, DevOps Pod, RBAC, CI impacted, Performance

#23067 fix: Redis Error Message Fix
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/plugins/RedisPlugin.java
  app/server/appsmith-plugins/redisPlugin/src/test/java/com/external/plugins/RedisPluginTest.java
Labels: Bug, Backend, High, Deploy Preview, BE Coders Pod, Redis, Test Plan Approved, Data Platform Pod, Integrations Pod, Error Handling

#23083 fix: mongo no transaction found
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
Labels: Bug, High, Needs Triaging, Deploy Preview, Team Managers Pod, RBAC

#23177 fix: signposting close button color
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
Labels: Design System Pod, ads deduplication, ads grayscale

#23044 feat: Deduplicate share modal and members page
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/EmbedSnippetTab.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/components/utils/helperComponents.tsx
  app/client/src/pages/AppViewer/Navigation/components/ShareButton.tsx
  app/client/src/pages/AppViewer/utils.ts
  app/client/src/pages/Applications/EmbedSnippet/DimensionsInput.tsx
  app/client/src/pages/Applications/EmbedSnippet/PrivateEmbeddingContent.tsx
  app/client/src/pages/Applications/EmbedSnippet/Snippet.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Templates/ForkTemplate.tsx
  app/client/src/pages/common/SubHeader.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/src/pages/workspace/ManageUsers.tsx
  app/client/src/pages/workspace/SettingsPageHeader.tsx
  app/client/src/pages/workspace/settings.tsx
  app/client/src/utils/AppsmithUtils.tsx
Labels: Enhancement, Design System Pod, ads deduplication, ads grayscale

#23141 fix: datasource connect modal scroll
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
Labels: Design System Pod, ads grayscale, ads revamp

#23199 fix: git create branch loader alignment
  app/client/src/pages/Editor/gitSync/components/BranchList.tsx
Labels: Design System Pod, ads deduplication, ads grayscale, ads revamp

#22974 feat: Expand auto height implementation to handle auto height use cases.
  app/client/src/actions/autoLayoutActions.ts
  app/client/src/actions/controlActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/components/designSystems/appsmith/autoLayout/AutoLayoutDimensionObeserver.tsx
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/components/editorComponents/EditorContextProvider.test.tsx
  app/client/src/components/editorComponents/EditorContextProvider.tsx
  app/client/src/reducers/entityReducers/metaWidgetsReducer.ts
  app/client/src/resizable/autolayoutresize/index.tsx
  app/client/src/sagas/AutoLayoutUpdateSagas.tsx
  app/client/src/sagas/CanvasSagas/AutoLayoutDraggingSagas.ts
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/autoHeightSagas/index.ts
  app/client/src/sagas/selectors.tsx
  app/client/src/selectors/autoLayoutSelectors.tsx
  app/client/src/utils/DSLConversions/fixedToAutoLayout.ts
  app/client/src/utils/DSLConversions/tests/autoToFixedLayout.test.ts
  app/client/src/utils/WidgetPropsUtils.tsx
  app/client/src/utils/autoLayout/AutoLayoutUtils.ts
  app/client/src/utils/autoLayout/autoLayoutDraggingUtils.ts
  app/client/src/utils/autoLayout/data/contentData.ts
  app/client/src/utils/autoLayout/data/heightTestData.ts
  app/client/src/utils/autoLayout/data/tabsData.ts
  app/client/src/utils/autoLayout/heightUpdateUtils.ts
  app/client/src/utils/autoLayout/heightUpdates.test.ts
  app/client/src/utils/autoLayout/positionUtils.ts
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/CanvasWidget.tsx
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/ContainerWidget/component/index.tsx
  app/client/src/widgets/ContainerWidget/index.ts
  app/client/src/widgets/ListWidgetV2/index.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: Enhancement, App Viewers Pod, Release, Needs Triaging, Container Widget, UI Builders Pod, Responsive Viewport, List Widget, Deploy Preview, Reflow & Resize, medium, Auto Height, skip-testPlan, Mobile Pod, Responsive Widget, Responsive Canvas

#23012 fix: Fix/js object ads issues
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/Debugger/ErrorLogs/ErrorLogItem.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogEntityLink.tsx
  app/client/src/components/editorComponents/Debugger/FilterHeader.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/components/editorComponents/form/fields/DropdownFieldWrapper.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/components/utils/FlagBadge.tsx
  app/client/src/globalStyles/CodemirrorHintStyles.ts
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/Explorer/JSActions/MoreJSActionsMenu.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/JSFunctionRun.tsx
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/pages/Editor/JSEditor/styledComponents.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/common/SearchSnippets.tsx
  app/client/yarn.lock
Labels: Design System Pod, ads grayscale, ads revamp

#22851 fix: ADS 2.0 issue reported by QA & design team.
  app/client/src/assets/svg/no-apps-icon.svg
  app/client/src/ce/constants/forms.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/Home/LeftPaneBottomSection.tsx
  app/client/src/ce/pages/UserAuth/ThirdPartyAuth.tsx
  app/client/src/components/utils/helperComponents.tsx
  app/client/src/pages/Applications/ProductUpdatesModal/ReleaseComponent.tsx
  app/client/src/pages/Applications/ProductUpdatesModal/index.tsx
  app/client/src/pages/Editor/GuidedTour/Guide.tsx
  app/client/src/pages/Editor/GuidedTour/TourCompletionMessage.tsx
  app/client/src/pages/Editor/HelpButton.tsx
  app/client/src/pages/UserAuth/FooterLinks.tsx
  app/client/src/pages/UserProfile/StyledComponents.tsx
  app/client/src/pages/UserProfile/index.tsx
  app/client/src/pages/common/MobileSidebar.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/ProfileDropdown.tsx
  app/client/src/pages/workspace/General.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: Design System Pod, ads deduplication, ads grayscale, ads revamp

#23005 feat: Auto Layout editor for everyone
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Enhancement, skip-testPlan

#23036 fix: the error sentence
  contributions/CodeContributionsGuidelines.md
Labels: skip-changelog, skip-testPlan

#22995 test: Cypress - Flaky test fix
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Sliders/RangeSlider_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/locators/Omnibar.json
  app/client/cypress/support/Pages/PeekOverlay.ts
Labels: skip-changelog, Test

#23145 fix: #23026, Changed type correctly to Re-enter password
  app/client/src/pages/setup/DetailsForm.tsx
Labels: skip-testPlan

#23023 chore: Updating the UI for scrollbars all over the product to use the same color and width
  app/client/cypress/locators/PgAdminlocators.json
  app/client/src/assets/styles/index.css
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/ApplicationMenu.css
  app/client/src/pages/Applications/EmbedSnippet/Snippet.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/GeneralSettings.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/PageSettings.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateDetailedView.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateList.tsx
Labels: Design System Pod, ads deduplication, ads grayscale

#23215 fix: import type for codesplitted file should always come from '@apps…
  app/client/src/resizable/autolayoutresize/index.tsx
Labels: Bug

#23061 fix: enable change in background color on hover for Icon Button cell in Table widget V2
  app/client/src/widgets/TableWidgetV2/component/cellComponents/IconButtonCell.tsx
Labels: Bug, Table Widget, App Viewers Pod, Low, Needs Triaging, Icon Button Widget, skip-testPlan

#23162 chore: Action create option order: Maintain parity with EE repo
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Omnibar_spec.js
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.test.ts
Labels: skip-changelog, skip-testPlan

#23219 Fix vercel builds
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: skip-changelog

#23221 fix: vercel deploy previews
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: skip-changelog

#23078 feat: Added email bodyType to smtp action (#22749)
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com/external/plugins/SmtpPlugin.java
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/send.json
  app/server/appsmith-plugins/smtpPlugin/src/test/java/com/external/plugins/SmtpPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration010AddEmailBodyTypeToSMTPPlugin.java
Labels: Enhancement, Frontend, Backend, BE Coders Pod, SMTP plugin, Integrations Pod

#22966 fix: Fix null value for entity config filter parameters
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
Labels: Bug, Low, potential-duplicate, Needs Triaging, BE Coders Pod, Integrations Pod, Sentry, skip-testPlan, Integrations Pod General

#23119 fix: CURL empty command error msg fix
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
Labels: Bug, Backend, Low, Release, BE Coders Pod, Test Plan Approved, CURL, Data Platform Pod, Integrations Pod, Error Handling

#23226 chore: explorer cypress tests
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ActionExecution/ClearStore_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ActionExecution/RemoveValue_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ActionExecution/StoreValue_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug18369_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug20841_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/formHasChanged_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Pin_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/JSLibrary/Library_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/AsyncFunctionsBoundInSyncFields_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/EntityPropertiesLint_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/ErrorReporting_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/DocumentViewer/DocumentViewer_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/JsFunctionExecution/Fetch_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/APIOnLoad_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Array_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Json_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/UUID_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/src/pages/Editor/Explorer/index.tsx
Labels: ads deduplication, ads grayscale, ads revamp

#23084 feat: Auto cleanup application logs
  deploy/docker/templates/cron.d/cleanup-logs
  deploy/docker/templates/supervisord/application_process/backend.conf
  deploy/docker/templates/supervisord/application_process/editor.conf
  deploy/docker/templates/supervisord/application_process/rts.conf
  deploy/docker/templates/supervisord/mongodb.conf
  deploy/docker/templates/supervisord/postgres.conf
  deploy/docker/templates/supervisord/redis.conf
Labels: Enhancement, Docker, DevOps Pod

#23236 ci: Fix for build-client-serve.yml
  .github/workflows/build-client-server.yml
Labels: skip-changelog, CI

#23138 chore: Adding CRUD for Dsconfig
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceConfigurationStorage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/DatasourceDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration010AddIndexToDatasourceConfigurationStorage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomDatasourceConfigurationStorageRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomDatasourceConfigurationStorageRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/DatasourceConfigurationStorageRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceConfigurationStorageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceConfigurationStorageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/DatasourceConfigurationStorageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceConfigurationStorageService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceConfigurationStorageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceConfigurationStorageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceConfigurationStorageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceConfigurationStorageServiceTest.java
Labels: skip-changelog, skip-testPlan

#23239 ci: Fix for dependency installation time
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#22652 fix: Visual changes to code inside appsmith
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/ReadOnlyEditor.tsx
  app/client/src/constants/Fonts.tsx
  app/client/src/globalStyles/CodemirrorHintStyles.ts
Labels: Bug, FE Coders Pod, Test Plan Approved, Add/Update Test Plan, Code Editor

#23247 test: Cypress - Flaky fix
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/MySQL_Spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#22390 feat: enable datasource reconnection while forking application
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AuthenticationResponse.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Forkable.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ApplicationForkingServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImplV2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationForkingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesWorkspaceClonerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesWorkspaceClonerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesWorkspaceClonerTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
Labels: Bug, Enhancement, Release, Task, Fork App, New Developers Pod, Test Plan Approved

#23220 chore: Intercom consent is defaulted to true on cloud hosting
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: Backend, Task, skip-changelog, skip-testPlan

#23077 fix: Open state of bottom bar
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/EntityBottomBar_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_dataIdentifierProperty_spec.js
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/src/components/editorComponents/Debugger/DebuggerTabs.tsx
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/APIEditor/constants.ts
  app/client/src/pages/Editor/DataSourceEditor/Debugger.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, UX Improvement, High, Production, Regressed, Needs Triaging, BE Coders Pod, Test Plan Approved, Data Platform Pod, Error Handling

#22827 feat: Autocompletion hints in sql editor
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Autocomplete/Autocomplete_sql_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/package.json
  app/client/src/components/editorComponents/CodeEditor/EditorConfig.ts
  app/client/src/components/editorComponents/CodeEditor/codeEditorUtils.ts
  app/client/src/components/editorComponents/CodeEditor/customSQLHint.tsx
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/modes.ts
  app/client/src/components/editorComponents/CodeEditor/sql/config.ts
  app/client/src/components/editorComponents/CodeEditor/sql/customMimes/arango.ts
  app/client/src/components/editorComponents/CodeEditor/sql/customMimes/index.ts
  app/client/src/components/editorComponents/CodeEditor/sql/customMimes/redis.ts
  app/client/src/components/editorComponents/CodeEditor/sql/customMimes/snowflake.ts
  app/client/src/components/editorComponents/CodeEditor/sql/customMimes/utils.ts
  app/client/src/components/editorComponents/CodeEditor/utils/codeComment.ts
  app/client/src/components/editorComponents/form/fields/DynamicTextField.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/globalStyles/CodemirrorHintStyles.ts
  app/client/src/selectors/entitiesSelector.ts
  app/yarn.lock
Labels: Enhancement, Autocomplete, FE Coders Pod, Test Plan Approved, Code Editor

#23222 chore: WDS colors `bdNeutral` and `bdNeutralHover`
  app/client/packages/design-system/theming/src/utils/TokensAccessor/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/LightModeTheme.ts
  app/client/packages/design-system/widgets/src/components/Spinner/index.styled.tsx
Labels: App Viewers Pod, skip-changelog, skip-testPlan, Widget design system, WDS team

#23238 fix: ensure the code doesn’t crash in the worker environment
  app/client/src/ce/configs/index.ts
Labels: Bug

#23096 fix: Return default page id instead of id in restore snapshot API
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationSnapshotServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceUnitTest.java
Labels: Bug, Needs Triaging, Mobile Pod, Conversion Algorithm

#23160 chore: Increase delay before discarding cell value in flaky table property p…
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_spec.js
Labels: Task, skip-changelog, Test Plan Approved, Table Widget V2, Cypress flaky tests

#23279 chore: fix server setup documentation
  contributions/ServerSetup.md
Labels: Documentation, Task, skip-changelog, User Education Pod

#22973 chore: Repo limit check visibility status not updated in DB in commit flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCEImplTest.java
Labels: skip-changelog, Test Plan Approved

#23171 chore: analytic events added for gsheet
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Enhancement, Google Sheets, skip-changelog, BE Coders Pod, Integrations Pod, skip-testPlan

#23017 chore: Merge two import export services into a single one
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationTemplateServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImplV2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
Labels: Git Version Control, skip-changelog, Test Plan Approved, Git Pod

#23302 fix: Updating URL for addition of recommended JS libraries
  app/client/src/pages/Editor/Explorer/Libraries/Installer.tsx
Labels: Bug

#23304 fix: Fix adhoc issues
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ActionCreator/viewComponents/Action/ActionSelector.tsx
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/TextFormatting.ts
Labels: Bug, Design System Pod

#23259 fix: misc ads bugs
  app/client/src/constants/routes/appRoutes.ts
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Editor/Explorer/ContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceStructure.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/pages/Editor/Explorer/Libraries/Installer.tsx
  app/client/src/pages/Editor/GeneratePage/components/DataSourceOption.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
  app/client/src/pages/common/PageHeader.tsx
Labels: Design System Pod, ads deduplication, ads grayscale, ads revamp

#23280 chore: adding index for new action
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration011AddPluginTypeIndexToNewActionCollection.java
Labels: Core Query Execution, Task, skip-changelog, BE Coders Pod, Data Platform Pod, skip-testPlan

#23305 fix: Styles for the Tooltip component under old design system
  app/client/src/globalStyles/tooltip.ts
  app/client/src/pages/Settings/FormGroup/Radio.tsx
Labels: Bug, Design System Pod

#23308 fix: Updating labels of input fields under Admin settings
  app/client/src/pages/Settings/FormGroup/Button.tsx
  app/client/src/pages/Settings/FormGroup/Checkbox.tsx
  app/client/src/pages/Settings/FormGroup/Common.tsx
  app/client/src/pages/Settings/FormGroup/CopyUrlForm.tsx
  app/client/src/pages/Settings/FormGroup/Radio.tsx
  app/client/src/pages/Settings/FormGroup/TextAreaField.tsx
  app/client/src/pages/Settings/FormGroup/TextInput.tsx
  app/client/src/pages/Settings/FormGroup/group.tsx
  app/client/src/pages/Settings/config/branding/SettingsForm.tsx
Labels: Bug, Design System Pod

#23309 fix: Ads 2.0 Plugin not supported modal deduplication
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IntegrationEditor/UnsupportedPluginDialog.tsx
Labels: Design System Pod, ads deduplication, ads grayscale

#23311 fix: Updating text copies
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/pages/Editor/CanvasLayoutConversion/hooks/useAutoToFixedLayoutFlow.ts
  app/client/src/pages/Editor/CanvasPropertyPane/index.tsx
  app/client/src/pages/Editor/MainContainerLayoutControl.tsx
Labels: Bug, Design System Pod

#23307 fix: UI for curly braces in property pane suggestions
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/LazyCodeEditor/index.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/components/propertyControls/ComputeTablePropertyControl.tsx
  app/client/src/components/propertyControls/JSONFormComputeControl.tsx
  app/client/src/components/propertyControls/ListComputeControl.tsx
  app/client/src/components/propertyControls/MenuButtonDynamicItemsControl.tsx
  app/client/src/components/propertyControls/TableComputeValue.tsx
  app/client/src/components/propertyControls/TableInlineEditValidPropertyControl.tsx
  app/client/src/components/propertyControls/TableInlineEditValidationControl.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/ImageInput.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/utils.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
Labels: Bug, Design System Pod

#23288 test: fixed flaky Basic spec
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#23144 fix: widget columns to have integers after conversion to fixed layout and redirect to home page while restoring if the page does not exist in the restored snapshot
  app/client/src/sagas/SnapshotSagas.ts
  app/client/src/utils/DSLConversions/autoToFixedLayout.ts
  app/client/src/utils/DSLConversions/tests/autoToFixedLayout.test.ts
Labels: Bug, Regressed, Mobile Pod, Responsive Widget

#23322 chore: [ADS 2.0] Deduplication of deviation modal in guided tour
  app/client/src/pages/Editor/GuidedTour/DeviationModal.tsx
Labels: Design System Pod, ads deduplication, ads revamp

#23290 fix: ds pages, api pages spacing, focus border, etc issues
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ActionExecutionInProgressView.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/Debugger/DebuggerLogs.tsx
  app/client/src/components/editorComponents/Debugger/EntityDependecies.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/ErrorLog.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/components/editorComponents/EntityBottomTabs.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/CurlImportForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/QueryWrapperWithCSS.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/Debugger.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/common/datasourceAuth/AuthMessage.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
Labels: Design System Pod, ads deduplication, ads grayscale

#23291 chore: use the standard error message for auth fails in git import
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: skip-changelog

#23287 chore: add duration logs inside secondary functions
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Performance Pod, QA, High, Needs Triaging, skip-changelog, Team Managers Pod, Super Admin, DevOps Pod, RBAC, CI impacted, Performance

#23053 fix: Added null check before logging analytics
  app/client/src/entities/Engine/AppEditorEngine.ts
Labels: Bug, Pages, Low, Verified, UI Builders Pod, Sentry, skip-testPlan

#23155 ci: disable postgres by default in helm charts
  deploy/helm/Chart.yaml
  deploy/helm/values.yaml
Labels: skip-changelog, CI

#23265 chore: Refactoring action execution flows to clean up files
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/NewActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ActionExecutionSolution.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ActionExecutionSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: skip-changelog

#23188 chore: CE changes for Ask AI
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/ApiTests/API_Styles_spec.js
  app/client/src/ce/components/editorComponents/GPT/index.tsx
  app/client/src/ce/components/editorComponents/GPT/trigger.tsx
  app/client/src/components/editorComponents/CodeEditor/commandsHelper.ts
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/propertyControls/ChartDataControl.tsx
  app/client/src/components/propertyControls/CodeEditorControl.tsx
  app/client/src/components/propertyControls/ComputeTablePropertyControl.tsx
  app/client/src/components/propertyControls/InputTextControl.tsx
  app/client/src/components/propertyControls/JSONFormComputeControl.tsx
  app/client/src/components/propertyControls/ListComputeControl.tsx
  app/client/src/components/propertyControls/MenuButtonDynamicItemsControl.tsx
  app/client/src/components/propertyControls/SelectDefaultValueControl.tsx
  app/client/src/components/propertyControls/TableComputeValue.tsx
  app/client/src/components/propertyControls/TableInlineEditValidationControl.tsx
  app/client/src/pages/Editor/BottomBar/index.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/WidgetsEditor/PropertyPaneContainer.tsx
Labels: skip-changelog, skip-testPlan

#23328 fix: add audit log event for updating workspace role for member
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
Labels: Bug, Needs Triaging, Deploy Preview, Team Managers Pod, Audit Logs, skip-testPlan

#23086 fix: Remove borders in preview mode for modals.
  app/client/src/resizable/modalresize/index.tsx
Labels: Bug, Low, Production, Needs Triaging, UI Builders Pod, Canvas / Grid, skip-testPlan, Mobile Pod, Responsive Widget

#23306 fix: misc ads bugs
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/pages/Editor/Explorer/Actions/helpers.tsx
  app/client/src/pages/Editor/Explorer/ContextMenu.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetContextMenu.tsx
Labels: Design System Pod, ads deduplication, ads grayscale, ads revamp

#23336 fix: Entity pane spacing & deduplicating spinner on app editor page
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/EmbedSettings.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/Libraries/index.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/Explorer/index.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/Editor/index.tsx
Labels: Design System Pod, ads deduplication, ads grayscale
