Repository appsmithorg/appsmith, pull requests merged in 2023-04, with the labels that each got.

#21780 fix: Avoid HikariCP creating idle connection on Postgres DB
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
Labels: Bug, Backend, Critical, Core Query Execution, BE Coders Pod, Postgres, Data Platform Pod, Integrations Pod, Connection pool

#21565 fix: handle 413 errors on the client
  app/client/src/api/ActionAPI.tsx
  app/client/src/api/ApiUtils.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ErrorSagas.tsx
Labels: Bug, Frontend, Needs Triaging, BE Coders Pod, medium, Data Platform Pod, Integrations Pod, Error Handling, Integrations Pod General

#21998 chore: modify getAllPaths utility method to only create child records for native objects
  app/client/src/ce/workers/Evaluation/evaluationUtils.test.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
Labels: skip-changelog, Test Plan Approved

#21738 fix: clean implementation of isAutoHeightEnabledForWidget
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/components/editorComponents/ResizableComponent.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/WidgetUtils.test.ts
  app/client/src/widgets/WidgetUtils.ts
Labels: skip-changelog, skip-testPlan

#21942 fix: editor header border style
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Bug, UI Improvement, High, IDE, New Developers Pod, Test Plan Approved

#21766 chore: Add default view for JsonView
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/SerializationUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/CommonConfigTest.java
Labels: skip-changelog

#21944 chore: Move error from saga to action creator
  app/client/src/actions/pageActions.tsx
  app/client/src/sagas/PageSagas.tsx
Labels: skip-changelog, skip-testPlan

#21781 fix: Add null check before updating the body in actions
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
Labels: Bug, High, Production, Release, Regressed, Git Version Control, Release Blocker, Test Plan Approved, Git Pod

#21994 chore: Fix unnecessary re-shading of jars
  app/server/appsmith-plugins/amazons3Plugin/pom.xml
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/arangoDBPlugin/pom.xml
  app/server/appsmith-plugins/arangoDBPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/dynamoPlugin/pom.xml
  app/server/appsmith-plugins/dynamoPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/elasticSearchPlugin/pom.xml
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/firestorePlugin/pom.xml
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/googleSheetsPlugin/pom.xml
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/graphqlPlugin/pom.xml
  app/server/appsmith-plugins/graphqlPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/jsPlugin/pom.xml
  app/server/appsmith-plugins/jsPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/mongoPlugin/pom.xml
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/mssqlPlugin/pom.xml
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/mysqlPlugin/pom.xml
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/oraclePlugin/pom.xml
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/postgresPlugin/pom.xml
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/redisPlugin/pom.xml
  app/server/appsmith-plugins/redisPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/redshiftPlugin/pom.xml
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/restApiPlugin/pom.xml
  app/server/appsmith-plugins/restApiPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/saasPlugin/pom.xml
  app/server/appsmith-plugins/saasPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/smtpPlugin/pom.xml
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/snowflakePlugin/pom.xml
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/plugin.properties
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/PluginConfiguration.java
Labels: skip-changelog

#22044 fix: Build failure because of access token signature difference in EE repo
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/CommonConfigTest.java
Labels: Bug, skip-testPlan

#22039 fix: Updating logic for redirection on Members settings page on Workspace settings
  app/client/src/pages/workspace/settings.tsx
Labels: Bug, Release, Team Managers Pod, RBAC, skip-testPlan, CI impacted

#21855 fix: send additional data to analytics for cloud hosted instance
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserAndAccessManagementServiceCEImpl.java
Labels: Bug, Task, skip-changelog, Test Plan Approved

#22026 chore: Updating empty state for members in the invite modal
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
Labels: skip-changelog, Deploy Preview, Team Managers Pod, RBAC, skip-testPlan

#21752 fix: fixed broken file downloads for urls containing "(" or ")"
  app/client/src/utils/AppsmithUtils.test.ts
  app/client/src/utils/TypeHelpers.ts
Labels: Bug, UX Improvement, JS Evaluation, Production, FE Coders Pod, medium, needs estimate, Test Plan Approved, Framework Functions

#22046 fix: Git connected apps are showing a status error
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
Labels: Bug, High, Release, Needs Triaging, Git Version Control, Release Blocker, Git Pod

#21894 fix: [Git] Avoid 404 when checking out a branch
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/SwitchBranches_spec.js
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/URLRedirect/URLAssembly.ts
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/EntityNotFoundPane.tsx
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, Needs Triaging, Git Version Control, medium, Test Plan Approved, Git Pod

#22067 test: Cypress - Fix reference issue in spec for Sanity suite
  app/client/cypress/integration/SanitySuite/Datasources/AuthenticatedApiDatasource_spec.js
  app/client/cypress/integration/SanitySuite/Datasources/RestApiOAuth2Validation_spec.js
Labels: skip-changelog, Test

#21699 feat: Added file id mapping in datasource config
  app/client/src/actions/datasourceActions.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/ExecutionMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/FileDeleteMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/FileInfoMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/FileListMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/GetStructureMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsBulkAppendMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsBulkUpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsDeleteMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsGetMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsUpdateMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/SheetDeleteMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/TriggerMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/enums/GoogleSheetMethodEnum.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/utils/SheetsUtil.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/FileInfoMethodTest.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/FileListMethodTest.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/GetStructureMethodTest.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/RowsGetMethodTest.java
Labels: Enhancement, Frontend, Backend, Google Sheets, Test Plan Approved, Integrations Pod, Test

#21957 chore: Removed server url from start-https command in ClientSetup
  contributions/ClientSetup.md
Labels: Documentation, Task, skip-changelog, User Education Pod, Integrations Pod

#22057 test: Cypress - Automated tests for Firestore datasource
  .github/workflows/fat-migration.yml
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Widgets_Copy_Paste_Delete_Undo_Keyboard_Event_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/Firestore_Basic_Spec.ts
  app/client/cypress/locators/welcomePage.json
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test Plan Approved, Test

#22059 test: Cypress - Flaky test fix
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/List/List4_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Select/Select_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
Labels: skip-changelog, Test

#22102 ci: Starting ElasticSearch DB container for running test scripts in CI runs
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI, Test Plan Approved

#21938 ci: Remove license in ci-test.yml
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#22071 chore: fix tests in ee
  app/client/src/workers/Linting/utils.ts
Labels: skip-changelog, Test Plan Approved

#22119 fix: fix package.json file for ast build
  app/rts/package.json
  app/rts/yarn.lock
  app/shared/ast/rollup.config.js
Labels: Bug, Needs Triaging

#22111 test: Disable the gsheet test
  app/client/cypress/manual_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#22128 ci: Added 'Workflow run' and 'Commit' for the failed spec comments
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#22085 fix: Adding a permission check for creating new datasource on generate page
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/MemberRoles_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/pages/Editor/GeneratePage/components/DataSourceOption.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
Labels: Bug, Needs Triaging, Deploy Preview, Team Managers Pod, RBAC, skip-testPlan

#21932 chore: Added test for various data types (#20069)
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Backend, MySQL, Task, skip-changelog, BE Coders Pod, Up for grabs, Integrations Pod, skip-testPlan

#22054 fix: Removes aws from the list of recommended libraries.
  app/client/src/pages/Editor/Explorer/Libraries/recommendedLibraries.ts
Labels: Bug, Task, FE Coders Pod, Test Plan Approved, Custom JS Libraries

#22009 chore: update workspace member comparator
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/AppsmithComparatorsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
Labels: skip-changelog, skip-testPlan

#22101 test: test: Cypress - Automated tests for Elasticsearch datasource
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Widgets_Copy_Paste_Delete_Undo_Keyboard_Event_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/ElasticSearch_Basic_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/S3_1_spec.js
  app/client/cypress/integration/SanitySuite/Datasources/FirestoreStub_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test Plan Approved, Test

#22021 fix: Cannot navigate out of an error page
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/pages/common/ErrorPages/Page.tsx
Labels: Bug, Low, Release, Needs Triaging, BE Coders Pod, New Developers Pod, IDE Navigation, Data Platform Pod, skip-testPlan, Error Handling

#22144 chore: lint bundling optimization
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Linting/index.ts
  app/client/src/workers/Linting/types.ts
  app/client/src/workers/Linting/utils.ts
Labels: skip-changelog, Test Plan Approved

#22116 fix: Git Repo Not Found Error Message
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
Labels: Bug, Git Version Control, skip-testPlan, Git Pod

#21989 fix: Show more button should become show less when clicked
  app/client/src/components/utils/CollapseComponent.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
Labels: skip-testPlan

#22100 chore: Added generic error handling logic to prevent evaluation worker crash
  app/client/src/workers/Evaluation/fns/utils/Messenger.ts
Labels: Task, skip-changelog, FE Coders Pod, Framework Functions, skip-testPlan

#21992 fix: tooltip for the orange deviation dot prevent overflow out of screen fixed
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
Labels: Bug, Property Pane, UI Builders Pod, skip-testPlan

#22149 test: Cypress - EntityExplorer ExpandCollapse() improvement
  app/client/cypress/support/Pages/EntityExplorer.ts
Labels: skip-changelog, Test

#22123 fix: improve documentation for setting Appsmith server locally
  contributions/ClientSetup.md
  contributions/ServerSetup.md
Labels: Bug, Documentation, skip-changelog, skip-testPlan

#21735 fix: fix usage pulse fallback
  app/client/src/ce/constants/UsagePulse.ts
  app/client/src/ce/pages/Editor/Explorer/helpers.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/constants/userConstants.ts
  app/client/src/ee/constants/UsagePulse.ts
  app/client/src/usagePulse/index.ts
  app/client/src/usagePulse/usagePulse.test.ts
  app/client/src/usagePulse/utils.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/AppsmithUtils.tsx
Labels: Bug, skip-testPlan, Billing & Usage Pod

#22122 fix: Alignment issues on the invite modal and the members page
  app/client/src/ce/constants/workspaceConstants.ts
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/src/pages/workspace/ManageUsers.tsx
Labels: Bug, Deploy Preview, Team Managers Pod, RBAC, skip-testPlan

#21912 feat: gsheet disable new query when no files selected
  app/client/src/ce/constants/messages.ts
  app/client/src/constants/Datasource.ts
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/SaaSEditor/errorUtils.ts
  app/client/src/pages/common/datasourceAuth/AuthMessage.tsx
  app/client/src/utils/editorContextUtils.ts
Labels: Enhancement, Frontend, Google Sheets, Test Plan Approved, Integrations Pod

#22098 feat: Add functionality to opt out plugin from airgap instance
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/PluginConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Plugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration005OptOutUnsupportedPluginsForAirGap.java
  contributions/ServerCodeContributionsGuidelines/PluginCodeContributionsGuidelines.md
Labels: Enhancement, Backend, Team Managers Pod, Airgap

#22003 fix: add select options field to new row
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/columnTypes/select_spec.js
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/index.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Select.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.test.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Bug, App Viewers Pod, High, Production, Needs Triaging, Test Plan Approved, Table Widget V2

#22133 feat: exclude view mode only present resources during the export
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
Labels: Bug, Enhancement, Release, Needs Triaging, Test Plan Approved

#22157 feat: forkWithConfiguration flag added for forking app to a workspace
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesWorkspaceClonerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ExamplesWorkspaceClonerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesWorkspaceClonerTests.java
Labels: Enhancement, Datasources, Needs Triaging, BE Coders Pod, New Developers Pod, REST API plugin, Templates pod, Integrations Pod

#21968 fix: specific sheets to whole drive issue fixed
  app/client/src/sagas/DatasourcesSagas.ts
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/utils/SheetsUtil.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Bug, Backend, High, Needs Triaging, Google Sheets, Deploy Preview, BE Coders Pod, Test Plan Approved, Integrations Pod

#21951 chore: Add Cache-Control header for static assets
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Performance Pod, skip-changelog

#21675 fix:skipping jest-tests in client workflow
  .github/workflows/client-build.yml
Labels: Bug, Release, Needs Triaging

#19926 feat: JSObject variable as a state (JSObject variable mutation)
  app/client/cypress/fixtures/JSObjectMutationTestApp.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/JSObject/JSObjectMutation_spec.ts
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/ce/workers/Evaluation/evalWorkerActions.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/workers/Evaluation/JSObject/Collection.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableFactory.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableUpdates.ts
  app/client/src/workers/Evaluation/JSObject/__test__/JSVariableFactory.test.ts
  app/client/src/workers/Evaluation/JSObject/__test__/mutation.test.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/JSObject/test.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
  app/client/src/workers/Evaluation/__tests__/Actions.test.ts
  app/client/src/workers/Evaluation/__tests__/evaluate.test.ts
  app/client/src/workers/Evaluation/__tests__/timeout.test.ts
  app/client/src/workers/Evaluation/errorModifier.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/fns/__tests__/LocalStorage.test.ts
  app/client/src/workers/Evaluation/fns/__tests__/interval.test.ts
  app/client/src/workers/Evaluation/fns/__tests__/postWindowMessage.test.ts
  app/client/src/workers/Evaluation/fns/__tests__/run.test.ts
  app/client/src/workers/Evaluation/fns/geolocationFns.ts
  app/client/src/workers/Evaluation/fns/mock.ts
  app/client/src/workers/Evaluation/fns/overrides/interval.ts
  app/client/src/workers/Evaluation/fns/overrides/timeout.ts
  app/client/src/workers/Evaluation/fns/utils/ExecutionMetaData.ts
  app/client/src/workers/Evaluation/fns/utils/Messenger.ts
  app/client/src/workers/Evaluation/fns/utils/Promisify.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
  app/client/src/workers/Evaluation/fns/utils/__tests__/Promisify.test.ts
  app/client/src/workers/Evaluation/fns/utils/jsObjectFnFactory.ts
  app/client/src/workers/Evaluation/functionDeterminer.ts
  app/client/src/workers/Evaluation/getEntityForContext.ts
  app/client/src/workers/Evaluation/handlers/evalExpression.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/handlers/evalTrigger.ts
  app/client/src/workers/Evaluation/handlers/executeSyncJS.ts
  app/client/src/workers/Evaluation/handlers/index.ts
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
  app/client/src/workers/Evaluation/validations.ts
  app/client/src/workers/Linting/utils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/test.ts
Labels: Duplicate, Enhancement, UX Improvement, JS Evaluation, Production, Autocomplete, Epic, Deploy Preview, JS Objects, FE Coders Pod, medium, needs estimate, Test Plan Approved

#22120 chore: Moved common methods of permission classes to base class
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ActionPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ApplicationPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourcePermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DomainPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PagePermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PermissionGroupPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/WorkspacePermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionPermissionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationPermissionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourcePermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourcePermissionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DomainPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PagePermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PagePermissionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PermissionGroupPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PermissionGroupPermissionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/WorkspacePermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/WorkspacePermissionCEImpl.java
Labels: Git Version Control, skip-changelog, Git Pod

#22153 chore: adds truncate and line clamp props to text component
  app/client/packages/design-system/widgets/src/components/Button/Button.stories.mdx
  app/client/packages/design-system/widgets/src/components/Button/Button.tsx
  app/client/packages/design-system/widgets/src/components/Button/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/Text/Text.stories.mdx
  app/client/packages/design-system/widgets/src/components/Text/Text.tsx
  app/client/packages/design-system/widgets/src/components/Text/index.styled.tsx
Labels: App Viewers Pod, potential-duplicate, Text Widget, skip-changelog, skip-testPlan

#22065 chore: Move Git related meta data to new base domain class
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BranchAwareDomain.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/views/Views.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ActionCollection.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationPage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/CustomJSLib.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Layout.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/NewAction.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/NewPage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Theme.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog1.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
Labels: Git Version Control, skip-changelog, Git Pod

#22192 fix: Adding dependencies in RTS
  app/rts/package.json
  app/rts/yarn.lock
  app/shared/ast/package.json
Labels: Bug, Needs Triaging, skip-testPlan

#22188 fix: Changes to fix ee jest test
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
Labels: Bug, skip-docs, skip-testPlan

#22069 fix: Do not set widget ancestry if selection happens via canvas
  app/client/cypress/fixtures/explorerHiddenWidgets.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Select_Widget_spec.js
  app/client/src/actions/widgetSelectionActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/reducers/uiReducers/dragResizeReducer.ts
  app/client/src/sagas/WidgetSelectUtils.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/selectors/widgetSelectors.ts
  app/client/src/utils/history.ts
Labels: Bug, Critical, New Developers Pod, Test Plan Approved, IDE Navigation

#22173 chore: Disable all caching during dev time
  app/client/start-https.sh
Labels: skip-changelog

#22177 ci: Use vars for DOCKER_HUB_ORGANIZATION
  .github/workflows/github-release.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21917 feat: 5xx error message with links
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/common/ErrorPages/Components/PageErrorMessage.tsx
  app/client/src/pages/common/ErrorPages/Page.tsx
  app/client/src/pages/common/ErrorPages/ServerUnavailable.tsx
Labels: Enhancement, New Developers Pod, Test Plan Approved, IDE Navigation

#22217 chore: fix merge conflict
  app/client/src/pages/common/ErrorPages/Page.tsx
Labels: skip-changelog, Test Plan Approved

#21884 refactor: Seperate out service level methods to helper classes to have custom implementation in business edition
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Releases.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/PluginScheduledTaskUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/PluginScheduledTaskUtilsImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ReleaseNotesUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ReleaseNotesUtilsImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/PluginScheduledTaskUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/PluginScheduledTaskUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ReleaseNotesUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ReleaseNotesUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PluginScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ReleaseNotesServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PluginScheduledTaskCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ReleaseNotesServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExampleApplicationsAreMarked.java
Labels: Backend, Team Managers Pod, skip-testPlan, Airgap

#22169 test: Cypress - flaky fix + Git comment improve
  .github/workflows/integration-tests-command.yml
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/Firestore_Basic_Spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#22190 fix: Hint text in create query (sql based datasources)
  app/server/appsmith-plugins/arangoDBPlugin/src/main/resources/templates/CREATE.aql
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/templates/CREATE.sql
Labels: skip-testPlan

#22240 test: Cypress - Flaky fix
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/Firestore_Basic_Spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#22247 test: Cypress - Flaky fix
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Button/Button_onClickAction_spec.js
Labels: Test Plan Approved

#22248 test: Cypress - Flaky fix
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: skip-changelog, Test Plan Approved, Test

#22257 test: Cypress - Flaky fix
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Button/Button_onClickAction_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
Labels: skip-changelog, Test Plan Approved, Test

#22216 fix: Alphanumeric sorting of options in action selector sub menu
  app/client/src/components/editorComponents/ActionCreator/Field/index.tsx
  app/client/src/components/editorComponents/ActionCreator/utils.test.ts
  app/client/src/components/editorComponents/ActionCreator/utils.ts
Labels: Bug, Needs Triaging, FE Coders Pod, Test Plan Approved, Action Selector

#22214 fix: CSS broken after action selector redesign changes
  app/client/src/components/editorComponents/ActionCreator/viewComponents/Action/ActionSelector.tsx
  app/client/src/index.css
Labels: Bug, Critical, Low, Needs Triaging, Release Blocker, FE Coders Pod, Test Plan Approved, Action Selector

#22218 fix: null check before accessing accessing properties in table and phone input widget
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.ts
Labels: Bug, Table Widget, App Viewers Pod, Critical, Phone Input Widget, Table Widget V2, Sentry, skip-testPlan

#22274 feat: hide things on airgap
  app/client/src/pages/Editor/WidgetsEditor/EmptyCanvasSection.tsx
  app/client/src/widgets/ButtonWidget/widget/index.tsx
Labels: Enhancement, Frontend, Task, Team Managers Pod, skip-testPlan, Airgap

#22263 test: Cypress - Flaky fix
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
Labels: skip-changelog, Test Plan Approved, Test

#22307 ci: Update the text in Git comment flaky tests app link
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#22315 fix: Remove sentry logging of clone errors
  app/client/src/sagas/PostEvaluationSagas.ts
Labels: Bug, Frontend, JS Evaluation, High, FE Coders Pod, Sentry, skip-testPlan

#22296 chore: Add helper methods for instance configuration class
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/InstanceConfigHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/InstanceConfigHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCEImpl.java
Labels: skip-changelog, Team Managers Pod, skip-testPlan

#22291 fix: Error navigation blockers
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug22281_WelcomeTour_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/pages/Applications/loader.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/CurlImportForm.tsx
  app/client/src/pages/Editor/APIEditor/RapidApiEditorForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/debuggerSelectors.tsx
Labels: Bug, Needs Triaging, BE Coders Pod, medium, Test Plan Approved, Data Platform Pod, Error Handling

#22341 fix: mixpanel publish event individual query counts added
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Bug, Task, New Developers Pod, IDE Navigation

#22268 fix: Improving UX on the members page and the invite modal
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/workspace/ManageUsers.tsx
  app/client/src/pages/workspace/settings.tsx
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Bug, Needs Triaging, Team Managers Pod, RBAC, skip-testPlan

#21712 fix: Table Widget property to specify if prev or next buttons were pressed
  app/client/cypress/fixtures/tableV2NewDslWithPagination.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_PropertyPane_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Widget_Copy_Paste_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_pagination_spec.js
  app/client/cypress/support/Pages/Table.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, High, Community Reported, Needs PRD, Test Plan Approved, Add/Update Test Plan

#22277 feat: wds color generation algorithm
  app/client/packages/design-system/headless/src/components/Button.tsx
  app/client/packages/design-system/theming/src/components/ThemeProvider.tsx
  app/client/packages/design-system/theming/src/index.ts
  app/client/packages/design-system/theming/src/tokens/defaultTokens.json
  app/client/packages/design-system/theming/src/utils/ColorsAccessor.ts
  app/client/packages/design-system/theming/src/utils/ColorsAccessor/ColorsAccessor.ts
  app/client/packages/design-system/theming/src/utils/ColorsAccessor/index.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/DarkScheme.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/LightScheme.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/TokensAccessor.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/index.ts
  app/client/packages/design-system/theming/src/utils/buildTokens.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/contrast.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/index.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/lighten.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/parse.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/setLch.ts
  app/client/packages/design-system/theming/src/utils/index.ts
  app/client/packages/design-system/widgets/src/components/Button/Button.tsx
  app/client/packages/design-system/widgets/src/components/Button/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/TestComponent/PrimaryButonTest.stories.mdx
  app/client/packages/design-system/widgets/src/components/TestComponent/SecondaryButonTest.stories.mdx
  app/client/packages/design-system/widgets/src/components/TestComponent/TertiaryButonTest.stories.mdx
  app/client/packages/design-system/widgets/src/components/TestComponent/TestComponent.tsx
  app/client/packages/design-system/widgets/src/components/TestComponent/colors.ts
  app/client/packages/design-system/widgets/src/components/Text/Text.stories.mdx
  app/client/packages/design-system/widgets/src/tokens.json
  app/client/packages/storybook/.storybook/addons/theming/register.js
  app/client/packages/storybook/.storybook/decorators/theming.js
  app/client/packages/storybook/.storybook/preview.js
Labels: Enhancement, skip-changelog, skip-docs, skip-testPlan

#21954 fix: Firestore Invalid DS Test Success
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/exceptions/FirestoreErrorMessages.java
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
Labels: Bug, Production, Firestore, BE Coders Pod, medium, Test Plan Approved, Integrations Pod

#22226 chore: [One-click binding] Mongo db widget query generator
  app/client/src/WidgetQueryGenerators/BaseQueryGenerator.ts
  app/client/src/WidgetQueryGenerators/MongoDB.test.ts
  app/client/src/WidgetQueryGenerators/MongoDB.ts
  app/client/src/WidgetQueryGenerators/index.ts
  app/client/src/WidgetQueryGenerators/types.ts
Labels: App Viewers Pod, Task, skip-changelog, skip-testPlan, One-click Binding

#22186 fix: Allow empty password in PostgreSQL trust authentication login
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/EmptyDataSource_spec.js
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/exceptions/PostgresErrorMessages.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
Labels: Bug, Backend, Needs Triaging, BE Coders Pod, Postgres, Test Plan Approved, Integrations Pod

#22103 fix: Fix annoying issue with Entity form control in google sheets
  app/client/src/components/formControls/DropDownControl.tsx
Labels: Bug, Google Sheets, BE Coders Pod, Integrations Pod

#22339 chore: Add telemetry for resolved error message
  app/client/src/actions/debuggerActions.ts
  app/client/src/sagas/DebuggerSagas.ts
Labels: Frontend, High, Task, skip-changelog, BE Coders Pod, Test Plan Approved, Data Platform Pod, Error Handling

#21971 fix: 503 error fixed when navigating to homepage
  app/client/src/sagas/InitSagas.ts
Labels: Bug, Needs Triaging, New Developers Pod, Clean URLs, Test Plan Approved

#21901 chore: add sentry variables to DP
  scripts/deploy_preview.sh
Labels: skip-changelog, Stale

#22342 fix: App nav upload logo thumbnail false
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
Labels: Bug, Task

#22364 fix: Showing share button in app editor only when application is fetched
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Bug, High, Needs Triaging, Deploy Preview, Team Managers Pod, RBAC, skip-testPlan

#22164 fix: Maintain focus on editor when Escape is pressed with autocomplete menu open
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug, Production, Autocomplete, FE Coders Pod, JS Usability, medium, Test Plan Approved

#21747 Fix: Update js collections calls are being sent before onPageLoad calls
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
Labels: Needs Triaging, JS Objects, FE Coders Pod, Test Plan Approved

#22150 fix: Bindings on API and Query panes are not tracked via ENTITY_BINDING_SUCCESS
  app/client/src/actions/evaluationActions.ts
Labels: Bug, JS Evaluation, Needs Triaging, FE Coders Pod, skip-testPlan

#22091 ci: add recreate option for dps
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  scripts/deploy_preview.sh
Labels: skip-changelog, CI

#21809 chore: Upgrading graphql dependency
  app/server/appsmith-plugins/graphqlPlugin/pom.xml
  app/server/appsmith-plugins/graphqlPlugin/src/test/java/com/external/plugins/GraphQLPluginTest.java
  app/server/appsmith-server/pom.xml
Labels: skip-changelog, skip-testPlan

#21931 test: Tests for auto conversion and mobile viewport
  app/client/cypress/fixtures/AutolayoutWidgetsDsl.json
  app/client/cypress/fixtures/ImageHugWidgetDsl.json
  app/client/cypress/fixtures/autoLayoutContainerWidgetDsl.json
  app/client/cypress/fixtures/conversionFrAutoLayoutDsl.json
  app/client/cypress/fixtures/inputWidgetMobileDsl.json
  app/client/cypress/fixtures/mobileresponisvenessDsl.json
  app/client/cypress/fixtures/mobileresponsiveness_multipleDsl.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ConversionAlgorithm_AutoLayout_Validation_BasicSpec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ConversionAlgorithm_FixedLayout_Mobile_Validation_Spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ConversionAlgorithm_FixedLayout_Validation_Desktop.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/FillwidgetResizingSpec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/HugWidgetValidationSpec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/Snipping_mode_Basic_test.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ValidateAutoFillContainerWidgets_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/MobileResponsiveTests/ValidateAutoFillContainerWithInput_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
  app/client/src/ce/pages/Applications/index.tsx
Labels: skip-changelog, Test Plan Approved, Test

#21987 fix: clickable containers in the List widget
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_onItemClick_spec.js
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/components/editorComponents/WidgetComponentBoundary.tsx
  app/client/src/constants/componentClassNameConstants.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/component/DragContainer.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/widget/index.tsx
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/ChartWidget/component/index.tsx
  app/client/src/widgets/ChartWidget/widget/index.tsx
  app/client/src/widgets/CodeScannerWidget/component/index.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/ImageWidget/component/index.tsx
  app/client/src/widgets/ListWidgetV2/widget/helper.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/MapChartWidget/component/index.tsx
  app/client/src/widgets/MapWidget/component/Map.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: Bug, App Viewers Pod, High, Community Reported, List Widget, Test Plan Approved

#22384 fix: gsheet ui issues fixed
  app/client/cypress/integration/SanitySuite/Datasources/GoogleSheetsStub_spec.ts
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/form.json
Labels: Bug, Frontend, Needs Triaging, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#22176 feat: Auto indent and save code on pressing Ctrl/Cmd + S
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/VisualTests/JSEditorSaveAndAutoIndent_spec.js
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorSaveAndAutoIndent_spec.js/jsObjAfterSaveAndPrettify.snap.png
  app/client/cypress/snapshots/Smoke_TestSuite/ClientSideTests/VisualTests/JSEditorSaveAndAutoIndent_spec.js/jsObjBeforeSaveAndPrettify.snap.png
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/utils/autoIndentUtils.ts
  app/client/src/components/editorComponents/CodeEditor/utils/codeComment.ts
  app/client/src/components/editorComponents/CodeEditor/utils/cursorLeftMovement.ts
  app/client/src/components/editorComponents/CodeEditor/utils/keyboardShortcutConstants.ts
  app/client/src/components/editorComponents/CodeEditor/utils/saveAndAutoIndent.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug, Enhancement, FE Coders Pod, JS Usability, Test Plan Approved

#22278 fix: Misplaced theming indicator & arrow in property pane
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Checkbox/CheckboxGroup2_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Radio/Radio_spec.js
  app/client/cypress/locators/FormWidgets.json
  app/client/src/components/propertyControls/KeyValueComponent.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
Labels: Bug, Property Pane, Release, Regressed, Needs Triaging, UI Builders Pod, skip-changelog, medium, skip-testPlan

#22430 fix: Updating the message on delete user confirmation modal
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/pages/workspace/DeleteConfirmationModal.tsx
Labels: Bug, Deploy Preview, Team Managers Pod, RBAC, skip-testPlan

#22189 test: Updated flaky tests for tablev1 spec
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV1/Table_tabledata_schema_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#22420 chore: Updating the version for design-system-old dependency
  app/client/package.json
  app/client/yarn.lock
Labels: Verified, Needs Triaging, skip-changelog, Deploy Preview, Team Managers Pod, RBAC, skip-testPlan

#22432 fix: fix oracle plugin info
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug, skip-testPlan, Oracle SQL DB, Integrations Pod General

#22360 fix: Table V1 to support Auto Layout. Added auto-height for DatePicker
  app/client/src/widgets/DatePickerWidget2/index.ts
  app/client/src/widgets/TableWidget/index.ts
Labels: Bug, skip-changelog, skip-testPlan, Mobile Pod, Responsive Widget

#20627 ci: add workflows to cleanup merged deploy-previews
  .github/workflows/cleanup-dp.yml
  scripts/cleanup_dp.sh
Labels: skip-changelog, Stale, CI

#22462 Fix failing cleanup dp
  scripts/cleanup_dp.sh
Labels: skip-changelog

#22418 fix: List v2 child widgets event defined with action selector
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_event_bindings_spec.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
Labels: Bug, App Viewers Pod, Needs Triaging, Release Blocker, FE Coders Pod, Test Plan Approved, List Widget V2, Action Selector

#22338 fix: welcome form being submitted on pressing enter
  app/client/src/pages/setup/GetStarted.tsx
Labels: Bug, Login / Signup, New Developers Pod, Test Plan Approved, skip-testPlan

#22134 fix: Autocomplete doesn't show up in square brackets when the identifier has invalid characters
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Autocomplete/Autocomplete_Spec.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
Labels: Bug, Autocomplete, FE Coders Pod, medium, Test Plan Approved

#22463 ci: uncomment debug statements and clear dps when merged
  .github/workflows/cleanup-dp.yml
  scripts/cleanup_dp.sh
Labels: skip-changelog, CI

#22355 fix: page number calculation for the last page of table widget
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_pagination_spec.js
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, High, Regressed, skip-testPlan

#22229 fix: appsmithctl restore overwrites the MONGODB URI
  deploy/docker/utils/bin/backup.js
  deploy/docker/utils/bin/backup.test.js
  deploy/docker/utils/bin/constants.js
  deploy/docker/utils/bin/restore.js
Labels: Bug, High, Production, Community Reported, Needs Triaging, DevOps Pod, Backup & Restore

#22442 chore: wds color algo improve
  app/client/packages/design-system/theming/src/index.ts
  app/client/packages/design-system/theming/src/tokens/defaultTokens.json
  app/client/packages/design-system/theming/src/utils/TokensAccessor/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/LightModeTheme.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/TokensAccessor.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/index.ts
  app/client/packages/design-system/theming/src/utils/TokensAccessor/types.ts
  app/client/packages/design-system/theming/src/utils/buildTokens.ts
  app/client/packages/design-system/theming/src/utils/colorUtils/setLch.ts
  app/client/packages/design-system/theming/src/utils/index.ts
  app/client/packages/design-system/widgets/src/components/TestComponent/PrimaryButonTest.stories.mdx
  app/client/packages/design-system/widgets/src/components/TestComponent/SecondaryButonTest.stories.mdx
  app/client/packages/design-system/widgets/src/components/TestComponent/TertiaryButonTest.stories.mdx
  app/client/packages/design-system/widgets/src/components/TestComponent/TestComponent.tsx
  app/client/packages/storybook/.storybook/addons/theming/register.js
  app/client/packages/storybook/.storybook/decorators/theming.js
  app/client/packages/storybook/.storybook/manager.js
Labels: skip-changelog, skip-docs, skip-testPlan

#22413 feat: put airgap client build in a separate folder
  app/client/.gitignore
  app/client/build.sh
  app/client/craco.build.config.js
Labels: Enhancement, Task, Team Managers Pod, skip-testPlan, Airgap

#22130 test: Cypress - Flaky test fix
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/BindButton_Text_WithRecaptcha_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/JSONForm/JSONFrom_Modal_spec.js
Labels: skip-changelog, Test

#22393 feat: Add support for datasource which can't be self-hosted for air-gapped version
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration006SupportNonHostedPluginsForAirgap.java
Labels: Enhancement, Team Managers Pod, skip-testPlan, Airgap

#22452 ci: Fix for ci-merge-check
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22474 fix: add null check
  app/client/src/components/editorComponents/CodeEditor/MarkHelpers/entityMarker.ts
Labels: Bug, Test Plan Approved

#22517 ci: Modified the logic to pick the last comment for ci-merge-check
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22518 ci: Fix syntax error in ci-merge-check
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22380 chore: headless checkbox and styled checkbox component
  app/client/packages/design-system/headless/package.json
  app/client/packages/design-system/headless/src/components/Button/Button.tsx
  app/client/packages/design-system/headless/src/components/Button/index.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/Checkbox.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/index.tsx
  app/client/packages/design-system/headless/src/index.ts
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/Button/Button.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/Checkbox.stories.mdx
  app/client/packages/design-system/widgets/src/components/Checkbox/Checkbox.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/index.tsx
  app/client/packages/design-system/widgets/src/components/Text/Text.tsx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/storybook/.storybook/decorators/resizor.js
  app/client/packages/storybook/package.json
  app/client/yarn.lock
Labels: App Viewers Pod, Checkbox Widget, skip-changelog, Widget Styling, Widget design system, WDS team

#22350 fix: hide camerawidget knowmore link & intro modal start tutorial button
  app/client/src/pages/Editor/FirstTimeUserOnboarding/IntroductionModal.tsx
  app/client/src/widgets/CameraWidget/component/index.tsx
Labels: Bug, Release, Needs Triaging, skip-testPlan

#22083 feat: Adds tooltip to reconnect datasources list.
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_spec.js
  app/client/cypress/integration/SmokeSuite/Application/ReconnectDatasource_spec.js
  app/client/cypress/locators/ReconnectLocators.js
  app/client/src/pages/Editor/gitSync/components/DatasourceListItem.tsx
Labels: Enhancement, New Developers Pod, Templates pod, Test Plan Approved

#22175 chore: Add Cache-Control header for static assets
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Performance Pod, skip-changelog, Stale

#22528 ci: Fix ci-merge-check issue
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22540 ci: Fix ci-test-result in ci-merge-check
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22547 ci: Fix for "Test Plan Approved" check in ci-merge-check
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22510 fix: JSONForm multiselect field with invalid option crash
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/JSONForm/JSONForm_FieldProperties_spec.js
  app/client/src/widgets/JSONFormWidget/fields/MultiSelectField.tsx
Labels: Bug, App Viewers Pod, High, MultiSelect Widget, Test Plan Approved, Sentry

#22524 test: handle login success & errors properly
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/AdminSettings/Admin_settings_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/AuditLogs/Audit_logs_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Branding/Branding_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Admin_settings_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Github/EnableGithub_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Google/EnableGoogle_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/CreateSameAppInDiffWorkspace_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/ShareAppTests_spec.js
  app/client/cypress/integration/Regression_TestSuite/EnterpriseTests/AdminSettings/Admin_settings_spec.js
  app/client/cypress/integration/SmokeSuite/FormLogin/EnableFormLogin_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
Labels: Login / Signup, Needs Triaging, Task, skip-changelog, New Developers Pod, Test Plan Approved, CI impacted, Test

#22564 ci: Fix for ci-merge-check.yml issues
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22215 feat: Display loading message in browser when Appsmith is starting
  Dockerfile
  deploy/docker/entrypoint.sh
  deploy/docker/scripts/supervisor_event_listener.py
  deploy/docker/templates/appsmith_initializing.html
  deploy/docker/templates/appsmith_starting.html
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
  deploy/docker/templates/supervisord/application_process/backend.conf
  deploy/docker/templates/supervisord/event_listeners/eventlistener.conf
Labels: Enhancement, Docker, DevOps Pod

#22542 chore: Add errorId to DEBUGGER_NEW_ERROR_MESSAGE telemetry
  app/client/src/sagas/DebuggerSagas.ts
Labels: Bug, Frontend, Telemetry, skip-changelog, BE Coders Pod, New Developers Pod, medium, Test Plan Approved, Data Platform Pod, Error Handling, automerge

#22545 chore: Adds fix for flaky tests of reconnect datasources list.
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_spec.js
  app/client/cypress/integration/SmokeSuite/Application/ReconnectDatasource_spec.js
Labels: skip-changelog, Templates pod

#22299 fix: Fix fetch datasource structure on datasource creation
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Frontend, Datasources, High, Low effort, BE Coders Pod, Up for grabs, Test Plan Approved, Integrations Pod, Integrations Pod General

#21888 feat: Vertical alignment and row gaps for Auto Layout
  app/client/src/components/designSystems/appsmith/autoLayout/AutoLayoutLayer.tsx
  app/client/src/components/designSystems/appsmith/autoLayout/FlexBoxComponent.tsx
  app/client/src/utils/DSLConversions/fixedToAutoLayout.ts
  app/client/src/utils/DSLConversions/tests/autoToFixedLayout.test.ts
  app/client/src/utils/DSLConversions/tests/fixedToAutoLayout.test.ts
  app/client/src/utils/autoLayout/AutoLayoutUtils.ts
  app/client/src/utils/autoLayout/autoLayoutTypes.ts
  app/client/src/utils/autoLayout/autoLayoutUtils.test.ts
  app/client/src/utils/autoLayout/constants.ts
  app/client/src/utils/autoLayout/highlightUtils.test.ts
  app/client/src/utils/autoLayout/highlightUtils.ts
  app/client/src/utils/autoLayout/positionUtils.ts
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ContainerWidget/index.ts
  app/client/src/widgets/CurrencyInputWidget/index.ts
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/index.ts
  app/client/src/widgets/InputWidgetV2/index.ts
  app/client/src/widgets/MultiSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/MultiSelectTreeWidget/index.ts
  app/client/src/widgets/MultiSelectWidgetV2/component/index.styled.tsx
  app/client/src/widgets/MultiSelectWidgetV2/index.ts
  app/client/src/widgets/PhoneInputWidget/index.ts
  app/client/src/widgets/SelectWidget/component/index.styled.tsx
  app/client/src/widgets/SelectWidget/index.ts
  app/client/src/widgets/SingleSelectTreeWidget/component/index.styled.tsx
  app/client/src/widgets/SingleSelectTreeWidget/index.ts
Labels: Enhancement, skip-changelog, skip-testPlan, Mobile Pod, widget vertical alignment

#22567 ci: Updated requirements for auto merge in ci-merge-check
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22549 chore: change workspace update from save to update object
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: skip-changelog

#22486 fix: Tab title text cut issue
  app/client/src/widgets/TabsWidget/component/PageTabs.tsx
Labels: Tab Widget, App Viewers Pod, skip-testPlan

#22572 feat: Update the Installation Setup Complete event to better track the analytics
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Enhancement, skip-testPlan

#22405 fix: Sorting by renamed custom column
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Sorting_spec.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Bug, Table Widget, App Viewers Pod, High, Needs Triaging, skip-testPlan

#22581 ci: Add env to print logs from auto-merge in ci-merge-check
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22585 ci: Added UPDATE_LABLES and update the rename variables with more meaningful name
  .github/workflows/ci-merge-check.yml
Labels: skip-changelog, CI

#22440 fix: airgapped instance bug fixes
  app/client/src/constants/serverAssets.ts
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Editor/GeneratePage/components/CrudInfoModal.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/pages/Settings/FormGroup/ImageInput.tsx
  app/client/src/pages/Settings/config/branding/BrandingPage.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/widgets/DocumentViewerWidget/index.ts
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/IframeWidget/index.ts
Labels: Bug, High, Release, Needs Triaging, Deploy Preview, Team Managers Pod, medium, skip-testPlan, Airgap

#22546 fix: hide telemetry form for airgap instance
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/SetupForm.tsx
Labels: Bug, High, Release, Needs Triaging, Team Managers Pod, skip-testPlan, Airgap

#22303 chore: add helper method to be used in ee
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserAndAccessManagementServiceCEImpl.java
Labels: skip-changelog, Team Managers Pod, medium, RBAC, Audit Logs, skip-testPlan

#22279 feat: Updating invite modal & app settings for SSO embedding to introduce private app embedding
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/SettingsPane/EmbedSettings_spec.ts
  app/client/cypress/support/Pages/InviteModal.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/EmbedSnippetTab.tsx
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/ee/pages/Applications/EmbedSnippetTab.tsx
  app/client/src/pages/Applications/EmbedSnippet/PrivateEmbeddingContent.tsx
  app/client/src/pages/Applications/EmbedSnippet/Snippet.tsx
  app/client/src/pages/Applications/EmbedSnippetTab.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/EmbedSettings.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Enhancement, Needs Design, Business Edition, Team Managers Pod, SSO, medium, skip-testPlan

#22500 fix: null check before accessing editableCell property in table widget
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Bug, JS Evaluation, App Viewers Pod, High, FE Coders Pod, Table Widget V2, Sentry, skip-testPlan

#22203 fix: Bug Fixes in AutoLayout(Minor)
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/widgets/CanvasResizer.tsx
Labels: Bug, Mobile Pod, Responsive Canvas

#22321 feat: adding email property in google sheets
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/GetDatasourceMetadataMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/constants/FieldName.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/GetDatasourceMetadataMethodTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/AuthenticationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Enhancement, Task, Google Sheets, BE Coders Pod, Data Platform Pod, Integrations Pod, Datasource Environments, skip-testPlan
