Repository appsmithorg/appsmith, pull requests merged in 2023-02, with the labels that each got.

#20112 fix: library installation failure in public apps
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/JSLibrary/Library_spec.ts
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/entities/FeatureFlags.ts
  app/client/src/pages/Editor/Explorer/Libraries/index.tsx
  app/client/src/sagas/ApplicationSagas.tsx
  app/client/src/workers/Evaluation/SetupDOM.ts
  app/client/src/workers/Evaluation/handlers/setupEvalEnv.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Bug, High, Production, Needs Triaging, Release Blocker, Test Plan Approved, Custom JS Libraries

#20288 fix: NPE on server startup
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PluginScheduledTaskCEImpl.java
Labels: Bug, Needs Triaging, Docker, DevOps Pod, medium

#20247 feat: Adding Icon to Application Pages
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageNameIdDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
Labels: Enhancement, App Viewers Pod, Task, App Navigation

#20129 chore: Added total parameter size in execution DTO to analytics
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/CommonFieldName.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ExecuteActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Constraint.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
Labels: Backend, Core Query Execution, Task, skip-changelog, Data Platform Pod

#20132 chore: Add photos of workspace members in homepage API response
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/WorkspaceMemberInfoDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/WorkspaceMemberInfoCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomUserDataRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
Labels: Task, skip-changelog, skip-testPlan

#20105 fix: update chart.lock and app versions
  deploy/helm/Chart.lock
  deploy/helm/Chart.yaml
Labels: Bug, High, Needs Triaging, K8s, DevOps Pod

#20258 feat: Git actions queue
  app/client/src/sagas/GitSyncSagas.ts
Labels: Enhancement, Git Version Control, Test Plan Approved, Git Pod

#20091 fix: Prevent AutoHeight container from triggering update just before unMounting
  app/client/src/components/autoHeight/AutoHeightContainer.tsx
Labels: Bug, UI Builders Pod, Task, Auto Height

#20291 chore: Removed ShareApp Boolean Field
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
Labels: App Viewers Pod, Task, skip-changelog, App Navigation

#20106 chore: fix js object flaky tests
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug14002_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Refactoring/Refactoring_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/VisualTests/JSEditorComment_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
Labels: Task, skip-changelog, JS Objects, FE Coders Pod, Test Plan Approved

#20001 fix: Change watchtower to latest
  deploy/aws_ami/docker-compose.yml
  deploy/docker/README.md
  deploy/docker/docker-compose.yml
Labels: Bug, DevOps Pod

#19672 fix: Brand colors sometimes shows different colors on cloud
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Branding/Branding_spec.js
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/utils/BrandingUtils.ts
Labels: Bug, App Viewers Pod, Needs Triaging, Branding

#20072 chore: make CE applications class component as base component
  app/client/src/ce/pages/Applications/index.tsx
Labels: Task, skip-changelog, FE Coders Pod, Code Refactoring, skip-testPlan

#20301 chore: Fix Installation complete event not being sent
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ExchangeUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: skip-changelog, skip-docs, skip-testPlan

#20066 fix: invalid url on datasource refresh issue fixed
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/DSDiscardBugs_spec.ts
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug, Datasources, High, Production, Needs Triaging, BE Coders Pod, Test Plan Approved, Integrations Pod

#20032 test: Cypress Flaky fixes + Mock api update + PgAdminspec fix
  app/client/cypress.json
  app/client/cypress/fixtures/promisesStoreValueDsl.json
  app/client/cypress/integration/Regression_TestSuite/Application/MongoDBShoppingCart_spec.js
  app/client/cypress/integration/Regression_TestSuite/Application/PgAdmin_spec.js
  app/client/cypress/integration/Regression_TestSuite/Application/PromisesApp_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Autocomplete/Autocomplete_JS_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug16377_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/GitBugs_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/InputTruncateCheck_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/Deploy_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/DisconnectGit_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitBugs_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/Merge_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/CreateNewApp_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Refactoring/Refactoring_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/ForkTemplateToGitConnectedApp.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_To_App_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Tab/Tab_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/ApiTests/CurlImportFlow_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/JsFunctionExecution/SetTimeout_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/APIOnLoad_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/locators/Layout.json
  app/client/cypress/locators/PgAdminlocators.json
  app/client/cypress/locators/TemplatesLocators.json
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/gitSync.js
  app/client/cypress_ci.json
Labels: skip-changelog, Test Plan Approved, Test

#20150 fix: Autocomplete needs to show async await keywords instead of showi…
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Autocomplete/Autocomplete_JS_spec.ts
  app/client/src/constants/defs/ecmascript.json
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/utils/autocomplete/keywordCompletion.ts
Labels: Bug, UX Improvement, Low, Release, Autocomplete, JS Objects, FE Coders Pod, JS Promises, Test Plan Approved

#20316 test: Skipping Cypress flaky tests to unblock CI
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/GitSync.ts
Labels: skip-changelog, Test Plan Approved, Test

#20240 ci: Modularize ci-test
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI, Test Plan Approved

#19496 fix: center the widget when height is min auto height
  app/client/cypress/fixtures/autoHeightContentAlignmentDSL.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Content_Alignment_spec.ts
  app/client/src/components/autoHeight/AutoHeightContainer.test.tsx
  app/client/src/components/autoHeight/AutoHeightContainer.tsx
  app/client/src/widgets/SwitchWidget/component/index.tsx
Labels: Bug, UI Builders Pod, All Widgets, Auto Height, Test Plan Approved

#20176 fix: Auth DS re-authorise issue fixed
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug19933_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
Labels: Bug, High, Needs Triaging, BE Coders Pod, OAuth, Test Plan Approved, Integrations Pod

#20248 fix: Multiseries chart data does not load completely
  app/client/src/widgets/ChartWidget/component/index.tsx
  app/client/src/widgets/ChartWidget/component/utils.test.ts
  app/client/src/widgets/ChartWidget/component/utils.ts
Labels: Bug, Chart Widget, App Viewers Pod, Critical, Needs Triaging, Test Plan Approved

#20243 fix: Prevent falsy values from breaking the app
  app/client/src/widgets/MenuButtonWidget/widget/helper.test.ts
  app/client/src/widgets/MenuButtonWidget/widget/helper.ts
Labels: Bug, App Viewers Pod, High, Menu Button Widget, Test Plan Approved

#20279 feat: add centralised comparators
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/AppsmithComparators.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/AppsmithComparatorsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
Labels: Enhancement, Task, Team Managers Pod, RBAC

#20312 chore: [Usage & billing] change upgrade hook link and refactor upgrade to BE page
  app/client/src/assets/images/upgrade/be-cta/be-box-image.png
  app/client/src/assets/images/upgrade/be-cta/upgrade-to-be.png
  app/client/src/assets/svg/be-upgrade/upgrade-to-be-text.svg
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/Upgrade/businessEdition/UpgradeToBEPage.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/hooks/useOnUpgrade.ts
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Task, skip-changelog, Team Managers Pod, skip-testPlan, Usage & Billing

#20295 chore: Add version to analytics events
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ProjectProperties.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AnalyticsServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ReleaseNotesServiceCEImpl.java
Labels: skip-changelog, skip-docs, skip-testPlan

#20220 fix: URL replace issue in JS editor cmd click
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Command_Click_Navigation_spec.js
  app/client/src/pages/Editor/JSEditor/Form.tsx
Labels: Bug, High, New Developers Pod, IDE Navigation

#19783 chore: Adding environmentName parameter in datasource test flow and required decomposition and refactors.
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AuthenticationValidatorCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AuthenticationValidatorCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceTriggerSolutionTest.java
Labels: skip-changelog, Test Plan Approved, Datasource Environments

#20382 ci: Add missing env variables for SAML and OIDC in workflow
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#20117 fix: datasource popup blinking issue fixed
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug, Datasources, Low, Needs Triaging, BE Coders Pod, Test Plan Approved, Integrations Pod

#20383 chore: Increase Redis timeout in /health from 1s to 3s
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/HealthCheckServiceCEImpl.java
Labels: skip-changelog, skip-docs, skip-testPlan

#20223 feat: feature flag added for limiting gsheet access
  app/client/src/entities/FeatureFlags.ts
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Enhancement, Backend, Task, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#20303 fix: {{appsmith.user.email}} is not available on page load
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug20275_Spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/ee/sagas/userSagas.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
Labels: Bug, JS Evaluation, Critical, Needs Triaging, FE Coders Pod, Test Plan Approved, Add/Update Test Plan

#20319 test: Fix flaky tests + Add clean up for git repos
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Regression_TestSuite/Application/MongoDBShoppingCart_spec.js
  app/client/cypress/integration/Regression_TestSuite/Application/PgAdmin_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/JSObjectToInput_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/GitBugs_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/DeleteBranch_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitBugs_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/RegenerateSSHKey_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitWithTheming/GitWithTheming_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Linting/BasicLint_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/ForkTemplateToGitConnectedApp.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_To_App_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/GraphQL_spec.ts
  app/client/cypress/locators/PgAdminlocators.json
  app/client/cypress/locators/gitSyncLocators.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test Plan Approved, Test

#20020 fix: Objects that start with an underscore `_JSObject1` fail to be navigated from the debugger
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Logs_spec.ts
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/sagas/PostLintingSagas.ts
Labels: Bug, UX Improvement, Production, Debugger, Needs Triaging, FE Coders Pod, medium, Test Plan Approved

#20265 fix: primary key issues in list v2
  app/client/cypress/fixtures/Listv2/ListV2WithNullPrimaryKey.json
  app/client/cypress/fixtures/Listv2/Listv2JSObjects.json
  app/client/cypress/fixtures/Listv2/listWithServerSideData.json
  app/client/cypress/fixtures/Listv2/simpleLargeListv2.json
  app/client/cypress/fixtures/Listv2/simpleListWithInputAndButton.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/ListV2_SerververSide_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicClientSideData_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicServerSideData_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_primaryKeyProperty_spec.js
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
  app/client/src/widgets/ListWidgetV2/widget/propertyConfig.test.ts
  app/client/src/widgets/ListWidgetV2/widget/propertyConfig.ts
Labels: App Viewers Pod, List Widget V2

#20394 chore: decrease usage pulse trigger interval to 5 minutes
  app/client/src/usagePulse/index.ts
Labels: skip-changelog

#19997 fix: Fix replicaset check to not require ClusterMonitor role
  deploy/docker/entrypoint.sh
  deploy/docker/utils/bin/check_replica_set.js
  deploy/docker/utils/bin/utils.js
  deploy/docker/utils/package-lock.json
  deploy/docker/utils/package.json
Labels: Bug, Enhancement, Deployment, DevOps Pod

#20386 feat: Improved App Nav - Top + Inline
  app/client/src/assets/icons/settings/nav-orientation-side.svg
  app/client/src/assets/icons/settings/nav-orientation-top.svg
  app/client/src/assets/icons/settings/nav-style-inline.svg
  app/client/src/assets/icons/settings/nav-style-minimal.svg
  app/client/src/assets/icons/settings/nav-style-sidebar.svg
  app/client/src/assets/icons/settings/nav-style-stacked.svg
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/AppViewer/Navigation/TopInline.styled.tsx
  app/client/src/pages/AppViewer/Navigation/TopInline.tsx
  app/client/src/pages/AppViewer/Navigation/TopStacked.tsx
  app/client/src/pages/AppViewer/Navigation/components/ApplicationName.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/ApplicationName.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuItem.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuItemContainer.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuText.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuText.tsx
  app/client/src/pages/AppViewer/Navigation/components/MoreDropdownButton.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/MoreDropdownButton.tsx
  app/client/src/pages/AppViewer/Navigation/components/TopHeader.tsx
Labels: Enhancement, App Viewers Pod, App Navigation

#19828 feat: Server side observability
  .gitignore
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ActionSpans.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/NewActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PageLoadActionsUtilCEImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceCEImplTest.java
  utils/observability/docker-compose.yml
  utils/observability/docker/grafana/provisioning/dashboards/dashboard.yml
  utils/observability/docker/grafana/provisioning/dashboards/logs_traces_metrics.json
  utils/observability/docker/grafana/provisioning/datasources/datasource.yml
  utils/observability/docker/prometheus/prometheus.yml
  utils/observability/docker/tempo/tempo-local.yaml
Labels: Enhancement, Backend, Core Query Execution, Epic, Task, BE Coders Pod, Query performance, Data Platform Pod

#19486 chore: Remove Maps API Key env variable for client
  app/client/docker/templates/nginx-app-http.conf.template
  app/client/docker/templates/nginx-app-https.conf.template
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/public/index.html
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/actions/tenantActions.ts
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/ce/sagas/SuperUserSagas.tsx
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/ce/selectors/tenantSelectors.tsx
  app/client/src/components/propertyControls/LocationSearchControl.tsx
  app/client/src/pages/UserProfile/General.tsx
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/selectors/usersSelectors.tsx
  app/client/src/widgets/MapWidget/widget/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
  app/client/start-https.sh
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  deploy/template/nginx_app.conf.sh
Labels: skip-changelog

#20396 feat: responsive INPUT_TEXT, QUERY_DYNAMIC_TEXT controls
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/components/formControls/InputTextControl.tsx
  app/client/src/pages/Editor/ActionSettings.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation

#20294 test: Appsmith upgrade tests
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/integration/Regression_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/UpgradeAppsmith/UpgradeAppsimth_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.js
Labels: skip-changelog, Test

#20280 ci: run fat container docker inside perf tests and update setup-perf-test workflow to use localhost for accessing dev environment
  .github/workflows/perf-test.yml
  app/client/cypress/setup-test-ci.sh
  app/client/perf/setup-perf-test.sh
Labels: skip-changelog, CI

#20437 fix: minor update on APPSMITH_TRACING_ENDPOINT
  app/server/appsmith-server/src/main/resources/application.properties
Labels: Bug, Backend

#20180 fix: Refactor dataTree diff translation
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
Labels: Bug, JS Evaluation, Needs Triaging, FE Coders Pod, Test Plan Approved

#20433 fix: remove padding from state used in OIDC authorise
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomServerOAuth2AuthorizationRequestResolverCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Security.java
Labels: Bug, Critical, regression, Stale, Team Managers Pod, SSO

#20471 test: TED support for GITEA
  .github/workflows/ci-test.yml
Labels: skip-changelog, Test

#20473 test: TED support for GITEA (stop ssh revert)
  .github/workflows/ci-test.yml
Labels: skip-changelog, Test

#20476 test: TED support for GITEA (stop ssh revert)
  .github/workflows/ci-test.yml
Labels: skip-changelog, Test

#20412 chore: upgrade page changes & license route removed on CE
  app/client/src/assets/svg/be-upgrade/be-cta.svg
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/pages/Upgrade/businessEdition/UpgradeToBEPage.tsx
Labels: skip-changelog, skip-testPlan

#20446 fix: Modal widget background issues
  app/client/cypress/fixtures/modalWidgetBGcolorDSL.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Modal_background_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Others/Canvas_scrolling_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
  app/client/src/pages/AppViewer/BrandingBadgeMobile.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/utils/WidgetSizeUtils.test.ts
  app/client/src/utils/WidgetSizeUtils.ts
  app/client/src/utils/hooks/useClickToSelectWidget.tsx
  app/client/src/widgets/ModalWidget/component/index.tsx
  app/client/src/widgets/ModalWidget/widget/index.tsx
Labels: Bug, Table Widget, Modal Widget, QA, App Viewers Pod, High, Release, Needs Triaging, Release Blocker, Widget Property, All Widgets, medium, Table Widget V2, skip-testPlan

#20087 fix: Add batching strategy to segment analytics tracking so that events are sent to segment in batches instead of individual
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Bug, Performance, Needs Triaging, Task, skip-testPlan

#20483 test: Fix flaky tests
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/ForkApplication_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/Add_new_row_spec.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, Test Plan Approved, Test

#20497 test: skipping test in upgrade appsmith spec
  app/client/cypress/integration/Regression_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#20211 chore: trigger-jsVarUpdate-eval
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/JSObject/Collection.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableProxy.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableUpdates.ts
  app/client/src/workers/Evaluation/JSObject/__test__/mutation.test.ts
  app/client/src/workers/Evaluation/JSObject/checkUpdate.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/JSObject/sendUpdatedDataTree.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/evaluation.worker.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog

#19932 chore: jsVar-change-detection
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/JSObject/Collection.ts
  app/client/src/workers/Evaluation/JSObject/JSFunctionProxy.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableProxy.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableUpdates.ts
  app/client/src/workers/Evaluation/JSObject/__test__/mutation.test.ts
  app/client/src/workers/Evaluation/JSObject/checkUpdate.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/JSObject/sendUpdatedDataTree.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/evaluation.worker.ts
  app/client/src/workers/Evaluation/functionDeterminer.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, Stale

#14939 feat: Support mongodb transactions for import application flow
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MongoConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImplV2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/TransactionalConfig.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
  app/server/appsmith-server/src/test/resources/application-test.properties
  app/server/envs/dev.env.example
Labels: Bug, Enhancement, Needs Triaging, Git Version Control, Team Managers Pod, Test Plan Approved, Git Pod

#19972 feat: Feature/evaluated value window
  app/client/cypress/integration/Regression_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/Application/PgAdmin_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Autocomplete/autocomplete_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/TextTableV2_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/TextTable_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Button/Button_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Input/Inputv2_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Sliders/CategroySlider_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Sliders/NumberSlider_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV1/table_with_text_selRowIndices_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/Add_new_row_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/Edge_case_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Text/TextWidget_BgColor_TextSize_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/EvaluatedValuePopUp_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/Postgres_Spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/form/fields/DynamicTextField.tsx
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/components/propertyControls/InputTextControl.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/Pagination.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/QueryEditor.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/VariableEditor.tsx
  app/client/src/pages/Editor/APIEditor/Pagination.tsx
  app/client/src/pages/Editor/APIEditor/PostBodyData.tsx
  app/client/src/pages/Editor/Popper.tsx
Labels: Bug, Enhancement, Good First Issue, Needs Design, High, Production, FE Coders Pod, BE Coders Pod, Evaluated Value, Postgres, Test Plan Approved, Integrations Pod

#19951 fix: Table filter text loses focus when user is typing
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/CascadeFields.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/FilterPaneContent.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, community, medium, Test Plan Approved

#19864 feat: audio widget responsive styles
  app/client/src/widgets/AudioWidget/component/index.tsx
  app/client/src/widgets/AudioWidget/index.tsx
Labels: Stale

#20551 fix: proxy clone error
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableProxy.ts
  app/client/src/workers/Evaluation/evaluation.worker.ts
  app/client/src/workers/Evaluation/functionDeterminer.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: Bug, JS Objects, FE Coders Pod

#20388 fix: fork template button not visible on page refresh
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/ForkTemplateToGitConnectedApp.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/Fork_Template_To_App_spec.js
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/Templates.ts
  app/client/cypress/support/commands.js
  app/client/src/pages/Templates/ForkTemplate.tsx
  app/client/src/pages/Templates/Template/SimilarTemplates.tsx
  app/client/src/pages/Templates/Template/index.tsx
  app/client/src/pages/Templates/TemplateList.tsx
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateDetailedView.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateList.tsx
  app/client/src/pages/Templates/index.tsx
Labels: Bug, Backend, High, Release, New Developers Pod, Templates, Test Plan Approved

#20244 fix: modal autofocus fix issue #19957
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Modal/Modal_focus_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Modal/Modal_functionaliy_spec.js
  app/client/src/widgets/ModalWidget/component/index.tsx
Labels: Bug, Input Widget, Modal Widget, App Viewers Pod, Regressed, Needs Triaging, medium, Test Plan Approved, Widget keyboard accessibility

#20544 fix: JSPDF output API crash
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/JSLibrary/Library_spec.ts
  app/client/src/workers/Evaluation/SetupDOM.ts
Labels: Bug, Critical, FE Coders Pod, Test Plan Approved, Custom JS Libraries

#20367 chore: Add sentry error for API response meta check
  app/client/src/api/ApiUtils.test.ts
  app/client/src/api/ApiUtils.ts
Labels: Bug, Needs Triaging, skip-changelog

#20411 fix: Fix annoying error with text input control
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug19893_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/actions/datasourceActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Needs Triaging, BE Coders Pod, GraphQL Plugin, medium, Test Plan Approved, Integrations Pod

#20571 chore: Added AppsmithError for invalid license key entered
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
Labels: skip-changelog, Test Plan Approved

#20562 chore: update upgrade page with s3 assets, get instance id
  app/client/package.json
  app/client/src/assets/svg/be-upgrade/be-cta.svg
  app/client/src/assets/svg/be-upgrade/upgrade-to-be-text.svg
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/Upgrade/businessEdition/UpgradeToBEPage.tsx
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/ce/selectors/tenantSelectors.tsx
  app/client/src/utils/hooks/useOnUpgrade.ts
  app/client/yarn.lock
Labels: skip-testPlan

#20575 chore: Add missing imports errors for ee repo sync
  app/client/src/ce/entities/DataTree/actionTriggers.ts
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/ce/workers/Evaluation/PlatformFunctions.ts
  app/client/src/ee/entities/DataTree/actionTriggers.ts
  app/client/src/ee/workers/Evaluation/PlatformFunctions.ts
  app/client/src/sagas/ActionExecution/NavigateActionSaga.ts
Labels: skip-changelog, skip-testPlan

#20576 chore: fix imports to resolve EE conflicts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ActionExecution/NavigateTo_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/src/ce/workers/Evaluation/Actions.ts
Labels: skip-changelog, skip-testPlan

#20586 ci: fix artifact names across the ci
  .github/workflows/ci-test.yml
  .github/workflows/client-build.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/perf-test.yml
  .github/workflows/server-build.yml
  .github/workflows/test-build-docker-image.yml
  .github/workflows/upgrade-appsmith-tests.yml
Labels: skip-changelog, CI

#20577 fix: scale down image on resizing of container
  app/client/src/ce/pages/Upgrade/businessEdition/UpgradeToBEPage.tsx
Labels: Bug

#20587 chore: Adding a soft trigger for login with SSO in embedded apps as a BE feature only
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/sagas/ErrorSagas.tsx
Labels: Enhancement, Business Edition, skip-changelog, Team Managers Pod, SSO, skip-testPlan

#20588 chore: Remove usage pulse logging for Appsmith cloud
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UsagePulseServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UsagePulseServiceTest.java
Labels: skip-changelog, skip-testPlan, Usage & Billing

#20515 test: fixed flaky tests
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/Promises_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/SmartSubstitutionWidgets_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/ForkApplication_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Button/Button_onClickAction_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Form/Form_With_CheckBox_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/List/List4_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/inline_editing_validations_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test Plan Approved, Test

#20614 ci: Disable telemetry in ci-test
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#20472 test: Fix to run Upgrade cypress test only in CE
  app/client/cypress/integration/Regression_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#20546 chore: use helper method for evicting all pg user related cache
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
Labels: Task, skip-changelog, Team Managers Pod, RBAC

#20553 fix: MySQL Plugin: fix connection leak in datasource destroy
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Bug, Needs Triaging, MySQL, Test Plan Approved, Integrations Pod

#19468 feat: Snowflake connection pool
  app/server/appsmith-plugins/snowflakePlugin/pom.xml
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
  app/server/appsmith-plugins/snowflakePlugin/src/test/java/com/external/plugins/SnowflakePluginTest.java
Labels: Enhancement, Backend, snowflake, Stale, BE Coders Pod, Test Plan Approved, Integrations Pod, Connection pool

#20118 feat: Non auto height invisible widgets
  app/client/cypress/fixtures/autoHeightInvisibleWidgetsDSL.json
  app/client/cypress/fixtures/autoHeightOverlapDSL.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Invisible_Widgets_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Overlap_Test_spec.ts
  app/client/src/actions/controlActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/reducers/entityReducers/autoHeightReducers/autoHeightLayoutTreeReducer.ts
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.test.ts
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/autoHeightSagas/batcher.ts
  app/client/src/sagas/autoHeightSagas/containers.ts
  app/client/src/sagas/autoHeightSagas/helpers.test.ts
  app/client/src/sagas/autoHeightSagas/helpers.ts
  app/client/src/sagas/autoHeightSagas/index.ts
  app/client/src/sagas/autoHeightSagas/layoutTree.ts
  app/client/src/sagas/autoHeightSagas/widgets.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/WidgetRegisterHelpers.tsx
  app/client/src/utils/WidgetSizeUtils.ts
  app/client/src/utils/autoHeight/generateTree.test.ts
  app/client/src/utils/autoHeight/generateTree.ts
  app/client/src/utils/autoHeight/reflow.ts
  app/client/src/widgets/ContainerWidget/component/index.tsx
  app/client/src/widgets/ContainerWidget/index.ts
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/FormWidget/index.ts
  app/client/src/widgets/ListWidget/index.ts
  app/client/src/widgets/ModalWidget/widget/index.tsx
  app/client/src/widgets/StatboxWidget/index.ts
  app/client/src/widgets/StatboxWidget/widget/index.tsx
  app/client/src/widgets/TableWidget/index.ts
  app/client/src/widgets/TableWidgetV2/index.ts
  app/client/src/widgets/TabsWidget/index.ts
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/constants.ts
  app/client/src/widgets/withWidgetProps.tsx
Labels: Bug, Enhancement, QA, Critical, UI Builders Pod, All Widgets, Auto Height, Test Plan Approved

#20605 fix: NO_PROXY not set correctly on backend server
  deploy/docker/scripts/run-java.sh
Labels: Bug

#12174 fix: Add file system locks after the git operation
  app/client/cypress/support/gitSync.js
  app/client/src/sagas/GitSyncSagas.ts
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RedisUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/RedisTestContainerConfig.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/WorkspaceControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCEImplTest.java
Labels: Bug, High, Git Version Control, Team Managers Pod, Test Plan Approved, Git Pod

#20477 test: TED support for GITEA
  .github/workflows/ci-test.yml
Labels: skip-changelog, Test Plan Approved, Test

#18799 test: Cypress migration to TED GITEA
  app/client/cypress/fixtures/DeleteGitRepos.json
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/GitBugs_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/Connection_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitBugs_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/ForkTemplateToGitConnectedApp.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Button/Button_onClickAction_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Form/Form_With_CheckBox_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/List/List4_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/GraphQL_spec.ts
  app/client/cypress/setup-test.sh
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/gitSync.js
  contributions/ClientSetup.md
Labels: skip-changelog, Test Plan Approved, Test

#20121 fix: renamed rts port env to APPSMITH_RTS_PORT
  app/rts/src/server.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Bug, Needs Triaging, Docker, DevOps Pod

#20628 test: fix for UpgradeAppsmith test
  app/client/cypress/integration/Regression_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
Labels: skip-changelog, Test

#20306 fix: Conditionally call for profile photo api
  app/client/src/ce/constants/workspaceConstants.ts
  app/client/src/pages/common/SharedUserList.tsx
Labels: Bug, UX Improvement, Home Page, Low, Production, Team Managers Pod, skip-testPlan

#20613 fix: Set isMetaPropDirty property on widgets
  app/client/cypress/fixtures/defaultFilterText.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/defaultFilterTextValue_Spec.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
Labels: Bug, JS Evaluation, Needs Triaging, FE Coders Pod, Test Plan Approved

#20601 fix: Fetch app's current branch from redux store
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/entities/Engine/index.ts
Labels: Bug, High, FE Coders Pod, Test Plan Approved, storeValue, Framework Functions

#18757 feat: added column freeze and unfreeze functionality to table widget
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Column_Order_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Widget_Add_button_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/freeze_column_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/virtual_row_spec.js
  app/client/cypress/support/Constants.js
  app/client/cypress/support/widgetCommands.js
  app/client/package.json
  app/client/src/components/propertyControls/DraggableListCard.tsx
  app/client/src/components/propertyControls/DraggableListComponent.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControlV2.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/constants/DefaultTheme.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/icons/ControlIcons.tsx
  app/client/src/pages/Editor/PropertyPane/DraggableListControl.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/Row.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/EmptyCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/HeaderCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectionCheckboxCell.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/ActionItem.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/index.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/General.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.test.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.test.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
  app/client/yarn.lock
Labels: Enhancement, Table Widget, App Viewers Pod, medium, Test Plan Approved

#20624 fix: Remove extra event and old disable var
  .env.example
  app/client/docker/templates/nginx-app-http.conf.template
  app/client/docker/templates/nginx-app-https.conf.template
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/start-https.sh
  deploy/template/nginx_app.conf.sh
Labels: Bug

#20638 chore: Added extra analytics events for license
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
Labels: skip-changelog, Test Plan Approved

#20631 chore: export batching method for ee PR
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
Labels: skip-changelog, FE Coders Pod, skip-testPlan

#20669 ci: Remove Segment key unless on `master` branch
  .github/workflows/client-build.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#20592 chore: type check callback functions in setInterval and setTimeout before invoking.
  app/client/src/workers/Evaluation/fns/overrides/interval.ts
  app/client/src/workers/Evaluation/fns/overrides/timeout.ts
Labels: skip-changelog, skip-testPlan

#20678 chore: Remove feature flag billing and usage
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: skip-changelog

#20688 fix: Issue with filter not working with IPs
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/RequestCaptureFilter.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/WebClientUtils.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug

#19540 fix: Update app.json, Heroku deployment is broken
  app.json
Labels: Deployment, DevOps Pod

#20646 feat: Improved App Nav - Live Preview
  app/client/src/actions/appSettingsPaneActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/AppViewer/AppPage.styled.tsx
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/AppViewer/Navigation/index.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/pages/Editor/WidgetsEditor/NavigationPreview.tsx
  app/client/src/pages/Editor/WidgetsEditor/PageTabs.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/reducers/uiReducers/appSettingsPaneReducer.ts
  app/client/src/selectors/appSettingsPaneSelectors.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: Enhancement, App Viewers Pod, App Navigation

#20654 fix: modal opening issue
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
Labels: Bug, Regressed, Needs Triaging, New Developers Pod, medium, IDE Navigation, skip-testPlan

#20742 fix: mutation-issues
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableProxy.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
Labels: Bug

#20679 fix: Do not replace binding with `null` if no value found (#11688)
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/MustacheHelper.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/MustacheHelperTest.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug, High, Verified, Production, community, Needs Triaging, Core Query Execution, BE Coders Pod, Data Platform Pod, skip-testPlan

#20053 feat: peek overlay
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/PeekOverlay/PeekOverlay.spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/PeekOverlay.ts
  app/client/package.json
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/Analytics.ts
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/JsonWrapper.tsx
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/PeekOverlayPopup.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/markHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/constants/CanvasEditorConstants.tsx
  app/client/src/selectors/navigationSelectors.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/NavigationSelector/ActionChildren.ts
  app/client/src/utils/NavigationSelector/AppsmithNavData.ts
  app/client/src/utils/NavigationSelector/JsChildren.ts
  app/client/src/utils/NavigationSelector/WidgetChildren.ts
  app/client/src/utils/NavigationSelector/common.ts
  app/client/typings/react-append-to-body/index.d.ts
  app/client/yarn.lock
Labels: Enhancement, New Developers Pod, Test Plan Approved, IDE Navigation

#20639 chore: Removed comment related codes from RTS
  app/rts/.env.example
  app/rts/package.json
  app/rts/src/server.ts
  app/rts/src/sockets/index.ts
  app/rts/src/sockets/mongo.ts
  app/rts/src/utils/models.ts
  app/rts/yarn.lock
Labels: Task, skip-changelog, skip-testPlan

#20463 fix: Check for AVX instruction, and produce a warning
  deploy/docker/entrypoint.sh
Labels: Bug

#20757 docs: Add steps to enable the replica set for mongodb
  contributions/ServerSetup.md
Labels: skip-changelog

#20584 chore: fix console warnings
  app/client/src/components/propertyControls/SwitchControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTab.tsx
Labels: UI Builders Pod, skip-changelog

#20728 chore: updated analytics events for admin settings
  app/client/src/ce/pages/Upgrade/AccessControlUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Task, skip-changelog, Usage & Billing

#20749 chore: Undo the git actions queue changes
  app/client/src/sagas/GitSyncSagas.ts
Labels: skip-changelog, skip-testPlan

#20766 chore: Add missing log statements
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
Labels: skip-changelog, skip-testPlan

#20747 fix: change word truncate behavior in show more modal
  app/client/src/widgets/TextWidget/component/index.tsx
Labels: Bug, Good First Issue, App Viewers Pod, Text Widget, community, medium, skip-testPlan

#20743 chore: add cloud hosting variable global scope
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/sagas/ActionExecution/errorUtils.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/LintingSagas.ts
  app/client/src/workers/Evaluation/__tests__/evaluate.test.ts
  app/client/src/workers/Evaluation/fns/__tests__/interval.test.ts
  app/client/src/workers/Evaluation/fns/index.ts
  app/client/src/workers/Evaluation/handlers/setupEvalEnv.ts
  app/client/src/workers/Linting/lint.worker.ts
  app/client/src/workers/Linting/types.ts
  app/client/src/workers/Linting/utils.ts
Labels: skip-changelog, Test Plan Approved

#20593 fix: User gets an error even when table widget is added from the API …
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug14002_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug14037_Spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/sagas/WidgetAdditionSagas.ts
Labels: Bug, Debugger, FE Coders Pod, medium, Test Plan Approved

#20690 fix: Fix issues with main container height in edit and preview mode
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/utils/autoHeight/mutateDOM.ts
Labels: Bug, Needs Triaging, UI Builders Pod, Auto Height, Canvas / Grid, skip-testPlan

#20568 fix: allow MsSQL plugin to connect with ssl encryption
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/SSLDetails.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
Labels: Bug, Enhancement, Needs Triaging, BE Coders Pod, Test Plan Approved, MsSQL, Integrations Pod, skip-testPlan

#20759 chore: Refactor tenant email param
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-changelog

#20803 test: skipping UpgradeAppsmith_spec.js
  app/client/cypress/manual_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
Labels: skip-changelog, Test

#20617 fix: Increased Nginx limit to 150 MB to allow 100 MB Base 64 encoded files
  app/client/docker/templates/nginx-app-http.conf.template
  app/client/docker/templates/nginx-app-https.conf.template
  app/client/docker/templates/nginx-app.conf.template
  app/client/start-https.sh
  app/server/appsmith-server/src/main/resources/application.properties
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
  deploy/template/nginx_app.conf.sh
Labels: Bug, Backend, Core Query Execution, Task, Data Platform Pod

#20494 chore: refactoring workspace creation and archive methods to facilitate environment creation in EE.
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/PermissionUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: Task, skip-changelog, Test Plan Approved, Datasource Environments

#20653 feat: usage and billing ce
  app/client/src/ce/pages/AdminSettings/LeftPane.tsx
  app/client/src/ce/pages/Upgrade/AccessControlUpgradePage.tsx
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
  app/client/src/ce/utils/signupHelpers.ts
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/hooks/useOnUpgrade.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Enhancement, skip-testPlan, Usage & Billing, Billing & Usage Pod

#20667 test: Flaky test fix
  app/client/cypress/fixtures/PgAdmindsl.json
  app/client/cypress/integration/Regression_TestSuite/Application/PgAdmin_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/List/List4_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Childwigets/List_Select_Widgets_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicChildWidgetInteraction_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/AddWidget_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test

#20506 fix: Limit List widget nesting to a maximum of 3 levels
  app/client/cypress/fixtures/Listv2/MetaHydrationDSL.json
  app/client/cypress/fixtures/Listv2/copy_paste_listv2_dsl.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/ListV2_max_nested_List_widget_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Meta_Hydration_ClientSide_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Meta_Hydration_ServerSide_spec.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/sagas/WidgetBlueprintSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
  app/client/src/widgets/ListWidgetV2/index.ts
  app/client/src/widgets/ListWidgetV2/widget/helper.test.ts
  app/client/src/widgets/ListWidgetV2/widget/helper.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/constants.ts
Labels: Bug, App Viewers Pod, List Widget V2, skip-testPlan

#20486 fix: Error log on a widget property not clearing out when the widget property is deleted
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Widget_Error_spec.ts
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/cypress/support/Pages/TableV2.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DependencyMap/index.ts
Labels: Bug, JS Evaluation, App Viewers Pod, Debugger, FE Coders Pod, JSON Form, medium, needs estimate, Test Plan Approved

#19979 feat: responsive styles for slider widgets.
  app/client/src/utils/layoutPropertiesUtils.ts
  app/client/src/widgets/CategorySliderWidget/index.ts
  app/client/src/widgets/CategorySliderWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/CategorySliderWidget/widget/propertyConfig/styleConfig.ts
  app/client/src/widgets/NumberSliderWidget/index.ts
  app/client/src/widgets/NumberSliderWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/NumberSliderWidget/widget/propertyConfig/styleConfig.ts
  app/client/src/widgets/RangeSliderWidget/index.ts
  app/client/src/widgets/RangeSliderWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/RangeSliderWidget/widget/propertyConfig/styleConfig.ts
Labels: potential-duplicate, Task, Stale, Mobile Pod, Responsive Widget

#19921 feat: responsive styles for rating widget
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/RateWidget/component/index.tsx
  app/client/src/widgets/RateWidget/index.ts
  app/client/src/widgets/RateWidget/widget/index.tsx
Labels: Stale

#20619 fix: 11847 configuring UTF-8 encoding as default to SMTP plugin
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com/external/plugins/SmtpPlugin.java
  app/server/appsmith-plugins/smtpPlugin/src/test/java/com/external/plugins/SmtpPluginTest.java
Labels: Bug, Backend, High, community, BE Coders Pod, SMTP plugin, Test Plan Approved

#20620 fix: 14544 Ignore comments before parsing a query with IS operator in MySQL
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Bug, Good First Issue, Core Query Execution, BE Coders Pod, Prepared statements, medium, needs estimate, Test Plan Approved, Data Platform Pod

#20665 feat: responsive pagination control
  app/client/src/components/formControls/PaginationControl.tsx
Labels: Enhancement, potential-duplicate, Task, New Developers Pod, IDE Navigation, skip-testPlan

#19999 feat: Responsive Checkbox & Switch Widgets
  app/client/src/utils/layoutPropertiesUtils.ts
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/src/widgets/CheckboxWidget/index.ts
  app/client/src/widgets/CheckboxWidget/widget/index.tsx
  app/client/src/widgets/SwitchWidget/component/index.tsx
  app/client/src/widgets/SwitchWidget/index.ts
  app/client/src/widgets/SwitchWidget/widget/index.tsx
Labels: Stale

#19985 Feat: Responsive select widgets
  app/client/src/widgets/MultiSelectTreeWidget/index.ts
  app/client/src/widgets/MultiSelectTreeWidget/widget/index.tsx
  app/client/src/widgets/MultiSelectWidgetV2/index.ts
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/index.ts
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/SingleSelectTreeWidget/index.ts
  app/client/src/widgets/SingleSelectTreeWidget/widget/index.tsx
Labels: Stale

#20202 feat: URL Navigation for Widgets
  app/client/cypress/fixtures/ContextSwitching.json
  app/client/cypress/integration/Regression_TestSuite/Application/PgAdmin_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_API_Pane_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/JSEditorContextMenu_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Canvas_Context_Selected_Widgets_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Widget_Error_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/List/List4_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter2_Spec.ts
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/commands.js
  app/client/package.json
  app/client/src/RouteBuilder.ts
  app/client/src/actions/focusHistoryActions.ts
  app/client/src/actions/widgetSelectionActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/ContextSwitchingSaga.ts
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/constants/routes/appRoutes.ts
  app/client/src/ee/sagas/NavigationSagas.ts
  app/client/src/navigation/FocusEntity.test.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/pages/Editor/EntityNotFoundPane.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/useNavigateToWidget.ts
  app/client/src/pages/Editor/Explorer/Widgets/utils.ts
  app/client/src/pages/Editor/FormConfig.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/MainContainer.test.tsx
  app/client/src/pages/Editor/MainContainer.tsx
  app/client/src/pages/Editor/routes.tsx
  app/client/src/pages/common/CanvasArenas/CanvasSelectionArena.test.tsx
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/reducers/uiReducers/editorContextReducer.ts
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/sagas/SnipingModeSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetSelectUtils.test.ts
  app/client/src/sagas/WidgetSelectUtils.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/sagas/editorContextSagas.ts
  app/client/src/sagas/selectors.tsx
  app/client/src/selectors/navigationSelectors.ts
  app/client/src/utils/hooks/useWidgetSelection.ts
  app/client/test/sagas.ts
  app/client/test/testUtils.tsx
  app/client/yarn.lock
Labels: Enhancement, Task, New Developers Pod, Test Plan Approved, IDE Navigation

#20846 test: Script updates for flaky tests
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/SmartSubstitutionWidgets_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Chart/Custom_Chart_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Checkbox/CheckboxGroup_withQuery_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/List/List4_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/MemberRoles_Spec.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/gitSync.js
Labels: skip-changelog, Test Plan Approved, Test

#20645 chore: remove unnecessary skeleton component
  app/client/cypress/support/WorkspaceCommands.js
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/Home/LeftPaneBottomSection.tsx
  app/client/src/pages/Applications/ProductUpdatesModal/index.tsx
Labels: Home Page, skip-changelog, skip-testPlan

#20802 ci: Download oldstack from private repo instead of S3 in ci-test.yml
  .github/workflows/ci-test.yml
  app/client/cypress/integration/Regression_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
Labels: skip-changelog, CI

#20863 ci: Specifying the branch name to pull from ci-oldstack in ci-test.yml
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#20686 fix: Table breaks on adding binding to column name
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_misc.js
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, Critical, Test Plan Approved, Table Widget V2, Sentry

#20859 test: Un skipping the UpgardeAppsmith_spec.js
  app/client/cypress/integration/Regression_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
Labels: skip-changelog, Test

#20905 chore: improve ListV2 cypress scripts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/ListV2_PageNo_PageSize_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicChildWidgetInteraction_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Meta_Hydration_ClientSide_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Meta_Hydration_ServerSide_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog

#20888 test:flaky test fix
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Button/Button_tooltip_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/Date_column_editing_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#20915 fix: Updating profile image API url for members page and invite modal
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
Labels: Bug, Low, Team Managers Pod, RBAC, skip-testPlan

#20780 fix: update mongo cmd in evalMongo to use mongosh
  deploy/docker/utils/bin/mongo_shell_utils.js
Labels: Bug

#20848 ci: Add APPSMITH_ENVFILE_PATH to server workflow
  .github/workflows/server-build.yml
Labels: skip-changelog, CI

#20501 feat: migrate default workspace to default domain
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/PermissionGroup.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration003PermissionGroupDefaultWorkspaceIdMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/PermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserAndAccessManagementServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: Enhancement, Task, Team Managers Pod, Test Plan Approved, RBAC

#20805 fix: Remove scrollbars in edit mode
  app/client/src/widgets/ContainerWidget/component/index.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/TabsWidget/component/index.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
Labels: Bug, Needs Triaging, UI Builders Pod, Canvas / Grid, skip-testPlan

#20689 test: Workflow update to remove duplication of github comments for failing specs
  .github/workflows/integration-tests-command.yml
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ThemingTests/Basic_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Button/Button_tooltip_spec.js
Labels: skip-changelog, Test, skip-testPlan

#20941 Update --bug-report.yaml
  .github/ISSUE_TEMPLATE/--bug-report.yaml
Labels: skip-docs, skip-testPlan

#20939 chore: improve list widget test
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicChildWidgetInteraction_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicServerSideData_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Meta_Hydration_ClientSide_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Meta_Hydration_ServerSide_spec.js
Labels: skip-changelog, Test Plan Approved

#20942 chore: template changes
  .github/ISSUE_TEMPLATE/--bug-report.yaml
Labels: skip-changelog, skip-docs, skip-testPlan
