Repository appsmithorg/appsmith, pull requests merged in 2023-12, with the labels that each got.

#29239 chore: Remove unused methods
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/LayoutRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/LayoutRepositoryCE.java
Labels: skip-changelog

#29225 fix: fix overlay echarts iframe
  app/client/src/widgets/ChartWidget/component/CustomEChartIFrameComponent.tsx
  app/client/src/widgets/ChartWidget/component/index.test.tsx
  app/client/src/widgets/ChartWidget/component/index.tsx
Labels: Bug, Chart Widget, App Viewers Pod, High, Test Plan Approved

#29245 feat: add intercept for license flags
  app/client/cypress/support/Constants.js
  app/client/cypress/support/Objects/FeatureFlags.ts
Labels: Enhancement

#29256 chore: Install Caddy ahead of PR to enable Caddy support
  deploy/docker/base.dockerfile
Labels: skip-changelog

#29241 fix: WDS Input widget bugs
  app/client/packages/design-system/headless/src/components/Field/src/Field.tsx
  app/client/packages/design-system/widgets/src/styles/src/field.module.css
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
Labels: Bug, UI Improvement, Needs Triaging, Deploy Preview, Widget design system, WDS team

#29228 feat: onboarding start with data cancel cta
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
Labels: Enhancement, Task, Test Plan Approved, Integrations Pod, Activation - datasources

#29238 fix: visual images on onboarding create ne app flow & profiling questions
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/pages/setup/NonSuperUserWelcome.tsx
Labels: Bug, Needs Triaging, Deploy Preview, Test Plan Approved, Integrations Pod General

#29174 fix: Rename JS Object failing in git child branch
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DefaultResources.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: Bug, High, Production, Needs Triaging, Core Query Execution, Git Version Control, BE Coders Pod, Data Platform Pod, Git Pod

#28944 ci: Modifying the CI workflows for ok-to-test to leverage Cypress tags
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, Stale, CI, skip-testPlan

#29279 ci: Removing set-output in CI workflows as it's a deprecated command.
  .github/workflows/add-label.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test-with-documentdb.yml
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#29266 fix: added fetch env config to imitate the ee repo functionality
  app/client/src/ce/actions/environmentAction.ts
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Release, Needs Triaging, BE Coders Pod, Test Plan Approved, Integrations Pod, Activation - datasources

#29230 chore: CE change to log lint error in moduleEditor
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/plugins/Linting/utils/getEntityUniqueIdForLogs.ts
  app/client/src/ce/plugins/Linting/utils/isLintErrorLoggingEnabledForEntity.ts
  app/client/src/ee/plugins/Linting/utils/getEntityUniqueIdForLogs.ts
  app/client/src/ee/plugins/Linting/utils/isLintErrorLoggingEnabledForEntity.ts
  app/client/src/sagas/PostLintingSagas.ts
Labels: skip-changelog, skip-testPlan

#28081 feat: Caddy
  Dockerfile
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/init_ssl_cert.sh
  deploy/docker/fs/opt/appsmith/prepare-image.mjs
  deploy/docker/fs/opt/appsmith/renew-certificate.sh
  deploy/docker/fs/opt/appsmith/run-caddy.sh
  deploy/docker/fs/opt/appsmith/run-nginx.sh
  deploy/docker/fs/opt/appsmith/run-starting-page-init.sh
  deploy/docker/fs/opt/appsmith/starting-page-init.py
  deploy/docker/fs/opt/appsmith/templates/appsmith_initializing.html
  deploy/docker/fs/opt/appsmith/templates/loading.html
  deploy/docker/fs/opt/appsmith/templates/nginx-app.conf.sh
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/editor.conf
Labels: Enhancement

#29287 chore: capturing more telemetry data as per fe coder's requirements(#29153)
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/UITelemetry/generateWebWorkerTraces.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSLibrarySaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/WorkerUtil.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/types.ts
Labels: Performance Pod, skip-changelog, Performance infra, Performance

#29276 test: Cypress | Promises_1_spec.ts TED URL replace for flaky fix
  app/client/cypress/e2e/Regression/ClientSide/Binding/Promises_1_Spec.ts
  app/client/cypress/fixtures/TestDataSet1.json
  app/client/cypress/support/Objects/DataManager.ts
Labels: skip-changelog, Test

#29277 fix: File lock issue with git status and fetch
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Bug, Release, Regressed, Needs Triaging, Git Version Control, Release Blocker, Git Pod

#29285 fix: update start with data event & removed temp feature flag for its dev
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
Labels: Bug, Task, Test Plan Approved, Integrations Pod, Activation - datasources

#29267 test: Cypress - Icon Button spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/IconButton_2_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#29301 fix: Whitelist `.MD` and `.github` extensions when checking empty repository
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
Labels: Bug, High, Verified, Needs Triaging, Git Version Control, Team Managers Pod

#29281 ci: Updating actions/checkout to v4 and defaulting to fetch-depth 1 instead of 0
  .github/workflows/CypressAddKnownfailedtests.yml
  .github/workflows/ad-hoc-deploy-preview.yml
  .github/workflows/appsmithctl.yml
  .github/workflows/build-chromatic.yml
  .github/workflows/build-client-server.yml
  .github/workflows/build-docker-image.yml
  .github/workflows/build-storybook.yml
  .github/workflows/ci-debugging.yml
  .github/workflows/ci-sanity.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test-with-documentdb.yml
  .github/workflows/ci-test.yml
  .github/workflows/cleanup-dp.yml
  .github/workflows/client-build.yml
  .github/workflows/client-lint.yml
  .github/workflows/client-prettier.yml
  .github/workflows/client-unit-tests.yml
  .github/workflows/docker-base-image.yml
  .github/workflows/github-release.yml
  .github/workflows/helm-release.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/packer-ami-build.yml
  .github/workflows/perf-test-on-documentdb.yml
  .github/workflows/perf-test-v2.yml
  .github/workflows/perf-test.yml
  .github/workflows/quality-checks.yml
  .github/workflows/rts-build.yml
  .github/workflows/server-build.yml
  .github/workflows/server-spotless.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#29296 chore: Delete old repos
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ActionRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomActionRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomActionRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomPageRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomPageRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/PageRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/ActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/PageRepositoryCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/SeedMongoData.java
Labels: skip-changelog

#29315 fix: Fixing client-build yaml file for yaml syntax error
  .github/workflows/client-build.yml
Labels: Bug

#29331 ci: Fix version calculation in workflows
  .github/workflows/client-build.yml
  .github/workflows/rts-build.yml
  .github/workflows/server-build.yml
Labels: skip-changelog, CI

#29333 ci: Remove RTS' computation of snapshot version
  .github/workflows/rts-build.yml
Labels: skip-changelog, CI

#29344 chore: Allow datasource to be null in client payloads
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
Labels: skip-changelog

#29318 chore: Set client's version in index.html at runtime
  app/client/src/ce/configs/index.ts
  deploy/docker/fs/opt/appsmith/run-caddy.sh
Labels: skip-changelog

#29319 fix: git azure url special char support
  app/client/src/pages/Editor/gitSync/utils.test.ts
  app/client/src/pages/Editor/gitSync/utils.ts
Labels: Bug, High, Community Reported, Needs Triaging, Git Version Control, skip-testPlan, Git Pod

#29316 fix: calculate fluid tokens based on provider width
  app/client/packages/design-system/theming/package.json
  app/client/packages/design-system/theming/src/hooks/index.ts
  app/client/packages/design-system/theming/src/hooks/src/calculateScales.ts
  app/client/packages/design-system/theming/src/hooks/src/index.ts
  app/client/packages/design-system/theming/src/hooks/src/types.ts
  app/client/packages/design-system/theming/src/hooks/src/useCssTokens.tsx
  app/client/packages/design-system/theming/src/hooks/src/useFluidSizing.tsx
  app/client/packages/design-system/theming/src/hooks/src/useFluidSpacing.tsx
  app/client/packages/design-system/theming/src/hooks/src/useFluidTypography.tsx
  app/client/packages/design-system/theming/src/hooks/src/useTheme.tsx
  app/client/packages/design-system/theming/src/index.ts
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/design-system/theming/src/theme/src/index.ts
  app/client/packages/design-system/theming/src/theme/src/types.ts
  app/client/packages/design-system/theming/src/token/src/TokensAccessor.ts
  app/client/packages/design-system/theming/src/token/src/fluid/calculateFluidScales.ts
  app/client/packages/design-system/theming/src/token/src/fluid/getFluidSpacing.ts
  app/client/packages/design-system/theming/src/token/src/fluid/getFluidTypography.ts
  app/client/packages/design-system/theming/src/token/src/fluid/index.ts
  app/client/packages/design-system/theming/src/token/src/fluid/useFluidTokens.ts
  app/client/packages/design-system/theming/src/token/src/index.ts
  app/client/packages/design-system/theming/src/token/src/styles.module.css
  app/client/packages/design-system/theming/src/token/src/types.ts
  app/client/packages/design-system/theming/src/typography/src/index.ts
  app/client/packages/design-system/theming/src/typography/src/types.ts
  app/client/packages/design-system/theming/src/typography/src/typography.ts
  app/client/packages/design-system/theming/src/utils/getTypographyClassName.ts
  app/client/packages/design-system/theming/src/utils/globalFontStack.ts
  app/client/packages/design-system/theming/src/utils/index.ts
  app/client/packages/design-system/theming/src/utils/tokensToCss.ts
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
  app/client/yarn.lock
Labels: Bug, Widget design system, WDS team

#29320 ci: Run server/client tests parallel to cypress in TestBuildPush
  .github/workflows/client-build.yml
  .github/workflows/client-unit-tests.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#29371 ci: Adding fetch-depth 0 to chromatic Github workflow
  .github/workflows/build-chromatic.yml
  .github/workflows/build-storybook.yml
Labels: skip-changelog, CI

#29313 chore: small changes in types for module instance evaluation on ee
  app/client/src/ce/constants/ModuleInstanceConstants.ts
  app/client/src/ce/entities/DataTree/dataTreeJSAction.ts
  app/client/src/ce/entities/DataTree/types.ts
Labels: skip-changelog

#29004 feat: API to get applications and workspaces for homepage in recently used order
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/WorkspaceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/RecentlyUsedEntityDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/RecentlyUsedEntityCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/DomainSorter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration036AddRecentlyUsedEntitiesForUserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserWorkspaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/ApplicationServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/DomainSorterTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Enhancement, Backend, skip-testPlan, Billing & Usage Pod, Homepage Experience V2

#29265 fix: start with data UI issues fixed
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug, Needs Triaging, Deploy Preview, BE Coders Pod, Test Plan Approved, Integrations Pod, Activation - datasources

#29372 chore: Split related to custom js libs for module instances
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/jslibs/ApplicationJsLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/CustomJSLibControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationDetail.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ApplicationDetailCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/CustomJSLibContextCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/context/ContextBasedJsLibServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomJSLibRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomJSLibRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
Labels: skip-changelog

#29391 chore: add story for elevation
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/widgets/src/testing/Elevation.stories.mdx
  app/client/packages/design-system/widgets/src/testing/Elevation.tsx
Labels: skip-changelog

#29185 Remove canvas
  app/client/package.json
  app/client/src/layoutSystems/anvil/integrations/actions/actionTypes.ts
  app/client/src/layoutSystems/anvil/integrations/actions/saveLayoutActions.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/AnvilDraggingSagas.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/UpdateLayoutSagas.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/index.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/sections/AnvilSectionOperationSagas.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/sections/utils.ts
  app/client/src/layoutSystems/anvil/layoutComponents/components/AlignedLayoutColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/AlignedWidgetColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/AlignedWidgetRow.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/FlexLayout.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/LayoutColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/LayoutRow.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/WidgetColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/WidgetRow.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/Zone.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/styles.css
  app/client/src/layoutSystems/anvil/layoutComponents/presets/sectionPreset.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/presets/zonePreset.tsx
  app/client/src/layoutSystems/anvil/utils/anvilTypes.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/sectionUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/zoneUtils.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/widgets/anvil/SectionWidget/widget/config/defaultConfig.ts
  app/client/src/widgets/anvil/SectionWidget/widget/index.tsx
  app/client/src/widgets/anvil/ZoneWidget/widget/config/defaultConfig.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSButtonGroupWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSButtonGroupWidget/config/index.ts
  app/client/src/widgets/wds/WDSButtonGroupWidget/widget/index.tsx
  app/client/yarn.lock
Labels: skip-changelog, skip-testPlan, skip-documentation

#29392 fix: current workspace getting set incorrectly issue fixed
  app/client/src/ce/sagas/ApplicationSagas.tsx
Labels: Bug, Datasources, Release, Needs Triaging, Release Blocker, BE Coders Pod, Test Plan Approved, Data Platform Pod, Integrations Pod, Datasource Environments, Integrations Pod General

#29393 fix: default values for fields in rest api ds form
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
Labels: Bug, Datasources, Release, Regressed, Needs Triaging, Release Blocker, OAuth, Test Plan Approved, Data Platform Pod, Integrations Pod

#29397 chore: update responsiveness in view mode
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/widgets/src/testing/Elevation.stories.mdx
  app/client/packages/design-system/widgets/src/testing/Elevation.tsx
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/integrations/selectors.ts
  app/client/src/layoutSystems/anvil/layoutComponents/components/zone/ZoneColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/zone/index.tsx
  app/client/src/layoutSystems/anvil/utils/layouts/layoutUtils.ts
  app/client/src/layoutSystems/anvil/utils/widgetUtils.ts
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/jslibs/ApplicationJsLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/CustomJSLibControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/WorkspaceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationDetail.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ApplicationDetailCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/RecentlyUsedEntityDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/CustomJSLibContextCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/RecentlyUsedEntityCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/DomainSorter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/context/ContextBasedJsLibServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration036AddRecentlyUsedEntitiesForUserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomJSLibRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomJSLibRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserWorkspaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/ApplicationServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/DomainSorterTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, skip-testPlan, skip-documentation

#29357 chore: Action execution changes for modules
  app/client/src/actions/jsPaneActions.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/utils/actionExecutionUtils.ts
  app/client/src/ee/utils/actionExecutionUtils.ts
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
Labels: skip-changelog, skip-docs, skip-testPlan

#29404 test: Cypress | Fix Oracle_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
Labels: skip-changelog, Test

#29273 chore: Adding a tooltip conditionally on submenu options for query creation
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
Labels: Frontend, Task, skip-changelog, Modules pod

#29110 chore: refactor js object crud for modules/workflows
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ActionCollectionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ActionCollectionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/helpers/NewActionHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/helpers/NewActionHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
Labels: skip-changelog, skip-testPlan, Modules pod

#29235 fix: section titles according to new ads on datasource list page
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
Labels: Bug, Needs Triaging, BE Coders Pod, Test Plan Approved, Integrations Pod, Integrations Pod General, Activation - datasources

#29418 chore: Adding an auto generated datasource while creating js action
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
Labels: skip-changelog

#29422 chore: Remove extra unneeded sleep in auto heal script
  deploy/docker/fs/opt/appsmith/auto_heal.sh
Labels: skip-changelog

#29402 fix: Existing git connected app shows migration changes related to queries
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
Labels: Bug, Git Version Control, Release Blocker, Test Plan Approved, Git Pod

#29297 fix: JS library not found in view mode after importing from Git
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Bug, Git Version Control, skip-testPlan, Git Pod

#29259 test: Cypress - Added cypress grep library
  .github/workflows/ci-test-limited.yml
  app/client/cypress-add-tags.js
  app/client/cypress.config.ts
  app/client/cypress/e2e/GSheet/WidgetBinding_AllAccess_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Merge_spec.js
  app/client/cypress/plugins/index.js
  app/client/cypress/support/e2e.js
  app/client/cypress/tags.js
  app/client/cypress_ci.config.ts
  app/client/cypress_ci_custom.config.ts
  app/client/cypress_ci_hosted.config.ts
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test Plan Approved, Test

#29429 chore: Improve log formatting for verbose logs
  app/server/appsmith-server/src/main/java/com/appsmith/server/performancelogging/PerformanceLoggingHandler.java
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/backend.conf
Labels: Performance Pod, Task, skip-changelog, Test Plan Approved, Performance infra

#29447 fix: add fg and bg colors for inheritance in child components
  app/client/packages/design-system/theming/src/hooks/src/useCssTokens.tsx
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/storybook/.storybook/decorators/theming.tsx
Labels: Bug

#29411 fix: added query module instance to one click
  app/client/src/ce/constants/ModuleInstanceConstants.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useConnectToOptions.tsx
  app/client/src/components/propertyControls/ActionSelectorControl.tsx
Labels: Bug

#29427 test: Fixing Gsheet Tests
  app/client/cypress/e2e/GSheet/Misc_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test

#29424 fix: s3 endpoint url field while importing json
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/form.json
Labels: Bug, Critical, Release, Needs Triaging, Import-Export-App, S3, BE Coders Pod, Test Plan Approved, Integrations Pod, Git Pod

#29451 ci: Adding a listener for failed Junit tests using TestWatcher
  .github/workflows/codesee-arch-diagram.yml
  .github/workflows/server-build.yml
  app/server/appsmith-server/src/test/java/com/appsmith/server/TestResultLoggerExtension.java
  app/server/appsmith-server/src/test/resources/META-INF/services/org.junit.jupiter.api.extension.Extension
  app/server/appsmith-server/src/test/resources/junit-platform.properties
Labels: skip-changelog, CI

#29455 chore: Add `viewMode` param to `generateActionViewDTO` method
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
Labels: skip-changelog

#29356 feat: added add button for queries and js sections
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/constants/routes/appRoutes.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/navigation/FocusSelectors.ts
  app/client/src/navigation/FocusSetters.ts
  app/client/src/pages/Editor/IDE/PagesPane/AddQuery.tsx
  app/client/src/pages/Editor/IDE/PagesPane/JS_Section.tsx
  app/client/src/pages/Editor/IDE/PagesPane/ListQuery.tsx
  app/client/src/pages/Editor/IDE/PagesPane/QueriesSection.tsx
  app/client/src/pages/Editor/IDE/PagesPane/Queries_Section.tsx
  app/client/src/pages/Editor/IDE/PagesPane/index.tsx
  app/client/src/pages/Editor/SaaSEditor/constants.ts
Labels: Enhancement, New Developers Pod, IDE Navigation

#29472 chore: Fix auto heal script crash if curl times out
  deploy/docker/fs/opt/appsmith/auto_heal.sh
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Performance Pod, skip-changelog, Test Plan Approved, Performance infra

#29432 fix: change text copy for gen ssh key
  app/client/src/ce/constants/messages.ts
Labels: Bug, Git Version Control, Task, skip-testPlan, Git Pod

#29151 fix: reset widget to default value after setter method
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug27119_Spec.ts
  app/client/src/actions/metaActions.ts
  app/client/src/ce/actions/evaluationActionsList.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/reducers/entityReducers/metaReducer/index.ts
  app/client/src/reducers/entityReducers/metaReducer/metaReducerUtils.ts
  app/client/src/sagas/ActionExecution/ResetWidgetActionSaga.ts
  app/client/src/sagas/BatchSagas.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/__tests__/Actions.test.ts
  app/client/src/workers/Evaluation/fns/resetWidget.ts
  app/client/src/workers/Evaluation/fns/utils/Promisify.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/validationUtils.ts
Labels: Bug, High, Production, FE Coders Pod, Framework Functions, Widget setter method

#29442 chore: Refactoring header actions on datasource page to support reusable queries on EE
  app/client/src/ce/hooks/datasourceEditorHooks.tsx
  app/client/src/ce/hooks/index.ts
  app/client/src/ce/reducers/uiReducers/editorReducer.tsx
  app/client/src/constants/routes/appRoutes.ts
  app/client/src/ee/hooks/datasourceEditorHooks.tsx
  app/client/src/ee/hooks/index.ts
  app/client/src/pages/Editor/DataSourceEditor/DSFormHeader.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
Labels: Frontend, Task, skip-changelog, Modules pod

#29312 chore: Remove back button
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/JS_AC1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Property_Pane_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Property_Pane_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Selected_Widgets_spec.js
  app/client/cypress/locators/PgAdminlocators.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/EditorNavigation.ts
  app/client/cypress/support/Pages/PageList.ts
  app/client/src/pages/Editor/APIEditor/CurlImportEditor.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/JSEditor/index.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
Labels: IDE, skip-changelog, New Developers Pod, IDE Navigation

#29488 fix: getAllTokens initialization fix
  app/client/packages/design-system/theming/src/hooks/src/useTheme.tsx
Labels: Bug

#29474 chore: rts workflow APIs code split
  app/client/packages/rts/.eslintrc.json
  app/client/packages/rts/build.js
  app/client/packages/rts/build.sh
  app/client/packages/rts/tsconfig.json
Labels: skip-changelog

#29475 chore: refactor jsobject response & settings
  app/client/src/actions/jsPaneActions.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/index.tsx
  app/client/src/pages/Editor/JSEditor/styledComponents.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/editorSelectors.tsx
Labels: skip-changelog

#29354 chore: serialising moment updates #27963
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_SerververSide_spec.js
  app/client/src/workers/Evaluation/__tests__/generateOpimisedUpdates.test.ts
  app/client/src/workers/Evaluation/helpers.ts
Labels: JS Evaluation, skip-changelog, FE Coders Pod, Sentry, Performance

#29480 feat: release start with data solution
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
Labels: Enhancement, Task, Integrations Pod, Activation - datasources

#29387 chore: Add tag group component
  app/client/package.json
  app/client/packages/design-system/headless/package.json
  app/client/packages/design-system/headless/src/components/Field/HelpText.tsx
  app/client/packages/design-system/headless/src/components/Field/src/Field.tsx
  app/client/packages/design-system/headless/src/components/Field/src/HelpText.tsx
  app/client/packages/design-system/headless/src/components/Switch/Switch.tsx
  app/client/packages/design-system/headless/src/components/TextArea/src/TextArea.tsx
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/TagGroup/index.ts
  app/client/packages/design-system/widgets/src/components/TagGroup/src/Tag.tsx
  app/client/packages/design-system/widgets/src/components/TagGroup/src/TagGroup.tsx
  app/client/packages/design-system/widgets/src/components/TagGroup/src/index.ts
  app/client/packages/design-system/widgets/src/components/TagGroup/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/TagGroup/stories/TagGroup.stories.mdx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/src/pages/workspace/CreateWorkspaceForm.tsx
  app/client/yarn.lock
Labels: skip-changelog, Widget design system, WDS team

#29489 chore: CE changes for JSModule execution
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog

#29405 test: Cypress | Replace static with Dynamic waits - Part 1
  app/client/cypress/e2e/Regression/Apps/CurrencyInputIssue_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Widget_API_Pagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/JSLibrary/Library_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/List/ListWidgetParseError.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/RTL_support.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/Radio2_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Objects/ReusableHelper.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/AssertHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test

#29508 fix: Fix version name's `v` prefix in info.json
  scripts/generate_info_json.sh
Labels: Bug, IDE, Community Reported, Needs Triaging, New Developers Pod, Medium

#29509 chore: Cherry pick https://github.com/appsmithorg/appsmith/pull/29508
  scripts/generate_info_json.sh
Labels: skip-changelog

#29252 fix: update template item to show loading indicator on selected template only
  app/client/src/actions/templateActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/Templates/StartWithTemplates.tsx
  app/client/src/pages/Templates/Template/index.tsx
  app/client/src/reducers/uiReducers/templateReducer.ts
  app/client/src/selectors/templatesSelectors.tsx
Labels: Bug, Templates pod, Test Plan Approved, Templates

#29469 ci: Allow rerun of only failed tests in Junit
  .github/workflows/server-build.yml
Labels: skip-changelog, CI

#29520 chore: Add code split for query criteria (#29517)
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: skip-changelog

#29521 fix: frame-ancestors env variable being overridden
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Bug

#29441 feat: ui for autocommit
  app/client/cypress/e2e/Regression/Apps/CurrencyInputIssue_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Widget_API_Pagination_spec.js
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/pages/Editor/gitSync/DisableAutocommitModal.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/AutocommitStatusbar.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/DangerZone.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitDisconnect.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/index.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Enhancement, Git Version Control, Task, Git Pod

#29510 chore: Split related changes for export mi
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/exports/ActionCollectionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ApplicationJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/exports/CustomJSLibExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/exports/NewActionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: skip-changelog

#29164 fix: Community templates UX issue
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/CommunityTemplateForm.tsx
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/components/ApplicationSettings.tsx
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/components/TemplateInfoForm.tsx
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationTemplateServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceUnitTest.java
Labels: Bug, Templates pod, Test Plan Approved, Community template

#28653 chore: remove FF4J
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/FeatureFlagConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/strategies/AppsmithUserStrategy.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/strategies/EmailBasedRolloutStrategy.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/FeatureFlagServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/features/init-flags.xml
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/FeatureFlaggedMethodInvokerAspectTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/featureflags/strategies/EmailBasedRolloutStrategyTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/MockCacheableFeatureFlagHelper.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
  app/server/appsmith-server/src/test/resources/features/init-flags-test.xml
Labels: skip-changelog, Stale, Billing & Usage Pod, Feature Flagging

#29514 test: Cypress | Flaky fix | Replace static waits - GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
Labels: skip-changelog, Test

#29439 feat: Added auto commit feature
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/converters/GsonCollectionAdapter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/AutoCommitConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitApplicationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/AutoCommitProgressDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/events/AutoCommitEvent.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/DSLMigrationUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RedisUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitAutoCommitHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/GitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/AutoCommitEventHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/AutoCommitEventHandlerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AutoCommitEventHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/GitAutoCommitHelperImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/AutoCommitEventHandlerImplTest.java
Labels: Enhancement, Git Version Control, Git Pod

#29529 ci: Fix for the junit run-result cache saving issue
  .github/workflows/server-build.yml
Labels: skip-changelog, CI

#29526 chore: refactor service methods for further extensions
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
Labels: skip-changelog, Workflows

#29552 chore: sentry issue fix #29551
  app/client/src/utils/WorkerUtil.ts
Labels: Performance Pod, skip-changelog, Performance infra

#29553 chore: added new selector for all js collections to be extended on ee
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
Labels: skip-changelog

#29460 fix: sorting schema options alphabetically
  app/client/cypress/e2e/Regression/ClientSide/BugTests/SortedSchema_Spec.ts
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
Labels: Bug, MySQL, Task, Google Sheets, Mongo, BE Coders Pod, Postgres, Integrations Pod

#29487 fix: modified form.json for solving the issue
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/form.json
Labels: Bug, Datasources, Critical, Release, Needs Triaging, Import-Export-App, BE Coders Pod, Data Platform Pod, Git Pod, AI, Appsmith Labs

#29541 fix: ordered gsheet spreadsheets and sheets by name
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/FileInfoMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/FileListMethod.java
Labels: Bug, Task, Google Sheets, Integrations Pod

#29495 chore: Remove unused methods using deprecated `Policy.users` field
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/connections/OAuth2AuthorizationCode.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/connections/OAuth2ClientCredentials.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/RestAPIActivateUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PolicySolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PolicySolutionCEImpl.java
Labels: skip-changelog

#29550 chore: Auto-fix invalid custom domain
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog

#29327 fix: Provide accurate instance stats for active user count
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/User.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration037MarkAnonymousUserAsSystemGenerated.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/UserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
Labels: Bug, skip-testPlan

#29547 chore: Remove ff4j dependency from pom.xml
  app/server/appsmith-server/pom.xml
Labels: skip-changelog, skip-testPlan

#29555 chore: refactor create jsobject under modules
  app/client/src/ce/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/ce/entities/DataTree/dataTreeJSAction.ts
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/ce/pages/Editor/Explorer/helpers.tsx
  app/client/src/ce/reducers/entityReducers/index.ts
  app/client/src/ce/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/uiReducers/editorContextReducer.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/utils/FilterInternalProperties/getEntityPeekData.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.test.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/GlobalSearch/useRecentEntities.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/ee/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/pages/Editor/Explorer/Entity/EntityProperties.tsx
  app/client/src/pages/Editor/Explorer/JSActions/helpers.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/utils/AppsmithUtils.tsx
  app/client/src/utils/FilterInternalProperties/JsAction.ts
  app/client/src/utils/FilterInternalProperties/__tests__/index.test.ts
  app/client/src/utils/FilterInternalProperties/index.ts
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/utils/NavigationSelector/JsChildren.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
Labels: skip-changelog

#29557 test: Cypress | Replace static with Dynamic waits - Part II
  app/client/cypress/e2e/Regression/Apps/CommunityIssues_Spec.ts
  app/client/cypress/e2e/Regression/Apps/EchoApiCMS_spec.js
  app/client/cypress/e2e/Regression/Apps/ImportExportForkApplication_spec.js
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.ts
  app/client/cypress/e2e/Regression/Apps/PgAdmin_spec.js
  app/client/cypress/e2e/Regression/Apps/PromisesApp_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_PageNo_PageSize_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicServerSideData_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
Labels: skip-changelog, Test

#29476 fix: checkbox and button border radius
  app/client/packages/design-system/theming/src/hooks/src/useCssTokens.tsx
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Checkbox/src/styles.module.css
  app/client/packages/storybook/src/components/ThemeSettings.tsx
  app/client/src/pages/Editor/WDSThemePropertyPane/constants.ts
Labels: Bug

#29156 feat: workflows query actions CRUD code split
  app/client/src/api/ActionAPI.tsx
  app/client/src/ce/actions/helpers.ts
  app/client/src/ce/entities/Engine/actionHelpers.ts
  app/client/src/ce/entities/URLRedirect/URLAssembly.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/selectors/workflowSelectors.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/ee/actions/helpers.ts
  app/client/src/ee/entities/Engine/actionHelpers.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/Explorer/Actions/ActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Actions/helpers.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/Files/FilesContextProvider.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/IDE/PagesPane/AddQuery.tsx
  app/client/src/pages/Editor/IDE/PagesPane/ListQuery.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/utils/AppsmithUtils.tsx
Labels: Enhancement, skip-testPlan

#29538 chore: Added new analytics parameter for git auto commit
  app/server/appsmith-server/src/main/java/com/appsmith/server/events/AutoCommitEvent.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/AutoCommitEventHandlerImplTest.java
Labels: Git Version Control, skip-changelog, skip-testPlan, Git Pod

#29580 chore: Improve logging, add cpu state
  app/server/appsmith-server/src/main/java/com/appsmith/server/performancelogging/PerformanceLoggingHandler.java
Labels: Performance Pod, Task, skip-changelog, Performance infra

#29593 chore: fix query criteria
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: skip-changelog

#29601 chore: remove caching from validateAndSave method
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
Labels: skip-changelog

#29602 chore: Removed failed tests file from git
  app/server/.gitignore
Labels: skip-changelog

#29591 fix: modal blinking
  app/client/src/utils/widgetRenderUtils.tsx
Labels: Bug

#29604 fix: Adding compound index on action collection to make create actions, create js objects and refactor name APIs faster
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration038AddCompoundIndexForActionCollection.java
Labels: Bug

#29564 fix: defer data update for js objects
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug29566_Spec.ts
  app/client/cypress/fixtures/listwidgetData.json
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
Labels: Bug, JS Evaluation, Critical, Needs Triaging, FE Coders Pod

#29615 fix: App sidebar context switching with page
  app/client/src/sagas/ContextSwitchingSaga.ts
Labels: Bug, Needs Triaging, New Developers Pod, IDE Navigation

#29622 fix: update event name for template fork from canvas starter templates
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/layoutSystems/common/dropTarget/starterBuildingBlocks/index.tsx
Labels: Bug

#29595 chore: add generate view dto method for overriding
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionCollectionViewDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ActionCollectionViewCE_DTO.java
Labels: skip-changelog

#29618 chore: WDS elevation colors refinement
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/widgets/src/testing/Elevation.tsx
Labels: skip-changelog, skip-testPlan, Widget design system, WDS team

#29616 fix: copy change for explanation text on start-with-template option
  app/client/src/ce/constants/messages.ts
Labels: Bug, Task, Integrations Pod, skip-testPlan, Activation - datasources

#29586 chore: Hide auto commit and branch protection settings in public APIs
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/views/Views.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitApplicationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Git Version Control, skip-changelog, Git Pod

#29582 test: Cypress | Replace static with Dynamic waits - Part III
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelector_JsToNonJSMode_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/Error_handling_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/NavigateTo1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/PostWindowMessage_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/disableJSToggle_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/setInterval_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/uiToCode_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/AppNavigationWithMultiplePages_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/AppNavigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/Sidebar_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/TopInline_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/TopStacked_spec.ts
Labels: skip-changelog, Test

#29620 feat: Google AI integration
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/PluginConstants.java
  app/server/appsmith-plugins/googleAiPlugin/pom.xml
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/GoogleAiPlugin.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/commands/GenerateContentCommand.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/commands/GoogleAICommand.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/constants/GoogleAIConstants.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/constants/GoogleAIErrorMessages.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/models/GoogleAIRequestDTO.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/models/Role.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/models/Type.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/utils/GoogleAIMethodStrategy.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/utils/RequestUtils.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/editor/generate.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/plugin.properties
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleAiPlugin/src/test/java/com/external/plugins/GenerateContentCommandTest.java
  app/server/appsmith-plugins/googleAiPlugin/src/test/java/com/external/plugins/GoogleAiPluginTest.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration038AddGoogleAIPlugin.java
Labels: Enhancement, Task, AI, Appsmith Labs

#29603 feat: Add Appsmith version to fetch user feature flags request
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagIdentityTraits.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
Labels: Enhancement, Backend, Billing & Usage Pod, Feature Flagging

#29619 chore: Removed unnecessary annotations
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BranchAwareDomain.java
Labels: skip-changelog

#29630 chore: Handled null pointer exception when updated resources is empty
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
Labels: skip-changelog

#29639 fix: using data key for messages in AI plugins
  app/server/appsmith-plugins/anthropicPlugin/src/main/java/com/external/plugins/commands/ChatCommand.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/commands/GenerateContentCommand.java
Labels: Bug

#29554 fix: move ansible playbooks to default appsmith-ee
  deploy/aws_ami/docker-compose.yml
  deploy/digital_ocean/files/var/lib/cloud/scripts/per-instance/01-onboot
Labels: Bug

#29244 skip running TBD for release
  .github/workflows/test-build-docker-image.yml
Labels: Stale

#29626 chore: template upload process revamping
  app/client/src/api/TemplatesApi.ts
  app/client/src/sagas/CommunityTemplatesSagas.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/TemplateDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/TemplateUploadDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationTemplateServicePublishTemplateTest.java
Labels: skip-changelog, skip-testPlan

#29643 ci: Added cron at 6 am ist on tbp ce workflow
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#29665 test: introduce conflict
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/jslibs/ApplicationJsLibServiceImpl.java
Labels: skip-changelog, Test

#29666 ci: Remove conflict introduced for test
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/jslibs/ApplicationJsLibServiceImpl.java
Labels: skip-changelog, CI

#29585 fix: Remove Server header and allow all on port 80
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
  deploy/docker/route-tests/Dockerfile
  deploy/docker/route-tests/common-https/forwarded-headers.hurl
  deploy/docker/route-tests/common/forwarded-headers.hurl
  deploy/docker/route-tests/common/index-html-response.hurl
  deploy/docker/route-tests/common/static-404.hurl
  deploy/docker/route-tests/echo.caddyfile
  deploy/docker/route-tests/entrypoint.sh
  deploy/docker/route-tests/run.sh
  deploy/docker/route-tests/spec-2/custom-domain.hurl
  deploy/docker/route-tests/spec-3/custom-domain.hurl
Labels: Bug

#29672 test: Cypess - added tags - @tag.Fork, @tag.Git
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkAppWithMultipleDS_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplicationInDeployedMode_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplicationReconnectModal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplicationWithinAppEditor_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplication_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/ExistingApps/v1.9.24/DSCrudAndBindings_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/GitImport_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/ImportEmptyRepo_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Connection_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/DeleteBranch_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Deploy_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/DisconnectGit_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBranchProtect_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBugs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitConnectV2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitStatusLite_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/LearnMore_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/MergeViaRemote_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Merge_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/PreconnectionAppNameDeployMenu_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/RegenerateSSHKey_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitWithAutoLayout/conversion_of_git_connected_apps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitWithJSLibrary/GitwithCustomJSLibrary_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitWithTheming/GitWithTheming_spec.js
  app/client/cypress/tags.js
Labels: skip-changelog, Test

#29647 chore: split for overlay changes on EE to accommodate module instance
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/utils/moduleInstanceNavigationData.ts
  app/client/src/components/propertyControls/ActionSelectorControl.tsx
  app/client/src/ee/utils/moduleInstanceNavigationData.ts
  app/client/src/selectors/navigationSelectors.ts
Labels: skip-changelog

#29670 test: Cypress - added tag - @tag.AutoHeight, @tag.IDE
  app/client/cypress/e2e/Regression/ClientSide/CodeComment/PropertyPaneCodeComment_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Auto_Height_Limit_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Auto_Height_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/CanvasHeight_resize_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Container_Scroll_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Container_collapse_undo_redoSpec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Content_Alignment_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/DynamicHeight_Visibility_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Form_With_SwitchGroup_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Invisible_Widgets_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/JsonForm_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_Resizing_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_TextWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Modal_Widget_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Multiple_Container_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Overlap_Test_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Tab_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/TextWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Text_With_Different_Size_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/EmbedSettings/EmbedSettings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/API_Pane_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Bindings_Widgets_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/CopyQuery_RenameDatasource_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/DragAndDropWidget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Entity_Naming_conflict_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Hide_Page_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/JSEditorContextMenu_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Long_Name_Tooltip_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Page_Load_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Pages_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Query_Datasource_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Renaming_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Select_Widget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Tab_rename_Delete_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Copy_Delete_Undo_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Copy_Paste_Delete_Undo_Keyboard_Event_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_spec.js
Labels: skip-changelog, Test

#29679 test:Cypress - added tag- @tag.Binding
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/JSONFormWidget/ConnectToWidget_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/JSONFormWidget/FieldConfigModal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/JSONFormWidget/mongoDb_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/JSONFormWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/MultiSelectWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/MultiSelectWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/SelectWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/SelectWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/index_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/postgres_spec.ts
Labels: skip-changelog, Test

#29681 chore: Refactor for crud of JS module
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/refactors/ActionCollectionRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ContextTypeUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/refactors/NewActionRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
Labels: skip-changelog

#29627 feat: workflows create js object code split
  app/client/src/ce/api/JSActionAPI.tsx
  app/client/src/ce/constants/WorkflowConstants.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/selectors/workflowSelectors.ts
  app/client/src/entities/Action/index.ts
  app/client/src/entities/JSCollection/index.ts
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionContextMenu.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionEntity.tsx
  app/client/src/pages/Editor/IDE/PagesPane/JS_Section.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
Labels: Enhancement

#29659 fix: put wds theme provider under feature flag
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoLayoutAutoHeight_spec.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/Canvas.tsx
Labels: Bug

#29687 test: Cypress - added @tag.Checkbox, @tag.Scanner, @tag.Datepicker, @tag.DocumentViewer, @tag.CurrencyInput, @tag.Dropdown
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckBoxGroupTest.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckBoxLintErrorMultipleRowValidation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckBoxMultipleLintError_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckBox_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckboxGroup1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckboxGroup2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckboxGroup_withQuery_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CodeScanner/CodeScanner1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CodeScanner/CodeScanner2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CurrencyInput/CurrencyInputDynamicCurrencyCode_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CurrencyInput/CurrencyInputTest.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CurrencyInput/CurrencyInput_ShowStepArrows_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CurrencyInput/CurrencyInput_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePickerV2Updated_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePickerV2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker_Toggle_js_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker_With_Switch_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Divider/Divider_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/DocumentViewer/DocumentViewer_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Dropdown/DropDownWidget_value_reset_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Dropdown/Dropdown_onOptionChange_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Dropdown/Dropdown_spec.js
  app/client/cypress/tags.js
Labels: skip-changelog, Test

#29674 test: Cypress - added tags - @tag.IDE, @tag.JS
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Bug_Fixes.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Property_Pane_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Property_Pane_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Selected_Widgets_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/e2e/Regression/ClientSide/JSObject/JSObjectMutation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/JSObject/JS_Editor_Assert_NoFunctionAvailableText_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Linting/AsyncFunctionsBoundInSyncFields_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Linting/BasicLint_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Linting/EntityPropertiesLint_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Linting/ErrorReporting_spec.ts
Labels: skip-changelog, Test

#29684 test: Cypress - added tags - @tag.Settings, @tag.Binding
  app/client/cypress/e2e/Regression/ClientSide/UserProfile/UpdateUserPicture_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/UserProfile/UpdateUsersName_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/AppPageLayout_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/DatasourcePageLayout_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorComment_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorSaveAndAutoIndent_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/WidgetsLayout_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Walkthrough/BindingSchemaWidget_Spec.ts
Labels: skip-changelog, Test

#29685 test: Cypress - added tags - @tag.Audio, @tag.Button, @tag.Camera, @tag.Chart and @tag.Widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Audio/AudioRecorder1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Audio/AudioRecorder_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Audio/audio_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/Button2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/ButtonGroup2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/ButtonGroup_MenuButton_Width_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/ButtonGroup_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/ButtonLintErrorValidation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/Button_onClickAction_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/Button_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/Button_tooltip_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Camera/Image_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Camera/Video_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/ChartDataPoint_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/ChartWidgetErrors_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Chart_Widget_Loading_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Chart_widget_spec_1.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Chart_widget_spec_2.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Custom3DChartSpec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Custom_Chart_Data_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Custom_Chart_spec.js
  app/client/cypress/tags.js
Labels: skip-changelog, Test

#29653 ci: Allow static split of cypress specs
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test-with-documentdb.yml
  app/client/cypress/plugins/index.js
  app/client/cypress/scripts/cypress-split-dynamic.ts
  app/client/cypress/scripts/cypress-split-static.ts
  app/client/cypress/scripts/util.ts
Labels: skip-changelog, CI

#29678 test: Cypress - tag - @tag.MobileResponsive
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoDimension_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoDimension_2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoFillWidgets_Basic_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoFillWidgets_Basic_spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoFillWidgets_Reflow_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoHeight_Container_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoHeight_Form_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoHeight_Modal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoHeight_Tabs_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoLayoutAutoHeight_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoLayout_Widgets_Copy_Paste_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoScroll_Validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionAlgorithm_AutoLayout_Validation_BasicSpec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionAlgorithm_FixedLayout_Mobile_Validation_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionAlgorithm_FixedLayout_Validation_Desktop.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionFlow_Corner_Cases_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/FillwidgetResizingSpec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/HugWidgetValidationSpec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ResizingSpec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/Row_Gap_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/Snipping_mode_Basic_test.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/SuggestedWidgets_spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/TableWidget_height_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ValidateAutoFillContainerWidgets_spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ValidateAutoFillContainerWithInput_spec.js
Labels: skip-changelog, Test

#29682 test: Cypress - added tags - @tag.JS, @tag.Perf, @tag.Settings, @tag.PropertyPane, @tag.Theme
  app/client/cypress/e2e/Regression/ClientSide/PeekOverlay/PeekOverlay_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Performance/LinkRelPreload_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/ProductRamps/PrivateEmbedRamp_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PropertyPane/PropertyPaneCTA_spec.js
  app/client/cypress/e2e/Regression/ClientSide/PropertyPane/PropertyPaneJsEnabledVisible_spec.js
  app/client/cypress/e2e/Regression/ClientSide/PropertyPane/PropertyPane_Connections_Error_spec.js
  app/client/cypress/e2e/Regression/ClientSide/PropertyPane/PropertyPane_Search_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PublishedApps/PublishedModeToastToggle_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Refactoring/Refactoring_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/SetOptions_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SettingsPane/EmbedSettings_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SettingsPane/GeneralSettings_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SettingsPane/PageSettings_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Basic_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/ThemeReset_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Theme_FormWidget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Theme_MultiSelectWidget_spec.js
  app/client/cypress/tags.js
Labels: skip-changelog, Test

#29689 test: Cypress - added tags - @tag.Filepicker, @tag.Form, @tag.Iframe, @tag.Image, @tag.Input
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePicker2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePicker3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePickerV2_CSV_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePickerV2_Widget_Reskinning_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePickerV2_Widget_reset_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePickerV2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePicker_with_fileTypes_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/Filepicker1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormData_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormReset_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWidget_Nested_HasChanges_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWidget_Select_TreeSelect_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWidget_With_Input_Number.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWidget_With_RichTextEditor_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWidget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWithSwitch_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/Form_With_CheckBox_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Iframe/IframeTest_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Iframe/Iframe_onSrcDocChange_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Iframe/Iframe_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image3_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image_base64_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input3_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input_MaxChar_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input_Multiline_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input_OnFocus_OnBlur_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Inputv2_ShowStepArrows_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Inputv2_inside_List_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Inputv2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/RTL_support.ts
  app/client/cypress/tags.js
Labels: skip-changelog, Test

#29693 test: Cypress - added tags - @tag.Radio, @tag.Rating, @tag.TextEditor, @tag.PhoneInput, @tag.IconButton, @tag.Maps, @tag.MenuButton, @tag.Progress, @tag.Statbox
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_On_Table_Filter_Pane_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_Widget_With_Button_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_background_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_focus_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_functionaliy_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect3_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect4_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect5_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect_label_value.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiTreeSelect_2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiTreeSelect_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/Multi_Select_Tree_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/RTL_support.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Autocomplete_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Camera_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Canvas_scrolling_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Divider_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/IconButton_2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/IconButton_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MapChart_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MapWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MenuButtonTest.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MenuButton_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Progress_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/StatBox_DragAndDrop_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/StatboxDsl_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/PhoneInput/PhoneInputDynamicValue_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/PhoneInput/PhoneInput_Part2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/PhoneInput/Phone_input_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor_Validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/Radio2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/RadioGroup1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/RadioGroup2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/RadioGroup_Int_Value_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/Radio_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Rating/Rating_Widget_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/RTL_support.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select3_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_TreeSelect_MultiSelect_OnFocus_OnBlur_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_Validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_label_value.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_widget1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/select_Widget_Bug_spec.js
  app/client/cypress/tags.js
Labels: skip-changelog, Test

#29559 fix: move canvas starter datasource prompt from entity explorer to sidebar button
  app/client/src/entities/IDE/constants.ts
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceStarterLayoutPrompt.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/IDE/Sidebar/SidebarButton.tsx
Labels: Bug, Templates pod, Templates

#29703 chore: Refactoring queries/JS section on entity explorer to support private entities on packages
  app/client/src/ce/api/JSActionAPI.tsx
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/entities/Action/index.ts
  app/client/src/entities/JSCollection/index.ts
  app/client/src/pages/Editor/Explorer/Files/FilesContextProvider.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/utils/AppsmithUtils.tsx
Labels: Frontend, Task, skip-changelog, Modules pod

#29711 chore: Removed unnecessary error log during auto commit
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitAutoCommitHelperImpl.java
Labels: skip-changelog

#29708 chore: add shadow elevation color tokens
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/types.ts
  app/client/packages/design-system/theming/src/theme/stories/Color.stories.mdx
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/theming/src/token/src/styles.module.css
  app/client/packages/design-system/theming/src/token/src/themeTokens.json
  app/client/packages/design-system/widgets/src/components/Menu/src/styles.module.css
  app/client/packages/storybook/.storybook/preview-head.html
  app/client/packages/storybook/src/components/StoryThemeProvider.tsx
  app/client/packages/storybook/src/components/TokenTable.tsx
Labels: skip-changelog, Widget design system, WDS team

#29304 feat: http2 support for REST API and GraphQL
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/form/fields/DropdownFieldWrapper.tsx
  app/client/src/components/editorComponents/form/fields/StyledFormComponents.tsx
  app/client/src/components/formControls/InputTextControl.tsx
  app/client/src/constants/ApiEditorConstants/ApiEditorConstants.ts
  app/client/src/constants/ApiEditorConstants/CommonApiConstants.ts
  app/client/src/constants/ApiEditorConstants/GraphQLEditorConstants.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiSettingsConfig.ts
  app/client/src/entities/Action/index.ts
  app/client/src/transformers/RestActionTransformers.test.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/RestAPIActivateUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionConfiguration.java
Labels: Enhancement, Needs Design, Community Reported, BE Coders Pod, REST API plugin, Integrations Pod

#29565 chore: reset entities reducers on editor unmount
  app/client/src/ce/reducers/entityReducers/actionsReducer.tsx
  app/client/src/ce/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.test.ts
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.ts
  app/client/src/reducers/entityReducers/canvasWidgetsStructureReducer.ts
  app/client/src/reducers/entityReducers/metaWidgetsReducer.test.ts
  app/client/src/reducers/entityReducers/metaWidgetsReducer.ts
Labels: skip-changelog

#29724 ci: added event_name schedule in client-build, rts-build, ci-test-custom-script to run them in scheduled run as well
  .github/workflows/build-docker-image.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/client-build.yml
  .github/workflows/rts-build.yml
Labels: skip-changelog, CI

#29733 fix: added analytics function to execute js function on js editor
  app/client/src/ce/utils/actionExecutionUtils.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug

#29707 chore: changes the copy of the profiling questions
  app/client/src/ce/constants/messages.ts
Labels: Task, skip-changelog, Integrations Pod, Integrations Pod General, Activation - datasources

#29722 chore: added intercom consent analytics event
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/pages/Editor/HelpButton.tsx
  app/client/src/utils/AnalyticsUtil.tsx
Labels: skip-changelog
