Repository appsmithorg/appsmith, pull requests merged in 2023-09, with the labels that each got.

#26842 chore: Mock CS calls in Git service tests instead of the helper method
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: skip-changelog, skip-testPlan

#26670 feat: Showing suggested prompts in the Ai window based on the entities available in the app
  app/client/src/ce/components/editorComponents/GPT/index.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/selectors/navigationSelectors.ts
  app/client/src/utils/NavigationSelector/common.ts
  app/client/src/utils/storage.ts
Labels: Enhancement, FE Coders Pod, skip-testPlan, AI

#26826 chore: update stale lock time
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog, skip-testPlan

#26760 feat: Provide a fallback for feature flags when server is unable to connect to CS
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
Labels: Enhancement, skip-testPlan

#26770 fix: entity explorer issue with datasources is fixed
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug26716_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/Explorer/Datasources.tsx
  app/client/src/pages/Editor/Explorer/hooks.ts
Labels: Bug, Frontend, Needs Triaging, BE Coders Pod, Postgres, Medium, Test Plan Approved, Integrations Pod

#26671 feat: Added support for ESM builds of custom JS libraries
  app/client/cypress/e2e/Regression/ClientSide/JSLibrary/Library_spec.ts
  app/client/cypress/support/Pages/LibraryInstaller.ts
  app/client/src/ce/workers/Evaluation/evalWorkerActions.ts
  app/client/src/sagas/JSLibrarySaga.ts
  app/client/src/workers/Evaluation/handlers/__tests__/jsLibrary.test.ts
  app/client/src/workers/Evaluation/handlers/index.ts
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
Labels: Enhancement, FE Coders Pod, Test Plan Approved, Custom JS Libraries

#26754 chore: WDS color docs
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/design-system/theming/src/theme/src/types.ts
  app/client/packages/design-system/theming/src/theme/stories/Color.stories.mdx
  app/client/packages/design-system/widgets/src/components/Flex/src/Flex.tsx
  app/client/packages/design-system/widgets/src/components/Flex/src/dimensions.ts
  app/client/packages/storybook/.storybook/addons/theming/ThemingPanel.tsx
  app/client/packages/storybook/.storybook/addons/theming/ThemingPopup.tsx
  app/client/packages/storybook/.storybook/addons/theming/ThemingTool.tsx
  app/client/packages/storybook/.storybook/addons/theming/manager.ts
  app/client/packages/storybook/.storybook/decorators/theming.tsx
  app/client/packages/storybook/.storybook/main.ts
  app/client/packages/storybook/.storybook/manager.ts
  app/client/packages/storybook/.storybook/preview-head.html
  app/client/packages/storybook/.storybook/preview.tsx
  app/client/packages/storybook/.storybook/styles.css
  app/client/packages/storybook/package.json
  app/client/packages/storybook/src/components/ColorTable.tsx
  app/client/packages/storybook/src/components/StoryThemeProvider.tsx
  app/client/packages/storybook/src/components/ThemeSettings.tsx
  app/client/packages/storybook/src/components/TokenTable.tsx
  app/client/packages/storybook/src/index.ts
  app/client/yarn.lock
Labels: App Viewers Pod, skip-changelog, skip-testPlan, Widget design system, WDS team

#26827 fix: gsheet cell range filter format issue fixed
  app/client/cypress/e2e/GSheet/AllAccess_Spec.ts
  app/client/cypress/e2e/GSheet/ReadNWrite_Access_Spec.ts
  app/client/cypress/e2e/GSheet/ReadOnly_Access_Spec.ts
  app/client/cypress/e2e/GSheet/SelectedSheet_Access_Spec.ts
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/RowsGetMethod.java
Labels: Bug, High, Regressed, Needs Triaging, Google Sheets, BE Coders Pod, Test Plan Approved, Integrations Pod

#26866 test: Cypress - date picker automation
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker3_spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: skip-changelog, Test Plan Approved, Test

#26720 test: cypress - Added regression tests for PhoneInput
  app/client/cypress/e2e/Regression/ClientSide/Widgets/PhoneInput/PhoneInput_Part2_spec.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test Plan Approved, Test

#26816 test: Updated test for MultiSelect
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect5_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#26892 test: Cypress | Skip Airtable from CustomConfig
  app/client/cypress_ci_custom.config.ts
Labels: skip-changelog, Test

#26869 test: Cypress | (DI) GrpahQL added validations
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/GraphQL_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Test

#26895 chore: airtable spec skip
  app/client/cypress_ci_custom.config.ts
Labels: skip-changelog, skip-testPlan, skip-documentation

#26915 test: Cypress | Remove duplicate Theme_default spec
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Theme_Default_spec.js
Labels: skip-changelog, Test

#26917 chore: added myself as owner to be notified for any change
  CODEOWNERS
Labels: skip-changelog

#26828 chore: Log only potential system generated cyclic dependency errors to sentry
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DependencyMap/index.ts
Labels: JS Evaluation, skip-changelog, FE Coders Pod, Evaluated Value, skip-testPlan

#26856 chore: update dockerfile to install mongodb v6.x
  Dockerfile
Labels: Task, skip-changelog, Docker, DevOps Pod

#26898 test: Cypress - date picker added after each to navigate to editor
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker3_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#26804 chore: url changes of mocking flagsmith
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test.yml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CloudServicesConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: Bug, Backend, High, skip-changelog, New Developers Pod, skip-testPlan, Feature Flagging

#26934 test: Cypress | CI Stabilize
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/GraphQL_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Test

#26916 chore: unit test for bgAccentActive
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: skip-changelog

#26667 fix: refresh ds config on env switch
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/spec_utility.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
Labels: Bug, High, Production, Needs Triaging, BE Coders Pod, Test Plan Approved, Data Platform Pod, Datasource Environments

#26788 chore: Redis config don't write to filesystem at runtime
  deploy/docker/entrypoint.sh
  deploy/docker/templates/supervisord/redis.conf
Labels: Security, skip-changelog

#26926 chore: Mock CS calls for feature flag service in JUnit tests
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/MockCacheableFeatureFlagHelper.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
Labels: Task, skip-changelog, skip-testPlan, Billing & Usage Pod, 1-click upgrade

#26976 chore: Code split testcases for git service
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: skip-changelog, skip-testPlan

#26967 chore: Remove python-requests from Docker image
  Dockerfile
  deploy/docker/scripts/starting-page-init.py
Labels: skip-changelog

#26962 feat: schema preview API extended for movies mock DB
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
Labels: Enhancement, Mongo, BE Coders Pod, Test Plan Approved, Integrations Pod

#26778 fix: Remove column search and add icon for clearing search input
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Arango_Basic_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceStructureContainer.tsx
Labels: Bug, Enhancement, Needs Triaging, Mongo, BE Coders Pod, Test Plan Approved, Integrations Pod

#26968 ci: Migrate pending workflows to dime defenders
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  app/client/cypress/cypress-split.ts
  app/client/cypress/plugins/index.js
  app/client/cypress/scripts/cypress-hooks.js
  app/client/cypress/scripts/no_spec.ts
  app/client/cypress_ci_hosted.config.ts
Labels: skip-changelog, CI

#26888 feat: login rate limit
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/AuthenticationSuccessHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationFailureHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/RedisConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/RateLimitConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/ConditionalFilter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/PreAuth.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/RateLimitConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/RateLimitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/annotations/RateLimit.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/aspects/RateLimitAspect.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: Enhancement, skip-testPlan

#27026 fix: fix walkthrough component crashing for invalid selector
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
Labels: Bug, Release, IDE, Needs Triaging, Release Blocker, New Developers Pod

#26959 chore: add null check for repo name
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Git Version Control, skip-changelog, skip-testPlan

#26810 [Task]: Update DataTreeFactory to include widget resizes and remove references to layout mode and viewport.
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/layoutSystems/autolayout/index.ts
  app/client/src/layoutSystems/fixedlayout/index.ts
  app/client/src/utils/ComponentSizeUtils.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ListWidget/widget/derived.js
  app/client/src/widgets/TableWidget/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: skip-testPlan

#27044 chore(deps): Update pf4j to v3.10.0
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/pom.xml
  app/server/pom.xml
  app/server/reactive-caching/pom.xml
Labels: skip-testPlan

#27013 chore: use new ds version
  app/client/package.json
  app/client/yarn.lock
Labels: Design System Pod, skip-changelog

#27039 chore: Adding programmatic access control and user session limit as business feature ramps on CE
  app/client/src/ce/constants/tenantConstants.ts
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/client/src/ce/selectors/rampSelectors.tsx
  app/client/src/pages/Applications/ApplicationLoaders.tsx
Labels: Task, skip-changelog, Team Managers Pod, RBAC

#27051 chore: Remove irrelevant exclusion introduced in #27044
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/pom.xml
Labels: skip-changelog

#27034 feat: Add CE placeholders for Knowledge base generation EE feature
  app/client/src/ce/pages/AppViewer/KnowledgeBase/KBViewerNavButton.tsx
  app/client/src/ce/pages/Editor/KnowledgeBase/KBEditorNavButton.tsx
  app/client/src/ee/pages/AppViewer/KnowledgeBase/KBViewerNavButton.tsx
  app/client/src/ee/pages/Editor/KnowledgeBase/KBEditorNavButton.tsx
  app/client/src/pages/AppViewer/Navigation/components/TopHeader.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/utils/storage.ts
Labels: Enhancement, skip-changelog, skip-testPlan

#26889 fix: move static JSON parsers to local variables
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/ArrayType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/JsonObjectType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
Labels: Bug, Community Reported, Needs Triaging, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod

#26950 fix: clear eval cache when editor/appviewer loader unmounts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/AppViewer/loader.tsx
  app/client/src/pages/Editor/loader.tsx
  app/client/src/sagas/PageSagas.tsx
Labels: Bug, JS Evaluation, High, Needs Triaging, FE Coders Pod, Test Plan Approved

#26974 feat: useHTMLPage title method based on feature flag
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/General_settings_Spec.ts
  app/client/src/ce/utils/BusinessFeatures/brandingPageHelpers.tsx
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/common/PageWrapper.tsx
Labels: Enhancement, Test Plan Approved

#27063 test: Cypress - Fix Flaky tests
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image2_Spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#27053 fix: Welcome mailer stopped for non signup oauth
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
Labels: Bug, Needs Triaging

#27076 [Analytics]: Track how long user takes to navigate with Entity Explorer
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/components/editorComponents/Sidebar.tsx
Labels: IDE, Task, New Developers Pod, IDE Navigation, skip-testPlan

#27009 test: Cypress - Select , Text , Input widget automation
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input3_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select3_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_widget1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Text/Text2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Select_TreeSelect_MultiSelect_Empty_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Single_Select_Tree_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Tree_Select_spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: skip-changelog, Test Plan Approved, Test

#27089 fix: Use inheritance to invoke the method instead of looking for declared one in aspect invoker
  app/server/appsmith-server/src/main/java/com/appsmith/server/aspect/FeatureFlaggedMethodInvokerAspect.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/FeatureFlaggedMethodInvokerAspectTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/TestComponent.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/TestComponentImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/ce/TestComponentCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/ce/TestComponentCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/ce_compatible/TestComponentCECompatible.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/ce_compatible/TestComponentCECompatibleImpl.java
Labels: Bug, Task, skip-testPlan, Billing & Usage Pod, 1-click upgrade

#26911 fix: converted sniping test cases to support suggested widgets, api binding bug
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2WithSnipingMode_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/Snipping_mode_Basic_test.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/AddWidgetTableAndBind_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_2_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Arango_Basic_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/WidgetProvider/constants.ts
  app/client/src/actions/propertyPaneActions.ts
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/sagas/SnipingModeSagas.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Needs Triaging, BE Coders Pod, REST API plugin, Test Plan Approved, Data Platform Pod, Integrations Pod, Suggested Widgets

#26991 test: Cypress | (DI) SMTP & Airtable validations + CI Stabilize
  .github/workflows/build-client-server.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/integration-tests-with-documentdb-command.yml
  app/client/cypress/e2e/Regression/Apps/PromisesApp_spec.js
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug26716_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/EmbedSettings/EmbedSettings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image3_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/DSDocs_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/GraphQL_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MongoDatasourceURI_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MongoDatasource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/AdminSettingsCommands.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Test

#27021 chore: add unit test for bgAssitive + bgAccentSubtleActive + bgAccentSubtleHover
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: skip-changelog

#27101 test: Cypress - Select label value spec fix
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_label_value.ts
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: skip-changelog, Test

#27111 test: Cypress | CI Stabilize
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ElasticSearch_Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Redis_Basic_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
Labels: skip-changelog, Test

#27120 test: Cypress | Update ci-test-limit to use Mock Flagsmith
  .github/workflows/ci-test-limited.yml
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Replay_Editor_spec.js
  app/client/cypress/support/Objects/DataManager.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Test

#27121 test: Cypress | ElasticSearch_Basic_Spec.ts fix
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ElasticSearch_Basic_Spec.ts
Labels: skip-changelog, Test

#27127 chore: Use single COPY command in Dockerfile for constant/static files
  .github/workflows/appsmithctl.yml
  Dockerfile
  deploy/docker/fs/etc/cron.d/cleanup-logs
  deploy/docker/fs/etc/cron.d/renew-certificate
  deploy/docker/fs/etc/supervisor/supervisord.conf
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/healthcheck.sh
  deploy/docker/fs/opt/appsmith/init_ssl_cert.sh
  deploy/docker/fs/opt/appsmith/install_docker.sh
  deploy/docker/fs/opt/appsmith/pull_resource.sh
  deploy/docker/fs/opt/appsmith/renew-certificate.sh
  deploy/docker/fs/opt/appsmith/run-java.sh
  deploy/docker/fs/opt/appsmith/run-nginx.sh
  deploy/docker/fs/opt/appsmith/run-starting-page-init.sh
  deploy/docker/fs/opt/appsmith/run-with-env.sh
  deploy/docker/fs/opt/appsmith/start_app.sh
  deploy/docker/fs/opt/appsmith/starting-page-init.py
  deploy/docker/fs/opt/appsmith/templates/appsmith_initializing.html
  deploy/docker/fs/opt/appsmith/templates/appsmith_starting.html
  deploy/docker/fs/opt/appsmith/templates/docker.env.sh
  deploy/docker/fs/opt/appsmith/templates/mockdb_postgres.sql
  deploy/docker/fs/opt/appsmith/templates/nginx-app.conf.sh
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/backend.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/editor.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/rts.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/cron.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/mongodb.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/postgres.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/redis.conf
  deploy/docker/fs/opt/appsmith/templates/users_postgres.sql
  deploy/docker/fs/opt/appsmith/update-and-restart-supervisor.sh
  deploy/docker/fs/opt/appsmith/utils/bin/backup.js
  deploy/docker/fs/opt/appsmith/utils/bin/backup.test.js
  deploy/docker/fs/opt/appsmith/utils/bin/check_replica_set.js
  deploy/docker/fs/opt/appsmith/utils/bin/constants.js
  deploy/docker/fs/opt/appsmith/utils/bin/export_db.js
  deploy/docker/fs/opt/appsmith/utils/bin/import_db.js
  deploy/docker/fs/opt/appsmith/utils/bin/index.js
  deploy/docker/fs/opt/appsmith/utils/bin/logger.js
  deploy/docker/fs/opt/appsmith/utils/bin/mailer.js
  deploy/docker/fs/opt/appsmith/utils/bin/migrate.js
  deploy/docker/fs/opt/appsmith/utils/bin/mongo_shell_utils.js
  deploy/docker/fs/opt/appsmith/utils/bin/restore.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.js
  deploy/docker/fs/opt/appsmith/utils/bin/version.js
  deploy/docker/fs/opt/appsmith/utils/package-lock.json
  deploy/docker/fs/opt/appsmith/utils/package.json
  deploy/docker/fs/watchtower-hooks/pre-check.sh
  deploy/docker/fs/watchtower-hooks/pre-update.sh
  deploy/docker/utils/.gitignore
  scripts/generate_info_json.sh
Labels: skip-changelog

#27106 fix: Adding invite to app permission to fix share modal getting auto-closed issue
  app/client/src/ce/actions/applicationActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/selectors/applicationSelectors.tsx
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/pages/AppViewer/Navigation/components/ShareButton.tsx
  app/client/src/pages/AppViewer/PageMenu.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/src/pages/workspace/settings.tsx
  app/client/src/utils/hooks/useWorkspace.tsx
Labels: Bug, Task, Team Managers Pod, SCIM

#26132 fix: fixed failing queries using aggregation pipeline
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNewActionRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNewPageRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/NewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceUnitTest.java
Labels: Bug, Task, Test Plan Approved

#26725 feat: git connect v2
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug24486_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitConnectV2_spec.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/entities/GitSync.ts
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal/GitSyncModalV1.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal/GitSyncModalV2.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal/index.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/ConnectionSuccess.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/AddDeployKey.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/ChooseGitProvider.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/GenerateSSH.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/Steps.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/constants.ts
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/styles.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitDisconnect.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/GitUserSettings.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/CopyButton.tsx
  app/client/src/pages/Editor/gitSync/components/ReconnectSSHError.tsx
  app/client/src/pages/Editor/gitSync/constants.ts
  app/client/src/pages/Editor/gitSync/hooks/useGitConnect.ts
  app/client/src/pages/Editor/gitSync/hooks/useSSHKeyPair.ts
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Enhancement, Git Version Control, Test Plan Approved, Git Pod

#27082 chore: Keep Rajat as codeowner for only cypress tests of widgets
  CODEOWNERS
Labels: skip-changelog, Test Plan Approved

#27014 test: Cypress - fixing table test cases
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/AddNewRow1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/AddNewRow2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_editing_2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Edge_case_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter1_2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Url_Column_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Widget_Add_button_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Widget_Default_Row_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Widget_Selected_row_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Text_wrapping_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/VirtualRow_spec.js
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test Plan Approved, Test

#26669 chore: code split for EE PR 2169
  app/client/src/ce/actions/environmentAction.ts
  app/client/src/ce/api/ApiUtils.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/sagas/EnvironmentSagas.ts
  app/client/src/ce/selectors/environmentSelectors.tsx
  app/client/src/ce/utils/Environments/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useDatasource.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/components/formControls/utils.ts
  app/client/src/ee/sagas/EnvironmentSagas.ts
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/pages/Editor/APIEditor/ApiAuthentication.tsx
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/pages/Editor/APIEditor/RestAPIForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/FormControl.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/hooks.ts
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/SaaSEditor/errorUtils.ts
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/Editor/gitSync/components/DatasourceListItem.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/sagas/ReplaySaga.ts
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
  app/client/src/utils/editorContextUtils.ts
  app/client/src/utils/storage.ts
Labels: skip-changelog, skip-testPlan

#26963 chore: Place local MongoDB cluster key in `/tmp` instead of `/`
  Dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/templates/supervisord/mongodb.conf
Labels: skip-changelog

#26940 fix: fix ds required fields
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug26126_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug, Frontend, High, Production, Needs Triaging, S3, BE Coders Pod, Up for grabs, Test Plan Approved, Integrations Pod

#27100 fix: geolocation.currentposition.coords.lat is giving error also on map geolocation is giving lint error
  app/client/src/workers/Evaluation/fns/geolocationFns.ts
Labels: Bug, Regressed, FE Coders Pod, Medium, Test Plan Approved, Framework Functions

#27123 ci: Remove installs of packages already available
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: skip-changelog, CI

#27156 chore: Move cleanup logs from cron to backend server
  app/server/appsmith-server/src/main/java/com/appsmith/server/cron/CleanUpOldLogs.java
  deploy/docker/fs/etc/cron.d/cleanup-logs
Labels: skip-changelog

#27146 test: Fix gsheet tests
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  app/client/cypress/e2e/GSheet/AllAccess_Spec.ts
  app/client/cypress/e2e/GSheet/ReadNWrite_Access_Spec.ts
  app/client/cypress/e2e/GSheet/ReadOnly_Access_Spec.ts
  app/client/cypress/e2e/GSheet/SelectedSheet_Access_Spec.ts
Labels: skip-changelog, Test

#27166 fix: welcome mail trigger
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
Labels: Bug, QA, IDE, New Developers Pod, Email verification

#27103 chore: Add cloud hosting trait for tenant level feature flags
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/FeaturesRequestDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
Labels: skip-changelog, skip-testPlan, 1-click upgrade

#27126 test: cypress- updated treeSelect tests
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Tree_Select_2_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test Plan Approved, Test

#27099 fix: Skip create application when root application is present
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/GitBranchDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Bug, Community Reported, Needs Triaging, Git Version Control, Test Plan Approved, Git Pod

#27041 chore: disable allowprivilegeescalation in the securitycontext of helm chart
  deploy/helm/Chart.yaml
  deploy/helm/Publish-helm-chart.md
  deploy/helm/templates/statefulset.yaml
Labels: Task, Docker, DevOps Pod

#26535 chore: ME design audit CE
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug19933_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DSDiscardBugs_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/RestApiOAuth2Validation_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/components/EnvDeployInfoModal/index.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/FormRow.tsx
  app/client/src/components/utils/formComponents.tsx
  app/client/src/ee/components/EnvDeployInfoModal/index.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/DSFormHeader.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/pages/Editor/JSEditor/styledComponents.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal/GitSyncModalV1.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal/GitSyncModalV2.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: skip-changelog, Test Plan Approved

#27168 chore: 1-click refactor for application page service
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: skip-changelog, Team Managers Pod, RBAC, Billing & Usage Pod, 1-click upgrade

#27190 ci: Cypress Push Slack notification update
  .github/workflows/ci-test-hosted.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#27187 fix: added ff fallback if cs is down
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
Labels: Bug, Task, New Developers Pod, Feature Flagging

#26988 feat: Update feature flag after syncing the plan
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/FeatureMigrationType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/MigrationStatus.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/FeatureFlagMigrationHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/FeatureFlagServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/TenantServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ScheduledTaskCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/FeatureFlagMigrationHelperTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: Enhancement, skip-testPlan

#27191 chore: fix flaky signposting test
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/SignpostingDiscovery_spec.ts
Labels: skip-changelog

#27202 test: Cypress | CI Stabilize
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/GitImport_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/FirstTimeUserOnboarding_spec.js
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ElasticSearch_Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo_Spec.js
  app/client/cypress/support/Objects/DataManager.ts
  app/client/cypress/support/dataSourceCommands.js
  app/client/cypress_ci.config.ts
  app/client/cypress_ci_custom.config.ts
  app/client/cypress_ci_hosted.config.ts
Labels: skip-changelog, Test Plan Approved, Test

#27192 chore: Updating the logic for fetching workspace when share modal is opened
  app/client/cypress/e2e/Regression/ClientSide/Workspace/ShareAppTests_Spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/WorkspaceSagas.ts
  app/client/src/pages/AppViewer/Navigation/components/ShareButton.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/src/utils/hooks/useWorkspace.tsx
Labels: Bug, Release, Needs Triaging, skip-changelog, Team Managers Pod, Release Blocker, RBAC

#26944 chore: Rename and cleanup of editor components
  CODEOWNERS
  app/client/src/layoutSystems/autolayout/MainContainerResizer/MainContainerResizer.tsx
  app/client/src/layoutSystems/common/useLayoutSystemFeatures.ts
  app/client/src/pages/AppViewer/AppPage.styled.tsx
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/CanvasPropertyPane/index.tsx
  app/client/src/pages/Editor/Explorer/Pages/AddPageContextMenu.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/MainContainerWidthToggles.test.tsx
  app/client/src/pages/Editor/MainContainerWidthToggles.tsx
  app/client/src/pages/Editor/WidgetsEditor/EmptyCanvasPrompts.tsx
  app/client/src/pages/Editor/WidgetsEditor/MainContainerWrapper.tsx
  app/client/src/pages/Editor/WidgetsEditor/PropertyPaneWrapper.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/pages/Editor/WidgetsEditorWrapper.test.tsx
  app/client/src/pages/Editor/WidgetsEditorWrapper.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/test/testMockedWidgets.tsx
Labels: UI Builders Pod, Task, skip-changelog, Test Plan Approved, Canvas / Grid

#27213 chore: Adding slack notification for promotion TBP workflow failure
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#27208 chore: add unit tests for bgNeutral and bgNeutralHover
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: WDS team

#27234 ci: Cypress Push Slack notification handling build failures
  .github/workflows/ci-test-hosted.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#27189 test: Cypress - Flaky Fix
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug25894_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/ExistingApps/v1.9.24/DSCrudAndBindings_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Linting/EntityPropertiesLint_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/locators/TemplatesLocators.json
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, Test

#27229 fix: fix 404 crash happening during first load
  app/client/src/ce/utils/BusinessFeatures/brandingPageHelpers.tsx
  app/client/src/ce/utils/index.ts
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/common/PageWrapper.tsx
Labels: Bug, Release, Needs Triaging, Release Blocker, Test Plan Approved, Billing & Usage Pod, 1-click upgrade

#27207 feat: Add application metadata for branch protection
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitApplicationMetadata.java
Labels: Enhancement, Git Version Control, skip-changelog, skip-testPlan, Git Pod

#27241 ci: Cypress Push Slack notification fixes
  .github/workflows/ci-test-hosted.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#27214 fix: error in scroll on load feature
  app/client/src/WidgetProvider/factory/helpers.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/utils/helpers.tsx
  app/client/src/widgets/ButtonWidgetV2/widget/index.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: Bug, Needs Triaging, UI Builders Pod, Quick effort, Auto Height, skip-testPlan

#27239 chore: add tests for bgNeutralSubtle + bgNeutralActive + bgPositives + bgNegatives
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: skip-changelog

#27247 ci: Set Commit Message update
  .github/workflows/ci-test-custom-script.yml
Labels: skip-changelog, CI

#27200 fix: gsheets import headers fix
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/utils/storage.ts
Labels: Bug, Release, Needs Triaging, Google Sheets, Release Blocker, BE Coders Pod, Test Plan Approved, Integrations Pod

#27023 Fix/pie chart layout
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.ts
Labels: Bug, Chart Widget, App Viewers Pod, Test Plan Approved

#27049 feat: only movies collection shown for mock DB A/B
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginErrorsTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginQueriesTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginStaleConnTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceStructureSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
Labels: Enhancement, Backend, Needs Triaging, Mongo, BE Coders Pod, Test Plan Approved, Integrations Pod

#27031 feat: Add preview data for mongo mock db
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/DataSourceEditor/DatasourceViewModeSchema.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Enhancement, Mongo, BE Coders Pod, Test Plan Approved, Integrations Pod

#26750 feat: functionality to delete multiple apps at once
  app/client/cypress/e2e/Regression/ClientSide/Workspace/DeleteMultipleApplications.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/ApplicationCardList.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/selectors/applicationSelectors.tsx
  app/client/src/components/common/Card.tsx
  app/client/src/ee/sagas/ApplicationSagas.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/common/SubHeader.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Enhancement, Home Page, Team Managers Pod, BE Coders Pod, Postgres, Test Plan Approved, Integrations Pod

#27107 fix: fix incorrect parsing of email ID in login rate limit
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/PreAuth.java
Labels: Bug, Test Plan Approved

#27242 chore: Add appmode to debugger analytics
  app/client/src/actions/debuggerActions.ts
  app/client/src/sagas/DebuggerSagas.ts
Labels: Low, Task, skip-changelog, JS Linting & Errors, FE Coders Pod, skip-docs, skip-testPlan

#27248 fix: OAuth pageId blocker
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug, Frontend, Needs Triaging, BE Coders Pod, OAuth, Test Plan Approved, Data Platform Pod, Integrations Pod

#27188 fix: .then syntax highlighting is not working correctly
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
Labels: Bug, UI Improvement, UX Improvement, Release, JS Objects, FE Coders Pod, Medium, Test Plan Approved, Code Editor

#27161 test: Cypess | Oracle DS validations added (Part 1) + CI Stabilize
  .github/workflows/ci-sanity.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test-with-documentdb.yml
  app/client/cypress/e2e/Regression/ClientSide/Widgets/WidgetPropertySetters_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/ActionExecution/Block_Execution.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/GraphQL_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/cypress/support/AdminSettingsCommands.js
  app/client/cypress/support/Objects/DataManager.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress_ci-toremove.json
  app/client/cypress_ci_custom.config.ts
  app/client/cypress_ci_hosted.config.ts
Labels: skip-changelog, Test Plan Approved, Test

#27104 chore: Refactor default branch codes
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/GitExecutorTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Git Version Control, skip-changelog, Test Plan Approved, Git Pod

#27252 feat: add template upload auth env var to server-build
  .github/workflows/server-build.yml
Labels: Enhancement

#27293 chore: update default ID for saas forms
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
Labels: skip-changelog, Test Plan Approved

#27306 chore: Updating the restart timeout on Admin settings page to fix embed settings spec failures
  app/client/src/ce/constants/tenantConstants.ts
Labels: skip-changelog

#27122 fix: Updating the conditions for URL update on click of go to application button in import application modal
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, High, Production, Needs Triaging, Import-Export-App, Team Managers Pod, Git Pod, Airgap

#27223 chore: Updating link component props
  app/client/package.json
  app/client/src/components/editorComponents/CloseEditor.tsx
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/ProductAlertBanner.tsx
  app/client/src/components/utils/helperComponents.tsx
  app/client/src/pages/AdminSettings/FormGroup/group.tsx
  app/client/src/pages/AdminSettings/LeftPane.tsx
  app/client/src/pages/AdminSettings/components.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Editor/CanvasLayoutConversion/SnapShotBannerCTA.tsx
  app/client/src/pages/Editor/DataSourceEditor/BackButton.tsx
  app/client/src/pages/Editor/Explorer/Libraries/Installer.tsx
  app/client/src/pages/Editor/ThemePropertyPane/ThemeSelector.tsx
  app/client/src/pages/Editor/gitSync/RepoLimitExceededErrorModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/components/DeployPreview.tsx
  app/client/src/pages/Editor/gitSync/components/DiscardChangesWarning.tsx
  app/client/src/pages/Editor/gitSync/components/GitConnectError.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/getNotificationBanner.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/index.tsx
  app/client/src/pages/Templates/Template/SimilarTemplates.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateDetailedView.tsx
  app/client/src/pages/UserAuth/ForgotPassword.tsx
  app/client/src/pages/common/datasourceAuth/AuthMessage.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/yarn.lock
Labels: Design System Pod, skip-changelog, Team Managers Pod, skip-testPlan, SCIM

#27282 test: Cypess | Oracle DS validations added (Part 2) + CI Stabilize
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test-with-documentdb.yml
  .github/workflows/ci-test.yml
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DSDiscardBugs_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker3_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ElasticSearch_Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/DSDocs_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/limited-tests.txt
  app/client/cypress/support/AdminSettingsCommands.js
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/AppSettings/GeneralSettings.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test Plan Approved, Test

#27055 feat: Auto commit DSL migration
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Enhancement, Git Version Control, skip-changelog, skip-testPlan, Git Pod

#27181 test: cypress - updating listv2 tests for regression
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_NestedList_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_WithOtherWidget_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_WithButtonGroupIconWidget_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Tree_Select_2_spec.ts
  app/client/cypress/fixtures/listV2AudioVideoDsl.json
  app/client/cypress/fixtures/listV2ButtonsDsl.json
  app/client/cypress/fixtures/listV2NestedDsl.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: Test Plan Approved

#27321 chore: Updating share modal title on app editor and viewer
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/form/FormDialogComponent.tsx
  app/client/src/pages/AppViewer/Navigation/components/ShareButton.tsx
Labels: skip-changelog

#26162 feat: enable CSS Modules fro WDS
  app/client/craco.common.config.js
  app/client/package.json
  app/client/packages/design-system/theming/package.json
  app/client/packages/design-system/theming/src/theme/src/ProviderStyleSheet.ts
  app/client/packages/design-system/theming/src/theme/src/ThemeContext.tsx
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/design-system/theming/src/theme/src/index.styled.tsx
  app/client/packages/design-system/theming/src/theme/src/types.ts
  app/client/packages/design-system/theming/src/token/src/TokensAccessor.ts
  app/client/packages/design-system/theming/src/token/src/fluid/getFluidSpacing.ts
  app/client/packages/design-system/theming/src/token/src/fluid/getFluidTypography.ts
  app/client/packages/design-system/theming/src/token/src/fluid/index.ts
  app/client/packages/design-system/theming/src/token/src/styles.module.css
  app/client/packages/design-system/theming/src/token/src/themeTokens.json
  app/client/packages/design-system/theming/src/typography/src/typography.ts
  app/client/packages/design-system/theming/src/utils/cssRule.ts
  app/client/packages/design-system/theming/src/utils/tokensToCss.ts
  app/client/packages/design-system/theming/src/utils/tokensToJson.ts
  app/client/packages/design-system/widgets/jest.config.js
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/Button/src/Button.tsx
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Flex/src/Flex.tsx
  app/client/packages/design-system/widgets/src/components/Flex/src/flexCssRule.ts
  app/client/packages/design-system/widgets/src/components/Flex/src/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/Flex/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Flex/src/types.ts
  app/client/packages/design-system/widgets/src/components/Flex/stories/Flex.stories.mdx
  app/client/packages/design-system/widgets/src/components/Tooltip/src/TooltipContent.tsx
  app/client/packages/design-system/widgets/src/components/Tooltip/src/TooltipTrigger.tsx
  app/client/packages/design-system/widgets/src/components/Tooltip/src/index.styled.tsx
  app/client/packages/design-system/widgets/src/components/Tooltip/src/index.ts
  app/client/packages/design-system/widgets/src/components/Tooltip/src/styles.module.css
  app/client/packages/design-system/widgets/src/styles/colors.module.css
  app/client/packages/storybook/.storybook/decorators/theming.tsx
  app/client/packages/storybook/.storybook/main.ts
  app/client/packages/storybook/package.json
  app/client/src/Globals.d.ts
  app/client/typings/css-modules/index.d.ts
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, Stale, skip-docs, skip-testPlan, Widget design system, WDS team, skip-documentation

#27318 fix: multiple fixes for storybook
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/theme/src/ProviderStyleSheet.ts
  app/client/packages/design-system/theming/src/theme/src/useTheme.tsx
  app/client/packages/design-system/theming/src/token/src/TokensAccessor.ts
  app/client/packages/storybook/.storybook/preview-head.html
  app/client/packages/storybook/package.json
  app/client/packages/storybook/src/components/TokenTable.tsx
  app/client/yarn.lock
Labels: skip-changelog, skip-docs, skip-testPlan, skip-documentation

#27326 test: Cypess | Oracle DS validations added (Part 3) + CI Stabilize
  .github/workflows/build-client-server.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/integration-tests-with-documentdb-command.yml
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Connection_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/LearnMore_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/support/Pages/GitSync.ts
Labels: skip-changelog, Test Plan Approved, Test

#27343 chore: Add .editorconfig
  .editorconfig
Labels: skip-changelog

#27338 fix: Make manage users sentence cased & handle mobile UI when top banner is seen
  app/client/cypress/e2e/Regression/ClientSide/Workspace/MemberRoles_Spec.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/DatasourceViewModeSchema.tsx
  app/client/src/pages/common/SubHeader.tsx
  app/client/src/pages/workspace/ManageUsers.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
Labels: Bug, Home Page, Needs Triaging, Team Managers Pod

#27129 fix: Leave a role should be supported without permission as long as the role is directly assigned to the user
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PermissionGroupServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: Bug, Team Managers Pod, RBAC

#27349 chore: updating restart timeout to fix flaky tests
  app/client/src/ce/constants/tenantConstants.ts
Labels: skip-changelog

#27288 chore: Include version in info.json and remove fields that aren't being useful
  .gitignore
  deploy/docker/.gitignore
  scripts/generate_info_json.sh
Labels: skip-changelog

#27345 feat: Add `/info` endpoint for details about the Appsmith version running
  deploy/docker/fs/opt/appsmith/templates/nginx-app.conf.sh
Labels: Enhancement

#26949 chore: skip klona for eval updates (#27048)
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/test.ts
Labels: Performance Pod, skip-changelog, Test Plan Approved, Performance

#27134 feat: add API to publish community template
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CloudServicesConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationTemplate.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/CommunityTemplateDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/CommunityTemplateUploadDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceUnitTest.java
Labels: Enhancement, skip-testPlan

#27354 chore: Adding default value for `APPSMITH_CLOUD_SERVICES_TEMPLATE_UPLOAD_AUTH` variable
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#27260 fix: property pane if tabledata section doesn't exist, clear widget id
  app/client/src/components/featureWalkthrough/walkthroughRenderer.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
Labels: Bug, Property Pane, Needs Triaging, UI Builders Pod, BE Coders Pod, Test Plan Approved, Integrations Pod, Activation - datasources

#27312 fix: remove the comments as the delete file lock flow works
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RedisUtils.java
Labels: Bug, skip-testPlan

#27170 chore: Updating pre-commit hook for staged files to not run spotless check if its a merge commit
  app/client/.husky/check-staged-files.sh
Labels: skip-changelog

#27291 chore: add fg + bd tokens tests for color algo
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: skip-changelog

#27358 ci: updating embed settings spec
  app/client/cypress/e2e/Regression/ClientSide/EmbedSettings/EmbedSettings_spec.js
  app/client/src/ce/constants/tenantConstants.ts
Labels: skip-changelog, CI

#27330 test: Cypress - Modal, Radio widget automation
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_Widget_With_Button_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/Radio2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Rating/Rating_Widget_spec.ts
  app/client/cypress/fixtures/modalWidgetTestApp.json
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test

#27070 feat: assistive binding
  app/client/cypress/e2e/Regression/ClientSide/AssistiveBinding/assistiveBinding_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/PropertyPaneSuggestion_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug25894_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Autocomplete_spec.js
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/components/editorComponents/CodeEditor/EditorConfig.ts
  app/client/src/components/editorComponents/CodeEditor/assistiveBindingCommands.tsx
  app/client/src/components/editorComponents/CodeEditor/assistiveBindingHinter.ts
  app/client/src/components/editorComponents/CodeEditor/commandsHelper.ts
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/components/propertyControls/ChartDataControl.tsx
  app/client/src/components/propertyControls/CodeEditorControl.tsx
  app/client/src/components/propertyControls/ComputeTablePropertyControl.tsx
  app/client/src/components/propertyControls/InputTextControl.tsx
  app/client/src/components/propertyControls/JSONFormComputeControl.tsx
  app/client/src/components/propertyControls/MenuButtonDynamicItemsControl.tsx
  app/client/src/components/propertyControls/SelectDefaultValueControl.tsx
  app/client/src/components/propertyControls/TableComputeValue.tsx
  app/client/src/components/propertyControls/TableInlineEditValidationControl.tsx
  app/client/src/components/propertyControls/WrappedCodeEditorControl.tsx
  app/client/src/globalStyles/CodemirrorHintStyles.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/selectors/navigationSelectors.ts
  app/client/src/utils/NavigationSelector/JsChildren.ts
  app/client/src/utils/NavigationSelector/common.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: Enhancement, Test Plan Approved

#27222 Fix/fix chart layout
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/EChartsConfigurationBuilder.ts
  app/client/src/widgets/ChartWidget/component/EChartsDatasetBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/EChartsDatasetBuilder.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsElementVisibilityCalculator.test.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsElementVisibilityCalculator.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsLayoutBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsLayoutBuilder.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsXAxisLayoutBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsXAxisLayoutBuilder.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsYAxisLayoutBuilder.test.ts
  app/client/src/widgets/ChartWidget/component/LayoutBuilders/EChartsYAxisLayoutBuilder.ts
  app/client/src/widgets/ChartWidget/component/helpers.ts
  app/client/src/widgets/ChartWidget/component/index.tsx
  app/client/src/widgets/ChartWidget/constants.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
Labels: Bug, Chart Widget, App Viewers Pod, Needs Triaging, Test Plan Approved

#26692 feat: email notification
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/EmailConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/InstanceAdminControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/UserControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/EmailService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/EmailServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/EmailServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/EmailServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/UserServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvManagerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserAndAccessManagementServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserSignupImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserAndAccessManagementServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce_compatible/UserAndAccessManagementServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/resources/email/ce/forgotPasswordTemplate.html
  app/server/appsmith-server/src/main/resources/email/ce/instanceAdminInviteTemplate.html
  app/server/appsmith-server/src/main/resources/email/ce/inviteWorkspaceExistingUserTemplate.html
  app/server/appsmith-server/src/main/resources/email/ce/inviteWorkspaceNewUserTemplate.html
  app/server/appsmith-server/src/main/resources/email/commentAddedTemplate.html
  app/server/appsmith-server/src/main/resources/email/emailVerificationTemplate.html
  app/server/appsmith-server/src/main/resources/email/forgotPasswordTemplate.html
  app/server/appsmith-server/src/main/resources/email/inviteUserTemplate.html
  app/server/appsmith-server/src/main/resources/email/welcomeUserTemplate.html
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/EmailServiceCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/UserSignupTest.java
Labels: Enhancement, High, Team Managers Pod, Test Plan Approved, RBAC

#27373 chore: move MySQL datasource validation tests to a separate file
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySQLDatasourceValidationTest.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Backend, MySQL, Task, skip-changelog, BE Coders Pod, Up for grabs, Integrations Pod, skip-testPlan

#27246 feat: Add branch protection rules changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Enhancement, Git Version Control, skip-changelog, skip-testPlan, Git Pod

#27392 fix: changed the button text to new when no apps are present in workspace
  app/client/src/ce/pages/Applications/ApplicationCardList.tsx
Labels: Bug, Needs Triaging, skip-testPlan, Integrations Pod General

#27405 chore: revert update dockerfile to install mongodb v6.x (#26856)
  Dockerfile
Labels: DevOps Pod

#27281 feat: add property hideNoneIcon to IconSelectControl
  app/client/src/components/propertyControls/IconSelectControl.test.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/components/propertyControls/__snapshots__/IconSelectControl.test.tsx.snap
  app/client/src/widgets/IconButtonWidget/widget/index.tsx
Labels: Bug, Enhancement, Input Widget, App Viewers Pod, Low, Production, Needs Triaging, Menu Button Widget, Test Plan Approved

#27407 fix: bump postcss version
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, skip-docs, skip-testPlan, skip-documentation

#27359 test: cypress - Added tests for Icon Widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/IconButton_2_spec.ts
  app/client/cypress/limited-tests.txt
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test Plan Approved, Test

#27383 fix: fix invite flow while inviting via admin settings
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
Labels: Bug, skip-testPlan

#27406 feat: Update isLoading peoperty of widgets after API/Query execution
  app/client/src/ce/actions/evaluationActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/workers/Evaluation/evaluationUtils.test.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/sagas/WidgetLoadingSaga.ts
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/Evaluation/__tests__/setters.test.ts
Labels: Bug, Enhancement, JS Evaluation, High, Needs Triaging, FE Coders Pod, Test Plan Approved

#27368 fix: Fix escaping for _multiple_ single quotes in env variables
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Bug

#27371 fix: State management for tenant activation
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: Bug, skip-testPlan

#27018 chore: Remove position props from List and Table widgets
  app/client/cypress/fixtures/listwidgetdsl.json
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/layoutSystems/autolayout/index.ts
  app/client/src/layoutSystems/common/utils/ComponentSizeUtils.ts
  app/client/src/layoutSystems/fixedlayout/index.ts
  app/client/src/layoutSystems/withLayoutSystemHOC.tsx
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/selectors/flattenedChildCanvasSelector.ts
  app/client/src/utils/widgetRenderUtils.tsx
  app/client/src/widgets/ListWidget/widget/derived.js
  app/client/src/widgets/ListWidget/widget/derived.test.js
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.test.ts
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
  app/client/src/widgets/ListWidgetV2/widget/defaultProps.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidget/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/withWidgetProps.tsx
Labels: UI Builders Pod, Task, skip-changelog, skip-docs, skip-testPlan, Responsive Widget

#27410 chore: Updating instance admin emails input field to tag input field for better UX
  app/client/src/ce/constants/SocialLogin.tsx
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/reducers/settingsReducer.ts
  app/client/src/ce/sagas/JSFunctionExecutionSaga.ts
  app/client/src/ce/sagas/WorkspaceSagas.ts
  app/client/src/ee/pages/Applications/ApplicationCardList.tsx
  app/client/src/ee/pages/Applications/WorkspaceMenu.tsx
  app/client/src/pages/AdminSettings/FormGroup/TagInputField.tsx
Labels: Settings, Task, skip-changelog, Team Managers Pod

#27348 test: Cypess | Oracle DS validations added (Part 4) + CI Stabilize
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/e2e/Regression/Apps/CommunityIssues_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/EmbedSettings/EmbedSettings_spec.js
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/DSDocs_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
  app/client/cypress/limited-tests.txt
  app/client/src/ce/constants/tenantConstants.ts
Labels: skip-changelog, Test Plan Approved, Test

#27421 fix: Fixing any potential merge conflicts as files changed directly on ee
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/Form.tsx
Labels: Bug, skip-testPlan

#27401 chore: remove widget discovery feature flag from code
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/Explorer/index.tsx
  app/client/src/pages/Editor/WidgetSidebar.tsx
Labels: App Viewers Pod, Low, Task, skip-changelog, Test Plan Approved, Widget Discoverability

#27429 fix: bump postcss version
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, skip-docs, skip-testPlan, skip-documentation

#27382 fix: Remove duplicate debugger logs for showModal function
  app/client/src/sagas/ActionExecution/ModalSagas.ts
  app/client/src/sagas/ModalSagas.ts
Labels: Bug, UX Improvement, Low, Production, Debugger, FE Coders Pod, Test Plan Approved
