Repository appsmithorg/appsmith, pull requests merged in 2023-03, with the labels that each got.

#21050 fix: onboarding widget selection
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Bug, High, Production, Needs Triaging, Onboarding, Release Blocker, New Developers Pod, skip-testPlan

#20633 fix: Create entries for new reactive nodes in dependencyMap
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
  app/client/src/workers/common/DependencyMap/index.ts
  app/client/src/workers/common/DependencyMap/test.ts
  app/client/src/workers/common/DependencyMap/utils.ts
Labels: Bug, App Viewers Pod, JS Objects, FE Coders Pod, Test Plan Approved, List Widget V2

#21057 fix: Fixes deletion of rest api body for get requests
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/APIEditor/helpers.ts
  app/client/src/transformers/RestActionTransformer.ts
Labels: Bug, Release, Needs Triaging, BE Coders Pod, REST API plugin, Test Plan Approved, Integrations Pod

#20625 ci: Fix/debug failed post perf tests
  .github/workflows/perf-test.yml
Labels: skip-changelog, CI

#20933 feat: Add a restore point for Applications
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ApplicationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationSnapshot.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration004CreateIndexForApplicationSnapshotMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ApplicationSnapshotRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomApplicationSnapshotRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomApplicationSnapshotRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/ApplicationSnapshotRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationSnapshotRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationSnapshotRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationSnapshotService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationSnapshotServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ImportExportApplicationServiceImplV2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ApplicationSnapshotRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationSnapshotServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
Labels: Enhancement, skip-testPlan

#21093 test: Change mapping port for GITEA to 3001
  .github/workflows/ci-test.yml
  app/client/cypress/fixtures/datasources.json
Labels: skip-changelog, Test, skip-testPlan

#21019 test: Flaky test fix
  app/client/cypress/fixtures/CMSdsl.json
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Regression_TestSuite/Application/EchoApiCMS_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Autocomplete/Autocomplete_JS_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_API_Pane_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Chart/Chart_Widget_Loading_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicChildWidgetInteraction_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Modal/Modal_focus_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/DeleteWorkspace_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/GraphQL_spec.ts
  app/client/cypress/locators/CMSApplocators.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
Labels: skip-changelog, Test Plan Approved, Test

#21038 fix: Removed on page load edges from layout model
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Layout.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration004ResetOnPageLoadEdgesInLayouts.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/LayoutMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/resources/test_assets/ActionCollectionServiceTest/mockObjects.json
Labels: Bug, Critical, BE Coders Pod, Data Platform Pod, Deploy App

#20718 chore: Disable audit logs during function dry runs
  app/client/src/workers/Evaluation/functionDeterminer.ts
Labels: skip-changelog, Stale, skip-testPlan

#20994 fix: Select widget isOptionSelected > TypeError: Cannot read properties of null (reading 'value')
  app/client/src/widgets/SelectWidget/component/index.tsx
Labels: Bug, Select Widget, App Viewers Pod, High, Sentry, skip-testPlan

#20812 fix: Improved app nav callouts
  app/client/package.json
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AppViewer/BackToHomeButton.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/AppViewer/AppPage.styled.tsx
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/AppViewer/Navigation/Sidebar.styled.tsx
  app/client/src/pages/AppViewer/Navigation/Sidebar.tsx
  app/client/src/pages/AppViewer/Navigation/TopInline.styled.tsx
  app/client/src/pages/AppViewer/Navigation/TopInline.tsx
  app/client/src/pages/AppViewer/Navigation/components/ApplicationName.tsx
  app/client/src/pages/AppViewer/Navigation/components/CollapseButton.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/CollapseButton.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuText.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuText.tsx
  app/client/src/pages/AppViewer/Navigation/components/MobileNavToggle.tsx
  app/client/src/pages/AppViewer/Navigation/components/MoreDropdownButton.styled.tsx
  app/client/src/pages/AppViewer/Navigation/components/MoreDropdownButton.tsx
  app/client/src/pages/AppViewer/Navigation/components/TopHeader.tsx
  app/client/src/pages/AppViewer/Navigation/index.tsx
  app/client/src/pages/AppViewer/PageMenu.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
  app/client/src/pages/AppViewer/utils.ts
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/ButtonGroupSetting.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/ColorStyleIcon.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/SwitchSetting.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/index.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/MainContainer.tsx
  app/client/src/pages/Editor/WidgetsEditor/CanvasContainer.tsx
  app/client/src/pages/Editor/WidgetsEditor/NavigationPreview.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
  app/client/test/setup.ts
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, App Navigation

#20963 fix: remove parent list widget from child widget level data
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/ListV2_max_nested_List_widget_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/ListV2_nested_List_widget_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicChildWidgetInteraction_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Meta_Hydration_ClientSide_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Meta_Hydration_ServerSide_spec.js
  app/client/cypress/support/commands.js
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.test.ts
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
Labels: Bug, App Viewers Pod, List Widget V2

#21060 feat: responsive query sort control field
  app/client/package.json
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/SortingControl.tsx
  app/client/yarn.lock
Labels: Enhancement, potential-duplicate, Task, New Developers Pod, IDE Navigation

#20776 chore: Yarn workspaces + Storybook + WDS
  app/client/.babelrc
  app/client/.eslintrc.json
  app/client/.gitignore
  app/client/build.sh
  app/client/craco.common.config.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicChildWidgetInteraction_spec.js
  app/client/package.json
  app/client/packages/storybook/.eslintrc.json
  app/client/packages/storybook/.storybook/addons/theming/register.js
  app/client/packages/storybook/.storybook/appsmith-theme.js
  app/client/packages/storybook/.storybook/decorators/resizor.js
  app/client/packages/storybook/.storybook/decorators/theming.js
  app/client/packages/storybook/.storybook/main.js
  app/client/packages/storybook/.storybook/manager-head.html
  app/client/packages/storybook/.storybook/manager.js
  app/client/packages/storybook/.storybook/preview.js
  app/client/packages/storybook/.storybook/styles.css
  app/client/packages/storybook/package.json
  app/client/packages/storybook/tsconfig.json
  app/client/packages/wds/package.json
  app/client/packages/wds/src/components/Button/Button.stories.mdx
  app/client/packages/wds/src/components/Button/Button.tsx
  app/client/packages/wds/src/components/Button/index.styled.tsx
  app/client/packages/wds/src/components/Button/index.tsx
  app/client/packages/wds/src/components/Button/utils.ts
  app/client/packages/wds/src/components/ButtonGroup/ButtonGroup.stories.tsx
  app/client/packages/wds/src/components/ButtonGroup/ButtonGroup.tsx
  app/client/packages/wds/src/components/ButtonGroup/index.styled.tsx
  app/client/packages/wds/src/components/ButtonGroup/index.tsx
  app/client/packages/wds/src/components/Spinner/index.styled.tsx
  app/client/packages/wds/src/components/Spinner/index.tsx
  app/client/packages/wds/src/components/Text/Text.tsx
  app/client/packages/wds/src/components/Text/index.styled.tsx
  app/client/packages/wds/src/components/Text/index.tsx
  app/client/packages/wds/src/components/index.stories.mdx
  app/client/packages/wds/src/index.ts
  app/client/packages/wds/src/styles/globals.css
  app/client/packages/wds/src/styles/tokens/raw.css
  app/client/packages/wds/src/styles/tokens/semantic.css
  app/client/packages/wds/src/utils/colors.ts
  app/client/packages/wds/src/utils/createTokens.ts
  app/client/packages/wds/src/utils/typography.ts
  app/client/packages/wds/tsconfig.json
  app/client/src/ce/AppRouter.tsx
  app/client/src/components/wds/Button/index.tsx
  app/client/src/components/wds/Button/withRecaptcha.tsx
  app/client/src/components/wds/Menu/index.tsx
  app/client/src/components/wds/Select/index.tsx
  app/client/src/components/wds/Showcase.tsx
  app/client/src/components/wds/Tooltip/index.tsx
  app/client/src/components/wds/Tooltip/withTooltip.tsx
  app/client/src/components/wds/index.tsx
  app/client/src/index.tsx
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/tsconfig.json
  app/client/yarn.lock
Labels: skip-changelog, Widget design system

#21103 fix: Optimise Modal open performance
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/pages/common/CanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/utils/helpers.tsx
Labels: Bug, Performance Pod, Modal Widget, App Viewers Pod, High, Regressed, IDE, Needs Triaging, New Developers Pod, skip-testPlan, Performance

#21105 feat: Add api to update mulitple layout
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/LayoutControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/UpdateMultiplePageLayoutDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: Enhancement, skip-testPlan

#21037 fix: UI inconsistency in log tab
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Chart/Chart_Widget_Loading_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/DeleteWorkspace_spec.js
  app/client/package.json
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/Debugger/ContextualMenu.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/ErrorLogItem.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogCollapseData.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogEntityLink.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/yarn.lock
Labels: Bug, Test Plan Approved

#21052 fix: Ensure backward compatibility w.r.t. statusCode and response.body in case of errors
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/ApiTests/API_Bugs_Spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/ApiTests/API_MultiPart_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Array_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/S3_1_spec.js
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionExecutionResult.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/constants/ErrorMessages.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/exceptions/MongoPluginErrorMessages.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/exceptions/MySQLErrorMessages.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/exceptions/PostgresErrorMessages.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/exceptions/RestApiErrorMessages.java
Labels: Bug, Backend, Low, Task, BE Coders Pod, Test Plan Approved, Data Platform Pod, Error Handling

#21110 test: Fix to remove previous failing tests from Git Comment history
  .github/workflows/ci-test.yml
Labels: skip-changelog, Test, skip-testPlan

#21120 test: Flaky test fix
  app/client/cypress/integration/Regression_TestSuite/Application/PgAdmin_spec.js
  app/client/cypress/integration/Regression_TestSuite/Application/PromisesApp_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ActionExecution/ClearStore_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Autocomplete/Autocomplete_JS_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/BindButton_Text_WithRecaptcha_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/Widget_loading_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/AbortAction_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug20841_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/GitBugs_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Pages_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Scrolling_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/FormNativeToRawTests/Mongo_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitImport/GitImport_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitBugs_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitWithJSLibrary/GitwithCustomJSLibrary_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/CreateNewApp_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/EntityBottomBar_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Widget_Error_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/PeekOverlay/PeekOverlay_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Refactoring/Refactoring_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/SettingsPane/PageSettings_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Templates/ForkTemplateToGitConnectedApp.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Checkbox/CheckboxGroup_withQuery_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicServerSideData_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/columnTypes/select_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/DeleteWorkspace_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/GraphQL_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/MockDBs_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/DSDocs_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/EvaluatedValuePopUp_spec.ts
  app/client/cypress/locators/GuidedTour.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/queryCommands.js
Labels: skip-changelog, Test, skip-testPlan

#20928 fix: column dragging and column reordering
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/freeze_column_spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Constants.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/widgets/TableWidgetV2/component/StaticTable.tsx
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/HeaderCell.tsx
  app/client/src/widgets/TableWidgetV2/component/header/TableColumnHeader.tsx
  app/client/src/widgets/TableWidgetV2/component/header/VirtualTableInnerElement.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/utilities.test.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Bug, Table Widget, App Viewers Pod, Low, Release, Regressed, Needs Triaging, medium, Table Widget V2

#21162 fix: Not able to merge latest release
  app/client/packages/wds/src/components/index.stories.mdx
Labels: Bug

#21161 fix: revert color change
  app/client/src/components/editorComponents/ResizeStyledComponents.autolayout.tsx
  app/client/src/constants/Colors.tsx
  app/client/src/resizable/resize/index.autolayout.tsx
Labels: Bug, skip-testPlan

#21138 fix: left hand assignment error
  app/client/src/workers/Evaluation/__tests__/evaluate.test.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/validations.ts
Labels: Bug, Needs Triaging, skip-docs, skip-testPlan

#21199 fix: Adding a check for telemetry checkbox unchecked state even though the setting should be on
  app/client/src/pages/Settings/SettingsForm.tsx
Labels: Bug, Critical, Release, Telemetry, Needs Triaging, Release Blocker, New Developers Pod, skip-testPlan

#21202 fix: Reverting new icons for app layout
  app/client/src/pages/Editor/MainContainerLayoutControl.tsx
Labels: Bug, Release, Regressed, Needs Triaging, medium, skip-testPlan, Mobile Pod, Responsive Canvas

#21137 ci: Added ci-debugging.yml to enable local debugging
  .github/workflows/build-docker-image.yml
  .github/workflows/ci-debugging.yml
Labels: skip-changelog, CI

#21225 ci: Use release Segment Key
  .github/workflows/client-build.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21084 feat: Embeded PostgreSQL with mockdb data for self-hosted
  Dockerfile
  deploy/docker/entrypoint.sh
  deploy/docker/templates/mockdb_postgres.sql
  deploy/docker/templates/supervisord/postgres.conf
  deploy/docker/templates/users_postgres.sql
Labels: Enhancement, Deployment, DevOps Pod

#20974 feat: responsive where clause control
  app/client/src/components/formControls/WhereClauseControl.tsx
Labels: Enhancement, potential-duplicate, Task, New Developers Pod, IDE Navigation, skip-testPlan

#21229 Improved error log while import application
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImplV2.java
Labels: skip-testPlan

#21094 test: Merge table.ts & tableV2.ts pages
  app/client/cypress/integration/Regression_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/AllWidgets_Reset_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Moment_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/CreateNewApp_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Widget_Error_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Childwigets/Listv2_Button_Widget_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Childwigets/Listv2_Button_Widget_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV1/TableFilter1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV1/TableFilter2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2Filter2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Url_Column_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/DeleteWorkspace_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datatypes/MySQL_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/Mongo_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/Postgres1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Params/PassingParams_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Array_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/BooleanEnum_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Character_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/DateTime_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Json_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Numeric_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/UUID_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.ts
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/Pages/TableV2.ts
Labels: skip-changelog, Test Plan Approved, Test

#20778 feat: file picker added and access token generation
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/S3_1_spec.js
  app/client/public/index.html
  app/client/src/actions/datasourceActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/reducers/entityReducers/datasourceReducer.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/selectors/editorSelectors.tsx
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuthResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/SaasControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Enhancement, Frontend, Google Sheets, Test Plan Approved, Integrations Pod

#20999 chore: improvements added in gsheet form config for feature flag
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/utils.test.ts
  app/client/src/components/formControls/utils.ts
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/form.json
Labels: Task, Google Sheets, Test Plan Approved, Integrations Pod

#21078 ci: build lite version of deploy preview
  .github/workflows/client-build.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/server-build.yml
Labels: skip-changelog, CI

#20930 feat: Responsive Button Group
  app/client/src/utils/layoutPropertiesUtils.ts
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
  app/client/src/widgets/ButtonGroupWidget/index.ts
Labels: Stale

#20959 fix: unclear message when async action is used in sync fields
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
  app/client/src/globalStyles/CodemirrorHintStyles.ts
  app/client/src/workers/Linting/constants.ts
  app/client/src/workers/Linting/index.ts
  app/client/src/workers/Linting/lint.worker.ts
  app/client/src/workers/Linting/utils.ts
Labels: Bug, Needs Triaging

#21209 fix: Show downstream error message for DynamoDB (#21042)
  app/server/appsmith-plugins/dynamoPlugin/src/main/java/com/external/plugins/DynamoPlugin.java
Labels: Bug, Low, Needs Triaging, BE Coders Pod, Test Plan Approved, DynamoDB, Integrations Pod

#21260 fix: Revert container-internal communication when using IPv6
  app/client/docker/templates/nginx-app-http.conf.template
  app/client/docker/templates/nginx-app-https.conf.template
  app/client/docker/templates/nginx-app.conf.template
  app/client/start-https.sh
  deploy/docker/templates/nginx/nginx-app-http.conf.template.sh
  deploy/docker/templates/nginx/nginx-app-https.conf.template.sh
Labels: Bug

#21264 fix: closedFn-undefined
  app/client/src/workers/Evaluation/evaluate.ts
Labels: Bug, Test Plan Approved

#21171 chore: [lazy canvas rendering] check observer exist before disconnecting while cleaning up
  app/client/src/widgets/withLazyRender.tsx
Labels: App Viewers Pod, High, skip-changelog, All Widgets, Sentry

#21216 feat: Add option to delete a application snapshot
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationSnapshotServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceUnitTest.java
Labels: Enhancement, Task, skip-testPlan

#20960 fix: 'Form.hasChanges' showing lint error
  app/client/cypress/fixtures/formChangeDSL.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/formHasChanged_Spec.ts
  app/client/src/actions/evaluationActions.ts
Labels: Bug, App Viewers Pod, Low, Form Widget, Needs Triaging, JS Linting & Errors, FE Coders Pod, Test Plan Approved

#21291 chore: Server Setup Readme Update
  contributions/ServerSetup.md
Labels: Task, skip-changelog

#21283 test: Cypress - Guided tour spec fix
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/GuidedTour_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#21286 chore: [Usage pulse] view mode check should factor in the widget path in URL
  app/client/src/usagePulse/index.ts
Labels: skip-changelog

#21296 chore: release v1.9.11 - cherry-pick
  app/client/src/usagePulse/index.ts
  app/client/src/widgets/withLazyRender.tsx
Labels: skip-changelog

#21239 fix: handle undefined value when git status api fails
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
Labels: Bug, Frontend, Git Version Control, Git Pod

#21292 test: Cypress - Fix flaky tests
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicChildWidgetInteraction_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/DeleteWorkspace_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/JSOnLoad_cyclic_dependency_errors_spec.js
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test Plan Approved, Test

#21219 ci: CI optimisation to reduce ci-test run time and modularise docker image building
  .github/workflows/build-docker-image.yml
  .github/workflows/ci-debugging.yml
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/apply-patches.js
  app/client/cypress/package.json
  ci-debug.sh
Labels: skip-changelog, CI

#21323 test: fixing cypress dependency issues
  app/client/cypress/package.json
Labels: skip-changelog, Test

#21318 ci: Added steps to use the pre built docker image instead of building a new one
  .github/workflows/integration-tests-command.yml
  .github/workflows/perf-test.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21234 fix: listwidget in formwidget
  app/client/cypress/fixtures/listv2PaginationDsl.json
  app/client/src/utils/widgetRenderUtils.tsx
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, High, Release, Form Widget, Needs Triaging, List Widget, List Widget V2

#21235 test: TED OAuth Automation
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/CreateNewApp_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/AuthenticatedApiWithOAuth_spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Automation Test

#21329 fix: list widget in form widget
  app/client/cypress/fixtures/listv2PaginationDsl.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/ListV2_PageNo_PageSize_spec.js
  app/client/src/utils/widgetRenderUtils.tsx
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, Critical, High, Release, Form Widget, Needs Triaging, List Widget

#21324 chore: resolved dependency vulnerabilities
  app/client/package.json
  app/client/packages/storybook/package.json
  app/client/yarn.lock
Labels: Dependencies, UI Builders Pod, skip-changelog, Test Plan Approved

#21339 ci: Updated the path to download the artifact in perf-test.yml
  .github/workflows/perf-test.yml
Labels: skip-changelog, CI

#21341 ci: Fixing the working directory in perf-test.yml
  .github/workflows/perf-test.yml
Labels: skip-changelog, CI

#21340 chore: Hotfix Release v1.9.11.1
  .github/workflows/build-docker-image.yml
  .github/workflows/ci-debugging.yml
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/perf-test.yml
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/apply-patches.js
  app/client/cypress/fixtures/listv2PaginationDsl.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/ListV2_PageNo_PageSize_spec.js
  app/client/cypress/package.json
  app/client/src/utils/widgetRenderUtils.tsx
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  ci-debug.sh
Labels: Release Promotion, skip-testPlan

#21337 fix: Add default value for hasChanges meta property in Form Widget
  app/client/cypress/fixtures/formWithtabdsl.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug18369_Spec.ts
  app/client/src/widgets/FormWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, Low, Form Widget, Needs Triaging

#21355 ci: fix flaky test publishApplication_withPageIconSet_success
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Bug, skip-changelog, CI, skip-testPlan

#21183 fix: welcome page get started button
  app/client/src/pages/setup/GetStarted.tsx
Labels: Bug, High, Release, Needs Triaging, New Developers Pod, Welcome Screen, Test Plan Approved

#21313 fix: Adding a fix for copy clipboard URL not working on HTTP domain
  app/client/cypress/integration/Regression_TestSuite/EnterpriseTests/AdminSettings/Admin_settings_spec.js
  app/client/cypress/locators/GoogleForm.json
  app/client/cypress/support/AdminSettingsCommands.js
  app/client/src/ce/constants/forms.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/client/src/pages/Settings/SettingsForm.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: Bug, Needs Triaging, Invite users, Team Managers Pod

#21366 fix: cloned application is not published
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
Labels: Bug, Production, Needs Triaging, Git Version Control, Git Pod

#21320 feat: Updated appsmithctl node version to v16.x
  Dockerfile
Labels: Enhancement, DevOps Pod

#21399 ci: Fix for failed spec comment issue
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21011 chore: Add telemetry for error handling phase1
  app/client/src/components/editorComponents/Debugger/EntityLink.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/ErrorLogItem.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogEntityLink.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogTimeStamp.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/AppsmithConsole.ts
Labels: Task, skip-changelog, BE Coders Pod, medium, Test Plan Approved, Data Platform Pod, Error Handling

#21347 chore: fix Onboarding/CreateNewApp flaky test
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Onboarding/CreateNewApp_spec.js
Labels: Bug, Release, Needs Triaging, skip-changelog, New Developers Pod, Welcome Screen, Test Plan Approved, CI impacted

#21408 test: Cypress - Automated script for Authenticated GraphQL
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/GraphQL_spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test

#21354 chore: add redux saga testing utils
  app/client/package.json
  app/client/test/setup.ts
  app/client/yarn.lock
Labels: skip-changelog, skip-testPlan

#21304 chore: Add multiple toast for DS testing
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Bug, Low, Redshift, skip-changelog, BE Coders Pod, Test Plan Approved, Data Platform Pod, Integrations Pod, Error Handling

#21130 refactor: application detail refactor
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationDetail.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceV2Tests.java
Labels: Enhancement, Git Version Control, Task, Git Pod

#20965 feat: Add static header for CSRF protection
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
  app/client/src/api/ApiUtils.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/CSRFFilter.java
Labels: Enhancement, Test Plan Approved

#21346 chore: add pricing url and customer portal url to env var
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/utils/hooks/useOnUpgrade.ts
Labels: skip-changelog, skip-testPlan

#21257 fix: filepicker not showing in firefox issue fixed
  app/client/cypress/integration/Regression_TestSuite/Application/PromisesApp_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/Bind_API_with_List_Widget_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/Bind_Button_with_API_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/Bind_TableTextPagination_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/Bind_TableV2TextPagination_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/Bind_TableV2_Widget_API_Derived_Column_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/Bind_Table_Widget_API_Derived_Column_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Filepicker/FilePickerV2_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV1/Table_Derived_Column_Data_validation_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV1/Table_Property_JsonUpdate_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Derived_Column_Data_validation_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/TableV2_Property_JsonUpdate_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Workspace/DeleteWorkspace_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/ApiTests/API_All_Verb_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/ApiTests/API_Response_View_spec.js
  app/client/cypress/support/commands.js
  app/client/public/index.html
Labels: Bug, High, Google Sheets, Test Plan Approved, Integrations Pod

#21425 fix: role skills
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/setup/constants.ts
Labels: Bug, Test Plan Approved, skip-testPlan

#21367 chore: remove unused control in select widget
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: Bug, Select Widget, Property Pane, App Viewers Pod, Low, Production, Needs Triaging, UI Builders Pod, skip-changelog, skip-testPlan

#21369 fix: for SAAS plugins user configured values not separated
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
Labels: Bug, High, Git Version Control, Test Plan Approved, Git Pod

#19660 chore: Remove collaboration pointers from the Editor
  app/client/src/components/editorComponents/DragLayerComponent.test.tsx
  app/client/src/components/editorComponents/DraggableComponent.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/widgets/DividerWidget/widget/index.test.tsx
  app/client/src/widgets/DropdownWidget/widget/index.test.tsx
  app/client/test/testUtils.tsx
Labels: Quick effort, Task, skip-changelog, DO NOT MERGE, skip-testPlan

#21444 test: Starting Mssql DB container for running MsSQL test scripts in CI runs
  .github/workflows/ci-test.yml
  app/client/cypress/init-mssql-dump-for-test.sql
Labels: skip-changelog, Test

#21452 test: Setup MSSQL docker container for CI runs
  .github/workflows/ci-test.yml
Labels: skip-changelog, Test

#21455 ci: Init loading data into MsSQL container
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#21358 chore: sentry issue - add null checks for datatree
  app/client/src/selectors/navigationSelectors.ts
Labels: High, skip-changelog, New Developers Pod, Test Plan Approved, IDE Navigation

#21413 chore: Add cypress.env.json to gitIgnore
  .gitignore
  app/client/.gitignore
  app/client/cypress.env.json
  app/client/cypress/fixtures/REPO.ts
  app/client/cypress/fixtures/variables.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/AuditLogs/Audit_logs_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Branding/Branding_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/integration/Regression_TestSuite/EnterpriseTests/AdminSettings/Admin_settings_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/Mongo_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test Plan Approved

#21391 chore: feature flag value updated for gsheets
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: Task, Google Sheets, skip-changelog, Test Plan Approved, Integrations Pod

#21460 ci: Stop restarting MsSQL container
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#21416 chore: Added tests for leave workspace flow
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: skip-changelog

#21465 ci: Deleting duplicate specs while commenting in the pr
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#21453 chore: Refactored code for git discard flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Git Version Control, Task, skip-changelog, Tech Debt, Git Pod

#21468 fix: Add a null check for actions during Context Switching
  app/client/src/ce/sagas/ContextSwitchingSaga.ts
Labels: Bug, High, New Developers Pod, IDE Navigation, Sentry, skip-testPlan

#21451 fixes for mobile responsive bugs
  app/client/src/utils/autoLayout/AutoLayoutUtils.ts
  app/client/src/utils/autoLayout/autoLayoutTypes.ts
  app/client/src/utils/autoLayout/highlightUtils.ts
  app/client/src/utils/autoLayout/positionUtils.test.ts
  app/client/src/utils/autoLayout/positionUtils.ts
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: skip-testPlan

#21273 feature: Introduce Oracle Integration behind feature flag
  app/client/src/entities/Action/index.ts
  app/client/src/entities/FeatureFlags.ts
  app/client/src/selectors/entitiesSelector.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/CommonFieldName.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/SSLDetails.java
  app/server/appsmith-plugins/oraclePlugin/plugin.properties
  app/server/appsmith-plugins/oraclePlugin/pom.xml
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/OraclePlugin.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/utils/OracleDatasourceUtils.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/utils/OracleExecuteUtils.java
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/dependency.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/form.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/templates/DELETE.sql
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/templates/SELECT.sql
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/templates/UPDATE.sql
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/templates/meta.json
  app/server/appsmith-plugins/oraclePlugin/src/test/java/com/external/plugins/OraclePluginTest.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog1.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ExamplesWorkspaceClonerTests.java
Labels: Enhancement, Integrations Pod, Oracle SQL DB

#21349 ci: add comments for vercel-deploy-preview
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  scripts/deploy_preview.sh
Labels: skip-changelog, CI

#21446 test: Cypress - Automated basic tests for MsSQL DS
  .github/workflows/integration-tests-command.yml
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/init-mssql-dump-for-test.sql
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug19893_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Refactoring/Refactoring_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Checkbox/CheckboxGroup_withQuery_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datatypes/MySQL_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datatypes/MySQL_false_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/MySQL_Datatypes/Basic_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/MySQL_Datatypes/False_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/OnLoadTests/PostgresConnections_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Array_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/BooleanEnum_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/public/tinymce/tinymce.min.js
Labels: skip-changelog, Test Plan Approved, Test

#21477 chore: refactor discard flow for git
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/sagas/GitSyncSagas.ts
Labels: skip-changelog, skip-testPlan

#21432 chore: Generate tokens.json for figma
  app/client/packages/storybook/.storybook/decorators/theming.js
  app/client/packages/wds/package.json
  app/client/packages/wds/src/components/Button/index.styled.tsx
  app/client/packages/wds/src/constants/defaultTokens.json
  app/client/packages/wds/src/index.ts
  app/client/packages/wds/src/styles/tokens/raw.css
  app/client/packages/wds/src/tokens.json
  app/client/packages/wds/src/utils/buildTokens.ts
  app/client/packages/wds/src/utils/createTokens.ts
  app/client/packages/wds/tokens.json
  app/client/packages/wds/tsconfig.json
  app/client/yarn.lock
Labels: skip-changelog

#21514 chore: add utility to check if a permission is for an entity
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AclPermission.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/acl/AclPermissionTest.java
Labels: skip-changelog, skip-testPlan

#21523 chore: Updating the tooltips for javascript origin and redirect URLs on google auth setup page
  app/client/src/ce/pages/AdminSettings/config/authentication/index.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/pages/Settings/FormGroup/group.tsx
Labels: UX Improvement, skip-changelog, Team Managers Pod, SSO, medium, skip-testPlan

#20086 feat: migrate JsonIgnore to JsonView
  app/client/cypress/support/commands.js
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionExecutionRequest.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AuthenticationDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Condition.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Policy.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/RequestParamDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/TemplateCollection.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/UploadedFile.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/views/Views.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Action.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationPage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitApplicationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitAuth.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Layout.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Organization.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Plugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Tenant.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/User.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserRole.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Workspace.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionCollectionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ActionViewDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/DslActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitAuthDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/LayoutActionUpdateDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageNameIdDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ObjectMapperUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ActionConfigurationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ActionMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ApplicationMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ApplicationResource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/DatasourceMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/JSObjectMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/LayoutMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/PageMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/models/export/ThemeMetadata.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/JacksonModelViewTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: Enhancement

#21543 fix: corrections for eslint and prettier
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/BindButton_Text_WithRecaptcha_spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/BooleanEnum_Spec.ts
  app/client/cypress/support/commands.js
  app/client/src/actions/recentEntityActions.ts
  app/client/src/components/autoHeightOverlay/ui/AutoHeightLimitHandleDot.test.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/TabView/TabView.test.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
  app/client/src/pages/Editor/gitSync/Tabs/__tests__/Deploy.test.tsx
  app/client/src/pages/workspace/__tests__/settings.test.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/WorkerUtil.test.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.test.ts
  app/client/src/workers/Evaluation/__tests__/validations.test.ts
  app/client/src/workers/Evaluation/fns/utils/__tests__/Promisify.test.ts
  coverage-summary.json
Labels: Code Refactoring, skip-testPlan

#21328 fix: hide label font size in autolayout
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/common.ts
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
Labels: Stale

#21550 test: Cypress - Automated tests for Airtable datasource
  .github/workflows/integration-tests-command.yml
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/AbortAction_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug14037_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/MySQL_Datatypes/Basic_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/MySQL_Datatypes/False_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.js
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/S3_1_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, Test Plan Approved, Test

#21270 chore: batch property updates for column editable properties #21294
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControlV2.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
Labels: Table Widget, App Viewers Pod, skip-changelog, Performance

#21566 chore: fix merge conflict with ee
  app/client/src/selectors/entitiesSelector.ts
Labels: skip-changelog, skip-docs, skip-testPlan

#21469 fix: Fix command interpolation error in replicaSet check
  deploy/docker/entrypoint.sh
Labels: Bug

#21166 chore: helpers for create default application role flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AppsmithRole.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/ce/PolicyGeneratorCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/ce/RoleGraphCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/WorkspaceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/PermissionGroup.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/MemberInfoDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PermissionGroupInfoDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/WorkspaceApplicationsDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/WorkspaceMemberInfoDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MemberInfoCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/PermissionGroupInfoCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/TextUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/AppsmithComparatorsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: skip-changelog, Team Managers Pod, RBAC, skip-testPlan

#21150 fix: Marker is not showing title tooltip when passed to marker
  app/client/src/widgets/MapWidget/component/Marker.tsx
Labels: Bug, Map Widget, App Viewers Pod, High, Regressed, Needs Triaging, Test Plan Approved

#21591 ci: Removing the old combined failed spec file
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21431 chore: Remove RTS slim image
  .github/workflows/github-release.yml
  .github/workflows/test-build-docker-image.yml
  app/rts/Dockerfile
Labels: skip-changelog

#21601 ci: Updated the combined_failed_spec_ci path in ci-test.yml
  .github/workflows/ci-test.yml
Labels: skip-changelog, CI

#21586 chore: Format files to match prettier rules and exclude third-party files
  app/client/.prettierignore
  app/client/src/assets/icons/readme.md
  app/client/src/constants/defs/browser.json
  app/client/src/constants/defs/ecmascript.json
  app/client/src/constants/defs/moment.json
  app/client/src/constants/defs/xmlParser.json
  app/client/src/enterprise/README.md
  app/client/src/pages/Editor/SaaSEditor/__data__/FinalState.json
Labels: skip-changelog

#21442 ci: Add lint check to the build step
  .github/workflows/client-build.yml
  app/client/.prettierignore
  app/client/cypress/.eslintrc.json
  app/client/cypress/cypress-docker-compose.yml
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/AbortAction_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/Bug14037_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/MySQL_Datatypes/Basic_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/QueryPane/Mongo_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/tsconfig.json
  app/client/package.json
  app/client/src/mockResponses/ApplicationsNewMockResponse.json
  app/client/src/mockResponses/CreateWorkspaceMockResponse.json
  app/client/src/mockResponses/FetchReleasesMockResponse.json
  app/client/src/pages/Editor/GuidedTour/app.json
  app/client/src/pages/Editor/JSEditor/readme.md
  app/client/src/pages/Editor/SaaSEditor/__data__/InitialState.json
Labels: skip-changelog, CI

#21609 ci: Removed the artifact deleting as we need the artifact in case of rerun on cancel
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21461 chore: update spacing between elements in git sync modal
  app/client/src/pages/Editor/gitSync/GitSyncModal.tsx
  app/client/src/pages/Editor/gitSync/Menu.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/pages/Editor/gitSync/components/StyledComponents.tsx
  app/client/src/pages/Editor/gitSync/components/UserGitProfileSettings.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/StyledComponents.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/index.tsx
Labels: Low, Git Version Control, Task, skip-changelog, Test Plan Approved, Git Pod

#21569 chore: Add ONE_CLICK_BINDING feature flag for the one click binding e…
  app/client/src/entities/FeatureFlags.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.yml
Labels: App Viewers Pod, Task, skip-changelog, One-click Binding

#21433 ci: storybook build and deploy for appsmith wds
  .github/workflows/build-wds-preview.yml
  .github/workflows/wds-vercel-preview.yml
  app/client/build.sh
Labels: Task, Deploy Preview, DevOps Pod

#21492 fix: performance improvements for js editor
  app/client/src/components/editorComponents/CodeEditor/EditorConfig.ts
  app/client/src/components/editorComponents/CodeEditor/MarkHelpers/bindingMarker.ts
  app/client/src/components/editorComponents/CodeEditor/MarkHelpers/entityMarker.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/markHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/selectors/navigationSelectors.ts
Labels: Bug, Performance Pod, High, Regressed, Community Reported, Needs Triaging, New Developers Pod, IDE Navigation, Performance

#21414 feat: Add plugin info to analytics
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Enhancement, Frontend, Datasources, Low, Low effort, Task, Up for grabs, Test Plan Approved, Integrations Pod

#21620 chore: Add "Installation Started" event
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  deploy/docker/entrypoint.sh
Labels: skip-changelog

#21634 ci: fix Command_Click_Navigation_spec test
  app/client/src/selectors/navigationSelectors.ts
Labels: skip-changelog, CI

#21661 ci: Deleting the combined-failed-spec-ci in ci-test-result
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21614 test: Cypress - Fix flaky tests
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Git/GitSync/RegenerateSSHKey_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#21663 ci: Reverting the use of combined-failed-spec-ci artifact instead of cache
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21600 fix: table ISO 8061 format bug for v1 and v2 version
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV1/TableBugs_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/TableV2/Date_column_editing_spec.js
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/ColumnControl.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data.ts
Labels: Bug, App Viewers Pod, High, Needs Triaging, Test Plan Approved, Table Widget V2

#21596 fix: Don't disclose sensitive info in case of DuplicateKeyException (#21568)
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/util/DuplicateKeyExceptionUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/AppsmithErrorTest.java
Labels: Bug, Critical, High, Needs Triaging, BE Coders Pod, Data Platform Pod, Error Handling

#21669 ci: Updated the workflow files to use actions/cache@v3
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21472 fix: reset page number server side pagination is just enabled in List widget
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_BasicClientSideData_spec.js
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, Test Plan Approved, List Widget V2

#21671 chore: JUnit TC For Many Form Update
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginFormsTest.java
Labels: Mongo, Test Plan Approved, Integrations Pod

#21031 feat: default selected item
  app/client/cypress/fixtures/Listv2/ListV2_Reset_dsl.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_dataIdentifierProperty_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_defaultSelectedItem_spec.js
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/reducers/entityReducers/metaWidgetsReducer.test.ts
  app/client/src/reducers/entityReducers/metaWidgetsReducer.ts
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.test.ts
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/ListWidgetV2/widget/propertyConfig.test.ts
  app/client/src/widgets/ListWidgetV2/widget/propertyConfig.ts
Labels: Enhancement, App Viewers Pod, Community Reported, Needs Triaging, List Widget, medium, Test Plan Approved

#21697 fix: NPE fixed for file uploads
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
Labels: Bug, Task, skip-testPlan

#21706 ci: Fix for combined-failed-spec-ci cache not found issue
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#21317 fix: Selected Widget Visibility
  app/client/cypress/fixtures/explorerHiddenWidgets.json
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/DynamicHeight/DynamicHeight_Form_With_SwitchGroup_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/ExplorerTests/Entity_Explorer_Select_Widget_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Canvas_Context_Bug_Fixes.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/IDE/Canvas_Context_Selected_Widgets_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Modal/Modal_focus_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/widgetCommands.js
  app/client/src/actions/widgetActions.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/src/sagas/WidgetSelectUtils.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/selectors/widgetSelectors.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ModalWidget/widget/index.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: Bug, Entity Explorer, Low, Production, Regressed, IDE, Task, New Developers Pod, Test Plan Approved, IDE Navigation

#21599 fix: MongoDB Invalid DB Name Error Msg
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/exceptions/MongoPluginErrorMessages.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginDatasourceTest.java
Labels: Bug, Backend, Low, Mongo, BE Coders Pod, Up for grabs, Test Plan Approved, Integrations Pod

#21714 test: Cypress - Welcome screen - Before hook FailureFix - CI runs
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#21685 chore: infra structure changes for the Application share
  app/client/src/ce/constants/workspaceConstants.ts
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/ce/reducers/uiReducers/workspaceReducer.ts
  app/client/src/pages/workspace/SettingsPageHeader.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AppsmithRole.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/ce/PolicyGeneratorCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/ce/RoleGraphCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/WorkspaceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/PermissionGroup.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/MemberInfoDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PermissionGroupInfoDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/WorkspaceApplicationsDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/WorkspaceMemberInfoDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MemberInfoCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/PermissionGroupInfoCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/TextUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/AppsmithComparatorsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationFetcherCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: skip-changelog, Team Managers Pod, RBAC, skip-testPlan

#21679 chore: improve husky and lint-staged checks
  app/client/.eslintrc.json
  app/client/.flowconfig
  app/client/.gitignore
  app/client/.husky/pre-commit
  app/client/.huskyrc
  app/client/.lintstagedrc
  app/client/cypress/.eslintrc.json
  app/client/cypress/integration/Regression_TestSuite/Application/CommunityIssues_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Binding/MomentBasic_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/BugTests/CatchBlock_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Datasources/GraphQL_spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/integration/Regression_TestSuite/ServerSideTests/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/index.tsx
  app/client/package.json
  app/client/packages/storybook/.eslintrc.json
  app/client/packages/storybook/.storybook/styles.css
  app/client/packages/storybook/package.json
  app/client/packages/wds/.eslintrc.json
  app/client/packages/wds/.prettierignore
  app/client/packages/wds/package.json
  app/client/packages/wds/src/components/Button/Button.stories.mdx
  app/client/packages/wds/src/components/Button/Button.tsx
  app/client/packages/wds/src/components/Button/index.styled.tsx
  app/client/packages/wds/src/components/ButtonGroup/ButtonGroup.stories.tsx
  app/client/packages/wds/src/components/ButtonGroup/index.styled.tsx
  app/client/packages/wds/src/components/Text/Text.tsx
  app/client/packages/wds/src/components/Text/index.styled.tsx
  app/client/packages/wds/src/styles/globals.css
  app/client/packages/wds/tokens.json
  app/client/packages/wds/tsconfig.json
  app/client/postcss.config.js
  app/client/src/workers/Evaluation/fns/mock.ts
  app/client/src/workers/common/DataTreeEvaluator/mockData/mockUnEvalTree.ts
  app/client/stats.json
  app/client/yarn.lock
Labels: skip-changelog, Code Refactoring, skip-testPlan

#21665 chore: Use correct function name in documentation for meta properties
  contributions/AppsmithWidgetDevelopmentGuide.md
Labels: skip-changelog, skip-docs, skip-testPlan

#21597 fix: child widget not updating state in List widget
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
Labels: Bug, App Viewers Pod, Checkbox Widget, Needs Triaging, Switch widget, List Widget, Checkbox Group widget, Switch Group Widget, medium, skip-testPlan

#21731 feat: Widgets color generation utility functions
  app/client/packages/wds/src/utils/colors.ts
Labels: Enhancement, skip-changelog, skip-testPlan, Widget design system

#21743 test: Cypress - Modal_Focus spec to unblock CI
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/Modal/Modal_focus_spec.js
Labels: skip-changelog, Test

#21733 chore: Create a seperate constants for CE and BE for Urls
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/Url.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/UrlCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
Labels: Backend, skip-changelog, Team Managers Pod, skip-testPlan, Airgap

#21227 fix: ENTITY_BINDING_SUCCESS event added which is fired whenever there is a successful binding created by the user.
  app/client/src/actions/evaluationActions.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/SuccessfulBindingsMap.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/Linting/lint.worker.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: Bug, JS Evaluation, Task, FE Coders Pod, medium, Test Plan Approved

#21755 test: Cypress - Fix Flaky Tests
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/ListV2_PropertyPane_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_Meta_Hydration_ServerSide_spec.js
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/Widgets/ListV2/Listv2_dataIdentifierProperty_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test Plan Approved, Test

#21726 test: Cypress - Segment calls intercepted
  .github/workflows/ci-test.yml
  app/client/cypress/integration/Regression_TestSuite/ClientSideTests/OtherUIFeatures/Analytics_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#21711 fix: API Url Whitespace Bug Fix
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/InitUtils.java
  app/server/appsmith-plugins/graphqlPlugin/src/test/java/com/external/plugins/GraphQLPluginTest.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug, Low, BE Coders Pod, GraphQL Plugin, REST API plugin, Test Plan Approved, Integrations Pod

#21756 chore: Include user-agent in events from backend
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ExchangeUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
Labels: skip-changelog

#21710 fix: During diff creation if value changes from undefined to string evaluation is getting skipped
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/widgets/MetaHOC.tsx
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: Bug, JS Evaluation, Release, FE Coders Pod

#21741 test: Cypress - Added AdminSettings Helper
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/AdminSettings.ts
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test Plan Approved, Test

#21810 ci: Added dub points for failed-spec comment
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#21770 chore: refactor jsFuncPostProcessor
  app/client/cypress/fixtures/JSObjectMutationTestApp.json
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableProxy.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableUpdates.ts
  app/client/src/workers/Evaluation/JSObject/__test__/JSVariableProxy.test.ts
  app/client/src/workers/Evaluation/JSObject/__test__/mutation.test.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/__tests__/Actions.test.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/fns/__tests__/postWindowMessage.test.ts
  app/client/src/workers/Evaluation/fns/__tests__/run.test.ts
  app/client/src/workers/Evaluation/fns/utils/ExecutionMetaData.ts
  app/client/src/workers/Evaluation/fns/utils/__tests__/Promisify.test.ts
  app/client/src/workers/Evaluation/fns/utils/jsObjectFnFactory.ts
  app/client/src/workers/Evaluation/functionDeterminer.ts
  app/client/src/workers/Evaluation/getEntityForContext.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog
