Repository appsmithorg/appsmith, pull requests merged in 2023-10, with the labels that each got.

#27670 test: cypress - test added for RTE regression
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor3_spec.ts
  app/client/cypress/fixtures/richTextEditorDsl.json
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: skip-changelog, Test Plan Approved, Test

#27728 test: Cypress| Fix omnibar test
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Omnibar_spec.js
Labels: skip-changelog, Test

#27743 test: Cypress - fix
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker3_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#27716 test: Cypress - rating case fix
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Rating/Rating_Widget_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#27458 fix: ui fixes for git connect v2
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitConnectV2_spec.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/GitSyncModal/GitSyncModalV2.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/AddDeployKey.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/ChooseGitProvider.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/styles.tsx
Labels: Bug, Needs Triaging, Git Version Control, Test Plan Approved, Git Pod

#27310 ci: Use esbuild to build RTS
  Dockerfile
  app/client/packages/rts/build.sh
  app/client/packages/rts/src/server.ts
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/rts.conf
Labels: skip-changelog, CI

#27764 chore: Use separate specific esbuild for RTS
  app/client/packages/rts/build.sh
  app/client/packages/rts/package.json
  app/client/yarn.lock
Labels: skip-changelog

#27784 fix: boolean getter method for email verification enabled field
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/AppsmithBeanUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: Bug, App Viewers Pod, IDE, New Developers Pod, Branding, Email verification

#27477 fix: Adds analytics event to log search input.
  app/client/cypress/e2e/Regression/ClientSide/Templates/Filtering/TemplatesModal_filtering_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Templates/Filtering/TemplatesPage_filtering_spec.ts
  app/client/cypress/support/Pages/Templates.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/pages/Templates/index.tsx
Labels: Bug, Task, Templates pod, Test Plan Approved, Templates

#27663 chore: Remove server side filtering flag
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Widget_Copy_Paste_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/server_side_filtering_spec_1.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/utils/DSLMigration.test.ts
  app/client/src/utils/DSLMigrations.ts
  app/client/src/utils/migrations/TableWidget.ts
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Table Widget, App Viewers Pod, Task, skip-changelog, Test Plan Approved

#27633 feat: added anvil type for app layout
  app/client/src/actions/autoLayoutActions.ts
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/components/editorComponents/DropTargetComponent.tsx
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/layoutSystems/autolayout/utils/AutoLayoutUtils.ts
  app/client/src/layoutSystems/autolayout/utils/positionUtils.test.ts
  app/client/src/layoutSystems/common/useLayoutSystemFeatures.ts
  app/client/src/layoutSystems/common/utils/ComponentSizeUtils.ts
  app/client/src/layoutSystems/types/index.ts
  app/client/src/layoutSystems/withLayoutSystemHOC.test.tsx
  app/client/src/layoutSystems/withLayoutSystemHOC.tsx
  app/client/src/pages/Editor/PropertyPane/helpers.tsx
  app/client/src/reducers/entityReducers/pageListReducer.tsx
  app/client/src/sagas/AutoLayoutUpdateSagas.tsx
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/sagas/SnapshotSagas.ts
  app/client/src/sagas/WidgetEnhancementHelpers.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/sagas/layoutConversionSagas.ts
  app/client/src/selectors/canvasSelectors.ts
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/selectors/flattenedChildCanvasSelector.ts
  app/client/src/selectors/layoutSystemSelectors.ts
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/CanvasWidget.tsx
  app/client/src/widgets/ContainerWidget/component/index.tsx
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
Labels: Enhancement, UI Builders Pod, Task, New Developers Pod, IDE Navigation, skip-testPlan, Responsive Canvas

#27779 fix: If navigation settings object is empty in application details, use the default settings
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
Labels: Bug, App Viewers Pod, High, Production, Needs Triaging, New Developers Pod, App Navigation, Test Plan Approved, App setting

#27788 fix: Route for HTTP-01 challenge, instead of redirecting
  deploy/docker/fs/opt/appsmith/templates/nginx-app.conf.sh
Labels: Bug

#27530 chore: Private Embed Code split for 1-click upgrade downgrade
  app/client/cypress/e2e/Regression/ClientSide/ProductRamps/PrivateEmbedRamp_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/selectors/rampSelectors.tsx
  app/client/src/ce/utils/BusinessFeatures/privateEmbedHelpers.tsx
  app/client/src/ee/utils/BusinessFeatures/privateEmbedHelpers.tsx
  app/client/src/pages/Applications/EmbedSnippet/PrivateEmbeddingContent.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/EmbedSettings/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: skip-changelog, skip-testPlan

#27785 fix: Code split for UserUpdateDTO and fix UserServiceCEImpl
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserUpdateDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/UserUpdateDTO_CE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: Bug, Epic, Task, Team Managers Pod, RBAC, SCIM

#27059 chore: Adding migrations to remove unassign permission from workspace developer and workspace app viewer roles
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration025RemoveUnassignPermissionFromUnnecessaryRoles.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
Labels: skip-changelog, Stale

#27668 fix: Stop updating action when datasource name is updated
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ImportExportUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ImportExportUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
Labels: Bug, Git Version Control, Test Plan Approved, Git Pod

#27810 chore: update analytic events to capture SSH tunnel configuration for MySQL
  app/client/src/sagas/DatasourcesSagas.ts
Labels: MySQL, Task, skip-changelog, BE Coders Pod, Integrations Pod, skip-testPlan

#27765 test: added tests for Tabs
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Tab/Tabs_2_spec.ts
  app/client/cypress/fixtures/tabsDsl.json
  app/client/cypress/support/Pages/Tabs.ts
Labels: skip-changelog, Test Plan Approved, Test

#27821 feat: PAC Service code split for configuration
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PACConfigurationService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PACConfigurationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PACConfigurationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PACConfigurationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/PACConfigurationServiceCECompatible.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/PACConfigurationServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/UserServiceCECompatibleImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/PACConfigurationServiceCETest.java
Labels: Enhancement, skip-testPlan

#27813 chore: Remove `build-essential` by default in the Docker image
  Dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog

#27583 ci: Fix ci-test workflows
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, Stale, CI

#27766 chore: adding indices to workspace, application and newAction class
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration025AddIndexDeletedInApplication.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration026AddIndexTenantAndDeletedInWorkspace.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration027AddIndexDatasourceIdAndDeletedInAction.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: Bug, Backend, Needs Triaging, Core Query Execution, skip-changelog, BE Coders Pod, Query performance, Data Platform Pod, skip-testPlan

#27596 feat: enable/disable app share modal based on License Plan
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplication_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ExportApplication_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ProductRamps/PrivateEmbedRamp_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Workspace/CreateAppWithSameNameInWorkspace_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Workspace/CreateSameAppInDiffWorkspace_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Workspace/DeleteMultipleApplications.ts
  app/client/cypress/e2e/Regression/ClientSide/Workspace/DeleteWorkspace_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Workspace/LeaveWorkspaceTest_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Workspace/MemberRoles_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Workspace/ShareAppTests_Spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/AppViewer/Navigation/components/ShareButton.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: Enhancement, Test Plan Approved

#27832 fix: fix lint issue on EntityDefinition and DatabaseChangelog1
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog1.java
Labels: Bug

#27724 chore: get browser logs from failed cypress tests
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-limited.yml
  app/client/.gitignore
  app/client/cypress/plugins/index.js
  app/client/cypress/support/e2e.js
  app/client/package.json
  app/client/yarn.lock
Labels: IDE, Task, skip-changelog, New Developers Pod, Automation Test

#27700 [Task]: add vertical alignment to widget configuration
  app/client/src/layoutSystems/common/utils/constants.ts
  app/client/src/widgets/CameraWidget/widget/index.tsx
  app/client/src/widgets/ChartWidget/widget/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/CodeScannerWidget/widget/index.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/DocumentViewerWidget/widget/index.tsx
  app/client/src/widgets/FormWidget/widget/index.tsx
  app/client/src/widgets/IframeWidget/widget/index.tsx
  app/client/src/widgets/ImageWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/ListWidgetV2/widget/defaultProps.ts
  app/client/src/widgets/MapChartWidget/widget/index.tsx
  app/client/src/widgets/MapWidget/widget/index.tsx
  app/client/src/widgets/RadioGroupWidget/widget/index.tsx
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
  app/client/src/widgets/StatboxWidget/widget/index.tsx
  app/client/src/widgets/SwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TabsWidget/widget/index.tsx
  app/client/src/widgets/VideoWidget/widget/index.tsx
Labels: UI Builders Pod, skip-testPlan, Responsive Widget, Responsive Canvas

#27837 test: Cypress - chart widget cases
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Chart_widget_spec_1.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Chart_widget_spec_2.ts
  app/client/cypress/snapshots/chartwidget/areachartsnapshot.snap.png
  app/client/cypress/snapshots/chartwidget/areachartsnapshotwithlabels.snap.png
  app/client/cypress/snapshots/chartwidget/columnchartsnapshot.snap.png
  app/client/cypress/snapshots/chartwidget/columnchartsnapshotwithadaptiveaxis.snap.png
  app/client/cypress/snapshots/chartwidget/columnchartsnapshotwithlabels.snap.png
  app/client/cypress/snapshots/chartwidget/columnchartsnapshotwithoutadaptiveaxis.snap.png
  app/client/cypress/snapshots/chartwidget/linechartWithAutoXAxisLabelOrientation.snap.png
  app/client/cypress/snapshots/chartwidget/linechartWithRotateXAxisLabelOrientation.snap.png
  app/client/cypress/snapshots/chartwidget/linechartWithSlantXAxisLabelOrientation.snap.png
  app/client/cypress/snapshots/chartwidget/linechartsnapshot.snap.png
  app/client/cypress/snapshots/chartwidget/linechartsnapshotwithlabels.snap.png
  app/client/cypress/snapshots/chartwidget/piechartsnapshot.snap.png
  app/client/cypress/snapshots/chartwidget/piechartsnapshotwithlabels.snap.png
  app/client/cypress/snapshots/chartwidget/piechartsnapshotwithtitle.snap.png
Labels: skip-changelog, Test Plan Approved, Test

#27855 fix: remove dimension observation for form widget
  app/client/src/widgets/FormWidget/widget/index.tsx
Labels: Bug, UI Builders Pod, skip-testPlan

#27827 chore: replace emotion/sheet to emotion/css
  app/client/packages/design-system/theming/src/theme/src/ProviderStyleSheet.ts
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/design-system/theming/src/token/src/styles.module.css
  app/client/packages/design-system/theming/src/token/src/themeTokens.json
  app/client/packages/design-system/theming/src/typography/src/typography.ts
  app/client/packages/design-system/theming/src/utils/cssRule.ts
  app/client/packages/design-system/theming/src/utils/tokensToCss.ts
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/Flex/src/Flex.tsx
  app/client/packages/design-system/widgets/src/components/Flex/src/dimensions.ts
  app/client/packages/design-system/widgets/src/components/Flex/src/flexCss.ts
  app/client/packages/design-system/widgets/src/components/Flex/src/flexCssRule.ts
  app/client/packages/design-system/widgets/src/components/Flex/src/types.ts
  app/client/src/layoutSystems/anvil/utils/types.ts
  app/client/src/layoutSystems/anvil/utils/widgetUtils.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/yarn.lock
Labels: App Viewers Pod, skip-changelog, Widget design system, WDS team

#27854 test: fix for tabs2 spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Tab/Tabs_2_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#27367 chore: code changes for widget position observer and widget name on canvas
  app/client/package.json
  app/client/src/ce/reducers/entityReducers/index.ts
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/sagas/index.tsx
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/constants/componentClassNameConstants.ts
  app/client/src/layoutSystems/anvil/integrations/actions/actionTypes.ts
  app/client/src/layoutSystems/anvil/integrations/actions/index.ts
  app/client/src/layoutSystems/anvil/integrations/reducers/widgetPositionsReducer.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/WidgetPositionsSaga.ts
  app/client/src/layoutSystems/anvil/integrations/utils.test.ts
  app/client/src/layoutSystems/anvil/integrations/utils.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/WidgetNameConstants.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/WidgetNameTypes.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/index.tsx
  app/client/src/layoutSystems/common/WidgetNamesCanvas/utils.ts
  app/client/src/layoutSystems/common/draggable/DraggableComponent.test.tsx
  app/client/src/layoutSystems/common/draggable/DraggableComponent.tsx
  app/client/src/layoutSystems/common/selectors.ts
  app/client/src/layoutSystems/common/types.ts
  app/client/src/layoutSystems/common/utils/WidgetPositionsObserver/index.ts
  app/client/src/layoutSystems/common/utils/WidgetPositionsObserver/utils.ts
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/reducers/entityReducers/index.ts
  app/client/src/selectors/widgetDragSelectors.ts
  app/client/src/widgets/CameraWidget/component/index.tsx
  app/client/src/widgets/CurrencyInputWidget/component/CurrencyCodeDropdown.tsx
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/PhoneInputWidget/component/ISDCodeDropdown.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/HeaderCell.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/FilterPane.tsx
  app/client/yarn.lock
Labels: UI Builders Pod, Task, skip-changelog, skip-testPlan, Responsive Canvas

#27823 fix: table selection in schema preview data broken
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug27817_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/commands.js
  app/client/src/constants/DatasourceEditorConstants.ts
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceStructureContainer.tsx
Labels: Bug, Release, Needs Triaging, Release Blocker, BE Coders Pod, Test Plan Approved, Integrations Pod, Activation - datasources

#27860 feat: instance total public apps count
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
Labels: Enhancement, IDE, Task, New Developers Pod

#27852 chore: add strict-boolean-expressions rule
  app/client/.eslintrc.base.json
  app/client/.eslintrc.js
  app/client/.lintstagedrc
  app/client/cypress/.eslintrc.json
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Audio/Audio1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Audio/AudioRecorder1_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo1_spec.ts
  app/client/cypress/tsconfig.json
  app/client/package.json
  app/client/packages/ast/.eslintrc.json
  app/client/packages/design-system/headless/src/components/Button/src/Button.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/src/Checkbox.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/src/CheckboxGroup.tsx
  app/client/packages/design-system/headless/src/components/Field/HelpText.tsx
  app/client/packages/design-system/headless/src/components/Field/src/Field.tsx
  app/client/packages/design-system/headless/src/components/Field/src/HelpText.tsx
  app/client/packages/design-system/headless/src/components/Field/src/Label.tsx
  app/client/packages/design-system/headless/src/components/Icon/src/Icon.tsx
  app/client/packages/design-system/headless/src/components/Radio/src/Radio.tsx
  app/client/packages/design-system/headless/src/components/Switch/Switch.tsx
  app/client/packages/design-system/headless/src/components/TextArea/src/TextArea.tsx
  app/client/packages/design-system/headless/src/components/TextInput/index.tsx
  app/client/packages/design-system/headless/src/components/TextInput/src/TextInput.tsx
  app/client/packages/design-system/headless/src/components/TextInputBase/src/TextInputBase.tsx
  app/client/packages/design-system/headless/src/components/Tooltip/src/TooltipTrigger.tsx
  app/client/packages/design-system/theming/src/theme/src/useTheme.tsx
  app/client/packages/design-system/theming/src/utils/cssRule.ts
  app/client/packages/design-system/widgets-old/.eslintrc.json
  app/client/packages/design-system/widgets/src/components/Button/src/Button.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/src/Checkbox.tsx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/src/CheckboxGroup.tsx
  app/client/packages/design-system/widgets/src/components/Flex/src/flexCss.ts
  app/client/packages/design-system/widgets/src/components/IconButton/src/index.tsx
  app/client/packages/design-system/widgets/src/components/Radio/src/Radio.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/src/RadioGroup.tsx
  app/client/packages/design-system/widgets/src/components/Switch/src/Switch.tsx
  app/client/packages/design-system/widgets/src/components/Text/src/Text.tsx
  app/client/packages/design-system/widgets/src/components/TextArea/src/TextArea.tsx
  app/client/packages/design-system/widgets/src/components/TextArea/src/index.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/src/Label.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/src/TextInput.tsx
  app/client/packages/design-system/widgets/src/components/Tooltip/src/Tooltip.tsx
  app/client/packages/design-system/widgets/src/components/testing/ColorGrid.tsx
  app/client/packages/rts/.eslintrc.json
Labels: skip-changelog

#27862 fix: Get Java from GitHub release artifacts directly
  Dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/run-java.sh
Labels: Bug

#27880 fix: remove hardcoded color for upgrade button
  app/client/src/pages/Home/LeftPaneBottomSection.tsx
Labels: Bug, skip-testPlan

#27826 test: added tests fo multiTreeSelect Regression tests
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiTreeSelect_2_spec.ts
  app/client/cypress/fixtures/multiTreeSelectDsl.json
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: skip-changelog, Test Plan Approved, Test

#27681 chore: Split share modal component into smaller components
  app/client/package.json
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/workspace/InviteUsersForm.tsx
  app/client/src/ce/pages/workspace/Members.tsx
  app/client/src/ce/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/ce/pages/workspace/helpers.ts
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/selectors/applicationSelectors.tsx
  app/client/src/ee/pages/workspace/InviteUsersForm.tsx
  app/client/src/ee/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/Editor/GuidedTour/Guide.tsx
  app/client/src/pages/workspace/AppInviteUsersForm.tsx
  app/client/src/pages/workspace/PartnerProgramCallout.tsx
  app/client/src/pages/workspace/WorkspaceInviteUsersForm.tsx
  app/client/src/pages/workspace/settings.tsx
  app/client/yarn.lock
Labels: Task, skip-changelog

#27867 fix: Updates tab title from publish to showcase
  app/client/build.sh
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/CommunityTemplateForm.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Bug

#27893 fix: Revert "fix: Updates tab title from publish to showcase (#27867)"
  app/client/build.sh
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/CommunityTemplateForm.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Bug

#27613 fix: [one-click-binding] gsheets connection mode issue
  app/client/src/WidgetQueryGenerators/BaseQueryGenerator.ts
  app/client/src/WidgetQueryGenerators/GSheets/index.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useDatasourceOptions.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/utils.test.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/utils.ts
  app/client/src/entities/Datasource/index.ts
Labels: Bug, App Viewers Pod, Needs Triaging, Test Plan Approved, One-click Binding

#27722 chore: prevent mutation during evaluation and execution
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/Evaluation/dataStore/index.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/fns/storeFns.ts
  app/client/src/workers/Evaluation/handlers/evalExpression.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/handlers/evalTrigger.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: High, Production, Regressed, skip-changelog, FE Coders Pod, Evaluated Value, Medium, Test Plan Approved

#27916 test: cypress - commenting a test in Tab spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Tab/Tabs_2_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#27328 feat: Connection pooling CE
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_2_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/cypress/support/Pages/AdminSettings.ts
  app/client/src/ce/pages/AdminSettings/BreadcrumbCategories.tsx
  app/client/src/ce/pages/AdminSettings/config/DeveloperSettings/googleMaps.ts
  app/client/src/ce/pages/AdminSettings/config/DeveloperSettings/index.ts
  app/client/src/ce/pages/AdminSettings/config/index.ts
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/components/utils/ReduxFormTextField.tsx
  app/client/src/ee/pages/AdminSettings/config/DeveloperSettings/index.ts
  app/client/src/pages/AdminSettings/FormGroup/TextInput.tsx
  app/client/src/pages/AdminSettings/SettingsForm.tsx
  app/client/src/pages/AdminSettings/config/googleMaps.ts
Labels: Enhancement, skip-testPlan

#27911 chore: Fix bug in unique accessor generation logic for js libraries
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
Labels: skip-changelog, skip-testPlan

#27575 fix: Modal Widget Context switching
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Selected_Widgets_spec.js
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Bug, UX Improvement, Modal Widget, App Viewers Pod, Production, Needs Triaging, UI Builders Pod, Stale, Medium, Canvas / Grid, skip-testPlan, Mobile Pod

#27903 fix: Making login rate limit service reactive
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/PreAuth.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/RateLimitConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/RateLimitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/RateLimitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/aspects/RateLimitAspect.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/ce/RateLimitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/ce/RateLimitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: Bug

#27568 feat: Added custom hex colors for testing workflow
  .github/workflows/client-build.yml
Labels: Enhancement, Design System Pod, Task

#27923 test: Add common method to delete app via api
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test

#27859 feat: CE support for connection pooling
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/connectionpoolconfig/configurations/ConnectionPoolConfig.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/connectionpoolconfig/configurations/ConnectionPoolConfigCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/connectionpoolconfig/configurations/ConnectionPoolConfigCECompatible.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/connectionpoolconfig/configurations/ConnectionPoolConfigCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/connectionpoolconfig/configurations/ConnectionPoolConfigCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/connectionpoolconfig/configurations/ConnectionPoolConfigImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/connectionpoolconfig/configurations/ConnectionPoolConfigCETest.java
Labels: Enhancement, skip-testPlan

#27902 chore: remove postcss-for
  app/client/craco.common.config.js
  app/client/package.json
  app/client/packages/storybook/.storybook/main.ts
  app/client/packages/storybook/package.json
  app/client/yarn.lock
Labels: skip-changelog, skip-testPlan

#27934 ci: Run perf infra v2 in /perf-test command
  .github/workflows/perf-tests-command.yml
Labels: skip-changelog, CI

#27926 fix: Concurrent modification issue with pending migrations feature flags
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/FeatureFlagMigrationHelperCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/FeatureFlagMigrationHelperTest.java
Labels: Bug, skip-testPlan

#27930 fix: change URL for License Settings page
  app/client/src/ce/sagas/SuperUserSagas.tsx
  app/client/src/constants/routes/baseRoutes.ts
Labels: Bug, skip-testPlan, 1-click upgrade

#27901 test: Map widget automation
  .github/workflows/ci-test-hosted.yml
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MapWidget_Spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithBorderRadius.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithBoxShadow.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithDefaultMarker1.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithDefaultMarker2.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithDefaultZoomIn.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithDefaultZoomOut.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithEnableSearchLocationOff.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithEnablingClusteringON.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithEnablingClusteringOff.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithInitalLocation.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithMapNMarkerCenteringOff.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithPickLocationOff.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithVisibilityOff.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithVisibilityOnWithJS.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapWithinItalLocationAsJS.snap.png
  app/client/cypress/snapshots/MapWidget_Spec.ts/mapsimple.snap.png
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress_ci_custom.config.ts
  app/client/cypress_ci_hosted.config.ts
Labels: skip-changelog, Test

#27929 chore: Install NodeJS manually instead of with the deprecated script
  Dockerfile
Labels: Task, skip-changelog, Docker, DevOps Pod

#27844 chore: Refactoring code for entity explorer on app editor to support package editor
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/Explorer/helpers.tsx
  app/client/src/ce/pages/common/AppHeader.tsx
  app/client/src/components/BottomBar/components.ts
  app/client/src/components/BottomBar/index.tsx
  app/client/src/ee/pages/common/AppHeader.tsx
  app/client/src/pages/Editor/AppsmithLink.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/EditorShareButton.tsx
  app/client/src/pages/Editor/Explorer/Common/EntityExplorerResizeHandler.tsx
  app/client/src/pages/Editor/Explorer/Common/EntityExplorerWrapper.tsx
  app/client/src/pages/Editor/Explorer/Common/ExplorerWrapper.tsx
  app/client/src/pages/Editor/Explorer/Common/components.tsx
  app/client/src/pages/Editor/Explorer/Datasources.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/Files/Submenu.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/Explorer/index.tsx
  app/client/src/pages/Editor/HelpBarInHeader.tsx
  app/client/src/pages/Editor/commons/EditorHeaderComponents.tsx
  app/client/src/pages/Editor/commons/LockEntityExplorer.tsx
  app/client/src/pages/Editor/commons/Omnibar.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/pages/common/AppHeader.tsx
Labels: Frontend, Task, skip-changelog, Modules pod

#27720 fix: for api-redirection
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/RestAPIActivateUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/WebClientUtils.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug, Backend, Community Reported, Needs Triaging, BE Coders Pod, REST API plugin, Up for grabs, Test Plan Approved, Data Platform Pod, Integrations Pod, a-force

#27974 feat: make features call a blocking API call for page load
  app/client/src/ce/AppRouter.tsx
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/selectors/usersSelectors.tsx
Labels: Enhancement, Frontend, skip-testPlan, 1-click upgrade

#27733 Fix images with vulnerabilities
  deploy/helm/Chart.yaml
  deploy/helm/templates/statefulset.yaml
  deploy/helm/values.yaml
Labels: Bug, Community Reported, Needs Triaging, Security, Stale, K8s, DevOps Pod

#27927 revert: "chore: Remove server side filtering flag (#27663)"
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Widget_Copy_Paste_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/server_side_filtering_spec_1.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: App Viewers Pod, Table Widget V2, skip-testPlan, Feature Flagging

#27964 fix: Branding hover color issue
  app/client/src/ce/sagas/tenantSagas.tsx
Labels: Bug, Design System Pod, Critical, Production, Needs Triaging, Test Plan Approved

#27965 chore: Add Sidebar with Pages Tab
  app/client/package.json
  app/client/src/components/Sidebar/SidebarButton.tsx
  app/client/src/components/Sidebar/index.tsx
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/Editor/WidgetsEditorWrapper.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
  app/client/yarn.lock
Labels: Enhancement, skip-changelog, New Developers Pod, IDE Navigation, skip-testPlan

#27984 chore: remove postcss-conditionals package
  app/client/craco.common.config.js
  app/client/package.json
  app/client/packages/storybook/.storybook/main.ts
  app/client/packages/storybook/package.json
  app/client/yarn.lock
Labels: skip-changelog, skip-testPlan, WDS team

#28005 chore: relocation route builder helper function
  app/client/src/ce/RouteBuilder.test.ts
  app/client/src/ce/RouteBuilder.ts
  app/client/src/ce/entities/URLRedirect/URLAssembly.test.ts
  app/client/src/ce/entities/URLRedirect/URLAssembly.ts
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/sagas/ActionExecution/NavigateActionSaga.ts
Labels: Frontend, skip-changelog, skip-testPlan, Modules pod

#27943 fix: removing branch name on fork redirect
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
Labels: Bug, High, Production, Needs Triaging, Git Version Control, Test Plan Approved, Git Pod

#27258 feat: add feature flags to workers.
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/plugins/Linting/Linter.ts
  app/client/src/plugins/Linting/handlers/index.ts
  app/client/src/plugins/Linting/handlers/setupLinkingWorkerEnv.ts
  app/client/src/plugins/Linting/linters/index.ts
  app/client/src/plugins/Linting/types.ts
  app/client/src/plugins/Linting/utils/getEvaluationContext.ts
  app/client/src/sagas/ActionExecution/errorUtils.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/LintingSagas.ts
  app/client/src/workers/Evaluation/fns/index.ts
  app/client/src/workers/Evaluation/handlers/setupEvalEnv.ts
  app/client/src/workers/Evaluation/handlers/workerEnv.ts
Labels: Enhancement, Test Plan Approved

#27986 chore: No apps message changes in workspace home page
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/ApplicationCardList.tsx
Labels: Frontend, Task, skip-changelog, skip-testPlan, Modules pod

#27992 fix:lint staged
  app/client/.husky/check-staged-files.sh
  app/client/.lintstagedrc.json
Labels: Bug, skip-docs, skip-testPlan, skip-documentation

#27987 test: Bump cypress version to 13.3.1
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test

#27951 feat: reduce walkthrough delay to 2.5s
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
Labels: Enhancement, BE Coders Pod, Test Plan Approved, Integrations Pod, Integrations Pod General, Activation - datasources

#27693 chore: Integrate Checkbox component
  app/client/packages/design-system/widgets/src/components/Text/src/styles.module.css
  app/client/src/components/wds/constants.ts
  app/client/src/widgets/ButtonWidgetV2/index.tsx
  app/client/src/widgets/InputWidgetV3/index.ts
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/component/types.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/icon.svg
  app/client/src/widgets/wds/WDSBaseInputWidget/index.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/widget/contentConfig.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSBaseInputWidget/widget/types.ts
  app/client/src/widgets/wds/WDSButtonWidget/component/Container.tsx
  app/client/src/widgets/wds/WDSButtonWidget/component/RecaptchaV2.tsx
  app/client/src/widgets/wds/WDSButtonWidget/component/RecaptchaV3.tsx
  app/client/src/widgets/wds/WDSButtonWidget/component/index.tsx
  app/client/src/widgets/wds/WDSButtonWidget/component/useRecaptcha.tsx
  app/client/src/widgets/wds/WDSButtonWidget/icon.svg
  app/client/src/widgets/wds/WDSButtonWidget/index.tsx
  app/client/src/widgets/wds/WDSButtonWidget/widget/contentConfig.tsx
  app/client/src/widgets/wds/WDSButtonWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSButtonWidget/widget/styleConfig.tsx
  app/client/src/widgets/wds/WDSButtonWidget/widget/types.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/featuresConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/index.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/methodsConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/propertyPaneConfig/index.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/settersConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/icon.svg
  app/client/src/widgets/wds/WDSCheckboxWidget/index.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxWidget/widget/types.ts
  app/client/src/widgets/wds/WDSInputWidget/component/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/component/types.ts
  app/client/src/widgets/wds/WDSInputWidget/constants.ts
  app/client/src/widgets/wds/WDSInputWidget/icon.svg
  app/client/src/widgets/wds/WDSInputWidget/index.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/derived.js
  app/client/src/widgets/wds/WDSInputWidget/widget/derived.test.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/helper.test.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/helper.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/widget/parsedDerivedProperties.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/index.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/validations/defaultValueValidation.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/validations/index.test.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/validations/index.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/validations/maxValueValidation.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/propertyPaneConfig/validations/minValueValidation.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/types.ts
Labels: App Viewers Pod, skip-changelog, Widget design system, WDS team

#28019 chore: Remove autogeneration of feature flag if the same is not present in `FF4J` context
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/FeatureFlagConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
Labels: skip-changelog, skip-testPlan

#27894 fix: UI enhancements for communite template upload flow.
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/CommunityTemplateForm.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
Labels: Bug, Test Plan Approved

#28022 fix: auto label position
  app/client/src/widgets/WidgetUtils.test.ts
  app/client/src/widgets/WidgetUtils.ts
Labels: Bug, Input Widget, App Viewers Pod, High, Community Reported, Needs Triaging

#28046 test: Cypress | FirstTimeUserOnboarding_spec fix
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/FirstTimeUserOnboarding_spec.js
Labels: skip-changelog, Test

#28042 fix: postcss version
  app/client/package.json
  app/client/yarn.lock
Labels: Bug

#28050 ci: Run perf tests in parallel
  .github/workflows/perf-test-v2.yml
  .github/workflows/perf-tests-command.yml
Labels: Performance Pod, skip-changelog, CI, Performance infra

#27820 feat: Add js completion using AI
  app/client/src/ce/components/editorComponents/GPT/index.tsx
  app/client/src/ce/components/editorComponents/GPT/trigger.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/CodeEditor/commandsHelper.ts
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/utils.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
Labels: Enhancement, skip-changelog, skip-testPlan

#28054 chore: clear cache after saving workspace roles
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
Labels: skip-changelog

#28069 test: Cypress | Connection_spec.js flaky fix
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Connection_spec.js
Labels: skip-changelog, Test

#28070 fix: fixing build failure
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceCECompatibleImpl.java
Labels: skip-changelog, skip-testPlan

#28074 test: Cypress | Skip MsSQL_Basic_Spec.ts spec in CI
  app/client/cypress_ci_custom.config.ts
Labels: skip-changelog, Test Plan Approved, Test

#28071 fix: Remove post pick listener in CodeEditor
  app/client/src/components/editorComponents/CodeEditor/assistiveBindingHinter.ts
  app/client/src/components/editorComponents/CodeEditor/commandsHelper.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: skip-changelog, skip-testPlan

#28053 feat: Add signature verification for tenant feature flags
  .github/workflows/ci-test-custom-script.yml
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
Labels: Enhancement, skip-testPlan

#28080 fix: usage pulse without feature flags should default to CE interval
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/usagePulse/index.ts
Labels: Bug, skip-testPlan

#28085 feat: use hideWatermark from tenantConfig
  app/client/jest.config.js
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/ce/constants/tenantConstants.ts
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/client/src/ce/selectors/tenantSelectors.tsx
  app/client/src/pages/AppViewer/PageMenu.tsx
  app/client/src/pages/AppViewer/index.tsx
Labels: Bug, Enhancement, Needs Triaging, Deploy Preview, skip-testPlan, Billing & Usage Pod, 1-click upgrade

#28086 feat: remove cloudHosting conditional check, change version name
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/SuperUserSagas.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/HelpMenu.tsx
  app/client/src/pages/Editor/HelpButton.tsx
  app/client/src/pages/Home/LeftPaneBottomSection.tsx
  app/client/src/pages/common/MobileSidebar.tsx
Labels: Enhancement, skip-testPlan

#28051 chore: updated ramps to redirect on customer portal
  app/client/src/ce/pages/AdminSettings/Branding/UpgradeBanner.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/utils/hooks/useOnUpgrade.ts
Labels: skip-changelog, skip-testPlan

#27910 chore: Callout to Banner component migration for Billing Banner
  app/client/src/ce/selectors/tenantSelectors.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/PageWrapper.tsx
Labels: skip-changelog, skip-testPlan

#28091 fix: unhandledRejection error in sentry log
  app/client/src/usagePulse/utils.ts
Labels: Bug, JS Evaluation, FE Coders Pod, Sentry, skip-testPlan

#28036 chore: Refactor debugger analytics for active fields
  app/client/src/actions/activeFieldActions.ts
  app/client/src/actions/debuggerActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/uiReducers/index.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/reducers/uiReducers/activeFieldEditorReducer.ts
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/selectors/activeEditorFieldSelectors.ts
Labels: Debugger, Task, skip-changelog, FE Coders Pod, Medium, skip-testPlan

#28095 ci: Add perf v2 job to perf test command
  .github/workflows/perf-tests-command.yml
Labels: Performance Pod, Performance infra

#28068 chore: added ce support for KB changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/SerialiseApplicationObjective.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/export/internal/ImportExportApplicationServiceCEImpl.java
Labels: skip-changelog, skip-testPlan

#27953 test: cypress - updated regression tests for MenuButton
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MenuButtonTest.ts
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: skip-changelog, Test Plan Approved, Test

#28010 fix: empty error toast message in CI issue fixed
  app/client/src/sagas/PluginSagas.ts
Labels: Bug, Datasources, Task, Automation failures, BE Coders Pod, Test Plan Approved, Data Platform Pod, Integrations Pod, Integrations Pod General, CI impacted

#27983 chore: jest test spy on klona/full to prevent regression
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
Labels: skip-changelog, skip-testPlan

#28083 fix: Race condition in JS object mutation
  app/client/cypress/e2e/Regression/ClientSide/JSObject/JSObjectMutation_spec.ts
  app/client/src/ce/actions/evaluationActions.ts
  app/client/src/workers/Evaluation/JSObject/Collection.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableFactory.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableUpdates.ts
  app/client/src/workers/Evaluation/JSObject/__test__/JSVariableFactory.test.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
  app/client/src/workers/Evaluation/getEntityForContext.ts
Labels: Bug, Critical, Community Reported, Needs Triaging, JS Objects, FE Coders Pod, Test Plan Approved

#28055 chore: Refactoring editor app name component for modules
  CODEOWNERS
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/ce/reducers/entityReducers/index.ts
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/EditorName/EditableName.tsx
  app/client/src/pages/Editor/EditorName/NavigationMenu.tsx
  app/client/src/pages/Editor/EditorName/NavigationMenuData.ts
  app/client/src/pages/Editor/EditorName/NavigationMenuItem.tsx
  app/client/src/pages/Editor/EditorName/components.ts
  app/client/src/pages/Editor/EditorName/index.tsx
  app/client/src/pages/Editor/EditorSaveIndicator.tsx
  app/client/src/reducers/entityReducers/index.ts
Labels: Frontend, Task, skip-changelog, Modules pod

#26803 chore: populate user management roles with default domain
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration028TagUserManagementRolesWithoutDefaultDomainTypeAndId.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration029PopulateDefaultDomainIdInUserManagementRoles.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration030TagUsersWithNoUserManagementRoles.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration031CreateUserManagementRolesForUsersTaggedIn030.java
Labels: skip-changelog, Stale

#28079 fix: Updating the logic to render 'allUsers' having access to the workspace
  app/client/src/pages/common/SharedUserList.tsx
Labels: skip-testPlan

#28092 chore: Add `findAndModify` function to base repository (#27969)
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
Labels: Backend, Task, skip-changelog, Modules pod

#28009 chore: fixed typescript errors which are thrown in EE because of split
  app/client/src/ce/workers/Evaluation/evaluationUtils.test.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/components/editorComponents/Debugger/hooks/debuggerHooks.ts
  app/client/src/components/editorComponents/Debugger/hooks/useGetEntityInfo.tsx
  app/client/src/plugins/Linting/lib/entity/index.ts
  app/client/src/sagas/ActionExecution/ResetWidgetActionSaga.ts
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/selectors/debuggerSelectors.tsx
  app/client/src/utils/autocomplete/dataTreeTypeDefCreator.ts
  app/client/src/workers/Evaluation/fns/index.ts
  app/client/src/workers/Evaluation/getEntityForContext.ts
  app/client/src/workers/Evaluation/setters.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/test.ts
Labels: skip-changelog

#27977 test: Cypress - Statbox regression tests
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Statbox/Statbox_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: skip-changelog, Stat Box Widget, Test

#28002 chore: move settings pane to the left
  app/client/src/pages/Editor/AppSettingsPane/PaneHeader.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/pages/Editor/WidgetsEditorWrapper.tsx
Labels: Enhancement, skip-changelog, New Developers Pod, IDE Navigation, skip-testPlan

#27942 fix: revert for super users and update ui for profiling ques for non super users
  app/client/cypress/locators/SignupPage.json
  app/client/cypress/locators/welcomePage.json
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
  app/client/src/ce/api/UserApi.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/components/editorComponents/RadioButtonGroup.tsx
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/GetStarted.tsx
  app/client/src/pages/setup/NonSuperUserWelcome.tsx
  app/client/src/pages/setup/SetupForm.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/pages/setup/SuperUserWelcome.tsx
  app/client/src/pages/setup/constants.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserSignupRequestDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/UserUpdateDTO_CE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/CommonConfigTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: Bug, Onboarding, Task, BE Coders Pod, New Developers Pod, Test Plan Approved, Integrations Pod, Integrations Pod General, Activation - datasources

#28123 fix: Refactoring the code for label wrapper on admin settings
  app/client/src/pages/AdminSettings/FormGroup/Button.tsx
  app/client/src/pages/AdminSettings/FormGroup/Checkbox.tsx
  app/client/src/pages/AdminSettings/FormGroup/Common.tsx
  app/client/src/pages/AdminSettings/FormGroup/Radio.tsx
  app/client/src/pages/AdminSettings/FormGroup/TextInput.tsx
Labels: Bug, Settings, Release, Needs Triaging, Team Managers Pod, Release Blocker, Super Admin, DevOps Pod

#27985 chore: Update embedded MongoDB Schema version
  Dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/mongodb-fixer.sh
Labels: skip-changelog

#28064 chore: Hotfix/v1.9.40
  app/client/cypress/e2e/Regression/ClientSide/JSObject/JSObjectMutation_spec.ts
  app/client/cypress_ci_custom.config.ts
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/actions/evaluationActions.ts
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/selectors/usersSelectors.tsx
  app/client/src/widgets/WidgetUtils.test.ts
  app/client/src/widgets/WidgetUtils.ts
  app/client/src/workers/Evaluation/JSObject/Collection.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableFactory.ts
  app/client/src/workers/Evaluation/JSObject/JSVariableUpdates.ts
  app/client/src/workers/Evaluation/JSObject/__test__/JSVariableFactory.test.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
  app/client/src/workers/Evaluation/getEntityForContext.ts
Labels: Release Promotion

#28097 test: Cypress - arbitrary fix for button
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/Button2_spec.ts
Labels: Test Plan Approved

#27972 chore: action editors refactor
  app/client/src/actions/queryPaneActions.ts
  app/client/src/components/common/BackToCanvas.tsx
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/pages/Editor/APIEditor/ApiEditorContext.tsx
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/CurlImportEditor.tsx
  app/client/src/pages/Editor/APIEditor/CurlImportForm.tsx
  app/client/src/pages/Editor/APIEditor/Editor.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/RapidApiEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/RestAPIForm.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/QueryEditor/Editor.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/QueryEditorContext.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/pages/Editor/routes.tsx
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/selectors/ui.tsx
Labels: Frontend, Task, skip-changelog, skip-testPlan, Modules pod

#28128 chore: Refactoring editor header
  app/client/src/pages/Editor/EditorName/NavigationMenuData.ts
  app/client/src/pages/Editor/EditorName/NavigationMenuItem.tsx
  app/client/src/pages/Editor/EditorName/types.ts
Labels: Frontend, Task, skip-changelog, Modules pod

#28129 chore: Introduce code split for updating unpublished action (#27967)
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
Labels: Backend, Task, skip-changelog, Modules pod

#28133 chore: SQL hinter automated test
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/utils/sqlHint.ts
Labels: JS Evaluation, Task, skip-changelog, FE Coders Pod, skip-testPlan

#28142 chore: Refactored import export into separate services
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/export/ActionCollectionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/export/ActionCollectionExportableServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ApplicationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/export/DatasourceExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/export/DatasourceExportableServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/export/internal/ImportExportApplicationService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/exportable/ExportableService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/exportable/ExportableServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportableService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportableServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/export/CustomJSLibExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/export/CustomJSLibExportableServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/export/NewActionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/export/NewActionExportableServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/export/NewPageExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/export/NewPageExportableServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/export/PluginExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/export/PluginExportableServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationSnapshotServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationTemplateServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/GitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/export/ThemeExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/export/ThemeExportableServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/RefactoringSolutionCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
Labels: skip-changelog, Test Plan Approved

#27777 chore: Rate limiting datasource test api is added
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/arangoDBPlugin/src/main/java/com/external/plugins/ArangoDBPlugin.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/OraclePlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/plugins/RedisPlugin.java
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/utils/RedisURIUtils.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/plugins/RedshiftPlugin.java
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com/external/plugins/SmtpPlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/RateLimitConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/DatasourceController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RedisUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/RateLimitConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/RateLimitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/ce/RateLimitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/ce/RateLimitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
Labels: Backend, Task, skip-changelog, BE Coders Pod, Postgres, Test Plan Approved, Integrations Pod

#28143 chore: add try catch for signup recaptcha
  app/client/src/pages/UserAuth/SignUp.tsx
Labels: Login / Signup, Low, Needs Triaging, skip-changelog, New Developers Pod, Sentry, skip-testPlan

#28155 fix: Race condition in deleting the loading page
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
Labels: Bug

#28138 feat: server setup complete event
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/InstanceConfigHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCEImpl.java
Labels: Enhancement, skip-testPlan

#27892 chore: skip signposting discovery test
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/SignpostingDiscovery_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/selectors/featureFlagsSelectors.ts
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/index.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Checklist.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Utils.ts
  app/client/src/pages/Editor/WidgetCard.tsx
  app/client/src/pages/Editor/WidgetSidebarWithTags.tsx
  app/client/src/widgets/ConnectDataOverlay.tsx
Labels: IDE, Task, skip-changelog, New Developers Pod

#28162 chore: Remove InviteUser and associated classes
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/InviteUser.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog1.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/InviteUserRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/InviteUserRepositoryCE.java
Labels: skip-changelog

#28147 chore: split dependency map functions to be extendable on EE
  app/client/src/ce/entities/DataTree/utils.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/ce/workers/common/DependencyMap/utils/getEntityDependenciesByType.ts
  app/client/src/ee/workers/common/DependencyMap/utils/getEntityDependenciesByType.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/utils.ts
  app/client/src/workers/common/DependencyMap/index.ts
  app/client/src/workers/common/DependencyMap/utils/getEntityDependencies.ts
Labels: skip-changelog

#28161 feat: change the subtexts for options to profiling questions
  app/client/src/pages/setup/constants.ts
Labels: Enhancement, BE Coders Pod, Integrations Pod, skip-testPlan, Activation - datasources

#27818 test: Cypress | CI Stabilize
  .github/workflows/build-client-server.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/integration-tests-with-documentdb-command.yml
  app/client/cypress/e2e/Regression/Apps/CommunityIssues_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Binding/Button_with_API_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Property_ToggleJs_With_Binding_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Style_ToggleJS_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Table_Style_ToggleJS_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/Radio2_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_TestExecuteWithDynamicBindingInUrl_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/e2e.js
Labels: skip-changelog, Test Plan Approved, Test

#28170 test: Cypress | DSCrudAndBindings_Spec.ts flaky fix
  app/client/cypress/e2e/Regression/ClientSide/Git/ExistingApps/v1.9.24/DSCrudAndBindings_Spec.ts
Labels: skip-changelog, Test

#28150 test: Cypress - arbitrary fix button
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/Button2_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#28110 chore: CE change for moduleInstanceEditor route
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/routes.tsx
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/utils/NameEditorComponent.tsx
  app/client/src/ee/pages/Editor/routes.tsx
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/pages/Editor/WidgetsEditorWrapper.tsx
  app/client/src/pages/Editor/routes.tsx
Labels: skip-changelog, skip-testPlan, Modules pod

#28084 fix: remove moment patches
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_SerververSide_spec.js
  app/client/src/workers/Evaluation/__tests__/generateOpimisedUpdates.test.ts
  app/client/src/workers/Evaluation/helpers.ts
Labels: Bug, JS Evaluation, FE Coders Pod, Test Plan Approved, Sentry, Performance

#28076 test: cypress - iframe regression tests
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Iframe/IframeTest_spec.ts
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: skip-changelog, Test Plan Approved, Test

#28063 chore: Add IDE side pane and manage navigation
  app/client/src/components/Sidebar/SidebarButton.tsx
  app/client/src/components/Sidebar/index.tsx
  app/client/src/constants/routes/appRoutes.ts
  app/client/src/entities/IDE/constants.ts
  app/client/src/entities/IDE/utils.ts
  app/client/src/navigation/FocusElements.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/navigation/FocusSelectors.ts
  app/client/src/navigation/FocusSetters.ts
  app/client/src/pages/Editor/AppsmithIDE.test.tsx
  app/client/src/pages/Editor/AppsmithIDE.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/IDESidePane/index.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/pages/Editor/commons/EditorWrapperBody.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/sagas/ContextSwitchingSaga.ts
  app/client/test/testMockedWidgets.tsx
Labels: Enhancement, skip-changelog, New Developers Pod, IDE Navigation

#28160 fix: removed datasourceContextCaching for RestAPI
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/PluginConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
Labels: Bug, Datasources, Community Reported, Needs Triaging, Team Managers Pod, BE Coders Pod, SSO, Data Platform Pod

#28141 feat: update design for schema preview page when selected table is empty
  app/client/src/assets/images/empty-table-in-display-preview.svg
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/DataSourceEditor/DatasourceViewModeSchema.tsx
Labels: Enhancement, BE Coders Pod, Test Plan Approved, Integrations Pod, Integrations Pod General, Activation - datasources

#28151 chore: invite unique emails to workspace
  app/client/src/ce/pages/workspace/InviteUsersForm.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserAndAccessManagementServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: Bug, Settings, QA, Needs Triaging, skip-changelog, Team Managers Pod

#28189 test: Cypress - skipping the case to unblock
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Iframe/IframeTest_spec.ts
Labels: skip-changelog, Test Plan Approved, Test

#28181 fix: multi-select dropdown checkbox alignment regressed
  app/client/src/widgets/MultiSelectWidgetV2/component/index.styled.tsx
Labels: Bug, App Viewers Pod, MultiSelect Widget, Medium, Test Plan Approved

#28179 fix: Ramp selector link to redirect on portal
  app/client/cypress/e2e/Regression/ClientSide/ProductRamps/PrivateEmbedRamp_spec.ts
  app/client/src/ce/selectors/rampSelectors.tsx
Labels: Bug, skip-changelog, skip-testPlan

#27993 chore: Add observer to LayoutElements
  app/client/src/ce/reducers/entityReducers/index.ts
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/sagas/index.tsx
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/integrations/actions/actionTypes.ts
  app/client/src/layoutSystems/anvil/integrations/actions/index.ts
  app/client/src/layoutSystems/anvil/integrations/reducers/layoutElementPositionsReducer.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/LayoutElementPositionsSaga.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/WidgetPositionsSaga.ts
  app/client/src/layoutSystems/anvil/layoutComponents/components/FlexLayout.tsx
  app/client/src/layoutSystems/common/WidgetNamesCanvas/WidgetNameTypes.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/index.tsx
  app/client/src/layoutSystems/common/WidgetNamesCanvas/utils.ts
  app/client/src/layoutSystems/common/selectors.ts
  app/client/src/layoutSystems/common/types.ts
  app/client/src/layoutSystems/common/useLayoutSystemFeatures.ts
  app/client/src/layoutSystems/common/utils/LayoutElementPositionsObserver/index.ts
  app/client/src/layoutSystems/common/utils/LayoutElementPositionsObserver/usePositionObserver.ts
  app/client/src/layoutSystems/common/utils/LayoutElementPositionsObserver/utils.ts
  app/client/src/layoutSystems/common/utils/WidgetPositionsObserver/index.ts
  app/client/src/layoutSystems/common/utils/WidgetPositionsObserver/utils.ts
Labels: UI Builders Pod, Task, skip-changelog, skip-testPlan, Mobile Pod, Responsive Canvas

#28195 fix: wait for getWorkspace only in CE repo
  app/client/cypress/support/commands.js
Labels: Bug, Billing & Usage Pod, CI impacted, 1-click upgrade

#28198 chore: Use Docker base images to build
  .github/workflows/docker-base-image.yml
  Dockerfile
Labels: skip-changelog

#28148 fix: MySQL plugin: add check for null column value for JSON column type
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
Labels: Bug, High, Community Reported, Needs Triaging, MySQL, BE Coders Pod, Integrations Pod

#28208 chore: update version due to vulnebarity
  app/server/appsmith-interfaces/pom.xml
Labels: skip-changelog, skip-testPlan

#28213 chore: changes to pinpoint errors in ApplicationServiceCETest
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceWithDisabledSignupTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: skip-changelog

#28072 chore: new fluid tokens
  app/client/packages/design-system/headless/src/components/Field/src/icons/AlertIcon.tsx
  app/client/packages/design-system/headless/src/components/Field/src/icons/AsteriskIcon.tsx
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/design-system/theming/src/theme/src/types.ts
  app/client/packages/design-system/theming/src/theme/src/useTheme.tsx
  app/client/packages/design-system/theming/src/theme/stories/RootUnit.stories.mdx
  app/client/packages/design-system/theming/src/theme/stories/Theme.stories.mdx
  app/client/packages/design-system/theming/src/token/src/TokensAccessor.ts
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/theming/src/token/src/fluid/getFluidRootUnit.ts
  app/client/packages/design-system/theming/src/token/src/fluid/getFluidSizing.ts
  app/client/packages/design-system/theming/src/token/src/fluid/getFluidSpacing.ts
  app/client/packages/design-system/theming/src/token/src/fluid/getFluidTypography.ts
  app/client/packages/design-system/theming/src/token/src/fluid/index.ts
  app/client/packages/design-system/theming/src/token/src/fluid/types.ts
  app/client/packages/design-system/theming/src/token/src/fluid/useFluidTokens.ts
  app/client/packages/design-system/theming/src/token/src/styles.module.css
  app/client/packages/design-system/theming/src/token/src/types.ts
  app/client/packages/design-system/theming/src/utils/tokensToCss.ts
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Flex/src/flexCss.ts
  app/client/packages/design-system/widgets/src/components/IconButton/stories/IconButton.stories.mdx
  app/client/packages/design-system/widgets/src/components/TextArea/stories/TextArea.stories.mdx
  app/client/packages/design-system/widgets/src/components/Tooltip/src/Tooltip.tsx
  app/client/packages/design-system/widgets/src/components/Tooltip/src/styles.module.css
  app/client/packages/design-system/widgets/src/styles/src/field.module.css
  app/client/packages/design-system/widgets/src/styles/src/inline-label.module.css
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/packages/design-system/widgets/src/testing/ColorGrid.stories.mdx
  app/client/packages/design-system/widgets/src/testing/ColorGrid.tsx
  app/client/packages/design-system/widgets/src/testing/CompareTokens.stories.mdx
  app/client/packages/design-system/widgets/src/testing/CompareTokens.tsx
  app/client/packages/design-system/widgets/src/testing/ComplexForm.stories.mdx
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
  app/client/packages/design-system/widgets/src/testing/colors.ts
  app/client/packages/design-system/widgets/src/testing/styles.module.css
  app/client/packages/storybook/.eslintrc.json
  app/client/packages/storybook/.storybook/addons/theming/ThemingPopup.tsx
  app/client/packages/storybook/.storybook/decorators/theming.tsx
  app/client/packages/storybook/.storybook/preview.tsx
  app/client/packages/storybook/package.json
  app/client/packages/storybook/src/components/DataAttrWrapper.tsx
  app/client/packages/storybook/src/components/StoryGrid.tsx
  app/client/packages/storybook/src/components/ThemeSettings.tsx
  app/client/packages/storybook/src/components/TokenTable.tsx
  app/client/packages/storybook/stories/design-system/headless/TextInput.stories.mdx
Labels: skip-changelog

#28216 fix: `learn more` button on community templates
  app/client/src/constants/TemplatesConstants.ts
  app/client/src/pages/Editor/CommunityTemplates/Modals/CommunityTemplatesPublishInfo.tsx
Labels: Bug, Templates pod, Test Plan Approved, Community template

#28109 chore: added more logs to check CI Empty toast issue
  app/client/src/sagas/PluginSagas.ts
Labels: skip-changelog, Test Plan Approved

#28146 fix: exported datasource only sensitive fields set as null
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/export/DatasourceExportableServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
Labels: Bug, Needs Triaging, Import-Export-App, BE Coders Pod, Integrations Pod, Git Pod, Integrations Pod General

#27874 chore: Rework DnD module for Anvil
  app/client/src/ce/sagas/index.tsx
  app/client/src/layoutSystems/anvil/canvas/AnvilCanvas.tsx
  app/client/src/layoutSystems/anvil/canvas/utils.ts
  app/client/src/layoutSystems/anvil/canvasArenas/AnvilCanvasDraggingArena.tsx
  app/client/src/layoutSystems/anvil/canvasArenas/AnvilHighlightingCanvas.tsx
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useAnvilDnDStates.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useAnvilWidgetDrop.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useCanvasActivation.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useCanvasDragging.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/utils.ts
  app/client/src/layoutSystems/anvil/editor/AnvilEditorModalOnion.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorWidgetOnion.tsx
  app/client/src/layoutSystems/anvil/integrations/actions/draggingActions.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/draggingSagas.ts
  app/client/src/layoutSystems/anvil/integrations/selectors.ts
  app/client/src/layoutSystems/anvil/layoutComponents/BaseLayoutComponent.tsx
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedColumnHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedRowHighlights.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/columnHighlights.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/additionUtils.ts
  app/client/src/layoutSystems/anvil/utils/widgetUtils.ts
  app/client/src/layoutSystems/autolayout/editor/AutoLayoutCanvasArenas/AutoCanvasDraggingArena.tsx
  app/client/src/layoutSystems/autolayout/editor/AutoLayoutCanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/layoutSystems/autolayout/editor/AutoLayoutEditorWidgetOnion.tsx
  app/client/src/layoutSystems/common/WidgetNamesCanvas/utils.ts
  app/client/src/layoutSystems/common/canvasArenas/StickyCanvasArena.tsx
  app/client/src/layoutSystems/common/canvasArenas/useCanvasDragToScroll.ts
  app/client/src/layoutSystems/common/draggable/DraggableComponent.tsx
  app/client/src/layoutSystems/common/mainContainerResizer/MainContainerResizer.tsx
  app/client/src/layoutSystems/fixedlayout/common/utils.ts
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/CanvasSelectionArena.tsx
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/FixedCanvasDraggingArena.tsx
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutEditorWidgetOnion.tsx
  app/client/src/layoutSystems/withLayoutSystemWidgetHOC.test.tsx
  app/client/src/layoutSystems/withLayoutSystemWidgetHOC.tsx
  app/client/src/utils/hooks/dragResizeHooks.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: skip-changelog

#28204 fix: Misc. fixes for anvil
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/common/hooks/useWidgetBorderStyles.ts
  app/client/src/layoutSystems/common/draggable/DraggableComponent.tsx
  app/client/src/layoutSystems/common/mainContainerResizer/MainContainerResizer.tsx
  app/client/src/sagas/AutoLayoutUpdateSagas.tsx
  app/client/src/sagas/autoHeightSagas/index.ts
Labels: Bug, UI Builders Pod, Task, skip-changelog, skip-docs, skip-testPlan, Responsive Canvas, skip-documentation

#28219 chore: Updating strings to sentence case and moving brand colors logic update to tenant reducer
  app/client/cypress/e2e/GSheet/Misc_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/StoreValue_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Binding/Button_Text_WithRecaptcha_spec.js
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug18035_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Connection_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/LearnMore_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/locators/gitSyncLocators.js
  app/client/packages/design-system/widgets-old/src/constants/messages.tsx
  app/client/src/ce/constants/messages.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/reducers/tenantReducer.ts
  app/client/src/ce/sagas/tenantSagas.tsx
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/components/DiscardChangesWarning.tsx
  app/client/src/pages/Editor/gitSync/components/GitConnectError.tsx
  app/client/src/pages/Editor/gitSync/components/ssh-key/getNotificationBanner.tsx
  app/client/src/widgets/ChartWidget/widget/index.test.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
Labels: Settings, Task, skip-changelog, Team Managers Pod
