Repository appsmithorg/appsmith, pull requests merged in 2023-07, with the labels that each got.

#24931 fix: Feature Flag User Based Caching
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/CachedFlags.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagScheduledTask.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CacheableFeatureFlagHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CacheableFeatureFlagHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/FeatureFlagServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/FeatureFlagServiceTest.java
Labels: Bug, Task, New Developers Pod, Feature Flagging

#24705 feat: Update the default text widget value to "Hello {{appsmith.user.name || appsmith.user.email}}"
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Replay_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Childwigets/List_FilePicker_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Childwigets/List_Inputs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_nested_List_widget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/StatboxDsl_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/widgets/TextWidget/index.ts
Labels: Enhancement, Good First Issue, App Viewers Pod, Text Widget, Task, medium, Test Plan Approved

#24947 fix: Remove Auto layout feature flag dependency.
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoFillWidgets_Reflow_spec.ts
  app/client/cypress/fixtures/autoLayoutReflow.json
  app/client/cypress/fixtures/featureFlags.json
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/AutoLayout.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/CanvasPropertyPane/index.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/widgets/DividerWidget/widget/index.test.tsx
  app/client/src/widgets/DropdownWidget/widget/index.test.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.xml
Labels: Bug, Needs Triaging, UI Builders Pod, Test Plan Approved, Responsive Canvas

#24976 chore: Update chromatic Worfklow
  .github/workflows/build-chromatic.yml
  .github/workflows/build-storybook.yml
Labels: skip-changelog, skip-testPlan, WDS team

#25003 chore: Adding UI builders code paths to codeowners
  CODEOWNERS
Labels: skip-changelog, skip-testPlan

#24932 Store `originalActionId` as part of Action DTO for copied action
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AnalyticsInfo.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Backend, Task, Modules pod

#24967 feat: add skip to the queryAll; also added a method to get the systemGeneratedUserEmails in user repository
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/UserRepositoryTest.java
Labels: Enhancement, skip-testPlan

#24829 test: Cypress - Flaky Fix
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/TopStacked_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug15056_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/GitBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Linting/BasicLint_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Linting/EntityPropertiesLint_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionFlow_Corner_Cases_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/FirstTimeUserOnboarding_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Sliders/CategorySlider_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Derived_Column_Data_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_PropertyPane_1_spec.js
  app/client/cypress/locators/TemplatesLocators.json
Labels: skip-changelog, Test

#24720 chore: [perf optimisations for large data sets] optimised extract info binding code
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
  app/client/src/workers/common/DependencyMap/utils.ts
  app/client/src/workers/common/JSLibrary/resetJSLibraries.ts
Labels: Performance Pod, skip-changelog, FE Coders Pod, Evaluated Value, Performance

#25013 fix: gsheets documentation issue fixed on datasource page
  app/client/src/pages/common/datasourceAuth/AuthMessage.tsx
Labels: Bug, Google Sheets, Test Plan Approved

#25030 fix: Log uncaught errors to debugger
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Logs2_spec.js
  app/client/src/workers/Evaluation/evaluation.worker.ts
Labels: Bug, FE Coders Pod, JS Function execution, skip-testPlan

#25042 chore: Add git pod to CODEOWNERS file
  CODEOWNERS
Labels: skip-changelog, skip-testPlan

#25040 chore: Add analytics event for merge branch status
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Git Version Control, skip-changelog, skip-testPlan, Git Pod

#24894 fix: Mongo plugin: fix test datasource with URI
  app/client/cypress/e2e/Sanity/Datasources/MongoDatasourceURI_spec.ts
  app/client/cypress/fixtures/datasources.json
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/PluginConstants.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorage.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/models/DatasourceStorageTest.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/utils/DatasourceUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginDatasourceTest.java
Labels: Bug, High, Production, Needs Triaging, Mongo, BE Coders Pod, Test Plan Approved, Integrations Pod

#25029 feat: Update `originalActionId` in copy action request payload's `eventData` property
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/helper.test.ts
  app/client/src/sagas/helper.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Enhancement, Modules pod

#25053 test: Cypress - Skipping test to unblock CI
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoFillWidgets_Reflow_spec.ts
Labels: skip-changelog, Test

#24846 chore: Added provision for specific basic auth creds for actuator endpoints
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#25011 feat: Store `originalActionId` as part of Action DTO for copied action
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/helper.test.ts
  app/client/src/sagas/helper.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AnalyticsInfo.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Enhancement, Backend, Task, Test Plan Approved, skip-testPlan, Modules pod

#25036 feat: WDS algorithmic warning (yellow) colors
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/types.ts
Labels: Enhancement, App Viewers Pod, skip-testPlan, Widget design system, WDS team

#25058 fix: gsheet doc wrong link issue fixed
  app/client/src/pages/common/datasourceAuth/AuthMessage.tsx
Labels: Bug, Needs Triaging, Google Sheets, Release Blocker, BE Coders Pod, Test Plan Approved, Integrations Pod

#24959 test: added fork automation with mongo and postgres between workspaces
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ForkAppWithMultipleDS.ts
Labels: skip-changelog, Test Plan Approved, Test

#24017 feat: remove collapse sections
  app/client/cypress/e2e/Regression/ClientSide/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Replay_Editor_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/dataSourceCommands.js
  app/client/src/components/formControls/CheckboxControl.tsx
  app/client/src/ee/components/DSDataFilter/index.tsx
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/pages/Editor/DataSourceEditor/Collapsible.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
Labels: Enhancement, Stale, Test Plan Approved

#24627 refactor: Refactor Auto Layout min/max dimension for widgets
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
  app/client/src/widgets/ButtonGroupWidget/index.ts
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
  app/client/src/widgets/ButtonWidget/component/DragContainer.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/index.ts
  app/client/src/widgets/ButtonWidget/widget/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/component/index.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/CheckboxWidget/component/index.tsx
  app/client/src/widgets/CheckboxWidget/widget/index.tsx
  app/client/src/widgets/CodeScannerWidget/component/index.tsx
  app/client/src/widgets/CodeScannerWidget/widget/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/component/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/index.ts
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/IconButtonWidget/index.ts
  app/client/src/widgets/IconButtonWidget/widget/index.tsx
  app/client/src/widgets/MenuButtonWidget/component/index.tsx
  app/client/src/widgets/MenuButtonWidget/constants.ts
  app/client/src/widgets/MenuButtonWidget/index.ts
  app/client/src/widgets/MenuButtonWidget/widget/index.tsx
  app/client/src/widgets/RateWidget/component/index.tsx
  app/client/src/widgets/RateWidget/index.ts
  app/client/src/widgets/RateWidget/widget/index.tsx
  app/client/src/widgets/SwitchWidget/component/index.tsx
  app/client/src/widgets/SwitchWidget/widget/index.tsx
  app/client/src/widgets/TextWidget/component/index.tsx
  app/client/src/widgets/TextWidget/widget/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: UI Builders Pod, skip-testPlan, Responsive Widget

#25070 test: Cypress - Flaky Fix
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/FirstTimeUserOnboarding_spec.js
Labels: skip-changelog, Test Plan Approved, Test

#25041 chore: Add execution time for git status API
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Git Version Control, skip-changelog, skip-testPlan

#25063 chore: Added license plan to tenant
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/LicensePlan.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/PricingPlan.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: skip-changelog, skip-testPlan

#25083 test: Cypress | Flaky fixes
  app/client/cypress/e2e/Regression/Apps/CommunityIssues_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/TopStacked_spec.ts
  app/client/cypress/support/Pages/AssertHelper.ts
Labels: skip-changelog, Test Plan Approved, Test

#25068 fix: Git discarding null properties
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ImportExportUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-app-layout.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-navigation-setting.json
Labels: Bug, App Viewers Pod, High, Production, Git Version Control, Release Blocker, App Navigation, Git Pod

#25085 test: Cypress | Flakyfix + New Scripts
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/DSDocs_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/GoogleSheets_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AssertHelper.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test Plan Approved, Test

#25084 chore: Moved the License domain out TenantConfiguration
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/LicensePlan.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/LicensePlan.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/License.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/LicenseCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: skip-changelog, skip-testPlan

#24653 fix: removes error count form widget name component
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Widget_Error_spec.js
  app/client/src/components/editorComponents/WidgetNameComponent/SettingsControl.tsx
Labels: Bug, UI Improvement, App Viewers Pod, Production, Needs Triaging, UI Builders Pod, Widget Styling, Canvas / Grid, skip-testPlan, Widget design system

#25095 test: Fixing promotion failure
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
Labels: skip-changelog, Test

#25079 chore: Renaming feature flags for ME to lower case
  app/client/cypress/fixtures/featureFlags.json
  app/client/src/ce/entities/FeatureFlag.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.xml
Labels: skip-changelog

#25096 chore: limit the number of users to 1 + number of system generated emails
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
Labels: Bug, Task, skip-changelog, skip-testPlan

#25102 fix: Changes to fix CE test failure on EE
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: Bug, skip-testPlan

#25062 feat: WDS `bgPositive` states and `Subtle` variant
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
Labels: Enhancement, App Viewers Pod, skip-testPlan, Widget design system, WDS team

#25115 chore: Removed ff4j configuration in favour of Flagsmith
  app/server/appsmith-server/src/main/resources/features/init-flags.xml
Labels: Frontend, Backend, Task, skip-changelog, BE Coders Pod, Data Platform Pod, Datasource Environments

#25104 chore: Stub /features call in tests
  CODEOWNERS
  app/client/cypress/e2e/Regression/ClientSide/IDE/MaintainContext&Focus_spec.js
  app/client/cypress/e2e/Regression/ClientSide/SettingsPane/EmbedSettings_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/GoogleSheetsStub_spec.ts
  app/client/cypress/fixtures/featureFlags.json
  app/client/cypress/fixtures/featureFlagsComplement.json
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/cypress/support/commands.js
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.xml
Labels: skip-changelog, skip-docs, skip-testPlan

#25137 ci: add ts check in ci-test-limited
  .github/workflows/build-client-server.yml
Labels: skip-changelog, CI

#25087 test: Cypress | Flaky fixes
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/Error_handling_spec.js
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ElasticSearch_Basic_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/AssertHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
Labels: skip-changelog, Test Plan Approved, Test

#25132 chore: replacing hard coded string
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/AnalyticsConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/AnalyticsConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: skip-changelog, skip-testPlan

#24994 chore: Improve js execution instrumentation
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/analyticsSaga.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
  app/client/src/workers/Evaluation/fns/utils/jsObjectFnFactory.ts
Labels: Task, skip-changelog, JS Objects, FE Coders Pod, skip-testPlan

#24895 fix: Action selector form getting cut off
  app/client/src/components/editorComponents/ActionCreator/viewComponents/Action/ActionSelector.tsx
Labels: Bug, UI Improvement, Production, FE Coders Pod, medium, Test Plan Approved, Action Selector

#24961 fix: update placeholder text for port numbers in datasource form
  app/client/cypress/e2e/Sanity/Datasources/Port_Number_Placeholder_Spec.ts
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/form.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/form.json
Labels: Bug, Backend, Datasources, BE Coders Pod, Test Plan Approved, Integrations Pod, Integrations Pod General

#24760 chore: Pass errors to widgets
  app/client/src/utils/widgetRenderUtils.test.ts
  app/client/src/utils/widgetRenderUtils.tsx
  app/client/src/widgets/BaseWidget.tsx
Labels: Enhancement, Chart Widget, App Viewers Pod, skip-changelog, Test Plan Approved

#25163 fix: revert execution instrumentation
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/analyticsSaga.ts
  app/client/src/selectors/entitiesSelector.ts
  app/client/src/workers/Evaluation/JSObject/utils.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
  app/client/src/workers/Evaluation/fns/utils/jsObjectFnFactory.ts
Labels: Bug, skip-testPlan

#25125 feat: WDS color `Negative`, states and `Subtle` variant
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
Labels: Enhancement, App Viewers Pod, skip-testPlan, Widget design system, WDS team

#25167 test: Cypress - Flaky Fix
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/FirstTimeUserOnboarding_spec.js
Labels: skip-changelog, Test

#25143 test: Cypress | Flaky fixes
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkAppWithMultipleDS_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_defaultSelectedItem_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Widget_Add_button_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/switchCell_spec.js
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test Plan Approved, Test

#23401 chore: update init-container images and update probes
  deploy/helm/Chart.yaml
  deploy/helm/templates/NOTES.txt
  deploy/helm/templates/statefulset.yaml
Labels: Bug, High, Community Reported, Needs Triaging, skip-changelog, Stale, K8s, DevOps Pod

#25138 fix: git discard message
  app/client/cypress/e2e/Regression/ClientSide/BugTests/GitBugs_Spec.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/components/DiscardChangesWarning.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
Labels: Bug, Release, Git Version Control, medium, Test Plan Approved, Git Pod

#25178 test: Cypress | Flaky fixes
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/checkboxCell_spec.js
Labels: skip-changelog, Test

#25165 chore: Code split authorizationRequest to allow overriding behaviour in EE
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomServerOAuth2AuthorizationRequestResolverCE.java
Labels: skip-changelog, Team Managers Pod, SSO, skip-testPlan

#24995 fix:remove linting related code from eval
  app/client/src/entities/DependencyMap/index.ts
  app/client/src/plugins/Linting/linters/worker.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/mockData/mockConfigTree.ts
  app/client/src/workers/common/DataTreeEvaluator/mockData/mockUnEvalTree.ts
  app/client/src/workers/common/DataTreeEvaluator/test.ts
  app/client/src/workers/common/DependencyMap/index.ts
  app/client/src/workers/common/DependencyMap/test.ts
  app/client/src/workers/common/DependencyMap/utils.ts
Labels: Bug, JS Evaluation, Task, JS Linting & Errors, FE Coders Pod, skip-testPlan

#25119 fix: prevent click event on disabled next page button of table widget
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Widget_API_Pagination_spec.js
  app/client/src/widgets/TableWidgetV2/component/header/actions/index.tsx
Labels: Bug, Good First Issue, Table Widget, App Viewers Pod, Needs Triaging, medium, Test Plan Approved

#24328 test: Cypress- js to ts migration tests for Dynamic Height feature
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/Error_handling_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Auto_Height_Limit_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Auto_Height_Limit_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Auto_Height_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Auto_Height_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/CanvasHeight_resize_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/CanvasHeight_resize_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Container_collapse_undo_redoSpec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Container_collapse_undo_redoSpec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/DynamicHeight_Visibility_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/DynamicHeight_Visibility_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Form_With_SwitchGroup_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Form_With_SwitchGroup_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Invisible_Widgets_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/JsonForm_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/JsonForm_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_Resizing_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_Resizing_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_TextWidget_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_TextWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/List_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Modal_Widget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Modal_Widget_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Multiple_Container_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Multiple_Container_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Tab_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Tab_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/TextWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Text_With_Different_Size_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Text_With_Different_Size_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/AppSettings/AppSettings.ts
  app/client/cypress/support/Pages/AppSettings/PageSettings.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, Test Plan Approved, Test

#25180 ci: Add command to run ci-test-limited
  .github/workflows/build-client-server.yml
  .github/workflows/ci-test-limited-command.yml
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, CI

#25181 fix: modify-evalMetaUpdate
  app/client/src/ce/workers/Evaluation/evalWorkerActions.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/setters.ts
Labels: Bug

#25192 ci: Fix the result job name fir limited test workflow
  .github/workflows/build-client-server.yml
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, CI

#25197 ci: Fix to skip the commented lines from limited-tests.txt
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, CI

#25059 fix: Html canvas getting cut off while moving into other containers
  app/client/src/pages/common/CanvasArenas/CanvasDraggingArena.tsx
Labels: Bug, UI Builders Pod, Drag & Drop, Canvas / Grid

#25099 fix: Import failing when application theme is set but deleted
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
Labels: Bug, Needs Triaging, Git Version Control, Deploy Preview, Git Pod

#25199 feat: new user signed up flag and show walkthough only if its set
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/utils/storage.ts
Labels: Enhancement

#25128 fix: fix Amazon S3 test datasource handling for access denied error
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/constants/S3PluginConstants.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/DatasourceUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/TemplateUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
Labels: Bug, Community Reported, S3, BE Coders Pod, medium, Test Plan Approved, Data Platform Pod, Integrations Pod, Error Handling, Integrations Pod General

#25031 fix: Map widget zoom control suffix
  app/client/package.json
  app/client/src/components/propertyControls/NumericInputControl.tsx
  app/client/src/components/propertyControls/StepControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyHelpLabel.tsx
  app/client/yarn.lock
Labels: Bug, Design System Pod, Map Widget, App Viewers Pod, High, Community Reported, Needs Triaging, Test Plan Approved

#24949 fix: sidebar bottom section design change
  app/client/src/ce/pages/Home/LeftPaneBottomSection.tsx
Labels: Bug, Design System Pod, Task, Test Plan Approved

#25179 test: Cypress | Flaky fix
  .github/workflows/ci-test-limited.yml
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/JS_AC1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/JS_AC2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/CatchBlock_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/InputTruncateCheck_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkAppWithMultipleDS_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/checkboxCell_spec.js
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Mongo_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress/limited-tests.txt
  app/client/cypress/support/Objects/Hostport.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/Onboarding.ts
Labels: skip-changelog, Test Plan Approved, Test

#25201 feat: Feature Flagging Default Traits
  CODEOWNERS
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagIdentities.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagIdentityTraits.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagTrait.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CacheableFeatureFlagHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/FeatureFlagServiceTest.java
Labels: Task, New Developers Pod, Feature Flagging

#25225 test: Cypress | Changing types of moved test specs
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplication_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_On_Table_Filter_Pane_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/GoogleSheets_spec.ts
Labels: skip-changelog, Test

#23616 chore: add cypress tests for auto height scenarios
  app/client/cypress.config.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoHeight_Container_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoHeight_Form_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoHeight_Modal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoHeight_Tabs_spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/Tabs.ts
  app/client/src/utils/autoLayout/heightUpdateUtils.ts
  app/client/src/utils/autoLayout/highlightUtils.ts
  app/client/src/utils/autoLayout/positionUtils.ts
Labels: skip-changelog, skip-testPlan, Mobile Pod

#25228 ci: Added pre-commit hook to check for Spotless formatting
  app/client/.husky/pre-commit
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/constants/S3PluginConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CacheableFeatureFlagHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/FeatureFlagServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
  app/server/pom.xml
Labels: skip-changelog, CI

#24365 perf: Optimise App loading apis
  app/client/src/actions/initActions.ts
  app/client/src/actions/widgetActions.tsx
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/AppViewer/loader.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/pages/Editor/loader.tsx
  app/client/src/reducers/uiReducers/editorReducer.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/selectors/editorSelectors.tsx
Labels: Performance Pod, IDE, New Developers Pod, Performance

#25037 chore: show stack trace with the failing action type for cypress
  app/client/src/ce/constants/ApiConstants.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/common/ErrorPage.tsx
  app/client/src/pages/common/ErrorPages/StackTrace.tsx
  app/client/src/reducers/uiReducers/errorReducer.tsx
  app/client/src/sagas/ErrorSagas.tsx
Labels: IDE, Task, skip-changelog, New Developers Pod

#25172 fix: vertically stack lint errors in the tooltip (#24974)
  app/client/src/globalStyles/CodemirrorHintStyles.ts
Labels: JS Linting & Errors, Test Plan Approved

#25193 chore: remove redundant code
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/utils/SheetsUtil.java
Labels: Backend, Task, skip-changelog, BE Coders Pod, Up for grabs, Integrations Pod, skip-testPlan, Integrations Pod General

#25258 chore: Skeleton for ME OOS changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MockDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: skip-changelog

#25244 fix: add validation to datasource create flow and error handling
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStorageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceStorageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: Bug, Enhancement, Business Edition, Epic, Team Managers Pod, BE Coders Pod, Data Platform Pod, Datasource Environments, skip-testPlan, Hot

#25221 fix: Custom theme deleted at checkout remote branch
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
Labels: Bug, Enhancement, App Viewers Pod, Needs Triaging, Git Version Control, App Theming, Test Plan Approved, Git Pod, Widget design system

#25217 test: Cypress | Flaky Fixes
  README.md
  app/client/cypress.config.ts
  app/client/cypress/e2e/Regression/Apps/PromisesApp_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/NavigateTo1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/JS_AC1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/JS_AC2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Binding/ButtonWidgets_NavigateTo_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Binding/Widgets_Default_data_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug15056_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug16702_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/CatchBlock_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/GitBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/InputTruncateCheck_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Connection_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBugs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Linting/BasicLint_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Linting/EntityPropertiesLint_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/GuidedTour_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/EntityBottomBar_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PeekOverlay/PeekOverlay_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PublishedApps/PublishedModeToastToggle_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Refactoring/Refactoring_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePickerV2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePickerV2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/List/List6_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_dataIdentifierProperty_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_defaultSelectedItem_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_onItemClick_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Sliders/NumberSlider_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Sliders/RangeSlider_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_DisplayText_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Widget_Add_button_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_EvaluatedValue_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_TestExecuteWithDynamicBindingInUrl_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/CurlImportFlow_spec.js
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/PlatformFn_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/SetTimeout_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Objects/TestConfigs.ts
  app/client/cypress/support/Pages/AssertHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/Onboarding.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/gitSync.js
Labels: skip-changelog, Test Plan Approved, Test

#25276 chore: Add repoUrl to analytics datapoint
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Git Version Control, Task, skip-changelog, skip-testPlan, Git Pod

#25235 fix: edit ds button was disabled due to no user perm in ds object
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug25148_Spec.ts
  app/client/src/pages/Editor/APIEditor/ApiAuthentication.tsx
Labels: Bug, Datasources, Release, Needs Triaging, Release Blocker, BE Coders Pod, Test Plan Approved, Integrations Pod

#25288 chore: removal of transfer solution
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceStorageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStorageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ActionExecutionSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceStorageTransferSolution.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceStorageTransferSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStorageTransferSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStorageTransferSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceTriggerSolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: skip-changelog

#25298 fix: removes race conditions in recent perf optimisation
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/sagas/PageSagas.tsx
  app/client/src/utils/DSLMigrations.ts
Labels: Bug, skip-testPlan

#24938 feat: disallow collapsing sidebar when signposting is enabled
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Pin_spec.js
  app/client/src/pages/Editor/EditorHeader.test.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/sagas/InitSagas.ts
Labels: Enhancement, Entity Explorer, New Developers Pod, Test Plan Approved

#25094 fix: fix MsSQL JDBC URL format error
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlTestDBContainerManager.java
Labels: Bug, Backend, High, Needs Triaging, BE Coders Pod, Up for grabs, Test Plan Approved, MsSQL, Integrations Pod

#25290 fix: CurrencyInput setValue due to meta override
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
Labels: Bug, High, Release, Needs Triaging, Test Plan Approved, PR blocker, Widget setter method

#25306 fix: WDS color `bdWarningHover` return
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
Labels: Bug, skip-testPlan, Widget design system, WDS team

#25144 test: Cypress - Gitea App Automation
  app/client/cypress/e2e/Regression/Apps/CommunityIssues_Spec.ts
  app/client/cypress/e2e/Regression/Apps/ImportExportForkApplication_spec.js
  app/client/cypress/e2e/Regression/ClientSide/BugTests/GitBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/ExistingApps/v1.9.24/DSCrudAndBindings_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/e2e/Smoke/Apps/ReconnectDatasource_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test Plan Approved, Test

#25227 chore: Fix changeset workflow to run on external contributor PR
  .github/workflows/integration-tests-command.yml
Labels: App Viewers Pod, Task, skip-changelog, All Widgets

#25198 fix: Table crashes when column width is greater than component width
  app/client/src/widgets/TableWidgetV2/widget/reactTableUtils/getColumnsPureFn.tsx
Labels: Bug, Table Widget, App Viewers Pod, High, Community Reported, Needs Triaging, Test Plan Approved, Sentry

#25312 fix: lodash import
  app/client/src/WidgetQueryGenerators/Snowflake/index.ts
Labels: Bug

#25319 fix: fixes for running checks on pre-commit for BE and FE separately
  app/client/.husky/check-staged-files.sh
  app/client/.husky/pre-commit
Labels: Bug, skip-docs, skip-testPlan

#25324 fix: pre-commit logic
  app/client/.husky/check-staged-files.sh
Labels: Bug, skip-docs, skip-testPlan

#25337 test: Cypress - Skipping test to unblock CI
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/JS_AC2_spec.ts
Labels: skip-changelog, Test

#25284 chore: Refactors hide embed share setting flag.
  app/client/cypress/e2e/Regression/ClientSide/SettingsPane/EmbedSettings_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Applications/EmbedSnippet/useUpdateEmbedSnippet.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/resources/features/init-flags.xml
Labels: skip-changelog, Templates pod, Test Plan Approved

#25343 test: Cypress | Flaky fix
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableTextPagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2TextPagination_spec.js
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test

#25332 feat: WDS color `bgNeutral`, states and `Subtle` variant
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
Labels: Enhancement, App Viewers Pod, skip-testPlan, Widget design system, WDS team

#25338 chore: Stop logging uncaught user generated error into sentry
  app/client/src/workers/Evaluation/evaluation.worker.ts
Labels: skip-changelog, skip-testPlan

#25374 feat: js evaluation code
  app/client/packages/rts/src/controllers/jsEndpointExecute/JsEndpointExecuteController.ts
  app/client/packages/rts/src/routes/js_Endpoint_Execute.ts
Labels: Enhancement

#25370 chore: add cypress test case to validate port number placeholder
  app/client/cypress/e2e/Sanity/Datasources/Port_Number_Placeholder_Spec.ts
Labels: Task, skip-changelog, BE Coders Pod, Integrations Pod, skip-testPlan, Integrations Pod General

#25358 feat: add serverSideExecution option
  app/client/src/actions/jsPaneActions.ts
  app/client/src/api/JSActionAPI.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/entities/JSCollection/index.ts
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/constants.ts
  app/client/src/pages/Editor/JSEditor/utils.test.ts
  app/client/src/sagas/JSPaneSagas.ts
Labels: Enhancement

#25378 feat: new eval method
  app/client/packages/rts/src/controllers/jsEndpointExecute/JsEndpointExecuteController.ts
Labels: Enhancement

#24969 perf: reduce the bundle size, vol. 2
  app/client/.eslintrc.js
  app/client/package.json
  app/client/src/WidgetQueryGenerators/MSSQL/index.ts
  app/client/src/WidgetQueryGenerators/MySQL/index.ts
  app/client/src/WidgetQueryGenerators/PostgreSQL/index.ts
  app/client/src/WidgetQueryGenerators/Snowflake/index.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/emptyResponse.tsx
  app/client/src/components/propertyControls/DatePickerControl.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/RestAPIForm.tsx
  app/client/src/plugins/Linting/Linter.ts
  app/client/src/plugins/Linting/linters/index.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/LintingSagas.ts
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/utils/editor/EditorUtils.ts
  app/client/src/utils/importUppy.ts
  app/client/src/widgets/CurrencyInputWidget/widget/derived.js
  app/client/src/widgets/DatePickerWidget/component/index.tsx
  app/client/src/widgets/DatePickerWidget2/component/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/component/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.styled.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/FilepickerWidget/component/index.tsx
  app/client/src/widgets/FilepickerWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/fields/CurrencyInputField.tsx
  app/client/src/workers/common/JSLibrary/lodash-wrapper.js
  app/client/yarn.lock
Labels: Test Plan Approved

#25047 feat: Add fallback height to lazy code editor fallback codemirror component
  app/client/src/components/editorComponents/LazyCodeEditor/CodeEditorFallback.tsx
  app/client/src/components/editorComponents/LazyCodeEditor/index.tsx
  app/client/src/components/editorComponents/LazyCodeEditor/styles.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
Labels: Bug, Enhancement, Needs Triaging, BE Coders Pod, Postgres, Test Plan Approved, Integrations Pod

#24729 fix: Makes use of mobile positioning properties in Table Widget
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/TableWidget_height_spec.ts
  app/client/cypress/fixtures/AutoLayoutTableWidgetDsl.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/sagas/selectors.tsx
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Bug, High, UI Builders Pod, Mobile Pod, Responsive Widget

#25263 feat: default table name populated in query editor for mock datasources
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
  app/client/src/pages/Editor/FormControl.tsx
  app/client/src/utils/editorContextUtils.ts
Labels: Enhancement, Core Query Execution, BE Coders Pod, Postgres, Test Plan Approved, Data Platform Pod, Integrations Pod

#25297 fix: auto expand data section in prop pane on connect data
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
Labels: Bug, App Viewers Pod, Needs Triaging, Medium, Test Plan Approved, One-click Binding

#25280 fix: Cannot read properties of undefined (reading 'matches')
  app/client/src/utils/hooks/useWidgetFocus/handleTab.ts
  app/client/src/utils/hooks/useWidgetFocus/tabbable.test.ts
  app/client/src/utils/hooks/useWidgetFocus/tabbable.ts
Labels: Bug, App Viewers Pod, High, Needs Triaging, Sentry, Widget keyboard accessibility, skip-testPlan

#25396 fix: Version update user analytics
  app/client/src/ce/configs/types.ts
  app/client/src/sagas/WebsocketSagas/handleAppLevelSocketEvents.tsx
  app/client/src/sagas/WebsocketSagas/versionUpdatePrompt.ts
  app/client/src/utils/AnalyticsUtil.tsx
  app/client/src/utils/storage.ts
Labels: Bug, Task, New Developers Pod, skip-testPlan, In App Comms

#24746 fix: List widget highlights not visible
  app/client/src/components/editorComponents/DropTargetComponent.tsx
Labels: Bug, UI Builders Pod, skip-testPlan, Responsive Widget

#25411 fix: tabs widget reading from file system
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/CommonConstants.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/DSLTransformerHelper.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/DSLTransformHelperTest.java
Labels: Bug, Critical, Production, Git Version Control, Test Plan Approved

#24704 feat: added api to return 1 product message
  app/client/cypress/support/commands.js
  app/client/src/actions/userActions.ts
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/api/UserApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/components/editorComponents/ProductAlertBanner.tsx
  app/client/src/constants/ProductUpdate.ts
  app/client/src/ee/sagas/userSagas.tsx
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/selectors/usersSelectors.tsx
  app/client/src/utils/hooks/localstorage.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/UrlCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ProductFeatureAlertController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ProductFeatureAlertControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ProductAlertMessageApplicabilityContext.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ProductAlertResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ProductAlertService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ProductAlertServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ProductAlertServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ProductAlertServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/productAlerts/productAlertMessages.yml
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ProductAlertServiceCEImplTest.java
  app/server/appsmith-server/src/test/resources/productAlerts/productAlertMessages.yml
Labels: Enhancement, Core Query Execution, BE Coders Pod, New Developers Pod, Test Plan Approved, Data Platform Pod, In App Comms

#25434 chore: hotfix v1.6.28
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/CommonConstants.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/DSLTransformerHelper.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/DSLTransformHelperTest.java
Labels: Critical, Git Version Control, Test Plan Approved

#25438 fix: signposting is showing up on non postgres screens
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Needs Triaging, Release Blocker, skip-testPlan

#25341 test: Cypress - Flaky fix
  app/client/cypress/e2e/Regression/Apps/CommunityIssues_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableTextPagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2TextPagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Widget_Add_button_spec.js
  app/client/cypress/fixtures/CommunityIssuesExport.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test Plan Approved, Test

#25425 fix: added error handling when no config found in datasourceStorage
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStorageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceStorageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceStructureSolutionTest.java
Labels: Bug, High, Regressed, Needs Triaging, Deploy Preview, BE Coders Pod, Data Platform Pod, Datasource Environments

#25455 feat: WDS colors `*Subtle` refinement
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
Labels: Enhancement, App Viewers Pod, skip-testPlan, Widget design system, WDS team

#25458 chore: Multiple environment instrumentation
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/AnalyticsConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/DatasourceAnalyticsUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStorageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStorageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
Labels: skip-changelog, skip-testPlan

#25043 test: cypress - updated dateColumn test from js to ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_editing_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_editing_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_editing_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_editing_2_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test Plan Approved, Test

#25342 chore: Change to Call fetch snapshot API call only from edit mode
  app/client/src/actions/autoLayoutActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/sagas/PageSagas.tsx
  app/client/src/sagas/SnapshotSagas.ts
Labels: UI Builders Pod, skip-changelog, Test Plan Approved, Conversion Algorithm

#25454 fix: EE sync failure merge conflict
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
Labels: Bug

#25347 ci: Split specs and run Cypress without Cypress Dashboard
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
  app/client/cypress/cypress-split.ts
  app/client/cypress/support/e2e.js
  app/client/cypress_ci.config.ts
  app/client/cypress_ci_custom.config.ts
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, CI

#25475 ci: Remove cypress env values for custom script run
  .github/workflows/ci-test-custom-script.yml
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/EmptyApp.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/Profile.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/apppage.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/emptyAppBuilder.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/loginpage.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/quickPageWizard.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/DatasourcePageLayout_spec.js/emptydatasourcepage.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorComment_spec.js/jsObjAfterCommenting1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorComment_spec.js/jsObjBeforeCommenting1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterGoLineStartSmart5.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify2.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify3.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify4.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify4_1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify6.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify7.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforeGoLineStartSmart5.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify2.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify3.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify4.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify6.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify7.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorSaveAndAutoIndent_spec.js/jsObjAfterSaveAndPrettify.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorSaveAndAutoIndent_spec.js/jsObjBeforeSaveAndPrettify.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/WidgetsLayout_spec.js/inlineDisabled.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/WidgetsLayout_spec.js/inlineEnabled.snap.png
Labels: skip-changelog, CI

#25488 test: Cypress | Skipping Visual tests until path is fixed - (without Dashboard run)
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/AppPageLayout_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/DatasourcePageLayout_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorComment_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorSaveAndAutoIndent_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/WidgetsLayout_spec.js
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/EmptyApp.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/Profile.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/apppage.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/emptyAppBuilder.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/loginpage.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/AppPageLayout_spec.js/quickPageWizard.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/DatasourcePageLayout_spec.js/emptydatasourcepage.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorComment_spec.js/jsObjAfterCommenting1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorComment_spec.js/jsObjBeforeCommenting1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterGoLineStartSmart5.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify2.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify3.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify4.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify4_1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify6.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify7.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforeGoLineStartSmart5.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify1.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify2.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify3.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify4.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify6.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify7.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorSaveAndAutoIndent_spec.js/jsObjAfterSaveAndPrettify.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/JSEditorSaveAndAutoIndent_spec.js/jsObjBeforeSaveAndPrettify.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/WidgetsLayout_spec.js/inlineDisabled.snap.png
  app/client/snapshots/Regression/ClientSide/VisualTests/WidgetsLayout_spec.js/inlineEnabled.snap.png
Labels: skip-changelog, Test

#25480 ci: Changes to enable rerun with custom script
  .github/workflows/ci-test-custom-script.yml
  app/client/cypress_ci_custom.config.ts
Labels: skip-changelog, CI

#25317 ci: Disable perf-tests-v2
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#25481 fix: Datasource navigation causing infinite loop
  app/client/src/pages/Editor/Explorer/Datasources/DatasourceEntity.tsx
Labels: Bug, High, Release, Needs Triaging, New Developers Pod, Test Plan Approved, IDE Navigation

#25444 fix: increase scrolling threshold to fix weird scrolling behaviour
  app/client/src/utils/helpers.tsx
Labels: Bug, High, Needs Triaging, New Developers Pod, Test Plan Approved, IDE Navigation

#25474 chore: Update the content for Provisioning upgrade page
  app/client/package.json
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Upgrade/Carousel.tsx
  app/client/src/ce/pages/Upgrade/ProvisioningUpgradePage.tsx
  app/client/src/pages/Settings/FormGroup/CopyUrlForm.tsx
  app/client/yarn.lock
Labels: Task, skip-changelog, Team Managers Pod, SCIM

#24957 chore: Miscellaneous one click binding updates
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/postgres_spec.ts
  app/client/src/WidgetQueryGenerators/GSheets/index.test.ts
  app/client/src/WidgetQueryGenerators/GSheets/index.ts
  app/client/src/WidgetQueryGenerators/MSSQL/index.test.ts
  app/client/src/WidgetQueryGenerators/MSSQL/index.ts
  app/client/src/WidgetQueryGenerators/MongoDB/index.test.ts
  app/client/src/WidgetQueryGenerators/MongoDB/index.ts
  app/client/src/WidgetQueryGenerators/MySQL/index.test.ts
  app/client/src/WidgetQueryGenerators/MySQL/index.ts
  app/client/src/WidgetQueryGenerators/PostgreSQL/index.test.ts
  app/client/src/WidgetQueryGenerators/PostgreSQL/index.ts
  app/client/src/WidgetQueryGenerators/Snowflake/index.test.ts
  app/client/src/WidgetQueryGenerators/Snowflake/index.ts
  app/client/src/WidgetQueryGenerators/types.ts
  app/client/src/ce/utils/Environments/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useDatasource.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/ConnectData/useConnectData.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/DatasourceSpecificControls/GoogleSheetControls/SheetsDropdown/useSheets.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/ColumnDropdown/useColumns.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/index.tsx
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/sagas/OneClickBindingSaga.ts
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Table Widget, App Viewers Pod, High, Production, Needs Triaging, skip-changelog, Test Plan Approved, One-click Binding

#25395 fix: ShowAlert with same texts, when invoked from different triggers are combined
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/PlatformFn_spec.ts
  app/client/src/sagas/ActionExecution/ShowAlertActionSaga.ts
Labels: Bug, Low, FE Coders Pod, Test Plan Approved, Framework Functions

#25525 feat: isPublic Property added to Publish App Event
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: Enhancement, IDE, Task, New Developers Pod

#25451 test: Cypress - Flaky fix
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableTextPagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2TextPagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Page_Load_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/ExistingApps/v1.9.24/DSCrudAndBindings_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/FirstTimeUserOnboarding_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/table_data_change_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JsOnLoad3_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/Templates.ts
Labels: skip-changelog, Test Plan Approved, Test

#25391 fix: auto toggle js to normal on click of connect data in table widget
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Bug, App Viewers Pod, Task, Test Plan Approved, One-click Binding

#25542 chore: changing interface method
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ForkExamplesWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/MockDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/AuthenticationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceStructureSolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceTriggerSolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ForkExamplesWorkspaceServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: skip-changelog, skip-testPlan

#25487 chore: interface method modification for rbac changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/DatasourceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MockDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ActionExecutionSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/CreateDBTablePageSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceStructureSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceTriggerSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvironmentPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvironmentPermissionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvironmentPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvironmentPermissionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ForkExamplesWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ImportExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/GitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/MockDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/AuthenticationServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceStructureSolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceTriggerSolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ForkExamplesWorkspaceServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportExportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: skip-changelog, skip-testPlan

#25543 fix: cypress prettier
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
Labels: skip-changelog, hotfix, skip-docs, skip-testPlan

#25515 ci: Added common CI check for server and client formatting
  .github/workflows/client-prettier.yml
  .github/workflows/formatting-checks.yml
  .github/workflows/server-spotless.yml
Labels: skip-changelog, CI

#25557 chore: Fix cypress test blocker on ee
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DatasourceSchema_spec.ts
Labels: Bug, skip-changelog, Test Plan Approved

#25545 chore: Move app navigation logo upload to Flagsmith
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/index.tsx
Labels: App Viewers Pod, Task, skip-changelog, App Navigation, Test Plan Approved

#25539 feat: WDS algorithmic colors `fgOn*`
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
Labels: Enhancement, App Viewers Pod, skip-testPlan, Widget design system, WDS team

#25584 ci: Fix comment issue in PR for failed specs
  .github/workflows/build-client-server.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test.yml
  .github/workflows/integration-tests-command.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#25420 fix: revalidation logic
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/validationUtils.ts
Labels: Bug, QA, App Viewers Pod, Needs Triaging, Widget Validation, FE Coders Pod, Evaluated Value, Test Plan Approved, PR blocker

#25467 fix: PostMessage's message field in Action selector doesn't support Objects
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelector_JsToNonJSMode_4_spec.ts
  app/client/packages/ast/src/actionCreator/index.ts
  app/client/src/components/editorComponents/ActionCreator/Field/FieldConfig.ts
  app/client/src/components/editorComponents/ActionCreator/utils.ts
Labels: Bug, QA, High, FE Coders Pod, Test Plan Approved, Framework Functions, Action Selector

#25576 test: Cypress - Flaky fix BracketNotation_AC_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/BracketNotation_AC_spec.ts
  app/client/cypress/limited-tests.txt
Labels: skip-changelog, Test Plan Approved, Test

#25596 ci: Upload results for every attempt separately
  .github/workflows/ci-test-custom-script.yml
Labels: skip-changelog, CI

#25599 ci: Fix for artifact name to download
  .github/workflows/ci-test-custom-script.yml
Labels: skip-changelog, CI

#25598 chore: WDS simpler semantic hovers
  app/client/packages/design-system/theming/src/color/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/LightModeTheme.ts
Labels: App Viewers Pod, skip-changelog, skip-testPlan, Widget design system, WDS team

#25555 chore: update tests to include ts definitions
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/ee/components/EnvConfigSection/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
Labels: skip-changelog, Test Plan Approved

#25602 fix: Added embedded check for true env
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: Bug
