Repository appsmithorg/appsmith, pull requests merged in 2024-01, with the labels that each got.

#29962 fix: Update maxTagCount in UseCasesSelect component
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/components/TemplateInfoForm.tsx
Labels: Bug, Templates pod, Community template

#29860 fix: Add isAirgappedInstance check in Onboarding component
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
Labels: Bug, Templates pod, Templates

#29947 chore: Final fixes required for release of Editor Pane segments
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/IDE/EditorPane/AddQuery.tsx
  app/client/src/pages/Editor/IDE/EditorPane/GlobalAdd.tsx
  app/client/src/pages/Editor/IDE/EditorPane/ListQuery.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
Labels: Task, skip-changelog, New Developers Pod, IDE Navigation

#29972 fix: ublock TBP workflow on EE
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
Labels: Bug

#29944 chore: Send analytics event after branch protection
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Git Version Control, skip-changelog, Git Pod

#29985 fix: fix error response returned from un-authorized page access
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
Labels: Bug, Backend, Performance Pod, Needs Triaging, Performance

#29976 fix: add implementation for onForkButtonTrigger in building block
  app/client/src/pages/Editor/FirstTimeUserOnboarding/testUtils.ts
  app/client/src/pages/Templates/BuildingBlock/index.tsx
  app/client/src/pages/Templates/constants.ts
Labels: Bug

#29940 fix: Anvil widget borders
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/common/hooks/useWidgetBorderStyles.ts
  app/client/src/layoutSystems/anvil/layoutComponents/components/FlexLayout.tsx
  app/client/src/layoutSystems/common/WidgetNamesCanvas/WidgetNameConstants.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/utils.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/widgetNameRenderUtils.ts
  app/client/src/widgets/anvil/Container.tsx
Labels: Bug

#29974 fix: Add initDatasourceConnectionDuringImportRequest action to partialImportSaga
  app/client/src/ce/actions/applicationActions.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Bug, Critical, Release, Needs Triaging, Templates pod, PR blocker, Partial-import-export

#29970 chore: refactor for convert query to module
  app/client/src/ce/actions/applicationActions.ts
  app/client/src/ce/pages/Editor/EntityEditor/ConvertToModuleInstanceCTA/index.tsx
  app/client/src/ce/pages/Editor/Explorer/hooks.ts
  app/client/src/ce/pages/common/ConvertEntityNotification.tsx
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/constants/DatasourceEditorConstants.ts
  app/client/src/ee/pages/Editor/EntityEditor/ConvertToModuleInstanceCTA/index.tsx
  app/client/src/ee/pages/common/ConvertEntityNotification.tsx
  app/client/src/pages/Editor/APIEditor/ApiEditorContext.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/pages/Editor/Explorer/ContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Files/FilesContextProvider.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/QueryEditorContext.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/pages/common/Disabler.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: skip-changelog

#30002 fix: [CRITICAL] remove redirect loosing git branch context
  app/client/src/pages/Editor/DataSourceEditor/DatasourceBlankState.tsx
Labels: Bug, Critical, High, Production, Release, Regressed, Needs Triaging, Git Version Control, Release Blocker, New Developers Pod, IDE Navigation, Git Pod

#29977 feat: Add tabs for JS and Queries
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/pages/Editor/IDE/MainPane/FileTabs.tsx
  app/client/src/pages/Editor/IDE/MainPane/JSTab.tsx
  app/client/src/pages/Editor/IDE/MainPane/QueryTab.tsx
  app/client/src/pages/Editor/IDE/MainPane/StyledComponents.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/utils/history.ts
Labels: Enhancement, New Developers Pod, IDE Navigation

#30000 chore: Fixed flaky test in partial export service
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PartialExportServiceTest.java
Labels: skip-changelog

#29686 fix: improve validation error message for Table widget
  app/client/cypress/e2e/Regression/ClientSide/Binding/Invalid_binding_spec.js
  app/client/cypress/fixtures/testdata.json
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.ts
Labels: Bug, Enhancement, JS Evaluation, Stale, JS Linting & Errors, FE Coders Pod

#29965 chore: Refactoring multiple environments to use editorId instead of appId
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/ButtonGroup2_spec.ts
  app/client/src/ce/actions/applicationActions.ts
  app/client/src/ce/actions/environmentAction.ts
  app/client/src/ce/components/SwitchEnvironment/index.tsx
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/components/BottomBar/index.tsx
  app/client/src/pages/Applications/ImportApplicationModal.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal/GitSyncModalV1.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal/GitSyncModalV2.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/ChooseGitProvider.tsx
  app/client/src/utils/storage.ts
Labels: skip-changelog

#30006 fix: Databricks update, insert and delete queries working by handling empty resultset
  app/server/appsmith-plugins/databricksPlugin/src/main/java/com/external/plugins/DatabricksPlugin.java
Labels: Bug

#29932 chore: Push after auto commit
  app/server/appsmith-server/src/main/java/com/appsmith/server/events/AutoCommitEvent.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/GitAutoCommitHelperImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/AutoCommitEventHandlerImplTest.java
Labels: Git Version Control, skip-changelog, Git Pod

#29718 chore: workflows sidebar changes code split
  app/client/src/ce/constants/WorkflowConstants.ts
  app/client/src/utils/history.ts
Labels: Enhancement, skip-changelog, skip-testPlan

#29669 chore: Lazy load autocomplete and linting services
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/CodeEditors/JSEditor.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSLibrarySaga.ts
  app/client/src/sagas/LintingSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/sagas/TernSaga.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/utils/autocomplete/TernWorkerService.ts
  app/client/src/utils/autocomplete/__tests__/TernServer.test.ts
  app/client/src/utils/autocomplete/customDefUtils.ts
Labels: skip-changelog

#30012 fix: Auth API send refresh token issue fixed
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
Labels: Bug, Needs Triaging, Integrations Pod, Integrations Pod General

#30035 chore: "Revert Lazy load autocomplete and linting services"
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/CodeEditors/JSEditor.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSLibrarySaga.ts
  app/client/src/sagas/LintingSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/sagas/TernSaga.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/utils/autocomplete/TernWorkerService.ts
  app/client/src/utils/autocomplete/__tests__/TernServer.test.ts
  app/client/src/utils/autocomplete/customDefUtils.ts
Labels: skip-changelog

#29950 chore: Use a single `notDeleted` method
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/mongo/SoftDeletePartTreeMongoQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration032AddingXmlParserToApplicationLibraries.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
Labels: skip-changelog

#30043 fix: memoize getAppThemeSettings selector obj.
  app/client/src/ce/selectors/applicationSelectors.tsx
Labels: Bug, Release, Needs Triaging, UI Builders Pod, Release Blocker, Reflow & Resize, skip-testPlan

#29981 chore: Check new git permissions for respective git operations
  app/client/src/ce/utils/permissionHelpers.tsx
  app/client/src/components/designSystems/appsmith/header/DeployLinkButton.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/DangerZone.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/index.test.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitSettings/index.tsx
  app/client/src/pages/Editor/gitSync/hooks/gitPermissionHooks.ts
  app/client/src/pages/Editor/gitSync/hooks/useIsGitAdmin.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Git Version Control, skip-changelog, Git Pod

#30046 fix: Migration fails when DSL is larger
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/WebClientUtils.java
Labels: Bug

#29856 test: Cypress | Replace static waits from Helpers + Flaky fixes
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Dropdown/Dropdown_onOptionChange_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Search_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/AppSettings/ThemeSettings.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/EditorNavigation.ts
  app/client/cypress/support/Pages/IDE/Sidebar.ts
  app/client/cypress/support/WorkspaceCommands.js
Labels: skip-changelog, Test

#30059 feat: New header with reorganized structure
  app/client/src/ce/pages/common/AppHeader.tsx
  app/client/src/components/editorComponents/GlobalSearch/HelpBar.tsx
  app/client/src/pages/Editor/EditorName/NavigationMenuData.ts
  app/client/src/pages/Editor/IDE/Header/index.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation

#30007 fix: interchanged primary btn to gen crud from new query
  app/client/src/ce/hooks/datasourceEditorHooks.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceViewModeSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/GoogleSheetSchema.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/utils/editorContextUtils.ts
Labels: Bug, Task, Integrations Pod, Activation - datasources

#29986 chore: Update doc for skipping tests
  CODEOWNERS
  contributions/ServerSetup.md
Labels: skip-changelog

#30055 test: Fix for gsheet Misc_spec
  app/client/cypress/e2e/GSheet/Misc_Spec.ts
Labels: skip-changelog, Test

#29926 ci: Added step to check if @tag.All is given as expected.
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#30065 fix: remove hotkey shortcuts for Entity Explorer and Preview mode
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
Labels: Bug

#29966 chore: Refactor Context Switching
  app/client/src/actions/ideActions.ts
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/ce/entities/IDE/utils.ts
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
  app/client/src/ce/navigation/FocusElements/NoIDE.ts
  app/client/src/ce/navigation/FocusSelectors.ts
  app/client/src/ce/navigation/FocusSetters.ts
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.ts
  app/client/src/ce/navigation/FocusStrategy/NoIDEFocusStrategy.ts
  app/client/src/ce/navigation/FocusStrategy/index.ts
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/components/editorComponents/GlobalSearch/useRecentEntities.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/ee/entities/IDE/constants.ts
  app/client/src/ee/entities/IDE/utils.ts
  app/client/src/ee/navigation/FocusSelectors.ts
  app/client/src/ee/navigation/FocusSetters.ts
  app/client/src/ee/navigation/FocusStrategy/index.ts
  app/client/src/ee/sagas/NavigationSagas.ts
  app/client/src/entities/IDE/utils.ts
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/navigation/FocusEntity.test.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/navigation/FocusSelectors.ts
  app/client/src/navigation/FocusUtils.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
  app/client/src/pages/Editor/IDE/MainPane/FileTabs.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/IDE/Sidebar/SidebarButton.tsx
  app/client/src/pages/Editor/IDE/Sidebar/SidebarComponent.tsx
  app/client/src/pages/Editor/IDE/Sidebar/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/sagas/ContextSwitchingSaga.ts
  app/client/src/sagas/FocusRetentionSaga.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/sagas/GlobalSearchSagas.ts
  app/client/src/selectors/queryPaneSelectors.ts
Labels: Task, skip-changelog, New Developers Pod, IDE Navigation

#30092 ci: added suggestion message on using @tag.All
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI

#30094 chore: consolidatedApi: split endpoint to view and edit mode
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ConsolidatedAPIController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ConsolidatedAPIResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
Labels: Backend, Performance Pod, Task, skip-changelog, Performance

#30010 fix: Renaming new JS Object not working instantly
  app/client/src/components/editorComponents/EditableText.tsx
Labels: JS Objects

#30087 chore: Add migration for adding indexes to actionCollection collection
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration043AddIndexActionCollectionPageID.java
Labels: Task, skip-changelog

#30097 chore: add code split for refactoring in module context
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/RefactorEntityNameCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/refactors/NewActionRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceCEImpl.java
Labels: skip-changelog

#30073 chore: js module function name change refactor
  app/client/src/ce/api/JSActionAPI.tsx
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/utils/JSPaneUtils.test.ts
  app/client/src/utils/JSPaneUtils.tsx
Labels: skip-changelog

#30014 feat: add unit test for building block
  app/client/src/pages/Templates/BuildingBlock/BuildingBlock.test.tsx
  app/client/src/pages/Templates/ForkTemplate.tsx
  app/client/src/pages/Templates/test_config.ts
Labels: Enhancement, Templates pod, Templates

#29900 chore: Remove `deleted` field on domain classes
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/imports/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration011CreateIndexDefaultDomainIdDefaultDomainTypeDropIndexDefaultWorkspaceId.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration016RenameIndexesWithLongNames.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration036AddRecentlyUsedEntitiesForUserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/imports/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
  app/server/appsmith-server/src/test/resources/test_assets/ActionCollectionServiceTest/mockObjects.json
Labels: skip-changelog

#30139 chore: Bring boolean deleted field back
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
Labels: skip-changelog

#30108 fix: modal body
  app/client/packages/design-system/theming/src/hooks/src/useCssTokens.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/styles.module.css
  app/client/packages/storybook/.storybook/preview-head.html
Labels: Bug

#30137 fix: ds initial values logic on app import
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/components/formControls/utils.ts
Labels: Bug, Datasources, QA, Critical, Release, Needs Triaging, Import-Export-App, BE Coders Pod, Test Plan Approved, Data Platform Pod, Git Pod, AI, Appsmith Labs

#30147 feat: add unit test for template filters component
  app/client/src/pages/Templates/BuildingBlock/BuildingBlock.test.tsx
  app/client/src/pages/Templates/StartWithTemplateFilter/TemplateFilter.test.tsx
  app/client/src/pages/Templates/StartWithTemplateFilter/index.tsx
  app/client/src/pages/Templates/test_config.ts
Labels: Enhancement, potential-duplicate, Templates pod, Templates

#30060 chore: Split screen foundations
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.ts
  app/client/src/pages/Editor/IDE/EditorPane/EditorPaneSegments.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/ListWidgets.tsx
  app/client/src/pages/Editor/IDE/EditorPane/QueriesSection.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/FullScreenRoutes.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/SplitScreenRoutes.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/pages/Editor/IDE/EditorPane/Query/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/EmptyState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/Container.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/JSTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/QueryTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/JSEditor/JSBlankState.tsx
  app/client/src/pages/Editor/QueryEditor/QueriesBlankState.tsx
Labels: IDE, Task, skip-changelog, New Developers Pod, IDE Navigation

#30081 ci: Schedule TBP workflow to run 4 times a day with 3hrs interval
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#30109 fix: fixing loader color issue
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
Labels: Bug, Needs Triaging, Git Version Control, Git Pod

#30121 fix: resetWidget doesn't reset child widgets inside a list
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/PlatformFn_spec.ts
  app/client/cypress/fixtures/resetWidgetDSL.json
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/fns/resetWidget.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
Labels: Bug, Critical, Production, Needs Triaging, FE Coders Pod, Action Selector, Widget setter method

#30173 fix: template layout issue
  app/client/src/pages/Templates/BuildingBlock/BuildingBlock.test.tsx
  app/client/src/pages/Templates/ForkTemplate.tsx
Labels: Bug, Templates pod, Templates

#30181 fix: Widget list cut down in the bottom
  app/client/src/pages/Editor/IDE/EditorPane/UI/Add.tsx
Labels: Bug, New Developers Pod, IDE Navigation

#30189 fix: redundant unit tests in templates
  app/client/src/pages/Templates/BuildingBlock/BuildingBlock.test.tsx
  app/client/src/pages/Templates/ForkTemplate.tsx
Labels: Bug, potential-duplicate, Templates pod, Templates

#30185 chore: unit test for starter building block
  app/client/src/layoutSystems/common/dropTarget/starterBuildingBlocks/StarterBuildingBlocks.test.tsx
  app/client/src/layoutSystems/common/dropTarget/starterBuildingBlocks/index.tsx
  app/client/src/layoutSystems/common/dropTarget/unitTestUtils.ts
Labels: Enhancement, Templates pod, Templates

#30182 fix: consolidated API: fix Mockito error
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
Labels: Bug, Backend, Performance Pod, Task, Performance

#30160 chore: add unit test for template card
  app/client/src/pages/Templates/StartWithTemplateContent/index.tsx
  app/client/src/pages/Templates/Template/TemplateCard.test.tsx
  app/client/src/pages/Templates/Template/index.tsx
Labels: potential-duplicate, skip-changelog, Templates pod, Test, Templates

#30187 chore: Add code split for disallowing forking
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
Labels: skip-changelog

#30202 chore: Added changes for splitting git related files for mi
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/GitDirectories.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/ce/GitDirectoriesCE.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/ce/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/GitConstants.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/ce/GitConstantsCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/GitStatusDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ce/GitStatusCE_DTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ApplicationGitReference.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DefaultResources.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ApplicationGitReferenceCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/DefaultResourcesCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/defaultresources/ActionCollectionDTODefaultResourcesServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/defaultresources/ActionCollectionDTODefaultResourcesServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/defaultresources/ActionCollectionDefaultResourcesServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/defaultresources/ActionCollectionDefaultResourcesServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/imports/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/imports/ActionCollectionImportableServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/defaultresources/DefaultResourcesService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/defaultresources/DefaultResourcesServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ActionCollectionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ResponseUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ResponseUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/defaultresources/ActionDTODefaultResourcesServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/defaultresources/ActionDTODefaultResourcesServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/defaultresources/NewActionDefaultResourcesServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/defaultresources/NewActionDefaultResourcesServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/defaultresources/NewPageDefaultResourcesServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/defaultresources/NewPageDefaultResourcesServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceUnitTest.java
Labels: skip-changelog

#30207 fix: failing ci with psql not found
  .github/workflows/client-build.yml
Labels: Bug

#30175 feat: Pages section in header
  app/client/src/actions/ideActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
  app/client/src/pages/Editor/IDE/Header/DeaultTitle.tsx
  app/client/src/pages/Editor/IDE/Header/EditorTitle.tsx
  app/client/src/pages/Editor/IDE/Header/index.tsx
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/selectors/ideSelectors.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation

#30221 chore: Remove unneeded letsencrypt symlink
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog

#30177 fix: Created at field in action is set again during import
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application.json
Labels: Bug, Git Version Control

#30170 fix: clear debugger errors
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/sagas/InitSagas.ts
Labels: Bug

#30206 fix: Stale Page Flicker Bug on switching pages.
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/CanvasSelectionArena.test.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/WidgetsEditor/MainContainerWrapper.tsx
  app/client/src/widgets/TabsWidget/widget/index.test.tsx
  app/client/test/testMockedWidgets.tsx
Labels: Bug

#30167 fix: Don't allow createApplication with any id set
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
Labels: Bug

#30212 feat: Pages section redesign - IDE navigation
  app/client/src/pages/Editor/Explorer/Common/components.tsx
  app/client/src/pages/Editor/IDE/EditorPane/MinimalSegment.tsx
  app/client/src/pages/Editor/IDE/EditorPane/PagesSection.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
  app/client/src/selectors/ideSelectors.tsx
Labels: Enhancement, New Developers Pod, IDE Navigation

#30241 chore: consolidated API: add NewRelic OTLP trace
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/OtlpSpanNames.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ConsolidatedAPIController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/OtlpTelemetry.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
Labels: Performance Pod, Task, skip-changelog, Performance

#30227 fix: extend a function for ee
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: Bug

#30252 chore: Vendor supervisor_stdout extension
  deploy/docker/fs/etc/supervisor/supervisord.conf
  deploy/docker/fs/usr/lib/python3/dist-packages/supervisor/appsmith_supervisor_stdout.py
Labels: skip-changelog

#30117 fix: Widget selection context switch adjustments
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Bug_Fixes.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MenuButton_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/WidgetSelection_spec.js
  app/client/src/ce/navigation/FocusSetters.ts
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.ts
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/layoutSystems/anvil/canvas/useClickToClearSelections.ts
  app/client/src/layoutSystems/common/draggable/DraggableComponent.tsx
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/List.tsx
  app/client/src/pages/Editor/WidgetCard.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/sagas/WidgetSelectUtils.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/utils/hooks/useWidgetSelection.ts
Labels: Bug, Task, New Developers Pod, IDE Navigation

#30067 test: Cypress | Flaky fixes + Replacing static waits
  .github/workflows/build-client-server.yml
  app/client/cypress/e2e/Regression/Apps/EchoApiCMS_spec.js
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.ts
  app/client/cypress/e2e/Regression/Apps/PromisesApp_spec.js
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/Sidebar_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/TopInline_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/TopStacked_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DSDiscardBugs_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoFillWidgets_Reflow_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Resize_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_To_App_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_FieldChange_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_onItemClick_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Bugs_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Arango_Basic_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/AssertHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/queryCommands.js
Labels: skip-changelog, Test

#30190 chore: Add indexes to Application/Workspace/DatasourceStorage domains for pe…
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration044AddIndexesToDomainObjects.java
Labels: Performance Pod, Task, skip-changelog, Performance

#30260 chore: add unit test suites for partial export modal
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/EntityCheckboxSelector.test.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/JSObjectsNQueriesExport.test.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/PartialExportModal.test.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/WidgetsExport.test.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/WidgetsExport.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/index.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
Labels: skip-changelog, Templates pod, Templates

#30268 fix: body path was getting removed from dynamicBindingPathList of action when changed datasource
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/utils/DynamicBindingUtils.ts
Labels: Bug

#30249 test: Fix for gsheet failures
  app/client/cypress/e2e/GSheet/AllAccess_Spec.ts
  app/client/cypress/e2e/GSheet/Misc_Spec.ts
  app/client/cypress/e2e/GSheet/ReadNWrite_Access_Spec.ts
  app/client/cypress/e2e/GSheet/ReadOnly_Access_Spec.ts
  app/client/cypress/e2e/GSheet/WidgetBinding_AllAccess_Spec.ts
  app/client/cypress/fixtures/ImportAppAllAccess.json
Labels: skip-changelog, Test

#30263 test: Cypress | Flaky fix JSOnLoad2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad4_Spec.ts
Labels: skip-changelog, Test

#30257 chore: refactor to support fetching of collections for mongo plugin in modules
  app/client/src/ce/entities/IDE/utils.ts
  app/client/src/ce/pages/Editor/Explorer/helpers.tsx
  app/client/src/pages/Editor/Explorer/Actions/helpers.tsx
Labels: skip-changelog

#29903 chore: Update the build process to refer the Appsmith version from the info.json in all build artifacts
  .github/workflows/client-build.yml
  .github/workflows/server-build.yml
  app/server/appsmith-server/src/main/java/com/appsmith/server/ServerApplication.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ProjectProperties.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/BuildInfo.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
Labels: Task, skip-changelog, Stale, Team Managers Pod, Billing & Usage Pod, Airgap, TM_BU

#30284 fix: Include loopback by default in NO_PROXY
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Bug, Task, Docker, DevOps Pod

#30287 test: Fix SMTP test to work with maildev
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
Labels: skip-changelog, Test

#30235 chore: Increase file picker max upload size limit to 200
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: File Picker Widget, skip-changelog

#30298 chore: Allow executable repo optionals to be nullable
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: skip-changelog

#30302 fix: Refactoring getPageDependencyActions parameters to support modules on EE
  app/client/src/ce/entities/Engine/actionHelpers.ts
  app/client/src/entities/Engine/AppEditorEngine.ts
Labels: Bug

#30232 fix: set responseMeta and isLoading properties post action execution
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/workers/Evaluation/fns/actionFns.ts
Labels: Bug, Community Reported, Needs Triaging

#30290 fix: Stop the "could not map" flood of logs
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
Labels: Bug

#30288 chore: remove unused APPSMITH_TNC_PP env variable
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/start-https.sh
Labels: skip-changelog

#30114 chore: misc updates to custom widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Custom/CustomWidgetEditorPropertyPane_spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/components/propertyControls/CustomWidgetAddEventButtonControl.tsx
  app/client/src/components/propertyControls/CustomWidgetEditSourceButtonControl.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/layoutControls.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/referenceTrigger.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/References/events.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/References/styles.module.css
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/Debugger/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/constants.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/types.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyHelpLabel.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/utils/CustomWidgetBuilderService.ts
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/CustomWidget/component/constants.ts
  app/client/src/widgets/CustomWidget/component/index.tsx
  app/client/src/widgets/CustomWidget/widget/defaultApp.ts
  app/client/src/widgets/CustomWidget/widget/index.tsx
Labels: UI Improvement, App Viewers Pod, High, Low, Production, Release, Needs Triaging, skip-changelog, Medium, PR blocker, custom widgets

#30317 chore: fix TypeError during dev
  app/client/craco.common.config.js
Labels: skip-changelog

#30322 chore: Updating an import statement temporarily to fix partial imports with module instances
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/index.tsx
Labels: Frontend, Task, skip-changelog, Modules pod

#30113 fix: removed ab_mock_mongo_schema_enabled, ab_gsheet_schema_enabled flag code
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bug27817_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bug28750_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/MySQL_Datatypes/Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/MySQL_Datatypes/False_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Array_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Binary_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/BooleanEnum_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Character_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/DateTime_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Json_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Numeric_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/UUID_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Postgres_Spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/hooks.ts
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginErrorsTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginQueriesTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginStaleConnTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/featureflags/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
Labels: Bug, Task, Integrations Pod, Activation - datasources

#30262 chore: Add CanvasStarterBuildingBlockSeeMore_spec.ts and update related files
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/CanvasStarterBuildingBlockSeeMore_spec.ts
  app/client/cypress/support/Pages/Onboarding.ts
  app/client/cypress/support/Pages/Templates.ts
  app/client/src/layoutSystems/common/dropTarget/starterBuildingBlocks/index.tsx
  app/client/src/pages/Templates/StartWithTemplateFilter/index.tsx
Labels: skip-changelog, Templates pod, Templates

#30329 chore: Add some helper test methods
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/JSEditorContextMenu_Spec.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/PageList.ts
Labels: skip-changelog

#30344 fix: Split changes to allow access to all entities when refactoring something
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceCEImplTest.java
Labels: Bug

#30337 chore: EE split friendly refactor for entity list and tabs selector
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ee/selectors/appIDESelectors.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/JSTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/QueryTab.tsx
  app/client/src/sagas/ActionSagas.ts
Labels: skip-changelog, New Developers Pod, IDE Navigation

#30333 chore: add params for query instance
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/ActionCreator/types.ts
  app/client/src/sagas/selectors.tsx
Labels: skip-changelog

#30294 feat: removed welcome tour
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug22281_WelcomeTour_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/CreateNewApp_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/GuidedTour_spec.js
  app/client/src/pages/Editor/FirstTimeUserOnboarding/HelpMenu.tsx
  app/client/src/pages/Editor/HelpButton.tsx
  app/client/src/pages/Home/LeftPaneBottomSection.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation

#30166 chore: Add cypress specs for partial import and export functionality
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialExport_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialImport_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/AppLevelImport/AppImportwithDS_Spec.ts
  app/client/cypress/fixtures/PartialImportExport/CustomJsLibsExportedOnly.json
  app/client/cypress/fixtures/PartialImportExport/DatasourceExportedOnly.json
  app/client/cypress/fixtures/PartialImportExport/JSExportedOnly.json
  app/client/cypress/fixtures/PartialImportExport/PartialImportExportSampleApp.json
  app/client/cypress/fixtures/PartialImportExport/QueriesExportedOnly.json
  app/client/cypress/fixtures/PartialImportExport/WidgetsExportedOnly.json
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/PartialImportExport.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/EntityCheckboxSelector.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/JSObjectsNQueriesExport.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/WidgetsExport.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/index.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialImportModal/index.tsx
Labels: skip-changelog, Templates pod, Templates

#30370 fix: pages section not scrolling to the current selection
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
Labels: Bug, Pages, Release, Needs Triaging, UI Builders Pod, Release Blocker

#30295 chore: Refactor widgetselectionSagas to extract PartialImportExportSagas
  app/client/src/actions/widgetActions.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/index.tsx
  app/client/src/sagas/PartialImportExportSagas/PartialExportSagas.ts
  app/client/src/sagas/PartialImportExportSagas/PartialImportSagas.ts
  app/client/src/sagas/PartialImportExportSagas/index.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: skip-changelog, Templates pod, Templates

#30371 fix: Fix the API action prefix for new Api queries
  app/client/src/sagas/ApiPaneSagas.ts
Labels: Bug

#30316 chore: entity name generation refactor to include other entity types
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/helpers.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ee/sagas/helpers.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/APIEditor/CurlImportEditor.tsx
  app/client/src/pages/Editor/DatasourceInfo/QueryTemplates.tsx
  app/client/src/pages/Editor/SaaSEditor/ListView.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
Labels: skip-changelog

#30386 fix: loading state added for generate crud CTA on datasource preview
  app/client/src/pages/Editor/DatasourceInfo/DatasourceViewModeSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/GoogleSheetSchema.tsx
Labels: Bug, Release, Needs Triaging, Generate Page, Release Blocker, Integrations Pod

#30311 feat: update canvas building blocks
  app/client/src/assets/icons/templates/canvas-starter-record-details.svg
  app/client/src/assets/icons/templates/canvas-starter-record-edit.svg
  app/client/src/assets/icons/templates/canvas-starter-sort-filter-table.svg
  app/client/src/assets/icons/templates/starter-template-dashboard.svg
  app/client/src/assets/icons/templates/starter-template-form.svg
  app/client/src/assets/icons/templates/starter-template-record-details.svg
  app/client/src/assets/icons/templates/starter-template-record-edit.svg
  app/client/src/ce/constants/messages.ts
  app/client/src/constants/TemplatesConstants.tsx
  app/client/src/layoutSystems/common/dropTarget/starterBuildingBlocks/StyledComponents.tsx
  app/client/src/layoutSystems/common/dropTarget/starterBuildingBlocks/index.tsx
Labels: Enhancement, Templates pod, Templates

#30368 fix: Queries do not get exported in a git connected app, by using partial export.
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/PartialExportServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PartialExportServiceTest.java
Labels: Bug, High, Production, Needs Triaging, Templates pod, Test Plan Approved, Partial-import-export

#30405 fix: Allow request headers up to 16KB
  app/server/appsmith-server/src/main/resources/application.properties
Labels: Bug

#30400 fix: JSModule action selector bug
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
Labels: Bug

#30408 chore: fix custom widget selection issue in widget builder
  app/client/src/widgets/CustomWidget/component/index.tsx
Labels: skip-changelog

#30420 chore: Re-arrange IDE entity selectors for split
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/JSTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/QueryTab.tsx
  app/client/src/sagas/ActionSagas.ts
Labels: skip-changelog

#30419 fix: Admin setting radio button issue
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, High, Production, Needs Triaging, Super Admin, DevOps Pod

#29691 chore: Import export application refactor
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/imports/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ArtifactJsonType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ApplicationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/imports/DatasourceImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ImportableArtifact.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ImportableArtifactCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationImportDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ArtifactExchangeJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ImportableArtifactDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ImportingMetaDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ApplicationJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ArtifactExchangeJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedImportableResourcesCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ImportArtifactPermissionProvider.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportableServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ContextBasedImportService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ContextBasedImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/ArtifactSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/ArtifactSchemaMigrationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/imports/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/imports/PluginImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ArtifactPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ArtifactPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/imports/ThemeImportableServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/ImportArtifactPermissionProviderTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
Labels: skip-changelog, Import-Export-App, Git Pod

#30434 fix: typo in new query dropdown in datasource preview
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
Labels: Bug, Needs Triaging, New Developers Pod, IDE Navigation

#30201 chore: Remove echarts feature flag
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Chart_widget_spec_2.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Custom3DChartSpec.ts
  app/client/cypress/snapshots/Custom3DChartSpec.ts/2DCustomECharts.snap.png
  app/client/cypress/snapshots/Custom3DChartSpec.ts/3DCustomECharts-2.snap.png
  app/client/cypress/snapshots/Custom3DChartSpec.ts/3DCustomECharts.snap.png
  app/client/cypress/snapshots/Custom3DChartSpec.ts/FusionCharts.snap.png
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/entities/Widget/utils.test.ts
  app/client/src/widgets/ChartWidget/constants.ts
  app/client/src/widgets/ChartWidget/widget/index.test.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
  app/client/src/widgets/ChartWidget/widget/propertyConfig.test.ts
  app/client/src/widgets/ChartWidget/widget/propertyConfig.ts
Labels: skip-changelog

#30347 fix: re-fix for issue 23456
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/DataUtils.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: Bug, QA, Community Reported, Needs Triaging, Core Query Execution, Import-Export-App, BE Coders Pod, Data Platform Pod, Git Pod, a-force

#30320 fix: adding new settings modal
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabBranch/GitDefaultBranch.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabBranch/GitProtectedBranches.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabBranch/hooks.ts
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabBranch/index.test.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabBranch/index.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabGeneral/DangerZone.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabGeneral/GitUserSettings.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabGeneral/index.test.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabGeneral/index.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/index.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal/GitSyncModalV2.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/ConnectionSuccess.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug, Git Version Control, Git Pod

#30375 fix: re-render of pages section
  app/client/src/pages/Editor/IDE/EditorPane/components/Pages.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
  app/client/src/pages/Editor/IDE/index.tsx
Labels: Bug, QA, Pages, Release, Needs Triaging, UI Builders Pod, Release Blocker

#30446 chore: use single page id in repo layer
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/refactors/ActionCollectionRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/refactors/NewActionRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceTest.java
Labels: skip-changelog

#30460 fix: Adding a new redux action to clear debugger errors on environment switch
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/reducers/uiReducers/debuggerReducer.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, Frontend, Task, Modules pod

#30478 fix: fixing message variable name due to run issues
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
Labels: Bug

#30318 chore: Remove pip and git from base image
  deploy/docker/base.dockerfile
Labels: skip-changelog

#30487 chore: increment minor number for snapshot versions
  .github/release-drafter-template.yml
  scripts/generate_info_json.sh
Labels: skip-changelog

#30452 chore: Hide hidden columns from table in preview mode
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/reactTableUtils/getColumnsPureFn.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: Table Widget, App Viewers Pod, Low, skip-changelog

#30458 chore: add unit tests for community modules components
  app/client/src/pages/Editor/CommunityTemplates/Modals/CommunityTemplatePublishInfo.test.tsx
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/components/ApplicationSettings.test.tsx
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/components/AuthorDetailsInput.test.tsx
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/components/TemplateInfoForm.test.tsx
  app/client/src/pages/Editor/CommunityTemplates/Modals/PublishCommunityTemplate/components/TemplateInfoForm.tsx
Labels: skip-changelog, Templates pod, Templates

#30499 chore: Remove unneeded exposing of 9001 port
  .github/workflows/ci-debugging.yml
  .github/workflows/ci-sanity.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test-with-documentdb.yml
  .github/workflows/ci-test.yml
  .github/workflows/perf-test-on-documentdb.yml
  .github/workflows/perf-test-v2.yml
  .github/workflows/perf-test.yml
  app/server/appsmith-server/src/main/resources/docker-compose.yml
  contributions/ClientSetup.md
  deploy/docker/README.md
  deploy/helm/templates/statefulset.yaml
Labels: skip-changelog

#30112 fix: delete multiple apps feature ui updated
  app/client/cypress/e2e/Regression/ClientSide/Workspace/DeleteMultipleApplications.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/e2e.js
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/ResourceListLoader.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/components/common/Card.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Applications/CommonElements.tsx
  app/client/src/pages/common/SubHeader.tsx
Labels: Bug, Home Page, Needs Triaging, Team Managers Pod, Integrations Pod, Integrations Pod General

#30306 feat: query should be populated based on table selected on datasource…
  app/client/src/actions/apiPaneActions.ts
  app/client/src/actions/datasourceActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceViewModeSchema.tsx
  app/client/src/reducers/uiReducers/datasourcePaneReducer.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/utils/editorContextUtils.ts
Labels: Enhancement, Task, Integrations Pod, Activation - datasources

#30424 feat: workflows query in apps code split
  app/client/src/api/PluginApi.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/selectors/workflowSelectors.ts
  app/client/src/ce/utils/workflowHelpers.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/ee/utils/workflowHelpers.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/Explorer/Actions/helpers.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/Explorer/Files/FilesContextProvider.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Enhancement, Workflows

#30450 chore: Show Tabs on recent access order
  app/client/src/actions/ideActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/sagas/IDESaga.tsx
  app/client/src/selectors/ideSelectors.tsx
Labels: skip-changelog, New Developers Pod, IDE Navigation

#30517 chore: Changes to Postgres to support readonly root FS
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog

#30519 fix: Updating page sagas for fixing the scroll position issue on page
  app/client/src/ce/sagas/PageSagas.tsx
Labels: Bug, App Viewers Pod, Needs Triaging, App Navigation

#30539 fix: datasource query schema show condition
  app/client/src/ce/entities/Engine/actionHelpers.ts
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Bug, Release, Needs Triaging, Workflows

#30300 fix: flickering of validation message in input widget
  app/client/src/widgets/InputWidgetV2/component/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/component/index.tsx
Labels: Bug

#30313 fix: update similar templates component cards
  app/client/src/pages/Templates/Template/SimilarTemplates.tsx
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateDetailedView.tsx
Labels: Bug, Enhancement, Templates pod, Templates

#30374 feat: Handle invalid workspaceId for fetching applications on homepage
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/ApplicationServiceCECompatibleImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Enhancement, Backend, Task, skip-testPlan, Billing & Usage Pod, Homepage Experience V2

#30555 fix: Updating the setup page sagas for editor and viewer to fix on page load actions not executing
  app/client/src/ce/sagas/PageSagas.tsx
Labels: Bug, Frontend, Task, Modules pod

#30563 fix: trigger call for plugins without require datasource flag
  app/client/src/sagas/FormEvaluationSaga.ts
Labels: Bug, Needs Triaging

#30566 fix: trigger call for plugins without require datasource flag
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Bug, QA, Needs Triaging

#30524 chore: Remove deprecated `Action` and `Page` classes
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AclPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Action.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Page.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/acl/AclPermissionTest.java
Labels: skip-changelog

#30242 feat: Space redistribution UX upgrade and implicit space distribution
  app/client/src/components/propertyControls/SectionSplitterControl.tsx
  app/client/src/components/propertyControls/ZoneStepperControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/layoutSystems/anvil/common/resizer/AnvilResizable.tsx
  app/client/src/layoutSystems/anvil/common/resizer/AnvilResizableLayer.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorWidgetOnion.tsx
  app/client/src/layoutSystems/anvil/integrations/sagas/sectionSagas.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/SectionSpaceDistributor.tsx
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/SpaceDistributionHandle.tsx
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/constants.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/propertyPane/PropertyPaneSectionSpaceDistributor.tsx
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/propertyPane/PropertyPaneSpaceDistributionHandle.tsx
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/useSpaceDistributionEvents.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/onMouseMoveUtils.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/spaceDistributionEditorUtils.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/spaceRedistributionSagaUtils.test.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/spaceRedistributionSagaUtils.ts
  app/client/src/layoutSystems/anvil/utils/anvilChecksUtils.ts
  app/client/src/layoutSystems/anvil/utils/constants.ts
  app/client/src/widgets/anvil/SectionWidget/widget/config/propertyPaneContent.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/config/propertyPaneContent.ts
Labels: Enhancement

#30577 test: Cypress - remove width tests
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect3_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/Radio2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select2_Spec.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Test

#30516 fix: removing settings from old git sync tab
  app/client/src/pages/Editor/gitSync/GitSyncModal/GitSyncModalV2.tsx
Labels: Bug, QA, Production, Needs Triaging, Git Version Control, Release Blocker, Git Pod

#30514 fix: removing disabled state when loading for git commit button
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
Labels: Bug, QA, Needs Triaging, Git Version Control, Git Pod

#30512 feat: adding continuous delivery tab in git settings
  app/client/src/ce/components/gitComponents/GitSettingsCDTab/UnlicensedGitCD.tsx
  app/client/src/ce/components/gitComponents/GitSettingsCDTab/index.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ee/components/gitComponents/GitSettingsCDTab/index.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabBranch/GitDefaultBranch.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabBranch/index.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabGeneral/index.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/index.tsx
Labels: Enhancement, Git Version Control, Git Pod

#30457 fix: duplicate name issue in partial import for queries and jsobjects
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/imports/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/imports/DatasourceImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ImportingMetaDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedImportableResourcesCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportableServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/imports/CustomJSLibImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/imports/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/imports/PluginImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/imports/ThemeImportableServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialExportServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialImportServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/partial-export-resource.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/partial-export-valid-without-widget.json
Labels: Bug, Templates pod, Templates, Partial-import-export

#30574 fix: Refactoring bindings logic for module instances to fix the naming issue
  app/client/src/ce/selectors/moduleInstanceSelectors.ts
  app/client/src/ee/selectors/moduleInstanceSelectors.ts
  app/client/src/pages/Editor/Explorer/Entity/EntityProperties.tsx
Labels: Bug, Frontend, Task, Modules pod

#30581 chore: don't use CE repository directly
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
Labels: skip-changelog

#30562 chore: Split files for Module Instances in IDE
  app/client/src/ce/RouteBuilder.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/ListItem.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/ListItem.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/utils.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/constants.ts
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/utils/moduleInstanceHelpers.tsx
  app/client/src/ee/pages/Editor/IDE/EditorPane/JS/ListItem.tsx
  app/client/src/ee/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/Query/ListItem.tsx
  app/client/src/ee/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/Query/utils.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/constants.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/EditorPaneSegments.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/GroupedList.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/JSTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/QueryTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/FocusRetentionSaga.ts
Labels: skip-changelog, New Developers Pod, IDE Navigation

#30463 chore: Add `workspaceId` to the redirect url for auth datasource flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/IntegrationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/AuthenticationServiceTest.java
Labels: skip-changelog, Integrations Pod General

#30571 fix: Allow incoming TLS traffic without restricting the domain
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
  deploy/docker/route-tests/entrypoint.sh
Labels: Bug

#30387 fix: Remove guided tour code
  app/client/src/actions/onboardingActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/uiReducers/index.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/featureWalkthrough/index.tsx
  app/client/src/components/featureWalkthrough/walkthroughRenderer.tsx
  app/client/src/components/utils/Indicator.tsx
  app/client/src/components/utils/NameEditorComponent.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/globalStyles/portals.ts
  app/client/src/pages/AppViewer/Navigation/index.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceEntity.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Actions/MoreActionsMenu.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetGroup.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Utils.ts
  app/client/src/pages/Editor/GuidedTour/Boxed.tsx
  app/client/src/pages/Editor/GuidedTour/DeviationModal.tsx
  app/client/src/pages/Editor/GuidedTour/EndTour.tsx
  app/client/src/pages/Editor/GuidedTour/Guide.tsx
  app/client/src/pages/Editor/GuidedTour/TourCompletionMessage.tsx
  app/client/src/pages/Editor/GuidedTour/app.json
  app/client/src/pages/Editor/GuidedTour/constants.tsx
  app/client/src/pages/Editor/GuidedTour/useComputeCurrentStep.ts
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
  app/client/src/pages/Editor/IDE/Sidebar/index.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControlsGenerator.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneConnections.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTitle.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/ToggleModeButton.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/reducers/uiReducers/guidedTourReducer.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/OnboardingSagas.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/selectors/onboardingSelectors.tsx
  app/client/src/utils/storage.ts
Labels: Bug, New Developers Pod, IDE Navigation

#30588 test: Cypress - separated exclude airgap cases and tagged them
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bugs26410_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Editor/HelpButton_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Github/EnableGithub_spec.ts
Labels: skip-changelog, Test

#30599 ci: modified the message thrown when no tests run
  .github/workflows/integration-tests-command.yml
Labels: skip-changelog, CI
