Repository appsmithorg/appsmith, pull requests merged in 2024-05, with the labels that each got.

#33060 chore: added function overloading to remove redundant db call
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#32873 test: Tree_Select_2_spec - Added toggle JS assertions before updating trigger functions
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Tree_Select_2_spec.ts
Labels: skip-changelog, Test

#33056 test: deleted auto layout flaky tests as auto layout is being removed
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoDimension_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoFillWidgets_Reflow_spec.ts
Labels: skip-changelog, Test

#32978 chore: Validate tag before doing anything
  .github/workflows/github-release.yml
  deploy/docker/fs/opt/appsmith/utils/bin/backup.test.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.js
Labels: skip-changelog

#33069 feat: Anvil widget selection selectors
  app/client/src/layoutSystems/anvil/editor/widgetName/selectors.ts
Labels: Anvil POD, Anvil team

#33071 feat: Update Modal Z-Index
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/theming/src/token/src/styles.module.css
  app/client/packages/design-system/theming/src/token/src/themeTokens.json
Labels: Enhancement, Task, Anvil POD, Anvil team, ok-to-test

#33070 feat: Add action to open property control with error in a widget
  app/client/src/layoutSystems/anvil/integrations/actions/actionTypes.ts
  app/client/src/layoutSystems/anvil/integrations/actions/index.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilWidgetSelectionSaga.ts
Labels: Enhancement, Task, Anvil POD, Anvil team, ok-to-test

#33013 feat: On Canvas UI Colors and Widget API to consume these colors
  app/client/src/WidgetProvider/constants.ts
  app/client/src/WidgetProvider/factory/helpers.ts
  app/client/src/WidgetProvider/factory/index.tsx
  app/client/src/index.css
  app/client/src/layoutSystems/common/mainContainerResizer/MainContainerResizer.tsx
  app/client/src/widgets/anvil/SectionWidget/widget/config/baseConfig.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/config/baseConfig.ts
  app/client/src/widgets/anvil/constants.ts
  app/client/src/widgets/wds/WDSModalWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSModalWidget/widget/index.tsx
Labels: Enhancement, Task, Anvil POD, Anvil team, ok-to-test

#33093 fix: Drag drop Building blocks prompt fixes
  app/client/src/ce/constants/messages.ts
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/layoutSystems/common/dropTarget/OnBoarding/OnBoarding.test.tsx
  app/client/src/layoutSystems/common/dropTarget/OnBoarding/index.tsx
  app/client/src/layoutSystems/common/dropTarget/buildingBlockExplorerDropTarget/index.tsx
  app/client/src/sagas/BuildingBlockAdditionSagas.ts
Labels: Bug, Templates Pod, ok-to-test, Building blocks

#33049 fix: setting up linter engine after consolidated API is finished
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/LintingSagas.ts
  app/client/src/sagas/__tests__/initSagas.test.ts
Labels: Bug, ok-to-test

#33106 fix: cypress flakiness due to focus cypress function
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/UpdateApplication_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker3_spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: Bug, ok-to-test

#33122 fix: Modal auto scroll and check box not being able to be interacted in preview mode in modal
  app/client/src/layoutSystems/anvil/common/hooks/detachedWidgetHooks.ts
  app/client/src/layoutSystems/anvil/editor/canvasArenas/hooks/useAnvilDnDEvents.ts
  app/client/src/widgets/wds/constants.ts
Labels: Bug, High, Deploy Preview, Anvil POD, WDS team, ok-to-test

#33086 chore: Add an internal request ID for logging
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/MDCConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/MDCFilter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/DSLMigrationUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/InstanceConfigHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RTSCaller.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AstServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, ok-to-test

#33102 chore: Add migration to cleanup of invalid plugins in workspaces
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration052RemoveInvalidPluginsInWorkspaces.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
Labels: skip-changelog

#32957 chore: remove commented code from @tag.JS specs
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/NavigateTo2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/NavigateTo3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/NavigateTo_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JsOnLoad3_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, ok-to-test

#32989 fix: update custom color picker button
  app/client/src/pages/Editor/WDSThemePropertyPane/index.tsx
  app/client/src/pages/Editor/WDSThemePropertyPane/styles.module.css
Labels: Bug, High, Anvil POD, WDS team

#33039 chore: Use FromRequest for datasource APIs
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ApiKeyAuth.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BasicAuth.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BearerTokenAuth.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Connection.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DBAuth.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceConfiguration.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorageDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuth2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/DatasourceController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
Labels: skip-changelog, ok-to-test

#33114 chore: Fix warnings in ConsolidatedAPIServiceImpl
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/annotations/encryption/EncryptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Plugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ConsolidatedAPIResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PluginServiceTest.java
Labels: skip-changelog, ok-to-test

#32893 feat: added modal name, lint warning for string, action selector modal
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelector_JsToNonJSMode_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelector_JsToNonJSMode_2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/ButtonGroup2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_focus_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
  app/client/cypress/fixtures/CMSdsl.json
  app/client/cypress/fixtures/CommunityIssuesExport.json
  app/client/cypress/fixtures/ContextSwitching.json
  app/client/cypress/fixtures/Datatypes/ArrayDTdsl.json
  app/client/cypress/fixtures/Datatypes/BinaryDTdsl.json
  app/client/cypress/fixtures/Datatypes/BooleanEnumDTdsl.json
  app/client/cypress/fixtures/Datatypes/CharacterDTdsl.json
  app/client/cypress/fixtures/Datatypes/DateTimeDTdsl.json
  app/client/cypress/fixtures/Datatypes/JsonBDTdsl.json
  app/client/cypress/fixtures/Datatypes/JsonDTdsl.json
  app/client/cypress/fixtures/Datatypes/NumericDTdsl.json
  app/client/cypress/fixtures/Datatypes/UUIDDTdsl.json
  app/client/cypress/fixtures/Datatypes/mySQLdsl.json
  app/client/cypress/fixtures/DynamicHeightModalDsl.json
  app/client/cypress/fixtures/ListVulnerabilityDSL.json
  app/client/cypress/fixtures/Listv2/ListWithModalStatCheckboxAndRadio.json
  app/client/cypress/fixtures/ModalDsl.json
  app/client/cypress/fixtures/PartialImportExport/PartialImportExportSampleApp.json
  app/client/cypress/fixtures/PartialImportExport/WidgetsExportedOnly.json
  app/client/cypress/fixtures/PgAdmindsl.json
  app/client/cypress/fixtures/autocomp.json
  app/client/cypress/fixtures/commondsl.json
  app/client/cypress/fixtures/defaultMetadataDsl.json
  app/client/cypress/fixtures/dynamicHeightFormSwitchdsl.json
  app/client/cypress/fixtures/editorContextdsl.json
  app/client/cypress/fixtures/explorerHiddenWidgets.json
  app/client/cypress/fixtures/filePickerV2WidgetReskinDsl.json
  app/client/cypress/fixtures/jsonFormDynamicHeightDsl.json
  app/client/cypress/fixtures/jsonFormInModalDsl.json
  app/client/cypress/fixtures/lazyRender.json
  app/client/cypress/fixtures/listwidgetData.json
  app/client/cypress/fixtures/modalOnTableFilterPaneDsl.json
  app/client/cypress/fixtures/modalScroll.json
  app/client/cypress/fixtures/modalWidgetBGcolorDSL.json
  app/client/cypress/fixtures/modalWidgetTestApp.json
  app/client/cypress/fixtures/mongo_PUT_replaceLayoutWithCRUD.json
  app/client/cypress/fixtures/mySQL_PUT_replaceLayoutWithCRUD.json
  app/client/cypress/fixtures/tableResizedColumnsDsl.json
  app/client/cypress/fixtures/tableV2ResizedColumnsDsl.json
  app/client/cypress/fixtures/uiBindDsl.json
  app/client/packages/ast/index.ts
  app/client/packages/ast/src/actionCreator/index.ts
  app/client/packages/ast/src/index.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/components/editorComponents/ActionCreator/Field/FieldConfig.ts
  app/client/src/components/editorComponents/ActionCreator/FieldGroup/FieldGroupConfig.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/ActionCreator/utils.test.ts
  app/client/src/components/editorComponents/ActionCreator/viewComponents/ActionBlockTree/utils.tsx
  app/client/src/plugins/Linting/constants.ts
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
  app/client/src/selectors/widgetSelectors.ts
  app/client/src/utils/testDSLs.ts
  app/client/src/widgets/ModalWidget/widget/index.tsx
  app/client/test/factories/Widgets/ModalFactory.ts
Labels: Enhancement, Medium effort, BE Coders Pod, Medium, Integrations Pod, Integrations Pod General, ok-to-test

#33109 fix: Make file locking reactive compatible
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RedisUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug, Needs Triaging, Git Version Control, Medium, Git Pod, ok-to-test

#33145 chore: Respond with 403 for missing CSRF header
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/CSRFFilter.java
Labels: skip-changelog, ok-to-test

#33149 chore: Remove unused User.currentWorkspaceId
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/User.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserSessionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#33153 fix: Fixed path creation during commit
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
Labels: Bug

#33006 chore: Remove API to get all objects
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CrudService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/ApplicationServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/base/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: skip-changelog

#33151 chore: Removing the audit log API call for JS action execution
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/workers/Evaluation/JSObject/postJSFunctionExecution.ts
  app/client/src/ee/workers/Evaluation/JSObject/postJSFunctionExecution.ts
  app/client/src/ee/workers/Evaluation/evalWorkerActions.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
  app/client/src/workers/Evaluation/fns/utils/jsObjectFnFactory.ts
Labels: Task, skip-changelog, Team Managers Pod, Audit Logs, ok-to-test

#33105 fix: widget wrapper width
  app/client/src/layoutSystems/anvil/layoutComponents/components/alignedWidgetRow/AlignedWidgetRowComp.tsx
Labels: Bug, ok-to-test

#33147 fix: WDS bgNeutralOpacity
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: Bug, skip-testPlan, Anvil POD, WDS team

#33146 fix: wds components
  app/client/packages/design-system/widgets/src/components/Button/src/Button.tsx
  app/client/packages/design-system/widgets/src/components/ButtonGroup/src/useButtonGroup.tsx
  app/client/packages/design-system/widgets/src/components/Text/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/TextInput/src/TextInput.tsx
Labels: Bug, ok-to-test

#33123 fix: datasource documentation link (#30169)
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
Labels: Bug, Datasources, Production, Needs Triaging, Low effort, BE Coders Pod, Medium, Integrations Pod, Integrations Pod General, Activation - datasources, ok-to-test

#33062 feat: Anvil Widget Name Component
  app/client/package.json
  app/client/src/index.css
  app/client/src/layoutSystems/anvil/common/hooks/detachedWidgetHooks.ts
  app/client/src/layoutSystems/anvil/common/hooks/useWidgetBorderStyles.ts
  app/client/src/layoutSystems/anvil/common/messages.ts
  app/client/src/layoutSystems/anvil/editor/AnvilEditorDetachedWidgetOnion.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorWrapper.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/AnvilWidgetNameComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/ErrorIcon.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/SplitButton.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/UpArrowIcon.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/index.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/selectors.test.ts
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/selectors.ts
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/types.ts
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/utils.ts
  app/client/src/layoutSystems/anvil/editor/canvas/AnvilEditorCanvas.tsx
  app/client/src/layoutSystems/anvil/editor/canvas/styles/anvilEditorVariables.css
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetStyles.ts
  app/client/src/layoutSystems/common/mainContainerResizer/MainContainerResizer.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/LayoutSystemBasedPageViewer.tsx
  app/client/src/widgets/anvil/SectionWidget/widget/config/baseConfig.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/config/baseConfig.ts
  app/client/src/widgets/anvil/constants.ts
  app/client/src/widgets/wds/WDSModalWidget/config/metaConfig.ts
  app/client/yarn.lock
Labels: Enhancement, Task, Anvil POD, Anvil team, ok-to-test

#33152 fix: Safari space distribution glitch
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/onMouseMoveUtils.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/spaceDistributionEditorUtils.ts
Labels: Bug, ok-to-test

#33135 test: Refactor tests ahead of upgrading Spring
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/DSLTransformHelperTest.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/SecurityTestConfig.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/UserSignupTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: skip-changelog, Test

#32909 chore: Move to interface based projection as for columns with jsonb type record based projections does not work in PG
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/projections/IdPoliciesOnly.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
Labels: skip-changelog, ok-to-test

#33148 fix: Improving the homepage UI for better user experience
  app/client/src/ce/actions/workspaceActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/common/WorkflowSearchItem.tsx
  app/client/src/ce/reducers/uiReducers/workspaceReducer.ts
  app/client/src/ce/sagas/WorkspaceSagas.ts
  app/client/src/ce/selectors/workspaceSelectors.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/pages/common/SearchBar/DesktopEntitySearchField.tsx
  app/client/src/pages/common/SearchBar/EntitySearchBar.tsx
  app/client/src/pages/common/SearchBar/MobileEntitySearchField.tsx
Labels: Bug, Home Page, Low, Production, Needs Triaging, Billing & Usage Pod, ok-to-test

#33167 fix: Widget selection issues - part 1
  app/client/src/layoutSystems/anvil/common/hooks/detachedWidgetHooks.ts
  app/client/src/layoutSystems/anvil/common/hooks/useWidgetBorderStyles.ts
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/AnvilWidgetNameComponent.tsx
Labels: Bug, Anvil POD, Anvil team, ok-to-test

#33133 feat: Anvil Drag Preview
  app/client/src/layoutSystems/anvil/editor/AnvilEditorFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorWrapper.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/index.tsx
  app/client/src/layoutSystems/anvil/editor/canvas/AnvilEditorCanvas.tsx
  app/client/src/layoutSystems/anvil/editor/canvas/styles/anvilEditorVariables.css
  app/client/src/layoutSystems/anvil/editor/canvasArenas/AnvilDragPreview.tsx
  app/client/src/layoutSystems/anvil/editor/canvasArenas/hooks/useAnvilDnDEventCallbacks.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetDrag.ts
  app/client/src/layoutSystems/anvil/utils/widgetUtils.ts
  app/client/src/pages/Editor/widgetSidebar/WidgetCard.tsx
  app/client/src/reducers/uiReducers/dragResizeReducer.ts
Labels: Enhancement, Medium, Anvil POD, Anvil team, ok-to-test

#32853 feat: remote js execution code split
  app/client/src/ce/components/JSRemoteExecutionView/index.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/utils/actionExecutionUtils.test.ts
  app/client/src/ce/utils/actionExecutionUtils.ts
  app/client/src/components/editorComponents/JSResponseView.test.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/ee/components/JSRemoteExecutionView/index.tsx
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/utils/storage.ts
Labels: Enhancement, Task, Workflows Pod, Workflows, ok-to-test

#33173 chore: Don't mask 415 with 500
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
Labels: skip-changelog, ok-to-test

#33172 chore: Remove more unused methods in BaseService & ApplicationServiceCE
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: skip-changelog, ok-to-test

#33129 fix: remove existing widget selection implementation
  app/client/src/layoutSystems/common/WidgetNamesCanvas/WidgetNameConstants.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/WidgetNameTypes.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/eventHandlers.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/index.tsx
  app/client/src/layoutSystems/common/WidgetNamesCanvas/utils.ts
  app/client/src/layoutSystems/common/WidgetNamesCanvas/widgetNameRenderUtils.ts
  app/client/src/layoutSystems/common/selectors.ts
Labels: Bug, Task, Anvil POD, Anvil team, ok-to-test

#33051 chore: Pages dropdown common components
  app/client/src/IDE/Components/HeaderDropdown.test.tsx
  app/client/src/IDE/Components/HeaderDropdown.tsx
  app/client/src/IDE/Components/HeaderEditorSwitcher.test.tsx
  app/client/src/IDE/Components/HeaderEditorSwitcher.tsx
  app/client/src/IDE/index.ts
  app/client/src/pages/Editor/IDE/EditorPane/PagesSection.tsx
  app/client/src/pages/Editor/IDE/Header/EditorTitle.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
Labels: Task, skip-changelog, Packages pod, ok-to-test

#33115 chore: push webworker latencies as a root span
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/UITelemetry/generateWebWorkerTraces.ts
  app/client/src/plugins/Linting/linters/worker.ts
  app/client/src/sagas/ReplaySaga.ts
  app/client/src/utils/WorkerUtil.ts
  app/client/src/workers/Evaluation/evaluation.worker.ts
  app/client/src/workers/Evaluation/fns/utils/Messenger.ts
  app/client/src/workers/Evaluation/handlers/__tests__/evalTree.test.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
Labels: Performance Pod, Task, skip-changelog, Performance infra, Performance, ok-to-test

#32990 feat: Refactor `isCurrentWidgetFocused` to `isWidgetFocused`
  app/client/src/layoutSystems/anvil/common/hooks/useWidgetBorderStyles.ts
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/selectors.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetClick.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetDrag.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetHover.ts
  app/client/src/layoutSystems/common/draggable/DraggableComponent.tsx
  app/client/src/layoutSystems/common/resizer/ResizableComponent.tsx
  app/client/src/layoutSystems/common/widgetName/index.tsx
  app/client/src/selectors/widgetSelectors.ts
  app/client/src/utils/hooks/useClickToSelectWidget.tsx
  app/client/src/utils/hooks/useHoverToFocusWidget.ts
Labels: Enhancement, Anvil POD, Anvil team, ok-to-test

#33193 chore: added cache miss solution
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
Labels: Datasources, skip-changelog

#33196 fix: authenticationType field saved to database
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AuthenticationDTO.java
Labels: Bug, Datasources, Critical, High, Production, Needs Triaging, Release Blocker, BE Coders Pod, Airtable, Test Plan Approved, Integrations Pod, ok-to-test

#32934 chore: hydrate widgets properties from session on drop
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/helpers.tsx
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/config/propertyPaneStyle.ts
  app/client/src/widgets/wds/WDSButtonWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSIconButtonWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSInlineButtonsWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSParagraphWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSRadioGroupWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/config/defaultsConfig.ts
Labels: skip-changelog, ok-to-test

#33179 fix: Workspace name editor input going away on hovering other menu items of workspace
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/ce/api/ApiUtils.ts
  app/client/src/ce/components/DSDataFilter/index.tsx
  app/client/src/ce/components/EnvConfigSection/index.tsx
  app/client/src/ce/components/SwitchEnvironment/index.tsx
  app/client/src/ce/hooks/index.ts
  app/client/src/ce/pages/Applications/WorkspaceMenu.tsx
  app/client/src/ce/selectors/environmentSelectors.tsx
  app/client/src/ce/utils/signupHelpers.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/constants/EnvironmentContants.tsx
  app/client/src/ee/api/ApiUtils.ts
  app/client/src/ee/components/DSDataFilter/index.tsx
  app/client/src/ee/components/EnvConfigSection/index.tsx
  app/client/src/ee/components/JSRemoteExecutionView/index.tsx
  app/client/src/ee/components/SwitchEnvironment/index.tsx
  app/client/src/ee/components/gitComponents/DisableCDModal.tsx
  app/client/src/ee/components/gitComponents/GitSettingsCDTab/index.tsx
  app/client/src/ee/components/gitComponents/ReconfigureCDKeyModal.tsx
  app/client/src/ee/constants/SocialLogin.tsx
  app/client/src/ee/plugins/Linting/lib/entity/index.ts
  app/client/src/ee/plugins/Linting/utils/getEntityUniqueIdForLogs.ts
  app/client/src/ee/plugins/Linting/utils/isLintErrorLoggingEnabledForEntity.ts
  app/client/src/ee/reducers/entityReducers/actionsReducer.tsx
  app/client/src/ee/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabBranch/hooks.ts
  app/client/src/pages/UserAuth/ThirdPartyAuth.tsx
  app/client/src/pages/common/SearchBar/EntitySearchBar.tsx
Labels: Bug, Home Page, Low, Production, Needs Triaging, Billing & Usage Pod, ok-to-test

#33206 chore: cherry picking airtable fix to master
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AuthenticationDTO.java
Labels: Bug, Datasources, QA, Critical, High, Production, Needs Triaging, skip-changelog, Release Blocker, BE Coders Pod, Airtable, Integrations Pod, QA Pod, ok-to-test

#33202 fix: disable main js rename from entity pane
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionEntity.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
Labels: Bug, Task, Workflows Pod, Workflows, ok-to-test

#33166 fix: Start using SHA2 instead of SHA1 algorithms for signing during git operations
  app/client/cypress/support/Pages/GitSync.ts
  app/server/appsmith-git/pom.xml
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/SshTransportConfigCallback.java
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/SSHConstants.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/utils/CryptoUtil.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitDeployKeyGenerator.java
Labels: Bug, Enhancement, QA, Critical, Git Version Control, Git Pod, QA Pod, ok-to-test

#33139 fix: Remove redundant action collection update call on page load in edit mode
  app/client/src/utils/JSPaneUtils.tsx
Labels: Bug, ok-to-test

#33090 test: PartialExport_Widgets_spec - updated exported json file to compare and added confirmation of successful import
  app/client/cypress/e2e/Regression/Apps/ImportExportForkApplication_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/GitImport_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Migration_Spec.js
  app/client/cypress/e2e/Smoke/Apps/ReconnectDatasource_spec.js
  app/client/cypress/fixtures/PartialImportExport/WidgetsExportedOnly.json
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/gitSync.js
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/sagas/GitSyncSagas.ts
Labels: skip-changelog, ok-to-test, Test

#33216 fix: Updating invite modal component to fix issue on EE & improving code splitting of a file
  app/client/src/ce/components/DSDataFilter/index.tsx
  app/client/src/ce/components/gitComponents/GitSettingsCDTab/UnlicensedGitCD.tsx
  app/client/src/ce/components/gitComponents/GitSettingsCDTab/index.tsx
  app/client/src/ce/pages/workspace/InviteUsersForm.tsx
  app/client/src/ee/components/gitComponents/GitSettingsCDTab/UnlicensedGitCD.tsx
Labels: Bug, ok-to-test

#33229 chore: Removing widgets related feature flags for the features that are GA
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Custom_Chart_Data_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Chart/Custom_Chart_spec.js
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
Labels: App Viewers Pod, Task, skip-changelog, custom widgets, ok-to-test

#33161 fix: Anvil Modal rendering issues when added via property pane.
  app/client/src/layoutSystems/anvil/editor/AnvilEditorDetachedWidgetOnion.tsx
  app/client/src/layoutSystems/anvil/integrations/modalSelectors.ts
  app/client/src/layoutSystems/anvil/viewer/AnvilViewerDetachedWidgetOnion.tsx
  app/client/src/sagas/selectors.tsx
Labels: Bug, High, Deploy Preview, Anvil POD, WDS team, Anvil team, ok-to-test

#33198 fix: Anvil drag preview for section widget
  app/client/packages/icons/src/components/Thumbnails/SectionThumbnail.tsx
  app/client/packages/icons/src/icons/Thumbnails/Section.svg
  app/client/packages/icons/src/index.ts
  app/client/packages/icons/src/stories/Thumbnails.mdx
  app/client/src/layoutSystems/anvil/editor/canvasArenas/AnvilDragPreview/AnvilDragPreviewComponent.tsx
  app/client/src/layoutSystems/anvil/editor/canvasArenas/AnvilDragPreview/index.tsx
  app/client/src/layoutSystems/anvil/editor/canvasArenas/AnvilModalDropArena.tsx
  app/client/src/pages/Editor/widgetSidebar/WidgetCard.tsx
  app/client/src/widgets/anvil/SectionWidget/widget/config/methodsConfig.ts
Labels: Bug, ok-to-test

#33211 fix: Select Widget when showing One click binding options
  app/client/src/widgets/BaseWidget.tsx
Labels: Bug, QA, Low, Production, New Developers Pod, IDE Navigation, QA Pod, ok-to-test

#33215 fix: UI segment re render caused by route change
  app/client/src/pages/Editor/IDE/EditorPane/UI/index.tsx
Labels: Bug, High, IDE, New Developers Pod, Medium, IDE Navigation, ok-to-test

#33199 chore: Remove unused methods in `CrudService`
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CrudService.java
Labels: skip-changelog

#33201 chore(deps): Update BouncyCastle
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-server/pom.xml
Labels: ok-to-test

#33252 test: Fix AutoCommitEventHandlerImplTest
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImplTest.java
Labels: skip-changelog, Test

#33251 fix: Add anonymous user check while registering the edit mode pulses
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UsagePulseServiceTest.java
Labels: Bug, ok-to-test

#33225 chore: learnability flags turned on by default
  app/client/src/ce/entities/FeatureFlag.ts
Labels: Task, skip-changelog, Integrations Pod, Activation - datasources, Activation - learnability, ok-to-test

#33245 chore: move cypress strings to vars
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Query_Datasource_spec.js
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Firestore_Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/EditableText.tsx
Labels: skip-changelog, skip-documentation, ok-to-test

#33280 chore: Remove duplicate Table tag from the list of tags
  app/client/cypress/tags.js
Labels: skip-changelog

#33277 chore: Revert "chore: learnability flags turned on by default"
  app/client/src/ce/entities/FeatureFlag.ts
Labels: ok-to-test

#33204 fix: asymmetric padding for sections and zones
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilWidgetClicking_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/packages/design-system/widgets/src/components/Flex/src/Flex.tsx
  app/client/packages/design-system/widgets/src/utils/filterDataProps.ts
  app/client/packages/design-system/widgets/src/utils/index.ts
  app/client/packages/design-system/widgets/src/utils/src/OmitRename.ts
  app/client/packages/design-system/widgets/src/utils/src/PickRename.ts
  app/client/packages/design-system/widgets/src/utils/src/index.ts
  app/client/src/index.css
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/common/styles.module.css
  app/client/src/layoutSystems/anvil/editor/canvas/styles/anvilEditorVariables.css
  app/client/src/layoutSystems/anvil/editor/canvasArenas/hooks/useAnvilDnDCompensators.ts
  app/client/src/layoutSystems/anvil/editor/canvasArenas/hooks/useAnvilDnDListenerStates.ts
  app/client/src/layoutSystems/anvil/editor/canvasArenas/utils/dndCompensatorUtils.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetStyles.ts
  app/client/src/layoutSystems/anvil/layoutComponents/components/alignedWidgetRow/index.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/alignedWidgetRow/styles.module.css
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/SpaceDistributionHandle.tsx
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/constants.ts
  app/client/src/widgets/anvil/Container.tsx
  app/client/src/widgets/anvil/ZoneWidget/widget/config/anvilConfig.ts
Labels: Bug, High, skip-changelog, skip-docs, skip-testPlan, Anvil POD, skip-documentation, Anvil team, ok-to-test, Anvil - zones & sections

#33281 fix: Fix OAuth2 client secret showing up in UI
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuth2.java
Labels: Bug

#33008 feat: font update - PT root UI medium
  app/client/package.json
  app/client/public/404.css
  app/client/public/static/js/skins/content/default/content.css
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogCollapseData.tsx
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
  app/client/src/constants/Fonts.tsx
  app/client/src/index.css
  app/client/yarn.lock
Labels: Enhancement, Task, New Developers Pod, IDE Navigation, ok-to-test

#33272 fix: rest api body binary tab placeholder updated
  app/client/src/pages/Editor/APIEditor/PostBodyData.tsx
Labels: Bug, Low, Production, Needs Triaging, BE Coders Pod, REST API plugin, Integrations Pod, ok-to-test

#33290 fix: Removing the scrollbar in table widget when the data count is less than the number of rows being shown
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/scrollbar_spec.ts
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
Labels: Bug, Table Widget, QA, App Viewers Pod, Production, Needs Triaging, Medium, QA Pod, ok-to-test

#33066 fix: The case of the missing tabs
  app/client/src/actions/ideActions.ts
  app/client/src/actions/jsActionActions.ts
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/FocusRetentionSaga.ts
  app/client/src/sagas/IDESaga.tsx
  app/client/src/selectors/ideSelectors.tsx
  app/client/test/factories/AppIDEFactoryUtils.ts
Labels: Bug, UX Improvement, Low, Production, IDE, Needs Triaging, JS Objects, FE Coders Pod, New Developers Pod, Medium, IDE Navigation, ok-to-test

#33162 fix: Solves glitch issue(multiple selected to none) while dropping a building block.
  app/client/src/sagas/BuildingBlockAdditionSagas.ts
  app/client/src/sagas/BuildingBlockSagas/BuildingBlockAdditionSagas.ts
  app/client/src/sagas/BuildingBlockSagas/index.ts
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/sagas/PasteWidgetUtils/PasteWidgetUtils.fixture.ts
  app/client/src/sagas/PasteWidgetUtils/PasteWidgetUtils.test.ts
  app/client/src/sagas/PasteWidgetUtils/index.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: Bug, Templates Pod, ok-to-test, Building blocks

#33274 test: added helpers for RbacGit_spec
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/IDE/LeftPane.ts
  app/client/cypress/support/Pages/PageList.ts
Labels: skip-changelog, Test

#33303 fix: Fixes CREATE_JS_ACTION_ERROR error that disallows creating js objects or updating actions on certain git connected apps
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
Labels: Bug, High, Production, Needs Triaging, Git Version Control, Git Pod, ok-to-test

#33294 chore: Add test case for FireStorePlugin pagination using where clause
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
Labels: Task, skip-changelog, BE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#33231 chore: changes for CD tech debt
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AclPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/ce/PolicyGeneratorCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration053AddApplicationDeletePagePermissionToApplications.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationPermissionCEImpl.java
Labels: skip-changelog, ok-to-test, Continuous Deployment

#33319 chore: added missing override annotation
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationPermissionCEImpl.java
Labels: skip-changelog

#33297 fix: Api pane and settings responsiveness
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_DefaultContentType_spec.js
  app/client/cypress/locators/ApiEditor.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/constants/AppsmithActionConstants/formConfig/GoogleSheetsSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/QuerySettingsConfig.ts
  app/client/src/pages/Editor/APIEditor/ApiAuthentication.tsx
  app/client/src/pages/Editor/APIEditor/Pagination.tsx
  app/client/src/pages/Editor/APIEditor/PostBodyData.tsx
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/setting.json
Labels: Bug, Low, Production, New Developers Pod, IDE Navigation, ok-to-test

#33292 chore: added unit test cases for disableLogs and microDiff
  app/client/src/ce/workers/Evaluation/evaluationUtils.test.ts
  app/client/src/sagas/EvaluationsSaga.test.ts
Labels: Performance Pod, UI Builders Pod, Task, UI Performance, skip-changelog, Performance, ok-to-test

#30986 chore: remove dsl flag
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/pageSelectors.tsx
  app/client/src/utils/WidgetPropsUtils.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
Labels: Git Version Control, Task, skip-changelog, Stale, Git Pod, ok-to-test

#33285 fix: remove git cd feature flag
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/gitSync/GitSettingsModal/index.test.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/index.tsx
Labels: Bug, Git Version Control, Task, Git Pod, ok-to-test

#33288 fix: remove granular status feature flag
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/gitSync/Tabs/__tests__/Deploy.test.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/ExpandableChange.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/NewChangesList/index.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/OldChangesList.test.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/OldChangesList.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/PageChanges.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/StaticChange.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/index.test.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/index.tsx
Labels: Git Version Control, Task, skip-changelog, Git Pod, ok-to-test

#33337 fix: Debug button opens the Error tab
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApiError_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/EntityBottomBar_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Logs2_spec.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
Labels: Bug, High, Production, Needs Triaging, New Developers Pod, IDE Navigation, ok-to-test

#33339 fix: Remove error for window fetch API
  app/client/src/plugins/Linting/constants.ts
  app/client/src/plugins/Linting/tests/getLintingErrors.test.ts
Labels: Bug, JS Evaluation, Critical, Production, Community Reported, Needs Triaging, FE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#33257 test: GitSyncedApps_spec - multiple IA changes
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/support/Pages/PageList.ts
  app/client/cypress/support/gitSync.js
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IDE/EditorPane/PagesSection.tsx
Labels: skip-changelog, Test

#33348 fix: Anvil only: Fix issue where Modal Widget doesn't open with `showModal` action
  app/client/src/widgets/wds/WDSModalWidget/widget/index.tsx
Labels: Bug, Anvil POD, Anvil team, ok-to-test

#32451 fix: setup proxy variables in the start
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Bug

#33343 test:PartialExport_Widgets spec file updated and import app method updated with validations
  app/client/cypress/e2e/Regression/Apps/ImportExportForkApplication_spec.js
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/AppNavigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/Sidebar_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/TopInline_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/TopStacked_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/GitImport_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Editor_Segment_Context_Switching_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialExport_Widgets_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Migration_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/e2e/Smoke/Apps/ReconnectDatasource_spec.js
  app/client/cypress/fixtures/PartialImportExport/WidgetsExportedOnly.json
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/gitSync.js
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/sagas/GitSyncSagas.ts
Labels: skip-changelog, ok-to-test, Test

#33313 chore: Remove unnecessary flag `ab_show_templates_instead_of_blank_canvas_enabled`
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/StartFromData_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Templates/BuildingBlocks/StarterBuildingBlocksOnCanvas_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/layoutSystems/common/dropTarget/OnBoarding/OnBoarding.test.tsx
  app/client/src/layoutSystems/common/dropTarget/OnBoarding/index.tsx
Labels: skip-changelog, Templates Pod, ok-to-test, Building blocks

#33124 chore: Splitting JS Object body dump vs parsed JS Object update to remove race condition originated bad state
  app/client/src/ce/api/JSActionAPI.tsx
  app/client/src/sagas/JSPaneSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionCollectionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/scripts/start-dev-server.sh
Labels: skip-changelog, ok-to-test

#33368 chore: Adding missing function in cypress git sync helper and syncing the common file across the two repositories.
  app/client/cypress/support/Pages/GitSync.ts
Labels: skip-changelog

#33283 fix: turned on learnability flags on by default
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/src/ce/entities/FeatureFlag.ts
Labels: Bug, Task, BE Coders Pod, Integrations Pod, Integrations Pod General, Activation - datasources, Activation - learnability, ok-to-test

#33376 fix: Peek overlay overflowing in side by side
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/PeekOverlayPopup.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#33378 chore: Fix failing spec with updated string
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Page_Load_Spec.js
Labels: skip-changelog, Templates Pod, Templates, ok-to-test

#33263 fix: allowing bottom tabs to be selectable as text
  app/client/src/components/editorComponents/ApiResponseView.test.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/JSResponseView.test.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/DataSourceEditor/Debugger.test.tsx
  app/client/src/pages/Editor/DataSourceEditor/Debugger.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.test.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
Labels: Bug, High, Production, Regressed, Debugger, Needs Triaging, Core Query Execution, Low effort, FE Coders Pod, BE Coders Pod, Integrations Pod, ok-to-test

#33367 fix: Enable atomic pushes in git using an environment configuration
  app/client/src/ce/constants/tenantConstants.ts
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/configurations/connectionpool/ConnectionPoolConfig.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/configurations/connectionpool/ConnectionPoolConfigCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/configurations/connectionpool/ConnectionPoolConfigCECompatible.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/configurations/git/GitConfig.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/configurations/git/GitConfigCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/configurations/git/GitConfigCECompatible.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/AppsmithBeanUtils.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/connectionpool/ConnectionPoolConfigCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/connectionpool/ConnectionPoolConfigCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/connectionpool/ConnectionPoolConfigImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/git/GitConfigCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/git/GitConfigCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/git/GitConfigImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration055AddIsAtomicPushAllowedEnvVarToTenantConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/connectionpoolconfig/configurations/ConnectionPoolConfigCETest.java
Labels: Bug, High, Git Version Control, Task, Git Pod, ok-to-test

#33342 chore: use overflow: auto instead of scroll in widget explorer
  app/client/src/pages/Editor/IDE/EditorPane/UI/Add.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
Labels: skip-changelog, ok-to-test

#33430 chore: Adds airgapped handling of empty canvas hints
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Page_Load_Spec.js
Labels: skip-changelog, Templates Pod, Templates, ok-to-test

#33309 feat: Moved Tenant Information to Redis for quick access
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Tenant.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/TenantConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/TenantRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/TenantServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: Enhancement, Task, Integrations Pod, Integrations Pod General, ok-to-test

#33396 chore: Remove unused and stale scripts
  app/client/cypress/setup-test.sh
  app/client/perf/setup-perf-test.sh
Labels: skip-changelog, ok-to-test

#33426 fix: added regex
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
Labels: Bug, Enhancement, QA, Git Version Control, Git Pod, ok-to-test

#32979 chore: Updating the login button names for OIDC & SAML to get it from tenant config
  app/client/src/ce/sagas/SuperUserSagas.tsx
  app/client/src/pages/AdminSettings/DisconnectService.tsx
  app/client/src/pages/UserAuth/ThirdPartyAuth.tsx
Labels: Enhancement, Frontend, skip-changelog, Stale, Team Managers Pod, SSO, Billing & Usage Pod, TM_BU, ok-to-test

#33471 chore: cherry-pick to master
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
Labels: ok-to-test

#33442 fix: anvil layout and some cleanup
  app/client/src/layoutSystems/anvil/integrations/layoutSelectors.ts
  app/client/src/layoutSystems/anvil/layoutComponents/components/FlexLayout.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/alignedWidgetRow/AlignedWidgetRowComp.tsx
  app/client/src/layoutSystems/anvil/utils/anvilTypes.ts
Labels: Bug, skip-docs, skip-testPlan, skip-documentation, ok-to-test

#33469 chore: cypress strings replaced with var names
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApiError_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/EntityBottomBar_spec.ts
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
Labels: Task, skip-changelog, Workflows Pod, Workflows, ok-to-test

#33476 fix: WDS, increase perceived darkness of modal overlay
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: Bug, Medium, Anvil POD, WDS team, ok-to-test

#33477 chore: Add Swagger UI for server API docs
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#33448 chore: Updating embed settings feature tag from Business to Enterprise
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ExportApplication_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ProductRamps/PrivateEmbedRamp_spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/selectors/rampSelectors.tsx
  app/client/src/components/utils/ReduxFormTextField.tsx
  app/client/src/pages/Applications/EmbedSnippet/PrivateEmbeddingContent.tsx
Labels: Bug, Admin Settings, Low, Production, Needs Triaging, skip-changelog, Team Managers Pod, ok-to-test

#33475 feat: text-wrap change
  app/client/package.json
  app/client/yarn.lock
Labels: Enhancement, Task, New Developers Pod, IDE Navigation, ok-to-test

#32801 feat: Move to class level projections instead of field ones
  app/server/appsmith-server/src/main/java/com/appsmith/server/projections/UserRecentlyUsedEntitiesProjection.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomUserDataRepositoryTest.java
Labels: Enhancement, ok-to-test

#33228 feat: New tab ui changes
  app/client/cypress/e2e/Regression/ClientSide/IDE/IDE_Add_Pane_Interactions_spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/IDE/AddView.ts
  app/client/cypress/support/Pages/IDE/FileTabs.ts
  app/client/cypress/support/Pages/IDE/LeftPane.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/__tests__/JS/JSSegment.test.tsx
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/BlankState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/BlankState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentAddHeader.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorPane/types/AddProps.ts
  app/client/src/pages/Editor/IDE/EditorPane/utils.ts
  app/client/src/pages/Editor/IDE/EditorTabs/AddButton.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SearchableFilesList.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SearchableFilesList.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/JSEditor/JSAddState.tsx
  app/client/src/pages/Editor/QueryEditor/QueriesAddState.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation, ok-to-test

#33487 fix: added serialization for LicenseCE
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/LicenseCE.java
Labels: Bug, High, Production, Needs Triaging

#33502 chore: Adding couple of messages for modules
  app/client/src/ce/constants/messages.ts
Labels: skip-changelog, ok-to-test

#33499 fix: Peek overlay position flickering issue
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#33512 chore: Revert "feat: Moved Tenant Information to Redis for quick access"
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Tenant.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/TenantConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/TenantRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/TenantServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: skip-changelog

#33482 chore: modify existing regex for better readability
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
Labels: Enhancement, QA, Git Version Control, skip-changelog, Git Pod, ok-to-test

#33513 chore: remove cypress hardcoded strings and waits
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Replay_Editor_spec.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, ok-to-test

#33489 fix: Adjust WDS button font weight
  app/client/packages/design-system/widgets/src/components/Button/src/Button.tsx
Labels: Bug, Task, Anvil POD, WDS team, ok-to-test

#33515 chore: Fix blank lines in logs
  deploy/docker/fs/usr/lib/python3/dist-packages/supervisor/appsmith_supervisor_stdout.py
Labels: skip-changelog

#33496 chore: fixing file lock issues on autocommit
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
Labels: Task, skip-changelog, Git Pod, Git Auto-commit, ok-to-test

#33306 chore: Prefetch consolidated api using service worker
  app/client/craco.dev.config.js
  app/client/package.json
  app/client/src/serviceWorker.js
  app/client/src/utils/serviceWorkerUtils.js
  app/client/src/utils/serviceWorkerUtils.test.js
  app/client/yarn.lock
Labels: Task, skip-changelog, ok-to-test

#33525 fix: Gsheet UI breaking in 110% zoom level
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, High, Production, Needs Triaging, New Developers Pod, IDE Navigation, ok-to-test

#33253 chore: Rename base-`getById` where appropriate
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CrudService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/base/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: skip-changelog, ok-to-test

#33534 ci: Disable manual run on limited test workflow
  .github/workflows/build-client-server.yml
Labels: skip-changelog, CI

#33506 chore: Replacing "Edition" with "Plan" for business and enterprise edition references
  app/client/cypress/e2e/Regression/ClientSide/Branding/Branding_spec.js
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Upgrade/businessEdition/UpgradeToBEPage.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/layoutSystems/common/dropTarget/unitTestUtils.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/AccessControlConstantsCE.java
Labels: ok-to-test

#33509 fix: Modal Accessibility and copy paste.
  app/client/packages/design-system/widgets/src/components/Modal/src/ModalFooter.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/ModalHeader.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/types.ts
  app/client/src/layoutSystems/anvil/editor/AnvilEditorWidgetOnion.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/index.tsx
  app/client/src/layoutSystems/anvil/editor/canvasArenas/AnvilDragPreview/AnvilDragPreviewComponent.tsx
  app/client/src/layoutSystems/anvil/editor/canvasArenas/hooks/useAnvilDnDEvents.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/pasteSagas.ts
  app/client/src/widgets/wds/WDSModalWidget/widget/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: Bug, High, Task, Anvil POD, WDS team, Anvil team, ok-to-test

#33547 chore: added fix for missing isPublic
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#33536 fix: Tabs UI updates
  app/client/src/pages/Editor/IDE/EditorTabs/Container.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#33484 fix: Added lint error for appsmith store mutations
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ImperativeStoreUpdate_spec.ts
  app/client/packages/ast/index.ts
  app/client/packages/ast/src/index.ts
  app/client/src/plugins/Linting/tests/getLintingErrors.test.ts
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
Labels: Bug, Enhancement, Production, Needs Triaging, JS Linting & Errors, FE Coders Pod, BE Coders Pod, JS Usability, Integrations Pod, Integrations Pod General, ok-to-test

#33544 chore: allow deleting toolbar + add icon for toolbar creation
  app/client/src/components/propertyControls/DraggableListCard.tsx
  app/client/src/components/propertyControls/ToolbarButtonListControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/config/propertyPaneConfig/contentConfig.ts
Labels: High, potential-duplicate, Task, skip-changelog, Anvil POD, WDS team, ok-to-test

#33541 chore: add alignment to toolbar button
  app/client/packages/design-system/widgets/src/components/ActionGroup/src/ActionGroup.tsx
  app/client/packages/design-system/widgets/src/components/ActionGroup/src/index.tsx
  app/client/packages/design-system/widgets/src/components/ActionGroup/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/ActionGroup/src/types.ts
  app/client/packages/design-system/widgets/src/components/ActionGroup/stories/ActionGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/ButtonGroup/src/types.ts
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/component/index.tsx
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/component/types.ts
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/widget/types.ts
Labels: High, Task, skip-changelog, Anvil POD, WDS team, ok-to-test

#33529 chore: Remove incorrect and unused `update` signature
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-changelog

#33549 chore: fixing file lock issues on autocommit
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
Labels: Task, skip-changelog, Git Pod, Git Auto-commit, ok-to-test

#33550 chore: hide navigation by default for anvil
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
Labels: High, Task, skip-changelog, Anvil POD, WDS team, Anvil team, ok-to-test

#33553 ci: Include edition in failure messages to Slack
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#33554 ci: Upgrade GitHub Action steps to github-script@v7 and upload-artifact@v4
  .github/workflows/build-client-server.yml
  .github/workflows/build-docker-image.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/client-build.yml
  .github/workflows/close-labeler.yml
  .github/workflows/github-release.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/pr-cypress.yml
  .github/workflows/rts-build.yml
  .github/workflows/server-build.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#33558 ci: Add sloppy /test command
  .github/workflows/pr-automation.yml
  .github/workflows/scripts/test-tag-parser.js
Labels: skip-changelog, CI

#33563 chore: Removes GA feature flag `release_show_partial_import_export_enabled`
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialExport_Widgets_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialExport_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialImport_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
Labels: skip-changelog, Templates Pod, Templates, ok-to-test

#33581 fix: hide Create app from templates in airgapped image
  app/client/src/ce/pages/Applications/WorkspaceAction.tsx
  app/client/src/ce/pages/Applications/tests/WorkspaceAction.test.tsx
Labels: Bug, Templates Pod, Templates, ok-to-test

#33595 fix: Scroll issues in Add tab
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/JSEditor/JSAddState.tsx
  app/client/src/pages/Editor/QueryEditor/QueriesAddState.tsx
Labels: Bug, UX Improvement, Production, Regressed, Needs Triaging, New Developers Pod, Medium, IDE Navigation, ok-to-test

#33593 ci: Adding the overwrite: true parameter to actions/upload-artifact@v4 command
  .github/workflows/build-client-server.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/client-build.yml
  .github/workflows/github-release.yml
  .github/workflows/pr-cypress.yml
  .github/workflows/rts-build.yml
  .github/workflows/server-build.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#33582 test: WidgetPropertySetters1_spec - lint warning displacement fix
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters1_spec.ts
Labels: skip-changelog, JS Objects, JS Linting & Errors, FE Coders Pod, Test

#33568 ci: Removing outdated Github action actions-cache
  .github/workflows/ci-test-limited.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#33597 fix: hide gs from airgap from most popular section
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceHome.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewQuery.tsx
Labels: Bug, High, Production, Needs Triaging, Google Sheets, Team Managers Pod, BE Coders Pod, Integrations Pod, Airgap, ok-to-test

#33560 ci: Move check for new JS Cypress tests to GitHub script
  .github/workflows/client-build.yml
  .github/workflows/pr-cypress.yml
  .github/workflows/scripts/client-build-compliance.js
Labels: skip-changelog, CI

#33036 feat: add cypress tests for drag and drop building blocks
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Drag_Drop_Building_Blocks_spec.ts
Labels: Enhancement, Task, Templates Pod, ok-to-test, Building blocks

#33603 ci: Remove inert ADS compliance check
  .github/workflows/client-build.yml
Labels: skip-changelog, CI

#33575 chore: Remove UpdateDefinition from MongoDB API
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#33584 fix: Anvil App Navigation Spec
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilAppNavigation_spec.ts
Labels: Bug
