Repository appsmithorg/appsmith, pull requests merged in 2024-07, with the labels that each got.

#34574 feat: Add dynamic property path for sourceData in SelectWidget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_spec.js
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: Enhancement, Select Widget, App Viewers Pod, Task, ok-to-test, Widgets & Blocks Pod

#34490 chore: Change the default value of isLoading in settings reducer to true
  app/client/src/ce/reducers/settingsReducer.ts
Labels: skip-changelog, ok-to-test

#34592 chore: Fix quoting in `deploy_preview.sh`
  scripts/deploy_preview.sh
Labels: skip-changelog, ok-to-test

#34608 ci: Use latest version of helm chart for DPs
  scripts/deploy_preview.sh
Labels: skip-changelog, CI

#34548 feat: snowflake key auth server
  app/client/src/api/DatasourcesApi.ts
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/exceptions/SnowflakeErrorMessages.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/utils/SnowflakeKeyUtils.java
  app/server/appsmith-plugins/snowflakePlugin/src/test/java/com/external/plugins/SnowflakePluginTest.java
Labels: Enhancement, ok-to-test

#34595 chore: Use `id` argument to find action collections
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#34278 ci: Fix Cypress test fail not reported for `/test` command
  .github/workflows/pr-automation.yml
  .github/workflows/scripts/test-tag-parser.js
Labels: skip-changelog, CI, ok-to-test

#34618 chore: Revert "Add dynamic property path for sourceData in SelectWidget (#34574)"
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_spec.js
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: skip-changelog, ok-to-test

#34613 fix: Revert "feat: Overflow tabs list view"
  app/client/cypress/e2e/Regression/ClientSide/IDE/IDE_Add_Pane_Interactions_spec.ts
  app/client/cypress/support/Pages/IDE/FileTabs.ts
  app/client/src/IDE/Components/FileTab.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/pages/Editor/IDE/EditorPane/EditorPaneSegments.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/AddTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/Container.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/List.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/ListButton.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/ScreenModeToggle.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SearchableFilesList.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/utils/URLUtils.ts
Labels: Bug, ok-to-test

#34402 ci: Fix method used to set failure
  .github/workflows/pr-automation.yml
  .github/workflows/pr-cypress.yml
  .github/workflows/scripts/test-tag-parser.js
  .github/workflows/scripts/write-cypress-status.js
Labels: skip-changelog, CI, ok-to-test

#34348 feat: clean up datasource review page
  app/client/src/ce/hooks/datasourceEditorHooks.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceViewModeSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/GoogleSheetSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/HideGeneratePageButton.test.tsx
Labels: Enhancement, Task, Templates Pod, Templates, ok-to-test, Activation Pod, Activation, Ballpark: S

#34610 fix: restricting passphrase to be sent to client
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/KeyPairAuth.java
Labels: Bug, Datasources, Low, Production, Needs Triaging, snowflake, Integrations Pod, ok-to-test

#34612 test: adjust widget sidebar cypress tests to account for custom widget removal from Airgapped
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
Labels: skip-changelog, ok-to-test, Test

#34553 fix: anvil canvas highlight
  app/client/src/layoutSystems/anvil/editor/canvasArenas/AnvilDnDHighlight.tsx
  app/client/src/layoutSystems/anvil/editor/canvasArenas/utils/dndCompensatorUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedColumnHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedRowHighlights.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/columnHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/horizontalHighlights.ts
Labels: Bug, Medium, skip-docs, skip-testPlan, Anvil Pod, skip-documentation, Anvil team, ok-to-test

#34617 chore: Don't include `new` in responses
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/CommonConfigTest.java
Labels: skip-changelog, ok-to-test

#34628 fix: added backwards compatibility for older snowflake datasources
  app/client/src/api/DatasourcesApi.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DBAuth.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
  app/server/appsmith-plugins/snowflakePlugin/src/test/java/com/external/plugins/SnowflakePluginTest.java
Labels: Bug, Task, snowflake, Integrations Pod, ok-to-test

#34517 fix: fix split mode resizing inconsistency
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: Bug, IDE, Task, New Developers Pod, ok-to-test

#34646 Revert "chore: Don't include `new` in responses (#34617)"
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/CommonConfigTest.java
Labels: ok-to-test

#34619 feat: Refactor SelectWidget sourceData handling
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Binding_Bug28731_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/JSEnabledByDefaultExperiment_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/SelectWidget/mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/SelectWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_spec.js
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: Enhancement, Select Widget, App Viewers Pod, Task, ok-to-test, Widgets & Blocks Pod

#34659 fix: selected gsheets issue fixed
  app/client/src/api/DatasourcesApi.ts
Labels: Bug, High, Release, Needs Triaging, Google Sheets, Integrations Pod, DailyPromotionBlocker, ok-to-test

#34653 fix: adding encrypted icon to passphrase and updated label
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/form.json
Labels: Bug, Task, snowflake, Integrations Pod, ok-to-test

#34656 fix: update widget sidebar for airgapped environment
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
Labels: Bug, ok-to-test, Widgets & Blocks Pod

#34655 feat: clean up datasource review page
  app/client/src/ce/hooks/datasourceEditorHooks.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceViewModeSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/GoogleSheetSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/HideGeneratePageButton.test.tsx
Labels: Enhancement, Task, Templates Pod, Templates, ok-to-test, Activation Pod, Activation, Ballpark: S

#34680 chore: Remove strict payload parsing
  app/client/src/api/DatasourcesApi.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
Labels: skip-changelog

#34514 chore: refactor datasource import flow to add support for transaction in pg
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/importable/DatasourceImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/DBOpsType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedImportableResourcesCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/DryOperationRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/exports/internal/ExportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
Labels: skip-changelog, ok-to-test

#34689 chore: Cherry pick: Remove strict payload parsing
  app/client/src/api/DatasourcesApi.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
Labels: ok-to-test

#34644 chore: Show only a limited set of widgets in the beginning
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntityTagGroup.tsx
  app/client/src/pages/Editor/widgetSidebar/tests/UIEntitySidebar.test.tsx
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
Labels: UX Improvement, Entity Explorer, IDE, skip-changelog, New Developers Pod, ok-to-test

#34524 chore: update local uneval tree only for jsObjects and exit early for other entities
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: Frontend, Task, skip-changelog, Package, ok-to-test

#34691 chore: add null check for the datasource
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#34709 test: Add missing `.block()` on reactive calls
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
Labels: skip-changelog, Test

#34634 chore: Remove unused ACL fields on `User` entity
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/User.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#34686 fix: Update SelfReferenceRule to show entity's other property completion
  app/client/src/utils/autocomplete/AutocompleteSortRules.ts
  app/client/src/utils/autocomplete/__tests__/AutocompleteSortRules.test.ts
  app/client/src/utils/autocomplete/__tests__/TernServer.test.ts
Labels: Bug, Autocomplete, Task, FE Coders Pod, Medium, Integrations Pod, Integrations Pod General, ok-to-test

#34718 fix: Avoid collapsing widget tags when in Anvil
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
Labels: Bug, ok-to-test

#34734 ci: Accept spec input for Cypress run
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/pr-cypress.yml
Labels: skip-changelog, CI, ok-to-test

#34727 ci: Add UTC time to Cypress messages
  .github/workflows/scripts/write-cypress-status.js
Labels: skip-changelog, CI, ok-to-test

#34640 chore: add notification prop to js object
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: skip-changelog, ok-to-test

#34623 chore: Add `in` clause support for enums datatype for bridge apis
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
Labels: skip-changelog

#34658 fix: Overflow list new UI restore
  app/client/cypress/e2e/Regression/ClientSide/IDE/IDE_Add_Pane_Interactions_spec.ts
  app/client/cypress/support/Pages/Anvil/AnvilDnDHelper.ts
  app/client/cypress/support/Pages/IDE/FileTabs.ts
  app/client/src/IDE/Components/FileTab.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/pages/Editor/IDE/EditorPane/EditorPaneSegments.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/AddTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/Container.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/List.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/ListButton.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/ScreenModeToggle.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SearchableFilesList.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/utils/URLUtils.ts
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#34649 test: small change in common method
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, ok-to-test, Test

#34593 chore: Turn off Allow filtering property on Table widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter1_1_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter1_2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter2_1_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter2_2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_DisplayText_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/checkboxCell_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/switchCell_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/server_side_filtering_spec_1.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Table Widget, App Viewers Pod, Task, skip-changelog, ok-to-test, Widgets & Blocks Pod

#34211 fix: Changes for Anvil Alpha release
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/actions/widgetActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/hooks/datasourceEditorHooks.tsx
  app/client/src/ce/pages/Applications/ApplicationCardList.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/components/BottomBar/index.tsx
  app/client/src/components/designSystems/appsmith/header/DeployLinkButton.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/layoutSystems/anvil/integrations/selectors.ts
  app/client/src/pages/Applications/CardList.tsx
  app/client/src/pages/Applications/CommonElements.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceViewModeSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/GoogleSheetSchema.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/common/ImportModal.tsx
  app/client/src/pages/common/PageHeader.tsx
  app/client/src/sagas/PartialImportExportSagas/PartialExportSagas.ts
  app/client/src/sagas/PartialImportExportSagas/PartialImportSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/selectors/layoutSystemSelectors.ts
  app/client/src/utils/hooks/useFeatureFlagOverride.ts
Labels: Bug, High, Task, Deploy Preview, Anvil Pod, Anvil team, ok-to-test

#34683 chore: added one more step for limited-tests to contributor guidelines
  contributions/CodeContributionsGuidelines.md
Labels: skip-changelog, ok-to-test

#34745 fix: snowflake imports issue fixed
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/utils.ts
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/form.json
Labels: Bug, ok-to-test

#34725 chore: Adding my name as codeowner
  CODEOWNERS
Labels: skip-changelog, ok-to-test

#34682 chore: Simpler implementation for empty instance check
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
Labels: skip-changelog, ok-to-test

#34740 chore: Remove Postgres v13 from base image
  deploy/docker/base.dockerfile
Labels: skip-changelog

#34754 fix: fix validation for datasource in action import and save flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
Labels: Bug, ok-to-test

#34605 chore: remove unevalTree
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
Labels: Task, skip-changelog, ok-to-test

#34753 fix: Unable to select table rows
  app/client/src/widgets/wds/WDSTableWidget/component/TableBody/Row.tsx
Labels: Bug, High, Anvil Pod, WDS team, ok-to-test

#34780 fix: hide generate page button in DSFormHeader
  app/client/src/pages/Editor/DataSourceEditor/hooks.ts
  app/client/src/pages/Editor/DatasourceInfo/HideGeneratePageButton.test.tsx
Labels: Bug, Release, Needs Triaging, Google Sheets, Generate Page, BE Coders Pod, DevOps Pod, Integrations Pod, DailyPromotionBlocker, Mock Data, ok-to-test, Widgets & Blocks Pod

#34770 ci: Clean up disk usage before saving container to disk
  .github/workflows/build-docker-image.yml
Labels: skip-changelog, CI

#34789 fix: Queries do not fetch any data when datasources are configured while importing an app
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
Labels: Bug, High, Release, Needs Triaging, Core Query Execution, Import-Export-App, Integrations Pod, Git Pod, DailyPromotionBlocker, ok-to-test

#34736 ci: Support for limited tests run from PR description
  .github/workflows/pr-automation.yml
  .github/workflows/pr-cypress.yml
  .github/workflows/scripts/test-tag-parser.js
Labels: skip-changelog, CI, ok-to-test

#34800 chore: Fix regexes for APIs needing environment
  app/client/src/ce/api/ApiUtils.ts
  app/client/src/ce/constants/routes/appRoutes.ts
Labels: skip-changelog, ok-to-test

#34743 feat: change value to label in onItemSelect inside SelectCell of table widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
Labels: Bug, Enhancement, Table Widget, App Viewers Pod, High, Production, ok-to-test, Widgets & Blocks Pod

#34783 chore: add code split for identifying invalid actions during import flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#34622 chore: refactor customJs lib import flow for pg transaction support
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedImportableResourcesCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/DryOperationRepository.java
Labels: skip-changelog, ok-to-test

#34788 chore: Don't duplicate the URL parsing Regexes
  app/client/src/ce/utils/serviceWorkerUtils.test.ts
  app/client/src/ce/utils/serviceWorkerUtils.ts
Labels: skip-changelog, ok-to-test

#34810 chore: snowflake junit test cases added for key pair auth
  app/server/appsmith-plugins/snowflakePlugin/src/test/java/com/external/plugins/SnowflakePluginTest.java
Labels: Task, snowflake, skip-changelog, Integrations Pod, ok-to-test

#34824 chore: Remove unused `regexMatchIgnoreCase`
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
Labels: skip-changelog, ok-to-test

#34818 fix: Concurrent modification exception during the datasource import flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/importable/DatasourceImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedImportableResourcesCE_DTO.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
Labels: Bug, ok-to-test

#34652 chore: Remove unused `new` from JSON exports/responses
  app/client/cypress/fixtures/PartialImportExport/CustomJsLibsExportedOnly.json
  app/client/cypress/fixtures/PartialImportExport/DatasourceExportedOnly.json
  app/client/cypress/fixtures/PartialImportExport/JSExportedOnly.json
  app/client/cypress/fixtures/PartialImportExport/QueriesExportedOnly.json
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/CommonConfigTest.java
Labels: skip-changelog, ok-to-test

#34798 test: Remove pause from code
  app/client/cypress/e2e/Regression/ClientSide/FormLogin/EmailVerfication_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitWithTheming/GitWithTheming_spec.js
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/UUID_Spec.ts
Labels: ok-to-test

#34830 feat: cURL import now happens via a modal
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Omnibar_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_CurlPOSTImport_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/CurlImportFlow_spec.js
  app/client/cypress/e2e/Sanity/Datasources/Arango_Basic_Spec.ts
  app/client/cypress/locators/ApiEditor.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.d.ts
  app/client/src/actions/importActions.ts
  app/client/src/ce/RouteBuilder.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/ce/navigation/FocusSetters.ts
  app/client/src/ce/pages/Editor/CurlImport/AppCURLImportModal.tsx
  app/client/src/ce/pages/Editor/CurlImport/index.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/constants.ts
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.ts
  app/client/src/ce/pages/Editor/routes.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/ee/pages/Editor/CurlImport/index.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/pages/Editor/APIEditor/CurlImportEditor.tsx
  app/client/src/pages/Editor/APIEditor/CurlImportForm.tsx
  app/client/src/pages/Editor/APIEditor/helpers.ts
  app/client/src/pages/Editor/CurlImport/CurlImportForm.tsx
  app/client/src/pages/Editor/CurlImport/ModalControls.tsx
  app/client/src/pages/Editor/CurlImport/helpers.ts
  app/client/src/pages/Editor/IntegrationEditor/AIDataSources.tsx
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceHome.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewQuery.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/reducers/uiReducers/importReducer.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/selectors/curlImportSelectors.ts
  app/client/src/selectors/ui.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation, ok-to-test

#34487 chore: Move Sidebar to IDE/Components
  app/client/src/IDE/Components/BottomView.tsx
  app/client/src/IDE/Components/Sidebar/Sidebar.tsx
  app/client/src/IDE/Components/Sidebar/SidebarButton/SidebarButton.test.tsx
  app/client/src/IDE/Components/Sidebar/SidebarButton/SidebarButton.tsx
  app/client/src/IDE/Components/Sidebar/SidebarButton/index.ts
  app/client/src/IDE/Components/Sidebar/index.tsx
  app/client/src/IDE/enums.ts
  app/client/src/IDE/index.ts
  app/client/src/api/LibraryAPI.tsx
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/pages/Editor/IDE/Sidebar.tsx
  app/client/src/pages/Editor/IDE/Sidebar/SidebarButton.test.tsx
  app/client/src/pages/Editor/IDE/Sidebar/SidebarButton.tsx
  app/client/src/pages/Editor/IDE/Sidebar/SidebarComponent.tsx
  app/client/src/pages/Editor/IDE/Sidebar/index.tsx
  app/client/src/pages/Editor/JSEditor/constants.ts
Labels: Task, skip-changelog, New Developers Pod, IDE Navigation, ok-to-test

#34836 fix: use isDryOps flag in customJsLIb import flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedImportableResourcesCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/importable/CustomJSLibImportableServiceCEImpl.java
Labels: Bug, ok-to-test

#34759 feat: IDE tab list search view
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/package.json
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/BlankState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/BlankState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/AddAndSearchbar.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/EmptyState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/fuzzySearchInFiles.test.ts
  app/client/src/pages/Editor/IDE/EditorPane/utils.ts
  app/client/src/pages/Editor/IDE/EditorTabs/SearchableFilesList.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SearchableFilesList.tsx
  app/client/yarn.lock
Labels: Enhancement, Task, New Developers Pod, IDE Navigation, ok-to-test

#34862 fix: Rbac git test failure
  app/client/cypress/support/commands.js
Labels: Bug, ok-to-test

#34834 fix: Added tests for EditorTab component
  app/client/src/pages/Editor/IDE/EditorTabs/Editortabs.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/List.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
Labels: Bug, UX Improvement, Production, Regressed, Needs Triaging, Task, New Developers Pod, Medium, CURL, IDE Navigation, Integrations Pod, ok-to-test

#34858 chore: delete redundant files
  app/server/scripts/start-dev-server.sh
  app/util/is_wsl.sh
  app/util/is_wsl_test.sh
Labels: skip-changelog, ok-to-test

#34872 revert: change value to label in onItemSelect inside SelectCell of table widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
Labels: ok-to-test, Widgets & Blocks Pod

#34716 chore: Add newrelic tracking spans to AppViewer engine and AppEditor engine
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/entities/Engine/index.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/__tests__/initSagas.test.ts
Labels: skip-changelog, ok-to-test

#34821 test: Updated file name for remove duplicate
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/DynamicHeightStatbox_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/JSONFormWidget/JSONForm_mongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/JSONFormWidget/JSONForm_postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/MultiSelectWidget/MultiSelect_MongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/MultiSelectWidget/MultiSelect_postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/Table_MongoDB_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/Table_postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/InputRTL_support.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelectRTL_support.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter2_2_Spec.ts
  app/client/cypress/e2e/Regression/Enterprise/AdminSettings/Admin_Settings_NoAccess_spec.js
  app/client/cypress/fixtures/Table/TableV2FilterImportApp.json
  app/client/cypress/manual_TestSuite/API_Datasource_Spec.js
  app/client/cypress/manual_TestSuite/Clipboard_Copy_Spec.js
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/DatasourceBasicProfile_spec.js
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/Dropdown_spec.js
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/Map_spec.js
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/MsSQL_Spec.js
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/ProgressBar_spec.js
  app/client/cypress/manual_TestSuite/CommentedScriptFiles/Table_Duplicate_ColumnName_spec.js
  app/client/cypress/manual_TestSuite/Deletion _of_Duplicate_App.js
  app/client/cypress/manual_TestSuite/Duplicate_App_Spec.js
  app/client/cypress/manual_TestSuite/Edit_Profile_Spec.js
  app/client/cypress/manual_TestSuite/GSheetViewEdit_Spec.ts
  app/client/cypress/manual_TestSuite/GoogleSheet_API_Spec.js
  app/client/cypress/manual_TestSuite/Invite_flow_Spec.js
  app/client/cypress/manual_TestSuite/List_Widget_Spec.js
  app/client/cypress/manual_TestSuite/Login_Spec.js
  app/client/cypress/manual_TestSuite/Modal_Spec.js
  app/client/cypress/manual_TestSuite/Mongo_Datasource_Spec.js
  app/client/cypress/manual_TestSuite/Page_Features_Spec.js
  app/client/cypress/manual_TestSuite/Query_Datasource_Spec.js
  app/client/cypress/manual_TestSuite/Share_User_Icon.js
  app/client/cypress/manual_TestSuite/Switch_Widget_Spec.js
  app/client/cypress/manual_TestSuite/Tab_Widget_Spec.js
  app/client/cypress/manual_TestSuite/Table_Filter_Test_spec.js
  app/client/cypress/manual_TestSuite/Text_Widget_Spec.js
  app/client/cypress/manual_TestSuite/UpgradeAppsmith/UpgradeAppsimth_spec.js
  app/client/cypress/manual_TestSuite/Workspace_Logo_Del.js
  app/client/cypress/manual_TestSuite/Workspace_Logo_Set.js
  app/client/cypress/manual_TestSuite/Workspace_Name_Spec.js
  app/client/cypress/manual_TestSuite/new_Table_Spec.js
Labels: skip-changelog, ok-to-test, Test

#34586 feat: Remove editable checkbox from PrimaryColumnsControlV2 and update imports
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/AddNewRow1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/AddNewRow2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_editing_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Inline_editing_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Inline_editing_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Inline_editing_3_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Color_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_PropertyPane_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/currency_spec.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/cypress/support/widgetCommands.js
  app/client/src/components/propertyControls/PrimaryColumnsControlV2.tsx
Labels: Enhancement, Task, ok-to-test, Activation Pod, Activation, Widgets & Blocks Pod

#34903 chore: trigger linting actions in any non published mode
  app/client/src/ce/actions/evaluationActionsList.ts
Labels: skip-changelog, ok-to-test

#34855 fix: modal rename update references
  app/client/src/widgets/ModalWidget/widget/index.test.tsx
  app/client/src/widgets/ModalWidget/widget/index.tsx
Labels: Bug, Low, Production, Needs Triaging, FE Coders Pod, Entity Refactor, Integrations Pod, Integrations Pod General, ok-to-test

#34906 ci: Run prepare script for adaptable image, if available
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: skip-changelog, CI

#34902 chore: Add transaction template for dry DB ops execution
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/DryOperationRepository.java
Labels: ok-to-test

#34875 fix: removed initialization fail timeout to show errors
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
  app/server/appsmith-plugins/snowflakePlugin/src/test/java/com/external/plugins/SnowflakePluginTest.java
Labels: Bug, ok-to-test

#34589 test: fixed failing GitImport test
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/GitImport_spec.js
Labels: skip-changelog, ok-to-test, Test

#34857 test: added a validation post fork
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, ok-to-test, Test

#34708 chore: Compute default value for jsaction params
  app/client/packages/ast/index.ts
  app/client/packages/ast/src/constants/ast.ts
  app/client/packages/ast/src/index.test.ts
  app/client/packages/ast/src/index.ts
  app/client/packages/ast/src/jsObject/index.test.ts
  app/client/packages/ast/src/jsObject/index.ts
  app/client/src/ce/workers/Evaluation/getEntityForEvalContextMap.ts
  app/client/src/ce/workers/Evaluation/getJSActionForEvalContext.ts
  app/client/src/ee/workers/Evaluation/getJSActionForEvalContext.ts
Labels: Frontend, Task, skip-changelog, Package, ok-to-test

#34894 chore: Reduce DSL size by removing runtime values from the DSL.
  app/client/src/layoutSystems/autolayout/editor/AutoLayoutEditorWidgetOnion.tsx
  app/client/src/layoutSystems/fixedlayout/common/utils.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
Labels: Performance Pod, Task, skip-changelog, All Widgets, Anvil Pod, Performance, Anvil team, ok-to-test

#34861 test: upgraded cypress to 13.13.0
  app/client/cypress/Dockerfile
  app/client/cypress/support/Pages/IDE/Sidebar.ts
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test, Test

#34895 chore: Add tests for copy paste for anvil widgets.
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilCopyPaste_spec.ts
  app/client/cypress/support/Pages/Anvil/Locators/index.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/pasteSagas/index.ts
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#34966 fix: Parsing issue with S3 settings
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
Labels: Bug

#34899 chore: refactor authentication failure redirect and retry
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/AuthenticationFailureHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationFailureHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/helpers/AuthenticationFailureRetryHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/helpers/AuthenticationFailureRetryHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/helpers/AuthenticationFailureRetryHandlerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/helpers/AuthenticationFailureRetryHandlerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/util/SentryLogger.java
Labels: skip-changelog, ok-to-test

#34955 chore: Adding coderabbit config file
  .coderabbit.yaml
Labels: skip-changelog, ok-to-test

#33906 fix: Wrong evaluated value after binding checkbox group widget with…
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Switch/SwitchGroup1_spec.ts
  app/client/src/widgets/CheckboxGroupWidget/widget/index.test.tsx
  app/client/src/widgets/CheckboxGroupWidget/widget/index.tsx
Labels: Stale

#34620 feat: add clear all option to columns field in google sheets plugin
  app/client/src/components/formControls/DropDownControl.test.tsx
  app/client/src/components/formControls/DropDownControl.tsx
Labels: ok-to-test

#34997 chore: add zone, section, table, button, modal in data requried's exclude list
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
Labels: skip-changelog, ok-to-test

#34992 ci: Add a pre-push hook to check for only ce changes
  app/client/.husky/pre-push
Labels: skip-changelog, CI

#35013 test: increased timeout for Sidebar
  app/client/cypress/support/Pages/IDE/Sidebar.ts
Labels: skip-changelog, ok-to-test, Test

#35017 chore: revert rts build to github runners
  .github/workflows/rts-build.yml
Labels: skip-changelog

#35022 chore: Revert "chore: delete redundant files"
  app/server/scripts/start-dev-server.sh
  app/util/is_wsl.sh
  app/util/is_wsl_test.sh
Labels: skip-changelog, ok-to-test

#35040 feat: Add JSONForm widget according to the column selection
  app/client/src/components/editorComponents/Debugger/Schema.tsx
  app/client/src/pages/Editor/QueryEditor/BindDataButton.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: Enhancement

#35035 fix: JSObject function is not defined error
  app/client/src/ce/sagas/InferAffectedJSObjects.ts
Labels: Bug, Critical, Production, Community Reported, Needs Triaging, JS Objects, FE Coders Pod, BE Coders Pod, Medium, Integrations Pod, Integrations Pod General, ok-to-test, Help enterprise

#34983 fix: Removed switch for overflow list when there are no files
  app/client/src/pages/Editor/IDE/EditorTabs/Editortabs.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#35059 fix: Tabs icon alignment
  app/client/src/IDE/Components/FileTab.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#34973 chore: add default name prop to js object debugger logs
  app/client/src/components/editorComponents/JSResponseView.tsx
Labels: skip-changelog, ok-to-test

#34615 chore: WDS outline buttons color adjustment
  app/client/cypress/snapshots/AnvilButtonWidgetSnapshot_spec.ts/anvilButtonWidgetCanvas.snap.png
  app/client/cypress/snapshots/AnvilButtonWidgetSnapshot_spec.ts/anvilButtonWidgetCanvasDark.snap.png
  app/client/cypress/snapshots/AnvilButtonWidgetSnapshot_spec.ts/anvilButtonWidgetDeployipad-2.snap.png
  app/client/cypress/snapshots/AnvilButtonWidgetSnapshot_spec.ts/anvilButtonWidgetDeployiphone-6.snap.png
  app/client/cypress/snapshots/AnvilButtonWidgetSnapshot_spec.ts/anvilButtonWidgetDeploymacbook-13.snap.png
  app/client/cypress/snapshots/AnvilButtonWidgetSnapshot_spec.ts/anvilButtonWidgetPreview.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetCanvas.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetCanvasDark.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetDeployipad-2.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetDeployiphone-6.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetDeploymacbook-13.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetPreview.snap.png
  app/client/cypress/support/Pages/Anvil/AnvilSnapshot.ts
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: Task, skip-changelog, Anvil Pod, WDS team, ok-to-test

#34901 fix: WDS TextArea inner spacing
  app/client/cypress/snapshots/AnvilCurrencyInputWidgetSnapshot_spec.ts/anvilCurrencyInputWidgetDeployipad-2.snap.png
  app/client/cypress/snapshots/AnvilCurrencyInputWidgetSnapshot_spec.ts/anvilCurrencyInputWidgetDeployiphone-6.snap.png
  app/client/cypress/snapshots/AnvilCurrencyInputWidgetSnapshot_spec.ts/anvilCurrencyInputWidgetDeploymacbook-13.snap.png
  app/client/cypress/snapshots/AnvilInputWidgetSnapshot_spec.ts/anvilInputWidgetDeployipad-2.snap.png
  app/client/cypress/snapshots/AnvilInputWidgetSnapshot_spec.ts/anvilInputWidgetDeployiphone-6.snap.png
  app/client/cypress/snapshots/AnvilInputWidgetSnapshot_spec.ts/anvilInputWidgetDeploymacbook-13.snap.png
  app/client/cypress/snapshots/AnvilPhoneInputWidgetSnapshot_spec.ts/anvilPhoneInputWidgetDeployipad-2.snap.png
  app/client/cypress/snapshots/AnvilPhoneInputWidgetSnapshot_spec.ts/anvilPhoneInputWidgetDeployiphone-6.snap.png
  app/client/cypress/snapshots/AnvilPhoneInputWidgetSnapshot_spec.ts/anvilPhoneInputWidgetDeploymacbook-13.snap.png
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
Labels: Bug, Task, Anvil Pod, WDS team, ok-to-test

#34950 chore: update wds icon component
  app/client/packages/design-system/headless/src/components/Icon/index.ts
  app/client/packages/design-system/headless/src/components/Icon/src/Icon.tsx
  app/client/packages/design-system/headless/src/components/Icon/src/index.ts
  app/client/packages/design-system/headless/src/index.ts
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/Icon/src/Icon.tsx
  app/client/packages/design-system/widgets/src/components/Icon/src/icons.ts
  app/client/packages/design-system/widgets/src/components/Icon/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Icon/src/types.ts
  app/client/packages/design-system/widgets/src/components/Icon/stories/Icon.stories.tsx
  app/client/packages/design-system/widgets/src/scripts/build-icons.ts
  app/client/src/widgets/wds/WDSStatsWidget/component/index.tsx
  app/client/src/widgets/wds/WDSStatsWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSStatsWidget/widget/types.ts
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#35054 chore: apply spotless precommit
  app/client/.husky/check-staged-files.sh
  app/server/pom.xml
Labels: Task, skip-changelog, BE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#35098 chore: multi-arch dp image
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: skip-changelog

#35046 fix: add break-word rule for text widgets
  app/client/cypress/snapshots/AnvilHeadingWidgetSnapshot_spec.ts/anvilHeadingWidgetDeployIphone6.snap.png
  app/client/cypress/snapshots/AnvilParagraphWidgetSnapshot_spec.ts/anvilParagraphWidgetDeployIphone6.snap.png
  app/client/packages/design-system/widgets/src/components/Text/src/Text.tsx
  app/client/packages/design-system/widgets/src/components/Text/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Text/src/types.ts
  app/client/src/widgets/wds/WDSParagraphWidget/widget/index.tsx
Labels: Bug, ok-to-test

#35103 fix: fixated deserialisation from files to respective types
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/operations/FileOperationsCEv2Impl.java
Labels: Bug, ok-to-test

#34981 feat: Updated new tab ui with search and load more
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/EmptySearchResult.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/Group.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/GroupedList.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentAddHeader.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/constants.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/types.ts
  app/client/src/pages/Editor/IDE/EditorPane/constants.ts
  app/client/src/pages/Editor/IDE/EditorPane/fuzzySearchInFiles.test.ts
  app/client/src/pages/Editor/IDE/EditorPane/utils.ts
  app/client/src/pages/Editor/IDE/EditorTabs/Container.tsx
  app/client/src/pages/Editor/JSEditor/JSAddState.tsx
  app/client/src/pages/Editor/QueryEditor/QueriesAddState.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation, ok-to-test

#35086 chore: add placeholder transformation function for packages error message
  app/client/src/ce/sagas/helpers.ts
  app/client/src/sagas/EvaluationsSaga.ts
Labels: skip-changelog, ok-to-test

#34974 fix: Issue 34961 GraphQL Logo seems to be incorrect
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
Labels: ok-to-test

#35072 fix: sniping mode for module to bind to existing and new widgets
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/pages/Editor/QueryEditor/BindDataButton.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.tsx
  app/client/src/sagas/SnipingModeSaga.test.ts
  app/client/src/sagas/SnipingModeSagas.ts
Labels: Bug, Production, Needs Triaging, Medium, Packages pod, Module consumer, Package, ok-to-test

#34979 fix: Remove collapsed widget tags
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntityTagGroup.tsx
  app/client/src/pages/Editor/widgetSidebar/tests/UIEntitySidebar.test.tsx
Labels: Bug, ok-to-test

#34733 chore: refactor theme import flow to support dry ops for pg
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedImportableResourcesCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/DryOperationRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/base/ThemeServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/base/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/importable/ThemeImportableServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ThemeImportableServiceCETest.java
Labels: skip-changelog, ok-to-test

#35122 chore: add failureThreshold for anvil tests
  app/client/cypress/snapshots/AnvilHeadingWidgetSnapshot_spec.ts/anvilHeadingWidgetCanvas.snap.png
  app/client/cypress/snapshots/AnvilHeadingWidgetSnapshot_spec.ts/anvilHeadingWidgetCanvasDark.snap.png
  app/client/cypress/snapshots/AnvilHeadingWidgetSnapshot_spec.ts/anvilHeadingWidgetDeploy.snap.png
  app/client/cypress/snapshots/AnvilHeadingWidgetSnapshot_spec.ts/anvilHeadingWidgetDeployIpad2.snap.png
  app/client/cypress/snapshots/AnvilHeadingWidgetSnapshot_spec.ts/anvilHeadingWidgetPreview.snap.png
  app/client/cypress/snapshots/AnvilParagraphWidgetSnapshot_spec.ts/anvilParagraphWidgetCanvas.snap.png
  app/client/cypress/snapshots/AnvilParagraphWidgetSnapshot_spec.ts/anvilParagraphWidgetCanvasDark.snap.png
  app/client/cypress/support/Pages/Anvil/AnvilSnapshot.ts
  app/client/package.json
Labels: skip-changelog, ok-to-test

#35112 chore: Register OTLP metrics provider
  app/client/package.json
  app/client/src/UITelemetry/auto-otel-web.ts
  app/client/src/index.tsx
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#35166 chore: remove execution time calculation from logs
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#35145 fix: Saving status being stuck while moving between applications
  app/client/src/ce/reducers/uiReducers/apiPaneReducer.ts
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ce/reducers/uiReducers/editorReducer.tsx
  app/client/src/ce/reducers/uiReducers/queryPaneReducer.ts
  app/client/src/reducers/uiReducers/appThemingReducer.ts
  app/client/src/reducers/uiReducers/jsPaneReducer.ts
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#35124 feat: display label in table select cell
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
Labels: Bug, Enhancement, Table Widget, QA, App Viewers Pod, High, Production, QA Pod, ok-to-test, Widgets & Blocks Pod, Help enterprise

#35164 fix: auto redirect from datasource page to module editor
  app/client/src/ce/selectors/modulesSelector.ts
  app/client/src/reducers/uiReducers/datasourcePaneReducer.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/__tests__/ApiPaneSagas.test.ts
Labels: Bug, Low, Production, Packages pod, Module creator, ok-to-test

#35160 chore: Override OAuth2AuthenticationException to differentiate the errors thrown by Appsmith
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOAuth2UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOidcUserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithOAuth2AuthenticationException.java
Labels: skip-changelog, ok-to-test

#35171 fix: cleanup stale postgres postmaster.pid
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/pg-upgrade.sh
Labels: Bug, Workflows Pod, Workflows, ok-to-test

#35216 Cherry pick/26 jul
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOAuth2UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOidcUserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithOAuth2AuthenticationException.java
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/pg-upgrade.sh
Labels: ok-to-test

#34912 chore: Added profiling for widget components performance
  app/client/build.sh
  app/client/src/UITelemetry/auto-otel-web.ts
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/widgets/BaseWidgetHOC/WidgetProfiler.tsx
  app/client/src/widgets/BaseWidgetHOC/withBaseWidgetHOC.ts
  app/client/src/widgets/withWidgetProps.tsx
Labels: Performance Pod, Task, skip-changelog, Performance infra, Performance, ok-to-test

#35229 chore: adding addition telemetry to cover JSONForm widget's performance
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
Labels: Task, skip-changelog, Performance infra, Performance, ok-to-test

#35213 chore: subscribe file IO to elastic and publish to parallel thread when fetching plugins
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/LoadShifter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/ratelimiting/ce/RateLimitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/TenantServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ProductAlertServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserSignupImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ScheduledTaskCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/PluginServiceCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/UserSignupTest.java
Labels: skip-changelog, ok-to-test

#35247 chore: tiny fix to reduce getCommonTelemetryAttributes overhead
  app/client/src/UITelemetry/generateTraces.ts
Labels: skip-changelog, ok-to-test

#35088 chore: Remove unnecessary properties from being stored in Anvil DSLs
  app/client/src/WidgetProvider/factory/index.tsx
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilDraggingSagas/anvilDraggingSagas.test.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilDraggingSagas/helpers.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilDraggingSagas/index.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilWidgetAdditionSagas/helpers.test.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilWidgetAdditionSagas/helpers.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilWidgetAdditionSagas/index.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/index.ts
  app/client/src/layoutSystems/anvil/layoutComponents/presets/sectionPreset.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/presets/zonePreset.tsx
  app/client/src/layoutSystems/anvil/utils/layouts/update/mainCanvasLayoutUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/sectionUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/zoneUtils.ts
  app/client/src/layoutSystems/anvil/utils/sectionOperationUtils.ts
  app/client/src/layoutSystems/anvil/utils/widgetAdditionUtils.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/widgets/anvil/SectionWidget/widget/config/defaultConfig.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/config/defaultConfig.ts
  app/client/src/widgets/wds/WDSInputWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSModalWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/config/defaultsConfig.ts
Labels: Task, skip-changelog, Anvil Pod, Anvil team, ok-to-test

#35251 chore: Updated search tags for WDS widgets
  app/client/src/widgets/wds/WDSButtonWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSIconButtonWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSInlineButtonsWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSInputWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSMenuButtonWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSModalWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSParagraphWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSRadioGroupWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSStatsWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/config/metaConfig.ts
Labels: Task, skip-changelog, Anvil Pod, WDS team, ok-to-test

#35262 fix: Added wrap for overflowing editor content
  app/client/src/pages/Editor/JSEditor/Form.tsx
Labels: Bug, Production, IDE, Community Reported, Needs Triaging, New Developers Pod, Medium, ok-to-test

#34957 chore: Add page load trace with resource, paint and navigation spans
  app/client/src/UITelemetry/PageLoadInstrumentation.ts
  app/client/src/UITelemetry/auto-otel-web.ts
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/index.tsx
Labels: skip-changelog, ok-to-test

#35276 ci: Add pre push hook to not allow ee changes in ce
  .github/workflows/client-build.yml
  app/client/.husky/pre-push
Labels: skip-changelog, CI

#35282 test: Adding feature to run a spec file with count
  .github/workflows/ci-test-limited-with-count.yml
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test

#35257 perf: optimize canvas resizing for fixed layout
  app/client/src/layoutSystems/common/mainContainerResizer/MainContainerResizer.tsx
  app/client/src/layoutSystems/common/mainContainerResizer/constants.ts
  app/client/src/pages/AppViewer/AppPage/AppPage.styled.tsx
  app/client/src/pages/AppViewer/AppPage/AppPage.tsx
  app/client/src/pages/AppViewer/AppPage/constants.ts
  app/client/src/pages/AppViewer/AppPage/index.ts
  app/client/src/pages/Editor/IDE/AppsmithIDE.test.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/LayoutSystemBasedPageViewer.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/MainContainerWrapper.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/NavigationAdjustedPageViewer.tsx
  app/client/src/pages/hooks/constants.ts
  app/client/src/pages/hooks/index.ts
  app/client/src/pages/hooks/useCanvasWidthAutoResize.ts
  app/client/src/pages/hooks/utils/index.ts
  app/client/src/pages/hooks/utils/resolveCanvasWidth.test.ts
  app/client/src/pages/hooks/utils/resolveCanvasWidth.ts
  app/client/src/reducers/uiReducers/mainCanvasReducer.ts
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
  app/client/src/widgets/ContainerWidget/widget/index.test.tsx
Labels: Bug, QA, Production, Regressed, IDE, Needs Triaging, UI Builders Pod, New Developers Pod, Reflow & Resize, QA Pod, ok-to-test

#35221 chore: add widget id prefix
  app/client/src/layoutSystems/anvil/utils/layouts/update/sectionUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/zoneUtils.ts
  app/client/src/layoutSystems/anvil/utils/sectionOperationUtils.ts
  app/client/src/pages/Editor/widgetSidebar/WidgetCard.tsx
Labels: skip-changelog, ok-to-test

#35285 fix: Release blocker - ads migration
  app/client/packages/design-system/ads-old/src/AppIcon/index.tsx
  app/client/packages/design-system/ads-old/src/FilePickerV2/index.tsx
  app/client/packages/design-system/ads-old/src/Toast/index.tsx
  app/client/packages/design-system/ads-old/src/index.ts
  app/client/packages/design-system/widgets-old/src/Toast/index.tsx
  app/client/packages/design-system/widgets-old/src/index.ts
  app/client/src/index.tsx
  app/client/src/sagas/OneClickBindingSaga.ts
Labels: Bug, Design System Pod, Low, Release, Needs Triaging, ADS Grayscale, ADS Components, DailyPromotionBlocker, ok-to-test

#35087 feat: set app max width
  app/client/packages/design-system/theming/src/token/src/types.ts
  app/client/src/constants/AppConstants.ts
  app/client/src/layoutSystems/CanvasFactory.tsx
  app/client/src/layoutSystems/anvil/viewer/canvas/AnvilViewerCanvas.tsx
  app/client/src/pages/Editor/WDSThemePropertyPane/components/AppMaxWidthSelect.tsx
  app/client/src/pages/Editor/WDSThemePropertyPane/index.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ApplicationDetailCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/exports/internal/ExportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/CommonGitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Enhancement, Task, Anvil Pod, Anvil team, ok-to-test

#35255 chore: added logs for connection pool in mysql
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
Labels: MySQL, Task, skip-changelog, Integrations Pod, ok-to-test

#35288 chore: injecting env value into client build script
  .github/workflows/client-build.yml
  app/client/build.sh
Labels: Performance Pod, Task, skip-changelog, Performance infra, Performance, ok-to-test

#35181 chore: upgrade typescript to 5.4
  app/client/package.json
  app/client/packages/ast/package.json
  app/client/packages/design-system/ads/jest.config.js
  app/client/packages/design-system/ads/src/Icon/Icon.types.ts
  app/client/packages/design-system/theming/jest.config.js
  app/client/packages/design-system/widgets/jest.config.js
  app/client/packages/dsl/jest.config.js
  app/client/packages/dsl/package.json
  app/client/packages/rts/package.json
  app/client/packages/rts/src/controllers/Ast/AstController.ts
  app/client/packages/rts/src/controllers/BaseController.ts
  app/client/packages/rts/src/controllers/Dsl/DslController.ts
  app/client/packages/rts/src/controllers/healthCheck/HealthCheckController.ts
  app/client/src/components/editorComponents/GlobalSearch/SearchModal.tsx
  app/client/src/pages/Editor/gitSync/Tabs/GitConnection.tsx
  app/client/src/utils/helpers.tsx
  app/client/src/workers/Evaluation/indirectEval.ts
  app/client/tsconfig.json
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#35297 chore: Add page load trace with resource, paint and navigation spans (#34957)
  app/client/src/UITelemetry/PageLoadInstrumentation.ts
  app/client/src/UITelemetry/auto-otel-web.ts
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/index.tsx
Labels: ok-to-test

#34972 test: Updated duplicate file names
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/DynamicHeight_Tab_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SettingsPane/SettingsPane_EmbedSettings_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Divider/Widget_Divider_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Tab/Widget_Tab_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Querypane_Mongo_Spec.js
Labels: skip-changelog, ok-to-test, Test

#35306 chore: reverted client profiled build
  .github/workflows/client-build.yml
  app/client/build.sh
Labels: Performance Pod, Task, skip-changelog, Performance infra, Performance, ok-to-test

#35314 chore: upgrade Typescipt to 5.5.4
  app/client/package.json
  app/client/packages/ast/package.json
  app/client/packages/design-system/ads/src/Radio/RadioGroup.stories.tsx
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
  app/client/packages/design-system/widgets/package.json
  app/client/packages/dsl/package.json
  app/client/packages/rts/package.json
  app/client/packages/storybook/package.json
  app/client/src/plugins/Linting/utils/groupDifferencesByType.ts
  app/client/yarn.lock
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#35114 chore: Reorganise IDE Panels
  app/client/cypress/e2e/Regression/ClientSide/AppNavigation/AppNavigationWithGit_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckBoxGroupTest.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres2_Spec.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.ts
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/Editor/IDE/EditorPane/Editor.tsx
  app/client/src/pages/Editor/IDE/EditorPane/EditorPaneSegments.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Explorer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Editor.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Explorer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Editor.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Explorer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/types/AddProps.ts
  app/client/src/pages/Editor/IDE/EditorTabs/List.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/ScreenModeToggle.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
  app/client/src/pages/Editor/IDE/LeftPane/LibrarySidePane.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/IDE/index.tsx
  app/client/src/pages/Editor/JSEditor/JSAddState.tsx
  app/client/src/pages/Editor/QueryEditor/QueriesAddState.tsx
  app/client/src/pages/Editor/commons/EditorSettingsPaneContainer.tsx
Labels: Bug, High, Production, Needs Triaging, Task, skip-changelog, New Developers Pod, IDE Navigation, Anvil Pod, ok-to-test
