Repository appsmithorg/appsmith, pull requests merged in 2024-08, with the labels that each got.

#35309 feat: Added section component for action forms
  app/client/src/pages/Editor/ActionForm/Section/index.tsx
  app/client/src/pages/Editor/ActionForm/Section/styles.module.css
  app/client/src/pages/Editor/ActionForm/index.ts
Labels: Enhancement, potential-duplicate, IDE, New Developers Pod, IDE Navigation, ok-to-test

#35312 test: switch branch spec ce
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/SwitchBranches_spec.js
Labels: skip-changelog, ok-to-test, Test

#35335 chore: system print added instead of log.info
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
Labels: Task, skip-changelog, Integrations Pod, Integrations Pod General, ok-to-test

#35270 feat: move building blocks to bottom of widget explorer
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/layoutSystems/common/dropTarget/OnBoarding/OnBoarding.test.tsx
  app/client/src/layoutSystems/common/dropTarget/OnBoarding/index.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
  app/client/src/pages/Editor/widgetSidebar/tests/UIEntitySidebar.test.tsx
Labels: Enhancement, Widgets & Blocks Pod, Task, BE Coders Pod, Integrations Pod, Learnability, ok-to-test

#35311 fix: Allow serializing child widget if it is a substring of the conta…
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/DSLTransformerHelper.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/DSLTransformerHelperTest.java
Labels: Bug, High, Production, Git Version Control, Git Pod, ok-to-test

#35350 fix: Do not return composed action collections after refactor
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceTest.java
Labels: Bug

#35316 feat: Added zone component to UQI
  app/client/src/pages/Editor/ActionForm/Section/index.tsx
  app/client/src/pages/Editor/ActionForm/Zone/index.tsx
  app/client/src/pages/Editor/ActionForm/Zone/styles.module.css
  app/client/src/pages/Editor/ActionForm/index.ts
Labels: Enhancement, New Developers Pod, IDE Navigation, ok-to-test

#35187 feat: add sortBy property to table select cell type
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Sorting_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Select.ts
Labels: Enhancement, Table Widget, Widgets & Blocks Pod, High, ok-to-test

#35353 chore: Upgrade fast-xml-parser to 4.4.1
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#35323 fix: collapse params & query params in action selector if value is not changed
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/NavigateTo_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/uiToCode_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Binding/ButtonWidgets_NavigateTo_validation_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/components/editorComponents/ActionCreator/Field/index.tsx
  app/client/src/components/editorComponents/ActionCreator/types.ts
  app/client/src/components/editorComponents/ActionCreator/viewComponents/TextView/TextView.test.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/TextView/index.tsx
Labels: Bug, Task, Integrations Pod, Integrations Pod General, ok-to-test, Activation Pod, Activation, Ballpark: S

#35354 fix: increase the content length to fix large file size not working.
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/DataUtils.java
Labels: Bug, ok-to-test

#35303 chore: allKeys computation is constrained by diff
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/utils.test.ts
Labels: UI Builders Pod, Task, UI Performance, skip-changelog, Performance, ok-to-test

#35388 chore: Add hostname as common attr on all spans
  app/client/src/UITelemetry/generateTraces.ts
Labels: skip-changelog, ok-to-test

#35299 fix: Anvil zone widget default configurations
  app/client/src/layoutSystems/anvil/layoutComponents/presets/zonePreset.tsx
  app/client/src/widgets/anvil/ZoneWidget/widget/config/defaultConfig.ts
Labels: Bug, Anvil Pod, Anvil team, ok-to-test

#35384 chore: update storybook and related packages
  app/client/packages/storybook/package.json
  app/client/yarn.lock
Labels: skip-changelog

#35401 fix: Added indices for cross referencing changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration058AddIndexesToBranchAwareDomains.java
Labels: Bug

#35382 chore: WDS adjust `bgNeutral`
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: Task, skip-changelog, Anvil Pod, WDS team, ok-to-test

#35407 fix: ignored target directory for spotless JSON formatting
  app/server/pom.xml
Labels: Bug, BE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#35419 chore: Adding new command for running test case
  .github/workflows/build-client-server-count.yml
  .github/workflows/ok-to-test.yml
  app/client/cypress/scripts/cypress-split-static.ts
Labels: skip-changelog

#35431 chore: Updated dispatch command
  .github/workflows/build-client-server-count.yml
Labels: skip-changelog, ok-to-test

#35436 chore: Memoising some computations within WDS_TOOLBAR_BUTTONS_WIDGET
  app/client/packages/design-system/widgets/src/components/ToolbarButtons/src/ToolbarButtons.tsx
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/component/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: skip-changelog, ok-to-test

#34673 fix: commit icon of github on airgapped, the app crashes. #33812
  app/client/src/pages/Editor/gitSync/components/ReconnectSSHError.tsx
Labels: Stale

#35162 fix: failing backup and restore appsmithctl
  deploy/docker/fs/opt/appsmith/utils/bin/backup.js
  deploy/docker/fs/opt/appsmith/utils/bin/constants.js
  deploy/docker/fs/opt/appsmith/utils/bin/export_db.js
  deploy/docker/fs/opt/appsmith/utils/bin/import_db.js
  deploy/docker/fs/opt/appsmith/utils/bin/restore.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.js
Labels: Bug, High, Production, Needs Triaging, Stale, DevOps Pod, Backup & Restore

#35392 chore: Remove google fonts imported from googleapis
  app/client/src/assets/fonts/google/index.css
  app/client/src/index.css
Labels: skip-changelog, ok-to-test

#35463 fix: issue with opening custom widget source editor
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug, Critical, High, Production, Needs Triaging, ok-to-test

#35376 test: fix flaky case for forkapp
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplication_spec.ts
Labels: skip-changelog, ok-to-test, Test

#35473 test: add ordering for theme import test to fix flakiness
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ThemeImportableServiceCETest.java
Labels: skip-changelog, Test

#35515 test: fix theme import test flakiness
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ThemeImportableServiceCETest.java
Labels: skip-changelog, Test

#35525 chore: add isError to return value of extractIdentifierInfoFromCode in AST
  app/client/packages/ast/src/index.ts
  app/client/packages/rts/src/test/server.test.ts
Labels: skip-changelog, ok-to-test

#35540 fix: comment the flaky test to unblock TBP
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ThemeImportableServiceCETest.java
Labels: Bug

#35538 chore: Flaky test in `AuthenticationServiceTest`
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#35526 chore: Update env variable used for update persistent DB URL
  app/client/src/pages/AdminSettings/config/advanced.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/EnvVariables.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
Labels: skip-changelog, ok-to-test

#35412 fix: table save row button onclick function
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/mysql_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
  app/client/src/widgets/TableWidgetV2/component/header/banner/AddNewRowBanner.tsx
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, cypress-flaky-fix, ok-to-test, Stability Pod

#35416 chore: added metrics around actions api view mode
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ApplicationSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/PageSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ActionSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ApplicationSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/PageSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNewActionRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNewPageRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/ApplicationServiceCECompatibleImpl.java
Labels: Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#35399 chore: Upgrade TinyMCE
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor_Validation_spec.js
  app/client/cypress/fixtures/formdsl1.json
  app/client/package.json
  app/client/public/static/js/skins/ui/oxide/content.css
  app/client/public/static/js/skins/ui/oxide/content.min.css
  app/client/public/static/js/skins/ui/oxide/skin.css
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
  app/client/yarn.lock
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#35558 fix: hidden page was not being checked for route change
  app/client/src/pages/AppViewer/index.tsx
Labels: Bug, Critical, Production, Needs Triaging, Javascript Product, Query & JS Pod, Framework Functions, ok-to-test

#35553 fix: js object editor overflowing fixed
  app/client/src/pages/Editor/JSEditor/Form.tsx
Labels: Bug, Critical, High, Production, IDE Product, Needs Triaging, JS Objects, Javascript Product, Query & JS Pod, IDE Pod, Medium, IDE Navigation, ok-to-test

#35567 fix: Clone js obj should allow action to contain collection id
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/clonepage/ActionClonePageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
Labels: Bug, High, Production, Needs Triaging, JS Objects, Release Blocker, Javascript Product, Query & JS Pod

#35554 fix: added an autocommit migration for theme settings.
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersions.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersionsFallback.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaMigrationTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaVersionsTest.java
Labels: Bug, Production, Needs Triaging, Release Blocker, ok-to-test

#35524 test: Testing pipeline with build yaml and run_count
  .github/workflows/build-client-server-count.yml
  .github/workflows/ci-test-limited-with-count.yml
Labels: skip-changelog, ok-to-test, Test

#35564 fix: hidden page was not being checked for route change
  app/client/src/pages/AppViewer/index.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersions.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersionsFallback.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/clonepage/ActionClonePageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaMigrationTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaVersionsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
Labels: ok-to-test

#35580 fix: issue with opening custom widget source editor (#35463)
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: ok-to-test

#35581 chore: WDS text inputs visual refinements
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
Labels: Task, skip-changelog, Anvil Pod, WDS team, ok-to-test

#35585 fix: test storybook action
  .github/workflows/test-storybook.yml
Labels: Bug

#34566 chore: Change `policies` set to `policyMap`
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ArtifactCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/PolicyUtil.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/constants/DeprecatedFieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration025RemoveUnassignPermissionFromUnnecessaryRoles.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration028TagUserManagementRolesWithoutDefaultDomainTypeAndId.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration029PopulateDefaultDomainIdInUserManagementRoles.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration031CreateUserManagementRolesForUsersTaggedIn030.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration047AddMissingFieldsInDefaultAppsmithAiDatasource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration053AddApplicationDeletePagePermissionToApplications.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration059PolicySetToPolicyMap.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/projections/IdPoliciesOnly.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/ActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/DatasourceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/NewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/NewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PolicySolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/PolicySolutionCEImplTest.java
Labels: skip-changelog, ok-to-test

#35476 chore: Ability to run PR automations every time PR updates
  .github/workflows/pr-automation.yml
Labels: skip-changelog, ok-to-test

#35594 chore: batching updates for a few widgets to reduce rerenders
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSRadioGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchWidget/widget/index.tsx
Labels: skip-changelog, ok-to-test

#35609 fix: overflow hidden was restricting the visibility of show bindings menu
  app/client/src/pages/Editor/IDE/EditorPane/Explorer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
Labels: Bug, High, Production, Needs Triaging, JS Objects, Release Blocker, Javascript Product, Query & JS Pod, ok-to-test

#35622 fix: drag and drop issue in list widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicClientSideData_spec.js
  app/client/src/layoutSystems/anvil/utils/layouts/update/sectionUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/zoneUtils.ts
  app/client/src/layoutSystems/anvil/utils/sectionOperationUtils.ts
  app/client/src/pages/Editor/widgetSidebar/WidgetCard.tsx
Labels: Bug, Widgets Product, High, Production, Needs Triaging, Release Blocker, List Widget V2, ok-to-test, Widgets & Accelerators Pod

#35620 chore: Fix parameter call from build file
  .github/workflows/build-client-server-count.yml
  .github/workflows/ci-test-limited-with-count.yml
Labels: skip-changelog, ok-to-test

#35546 chore: Added multiple scripts to trigger profiles
  deploy/docker/fs/opt/appsmith/record-heap-dump.sh
  deploy/docker/fs/opt/appsmith/record-thread-dump.sh
  deploy/docker/fs/opt/appsmith/thread-profile-start.sh
  deploy/docker/fs/opt/appsmith/thread-profile-stop.sh
Labels: skip-changelog

#35627 test: updated helper for airgap view permission
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: skip-changelog, ok-to-test, Test

#35426 test: fix flaky inline editing 2 spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Inline_editing_2_spec.js
Labels: skip-changelog, ok-to-test, Test, Widgets & Accelerators Pod

#35342 chore: Anvil on canvas UI tests
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilOnCanvasUI_spec.ts
  app/client/cypress/support/Pages/Anvil/AnvilDnDHelper.ts
  app/client/cypress/support/Pages/Anvil/Locators/index.ts
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/AnvilWidgetNameComponent.test.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/AnvilWidgetNameComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/SplitButton.test.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/SplitButton.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/index.test.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/index.tsx
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#35646 fix: View mode canvas margin
  app/client/src/pages/AppViewer/AppPage/AppPage.tsx
Labels: ok-to-test

#35651 fix: Widget Overflow and Show Binding issue
  app/client/src/pages/Editor/Explorer/Entity/EntityProperties.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Explorer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
Labels: Bug, High, Verified, Production, Needs Triaging, JS Objects, Release Blocker, Javascript Product, Query & JS Pod, ok-to-test

#35624 chore: add isVisible in default values in wds widgets
  app/client/src/components/propertyControls/BaseControl.tsx
  app/client/src/widgets/anvil/SectionWidget/widget/config/autocompleteConfig.ts
  app/client/src/widgets/anvil/SectionWidget/widget/config/defaultConfig.ts
  app/client/src/widgets/anvil/SectionWidget/widget/config/index.ts
  app/client/src/widgets/anvil/SectionWidget/widget/index.tsx
  app/client/src/widgets/anvil/ZoneWidget/widget/config/autocompleteConfig.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/config/defaultConfig.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/config/index.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSBaseInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSParagraphWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSRadioGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/config/defaultsConfig.ts
Labels: Critical, High, Production, Regressed, skip-changelog, Stale, Anvil Pod, WDS team, ok-to-test

#35668 chore: Un commented yarn cache
  .github/workflows/ci-test-limited-with-count.yml
Labels: skip-changelog, ok-to-test

#35676 chore: Add indexes for policyMap to improve query response time
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/constants/DeprecatedFieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration060AddIndexesForPolicyMap.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration061TenantPolicySetToPolicyMap.java
Labels: skip-changelog, ok-to-test

#35645 feat: added properties for executeAction mixpanel event (#35291)
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ActionExecutionSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: Enhancement, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#35665 chore: use translate to center the resize handle
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/SpaceDistributionHandle.tsx
Labels: Bug, High, Production, Regressed, skip-changelog, Anvil Pod, Anvil team

#35692 fix: changes in how themes are updated/saved after import.
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/DryOperationRepository.java
Labels: Bug, ok-to-test

#35571 test: fixed skipped graphQL test
  app/client/cypress/e2e/Regression/ClientSide/BugTests/GraphQL_Binding_Bug16702_Spec.ts
Labels: Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, cypress-flaky-fix, ok-to-test, Test, Stability Pod

#34825 feat: add AnimatedGridLayout component
  app/client/src/components/AnimatedGridLayout/AnimatedGridLayout.tsx
  app/client/src/components/AnimatedGridLayout/components/LayoutArea/LayoutArea.tsx
  app/client/src/components/AnimatedGridLayout/components/LayoutArea/constants.ts
  app/client/src/components/AnimatedGridLayout/components/LayoutArea/index.ts
  app/client/src/components/AnimatedGridLayout/components/index.ts
  app/client/src/components/AnimatedGridLayout/constants.ts
  app/client/src/components/AnimatedGridLayout/hooks/index.ts
  app/client/src/components/AnimatedGridLayout/hooks/usePrevious.ts
  app/client/src/components/AnimatedGridLayout/index.ts
  app/client/src/components/AnimatedGridLayout/types.ts
  app/client/src/components/AnimatedGridLayout/utils/constants.ts
  app/client/src/components/AnimatedGridLayout/utils/index.ts
  app/client/src/components/AnimatedGridLayout/utils/normalizeMeasurement.test.ts
  app/client/src/components/AnimatedGridLayout/utils/normalizeMeasurement.ts
  app/client/src/components/AnimatedGridLayout/utils/resolveAreaDimensions.test.ts
  app/client/src/components/AnimatedGridLayout/utils/resolveAreaDimensions.ts
  app/client/src/components/AnimatedGridLayout/utils/resolveAreasVisibility.test.ts
  app/client/src/components/AnimatedGridLayout/utils/resolveAreasVisibility.ts
  app/client/src/components/AnimatedGridLayout/utils/resolvePixelValues.test.ts
  app/client/src/components/AnimatedGridLayout/utils/resolvePixelValues.ts
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#35699 chore: Cherry pick indexes for `policyMap` to improve query response time
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/constants/DeprecatedFieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/constants/FieldName.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration060AddIndexesForPolicyMap.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration061TenantPolicySetToPolicyMap.java
Labels: ok-to-test

#35593 test: disable flaky test of theme import service
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ThemeImportableServiceCETest.java
Labels: skip-changelog, Test

#35708 chore: cherry-pick for themes pr to master
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/DryOperationRepository.java
Labels: ok-to-test

#35710 chore: ce - remove sentry performance tracker
  app/client/package.json
  app/client/src/UITelemetry/PageLoadInstrumentation.ts
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/Editor/routes.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/components/editorComponents/CloseEditor.tsx
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/components/editorComponents/EntityExplorerSidebar.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/entities/Engine/index.ts
  app/client/src/layoutSystems/autolayout/common/resizer/AutoLayoutResizable.tsx
  app/client/src/layoutSystems/common/resizer/ModalResizable.tsx
  app/client/src/layoutSystems/common/widgetName/index.tsx
  app/client/src/layoutSystems/fixedlayout/common/resizer/FixedLayoutResizable.tsx
  app/client/src/pages/Applications/loader.tsx
  app/client/src/pages/Editor/APIEditor/Editor.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Entity/EntityProperties.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/QueryEditor/Editor.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/UserAuth/ThirdPartyAuth.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/utils/PerformanceTracker.ts
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#35284 test: removed retries from config file
  app/client/cypress.config.ts
Labels: skip-changelog, Stale, ok-to-test, Test

#35633 chore: use ads icons
  app/client/cypress/locators/HomePage.js
  app/client/packages/design-system/ads-old/create_story.sh
  app/client/packages/design-system/ads-old/package.json
  app/client/packages/design-system/ads-old/src/AppIcon/index.tsx
  app/client/packages/design-system/ads-old/src/Breadcrumbs/index.tsx
  app/client/packages/design-system/ads-old/src/Button/Button.test.tsx
  app/client/packages/design-system/ads-old/src/Button/index.tsx
  app/client/packages/design-system/ads-old/src/DialogComponent/index.tsx
  app/client/packages/design-system/ads-old/src/DisplayImageUpload/index.tsx
  app/client/packages/design-system/ads-old/src/Dropdown/index.tsx
  app/client/packages/design-system/ads-old/src/EditableTextSubComponent/index.tsx
  app/client/packages/design-system/ads-old/src/FilePickerV2/index.tsx
  app/client/packages/design-system/ads-old/src/GifPlayer/index.tsx
  app/client/packages/design-system/ads-old/src/Icon/index.tsx
  app/client/packages/design-system/ads-old/src/IconSelector/index.tsx
  app/client/packages/design-system/ads-old/src/MenuItem/index.tsx
  app/client/packages/design-system/ads-old/src/Spinner/index.tsx
  app/client/packages/design-system/ads-old/src/Table/index.tsx
  app/client/packages/design-system/ads-old/src/Tabs/index.tsx
  app/client/packages/design-system/ads-old/src/TextInput/index.tsx
  app/client/packages/design-system/ads-old/src/TreeDropdown/index.tsx
  app/client/packages/design-system/ads-old/src/constants/classes.ts
  app/client/packages/design-system/ads-old/src/index.ts
  app/client/packages/design-system/ads-old/src/utils/emailValidator.ts
  app/client/packages/design-system/ads-old/src/utils/notEmptyValidator.ts
  app/client/packages/design-system/ads/src/Icon/index.ts
  app/client/src/components/TabItemBackgroundFill.tsx
  app/client/src/components/editorComponents/ActionCreator/types.ts
  app/client/src/components/editorComponents/EntityBottomTabs.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialImportModal/index.tsx
  app/client/src/components/editorComponents/form/fields/NumberField.tsx
  app/client/src/components/formControls/InputNumberControl.tsx
  app/client/src/components/propertyControls/StyledControls.tsx
  app/client/src/components/utils/ReduxFormTextField.tsx
  app/client/src/components/utils/helperComponents.tsx
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/AdminSettings/SettingsBreadcrumbs.tsx
  app/client/src/pages/AppViewer/Navigation/Sidebar.tsx
  app/client/src/pages/AppViewer/Navigation/TopInline.tsx
  app/client/src/pages/AppViewer/Navigation/components/MenuItem.tsx
  app/client/src/pages/AppViewer/Navigation/components/MoreDropdownButton.tsx
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/NavigationSettings/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/Collapsible.tsx
  app/client/src/pages/Editor/EditorName/EditableName.tsx
  app/client/src/pages/Editor/EditorName/index.tsx
  app/client/src/pages/Editor/Explorer/Libraries/Installer.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationsHomeScreen.tsx
  app/client/src/pages/Editor/IntegrationEditor/index.tsx
  app/client/src/pages/Editor/gitSync/components/DangerMenuItem.tsx
  app/client/src/pages/Editor/gitSync/components/DatasourceListItem.tsx
  app/client/src/pages/Editor/gitSync/components/OptionSelector.tsx
  app/client/src/pages/Editor/gitSync/components/TabItem.tsx
  app/client/src/pages/common/ImportModal.tsx
  app/client/src/pages/common/MobileSidebar.tsx
  app/client/src/pages/common/SearchBar/ApplicationSearchItem.tsx
  app/client/src/pages/common/ThemeSwitcher.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: skip-changelog, ok-to-test

#35729 chore: Fix table columns when hidden are not greyed out in preview mode
  app/client/src/widgets/wds/WDSTableWidget/component/styles.module.css
Labels: High, skip-changelog, Anvil Pod, WDS team, ok-to-test

#35725 chore: restructure stories
  app/client/packages/design-system/headless/src/components/Popover/stories/Popover.stories.tsx
  app/client/packages/design-system/headless/src/components/TextInput/stories/TextInput.stories.ts
  app/client/packages/design-system/headless/src/components/Tooltip/stories/Tooltip.stories.tsx
  app/client/packages/design-system/theming/src/stories/BoxShadow.mdx
  app/client/packages/design-system/theming/src/stories/Color.mdx
  app/client/packages/design-system/theming/src/stories/Dimension.mdx
  app/client/packages/design-system/theming/src/stories/Opacity.mdx
  app/client/packages/design-system/theming/src/stories/Theme.mdx
  app/client/packages/design-system/theming/src/stories/ZIndex.mdx
  app/client/packages/design-system/widgets/src/components/Button/stories/Button.stories.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/stories/Checkbox.stories.tsx
  app/client/packages/design-system/widgets/src/components/Flex/stories/Flex.stories.tsx
  app/client/packages/design-system/widgets/src/components/Icon/stories/Icon.stories.tsx
  app/client/packages/design-system/widgets/src/components/IconButton/stories/IconButton.stories.tsx
  app/client/packages/design-system/widgets/src/components/InlineButtons/stories/InlineButtons.stories.tsx
  app/client/packages/design-system/widgets/src/components/Link/stories/Link.stories.tsx
  app/client/packages/design-system/widgets/src/components/Menu/stories/Menu.stories.tsx
  app/client/packages/design-system/widgets/src/components/Modal/stories/Modal.stories.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/stories/RadioGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/Select/stories/Select.stories.tsx
  app/client/packages/design-system/widgets/src/components/Switch/stories/Switch.stories.tsx
  app/client/packages/design-system/widgets/src/components/TagGroup/stories/TagGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/Text/stories/Text.stories.tsx
  app/client/packages/design-system/widgets/src/components/TextArea/stories/TextArea.stories.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/stories/TextInput.stories.tsx
  app/client/packages/design-system/widgets/src/components/ToggleGroup/stories/ToggleGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/ToolbarButtons/stories/ToolbarButtons.stories.tsx
  app/client/packages/design-system/widgets/src/components/Tooltip/stories/Tooltip.stories.tsx
  app/client/packages/design-system/widgets/src/testing/ColorGrid.stories.tsx
  app/client/packages/design-system/widgets/src/testing/CompareTokens.stories.ts
  app/client/packages/design-system/widgets/src/testing/ComplexForm.stories.ts
  app/client/packages/design-system/widgets/src/testing/Elevation.stories.ts
Labels: skip-changelog, ok-to-test

#35674 chore: Remove some logs and errors from console - 1/n
  app/client/packages/design-system/ads/src/SearchInput/SearchInput.tsx
  app/client/packages/design-system/widgets/src/components/Label/src/Label.tsx
  app/client/src/api/ActionAPI.tsx
  app/client/src/serviceWorker.ts
Labels: skip-changelog, ok-to-test

#35726 chore: fix flaky datepicker spec.
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePickerV2_spec.js
Labels: skip-changelog, ok-to-test, Widgets & Accelerators Pod

#35717 perf: JSONForm widget optimise calling of clear errors
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.test.tsx
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.ts
Labels: Performance Pod, Widgets Product, Task, JSON Form, Performance, ok-to-test, Widgets & Accelerators Pod

#35738 chore: filter smartlook urls from tracing assets in page load instrumentation
  app/client/src/UITelemetry/auto-otel-web.ts
Labels: skip-changelog, ok-to-test

#35758 chore: add default theme related methods to not pollute implementations
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ArtifactCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ArtifactExchangeJsonCE.java
Labels: skip-changelog, Workflows Pod, Workflows Product

#35672 test: Update case base duplicate file name
  app/client/cypress/e2e/GSheet/GsheetMisc_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncGitBugs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/OneClickBindingMysql_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Theme_Basic_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Camera/CameraImage_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Camera/CameraVideo_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/OthersAutocomplete_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/ColumnTypeMenubutton_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/ColumnTypesSelect2_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/QueryPane_MySQL_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/QueryPane_Postgres_Spec.js
Labels: skip-changelog, ok-to-test, Test

#35750 test: removed retries from all config files
  app/client/cypress_ci.config.ts
  app/client/cypress_ci_custom.config.ts
  app/client/cypress_ci_hosted.config.ts
Labels: skip-changelog, ok-to-test, Test

#35613 fix: mandatory date column enforcement
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/AddNewRow2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_editing_1_spec.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/DateCell.tsx
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Widgets Product, High, Production, Needs Triaging, Table Widget V2, ok-to-test, Table Inline Edit, Help enterprise, Widgets & Accelerators Pod

#35707 chore: Transaction support for PG via Spring AOP
  app/server/appsmith-server/src/main/java/com/appsmith/server/aspect/TransactionAspect.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/importable/DatasourceImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/TransactionHandlerDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/TransactionHandlerCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RepositoryFactory.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RepositoryFactoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/RepositoryFactoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/RepositoryFactoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/importable/CustomJSLibImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/TransactionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/TransactionHandlerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/TransactionHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/TransactionHandlerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/importable/ThemeImportableServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidateAPIServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
Labels: ok-to-test

#35765 chore: change the isResourceUpdated implementation to check if the resourceType is present or not
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ModifiedResources.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/dtos/ModifiedResourcesTest.java
Labels: skip-changelog, ok-to-test

#35779 chore: Add error logs for consolidated API
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#35390 fix: Fixes currentRow calculation logic in table(property pane)
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_PropertyPane_2_spec.js
  app/client/cypress/fixtures/tableV2NewDslWithPagination.json
  app/client/cypress/support/Pages/Table.ts
  app/client/packages/dsl/src/migrate/index.ts
  app/client/packages/dsl/src/migrate/migrations/089-migrage-table-widget-v2-currentRow-binding.ts
  app/client/packages/dsl/src/migrate/tests/DSLMigration.test.ts
  app/client/packages/dsl/src/migrate/tests/TableWidget.test.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/CurrenRowInValidationsBindingDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/IsColumnEditableCellValidDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/ParentRowSpaceUpdateDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/PropertyPaneUpgradeDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/SelectedRowBindingsDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/TableDataJSModeDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/TableSanitizeColumnKeysDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/TableV2SelectOptionDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/UpdateHeaderOptionsDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/TableWidget.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/propertyControls/TableInlineEditValidPropertyControl.tsx
  app/client/src/components/propertyControls/TableInlineEditValidationControl.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Widgets Product, Production, Community Reported, Needs Triaging, Medium, Table Widget V2, ok-to-test, Help enterprise, Widgets & Accelerators Pod

#35636 chore: Run a local server with docker compose while running from yarn setup
  app/client/cypress/scripts/cypress-local-setup.js
Labels: skip-changelog, ok-to-test

#35753 feat: Updates for accounting Section and Zone changes
  app/client/src/components/editorComponents/form/ToggleComponentToJson.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/FieldArrayControl.tsx
  app/client/src/components/formControls/InputTextControl.tsx
  app/client/src/pages/Editor/ActionForm/Section/styles.module.css
  app/client/src/pages/Editor/ActionForm/Zone/index.tsx
  app/client/src/pages/Editor/ActionForm/Zone/styles.module.css
  app/client/src/pages/Editor/FormConfig.tsx
  app/client/src/pages/Editor/QueryEditor/FormRender.tsx
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#35786 chore: Add cleanup and update stage for tenant at the server restart
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/TenantConfig.java
Labels: skip-changelog, ok-to-test

#35791 chore: Add adhoc image builder
  .github/workflows/ad-hoc-docker-image.yml
Labels: skip-changelog

#35785 chore: preStop scripts
  deploy/docker/fs/opt/appsmith/record-heap-dump.sh
  deploy/docker/fs/opt/appsmith/record-thread-dump.sh
  deploy/docker/fs/opt/appsmith/thread-profile-start.sh
Labels: skip-changelog, ok-to-test

#35806 chore: Do not mark User testing PRs as stale
  .github/workflows/stale.yml
Labels: skip-changelog, User Testing

#35723 chore: Add metrics to pages sub-components
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/PageSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ObservationUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
Labels: Backend, Task, skip-changelog, ok-to-test

#35804 feat: Removed some unused or expired md files and fix for dynamic image in avatar
  app/client/packages/design-system/ads-old/CHANGELOG.md
  app/client/packages/design-system/ads-old/CONTRIBUTING.md
  app/client/packages/design-system/ads-old/Component-Migration-Checklist.md
  app/client/packages/design-system/ads-old/README.md
  app/client/packages/design-system/ads/CHANGELOG.md
  app/client/packages/design-system/ads/README.md
  app/client/packages/design-system/ads/src/Avatar/Avatar.stories.tsx
  app/client/packages/design-system/ads/src/Avatar/AvatarGroup.stories.tsx
  app/client/packages/design-system/ads/src/ToggleButtonGroup/ToggleButtonGroup.tsx
  app/client/packages/design-system/ads/src/ToggleButtonGroup/ToggleButtonGroup.types.ts
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#35828 chore: Fix Oauth2Type (de)serialization issue
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/converters/OauthTypeConverter.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuth2.java
Labels: ok-to-test

#35789 feat: Updated subtitle position to bottom
  app/client/src/components/editorComponents/form/fields/StyledFormComponents.tsx
  app/client/src/pages/Editor/FormConfig.tsx
Labels: Enhancement, IDE Product, IDE Pod, IDE Navigation, ok-to-test

#35837 chore: add latestDeployPreview command to index.d.ts file in cypress suite
  app/client/cypress/support/index.d.ts
Labels: skip-changelog

#35787 chore: fix zone dotted highlight is not showing up on new anvil apps
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilSpaceDistribution_spec.ts
  app/client/src/layoutSystems/anvil/common/hooks/useWidgetBorderStyles.ts
  app/client/src/layoutSystems/anvil/editor/AnvilEditorFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/selectors.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetStyles.ts
Labels: High, Production, Regressed, skip-changelog, Anvil Pod, Anvil team, ok-to-test

#35812 chore: move anvil widgets to wds
  CODEOWNERS
  app/client/cypress/support/Pages/Anvil/Locators/index.ts
  app/client/src/WidgetProvider/factory/helpers.ts
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/canvasArenas/hooks/useAnvilDnDListenerStates.ts
  app/client/src/layoutSystems/anvil/editor/canvasArenas/hooks/useAnvilWidgetDrop.ts
  app/client/src/layoutSystems/anvil/editor/canvasArenas/utils/utils.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetStyles.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilDraggingSagas/anvilDraggingSagas.test.ts
  app/client/src/layoutSystems/anvil/layoutComponents/components/section/index.tsx
  app/client/src/layoutSystems/anvil/utils/anvilChecksUtils.ts
  app/client/src/layoutSystems/anvil/utils/constants.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/mainCanvasLayoutUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/sectionUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/zoneUtils.ts
  app/client/src/layoutSystems/anvil/utils/paste/sectionPasteUtils.ts
  app/client/src/layoutSystems/anvil/utils/sectionOperationUtils.ts
  app/client/src/widgets/anvil/SectionWidget/index.tsx
  app/client/src/widgets/anvil/ZoneWidget/index.tsx
  app/client/src/widgets/anvil/constants.ts
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/Container.tsx
  app/client/src/widgets/wds/WDSModalWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSectionWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSSectionWidget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSSectionWidget/config/baseConfig.ts
  app/client/src/widgets/wds/WDSSectionWidget/config/defaultConfig.ts
  app/client/src/widgets/wds/WDSSectionWidget/config/index.ts
  app/client/src/widgets/wds/WDSSectionWidget/config/methodsConfig.ts
  app/client/src/widgets/wds/WDSSectionWidget/config/propertyPaneContent.ts
  app/client/src/widgets/wds/WDSSectionWidget/config/propertyPaneStyle.ts
  app/client/src/widgets/wds/WDSSectionWidget/index.tsx
  app/client/src/widgets/wds/WDSSectionWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSStatsWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSZoneWidget/index.tsx
  app/client/src/widgets/wds/WDSZoneWidget/widget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSZoneWidget/widget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSZoneWidget/widget/config/baseConfig.ts
  app/client/src/widgets/wds/WDSZoneWidget/widget/config/defaultConfig.ts
  app/client/src/widgets/wds/WDSZoneWidget/widget/config/index.ts
  app/client/src/widgets/wds/WDSZoneWidget/widget/config/methodsConfig.ts
  app/client/src/widgets/wds/WDSZoneWidget/widget/config/propertyPaneContent.ts
  app/client/src/widgets/wds/WDSZoneWidget/widget/config/propertyPaneStyle.ts
  app/client/src/widgets/wds/WDSZoneWidget/widget/index.tsx
  app/client/src/widgets/wds/constants.ts
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#35754 feat: Action redesign: updated Anthropic plugin config
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/editor/chat.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/editor/vision.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#35841 fix: Add mode property to forkApplicationSaga
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/reducers/entityReducers/pageListReducer.tsx
Labels: Bug, Critical, Production, Regressed, Needs Triaging, Fork App, Git Platform Pod, ok-to-test, Artifact Platform Product, Widgets & Accelerators Pod

#35838 feat: Update height of QUERY_DYNAMIC_TEXT to 200px fixed
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
Labels: Enhancement, IDE Product, IDE Pod, IDE Navigation, ok-to-test

#35817 fix: Ensure Select Column Displays Data When Options Are Not Set
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
Labels: Bug, Table Widget, Widgets Product, Critical, High, Production, Regressed, Needs Triaging, Table Widget V2, ok-to-test, Widgets & Accelerators Pod

#35826 fix: moved js filter to mongoDB
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#35858 fix: eslint plugin readme updated
  app/client/packages/eslint-plugin/README.md
Labels: Bug, ok-to-test

#35757 chore: adding eslint rules to warn new object and function props
  app/client/.eslintrc.base.json
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#35869 chore: JSONform - useRegisterFieldValidity remove unused dependency in useEffect
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.ts
Labels: Frontend, skip-changelog, JSON Form, Performance, ok-to-test

#35885 fix: Pencil icon appearing in application name
  app/client/packages/design-system/ads-old/src/EditableTextSubComponent/index.tsx
  app/client/src/pages/Editor/EditorName/EditableName.tsx
  app/client/src/pages/Editor/EditorName/index.tsx
Labels: Bug, Low, Release, Regressed, Needs Triaging, Platform Administration Pod, Workspace Product, ok-to-test

#35883 feat: Action redesign: Updating Mongo plugin form config
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/pages/Editor/ActionForm/Zone/styles.module.css
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/aggregate.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/count.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/distinct.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/find.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/insert.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/raw.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/update.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#35888 ci: sync release to pg branch
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog, CI, ok-to-test

#35893 ci: sync release changes to pg
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog, CI, ok-to-test

#35896 ci: Updated server logs in CI
  .github/workflows/ci-test-custom-script.yml
Labels: skip-changelog, CI

#35898 ci: update logic for handling the merge commits
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog, CI

#35897 ci: Enable Cypress run for master based branches
  .github/workflows/pr-automation.yml
Labels: skip-changelog, CI

#35902 ci: use git merge for syncing changes from release
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog, CI

#35905 ci: merge release to pg
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog, CI

#35884 chore: removed sanitise action functionality from actions span
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ActionSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#35886 test: common code change for Workflow tests
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, ok-to-test, Test

#35926 ci: Only command name update
  .github/workflows/ci-test-limited-with-count.yml
Labels: skip-changelog, CI, ok-to-test

#35060 feat: remove-clear-option-for-required-select-widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Childwigets/List_Select_Widgets_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select2_Spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/widgets/SelectWidget/component/SelectButton.test.tsx
  app/client/src/widgets/SelectWidget/component/SelectButton.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
Labels: Widgets & Accelerators Pod

#35927 fix: API multipart spec flakiness
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_MultiPart_Spec.ts
  app/client/cypress/support/Objects/DataManager.ts
  app/client/cypress/support/Pages/ApiPage.ts
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, cypress-flaky-fix, ok-to-test, Stability Pod

#35950 fix: mysql2 spec flakiness
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL2_Spec.ts
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, cypress-flaky-fix, ok-to-test, Stability Pod

#35861 test: fix flaky binary spec
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/Binary_Spec.ts
Labels: Task, skip-changelog, ok-to-test, Test

#35918 chore: adding telemetry for klona
  app/client/src/components/editorComponents/ActionCreator/viewComponents/Action/ActionTree.tsx
  app/client/src/components/formControls/utils.ts
  app/client/src/components/propertyControls/FieldConfigurationControl.tsx
  app/client/src/reducers/entityReducers/metaReducer/metaReducerUtils.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/sagas/helper.ts
  app/client/src/utils/helpers.tsx
  app/client/src/widgets/ButtonGroupWidget/widget/index.tsx
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/component/Field.tsx
  app/client/src/widgets/JSONFormWidget/component/Form.tsx
  app/client/src/widgets/JSONFormWidget/fields/ArrayField.tsx
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.ts
  app/client/src/widgets/JSONFormWidget/fields/useUpdateInternalMetaState.ts
  app/client/src/widgets/JSONFormWidget/schemaParser.ts
  app/client/src/widgets/JSONFormWidget/schemaTestData.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/helper.ts
  app/client/src/widgets/ListWidget/widget/index.tsx
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSHeadingWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/widget/index.tsx
Labels: skip-changelog, ok-to-test

#35640 Add a diagnostic script to assist in the debugging of issues with appsmith implementation
  deploy/docker/fs/opt/appsmith/diagnostics.sh
Labels: Enhancement

#35876 chore: complimentary pr for CD migration changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitArtifactMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ApplicationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/GitArtifactMetadataCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/domains/EqualityTest.java
Labels: skip-changelog, ok-to-test

#35413 feat: added the code to sort the collection in the proper order.
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceTriggerSolutionTest.java
Labels: Integrations Pod General, Community Contributor

#35449 feat: Added SSH Tunnel for Postgres
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/EmptyDataSource_spec.js
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/SSHConnection.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/exceptions/PostgresErrorMessages.java
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresDatasourceValidationTest.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
Labels: Integrations Pod General, Community Contributor

#35915 chore: optimise pages API in view mode
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
Labels: Backend, Task, skip-changelog, ok-to-test

#35945 test: updated tests for checkboxgroup
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckboxGroup2_spec.js
Labels: skip-changelog, ok-to-test, Test

#35989 chore: removed value from actionExecutionRequestParamsValueMap
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, Learnability, ok-to-test, Integrations Pod

#35911 chore: stability pr for changes
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
Labels: skip-changelog, ok-to-test

#35820 fix: Prevent Errors in Debugger When Deleting List Widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicClientSideData_spec.js
  app/client/src/sagas/WidgetDeletionSaga.test.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/test/factories/Widgets/ListV2Factory.ts
Labels: Bug, Widgets Product, High, Production, Needs Triaging, List Widget V2, ok-to-test, Widgets & Accelerators Pod

#35994 perf: JSONForm infinite re-rendering when field validation is set
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.test.tsx
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.ts
Labels: Widgets Product, Task, JSON Form, ok-to-test, Widgets & Accelerators Pod

#36014 fix: Action redesign/remove container query
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/components/formControls/FieldArrayControl.tsx
  app/client/src/pages/Editor/ActionForm/Section/styles.module.css
  app/client/src/pages/Editor/ActionForm/Zone/styles.module.css
Labels: Bug, Release, IDE Product, Needs Triaging, Task, Mongo, Query & JS Pod, IDE Pod, Medium, IDE Navigation, Integrations Product, ok-to-test

#36017 fix: Intercom setting anonymous user a common user id
  app/client/src/utils/bootIntercom.ts
Labels: Bug, ok-to-test

#35980 chore: Add admin email for installation complete event even if the user opt out of product updates
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Admin Settings Product, Task, skip-changelog, Platform Administration Pod, ok-to-test

#35986 test: fix inline editing spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Inline_editing_3_spec.js
Labels: skip-changelog, ok-to-test, Test

#35959 test: Fix mockdb flaky test case
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
Labels: skip-changelog, ok-to-test, Test
