Repository appsmithorg/appsmith, pull requests merged in 2024-02, with the labels that each got.

#30824 fix: Api bug test
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Bugs_Spec.js
Labels: Bug

#30758 chore: Fluent interface for queryAll method
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomJSLibRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPluginRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
Labels: skip-changelog

#30822 fix: skip blurring text input of widgets pane for Anvil cases
  app/client/cypress/support/Pages/AnvilLayout.ts
Labels: Bug, skip-testPlan

#30738 fix: allowing custom username is git url validation
  app/client/src/pages/Editor/gitSync/utils.test.ts
  app/client/src/pages/Editor/gitSync/utils.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: Bug, Git Version Control, Git Pod

#30795 chore: add key value widget
  app/client/packages/design-system/headless/src/components/Field/src/Field.tsx
  app/client/packages/design-system/headless/src/components/TextInput/src/TextInput.tsx
  app/client/packages/design-system/widgets/src/styles/src/field.module.css
  app/client/src/utils/hooks/useFeatureFlag.ts
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/WDSKeyValueWidget/icon.svg
  app/client/src/widgets/wds/WDSKeyValueWidget/index.ts
  app/client/src/widgets/wds/WDSKeyValueWidget/widget/index.tsx
  app/client/src/widgets/wds/constants.ts
Labels: skip-changelog, Widget design system, WDS team

#30802 fix: minor changes for ee cd requirements
  app/client/src/ce/sagas/GitExtendedSagas.ts
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
Labels: Bug, Git Version Control, skip-testPlan, Git Pod

#30735 test: Cypress | Helpers improved + Flaky fixes
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_Existing_app_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Migration_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/Workspace/MemberRoles_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Workspace/ShareAppTests_Spec.ts
  app/client/cypress/locators/TemplatesLocators.json
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/cypress/support/Pages/AdminSettings.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/WorkspaceCommands.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/gitSync.js
Labels: skip-changelog, Test

#30744 chore: Add new WDS statbox
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/widgets/src/components/ActionGroup/src/types.ts
  app/client/packages/design-system/widgets/src/components/ActionGroup/stories/ActionGroup.stories.mdx
  app/client/packages/design-system/widgets/src/components/Button/src/types.ts
  app/client/packages/design-system/widgets/src/components/Button/stories/Button.stories.mdx
  app/client/packages/design-system/widgets/src/components/Flex/src/flexCss.ts
  app/client/packages/design-system/widgets/src/components/Flex/src/types.ts
  app/client/packages/design-system/widgets/src/components/Icon/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Icon/src/types.ts
  app/client/packages/design-system/widgets/src/components/Modal/src/types.ts
  app/client/packages/design-system/widgets/src/components/TextInput/src/TextInput.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/stories/TextInput.stories.mdx
  app/client/packages/design-system/widgets/src/shared/sizes/index.ts
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/component/index.tsx
  app/client/src/widgets/wds/WDSStatBoxWidget/component/styles.module.css
  app/client/src/widgets/wds/WDSStatBoxWidget/component/types.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/index.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/propertyPaneConfig/index.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/settersConfig.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/icon.svg
  app/client/src/widgets/wds/WDSStatBoxWidget/index.tsx
  app/client/src/widgets/wds/WDSStatBoxWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSStatBoxWidget/widget/types.ts
  app/client/src/widgets/wds/constants.ts
Labels: skip-changelog, Widget design system, WDS team

#30804 chore: Use Spring projection for workspace user pics
  app/server/appsmith-server/src/main/java/com/appsmith/server/projections/UserDataProfilePhotoProjection.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/UserDataRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserWorkspaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomUserDataRepositoryTest.java
Labels: skip-changelog

#30850 chore: Show commit SHA instead of SNAPSHOT version
  .github/workflows/github-release.yml
  app/client/jest.config.js
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/pages/common/SearchBar/HomepageHeaderAction.tsx
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog

#30853 ci: Print failed tests to Action Summary
  .github/workflows/server-build.yml
Labels: skip-changelog, CI

#30834 chore: Refactor JS and Query List context switching
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
  app/client/src/ce/navigation/FocusSelectors.ts
  app/client/src/ce/navigation/FocusSetters.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/utils.ts
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/JS/utils.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/IDESaga.tsx
  app/client/src/selectors/jsPaneSelectors.ts
  app/client/src/selectors/queryPaneSelectors.ts
Labels: skip-changelog, New Developers Pod, IDE Navigation

#30624 fix: restrict the module query being shown in Inputs autocomplete area
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/propertyControls/InputTextControl.tsx
  app/client/src/ee/entities/DataTree/types.ts
  app/client/src/utils/autocomplete/AutocompleteSortRules.ts
Labels: Bug

#30849 fix: schema plus button for a table is visible after template menu is opened
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug30219_Spect.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
Labels: Bug, MySQL, Query Forms, BE Coders Pod, Postgres, Integrations Pod, Activation - datasources

#30840 test: Cypress | Added Dynamic checks for Flaky fix + Cypress upgrade
  app/client/cypress/e2e/Regression/ClientSide/EmbedSettings/EmbedSettings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/GitImport_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_To_App_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_To_App_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
  app/client/cypress/support/Pages/AssertHelper.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test

#30867 fix: Can't switch back to System Default
  app/client/src/pages/Editor/WDSThemePropertyPane/index.tsx
Labels: Bug, Widget design system, WDS team

#30871 test: Cypress | Skip bug test from MultiSelect5_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect5_spec.ts
Labels: skip-changelog, Test

#30818 test: Fixing flaky specs
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplication_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/FirstTimeUserOnboarding_spec.js
Labels: skip-changelog, Test

#30870 fix: Segment default selection failing on git
  app/client/src/selectors/jsPaneSelectors.ts
  app/client/src/selectors/queryPaneSelectors.ts
Labels: Bug

#30550 feat: Variable width for property pane size and side by side editor
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation

#30652 fix: Navigating to page, navigate to last used segment instead of canvas
  app/client/cypress/e2e/Regression/Apps/EchoApiCMS_spec.js
  app/client/cypress/e2e/Regression/Apps/PromisesApp_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Hide_Page_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/GitImport_spec.js
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/SetOptions_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters2_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MySQLNoiseTest_spec.js
  app/client/cypress/support/ApiCommands.js
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/PagesSection.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/PageElement.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
Labels: Bug, New Developers Pod, IDE Navigation

#30878 fix: Multiple cypress test failures occurred due to PR 30849 merge
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
Labels: Bug

#30846 chore: Fluent API for `queryOne` and `queryFirst`
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationSnapshotRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomConfigRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomJSLibRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPluginRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
Labels: skip-changelog

#30883 chore: Use standard spring-data query method
  app/server/appsmith-server/src/main/java/com/appsmith/server/projections/IdOnly.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/ApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomApplicationRepositoryImplTest.java
Labels: skip-changelog

#30875 test: Cypress | Flaky fix /Workspace/ShareAppTests_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Workspace/ShareAppTests_Spec.ts
Labels: skip-changelog, Test

#30803 feat: [Custom widget] Make builder editor section resizeable
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Layouts/SplitLayout/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Layouts/SplitLayout/styles.module.css
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/styles.module.css
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/styles.module.css
  app/client/src/pages/Editor/CustomWidgetBuilder/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/styles.module.css
  app/client/src/pages/Editor/CustomWidgetBuilder/useCustomBuilder.tsx
Labels: Enhancement, App Viewers Pod, custom widgets

#30644 chore: Add all the changes as part of the auto commit
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/ce/FileUtilsCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ModifiedResources.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ApplicationGitReferenceCE.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/dtos/ModifiedResourcesTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/exports/ActionCollectionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/exports/ApplicationExportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ApplicationJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ImportExportUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/exports/CustomJSLibExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/exports/NewActionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/exports/NewPageExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/exports/internal/ExportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ImportExportUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
Labels: Git Version Control, skip-changelog, Git Pod

#30725 feat: Add knowledge retrieval in Appsmith AI
  app/client/src/api/PluginApi.ts
  app/client/src/ce/constants/ApiConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/MultiFilePickerControl.tsx
  app/client/src/components/formControls/utils.ts
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
  app/client/src/pages/Editor/IntegrationEditor/AIDataSources.tsx
  app/client/src/pages/Editor/QueryEditor/DatasourceSelector.tsx
  app/client/src/utils/editorContextUtils.ts
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ExecuteActionDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/TriggerRequestDTO.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/AppsmithAiPlugin.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/constants/AppsmithAiConstants.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/dtos/AssociateDTO.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/dtos/FileMetadataDTO.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/dtos/FileStatusDTO.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/dtos/Query.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/dtos/ResponseDTO.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/dtos/SourceDetails.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/AiServerService.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/AiServerServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/features/TextGenerationServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/utils/FileUtils.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/utils/HeadersUtil.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/utils/RequestUtils.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/editor/textGeneration.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/test/java/com/external/plugins/services/HeadersUtilTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/PluginControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration045AddDefaultAppsmithAiDatasourceForOrphanActions.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginTriggerSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginTriggerSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ActionExecutionSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/DatasourceTriggerSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: Enhancement

#30892 test: Cypress | Flaky fixes
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/IconButton_2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/StatboxDsl_spec.js
Labels: skip-changelog, Test

#30780 fix: Anvil Widgets not accessible when widget has no content.
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilAppNavigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilDnD_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AnvilLayout.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorWidgetOnion.tsx
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetClick.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetDrag.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetHover.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetStyles.ts
  app/client/src/layoutSystems/anvil/utils/types.ts
  app/client/src/layoutSystems/withLayoutSystemWidgetHOC.test.tsx
  app/client/src/sagas/ModalSagas.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Bug, Modal Widget, App Viewers Pod, Needs Triaging, Medium

#30886 chore: Move action redesign into its on flag
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/ActionToolbar.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: skip-changelog, New Developers Pod, IDE Navigation

#30805 fix: fix modal position and styles
  app/client/packages/design-system/headless/src/components/Popover/src/types.ts
  app/client/packages/design-system/headless/src/components/Popover/src/usePopover.ts
  app/client/packages/design-system/widgets/src/components/Modal/src/ModalFooter.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/ModalHeader.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Modal/src/types.ts
  app/client/src/components/editorComponents/ErrorBoundry.tsx
  app/client/src/layoutSystems/anvil/canvas/styles.css
  app/client/src/layoutSystems/anvil/common/widgetComponent/AnvilWidgetComponent.tsx
  app/client/src/layoutSystems/anvil/utils/AnvilDSLTransformer.ts
  app/client/src/layoutSystems/anvil/utils/layouts/renderUtils.tsx
  app/client/src/layoutSystems/common/mainContainerResizer/MainContainerResizer.tsx
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/WidgetsEditor/MainContainerWrapper.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/widgets/wds/WDSModalWidget/widget/index.tsx
Labels: Bug, Widget design system, WDS team

#30898 chore: Fluent API for `count()`
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: skip-changelog

#30888 ci: Add server failed tests as PR comment
  .github/workflows/server-build.yml
  app/server/appsmith-server/src/test/java/com/appsmith/server/TestResultLoggerExtension.java
Labels: skip-changelog, CI

#30938 fix: Updated auto-commit message to be <72 characters
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AutoCommitEventHandlerCEImpl.java
Labels: Bug

#30923 chore: Make App Sidebar Generally Available
  app/client/src/actions/appSettingsPaneActions.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.ts
  app/client/src/ce/pages/Editor/routes.tsx
  app/client/src/components/editorComponents/EntityExplorerSidebar.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/navigation/featureFlagHooks.ts
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
  app/client/src/pages/Editor/AppSettingsPane/PaneHeader.tsx
  app/client/src/pages/Editor/AppSettingsPane/index.tsx
  app/client/src/pages/Editor/CanvasPropertyPane/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/EditorName/NavigationMenuData.ts
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
  app/client/src/pages/Editor/IDE/Sidebar/SidebarComponent.tsx
  app/client/src/pages/Editor/IDE/Sidebar/index.tsx
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/WidgetsEditor/NavigationPreview.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/selectors/appSettingsPaneSelectors.tsx
  app/client/src/selectors/ideSelectors.tsx
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: IDE, skip-changelog, New Developers Pod, IDE Navigation

#30879 chore: Remove CA bundle env variable for certbot
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog

#30942 chore: Handle Editor Pane Segments with an additional flag
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/selectors/featureFlagsSelectors.ts
  app/client/src/pages/Editor/APIEditor/CurlImportEditor.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/JSEditor/index.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/pages/Editor/WidgetCard.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
Labels: skip-changelog, New Developers Pod, IDE Navigation

#30937 test: better size assertions in tests
  app/server/appsmith-server/src/test/java/com/appsmith/server/exports/internal/ExportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/GitExecutorTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/FeatureFlagMigrationHelperTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/TextUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomUserDataRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationSnapshotServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/DatasourceStructureSolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialExportServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialImportServiceTest.java
Labels: skip-changelog, Test

#30889 fix: Entity props show evaluated value
  app/client/src/ce/pages/Editor/Explorer/Entity/getEntityProperties.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.test.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/components/editorComponents/HighlightedCode/index.tsx
  app/client/src/ee/pages/Editor/Explorer/Entity/getEntityProperties.ts
  app/client/src/pages/Editor/Explorer/Entity/EntityProperties.tsx
  app/client/src/pages/Editor/Explorer/Entity/EntityProperty.tsx
Labels: Bug, Needs Triaging, BE Coders Pod, Integrations Pod, Integrations Pod General

#30924 fix: Airgap instance issues
  app/client/src/ce/utils/index.ts
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
Labels: Bug, Datasources, Home Page, High, Needs Triaging, Team Managers Pod, Data Platform Pod, Airgap

#30958 chore: remove BaseDomain on WorkspacePlugin
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/WorkspacePlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
Labels: skip-changelog

#30459 feat: [Custom widget] Enable dynamic height and auto layout.
  app/client/src/WidgetProvider/factory/helpers.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/constants.ts
  app/client/src/utils/WidgetFeatures.ts
  app/client/src/widgets/CustomWidget/component/customWidgetscript.js
  app/client/src/widgets/CustomWidget/component/index.tsx
  app/client/src/widgets/CustomWidget/widget/defaultApp.ts
  app/client/src/widgets/CustomWidget/widget/index.tsx
Labels: Enhancement, App Viewers Pod, custom widgets

#30848 fix: Module Debugger error CE change and setter type fix
  app/client/src/ce/utils/actionExecutionUtils.ts
  app/client/src/ce/utils/getEntityPayloadInfo.ts
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/widgets/TableWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/widget/index.tsx
  app/client/src/workers/common/JSLibrary/ternDefinitionGenerator.ts
Labels: Bug, Needs Triaging, Integrations Pod, Integrations Pod General

#30866 feat: expires in field added in oauth2 api datasource
  app/client/src/entities/Datasource/RestAPIForm.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/connections/OAuth2AuthorizationCode.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/OAuth2Utils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/OAuth2.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/restApiUtils/helpers/OAuth2UtilsTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: Enhancement, Task, REST API plugin, Integrations Pod

#30877 chore: get rid of fluid tokens
  app/client/packages/design-system/headless/src/components/Popover/src/PopoverModalContent.tsx
  app/client/packages/design-system/theming/package.json
  app/client/packages/design-system/theming/src/hooks/src/calculateScales.ts
  app/client/packages/design-system/theming/src/hooks/src/index.ts
  app/client/packages/design-system/theming/src/hooks/src/types.ts
  app/client/packages/design-system/theming/src/hooks/src/useCssTokens.tsx
  app/client/packages/design-system/theming/src/hooks/src/useFluidSizing.tsx
  app/client/packages/design-system/theming/src/hooks/src/useFluidSpacing.tsx
  app/client/packages/design-system/theming/src/hooks/src/useFluidTypography.tsx
  app/client/packages/design-system/theming/src/hooks/src/useSizing.tsx
  app/client/packages/design-system/theming/src/hooks/src/useSpacing.tsx
  app/client/packages/design-system/theming/src/hooks/src/useTheme.tsx
  app/client/packages/design-system/theming/src/hooks/src/useTypography.tsx
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/theming/src/token/src/index.ts
  app/client/packages/design-system/theming/src/token/src/styles.module.css
  app/client/packages/design-system/theming/src/token/src/themeTokens.json
  app/client/packages/design-system/theming/src/token/src/tokensConfigs.json
  app/client/packages/design-system/theming/src/utils/cssRule.ts
  app/client/packages/design-system/theming/src/utils/tokensToCss.ts
  app/client/packages/design-system/widgets/src/components/Modal/src/styles.module.css
  app/client/packages/storybook/.storybook/addons/theming/ThemingTool.tsx
  app/client/packages/storybook/.storybook/main.ts
  app/client/packages/storybook/.storybook/manager-head.html
  app/client/packages/storybook/.storybook/preview-head.html
  app/client/packages/storybook/.storybook/preview.tsx
  app/client/packages/storybook/.storybook/styles.css
  app/client/packages/storybook/package.json
  app/client/src/pages/Editor/IDE/AppsmithIDE.test.tsx
  app/client/yarn.lock
Labels: skip-changelog

#30906 chore: Show schema as a tab instead of the right pane
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Walkthrough/BindingSchemaWidget_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ActionExecutionInProgressView.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/Debugger/Schema.tsx
  app/client/src/components/editorComponents/Debugger/helpers.tsx
  app/client/src/components/editorComponents/EntityBottomTabs.tsx
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/DatasourceInfo/DatasourceEntity.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceField.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceStructure.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceStructureContainer.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceViewModeSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/QueryTemplates.tsx
  app/client/src/pages/Editor/DatasourceInfo/RenderInterimDataState.tsx
  app/client/src/pages/Editor/DatasourceInfo/SchemaViewModeCSS.tsx
  app/client/src/pages/Editor/Explorer/Datasources/DataSourceContextMenu.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/ActionDrawer.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.tsx
Labels: skip-changelog, New Developers Pod, IDE Navigation

#30994 test: Fix flakiness in fork app test
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplication_spec.ts
Labels: skip-changelog, Test

#30997 fix: Split changes for git support in apps with mi bugs
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/imports/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ActionCollectionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitFileUtilsCE.java
Labels: Bug

#30995 fix: Fixing Anvil Section DnD Test cases.
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilAppNavigation_spec.ts
  app/client/cypress/support/Pages/AnvilLayout.ts
Labels: Bug

#30837 chore: Initiate execution of google.api script at editor level
  app/client/public/index.html
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/loadGoogleApi.ts
Labels: Performance Pod, skip-changelog, Performance

#30445 test: Cypress | Text_With_Different_Size_spec.ts re-write + Flaky fixes
  app/client/cypress/e2e/Regression/ClientSide/BugTests/AbortAction_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/Text_With_Different_Size_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/StartFromData_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/StartFromScratch_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialExport_Widgets_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialExport_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_To_App_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_spec.js
  app/client/cypress/e2e/Regression/ServerSide/LoginTests/LoginFailure_spec.js
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/AssertHelper.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, Stale, Test

#31003 chore: WDS elevation adjustments
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/widgets/src/testing/Elevation.tsx
Labels: skip-changelog, skip-testPlan, Widget design system, WDS team

#31001 chore: Fluent API for strict permission query
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
Labels: skip-changelog

#30975 fix: Remove stale values in Query form on view change
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/components/formControls/MultiFilePickerControl.tsx
  app/client/src/sagas/QueryPaneSagas.ts
Labels: Bug

#30909 feat: starter building blocks for all users
  app/client/cypress/e2e/Regression/ClientSide/Templates/BuildingBlocks/StarterBuildingBlocksOnCanvas_spec.ts
  app/client/src/ce/utils/signupHelpers.ts
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/utils/storage.ts
Labels: Enhancement, Templates pod, Templates

#30962 chore: remove git release feature flags
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/GitImport_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/ImportEmptyRepo_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Connection_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/Deploy_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/DisconnectGit_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBranchProtect_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBugs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitConnectV2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitStatusLite_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/LearnMore_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/PreConnect_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/RegenerateSSHKey_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/gitSync.js
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Editor/gitSync/DisconnectGitModal.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabGeneral/DangerZone.tsx
  app/client/src/pages/Editor/gitSync/GitSyncModal/index.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
  app/client/src/pages/Editor/gitSync/components/ReconnectSSHError.tsx
  app/client/src/pages/Editor/gitSync/components/StatusLoader.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Task, skip-changelog

#31012 test: Fix user used for test
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: skip-changelog, Test

#31006 feat: Queries and JS tabs redesign
  app/client/package.json
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/Container.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/JSTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/QueryTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/yarn.lock
Labels: Enhancement, New Developers Pod, IDE Navigation

#30819 chore: Start Consumption for import and export
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/exports/ApplicationExportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ApplicationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/imports/DatasourceImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportableServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ContextBasedImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/imports/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationSnapshotServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationTemplateServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/GitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/exports/internal/ExportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: Task, skip-changelog, Import-Export-App, Git Pod

#31009 chore: remove BaseDomain on WorkspacePlugin (take 2)
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/WorkspacePlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration046DeleteArchivedPlugins.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
Labels: skip-changelog

#31011 test: Cypress | Downgrade Cypress to 13.5.1
  app/client/cypress/support/Pages/AssertHelper.ts
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, Test

#31017 chore: Split changes for interface difference in generalizing exportable flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/exports/ActionCollectionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/exports/ApplicationExportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/exports/DatasourceExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitArtifactMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ExportingMetaDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ApplicationJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ArtifactExchangeJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/exportable/ExportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/exportable/ExportableServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ContextBasedExportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitPrivateRepoHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitPrivateRepoHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/exports/CustomJSLibExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/exports/NewActionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/exports/NewPageExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/exports/PluginExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/exports/ThemeExportableServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/exports/internal/ExportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/GitAutoCommitHelperImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/GitPrivateRepoCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/searchentities/SearchEntitySolutionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationSnapshotServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationTemplateServicePublishTemplateTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationFetcherUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialExportServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialImportServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: skip-changelog

#30659 CI: Trigger auto-analysis for cypress runs
  .github/workflows/test-build-docker-image.yml
Labels: Stale

#31024 chore: Tabs overflow list
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/JSTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/ListButton.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/QueryTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/constants.ts
Labels: skip-changelog, New Developers Pod, IDE Navigation

#30887 fix: autocommit ui issues
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/index.test.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/index.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/sagas/GitSyncSagas.ts
Labels: Bug, High, Release, Needs Triaging, Git Version Control, Git Pod, PR blocker, Git Auto-commit

#31046 chore: Moved datasource exportable to appropriate package
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/exportable/DatasourceExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/exportable/DatasourceExportableServiceImpl.java
Labels: skip-changelog

#31018 chore: use common function for building query
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
Labels: skip-changelog

#30951 fix: broken line in page settings
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/AppPageLayout_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/DatasourcePageLayout_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorComment_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorSaveAndAutoIndent_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/WidgetsLayout_spec.js
  app/client/cypress/snapshots/AppPageLayout_spec.js/EmptyApp.snap.png
  app/client/cypress/snapshots/AppPageLayout_spec.js/Profile.snap.png
  app/client/cypress/snapshots/AppPageLayout_spec.js/apppage.snap.png
  app/client/cypress/snapshots/AppPageLayout_spec.js/emptyAppBuilder.snap.png
  app/client/cypress/snapshots/AppPageLayout_spec.js/loginpage.snap.png
  app/client/cypress/snapshots/AppPageLayout_spec.js/quickPageWizard.snap.png
  app/client/cypress/snapshots/DatasourcePageLayout_spec.js/emptydatasourcepage.snap.png
  app/client/cypress/snapshots/WidgetsLayout_spec.js/inlineDisabled.snap.png
  app/client/cypress/snapshots/WidgetsLayout_spec.js/inlineEnabled.snap.png
  app/client/cypress/tags.js
  app/client/src/ce/constants/messages.ts
Labels: Bug, Needs Triaging, New Developers Pod, IDE Navigation, App setting

#30910 chore: Create toolbar widget
  app/client/packages/design-system/headless/src/components/Menu/src/MenuList.tsx
  app/client/packages/design-system/widgets/src/components/ActionGroup/src/ActionGroup.tsx
  app/client/packages/design-system/widgets/src/components/ActionGroup/src/useActionGroup.ts
  app/client/packages/design-system/widgets/src/components/ActionGroup/stories/ActionGroup.stories.mdx
  app/client/packages/design-system/widgets/src/components/Menu/src/Item.tsx
  app/client/src/ce/selectors/featureFlagsSelectors.ts
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/components/propertyControls/DraggableListCard.tsx
  app/client/src/widgets/wds/WDSButtonGroupWidget/component/index.tsx
  app/client/src/widgets/wds/WDSButtonGroupWidget/component/types.ts
  app/client/src/widgets/wds/WDSButtonGroupWidget/config/propertyPaneConfig/contentConfig.ts
Labels: potential-duplicate, skip-changelog, Widget design system, WDS team

#31037 chore: Remove `InsertManyResult` and `BulkWriteResult`
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceUnitTest.java
Labels: skip-changelog

#30990 feat: [Custom widget] JS editor error highlight on the builder
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/CodeEditors/JSEditor.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/useCustomBuilder.tsx
  app/client/src/widgets/CustomWidget/component/appsmithConsole.js
Labels: Enhancement, App Viewers Pod, custom widgets

#31042 feat: [custom widget] support SCSS syntax
  app/client/craco.common.config.js
  app/client/package.json
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/CodeEditors/StyleEditor.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/CodeEditors/styles.module.css
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Layouts/TabsLayout/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/utility.test.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/utility.ts
  app/client/src/widgets/CustomWidget/widget/defaultApp.ts
  app/client/yarn.lock
Labels: Enhancement, App Viewers Pod, custom widgets

#31062 fix: Entity Explorer Test
  app/client/src/pages/Editor/Explorer/EntityExplorer.test.tsx
Labels: Bug

#31029 test: Cypress | Replacing external user api with TED mock api in OnLoadActions_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test

#31028 fix: add testing library eslint rules
  app/client/.eslintrc.base.json
  app/client/.eslintrc.js
  app/client/package.json
  app/client/packages/design-system/widgets-old/src/Dropdown/index.tsx
  app/client/packages/design-system/widgets/src/components/Button/tests/Button.test.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/tests/Checkbox.test.tsx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/tests/CheckboxGroup.test.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/tests/RadioGroup.test.tsx
  app/client/packages/design-system/widgets/src/components/Text/tests/Text.test.tsx
  app/client/packages/dsl/.eslintrc.json
  app/client/packages/rts/.eslintrc.json
  app/client/src/components/editorComponents/AutoResizeTextArea.test.tsx
  app/client/src/components/editorComponents/CodeEditor/CodeEditor.test.tsx
  app/client/src/components/editorComponents/CodeEditor/index.test.tsx
  app/client/src/components/editorComponents/EditorContextProvider.test.tsx
  app/client/src/components/formControls/DynamicInputTextControl.test.tsx
  app/client/src/components/propertyControls/ColorPickerComponentV2.test.tsx
  app/client/src/components/propertyControls/IconSelectControl.test.tsx
  app/client/src/layoutSystems/common/dropTarget/DragLayerComponent.test.tsx
  app/client/src/pages/AdminSettings/FormGroup/Accordion.test.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.test.tsx
  app/client/src/pages/Editor/Explorer/Libraries/__tests__/Installer.test.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/MainContainerWidthToggles.test.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/index.test.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.test.tsx
  app/client/src/pages/Editor/gitSync/Tabs/__tests__/ConnectionSuccess.test.tsx
  app/client/src/pages/Editor/gitSync/components/BetaTag.test.tsx
  app/client/src/pages/Editor/gitSync/components/ConflictInfo.test.tsx
  app/client/src/pages/Editor/gitSync/components/DefaultTag.test.tsx
  app/client/src/pages/Editor/gitSync/components/RemoteBranchList.test.tsx
  app/client/src/pages/setup/SetupForm.test.tsx
  app/client/src/widgets/ChartWidget/component/index.test.tsx
  app/client/src/widgets/DividerWidget/widget/index.test.tsx
  app/client/src/widgets/TabsWidget/widget/index.test.tsx
  app/client/yarn.lock
Labels: Bug

#30957 chore: link Micrometer traces and metrics with NewRelic
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ActionSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ConsolidatedApiSpanNames.java
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/ServerApplication.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MicrometerTraceHeaderWebFilter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ZipkinMicrometerTraceConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ConsolidatedAPIController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/OtlpTelemetry.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
Labels: Backend, Performance Pod, Task, skip-changelog, Performance

#31049 chore: Don't expect .save() to return given object
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceCEImpl.java
Labels: skip-changelog

#31047 chore: Removed dependency of evaluatedValues from Widgets and formEvaluationSaga
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/selectors/propertyPaneSelectors.tsx
Labels: Performance Pod, skip-changelog, Performance

#31078 fix: [Custom widget] update default dynamic height value
  app/client/packages/dsl/src/migrate/index.ts
  app/client/packages/dsl/src/migrate/migrations/088-migrate-custom-widget-dynamic-height.ts
  app/client/packages/dsl/src/migrate/tests/CustomWidget.test.ts
  app/client/packages/dsl/src/migrate/tests/DSLMigration.test.ts
Labels: Bug, App Viewers Pod, Release, Needs Triaging, custom widgets, DailyPromotionBlocker

#31075 fix: button group spec
  app/client/cypress/locators/WidgetLocators.ts
Labels: Bug

#31058 fix: Add back canvas resize
  app/client/src/utils/hooks/useDynamicAppLayout.tsx
Labels: Bug, New Developers Pod, IDE Navigation

#30946 feat: Add "Start with template" option and refactor template components
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/Applications/CreateNewAppFromTemplateModal/CreateNewAppFromTemplatesWrapper.tsx
  app/client/src/ce/pages/Applications/CreateNewAppFromTemplateModal/index.tsx
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/ce/pages/Applications/StartWithTemplatesWrapper.tsx
  app/client/src/ce/pages/Applications/WorkspaceAction.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/pages/Templates/BuildingBlock/BuildingBlock.test.tsx
  app/client/src/pages/Templates/BuildingBlock/index.tsx
  app/client/src/pages/Templates/Template/index.tsx
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/pages/Templates/TemplateViewHeader.tsx
  app/client/src/pages/Templates/TemplatesLayoutWithFilters.tsx
  app/client/src/pages/Templates/TemplatesModal/Components/TemplateDetailedViewHeader.tsx
  app/client/src/pages/Templates/TemplatesModal/Header.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplateDetailedView.tsx
  app/client/src/pages/Templates/TemplatesModal/TemplatesListLayoutSwitcher.tsx
  app/client/src/pages/Templates/TemplatesModal/index.tsx
Labels: Enhancement, Templates pod, Templates

#31008 chore: show suggested widgets in response
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Search_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/AddWidget_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_2_spec.ts
  app/client/cypress/locators/ApiEditor.js
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ActionRightPane/SuggestedWidgets.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/EntityBottomTabs.tsx
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/QueryEditor/BindDataButton.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.tsx
Labels: skip-changelog, New Developers Pod, IDE Navigation

#31084 chore: deleted import and export Application file
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportApplicationServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ImportApplicationServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
Labels: skip-changelog

#30927 feat: Anvil dnd enhancement of highlight info and highlight skipping.
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/mainCanvas/useCanvasActivationStates.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useCanvasDragging.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/utils.test.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/utils.ts
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/utils/anvilTypes.ts
  app/client/src/layoutSystems/anvil/utils/constants.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedColumnHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedRowHighlights.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/columnHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/horizontalHighlights.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/rowHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/rowHighlights.ts
  app/client/src/reducers/uiReducers/dragResizeReducer.ts
Labels: Enhancement

#31007 fix: disabled feature walkthroughs behind a flag
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/featureWalkthrough/index.tsx
  app/client/src/components/featureWalkthrough/walkthroughContext.tsx
Labels: Bug, Release, Needs Triaging, BE Coders Pod, Integrations Pod, Activation - datasources

#31097 chore: Removed sending redundant mode parameter in consolidated api
  app/client/src/sagas/InitSagas.ts
Labels: Performance Pod, skip-changelog, Performance

#31068 chore: added new test cases for different plugins
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/StartFromData_spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: Task, skip-changelog, Integrations Pod, Activation - datasources

#31086 chore: import export refactor for modules
  app/client/src/ce/hooks/importModal/useMessages.ts
  app/client/src/ce/hooks/importModal/useMethods.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/Editor/IDE/MainPane/useMissingModuleNotification.tsx
  app/client/src/ee/hooks/importModal/useMessages.ts
  app/client/src/ee/hooks/importModal/useMethods.ts
  app/client/src/ee/pages/Editor/IDE/MainPane/useMissingModuleNotification.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/ImportAppSettings.tsx
  app/client/src/pages/Editor/IDE/LeftPane/AppSettings.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
  app/client/src/pages/Editor/commons/EditorSettingsPaneContainer.tsx
  app/client/src/pages/common/ImportModal.tsx
Labels: skip-changelog

#31098 fix: UI fixes pages section
  app/client/src/components/editorComponents/GlobalSearch/HelpBar.tsx
  app/client/src/pages/Editor/Explorer/Entity/AddButton.tsx
  app/client/src/pages/Editor/Explorer/Pages/AddPageContextMenu.tsx
  app/client/src/pages/Editor/IDE/EditorPane/PagesSection.tsx
  app/client/src/pages/Editor/IDE/Header/EditorTitle.tsx
  app/client/src/pages/Editor/IDE/Header/index.tsx
  app/client/src/pages/Editor/IDE/LeftPane/PaneHeader.tsx
Labels: Bug, Release, New Developers Pod, IDE Navigation

#31080 chore: Import debugger fixes
  app/client/src/actions/debuggerActions.ts
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/components/editorComponents/Debugger/entityTypeLinkMap.tsx
  app/client/src/ce/entities/AppsmithConsole/utils.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/CodeEditor/codeEditorUtils.ts
  app/client/src/components/editorComponents/Debugger/ActionLink.tsx
  app/client/src/components/editorComponents/Debugger/DebuggerEntityLink.tsx
  app/client/src/components/editorComponents/Debugger/EntityDependecies.tsx
  app/client/src/components/editorComponents/Debugger/JSCollectionLink.tsx
  app/client/src/components/editorComponents/Debugger/WidgetLink.tsx
  app/client/src/components/editorComponents/Debugger/hooks/debuggerHooks.ts
  app/client/src/components/editorComponents/Debugger/hooks/useGetEntityInfo.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/ee/entities/AppsmithConsole/utils.ts
  app/client/src/entities/AppsmithConsole/index.ts
  app/client/src/entities/AppsmithConsole/logtype.ts
  app/client/src/entities/Replay/ReplayEntity/ReplayCanvas.ts
  app/client/src/entities/Replay/ReplayEntity/ReplayEditor.ts
  app/client/src/entities/Replay/index.ts
  app/client/src/layoutSystems/anvil/utils/widgetAdditionUtils.ts
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/pages/Editor/EntityNavigation/factory.ts
  app/client/src/pages/Editor/EntityNavigation/types.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneConnections.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/sagas/AppThemingSaga.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/sagas/OneClickBindingSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/sagas/PostLintingSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/sagas/ReplaySaga.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/sagas/helper.ts
  app/client/src/selectors/debuggerSelectors.test.ts
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/MetaHOC.tsx
  app/client/src/workers/Evaluation/fns/overrides/console.ts
Labels: skip-changelog

#30934 chore: refactor curl import API to support context type
  app/client/src/api/ImportApi.ts
  app/client/src/pages/Editor/APIEditor/CurlImportEditor.tsx
  app/client/src/pages/Editor/APIEditor/helpers.ts
  app/client/src/sagas/CurlImportSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/RestApiImportControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApiImporterCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/BaseApiImporterCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
Labels: skip-changelog, Workflows

#31115 fix: Datasource null check in QueryDebugger
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
Labels: Bug

#31111 chore: added split for permission provider
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/imports/DatasourceImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ImportingMetaDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ImportArtifactPermissionProvider.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ImportArtifactPermissionProviderCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ContextBasedImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/imports/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/imports/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ContextPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ContextPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PagePermissionCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ce/ImportArtifactPermissionProviderTest.java
Labels: skip-changelog

#31104 chore: Fluent API for update methods
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
Labels: skip-changelog

#31125 fix: Anvil toggleable widgets not working when native callbacks are used for AnvilFlexComponent
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilWidgetClicking_spec.ts
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/WDSWidgets.ts
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetClick.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetStyles.ts
  app/client/src/layoutSystems/anvil/utils/types.ts
Labels: Bug

#31133 fix: added escaping logic for html reserved characters
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/MustacheHelper.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/MustacheHelperTest.java
Labels: Bug, Needs Triaging, Integrations Pod, Integrations Pod General

#31126 fix: Debugger shows up with no tab selected
  app/client/src/components/editorComponents/Debugger/DebuggerTabs.tsx
  app/client/src/pages/Editor/DataSourceEditor/Debugger.tsx
Labels: Bug, Critical, Production, Needs Triaging, Query Forms, BE Coders Pod, New Developers Pod, IDE Navigation, Integrations Pod

#31120 test: Fix Graphql test for Datasource list check
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, New Developers Pod, IDE Navigation, Test

#31143 chore: Removing Paragraph from suggested widget and add Button to suggested widgets
  app/client/src/widgets/wds/WDSButtonWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSHeadingWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSParagraphWidget/config/metaConfig.ts
Labels: skip-changelog, Widget design system, WDS team

#31053 fix: clipping issue for excessive hug widgets in an alignment
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/integrations/layoutSelectors.ts
  app/client/src/layoutSystems/anvil/layoutComponents/components/alignedWidgetRow/AlignedWidgetRowComp.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/alignedWidgetRow/index.tsx
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedRowHighlights.test.ts
  app/client/src/layoutSystems/anvil/utils/layouts/layoutUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/renderUtils.tsx
Labels: Bug, skip-testPlan, skip-documentation, Anvil layout

#31155 fix: Request referer shouldn't influence redirect URL
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Bug

#31141 chore: Remove `mongoOperations` in `updateById` method
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
Labels: skip-changelog

#30998 chore: use repo method to update workspace
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/WorkspaceServiceTest.java
Labels: skip-changelog

#31168 fix: Refactor WorkspaceAction and add handleStartFromTemplate method to Applications
  app/client/src/ce/pages/Applications/WorkspaceAction.tsx
  app/client/src/ce/pages/Applications/index.tsx
Labels: Bug

#31176 fix: [custom widget] height issue in auto layout
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Custom/CustomWidgetDefaultComponent_spec.ts
  app/client/src/widgets/CustomWidget/component/index.tsx
  app/client/src/widgets/CustomWidget/widget/index.tsx
Labels: Bug, App Viewers Pod, UI Builders Pod, Auto Height, Auto Layout, custom widgets, DailyPromotionBlocker

#31151 chore: Split routing for split screen
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/FullScreenRoutes.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/SplitScreenRoutes.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/index.tsx
Labels: skip-changelog

#31179 fix: Signup error redirect to wrong path
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: Bug

#31177 fix: move create app from template flow logic from state to redux
  app/client/src/actions/templateActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/pages/Applications/CreateNewAppFromTemplateModal/CreateNewAppFromTemplatesWrapper.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/reducers/uiReducers/templateReducer.ts
  app/client/src/sagas/TemplatesSagas.ts
  app/client/src/selectors/templatesSelectors.tsx
Labels: Bug

#31167 chore: bug: adjust WDS caption text style
  app/client/packages/design-system/theming/src/token/src/types.ts
  app/client/src/widgets/wds/WDSParagraphWidget/config/propertyPaneConfig/styleConfig.ts
Labels: skip-changelog, Widget design system, WDS team

#30964 feat: Asymmetric padding in Anvil
  app/client/src/index.css
  app/client/src/layoutSystems/anvil/canvas/AnvilCanvas.tsx
  app/client/src/layoutSystems/anvil/canvas/AnvilMainCanvas.tsx
  app/client/src/layoutSystems/anvil/canvas/useClickToClearSelections.ts
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/common/hooks/detachedWidgetHooks.ts
  app/client/src/layoutSystems/anvil/common/hooks/useSelectWidgetListener.ts
  app/client/src/layoutSystems/anvil/common/hooks/useWidgetBorderStyles.ts
  app/client/src/layoutSystems/anvil/editor/AnvilEditorFlexComponent.tsx
  app/client/src/layoutSystems/common/WidgetNamesCanvas/utils.ts
  app/client/src/layoutSystems/types/index.ts
  app/client/src/widgets/anvil/Container.tsx
  app/client/src/widgets/anvil/ZoneWidget/widget/config/anvilConfig.ts
  app/client/src/widgets/anvil/constants.ts
Labels: Enhancement, UI Builders Pod, skip-changelog, skip-testPlan, skip-documentation, Anvil layout

#31127 chore: decouple evaluatedValues from evaluated window popup
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControlV2.tsx
Labels: Performance Pod, skip-changelog, Performance

#31161 chore: should not perform diff and clone operations on evalProps
  app/client/src/ce/workers/Evaluation/__tests__/dataTreeUtils.test.ts
  app/client/src/ce/workers/Evaluation/dataTreeUtils.ts
Labels: Performance Pod, skip-changelog, Performance

#31102 fix: Add missing policies field in Appsmith AI Default datasource
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration047AddMissingFieldsInDefaultAppsmithAiDatasource.java
Labels: Bug

#31191 fix: Add import for FEATURE_FLAG and update useFeatureFlag call
  app/client/src/ce/pages/Applications/CreateNewAppFromTemplateModal/CreateNewAppFromTemplatesWrapper.tsx
  app/client/src/ce/pages/Applications/WorkspaceAction.tsx
Labels: Bug

#31196 fix: Widget Sidebar Spec
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
Labels: Bug

#31158 chore: Refine WDS dimension tokens
  app/client/packages/design-system/theming/src/token/src/tokensConfigs.json
Labels: skip-changelog, skip-testPlan, Widget design system, WDS team

#31140 fix: Module instance delete navigation
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/IDESaga.tsx
Labels: Bug, Production, IDE, Needs Triaging, New Developers Pod, Medium, IDE Navigation

#31180 fix: settings pane overflowing when number of pages increase
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/DraggablePageList.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
Labels: Bug, QA, High, Production, Regressed, Needs Triaging, New Developers Pod, IDE Navigation

#31215 chore: create correct radii tokens
  app/client/packages/design-system/theming/src/hooks/src/useTheme.tsx
  app/client/packages/design-system/theming/src/token/src/TokensAccessor.ts
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/design-system/theming/src/token/src/types.ts
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Checkbox/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Menu/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Modal/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/TagGroup/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Tooltip/src/TooltipContent.tsx
  app/client/packages/design-system/widgets/src/components/Tooltip/src/styles.module.css
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/packages/design-system/widgets/src/testing/Elevation.tsx
  app/client/packages/design-system/widgets/src/testing/styles.module.css
  app/client/src/widgets/anvil/Container.tsx
  app/client/src/widgets/anvil/SectionWidget/widget/config/defaultConfig.ts
  app/client/src/widgets/anvil/SectionWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSStatBoxWidget/component/styles.module.css
  app/client/src/widgets/wds/WDSTableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/PageNumberInput.tsx
Labels: skip-changelog, Widget design system, WDS team

#31248 fix: Cypress scroll on trigger events
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/commands.js
Labels: Bug

#31073 chore: Upgrade Mockito and surefire plugin
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
  app/server/pom.xml
Labels: skip-changelog

#31193 chore: Performance fix generateDataTreeWidgetWithoutMeta
  app/client/src/entities/Widget/utils.ts
  app/client/src/widgets/TableWidget/widget/propertyConfig.ts
  app/client/src/widgets/TableWidget/widget/propertyUtils.ts
Labels: Performance Pod, skip-changelog, Performance

#31222 chore: diff fixes on evalProps remove sending evaluatedData patches
  app/client/src/workers/Evaluation/helpers.ts
Labels: Performance Pod, skip-changelog, Performance

#31166 chore: Remove leaks of `UpdateResult` outside of repository layer
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/jslibs/ApplicationJsLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/context/ContextBasedJsLibServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStorageStructureRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStorageStructureRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStructureServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceStructureServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CustomUserDataRepositoryTest.java
Labels: skip-changelog

#31162 feat: js enabled by default for 1 click binding
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/JSEnabledByDefaultExperiment_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/spec_utility.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useConnectToOptions.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Enhancement, Task, Integrations Pod, Integrations Pod General

#31181 chore: Remove `mongoOperations` use in Application repo
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: skip-changelog

#30664 chore: include client build source map
  app/client/build.sh
Labels: Performance Pod, skip-changelog, Performance infra

#31271 fix: Updated the active tab styling
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
Labels: Bug

#31165 chore: Add `updateFirstAndFind` to Fluent repo API
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
Labels: skip-changelog

#31106 feat: workflow js run on browser
  app/client/src/selectors/dataTreeSelectors.ts
  app/client/src/utils/JSPaneUtils.tsx
Labels: Enhancement, Stale

#31066 fix: Anvil Bug fixes for R1
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/mainCanvas/useCanvasActivation.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useCanvasDragging.ts
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/AnvilEditorWidgetOnion.tsx
  app/client/src/layoutSystems/anvil/utils/layouts/renderUtils.tsx
  app/client/src/layoutSystems/anvil/utils/types.ts
  app/client/src/layoutSystems/anvil/viewer/AnvilViewerWidgetOnion.tsx
  app/client/src/layoutSystems/common/canvasArenas/StickyCanvasArena.tsx
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/selectors/layoutSystemSelectors.ts
  app/client/src/utils/helpers.tsx
  app/client/src/widgets/anvil/SectionWidget/widget/index.tsx
  app/client/src/widgets/anvil/ZoneWidget/widget/index.tsx
Labels: Bug, skip-changelog

#31122 chore: IDE persistence
  app/client/src/actions/ideActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.ts
  app/client/src/ce/sagas/index.tsx
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/entities/Engine/index.ts
  app/client/src/navigation/FocusElements.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/sagas/FocusRetentionSaga.ts
  app/client/src/sagas/IDESaga.tsx
  app/client/src/utils/storage.ts
Labels: Release, Needs Triaging, skip-changelog, New Developers Pod, IDE Navigation

#31277 chore: instrumentation added for generate crud create action
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/AppsmithEventContextType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
Labels: Task, skip-changelog, BE Coders Pod, Integrations Pod, Integrations Pod General, Activation - learnability

#31079 fix: explicit zone drop in modal widget
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/mainCanvas/useCanvasActivation.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/mainCanvas/useCanvasActivationStates.ts
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/utils.ts
Labels: Bug, Stale

#31273 fix: preserve order of widgets during multiple widget drag and drop
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilDraggingSagas.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/sectionUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/zoneUtils.ts
  app/client/src/layoutSystems/anvil/utils/paste/destinationUtils.ts
Labels: Bug, skip-testPlan, skip-documentation, Anvil layout

#31227 fix: 'are you sure' state reset
  app/client/src/pages/Editor/Explorer/Actions/MoreActionsMenu.tsx
  app/client/src/pages/Editor/JSEditor/AppJSEditorContextMenu.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorContextMenu.tsx
Labels: Bug

#31210 feat: Added modal for action creator new query option
  app/client/src/actions/propertyPaneActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/ActionCreator/viewComponents/Action/ActionSelector.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/GroupedList.tsx
  app/client/src/pages/Editor/IDE/RightPane/components/CreateNewModal.tsx
  app/client/src/pages/Editor/WidgetsEditor/PropertyPaneWrapper.tsx
  app/client/src/reducers/uiReducers/propertyPaneReducer.tsx
  app/client/src/selectors/propertyPaneSelectors.tsx
Labels: Enhancement, New Developers Pod, IDE Navigation

#31285 chore: Remove simple mongoOperations uses in repo classes
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomConfigRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
Labels: skip-changelog

#31304 feat: Updated minimize and maximize icons
  app/client/package.json
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/yarn.lock
Labels: Enhancement, New Developers Pod, IDE Navigation

#31270 test: Cypress | Flaky fixes
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
Labels: skip-changelog, Test

#31297 fix: JS creation switches pages in Side by Side
  app/client/package.json
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/__tests__/JS/JSSegment.test.tsx
  app/client/yarn.lock
Labels: Bug, High, Needs Triaging, New Developers Pod, IDE Navigation

#31306 fix: Make the active tab standout from the background
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
Labels: Bug

#31200 fix: Add useEffect hook to close modal when reconnecting modal is open
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/StartFromScratch_spec.ts
  app/client/src/ce/pages/Applications/CreateNewAppFromTemplateModal/CreateNewAppFromTemplatesWrapper.tsx
Labels: Bug, Templates pod, Templates

#31313 chore: Remove code-owners no longer working with us
  CODEOWNERS
Labels: skip-changelog

#31287 chore: Don't break on missing info.json
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog

#31283 chore: Remove mongoTemplate in BaseService
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/base/CustomJSLibServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CollectionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/PermissionGroupServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/TenantServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/WorkspaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/ApplicationServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/PermissionGroupServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/UserServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/base/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/base/ThemeServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/PluginServiceCEImplTest.java
Labels: skip-changelog

#31299 chore: Replace remaining Q* usage with Fields
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorage.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/jslibs/ApplicationJsLibServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/NewPage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/NewActionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration022AddConnectionMethodDefaultValueToAllMySQLDatasources.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: skip-changelog

#31286 chore: Remove ineffectual user change handler
  app/server/appsmith-server/src/main/java/com/appsmith/server/events/UserChangedEvent.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/WorkspaceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserDataServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/UserServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserChangedHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserChangedHandlerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserChangedHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserChangedHandlerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
Labels: skip-changelog
