Repository appsmithorg/appsmith, pull requests merged in 2024-11, with the labels that each got.

#37150 fix: API Body format focus retention
  app/client/src/PluginActionEditor/components/PluginActionForm/components/ApiEditor/PostBodyData.tsx
  app/client/src/PluginActionEditor/store/pluginActionEditorActions.ts
  app/client/src/PluginActionEditor/store/pluginActionEditorSelectors.ts
  app/client/src/PluginActionEditor/store/pluginEditorReducer.ts
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
  app/client/src/navigation/FocusElements.ts
  app/client/src/sagas/ApiPaneSagas.ts
Labels: Bug, Entity Explorer, Production, IDE Product, Needs Triaging, Query Forms, Query & JS Pod, IDE Pod, Medium, IDE Navigation, Integrations Product, ok-to-test

#37180 ci: Removed port 22 from ted in ci-test
  .github/workflows/ci-test-custom-script.yml
Labels: skip-changelog, CI, ok-to-test

#36763 feat: allow HTTP port customization in Helm chart
  deploy/helm/Chart.yaml
  deploy/helm/templates/statefulset.yaml
  deploy/helm/values.yaml
Labels: Stale

#37140 chore: adds automation for request templates component
  app/client/src/pages/Templates/Template/RequestTemplate.test.tsx
  app/client/src/pages/Templates/Template/RequestTemplate.tsx
Labels: skip-changelog, Templates Product, ok-to-test, Widgets & Accelerators Pod

#37102 chore: decouple editor components
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Modal.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/JSEditor/JSBlankState.tsx
  app/client/src/pages/Editor/JSEditor/index.tsx
  app/client/src/pages/Editor/QueryEditor/QueriesBlankState.tsx
Labels: skip-changelog, ok-to-test

#37189 chore: improved performance of getUnevaluatedDataTree
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker2_spec.js
  app/client/cypress/limited-tests.txt
  app/client/cypress/support/commands.js
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/entities/DataTree/dataTreeWidget.test.ts
  app/client/src/entities/DataTree/dataTreeWidget.ts
  app/client/src/reducers/evaluationReducers/loadingEntitiesReducer.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/selectors/dataTreeSelectors.ts
Labels: skip-changelog, ok-to-test

#35363 fix:query response count on error in QueryDebuggerTabs
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.test.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
Labels: Query & JS Pod, Integrations Pod General, Community Contributor, Integrations Pod

#37209 chore: Added instance identifiers to observation registry filter
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MetricsConfig.java
Labels: skip-changelog

#37208 chore: fixed type issue for moduleInstances
  app/client/src/entities/DataTree/dataTreeFactory.ts
Labels: skip-changelog, ok-to-test

#37059 chore: Add mongo data migration check before initializing the postgres dump
  deploy/docker/fs/opt/appsmith/utils/bin/move-to-postgres.mjs
Labels: Task, skip-changelog, Move to Postgres, DB Infrastructure Pod

#37204 chore: New schema change for vulnerabilities test
  .github/workflows/test-vulnerabilities-data.yml
  scripts/scout_vulnerabilities_data.sh
  scripts/trivy_vulnerabilities_data.sh
Labels: skip-changelog, ok-to-test

#37203 fix: Paddings and scrolls in Plugin Action Editor
  app/client/src/PluginActionEditor/components/PluginActionForm/components/ActionForm/Section/index.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/ActionForm/Section/styles.module.css
  app/client/src/PluginActionEditor/components/PluginActionForm/components/ApiEditor/PostBodyData.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/CommonEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/InfoFields.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/RequestTabs.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/components/DatasourceConfig.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/components/EmbeddedDatasourcePathField.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/styles.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/GraphQLEditor/PostBodyData.tsx
  app/client/src/components/editorComponents/form/fields/KeyValueFieldArray.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorForm/JSEditorForm.tsx
Labels: Bug, UI Improvement, Low, Production, IDE Product, Needs Triaging, Task, IDE Pod, IDE Navigation, ok-to-test

#37224 chore: [Plugin Action Editor] Query Form evaluation
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/UQIEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/hooks/useFormData.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/hooks/useGoogleSheetsSetDefaultProperty.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/hooks/useInitFormEvaluation.ts
Labels: skip-changelog, ok-to-test

#37227 fix: Only trigger restart if current user is an instance admin.
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
Labels: Bug, ok-to-test

#37179 fix: Enhance URL handling in table by rendering URL column types with `<a>` tag.
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Url_Column_spec.ts
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/AutoToolTipComponent.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/AutoTooltipComponent.test.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/BasicCell.test.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/BasicCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/PlainTextCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
Labels: Bug, Table Widget, Widgets Product, Production, Needs Triaging, Medium, ok-to-test, Widgets & Accelerators Pod

#37242 fix: remove gap between tabs and list
  app/client/src/pages/Editor/IDE/EditorTabs/List.tsx
Labels: Bug, IDE Product, Task, IDE Pod, ok-to-test

#37125 fix: skipped unnecessary code for js object updates
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
Labels: Bug, Task, JS Objects, Javascript Product, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#37219 chore: add pageId and applicationSlug to all traces
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/ce/utils/serviceWorkerUtils.test.ts
  app/client/src/ce/utils/serviceWorkerUtils.ts
Labels: skip-changelog, ok-to-test

#37128 fix: JSON form validation trigger on child component update
  app/client/src/widgets/JSONFormWidget/component/Form.test.tsx
  app/client/src/widgets/JSONFormWidget/component/Form.tsx
  app/client/src/widgets/JSONFormWidget/fields/BaseInputField.tsx
  app/client/src/widgets/JSONFormWidget/fields/CheckboxField.tsx
  app/client/src/widgets/JSONFormWidget/fields/DateField.tsx
  app/client/src/widgets/JSONFormWidget/fields/MultiSelectField.tsx
  app/client/src/widgets/JSONFormWidget/fields/RadioGroupField.tsx
  app/client/src/widgets/JSONFormWidget/fields/SelectField.tsx
  app/client/src/widgets/JSONFormWidget/fields/SwitchField.tsx
  app/client/src/widgets/JSONFormWidget/fields/useUnmountFieldValidation.test.tsx
  app/client/src/widgets/JSONFormWidget/fields/useUnmountFieldValidation.ts
Labels: Bug, Widgets Product, High, Production, Community Reported, Needs Triaging, Widget Validation, JSON Form, ok-to-test, Widgets & Accelerators Pod

#37256 chore: Adding the logic to fetch datasource structure for schema tab, if empty
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#37221 fix: adjust spacing for filter/sort/pagination form controls
  app/client/src/PluginActionEditor/components/PluginActionForm/components/ActionForm/Zone/styles.module.css
  app/client/src/components/formControls/PaginationControl.tsx
  app/client/src/components/formControls/SortingControl.tsx
  app/client/src/components/formControls/WhereClauseControl.tsx
  app/client/src/pages/Editor/FormConfig.tsx
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/fetch_many.json
Labels: Bug, IDE Product, Task, IDE Pod, ok-to-test

#37243 fix: Using create action permission for schema generation
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
Labels: Bug, ok-to-test

#37269 fix: False positive report GHSA-2jcg-qqmg-46q6
  Dockerfile
Labels: Bug, ok-to-test

#37218 feat: Enhance date validation logic and add tests for timePrecision in DatePickerWidget2
  app/client/src/widgets/DatePickerWidget2/widget/derived.js
  app/client/src/widgets/DatePickerWidget2/widget/derived.test.js
Labels: Enhancement, Date Picker Widget, Widgets Product, High, Production, Community Reported, Needs Triaging, ok-to-test, Widgets & Accelerators Pod

#37259 feat: add unmount field validation logic to JSON form widget (#37220)
  app/client/src/widgets/JSONFormWidget/fields/FieldRenderer.tsx
Labels: Enhancement, Widgets Product, High, Production, Community Reported, Needs Triaging, JSON Form, ok-to-test, Widgets & Accelerators Pod

#37268 chore: use spybean for SessionUserService and remove unused method for populating the userId in the ActionExecuteDTO
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: skip-changelog, ok-to-test

#37270 chore: Fix condition syntax in Dockerfile
  Dockerfile
Labels: skip-changelog, ok-to-test

#37276 chore: Adding step for install
  .github/workflows/test-vulnerabilities-data.yml
  scripts/scout_vulnerabilities_data.sh
  scripts/trivy_vulnerabilities_data.sh
Labels: skip-changelog

#36880 chore: Add documentation for property pane config
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControlsGenerator.tsx
  app/client/src/utils/PropertyControlFactory.tsx
Labels: skip-changelog, ok-to-test

#37173 chore: remove padding for anvil embed apps
  app/client/src/layoutSystems/anvil/layoutComponents/components/LayoutColumn.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/MainCanvasWrapper.tsx
  app/client/src/layoutSystems/anvil/utils/AnvilDSLTransformer.ts
Labels: skip-changelog, ok-to-test

#37245 chore: Opening response pane by default on query creation and for page load queries
  app/client/src/PluginActionEditor/components/PluginActionResponse/PluginActionResponse.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#37284 fix: Support `NO_PROXY` for RTS-Temporal connection
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Bug, ok-to-test

#37274 chore: Modified default behaviour of consolidated API for missing url params and extra url params
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceImplTest.java
Labels: Git Product, skip-changelog, ok-to-test

#37302 chore: Updating the UI for save and edit datasource button in API editor
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/components/StoreAsDatasource.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/FormRender.tsx
  app/client/src/ce/constants/messages.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#37016 chore: add spotless for sql files for postgres
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/templates/SELECT.sql
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/templates/UPDATE.sql
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/templates/DELETE.sql
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/templates/UPDATE.sql
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/templates/DELETE.sql
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/templates/INSERT.sql
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/templates/UPDATE.sql
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/templates/DELETE.sql
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/templates/SELECT.sql
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/templates/UPDATE.sql
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/templates/DELETE.sql
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/templates/SELECT.sql
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/templates/UPDATE.sql
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/templates/CREATE.sql
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/templates/DELETE.sql
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/templates/SELECT.sql
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/templates/UPDATE.sql
  app/server/pom.xml
Labels: skip-changelog, Stale, ok-to-test

#37303 fix: Analytics identify user not called correctly
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/utils/AppsmithUtils.tsx
Labels: Bug, ok-to-test

#37308 fix: Adding permission check for the view tab on datasource editor
  app/client/src/pages/Editor/DatasourceInfo/DatasorceTabs.tsx
Labels: Bug, Task, Platform Administration Pod, RBAC Product, ok-to-test

#37257 feat: Custom Widget Editor integration with AI
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/ChatBot/ChatBot.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/layoutControls.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Layouts/SplitLayout/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Layouts/SplitLayout/styles.module.css
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Layouts/TabsLayout/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Layouts/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/constants.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/types.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/useCustomBuilder.tsx
Labels: Enhancement, IDE Product, Task, Query & JS Pod, IDE Pod, Integrations Product, AI, ok-to-test

#37289 fix: Implement dynamic dropdown width in SelectField in JSONForm
  app/client/src/widgets/JSONFormWidget/fields/SelectField.test.tsx
  app/client/src/widgets/JSONFormWidget/fields/SelectField.tsx
Labels: Bug, Select Widget, Widgets Product, Task, JSON Form, ok-to-test, Widgets & Accelerators Pod

#37328 chore: Add span for measuring performance of consolidated api
  app/client/src/sagas/InitSagas.ts
Labels: skip-changelog

#37329 fix: Bug where identifyUser not called in cloud
  app/client/src/utils/AppsmithUtils.tsx
Labels: Bug, ok-to-test

#37333 chore: Switch server tracing configs to use OTEL
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MetricsConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ZipkinMicrometerTraceConfiguration.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#37280 feat: add CarbonConnect component
  app/client/src/components/editorComponents/ErrorBoundry.tsx
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/ee/components/formControls/CarbonButton/CarbonButton.tsx
  app/client/src/ee/components/formControls/CarbonButton/index.ts
  app/client/src/pages/Editor/FormControl.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
Labels: Enhancement, ok-to-test

#37330 chore: Updating the settings icon throughout the product
  app/client/packages/design-system/ads/src/__assets__/icons/ads/settings-v3-icon.svg
  app/client/packages/dsl/src/migrate/helpers/widget-configs.json
  app/client/src/IDE/Components/ToolbarSettingsPopover.tsx
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/client/src/ce/pages/Applications/WorkspaceMenu.tsx
  app/client/src/components/propertyControls/DraggableListCard.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSMenuButtonWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/StaticChange.tsx
  app/client/src/pages/common/SearchBar/HomepageHeaderAction.tsx
  app/client/src/widgets/MenuButtonWidget/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Basic.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#37345 chore: Update ObservationHelper to allow sampling of spans
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ObservationHelperImpl.java
Labels: skip-changelog

#37318 chore: beautify the slack message for the sync to pg workflow message
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog

#37346 chore: Minor change for log in workflow
  .github/workflows/test-vulnerabilities-data.yml
Labels: skip-changelog, ok-to-test

#37355 chore: add alerts for push failures in sync release to pg flow
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog

#37338 chore: Update ADS button min width
  app/client/packages/design-system/ads/src/Button/Button.styles.tsx
  app/client/src/ce/pages/Applications/index.tsx
Labels: Design System Product, IDE Product, Task, skip-changelog, IDE Pod, ADS Components, ADS Visual Styles, ok-to-test

#37340 chore: Updating the function icon on JS editor
  app/client/packages/design-system/ads/src/__assets__/icons/menu/js-function.svg
  app/client/src/assets/icons/menu/js-function.svg
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#37356 chore: Remove `shelljs` use from backup command
  deploy/docker/fs/opt/appsmith/utils/bin/backup.js
  deploy/docker/fs/opt/appsmith/utils/bin/backup.test.js
  deploy/docker/fs/opt/appsmith/utils/bin/constants.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.test.js
Labels: skip-changelog, ok-to-test

#37382 fix: misc Button implementations not using isIconButton prop
  app/client/packages/design-system/ads/src/Documentation/components/CodeBlock.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/pages/AppViewer/Navigation/TopStacked.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/Debugger/helpDropdown.tsx
Labels: Bug, ok-to-test

#37381 chore: Remove unused `UserData.role`
  app/client/src/ce/api/UserApi.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/UserData.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserSignupRequestDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/UserUpdateCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/CommonConfigTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: skip-changelog, ok-to-test

#37378 chore: Remove unused JSON superuser signup route
  app/client/src/ce/api/UserApi.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/UserControllerCE.java
  deploy/ansible/appsmith_playbook/roles/setup-appsmith/templates/appsmith/scripts/first-time-setup.sh
  deploy/aws_ami/first-time-setup.sh
Labels: skip-changelog, ok-to-test

#37341 chore: Handle changed NodeJS download links
  deploy/docker/base.dockerfile
Labels: skip-changelog, ok-to-test

#36944 chore: update sync to pg workflow to use github pat for accessing the secrets
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog, Stale

#37383 chore: Remove `shelljs` from more `appsmithctl` commands
  deploy/docker/fs/opt/appsmith/utils/bin/backup.js
  deploy/docker/fs/opt/appsmith/utils/bin/backup.test.js
  deploy/docker/fs/opt/appsmith/utils/bin/export_db.js
  deploy/docker/fs/opt/appsmith/utils/bin/import_db.js
  deploy/docker/fs/opt/appsmith/utils/bin/mailer.js
  deploy/docker/fs/opt/appsmith/utils/bin/restore.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.js
Labels: skip-changelog, ok-to-test

#37397 chore: Fix string equality checks
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
Labels: skip-changelog, ok-to-test

#37309 chore: Don't break when Appsmtih API URL isn't set
  app/client/packages/rts/src/constants/routes.ts
  app/client/packages/rts/src/middlewares/socket-auth.ts
  app/client/packages/rts/src/server.ts
  app/client/packages/rts/src/test/server.test.ts
  deploy/docker/fs/opt/appsmith/templates/docker.env.sh
Labels: skip-changelog, ok-to-test

#37399 fix: added edge case fixes for consolidated api and publishing
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/CommonGitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceImplTest.java
Labels: Bug, ok-to-test

#37408 chore: add sheet + sidebar
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/Sheet/index.ts
  app/client/packages/design-system/widgets/src/components/Sheet/src/Sheet.tsx
  app/client/packages/design-system/widgets/src/components/Sheet/src/index.ts
  app/client/packages/design-system/widgets/src/components/Sheet/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Sheet/src/types.ts
  app/client/packages/design-system/widgets/src/components/Sheet/stories/Sheet.stories.tsx
  app/client/packages/design-system/widgets/src/components/Sheet/stories/SimpleSheet.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/index.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/src/Sidebar.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarContent.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarInset.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarProvider.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarTrigger.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/constants.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/src/context.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/index.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Sidebar/src/types.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/src/use-mobile.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/use-sidebar.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/stories/Sidebar.stories.tsx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/storybook/package.json
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#37401 chore: Remove `shelljs` from `appsmithctl`
  deploy/docker/fs/opt/appsmith/utils/bin/import_db.js
  deploy/docker/fs/opt/appsmith/utils/bin/index.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.test.js
  deploy/docker/fs/opt/appsmith/utils/package-lock.json
  deploy/docker/fs/opt/appsmith/utils/package.json
Labels: skip-changelog, ok-to-test

#37413 feat: pass workspace id to form control
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/pages/Editor/FormControl.tsx
Labels: Enhancement, ok-to-test

#37411 fix: Query Editor Routing in the redesign flow
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
Labels: Bug, ok-to-test

#37410 chore: Abstraction of Bottom View in Cypress
  app/client/cypress/e2e/Regression/ClientSide/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Binding_Bug28287_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo1_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Querypane_Mongo_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/IDE/BottomPane/Response.ts
  app/client/cypress/support/Pages/IDE/BottomPane/index.ts
Labels: skip-changelog, ok-to-test

#37404 chore: Switch from OTLP HTTP/protobuf (New Relic) to HTTP/JSON (Grafana)
  app/client/package.json
  app/client/packages/rts/package.json
  app/client/packages/rts/src/instrumentation.ts
  app/client/src/UITelemetry/auto-otel-web.ts
  app/client/yarn.lock
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, ok-to-test

#37323 test: added test for incompatible file
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/ParitalImportAppNegative_spec.ts
  app/client/cypress/fixtures/PartialImportAppNegative.json
Labels: skip-changelog, ok-to-test, Test

#37532 chore: Format appsmithctl code
  deploy/docker/fs/opt/appsmith/utils/bin/backup.js
  deploy/docker/fs/opt/appsmith/utils/bin/backup.test.js
  deploy/docker/fs/opt/appsmith/utils/bin/check_replica_set.js
  deploy/docker/fs/opt/appsmith/utils/bin/constants.js
  deploy/docker/fs/opt/appsmith/utils/bin/export_db.js
  deploy/docker/fs/opt/appsmith/utils/bin/import_db.js
  deploy/docker/fs/opt/appsmith/utils/bin/logger.js
  deploy/docker/fs/opt/appsmith/utils/bin/mailer.js
  deploy/docker/fs/opt/appsmith/utils/bin/mongo_shell_utils.js
  deploy/docker/fs/opt/appsmith/utils/bin/move-to-postgres.mjs
  deploy/docker/fs/opt/appsmith/utils/bin/restore.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.js
  deploy/docker/fs/opt/appsmith/utils/bin/utils.test.js
  deploy/docker/fs/opt/appsmith/utils/bin/version.js
Labels: skip-changelog, ok-to-test

#37414 chore: Updating generate page interaction to show it in a modal following the IDE 2.0 interaction pattern
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/S3_Spec.js
  app/client/src/ce/RouteBuilder.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/hooks/datasourceEditorHooks.tsx
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/pages/Editor/CurlImport/ModalControls.tsx
  app/client/src/pages/Editor/CurlImport/helpers.ts
  app/client/src/pages/Editor/CurlImport/store/curlImportActions.ts
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
  app/client/src/pages/Editor/Explorer/Pages/AddPageContextMenu.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GeneratePageForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/GeneratePageForm/GoogleSheetForm.tsx
  app/client/src/pages/Editor/GeneratePage/components/PageContent.tsx
  app/client/src/pages/Editor/GeneratePage/index.tsx
  app/client/src/pages/Editor/GeneratePage/store/generatePageActions.ts
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/pages/Templates/TemplatesModal/Header.tsx
  app/client/src/reducers/entityReducers/pageListReducer.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/sagas/SaaSPaneSagas.ts
  app/client/src/selectors/pageListSelectors.tsx
  app/client/src/utils/GeneratePageUtils.ts
Labels: Low, Production, IDE Product, Needs Triaging, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#36548 chore: update logic to calculate length of lint
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
  app/client/src/utils/DynamicBindingUtils.ts
Labels: Task, skip-changelog, Workflows Pod, Workflows Product, ok-to-test

#37391 chore: perf optimisation for js action creation phase 1
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
Labels: Task, skip-changelog, JS Objects, Javascript Product, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#37559 fix: getQueryParamsFromString function updated to use URLSearchParams
  app/client/src/utils/getQueryParamsObject.test.ts
  app/client/src/utils/getQueryParamsObject.ts
Labels: Bug, Production, Community Reported, Needs Triaging, Javascript Product, Query & JS Pod, Medium, Framework Functions, ok-to-test

#37553 chore: Rename app-viewers to widgets-blocks
  CODEOWNERS
Labels: skip-changelog

#37402 chore: Require form data for login endpoint
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
Labels: skip-changelog, ok-to-test

#37409 fix: Rate limiting key should respect load balancers
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: Bug, ok-to-test

#37267 chore: Reverted appsmith url
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/uiToCode_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/ActionExecution/Block_Execution.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/APIOnLoad_Spec.ts
Labels: Task, skip-changelog, ok-to-test, Stability Pod, Stability Issue

#37568 fix: Instance admin not updating when email added via env variable
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
Labels: Bug, Low, Production, Needs Triaging, Platform Administration Pod, RBAC Product, Workflows Pod, Workflows Product, ok-to-test

#37577 chore: Refactor observability setup. Migrate monitoring configuration…
  utils/observability/docker-compose.yml
  utils/observability/docker/grafana/provisioning/dashboards/dashboard.yml
  utils/observability/docker/grafana/provisioning/dashboards/logs_traces_metrics.json
  utils/observability/docker/grafana/provisioning/dashboards/redis_dashboard.json
  utils/observability/docker/grafana/provisioning/datasources/datasource.yml
  utils/observability/docker/prometheus/prometheus.yml
  utils/observability/docker/tempo/tempo-local.yaml
Labels: skip-changelog, ok-to-test

#37602 fix: shared drive support added for google sheets
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/FileInfoMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/FileListMethod.java
Labels: Bug, Task, Google Sheets, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#37597 chore: add header to sidebar + add full width state
  app/client/packages/design-system/widgets/src/components/Sheet/src/Sheet.tsx
  app/client/packages/design-system/widgets/src/components/Sheet/src/types.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/src/Sidebar.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarContent.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarProvider.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Sidebar/src/types.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/stories/Sidebar.stories.tsx
Labels: skip-changelog, ok-to-test

#37626 chore: set datasourceId in executeActionDTO during execution
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#36989 feat: git mod - package details and redux slice
  app/client/packages/git/.eslintrc.json
  app/client/packages/git/package.json
  app/client/packages/git/src/actions/commitActions.ts
  app/client/packages/git/src/actions/connectActions.ts
  app/client/packages/git/src/actions/fetchBranchesActions.ts
  app/client/packages/git/src/actions/fetchMetadataActions.ts
  app/client/packages/git/src/actions/fetchStatusActions.ts
  app/client/packages/git/src/actions/helpers/createSingleArtifactAction.ts
  app/client/packages/git/src/actions/mountActions.ts
  app/client/packages/git/src/actions/pullActions.ts
  app/client/packages/git/src/components/connect/GitTest.tsx
  app/client/packages/git/src/store/gitArtifactSlice.ts
  app/client/packages/git/src/store/index.ts
  app/client/packages/git/src/types.ts
  app/client/packages/git/tsconfig.json
  app/client/yarn.lock
Labels: Enhancement, Git Product, Task, Git Platform, ok-to-test

#37606 chore: Port `ctl` code to Typescript
  app/client/packages/rts/build.js
  app/client/packages/rts/package.json
  app/client/packages/rts/src/ctl/backup.test.ts
  app/client/packages/rts/src/ctl/backup.ts
  app/client/packages/rts/src/ctl/check_replica_set.ts
  app/client/packages/rts/src/ctl/constants.js
  app/client/packages/rts/src/ctl/constants.ts
  app/client/packages/rts/src/ctl/export_db.ts
  app/client/packages/rts/src/ctl/import_db.ts
  app/client/packages/rts/src/ctl/index.ts
  app/client/packages/rts/src/ctl/logger.ts
  app/client/packages/rts/src/ctl/mailer.ts
  app/client/packages/rts/src/ctl/mongo_shell_utils.ts
  app/client/packages/rts/src/ctl/restore.ts
  app/client/packages/rts/src/ctl/utils.test.ts
  app/client/packages/rts/src/ctl/utils.ts
  app/client/packages/rts/src/ctl/version.ts
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#37587 chore: update jest version to 29
  app/client/jest.config.js
  app/client/package.json
  app/client/packages/ast/src/actionCreator/index.ts
  app/client/packages/ast/src/jsObject/index.ts
  app/client/src/components/propertyControls/__snapshots__/IconSelectControl.test.tsx.snap
  app/client/test/setup.ts
  app/client/yarn.lock
Labels: Task, skip-changelog, Tech Debt, ok-to-test

#37639 chore: restore removed ts expect error comments
  app/client/packages/ast/src/actionCreator/index.ts
Labels: skip-changelog

#37636 fix: Updating empty state message when searching items in queries segment
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
Labels: Bug, Low, Production, IDE Product, Needs Triaging, IDE Pod, ok-to-test

#37641 chore: upgrade version of acorn and acron walk
  app/client/packages/ast/package.json
  app/client/packages/ast/src/actionCreator/index.ts
  app/client/yarn.lock
Labels: skip-changelog, Tech Debt, ok-to-test

#37624 fix: Min width in certain ADS Button usage
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/components/editorComponents/Debugger/index.tsx
  app/client/src/components/editorComponents/Debugger/styles.ts
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
Labels: Bug, Design System Product, Low, Production, IDE Product, IDE Pod, ADS Components, ADS Visual Styles, ok-to-test

#37417 chore: add eslint package to handle linting
  app/client/package.json
  app/client/src/components/editorComponents/CodeEditor/lintHelpers.ts
  app/client/src/plugins/Linting/constants.ts
  app/client/src/plugins/Linting/tests/getLintingErrors.test.ts
  app/client/src/plugins/Linting/types.ts
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
  app/client/test/setup.ts
  app/client/yarn.lock
Labels: Task, skip-changelog, Workflows Pod, Workflows Product, ok-to-test

#37563 chore: add datepicker component
  app/client/packages/design-system/widgets/src/components/Calendar/index.ts
  app/client/packages/design-system/widgets/src/components/Calendar/src/Calendar.tsx
  app/client/packages/design-system/widgets/src/components/Calendar/src/CalendarCell.tsx
  app/client/packages/design-system/widgets/src/components/Calendar/src/CalendarHeaderCell.tsx
  app/client/packages/design-system/widgets/src/components/Calendar/src/CalendarHeading.tsx
  app/client/packages/design-system/widgets/src/components/Calendar/src/index.ts
  app/client/packages/design-system/widgets/src/components/Calendar/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Calendar/stories/Calendar.stories.tsx
  app/client/packages/design-system/widgets/src/components/Datepicker/index.ts
  app/client/packages/design-system/widgets/src/components/Datepicker/src/Datepicker.tsx
  app/client/packages/design-system/widgets/src/components/Datepicker/src/DatepickerTrigger.tsx
  app/client/packages/design-system/widgets/src/components/Datepicker/src/index.ts
  app/client/packages/design-system/widgets/src/components/Datepicker/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Datepicker/src/types.ts
  app/client/packages/design-system/widgets/src/components/Datepicker/stories/Datepicker.stories.tsx
  app/client/packages/design-system/widgets/src/components/Input/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Popover/src/Popover.tsx
  app/client/packages/design-system/widgets/src/components/Text/src/types.ts
  app/client/packages/design-system/widgets/src/components/TextField/index.ts
  app/client/packages/design-system/widgets/src/components/TextField/src/TextField.tsx
  app/client/packages/design-system/widgets/src/components/TextField/src/index.ts
  app/client/packages/design-system/widgets/src/components/TextField/src/types.ts
  app/client/packages/design-system/widgets/src/components/TextField/stories/TextField.stories.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/src/index.ts
  app/client/packages/design-system/widgets/src/components/TimeField/index.ts
  app/client/packages/design-system/widgets/src/components/TimeField/src/TimeField.tsx
  app/client/packages/design-system/widgets/src/components/TimeField/src/index.ts
  app/client/packages/design-system/widgets/src/components/TimeField/src/types.ts
  app/client/packages/design-system/widgets/src/components/TimeField/stories/TimeField.stories.tsx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
  app/client/packages/storybook/.storybook/preview-head.html
  app/client/src/modules/ui-builder/ui/wds/WDSCurrencyInputWidget/component/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSInputWidget/component/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSPhoneInputWidget/component/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSTableWidget/component/TableHeader/PageNumberInput.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSTableWidget/component/TableHeader/Search.tsx
Labels: skip-changelog, ok-to-test

#37655 chore: [Plugin Action Editor] Defer plugin config checks
  app/client/src/PluginActionEditor/PluginActionContext.tsx
  app/client/src/PluginActionEditor/PluginActionEditor.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/PluginActionForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/FormRender.tsx
  app/client/src/pages/Editor/ActionSettings.tsx
Labels: skip-changelog, ok-to-test

#37660 chore: Read mail env variables only when needed
  app/client/packages/rts/src/ctl/mailer.ts
Labels: skip-changelog

#37662 chore: Remove unused `netcat` and `openssh-client`
  deploy/docker/README.md
  deploy/docker/base.dockerfile
Labels: skip-changelog

#37664 chore: Remove Algolia, we don't use it anymore
  .env.example
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/package.json
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/components/editorComponents/GlobalSearch/SearchResults.tsx
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/yarn.lock
  deploy/docker/fs/opt/appsmith/templates/docker.env.sh
Labels: skip-changelog, ok-to-test

#37663 chore: Fix typing in ctl backup and restore
  app/client/packages/rts/src/ctl/backup.test.ts
  app/client/packages/rts/src/ctl/backup.ts
  app/client/packages/rts/src/ctl/restore.ts
Labels: skip-changelog, ok-to-test

#36874 chore:update README.md to reflect Youtube stats
  README.md
Labels: Documentation, Good First Issue, skip-changelog, Stale

#37667 chore: Don't need `wget` anymore
  deploy/docker/base.dockerfile
Labels: skip-changelog

#37670 fix: Plugin Action Editor navigation issue with git
  app/client/src/PluginActionEditor/components/PluginActionForm/hooks/useChangeActionCall.test.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/hooks/useChangeActionCall.ts
Labels: Bug, ok-to-test

#37638 chore: Update size of sidebar + remove using sheet
  app/client/packages/design-system/widgets/src/components/Sidebar/src/Sidebar.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarContent.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarInset.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarProvider.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarTrigger.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/index.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Sidebar/src/types.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/stories/Sidebar.stories.tsx
Labels: skip-changelog, ok-to-test

#37631 chore: add executeActionDTO as additional parameter to be used when creating query for AppsmithAI plugin queries
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/AppsmithAiPlugin.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/AiFeatureService.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/features/ImageCaptioningServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/features/ImageClassificationServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/features/ImageEntityExtractionServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/features/TextClassificationServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/features/TextEntityExtractionServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/features/TextGenerationServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/features/TextSummarizationServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/test/java/com/external/plugins/services/features/ImageCaptioningServiceImplTest.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/test/java/com/external/plugins/services/features/ImageClassificationServiceImplTest.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/test/java/com/external/plugins/services/features/ImageEntityExtractionServiceImplTest.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/test/java/com/external/plugins/services/features/TextClassificationServiceImplTest.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/test/java/com/external/plugins/services/features/TextEntityExtractionServiceImplTest.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/test/java/com/external/plugins/services/features/TextGenerationServiceImplTest.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/test/java/com/external/plugins/services/features/TextSummarizationServiceImplTest.java
Labels: Backend, Task, skip-changelog, Anvil Pod, ok-to-test

#37674 chore: Removing unused styles, extra space in entity item and passing button condition prop
  app/client/src/IDE/Components/Sidebar/Sidebar.tsx
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#37420 feat: Schema tab UI update
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/IDE/Components/BottomView.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/CurrentDataSource.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/CurrentDataSourceLink.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/DatasourceSelector.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/Schema.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/SchemaTables.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/StatusDisplay.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/TableColumns.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/constants.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/index.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/styles.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/hooks/useGoToDatasource.ts
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/ce/PluginActionEditor/hooks/useCreateDatasource.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/form/fields/MenuField.tsx
  app/client/src/ee/PluginActionEditor/hooks/useCreateDatasource.ts
  app/client/src/entities/Datasource/index.ts
  app/client/src/pages/Editor/DatasourceInfo/DatasourceField.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceStructureNotFound.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceViewModeSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/GoogleSheetSchema.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
Labels: Enhancement, potential-duplicate, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#37672 chore: Fix env varibles in 404.html
  app/client/public/404.html
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, ok-to-test

#37696 chore: Update for workflow name
  .github/workflows/test-vulnerabilities-data.yml
Labels: skip-changelog

#37697 fix: Signup from OAuth not being detected correctly
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
Labels: Bug, ok-to-test

#37406 chore: Move IDE header to ADS/Templates
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/ListWithHeader.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/styles.ts
  app/client/packages/design-system/ads/src/Templates/IDEHeader/HeaderSwitcher/HeaderSwitcher.styles.ts
  app/client/packages/design-system/ads/src/Templates/IDEHeader/HeaderSwitcher/HeaderSwitcher.test.tsx
  app/client/packages/design-system/ads/src/Templates/IDEHeader/HeaderSwitcher/IDEHeaderSwitcher.tsx
  app/client/packages/design-system/ads/src/Templates/IDEHeader/HeaderSwitcher/index.ts
  app/client/packages/design-system/ads/src/Templates/IDEHeader/IDEHeader.constants.ts
  app/client/packages/design-system/ads/src/Templates/IDEHeader/IDEHeader.mdx
  app/client/packages/design-system/ads/src/Templates/IDEHeader/IDEHeader.stories.tsx
  app/client/packages/design-system/ads/src/Templates/IDEHeader/IDEHeader.tsx
  app/client/packages/design-system/ads/src/Templates/IDEHeader/IDEHeaderTitle.tsx
  app/client/packages/design-system/ads/src/Templates/IDEHeader/index.ts
  app/client/packages/design-system/ads/src/Templates/index.ts
  app/client/packages/design-system/ads/src/index.ts
  app/client/src/IDE/Components/HeaderDropdown.test.tsx
  app/client/src/IDE/Components/HeaderDropdown.tsx
  app/client/src/IDE/Components/HeaderEditorSwitcher.tsx
  app/client/src/IDE/index.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/AdminSettings/components.tsx
  app/client/src/pages/AppViewer/Navigation/Sidebar.tsx
  app/client/src/pages/Editor/EditorName/components.ts
  app/client/src/pages/Editor/IDE/EditorPane/PagesSection.tsx
  app/client/src/pages/Editor/IDE/Header/EditorTitle.tsx
  app/client/src/pages/Editor/IDE/Header/index.tsx
  app/client/src/pages/Editor/JSEditor/styledComponents.ts
  app/client/src/pages/Editor/WidgetsEditor/WidgetEditorContainer.tsx
  app/client/src/pages/Editor/commons/EditorHeaderComponents.tsx
  app/client/src/pages/Editor/commons/EditorWrapperContainer.tsx
  app/client/src/pages/Editor/commons/Omnibar.tsx
  app/client/src/pages/Editor/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#37596 chore: update mongodb image
  deploy/helm/Chart.yaml
  deploy/helm/values.yaml
Labels: skip-changelog

#37710 chore: fix onStateChange prop bug in sidebar
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarProvider.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/stories/ControlledStateSidebar.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/stories/Sidebar.stories.tsx
Labels: skip-changelog, ok-to-test

#37746 chore: Added git resource map types
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/models/GitResourceIdentity.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/models/GitResourceMap.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/models/GitResourceType.java
Labels: skip-changelog

#37665 chore: Remove CS URL in client
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-limited-with-count.yml
  .github/workflows/ci-test-limited.yml
  app/client/docker/templates/nginx-app.conf.template
  app/client/public/index.html
  app/client/src/api/CloudServicesApi.ts
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/SaasController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/SaasControllerCE.java
Labels: skip-changelog, ok-to-test

#37757 fix: Removing the global add in segmented header and updating the UI for new query tab
  app/client/src/IDE/Components/FileTab/styles.tsx
  app/client/src/IDE/Components/HeaderDropdown.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/pages/Editor/Explorer/Entity/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetIcon.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Explorer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/AddTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/List.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/old/JSFunctionRun.tsx
  app/client/src/pages/Editor/QueryEditor/DatasourceSelector.tsx
Labels: Bug, IDE Product, Task, IDE Pod, ok-to-test

#37551 chore: Include version in all requests
  app/client/public/index.html
  app/client/src/api/interceptors/request/addVersionHeader.ts
  app/client/src/api/interceptors/request/apiRequestInterceptor.ts
  app/client/src/api/interceptors/response/apiFailureResponseInterceptor.ts
  app/client/src/api/interceptors/response/failureHandlers/handleBadRequestError.ts
  app/client/src/api/interceptors/response/failureHandlers/index.ts
  app/client/src/ce/constants/ApiConstants.tsx
  app/client/src/sagas/WebsocketSagas/handleAppLevelSocketEvents.tsx
  app/client/src/sagas/WebsocketSagas/versionUpdatePrompt.ts
  app/client/src/utils/storage.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
Labels: skip-changelog, ok-to-test

#37774 chore: skipping file change
  .github/workflows/client-build.yml
Labels: skip-changelog

#37777 chore: Get release's version if needed
  app/client/start-https.sh
Labels: skip-changelog

#37779 chore: Reverted server cache skip changes
  .github/workflows/server-build.yml
Labels: skip-changelog

#37782 fix: Reverted changes for skip client cache
  .github/workflows/client-build.yml
Labels: Bug

#37786 test: Fix failure in API_Bugs_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Bugs_Spec.js
Labels: skip-changelog, ok-to-test, Test

#37780 fix: [Plugin Action Editor] Avoid multiple init of Form Eval
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/UQIEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/hooks/useInitFormEvaluation.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/hooks/useChangeActionCall.ts
Labels: Bug, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#37784 chore: Remove socket-io and websocket connections
  app/client/package.json
  app/client/src/actions/appCollabActions.ts
  app/client/src/actions/pageVisibilityActions.ts
  app/client/src/actions/websocketActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/uiReducers/index.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/sagas/index.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/constants/WebsocketConstants.tsx
  app/client/src/constants/WidgetValidation.ts
  app/client/src/reducers/uiReducers/appCollabReducer.ts
  app/client/src/reducers/uiReducers/websocketReducer.ts
  app/client/src/sagas/PageVisibilitySagas.ts
  app/client/src/sagas/WebsocketSagas/WebsocketSagas.ts
  app/client/src/sagas/WebsocketSagas/handleAppLevelSocketEvents.tsx
  app/client/src/sagas/WebsocketSagas/handlePageLevelSocketEvents.ts
  app/client/src/sagas/WebsocketSagas/socketEvents.ts
  app/client/test/sagas.ts
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#37785 fix: Super user cache eviction when user is added via env variable
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
Labels: Bug, Admin Settings Product, Production, Needs Triaging, Platform Administration Pod, Release Blocker, ok-to-test

#37715 chore: Modular backup implementation
  app/client/packages/rts/src/ctl/backup/BackupState.ts
  app/client/packages/rts/src/ctl/backup/backup.test.ts
  app/client/packages/rts/src/ctl/backup/index.ts
  app/client/packages/rts/src/ctl/backup/links/DiskSpaceLink.ts
  app/client/packages/rts/src/ctl/backup/links/EncryptionLink.ts
  app/client/packages/rts/src/ctl/backup/links/ManifestLink.ts
  app/client/packages/rts/src/ctl/backup/links/index.ts
  app/client/packages/rts/src/ctl/index.ts
  app/client/packages/rts/src/ctl/restore.ts
  deploy/docker/fs/opt/bin/ctl
Labels: skip-changelog, ok-to-test

#37793 chore: action execution solution test fixed
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: skip-changelog, ok-to-test

#37640 feat: update response tab UI
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Binding_Bug28287_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Redis_Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MySQL2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/UUID_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo1_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Querypane_Mongo_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
  app/client/cypress/e2e/Sanity/Datasources/Arango_Basic_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/IDE/BottomPane/Response.ts
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/content-type-json.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/content-type-raw.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/content-type-table.svg
  app/client/src/IDE/Components/BottomView.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/BindDataButton.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/NoResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/NoResponse/NoResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/NoResponse/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/NoResponse/styles.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/QueryResponseTab.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/QueryResponseTab/QueryResponseTab.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/QueryResponseTab/constants.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/QueryResponseTab/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/QueryResponseTab/styles.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Table.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/constants.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/constants.ts
  app/client/src/assets/images/no-response.svg
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/ActionExecutionInProgressView.tsx
  app/client/src/components/editorComponents/EntityBottomTabs.tsx
  app/client/src/components/editorComponents/JSResponseView.test.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.test.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#37797 chore: added slo buckets for histogram
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#37661 test: partial import export areas covered
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialImportRegularApp.ts
  app/client/cypress/fixtures/PartialImportExport/ImportExport.json
  app/client/cypress/fixtures/PartialImportExport/PartialQueryExport.json
  app/client/cypress/fixtures/PartialImportExport/PartialWidgetExport.json
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: skip-changelog, ok-to-test, Test

#37843 feat: Git modularisation backend structure
  app/server/appsmith-git/src/main/java/com/appsmith/git/dto/CommitDTO.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/dto/GitUser.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/FSGitHandlerImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/handler/FSGitHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/GitApplicationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/RefType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/GitArtifactMetadataCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ApplicationImportDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ArtifactImportDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCECompatible.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCECompatible.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/dtos/ArtifactJsonTransformationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/resolver/GitArtifactHelperResolver.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/resolver/GitArtifactHelperResolverCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/resolver/GitHandlingServiceResolver.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/resolver/GitHandlingServiceResolverCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/utils/GitAnalyticsUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/utils/GitProfileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitArtifactHelperCE.java
Labels: Enhancement, Git Product, Epic, Task, ok-to-test, Packages & Git Pod

#37830 feat: git mod - updating redux slice and adding pending actions
  app/client/packages/git/src/actions/checkoutBranchActions.ts
  app/client/packages/git/src/actions/commitActions.ts
  app/client/packages/git/src/actions/connectActions.ts
  app/client/packages/git/src/actions/createBranchActions.ts
  app/client/packages/git/src/actions/deleteBranchActions.ts
  app/client/packages/git/src/actions/discardActions.ts
  app/client/packages/git/src/actions/disconnectActions.ts
  app/client/packages/git/src/actions/fetchAutocommitProgressActions.ts
  app/client/packages/git/src/actions/fetchBranchesActions.ts
  app/client/packages/git/src/actions/fetchGlobalConfigActions.ts
  app/client/packages/git/src/actions/fetchLocalConfigActions.ts
  app/client/packages/git/src/actions/fetchMergeStatusActions.ts
  app/client/packages/git/src/actions/fetchMetadataActions.ts
  app/client/packages/git/src/actions/fetchProtectedBranchesActions.ts
  app/client/packages/git/src/actions/fetchSSHKeyActions.ts
  app/client/packages/git/src/actions/fetchStatusActions.ts
  app/client/packages/git/src/actions/generateSSHKey.ts
  app/client/packages/git/src/actions/helpers/createSingleArtifactAction.ts
  app/client/packages/git/src/actions/helpers/singleArtifactInitialState.ts
  app/client/packages/git/src/actions/mergeActions.ts
  app/client/packages/git/src/actions/mountActions.ts
  app/client/packages/git/src/actions/pullActions.ts
  app/client/packages/git/src/actions/toggleAutocommitActions.ts
  app/client/packages/git/src/actions/triggerAutocommitActions.ts
  app/client/packages/git/src/actions/updateGlobalConfigActions.ts
  app/client/packages/git/src/actions/updateLocalConfigActions.ts
  app/client/packages/git/src/actions/updateProtectedBranchesActions.ts
  app/client/packages/git/src/enums.ts
  app/client/packages/git/src/types.ts
Labels: Enhancement, Git Product, Task, Packages Pod, ok-to-test, Packages & Git Pod

#37827 chore: Remove websocket server on RTS
  app/client/packages/rts/package.json
  app/client/packages/rts/src/constants/routes.ts
  app/client/packages/rts/src/constants/socket.ts
  app/client/packages/rts/src/controllers/socket.ts
  app/client/packages/rts/src/middlewares/socket-auth.ts
  app/client/packages/rts/src/server.ts
  app/client/packages/rts/src/sockets/events.ts
  app/client/packages/rts/src/sockets/index.ts
  app/client/packages/rts/src/utils/models.ts
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#37857 chore: Always get version from $backend
  app/client/start-https.sh
Labels: skip-changelog

#37839 chore: Update server log path
  .github/workflows/ci-test-custom-script.yml
Labels: skip-changelog

#37711 chore: add wds datepicker widget
  app/client/packages/design-system/widgets/src/components/Calendar/src/styles.module.css
  app/client/src/modules/ui-builder/ui/wds/WDSBaseInputWidget/constants.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCurrencyInputWidget/config/defaultsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/config/anvilConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/config/defaultsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/config/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/config/metaConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/config/methodsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/config/propertyPaneConfig/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/config/settersConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/constants.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/widget/derived.js
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/widget/derived.test.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/widget/helpers.ts
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSDatePickerWidget/widget/types.ts
  app/client/src/modules/ui-builder/ui/wds/WDSInputWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSPhoneInputWidget/config/defaultsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/constants.ts
  app/client/src/widgets/WidgetUtils.ts
  app/client/src/widgets/index.ts
Labels: skip-changelog, ok-to-test

#37127 fix: Reduce RTS calls in the updateLayout flow
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/OnLoadSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#37829 chore: Move all remaining actions into links
  app/client/packages/rts/src/ctl/backup/BackupState.ts
  app/client/packages/rts/src/ctl/backup/backup.test.ts
  app/client/packages/rts/src/ctl/backup/index.ts
  app/client/packages/rts/src/ctl/backup/links/BackupFolderLink.ts
  app/client/packages/rts/src/ctl/backup/links/DiskSpaceLink.ts
  app/client/packages/rts/src/ctl/backup/links/EncryptionLink.ts
  app/client/packages/rts/src/ctl/backup/links/EnvFileLink.ts
  app/client/packages/rts/src/ctl/backup/links/GitStorageLink.ts
  app/client/packages/rts/src/ctl/backup/links/ManifestLink.ts
  app/client/packages/rts/src/ctl/backup/links/MongoDumpLink.ts
  app/client/packages/rts/src/ctl/backup/links/index.ts
Labels: skip-changelog, ok-to-test

#37861 chore: Find version after backend is ready
  app/client/start-https.sh
Labels: skip-changelog
