Repository appsmithorg/appsmith, pull requests merged in 2024-09, with the labels that each got.

#35907 chore: reconnect ds detached from datasource editor part 1
  app/client/src/Datasource/components/ReconnectDatasourceForm.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
Labels: skip-changelog, ok-to-test

#36042 chore: Added threads to logging
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#35849 feat: add select widget
  app/client/packages/design-system/widgets/src/components/Select/src/Select.tsx
  app/client/packages/design-system/widgets/src/components/Select/src/index.ts
  app/client/packages/design-system/widgets/src/components/Select/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Select/src/types.ts
  app/client/src/components/propertyControls/KeyValueComponent.tsx
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/reducers/entityReducers/canvasWidgetsReducer.ts
  app/client/src/widgets/index.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/anvilConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/featuresConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/index.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/methodsConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/propertyPaneConfig/index.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/propertyPaneConfig/validations/defaultOptionValidation.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/propertyPaneConfig/validations/index.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/propertyPaneConfig/validations/optionsCustomValidation.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/settersConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/index.ts
  app/client/src/widgets/wds/WDSSelectWidget/widget/helpers.ts
  app/client/src/widgets/wds/WDSSelectWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSelectWidget/widget/types.ts
  app/client/src/widgets/wds/constants.ts
Labels: Enhancement, Task, Anvil Pod, ok-to-test

#36046 fix: postgres plugin blocking call
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#35734 fix: width of tooltip box is larger than text on the property panel
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
Labels: Stale

#36078 test: pg cypres test
  app/client/cypress/e2e/Regression/ClientSide/Workspace/MemberRoles_Spec.ts
  app/client/cypress/limited-tests.txt
  app/client/packages/eslint-plugin/package.json
Labels: skip-changelog, Test

#36086 chore: Added pg branch
  .github/workflows/build-client-server-count.yml
  .github/workflows/build-client-server.yml
Labels: skip-changelog, ok-to-test

#36094 feat: disable create js object option in workflows editor
  app/client/src/ce/utils/workflowHelpers.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.test.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
Labels: Enhancement, Production, Needs Triaging, Medium, Workflows Pod, Workflows Product, ok-to-test

#36104 chore: Enable netty metrics
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ReactorNettyConfiguration.java
Labels: skip-changelog

#35914 ci: add configs for release to pg sync
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog, CI

#36108 chore: Enable netty metrics based on env var
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ReactorNettyConfiguration.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#35900 fix: fixed back button to redirect to applications page
  app/client/src/pages/UserProfile/index.test.tsx
  app/client/src/pages/UserProfile/index.tsx
  app/client/src/pages/workspace/__tests__/settings.test.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: ok-to-test

#36109 fix: Embedded datasource persistence changes for git.
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceConfiguration.java
Labels: Bug, ok-to-test

#36112 fix: Updating the CSS to place the meatball icon in the correct place for Application Card
  app/client/src/components/common/Card.tsx
Labels: Bug, Production, Needs Triaging, Platform Administration Pod, Medium, RBAC Product, ok-to-test

#36115 fix: removed conditional to check for jslib files
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
Labels: Bug, Backend, High, Production, Needs Triaging, Git Product, Git Platform Pod, ok-to-test, Git status, Inviting Contribution

#36091 feat: Action redesign: Updating the config for SMTP plugin to use sections and zones format
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/pages/Editor/ActionForm/Zone/styles.module.css
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/body.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/send.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#35916 chore: Keep the copy of policies object while updating policyMap
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PolicySolutionCEImpl.java
Labels: skip-changelog, ok-to-test

#36095 feat: Action redesign: Updating the config for Google AI plugin to use sections and zones format
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/editor/generate.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/editor/root.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#35947 chore: Add metrics to newRelic for update JSobject Collection
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ActionCollectionSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/LayoutSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ActionCollectionSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ActionSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/LayoutSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/PageSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutCollectionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: skip-changelog, JS Objects, Javascript Product, Query & JS Pod, ok-to-test

#36077 chore: added thread logging info for plugins
  app/client/packages/eslint-plugin/package.json
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/Stopwatch.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/DatasourceUtils.java
  app/server/appsmith-plugins/anthropicPlugin/src/main/java/com/external/plugins/AnthropicPlugin.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/AppsmithAiPlugin.java
  app/server/appsmith-plugins/arangoDBPlugin/src/main/java/com/external/plugins/ArangoDBPlugin.java
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/java/com/external/plugins/AwsLambdaPlugin.java
  app/server/appsmith-plugins/databricksPlugin/src/main/java/com/external/plugins/DatabricksPlugin.java
  app/server/appsmith-plugins/dynamoPlugin/src/main/java/com/external/plugins/DynamoPlugin.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/GoogleAiPlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/OpenAiPlugin.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/OraclePlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/plugins/RedisPlugin.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/plugins/RedshiftPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/saasPlugin/src/main/java/com/external/plugins/SaasPlugin.java
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com/external/plugins/SmtpPlugin.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
Labels: Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Stability Pod, Stability Issue

#36089 feat: Action redesign: Updating the config for Appsmith AI plugin to use sections and zones format
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/editor/imageCaptioning.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/editor/imageClassification.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/editor/imageEntityExtraction.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/editor/textClassification.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/editor/textEntityExtraction.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/editor/textGeneration.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/editor/textSummarization.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/body.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36133 chore: Enable capturing metrics at higher freq
  app/server/appsmith-server/src/main/java/com/appsmith/server/ServerApplication.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MetricsConfig.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#35988 fix: fix issue with forking
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/pages/Editor/index.tsx
Labels: Bug, QA, Critical, Production, Regressed, Needs Triaging, Fork App, Git Platform Pod, QA Pod, ok-to-test, Cross Referencing Resources, Artifact Platform Product

#34913 fix: adding new test cases for git auto-commit
  app/client/cypress/e2e/Regression/ClientSide/Git/GitAutocommit_spec.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/pages/Editor/gitSync/QuickGitActions/AutocommitStatusbar.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperFallbackImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperTest.java
Labels: Bug, Git Product, Task, Git Platform Pod, ok-to-test

#36065 chore: add code for paragraph-text morphing
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilWidgetAdditionSagas/helpers.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/__tests__/helpers.test.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/config/contentConfig.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/constants.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/helpers.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/index.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/types.ts
  app/client/src/widgets/wds/WDSEmailInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/component/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/component/types.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/helper.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSMultilineInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSNumberInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSParagraphWidget/__tests__/helpers.test.ts
  app/client/src/widgets/wds/WDSParagraphWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSParagraphWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSParagraphWidget/constants.ts
  app/client/src/widgets/wds/WDSParagraphWidget/helpers.ts
  app/client/src/widgets/wds/WDSPasswordInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSPhoneInputWidget/index.ts
Labels: skip-changelog, ok-to-test

#36083 fix: Fix test case for api
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_All_Verb_spec.js
  app/client/cypress/locators/ApiEditor.js
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: Bug, ok-to-test

#36092 feat: action redesign, UQI upgrade AWS plugin config to dual zone format
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/resources/editor/invoke.json
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/resources/editor/list.json
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/resources/editor/root.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36087 feat: action redesign, UQI upgrade Open AI plugin config to dual zone format
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/chat.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/embeddings.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/vision.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36138 test: remove redundant select workspace in cypres test
  app/client/cypress/e2e/Regression/ClientSide/Workspace/MemberRoles_Spec.ts
Labels: skip-changelog, ok-to-test, Test

#36157 fix: Colorpicker empty color value regression
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
Labels: Bug, ok-to-test

#36135 chore: Update test-build-docker-image.yml to trigger the build on pg branch
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#36177 chore: Added logs to allow capturing request id and processing for he…
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/HealthCheckControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/TenantControllerCE.java
Labels: skip-changelog

#35968 chore: Added details for running local setup
  contributions/ClientSetup.md
Labels: skip-changelog, Stale, ok-to-test

#36166 fix: Video2 spec flaky fix
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Video/Video2_Spec.ts
Labels: Bug, ok-to-test

#36172 fix: NPE while creating a policies copy
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PolicySolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/PolicySolutionCEImplTest.java
Labels: Bug, ok-to-test

#35714 chore: Transitions for IDE
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBranchProtect_spec.ts
  app/client/package.json
  app/client/src/IDE/Structure/Header.tsx
  app/client/src/IDE/Structure/constants.ts
  app/client/src/IDE/index.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/AnimatedGridLayout/components/LayoutArea/LayoutArea.tsx
  app/client/src/components/AnimatedGridLayout/constants.ts
  app/client/src/components/BottomBar/components.ts
  app/client/src/components/BottomBar/constants.ts
  app/client/src/components/BottomBar/index.tsx
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/layoutSystems/common/modalOverlay/ModalOverlayLayer.tsx
  app/client/src/pages/AdminSettings/components.tsx
  app/client/src/pages/AppViewer/Navigation/Sidebar.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/EditorName/components.ts
  app/client/src/pages/Editor/Explorer/Entity/EntityProperties.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Editor.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/ScreenModeToggle.tsx
  app/client/src/pages/Editor/IDE/Layout/AnimatedLayout.tsx
  app/client/src/pages/Editor/IDE/Layout/UnanimatedLayout.tsx
  app/client/src/pages/Editor/IDE/Layout/constants.ts
  app/client/src/pages/Editor/IDE/Layout/hooks/useEditorStateLeftPaneWidth.ts
  app/client/src/pages/Editor/IDE/Layout/hooks/useGridLayoutTemplate.ts
  app/client/src/pages/Editor/IDE/Layout/index.ts
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
  app/client/src/pages/Editor/IDE/LeftPane/LibrarySidePane.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/IDE/ProtectedCallout.test.tsx
  app/client/src/pages/Editor/IDE/ProtectedCallout.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/IDE/index.tsx
  app/client/src/pages/Editor/JSEditor/styledComponents.ts
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTitle.tsx
  app/client/src/pages/Editor/WidgetsEditor/WidgetEditorContainer.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/PropertyPaneWrapper.tsx
  app/client/src/pages/Editor/commons/EditorHeaderComponents.tsx
  app/client/src/pages/Editor/commons/EditorSettingsPaneContainer.tsx
  app/client/src/pages/Editor/commons/EditorWrapperContainer.tsx
  app/client/src/pages/Editor/commons/Omnibar.tsx
  app/client/src/pages/Editor/gitSync/components/GitErrorPopup.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/yarn.lock
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#36186 chore: add delete API call for rts
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RTSCaller.java
Labels: skip-changelog

#36158 fix: remove Select key value selects, fix default
  app/client/src/widgets/wds/WDSComboBoxWidget/config/propertyPaneConfig/validations/optionsCustomValidation.ts
  app/client/src/widgets/wds/WDSComboBoxWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSelectWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/propertyPaneConfig/validations/defaultOptionValidation.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/propertyPaneConfig/validations/optionsCustomValidation.ts
  app/client/src/widgets/wds/WDSSelectWidget/widget/index.tsx
Labels: Bug, Anvil team, ok-to-test

#36053 chore: shadow PR for external contribution #ce-35167
  app/client/src/sagas/DatasourcesSagas.ts
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/exceptions/PostgresErrorMessages.java
Labels: skip-changelog, ok-to-test

#35167 feat: Improved-error-messages-for-postgres-connection
  app/client/src/sagas/DatasourcesSagas.ts
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/exceptions/PostgresErrorMessages.java
Labels: Integrations Pod General, Community Contributor

#36118 chore: introduce caching and projection to optimise FPL
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ApplicationSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/ConsolidatedAPIServiceCECompatibleImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/annotations/CacheEvict.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/aspects/CacheAspect.java
Labels: Backend, Task, skip-changelog, ok-to-test

#36191 chore: Revert "fix: fixed back button to redirect to applications page"
  app/client/src/pages/UserProfile/index.test.tsx
  app/client/src/pages/UserProfile/index.tsx
  app/client/src/pages/workspace/__tests__/settings.test.tsx
  app/client/src/pages/workspace/settings.tsx
Labels: skip-changelog, ok-to-test

#36206 fix: updateWithoutPermission updates user instead of saving it
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: Bug, High, Production, Platform Administration Pod, RBAC Product, ok-to-test

#36221 chore: add uuid supported path
  app/client/src/ce/pages/Editor/Explorer/helpers.tsx
Labels: skip-changelog, ok-to-test

#36220 fix: flaky mongo spec test
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Mongo_Spec.ts
  app/client/cypress/support/Pages/Table.ts
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, cypress-flaky-fix, ok-to-test, Stability Pod

#36200 fix: Fixed flaky fork template test case
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_To_App_spec.ts
Labels: Bug, ok-to-test

#36205 chore: Make sure each container / pod has its own stdout log files
  deploy/docker/fs/etc/supervisor/supervisord.conf
Labels: skip-changelog

#36203 chore: Migration for missing datasource configuration on default rest datasources for git connected app.
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersionsFallback.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/utils/JsonSchemaMigrationHelper.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaMigrationTest.java
Labels: skip-changelog, ok-to-test

#36125 fix: Remove Gsheets unauth method
  app/client/cypress/e2e/GSheet/AllAccess_Spec.ts
  app/client/cypress/e2e/GSheet/GsheetMisc_Spec.ts
  app/client/cypress/e2e/GSheet/ReadNWrite_Access_Spec.ts
  app/client/cypress/e2e/GSheet/ReadOnly_Access_Spec.ts
  app/client/cypress/e2e/GSheet/WidgetBinding_AllAccess_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/GoogleSheets_spec.ts
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/form.json
Labels: Bug, Critical, Production, Google Sheets, Stale, Query & JS Pod, Integrations Product, ok-to-test

#36161 chore: makeParentDependedOnChildren optimisation only affected nodes in the graph is computed
  app/client/src/entities/DependencyMap/DependencyMapUtils.ts
  app/client/src/entities/DependencyMap/__tests__/index.test.ts
  app/client/src/workers/common/DependencyMap/index.ts
Labels: skip-changelog, ok-to-test

#36228 chore: fix select1 spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
Labels: skip-changelog

#36057 feat: Action redesign: Updating the config for Databricks plugin to use sections and zones format
  app/server/appsmith-plugins/databricksPlugin/src/main/resources/editor/root.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36098 feat: Action redesign: Updating the config for MongoDB plugin to use sections and zones format
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/aggregate.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/count.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/distinct.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/find.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/insert.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/raw.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/update.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36239 fix: cherry pick to master
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersionsFallback.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/utils/JsonSchemaMigrationHelper.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaMigrationTest.java
Labels: ok-to-test

#36244 fix: RBAC errors not showing toasts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/ErrorSagas.tsx
Labels: Bug, Critical, Production, Needs Triaging, Platform Administration Pod, Release Blocker, RBAC Product, ok-to-test

#36223 fix: Anthropic plugin config updated with better file structure
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/editor/chat.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/editor/vision.json
Labels: Bug, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36247 fix: fixed page data DB call getting called twice
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
Labels: Bug, Task, Query & JS Pod, Integrations Pod General, ok-to-test

#36222 feat: Action redesign - changes in save and edit datasource
  app/client/cypress/e2e/Sanity/Datasources/GraphQL_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/StoreAsDatasource.tsx
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36097 feat: Action redesign: Updating the config for Firestore plugin to use sections and zones format
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/addToCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/createDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/deleteDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/getCollection.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/getDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/setDocument.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/updateDocument.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36260 fix: Fixed Bug29566 spec with list widget
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug29566_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ListWidgetOnPageLoad_Spec.ts
Labels: Bug, ok-to-test

#36187 chore: Plugin Action Editor Context
  app/client/src/PluginActionEditor/PluginActionContext.tsx
  app/client/src/PluginActionEditor/PluginActionEditor.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/PluginActionForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponsePane.tsx
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/PluginActionEditor/index.ts
  app/client/src/ce/pages/Editor/AppPluginActionEditor/AppPluginActionEditor.tsx
  app/client/src/ee/pages/Editor/AppPluginActionEditor/AppPluginActionEditor.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/AppPluginActionEditor/index.ts
  app/client/src/pages/Editor/QueryEditor/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36264 fix: Default invalid sheet method value in Gsheet datasource
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/form.json
Labels: Bug, High, Release, Needs Triaging, Google Sheets, Query & JS Pod, Integrations Product, DailyPromotionBlocker, ok-to-test

#36214 chore: Move Toolbar to IDE
  app/client/src/IDE/Structure/Toolbar.tsx
  app/client/src/IDE/index.ts
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/ActionDrawer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/ActionEditor.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/ActionToolbar.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: IDE Product, skip-changelog, IDE Pod, ok-to-test

#36252 fix: 503 error recovery
  app/client/src/reducers/uiReducers/errorReducer.tsx
Labels: Bug, ok-to-test

#36117 feat: Action redesign: Updating the config for Google sheets plugin to use sections and zones format
  app/client/src/components/formControls/SortingControl.tsx
  app/client/src/pages/Editor/ActionForm/Zone/styles.module.css
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/entity_data.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/fetch_many.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/insert.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/editor/update.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36246 chore: Remove anvil from auto layout owners
  CODEOWNERS
Labels: skip-changelog, ok-to-test

#36061 feat: Allow table search to include label and value for tables with select column type
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter1_1_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
  app/client/cypress/fixtures/Table/DemoTableData.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Enhancement, Table Widget, Widgets Product, Production, Community Reported, Needs Triaging, Medium, ok-to-test, Widgets & Accelerators Pod

#36265 chore: Upgrade vulnerable express dependency
  app/client/packages/rts/package.json
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#36288 chore: Updated error handling
  .github/workflows/build-client-server-count.yml
  .github/workflows/ci-test-limited-with-count.yml
Labels: skip-changelog, ok-to-test

#36110 chore: remove typography selection in app theming
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AppTheming/AnvilAppThemingSnapshot_spec.ts
  app/client/packages/design-system/theming/src/hooks/src/index.ts
  app/client/packages/design-system/theming/src/hooks/src/useCssTokens.tsx
  app/client/packages/design-system/theming/src/hooks/src/useIconDensity.tsx
  app/client/packages/design-system/theming/src/hooks/src/useIconSizing.tsx
  app/client/packages/design-system/theming/src/hooks/src/useSizing.tsx
  app/client/packages/design-system/theming/src/hooks/src/useSpacing.tsx
  app/client/packages/design-system/theming/src/hooks/src/useTheme.tsx
  app/client/packages/design-system/theming/src/hooks/src/useTypography.tsx
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/design-system/theming/src/theme/src/types.ts
  app/client/packages/design-system/theming/src/token/src/TokensAccessor.ts
  app/client/packages/design-system/theming/src/token/src/types.ts
  app/client/packages/storybook/.storybook/addons/theming/ThemingPopup.tsx
  app/client/packages/storybook/.storybook/decorators/theming.tsx
  app/client/packages/storybook/src/components/ThemeSettings.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/WDSThemePropertyPane/index.tsx
Labels: skip-changelog, ok-to-test

#36297 fix: IDE Header Height usage
  app/client/src/pages/Editor/EditorName/components.ts
Labels: Bug, High, Production, Regressed, IDE Product, Needs Triaging, IDE Pod, IDE Navigation, ok-to-test

#36041 chore: JFR 24 hour script with logs file
  deploy/docker/fs/opt/appsmith/JFR-recording-24-hours.sh
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog, ok-to-test

#36305 chore: [Plugin Action Editor] Convert to Module
  app/client/src/PluginActionEditor/PluginActionContext.tsx
  app/client/src/PluginActionEditor/PluginActionEditor.tsx
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/AppPluginActionEditor.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/AppPluginActionToolbar.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ConvertToModule/ConvertToModuleCTA.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ConvertToModule/ConvertToModuleCallout.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ConvertToModule/ConvertToModuleDisabler.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ConvertToModule/index.tsx
Labels: skip-changelog, ok-to-test

#36303 test: fix failing table filter spec by rearranging steps.
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter1_1_Spec.ts
Labels: skip-changelog, ok-to-test, Test, Widgets & Accelerators Pod

#36307 chore: exclude test for gitautocommit
  app/client/cypress/e2e/Regression/ClientSide/Git/GitAutocommit_spec.ts
Labels: skip-changelog, ok-to-test

#36300 chore: remove filled icon style setting
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AppTheming/AnvilAppThemingSnapshot_spec.ts
  app/client/cypress/support/Pages/Anvil/AnvilSnapshot.ts
  app/client/packages/design-system/theming/src/hooks/src/useTheme.tsx
  app/client/packages/design-system/theming/src/theme/src/types.ts
  app/client/packages/design-system/theming/src/token/src/TokensAccessor.ts
  app/client/packages/design-system/theming/src/token/src/types.ts
  app/client/packages/design-system/widgets/src/components/Icon/src/Icon.tsx
  app/client/packages/design-system/widgets/src/components/Icon/src/icons.ts
  app/client/packages/design-system/widgets/src/components/Icon/src/types.ts
  app/client/packages/design-system/widgets/src/components/Icon/stories/Icon.stories.tsx
  app/client/packages/design-system/widgets/src/scripts/build-icons.ts
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/WDSThemePropertyPane/constants.ts
  app/client/src/pages/Editor/WDSThemePropertyPane/index.tsx
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#36282 feat: auto select parent of the removed component
  app/client/src/actions/widgetSelectionActions.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Enhancement, Task, Anvil Pod, ok-to-test

#36291 chore: change caddy admin interface
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, DevOps Pod

#36309 chore: add multi-arch support for dp image
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: skip-changelog

#36310 fix: failing multiarch dp images
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: Bug

#36313 fix: add depot token to dp ci
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
Labels: Bug

#36315 chore: Running on failure only (reverting to original)
  .github/workflows/ci-test-limited-with-count.yml
Labels: skip-changelog, ok-to-test

#36324 chore: Add common items in the Toolbar of AppPluginEditor
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/AppPluginActionToolbar.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/PluginActionMoreActions.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#36318 fix: consolidated api test file split to ce
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceImplTest.java
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#36295 chore(deps): Upgrade path-to-regexp from 6.2.0 to 6.3.0
  app/client/package.json
  app/client/yarn.lock
Labels: ok-to-test

#36261 chore: autocommit migration for annotation and embedded datasource changes.
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersionsFallback.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/utils/JsonSchemaMigrationHelper.java
Labels: skip-changelog, ok-to-test

#36325 fix: Fix datepicker issue with aghelper
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePickerV2_spec.js
  app/client/cypress/locators/FormWidgets.json
Labels: Bug, ok-to-test

#36323 fix: NPE for policies when `policyMap` is not present
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/ce/PolicyGeneratorCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/UserPermissionUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration025RemoveUnassignPermissionFromUnnecessaryRoles.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration028TagUserManagementRolesWithoutDefaultDomainTypeAndId.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration029PopulateDefaultDomainIdInUserManagementRoles.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
Labels: Bug, ok-to-test

#36328 chore: [Plugin Action Editor] Implement a useIsEditorIsInitialised hook
  app/client/src/IDE/hooks/index.ts
  app/client/src/PluginActionEditor/PluginActionEditor.tsx
  app/client/src/ce/IDE/hooks/useIsEditorInitialised.ts
  app/client/src/ee/IDE/hooks/useIsEditorInitialised.ts
Labels: IDE Product, skip-changelog, ok-to-test

#36339 test: fix DataSourceScheme
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, ok-to-test, Test

#36341 chore: Add null check for PolicyUtils
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/PolicyUtil.java
Labels: skip-changelog, ok-to-test

#36249 fix: mongo uri spec flakiness
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MongoURI_Spec.ts
  app/client/cypress/fixtures/mongouri_data_spec.json
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, cypress-flaky-fix, ok-to-test, Stability Pod

#36168 feat: Migrate DBform to UQI config
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_PageNo_PageSize_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicServerSideData_spec.js
  app/client/cypress/e2e/Regression/ServerSide/Params/ExecutionParams_spec.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/pages/Editor/QueryEditor/FormRender.tsx
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/workers/Evaluation/formEval.ts
  app/server/appsmith-plugins/arangoDBPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/dynamoPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/redisPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/editor.json
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36231 fix: logger-not-working-in-plugins
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/Stopwatch.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/plugins/AmazonS3Plugin.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/DatasourceUtils.java
  app/server/appsmith-plugins/anthropicPlugin/src/main/java/com/external/plugins/AnthropicPlugin.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/AppsmithAiPlugin.java
  app/server/appsmith-plugins/arangoDBPlugin/src/main/java/com/external/plugins/ArangoDBPlugin.java
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/java/com/external/plugins/AwsLambdaPlugin.java
  app/server/appsmith-plugins/databricksPlugin/src/main/java/com/external/plugins/DatabricksPlugin.java
  app/server/appsmith-plugins/dynamoPlugin/src/main/java/com/external/plugins/DynamoPlugin.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/googleAiPlugin/src/main/java/com/external/plugins/GoogleAiPlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/OpenAiPlugin.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/OraclePlugin.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/plugins/RedisPlugin.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/plugins/RedshiftPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/saasPlugin/src/main/java/com/external/plugins/SaasPlugin.java
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com/external/plugins/SmtpPlugin.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/plugins/SnowflakePlugin.java
Labels: Query & JS Pod, Integrations Pod General, Community Contributor, Integrations Pod

#36322 chore: Refer release base image on pg branch
  .github/workflows/build-docker-image.yml
Labels: skip-changelog, ok-to-test

#36376 fix: caddy partial metrics
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: Bug, DevOps Pod

#36374 chore: Add empty policyMap when policies are empty or null to fix NPE
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration062AddEmptyPolicyMapForNullValues.java
Labels: skip-changelog, ok-to-test

#36370 chore: fix map chart spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MapChart_Spec.ts
  app/client/cypress/locators/publishWidgetspage.json
  app/client/src/widgets/MapChartWidget/component/index.tsx
Labels: skip-changelog, ok-to-test

#36389 fix: Datasource preview not taking full height
  app/client/src/pages/Editor/DatasourceInfo/DatasorceTabs.tsx
Labels: Bug, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36356 test: fix canvas context property pane
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Property_Pane_2_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: skip-changelog, ok-to-test, Test

#36400 feat: telemetry added for current linter
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
Labels: Enhancement, Task, Workflows Pod, Workflows Product, ok-to-test, Workflows

#36395 chore: Page load instrumentation: add network and device info to page load spans
  app/client/src/UITelemetry/PageLoadInstrumentation.ts
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/index.tsx
Labels: skip-changelog, ok-to-test

#36416 chore: Removes unused feature flag ref
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
Labels: skip-changelog, Widgets & Accelerators Pod

#36411 chore: Revert "feat: telemetry added for current linter (#36400)"
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
Labels: skip-changelog, ok-to-test

#36354 chore: add custom serialiser and deserialiser to handle null values in the page DSL
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/converters/JSONObjectDeserializer.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/converters/JSONObjectSerializer.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/JsonForDatabase.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/converter/JSONObjectDeserializerTest.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/converter/JSONObjectSerializerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceImplTest.java
Labels: ok-to-test

#36422 fix: disable anvil snapshots tests
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilModal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AppTheming/AnvilAppThemingSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilCheckboxGroupWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilCheckboxWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilCurrencyInputWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilHeadingWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilIconButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilInlineButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilInputWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilParagraphWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilPhoneInputWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilRadioGroupWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilStatsWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilSwitchGroupWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilSwitchWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilTableWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilToolbarButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilZoneSectionWidgetSnapshot_spec.ts
Labels: Bug, ok-to-test

#36398 chore: Calling `changeApi` and `changeQuery` actions based on PluginType when plugin action form component is mounted
  app/client/src/PluginActionEditor/components/PluginActionForm/PluginActionForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/hooks/useChangeActionCall.test.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/hooks/useChangeActionCall.ts
  app/client/src/entities/Action/index.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36424 feat: Make images adaptable to support both Postgres and MongoDB uris
  .editorconfig
  .github/workflows/build-docker-image.yml
  .gitignore
  Dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/run-java.sh
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/backend.conf
  scripts/local_testing.sh
  scripts/prepare_server_artifacts.sh
Labels: skip-changelog, ok-to-test

#36399 chore: Trigger TBP on pg for scheduled run on release
  .github/workflows/build-docker-image.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, ok-to-test

#36429 fix: TBP for the invalid usage of GH workflow_dispatch action
  .github/workflows/test-build-docker-image.yml
Labels: Bug

#36417 chore: add telemetry for current linter
  app/client/src/plugins/Linting/handlers/lintService.ts
  app/client/src/plugins/Linting/handlers/setupLinkingWorkerEnv.ts
  app/client/src/plugins/Linting/handlers/updateJSLibraryGlobals.ts
  app/client/src/plugins/Linting/lintTree.ts
  app/client/src/plugins/Linting/linters/worker.ts
  app/client/src/plugins/Linting/tests/getLintingErrors.test.ts
  app/client/src/plugins/Linting/types.ts
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
  app/client/src/plugins/Linting/utils/lintBindingPath.ts
  app/client/src/plugins/Linting/utils/lintJSObjectBody.ts
  app/client/src/plugins/Linting/utils/lintJSObjectProperty.ts
  app/client/src/plugins/Linting/utils/lintJSProperty.ts
  app/client/src/plugins/Linting/utils/lintTriggerPath.ts
Labels: Task, skip-changelog, Workflows Pod, Workflows Product, ok-to-test

#36380 chore: [Plugin Action Editor] CommonEditorForm
  app/client/src/PluginActionEditor/components/PluginActionForm/PluginActionForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/APIEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/CommonEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/HintMessages.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/InfoFields.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/RequestTabs.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/components/DatasourceConfig.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/hooks/useSelectedFormTab.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/index.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/utils/getDatasourceInfo.ts
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/actions/apiPaneActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
  app/client/src/ce/reducers/uiReducers/apiPaneReducer.ts
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/components/editorComponents/form/fields/EmbeddedDatasourcePathField.tsx
  app/client/src/pages/Editor/APIEditor/ApiRightPane.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/RestAPIForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/selectors/apiPaneSelectors.ts
Labels: skip-changelog

#36408 chore: add reo client sdk to index.html
  app/client/public/index.html
Labels: skip-changelog, ok-to-test

#36436 chore: Remove pg build input for build docker as not needed anymore
  .github/workflows/pr-cypress.yml
Labels: skip-changelog, ok-to-test

#36430 chore: Modify inputs for TBP workflow_dispatch on pg branch
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#36393 fix: Incorrect updation of selctedRowIndex when primary column is set.
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_FilteredTableData_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_FilteredTableData_spec.ts
  app/client/cypress/fixtures/tableV2FilteringWithPrimaryColumn.json
  app/client/cypress/fixtures/tableV2FilteringWithPrimaryColumnJSObjectWidthData.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Bug, Widgets Product, High, Production, Needs Triaging, Table Widget V2, ok-to-test, Widgets & Accelerators Pod

#36366 fix: Inline editing flaky test fix
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Inline_editing_2_spec.js
  app/client/cypress/locators/WidgetLocators.ts
  app/client/cypress/locators/Widgets.json
Labels: Bug, ok-to-test

#36451 chore: Disable MSSql tests as test container is unable to accept connection
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlGetDBSchemaTest.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
  app/server/appsmith-plugins/redisPlugin/src/test/java/com/external/plugins/RedisPluginTest.java
Labels: skip-changelog

#36363 fix: loading state for pull
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
Labels: Bug, UX Improvement, Production, Needs Triaging, Git Product, Medium, Git Platform Pod, ok-to-test

#36413 chore: removed non reactive json migration
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/artifactbased/ArtifactBasedImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/CommonGitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/gac/DefaultBranchGACTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/gac/GitServiceWithRBACTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaMigrationTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ee/ImportExportApplicationServiceEETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ee/ImportExportApplicationServiceGACTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
Labels: Task, skip-changelog, ok-to-test

#36442 chore: Adding a new hook to set `settingsConfig` for an action based on IDE type
  app/client/src/PluginActionEditor/PluginActionEditor.tsx
  app/client/src/PluginActionEditor/hooks/index.ts
  app/client/src/ce/PluginActionEditor/hooks/useActionSettingsConfig.ts
  app/client/src/ee/PluginActionEditor/hooks/useActionSettingsConfig.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36364 fix: fixing cta for git import modal
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/gitSync/Tabs/GitConnectionV2/index.tsx
Labels: Bug, Low, Production, Low effort, Git Product, Git Platform Pod, ok-to-test

#36459 chore: fix this.rootSpan undefined bug in PageLoadInstrumentation
  app/client/src/UITelemetry/PageLoadInstrumentation.ts
Labels: skip-changelog, ok-to-test

#36471 fix: Unit test fix
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ImportExportConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
Labels: Bug, ok-to-test

#35461 chore: Add cache control header for static files
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, Stale, ok-to-test

#36375 fix: isRequired validation property for table select column
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Table_select_validation_spec.ts
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/Pages/Table.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validation.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Validations/Common.ts
Labels: Bug, Enhancement, Table Widget, Widgets Product, ok-to-test, Table Inline Edit, Widgets & Accelerators Pod

#36461 chore: delete unused code
  app/client/knip.json
  app/client/src/actions/helpActions.ts
  app/client/src/actions/tourActions.ts
  app/client/src/api/SaasApi.ts
  app/client/src/assets/icons/blueprintjs/svgo.config.js
  app/client/src/ce/actions/auditLogsAction.ts
  app/client/src/ce/api/GitExtendedApi.ts
  app/client/src/ce/entities/DataTree/actionTriggers.ts
  app/client/src/ce/mocks/handlers.ts
  app/client/src/ce/workers/Evaluation/PlatformFunctions.ts
  app/client/src/components/editorComponents/CodeEditor/utils/entityNavigationUtils.ts
  app/client/src/components/editorComponents/LightningMenu/hooks.ts
  app/client/src/constants/ProductUpdate.ts
  app/client/src/constants/serverAssets.ts
  app/client/src/ee/actions/auditLogsAction.ts
  app/client/src/ee/api/GitExtendedApi.ts
  app/client/src/ee/entities/DataTree/actionTriggers.ts
  app/client/src/ee/mocks/handlers.ts
  app/client/src/ee/workers/Evaluation/PlatformFunctions.ts
  app/client/src/entities/AppsmithConsole/action.ts
  app/client/src/entities/AppsmithConsole/binding.ts
  app/client/src/entities/AppsmithConsole/eval.ts
  app/client/src/entities/AppsmithConsole/widget.ts
  app/client/src/layoutSystems/anvil/editor/canvasArenas/utils/dndEventUtils.ts
  app/client/src/layoutSystems/anvil/utils/widgetAdditionUtils.ts
  app/client/src/layoutSystems/autolayout/utils/data/contentData.ts
  app/client/src/layoutSystems/common/utils/commonTypes.ts
  app/client/src/layoutSystems/constants.ts
  app/client/src/mockComponentProps/WidgetPayloads.ts
  app/client/src/mocks/browser.ts
  app/client/src/mocks/widgetProps/container.ts
  app/client/src/pages/AppViewer/AppPage/constants.ts
  app/client/src/pages/Editor/Explorer/mockTestData.ts
  app/client/src/pages/hooks/utils/index.ts
  app/client/src/sagas/PasteWidgetUtils/PasteWidgetUtils.fixture.ts
  app/client/src/sagas/WebsocketSagas/utils.ts
  app/client/src/selectors/websocketSelectors.ts
  app/client/src/utils/ProductRamps/index.ts
  app/client/src/utils/decorators.ts
  app/client/src/utils/hooks/useCanvasMinHeightUpdateHook.ts
  app/client/src/utils/layoutPropertiesUtils.ts
  app/client/src/utils/testDSLs.ts
  app/client/src/widgets/ButtonGroupWidget/constants.ts
  app/client/src/widgets/ButtonWidget/constants.ts
  app/client/src/widgets/DividerWidget/constants.ts
  app/client/src/widgets/ExternalWidget/constants.ts
  app/client/src/widgets/IconButtonWidget/constants.ts
  app/client/src/widgets/MultiSelectWidget/constants.ts
  app/client/src/widgets/StatboxWidget/constants.ts
  app/client/src/widgets/SwitchWidget/constants.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSSelectWidget/config/featuresConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/config/propertyPaneConfig/PanelConfig/Alignment.ts
  app/client/src/widgets/wds/WDSTableWidget/config/propertyPaneConfig/PanelConfig/Icon.ts
  app/client/src/widgets/wds/WDSTableWidget/config/propertyPaneConfig/PanelConfig/Select.ts
  app/client/src/widgets/wds/WDSTableWidget/config/propertyPaneConfig/PanelConfig/childPanels/configureMenuItemsConfig.ts
Labels: skip-changelog, ok-to-test

#36407 feat: Added warning message in response pane while prepared statement is on
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.test.tsx
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.tsx
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36487 fix: initial store value fix for query response tab test case
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.test.tsx
Labels: Bug, ok-to-test

#36493 fix: Query instance failure caused by missing prepared statement obj
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.tsx
Labels: Bug, ok-to-test

#36483 fix: js library default export to a unique name instead of default key in self
  app/client/src/workers/Evaluation/handlers/__tests__/jsLibrary.test.ts
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
Labels: Bug, Community Reported, Javascript Product, Query & JS Pod, Medium, Custom JS Libraries, ok-to-test

#36513 chore: Add step to place server artifacts for `package-master` stage
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#36516 chore: Add server artifacts for pg and mongodb for github release workflow
  .github/workflows/github-release.yml
Labels: skip-changelog

#36500 chore: caddy: enable logging of static file requests
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, ok-to-test

#36519 test: fix test in airgap for canvas context prop
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Property_Pane_1_spec.js
Labels: skip-changelog, ok-to-test, Test

#36485 chore: Init Plugin Action Response
  app/client/src/PluginActionEditor/PluginActionContext.tsx
  app/client/src/PluginActionEditor/PluginActionEditor.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/components/DatasourceConfig.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/PluginActionResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/ApiFormatSegmentedResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/ApiResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/ApiResponseHeaders.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/NoResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/ResponseFormatTabs.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/hooks/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/utils/actionHasFailed.test.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/utils/actionHasFailed.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/utils/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/utils/isHtml.test.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/utils/isHtml.ts
  app/client/src/PluginActionEditor/components/PluginActionResponsePane.tsx
  app/client/src/PluginActionEditor/index.ts
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/AppPluginActionEditor/AppPluginActionEditor.tsx
  app/client/src/components/editorComponents/ActionExecutionInProgressView.tsx
  app/client/src/components/editorComponents/ApiResponseView.test.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/components/editorComponents/utils.test.ts
  app/client/src/components/editorComponents/utils.ts
  app/client/src/constants/ApiEditorConstants/CommonApiConstants.ts
  app/client/src/ee/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36512 chore: [Plugin Action Form] Common Editor State
  app/client/src/PluginActionEditor/components/PluginActionForm/components/APIEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/CommonEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/RequestTabs.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/hooks/useGetFormActionValues.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/utils/getHeadersCount.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/utils/getParamsCount.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/utils/getValidProperties.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/utils/index.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/hooks/useChangeActionCall.test.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/hooks/useChangeActionCall.ts
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/RestAPIForm.tsx
Labels: skip-changelog, ok-to-test

#36347 chore: making autocommit GA
  app/client/cypress/e2e/Regression/ClientSide/Git/GitAutocommit_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabGeneral/DangerZone.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/index.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/operations/FileOperationsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/operations/FileOperationsCEv2Impl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/operations/FileOperationsImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/operations/FileOperationsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperFallbackImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperFallbackImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ServerSchemaMigrationEnforcerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/ApplicationPageServiceAutoCommitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaMigrationTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaVersionsTest.java
  app/server/appsmith-server/src/test/resources/com/appsmith/server/git/application.json
Labels: skip-changelog, ok-to-test

#36458 chore: Add mover script for Mongo to postgres migration
  deploy/docker/fs/opt/appsmith/baseline-ce/config.jsonl
  deploy/docker/fs/opt/appsmith/baseline-ce/customJSLib.jsonl
  deploy/docker/fs/opt/appsmith/baseline-ce/permissionGroup.jsonl
  deploy/docker/fs/opt/appsmith/baseline-ce/plugin.jsonl
  deploy/docker/fs/opt/appsmith/baseline-ce/sequence.jsonl
  deploy/docker/fs/opt/appsmith/baseline-ce/tenant.jsonl
  deploy/docker/fs/opt/appsmith/baseline-ce/theme.jsonl
  deploy/docker/fs/opt/appsmith/baseline-ce/user.jsonl
  deploy/docker/fs/opt/appsmith/utils/bin/move-to-postgres.mjs
  scripts/regen-baseline.sh
Labels: skip-changelog, ok-to-test

#36412 chore: Refactor API
  app/client/packages/utils/src/compose/compose.ts
  app/client/packages/utils/src/compose/index.ts
  app/client/packages/utils/src/index.ts
  app/client/src/api/Api.ts
  app/client/src/api/ConsolidatedPageLoadApi.tsx
  app/client/src/api/__tests__/apiFailureResponseInterceptors.ts
  app/client/src/api/__tests__/apiRequestInterceptors.ts
  app/client/src/api/__tests__/apiSucessResponseInterceptors.ts
  app/client/src/api/core/api.ts
  app/client/src/api/core/factory.ts
  app/client/src/api/core/index.ts
  app/client/src/api/helpers/addExecutionMetaProperties.ts
  app/client/src/api/helpers/index.ts
  app/client/src/api/helpers/is404orAuthPath.ts
  app/client/src/api/helpers/validateJsonResponseMeta.ts
  app/client/src/api/index.ts
  app/client/src/api/interceptors/index.ts
  app/client/src/api/interceptors/request/addAnonymousUserIdHeader.ts
  app/client/src/api/interceptors/request/addEnvironmentHeader.ts
  app/client/src/api/interceptors/request/addGitBranchHeader.ts
  app/client/src/api/interceptors/request/addPerformanceMonitoringHeaders.ts
  app/client/src/api/interceptors/request/addRequestedByHeader.ts
  app/client/src/api/interceptors/request/apiRequestInterceptor.ts
  app/client/src/api/interceptors/request/blockAirgappedRoutes.ts
  app/client/src/api/interceptors/request/increaseGitApiTimeout.ts
  app/client/src/api/interceptors/request/index.ts
  app/client/src/api/interceptors/response/apiFailureResponseInterceptor.ts
  app/client/src/api/interceptors/response/apiSuccessResponseInterceptor.ts
  app/client/src/api/interceptors/response/failureHandlers/handle413Error.ts
  app/client/src/api/interceptors/response/failureHandlers/handleCancelError.ts
  app/client/src/api/interceptors/response/failureHandlers/handleExecuteActionError.ts
  app/client/src/api/interceptors/response/failureHandlers/handleMissingResponseMeta.ts
  app/client/src/api/interceptors/response/failureHandlers/handleNotFoundError.ts
  app/client/src/api/interceptors/response/failureHandlers/handleOfflineError.ts
  app/client/src/api/interceptors/response/failureHandlers/handleServerError.ts
  app/client/src/api/interceptors/response/failureHandlers/handleTimeoutError.ts
  app/client/src/api/interceptors/response/failureHandlers/handleUnauthorizedError.ts
  app/client/src/api/interceptors/response/failureHandlers/index.ts
  app/client/src/api/interceptors/response/index.ts
  app/client/src/api/services/AppThemingApi/api.ts
  app/client/src/api/services/AppThemingApi/index.ts
  app/client/src/api/services/ConsolidatedPageLoadApi/api.ts
  app/client/src/api/services/ConsolidatedPageLoadApi/index.ts
  app/client/src/api/services/index.ts
  app/client/src/api/types.ts
  app/client/src/ce/api/ApiUtils.test.ts
  app/client/src/ce/api/ApiUtils.ts
  app/client/src/ce/constants/ApiConstants.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/sagas/AppThemingSaga.tsx
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/helper.ts
Labels: Task, skip-changelog, ok-to-test

#36062 fix: mongo schema collections order of mongo plugin
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginQueriesTest.java
Labels: Integrations Pod General, Community Contributor, Integrations Pod

#36554 chore: update the channel id for the postgres conflict alerts
  .github/workflows/sync-release-to-pg.yml
Labels: skip-changelog

#36545 test: udpated 3rd party api for Commandclick nav spec
  app/client/cypress/e2e/Regression/ClientSide/IDE/Command_Click_Navigation_spec.js
Labels: skip-changelog, ok-to-test, Test

#36561 fix: added flags back
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
Labels: Bug

#36539 fix: js library load functionality handling for default exports
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
Labels: Bug, High, Production, Community Reported, Needs Triaging, Javascript Product, Query & JS Pod, Custom JS Libraries, ok-to-test

#36518 test: replace 3rd party API1 CE
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Edit_spec.js
Labels: skip-changelog, ok-to-test, Test

#36574 fix: Quick fixes for current state of Plugin Action Editor
  app/client/src/PluginActionEditor/components/PluginActionForm/PluginActionForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/hooks/useGetFormActionValues.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/PluginActionResponse.tsx
Labels: Bug, ok-to-test

#36480 feat: added LRU cache for mockDB connections
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/PluginConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/DatasourcePluginContext.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
Labels: Enhancement, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#36579 fix: fixed autocommit spec for airgap
  app/client/cypress/e2e/Regression/ClientSide/Git/GitAutocommit_spec.ts
Labels: Bug, ok-to-test

#36560 chore: Handling the updation of action name in the plugin action toolbar
  app/client/src/PluginActionEditor/components/PluginActionNameEditor.tsx
  app/client/src/PluginActionEditor/index.ts
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/components/utils/NameEditorComponent.tsx
  app/client/src/pages/Editor/APIEditor/ApiEditorContext.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/pages/Editor/QueryEditor/QueryEditorContext.tsx
  app/client/src/pages/Editor/QueryEditor/QueryEditorHeader.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test
