Repository appsmithorg/appsmith, pull requests merged in 2024-12, with the labels that each got.

#37865 feat: git mod - shifting from yarn pkg to monolith
  app/client/package.json
  app/client/packages/git/.eslintrc.json
  app/client/packages/git/package.json
  app/client/packages/git/tsconfig.json
  app/client/src/git/actions/checkoutBranchActions.ts
  app/client/src/git/actions/commitActions.ts
  app/client/src/git/actions/connectActions.ts
  app/client/src/git/actions/createBranchActions.ts
  app/client/src/git/actions/deleteBranchActions.ts
  app/client/src/git/actions/discardActions.ts
  app/client/src/git/actions/disconnectActions.ts
  app/client/src/git/actions/fetchAutocommitProgressActions.ts
  app/client/src/git/actions/fetchBranchesActions.ts
  app/client/src/git/actions/fetchGlobalConfigActions.ts
  app/client/src/git/actions/fetchLocalConfigActions.ts
  app/client/src/git/actions/fetchMergeStatusActions.ts
  app/client/src/git/actions/fetchMetadataActions.ts
  app/client/src/git/actions/fetchProtectedBranchesActions.ts
  app/client/src/git/actions/fetchSSHKeyActions.ts
  app/client/src/git/actions/fetchStatusActions.ts
  app/client/src/git/actions/generateSSHKey.ts
  app/client/src/git/actions/helpers/createSingleArtifactAction.ts
  app/client/src/git/actions/helpers/singleArtifactInitialState.ts
  app/client/src/git/actions/mergeActions.ts
  app/client/src/git/actions/mountActions.ts
  app/client/src/git/actions/pullActions.ts
  app/client/src/git/actions/toggleAutocommitActions.ts
  app/client/src/git/actions/triggerAutocommitActions.ts
  app/client/src/git/actions/updateGlobalConfigActions.ts
  app/client/src/git/actions/updateLocalConfigActions.ts
  app/client/src/git/actions/updateProtectedBranchesActions.ts
  app/client/src/git/components/connect/GitTest.tsx
  app/client/src/git/enums.ts
  app/client/src/git/store/gitArtifactSlice.ts
  app/client/src/git/store/index.ts
  app/client/src/git/types.ts
  app/client/yarn.lock
Labels: Enhancement, ok-to-test

#37605 chore: add postgres db during the startup conditionally
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, ok-to-test

#37668 chore: removed redundant page DB calls from js action creation flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/CreateActionMetaDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/clonepage/ActionClonePageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#37909 fix: Broken UI on JS module instance in the side by side view mode
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/old/JSFunctionRun.tsx
Labels: Bug, ok-to-test

#37911 fix: path fix for botton pane cypress
  app/client/cypress/e2e/Regression/ClientSide/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Binding_Bug28287_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Querypane_Mongo_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/IDE/BottomTabs/Response.ts
  app/client/cypress/support/Pages/IDE/BottomTabs/index.ts
  app/client/cypress/support/Pages/IDE/Bottompane/Response.ts
  app/client/cypress/support/Pages/IDE/Bottompane/index.ts
Labels: Bug, ok-to-test

#37913 fix: Broken UI on JS module instance in the side by side view mode (#37909)
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/old/JSFunctionRun.tsx
Labels: ok-to-test

#37920 chore: Git resource map conversions
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/DSLTransformerHelper.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ModifiedResources.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ce/ModifiedResourcesCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/models/GitResourceIdentity.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/exportable/ActionCollectionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ApplicationJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ArtifactExchangeJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedExportableResourcesCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CommonGitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ArtifactGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/exportable/CustomJSLibExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/exportable/NewActionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/exportable/NewPageExportableServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/resourcemap/ExchangeJsonConversionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/resourcemap/templates/providers/ce/ExchangeJsonTestTemplateProviderCE.java
Labels: skip-changelog, ok-to-test

#37922 feat: added commit changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/GitApplicationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/GitRedisUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/dtos/ArtifactJsonTransformationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitArtifactHelperCE.java
Labels: Enhancement, potential-duplicate, Git Product, Task, ok-to-test, Packages & Git Pod

#37921 fix: appsmith ai app git import issue fixed
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/utils/FileUtils.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/test/java/com/external/plugins/services/FileUtilTest.java
Labels: Bug, Backend, High, Production, Needs Triaging, Query & JS Pod, Integrations Product, Integrations Pod General, AI, ok-to-test

#37940 fix: fixing usage pulse for anon user
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/ce/sagas/userSagas.tsx
Labels: Bug, High, Production, Needs Triaging, Billing, Billing & Licensing Product, ok-to-test

#37934 chore: git detach
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: potential-duplicate, Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#37763 feat: center align action forms
  app/client/src/PluginActionEditor/components/PluginActionForm/components/ActionForm/Zone/styles.module.css
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/UQIEditorForm.tsx
  app/client/src/components/editorComponents/form/fields/StyledFormComponents.tsx
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#37952 fix: fixing usage pulse for anon user (#37940)
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/ce/sagas/userSagas.tsx
Labels: ok-to-test

#37980 chore: Added spans to health check
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/HealthSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/HealthSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/HealthCheckServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/HealthCheckServiceCEImpl.java
Labels: skip-changelog

#37944 chore: Add code split for adding package pull status indicator
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#37949 chore: Skip unnecessary RTS calls to optimise performance
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ASTServiceCETest.java
Labels: Backend, Task, skip-changelog, Javascript Product, Query & JS Pod, AST-backend, Packages Pod, ok-to-test, Packages & Git Pod

#37938 chore: git modularisation disconnect modal
  app/client/src/git/components/DisconnectModal/index.test.tsx
  app/client/src/git/components/DisconnectModal/index.tsx
Labels: Task, skip-changelog, Packages Pod, ok-to-test, Packages & Git Pod

#37068 fix: Add password based auth for postgres
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/pg-utils.sh
  deploy/docker/fs/opt/appsmith/postgres/appsmith_hba.conf
  deploy/docker/tests/.gitignore
  deploy/docker/tests/composes.sh
  deploy/docker/tests/test-pg-auth.sh
  deploy/docker/tests/test-pg-utils.sh
  scripts/local_testing.sh
Labels: Bug, ok-to-test

#37981 fix: Leaving editable tab in error state
  app/client/src/IDE/Components/EditableName/EditableName.test.tsx
  app/client/src/IDE/Components/EditableName/EditableName.tsx
Labels: Bug, ok-to-test

#37984 chore: git mod - migrating apis for git
  app/client/src/git/actions/helpers/singleArtifactInitialState.ts
  app/client/src/git/components/QuickActions/index.test.tsx
  app/client/src/git/components/QuickActions/index.tsx
  app/client/src/git/constants/enums.ts
  app/client/src/git/requests/checkoutBranchRequest.ts
  app/client/src/git/requests/checkoutBranchRequest.types.ts
  app/client/src/git/requests/commitRequest.ts
  app/client/src/git/requests/commitRequest.types.ts
  app/client/src/git/requests/connectRequest.ts
  app/client/src/git/requests/connectRequest.types.ts
  app/client/src/git/requests/constants.ts
  app/client/src/git/requests/createBranchRequest.ts
  app/client/src/git/requests/createBranchRequest.types.ts
  app/client/src/git/requests/deleteBranchRequest.ts
  app/client/src/git/requests/deleteBranchRequest.types.ts
  app/client/src/git/requests/discardRequest.ts
  app/client/src/git/requests/disconnectRequest.ts
  app/client/src/git/requests/disconnectRequest.types.ts
  app/client/src/git/requests/fetchAutocommitProgressRequest.ts
  app/client/src/git/requests/fetchAutocommitProgressRequest.types.ts
  app/client/src/git/requests/fetchBranchesRequest.ts
  app/client/src/git/requests/fetchBranchesRequest.types.ts
  app/client/src/git/requests/fetchGitMetadataRequest.ts
  app/client/src/git/requests/fetchGitMetadataRequest.types.ts
  app/client/src/git/requests/fetchGlobalConfigRequest.ts
  app/client/src/git/requests/fetchGlobalConfigRequest.types.ts
  app/client/src/git/requests/fetchLocalConfigRequest.ts
  app/client/src/git/requests/fetchLocalConfigRequest.types.ts
  app/client/src/git/requests/fetchMergeStatusRequest.ts
  app/client/src/git/requests/fetchMergeStatusRequest.types.ts
  app/client/src/git/requests/fetchProtectedBranchesRequest.ts
  app/client/src/git/requests/fetchProtectedBranchesRequest.types.ts
  app/client/src/git/requests/fetchSSHKeyRequest.ts
  app/client/src/git/requests/fetchSSHKeyRequest.types.ts
  app/client/src/git/requests/fetchStatusRequest.ts
  app/client/src/git/requests/fetchStatusRequest.types.ts
  app/client/src/git/requests/generateSSHKeyRequest.ts
  app/client/src/git/requests/generateSSHKeyRequest.types.ts
  app/client/src/git/requests/importGitRequest.ts
  app/client/src/git/requests/importGitRequest.types.ts
  app/client/src/git/requests/mergeRequest.ts
  app/client/src/git/requests/mergeRequest.types.ts
  app/client/src/git/requests/pullRequest.ts
  app/client/src/git/requests/pullRequest.types.ts
  app/client/src/git/requests/toggleAutocommitRequest.ts
  app/client/src/git/requests/toggleAutocommitRequest.types.ts
  app/client/src/git/requests/triggerAutocommitRequest.ts
  app/client/src/git/requests/triggerAutocommitRequest.types.ts
  app/client/src/git/requests/updateGlobalConfigRequest.ts
  app/client/src/git/requests/updateGlobalConfigRequest.types.ts
  app/client/src/git/requests/updateLocalConfigRequest.ts
  app/client/src/git/requests/updateLocalConfigRequest.types.ts
  app/client/src/git/requests/updateProtectedBranchesRequest.ts
  app/client/src/git/requests/updateProtectedBranchesRequest.types.ts
  app/client/src/git/types.ts
Labels: Task, skip-changelog, Packages Pod, ok-to-test, Packages & Git Pod

#37878 chore: add custom widget to anvil
  app/client/packages/design-system/theming/src/utils/cssRule.ts
  app/client/src/layoutSystems/anvil/editor/styles.module.css
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/appsmithConsole.js
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/constants.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/customWidgetScript.test.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/customWidgetscript.js
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/reset.css
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/styles.module.css
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/useCustomWidgetHeight.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/config/anvilConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/config/defaultsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/config/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/config/metaConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/config/propertyPaneConfig/contentConfig.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/config/propertyPaneConfig/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/config/setterConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/constants.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/helpers/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/icon.svg
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/thumbnail.svg
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/types.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/widget/defaultApp.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/constants.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/index.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/react.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/vanillaJs.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/vue.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/styles.module.css
  app/client/src/pages/Editor/CustomWidgetBuilder/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/styles.module.css
  app/client/src/utils/CustomWidgetBuilderService.ts
  app/client/src/widgets/index.ts
Labels: skip-changelog, ok-to-test

#38019 fix: Server startup issue for external postgres
  deploy/docker/fs/opt/appsmith/pg-utils.sh
Labels: Bug

#38018 fix: Fix flaky test case for the iframe spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Iframe/IframeTest_spec.ts
  app/client/cypress/fixtures/IframeWidgetPostMessage.json
  app/client/cypress/fixtures/testdata.json
  app/client/cypress/limited-tests.txt
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: Bug

#37936 fix: Fix for the test case
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bug26941_Spec.ts
Labels: Bug, ok-to-test

#38024 chore: Reverted the change
  app/client/cypress/limited-tests.txt
Labels: skip-changelog

#38025 chore: Add version input for generate info json script
  .github/workflows/ad-hoc-docker-image.yml
  scripts/generate_info_json.sh
Labels: skip-changelog

#38021 fix: Renaming tests with error expectations
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Entity_Naming_conflict_spec.js
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/Pages/AggregateHelper.ts
Labels: Bug, ok-to-test

#37976 chore: changed evaluateTree to use klonaJSON
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, ok-to-test

#38006 test: fixed failing EntityBottomBar spec
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/EntityBottomBar_spec.ts
Labels: skip-changelog, ok-to-test, Test

#38001 fix: Widget property test case fix
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
Labels: Bug, ok-to-test

#38035 fix: Update for fix
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bug26941_Spec.ts
Labels: Bug, ok-to-test

#38030 fix: Only updating the required fields in User while generating usage pulse to avoid overwriting default fields.
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: Bug, ok-to-test

#38042 chore: Update RestApiDatasource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/RestApiDatasource_spec.js
Labels: skip-changelog, ok-to-test

#38012 feat: requesting new integration ui to accept users preferences about the new integrations
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/components/utils/ReduxFormTextField.tsx
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/RequestNewIntegration/form.tsx
  app/client/src/pages/Editor/IntegrationEditor/RequestNewIntegration/index.tsx
Labels: Enhancement, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#37941 chore: Updating styles and adding docs link for REST API plugin for better UI/UX
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bug25148_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/GraphQL_spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/Switch/Switch.styles.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/datasource-config.svg
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/components/EmbeddedDatasourcePathField.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/PluginActionResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/CurrentDataSource.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/CurrentDataSourceLink.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/Datasource.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceInfo.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceSelector/ApiDatasourceSelector.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceSelector/PluginDatasourceSelector.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceSelector/QueryDatasourceSelector.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceSelector/index.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceTables.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/StatusDisplay.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/TableColumns.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/constants.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/index.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/styles.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/QueryResponseTab/styles.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema/index.tsx
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/Debugger/DebuggerTabs.tsx
  app/client/src/components/editorComponents/Debugger/constants.ts
  app/client/src/pages/Editor/DataSourceEditor/Debugger.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration064AddPluginDocUrlToRestApiPlugin.java
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38045 fix:Widget Column test case fix
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
Labels: Bug, ok-to-test

#38039 fix: Fix iframe and widget test case for clicking
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Iframe/IframeTest_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: Bug, ok-to-test

#38009 chore: fetch remote reference in local
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/GitArtifactMetadataCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/utils/GitAnalyticsUtils.java
Labels: skip-changelog, ok-to-test

#38015 chore: remove the if condition as not supported in workflow file
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, ok-to-test

#38052 chore: make all dates static in calendar story
  app/client/packages/design-system/widgets/src/components/Calendar/stories/Calendar.stories.tsx
Labels: skip-changelog, ok-to-test

#37897 feat: unified response view component
  app/client/cypress/e2e/GSheet/AllAccess_Spec.ts
  app/client/cypress/e2e/GSheet/GsheetMisc_Spec.ts
  app/client/cypress/e2e/GSheet/ReadNWrite_Access_Spec.ts
  app/client/cypress/e2e/GSheet/ReadOnly_Access_Spec.ts
  app/client/cypress/e2e/GSheet/SelectedSheet_Access_Spec.ts
  app/client/cypress/e2e/GSheet/WidgetBinding_AllAccess_Spec.ts
  app/client/cypress/e2e/GSheet/WidgetBinding_SelectedAccess_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Binding/API_with_List_Widget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Button_with_API_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/JSObjectToListWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Api_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Table_Api_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Response_View_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Search_spec.js
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/EmptyDataSource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/locators/ApiEditor.js
  app/client/cypress/locators/apiWidgetslocator.json
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/Pages/DebuggerHelper.ts
  app/client/cypress/support/Pages/IDE/BottomTabs/Response.ts
  app/client/package.json
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/ApiResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/QueryResponseTab/QueryResponseTab.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/QueryResponseTab/constants.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/QueryResponseTab/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/Response.test.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/Response.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/ContentTypeSelector/ContentTypeSelector.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/ContentTypeSelector/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/ContentTypeSelector/styles.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/ErrorView/ErrorView.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/ErrorView/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/constants.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/styles.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/utils/checkForPreparedStatement.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/utils/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/utils/parseActionResponse.ts
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
  app/client/yarn.lock
Labels: Enhancement, IDE Product, Task, IDE Pod, ok-to-test

#38038 chore: Refactor WDS custom widget
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/IframeMessenger.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/constants.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/createHtmlTemplate.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/customWidgetscript.js
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/customWidgetscript.test.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/styles.module.css
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/useCustomWidgetHeight.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/helpers/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/types.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/widget/defaultApp.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/widget/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/react.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/vanillaJs.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/vue.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/react.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/vanillaJs.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/vue.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/index.tsx
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#38064 fix: use explicit jackson core databind dependency and exclude it from jjwt-jackson
  app/server/appsmith-plugins/appsmithAiPlugin/pom.xml
Labels: Bug, Backend, Task, Anvil Pod, ok-to-test

#37901 test: adding tests for custom lib
  app/client/cypress/e2e/Regression/ClientSide/JSLibrary/Custom_lib_spec.ts
Labels: skip-changelog, ok-to-test, Test

#38031 chore: git mod - migrating sagas to git pkg
  app/client/src/git/actions/commitActions.ts
  app/client/src/git/actions/connectActions.ts
  app/client/src/git/actions/fetchBranchesActions.ts
  app/client/src/git/actions/fetchGlobalConfigActions.ts
  app/client/src/git/actions/fetchGlobalProfileActions.ts
  app/client/src/git/actions/fetchLocalConfigActions.ts
  app/client/src/git/actions/fetchLocalProfileActions.ts
  app/client/src/git/actions/fetchStatusActions.ts
  app/client/src/git/actions/helpers/createSingleArtifactAction.ts
  app/client/src/git/actions/helpers/singleArtifactInitialState.ts
  app/client/src/git/actions/repoLimitErrorModalActions.ts
  app/client/src/git/actions/updateGlobalConfigActions.ts
  app/client/src/git/actions/updateGlobalProfileActions.ts
  app/client/src/git/actions/updateLocalConfigActions.ts
  app/client/src/git/actions/updateLocalProfileActions.ts
  app/client/src/git/constants/enums.ts
  app/client/src/git/constants/misc.ts
  app/client/src/git/requests/commitRequest.types.ts
  app/client/src/git/requests/connectRequest.ts
  app/client/src/git/requests/connectRequest.types.ts
  app/client/src/git/requests/fetchBranchesRequest.ts
  app/client/src/git/requests/fetchBranchesRequest.types.ts
  app/client/src/git/requests/fetchGlobalConfigRequest.ts
  app/client/src/git/requests/fetchGlobalConfigRequest.types.ts
  app/client/src/git/requests/fetchGlobalProfileRequest.ts
  app/client/src/git/requests/fetchGlobalProfileRequest.types.ts
  app/client/src/git/requests/fetchLocalConfigRequest.ts
  app/client/src/git/requests/fetchLocalConfigRequest.types.ts
  app/client/src/git/requests/fetchLocalProfileRequest.ts
  app/client/src/git/requests/fetchLocalProfileRequest.types.ts
  app/client/src/git/requests/updateGlobalConfigRequest.ts
  app/client/src/git/requests/updateGlobalConfigRequest.types.ts
  app/client/src/git/requests/updateGlobalProfileRequest.ts
  app/client/src/git/requests/updateGlobalProfileRequest.types.ts
  app/client/src/git/requests/updateLocalConfigRequest.ts
  app/client/src/git/requests/updateLocalConfigRequest.types.ts
  app/client/src/git/requests/updateLocalProfileRequest.ts
  app/client/src/git/requests/updateLocalProfileRequest.types.ts
  app/client/src/git/sagas/commitSaga.ts
  app/client/src/git/sagas/connectSaga.ts
  app/client/src/git/sagas/fetchBranchesSaga.ts
  app/client/src/git/sagas/fetchGlobalProfileSaga.ts
  app/client/src/git/sagas/fetchLocalProfileSaga.ts
  app/client/src/git/sagas/index.ts
  app/client/src/git/sagas/updateGlobalProfileSaga.ts
  app/client/src/git/sagas/updateLocalProfileSaga.ts
  app/client/src/git/store/gitArtifactSlice.ts
  app/client/src/git/store/gitConfigSlice.ts
  app/client/src/git/store/index.ts
  app/client/src/git/types.ts
Labels: Git Product, Task, skip-changelog, Packages Pod, ok-to-test, Packages & Git Pod

#37997 feat: Implements HTML as a column type in table widget.
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/HTMLCell_spec.ts
  app/client/cypress/fixtures/htmlCellInTableWidgetV2.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/HTMLCell/index.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/HTMLCell/utils.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/__tests__/AutoTooltipComponent.test.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/__tests__/BasicCell.test.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/__tests__/HTMLCell.test.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/__tests__/PlainTextCell.test.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/Utilities.test.ts
  app/client/src/widgets/TableWidgetV2/component/header/actions/Utilities.ts
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/CascadeFields.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/derived.test.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data/ColumnType.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data/index.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/index.ts
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Enhancement, Table Widget, Widgets Product, High, Table Widget V2, ok-to-test, Widgets & Accelerators Pod

#38096 fix: Added rowGap and colGap as PropsToBeCssPrefixPrepended in Box component
  app/client/packages/design-system/ads/src/Box/Box.constants.ts
Labels: Bug, Task, ok-to-test, Billing & Usage Pod

#38033 chore: change the klona strategy of setting of values to evalTree and evalActionBindings
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, ok-to-test

#38109 chore: Cherry picking fix for client build failure
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/Datasource.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceInfo.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceSelector/index.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceTables.tsx
Labels: skip-changelog

#38104 fix: add check to avoid NPE when binding value is null
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ASTServiceCETest.java
Labels: Bug, Backend, Packages Pod, ok-to-test, Packages & Git Pod

#38119 chore: Remove unused welcome email option
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/EmailConfig.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#38108 perf: entity group items filter utility refactor
  app/client/src/IDE/utils/filterEntityGroupsBySearchTerm.test.ts
  app/client/src/IDE/utils/filterEntityGroupsBySearchTerm.ts
  app/client/src/IDE/utils/index.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/fuzzySearchInFiles.test.ts
  app/client/src/pages/Editor/IDE/EditorPane/utils.ts
Labels: IDE Product, Task, IDE Pod, ok-to-test

#38098 chore: Git mod - Connect/Import modal
  app/client/src/api/ApiResponses.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/git/components/ConnectModal/AddDeployKey.test.tsx
  app/client/src/git/components/ConnectModal/AddDeployKey.tsx
  app/client/src/git/components/ConnectModal/ChooseGitProvider.test.tsx
  app/client/src/git/components/ConnectModal/ChooseGitProvider.tsx
  app/client/src/git/components/ConnectModal/CopyButton.tsx
  app/client/src/git/components/ConnectModal/GenerateSSH.test.tsx
  app/client/src/git/components/ConnectModal/GenerateSSH.tsx
  app/client/src/git/components/ConnectModal/Steps.tsx
  app/client/src/git/components/ConnectModal/common.tsx
  app/client/src/git/components/ConnectModal/constants.ts
  app/client/src/git/components/ConnectModal/index.test.tsx
  app/client/src/git/components/ConnectModal/index.tsx
  app/client/src/git/components/GitQuickActions/index.test.tsx
  app/client/src/git/components/GitQuickActions/index.tsx
  app/client/src/git/components/Statusbar/index.test.tsx
  app/client/src/git/components/Statusbar/index.tsx
  app/client/src/git/components/utils.ts
Labels: Task, skip-changelog, Packages Pod, ok-to-test, Packages & Git Pod

#38105 chore: fix chat ui bugs
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarContent.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/styles.module.css
Labels: skip-changelog, ok-to-test

#38129 chore: fix custom widget 's updateModel
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/index.tsx
Labels: skip-changelog, ok-to-test

#37694 fix: conditionally set FqN name for partial import
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/refactors/NewActionRefactoringServiceCEImpl.java
Labels: Bug, Production, Needs Triaging, Templates Product, Medium, Partial-import-export, ok-to-test, Ballpark: S, Widgets & Accelerators Pod

#38088 chore: git mod - adding init saga and connecting components to ctx
  app/client/src/git/components/CtxAwareGitQuickActions/index.tsx
  app/client/src/git/components/GitContextProvider/hooks/useGitBranches.ts
  app/client/src/git/components/GitContextProvider/hooks/useGitContextValue.ts
  app/client/src/git/components/GitContextProvider/hooks/useGitMetadata.ts
  app/client/src/git/components/GitContextProvider/hooks/useGitOps.ts
  app/client/src/git/components/GitContextProvider/hooks/useGitSettings.ts
  app/client/src/git/components/GitContextProvider/index.tsx
  app/client/src/git/components/GitQuickActions/QuickActionButton.test.tsx
  app/client/src/git/components/GitQuickActions/QuickActionButton.tsx
  app/client/src/git/components/GitQuickActions/index.test.tsx
  app/client/src/git/components/GitQuickActions/index.tsx
  app/client/src/git/requests/checkoutBranchRequest.ts
  app/client/src/git/requests/commitRequest.ts
  app/client/src/git/requests/createBranchRequest.ts
  app/client/src/git/requests/deleteBranchRequest.ts
  app/client/src/git/requests/discardRequest.ts
  app/client/src/git/requests/disconnectRequest.ts
  app/client/src/git/requests/fetchAutocommitProgressRequest.ts
  app/client/src/git/requests/fetchAutocommitProgressRequest.types.ts
  app/client/src/git/requests/fetchBranchesRequest.ts
  app/client/src/git/requests/fetchBranchesRequest.types.ts
  app/client/src/git/requests/fetchGitMetadataRequest.ts
  app/client/src/git/requests/fetchGitMetadataRequest.types.ts
  app/client/src/git/requests/fetchMergeStatusRequest.ts
  app/client/src/git/requests/fetchProtectedBranchesRequest.ts
  app/client/src/git/requests/fetchProtectedBranchesRequest.types.ts
  app/client/src/git/requests/fetchSSHKeyRequest.ts
  app/client/src/git/requests/fetchStatusRequest.ts
  app/client/src/git/requests/fetchStatusRequest.types.ts
  app/client/src/git/requests/generateSSHKeyRequest.ts
  app/client/src/git/requests/importGitRequest.ts
  app/client/src/git/requests/mergeRequest.ts
  app/client/src/git/requests/pullRequest.ts
  app/client/src/git/requests/toggleAutocommitRequest.ts
  app/client/src/git/requests/triggerAutocommitRequest.ts
  app/client/src/git/requests/triggerAutocommitRequest.types.ts
  app/client/src/git/requests/updateGlobalProfileRequest.ts
  app/client/src/git/requests/updateProtectedBranchesRequest.ts
  app/client/src/git/sagas/fetchGitMetadataSaga.ts
  app/client/src/git/sagas/fetchProtectedBranchesSaga.ts
  app/client/src/git/sagas/fetchStatusSaga.ts
  app/client/src/git/sagas/index.ts
  app/client/src/git/sagas/initGitSaga.ts
  app/client/src/git/sagas/triggerAutocommitSaga.ts
  app/client/src/git/store/actions/fetchAutocommitProgressActions.ts
  app/client/src/git/store/actions/fetchGitMetadataActions.ts
  app/client/src/git/store/actions/fetchMetadataActions.ts
  app/client/src/git/store/actions/fetchProtectedBranchesActions.ts
  app/client/src/git/store/actions/initGitActions.ts
  app/client/src/git/store/actions/triggerAutocommitActions.ts
  app/client/src/git/store/gitArtifactSlice.ts
  app/client/src/git/store/helpers/gitSingleArtifactInitialState.ts
  app/client/src/git/store/selectors/gitSingleArtifactSelectors.ts
  app/client/src/git/store/types.ts
Labels: Git Product, Task, skip-changelog, Packages Pod, ok-to-test, Packages & Git Pod

#38120 test: CGS connect negative tests
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitConnectTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
Labels: skip-changelog, Test

#38130 chore: Adding create module icon in the action context menu on EE
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/create-module.svg
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38134 chore: refactor crud to custom repository
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/ApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
Labels: skip-changelog, ok-to-test

#38068 chore: optimise first evaluation by adding worker scope cache (CE)
  app/client/src/ce/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/ce/entities/DataTree/dataTreeJSAction.ts
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/index.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionExecution/geolocationSaga.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.test.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSLibrarySaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/utils/workerInstances.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/JSObject/test.ts
  app/client/src/workers/Evaluation/__tests__/Actions.test.ts
  app/client/src/workers/Evaluation/__tests__/evaluate.test.ts
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/Evaluation/evaluate.ts
  app/client/src/workers/Evaluation/fns/resetWidget.ts
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
  app/client/src/workers/Evaluation/handlers/workerEnv.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/test.ts
Labels: skip-changelog, ok-to-test

#38069 chore: Add `appsmith` user existence check for auth tests
  deploy/docker/tests/pg-test-utils.sh
  deploy/docker/tests/test-pg-auth.sh
Labels: skip-changelog

#37942 fix: gsheets all sheets option enabled behind a feature flag
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/GoogleSheets_spec.ts
  app/client/cypress/support/Pages/IDE/BottomTabs/Response.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/formControls/RadioButtonControl.tsx
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/form.json
Labels: Bug, Task, Google Sheets, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#38137 chore: refactor the crud method to custom repo class
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/ActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
Labels: skip-changelog, ok-to-test

#38101 fix: Fix for the embedded case
  app/client/cypress/e2e/Regression/ClientSide/EmbedSettings/EmbedSettings_spec.js
  app/client/cypress/locators/AppNavigation.json
  app/client/cypress/support/AdminSettingsCommands.js
  app/client/cypress/support/Pages/DeployModeHelper.ts
Labels: Bug, ok-to-test

#38159 chore: fix sidebar mobile responsiveness.
  app/client/packages/design-system/widgets/src/components/Sidebar/src/Sidebar.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/styles.module.css
Labels: skip-changelog, ok-to-test

#38152 chore: Added changes for discard
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/GitRedisUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: potential-duplicate, Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#38169 chore: refactor new page crud repo methods
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/NewPageRepositoryCE.java
Labels: skip-changelog, ok-to-test

#37566 test: new test cases framework functions and Action selector
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ClearStore_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_ActionSelector_General_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_ClearIntervalFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_CopyToClipboardFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_DownloadFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_LocalRemoveValueFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_LocalStoreValueFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_NavigateToFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_PostWindowFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_ResetWidgetFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_SetIntervalFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_ShowAlertFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_ShowCloseModalFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_StopWatchGeoLocationFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_WatchGeoLocationFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Radio/Radio2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Sliders/CategorySlider_spec.ts
  app/client/cypress/fixtures/ActionSelectorAppNewExported.json
  app/client/cypress/fixtures/PartialImportExport/frameworkFunPartialPage.json
  app/client/cypress/fixtures/clearIntervalApp.json
  app/client/cypress/fixtures/setIntervalApp.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/PartialImportExport.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, ok-to-test, Test

#38115 test: Skipping one test in API Edit Spec for functional bugs
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Edit_spec.js
  app/client/cypress/e2e/Sanity/Datasources/RestApiOAuth2Validation_spec.ts
  app/client/cypress/locators/apiWidgetslocator.json
Labels: skip-changelog, ok-to-test, Test

#38173 test: CGS commit and detach negative tests
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitCommitTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitDetachTests.java
Labels: skip-changelog, Test

#38179 chore: add packagePullStatus to consolidated API
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/components/BottomBar/PackageUpgradeStatus.tsx
  app/client/src/ce/constants/ModuleConstants.ts
  app/client/src/components/BottomBar/index.tsx
  app/client/src/ee/components/BottomBar/PackageUpgradeStatus.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Editor/index.tsx
  app/client/src/sagas/InitSagas.ts
Labels: skip-changelog, ok-to-test

#38195 fix: Updated fix for embedSettings spec
  app/client/cypress/e2e/Regression/ClientSide/EmbedSettings/EmbedSettings_spec.js
Labels: Bug, ok-to-test

#38170 chore: added status changes
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/ce/GitStatusCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: potential-duplicate, Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#38174 chore: reference lifecycle
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/GitRefDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/ce/RefType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/RefType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/GitArtifactMetadataCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/dtos/ArtifactJsonTransformationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: potential-duplicate, Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#38183 chore: Fix chrome version to 129
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited-with-count.yml
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, ok-to-test

#38210 chore: pr for delete references
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/GitArtifactMetadataCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: potential-duplicate, Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#38131 chore: Moving navigation header to Explorer templates in ADS
  app/client/packages/design-system/ads/src/SegmentedControl/SegmentedControl.styles.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EditorSegments/EditorSegments.mdx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EditorSegments/EditorSegments.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EditorSegments/EditorSegments.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EditorSegments/EditorSegments.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EditorSegments/EditorSegments.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EditorSegments/index.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/index.ts
  app/client/src/pages/Editor/IDE/EditorPane/Explorer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentSwitcher.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38206 test: CGS discard tests
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitDiscardTests.java
Labels: skip-changelog, Test

#38143 chore: refactor datasource storage to use custom repo method
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStorageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStorageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/DatasourceStorageRepositoryCE.java
Labels: skip-changelog, ok-to-test

#38234 test: Added a new test case for 33601
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/Bug33601_spec.ts
  app/client/cypress/fixtures/resetWidgetBug33601.json
Labels: skip-changelog, ok-to-test, Test

#38240 chore: remove metrics in fe
  app/client/src/UITelemetry/auto-otel-web.ts
Labels: skip-changelog, ok-to-test

#38239 test: commenting dependent test which was missed in RestApiOAuth2Validation_spec
  app/client/cypress/e2e/Sanity/Datasources/RestApiOAuth2Validation_spec.ts
Labels: skip-changelog, ok-to-test, Test

#38138 chore: refactor the crud method to custom repo class
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/DatasourceRepositoryCE.java
Labels: skip-changelog, ok-to-test

#37998 feat: add script for data integrity after postgres migration
  app/client/packages/rts/src/ctl/verify-migration.mjs
Labels: Stale

#38226 chore: fix menu widget bugs
  app/client/src/modules/ui-builder/ui/wds/WDSMenuButtonWidget/config/anvilConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMenuButtonWidget/config/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMenuButtonWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMenuButtonWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSMenuButtonWidget/widget/types.ts
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#38247 fix: Wrong pageId used for segment navigation
  app/client/src/pages/Editor/IDE/hooks.ts
Labels: Bug, Production, IDE Product, Community Reported, Needs Triaging, IDE Pod, Medium, IDE Navigation, ok-to-test

#38241 chore: add custom consistent-storybook-title rule
  app/client/packages/design-system/ads/src/NumberInput/NumberInput.stories.tsx
  app/client/packages/design-system/ads/src/SearchInput/SearchInput.stories.tsx
  app/client/packages/design-system/ads/src/Templates/IDEHeader/IDEHeader.stories.tsx
  app/client/packages/design-system/widgets/src/components/ComboBox/stories/ComboBox.stories.tsx
  app/client/packages/design-system/widgets/src/components/Datepicker/stories/Datepicker.stories.tsx
  app/client/packages/design-system/widgets/src/components/IconButton/stories/IconButton.stories.tsx
  app/client/packages/design-system/widgets/src/components/InlineButtons/stories/InlineButtons.stories.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/chromatic/RadioGroup.chromatic.stories.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/stories/RadioGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/TagGroup/stories/TagGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/TextArea/stories/TextArea.stories.tsx
  app/client/packages/design-system/widgets/src/components/TextField/stories/TextField.stories.tsx
  app/client/packages/design-system/widgets/src/components/TimeField/stories/TimeField.stories.tsx
  app/client/packages/design-system/widgets/src/components/ToggleGroup/stories/ToggleGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/ToolbarButtons/stories/ToolbarButtons.stories.tsx
  app/client/packages/design-system/widgets/src/testing/ColorGrid.stories.tsx
  app/client/packages/eslint-plugin/src/consistent-storybook-title/rule.test.ts
  app/client/packages/eslint-plugin/src/consistent-storybook-title/rule.ts
  app/client/packages/eslint-plugin/src/index.ts
Labels: skip-changelog, ok-to-test

#38192 chore: extract search and add to ads
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/IDE/ListView.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/SearchAndAdd/SearchAndAdd.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/SearchAndAdd/SearchAndAdd.styles.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/SearchAndAdd/SearchAndAdd.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/SearchAndAdd/SearchAndAdd.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/SearchAndAdd/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/index.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/AddAndSearchbar.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38158 chore: refactor crud methods
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/NewActionRepositoryCE.java
Labels: skip-changelog, ok-to-test

#38254 fix: Enhance SelectWidget label and value handling logic
  app/client/src/widgets/SelectWidget/widget/derived.js
  app/client/src/widgets/SelectWidget/widget/propertyUtils.ts
Labels: Bug, Select Widget, ok-to-test, Widgets & Accelerators Pod

#38089 chore: Analytics util refactor
  app/client/package.json
  app/client/public/index.html
  app/client/src/actions/analyticsActions.ts
  app/client/src/api/interceptors/request/addAnonymousUserIdHeader.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/uiReducers/index.tsx
  app/client/src/ce/sagas/analyticsSaga.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/ce/utils/Analytics/getEventExtraProperties.ts
  app/client/src/ce/utils/Analytics/trackedUser.ts
  app/client/src/ce/utils/AnalyticsUtil.tsx
  app/client/src/ee/utils/Analytics/getEventExtraProperties.ts
  app/client/src/ee/utils/Analytics/trackedUser.ts
  app/client/src/ee/utils/AnalyticsUtil.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/git/hooks/useAppsmithEnterpriseUrl.ts
  app/client/src/pages/AdminSettings/index.tsx
  app/client/src/pages/Editor/gitSync/GitSettingsModal/TabBranch/hooks.ts
  app/client/src/reducers/uiReducers/analyticsReducer.ts
  app/client/src/selectors/analyticsSelectors.tsx
  app/client/src/utils/Analytics/mixpanel.ts
  app/client/src/utils/Analytics/segment.ts
  app/client/src/utils/Analytics/sentry.ts
  app/client/src/utils/Analytics/smartlook.ts
  app/client/src/utils/AppsmithUtils.tsx
  app/client/yarn.lock
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#37880 chore: Visual changes for core navigation elements on IDE
  app/client/cypress/support/Pages/EditorNavigation.ts
  app/client/cypress/support/Pages/IDE/Sidebar.ts
  app/client/packages/design-system/ads/src/SegmentedControl/SegmentedControl.styles.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/dashboard-line.svg
  app/client/src/IDE/Components/Sidebar/Sidebar.tsx
  app/client/src/IDE/Components/Sidebar/SidebarButton/SidebarButton.test.tsx
  app/client/src/IDE/Components/Sidebar/SidebarButton/SidebarButton.tsx
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentSwitcher.tsx
  app/client/src/pages/Editor/IDE/Sidebar.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test, User Testing

#38110 chore: added premium tags datasources for knowing users request to add new integrations
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/constants/PremiumDatasourcesConstants.ts
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceHome.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewQuery.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/ContactForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/index.tsx
  app/client/src/pages/Editor/IntegrationEditor/RequestNewIntegration/form.tsx
  app/client/src/pages/Editor/IntegrationEditor/RequestNewIntegration/index.tsx
  app/client/src/utils/PremiumDatasourcesHelpers.ts
  app/client/src/utils/ProductRamps/RampsControlList.ts
  app/client/src/utils/formhelpers.ts
Labels: potential-duplicate, Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#38264 chore: converted isNewEntity lookup to use a set
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, ok-to-test

#38261 ci: Added ci option for snapshot
  .github/workflows/build-client-server-count.yml
  .github/workflows/ci-test-limited-with-count.yml
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, CI, ok-to-test

#38272 fix: Tab navigation issue in multi page apps
  app/client/cypress/e2e/Regression/ClientSide/IDE/Tabs_Navigation_spec.ts
  app/client/cypress/support/Pages/EditorNavigation.ts
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
Labels: Bug, QA, Production, IDE Product, Community Reported, Needs Triaging, IDE Pod, Medium, IDE Navigation, QA Pod, ok-to-test

#38282 chore: fix text area ui bug
  app/client/packages/design-system/widgets/src/components/Input/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/TextArea/src/TextArea.tsx
Labels: skip-changelog, ok-to-test

#38274 fix: property pane in preview mode
  app/client/src/pages/Editor/IDE/Layout/StaticLayout.tsx
  app/client/src/pages/Editor/IDE/Layout/hooks/useGridLayoutTemplate.ts
  app/client/src/pages/Editor/IDE/Layout/index.ts
  app/client/src/pages/Editor/IDE/index.tsx
Labels: Bug, High, Production, IDE Product, Needs Triaging, IDE Pod, Preview mode, ok-to-test

#38244 chore: set workspaceId to triggerRequestDto
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
Labels: skip-changelog, ok-to-test

#38267 chore: Masking user data in mixpanel session recordings
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Table.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/ce/utils/AnalyticsUtil.tsx
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/PeekOverlayPopup.tsx
  app/client/src/components/editorComponents/Debugger/LogItem/LogItem.tsx
  app/client/src/components/editorComponents/ReadOnlyEditor.tsx
  app/client/src/pages/AppViewer/AppPage/AppPage.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/utils/Analytics/mixpanel.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38295 ci: Minor update for edge case
  .github/workflows/ci-test-limited-with-count.yml
Labels: skip-changelog, CI, ok-to-test

#38300 chore: reverted changes
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilTableWidgetSnapshot_spec.ts
Labels: skip-changelog, ok-to-test

#38302 chore: Update selectors for Table Response
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/support/commands.js
Labels: skip-changelog, ok-to-test

#38222 chore: Changes for introducing disabled states for package pull in application
  app/client/src/ce/components/BottomBar/GitActionsWrapper.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/selectors/packageSelectors.ts
  app/client/src/ee/components/BottomBar/GitActionsWrapper.tsx
  app/client/src/pages/Editor/IDE/Header/index.tsx
  app/client/src/pages/common/Disabler.tsx
Labels: skip-changelog, ok-to-test

#38285 feat: Standardize log patterns across all services for consistency.
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/backend.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/editor.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/rts.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/mongodb.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/postgres.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/redis.conf
Labels: Enhancement, ok-to-test

#38153 feat: optimize HTML text extraction in TableWidgetV2
  app/client/src/widgets/TableWidgetV2/widget/__tests__/derived.test/htmlColumns.test.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Enhancement, Widgets Product, High, Release, Needs Triaging, Table Widget V2, ok-to-test, Widgets & Accelerators Pod

#38114 feat: Add currentPage, workspace, application name to appsmith context
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/JS_AC1_spec.ts
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/selectors/dataTreeSelectors.ts
Labels: Enhancement, JS Evaluation, Javascript Product, Query & JS Pod, ok-to-test

#38172 test: Admin setting test cases
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.ts
  app/client/cypress/locators/AdminsSettings.js
Labels: skip-changelog, ok-to-test, Test

#38313 fix: Fix for locator for AddWidgetTableAndBind_spec test case
  app/client/cypress/locators/QueryEditor.json
Labels: Bug, ok-to-test

#38308 test: added new case
  app/client/cypress/e2e/Regression/ClientSide/Templates/Template_DataBindingFunctions_spec.ts
Labels: skip-changelog, ok-to-test, Test

#38237 test: Git integration tests
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ArtifactCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/GitBranchesIT.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/templates/contexts/GitContext.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/templates/providers/GitBranchesTestTemplateProvider.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/templates/providers/ce/GitBranchesTestTemplateProviderCE.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/ArtifactBuilderContext.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/ArtifactBuilderExtension.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitArtifactTestUtils.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitServerInitializerExtension.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitTestUtils.java
Labels: skip-changelog, Test

#38268 chore: Adding no access state for Datasource tab based on permissions given via GAC
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/CurrentDataSource.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/CurrentDataSourceLink.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceInfo.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceSelector/PluginDatasourceSelector.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceSelector/index.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceTab.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/index.tsx
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/utils/BusinessFeatures/permissionPageHelpers.tsx
  app/client/src/ce/utils/permissionHelpers.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
  app/client/src/sagas/DatasourcesSagas.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38270 chore: Add code-split for injecting JIT pull in app CI/CD
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/GitApplicationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitArtifactHelperCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/testhelpers/git/GitFileSystemTestHelper.java
Labels: skip-changelog, ok-to-test

#38321 chore: Move smaller Entity Explorer components into ADS
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EmptyState/EmptyState.mdx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EmptyState/EmptyState.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EmptyState/EmptyState.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EmptyState/EmptyState.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EmptyState/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/ExplorerContainer/ExplorerContainer.constants.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/ExplorerContainer/ExplorerContainer.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/ExplorerContainer/ExplorerContainer.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/ExplorerContainer/ExplorerContainer.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/ExplorerContainer/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/NoSearchResults/NoSearchResults.mdx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/NoSearchResults/NoSearchResults.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/NoSearchResults/NoSearchResults.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/NoSearchResults/NoSearchResults.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/NoSearchResults/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/index.ts
  app/client/src/pages/Editor/IDE/EditorPane/Explorer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/BlankState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/BlankState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/EmptySearchResult.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/EmptyState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38334 feat: Updated ads-old table to accept custom row component
  app/client/packages/design-system/ads-old/src/Table/index.tsx
Labels: Enhancement, ok-to-test

#38223 feat: add alignment property in style pane for table button cell
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/ButtonCell_spec.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Alignment.ts
Labels: Enhancement, Widgets Product, Table Widget V2, ok-to-test, Widgets & Accelerators Pod

#38328 fix: cannot see move to page option when there are exactly two pages in the app
  app/client/src/pages/Editor/AppPluginActionEditor/components/ToolbarMenu/Move.tsx
Labels: Bug, High, Release, IDE Product, Needs Triaging, Query Forms, Query & JS Pod, IDE Pod, IDE Navigation, Integrations Product, ok-to-test

#38329 fix: prevent menu content to be rendered when there are no options
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionRun.tsx
Labels: Bug, Low, Release, IDE Product, Needs Triaging, IDE Pod, IDE Navigation, ok-to-test

#38337 test: Git integration tests
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ArtifactCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/GitBranchesIT.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/templates/contexts/GitContext.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/templates/providers/GitBranchesTestTemplateProvider.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/templates/providers/ce/GitBranchesTestTemplateProviderCE.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/ArtifactBuilderContext.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/ArtifactBuilderExtension.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitArtifactTestUtils.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitServerInitializerExtension.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitTestUtils.java
Labels: skip-changelog, ok-to-test, Test

#38312 chore: Moved git auth creation and updation to generified artifactservice
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/base/ArtifactService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/base/ArtifactServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/base/ArtifactServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/base/ArtifactServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/base/artifactbased/ArtifactBasedService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/base/artifactbased/ArtifactBasedServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/permissions/ArtifactPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/permissions/ArtifactPermissionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ApplicationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ImportArtifactPermissionProvider.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ImportArtifactPermissionProviderCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ArtifactPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ApplicationPermissionCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: skip-changelog, ok-to-test

#38304 chore: fix wds select widget bugs + refactor
  app/client/packages/design-system/widgets/src/components/Select/src/styles.module.css
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/anvilConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/defaultsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/metaConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/methodsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/propertyPaneConfig/contentConfig.test.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/propertyPaneConfig/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/propertyPaneConfig/validations/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/propertyPaneConfig/validations/optionsCustomValidation.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/config/settersConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/widget/helpers.ts
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSComboBoxWidget/widget/types.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/defaultsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/methodsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/propertyPaneConfig/contentConfig.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/propertyPaneConfig/validations/defaultOptionValidation.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/propertyPaneConfig/validations/defaultOptionValueValidation.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/propertyPaneConfig/validations/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/propertyPaneConfig/validations/labelKeyValidation.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/propertyPaneConfig/validations/optionsCustomValidation.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/propertyPaneConfig/validations/valueKeyValidation.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/config/settersConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/widget/constants.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/widget/derived.js
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/widget/helpers.ts
  app/client/src/modules/ui-builder/ui/wds/WDSSelectWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSSwitchWidget/config/settersConfig.ts
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#38346 fix: kebab menu rename jumps to wrong tab
  app/client/src/pages/Editor/JSEditor/AppJSEditorContextMenu.tsx
Labels: Bug, Production, IDE Product, Needs Triaging, JS Objects, Javascript Product, Query & JS Pod, IDE Pod, Medium, IDE Navigation, ok-to-test

#38258 chore: added interface changes to the server
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/GitRefDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/handler/FSGitHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/GitApplicationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitArtifactHelperCE.java
Labels: skip-changelog, ok-to-test

#38354 chore: Added capability of running ITs on maven
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/templates/contexts/GitContext.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitServerInitializerExtension.java
  app/server/pom.xml
Labels: skip-changelog, ok-to-test

#38331 fix: calendly link on schedule a call click, jira and slack integration premium tag
  app/client/src/constants/PremiumDatasourcesConstants.ts
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceHome.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewQuery.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/ContactForm.tsx
  app/client/src/utils/PremiumDatasourcesHelpers.ts
Labels: Bug, Datasources, Task, New Datasource, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#38359 chore: Minor code refactor for seat based pricing
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOAuth2UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOidcUserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-changelog, Platform Administration Pod, ok-to-test

#38317 fix: query tab scrollbar padding gap fix
  app/client/src/PluginActionEditor/components/PluginActionForm/PluginActionForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/CommonEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/RequestTabs.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/components/EmbeddedDatasourcePathField.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/styles.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/UQIEditorForm.tsx
Labels: Bug, Low, IDE Product, Task, IDE Pod, ok-to-test

#38361 test: new test case for renaming JS Object
  app/client/cypress/e2e/Regression/ClientSide/JSObject/RenameJSObjectBug38207_spec.ts
  app/client/cypress/support/Pages/JSEditor.ts
Labels: skip-changelog, ok-to-test, Test

#38363 fix: add max length to js run function name
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionRun.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionRun.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/constants.ts
Labels: Bug, Release, IDE Product, Needs Triaging, IDE Pod, Medium, IDE Navigation, ok-to-test

#38365 chore: Fixing the top padding for queries and JS empty state to match UI segment empty state
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38367 fix: common form editor header z-index
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/styles.ts
Labels: Bug, IDE Product, Task, IDE Pod, ok-to-test

#38353 ci: Fix for command without spec
  .github/workflows/build-client-server-count.yml
  .github/workflows/ci-test-limited-with-count.yml
Labels: skip-changelog, CI, ok-to-test

#38342 chore: removed duplicate spec
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JsOnLoad3_Spec.ts
Labels: skip-changelog, ok-to-test

#38371 fix: Minor changes in Datasource and API
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/CommonEditorForm.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
Labels: Bug, ok-to-test

#38296 ci: Don't tag `latest` when not latest version
  .github/workflows/github-release.yml
  .github/workflows/scripts/github-release/prelude.js
Labels: skip-changelog, CI

#38382 fix: Checking fix working for js indent failure
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js
  app/client/cypress/limited-tests.txt
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/formattedJSONBodyAfterSave.snap.png
Labels: Bug, ok-to-test

#38380 fix: fix url evaluation
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Edit_spec.js
Labels: Bug, QA, Low, IDE Product, Task, IDE Pod, QA Pod, ok-to-test

#38351 chore: Removed unwanted focus test case
  app/client/cypress/e2e/Regression/ClientSide/IDE/Focus_retentions_inputs_spec.js
Labels: skip-changelog, ok-to-test

#38370 chore: added autocommit and protected branches methods
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/utils/GitAnalyticsUtils.java
Labels: potential-duplicate, Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#38392 chore: Adding host as a parameter for get home page workspaces API
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/WorkspaceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceUnitTest.java
Labels: skip-changelog, ok-to-test

#38326 chore: Design changes for Editor tabs
  app/client/src/IDE/Components/FileTab/styles.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test, IDE tabs

#38394 chore: CE code for datasource management
  app/client/packages/design-system/ads/jest.config.js
  app/client/packages/design-system/ads/src/Badge/Badge.mdx
  app/client/packages/design-system/ads/src/Badge/Badge.stories.tsx
  app/client/packages/design-system/ads/src/Badge/Badge.styles.tsx
  app/client/packages/design-system/ads/src/Badge/Badge.test.tsx
  app/client/packages/design-system/ads/src/Badge/Badge.tsx
  app/client/packages/design-system/ads/src/Badge/Badge.types.ts
  app/client/packages/design-system/ads/src/Badge/index.ts
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/Table/Table.stories.tsx
  app/client/packages/design-system/ads/src/Table/Table.styles.tsx
  app/client/packages/design-system/ads/src/Table/Table.test.tsx
  app/client/packages/design-system/ads/src/Table/Table.tsx
  app/client/packages/design-system/ads/src/Table/Table.types.ts
  app/client/packages/design-system/ads/src/Text/Text.mdx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/csv-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/doc-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/google-drive.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/json-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/md-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/notion.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/pdf-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/ppt-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/rtf-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/salesforce.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/tsv-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/txt-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/xls-file.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/zendesk.svg
  app/client/packages/design-system/ads/src/index.ts
  app/client/src/components/editorComponents/Debugger/constants.ts
  app/client/src/ee/components/formControls/CarbonButton/CarbonButton.tsx
  app/client/src/ee/components/formControls/CarbonButton/index.ts
  app/client/src/ee/components/formControls/RagDocuments/RagDocuments.tsx
  app/client/src/ee/components/formControls/RagDocuments/index.ts
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
Labels: skip-changelog, ok-to-test

#38347 chore: Side by Side exits beta phase
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/commands.js
  app/client/packages/design-system/ads/src/Popover/Popover.tsx
  app/client/packages/design-system/ads/src/Popover/Popover.types.ts
  app/client/src/IDE/Components/Nudge/Nudge.tsx
  app/client/src/IDE/Components/Nudge/index.ts
  app/client/src/IDE/Components/Nudge/styles.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/Announcement.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/ScreenModeToggle.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/utils/localStorage.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38344 chore: Updating List item and List components in ADS to start using it in Entity explorer
  app/client/packages/design-system/ads/src/List/List.stories.tsx
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/List/List.types.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/Group.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38396 chore: debounce handle action updates
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/actions/evaluationActionsList.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/EvaluationsSaga.test.ts
  app/client/src/sagas/EvaluationsSaga.ts
Labels: skip-changelog, ok-to-test

#38413 fix: Airgap case handle
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.ts
Labels: Bug, ok-to-test
