Repository appsmithorg/appsmith, pull requests merged in 2024-04, with the labels that each got.

#32245 test: Remove MongoDB API injections in tests
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/PluginServiceCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
Labels: skip-changelog, Test

#32264 chore: Simpler sequence implementation
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/SequenceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/SequenceServiceCEImpl.java
Labels: skip-changelog

#32271 chore: fix text editor widget cypress spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWidget_With_RichTextEditor_spec.js
Labels: skip-changelog, ok-to-test

#32222 chore: Add telemetry for monitoring evaluations processing
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/entities/DataTree/dataTreeFactory.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, ok-to-test

#32251 fix: add changes to codeowners file
  CODEOWNERS
Labels: Bug

#32279 fix: Restricting the re-submission of welcome form on multiple submit button clicks
  app/client/src/pages/setup/SetupForm.tsx
Labels: Bug, Admin Settings, High, Production, Needs Triaging, Stale, Team Managers Pod, Billing & Usage Pod, TM_BU, ok-to-test

#32025 chore: Anvil Canvas and Widget intearction separation
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilAppNavigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilWidgetClicking_spec.ts
  app/client/src/layoutSystems/anvil/canvas/AnvilMainCanvas.tsx
  app/client/src/layoutSystems/anvil/canvas/styles.css
  app/client/src/layoutSystems/anvil/common/hooks/detachedWidgetHooks.ts
  app/client/src/layoutSystems/anvil/editor/AnvilEditorWrapper.tsx
  app/client/src/layoutSystems/anvil/editor/styles.css
  app/client/src/layoutSystems/anvil/index.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/SpaceDistributionHandle.tsx
  app/client/src/layoutSystems/common/canvasArenas/StickyCanvasArena.tsx
  app/client/src/widgets/ConnectDataOverlay.tsx
  app/client/src/widgets/anvil/constants.ts
Labels: High, Needs Triaging, UI Builders Pod, Task, skip-changelog, Deploy Preview, Copy Paste, Medium, Anvil POD, WDS team, Anvil team, ok-to-test

#32004 ci: Upgrading the github action steps from Node 16 to Node 20.
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-limited.yml
  .github/workflows/ci-test-with-documentdb.yml
  .github/workflows/ci-test.yml
  .github/workflows/client-build.yml
  .github/workflows/github-release.yml
  .github/workflows/pr-cypress.yml
  .github/workflows/server-build.yml
  .github/workflows/server-spotless.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI, ok-to-test

#32249 fix: bottom bar issue with multienv
  app/client/src/ce/hooks/useShowEnvSwitcher.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/IDE/index.tsx
  app/client/src/pages/Editor/commons/EditorWrapperContainer.tsx
Labels: Bug, QA, Production, Community Reported, Git Version Control, BE Coders Pod, Medium, Data Platform Pod, Datasource Environments, Git Pod, QA Pod, ok-to-test

#32291 chore: Add Bridge Update APIs
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeUpdate.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
Labels: skip-changelog, ok-to-test

#32248 chore: remove feature flag code of consolidated api
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/sagas/InitSagas.ts
Labels: Performance Pod, Task, skip-changelog, Performance, ok-to-test

#32312 chore: Reduce test logging noise
  app/server/appsmith-interfaces/src/test/resources/logback-test.xml
Labels: skip-changelog

#32091 chore: Cypress - add pane interactions
  app/client/cypress/e2e/Regression/ClientSide/IDE/IDE_Add_Pane_Interactions_spec.ts
  app/client/cypress/support/Pages/EditorNavigation.ts
  app/client/cypress/support/Pages/IDE/AddView.ts
  app/client/cypress/support/Pages/IDE/FileTabs.ts
  app/client/cypress/support/Pages/IDE/LeftPane.ts
  app/client/cypress/support/Pages/IDE/ListView.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.d.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/ListItem.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/Announcement.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentAddHeader.tsx
Labels: Low, Release, Task, skip-changelog, New Developers Pod, IDE Navigation, IDE Pod, IDE Infra, ok-to-test

#32294 chore: Autowire MongoDB beans with annotation
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseAppsmithRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomActionCollectionRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomApplicationRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomApplicationSnapshotRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomCollectionRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomConfigRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomDatasourceRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomDatasourceStorageRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomDatasourceStorageStructureRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomJSLibRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNewActionRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNewPageRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomPermissionGroupRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomPluginRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomTenantRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomThemeRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomUsagePulseRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomUserDataRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomUserRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomWorkspaceRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationSnapshotRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomConfigRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStorageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStorageStructureRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomJSLibRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPluginRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomTenantRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUsagePulseRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCEImpl.java
Labels: skip-changelog

#32314 chore: Use Bridge.update() API
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: skip-changelog, ok-to-test

#32333 fix: MultiEnv switcher visible in view mode in cloud
  app/client/src/ce/hooks/useShowEnvSwitcher.test.tsx
  app/client/src/ce/hooks/useShowEnvSwitcher.ts
Labels: Bug, High, Release, Needs Triaging, BE Coders Pod, Data Platform Pod, Multiple Environments, DailyPromotionBlocker, ok-to-test

#32338 fix: broken jest test cases for MutiEnv
  app/client/src/ce/hooks/useShowEnvSwitcher.test.tsx
Labels: Bug, QA, High, Release, Needs Triaging, BE Coders Pod, Data Platform Pod, Multiple Environments, DailyPromotionBlocker, QA Pod, ok-to-test

#32342 chore: WDS inner spacing scale adjustments
  app/client/packages/design-system/theming/src/token/src/tokensConfigs.json
Labels: skip-changelog, skip-docs, Anvil POD, WDS team, skip-documentation, Anvil team

#32302 chore: analytics for GIT FS
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/ce/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/GitConstants.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/BaseSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/GitConstants.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/GitSpans.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/ce/GitConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/exportable/ActionCollectionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/exportable/NewActionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/exports/internal/ExportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
Labels: Task, skip-changelog, Import-Export-App, Git Pod, ok-to-test

#32351 chore: Fix NPE in Segment exception logging
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
Labels: skip-changelog

#32344 chore: Don't use MongoDB API for random string
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
Labels: skip-changelog

#32346 chore: Remove typecast
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
Labels: skip-changelog

#32311 fix: asserting getApplicationsOfWorkspace call before clicking skip
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
Labels: Bug, Low, Production, Needs Triaging, BE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#32352 chore: Get control over what stack traces show up in logs
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/BaseException.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceStructureSolutionCEImpl.java
Labels: skip-changelog

#32341 fix: Feature flags not intercepted correctly
  app/client/cypress/support/Objects/FeatureFlags.ts
Labels: Bug, ok-to-test

#32358 chore: Refactor API for hiding logs
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/BaseException.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/pluginExceptions/AppsmithPluginException.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithException.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
Labels: skip-changelog

#32361 fix: Email Verification `not you` link opened in same tab
  app/client/src/pages/UserAuth/VerificationPending.tsx
Labels: Bug, Login / Signup, Low, Production, Low effort, BE Coders Pod, Medium, Integrations Pod, Email verification, ok-to-test

#32354 chore: cypress test for canvas view mode
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_View_mode.ts
  app/client/cypress/support/Pages/Canvas.ts
  app/client/cypress/support/Pages/IDE/LeftPane.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.d.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/WidgetsEditor/components/CodeModeTooltip.tsx
Labels: Low, Release, Task, skip-changelog, New Developers Pod, IDE Navigation, IDE Pod, IDE Infra, ok-to-test

#32360 revert: multi env switcher view mode changes
  app/client/src/ce/hooks/useShowEnvSwitcher.test.tsx
  app/client/src/ce/hooks/useShowEnvSwitcher.ts
  app/client/src/components/BottomBar/index.tsx
  app/client/src/ee/hooks/useShowEnvSwitcher.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/IDE/index.tsx
  app/client/src/pages/Editor/commons/EditorWrapperContainer.tsx
Labels: ok-to-test

#32112 chore: WDS components in Table header
  app/client/packages/design-system/widgets/src/components/ActionGroup/src/ActionGroup.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/StaticTable.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/Table.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/Actions.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/AddNewRowBanner.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/CascadeFields.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/FilterPane.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/FilterPaneContent.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/PageNumberInput.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/Pagination.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/Search.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/TableColumnHeader.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/VirtualTableInnerElement.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/styles.module.css
  app/client/src/widgets/wds/WDSTableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/VirtualTable.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/Download.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/Utilities.ts
  app/client/src/widgets/wds/WDSTableWidget/component/header/actions/filter/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/banner/AddNewRowBanner.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/banner/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/header/banner/styles.module.css
  app/client/src/widgets/wds/WDSTableWidget/component/header/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/utilities.test.ts
  app/client/src/widgets/wds/WDSTableWidget/component/utilities.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/index.tsx
Labels: skip-changelog

#31895 feat: add form config for reading certs for PG
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/SSLDetails.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/utils/MutualTLSCertValidatingFactory.java
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/form.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ApplicationForkingServiceTests.java
Labels: Enhancement, Task, BE Coders Pod, Postgres, Templates Pod, Integrations Pod, Templates, ok-to-test

#32384 fix: Moving datasource context creation synchronized call to boundedElastic threadpool
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
Labels: Bug, ok-to-test

#32355 chore: Remove Mongo BSON dependency for mssql plugin testcase
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
Labels: skip-changelog

#32403 chore: Remove more MongoDB API uses in tests
  app/server/appsmith-server/src/test/java/com/appsmith/server/domains/DatasourceContextIdentifierTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: skip-changelog

#32347 chore: Minimal surface API for HealthCheckServiceCE
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/HealthCheckServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/HealthCheckServiceCEImpl.java
Labels: skip-changelog

#32399 chore: Added trace and span info to context
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MDCConfig.java
Labels: skip-changelog

#32395 fix: Added assert for network status in IDE add pane interactions spec
  app/client/cypress/e2e/Regression/ClientSide/IDE/IDE_Add_Pane_Interactions_spec.ts
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#32379 chore: Support localhost in git repo URLs
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/GitServiceCETest.java
Labels: skip-changelog

#32405 chore: Use a single gson object across service instead of reinitializing for each request
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/ce/FileUtilsCEImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
Labels: skip-changelog, ok-to-test

#32391 fix: Support symlinks in `ca-certs` folder
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Bug, Needs Triaging, K8s, DevOps Pod

#31781 chore: Add separate request/response views
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/views/FromRequest.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/views/ToResponse.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
Labels: skip-changelog, ok-to-test

#32413 fix: added min width to the table cell element to avoid shrinking
  app/client/src/pages/Editor/QueryEditor/Table.tsx
Labels: Bug, Low, Production, Needs Triaging, Low effort, BE Coders Pod, Postgres, Integrations Pod, Activation - datasources, ok-to-test, Activation Pod, Activation, Ballpark: XS

#32385 chore: add analytics events
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
Labels: skip-changelog, Templates Pod, Templates, ok-to-test

#32252 chore: remove unused methods
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
Labels: Backend, Task, skip-changelog, Integrations Pod, Integrations Pod General, ok-to-test

#32412 fix: peek overlay object value in lowercase
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/JsonWrapper.tsx
Labels: Bug, Low, Production, Needs Triaging, BE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#32387 chore: server autocommit
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/CommonConstants.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/ce/FileUtilsCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ServerSchemaMigrationEnforcerTest.java
  app/server/appsmith-server/src/test/resources/com/appsmith/server/git/ce-automation-test.json
Labels: skip-changelog, ok-to-test

#32390 fix: Vertical shift on query module editor when new inputs are being added on EE
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/pages/setup/SetupForm.tsx
Labels: Bug, Low, Production, Needs Triaging, Packages pod, Module creator, ok-to-test

#32434 ci: Removing ci-merge-check workflow as it is not required anymore
  .github/workflows/ci-merge-check.yml
  .github/workflows/ok-to-test.yml
Labels: skip-changelog, CI

#32435 ci: Removing pr-test-file-check since it does not seem to be a requirement today
  .github/workflows/pr-test-file-check.yml
Labels: skip-changelog, CI

#32436 ci: Removing DocumentDB related jobs
  .github/workflows/ci-test-with-documentdb.yml
  .github/workflows/integration-tests-with-documentdb-command.yml
  .github/workflows/ok-to-test.yml
  .github/workflows/perf-test-on-documentdb.yml
Labels: skip-changelog, CI

#32426 feat: Add signature verification for user level flags
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
Labels: Enhancement, ok-to-test

#32326 fix: action selector create flow
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelectorCreateShouldBind_spec.ts
  app/client/cypress/support/Pages/EditorNavigation.ts
  app/client/src/actions/ideActions.ts
  app/client/src/actions/jsPaneActions.ts
  app/client/src/actions/propertyPaneActions.ts
  app/client/src/ce/api/JSActionAPI.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/pages/Editor/IDE/RightPane/components/CreateNewQueryModal.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/PropertyPaneWrapper.tsx
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/reducers/uiReducers/propertyPaneReducer.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/ideSelectors.tsx
  app/client/src/selectors/propertyPaneSelectors.tsx
  app/client/src/utils/JSPaneUtils.tsx
Labels: Bug, Production, IDE, New Developers Pod, Medium, ok-to-test

#32445 ci: Show TED tag used in run name and summary
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#32450 ci: Remove unused Cypress related jobs
  .github/workflows/ci-sanity.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/ci-test.yml
  .github/workflows/upgrade-appsmith-tests.yml
Labels: skip-changelog, CI

#32446 fix: template name usage in analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
Labels: Bug, High, Release, Regressed, Needs Triaging, Templates Pod, Templates, DailyPromotionBlocker, ok-to-test

#32455 ci: Delete Build DP via ops.appsmith and Add label for Cyp fix
  .github/workflows/ad-hoc-deploy-preview.yml
  .github/workflows/add-label.yml
Labels: skip-changelog, CI

#32458 fix: Add null checks for focus setters
  app/client/src/ce/navigation/FocusSetters.ts
Labels: Bug, Critical, Community Reported, New Developers Pod, IDE Navigation, ok-to-test

#32452 fix: input alignment
  app/client/packages/design-system/headless/src/components/TextInput/src/types.ts
  app/client/packages/design-system/headless/src/components/TextInputBase/src/TextInputBase.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/src/TextInput.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/stories/TextInput.stories.mdx
  app/client/packages/design-system/widgets/src/styles/src/field.module.css
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/src/components/constants.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/component/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/component/index.tsx
  app/client/src/widgets/wds/WDSPhoneInputWidget/component/index.tsx
Labels: Bug

#32418 fix: On delete of last item, redirect user to blank screen
  app/client/cypress/e2e/Regression/ClientSide/IDE/IDE_Add_Pane_Interactions_spec.ts
  app/client/src/actions/focusHistoryActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ee/sagas/NavigationSagas.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/FocusRetentionSaga.ts
  app/client/src/sagas/IDESaga.tsx
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/sagas/getNextEntityAfterDelete.test.ts
Labels: Bug, Production, IDE, Needs Triaging, New Developers Pod, IDE Navigation, PR blocker, ok-to-test

#32449 fix: ds form required checkboxes issue fixed
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
Labels: Bug, Datasources, Low, Production, Needs Triaging, Low effort, BE Coders Pod, REST API plugin, Integrations Pod, ok-to-test

#32461 ci: Delete jobs that are not part of SDLC process anymore
  .github/workflows/CypressAddKnownfailedtests.yml
  .github/workflows/label-checker.yml
  .github/workflows/packer-ami-build.yml
Labels: skip-changelog, CI

#32375 fix: mongo uri lowercasing removed
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/utils/DatasourceUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/utils/DatasourceUtilsTest.java
Labels: Bug, Low, Production, Needs Triaging, Low effort, Mongo, BE Coders Pod, Integrations Pod, ok-to-test

#32459 chore: remove redundant evalTreeWithChanges calls during plugin page load call
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Performance Pod, Task, skip-changelog, Performance, ok-to-test

#32478 feat: Tabs revamp add button position
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/sagas/IDESaga.tsx
  app/client/src/selectors/ideSelectors.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation, ok-to-test

#32474 fix: self signed certificates value set in the props
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/transformers/RestAPIDatasourceFormTransformer.ts
Labels: Bug, Datasources, High, Production, Needs Triaging, Low effort, BE Coders Pod, OAuth, Integrations Pod, ok-to-test

#32464 fix: safari user select
  app/client/src/layoutSystems/anvil/viewer/canvas/styles.module.css
  app/client/src/pages/Editor/WidgetsEditor/components/WidgetEditorContentWrapper.tsx
  app/client/src/pages/Editor/commons/EditorWrapperContainer.tsx
Labels: Bug, ok-to-test

#32489 fix:canvas empty space
  app/client/src/pages/Editor/WidgetsEditor/components/MainContainerWrapper.tsx
Labels: Bug, Low, skip-docs, skip-testPlan, Anvil POD, skip-documentation, Anvil team, ok-to-test

#32496 chore: Add more Bridge APIs needed for EE
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
Labels: skip-changelog

#32493 fix:button icon settings
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/widgets/wds/WDSButtonWidget/config/propertyPaneConfig/styleConfig.ts
Labels: Bug, Medium, skip-docs, skip-testPlan, Anvil POD, WDS team, skip-documentation, ok-to-test

#32498 fix: NPE in SegmentConfig
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
Labels: Bug

#32484 fix: label for data type in s3 create file action
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/create.json
Labels: Bug, Low, Production, Needs Triaging, Low effort, S3, BE Coders Pod, Integrations Pod, ok-to-test

#32516 chore: add code split for sending analytics for packages
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: Backend, Task, skip-changelog, Packages pod, Module creator, Module consumer

#29830 fix: rest api response box is unreachable via scroll
  app/client/src/components/editorComponents/Debugger/DebuggerLogs.tsx
  app/client/src/components/editorComponents/EntityBottomTabs.tsx
Labels: Stale, ok-to-test

#32371 chore: Fix bugs in logic for capturing web vitals for client
  app/client/docker/templates/nginx-app.conf.template
  app/client/jest.config.js
  app/client/package.json
  app/client/public/index.html
  app/client/src/UITelemetry/auto-otel-web.js
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/index.tsx
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#32420 fix: widget card filter
  app/client/cypress/e2e/Regression/ClientSide/Templates/BuildingBlocks/StarterBuildingBlocksOnCanvas_spec.ts
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
  app/client/src/pages/Editor/widgetSidebar/hooks.ts
Labels: Bug, Low, Release, UI Builders Pod, Widgets Pane, ok-to-test

#32382 fix: appsmith.URL.queryParams update on same page navigation
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/NavigateTo1_spec.ts
  app/client/src/ce/actions/evaluationActionsList.ts
  app/client/src/sagas/ActionExecution/NavigateActionSaga.ts
Labels: Bug, Low, Production, FE Coders Pod, Framework Functions, Integrations Pod, Integrations Pod General, ok-to-test

#32523 chore: Remove stack trace in logs for action timeouts
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: skip-changelog

#32454 chore: Git spans changed from enum to string
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/BaseSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/GitSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/GitSpans.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/ce/GitSpanCE.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/git/GitSpansTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: skip-changelog, ok-to-test, Git performance

#32433 chore: Added metrics on File I/O wrt git
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/FileUtilsImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/ce/FileUtilsCEImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/MDCConstants.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/ce/GitConstantsCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/ce/GitSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/ObservationHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MDCConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/MDCFilter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ObservationHelperImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/MDCConfigTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/ObservationTestConfig.java
Labels: skip-changelog

#32521 fix: updated help text and client tests
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/test/factories/MockPluginsState.ts
Labels: Bug, Low, Production, Needs Triaging, Low effort, Papercut, BE Coders Pod, Twilio, Integrations Pod, ok-to-test

#32534 chore: Added NOOP behaviour for observation helper
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ObservationHelperImpl.java
Labels: skip-changelog

#32487 fix: connection mode hidden from mysql form config
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/form.json
Labels: Bug, Backend, High, Production, MySQL, BE Coders Pod, Medium, Integrations Pod, ok-to-test

#32537 ci: Remove unused code from Cypress setup
  app/client/cypress/setup-test-ci.sh
Labels: skip-changelog, CI, ok-to-test

#32546 fix: Workspace service tests
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/WorkspaceRepositoryCE.java
Labels: Bug

#32543 ci: [Cypress Test Results] Remove code wrappers from commit refs
  .github/workflows/pr-automation.yml
  .github/workflows/pr-cypress.yml
Labels: skip-changelog, CI, ok-to-test

#32526 fix: commands title changed to command for each datasource query editor forms
  app/client/cypress/e2e/Regression/Apps/MongoDBShoppingCart_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/JS_AC1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bug25982_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bugs26410_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkAppWithMultipleDS_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/FormNativeToRawTests/MongoConversion_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Firestore_Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo1_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo_Spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_1_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/S3_2_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/pages/Editor/SaaSEditor/__data__/FinalState.json
  app/client/src/pages/Editor/SaaSEditor/__data__/InitialState.json
  app/client/test/factories/MockPluginsState.ts
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/editor/root.json
  app/server/appsmith-server/src/test/resources/test_assets/PluginServiceTest/mock-editor.json
Labels: Bug, Low, Production, Needs Triaging, Low effort, Mongo, BE Coders Pod, Up for grabs, Integrations Pod, ok-to-test

#32383 chore: refactor in debugger saga to transform error logs in EE
  app/client/src/actions/debuggerActions.ts
  app/client/src/ce/components/editorComponents/Debugger/ErrorLogs/getLogIconForEntity.tsx
  app/client/src/ce/sagas/helpers.ts
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogEntityLink.tsx
  app/client/src/sagas/DebuggerSagas.ts
Labels: skip-changelog, ok-to-test

#32600 fix: Don't send events with `null` to Segment
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
Labels: Bug

#32490 feat: Move conversion flow under feature flag.
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/AutoDimension_1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ResizingSpec.ts
  app/client/cypress/support/Pages/AutoLayout.ts
  app/client/src/actions/featureFlagActions.ts
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/selectors/featureFlagsSelectors.ts
  app/client/src/layoutSystems/anvil/utils/layouts/highlights/alignedRowHighlights.ts
  app/client/src/pages/Editor/CanvasLayoutConversion/ConversionButton.tsx
  app/client/src/pages/Editor/CanvasLayoutConversion/SnapShotBannerCTA.tsx
  app/client/src/pages/Editor/CanvasLayoutConversion/hooks/useShowSnapShotBanner.ts
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/LayoutSystemBasedPageViewer.tsx
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/utils/hooks/useFeatureFlagOverride.ts
  app/client/src/utils/storage.ts
Labels: Enhancement, Anvil POD, Anvil team, ok-to-test

#32598 fix: Data list styling
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#32612 chore: fix ee type checks issue.
  app/client/src/actions/featureFlagActions.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/selectors/featureFlagsSelectors.ts
  app/client/src/reducers/uiReducers/usersReducer.ts
  app/client/src/utils/hooks/useFeatureFlagOverride.ts
  app/client/src/utils/storage.ts
Labels: skip-changelog, ok-to-test

#32614 fix: missing methods in gitexecutorceimpl
  app/client/cypress/e2e/Regression/ClientSide/BugTests/GitBugs_Spec.ts
  app/client/cypress/support/Pages/AutoLayout.ts
  app/client/src/pages/Editor/gitSync/components/GitChangesList/NewChangesList.test.tsx
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
Labels: Bug, Git Version Control, Git Pod, ok-to-test

#32607 chore: Move migration helper method to respective class
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog1.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
Labels: skip-changelog, ok-to-test

#32527 fix: deprecate JS object confirm before calling
  app/client/cypress/e2e/Regression/ClientSide/BugTests/MultipleOnPageLoadConfirmation_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad1_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad4_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JsOnLoad3_Spec.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/RemoveConfirmBeforeCallingDialog.tsx
  app/client/src/pages/Editor/JSEditor/constants.ts
Labels: Bug, Task, JS Objects, FE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#32593 feat: suggest queries query type added in action DTO
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/DatasourceQueryType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
Labels: Enhancement, Task, Integrations Pod, Activation - learnability, ok-to-test

#32611 chore: Using the new function for getting the new name for entities during the copy and move flow
  app/client/src/ce/reducers/entityReducers/actionsReducer.tsx
  app/client/src/ce/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Actions/MoreActionsMenu.tsx
  app/client/src/pages/Editor/Explorer/Actions/helpers.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionContextMenu.tsx
  app/client/src/pages/Editor/Explorer/JSActions/helpers.tsx
  app/client/src/pages/Editor/JSEditor/AppJSEditorContextMenu.tsx
  app/client/src/sagas/ActionSagas.ts
Labels: Task, skip-changelog, Packages pod, Module consumer, ok-to-test

#32605 fix: Add Loading when JS is getting created
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
Labels: Bug, Low, Release, New Developers Pod, IDE Navigation, ok-to-test

#32603 fix: Api Pane IA
  app/client/src/components/editorComponents/ApiResponseMeta.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
Labels: Bug, potential-duplicate, IDE, New Developers Pod, IDE Navigation, ok-to-test

#32411 chore: Use update clause from Bridge API
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BranchAwareDomain.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStorageStructureRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
Labels: skip-changelog, ok-to-test

#32609 chore: Merge wds and anvil feature flags
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilAppNavigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilDnD_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilSuggestedWidgets_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilWidgetClicking_spec.ts
  app/client/cypress/support/commands.js
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/pasteSagas.ts
  app/client/src/layoutSystems/anvil/integrations/selectors.ts
  app/client/src/layoutSystems/anvil/utils/anvilChecksUtils.ts
  app/client/src/layoutSystems/common/mainContainerResizer/useMainContainerResizer.ts
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/CanvasSelectionArena.test.tsx
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/index.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/QueryEditor/BindDataButton.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/MainContainerWrapper.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/NavigationAdjustedPageViewer.tsx
  app/client/src/sagas/AutoLayoutUpdateSagas.tsx
  app/client/src/sagas/ModalSagas.ts
  app/client/src/sagas/WidgetBlueprintSagas.test.ts
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/selectors/layoutSystemSelectors.ts
  app/client/src/selectors/widgetSelectors.ts
  app/client/src/utils/hooks/useFeatureFlagOverride.ts
  app/client/src/widgets/withWidgetProps.tsx
  app/client/test/testCommon.ts
Labels: Task, skip-changelog, Anvil POD, ok-to-test

#32520 chore: Remove unused environment variable
  app/client/public/index.html
Labels: skip-changelog, ok-to-test

#32660 fix: tooltip readability issue in templates card title
  app/client/src/pages/Templates/Template/index.tsx
Labels: Bug, Low, Production, Low effort, Templates Pod, Templates, ok-to-test

#32664 fix: jest test failures coz of getIsAnvilLayout
  app/client/src/layoutSystems/anvil/integrations/selectors.ts
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/CanvasSelectionArena.test.tsx
  app/client/src/sagas/WidgetBlueprintSagas.test.ts
  app/client/test/testCommon.ts
Labels: Bug, ok-to-test

#32551 feat: Tabs close functionality and scroll
  app/client/src/actions/jsActionActions.ts
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ee/sagas/JSActionSagas.ts
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/IDESaga.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation, ok-to-test

#32327 fix: [Table Widget] Remove unnecessary scrollbar when page size fits in available height
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_GeneralProperty_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/scrollbar_spec.ts
  app/client/cypress/fixtures/Table/ScrollbarDSL.json
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableStyledWrappers.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/Button.tsx
Labels: Bug, Table Widget, App Viewers Pod, Production, Needs Triaging, Medium, ok-to-test

#32606 chore: flaky git test fix
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ServerSchemaMigrationEnforcerTest.java
Labels: skip-changelog, Git Auto-commit

#32667 chore: Fix warnings on `@EqualsAndHashCode`
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/UserImageContent.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/UserTextContent.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitDeployKeys.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/License.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UpdatePermissionGroupDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserProfileDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UserUpdateDTO.java
Labels: skip-changelog, ok-to-test

#32676 chore: Remove unused API route
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/PageControllerCE.java
Labels: skip-changelog

#32571 chore: Remove `@Document` on non-entity classes
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ActionConfiguration.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Connection.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceConfiguration.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Endpoint.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/PEMCertificate.java
Labels: skip-changelog, ok-to-test

#32680 fix: Typo in error codes
  app/client/src/ce/constants/ApiConstants.tsx
Labels: Bug, Low, Production, Low effort, New Developers Pod, IDE Navigation, ok-to-test

#32685 fix: move useFeatureFlagOverride to routes instead of app router
  app/client/src/ce/AppRouter.tsx
Labels: Bug, ok-to-test

#32650 feat: added updatedAt in actions
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ConsolidatedAPIServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: Enhancement, Task, Integrations Pod, Activation - learnability, ok-to-test

#32448 chore: Add separate request/response views
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/AnalyticsInfo.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BaseDomain.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/views/FromRequest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
Labels: skip-changelog, ok-to-test

#32592 fix: default port numbers for the datasources
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Redis_Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/EmptyDataSource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/ArangoDataSourceStub_spec.js
  app/client/cypress/e2e/Sanity/Datasources/ElasticSearchDatasource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MongoDatasourceURI_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MySQL_spec.js
  app/client/cypress/e2e/Sanity/Datasources/PostgresDatasource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/RedshiftDataSourceStub_spec.js
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
  app/client/cypress/support/dataSourceCommands.js
  app/client/test/factories/MockPluginsState.ts
  app/server/appsmith-plugins/arangoDBPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/form.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/redisPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/form.json
Labels: Bug, potential-duplicate, Task, Integrations Pod, Activation - datasources, ok-to-test, Activation Pod, Activation, Ballpark: XXS

#31857 feat: implement dropping building blocks on canvas
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/src/api/TemplatesApi.ts
  app/client/src/assets/icons/templates/building-block-explorer-drop-target-arrow.svg
  app/client/src/assets/icons/templates/building-block-explorer-drop-target-icon.svg
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/uiReducers/index.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/layoutSystems/common/dropTarget/buildingBlockExplorerDropTarget/index.tsx
  app/client/src/layoutSystems/common/utils/canvasDraggingUtils.ts
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/hooks/useCanvasDragging.ts
  app/client/src/pages/Editor/widgetSidebar/SeeMoreButton.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntityTagGroup.tsx
  app/client/src/pages/Editor/widgetSidebar/hooks.ts
  app/client/src/reducers/uiReducers/buildingBlockReducer.ts
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/sagas/WidgetOperationUtils.ts
  app/client/src/selectors/buildingBlocksSelectors.ts
  app/client/src/selectors/layoutSystemSelectors.ts
  app/client/src/selectors/templatesSelectors.tsx
  app/client/src/widgets/SkeletonWidget.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/BuildingBlockImportDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
Labels: Enhancement, Templates Pod, Templates, ok-to-test

#32684 fix: edit button on hover of suggested queries should appear on overall list item.
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/globalStyles/CodemirrorHintStyles.ts
Labels: Bug, Low effort, Task, Integrations Pod, Activation - learnability, ok-to-test, Activation Pod, Activation, Ballpark: XS

#32703 chore: uncommented the fix
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ServerSchemaMigrationEnforcerTest.java
  app/server/appsmith-server/src/test/resources/com/appsmith/server/git/ce-automation-test.json
Labels: skip-changelog

#32698 fix: Updating the ramp link for Enterprise features to open the pricing page
  app/client/cypress/e2e/Regression/Enterprise/AdminSettings/Admin_settings_spec.js
  app/client/cypress/support/commands.js
  app/client/src/ce/pages/Upgrade/ProvisioningUpgradePage.tsx
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/pages/AdminSettings/Authentication/AuthPage.tsx
  app/client/src/pages/AdminSettings/FormGroup/Common.tsx
  app/client/src/pages/AdminSettings/LeftPane.tsx
  app/client/src/pages/Editor/DataSourceEditor/FormTitle.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/utils/hooks/useOnUpgrade.ts
Labels: Bug, Frontend, Production, Needs Triaging, Medium, Billing & Usage Pod, In-app ramps, ok-to-test

#32711 fix: Revert "feat: suggest queries query type added in action DTO"
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/DatasourceQueryType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
Labels: Bug, ok-to-test

#32719 fix: Removing the unexpected error on updating the workspace name to blank
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/sagas/WorkspaceSagas.ts
Labels: Bug, Low, Production, Needs Triaging, Team Managers Pod, Billing & Usage Pod, Workspace settings, ok-to-test

#32254 chore: Remove BaseController on WorkspaceControllerCE
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/WorkspaceControllerCE.java
Labels: skip-changelog, Stale

#32726 fix: reverting the default port numbers for the datasources
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Redis_Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/EmptyDataSource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/ArangoDataSourceStub_spec.js
  app/client/cypress/e2e/Sanity/Datasources/ElasticSearchDatasource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MongoDatasourceURI_spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MySQL_spec.js
  app/client/cypress/e2e/Sanity/Datasources/PostgresDatasource_spec.js
  app/client/cypress/e2e/Sanity/Datasources/RedshiftDataSourceStub_spec.js
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
  app/client/cypress/support/dataSourceCommands.js
  app/client/test/factories/MockPluginsState.ts
  app/server/appsmith-plugins/arangoDBPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/form.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/redisPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/smtpPlugin/src/main/resources/form.json
Labels: Bug, ok-to-test

#32730 fix: fixing page change messaging in commit modal
  app/client/src/pages/Editor/gitSync/components/GitChangesList/NewChangesList/PageChanges.tsx
Labels: Bug, Low, Production, Needs Triaging, Git Version Control, Git Pod, ok-to-test

#32709 fix: Widget name disappear as you hover over it
  app/client/src/components/designSystems/appsmith/PositionedContainer.tsx
  app/client/src/layoutSystems/common/draggable/DraggableComponent.tsx
  app/client/src/utils/hooks/useHoverToFocusWidget.ts
Labels: Bug, Production, New Developers Pod, Medium, IDE Navigation, ok-to-test

#32715 chore: wds select component
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/Button/src/Button.tsx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/src/CheckboxGroup.tsx
  app/client/packages/design-system/widgets/src/components/ContextualHelp/index.ts
  app/client/packages/design-system/widgets/src/components/ContextualHelp/src/ContextualHelp.tsx
  app/client/packages/design-system/widgets/src/components/ContextualHelp/src/index.ts
  app/client/packages/design-system/widgets/src/components/ContextualHelp/src/types.ts
  app/client/packages/design-system/widgets/src/components/RadioGroup/src/RadioGroup.tsx
  app/client/packages/design-system/widgets/src/components/Select/index.ts
  app/client/packages/design-system/widgets/src/components/Select/src/Select.tsx
  app/client/packages/design-system/widgets/src/components/Select/src/index.ts
  app/client/packages/design-system/widgets/src/components/Select/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Select/src/types.ts
  app/client/packages/design-system/widgets/src/components/Select/stories/Select.stories.mdx
  app/client/packages/design-system/widgets/src/components/TextArea/src/TextArea.tsx
  app/client/packages/design-system/widgets/src/components/TextInput/src/TextInput.tsx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/yarn.lock
Labels: skip-changelog, Medium, Anvil POD, WDS team

#32678 fix: Fix support for custom SSH port in Git URLs
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
Labels: Bug, ok-to-test

#32671 fix: Unable to publish forked app to community portal
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
Labels: Bug, Low, Production, Needs Triaging, Templates Pod, Templates, ok-to-test

#32641 chore: Updating the login and signup page for cloud hosting as per new design
  app/client/cypress/e2e/Regression/ClientSide/Github/EnableGithub_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Google/EnableGoogle_spec.js
  app/client/package.json
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/components/editorComponents/Form.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/pages/UserAuth/Container.tsx
  app/client/src/pages/UserAuth/FooterLinks.tsx
  app/client/src/pages/UserAuth/ForgotPassword.tsx
  app/client/src/pages/UserAuth/LeftSideContent.tsx
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/ResetPassword.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/UserAuth/StyledComponents.tsx
  app/client/src/pages/UserAuth/ThirdPartyAuth.tsx
  app/client/src/pages/UserAuth/VerificationError.tsx
  app/client/src/pages/UserAuth/VerificationPending.tsx
  app/client/src/pages/UserAuth/index.tsx
  app/client/yarn.lock
Labels: Admin Settings, Task, skip-changelog, Team Managers Pod, ok-to-test

#32739 chore: Add tags for consolidated api spans
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ConsolidatedAPIController.java
Labels: skip-changelog, ok-to-test

#32712 chore: Make Editor Pane Segments GA
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/sagas/JSActionSagas.ts
  app/client/src/ce/selectors/featureFlagsSelectors.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/pages/Editor/APIEditor/CurlImportEditor.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/IDE/AppsmithIDE.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIRender.test.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/JSEditor/index.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/pages/Editor/widgetSidebar/WidgetCard.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
Labels: Task, skip-changelog, New Developers Pod, IDE Navigation, ok-to-test

#32754 fix: add Auto Layout hover functions
  app/client/src/layoutSystems/autolayout/common/FlexComponent.tsx
Labels: Bug, ok-to-test

#32761 fix: adding ordering to page changes
  app/client/src/pages/Editor/gitSync/components/GitChangesList/NewChangesList/PageChanges.tsx
Labels: Bug, Release, Needs Triaging, Medium, Git Pod, ok-to-test, Git status

#32675 test: Fix Caddy route tests with custom Caddy
  deploy/docker/route-tests/Dockerfile
  deploy/docker/route-tests/common/index-html-response.hurl
  deploy/docker/route-tests/entrypoint.sh
  deploy/docker/route-tests/run.sh
Labels: skip-changelog, Test

#32714 chore: add redux test plan dependency and add jest test case for pageSaga
  app/client/package.json
  app/client/src/ce/sagas/__tests__/PageSaga.test.ts
  app/client/src/ce/sagas/__tests__/mockConsolidatedApiResponse.json
  app/client/src/sagas/__tests__/initSagas.test.ts
  app/client/src/sagas/__tests__/mockConsolidatedApiResponse.json
  app/client/yarn.lock
Labels: skip-changelog, skip-testPlan, ok-to-test

#32759 fix: Heading widget alignment does not follow user setting
  app/client/packages/design-system/widgets/src/components/Text/src/styles.module.css
  app/client/src/widgets/wds/WDSParagraphWidget/widget/index.tsx
Labels: Bug, High, Deploy Preview, WDS - widget styling, Anvil POD, WDS team

#32736 chore: Update defaults
  app/client/src/components/propertyControls/MenuItemsControl.tsx
  app/client/src/widgets/wds/WDSBaseInputWidget/config/contentConfig.ts
  app/client/src/widgets/wds/WDSButtonWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSButtonWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/constants.ts
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSHeadingWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSIconButtonWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSIconButtonWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSIconButtonWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSInlineButtonsWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSInlineButtonsWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSInputWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSInputWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSMenuButtonWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSMenuButtonWidget/config/propertyPaneConfig/childPanels/menuItemsConfig.ts
  app/client/src/widgets/wds/WDSMenuButtonWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSMenuButtonWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSModalWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSModalWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSParagraphWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSParagraphWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSRadioGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSRadioGroupWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSSwitchWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/config/propertyPaneConfig/contentConfig.ts
Labels: Task, skip-changelog, Anvil POD, WDS team

#32707 fix: adding branch protection callout
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/actions/gitSyncActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IDE/ProtectedBranchIDE.test.tsx
  app/client/src/pages/Editor/IDE/ProtectedCallout.tsx
  app/client/src/pages/Editor/IDE/index.tsx
  app/client/src/pages/Editor/commons/EditorWrapperContainer.tsx
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug, Git Version Control, Task, Git Pod, ok-to-test

#32517 chore: Include a closed question to PRs template
  .github/pull_request_template.md
Labels: skip-changelog, Stale, skip-testPlan, skip-documentation, ok-to-test

#32486 chore: Make pages section into a dropdown
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableWidgets_NavigateTo_Validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Hide_Page_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/JSEditorContextMenu_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Page_Load_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBugs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitWithAutoLayout/conversion_of_git_connected_apps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionFlow_Corner_Cases_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Camera/Image_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Dropdown/Dropdown_onOptionChange_spec.js
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo_Spec.js
  app/client/cypress/e2e/Sanity/Datasources/SMTPDatasource_spec.js
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/PageList.ts
  app/client/cypress/support/widgetCommands.js
  app/client/package.json
  app/client/src/actions/ideActions.ts
  app/client/src/actions/widgetActions.tsx
  app/client/src/ce/actions/applicationActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/PartialExportModal.test.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/index.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialImportModal/index.tsx
  app/client/src/pages/Editor/Explorer/Pages/AddPageContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/IDE/EditorPane/PagesSection.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/PageElement.tsx
  app/client/src/pages/Editor/IDE/EditorPane/index.tsx
  app/client/src/pages/Editor/IDE/Header/EditorTitle.tsx
  app/client/src/pages/Editor/IDE/Header/index.tsx
  app/client/src/pages/Editor/index.tsx
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/selectors/ideSelectors.tsx
  app/client/yarn.lock
Labels: Bug, Low, Production, Needs Triaging, skip-changelog, Papercut, New Developers Pod, IDE Navigation, ok-to-test

#32692 fix: Input validations on page update API
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/PageControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageUpdateDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/TextUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/PageControllerTest.java
Labels: Bug, ok-to-test

#32760 fix: graphQL bindings issue resolved
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/ArrayType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/DateType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/JsonObjectType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/StringType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/TimeType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/datatypes/TimestampType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/PluginUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/DataUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/BasePlugin.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/FilterDataServiceCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/SerializationUtils.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/utils/WhereConditionUtils.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/GetDatasourceMetadataMethod.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/utils/GraphQLDataTypeUtils.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/commands/MongoCommand.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/datatypes/MySQLDateTimeType.java
  app/server/appsmith-plugins/saasPlugin/src/main/java/com/external/plugins/SaasPlugin.java
Labels: Bug, Datasources, Critical, Production, Needs Triaging, BE Coders Pod, GraphQL Plugin, Medium, Integrations Pod, ok-to-test

#32700 fix: removed success toast message for onload js functions
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Moment_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/sagas/JSPaneSagas.ts
Labels: Bug, Production, Low effort, Task, Papercut, REST API plugin, Integrations Pod, ok-to-test

#32718 test: updated tests by replacing external APIs
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Bugs_Spec.js
  app/client/cypress/fixtures/IframeDsl.json
  app/client/cypress/fixtures/IframeOnSrcDocChange.json
  app/client/cypress/fixtures/Listv2/Listv2JSObjects.json
  app/client/cypress/fixtures/tableResizedColumnsDsl.json
  app/client/cypress/fixtures/tableV2ResizedColumnsDsl.json
Labels: skip-changelog, ok-to-test, Test

#32738 chore: Move non-permission repository method to generic repo class
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/projections/DefaultTimestampOnly.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/ApplicationSnapshotRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationSnapshotRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationSnapshotRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationSnapshotServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ApplicationSnapshotRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationSnapshotServiceTest.java
Labels: skip-changelog, ok-to-test

#31325 chore: Local Caddy support
  app/client/.gitignore
  app/client/public/index.html
  app/client/start-caddy.sh
  app/client/start-https.sh
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, ok-to-test

#32769 chore: Add a lint step for field name constants
  app/server/build.sh
  app/server/scripts/check-field-constants.mjs
Labels: skip-changelog

#32777 fix: Make git push operation atomic
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug, ok-to-test

#32767 chore: Introduce IdPoliciesOnly record to handle projections
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/projections/IdPoliciesOnly.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/ActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/DatasourceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/NewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/NewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#32788 chore: Page rename API client validation
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/PageSettings.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/PageElement.tsx
  app/client/src/utils/helpers.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageUpdateDTO.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/PageControllerTest.java
Labels: skip-changelog, ok-to-test

#32793 chore: Replace more `new ObjectId` with UUIDs
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/clonepage/ActionCollectionClonePageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/importable/applications/ActionCollectionApplicationImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/applications/NewActionApplicationImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/exportable/NewPageExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/importable/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
Labels: skip-changelog, ok-to-test
