Repository appsmithorg/appsmith, pull requests merged in 2024-03, with the labels that each got.

#31369 chore: Remove `mongoTemplate` from custom action repo impl
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNewActionRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: skip-changelog

#31394 chore: Split companion to package import
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/converters/ArtifactExchangeJsonAdapter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/converters/ce/ArtifactExchangeJsonAdapterCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ApplicationJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/artifactbased/ArtifactBasedImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/exportable/NewActionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
Labels: skip-changelog

#31131 chore: git continuous delivery automation tests
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBugs_spec.js
  app/client/cypress/locators/gitSyncLocators.js
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/pages/Editor/gitSync/components/CopyButton.tsx
Labels: Git Version Control, skip-changelog, Stale, Git Pod

#31375 fix: Modal overlay crop issue
  app/client/src/layoutSystems/common/modalOverlay/ModalOverlayLayer.tsx
  app/client/src/pages/AppViewer/AppPage.styled.tsx
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/utils/hooks/useAppViewerSidebarProperties.ts
Labels: Bug, Modal Widget, App Viewers Pod, High, Needs Triaging, New Developers Pod, IDE Navigation

#31305 fix: Enable multi widget selection in Anvil
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilWidgetClicking_spec.ts
  app/client/src/layoutSystems/anvil/common/hooks/detachedWidgetHooks.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetClick.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilWidgetSelectionSaga.ts
  app/client/src/layoutSystems/anvil/utils/types.ts
Labels: Bug

#31418 fix: default icon in statbox widget
  app/client/src/widgets/wds/WDSStatBoxWidget/config/defaultsConfig.ts
Labels: Bug, Widget design system, WDS team

#31382 fix: Radio group options not accessible
  app/client/src/widgets/wds/WDSRadioGroupWidget/widget/config/propertyPaneConfig/validations/defaultOptionValidation.ts
Labels: Bug

#31328 chore: Use queryBuilder for count op
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: skip-changelog

#31380 test: Add AssertJ for plugins, for better assertions
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: skip-changelog, Test

#31453 March 4th, 2024 - Daily promotion
  .github/ISSUE_TEMPLATE/--bug-report.yaml
  .github/config.json
  .github/workflows/server-build.yml
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilWidgetClicking_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBugs_spec.js
  app/client/cypress/locators/gitSyncLocators.js
  app/client/cypress/support/Pages/GitSync.ts
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/types.ts
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/packages/design-system/widgets/src/testing/Elevation.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.ts
  app/client/src/layoutSystems/anvil/common/hooks/detachedWidgetHooks.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetClick.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilWidgetSelectionSaga.ts
  app/client/src/layoutSystems/anvil/utils/types.ts
  app/client/src/layoutSystems/common/modalOverlay/ModalOverlayLayer.tsx
  app/client/src/pages/AppViewer/AppPage.styled.tsx
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/AppViewer/AppViewerPageContainer.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/Explorer/Actions/helpers.tsx
  app/client/src/pages/Editor/gitSync/components/CopyButton.tsx
  app/client/src/utils/hooks/useAppViewerSidebarProperties.ts
  app/client/src/widgets/wds/WDSRadioGroupWidget/widget/config/propertyPaneConfig/validations/defaultOptionValidation.ts
  app/client/src/widgets/wds/WDSStatBoxWidget/config/defaultsConfig.ts
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/converters/ArtifactExchangeJsonAdapter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/converters/ce/ArtifactExchangeJsonAdapterCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ApplicationJsonCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/artifactbased/ArtifactBasedImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/exportable/NewActionExportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CustomNewActionRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
Labels: Task

#31427 chore: Static and generified bridge API
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomConfigRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStorageStructureRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
Labels: Task, skip-changelog

#31390 fix: Client development build performance
  app/client/craco.common.config.js
  app/client/craco.dev.config.js
  app/client/package.json
  app/client/tsconfig.json
Labels: Bug

#31067 feat: PGSql MTLS support
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/RSAKeyUtil.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/SSLDetails.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/utils/MutualTLSCertValidatingFactory.java
Labels: Enhancement, Task, Stale, BE Coders Pod, Postgres, Templates Pod, Integrations Pod, Templates

#31457 ci: Add `$PWD/` prefix for failed tests faile
  .github/workflows/server-build.yml
Labels: Task, skip-changelog, CI

#31425 feat: workflow analytics code split and housekeeping
  app/client/src/ce/actions/auditLogsAction.ts
  app/client/src/ce/utils/analyticsHelpers.ts
  app/client/src/ee/actions/auditLogsAction.ts
  app/client/src/ee/utils/analyticsHelpers.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/utils/AnalyticsUtil.tsx
Labels: Enhancement, Task, Workflows

#31461 chore: Support configurable body max size in Caddyfile
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: High, Production, Needs Triaging, Task, skip-changelog, Docker, DevOps Pod

#31463 chore(deps): bump ip from 2.0.0 to 2.0.1 in /app/client
  app/client/yarn.lock
Labels: Task

#31159 feat: workflows assign request on browser
  app/client/src/ce/entities/Engine/actionHelpers.ts
  app/client/src/ce/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/ce/utils/autocomplete/helpers.ts
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/components/editorComponents/ActionCreator/constants.ts
  app/client/src/components/editorComponents/ActionCreator/viewComponents/ActionBlockTree/utils.tsx
  app/client/src/ee/utils/autocomplete/helpers.ts
  app/client/src/plugins/Linting/handlers/lintService.ts
  app/client/src/plugins/Linting/utils/isEntityFunction.ts
  app/client/src/reducers/entityReducers/appReducer.ts
  app/client/src/workers/Evaluation/fns/index.ts
Labels: Enhancement

#31300 feat: workflow queries/actions rename code split
  app/client/src/api/ActionAPI.tsx
  app/client/src/ce/api/JSActionAPI.tsx
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/LightningMenu/hooks.ts
Labels: Enhancement, Low, Production, Workflows

#31469 fix: small modification for unavailable jsArguments on EE while importing JS module instance
  app/client/src/ce/entities/DataTree/dataTreeJSAction.ts
Labels: Bug, Low, Release

#31419 chore: removes feature flag logic for flipped CTAs
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/common/datasourceAuth/index.tsx
Labels: Task, skip-changelog, Integrations Pod, Activation - datasources

#31471 fix: improved widgets layout
  app/client/packages/design-system/widgets/src/components/ActionGroup/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/src/CheckboxGroup.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/src/RadioGroup.tsx
  app/client/packages/design-system/widgets/src/components/Switch/src/styles.module.css
  app/client/packages/design-system/widgets/src/styles/src/field.module.css
  app/client/packages/design-system/widgets/src/styles/src/inline-label.module.css
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSCheckboxWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxWidget/widget/types.ts
  app/client/src/widgets/wds/WDSIconButtonWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSMenuButtonWidget/config/metaConfig.ts
  app/client/src/widgets/wds/WDSRadioGroupWidget/widget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSRadioGroupWidget/widget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSRadioGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSRadioGroupWidget/widget/types.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/defaultsConfig.ts
Labels: Bug, Low, Release

#31479 fix: side by side blank state, tooltip, and add button UI
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/BlankState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/BlankStateContainer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/BlankState.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/BlankStateContainer.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
Labels: Bug, Low, Release, New Developers Pod, IDE Navigation

#31480 feat: ads package update for workflows icon
  app/client/package.json
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/yarn.lock
Labels: Enhancement, Task, Workflows

#30897 feat: add ratelimiting for caddy
  deploy/docker/base.dockerfile
Labels: Enhancement

#31488 chore: Compatibility changes for import apps with mi downgraded experience
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/importable/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportableService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/ImportableServiceCECompatible.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
Labels: Task, skip-changelog

#31477 fix: WDS Theming breaking on custom font
  app/client/src/pages/Editor/Canvas.tsx
Labels: Bug, Low, Release

#31495 fix: Last selected js function / response does not load up
  app/client/src/pages/Editor/JSEditor/Form.tsx
Labels: Bug, Low, Production, Release, Needs Triaging, New Developers Pod, Medium, IDE Navigation

#31456 chore: Remove unused anonymous user cache
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
Labels: Task, skip-changelog

#31526 chore: Split changes for idempotent exports with module instances
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/exportable/NewActionExportableServiceCEImpl.java
Labels: Task, skip-changelog

#31398 feat: building block canvas dragging
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/importable/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/BuildingBlockDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/BuildingBlockImportDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/MappedImportableResourcesCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactorUtil.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialImportServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceCEImplTest.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/building-block.json
Labels: Enhancement, Templates Pod, Templates

#31468 chore: clean up space distribution feature in Anvil
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/integrations/sagas/sectionSagas.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/propertyPane/PropertyPaneSectionSpaceDistributor.tsx
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/useSpaceDistributionEvents.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/onMouseMoveUtils.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/spaceDistributionEditorUtils.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/spaceRedistributionSagaUtils.test.ts
  app/client/src/layoutSystems/anvil/sectionSpaceDistributor/utils/spaceRedistributionSagaUtils.ts
  app/client/src/layoutSystems/common/useLayoutSystemFeatures.ts
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/CanvasSelectionArena.test.tsx
  app/client/src/pages/Editor/Explorer/Pages/AddPageContextMenu.tsx
  app/client/src/pages/Editor/WidgetsEditor/EmptyCanvasPrompts.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
Labels: Task, skip-changelog

#31540 fix: focused state not working on storybook's complex form story due to z-index
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
Labels: Bug, Low, Release

#31550 fix: missing js arguments so making it optional
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/utils/JSPaneUtils.tsx
Labels: Bug, Frontend, Low, Release, Modules pod

#31552 chore: Re-ordering the menu for APIs and Queries & deleting BetaTag component as its deprecated
  app/client/src/ce/pages/Editor/Explorer/hooks.tsx
  app/client/src/ee/pages/Editor/Explorer/hooks.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/pages/Editor/Explorer/ContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Files/FilesContextProvider.tsx
  app/client/src/pages/Editor/gitSync/components/BetaTag.test.tsx
  app/client/src/pages/Editor/gitSync/components/BetaTag.tsx
Labels: Task, skip-changelog, Modules pod, Convert to module

#31497 fix: added margin top to the onboarding flow if banner visible
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
Labels: Bug, Low, Production, Release, Needs Triaging, Onboarding, BE Coders Pod, Medium, Integrations Pod

#31465 chore: code split to support action execution without permission
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AclPermission.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ExecuteActionMetaDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/acl/AclPermissionTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCETest.java
Labels: Task, skip-changelog, Workflows Pod

#31567 fix: workflows query issues
  app/client/src/pages/Editor/Explorer/Actions/ActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/utils/FilterInternalProperties/JsAction.ts
Labels: Bug, High, Low, Release, Workflows Pod, DP

#31489 chore: Fixing Anvil DnD in zones
  app/client/src/layoutSystems/anvil/canvasArenas/hooks/useAnvilWidgetDrop.ts
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetClick.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/zoneUtils.ts
Labels: Task, skip-changelog

#31576 chore: Removing partner program callout from invite modal
  app/client/cypress/e2e/Regression/ClientSide/Workspace/ShareAppTests_Spec.ts
  app/client/src/ce/pages/workspace/InviteUsersForm.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntityContextMenu.tsx
  app/client/src/pages/workspace/WorkspaceInviteUsersForm.tsx
Labels: Frontend, Invite users, Task, skip-changelog, Billing & Usage Pod

#31491 fix: Get rid of two labels
  app/client/src/utils/helpers.tsx
Labels: Bug, Low, Release, Task, Widget design system, WDS team

#31578 fix: fixing canvas resizer jumps when a keydown event happens in preview mode.
  app/client/src/layoutSystems/common/mainContainerResizer/MainContainerResizer.tsx
Labels: Bug

#31496 feat: Rate limiting on Caddy
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: Enhancement, Task

#31523 feat: Changed add button to toggle button in left pane
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/__tests__/JS/JSSegment.test.tsx
  app/client/src/navigation/FocusEntity.ts
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation

#31539 Fix formatting of output in github workflow
  .github/workflows/ci-client-cyclic-deps-check.yml
  app/client/scripts/cyclicDepsCheck.js
Labels: Task

#31551 fix: Routing issues in Side by Side
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/pages/AppViewer/Navigation/components/MenuItem.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/utils/history.ts
Labels: Bug, High, Low, Production, Release, Needs Triaging, New Developers Pod, Medium, IDE Navigation, PR blocker

#31600 ci: Possible fix for Integration tests result update failures
  .github/workflows/integration-tests-command.yml
Labels: Task, skip-changelog, CI

#31577 chore: Remove FEATURE_FLAG release_custom_widgets_enabled
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Widgets_Sidebar.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Custom/CustomWidgetDefaultComponent_spec.ts
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/constants/routes/baseRoutes.ts
  app/client/src/pages/WidgetBuilder/Editor.tsx
  app/client/src/pages/WidgetBuilder/Styles.tsx
  app/client/src/pages/WidgetBuilder/index.tsx
  app/client/src/widgets/CustomWidget/widget/index.tsx
Labels: skip-changelog

#31579 fix: Add page from template custom js lib is not saved
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
Labels: Bug, High, Production, Templates Pod, Templates

#31460 chore: Use Bridge API for user, config, theme repos
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CollectionUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomConfigRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
Labels: Task, skip-changelog

#31199 feat: list building blocks in explorer
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/pages/Editor/Explorer/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/GlobalAdd.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/Add.tsx
  app/client/src/pages/Editor/WidgetCardsPane.tsx
  app/client/src/pages/Editor/WidgetSidebarWithTags.tsx
  app/client/src/pages/Editor/widgetSidebar/SeeMoreButton.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntityTagGroup.tsx
  app/client/src/pages/Editor/widgetSidebar/WidgetCard.tsx
  app/client/src/pages/Editor/widgetSidebar/hooks.ts
  app/client/src/selectors/templatesSelectors.tsx
Labels: Enhancement, Templates Pod, Templates

#31406 feat: drag and drop building block on canvas with skeleton loader
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/sagas/WidgetAdditionSagas.ts
Labels: Enhancement, Templates Pod, Templates

#31628 ci: Make sure target is release branch for new flow
  .github/workflows/ok-to-test-2.yml
Labels: skip-changelog, CI

#31631 ci: Make Cypress results show up in body as well
  .github/workflows/integration-tests-command-2.yml
  .github/workflows/ok-to-test-2.yml
Labels: skip-changelog, CI

#31624 chore: Don't print hashed password in logs
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/User.java
Labels: Security, skip-changelog

#31605 feat: Add functionality to enforce strong password for form signups
  app/client/src/ce/constants/messages.ts
  app/client/src/utils/formhelpers.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ValidationUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserSignupImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/ValidationUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/UserSignupTest.java
Labels: Enhancement, Backend, Login / Signup, Task, BE Coders Pod, Integrations Pod, Billing & Usage Pod, TM_BU

#31602 chore: Add back Preview Mode shortcut
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/PreviewMode_spec.js
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/pages/Editor/ToggleModeButton.tsx
Labels: skip-changelog

#31585 chore: create action source instrumentation added
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/TableWidget/postgres_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/GlobalSearch_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MySQLDataSourceStub_spec.js
  app/client/src/entities/Action/index.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/OneClickBindingSaga.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/ActionCreationSourceTypeEnum.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/AppsmithEventContextType.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/clonepage/ActionClonePageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
Labels: potential-duplicate, Task, skip-changelog, BE Coders Pod, Integrations Pod, Integrations Pod General, Activation - learnability

#31643 chore: Fix double-brace-initialization
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/TemplateUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/test/java/com/external/plugins/AmazonS3PluginTest.java
  app/server/appsmith-plugins/firestorePlugin/src/main/java/com/external/plugins/FirestorePlugin.java
  app/server/appsmith-plugins/firestorePlugin/src/test/java/com/external/plugins/FirestorePluginTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
Labels: skip-changelog

#31607 fix: Background color change for the tab bar
  app/client/src/pages/Editor/IDE/EditorTabs/Container.tsx
Labels: Bug

#31608 fix: Removed box-shadow for the active tab that is causing a visual artefact.
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
Labels: Bug

#31656 fix: removed unnecessary checks for create action api in spec file
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/GlobalSearch_spec.js
Labels: Bug

#31648 chore: [map chart widget] update the label counts and snapshot in spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MapChart_Spec.ts
  app/client/cypress/locators/ViewWidgets.json
  app/client/cypress/snapshots/MapChart_Spec.ts/mapChartWithBorderRadius.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapChartWithBoxShadow.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapChartWithColorRange.snag.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapChartWithColorRange.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapchartsimple.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithafrica.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithantarctica.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithasia.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithcustomdata.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithcustomtitle.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwitheurope.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithnorthamerica.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithoceania.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithshowlabelsoff.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithshowlableson.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithsouthamerica.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithusa.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithvisibilityoff.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithvisibilityon.snap.png
  app/client/cypress/snapshots/MapChart_Spec.ts/mapwithworld.snap.png
  app/client/src/widgets/MapChartWidget/component/index.tsx
Labels: skip-changelog, ok-to-test

#31646 fix: file picker widgets removing files causing abnormal content
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePickerV2_spec.js
  app/client/cypress/fixtures/testRemoveFile1.json
  app/client/cypress/fixtures/testRemoveFile2.json
  app/client/cypress/locators/commonlocators.json
  app/client/src/widgets/FilePickerWidgetV2/widget/index.tsx
Labels: Integrations Pod, Integrations Pod General

#31649 chore: Add compound index to user class
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration048AddCompoundIndexToUserEntity.java
Labels: skip-changelog

#31655 fix: Zones and Sections elevation token update
  app/client/src/widgets/anvil/Container.tsx
  app/client/src/widgets/anvil/SectionWidget/widget/config/propertyPaneStyle.ts
  app/client/src/widgets/anvil/ZoneWidget/widget/config/propertyPaneStyle.ts
Labels: Bug, skip-docs, skip-testPlan, Anvil layout

#31623 chore: code split to support other contexts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/AuthenticationServiceTest.java
Labels: Bug, High, Release, Needs Triaging, skip-changelog, OAuth, Integrations Pod, Workflows Pod

#31521 chore: Remove unnecessary call to get default tenant ID
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
Labels: Task, skip-changelog

#31632 chore: Migrate NewAction repo to Bridge APIs
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: skip-changelog

#31676 feat: Added split pane beta announcement modal
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/Announcement.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/utils/localStorage.tsx
Labels: Enhancement, Task, New Developers Pod, IDE Navigation, ok-to-test

#31620 chore: code split refactor of generateActionCollectionViewDTO and setAutoGeneratedHeaders
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: skip-changelog

#31678 chore: Remove non-static `or` API in Bridge
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: skip-changelog

#31674 chore: reconnect modal refactor for package import
  app/client/src/ce/actions/workspaceActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/pages/Editor/gitSync/useReconnectModalData.ts
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/ee/pages/Editor/gitSync/useReconnectModalData.ts
  app/client/src/pages/Editor/gitSync/ImportSuccessModal.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/Editor/index.tsx
Labels: Frontend, skip-changelog, Modules pod, ok-to-test

#31691 fix: Homepage error message with no workspaces & Github changes message
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useConnectToOptions.tsx
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Bug, Home Page, Low, Production, Needs Triaging, Billing & Usage Pod, ok-to-test

#31690 chore: Side by Side analytics
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
Labels: skip-changelog, ok-to-test

#31481 chore: Remove "Save theme" functionality
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Basic_spec.js
  app/client/src/api/AppThemingApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/pages/Editor/ThemePropertyPane/SaveThemeModal.tsx
  app/client/src/pages/Editor/ThemePropertyPane/ThemeEditor.tsx
  app/client/src/reducers/uiReducers/appThemingReducer.ts
  app/client/src/sagas/AppThemingSaga.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ThemeControllerCE.java
Labels: Task, skip-changelog

#31677 chore: Split changes for mi dr values
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/importable/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/importable/ActionCollectionImportableServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/importable/applications/ActionCollectionApplicationImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/applications/NewActionApplicationImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/refactors/JsActionRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/refactors/NewActionRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/CurlImporterServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: skip-changelog

#31549 fix: Handle error in trigger requests Appsmith AI
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/AppsmithAiPlugin.java
Labels: Bug, Low, Release, Appsmith AI, ok-to-test

#31694 fix: added error handling for updateLayout failure while importing
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/resources/com/appsmith/server/imports/internal/faulty-dsl.json
Labels: Bug, ok-to-test

#31712 chore: Split changes for overridden package import
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/importable/ActionCollectionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/importable/artifactbased/ArtifactBasedImportableServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#31702 fix: Handle widget selection on modal closure when url changes.
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Bug, High, Production, Needs Triaging, Templates Pod, Templates, ok-to-test

#31310 chore: Remove deprecated API uses in SecurityConfig
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
Labels: skip-changelog, Stale

#31684 chore: Move Application repo to Bridge API
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
Labels: skip-changelog

#31703 fix: Copy change in side-by-side announcement modal
  app/client/src/ce/constants/messages.ts
Labels: Bug

#31687 fix: NPE in LoginRateLimitFilter
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/LoginRateLimitFilter.java
Labels: Bug

#31693 chore: Migrate NewPageRepositoryCEImpl to use Bridge APIs
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
Labels: skip-changelog

#31713 chore: Refactoring code to show plugin based icons for module instances on EE
  app/client/src/ce/constants/ModuleConstants.ts
  app/client/src/ce/constants/ModuleInstanceConstants.ts
  app/client/src/ce/pages/Applications/ResourceListLoader.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/selectors/modulesSelector.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useConnectToOptions.tsx
  app/client/src/components/propertyControls/ActionSelectorControl.tsx
  app/client/src/components/utils/NameEditorComponent.tsx
  app/client/src/ee/selectors/modulesSelector.ts
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/pages/Editor/utils.tsx
Labels: Task, skip-changelog, Modules pod, Module consumer, ok-to-test

#31708 fix: api module inputs pane width
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Production, Needs Triaging, Medium, Modules pod, Module creator, ok-to-test

#31587 chore: Block Selections when Canvas is in Side by Side mode
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ContainerTest2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CurrencyInput/CurrencyInput_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_NestedList_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicChildWidgetInteraction_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Button_Icon_validation_spec.js
  app/client/cypress/locators/commonlocators.json
  app/client/src/actions/widgetActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/layoutSystems/common/draggable/DraggableComponent.tsx
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/layoutSystems/common/resizer/ModalResizableLayer.tsx
  app/client/src/layoutSystems/common/resizer/ResizableComponent.tsx
  app/client/src/layoutSystems/common/widgetName/SettingsControl.tsx
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/CanvasSelectionArena.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/WidgetsEditor/CodeModeTooltip.tsx
  app/client/src/reducers/uiReducers/dragResizeReducer.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/selectors/ui.tsx
  app/client/src/selectors/widgetDragSelectors.ts
  app/client/src/selectors/widgetSelectors.ts
  app/client/src/utils/hooks/useAllowEditorDragToSelect.ts
  app/client/src/utils/hooks/useWidgetSelection.ts
  app/client/src/utils/storage.ts
  app/client/src/widgets/TableWidgetV2/component/header/actions/filter/FilterPane.tsx
Labels: Task, skip-changelog, New Developers Pod, IDE Navigation, ok-to-test

#31686 feat: Rollout Side by Side
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Replay_Editor_spec.js
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/GlobalSearch/HelpBar.tsx
  app/client/src/pages/Editor/EditorName/NavigationMenuData.ts
  app/client/src/selectors/ideSelectors.tsx
Labels: Enhancement, ok-to-test

#31544 chore: Remove BaseDomain on Layout
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Layout.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/LayoutDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration049RemoveLayoutBaseFields.java
Labels: Task, skip-changelog

#31722 chore: Fix NPE in finding page without branch name
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryTest.java
Labels: Task, skip-changelog

#31689 fix: remove globalThis usage
  app/client/src/workers/Evaluation/JSObject/JSVariableUpdates.ts
  app/client/src/workers/Evaluation/fns/actionFns.ts
  app/client/src/workers/Evaluation/fns/geolocationFns.ts
  app/client/src/workers/Evaluation/validations.ts
Labels: Bug, Needs Triaging, Integrations Pod, Integrations Pod General, ok-to-test

#31701 fix: button group
  app/client/packages/design-system/widgets/src/components/ButtonGroup/src/ButtonGroup.tsx
  app/client/packages/design-system/widgets/src/components/ButtonGroup/src/useButtonGroup.tsx
Labels: Bug

#31640 chore: Add separate request/response views
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/views/RequestOnly.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/views/ResponseOnly.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ActionController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
Labels: skip-changelog

#31700 fix: git connected app, user gets redirected to the default branch on closing add pane
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/utils.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/utils.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
Labels: Bug, High, Production, Needs Triaging, Git Version Control, New Developers Pod, IDE Navigation, Git Pod, ok-to-test

#31760 fix: Incorrect field constants
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/NewActionCE.java
Labels: Bug

#31766 chore: Tiny NodeJS script as a linter for field name constants
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ActionCollectionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/NewActionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/StringUtils.java
  app/server/scripts/check-field-constants.mjs
Labels: skip-changelog

#31751 fix: updated add navigation hooks to solve EE issue
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.ts
Labels: Bug, QA, High, Production, Needs Triaging, Git Version Control, New Developers Pod, IDE Navigation, Git Pod, QA Pod, ok-to-test

#31761 chore: ce split for permission scoping for CD
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/importable/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: skip-changelog, ok-to-test

#31782 fix: Split pane JS setting overflow
  app/client/src/pages/Editor/JSEditor/JSFunctionSettings.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#31792 fix: Making userTag a hidden field to not expose it as a user configurable option with Appsmith being the default value
  app/server/appsmith-plugins/databricksPlugin/src/main/resources/form.json
Labels: Bug

#31800 chore: removes unused js events
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/utils/AppsmithConsole.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
Labels: JS Evaluation, High, Task, skip-changelog, FE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#31384 chore: removed onboarding flags ab_create_new_apps_enabled , ab_start_with_data_default_enabled
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Onboarding/StartFromData_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Replay_Editor_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_spec.js
  app/client/cypress/e2e/Regression/ServerSide/Params/ExecutionParams_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MySQLDataSourceStub_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MySQLNoiseTest_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MySQL_spec.js
  app/client/cypress/e2e/Sanity/Datasources/PostgresDatasource_spec.js
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/Onboarding.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/dataSourceCommands.js
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/utils/signupHelpers.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceHome.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
Labels: Task, skip-changelog, Integrations Pod, Activation - datasources, ok-to-test

#31822 fix: [map chart widget] create unique instance of map loader per widget to avoi…
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/MapWidget_loading_Spec.ts
  app/client/src/widgets/MapChartWidget/component/index.tsx
  app/client/src/widgets/MapChartWidget/component/utilities.ts
Labels: Bug, App Viewers Pod, High, Production, Needs Triaging, Release Blocker, Map Chart Widget, ok-to-test

#31610 fix: trigger instance re-registration if not already registered
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/AuthenticationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/AuthenticationServiceCEImpl.java
Labels: Bug, Task, Google Sheets, Test Plan Approved, Integrations Pod, Integrations Pod General, ok-to-test

#31799 chore: Add Create as a Widget SelectionRequestType
  app/client/src/ce/RouteBuilder.ts
  app/client/src/sagas/WidgetSelectUtils.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Task, skip-changelog, New Developers Pod, IDE Navigation, ok-to-test

#31830 fix: remove counter of cmd + click navigation usage
  app/client/src/sagas/WidgetSelectionSagas.ts
Labels: Bug, High, Production, IDE, Needs Triaging, UI Builders Pod, Release Blocker, New Developers Pod, Reflow & Resize, ok-to-test

#31832 chore: Have a failsafe for split screen if we turn off the feature flag
  app/client/src/selectors/ideSelectors.tsx
Labels: skip-changelog, ok-to-test

#31663 chore: Remove analytics logging of JS functions as it causes a performance b…
  app/client/src/ce/sagas/JSFunctionExecutionSaga.ts
  app/client/src/ce/sagas/analyticsSaga.ts
  app/client/src/ee/sagas/JSFunctionExecutionSaga.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
Labels: Performance Pod, JS Evaluation, Production, Community Reported, skip-changelog, FE Coders Pod, Medium, Performance

#31487 chore: Chore/conditional eval trigger
  app/client/src/ce/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/workers/Evaluation/__tests__/Actions.test.ts
  app/client/src/workers/Evaluation/fns/__tests__/interval.test.ts
  app/client/src/workers/Evaluation/fns/__tests__/postWindowMessage.test.ts
  app/client/src/workers/Evaluation/fns/__tests__/run.test.ts
  app/client/src/workers/Evaluation/fns/utils/ExecutionMetaData.ts
  app/client/src/workers/Evaluation/fns/utils/__tests__/Promisify.test.ts
  app/client/src/workers/Evaluation/handlers/evalTrigger.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: Performance Pod, Production, Needs Triaging, Task, skip-changelog, Stale, Medium, Performance, ok-to-test

#31790 chore: added tag module for module related tests
  app/client/cypress/tags.js
Labels: skip-changelog

#31797 fix: Options in WDS radio group widget get distorted in a Section with > 1 Zone
  app/client/packages/design-system/headless/src/components/Checkbox/src/Checkbox.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/src/CheckboxGroup.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/src/context.ts
  app/client/packages/design-system/headless/src/components/Checkbox/src/types.ts
  app/client/packages/design-system/headless/src/components/Radio/src/Radio.tsx
  app/client/packages/design-system/headless/src/components/Radio/src/RadioGroup.tsx
  app/client/packages/design-system/headless/src/components/Switch/Switch.tsx
  app/client/packages/design-system/headless/src/hooks/index.ts
  app/client/packages/design-system/headless/src/hooks/useGroupOrientation.ts
  app/client/packages/design-system/widgets/src/components/Checkbox/src/Checkbox.tsx
  app/client/packages/design-system/widgets/src/components/Radio/src/Radio.tsx
  app/client/packages/design-system/widgets/src/components/Switch/src/Switch.tsx
  app/client/packages/design-system/widgets/src/components/Switch/src/styles.module.css
  app/client/packages/design-system/widgets/src/styles/src/field.module.css
  app/client/packages/design-system/widgets/src/styles/src/inline-label.module.css
  app/client/src/widgets/wds/WDSRadioGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/types.ts
  app/client/src/widgets/wds/WDSSwitchWidget/widget/types.ts
Labels: Bug, Production, Needs Triaging, Medium, Widget design system POD, WDS team

#31659 chore: WDS TextInput style
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
Labels: Task, skip-changelog, skip-testPlan, Widget design system POD, WDS team

#31817 feat: add support for sectionStyles in datasource editor form
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
Labels: Enhancement, Datasources, Task, BE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#31803 chore: restructure WidgetsEditor
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/Editor/IDE/RightPane/index.tsx
  app/client/src/pages/Editor/WidgetsEditor/WidgetEditorContainer.tsx
  app/client/src/pages/Editor/WidgetsEditor/WidgetEditorContent.tsx
  app/client/src/pages/Editor/WidgetsEditor/WidgetEditorHeader.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/CodeModeTooltip.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/EmptyCanvasPrompts.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/LayoutSystemBasedPageViewer.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/MainContainerWrapper.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/NavigationAdjustedPageViewer.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/NavigationPreview.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/PropertyPaneWrapper.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/Toolbar.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/WidgetEditorContentWrapper.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/WidgetEditorNavigation.tsx
  app/client/src/pages/Editor/WidgetsEditor/index.tsx
Labels: skip-changelog, ok-to-test

#31229 fix: removing unnecessary status api call
  app/client/src/pages/Editor/gitSync/Tabs/Deploy.tsx
  app/client/src/pages/Editor/gitSync/Tabs/Merge.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
Labels: Bug, Low, Production, Needs Triaging, Git Version Control, Git Pod, ok-to-test

#31798 chore: migrate plugin repository class to use Bridge API
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPluginRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialExportServiceTest.java
Labels: skip-changelog, Templates Pod, Templates, ok-to-test

#31815 ci: Make TED image tag configurable
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#31903 chore: Remove ready banner
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCEImpl.java
Labels: skip-changelog

#31466 chore: Add after delete hook for Appsmith AI datasource
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/AppsmithAiPlugin.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/AiServerService.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/AiServerServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/utils/FileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
Labels: Task, skip-changelog, ok-to-test

#31738 chore: extend the update recently used workspaces to workflows and packages
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/WorkspaceResourceContext.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
Labels: Task, skip-changelog, Workflows Pod, ok-to-test

#31914 chore: Add ability to enable feature flags in unit tests
  app/client/test/testUtils.tsx
Labels: skip-changelog

#31913 fix: Filter Appsmith exceptions from feature flagged aspect to provide context based exception
  app/server/appsmith-server/src/main/java/com/appsmith/server/aspect/FeatureFlaggedMethodInvokerAspect.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/FeatureFlaggedMethodInvokerAspectTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/TestComponentImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/ce/TestComponentCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/ce/TestComponentCEImpl.java
Labels: Bug, ok-to-test

#31915 feat: Added unit test for query/js delete - next item selection
  app/client/src/sagas/IDESaga.tsx
  app/client/src/sagas/getNextEntityAfterDelete.test.ts
Labels: Enhancement, Low, Release, Task, New Developers Pod, IDE Navigation, IDE Pod, IDE Infra

#31882 fix: Table and JSON Widgets columns max height adjusted
  app/client/src/components/propertyControls/FieldConfigurationControl.tsx
  app/client/src/components/propertyControls/PrimaryColumnsControlV2.tsx
  app/client/src/widgets/JSONFormWidget/constants.ts
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
Labels: Bug, Task, Integrations Pod, Integrations Pod General, ok-to-test

#31586 fix: [custom widget] remove stale keys from dynamicTriggerPathList
  app/client/jest.config.js
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/pages/common/AppHeader.tsx
  app/client/src/components/propertyControls/CustomWidgetEditSourceButtonControl.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/index.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/constants.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/useCustomBuilder.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/utility.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/utils/CustomWidgetBuilderService.test.ts
  app/client/src/utils/CustomWidgetBuilderService.ts
  app/client/src/widgets/CustomWidget/component/index.tsx
  app/client/src/widgets/CustomWidget/widget/index.tsx
Labels: Bug, UI Improvement, App Viewers Pod, Low, Production, Needs Triaging, Task, Medium, custom widgets, ok-to-test

#31950 chore: Adding a beta check for adding description on options for creating JS objects
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
Labels: Frontend, Task, skip-changelog, Packages pod, ok-to-test

#31926 feat: add ability to change application logs location
  app/server/appsmith-server/src/main/java/com/appsmith/server/cron/CleanUpOldLogs.java
  deploy/docker/fs/etc/supervisor/supervisord.conf
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/starting-page-init.py
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/backend.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/editor.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/rts.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/mongodb.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/postgres.conf
  deploy/docker/fs/opt/appsmith/templates/supervisord/redis.conf
Labels: Enhancement, DevOps Pod, Observability

#31956 chore: Add config to widgets to ask for evaluations error and table widget optimisation
  app/client/src/WidgetProvider/constants.ts
  app/client/src/WidgetProvider/factory/index.tsx
  app/client/src/utils/widgetRenderUtils.test.ts
  app/client/src/utils/widgetRenderUtils.tsx
  app/client/src/widgets/ChartWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: skip-changelog, ok-to-test

#31931 chore: add information about event tag generation for analytics
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
Labels: Task, skip-changelog, Workflows Pod, Workflows

#31907 feat: Add file validation for partial import
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialImportServiceTest.java
Labels: Bug, Enhancement, Production, Regressed, Needs Triaging, Templates Pod, Medium, Partial-import-export, ok-to-test

#31952 chore: migrate permission group class to bridge API
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
Labels: skip-changelog, ok-to-test

#31862 chore: Make edit launch buttons as links & add upgrade ramps for session timeout setting
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/AuditLogs/Audit_logs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Branding/Branding_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Admin_settings_3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/FormLogin/EmailVerfication_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Google/EnableGoogle_spec.js
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/Analytics_spec.js
  app/client/cypress/e2e/Regression/Enterprise/AdminSettings/Admin_settings_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/cypress/support/AdminSettingsCommands.js
  app/client/cypress/support/Pages/AdminSettings.ts
  app/client/src/ce/constants/tenantConstants.ts
  app/client/src/ce/pages/AdminSettings/config/general.tsx
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/components/utils/ReduxFormTextField.tsx
  app/client/src/pages/AdminSettings/FormGroup/Checkbox.tsx
  app/client/src/pages/AdminSettings/FormGroup/Common.tsx
  app/client/src/pages/AdminSettings/FormGroup/CopyUrlForm.tsx
  app/client/src/pages/AdminSettings/FormGroup/TextInput.tsx
  app/client/src/pages/Applications/ApplicationCard.tsx
Labels: Enhancement, Home Page, skip-changelog, Billing & Usage Pod, ok-to-test

#31932 chore: migrate customJs Lib query to bridge class
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomJSLibRepositoryCEImpl.java
Labels: skip-changelog, Templates, ok-to-test

#31919 chore: IDE query url render tests
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentAddHeader.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/MainPane/index.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/test/factories/Actions/API.ts
  app/client/test/factories/Actions/GoogleSheetFactory.ts
  app/client/test/factories/Actions/Postgres.ts
  app/client/test/factories/AppIDEFactoryUtils.ts
  app/client/test/factories/MockPluginsState.ts
  app/client/test/factories/PageFactory.ts
Labels: Low, Release, Task, skip-changelog, New Developers Pod, IDE Navigation, ok-to-test

#31986 chore: Correct top menu help options
  app/client/src/pages/Editor/EditorName/NavigationMenuData.ts
  app/client/src/pages/Editor/EditorName/NavigationMenuItem.tsx
Labels: IDE, Task, skip-changelog, New Developers Pod, IDE Navigation, ok-to-test

#31989 fix: Debugger tab is not selected by default when open using shortkeys
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/pages/Editor/GlobalHotKeys/index.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#31922 fix: WDS `bdNeutralHover` color
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/types.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
  app/client/packages/design-system/widgets/src/styles/src/text-input.module.css
Labels: Bug, Task, skip-changelog, WDS - widget styling, skip-docs, Test Plan Approved, skip-testPlan, Anvil POD, WDS team

#31941 fix: Add ability to set the number of rows(page size) for WDS table widget
  app/client/src/widgets/wds/WDSTableWidget/component/StaticTable.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/Table.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableBody/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/VirtualTable.tsx
  app/client/src/widgets/wds/WDSTableWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/config/propertyPaneConfig/styleConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/widget/derived.js
  app/client/src/widgets/wds/WDSTableWidget/widget/index.tsx
Labels: Bug, Task, Anvil POD, WDS team

#31970 fix: Some widgets don't seem to beusing meta state resulting in it not holding state in between edit and preview modes
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/index.tsx
Labels: Bug, Needs Triaging, Deploy Preview, Medium, Anvil POD, WDS team, WDS - checkbox widget, WDS - switch group widget

#31995 fix: OOM issue
  app/client/.fork-ts-checkerrc
Labels: Bug, ok-to-test

#31991 chore: Refactor feature flag `release_show_create_app_from_templates_enabled`
  app/client/cypress/support/Pages/HomePage.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/Applications/WorkspaceAction.tsx
Labels: skip-changelog, Templates Pod, Templates, ok-to-test

#31965 chore: tabs ui updates
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentedHeader.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FullScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/ListButton.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/SplitScreenTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/StyledComponents.tsx
Labels: Task, skip-changelog, New Developers Pod, IDE Navigation, ok-to-test

#31979 chore: fix ListV2_PageNo_PageSize_spec flakiness
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_PageNo_PageSize_spec.js
Labels: skip-changelog, ok-to-test

#31993 feat: add layout on load actions to import block API response
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/BuildingBlockResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialImportServiceTest.java
Labels: Enhancement, Task, Templates Pod, Templates, ok-to-test, Building blocks

#32000 feat: Migrate ApplicationSnapshot to bridge API
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/Bridge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationSnapshotRepositoryCEImpl.java
Labels: Enhancement, ok-to-test

#31888 chore: use published or unpublished DTO based on input
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
Labels: Task, skip-changelog, Workflows Pod, Workflows, ok-to-test

#31987 chore: migrate few APIs to brige API model
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
Labels: Backend, Task, skip-changelog, Integrations Pod, Integrations Pod General, ok-to-test

#31920 feat: show slash command prompt on focus in property pane
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/PropertyPaneSlashCommand_spec.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/CodeEditor/codeEditorUtils.ts
  app/client/src/components/editorComponents/CodeEditor/commandsHelper.ts
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/sagas/WidgetOperationSagas.tsx
Labels: Enhancement, Task, Integrations Pod, Activation - learnability, ok-to-test
