Repository appsmithorg/appsmith, pull requests merged in 2024-10, with the labels that each got.

#36619 chore: hot fix pg beta release
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonDBConfig.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/CommonDBConfigTest.java
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/pg-utils.sh
  deploy/docker/fs/opt/appsmith/run-java.sh
  deploy/docker/fs/opt/appsmith/templates/docker.env.sh
Labels: ok-to-test

#36506 chore: Add logs for default DB url for CI test workflows
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/server-build.yml
Labels: skip-changelog, ok-to-test

#36629 fix: Release blocker: toast with whitespace
  app/client/packages/design-system/ads/src/Toast/Toast.tsx
Labels: Bug, ok-to-test

#36598 test: replaced 3rd party apit in treeSelect
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Tree_Select_2_spec.ts
Labels: skip-changelog, ok-to-test, Test

#36584 fix: Amazon S3 large file uploads issue fixed
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/BasePlugin.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/SerializationUtils.java
Labels: Bug, High, Production, Needs Triaging, S3, Query & JS Pod, Integrations Product, File upload issues, ok-to-test

#36266 chore: Upgrading spring to 3.3.3 to resolve vulnerable dependencies
  app/client/cypress/fixtures/gitImport.json
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-plugins/anthropicPlugin/pom.xml
  app/server/appsmith-plugins/appsmithAiPlugin/pom.xml
  app/server/appsmith-plugins/googleAiPlugin/pom.xml
  app/server/appsmith-plugins/googleSheetsPlugin/pom.xml
  app/server/appsmith-plugins/graphqlPlugin/pom.xml
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginErrorsTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginStaleConnTest.java
  app/server/appsmith-plugins/openAiPlugin/pom.xml
  app/server/appsmith-plugins/restApiPlugin/pom.xml
  app/server/appsmith-plugins/snowflakePlugin/pom.xml
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/pom.xml
  app/server/reactive-caching/pom.xml
Labels: skip-changelog, Stale, ok-to-test

#36631 fix: updated the max connection pool size and datasourceDestroy method
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/utils/MySqlDatasourceUtils.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/connectionpoolconfig/configurations/ConnectionPoolConfigCETest.java
Labels: Bug, High, Production, Needs Triaging, Query & JS Pod, Integrations Product, MariaDB, ok-to-test

#36623 chore: Updated zone and section to extend HTML attributes
  app/client/src/pages/Editor/ActionForm/Section/index.tsx
  app/client/src/pages/Editor/ActionForm/Zone/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#36643 fix: Revert "feat: allow multiple lines in alert component"
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/Button_showAlert_multiline_message_spec.ts
  app/client/packages/design-system/ads/src/Toast/Toast.styles.tsx
  app/client/packages/design-system/ads/src/Toast/Toast.tsx
Labels: Bug, ok-to-test

#36433 fix: remove redundant eval trigger
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/sagas/__tests__/PageSaga.test.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/reducers/uiReducers/appViewReducer.tsx
Labels: Bug, Release, Needs Triaging, Query & JS Pod, Medium, Integrations Product, Integrations Pod General, ok-to-test

#36633 chore: Adding the GraphQLEditorForm for the modularised flow
  app/client/src/PluginActionEditor/components/PluginActionForm/PluginActionForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/hooks/useGetFormActionValues.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/GraphQLEditor/GraphQLEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/GraphQLEditor/PostBodyData.tsx
  app/client/src/api/PluginApi.ts
  app/client/src/pages/Editor/APIEditor/ApiEditorContext.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/QueryEditor.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/VariableEditor.tsx
  app/client/src/pages/Editor/APIEditor/RestAPIForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/QueryEditorContext.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36660 chore: Bust OAuth2 client cache for spring boot 3.3
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/RedisConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration063CacheBustSpringBoot3_3.java
Labels: skip-changelog

#36658 fix: Revert "fix the gitSync related issue"
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/reducers/uiReducers/appViewReducer.tsx
Labels: Bug, ok-to-test

#36666 fix: Revert PageSaga changes
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/sagas/__tests__/PageSaga.test.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/pages/AppViewer/index.tsx
Labels: Bug

#36634 chore: Updated doc urls
  app/client/cypress/e2e/Regression/ClientSide/Widgets/DocumentViewer/DocumentViewer_spec.ts
Labels: skip-changelog, ok-to-test

#36636 chore: fetch spec with removed third party
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/Fetch_Spec.ts
Labels: skip-changelog, ok-to-test

#36678 chore: message string added for links
  app/client/src/ce/constants/messages.ts
Labels: Task, skip-changelog, Workflows Pod, Workflows Product, ok-to-test

#36610 feat: init AI chat widget
  app/client/jest.config.js
  app/client/package.json
  app/client/packages/design-system/widgets/jest.config.js
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/AIChat/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/AIChat.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/ChatTitle.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/ThreadMessage.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/UserAvatar/UserAvatar.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/UserAvatar/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/UserAvatar/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/UserAvatar/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/types.ts
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/icons/src/components/Icons/AIChatIcon.tsx
  app/client/packages/icons/src/components/Icons/ComboboxSelectIcon.tsx
  app/client/packages/icons/src/components/Icons/DatePickerIcon.tsx
  app/client/packages/icons/src/components/Icons/InputIcon.tsx
  app/client/packages/icons/src/components/Thumbnails/AIChatThumbnail.tsx
  app/client/packages/icons/src/components/Thumbnails/DatePickerThumbnail.tsx
  app/client/packages/icons/src/icons/Icons/AIChat.svg
  app/client/packages/icons/src/icons/Icons/ComboboxSelect.svg
  app/client/packages/icons/src/icons/Icons/DatePicker.svg
  app/client/packages/icons/src/icons/Icons/Input.svg
  app/client/packages/icons/src/icons/Thumbnails/AIChat.svg
  app/client/packages/icons/src/icons/Thumbnails/DatePicker.svg
  app/client/packages/icons/src/index.ts
  app/client/packages/icons/src/stories/Icons.mdx
  app/client/packages/icons/src/stories/Thumbnails.mdx
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/anvilConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/defaultConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/metaConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/methodsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/propertyPaneContent.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/propertyPaneStyle.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/constants.ts
  app/client/src/widgets/index.ts
  app/client/test/__mocks__/reactMarkdown.tsx
  app/client/yarn.lock
Labels: Enhancement, Task, Anvil Pod

#36664 chore: Add grants for appsmith user for embedded postgres
  deploy/docker/fs/opt/appsmith/pg-utils.sh
Labels: High, Production, Needs Triaging, skip-changelog, ok-to-test, Move to Postgres, DB Infrastructure Pod

#36630 chore: add TBP failures to postgres channel
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, ok-to-test

#36687 chore: add ai chat to wds config map
  app/client/src/modules/ui-builder/ui/wds/constants.ts
Labels: skip-changelog, ok-to-test

#36627 fix: Fix shareapp case due to load issue
  app/client/cypress/e2e/Regression/ClientSide/Workspace/ShareAppTests_Spec.ts
Labels: Bug, ok-to-test

#34812 fix:Ensure alert message triggers only once when onDropdownClose in select widget
  app/client/src/widgets/SelectWidget/component/SelectWidgetComponent.test.tsx
  app/client/src/widgets/SelectWidget/component/index.tsx
Labels: Widgets Product

#36684 chore: [Plugin Action Editor] Query forms in Plugin Action Form
  app/client/src/PluginActionEditor/components/PluginActionForm/PluginActionForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditorForm.tsx
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36571 chore: Updated another set of third party urls
  app/client/cypress/e2e/Regression/ClientSide/Widgets/DocumentViewer/DocumentViewer_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Modal/Modal_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/TableBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/table_data_change_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/Api_XSS_Vulnerability_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/MsSQL_Basic_Spec.ts
  app/client/cypress/fixtures/TestDataSet1.json
  app/client/cypress/fixtures/modalWidgetTestApp.json
  app/client/cypress/fixtures/onPageLoadActionsDsl.json
Labels: skip-changelog, ok-to-test

#36700 feat: add AIChat stories and tests
  app/client/packages/design-system/widgets/src/components/AIChat/src/AIChat.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/ChatTitle.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/stories/AIChat.stories.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/tests/AIChat.test.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/index.tsx
  app/client/test/__mocks__/reactMarkdown.tsx
Labels: Enhancement, ok-to-test

#36662 chore: decoupled svg imports from main bundle
  app/client/cypress/e2e/Regression/ClientSide/Performance/LinkRelPreload_Spec.js
  app/client/src/components/designSystems/blueprintjs/icon/Icon.tsx
Labels: skip-changelog, ok-to-test

#36695 fix: Clear all session for Spring upgrade
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration063CacheBustSpringBoot3_3.java
Labels: Bug

#36682 chore: span push and sentry logs
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/BaseSpan.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/TracingConfig.java
Labels: skip-changelog, ok-to-test

#36590 fix: remove cache control headers for requests handled with an error in Caddy
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: Bug, ok-to-test

#36721 test: Update Inline_editing_3_spec.js to include expected JSON parsing
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Inline_editing_3_spec.js
Labels: Task, skip-changelog, ok-to-test, Test, Widgets & Accelerators Pod

#36609 chore: removed old flags for airgap instances
  app/client/cypress/e2e/Regression/Apps/CommunityIssues_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/PropertyPaneSlashCommand_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Binding/InputWidget_TableV2_Sorting_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2TextPagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2Widget_selectedRow_Input_widget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_ClientSide_Search_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_DefaultSearch_Input_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Widget_API_Pagination_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TextTableV2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/DynamicHeight/JsonForm_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/JSEnabledByDefaultExperiment_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/AddNewRow1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Edge_case_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter1_1_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter1_2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter2_1_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter2_2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_DisplayText_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_MultiRowSelect_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_PropertyPane_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/checkboxCell_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/switchCell_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/server_side_filtering_spec_1.ts
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/cypress/support/Pages/PropertyPane.ts
  app/client/cypress/support/e2e.js
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/CodeEditor/codeEditorUtils.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useConnectToOptions.tsx
  app/client/src/constants/WalkthroughConstants.ts
  app/client/src/pages/Editor/DatasourceInfo/QueryTemplates.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControlsGenerator.tsx
  app/client/src/widgets/MultiSelectWidgetV2/widget/index.tsx
  app/client/src/widgets/SelectWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Task, skip-changelog, Query & JS Pod, Tech Debt, Integrations Product, Integrations Pod General, ok-to-test

#36705 test: udpated files by removing un-used APIs
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/support/Objects/DataManager.ts
Labels: skip-changelog, ok-to-test, Test

#36722 chore: create pg_trm extension for the GIN index creation
  deploy/docker/fs/opt/appsmith/pg-utils.sh
Labels: skip-changelog, ok-to-test

#36703 fix: widget icon in Connect To options in oneclick binding menu
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/spec_utility.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useConnectToOptions.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/WidgetSpecificControls/OtherFields/Field/Dropdown/useDropdown.tsx
Labels: Bug, Widgets Product, Low, Production, Community Reported, Needs Triaging, One-click Binding, ok-to-test, Widgets & Accelerators Pod

#36670 chore: Create appsmith postgres DB to be used by internal processes
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog, ok-to-test

#35985 chore:remove space b/w form and CTA onboarding page
  app/client/cypress/support/Pages/DataSources.ts
  app/client/src/components/formControls/RadioButtonControl.test.tsx
  app/client/src/components/formControls/RadioButtonControl.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/form.json
Labels: Query & JS Pod, Integrations Pod General, Community Contributor, Integrations Pod

#36482 fix: batched evaluate action params to a chunk size
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, Frontend, High, Production, Needs Triaging, Query Forms, Query & JS Pod, Integrations Product, ok-to-test

#36766 fix: New query button does not show up issue fixed
  app/client/src/ce/hooks/hooks.test.ts
  app/client/src/ce/hooks/index.ts
Labels: Bug, Datasources, High, Production, Needs Triaging, Query & JS Pod, Integrations Product, ok-to-test

#36755 feat: Allow filtering of table select column label
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter1_1_Spec.ts
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Bug, Enhancement, Widgets Product, Production, Community Reported, Needs Triaging, Medium, Table Widget V2, ok-to-test, Widgets & Accelerators Pod

#36772 fix: Airgap: search bar UI was not matching with release
  app/client/src/components/editorComponents/GlobalSearch/HelpBar.tsx
Labels: Bug, Low, Production, Omnibar, IDE Product, Needs Triaging, Platform Administration Pod, IDE Pod, Airgap, ok-to-test

#36770 fix: Focus retention on inputs
  app/client/cypress/e2e/Regression/ClientSide/IDE/Focus_retentions_inputs_spec.js
Labels: Bug, Low, Production, IDE Product, Needs Triaging, IDE Pod, ok-to-test

#36725 chore: Add named-use-effect custom eslint rule
  app/client/packages/eslint-plugin/src/index.ts
  app/client/packages/eslint-plugin/src/named-use-effect/rule.test.ts
  app/client/packages/eslint-plugin/src/named-use-effect/rule.ts
Labels: skip-changelog, ok-to-test

#36746 chore: Adding the functionality of running and deleting an action under modularised flow
  app/client/src/PluginActionEditor/components/PluginActionForm/components/APIEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/GraphQLEditor/GraphQLEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/PluginActionEditor/hooks/index.ts
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/ce/PluginActionEditor/hooks/useHandleDeleteClick.ts
  app/client/src/ce/PluginActionEditor/hooks/useHandleRunClick.ts
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/PluginActionMoreActions.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/ee/PluginActionEditor/hooks/useHandleDeleteClick.ts
  app/client/src/ee/PluginActionEditor/hooks/useHandleRunClick.ts
  app/client/src/pages/Editor/APIEditor/ApiEditorContext.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/Editor.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/Pagination.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36504 fix: App title drop down close on interaction with other components.
  app/client/src/pages/Editor/EditorName/NavigationMenu.tsx
Labels: Stale

#36796 chore: Supress the failure in case DB url is not found in CI
  .github/workflows/ci-test-custom-script.yml
Labels: skip-changelog

#36728 feat: Updated GraphQL form UI
  app/client/src/PluginActionEditor/components/PluginActionForm/components/GraphQLEditor/PostBodyData.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/Editor.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/QueryEditor.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/VariableEditor.tsx
  app/client/src/pages/Editor/ActionForm/Section/index.tsx
  app/client/src/pages/Editor/ActionForm/Section/styles.module.css
Labels: Bug, Enhancement, Low, Production, IDE Product, Community Reported, Needs Triaging, Task, IDE Pod, IDE Navigation, ok-to-test, IDE tabs

#36759 test: hard code date values in Date_column_types_validation_spec
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Date_column_types_validation_spec.ts
  app/client/cypress/support/Pages/Table.ts
Labels: Widgets Product, Task, skip-changelog, Table Widget V2, ok-to-test, Test, Widgets & Accelerators Pod

#36764 fix: remove redundant eval trigger
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/sagas/__tests__/PageSaga.test.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/reducers/uiReducers/appViewReducer.tsx
Labels: Bug, QA, Release, Needs Triaging, Query & JS Pod, Medium, Integrations Product, Integrations Pod General, QA Pod, ok-to-test

#36780 fix: Add inverse dependencies to default response in evaluateAndGenerateResponse
  app/client/src/workers/Evaluation/evalTreeWithChanges.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
Labels: Bug, Widgets Product, Low, Table Widget V2, ok-to-test, Widgets & Accelerators Pod

#36788 chore: Add OTLP traces to RTS
  app/client/packages/rts/package.json
  app/client/packages/rts/src/instrumentation.ts
  app/client/packages/rts/src/server.ts
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#36800 chore: Adding analytics for run action button click & fixing certain states for execution
  app/client/src/PluginActionEditor/components/PluginActionForm/components/APIEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/PluginActionEditor/hooks/index.ts
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/ce/PluginActionEditor/hooks/useAnalyticsOnRunClick.ts
  app/client/src/ce/PluginActionEditor/hooks/useHandleRunClick.ts
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/ee/PluginActionEditor/hooks/useAnalyticsOnRunClick.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36798 feat: add initial assistant message
  app/client/packages/design-system/widgets/src/components/AIChat/src/AIChat.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/AssistantSuggestionButton/AssistantSuggestionButton.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/AssistantSuggestionButton/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/AssistantSuggestionButton/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/AssistantSuggestionButton/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/ThreadMessage.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/types.ts
  app/client/packages/rts/src/instrumentation.ts
  app/client/src/components/propertyControls/ArrayComponent.tsx
  app/client/src/components/propertyControls/ArrayControl.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/defaultConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/propertyPaneContent.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/index.tsx
Labels: Enhancement, Task, Anvil Pod, ok-to-test

#36801 chore: Updating some states related to action execution
  app/client/src/PluginActionEditor/PluginActionContext.tsx
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/PluginActionEditor/hooks/index.ts
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/ce/PluginActionEditor/hooks/useBlockExecution.ts
  app/client/src/ee/PluginActionEditor/hooks/useBlockExecution.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36805 feat: show chat description
  app/client/packages/design-system/widgets/src/components/AIChat/src/AIChat.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatDescriptionModal/ChatDescriptionModal.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatDescriptionModal/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatDescriptionModal/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/ThreadMessage.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Modal/src/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/index.tsx
Labels: Enhancement, Task, Anvil Pod, ok-to-test

#36832 chore: Update markdown component + create avatar component + refactor
  app/client/packages/design-system/widgets/jest.config.js
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/AIChat/src/AIChat.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatDescriptionModal/ChatDescriptionModal.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatDescriptionModal/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatDescriptionModal/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatHeader.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatInputSection.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatThread.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/ChatTitle.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatTitle/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/ThreadMessage.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/ThreadMessage/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/UserAvatar/UserAvatar.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/UserAvatar/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/UserAvatar/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/UserAvatar/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/stories/AIChat.stories.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/tests/AIChat.test.tsx
  app/client/packages/design-system/widgets/src/components/Avatar/index.ts
  app/client/packages/design-system/widgets/src/components/Avatar/src/Avatar.tsx
  app/client/packages/design-system/widgets/src/components/Avatar/src/index.ts
  app/client/packages/design-system/widgets/src/components/Avatar/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Avatar/src/types.ts
  app/client/packages/design-system/widgets/src/components/Avatar/stories/Avatar.stories.tsx
  app/client/packages/design-system/widgets/src/components/ChatInput/src/ChatInput.tsx
  app/client/packages/design-system/widgets/src/components/ChatInput/src/types.ts
  app/client/packages/design-system/widgets/src/components/ChatInput/stories/ChatInput.stories.tsx
  app/client/packages/design-system/widgets/src/components/Link/src/index.ts
  app/client/packages/design-system/widgets/src/components/Link/stories/Link.stories.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/index.ts
  app/client/packages/design-system/widgets/src/components/Markdown/src/Markdown.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/components.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/index.ts
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Code.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Heading.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Link.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/List.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Paragraph.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Markdown/src/types.ts
  app/client/packages/design-system/widgets/src/components/Markdown/stories/Markdown.stories.ts
  app/client/packages/design-system/widgets/src/components/Text/src/Text.tsx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/storybook/.storybook/preview-head.html
  app/client/test/__mocks__/reactMarkdown.tsx
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#36665 feat: editable ide tabs
  app/client/jest.config.js
  app/client/package.json
  app/client/packages/design-system/ads/src/Text/Text.stories.tsx
  app/client/packages/design-system/ads/src/Text/Text.styles.tsx
  app/client/packages/design-system/ads/src/Text/Text.tsx
  app/client/packages/design-system/ads/src/Text/Text.types.ts
  app/client/src/IDE/Components/FileTab.tsx
  app/client/src/IDE/Components/FileTab/FileTab.test.tsx
  app/client/src/IDE/Components/FileTab/FileTab.tsx
  app/client/src/IDE/Components/FileTab/constants.ts
  app/client/src/IDE/Components/FileTab/index.ts
  app/client/src/IDE/Components/FileTab/styles.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IDE/EditorTabs/EditableTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/FileTabs.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/constants.ts
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/JSEditor/JSObjectNameEditor.tsx
  app/client/src/selectors/ui.tsx
  app/client/src/utils/hooks/useNameEditor.ts
  app/client/yarn.lock
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36851 chore: Refactor UpdateSuperUserMigrationHelperCE for re-use in EE
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/solutions/ce/UpdateSuperUserMigrationHelperCE.java
Labels: skip-changelog, ok-to-test

#36854 chore: Add polling for embedded pg start to create appsmith DB
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog, ok-to-test

#36845 chore: move chat widget to EE repo
  app/client/packages/design-system/widgets/src/components/AIChat/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/AIChat.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/AssistantSuggestionButton/AssistantSuggestionButton.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/AssistantSuggestionButton/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/AssistantSuggestionButton/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/AssistantSuggestionButton/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatHeader.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatInputSection.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/ChatThread.tsx
  app/client/packages/design-system/widgets/src/components/AIChat/src/index.ts
  app/client/packages/design-system/widgets/src/components/AIChat/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/AIChat/src/types.ts
  app/client/packages/design-system/widgets/src/components/AIChat/stories/AIChat.stories.tsx
  app/client/packages/design-system/widgets/src/components/ChatInput/index.ts
  app/client/packages/design-system/widgets/src/components/ChatInput/src/index.ts
  app/client/packages/design-system/widgets/src/components/ChatInput/stories/ChatInput.stories.tsx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/src/ee/modules/ui-builder/ui/wds/constants.ts
  app/client/src/ee/modules/ui-builder/ui/wds/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/anvilConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/defaultConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/metaConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/methodsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/propertyPaneContent.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/config/propertyPaneStyle.ts
  app/client/src/modules/ui-builder/ui/wds/WDSAIChatWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/constants.ts
  app/client/src/widgets/index.ts
Labels: skip-changelog, ok-to-test

#36622 feat: adding branch persistence
  app/client/cypress/e2e/Regression/ClientSide/Git/GitPersistBranch_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitConnectV2_spec.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/sagas/InitSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
  app/client/src/utils/storage.ts
Labels: Enhancement, Git Product, Task, Stale, Git Platform Pod, ok-to-test

#36862 chore: Use Lettuce client to run clear keys across Redis nodes
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration063CacheBustSpringBoot3_3.java
Labels: skip-changelog

#36861 chore: remove unused chat files
  app/client/packages/design-system/widgets/src/components/ChatInput/src/ChatInput.tsx
  app/client/packages/design-system/widgets/src/components/ChatInput/src/types.ts
Labels: skip-changelog, ok-to-test

#36869 chore: Add server artifacts in ad hoc image builder
  .github/workflows/ad-hoc-docker-image.yml
Labels: skip-changelog

#36639 chore: remove console errors on dev
  app/client/src/pages/AppViewer/AppViewerButton.tsx
  app/client/src/pages/AppViewer/PrimaryCTA.tsx
  app/client/src/widgets/BaseInputWidget/component/index.tsx
  app/client/src/widgets/ButtonWidget/component/index.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
  app/client/src/widgets/IconButtonWidget/component/index.tsx
  app/client/src/widgets/WidgetUtils.ts
Labels: skip-changelog, Integrations Pod General, ok-to-test

#36837 chore: heartbeat code removed
  app/client/src/Heartbeat.tsx
  app/client/src/index.tsx
Labels: skip-changelog, ok-to-test

#35965 chore: cache dependencyMap computation on client
  app/client/src/UITelemetry/generateWebWorkerTraces.ts
  app/client/src/ce/workers/Evaluation/evalWorkerActions.ts
  app/client/src/sagas/EvaluationsSaga.test.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.test.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/handlers/index.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/common/AppComputationCache/AppComputationCache.test.ts
  app/client/src/workers/common/AppComputationCache/index.ts
  app/client/src/workers/common/AppComputationCache/types.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DataTreeEvaluator/test.ts
  app/client/src/workers/common/DependencyMap/index.ts
Labels: skip-changelog, Stale, ok-to-test

#36887 fix: Open settings button not working in response pane
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.tsx
Labels: Bug, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36881 chore: Docs in Plugin Action Toolbar
  app/client/src/PluginActionEditor/components/PluginActionToolbar/components/DocsMenuItem.tsx
  app/client/src/PluginActionEditor/index.ts
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/AppPluginActionToolbar.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/PluginActionMoreActions.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ToolbarMenu/Copy.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ToolbarMenu/Delete.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ToolbarMenu/Move.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ToolbarMenu/PageMenuItem.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ToolbarMenu/ToolbarMenu.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ToolbarMenu/index.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#36863 chore: unskip redis test
  app/server/appsmith-plugins/redisPlugin/src/test/java/com/external/plugins/RedisPluginTest.java
Labels: Backend, Task, skip-changelog, Query & JS Pod, Redis, MsSQL, Integrations Product, ok-to-test

#36893 fix: Updating the permission check for run button in response pane
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/components/editorComponents/ApiResponseView.test.tsx
  app/client/src/components/editorComponents/ApiResponseView.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
  app/client/src/pages/Editor/QueryEditor/QueryEditorHeader.tsx
  app/client/src/pages/Editor/QueryEditor/QueryResponseTab.tsx
Labels: Bug, Production, IDE Product, Needs Triaging, IDE Pod, Medium, ok-to-test

#36895 chore: Prep work for adding Mixpanel session recording
  app/client/jest.config.js
  app/client/package.json
  app/client/public/index.html
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/ce/utils/AnalyticsUtil.tsx
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#36899 chore: add soft token + add subtle button variant
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Button/src/types.ts
  app/client/packages/design-system/widgets/src/components/Text/src/types.ts
Labels: skip-changelog, ok-to-test

#36843 feat: remove isFocus from meta state in InputWidgetV2
  app/client/src/widgets/BaseInputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
Labels: Enhancement, Input Widget, JS Evaluation, Widgets Product, Javascript Product, Query & JS Pod, ok-to-test, Widgets & Accelerators Pod

#36891 chore: Enable coderabbit on pg PRs
  .coderabbit.yaml
Labels: skip-changelog

#36911 chore: Styles fixes for suffix in textarea chat
  app/client/packages/design-system/widgets/src/components/Input/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
Labels: skip-changelog

#36556 chore: sync changes from pg branch
  deploy/docker/fs/opt/appsmith/utils/bin/move-to-postgres.mjs
Labels: skip-changelog, Stale, ok-to-test

#36572 fix: Fix server side skip test cases
  .github/workflows/server-build.yml
Labels: Bug, ok-to-test

#36909 chore: Update tinymce version to 6.8.3 in package.json and yarn.lock
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor3_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/RTE/RichTextEditor_2_spec.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/package.json
  app/client/yarn.lock
Labels: Rich Text Editor Widget, Widgets Product, Needs Triaging, Task, skip-changelog, ok-to-test, Widgets & Accelerators Pod

#36935 chore: Change tone for Coderabbit, a code review bot
  .coderabbit.yaml
Labels: skip-changelog, ok-to-test

#36866 chore: unskip mssql tests
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlGetDBSchemaTest.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlPluginTest.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlTestDBContainerManager.java
Labels: Backend, Task, skip-changelog, Query & JS Pod, Redis, MsSQL, Integrations Product, ok-to-test

#36913 chore: Add custom tag for pg build in ad-hoc image builder
  .github/workflows/ad-hoc-docker-image.yml
Labels: Task, skip-changelog, Move to Postgres, DB Infrastructure Pod

#36936 fix: use password while creating extension
  deploy/docker/fs/opt/appsmith/pg-utils.sh
Labels: Bug

#36945 chore: add neutral-subtle for text and update avatar sizes
  app/client/packages/design-system/widgets/src/components/Avatar/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Text/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Text/src/types.ts
Labels: skip-changelog

#36951 feat: WDS bg-color-soft color algo
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
Labels: Enhancement, Task, Anvil Pod, ok-to-test

#36948 chore: Add redesign for JS Editor Form
  app/client/src/components/editorComponents/CodeEditor/EditorConfig.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorForm/JSEditorForm.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorForm/index.ts
  app/client/src/pages/Editor/JSEditor/JSEditorForm/old/JSEditorForm.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#36959 chore: fix markdown styles
  app/client/packages/design-system/widgets/src/components/Markdown/src/components.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/List.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Paragraph.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
Labels: skip-changelog

#36938 fix: adding branch in url for search entities
  app/client/src/pages/common/SearchBar/EntitySearchBar.tsx
Labels: Bug, Critical, High, Production, Community Reported, Needs Triaging, Git Product, Git Platform Pod, ok-to-test

#36921 feat: JS Editor Toolbar
  app/client/src/IDE/Components/ToolbarSettingsPopover.tsx
  app/client/src/IDE/index.ts
  app/client/src/PluginActionEditor/components/PluginActionSettings/SettingsPopover.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorContextMenu.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorForm/JSEditorForm.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorForm/old/JSEditorForm.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSHeader.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionRun.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionRun.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/old/JSFunctionRun.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/old/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/constants.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/index.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/types.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/utils.ts
  app/client/src/pages/Editor/JSEditor/constants.ts
  app/client/src/pages/Editor/JSEditor/index.tsx
  app/client/src/pages/Editor/JSEditor/styledComponents.ts
  app/client/src/pages/Editor/JSEditor/utils.test.ts
  app/client/src/pages/Editor/JSEditor/utils.ts
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#36960 chore: Updating plugin action name editor component to use ADS text component
  app/client/src/IDE/Components/FileTab/FileTab.test.tsx
  app/client/src/IDE/Components/FileTab/FileTab.tsx
  app/client/src/PluginActionEditor/components/PluginActionNameEditor.tsx
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/ce/entities/IDE/utils.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/EditableTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#36979 chore: ce changes decoupled mixpannel chunk
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/pages/Editor/HelpButton.tsx
Labels: skip-changelog, ok-to-test

#36872 chore: Allow all file I/Os for git in parallel
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
Labels: skip-changelog, ok-to-test

#36988 chore: Dynamic class based projections for nested fields in jsonb column
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/FieldInfo.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/RecentlyUsedEntityDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/AppsmithClassUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ReflectionHelpers.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeQuery.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/projections/UserRecentlyUsedEntitiesProjection.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserDataRepositoryCEImpl.java
Labels: skip-changelog, ok-to-test

#36926 chore: Split library side pane for adding package control section
  app/client/src/IDE/Components/SidePaneWrapper.tsx
  app/client/src/IDE/index.ts
  app/client/src/ce/RouteBuilder.ts
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/entities/Engine/actionHelpers.ts
  app/client/src/ce/pages/Editor/IDE/Header/useLibraryHeaderTitle.ts
  app/client/src/ce/pages/Editor/IDE/LeftPane/LibrarySidePane.tsx
  app/client/src/ce/pages/Editor/IDE/MainPane/useRoutes.ts
  app/client/src/constants/AppConstants.ts
  app/client/src/ee/pages/Editor/IDE/Header/useLibraryHeaderTitle.ts
  app/client/src/ee/pages/Editor/IDE/LeftPane/LibrarySidePane.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/pages/Editor/IDE/Header/index.tsx
  app/client/src/pages/Editor/IDE/Layout/hooks/useGridLayoutTemplate.ts
  app/client/src/pages/Editor/IDE/LeftPane/JSLibrariesSection.tsx
  app/client/src/pages/Editor/IDE/LeftPane/index.tsx
Labels: skip-changelog, ok-to-test

#36999 chore: added instrumentation for js object update
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ActionSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ApplicationSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/LayoutSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/PageSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/onload/ExecutableOnPageLoadServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/onload/ExecutableOnPageLoadServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilImpl.java
Labels: Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#37001 chore: Add spans attributes for no of lines and action count
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/OnLoadSpan.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/LayoutSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/OnLoadSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
Labels: Task, skip-changelog, JS Objects, Javascript Product, Query & JS Pod, ok-to-test

#36857 feat: Update TableWidgetV2 to include customIsLoading property
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/TableRendered.test.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Enhancement, Table Widget, JS Evaluation, Widgets Product, High, Production, Needs Triaging, UI Building Product, List Widget, UI Performance, Javascript Product, Query & JS Pod, ok-to-test, Widgets & Accelerators Pod

#37000 test: udpated locator for GenetateCrud test
  app/client/cypress/support/Pages/DataSources.ts
Labels: skip-changelog, ok-to-test, Test

#36998 chore: Update JS Editor Run designs
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/src/IDE/Components/ToolbarSettingsPopover.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/PluginActionForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionSettings/SettingsPopover.tsx
  app/client/src/assets/icons/menu/js-function.svg
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionItem.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionRun.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/styles.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#37009 fix: Refactor handling of empty chart data in ChartWidget
  app/client/src/widgets/ChartWidget/widget/index.test.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
Labels: Bug, Chart Widget, Widgets Product, Task, ok-to-test, Widgets & Accelerators Pod

#37012 chore: fix errors related to service worker in dev mode
  app/client/src/ce/utils/serviceWorkerUtils.ts
Labels: skip-changelog, ok-to-test

#37020 chore: Removing usage of action right pane component
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#37011 fix: fix highlight position
  app/client/src/layoutSystems/anvil/viewer/canvas/styles.module.css
Labels: Bug, Task, Anvil Pod, ok-to-test

#37033 chore: update anvil modal size api
  app/client/packages/design-system/widgets/src/components/Modal/src/Modal.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/types.ts
  app/client/packages/design-system/widgets/src/components/Modal/stories/ModalExamples.tsx
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSModalWidget/widget/index.tsx
Labels: skip-changelog, ok-to-test

#37022 chore: Added scout & trivy scan to github workflow
  .github/workflows/test-vulnerabilities-data.yml
  scripts/scout_vulnerabilities_data.sh
  scripts/trivy_vulnerabilities_data.sh
Labels: skip-changelog, ok-to-test

#37006 fix: google sheets query getting executed even after changing sheet
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/constants/ErrorMessages.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/utils/SheetsUtil.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/SheetsUtilTest.java
Labels: Bug, High, Production, Needs Triaging, Google Sheets, Query & JS Pod, Integrations Product, ok-to-test

#36958 fix: resolve redundant JSObject action saving
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/JSObject/test.ts
Labels: Bug, Needs Triaging, JS Objects, Javascript Product, Query & JS Pod, ok-to-test

#37052 chore: removed unwanted metrics
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/OnLoadSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
Labels: Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#37018 chore: Create query selector
  app/client/packages/dsl/src/index.ts
  app/client/src/actions/datasourceActions.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/types.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useConnectToOptions.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useDatasourceOptions.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useOtherOptions.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/index.tsx
  app/client/src/components/propertyControls/OneClickBindingControl.tsx
Labels: skip-changelog, ok-to-test

#37013 chore: remove an extra eval cycle caused by the FETCH_FORM_CONFIG_SUCCESS action
  app/client/src/entities/Engine/AppEditorEngine.ts
Labels: skip-changelog, ok-to-test

#37056 chore: Adding new name editor for JS object in toolbar
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSHeader.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSObjectNameEditor/JSObjectNameEditor.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSObjectNameEditor/index.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSObjectNameEditor/old/JSObjectNameEditor.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#37066 chore: Update dispatch option
  .github/workflows/server-build.yml
Labels: skip-changelog, ok-to-test

#37067 chore: Add host explicitly for pg_isready signal at the startup
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog, ok-to-test

#37081 chore: capture performance of parsing api response
  app/client/src/api/Api.ts
Labels: skip-changelog, ok-to-test

#37078 chore: add new ADD_ACTION blueprint operation type
  app/client/packages/design-system/widgets/src/components/Avatar/index.ts
  app/client/packages/design-system/widgets/src/components/Avatar/src/Avatar.tsx
  app/client/packages/design-system/widgets/src/components/Avatar/src/index.ts
  app/client/packages/design-system/widgets/src/components/Avatar/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Avatar/src/types.ts
  app/client/packages/design-system/widgets/src/components/Avatar/stories/Avatar.stories.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Heading.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Link.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
  app/client/packages/design-system/widgets/src/index.ts
  app/client/src/WidgetProvider/constants.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/layoutSystems/anvil/editor/styles.module.css
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/DatasourcesSagas.ts
  app/client/src/sagas/WidgetBlueprintSagas.ts
  app/client/src/sagas/helper.ts
  app/client/src/utils/DatasourceSagaUtils.tsx
Labels: skip-changelog, ok-to-test

#37077 chore: Updating types for support on EE
  app/client/src/ce/pages/common/PackageSearchItem.tsx
  app/client/src/ce/pages/common/WorkflowSearchItem.tsx
Labels: skip-changelog, ok-to-test

#36056 fix: Change the value of pageOffset when enabling server side pagination
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Stale

#36980 chore: fix blueprint operation inconsistency for zone
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilWidgetAdditionSagas/index.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/sectionUtils.ts
  app/client/src/layoutSystems/anvil/utils/layouts/update/zoneUtils.ts
Labels: skip-changelog, ok-to-test

#37023 test: fix tabs skipped test CE
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Tab/Tabs_2_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/PropertyPane.ts
Labels: skip-changelog, ok-to-test, Test

#36940 feat: Disabled datasource selector in query pages
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/SwitchDatasource_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Schema.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/DatasourceInfo/DatasourceStructureContainer.tsx
  app/client/src/pages/Editor/DatasourceInfo/SchemaViewModeCSS.tsx
  app/client/src/pages/Editor/QueryEditor/QueryEditorHeader.tsx
Labels: Enhancement, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#37062 fix: avoiding unnecessary update page layouts in js action update
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
Labels: Bug, Task, JS Objects, Javascript Product, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#37042 test: fix datepicker tests
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker2_spec.js
  app/client/cypress/support/commands.js
Labels: skip-changelog, ok-to-test, Test

#37064 chore: Add JSObject creation flow metrics
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ActionSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/DatasourceSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/PageSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
Labels: JS Evaluation, Task, skip-changelog, JS Objects, Javascript Product, Query & JS Pod, ok-to-test

#37104 fix: edge case to ignore parsing very large numbers
  app/client/src/widgets/JSONFormWidget/schemaParser.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/select.test.ts
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig/properties/select.ts
Labels: Bug, Widgets Product, High, Production, Community Reported, Needs Triaging, JSON Form, ok-to-test, Widgets & Accelerators Pod

#37110 feat: remove release_table_cell_label_value_enabled feature flag
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter1_1_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Sorting_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
Labels: Enhancement, Widgets Product, Task, Table Widget V2, ok-to-test, Widgets & Accelerators Pod

#37101 chore: Distributed tracing for client
  app/client/jest.config.js
  app/client/package.json
  app/client/public/index.html
  app/client/src/UITelemetry/auto-otel-web.ts
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/api/ActionAPI.tsx
  app/client/src/ce/configs/index.ts
  app/client/src/ce/configs/types.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#37124 chore: chat widget polish fixes
  app/client/packages/design-system/ads/src/SegmentedControl/SegmentedControl.styles.tsx
  app/client/packages/design-system/widgets/src/components/Input/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Code.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Markdown/stories/Markdown.stories.ts
  app/client/src/components/propertyControls/IconTabControl.tsx
  app/client/src/layoutSystems/anvil/common/styles.module.css
  app/client/src/modules/ui-builder/ui/wds/Container.tsx
Labels: skip-changelog, ok-to-test

#37121 chore: Removed manipulation for custom traceparent header
  app/client/packages/rts/src/instrumentation.ts
  app/client/src/ce/configs/index.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/MDCConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/annotations/ConditionalOnMicrometerMetricsEnabled.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MetricsConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MicrometerTraceHeaderWebFilter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/TracingConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RTSCaller.java
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog

#37136 chore: update inline code styles
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
Labels: skip-changelog, ok-to-test

#37137 fix: fix appsmith-ce helm charts
  deploy/helm/Chart.yaml
  deploy/helm/values.yaml
Labels: Bug

#37130 chore: fix prop name in options control
  app/client/src/components/propertyControls/OptionControl.tsx
Labels: skip-changelog, ok-to-test

#37141 chore: fix code style in markdown
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
Labels: skip-changelog

#37143 fix: use feature flags when hide form control
  app/client/src/pages/Editor/FormControl.tsx
Labels: Bug, ok-to-test

#37131 fix: datasource name not reflecting in schema pane
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.test.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.tsx
Labels: Bug, Production, IDE Product, Needs Triaging, IDE Pod, Medium, IDE Navigation, ok-to-test

#37138 chore: Query Editor full width option
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/FormRender.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/server/appsmith-plugins/arangoDBPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/redisPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/redshiftPlugin/src/main/resources/editor.json
  app/server/appsmith-plugins/snowflakePlugin/src/main/resources/editor.json
Labels: IDE Product, skip-changelog, Query Forms, Query & JS Pod, IDE Pod, Medium, Integrations Product, ok-to-test

#37091 base changes to populate system info to executeActionDTO
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ActionExecutionSolutionHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ActionExecutionSolutionHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ActionExecutionSolutionHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ActionExecutionSolutionHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ActionExecutionSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImplTest.java
Labels: ok-to-test

#37116 chore: Add Rename context menu
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/input-cursor-move.svg
  app/client/src/IDE/Components/EditableName/EditableName.test.tsx
  app/client/src/IDE/Components/EditableName/EditableName.tsx
  app/client/src/IDE/Components/EditableName/RenameMenuItem.tsx
  app/client/src/IDE/Components/EditableName/index.ts
  app/client/src/IDE/Components/EditableName/useIsRenaming.ts
  app/client/src/IDE/Components/EditableName/useNameEditor.ts
  app/client/src/IDE/index.ts
  app/client/src/PluginActionEditor/components/PluginActionNameEditor.tsx
  app/client/src/actions/ideActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/pages/Editor/AppPluginActionEditor/components/ToolbarMenu/ToolbarMenu.tsx
  app/client/src/components/editorComponents/EditableText.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/EditableTab.tsx
  app/client/src/pages/Editor/JSEditor/AppJSEditorContextMenu.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSObjectNameEditor/JSObjectNameEditor.tsx
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/selectors/ideSelectors.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test, IDE tabs

#37139 feat: add react-compiler eslint plugin
  app/client/.eslintrc.base.json
  app/client/package.json
  app/client/yarn.lock
Labels: Enhancement, ok-to-test
