Repository appsmithorg/appsmith, pull requests merged in 2024-06, with the labels that each got.

#33871 feat: update explorer slider widget icons
  app/client/src/widgets/CategorySliderWidget/thumbnail.svg
  app/client/src/widgets/NumberSliderWidget/thumbnail.svg
  app/client/src/widgets/RangeSliderWidget/thumbnail.svg
Labels: Enhancement, App Viewers Pod, Task, All Widgets, Templates Pod, Templates, ok-to-test

#33909 chore: Delete unused GitConfig entity class
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitConfig.java
Labels: skip-changelog

#33910 chore: Remove unneeded `@Document` on GitProfile
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitProfile.java
Labels: skip-changelog

#33905 chore: Remove `unreadCommentThreads`
  app/client/src/ce/api/ApplicationApi.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
Labels: skip-changelog, ok-to-test

#33894 chore: Add admin email domain hash and user tracking to analytics events
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/User.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/UserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
Labels: Task, skip-changelog, Billing & Usage Pod, CE Instance, ok-to-test

#33923 chore: Increase pg max connections property for CI
  .github/workflows/server-build.yml
Labels: skip-changelog

#33886 chore: Fix extra space at the end of multi-line input widget #33099
  app/client/packages/design-system/headless/src/components/TextArea/src/TextArea.tsx
Labels: skip-changelog, Medium, Anvil POD, WDS team, ok-to-test

#33712 fix: [Perf Improvement] removed unnecessary individual DB calls to plugin and fetched al…
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/DatasourceSpan.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
Labels: Bug, Task, Integrations Pod, Integrations Pod General, ok-to-test

#33946 chore: Revert "chore: Remove `unreadCommentThreads` (#33905)"
  app/client/src/ce/api/ApplicationApi.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
Labels: skip-changelog

#33726 chore: Enable entity tern server to lookup fnParams in entity definition to autocomplete function params
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/utils/autocomplete/__tests__/TernServer.test.ts
Labels: Task, skip-changelog, Packages pod, ok-to-test

#33677 chore: Add script to setup cypress locally
  app/client/cypress/scripts/cypress-local-setup.js
  app/client/cypress/scripts/package.json
  app/client/cypress/scripts/yarn.lock
  contributions/ClientSetup.md
Labels: skip-changelog

#33577 chore: Remove explicit JSON props
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/CustomJSLib.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/CustomJSLibCE.java
Labels: skip-changelog, ok-to-test

#33602 chore: Remove Optional in method arguments
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/TenantServiceCETest.java
Labels: skip-changelog

#33732 chore: Don't hit the database when permission is non-null but permission groups is empty
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
Labels: skip-changelog, ok-to-test

#33952 fix: make url selectable
  app/client/cypress/scripts/cypress-local-setup.js
  app/client/src/pages/Editor/AppSettingsPane/AppSettings/PageSettings.tsx
  app/client/src/pages/Editor/DataSourceEditor/JSONtoForm.tsx
Labels: Bug, Low, Production, Regressed, Needs Triaging, New Developers Pod, skip-docs, skip-testPlan, skip-documentation, App setting, ok-to-test

#33956 fix: add isPreviewMode check for showing bb onboarding
  app/client/src/layoutSystems/common/dropTarget/OnBoarding/OnBoarding.test.tsx
  app/client/src/layoutSystems/common/dropTarget/OnBoarding/index.tsx
Labels: Bug, Low, Production, Needs Triaging, Epic, Templates Pod, Templates, ok-to-test, Building blocks

#33958 chore: Fail early when build of one component fails
  scripts/local_testing.sh
Labels: skip-changelog

#33971 chore: Converging git refactor changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/GitApplicationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/GitController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Context.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/GitArtifactMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/NewPage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/AutoCommitEventHandlerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCECompatible.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CommonGitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/GitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ResponseUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/importable/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/CommonGitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/GitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitArtifactHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/CommonGitServiceCECompatible.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/GitServiceCECompatible.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/GitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/CommonGitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/ApplicationPageServiceAutoCommitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserDataServiceTest.java
Labels: skip-changelog, ok-to-test

#33957 fix: datasource form footer ui fix
  app/client/src/pages/common/datasourceAuth/index.tsx
Labels: Bug, Datasources, UI Improvement, Low, Production, Needs Triaging, Low effort, BE Coders Pod, Integrations Pod, ok-to-test

#33922 fix: make individual words in label selectable #22110
  app/client/src/components/editorComponents/Debugger/LogItem.tsx
Labels: Bug, Low, Production, Debugger, FE Coders Pod, ok-to-test

#33973 fix: add missing scroll to def behaviour
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
Labels: Bug, Production, Needs Triaging, New Developers Pod, Medium, IDE Navigation, ok-to-test

#33699 chore: add `PROPERTY` color constant in `CodeEditorColors`
  app/client/src/components/editorComponents/CodeEditor/constants.ts
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/editorComponents/LazyCodeEditor/styles.tsx
  app/client/src/globalStyles/CodemirrorHintStyles.ts
  app/client/src/utils/autocomplete/ternDocTooltip.tsx
Labels: IDE

#33439 chore: cache templates data
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/CacheableApplicationJson.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/CacheableApplicationTemplate.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CacheableTemplateHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationTemplateServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/CacheableTemplateHelperTemplateJsonDataTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/CacheableTemplateHelperTemplateMetadataTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ApplicationTemplateServiceUnitTest.java
Labels: skip-changelog, Templates Pod, Templates, ok-to-test

#33928 chore: Create a new datasource for WDS table
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/propertyControls/CodeEditorControl.tsx
  app/client/src/widgets/wds/WDSTableWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSTableWidget/constants/data.ts
Labels: Task, skip-changelog, Medium, Anvil POD, WDS team, ok-to-test

#33947 fix: drop of bbs inside container causing reflow
  app/client/src/sagas/BuildingBlockSagas/BuildingBlockAdditionSagas.ts
  app/client/src/sagas/BuildingBlockSagas/PasteBuildingBlockWidgetSaga.test.ts
  app/client/src/sagas/PasteWidgetUtils/index.ts
Labels: Bug, Templates Pod, ok-to-test, Building blocks

#33992 fix: font family changes to PT root in privacy and tnc pages
  app/client/public/404.html
  app/client/public/font-style.css
  app/client/public/privacy-policy.html
  app/client/public/static/font/licence.txt
  app/client/public/static/font/pt-root-ui.css
  app/client/public/static/font/pt-root-ui_bold.woff
  app/client/public/static/font/pt-root-ui_bold.woff2
  app/client/public/static/font/pt-root-ui_light.woff
  app/client/public/static/font/pt-root-ui_light.woff2
  app/client/public/static/font/pt-root-ui_medium.woff
  app/client/public/static/font/pt-root-ui_medium.woff2
  app/client/public/static/font/pt-root-ui_regular.woff
  app/client/public/static/font/pt-root-ui_regular.woff2
  app/client/public/static/font/pt-root-ui_semi-bold.woff2
  app/client/public/terms-and-conditions.html
Labels: Bug, Design System Pod, Low, Production, IDE, Needs Triaging, New Developers Pod, Medium, ads revamp, ok-to-test

#33697 fix: fetch actions and plugins before choosing which GQL editor tab to focus
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.test.ts
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.ts
Labels: ok-to-test

#33940 chore: add new custom linter for module inputs
  app/client/src/ce/plugins/Linting/utils/getInvalidModuleInputsError.ts
  app/client/src/ee/plugins/Linting/utils/getInvalidModuleInputsError.ts
  app/client/src/plugins/Linting/constants.ts
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
Labels: Frontend, Task, skip-changelog, Packages pod, ok-to-test

#34006 ci: Comment hung test
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/CacheableTemplateHelperTemplateJsonDataTest.java
Labels: skip-changelog, CI

#33972 test:replace assertPageSave with AssertAutoSave
  app/client/cypress/e2e/Regression/ClientSide/Binding/Input_NavigateTo_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2Widgets_NavigateTo_Validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableWidgets_NavigateTo_Validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Drag_Drop_Building_Blocks_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ThemingTests/Basic_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/Button_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Inputv2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicChildWidgetInteraction_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Tab/Tab_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Color_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Color_spec.js
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_ContextMenu_spec.js
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad_cyclic_dependency_errors_spec.js
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/commands.js
  app/client/cypress/support/gitSync.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, ok-to-test, Test

#34015 fix: added fix for disabling the autocommit feature without feature flag
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperImpl.java
Labels: Bug, ok-to-test

#33993 chore: Remove empty canvas prompts and improve widget editor header
  app/client/cypress/e2e/Regression/ClientSide/Templates/ForkTemplateToGitConnectedApp.js
  app/client/cypress/e2e/Regression/ClientSide/Templates/Fork_Template_To_App_spec.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/WidgetsEditor/WidgetEditorHeader.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/EmptyCanvasPrompts.tsx
Labels: Task, skip-changelog, Templates Pod, Templates, ok-to-test

#34020 fix: added fix for disabling the autocommit feature without feature flag
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/ApplicationPageServiceAutoCommitTest.java
Labels: Bug, ok-to-test

#33960 fix: preview mode canvas cutoff
  app/client/src/layoutSystems/common/mainContainerResizer/MainContainerResizer.tsx
  app/client/src/pages/Editor/WidgetsEditor/components/MainContainerWrapper.tsx
Labels: Bug, Regressed, skip-docs, skip-testPlan, Anvil POD, skip-documentation, Anvil team, ok-to-test

#34004 chore: Updating version of ejs in package.json
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#33835 test: removed toggleBar command and replaced with ts helper
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckBox_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CodeScanner/CodeScanner1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CurrencyInput/CurrencyInput_ShowStepArrows_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker_With_Switch_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Dropdown/Dropdown_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWidget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWithSwitch_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/Form_With_CheckBox_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Inputv2_ShowStepArrows_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_ArrayField_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_FieldProperties_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_FieldProperties_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_FormBindings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_FormProperties_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_HiddenFields_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_HiddenFields_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Childwigets/Listv2_Tabs_Widget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/ListV2_PageNo_PageSize_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicClientSideData_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_Meta_Hydration_ServerSide_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/Multi_Select_Tree_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Progress_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Select/Select_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Switch/Switch_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Tab/Tab_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Widget_Add_button_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Single_Select_Tree_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Tree_Select_spec.ts
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
Labels: skip-changelog, ok-to-test, Test

#34023 ci: Disable another hung test
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/CacheableTemplateHelperTemplateMetadataTest.java
Labels: skip-changelog, CI

#33961 fix: widget overflow behaviour in anvil
  app/client/packages/design-system/theming/src/hooks/src/useCssTokens.tsx
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/common/styles.module.css
  app/client/src/layoutSystems/anvil/layoutComponents/BaseLayoutComponent.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/FlexLayout.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/alignedWidgetRow/AlignedWidgetRowComp.tsx
  app/client/src/layoutSystems/anvil/layoutComponents/components/section/SectionRow.tsx
Labels: Bug, skip-docs, skip-testPlan, skip-documentation, ok-to-test

#34024 test: ConnectionErrors_Spec.ts - created common error for connection failure
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
Labels: Task, skip-changelog, Integrations Pod, Integrations Pod General, Test

#33966 chore: Modify logic to detect and hide deep paths in autocomplete suggestions
  app/client/src/components/editorComponents/CodeEditor/commandsHelper.ts
  app/client/src/utils/autocomplete/AutocompleteSortRules.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/utils/autocomplete/__tests__/TernServer.test.ts
Labels: Frontend, Task, skip-changelog, Packages pod, ok-to-test

#34039 fix: currency prefix
  app/client/src/widgets/wds/WDSCurrencyInputWidget/component/index.tsx
Labels: Bug, High, Deploy Preview, skip-docs, skip-testPlan, Anvil POD, WDS team, skip-documentation, ok-to-test

#34049 fix: code split for run history resize issue in workflows editor
  app/client/src/ce/components/RunHistory/index.tsx
  app/client/src/ee/components/RunHistory/index.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
Labels: Bug, Frontend, Low, Workflows Pod, Workflows, ok-to-test

#34066 chore: refactor analytics event for partial import
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
Labels: Task, skip-changelog, Templates Pod, ok-to-test, Building blocks

#34043 fix: improve link behaviour
  app/client/packages/design-system/widgets/src/components/Link/src/Link.tsx
  app/client/packages/design-system/widgets/src/components/Link/src/styles.module.css
Labels: Bug, skip-docs, skip-testPlan, skip-documentation, ok-to-test

#34048 fix: hide skip button if the application object is not present in the onboarding screen
  app/client/src/ce/pages/Applications/CreateNewAppsOption.test.tsx
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
Labels: Bug, Low, Production, Needs Triaging, Low effort, BE Coders Pod, Integrations Pod, Activation - datasources, ok-to-test

#34037 test: Failing cypress tests due to removal of empty canvas prompts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/EmptyCanvas_spec.js
  app/client/cypress/e2e/Regression/ClientSide/VisualTests/AppPageLayout_spec.js
  app/client/cypress/locators/GeneratePage.json
  app/client/cypress/support/Pages/HomePage.ts
Labels: Task, skip-changelog, Templates Pod, Templates, ok-to-test, Test

#34087 fix: add null check
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/NewPage.java
Labels: Bug

#34090 fix: fixing null check failure on pg branch
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/NewPage.java
Labels: Bug

#33989 chore: add first load telemetry to evaluations
  app/client/src/UITelemetry/generateTraces.ts
  app/client/src/UITelemetry/generateWebWorkerTraces.ts
  app/client/src/ce/workers/common/types.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/utils/WorkerUtil.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, ok-to-test

#34080 test: flay table header validation
  app/client/cypress/support/Pages/Table.ts
Labels: skip-changelog, Test

#34027 test: fix hung tests in CI
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/CacheableTemplateHelperTemplateJsonDataTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/CacheableTemplateHelperTemplateMetadataTest.java
Labels: Low, skip-changelog, Templates Pod, Templates, ok-to-test, Building blocks, Test

#34086 chore: Don't deserialize any request body to `Layout`
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Layout.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageCreationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/UpdateMultiplePageLayoutDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
Labels: skip-changelog, ok-to-test

#34116 chore: Add time to logs from entrypoint.sh
  Dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/bin/tlog
Labels: skip-changelog

#34121 fix: adds tenant config to `CreateNewAppsOption.test.tsx`
  app/client/src/ce/pages/Applications/CreateNewAppsOption.test.tsx
Labels: Bug

#34062 chore: autocommit feature branch
  app/client/src/actions/gitSyncActions.ts
  app/client/src/api/GitSyncAPI.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/pages/Editor/gitSync/QuickGitActions/BranchButton.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/sagas/GitSyncSagas.ts
  app/client/src/selectors/gitSyncSelectors.tsx
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/operations/FileOperationsCEv2Impl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/ce/GitConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/GitController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ModuleInstance.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Theme.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/AutoCommitProgressDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/AutoCommitResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitEventHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperFallbackImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperFallbackImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CommonGitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersions.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ServerSchemaMigrationEnforcerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/ApplicationPageServiceAutoCommitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/helpers/AutoCommitEligibilityHelperTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImplTest.java
Labels: Git Version Control, Task, skip-changelog, Git Pod, ok-to-test

#34125 chore: added code owner for cypress
  CODEOWNERS
Labels: skip-changelog

#34063 chore: Adding specs/tests for space distribution and copy paste sagas
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilSectionsAndZones_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilSpaceDistribution_spec.ts
  app/client/cypress/support/Pages/Anvil/AnvilSectionsZonesHelper.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/pasteSagas/index.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/pasteSagas/pasteSagas.test.ts
  app/client/src/layoutSystems/anvil/utils/paste/destinationUtils/destinationUtils.test.ts
  app/client/src/layoutSystems/anvil/utils/paste/destinationUtils/index.ts
  app/client/src/layoutSystems/anvil/utils/paste/destinationUtils/mockData.helper.ts
Labels: Task, skip-changelog, Anvil POD, ok-to-test

#34100 chore: writing changes for bringing fixes in PG branch while keeping release intact
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/BearerTokenAuth.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/UploadedFile.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/exports/internal/ExportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
Labels: skip-changelog, ok-to-test

#34129 fix: vanishing widgets in protected branches
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponentWrapper.tsx
Labels: Bug, Production, Needs Triaging, Git Version Control, Medium, Git Pod, ok-to-test

#34140 chore: removed constraint on order of execution for consolidated apis
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
Labels: skip-changelog, ok-to-test

#34069 test: replace togglebarDisable with CheckUncheck
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_Api_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/TableV2_ClientSide_Search_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Table_Api_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Binding/Table_ClientSide_Search_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Checkbox/CheckBox_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CodeScanner/CodeScanner1_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Dropdown/Dropdown_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Form/FormWidget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Image/Image_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_FieldProperties_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_FieldProperties_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_Footer_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_FormBindings_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_FormProperties_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_HiddenFields_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Childwigets/Listv2_Tabs_Widget_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicClientSideData_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/MultiSelect4_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Multiselect/Multi_Select_Tree_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Others/Progress_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Switch/Switch_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Tab/Tab_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Single_Select_Tree_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TreeSelect/Tree_Select_spec.ts
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/commands.js
  app/client/cypress/support/widgetCommands.js
Labels: skip-changelog, ok-to-test, Test

#34143 fix: pass correct widgetId for reflow of building blocks
  app/client/src/sagas/BuildingBlockSagas/BuildingBlockAdditionSagas.ts
Labels: Bug, Low, Production, Needs Triaging, Templates Pod, Templates, ok-to-test, Building blocks

#34142 chore: Add a check if span attributes is present or not
  app/client/src/utils/WorkerUtil.ts
Labels: Task, skip-changelog, ok-to-test

#34131 chore: hide form settings in button widget
  app/client/src/widgets/wds/WDSButtonWidget/config/propertyPaneConfig/contentConfig.ts
Labels: High, skip-changelog, Deploy Preview, Anvil POD, WDS team, ok-to-test

#34133 chore: remove allowDialCodeChange property
  app/client/src/widgets/wds/WDSPhoneInputWidget/config/propertyPaneConfig/contentConfig.ts
Labels: High, skip-changelog, Deploy Preview, Anvil POD, WDS team, ok-to-test

#34134 chore: fix Read only widget incorrectly triggers configured actions that are hidden because of the toggle
  app/client/src/widgets/wds/WDSInputWidget/widget/index.tsx
Labels: High, skip-changelog, Deploy Preview, Anvil POD, WDS team, ok-to-test

#34136 chore: Fix Currency widget fails to display it's default value
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/index.tsx
Labels: High, Regressed, skip-changelog, Deploy Preview, Anvil POD, WDS team, Cloud, ok-to-test

#34158 chore: reverted server version number
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersions.java
Labels: High, Release, Needs Triaging, Git Version Control, skip-changelog, Git Pod, DailyPromotionBlocker, Cloud, ok-to-test

#34099 chore: exclude button from tab order
  app/client/src/layoutSystems/anvil/index.ts
  app/client/src/widgets/wds/WDSButtonWidget/component/Container.tsx
  app/client/src/widgets/wds/WDSButtonWidget/component/index.tsx
  app/client/src/widgets/wds/WDSButtonWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSButtonWidget/widget/types.ts
  app/client/src/widgets/wds/WDSModalWidget/widget/index.tsx
Labels: skip-changelog, skip-docs, skip-testPlan, skip-documentation, ok-to-test

#34108 fix: changed the fields from QUERY_DYNAMIC_INPUT_TEXT to QUERY_DYNAMC_TEXT
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/count.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/delete.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/distinct.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/editor/update.json
Labels: Bug, Enhancement, High, Low effort, Mongo, BE Coders Pod, Integrations Pod, ok-to-test

#33925 chore: Unify ID extraction regex from browser url
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.test.ts
  app/client/src/ce/pages/Editor/Explorer/helpers.test.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/utils.test.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/utils.test.ts
  app/client/src/constants/routes.test.ts
  app/client/src/layoutSystems/fixedlayout/editor/FixedLayoutCanvasArenas/CanvasSelectionArena.test.tsx
  app/client/src/navigation/FocusEntity.test.ts
  app/client/src/pages/AppViewer/PrimaryCTA.test.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/testUtils.ts
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/src/pages/Editor/IDE/AppsmithIDE.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIRender.test.tsx
  app/client/src/pages/Editor/IDE/hooks.test.tsx
  app/client/src/pages/tests/slug.test.tsx
  app/client/src/sagas/BuildingBlockSagas/PasteBuildingBlockWidgetSaga.test.ts
  app/client/src/widgets/ContainerWidget/widget/index.test.tsx
  app/client/test/factories/Actions/API.ts
  app/client/test/factories/Actions/GoogleSheetFactory.ts
  app/client/test/factories/Actions/JSObject.ts
  app/client/test/factories/Actions/Postgres.ts
  app/client/test/factories/PageFactory.ts
  app/client/test/testCommon.ts
Labels: skip-changelog, ok-to-test

#34168 chore: Fix Connect data button is active on preview mode and triggers property pane pop-up
  app/client/src/widgets/wds/WDSTableWidget/widget/index.tsx
Labels: High, skip-changelog, Deploy Preview, Anvil POD, WDS team, ok-to-test

#34132 chore: add min validation param
  app/client/src/widgets/wds/WDSTableWidget/config/propertyPaneConfig/contentConfig.ts
Labels: Bug, Verified, skip-changelog, Deploy Preview, Medium, Anvil POD, WDS team, ok-to-test

#34175 chore: added index for application
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration056AddBranchNameAndDefaultArtifactIndexToApplication.java
Labels: skip-changelog

#34009 chore: Split JS collection update api call to override for modules
  app/client/src/ce/sagas/ApiCallerSaga.test.ts
  app/client/src/ce/sagas/ApiCallerSagas.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/pasteSagas/pasteSagas.test.ts
  app/client/src/sagas/JSPaneSagas.ts
Labels: Frontend, Task, skip-changelog, Packages pod, ok-to-test

#34182 chore: Use tlog instead of echo in more places
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/mongodb-fixer.sh
  deploy/docker/fs/opt/appsmith/run-java.sh
  deploy/docker/fs/opt/appsmith/run-with-env.sh
Labels: skip-changelog

#34154 chore: Check for cyclic dependencies only for client file changes in a PR
  .github/workflows/ci-client-cyclic-deps-check.yml
Labels: skip-changelog, ok-to-test

#34193 chore: Remove deprecated `.criteria` signatures
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
Labels: skip-changelog

#34192 chore: Remove duplicate default field in JSON
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ApplicationPage.java
Labels: skip-changelog, ok-to-test

#34117 chore: Make core encrypt/decrypt methods statically available
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/annotations/encryption/EncryptionMongoEventListener.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/EncryptionHelper.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/EncryptionService.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/EncryptionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/EncryptionConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MongoConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/EncryptionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/EncryptionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/UserServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceContextServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/DatasourceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
Labels: skip-changelog, ok-to-test

#34200 chore: move evaluationVersion to CommonConstants
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/CommonConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCEImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
Labels: Critical, Production, Needs Triaging, skip-changelog, Release Blocker, Workflows Pod, Workflows, ok-to-test

#34197 fix: set eval version for workflows artefact
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/WorkflowConstants.ts
  app/client/src/ce/selectors/applicationSelectors.tsx
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/constants/EvalConstants.ts
  app/client/src/ee/configs/index.ts
  app/client/src/sagas/EvaluationsSaga.ts
Labels: Bug, Critical, Production, Needs Triaging, Release Blocker, Workflows Pod, Workflows, ok-to-test

#34190 chore: Update ci files for utilising base image on pg branch
  .github/workflows/build-docker-image.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-cypress.yml
  .github/workflows/server-build.yml
Labels: skip-changelog, ok-to-test

#34018 feat: update explorer widget icons
  app/client/src/widgets/AudioRecorderWidget/icon.svg
  app/client/src/widgets/AudioWidget/icon.svg
  app/client/src/widgets/ButtonGroupWidget/icon.svg
  app/client/src/widgets/ButtonWidget/icon.svg
  app/client/src/widgets/CameraWidget/icon.svg
  app/client/src/widgets/CategorySliderWidget/icon.svg
  app/client/src/widgets/ChartWidget/icon.svg
  app/client/src/widgets/CheckboxGroupWidget/icon.svg
  app/client/src/widgets/CheckboxWidget/icon.svg
  app/client/src/widgets/CodeScannerWidget/icon.svg
  app/client/src/widgets/ContainerWidget/icon.svg
  app/client/src/widgets/CurrencyInputWidget/icon.svg
  app/client/src/widgets/CustomWidget/icon.svg
  app/client/src/widgets/DatePickerWidget2/icon.svg
  app/client/src/widgets/DividerWidget/icon.svg
  app/client/src/widgets/DocumentViewerWidget/icon.svg
  app/client/src/widgets/FilePickerWidgetV2/icon.svg
  app/client/src/widgets/FormWidget/icon.svg
  app/client/src/widgets/IconButtonWidget/icon.svg
  app/client/src/widgets/IframeWidget/icon.svg
  app/client/src/widgets/ImageWidget/icon.svg
  app/client/src/widgets/InputWidgetV2/icon.svg
  app/client/src/widgets/JSONFormWidget/icon.svg
  app/client/src/widgets/ListWidgetV2/icon.svg
  app/client/src/widgets/MapChartWidget/icon.svg
  app/client/src/widgets/MapWidget/icon.svg
  app/client/src/widgets/MenuButtonWidget/icon.svg
  app/client/src/widgets/ModalWidget/icon.svg
  app/client/src/widgets/MultiSelectTreeWidget/icon.svg
  app/client/src/widgets/MultiSelectWidgetV2/icon.svg
  app/client/src/widgets/NumberSliderWidget/icon.svg
  app/client/src/widgets/PhoneInputWidget/icon.svg
  app/client/src/widgets/ProgressWidget/icon.svg
  app/client/src/widgets/RadioGroupWidget/icon.svg
  app/client/src/widgets/RangeSliderWidget/icon.svg
  app/client/src/widgets/RateWidget/icon.svg
  app/client/src/widgets/RichTextEditorWidget/icon.svg
  app/client/src/widgets/SelectWidget/icon.svg
  app/client/src/widgets/SingleSelectTreeWidget/icon.svg
  app/client/src/widgets/StatboxWidget/icon.svg
  app/client/src/widgets/SwitchGroupWidget/icon.svg
  app/client/src/widgets/SwitchWidget/icon.svg
  app/client/src/widgets/TableWidgetV2/icon.svg
  app/client/src/widgets/TabsWidget/icon.svg
  app/client/src/widgets/TextWidget/icon.svg
  app/client/src/widgets/VideoWidget/icon.svg
Labels: Enhancement, App Viewers Pod, Task, All Widgets, Templates Pod, Templates, ok-to-test

#34177 chore: fix validation in wds phoneinput widget
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/helpers.ts
Labels: Bug, High, Regressed, skip-changelog, Deploy Preview, Anvil Pod, WDS team, ok-to-test

#34205 fix: set eval version for workflows artefact (#34197)
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/WorkflowConstants.ts
  app/client/src/ce/selectors/applicationSelectors.tsx
  app/client/src/ce/workers/Evaluation/Actions.ts
  app/client/src/constants/EvalConstants.ts
  app/client/src/ee/configs/index.ts
  app/client/src/sagas/EvaluationsSaga.ts
Labels: ok-to-test

#34206 fix: DB URL override fails in some cases
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/utils/bin/index.js
Labels: Bug, ok-to-test

#34204 chore: Remove `updateAndFind`
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
Labels: skip-changelog, ok-to-test

#34178 chore: fix table height
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/styles.module.css
Labels: High, skip-changelog, Deploy Preview, Anvil Pod, WDS team, ok-to-test

#34223 chore: Add baseId to app
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Application.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ArtifactCE.java
Labels: skip-changelog

#34215 feat: add tests for AddAndMove and AddBuildingBlocks to canvas
  app/client/src/sagas/BuildingBlockSagas/tests/AddAndMoveBuildingBlockToCanvasSaga.test.ts
  app/client/src/sagas/BuildingBlockSagas/tests/AddBuildingBlockToCanvasSaga.test.ts
  app/client/src/sagas/BuildingBlockSagas/tests/PasteBuildingBlockWidgetSaga.test.ts
  app/client/src/sagas/BuildingBlockSagas/tests/fixtures.ts
Labels: Enhancement, Task, Templates Pod, Templates, ok-to-test, Building blocks

#34186 fix: Fix for regression in js query refactor in modules
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/utils/JSPaneUtils.tsx
Labels: Bug, High, Production, Needs Triaging, Packages pod, Module creator

#34214 test: fix failing gitsync tests
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/support/Pages/GitSync.ts
Labels: skip-changelog, Test

#34203 fix: update dp builder
  scripts/deploy_preview.sh
Labels: Bug

#34210 chore: WDS, adjust inner spacing of buttons with icons
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#34247 fix: failing dp builder
  scripts/deploy_preview.sh
Labels: Bug

#34240 chore: added new relic telemetry for spans
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/TenantSpan.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CacheableRepositoryHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce_compatible/CacheableRepositoryHelperCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/TenantServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
Labels: Task, skip-changelog, Integrations Pod, Integrations Pod General, ok-to-test

#34003 chore: Prefetch module apis in service worker
  app/client/craco.build.config.js
  app/client/craco.dev.config.js
  app/client/package.json
  app/client/src/api/ConsolidatedPageLoadApi.tsx
  app/client/src/ce/utils/serviceWorkerUtils.test.ts
  app/client/src/ce/utils/serviceWorkerUtils.ts
  app/client/src/ee/utils/serviceWorkerUtils.ts
  app/client/src/serviceWorker.ts
  app/client/src/utils/serviceWorkerUtils.js
  app/client/src/utils/serviceWorkerUtils.test.js
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#34217 chore: remove headless checkbox and switch use react-aria component instead
  app/client/packages/design-system/headless/src/components/Checkbox/src/Checkbox.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/src/CheckboxGroup.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/src/context.ts
  app/client/packages/design-system/headless/src/components/Checkbox/src/icons/CheckIcon.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/src/icons/SubtractIcon.tsx
  app/client/packages/design-system/headless/src/components/Checkbox/src/index.ts
  app/client/packages/design-system/headless/src/components/Checkbox/src/types.ts
  app/client/packages/design-system/headless/src/components/Checkbox/stories/Checkbox.stories.tsx
  app/client/packages/design-system/headless/src/components/Radio/src/Radio.tsx
  app/client/packages/design-system/headless/src/components/Switch/Switch.tsx
  app/client/packages/design-system/headless/src/components/Switch/index.tsx
  app/client/packages/design-system/headless/src/hooks/useGroupOrientation.ts
  app/client/packages/design-system/headless/src/index.ts
  app/client/packages/design-system/widgets/jest.config.js
  app/client/packages/design-system/widgets/src/components/Checkbox/chromatic/Checkbox.chromatic.stories.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/src/Checkbox.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Checkbox/stories/Checkbox.stories.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/tests/Checkbox.test.tsx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/src/CheckboxGroup.tsx
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/src/index.ts
  app/client/packages/design-system/widgets/src/components/CheckboxGroup/stories/CheckboxGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/ContextualHelp/src/ContextualHelp.tsx
  app/client/packages/design-system/widgets/src/components/InlineButtons/src/useInlineButtons.tsx
  app/client/packages/design-system/widgets/src/components/Label/index.ts
  app/client/packages/design-system/widgets/src/components/Label/src/Label.tsx
  app/client/packages/design-system/widgets/src/components/Label/src/index.ts
  app/client/packages/design-system/widgets/src/components/Label/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Label/src/types.ts
  app/client/packages/design-system/widgets/src/components/Select/src/Select.tsx
  app/client/packages/design-system/widgets/src/components/Select/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Select/src/types.ts
  app/client/packages/design-system/widgets/src/components/Switch/chromatic/Switch.chromatic.stories.tsx
  app/client/packages/design-system/widgets/src/components/Switch/src/Switch.tsx
  app/client/packages/design-system/widgets/src/components/Switch/src/index.ts
  app/client/packages/design-system/widgets/src/components/Switch/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Switch/src/types.ts
  app/client/packages/design-system/widgets/src/components/Switch/stories/Switch.stories.tsx
  app/client/packages/design-system/widgets/src/components/SwitchGroup/index.ts
  app/client/packages/design-system/widgets/src/components/SwitchGroup/src/index.ts
  app/client/packages/design-system/widgets/src/components/SwitchGroup/stories/SwitchGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/ToggleGroup/chromatic/Group.chromatic.stories.tsx
  app/client/packages/design-system/widgets/src/components/ToggleGroup/index.ts
  app/client/packages/design-system/widgets/src/components/ToggleGroup/src/ToggleGroup.tsx
  app/client/packages/design-system/widgets/src/components/ToggleGroup/src/index.ts
  app/client/packages/design-system/widgets/src/components/ToggleGroup/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/ToggleGroup/src/types.ts
  app/client/packages/design-system/widgets/src/components/ToggleGroup/stories/ToggleGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/ToggleGroup/tests/ToggleGroup.test.tsx
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/design-system/widgets/src/shared/index.ts
  app/client/packages/design-system/widgets/src/shared/orientation/index.ts
  app/client/packages/design-system/widgets/src/shared/position/index.ts
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/types.ts
  app/client/src/widgets/wds/WDSSwitchWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchWidget/widget/types.ts
Labels: skip-changelog, Medium, skip-docs, skip-testPlan, Anvil Pod, WDS team, skip-documentation, ok-to-test

#34040 test: replace LogintoApp with LoginFromAPI
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplicationInDeployedMode_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplication_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ExportApplication_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ProductRamps/PrivateEmbedRamp_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Workspace/DeleteWorkspace_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Workspace/LeaveWorkspaceTest_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Workspace/MemberRoles_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Workspace/ShareAppTests_Spec.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, ok-to-test, Test

#34264 ci: Show tags in all Cypress reports
  .github/workflows/pr-cypress.yml
Labels: skip-changelog, CI

#34118 chore: removing branch protection trigger from git connect flow
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBranchProtect_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/RepoLimitExceededErrorModal_spec.js
  app/client/cypress/support/Pages/GitSync.ts
  app/client/package.json
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IDE/index.tsx
  app/client/src/pages/Editor/gitSync/Tabs/ConnectionSuccess.tsx
  app/client/src/pages/Editor/gitSync/Tabs/__tests__/ConnectionSuccess.test.tsx
  app/client/src/sagas/GitSyncSagas.ts
  app/client/yarn.lock
Labels: Git Version Control, Task, skip-changelog, Git Pod, ok-to-test

#34266 chore: Remove mockdb as it isn't working anyway
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/templates/mockdb_postgres.sql
  deploy/docker/fs/opt/appsmith/templates/users_postgres.sql
Labels: skip-changelog, ok-to-test

#34265 chore: Add Postgres bin to PATH
  deploy/docker/base.dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/run-postgres.sh
Labels: skip-changelog, ok-to-test

#33637 chore: Add gpt-4o mode in vision command
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/commands/VisionCommand.java
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/models/VisionMessage.java
  app/server/appsmith-plugins/openAiPlugin/src/test/java/com/external/plugins/VisionCommandTest.java
Labels: skip-changelog, ok-to-test

#34270 chore: refactored git status
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
Labels: skip-changelog, ok-to-test, Git status

#34280 chore: Use `RequiredArgsConstructor` when possible
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
Labels: skip-changelog, ok-to-test

#34286 chore: Fix `PATH` getting reset by `su`
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog

#34292 ci: Update PR description with GitHub Script
  .github/workflows/pr-automation.yml
  .github/workflows/scripts/write-cypress-comment.js
Labels: skip-changelog, CI, ok-to-test

#34297 fix: learn more link in git connect success modal
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/pages/Editor/gitSync/Tabs/ConnectionSuccess.tsx
  app/client/src/pages/Editor/gitSync/Tabs/__tests__/ConnectionSuccess.test.tsx
Labels: Bug, Release, Needs Triaging, Git Version Control, Medium, Git Pod, DailyPromotionBlocker, ok-to-test

#34276 fix: property pane height fix for animation
  app/client/src/pages/Editor/IDE/index.tsx
Labels: Bug, Low, Production, Needs Triaging, Integrations Pod, Integrations Pod General, ok-to-test

#34281 chore: Deprecate `.findById` signature with `Optional` parameter
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/GitApplicationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/importable/NewPageImportableServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/NewPageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialImportServiceTest.java
Labels: skip-changelog, ok-to-test

#34106 fix: evalTrigger mutation fix
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/handlers/evalTrigger.ts
  app/client/src/workers/Evaluation/helpers.ts
  app/client/src/workers/Evaluation/types.ts
Labels: Bug, Table Widget, JS Evaluation, App Viewers Pod, Production, Needs Triaging, FE Coders Pod, BE Coders Pod, Integrations Pod, Integrations Pod General, ok-to-test

#34273 chore: annotate serializable attributes with git annotation
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorage.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ApplicationDetailCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
Labels: skip-changelog, ok-to-test

#34305 chore: Remove unused `LayoutServiceCE.createLayout`
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
Labels: skip-changelog, ok-to-test

#34312 chore: remove headless radio and use react-aria component instead
  app/client/packages/design-system/headless/src/components/Radio/src/Radio.tsx
  app/client/packages/design-system/headless/src/components/Radio/src/RadioGroup.tsx
  app/client/packages/design-system/headless/src/components/Radio/src/context.ts
  app/client/packages/design-system/headless/src/components/Radio/src/index.ts
  app/client/packages/design-system/headless/src/components/Radio/src/types.ts
  app/client/packages/design-system/headless/src/components/Radio/stories/Radio.stories.tsx
  app/client/packages/design-system/headless/src/index.ts
  app/client/packages/design-system/widgets/src/components/Checkbox/src/Checkbox.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/src/index.ts
  app/client/packages/design-system/widgets/src/components/Checkbox/src/types.ts
  app/client/packages/design-system/widgets/src/components/ErrorMessage/index.ts
  app/client/packages/design-system/widgets/src/components/ErrorMessage/src/ErrorMessage.tsx
  app/client/packages/design-system/widgets/src/components/ErrorMessage/src/index.ts
  app/client/packages/design-system/widgets/src/components/ErrorMessage/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/ErrorMessage/src/types.ts
  app/client/packages/design-system/widgets/src/components/Label/src/Label.tsx
  app/client/packages/design-system/widgets/src/components/Label/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Label/src/types.ts
  app/client/packages/design-system/widgets/src/components/Radio/chromatic/Radio.chromatic.stories.tsx
  app/client/packages/design-system/widgets/src/components/Radio/index.ts
  app/client/packages/design-system/widgets/src/components/Radio/src/Radio.tsx
  app/client/packages/design-system/widgets/src/components/Radio/src/index.ts
  app/client/packages/design-system/widgets/src/components/RadioGroup/chromatic/RadioGroup.chromatic.stories.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/src/RadioGroup.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/src/index.ts
  app/client/packages/design-system/widgets/src/components/RadioGroup/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/RadioGroup/src/types.ts
  app/client/packages/design-system/widgets/src/components/RadioGroup/stories/RadioGroup.stories.tsx
  app/client/packages/design-system/widgets/src/components/RadioGroup/tests/RadioGroup.test.tsx
  app/client/packages/design-system/widgets/src/components/ToggleGroup/chromatic/Group.chromatic.stories.tsx
  app/client/packages/design-system/widgets/src/components/ToggleGroup/src/ToggleGroup.tsx
  app/client/packages/design-system/widgets/src/components/ToggleGroup/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/ToggleGroup/src/types.ts
  app/client/packages/design-system/widgets/src/hooks/index.ts
  app/client/packages/design-system/widgets/src/hooks/useGroupOrientation.ts
  app/client/packages/design-system/widgets/src/index.ts
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
  app/client/packages/storybook/src/components/DataAttrWrapper.tsx
  app/client/src/widgets/wds/WDSRadioGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSRadioGroupWidget/widget/types.ts
Labels: QA, skip-changelog, Medium, skip-docs, skip-testPlan, Anvil Pod, WDS team, skip-documentation, QA Pod, ok-to-test

#34316 chore: Remove redundant adding Postgres bin to `PATH`
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: skip-changelog, ok-to-test

#34302 chore: Remove `findById` signature with `Optional`
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#34250 chore: Disallow plugin requests to localhost
  Dockerfile
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/WebClientUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RTSCaller.java
Labels: Security, skip-changelog, ok-to-test

#34313 refactor: move apps link out of menu & refactor nav menu data
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/EditorName/index.tsx
  app/client/src/pages/Editor/EditorName/useNavigationMenuData.ts
  app/client/src/pages/Editor/IDE/Header/index.tsx
Labels: Task, New Developers Pod, IDE Navigation, ok-to-test

#34338 perf: add react-hooks/exhaustive-deps rule
  app/client/.eslintrc.base.json
Labels: Task, ok-to-test

#34306 fix: Retain existing flags even if CS API fails
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/FeatureFlagMigrationHelperCEImpl.java
Labels: Bug, ok-to-test

#34185 feat: side-by-side edit mode hover analytics
  app/client/src/IDE/hooks/index.ts
  app/client/src/IDE/hooks/useIsInSideBySideEditor.test.tsx
  app/client/src/IDE/hooks/useIsInSideBySideEditor.ts
  app/client/src/actions/ideActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/index.tsx
  app/client/src/ce/utils/analyticsUtilTypes.ts
  app/client/src/layoutSystems/anvil/editor/AnvilWidgetName/AnvilWidgetNameComponent.tsx
  app/client/src/layoutSystems/anvil/editor/canvas/AnvilEditorCanvas.tsx
  app/client/src/layoutSystems/common/AnalyticsWrapper/AnalyticsWrapper.tsx
  app/client/src/layoutSystems/common/AnalyticsWrapper/constants.ts
  app/client/src/layoutSystems/common/AnalyticsWrapper/index.ts
  app/client/src/layoutSystems/constants.ts
  app/client/src/layoutSystems/fixedlayout/canvas/FixedLayoutEditorCanvas.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/utils.tsx
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/sagas/AnalyticsSaga.ts
  app/client/src/selectors/ideSelectors.tsx
  app/client/test/factories/AppIDEFactoryUtils.ts
Labels: Enhancement, IDE, Task, New Developers Pod, ok-to-test

#34357 chore: Removed two extra machines for ci-test-limit
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, ok-to-test

#34361 chore: add excludeFromTabOrder for wds widgets
  app/client/packages/design-system/widgets/src/components/Checkbox/src/Checkbox.tsx
  app/client/packages/design-system/widgets/src/components/Checkbox/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/InlineButtons/src/InlineButtons.tsx
  app/client/packages/design-system/widgets/src/components/InlineButtons/src/types.ts
  app/client/packages/design-system/widgets/src/components/Link/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/ToolbarButtons/src/ToolbarButtons.tsx
  app/client/packages/design-system/widgets/src/components/ToolbarButtons/src/types.ts
  app/client/src/widgets/wds/WDSBaseInputWidget/component/types.ts
  app/client/src/widgets/wds/WDSCheckboxGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCheckboxWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCurrencyInputWidget/component/index.tsx
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSIconButtonWidget/component/types.ts
  app/client/src/widgets/wds/WDSIconButtonWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSInlineButtonsWidget/component/index.tsx
  app/client/src/widgets/wds/WDSInlineButtonsWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/component/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSMenuButtonWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSPhoneInputWidget/component/index.tsx
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/StaticTable.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/Table.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableBody/Row.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableBody/StaticTableBody.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableBody/VirtualTableBody.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableBody/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/PageNumberInput.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/Pagination.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/Search.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/TableColumnHeader.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/VirtualTableInnerElement.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableHeader/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/TableStyledWrappers.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/VirtualTable.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/ButtonCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/EmptyCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/HeaderCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/cellComponents/SelectionCheckboxCell.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/index.tsx
  app/client/src/widgets/wds/WDSTableWidget/component/styles.module.css
  app/client/src/widgets/wds/WDSTableWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/component/index.tsx
  app/client/src/widgets/wds/WDSToolbarButtonsWidget/widget/index.tsx
Labels: skip-changelog, Medium, skip-docs, skip-testPlan, Anvil Pod, skip-documentation, Anvil team, ok-to-test

#34242 chore: tests for wds button widget
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilIconButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilInlineButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilToolbarButtonWidgetSnapshot_spec.ts
  app/client/cypress/fixtures/anvilButtonWidget.json
  app/client/cypress/fixtures/anvilIconButtonWidget.json
  app/client/cypress/fixtures/anvilInlineButtonWidget.json
  app/client/cypress/fixtures/anvilToolbarButtonWidget.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/snapshots/AnvilButtonWidgetSnapshot_spec.ts/anvilButtonWidgetCanvas.snap.png
  app/client/cypress/snapshots/AnvilButtonWidgetSnapshot_spec.ts/anvilButtonWidgetCanvasDark.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetCanvas.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetCanvasDark.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetDeployipad-2.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetDeployiphone-6.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetDeploymacbook-13.snap.png
  app/client/cypress/snapshots/AnvilIconButtonWidgetSnapshot_spec.ts/anvilIconButtonWidgetPreview.snap.png
  app/client/cypress/snapshots/AnvilInlineButtonWidgetSnapshot_spec.ts/anvilInlineButtonWidgetCanvas.snap.png
  app/client/cypress/snapshots/AnvilInlineButtonWidgetSnapshot_spec.ts/anvilInlineButtonWidgetCanvasDark.snap.png
  app/client/cypress/snapshots/AnvilInlineButtonWidgetSnapshot_spec.ts/anvilInlineButtonWidgetDeployipad-2.snap.png
  app/client/cypress/snapshots/AnvilInlineButtonWidgetSnapshot_spec.ts/anvilInlineButtonWidgetDeployiphone-6.snap.png
  app/client/cypress/snapshots/AnvilInlineButtonWidgetSnapshot_spec.ts/anvilInlineButtonWidgetDeploymacbook-13.snap.png
  app/client/cypress/snapshots/AnvilInlineButtonWidgetSnapshot_spec.ts/anvilInlineButtonWidgetPreview.snap.png
  app/client/cypress/snapshots/AnvilToolbarButtonWidgetSnapshot_spec.ts/anvilToolbarButtonWidgetCanvas.snap.png
  app/client/cypress/snapshots/AnvilToolbarButtonWidgetSnapshot_spec.ts/anvilToolbarButtonWidgetCanvasDark.snap.png
  app/client/cypress/snapshots/AnvilToolbarButtonWidgetSnapshot_spec.ts/anvilToolbarButtonWidgetDeployipad-2.snap.png
  app/client/cypress/snapshots/AnvilToolbarButtonWidgetSnapshot_spec.ts/anvilToolbarButtonWidgetDeployiphone-6.snap.png
  app/client/cypress/snapshots/AnvilToolbarButtonWidgetSnapshot_spec.ts/anvilToolbarButtonWidgetDeploymacbook-13.snap.png
  app/client/cypress/snapshots/AnvilToolbarButtonWidgetSnapshot_spec.ts/anvilToolbarButtonWidgetPreview.snap.png
  app/client/cypress/support/Objects/ObjectsCore.ts
  app/client/cypress/support/Objects/Registry.ts
  app/client/cypress/support/Pages/Anvil/AnvilSnapshot.ts
  app/client/cypress/support/Pages/DeployModeHelper.ts
  app/client/cypress/support/index.d.ts
  app/client/packages/design-system/widgets/src/components/InlineButtons/src/styles.module.css
  app/client/src/pages/AppViewer/AppPage.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Editor/WDSThemePropertyPane/index.tsx
Labels: skip-changelog, ok-to-test

#34351 fix: Supervisor buffer overflow errors
  deploy/docker/fs/usr/lib/python3/dist-packages/supervisor/appsmith_supervisor_stdout.py
Labels: Bug, ok-to-test

#34367 fix: revert to passing hook as a prop for EE compatibility
  app/client/src/pages/Editor/EditorHeader.tsx
  app/client/src/pages/Editor/EditorName/index.tsx
  app/client/src/pages/Editor/IDE/Header/index.tsx
Labels: Bug, Task, New Developers Pod, IDE Navigation, ok-to-test

#34369 chore: Remove unused methods in `NewPageServiceCE`
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
Labels: skip-changelog

#33693 chore: Add user context to permission object via transform script
  app/server/.run/ServerApplication.run.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/fork/internal/ApplicationForkingServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ReactiveContextUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ReactorUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/RepositoryHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/ce/V001__createTablesAndFunctions.sql
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/AppsmithRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/cakes/BaseCake.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomConfigRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomConfigRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomDatasourceStorageStructureRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomPermissionGroupRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomThemeRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/params/QueryAllParams.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/BaseService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/base/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/application.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ThemeServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/NewActionServiceUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ThemeImportableServiceCETest.java
  app/server/tx/transform.py
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: ok-to-test

#34371 chore: Fix missing changes in revert #34313
  app/client/src/pages/Editor/EditorName/index.tsx
  app/client/src/pages/Editor/EditorName/useNavigationMenuData.ts
Labels: skip-changelog, ok-to-test

#34372 ci: Run server tests on `pg` branch
  .github/workflows/quality-checks.yml
  .github/workflows/server-build.yml
Labels: skip-changelog, CI

#34392 chore: Update transform script to accept acl permission at any position
  .github/workflows/ci-test-custom-script.yml
  app/client/cypress/fixtures/datasources.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/base/NewPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomActionCollectionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomApplicationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewPageRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomWorkspaceRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceTest.java
  app/server/tx/transform.py
Labels: ok-to-test

#34317 chore: Add script to upgrade Postgres 13 data to 14
  deploy/docker/base.dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
  deploy/docker/fs/opt/appsmith/pg-upgrade.sh
  deploy/docker/tests/pg-upgrade/run.sh
Labels: skip-changelog, ok-to-test

#34389 fix: Prefetch apis: Include only branchname header in request key
  app/client/src/ce/utils/serviceWorkerUtils.test.ts
  app/client/src/ce/utils/serviceWorkerUtils.ts
Labels: Bug, ok-to-test

#34396 chore: capturing allPaths and unevalTree diffs computation latency
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, ok-to-test

#34401 test: Fix extracing pageId from app page URL
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/OnLoadActions_Spec.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/commands.js
Labels: skip-changelog, ok-to-test, Test

#34406 chore: removed git annotation from dependency map variable
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
Labels: skip-changelog, Git Pod, Git Auto-commit, ok-to-test

#34407 feat: Anvil dnd sagas unit tests
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilDraggingSagas/anvilDraggingSagas.test.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilDraggingSagas/index.ts
  app/client/src/layoutSystems/anvil/integrations/sagas/anvilDraggingSagas/mockData.helper.ts
Labels: Enhancement, Task, Anvil Pod, ok-to-test

#34417 ci: Fix non used matrix parameter in build-client-server.yml
  .github/workflows/build-client-server.yml
Labels: skip-changelog, CI, ok-to-test

#34420 ci: removed matrix for ci-test-limit
  .github/workflows/build-client-server.yml
Labels: skip-changelog, CI

#34421 chore: Revert "chore: bump tinymce from 7.0.0 to 7.2.0 in /app/client"
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#34373 fix: Sync EE items into CE
  app/client/src/Globals.d.ts
  app/client/src/assets/icons/ads/enter.svg
  app/client/src/assets/images/scim.png
  app/client/src/assets/lottie/guided-tour-indicator.json.txt
  app/client/src/globalStyles/popover.ts
  app/client/src/pages/AdminSettings/FormGroup/CopyUrlForm.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/utils/BrandingUtils.ts
  app/client/src/widgets/ButtonGroupWidget/component/index.tsx
Labels: Bug, ok-to-test

#34387 fix: wds widgets
  app/client/src/components/propertyControls/ButtonListControl.tsx
  app/client/src/widgets/wds/WDSBaseInputWidget/config/contentConfig.ts
  app/client/src/widgets/wds/WDSParagraphWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSStatsWidget/component/index.tsx
  app/client/src/widgets/wds/WDSStatsWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSStatsWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/autocompleteConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/defaultsConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/config/settersConfig.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/helpers.ts
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSwitchGroupWidget/widget/types.ts
Labels: Bug, High, Deploy Preview, skip-docs, skip-testPlan, Anvil Pod, WDS team, skip-documentation, ok-to-test

#34347 chore: add tests for anvil modal.
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AnvilModal_spec.ts
  app/client/cypress/snapshots/AnvilModal_spec.ts/anvilModalLargeSize.snap.png
  app/client/cypress/snapshots/AnvilModal_spec.ts/anvilModalMediumSize.snap.png
  app/client/cypress/snapshots/AnvilModal_spec.ts/anvilModalSmallSize.snap.png
  app/client/cypress/support/Pages/Anvil/AnvilDnDHelper.ts
  app/client/cypress/support/Pages/Anvil/AnvilLayout.ts
  app/client/cypress/support/Pages/Anvil/Locators/index.ts
  app/client/packages/design-system/widgets/src/components/Modal/src/Modal.tsx
  app/client/packages/design-system/widgets/src/components/Modal/src/types.ts
  app/client/packages/design-system/widgets/src/components/Modal/stories/ModalExamples.tsx
  app/client/packages/design-system/widgets/src/testing/ComplexForm.tsx
  app/client/src/layoutSystems/anvil/common/AnvilFlexComponent.tsx
  app/client/src/layoutSystems/anvil/editor/canvasArenas/DetachedWidgetsDropArena.tsx
  app/client/src/layoutSystems/anvil/editor/hooks/useAnvilWidgetStyles.ts
  app/client/src/layoutSystems/anvil/viewer/canvas/AnvilDetachedWidgets.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/widgets/anvil/constants.ts
  app/client/src/widgets/wds/WDSModalWidget/widget/index.tsx
Labels: potential-duplicate, Task, skip-changelog, Anvil Pod, ok-to-test

#34432 fix: don't call modal onClose method in edit mode
  app/client/src/widgets/wds/WDSModalWidget/widget/index.tsx
Labels: Bug, Deploy Preview, Medium, skip-docs, skip-testPlan, Anvil Pod, WDS team, skip-documentation, ok-to-test

#34366 chore: Strict schema for datasource and action APIs
  app/client/src/api/ActionAPI.tsx
  app/client/src/api/DatasourcesApi.ts
  app/client/src/ce/api/ApplicationApi.tsx
Labels: skip-changelog, ok-to-test

#34430 chore: Update Postgres port for TED in CI
  .github/workflows/ci-debugging.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-limited.yml
  app/client/cypress/e2e/Regression/ServerSide/Datasources/ConnectionErrors_Spec.ts
  app/client/cypress/fixtures/datasources.json
  app/client/cypress/scripts/cypress-local-setup.js
  app/client/cypress/support/Objects/DataManager.ts
Labels: skip-changelog, ok-to-test

#34452 ci: To improve readability sorted tags in tags.js
  app/client/cypress/tags.js
Labels: Task, skip-changelog, CI, ok-to-test

#34318 fix: Refactor dynamic bindings in widgets during building block paste.
  app/client/src/sagas/BuildingBlockSagas/BuildingBlockAdditionSagas.ts
  app/client/src/sagas/PasteWidgetUtils/PasteWidgetUtils.test.ts
  app/client/src/sagas/PasteWidgetUtils/index.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/sagas/WidgetOperationUtils.test.ts
  app/client/src/sagas/WidgetOperationUtils.ts
Labels: Bug, Templates Pod, ok-to-test, Building blocks
