Repository appsmithorg/appsmith, pull requests merged in 2025-08, with the labels that each got.

#41157 fix: Skip JSObject eval where the path is the function
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: Bug, Frontend, High, Production, Needs Triaging, Packages Pod, JS module, ok-to-test, Packages & Git Pod

#41162 chore: optimised isChildPropertyPath to not use a regex and added more logging around calculateSubTreeSortOrder
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/entities/DependencyMap/index.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, ok-to-test

#41156 chore: added compatibility for no artifact json type attribute in metadata.json
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
Labels: skip-changelog, ok-to-test

#41176 fix: use bitnamilegacy images temporarily
  deploy/helm/Chart.yaml
  deploy/helm/tests/__snapshot__/defaults_snapshot_test.yaml.snap
  deploy/helm/values.yaml
Labels: Bug
