Repository appsmithorg/appsmith, pull requests merged in 2025-03, with the labels that each got.

#39488 chore: Update Entity Tree implementation for better composition
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.test.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.types.ts
  app/client/src/IDE/Components/EditableName/useValidateEntityName.ts
  app/client/src/pages/AppIDE/components/JSEntityItem/JSEntityItem.tsx
  app/client/src/pages/AppIDE/components/QueryEntityItem/QueryEntityItem.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/UIEntityListTree.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/WidgetTreeItem.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/hooks/useSwitchToWidget.ts
Labels: skip-changelog, ok-to-test

#39413 chore: Add plugin name to server execution metrics
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ExecuteActionMetaDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: skip-changelog, ok-to-test

#39525 chore: Add code-split for post import hook
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39546 chore: Rename to conform to IT pattern
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/GitBranchesWithCentralServiceIT.java
Labels: skip-changelog

#39489 chore: beta tags enabled for certain integrations
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/EmptySearchedPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationStyledComponents.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/Constants.ts
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/Helpers.ts
Labels: Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query & Widgets Pod

#39548 chore: Ensuring the test users are not instance admins for developer invite test
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
Labels: skip-changelog

#39545 fix: WDS Storybook previews
  app/client/packages/storybook/.storybook/styles.css
Labels: Bug, ok-to-test

#39542 chore: add max height for textarea
  app/client/packages/design-system/widgets/src/components/Input/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/TextArea/src/TextArea.tsx
  app/client/packages/design-system/widgets/src/components/TextArea/src/types.ts
  app/client/packages/design-system/widgets/src/components/TextArea/stories/TextArea.stories.tsx
Labels: skip-changelog, ok-to-test

#39551 chore: use margin instead of padding in WDS textarea
  app/client/packages/design-system/widgets/src/components/TextArea/src/TextArea.tsx
Labels: skip-changelog, ok-to-test

#39558 chore: added exclude airgap tag
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Hubspot_spec.ts
Labels: skip-changelog, ok-to-test

#39549 feat: Introducing Organization Administrator Role
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AppsmithRole.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/InMemoryCacheableRepositoryHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/UserUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration066_RenameInstanceAdminRoleToOrgAdmin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration10000_UpdateSuperUser.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/UserUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CacheableRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PermissionGroupServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/OrganizationServiceCETest.java
Labels: Enhancement, ok-to-test

#39441 feat: add basic table infinite scroll function
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/InifiniteScrollBody/useInfiniteVirtualization.test.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/InifiniteScrollBody/useInfiniteVirtualization.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/VirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Enhancement, Widgets Product, Task, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39552 chore: fixing dropdown issue with default branch
  app/client/src/git/ce/components/DefaultBranch/DefaultBranchView.tsx
  app/client/src/git/components/SettingsModal/TabBranch/index.tsx
  app/client/src/git/components/SettingsModal/TabGeneral/index.tsx
Labels: High, Release, Needs Triaging, skip-changelog, Packages Product, ok-to-test, Packages & Git Pod

#39559 chore: shift the chat button when scrollbar shows
  app/client/packages/design-system/theming/src/hooks/src/useCssTokens.tsx
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
  app/client/packages/design-system/widgets/src/components/Input/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/TextArea/src/TextArea.tsx
  app/client/packages/utils/src/dom/getScrollbarWidth.ts
  app/client/packages/utils/src/dom/index.ts
  app/client/packages/utils/src/index.ts
Labels: skip-changelog, ok-to-test

#39565 chore: fix rename queries bug for query selector
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/index.tsx
Labels: skip-changelog, ok-to-test

#39517 fix: map widget marker onClick duplication
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Map/MapWidget_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Map/MapWidget_loading_Spec.ts
  app/client/src/widgets/MapWidget/component/MapComponent.test.tsx
  app/client/src/widgets/MapWidget/component/Marker.tsx
Labels: Bug, Map Widget, Widgets Product, Needs Triaging, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39574 fix: antd library package update for custom widget
  app/client/cypress/fixtures/customWidget.json
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/react.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/react.ts
  app/client/src/widgets/CustomWidget/widget/defaultApp.ts
Labels: Bug, Widgets Product, Low, Production, Needs Triaging, Custom Widgets, ok-to-test, Widgets & Accelerators Pod

#39410 chore: Move existing middlewares to a middlewares folder and added pass through middleware for packages
  app/client/src/ce/middlewares/RouteParamsMiddleware.ts
  app/client/src/ce/reducers/entityReducers/canvasWidgetsReducer.ts
  app/client/src/ee/RouteParamsMiddleware.ts
  app/client/src/ee/middlewares/PackageMiddleware.ts
  app/client/src/ee/middlewares/RouteParamsMiddleware.ts
  app/client/src/store.ts
Labels: skip-changelog, ok-to-test

#39557 chore: AppIDE new Entity Explorer changes
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.tsx
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityContextMenu/EntityContextMenu.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityGroupsList/EntityGroupsList.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.test.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.types.ts
  app/client/packages/design-system/ads/src/__hooks__/useEditableText/useEditableText.ts
  app/client/src/IDE/Components/EntityContextMenu.tsx
  app/client/src/pages/AppIDE/components/AppPluginActionEditor/components/ContextMenuItems/Copy.tsx
  app/client/src/pages/AppIDE/components/AppPluginActionEditor/components/ContextMenuItems/Move.tsx
  app/client/src/pages/AppIDE/components/JSEntityItem/JSEntityItem.tsx
  app/client/src/pages/AppIDE/components/QueryEntityItem/QueryEntityItem.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/UIEntityListTree.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/WidgetContextMenu.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/WidgetTreeItem.tsx
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/JSEditor/AppJSEditorContextMenu.tsx
  app/client/src/pages/Editor/JSEditor/ContextMenuItems/Copy.tsx
  app/client/src/pages/Editor/JSEditor/ContextMenuItems/Move.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#39585 chore: Slight clean up to avoid EE start up errors
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ReactorNettyConfiguration.java
Labels: skip-changelog

#39577 chore: Refactoring code by taking out the common logic for re-using it on other IDEs
  app/client/src/IDE/utils/getNextEntityAfterRemove.test.ts
  app/client/src/IDE/utils/getNextEntityAfterRemove.ts
  app/client/src/IDE/utils/getUpdatedTabs.ts
  app/client/src/IDE/utils/groupAndSortEntitySegmentList.ts
  app/client/src/ce/PluginActionEditor/hooks/useBlockExecution.ts
  app/client/src/sagas/IDESaga.tsx
Labels: potential-duplicate, IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#39570 chore: Use ADS components in Page List
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/Clone.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/ContextMenu.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/Delete.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/OldPageContextMenu.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/PartialExport.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/PartialImport.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/Rename.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/SetAsHomePage.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/Visibility.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/index.ts
  app/client/src/pages/AppIDE/components/PageList/OldPageEntity.tsx
  app/client/src/pages/AppIDE/components/PageList/PageEntity.tsx
  app/client/src/pages/AppIDE/components/PageList/PageList.tsx
  app/client/src/pages/AppIDE/components/PageList/PagesSection.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#39587 chore: allow all deleting in OPTION_INPUT control
  app/client/src/components/propertyControls/KeyValueComponent.tsx
  app/client/src/components/propertyControls/OptionControl.tsx
Labels: skip-changelog, ok-to-test

#39527 chore: fetch remote plugins cron utils code split
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/PluginScheduledTaskUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
Labels: Backend, Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query & Widgets Pod

#39596 chore: Fixing renaming of Queries, JS and Widgets to replace spaces and special characters with underscore
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.tsx
  app/client/packages/design-system/ads/src/Templates/EntityContextMenu/EntityContextMenu.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/src/IDE/Components/EntityContextMenu.tsx
Labels: Release, IDE Product, Needs Triaging, skip-changelog, IDE Pod, Medium, ok-to-test

#39604 fix: multi select tag text
  app/client/packages/design-system/ads/src/Select/styles.css
Labels: Bug, ok-to-test

#39605 fix: Updating widget tree item props to show the correct icon for child widgets
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.test.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.types.ts
  app/client/src/pages/AppIDE/components/UIEntityListTree/UIEntityListTree.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/WidgetTreeItem.tsx
Labels: Bug, IDE Product, Needs Triaging, IDE Pod, ok-to-test

#39607 chore: Remove auto trigger TBPs on pg branch
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog

#39610 fix: Appsmith Icon open in new tab does not work
  app/client/src/pages/Editor/AppsmithLink.tsx
Labels: Bug, Low, IDE Product, Platform Administration Pod, IDE Pod, Medium, Workspace Product, ok-to-test

#39601 chore: do not fail client build on warnings
  .github/workflows/client-build.yml
Labels: skip-changelog, ok-to-test

#39446 feat: Trigger autocomplete even outside bindings
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/JSONForm/JSONForm_CurrencyField_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/AddNewRow1_spec.js
  app/client/src/components/editorComponents/CodeEditor/codeEditorUtils.ts
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.test.ts
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
  app/client/src/utils/autocomplete/__tests__/TernServer.test.ts
  app/client/test/__mocks__/CodeMirrorEditorMock.ts
Labels: Enhancement, IDE Product, IDE Pod, ok-to-test, User Testing

#39483 chore: Replace default organization with the one based on user context
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/OrganizationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Organization.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/InMemoryCacheableRepositoryHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/UserUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/CacheableRepositoryHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/BaseAppsmithRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce_compatible/CacheableRepositoryHelperCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PermissionGroupServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/SeedMongoData.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/OrganizationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/UserSignupTest.java
Labels: Task, skip-changelog, Platform Administration Pod, ok-to-test, Cloud Billing

#39490 chore: AI Chat e2e tests
  app/client/cypress/support/Constants.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/commands.js
  app/client/cypress/tags.js
  app/client/packages/design-system/widgets/src/components/TextArea/src/TextArea.tsx
  app/client/packages/design-system/widgets/src/components/TextArea/src/types.ts
Labels: skip-changelog, ok-to-test

#39563 chore: added upcoming section for gac enabled users
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationStyledComponents.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/Constants.ts
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/Helpers.ts
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/index.tsx
Labels: Datasources, Task, skip-changelog, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Query & Widgets Pod

#37292 fix: Use Spring's native CSRF protection, and fix login page
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/MergeViaRemote_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
  app/client/src/api/__tests__/apiRequestInterceptors.test.ts
  app/client/src/api/interceptors/request/addRequestedByHeader.ts
  app/client/src/api/interceptors/request/apiRequestInterceptor.ts
  app/client/src/api/interceptors/request/index.ts
  app/client/src/pages/UserAuth/CsrfTokenInput.tsx
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/setup/DetailsForm.tsx
  app/client/src/usagePulse/utils.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CsrfConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ce/CsrfConfigCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/CSRFFilter.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/configurations/CsrfTest.java
Labels: Bug, ok-to-test

#39615 chore: code split for approval page crud modal
  app/client/src/ce/pages/AppIDE/components/AppIDEModals.tsx
  app/client/src/ce/pages/AppIDE/hooks/useGenPageItems.tsx
  app/client/src/ee/pages/AppIDE/components/AppIDEModals.tsx
  app/client/src/ee/pages/AppIDE/hooks/useGenPageItems.tsx
  app/client/src/pages/AppIDE/AppIDE.tsx
  app/client/src/pages/AppIDE/components/PageList/AddPageContextMenu.tsx
Labels: Frontend, Task, skip-changelog, Workflows Pod, Workflows Product, ok-to-test

#39626 fix: ensure table rows render with minimum page size
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
Labels: Bug, ok-to-test, Query & Widgets Pod

#39645 chore: added tag to exclude from map widget spec from airgap
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Map/MapWidget_Spec.ts
Labels: skip-changelog, ok-to-test

#39648 fix: fix test cases for postgres2
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/Postgres2_Spec.ts
Labels: Bug, ok-to-test

#39654 chore: modified reactive chain consumption for the detach remote
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39658 fix: Skip CSRF check if there's JSON content type
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ce/CsrfConfigCE.java
Labels: Bug

#39657 chore: move metadata calculation to datasource storage
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceImpl.java
Labels: skip-changelog, ok-to-test

#39662 fix: CSRF token in email verification form
  app/client/src/pages/UserAuth/VerifyUser.tsx
Labels: Bug

#39625 fix: Enforce lodash >=4.17.21 to mitigate CVE-2019-10744 (Critical vulnerability)
  app/client/package.json
  app/client/packages/design-system/theming/package.json
  app/client/packages/design-system/widgets/package.json
  app/client/yarn.lock
Labels: ok-to-test

#39562 chore: Changes to introduce UI module instance creation
  app/client/src/ce/sagas/moduleInterfaceSagas.ts
  app/client/src/ee/sagas/moduleInterfaceSaga.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/widgets/ContainerWidget/component/index.tsx
  app/client/src/widgets/ContainerWidget/widget/index.tsx
Labels: skip-changelog, ok-to-test

#39664 chore: allow plugin name for action execute metrics
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/NoTagsMeterFilter.java
Labels: skip-changelog, ok-to-test

#39389 chore: Remove dependancy
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/package.json
  app/client/src/reducers/evaluationReducers/triggerReducer.ts
  app/client/yarn.lock
Labels: skip-changelog, Stale, ok-to-test

#39683 fix: ADS Context Menu issues
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/WidgetContextMenu.tsx
Labels: Bug, High, Low, Release, IDE Product, Needs Triaging, IDE Pod, PR blocker, ok-to-test

#39687 chore: Remove AI avatar from Icons package
  app/client/packages/icons/src/components/CustomIcons/AIAvatarCustomIcon.tsx
  app/client/packages/icons/src/icons/CustomIcons/AIAvatar.svg
  app/client/packages/icons/src/index.ts
  app/client/packages/icons/src/stories/CustomIcons.mdx
Labels: skip-changelog, ok-to-test

#39688 fix: Improve error handling in GitHub Actions build process
  .github/workflows/github-release.yml
Labels: Bug, ok-to-test

#39690 feat: add action resp viz
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/Sidebar.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarContent.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Sidebar/src/types.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/Visualization.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/components/EmptyVisualization.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/components/LoadingOverlay.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/components/PromptInput.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/components/Result.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/components/SuggestionButtons.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/index.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/useGenerateVisualization.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/useSaveVisualization.ts
  app/client/src/api/ActionAPI.tsx
  app/client/src/assets/images/no-visualization.svg
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/Debugger/constants.ts
  app/client/src/entities/Action/index.ts
  app/client/src/layoutSystems/anvil/integrations/selectors.ts
  app/client/src/utils/hooks/useFeatureFlagOverride.ts
Labels: Enhancement, Task, Anvil Pod, ok-to-test, AI Agents

#39691 chore: Do not trigger session creation before auth completes in signup flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
Labels: skip-changelog, ok-to-test

#39694 chore: Adding permission check for the plus button in tabs list
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/index.tsx
  app/client/src/pages/Editor/gitSync/components/PushFailedWarning.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#39693 chore: Utility to clear all sessions in Appsmith
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RedisUtils.java
Labels: skip-changelog, ok-to-test

#39692 chore: Allow side effects for organization configuration updates
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39695 chore: Custom cooke resolver and logout on session invalidation
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CustomCookieWebSessionIdResolver.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ce/CustomCookieWebSessionIdResolverCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
Labels: skip-changelog, ok-to-test

#39606 chore: Making organization.findBySlug available for use
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/OrganizationRepositoryCE.java
Labels: skip-changelog, ok-to-test

#39367 chore: refactor table widget UI code to use central context to reduce props drilling
  app/client/src/widgets/TableWidgetV2/component/Constants.ts
  app/client/src/widgets/TableWidgetV2/component/StaticTable.tsx
  app/client/src/widgets/TableWidgetV2/component/StaticTable/StaticTableBodyComponent.tsx
  app/client/src/widgets/TableWidgetV2/component/StaticTable/__tests__/StaticTable.test.tsx
  app/client/src/widgets/TableWidgetV2/component/StaticTable/__tests__/StaticTableBody.test.tsx
  app/client/src/widgets/TableWidgetV2/component/StaticTable/index.tsx
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBodyCoreComponents/Row.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBodyCoreComponents/VirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/TableContext.test.tsx
  app/client/src/widgets/TableWidgetV2/component/TableContext.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteVirtualization.test.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteVirtualization.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/VirtualTableBodyComponent.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/VirtualTableInnerElement.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/index.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/EmptyCell.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/HeaderCell.tsx
  app/client/src/widgets/TableWidgetV2/component/header/BannerNActions.tsx
  app/client/src/widgets/TableWidgetV2/component/header/TableColumnHeader.tsx
  app/client/src/widgets/TableWidgetV2/component/header/VirtualTableInnerElement.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/Actions.test.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/index.tsx
  app/client/src/widgets/TableWidgetV2/component/header/banner/index.tsx
  app/client/src/widgets/TableWidgetV2/component/header/index.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/component/types.ts
Labels: Widgets Product, skip-changelog, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39656 chore: Remove fetching users without organizationId
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/CustomFormLoginServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/CustomOAuth2UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/CustomOidcUserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomFormLoginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOAuth2UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomOidcUserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/PasswordResetToken.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/UserOrganizationHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/UserOrganizationHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserOrganizationHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserOrganizationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration068_AddOrganizationIdToPasswordResetToken.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/PasswordResetTokenRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/UserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/OrganizationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/authentication/handlers/CustomFormLoginServiceImplUnitTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/UserRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceWithDisabledSignupTest.java
Labels: skip-changelog

#39618 chore: Added action to update metawidgets without triggering eval
  app/client/src/actions/metaWidgetActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/reducers/entityReducers/metaWidgetsReducer.ts
Labels: skip-changelog, ok-to-test

#39696 chore: Update WDS outline buttons subtlety
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/types.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
Labels: skip-changelog, WDS team, ok-to-test, AI Agents

#39709 fix: Updating styles for removing the horizontal scrollbar showing up in Entity lists
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/packages/design-system/ads/src/Templates/EntityContextMenu/EntityContextMenu.styles.ts
Labels: Bug, High, Release, Regressed, IDE Product, Needs Triaging, IDE Pod, ok-to-test

#39706 chore: reduced critical path to not include populatedExecuteActionDTOMono
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: skip-changelog, ok-to-test

#39718 chore: add getters to query and js object
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ActionCollectionCE_DTO.java
Labels: skip-changelog, ok-to-test

#39652 chore: Enable meta modal widgets to render in canvas
  app/client/src/layoutSystems/fixedlayout/canvas/FixedLayoutEditorCanvas.tsx
  app/client/src/layoutSystems/fixedlayout/canvas/FixedLayoutViewerCanvas.tsx
  app/client/src/sagas/ModalSagas.ts
  app/client/src/sagas/selectors.tsx
  app/client/src/widgets/ModalWidget/widget/index.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: Frontend, Task, skip-changelog, Packages Pod, ok-to-test, Packages & Git Pod

#39717 chore: add tooltip in slider
  app/client/packages/design-system/ads/src/Slider/Slider.styles.tsx
  app/client/packages/design-system/ads/src/Slider/Slider.tsx
  app/client/packages/design-system/ads/src/Slider/Slider.types.ts
  app/client/src/components/formControls/HybridSearch.tsx
  app/client/src/components/formControls/SliderControl.tsx
Labels: skip-changelog, ok-to-test

#39708 chore: added telemetry code around plugin execution flow
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ActionSpanCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: skip-changelog, ok-to-test

#39723 chore: Adjust WDS small button size
  app/client/packages/design-system/widgets/src/components/Button/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Input/src/styles.module.css
Labels: Task, skip-changelog, Anvil Pod, ok-to-test, AI Agents

#39581 chore: git tag - fixing contracts for pretag
  app/client/src/git/ce/constants/messages.tsx
  app/client/src/git/components/LatestCommitInfo/LatestCommitInfoView.test.tsx
  app/client/src/git/components/LatestCommitInfo/LatestCommitInfoView.tsx
  app/client/src/git/components/LatestCommitInfo/index.tsx
  app/client/src/git/components/OpsModal/OpsModalView.tsx
  app/client/src/git/components/OpsModal/TabRelease/TabReleaseView.tsx
  app/client/src/git/components/OpsModal/TabRelease/index.tsx
  app/client/src/git/components/OpsModal/index.tsx
  app/client/src/git/components/ReleaseVersionRadioGroup/ReleaseVersionRadioGroupView.test.tsx
  app/client/src/git/components/ReleaseVersionRadioGroup/ReleaseVersionRadioGroupView.tsx
  app/client/src/git/components/ReleaseVersionRadioGroup/index.tsx
  app/client/src/git/helpers/isGitTaggingEnabled.ts
  app/client/src/git/hooks/useLatestCommit.ts
  app/client/src/git/hooks/usePretag.ts
  app/client/src/git/hooks/useReleaseTag.ts
  app/client/src/git/requests/fetchLatestCommitRequest.types.ts
  app/client/src/git/requests/pretagRequest.ts
  app/client/src/git/requests/pretagRequest.types.ts
  app/client/src/git/sagas/index.ts
  app/client/src/git/sagas/pretagSaga.ts
  app/client/src/git/store/actions/createReleaseTagActions.ts
  app/client/src/git/store/actions/fetchLatestCommitActions.ts
  app/client/src/git/store/actions/pretagActions.ts
  app/client/src/git/store/gitArtifactSlice.ts
  app/client/src/git/store/helpers/initialState.ts
  app/client/src/git/store/index.ts
  app/client/src/git/store/selectors/gitArtifactSelectors.ts
  app/client/src/git/store/types.ts
Labels: Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#39729 chore: un-skip IDE tests
  app/client/src/pages/AppIDE/layouts/routers/JSEditor/JSRender.test.tsx
  app/client/src/pages/AppIDE/layouts/routers/QueryEditor/QueryRender.test.tsx
Labels: skip-changelog, ok-to-test

#39093 chore: Removing the feature flag for using Entity Item component from ADS templates
  app/client/cypress/e2e/Regression/Apps/EchoApiCMS_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Autocomplete/Bugs_AC_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug20275_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/API_Pane_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/JSEditorContextMenu_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Renaming_spec.js
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Tab_rename_Delete_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncGitBugs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitSyncedApps_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/SwitchBranches_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_Context_Bug_Fixes.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Command_Click_Navigation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/JSLibrary/Library_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/JSObject/JSObject_ForkApp_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PageActions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PartialImportRegularApp.ts
  app/client/cypress/e2e/Regression/ClientSide/Refactoring/Refactoring_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/SetOptions_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Dropdown/Dropdown_onOptionChange_spec.js
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/SetTimeout_spec.ts
  app/client/cypress/fixtures/chartUpdatedDsl.json
  app/client/cypress/fixtures/newFormDsl.json
  app/client/cypress/locators/CMSApplocators.js
  app/client/cypress/locators/apiWidgetslocator.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/EditorNavigation.ts
  app/client/cypress/support/Pages/EntityExplorer.ts
  app/client/cypress/support/Pages/IDE/LeftPane.ts
  app/client/cypress/support/Pages/IDE/ListView.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/Pages/PageList.ts
  app/client/cypress/support/queryCommands.js
  app/client/cypress/support/widgetCommands.js
  app/client/src/pages/AppIDE/components/AppPluginActionEditor/loader.tsx
  app/client/src/pages/AppIDE/components/JSAdd/loader.tsx
  app/client/src/pages/AppIDE/components/JSEntityItem/JSEntityItem.tsx
  app/client/src/pages/AppIDE/components/QueryAdd/loader.tsx
  app/client/src/pages/AppIDE/components/QueryEntityItem/QueryEntityItem.tsx
  app/client/src/pages/AppIDE/components/QueryExplorer/QuerySegmentList.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/WidgetContextMenu.tsx
  app/client/src/pages/AppIDE/components/UIList/UIList.test.tsx
  app/client/src/pages/AppIDE/layouts/routers/JSEditor/JSRender.test.tsx
  app/client/src/pages/AppIDE/layouts/routers/QueryEditor/QueryRender.test.tsx
  app/client/src/pages/Editor/Explorer/Entity/Name.tsx
  app/client/src/pages/Editor/JSEditor/loader.tsx
  app/client/test/testUtils.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#39733 chore: git fixes - removing beta tag
  app/client/src/ce/constants/messages.ts
  app/client/src/git/ce/constants/messages.tsx
  app/client/src/git/components/QuickActions/ConnectButton.test.tsx
  app/client/src/git/components/QuickActions/ConnectButton.tsx
  app/client/src/pages/common/ImportModal.tsx
Labels: Git Product, Task, skip-changelog, Git Platform, ok-to-test

#39734 chore: ai agent workspace CE part
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/box.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/confluence.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/dropbox.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/freshdesk.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/intercom.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/onedrive.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/robot-2-line.svg
  app/client/packages/design-system/ads/src/__assets__/icons/ads/sharepoint.svg
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/pages/Templates/TemplateContent/index.tsx
Labels: skip-changelog, ok-to-test

#39608 chore: Segregate organization flags based on orgnization id
  app/server/appsmith-server/src/main/java/com/appsmith/server/aspect/FeatureFlaggedMethodInvokerAspect.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/DatasourceTriggerSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/FeatureFlaggedMethodInvokerAspectTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/TestComponentImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/ce/TestComponentCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/component/ce/TestComponentCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
Labels: skip-changelog, ok-to-test

#39739 chore: update openai node module to 4.87.3
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#39737 chore: add jgit spans inside resourceClosure
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/FSGitHandlerImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/GitExecutorImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/ce/GitSpanCE.java
Labels: skip-changelog, ok-to-test

#39745 fix: removes unnecessary req.continue() call in startServerAndRoutes command
  app/client/cypress/support/commands.js
Labels: Bug, Table Widget V2, ok-to-test, Query & Widgets Pod

#39753 chore: Adding back a mistakenly deleted file
  app/client/src/ce/navigation/FocusStrategy/index.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/ee/navigation/FocusStrategy/NoIDEFocusStrategy.ts
  app/client/src/pages/AppIDE/layouts/routers/JSEditor/JSRender.test.tsx
Labels: skip-changelog, ok-to-test

#39759 chore: Update `react-aria-components` to use safe APIs for autocomplete
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/MultiSelect/src/MultiSelect.tsx
  app/client/yarn.lock
Labels: Security, skip-changelog, ok-to-test

#39758 chore: remove extra git resets
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
Labels: skip-changelog, ok-to-test

#39751 feat: add generate schema button
  app/client/src/PluginActionEditor/index.ts
  app/client/src/PluginActionEditor/store/pluginActionEditorSelectors.ts
  app/client/src/PluginActionEditor/store/pluginEditorReducer.ts
  app/client/src/ce/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.test.tsx
  app/client/src/ce/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.tsx
  app/client/src/ee/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/ee/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/constants.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/index.ts
  app/client/src/reducers/uiReducers/jsPaneReducer.ts
  app/client/src/selectors/jsPaneSelectors.ts
Labels: Enhancement, Task, Anvil Pod, ok-to-test, AI Agents

#39772 fix: Outside binding autocomplete rules update
  app/client/src/components/editorComponents/CodeEditor/codeEditorUtils.ts
  app/client/src/components/editorComponents/CodeEditor/hintHelpers.ts
  app/client/src/utils/autocomplete/CodemirrorTernService.ts
Labels: Bug, Autocomplete, IDE Product, Task, Javascript Product, IDE Pod, ok-to-test, Query & Widgets Pod

#39785 chore: remove anvil flag for git
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/common/ImportModal.tsx
Labels: skip-changelog, ok-to-test

#39790 chore: Remove function calling flag
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/layoutSystems/anvil/integrations/selectors.ts
  app/client/src/utils/hooks/useFeatureFlagOverride.ts
Labels: skip-changelog

#39789 test: updated boolean spec
  app/client/cypress/e2e/Regression/ServerSide/Postgres_DataTypes/BooleanEnum_Spec.ts
  app/client/cypress/limited-tests.txt
Labels: skip-changelog, ok-to-test, Test

#39786 fix: display correct message for API reqeusts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/ErrorView/ErrorView.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/utils/getErrorFromActionResponse.ts
Labels: Bug, IDE Product, Task, IDE Pod, IDE Navigation, ok-to-test

#39793 chore: add post publish hooks for application
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/postpublishhooks/NewActionPostApplicationPublishServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/postpublishhooks/NewActionPostApplicationPublishServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/postpublishhooks/ApplicationPostPublishHookCoordinatorServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/postpublishhooks/ApplicationPostPublishHookCoordinatorServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/postpublishhooks/base/PostPublishHookCoordinatorService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/postpublishhooks/base/PostPublishHookCoordinatorServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/postpublishhooks/base/PostPublishHookable.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/postpublishhooks/base/PostPublishHookableCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ApplicationPageServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39791 feat: add redux action to generate aiagent schemas
  app/client/src/PluginActionEditor/store/pluginEditorReducer.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
Labels: Enhancement, Task, Anvil Pod, ok-to-test, AI Agents

#39800 chore: revert optimisations related execute flow
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: skip-changelog, ok-to-test

#39816 chore: add a dummy test for aiagents
  app/client/cypress/e2e/Regression/ClientSide/AIAgents/AgentsDummy_spec.ts
Labels: skip-changelog, ok-to-test

#39815 chore: Fix DS_Bug26941 spec error assertion
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bug26941_Spec.ts
Labels: skip-changelog, DailyPromotionBlocker, ok-to-test

#39818 feat: filter fc by page
  app/client/src/components/formControls/FunctionCallingConfigControl/components/selectors.ts
Labels: Enhancement, Task, Anvil Pod, ok-to-test, AI Agents

#39646 feat: implement table widget infinite scroll with dynamic height
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/InfiniteScrollVariableHeightRows_spec.ts
  app/client/src/widgets/TableWidgetV2/component/TableBodyCoreComponents/Row.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBodyCoreComponents/VirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/BaseVirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/useColumnVariableHeight.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/useRowHeightMeasurement.tsx
Labels: Enhancement, Widgets Product, Task, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39813 chore: Code-split CS config class
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CloudServicesConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ce/CloudServicesConfigCE.java
Labels: skip-changelog, ok-to-test

#39822 fix: sidebar expand
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarContent.tsx
Labels: Bug, ok-to-test

#39710 chore: Upgrade packages to resolve Dependabot issues
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/package.json
  app/client/packages/design-system/headless/src/components/Popover/stories/Popover.stories.tsx
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/src/components/Modal/stories/Modal.stories.tsx
  app/client/packages/rts/package.json
  app/client/packages/storybook/package.json
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Visualization/Visualization.tsx
  app/client/src/ce/pages/AppIDE/layout/routers/MainPane/constants.ts
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/formControls/utils.ts
  app/client/src/pages/AppIDE/layouts/routers/MainPane/MainPane.tsx
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/AppThemingSaga.tsx
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
  app/client/yarn.lock
Labels: Security, skip-changelog, ok-to-test

#39838 chore: Fixing email verification on signup
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
Labels: skip-changelog, ok-to-test

#39839 fix: jest tests
  app/client/src/widgets/InputWidget/component/utilities.test.ts
  app/client/test/setup.ts
Labels: Bug

#39828 chore: moved out sendExecuteAnalyticsEvent from the action's execute flow and optimised verifyDatasourceAndMakeRequest
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
Labels: skip-changelog

#39844 fix: Remove default value of IDE tabs focus retention
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
Labels: Bug, Production, IDE Product, Needs Triaging, IDE Pod, Medium, IDE Navigation, ok-to-test

#39841 chore: Add datasource link control
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/FormRender.tsx
  app/client/src/components/formControls/DatasourceLinkControl.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigForm.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
Labels: skip-changelog, ok-to-test

#39848 chore: Add spans to rts
  app/client/packages/rts/src/controllers/Dsl/DslController.ts
  app/client/packages/rts/src/utils/tracing.ts
Labels: skip-changelog

#39847 chore: CE support for git tagging layer
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/GitRefDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/handler/FSGitHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/GitApplicationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/GitArtifactMetadataCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/GitArtifactHelperCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitCommitTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitConnectTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitDiscardTests.java
Labels: skip-changelog, ok-to-test

#39859 chore: Remove postgres setup from services as embedded postgres will be started with prerequisites on demand by entrypoint
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog

#39792 feat: Enhance infinite scrolling to use action button for load more data
  app/client/src/ce/constants/messages.ts
  app/client/src/widgets/TableWidgetV2/component/LoadMoreButton.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBodyCoreComponents/VirtualList.test.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBodyCoreComponents/VirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/BaseVirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteVirtualization.test.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteVirtualization.tsx
Labels: Enhancement, Widgets Product, Task, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39369 test: commenting tests with open bug for delete branch
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/DeleteBranch_spec.js
Labels: skip-changelog, Stale, ok-to-test, Test

#39531 test: analyse flaky fork test
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplicationIntoWorkspace.ts
Labels: skip-changelog, ok-to-test, Test

#39856 chore: Update instance variables via organization config update
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/OrganizationConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceVariablesHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration069MigrateOrganizationConfigToInstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConfigServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConfigServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/OrganizationServiceCETest.java
Labels: skip-changelog, ok-to-test

#39872 chore: Introduce action isDirty map
  app/client/src/PluginActionEditor/transformers/RestActionTransformers.test.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/components/editorComponents/utils.test.ts
  app/client/src/entities/Action/actionProperties.test.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/JSEditor/utils.test.ts
  app/client/src/sagas/BuildingBlockSagas/tests/fixtures.ts
  app/client/test/factories/Actions/API.ts
  app/client/test/factories/Actions/GoogleSheetFactory.ts
  app/client/test/factories/Actions/JSObject.ts
  app/client/test/factories/Actions/Postgres.ts
Labels: skip-changelog, ok-to-test

#39870 chore: git tag - add chevron menu to package editor
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/src/git/components/DeployMenuItems/DeployMenuItemsView.tsx
  app/client/src/pages/AppIDE/layouts/components/Header/ChevronMenu.tsx
  app/client/src/pages/AppIDE/layouts/components/Header/index.tsx
Labels: skip-changelog, ok-to-test

#39869 fix: making import messaging artifact agnostic
  app/client/src/ce/constants/messages.ts
  app/client/src/git/ce/constants/messages.tsx
  app/client/src/git/components/ConnectModal/ConnectInitialize/index.tsx
  app/client/src/git/components/QuickActions/ConnectButton.test.tsx
  app/client/src/git/components/QuickActions/hooks/useStatusChangeCount.ts
Labels: Bug, Low, Release, Needs Triaging, Git Product, Task, Packages Product, ok-to-test, Packages & Git Pod

#39764 feat: added custom action config control type for paragon integrations
  app/client/src/ce/constants/messages.ts
  app/client/src/components/formControls/CustomActionsConfigControl/NoSearchCommandFound.tsx
  app/client/src/components/formControls/CustomActionsConfigControl/index.tsx
  app/client/src/components/formControls/DropDownControl.test.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
Labels: Enhancement, Task, Integrations Product, Integrations Pod General, ok-to-test, Query & Widgets Pod

#39881 chore: Adjust WDS icon stroke
  app/client/packages/design-system/theming/src/token/src/tokensConfigs.json
Labels: Task, skip-changelog, Anvil Pod, WDS team, ok-to-test, AI Agents

#39874 chore: fix the WDS button widget click bug
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
  app/client/src/widgets/wds/WDSButtonWidget/component/index.tsx
Labels: skip-changelog, ok-to-test

#39890 fix: Make isDirty map optional
  app/client/src/entities/Action/index.ts
Labels: Bug, ok-to-test

#39892 chore: Adding organizationId in email verification
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/EmailVerificationToken.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration070_AddOrganizationIdToEmailVerificationToken.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39895 chore: Enable metrics for jgit
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/NoTagsMeterFilter.java
Labels: skip-changelog

#39861 chore: added telemetry to the plugin flow
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ActionSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/RestAPIActivateUtils.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/RowsAppendMethodTest.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/RowsBulkAppendMethodTest.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/RowsBulkUpdateMethodTest.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/test/java/com/external/config/RowsUpdateMethodTest.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginDatasourceTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginErrorsTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginFormsTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginQueriesTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginRegexTest.java
  app/server/appsmith-plugins/mongoPlugin/src/test/java/com/external/plugins/MongoPluginStaleConnTest.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlTestDBContainerManager.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySQLDatasourceValidationTest.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlPluginTest.java
  app/server/appsmith-plugins/mysqlPlugin/src/test/java/com/external/plugins/MySqlStaleConnectionErrorMessageTest.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresDatasourceValidationTest.java
  app/server/appsmith-plugins/postgresPlugin/src/test/java/com/external/plugins/PostgresPluginTest.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/test/java/com/external/plugins/RestApiPluginTest.java
Labels: skip-changelog, ok-to-test

#39894 chore: Remove 3rd party dependencies from Custom widget
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/react.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/react.ts
  app/client/src/widgets/CustomWidget/widget/defaultApp.ts
Labels: Widgets Product, Task, skip-changelog, Custom Widgets, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod, Unplanned Work - Q&W

#39891 chore: Add separate flow for Anvil app publish
  app/client/src/PluginActionEditor/store/pluginActionEditorSelectors.ts
  app/client/src/ce/actions/applicationActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/pages/AppIDE/layouts/components/Header/DeployButton.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/utils.ts
  app/client/src/sagas/TemplatesSagas.ts
  app/client/src/selectors/jsPaneSelectors.ts
Labels: skip-changelog, ok-to-test

#39901 chore: update carbon integration modal
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/reducers/entityReducers/datasourceReducer.ts
Labels: skip-changelog, ok-to-test

#39898 chore: Client side changes to send organizationId in verify email flow
  app/client/src/pages/UserAuth/VerifyUser.tsx
  app/client/src/sagas/InitSagas.ts
  app/client/src/utils/SessionUtils.ts
Labels: skip-changelog

#39914 fix: Placeholder for Anvil Application deploy
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ee/sagas/ApplicationSagas.tsx
Labels: Bug, ok-to-test

#39882 chore: Move signup_disabled and form_login_enabled from envs to DB
  app/client/cypress/e2e/Regression/ClientSide/FormLogin/EnableFormLogin_spec.js
  app/client/cypress/locators/AdminsSettings.js
  app/client/src/ce/constants/organizationConstants.ts
  app/client/src/ce/pages/AdminSettings/config/authentication.tsx
  app/client/src/ce/sagas/organizationSagas.tsx
  app/client/src/ce/selectors/organizationSelectors.tsx
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/pages/AdminSettings/SettingsForm.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/AuthenticationSuccessHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/EnvVariables.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Organization.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/OrganizationConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/instanceconfigs/constants/AllowedInstanceVariables.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/instanceconfigs/constants/AllowedInstanceVariablesCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/instanceconfigs/helpers/InstanceVariablesHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/instanceconfigs/helpers/InstanceVariablesHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration071MoveFormLoginDisabledToOrganizationConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration072MoveSignupDisabledToOrganizationConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/OrganizationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/UserServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ScheduledTaskCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/instanceconfigs/helpers/ce/InstanceVariablesTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserServiceWithDisabledSignupTest.java
  app/server/envs/dev.env.example
  app/server/envs/docker.env.example
  app/server/envs/test.env.example
Labels: skip-changelog, ok-to-test

#39908 fix: Avoid excessive API saves
  app/client/src/sagas/ActionSagas.ts
  app/client/src/utils/helpers.tsx
Labels: Bug, ok-to-test

#39846 feat: Cloud billing static UI
  app/client/packages/design-system/ads/src/Input/Input.constants.ts
  app/client/packages/design-system/ads/src/Input/Input.styles.tsx
  app/client/packages/design-system/ads/src/Input/Input.tsx
  app/client/packages/design-system/ads/src/Input/Input.types.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/utils/ReduxFormTextField.tsx
  app/client/src/constants/routes/baseRoutes.ts
  app/client/src/hooks/index.ts
  app/client/src/hooks/useIsCloudBillingEnabled.ts
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/setup/NonSuperUserProfilingQuestions.tsx
  app/client/src/selectors/cloudBillingSelectors.tsx
  app/client/src/utils/cloudBillingUtils.ts
Labels: Enhancement, ok-to-test

#39938 feat: Adds a status indicator setting in List Item and Tab
  app/client/packages/design-system/ads/src/Badge/Badge.styles.tsx
  app/client/packages/design-system/ads/src/Badge/Badge.tsx
  app/client/packages/design-system/ads/src/Badge/Badge.types.ts
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/List/List.types.tsx
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.tsx
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.types.ts
  app/client/src/ce/pages/Editor/JSEditor/utils/getHighlightedLines.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/ee/pages/Editor/JSEditor/utils/getHighlightedLines.ts
  app/client/src/pages/AppIDE/components/JSEntityItem/JSEntityItem.tsx
  app/client/src/pages/AppIDE/components/QueryEntityItem/QueryEntityItem.tsx
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/EditableTab.tsx
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorForm/JSEditorForm.tsx
  app/client/src/pages/Editor/JSEditor/index.tsx
Labels: Enhancement, ok-to-test

#39936 fix: storybook build and small improvements for stories
  app/client/package.json
  app/client/packages/design-system/headless/src/components/Popover/stories/Popover.stories.tsx
  app/client/packages/design-system/widgets/src/components/Modal/stories/Modal.stories.tsx
  app/client/packages/storybook/.storybook/addons/theming/ThemingPopup.tsx
  app/client/packages/storybook/.storybook/addons/theming/manager.ts
  app/client/packages/storybook/.storybook/styles.css
  app/client/packages/storybook/package.json
  app/client/packages/storybook/src/components/ColorTable.tsx
  app/client/packages/storybook/src/components/ThemeSettings.tsx
  app/client/yarn.lock
Labels: Bug, ok-to-test

#39941 chore: Fix button position and left padding of WDS modal
  app/client/packages/design-system/widgets/src/components/Modal/src/styles.module.css
Labels: Task, skip-changelog, Anvil Pod, ok-to-test, AI Agents

#39945 chore: revert of static anonymous user profile
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39946 chore: Simpler autofocus of function call
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigForm.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigToolField.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingMenuField.tsx
Labels: skip-changelog, ok-to-test

#39948 fix: form login cypress failure
  app/client/cypress/e2e/Regression/ClientSide/FormLogin/EnableFormLogin_spec.js
Labels: Bug, Task, ok-to-test

#39949 fix: reverted git executor layer
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
Labels: Bug, High, Production, Needs Triaging, Git Product, Release Blocker, ok-to-test, Packages & Git Pod

#39917 fix: Datasource API split changes
  app/client/src/actions/datasourceActions.ts
  app/client/src/ce/api/DatasourcesApi.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/sagas/DatasourcesSagas.ts
  app/client/src/ee/api/DatasourcesApi.ts
  app/client/src/git/types.ts
  app/client/src/pages/Editor/IntegrationEditor/DBOrMostPopularPlugins.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
Labels: Bug, ok-to-test

#39935 chore: refactor the creation of workspace and application on signup
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
Labels: skip-changelog, ok-to-test

#39955 chore: added plugin tags
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/RestAPIActivateUtils.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
  app/server/appsmith-plugins/graphqlPlugin/src/main/java/com/external/plugins/GraphQLPlugin.java
  app/server/appsmith-plugins/mongoPlugin/src/main/java/com/external/plugins/MongoPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/restApiPlugin/src/main/java/com/external/plugins/RestApiPlugin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/NoTagsMeterFilter.java
Labels: skip-changelog, ok-to-test

#39954 chore: cherry pick git executor revert
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
Labels: skip-changelog, ok-to-test

#39957 fix: fixes localstorage issue for deployed apps
  app/client/src/sagas/ActionExecution/StoreActionSaga.ts
Labels: Bug, JS Evaluation, Critical, Production, Community Reported, Needs Triaging, Javascript Product, ok-to-test, Query & Widgets Pod

#39876 chore: Update feature flag name for infinite scroll functionality
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/InfiniteScrollVariableHeightRows_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/widgets/TableWidgetV2/constants.ts
Labels: skip-changelog, Table Widget V2, ok-to-test, Query & Widgets Pod

#39962 fix: codeowners file
  CODEOWNERS
Labels: Bug

#39963 chore: Code split env manager for introducing blacklisted variables
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/pages/AdminSettings/LeftPane.tsx
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/BlacklistedEnvVariableHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/BlacklistedEnvVariableHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/BlacklistedEnvVariableHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/BlacklistedEnvVariableHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/EnvManagerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/EnvManagerTest.java
Labels: skip-changelog, ok-to-test

#39967 chore: Adjust WDS buttons
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/widgets/src/components/Button/src/Button.tsx
Labels: Task, skip-changelog, Anvil Pod, ok-to-test, AI Agents

#39905 test: fix cypress tests for custom widgets
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Custom/CustomWidgetDefaultComponent_spec.ts
  app/client/cypress/fixtures/customWidget.json
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/anvilTemplates/react.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/Header/CodeTemplates/Templates/react.ts
  app/client/src/widgets/CustomWidget/widget/defaultApp.ts
Labels: skip-changelog, Custom Widgets, ok-to-test, Test, Query & Widgets Pod

#39971 chore: Prep for post delete
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
Labels: skip-changelog

#39973 chore: Fixing AC tests after post-processing on delete
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: skip-changelog

#39964 feat: Dummy Generate Prompt Button
  app/client/src/ce/components/GeneratePromptButton.tsx
  app/client/src/components/formControls/FormTemplateControl.tsx
  app/client/src/ee/components/GeneratePromptButton.tsx
Labels: Enhancement, ok-to-test

#39974 fix: Avoid update of empty code from chat bot
  app/client/src/pages/Editor/CustomWidgetBuilder/Editor/ChatBot/ChatBot.tsx
Labels: Bug, ok-to-test

#39981 feat: Add cursor rules and configuration files
  .cursor/README.md
  .cursor/rules.json
Labels: Enhancement

#39976 chore: Update integration modal
  app/client/src/actions/datasourceActions.ts
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/sagas/DatasourcesSagas.ts
  app/client/src/ce/sagas/helpers.ts
  app/client/src/components/editorComponents/EntityBottomTabs.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/reducers/entityReducers/datasourceReducer.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/sagas/selectors.tsx
Labels: skip-changelog, ok-to-test

#39978 chore: CE method signature change to support ee changes
  app/client/src/git/requests/updateLocalProfileRequest.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitArtifactControllerCE.java
Labels: skip-changelog, ok-to-test
