Repository appsmithorg/appsmith, pull requests merged in 2025-02, with the labels that each got.

#38949 fix: datasource switch behaviour
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
Labels: Bug, ok-to-test

#38948 chore: add logs in computeConsolidatedAPIResponseEtag fn
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#38655 fix: Revert "Revert "feat: Added focus ring for focus visible (#37700)" (#…
  app/client/cypress/e2e/Regression/ClientSide/PropertyPane/PropertyPane_Search_spec.ts
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/formattedJSONBodyAfterSave.snap.png
  app/client/packages/design-system/ads-old/src/SearchComponent/index.tsx
  app/client/packages/design-system/ads/src/Button/Button.styles.tsx
  app/client/packages/design-system/ads/src/Button/Button.tsx
  app/client/packages/design-system/ads/src/Input/Input.styles.tsx
  app/client/packages/design-system/ads/src/Input/Input.tsx
  app/client/packages/design-system/ads/src/Link/Link.styles.tsx
  app/client/packages/design-system/ads/src/SegmentedControl/SegmentedControl.styles.tsx
  app/client/packages/design-system/ads/src/Select/styles.css
  app/client/packages/design-system/ads/src/Switch/Switch.styles.tsx
  app/client/packages/design-system/ads/src/Tab/Tab.styles.tsx
  app/client/packages/design-system/ads/src/Text/Text.styles.tsx
  app/client/packages/design-system/ads/src/__theme__/default/index.css
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/components/propertyControls/IconSelectControlV2.tsx
  app/client/src/index.css
  app/client/src/pages/Editor/PropertyPane/PropertyPaneSearchInput.tsx
Labels: Bug, ok-to-test

#38894 feat: adding current env name to the appsmith context
  app/client/src/ce/entities/DataTree/types.ts
  app/client/src/ce/selectors/dataTreeCyclicSelectors.ts
  app/client/src/ee/selectors/dataTreeCyclicSelectors.ts
  app/client/src/selectors/dataTreeSelectors.ts
Labels: Enhancement, Widgets Product, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#38892 chore: added errorcode and exception to http_server_requests for better slo
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ObservationConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
Labels: skip-changelog, ok-to-test

#38962 chore: added buckets for all appsmith metrics
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog, ok-to-test

#38952 chore: speeding up and verifying git apis
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/ce/GitConstantsCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/handler/FSGitHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitArtifactControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/GitBranchesITWithCentralService.java
Labels: skip-changelog, ok-to-test

#38969 fix: Fix api on load issue due to no setting config issue
  app/client/cypress/e2e/Regression/ClientSide/Binding/Api_withPageload_Input_spec.js
  app/client/cypress/fixtures/Api_withPageload_Input_TestData.json
Labels: Bug, ok-to-test

#38972 chore: enforce deterministic JSON ordering for etag computation
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#38971 chore: add ADS slider
  app/client/packages/design-system/ads/package.json
  app/client/packages/design-system/ads/src/Slider/Slider.constants.ts
  app/client/packages/design-system/ads/src/Slider/Slider.mdx
  app/client/packages/design-system/ads/src/Slider/Slider.stories.tsx
  app/client/packages/design-system/ads/src/Slider/Slider.styles.tsx
  app/client/packages/design-system/ads/src/Slider/Slider.tsx
  app/client/packages/design-system/ads/src/Slider/Slider.types.ts
  app/client/packages/design-system/ads/src/Slider/index.ts
  app/client/src/ce/sagas/DatasourcesSagas.ts
  app/client/src/ee/components/formControls/Rag/RagDocuments.tsx
  app/client/src/ee/components/formControls/Rag/RagIntegrations.tsx
  app/client/src/ee/components/formControls/Rag/index.ts
  app/client/src/ee/components/formControls/RagDocuments/index.ts
  app/client/src/pages/Editor/DataSourceEditor/DatasourceFormRenderer.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
  app/client/yarn.lock
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/form.json
Labels: skip-changelog, ok-to-test

#38986 fix: move ee utitls
  app/client/packages/utils/src/file/getFileExtension.ts
  app/client/packages/utils/src/file/getFileName.ts
  app/client/packages/utils/src/file/index.ts
  app/client/packages/utils/src/index.ts
  app/client/packages/utils/src/url/buildUrlTextFragment.test.ts
  app/client/packages/utils/src/url/buildUrlTextFragment.ts
  app/client/packages/utils/src/url/index.ts
  app/client/packages/utils/src/validateApiPath/index.ts
  app/client/packages/utils/src/validateApiPath/validateApiPath.test.ts
  app/client/packages/utils/src/validateApiPath/validateApiPath.ts
Labels: Bug

#38955 fix: Selected item in State Inspector
  app/client/src/actions/debuggerActions.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/StateInspector.test.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/StateInspector.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/index.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useGetDisplayData.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useStateInspectorItems.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useStateInspectorState.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/utils.ts
  app/client/src/reducers/uiReducers/debuggerReducer.ts
  app/client/src/selectors/debuggerSelectors.tsx
Labels: Bug, High, Low, Debugger Product, IDE Pod, ok-to-test

#38964 fix: Action toolbar menu state
  app/client/src/PluginActionEditor/components/PluginActionContextMenu/PluginActionContextMenu.tsx
  app/client/src/PluginActionEditor/components/PluginActionContextMenu/index.ts
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/ce/PluginActionEditor/hooks/useHandleRunClick.ts
Labels: Bug, Release, IDE Product, Needs Triaging, IDE Pod, Medium, IDE Navigation, ok-to-test

#38997 fix: Fix re-captcha case
  app/client/cypress/e2e/Regression/ClientSide/Binding/Button_Text_WithRecaptcha_spec.js
Labels: Bug, ok-to-test

#38987 chore: Replacing entity item component in schema tables with the new List item component in ADS
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/List/List.types.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/styles.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceStructure.tsx
  app/client/src/pages/Editor/DatasourceInfo/SchemaViewModeCSS.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
Labels: Low, IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#39007 fix: ads slider export
  app/client/packages/design-system/ads/src/index.ts
  app/client/packages/storybook/vite.config.js
Labels: Bug

#38970 chore: client side changes for git api contracts
  app/client/src/git/hooks/useCommit.ts
  app/client/src/git/requests/commitRequest.types.ts
  app/client/src/git/requests/fetchProtectedBranchesRequest.ts
  app/client/src/git/requests/gitImportRequest.ts
  app/client/src/git/requests/updateProtectedBranchesRequest.ts
  app/client/src/git/sagas/commitSaga.ts
Labels: skip-changelog, ok-to-test

#39009 feat: Create a async execute trigger flow
  app/client/src/ce/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/utils/WorkerUtil.ts
  app/client/src/workers/Evaluation/asyncWorkerActions.ts
Labels: Enhancement, Widgets Product, IDE Product, Task, Query & JS Pod, IDE Pod, All Widgets, IDE Navigation, Integrations Product, AI, JS Binding, ok-to-test, Widgets & Accelerators Pod

#38996 fix: Remove Excel download option from Table widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2Filter2_2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/MongoURI_Spec.ts
  app/client/src/widgets/TableWidgetV2/component/header/actions/Download.tsx
Labels: Bug, Widgets Product, Production, Needs Triaging, Medium, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39021 fix: Refresh breaks open tabs
  app/client/src/ce/sagas/NavigationSagas.ts
Labels: Bug, ok-to-test

#39028 test: Sign in and Sign up cases
  app/client/cypress/e2e/Regression/ClientSide/Login/SignInSignUp_spec.ts
  app/client/cypress/locators/LoginPage.json
  app/client/cypress/locators/SignupPage.json
  app/client/cypress/tags.js
Labels: skip-changelog, ok-to-test, Test

#39031 ci: Adding snowflake env
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited-with-count.yml
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, CI, ok-to-test

#39022 fix: Release blocker: focus ring issue in code mirror
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/formattedJSONBodyAfterSave.snap.png
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
Labels: Bug, Release, IDE Product, Needs Triaging, Release Blocker, IDE Pod, Medium, ok-to-test

#39045 chore: updated the function visibility to override in EE
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39017 fix: added support for both openssh and rsa private keys
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/pluginExceptions/BasePluginErrorMessages.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/SSHUtils.java
  app/server/appsmith-interfaces/src/test/java/com/appsmith/external/helpers/SSHUtilsTest.java
Labels: Bug, High, Production, Needs Triaging, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query & Widgets Pod

#39025 ci: Add some build details to image labels as per OCI
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#38993 chore: bypass immer for first evaluation, fixed cloneDeep issue and using mutative instead of immer
  app/client/package.json
  app/client/src/WidgetProvider/factory/index.tsx
  app/client/src/ce/pages/Editor/Explorer/hooks.tsx
  app/client/src/ce/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/ce/reducers/uiReducers/applicationsReducer.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/index.tsx
  app/client/src/components/propertyControls/ButtonTabControl.tsx
  app/client/src/index.tsx
  app/client/src/reducers/entityReducers/datasourceReducer.ts
  app/client/src/reducers/entityReducers/metaReducer/index.ts
  app/client/src/reducers/entityReducers/metaReducer/metaReducerUtils.ts
  app/client/src/reducers/evaluationReducers/treeReducer.ts
  app/client/src/sagas/WidgetAdditionSagas.ts
  app/client/src/utils/ReducerUtils.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/workers/Evaluation/__tests__/generateOpimisedUpdates.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.test.ts
  app/client/src/workers/common/DataTreeEvaluator/utils.test.ts
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#39042 fix: [cherry pick] Release blocker: focus ring issue in code mirror
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/formattedJSONBodyAfterSave.snap.png
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
Labels: ok-to-test

#39047 ci: Include build information in Docker image labels
  .github/workflows/ad-hoc-docker-image.yml
  .github/workflows/build-docker-image.yml
  .github/workflows/github-release.yml
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  scripts/generate_info_json.sh
Labels: skip-changelog, CI

#39052 fix: Env for disabling Keycloak is set incorrect
  scripts/deploy_preview.sh
Labels: Bug

#39023 fix: State inspector shows canvas widgets
  app/client/src/actions/errorActions.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/sagas/ErrorSagas.tsx
Labels: Bug, High, Low, Debugger Product, IDE Pod

#39024 chore: update tags for key value widget
  app/client/src/modules/ui-builder/ui/wds/WDSKeyValueWidget/widget/index.tsx
Labels: skip-changelog, ok-to-test

#38954 chore: update select component
  app/client/cypress/e2e/Regression/ClientSide/Binding/ChartText_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Button/ButtonGroup_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/CurrencyInput/CurrencyInput_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Filepicker/FilePickerV2_CSV_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Inputv2_inside_List_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Inputv2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/PhoneInput/Phone_input_spec.js
  app/client/cypress/locators/ViewWidgets.json
  app/client/cypress/locators/Widgets.json
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/widgetCommands.js
  app/client/package.json
  app/client/packages/design-system/ads/src/Checkbox/Checkbox.tsx
  app/client/packages/design-system/ads/src/Select/Select.mdx
  app/client/packages/design-system/ads/src/Select/Select.stories.tsx
  app/client/packages/design-system/ads/src/Select/Select.tsx
  app/client/packages/design-system/ads/src/Select/rc-styles.css
  app/client/packages/design-system/ads/src/Select/styles.css
  app/client/packages/design-system/ads/src/Tag/Tag.styles.tsx
  app/client/packages/design-system/ads/src/Tag/Tag.tsx
  app/client/packages/design-system/ads/src/Tag/Tag.types.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/index.tsx
  app/client/src/components/formControls/DropDownControl.test.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/pages/Editor/ThemePropertyPane/controls/ThemeFontControl.tsx
Labels: skip-changelog, ok-to-test

#39001 fix: added fuzzy search logic for datasource home
  app/client/src/pages/Editor/IntegrationEditor/AIPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/DBOrMostPopularPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/EmptySearchedPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/MockDataSources.tsx
  app/client/src/pages/Editor/IntegrationEditor/util.ts
Labels: Bug, Low, Task, ok-to-test, Query & Widgets Pod

#39058 chore: add slider control
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/components/formControls/SliderControl.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
Labels: skip-changelog, ok-to-test

#39062 fix: enable ai related features in dps
  scripts/deploy_preview.sh
Labels: Bug

#38989 chore: entity tabs replacement
  app/client/cypress/e2e/Regression/ClientSide/IDE/Focus_retentions_inputs_spec.js
  app/client/cypress/e2e/Regression/ClientSide/IDE/Tabs_Navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/JSObject/RenameJSObjectBug38207_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/support/ApiCommands.js
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTab.stories.tsx
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTab.styles.ts
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTab.tsx
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTab.types.ts
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTabBar.stories.tsx
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTabBar.styles.ts
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTabBar.tsx
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTabBar.types.ts
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.tsx
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.types.ts
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.tsx
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityTabsHeader/EntityTabsHeader.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityTabsHeader/EntityTabsHeader.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityTabsHeader/EntityTabsHeader.tsx
  app/client/packages/design-system/ads/src/Templates/EntityTabsHeader/EntityTabsHeader.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityTabsHeader/index.ts
  app/client/packages/design-system/ads/src/Templates/index.ts
  app/client/src/IDE/Components/FileTab/FileTab.test.tsx
  app/client/src/IDE/Components/FileTab/FileTab.tsx
  app/client/src/IDE/Components/FileTab/constants.ts
  app/client/src/IDE/Components/FileTab/index.ts
  app/client/src/IDE/Components/FileTab/styles.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/AddButton.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/AddTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/Container.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/EditableTab.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/Editortabs.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/constants.ts
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#39063 ci: Update
  .github/workflows/ci-test-custom-script.yml
Labels: skip-changelog, CI

#39032 fix: Enabled js mode by default for Table and Select widget form display ui button
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Arango_Basic_Spec.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/BindDataButton.tsx
  app/client/src/sagas/SnipingModeSagas.ts
Labels: Bug, Task, Medium, ok-to-test, Query & Widgets Pod

#39065 ci: snowflake envs for credentials
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited-with-count.yml
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, CI, ok-to-test

#39069 chore: fix select mode
  app/client/packages/design-system/ads/src/Select/Select.tsx
Labels: skip-changelog, ok-to-test

#39099 chore: Enable source maps for RTS for better error traces
  deploy/docker/fs/opt/appsmith/run-rts.sh
Labels: skip-changelog

#39098 chore: integrate file association query API for Appsmith API
  app/client/src/components/formControls/BaseControl.tsx
  app/client/src/ee/components/formControls/Rag/RagDocumentsSelector.tsx
  app/client/src/ee/components/formControls/Rag/index.ts
  app/client/src/pages/Editor/FormControl.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
Labels: skip-changelog, ok-to-test

#39061 chore: Added endpoint and impl for ssh key pairs
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/base/ArtifactServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/base/ArtifactServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationControllerCE.java
Labels: skip-changelog, ok-to-test

#39029 test: Add cypress tests for Snowflake datasource functionalities
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Snowflake_Basic_Spec.ts
  app/client/cypress/support/Objects/DataManager.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/tags.js
Labels: skip-changelog, ok-to-test, Test

#39057 chore: checkout the base branch instead of release in cyclic deps check
  .github/workflows/ci-client-cyclic-deps-check.yml
Labels: skip-changelog, ok-to-test

#39103 chore: move rts caller interface to external module
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/RTSCaller.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/RTSCallerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/DSLMigrationUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/InstanceConfigHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RTSCallerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/RTSCallerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AstServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AstServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39135 fix: remove dependency listening to success or failure of mock ds api for initializing app
  app/client/src/entities/Engine/AppEditorEngine.ts
Labels: Bug, Needs Triaging, DevOps Pod, Mock Data, ok-to-test, Query & Widgets Pod

#39134 fix: added fix for commit messages
  app/client/src/git/requests/commitRequest.ts
Labels: Bug, Needs Triaging, Git Product, Release Blocker, ok-to-test, Packages & Git Pod

#39141 fix: cypress command reverted PR
  .github/workflows/ci-test-custom-script.yml
Labels: Bug, ok-to-test

#39116 chore: remove redundant copies in getWidgetDependencies
  app/client/src/ce/workers/common/DependencyMap/utils/getEntityDependenciesByType.ts
Labels: skip-changelog, ok-to-test

#39140 chore: git mod - fixes toast issues
  app/client/src/git/components/OpsModal/TabDeploy/TabDeployView.tsx
  app/client/src/git/components/QuickActions/QuickActionsView.tsx
  app/client/src/git/hooks/useDiscard.ts
  app/client/src/git/sagas/discardSaga.ts
  app/client/src/git/sagas/pullSaga.ts
  app/client/src/git/sagas/updateProtectedBranchesSaga.ts
  app/client/src/git/store/actions/discardActions.ts
Labels: QA, Production, Release, Needs Triaging, Git Product, skip-changelog, Medium, ok-to-test, Packages & Git Pod

#39150 fix: security update init-container for redis
  deploy/helm/Chart.yaml
  deploy/helm/templates/deployment.yaml
  deploy/helm/values.yaml
Labels: Bug

#39108 chore: Remove HTML column type feature flag and related code
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/HTMLCell_spec.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data/ColumnType.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Data/index.ts
Labels: skip-changelog, Table Widget V2, ok-to-test, Query & Widgets Pod

#39149 fix: Wrong url set for Editor
  app/client/src/ce/pages/Editor/IDE/constants/SidebarButtons.ts
Labels: Bug, ok-to-test

#39154 fix: fix for js visual spec snapshots
  app/client/cypress/limited-tests.txt
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorComment_spec.js/jsObjAfterCommenting1.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorComment_spec.js/jsObjBeforeCommenting1.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/formattedJSONBodyAfterSave.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterGoLineStartSmart5.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify1.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify3.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjAfterPrettify4.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforeGoLineStartSmart5.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify1.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify3.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify4.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify6.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorIndent_spec.js/jsObjBeforePrettify7.snap.png
  app/client/cypress/snapshots/Regression/ClientSide/VisualTests/JSEditorSaveAndAutoIndent_spec.js/jsObjBeforeSaveAndPrettify.snap.png
Labels: Bug, ok-to-test

#39162 ci: fix TBP workflow
  .github/workflows/test-build-docker-image.yml
Labels: skip-changelog, CI

#39155 chore: fixing discard message
  app/client/src/git/components/OpsModal/TabDeploy/TabDeployView.tsx
Labels: Git Product, skip-changelog, ok-to-test

#39168 fix: check mongo spec 1 fix
  app/client/cypress/e2e/Regression/ServerSide/QueryPane/Mongo1_spec.ts
Labels: Bug, ok-to-test

#39177 fix: Scheduling the heavy database ops on bounded elastic thread pool…
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
Labels: ok-to-test

#39146 chore: Updating mysql test dependencies in pom.xml
  app/server/appsmith-plugins/mysqlPlugin/pom.xml
Labels: skip-changelog, ok-to-test

#39213 fix: enable allow clear options for single select dropdown
  app/client/src/components/formControls/DropDownControl.test.tsx
  app/client/src/components/formControls/DropDownControl.tsx
Labels: Bug, High, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Query & Widgets Pod, Zendesk integration, Salesforce integration

#39138 ci: Update version and checking failure
  .github/workflows/build-client-server-count.yml
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-limited-with-count.yml
  app/client/package.json
  app/client/yarn.lock
Labels: skip-changelog, CI, ok-to-test

#39215 fix: move to page redirection issue fixed for paragon integration
  app/client/src/sagas/ActionSagas.ts
Labels: Bug, Production, Needs Triaging, Medium, ok-to-test, Query & Widgets Pod, Zendesk integration

#39208 fix: loading indicator ui for infinite loading table
  app/client/src/ce/constants/messages.ts
  app/client/src/widgets/TableWidgetV2/component/LoadingIndicator.test.tsx
  app/client/src/widgets/TableWidgetV2/component/LoadingIndicator.tsx
Labels: Bug, Widgets Product, Task, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39240 fix: Fix the S3 error case
  app/client/cypress/e2e/Regression/ServerSide/GenerateCRUD/S3_Spec.js
  app/client/cypress/support/Pages/DataSources.ts
Labels: Bug, ok-to-test

#38867 feat: select widget lazy loading
  app/client/src/actions/evaluationActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/sagas/index.tsx
  app/client/src/components/formControls/DropDownControl.test.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/reducers/evaluationReducers/triggerReducer.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/selectors/formSelectors.ts
Labels: Enhancement, Frontend, Task, Stale, Anvil Pod, Workflows Pod, Workflows Product, ok-to-test

#39254 ci: CI update for commitMsg
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited-with-count.yml
  .github/workflows/ci-test-limited.yml
  app/client/cypress/scripts/cypress-split-dynamic.ts
  app/client/cypress/scripts/cypress-split-static.ts
  app/client/cypress/scripts/util.ts
Labels: skip-changelog, CI, ok-to-test

#39249 fix: Fix the api_multipart spec test case
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_MultiPart_Spec.ts
  app/client/cypress/fixtures/apiMultiPartData.json
Labels: Bug, ok-to-test

#39019 test: datepicker3 test fix
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Datepicker/DatePicker3_spec.ts
Labels: skip-changelog, Stale, ok-to-test, Test

#39256 feat: group identifier for dropdown form controls
  app/client/src/components/formControls/DropDownControl.test.tsx
  app/client/src/components/formControls/DropDownControl.tsx
Labels: Enhancement, Frontend, Workflows Pod, Workflows Product, ok-to-test

#39265 chore: remove tags for all appsmith metrics
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/MeterFilterConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/NoTagsMeterFilter.java
Labels: skip-changelog, ok-to-test

#39258 chore: add hybrid search control
  app/client/src/components/formControls/HybridSearch.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
Labels: skip-changelog, Anvil Pod, ok-to-test

#39264 chore: Eject CRA
  app/client/.babelrc
  app/client/build.sh
  app/client/config/createEnvironmentHash.js
  app/client/config/env.js
  app/client/config/getHttpsConfig.js
  app/client/config/modules.js
  app/client/config/paths.js
  app/client/config/webpack.config.js
  app/client/config/webpackDevServer.config.js
  app/client/craco.build.config.js
  app/client/craco.common.config.js
  app/client/craco.dev.config.js
  app/client/knip.json
  app/client/package.json
  app/client/packages/design-system/ads-old/src/FilePickerV2/index.tsx
  app/client/scripts/build.js
  app/client/scripts/start.js
  app/client/src/components/editorComponents/HighlightedCode/index.tsx
  app/client/src/react-app-env.d.ts
  app/client/yarn.lock
Labels: Task, skip-changelog, ok-to-test

#39207 feat: Introduce infinite scroll feature behind feature flag.
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/__tests__/TableRendered.test.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Enhancement, Widgets Product, Task, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#38556 chore: add new condition for form conditionals
  app/client/src/actions/evaluationActions.ts
  app/client/src/actions/formEvaluationActions.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/sagas/QueryPaneSagas.ts
  app/client/src/sagas/ReplaySaga.ts
  app/client/src/workers/Evaluation/formEval.ts
Labels: Frontend, Task, skip-changelog, Stale, Workflows Pod, Workflows Product, ok-to-test

#39269 fix: Fix flakiness of JSObjects_navigation_spec.ts spec
  app/client/cypress/e2e/Regression/ClientSide/Debugger/JSObjects_navigation_spec.ts
Labels: Bug, Task, Automation Test, Cypress flaky tests, cypress-flaky-fix, QA Pod, ok-to-test

#39100 feat: Inspect State CTA for discovery
  app/client/cypress/e2e/Regression/ClientSide/PeekOverlay/PeekOverlay_Spec.ts
  app/client/cypress/support/Pages/PeekOverlay.ts
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/state-inspector.svg
  app/client/src/actions/debuggerActions.ts
  app/client/src/actions/debuggerStateInspector.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/PeekOverlayPopup.tsx
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/styles.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/CTAs/InspectStateHeaderButton.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/CTAs/InspectStateMenuItem.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/CTAs/InspectStateToolbarButton.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/CTAs/index.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useGetDisplayData.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useStateInspectorState.ts
  app/client/src/components/editorComponents/Debugger/hooks/useDebuggerConfig.ts
  app/client/src/components/editorComponents/Debugger/hooks/useDebuggerTriggerClick.ts
  app/client/src/components/editorComponents/Debugger/utils/getDebuggerPaneConfig.ts
  app/client/src/pages/Editor/AppPluginActionEditor/components/ToolbarMenu/ToolbarMenu.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/EntityItem/AppJSContextMenuItems.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/EntityItem/AppQueryContextMenuItems.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIEntityListTree/WidgetContextMenu.tsx
  app/client/src/pages/Editor/JSEditor/AppJSEditorContextMenu.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTitle.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/sagas/DebuggerSagas.ts
  app/client/src/selectors/debuggerSelectors.tsx
  app/client/src/selectors/debuggerStateInspector.ts
Labels: Enhancement, Debugger Product, Task, IDE Pod, ok-to-test

#39298 chore: git detach and push algorithm refinement
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39304 fix: skip snowflake test cases in cypress
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Snowflake_Basic_Spec.ts
Labels: Bug, Task, ok-to-test

#39295 fix: Fix from chatgpt for promise failure
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
Labels: Bug, ok-to-test

#39225 feat: Implement infra code for infinite scroll implementation.
  app/client/package.json
  app/client/src/widgets/TableWidgetV2/component/StaticTable.tsx
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/InifiniteScrollBody/useInfiniteVirtualization.test.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/InifiniteScrollBody/useInfiniteVirtualization.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/VirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable.tsx
  app/client/yarn.lock
Labels: Enhancement, Widgets Product, Task, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39262 fix: infinite render loop in List Widget when hiding/unhiding with selected item
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/PropertyPane_spec.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
Labels: Bug, Widgets Product, High, Production, Community Reported, Needs Triaging, List Widget, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39252 feat: add function calling config form
  app/client/src/components/formControls/FunctionCallingConfigControl/FunctionCallingConfigControl.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigForm.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigToolField.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingEmpty.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/selectors.ts
  app/client/src/components/formControls/FunctionCallingConfigControl/index.ts
  app/client/src/components/formControls/FunctionCallingConfigControl/types.ts
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
Labels: Enhancement, Task, Anvil Pod, ok-to-test

#39319 fix: omit assignRequest
  app/client/src/components/formControls/FunctionCallingConfigControl/components/selectors.ts
Labels: Bug, ok-to-test

#39320 fix: fix enum
  app/client/src/components/formControls/FunctionCallingConfigControl/components/selectors.ts
Labels: Bug, ok-to-test

#39321 fix: fix enum
  app/client/src/components/formControls/FunctionCallingConfigControl/components/selectors.ts
Labels: Bug

#39324 chore: Removed immur dependancy
  app/client/cypress/support/Objects/FeatureFlags.ts
Labels: skip-changelog, ok-to-test

#39296 chore: Code split for logout success handler
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/commands.js
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/LogoutSuccessHandlerCE.java
Labels: Enhancement, skip-changelog, ok-to-test

#39306 chore: add postSaveHook
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/DatasourceStorage.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/base/DatasourceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasourcestorages/base/DatasourceStorageServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39332 fix: file upload fixed when using Base64 type in FilePicker and multipart/form-data in REST API
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/exceptions/pluginExceptions/BasePluginErrorMessages.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/DataUtils.java
Labels: Bug, Needs Triaging, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query & Widgets Pod

#39346 chore: Cleanup unnecessary script
  update-tenant-client.sh
Labels: skip-changelog

#39356 fix: cypress test for multipart/form-data
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_MultiPart_Spec.ts
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query & Widgets Pod

#39342 chore: git pkg - package integration with git
  .gitignore
  app/client/src/git-artifact-helpers/application/sagas/applicationImportFromGitSaga.ts
  app/client/src/git-artifact-helpers/application/sagas/index.ts
  app/client/src/git/requests/gitImportRequest.types.ts
  app/client/src/git/sagas/gitImportSaga.ts
  app/client/src/git/store/actions/gitImportActions.ts
  app/client/src/git/store/index.ts
Labels: Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#39358 feat: added an ads entity context menu template component
  app/client/packages/design-system/ads/src/Templates/EntityContextMenu/EntityContextMenu.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityContextMenu/EntityContextMenu.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityContextMenu/EntityContextMenu.tsx
  app/client/packages/design-system/ads/src/Templates/EntityContextMenu/constants.ts
  app/client/packages/design-system/ads/src/Templates/EntityContextMenu/index.ts
  app/client/packages/design-system/ads/src/Templates/index.ts
  app/client/src/pages/AppIDE/components/JSEntityItem/JSEntityItem.tsx
  app/client/src/pages/AppIDE/components/QueryEntityItem/QueryEntityItem.tsx
  app/client/src/pages/Editor/JSEditor/AppJSEditorContextMenu.tsx
Labels: Enhancement, Frontend, Design System Product, IDE Product, Task, IDE Pod, ok-to-test

#39359 chore: allow tags for few metrics
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/NoTagsMeterFilter.java
Labels: skip-changelog, ok-to-test

#39375 chore: Fix appsmith store hydration from localstorage in view mode
  app/client/src/entities/Engine/AppEditorEngine.ts
  app/client/src/entities/Engine/index.ts
Labels: skip-changelog, ok-to-test

#39338 chore: Add simpler constructors for ResponseDTO
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/LogoutSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ConsolidatedAPIController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionCollectionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ConfigControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/CustomJSLibControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/DatasourceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/GitControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/HealthCheckControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/InstanceAdminControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/LayoutControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/OrganizationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/PageControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/PluginControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ProductFeatureAlertControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/RestApiImportControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/SaasControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/SearchEntityControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ThemeControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/UsagePulseControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/UserControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/WorkspaceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ResponseDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitArtifactControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39379 chore: Moving static layout styled components to a common file for re-using on EE
  app/client/src/IDE/Components/LayoutComponents.tsx
  app/client/src/ce/pages/AppIDE/components/LibrariesList/LibrarySidePane.tsx
  app/client/src/ce/pages/common/AppHeader.tsx
  app/client/src/pages/AppIDE/AppIDE.tsx
  app/client/src/pages/AppIDE/components/LibrariesList/JSLibrariesSection.tsx
  app/client/src/pages/AppIDE/components/ProtectedCallout/ProtectedCallout.test.tsx
  app/client/src/pages/AppIDE/layouts/AnimatedLayout.tsx
  app/client/src/pages/AppIDE/layouts/StaticLayout.tsx
  app/client/src/pages/AppIDE/layouts/components/Editor.tsx
  app/client/src/pages/AppIDE/layouts/components/EditorPane.tsx
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/AddTab.tsx
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/EditableTab.tsx
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/Editortabs.test.tsx
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/List.tsx
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/ScreenModeToggle.tsx
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/constants.ts
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/hooks.ts
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/index.tsx
  app/client/src/pages/AppIDE/layouts/components/Explorer.tsx
  app/client/src/pages/AppIDE/layouts/components/Header/DeployButton.tsx
  app/client/src/pages/AppIDE/layouts/components/Header/EditorTitle.tsx
  app/client/src/pages/AppIDE/layouts/components/Header/index.tsx
  app/client/src/pages/AppIDE/layouts/components/SegmentSwitcher/SegmentSwitcher.tsx
  app/client/src/pages/AppIDE/layouts/components/SegmentSwitcher/useSegmentNavigation.ts
  app/client/src/pages/AppIDE/layouts/constants.ts
  app/client/src/pages/AppIDE/layouts/hooks/useEditorStateLeftPaneWidth.ts
  app/client/src/pages/AppIDE/layouts/hooks/useGridLayoutTemplate.ts
  app/client/src/pages/AppIDE/layouts/hooks/useWidgetSelectionBlockListener.ts
  app/client/src/pages/AppIDE/layouts/index.tsx
  app/client/src/pages/AppIDE/layouts/routers/JSEditor/JSEditor.tsx
  app/client/src/pages/AppIDE/layouts/routers/JSEditor/JSRender.test.tsx
  app/client/src/pages/AppIDE/layouts/routers/JSEditor/index.ts
  app/client/src/pages/AppIDE/layouts/routers/LeftPane.tsx
  app/client/src/pages/AppIDE/layouts/routers/MainPane/MainPane.tsx
  app/client/src/pages/AppIDE/layouts/routers/MainPane/index.ts
  app/client/src/pages/AppIDE/layouts/routers/QueryEditor/Editor.tsx
  app/client/src/pages/AppIDE/layouts/routers/QueryEditor/QueryRender.test.tsx
  app/client/src/pages/AppIDE/layouts/routers/QueryEditor/index.ts
  app/client/src/pages/AppIDE/layouts/routers/RightPane.tsx
  app/client/src/pages/AppIDE/layouts/routers/Sidebar.tsx
  app/client/src/pages/AppIDE/layouts/routers/UISegmentLeftPane/UIRender.test.tsx
  app/client/src/pages/AppIDE/layouts/routers/UISegmentLeftPane/UISegmentLeftPane.tsx
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.test.tsx
  app/client/test/testMockedWidgets.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#39378 chore: add node modules related to llamaindex
  app/client/packages/rts/package.json
  app/client/src/pages/Editor/DataSourceEditor/RestAPIDatasourceForm.tsx
  app/client/src/widgets/JSONFormWidget/fields/ArrayField.tsx
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#39385 fix: rename the header from organizationId to tenantId
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/constants/AppsmithAiConstants.java
Labels: Bug

#39337 chore: Support String inputs for import service methods
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ServerSchemaMigrationEnforcerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialImportServiceTest.java
Labels: skip-changelog, ok-to-test

#39384 chore: updated the ci config files with the hubspot token
  .github/workflows/ci-test-custom-script.yml
  .github/workflows/ci-test-hosted.yml
  .github/workflows/ci-test-limited-with-count.yml
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, ok-to-test

#37783 chore: Delete unused KnowledgeBase and fix some explicit-any
  app/client/src/ce/pages/AppViewer/KnowledgeBase/KBViewerFloatingButton.tsx
  app/client/src/ee/pages/AppViewer/KnowledgeBase/KBViewerFloatingButton.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/utils/storage.ts
Labels: skip-changelog, ok-to-test

#39376 chore: git changes for new contract
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsImpl.java
  app/server/appsmith-git/src/test/java/com/appsmith/git/helpers/FileUtilsImplTest.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/ApplicationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/resourcemap/ExchangeJsonConversionTests.java
Labels: skip-changelog, ok-to-test

#39390 chore: modified resources alter to send the jsLibFileName in resource identifier
  app/server/appsmith-server/src/main/java/com/appsmith/server/jslibs/exportable/CustomJSLibExportableServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39392 fix: Logout all users instead of redis session migration for tenant to org migration
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration065_CopyTenantIdToOrganizationId.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration066_CacheBustTenantOrgMigration.java
Labels: Bug

#39307 chore: add wds multiselect
  app/client/packages/design-system/widgets/src/components/Input/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/MultiSelect/src/MultiSelect.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/anvilConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/defaultsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/metaConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/methodsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/propertyPaneConfig/contentConfig.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/propertyPaneConfig/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/propertyPaneConfig/validations/defaultOptionValueValidation.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/propertyPaneConfig/validations/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/propertyPaneConfig/validations/labelKeyValidation.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/propertyPaneConfig/validations/valueKeyValidation.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/config/settersConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/index.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/widget/constants.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/widget/derived.js
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/widget/helpers.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/widget/parseDerivedProperties.ts
  app/client/src/modules/ui-builder/ui/wds/WDSMultiSelectWidget/widget/types.ts
  app/client/src/modules/ui-builder/ui/wds/constants.ts
  app/client/src/widgets/index.ts
Labels: skip-changelog, ok-to-test

#39399 feat: exclude ai queries from function calling
  app/client/src/components/formControls/FunctionCallingConfigControl/components/selectors.ts
Labels: Enhancement, ok-to-test

#39400 fix: ignore ts error
  app/client/src/components/formControls/FunctionCallingConfigControl/components/selectors.ts
Labels: Bug, ok-to-test

#39398 fix: Updating the permission name for MANAGE ORGANIZATION
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AclPermission.java
Labels: Bug, ok-to-test

#39364 chore: EE widgets register and allow onboarding text for non main canvas widgets
  app/client/src/ee/widgets/index.ts
  app/client/src/layoutSystems/common/dropTarget/DropTargetComponent.tsx
  app/client/src/layoutSystems/fixedlayout/canvas/FixedLayoutEditorCanvas.tsx
  app/client/src/widgets/index.ts
Labels: Frontend, Task, skip-changelog, Packages Pod, ok-to-test, Packages & Git Pod

#39409 chore: Set max height for Table Data property control
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Property Pane, Widgets Product, IDE Product, UI Building Product, Task, skip-changelog, IDE Pod, Widget Property, ok-to-test, Widgets & Accelerators Pod

#39325 feat: enable post run actions for plugin queries
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/Response.test.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/Response.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/PostActionRunContainer.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/utils/postRunActionsUtil.test.ts
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/utils/postRunActionsUtil.ts
  app/client/src/api/ActionAPI.tsx
  app/client/src/api/types.ts
  app/client/src/ce/components/PostActionRunComponents/index.ts
  app/client/src/ce/components/PostActionRunComponents/types.ts
  app/client/src/ee/components/PostActionRunComponents/index.ts
  app/client/src/ee/components/PostActionRunComponents/types.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionExecution/PluginActionSagaUtils.test.ts
  app/client/src/sagas/ActionExecution/PluginActionSagaUtils.ts
Labels: Enhancement, Frontend, Workflows Pod, Workflows Product, ok-to-test

#39415 chore: post run action modularisation
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/Response.test.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/PostActionRunContainer.tsx
  app/client/src/ce/PluginActionEditor/components/PostActionRun/index.ts
  app/client/src/ce/PluginActionEditor/components/PostActionRun/types.ts
  app/client/src/ee/PluginActionEditor/components/PostActionRun/index.ts
  app/client/src/ee/PluginActionEditor/components/PostActionRun/types.ts
  app/client/src/ee/components/PostActionRunComponents/index.ts
  app/client/src/ee/components/PostActionRunComponents/types.ts
Labels: skip-changelog, ok-to-test

#39159 fix: stop tooltip from overflowing out of view in preview and deployed mode.
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Input3_Spec.ts
  app/client/packages/design-system/widgets-old/src/Tooltip/index.tsx
Labels: Bug, Good First Issue, Input Widget, Widgets Product, Low, Production, Community Reported, Needs Triaging, ok-to-test, Widgets & Accelerators Pod

#39416 fix: drop the organization collection (ex workspace) before inserting the default organization (tenant)
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration065_CopyTenantIdToOrganizationId.java
Labels: Bug

#39422 feat: rename isApprovalRequired field
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigForm.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigToolField.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/types.ts
Labels: Enhancement, ok-to-test

#39421 chore: Refactor Codebase to Remove Telemetry from CE
  app/client/packages/rts/src/ce/server.ts
  app/client/packages/rts/src/ee/server.ts
  app/client/packages/rts/src/instrumentation.ts
  app/client/packages/rts/src/server.ts
  app/client/packages/rts/src/test/server.test.ts
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/operations/FileOperationsCEv2Impl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/ObservationHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/annotations/ConditionalOnMicrometerMetricsEnabled.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/CommonConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ReactorNettyConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ObservationHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/application-ce.properties
  app/server/appsmith-server/src/main/resources/application-ee.properties
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog, ok-to-test

#39263 test: adding tests for Fork app related to multiple workspace
  app/client/cypress/e2e/Regression/ClientSide/Fork/ForkApplicationIntoWorkspace.ts
  app/client/cypress/fixtures/OldApp_DSTesting1.9.24_Latest_29August2024_withuiforframeowrk.json
Labels: skip-changelog, ok-to-test, Test

#39429 ci: Fix re-runs in server suite
  .github/workflows/server-build.yml
Labels: skip-changelog, CI

#37108 fix: resolve empty table dropdown issue with dynamic select options in add new row functionality
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/AddNewRow1_spec.js
  app/client/packages/dsl/src/migrate/index.ts
  app/client/packages/dsl/src/migrate/migrations/090-migrate-table-compute-value-binding.ts
  app/client/packages/dsl/src/migrate/tests/DSLMigration.test.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/TableComputeBindingDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/TableWidget.test.ts
  app/client/src/components/propertyControls/TableComputeValue.test.tsx
  app/client/src/components/propertyControls/TableComputeValue.tsx
Labels: Bug, Table Widget, Widgets Product, Production, Community Reported, Needs Triaging, Medium, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39428 chore: fix custom widget height issue
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/component/useCustomWidgetHeight.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCustomWidget/helpers/index.ts
Labels: Production, IDE Product, skip-changelog, IDE Pod, Medium, ok-to-test

#39365 chore: ADS slider polish
  app/client/packages/design-system/ads/src/Slider/Slider.mdx
  app/client/packages/design-system/ads/src/Slider/Slider.stories.tsx
  app/client/packages/design-system/ads/src/Slider/Slider.styles.tsx
Labels: Design System Product, skip-changelog, Anvil Pod, ADS Components, ok-to-test, AI Agents

#39427 feat: Enable download as excel feature on table widget.
  app/client/package.json
  app/client/src/widgets/TableWidgetV2/component/header/actions/Download.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/index.tsx
  app/client/yarn.lock
Labels: Enhancement, Widgets Product, Production, Needs Triaging, Medium, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39171 feat: Restrict cron execution for single pod in clustered environment
  app/server/appsmith-server/src/main/java/com/appsmith/server/aspect/FeatureFlaggedMethodInvokerAspect.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Organization.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/OrganizationConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/OrganizationConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/InstanceConfigHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersions.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepository.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/BaseRepositoryImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/FeatureFlagServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ScheduledTaskCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/DistributedLockAspectTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/TestLockService.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/annotations/DistributedLock.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/aspects/DistributedLockAspect.java
Labels: Enhancement, Task, Platform Administration Pod, ok-to-test, Cloud Billing

#39419 test: Add cypress tests for Hubspot Datasource functionalities
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Hubspot_spec.ts
  app/client/cypress/support/Objects/DataManager.ts
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/tags.js
Labels: skip-changelog, ok-to-test, Test

#39008 chore: typofix `Obejct` -> `Object`
  app/client/src/selectors/debuggerSelectors.tsx
Labels: Stale

#39166 chore: Add code-split for Git integration for packages
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitApplicationTestUtils.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitArtifactTestUtils.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/GitTestUtils.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/ce/GitTestUtilsCE.java
Labels: skip-changelog, ok-to-test

#39444 fix: Add default RTS port in CE
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/RTSCallerCEImpl.java
  app/server/appsmith-server/src/main/resources/application-ce.properties
Labels: Bug, ok-to-test

#39440 chore: Moving the util for grouping & sorting entity list to a common folder
  app/client/src/IDE/utils/groupAndSortEntitySegmentList.ts
  app/client/src/ce/selectors/appIDESelectors.test.ts
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/pages/AppIDE/components/JSExplorer/JSSegmentList.tsx
  app/client/src/pages/AppIDE/components/QueryExplorer/Explorer.tsx
  app/client/src/pages/AppIDE/components/QueryExplorer/QuerySegmentList.tsx
  app/client/src/pages/AppIDE/components/QueryExplorer/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#39453 fix: for codeowners file
  CODEOWNERS
Labels: Bug

#39456 fix: Adding a style to update the width of App settings
  app/client/src/pages/AppIDE/layouts/routers/LeftPane.tsx
Labels: Bug, High, Production, Needs Triaging, Release Blocker, ok-to-test

#39457 fix: Adding a style to update the width of App settings (#39456)
  app/client/src/pages/AppIDE/layouts/routers/LeftPane.tsx
Labels: ok-to-test

#39462 fix: bugfix for validation of system messages in open ai vision command.
  app/server/appsmith-plugins/openAiPlugin/src/main/java/com/external/plugins/commands/VisionCommand.java
Labels: Bug, High, Production, Community Reported, Needs Triaging, Query & JS Pod, Integrations Product, ok-to-test, Query & Widgets Pod, Open AI Integration

#39411 chore: Add an event queue in segment
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/ce/utils/AnalyticsUtil.tsx
  app/client/src/utils/Analytics/segment.test.ts
  app/client/src/utils/Analytics/segment.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#39465 fix: added updatedAt field in collection body update
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutCollectionServiceCEImpl.java
Labels: Bug, ok-to-test

#39463 fix: Array Field width css
  app/client/src/components/formControls/FieldArrayControl.tsx
Labels: Bug, Production, Community Reported, Needs Triaging, Query & JS Pod, Medium, Integrations Product, ok-to-test, Query & Widgets Pod, Open AI Integration

#39470 chore: Removing the hook for create actions permission
  app/client/src/ce/entities/IDE/hooks/useCreateActionsPermissions.ts
  app/client/src/ee/entities/IDE/hooks/useCreateActionsPermissions.ts
  app/client/src/pages/AppIDE/components/JSExplorer/JSSegmentList.tsx
  app/client/src/pages/AppIDE/components/QueryExplorer/QuerySegmentList.tsx
Labels: potential-duplicate, IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#39472 chore: removes premium integration tags for released ones
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/EmptySearchedPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/Constants.ts
Labels: Task, skip-changelog, ok-to-test

#39471 chore: Removing cyclic dependencies due to Sentry route
  app/client/src/ce/AppRouter.tsx
  app/client/src/ce/components/WorkspaceSettingsTabs/index.tsx
  app/client/src/components/SentryRoute.tsx
  app/client/src/pages/AppIDE/layouts/components/Editor.tsx
  app/client/src/pages/AppIDE/layouts/components/Explorer.tsx
  app/client/src/pages/AppIDE/layouts/routers/JSEditor/JSEditor.tsx
  app/client/src/pages/AppIDE/layouts/routers/LeftPane.tsx
  app/client/src/pages/AppIDE/layouts/routers/MainPane/MainPane.tsx
  app/client/src/pages/AppIDE/layouts/routers/QueryEditor/Editor.tsx
  app/client/src/pages/AppIDE/layouts/routers/RightPane.tsx
  app/client/src/pages/AppIDE/layouts/routers/UISegmentLeftPane/UISegmentLeftPane.tsx
  app/client/src/pages/Templates/index.tsx
  app/client/src/pages/UserAuth/index.tsx
  app/client/src/pages/workspace/index.tsx
Labels: skip-changelog, ok-to-test

#39397 chore: add rollup config for wds
  app/client/package.json
  app/client/packages/design-system/widgets/jest.config.js
  app/client/packages/design-system/widgets/package.json
  app/client/packages/design-system/widgets/rollup.config.js
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHotKeys.tsx
  app/client/src/git/components/BranchList/BranchListHotKeys.tsx
  app/client/src/git/components/HotKeys/HotKeysView.tsx
  app/client/src/git/components/HotKeys/index.tsx
  app/client/src/git/components/HotKeys/useHotKeysView.ts
  app/client/src/git/index.ts
  app/client/src/pages/Editor/GlobalHotKeys/GlobalHotKeys.tsx
  app/client/src/pages/Editor/GlobalHotKeys/index.tsx
  app/client/src/pages/Editor/JSEditor/JSObjectHotKeys.tsx
  app/client/src/pages/Editor/gitSync/components/BranchListHotkeys.tsx
  app/client/yarn.lock
Labels: skip-changelog, ok-to-test

#39417 feat: Introducing Organization Administrator with refactor for Instance Admin
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AppsmithRole.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/InMemoryCacheableRepositoryHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/UserUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/DatabaseChangelog2.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration066_RenameInstanceAdminRoleToOrgAdmin.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration10000_UpdateSuperUser.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CacheableRepositoryHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomOrganizationRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserSignupCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/UserUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/CacheableRepositoryTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PermissionGroupServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/OrganizationServiceCETest.java
Labels: Enhancement, ok-to-test

#39479 feat: remove system functions
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigToolField.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/selectors.ts
  app/client/src/components/formControls/FunctionCallingConfigControl/types.ts
Labels: ok-to-test

#39478 chore: fixes issue with pull redirection
  app/client/src/git/requests/pullRequest.types.ts
  app/client/src/git/sagas/pullSaga.ts
  app/client/src/git/store/actions/pullActions.ts
Labels: Bug, High, Production, Needs Triaging, Git Product, skip-changelog, Release Blocker, ok-to-test, Packages & Git Pod

#39474 feat: Add useActiveDoubleClick hook for improved double-click handling
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/__hooks__/index.ts
  app/client/packages/design-system/ads/src/__hooks__/useActiveDoubleClick.ts
  app/client/packages/design-system/ads/src/__hooks__/useEditableText/useEditableText.ts
Labels: Enhancement, Design System Product, IDE Product, Task, IDE Pod, ADS Components, ok-to-test

#39443 chore: Add widget list split to show modules list in tabs
  app/client/src/ce/pages/AppIDE/components/WidgetAdd/UIModulesList.tsx
  app/client/src/ce/selectors/modulesSelector.ts
  app/client/src/ee/pages/AppIDE/components/WidgetAdd/UIModulesList.tsx
  app/client/src/pages/AppIDE/components/WidgetAdd/WidgetsList.tsx
  app/client/src/pages/AppIDE/components/WidgetAdd/index.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
  app/client/src/pages/Editor/widgetSidebar/tests/UIEntitySidebar.test.tsx
Labels: skip-changelog, ok-to-test

#39480 chore: fixes issue with pull redirection (#39478)
  app/client/src/git/requests/pullRequest.types.ts
  app/client/src/git/sagas/pullSaga.ts
  app/client/src/git/store/actions/pullActions.ts
Labels: ok-to-test
