Repository appsmithorg/appsmith, pull requests merged in 2025-09, with the labels that each got.

#41223 fix: CVE-2025-48734
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-server/pom.xml
Labels: Bug, ok-to-test

#41239 chore: inclusive redis-cluster redis-cli
  app/server/appsmith-git/src/main/resources/git.sh
  app/server/appsmith-server/src/main/java/com/appsmith/server/aspect/GitRouteAspect.java
Labels: skip-changelog, ok-to-test

#41246 chore: disabled autocommit
  app/client/cypress/e2e/Regression/ClientSide/Git/GitAutocommit_spec.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationControllerCE.java
Labels: skip-changelog, ok-to-test

#41253 feat(backend): sort applications and workspaces alphabetically
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/WorkspaceControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/UserWorkspaceServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserWorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/ApplicationServiceCECompatibleImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/UserWorkspaceServiceTest.java
Labels: Backend, Home Page, Task, Platform Administration Pod, Medium, Workspace Product, ok-to-test, Inviting Contribution

#41263 feat: add support for listing function versions and aliases in AWS Lambda Plugin
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/java/com/external/plugins/AwsLambdaPlugin.java
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/resources/editor/invoke.json
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/resources/editor/listAliases.json
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/resources/editor/listVersions.json
  app/server/appsmith-plugins/awsLambdaPlugin/src/main/resources/editor/root.json
  app/server/appsmith-plugins/awsLambdaPlugin/src/test/java/com/external/plugins/AwsLambdaPluginTest.java
Labels: Enhancement, ok-to-test

#41256 fix: tab navigation not working in Fixed Layout due to event listener timing issue
  app/client/src/utils/hooks/useWidgetFocus/useWidgetFocus.tsx
Labels: Bug, ok-to-test

#41271 fix(oauth2): ensure single-valued hd parameter for Spring Boot 3.3.13+ compatibility
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomServerOAuth2AuthorizationRequestResolverCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/authentication/handlers/OAuth2HdParameterTest.java
Labels: ok-to-test
