Repository appsmithorg/appsmith, pull requests merged in 2025-01, with the labels that each got.

#38355 chore: Added capability of running ITs using ok-to-test
  .github/workflows/pr-automation.yml
  .github/workflows/pr-cypress.yml
  .github/workflows/scripts/test-tag-parser.js
  .github/workflows/server-build.yml
  .github/workflows/server-integration-tests.yml
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/GitBranchesIT.java
Labels: skip-changelog, ok-to-test

#38435 fix: fix oracle spec
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
Labels: Bug, ok-to-test

#38443 chore: flexible return for test payload extraction func
  app/client/src/ce/utils/actionExecutionUtils.ts
Labels: Task, skip-changelog, Workflows Pod, Workflows Product, ok-to-test

#38418 chore: Added support for artifact type in git redis utils
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ArtifactType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/GitRedisUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#38345 feat: custom eslint rule infra
  app/client/package.json
  app/client/src/ce/hooks/index.ts
  app/client/src/ce/utils/lintRulesHelpers.ts
  app/client/src/ee/utils/lintRulesHelpers.ts
  app/client/src/plugins/Linting/constants.ts
  app/client/src/plugins/Linting/customRules/no-floating-promises.ts
  app/client/src/plugins/Linting/tests/generateLintingGlobalData.test.ts
  app/client/src/plugins/Linting/tests/getLintingErrors.test.ts
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
  app/client/yarn.lock
Labels: Enhancement, Task, Workflows Pod, Workflows Product, ok-to-test

#38453 fix: Updating the click functionalities in list item component
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/Templates/IDEHeader/IDEHeader.stories.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/Debugger/helpDropdown.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/Group.tsx
Labels: Bug, Release, Regressed, IDE Product, Needs Triaging, Release Blocker, IDE Pod, IDE Navigation, ok-to-test

#38455 chore: Set default reftype in git metadata
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/GitArtifactMetadataCE.java
Labels: skip-changelog, ok-to-test

#38446 chore: added git controller layer
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/UrlCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitArtifactController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitArtifactControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/utils/GitAnalyticsUtils.java
Labels: skip-changelog, ok-to-test

#38428 test: flaky check for Abort spec
  app/client/cypress/e2e/Regression/ClientSide/BugTests/AbortAction_Spec.ts
Labels: skip-changelog, ok-to-test, Test

#38429 test: flaky check for onload spec
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/OnLoadActions_Spec.ts
Labels: skip-changelog, ok-to-test, Test

#38427 test: flaky check for published Spec
  app/client/cypress/e2e/Regression/ClientSide/PublishedApps/PublishedModeToastToggle_Spec.ts
Labels: skip-changelog, ok-to-test, Test

#38391 fix: update client version in JsonSchemaVersionsFallback (#38390)
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersionsFallback.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/resources/com/appsmith/server/migrations/application.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/file-with-v1.json
Labels: Bug, Widgets Product, High, Release, Needs Triaging, Table Widget V2, ok-to-test, Widgets & Accelerators Pod

#38461 fix: Updating the click functionalities in list item component (#38453)
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/Templates/IDEHeader/IDEHeader.stories.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/Debugger/helpDropdown.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/Group.tsx
Labels: ok-to-test

#38460 test: Added branding related test for the community user
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Branding_settings_Spec.ts
  app/client/cypress/fixtures/appsmith-community-logo.svg
  app/client/cypress/fixtures/branding_sample.png
  app/client/cypress/fixtures/branding_sampleICO.ico
  app/client/cypress/fixtures/branding_samplejpg.jpg
  app/client/cypress/locators/AdminsSettings.js
Labels: skip-changelog, ok-to-test, Test

#38368 feat: State Inspector
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/globe-simple.svg
  app/client/src/IDE/Components/BottomView.tsx
  app/client/src/actions/debuggerActions.ts
  app/client/src/actions/jsPaneActions.ts
  app/client/src/actions/pluginActionActions.ts
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/ListItem.tsx
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/components/editorComponents/Debugger/DebuggerTabs.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/StateInspector.test.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/StateInspector.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/index.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useGetGlobalItemsForStateInspector.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useGetJSItemsForStateInspector.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useGetQueryItemsForStateInspector.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useGetUIItemsForStateInspector.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useStateInspectorItems.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/hooks/useStateInspectorState.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/index.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/styles.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/types.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/utils.ts
  app/client/src/components/editorComponents/Debugger/constants.ts
  app/client/src/components/editorComponents/JSResponseView.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionEntity.tsx
  app/client/src/reducers/uiReducers/debuggerReducer.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/debuggerSelectors.tsx
Labels: Enhancement, IDE Product, Task, IDE Pod, ok-to-test

#38470 chore: added git resource map consumption
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ArtifactGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/CommonGitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitCommitTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitConnectTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitDiscardTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/resourcemap/ExchangeJsonConversionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/migrations/JsonSchemaMigrationTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/transactions/ImportApplicationTransactionServiceTest.java
  app/server/appsmith-server/src/test/utils/com/appsmith/server/git/ArtifactBuilderExtension.java
Labels: skip-changelog, ok-to-test

#38464 chore: CE split for git constants and AGF
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/CommonConstants.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/constants/ce/CommonConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ArtifactGitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CommonGitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/ArtifactGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
Labels: skip-changelog, ok-to-test

#38442 feat: ADS Entity Item
  app/client/packages/design-system/ads/src/List/List.stories.tsx
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/List/List.types.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/useEditableText.test.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/useEditableText.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/utils.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/index.ts
  app/client/src/IDE/Components/EditableName/EditableName.test.tsx
  app/client/src/IDE/Components/EditableName/EditableName.tsx
  app/client/src/IDE/Components/EditableName/useValidateEntityName.ts
  app/client/src/pages/Editor/IDE/EditorTabs/EditableTab.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.test.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
Labels: Enhancement, IDE Product, Task, IDE Pod, ok-to-test

#38494 chore: increase craco --max-old-space-size to 10240
  app/client/build.sh
Labels: skip-changelog

#38498 chore: Allow context to determine path in file dir
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
Labels: skip-changelog

#38514 chore: Update CODEOWNERS
  CODEOWNERS
Labels: skip-changelog

#38513 chore: Update chat bot endpoint
  app/client/src/pages/Editor/CustomWidgetBuilder/constants.ts
Labels: skip-changelog, ok-to-test

#38456 feat: paragon frontend ds creation implementation added
  app/client/src/ce/sagas/DatasourcesSagas.ts
  app/client/src/ce/sagas/index.tsx
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiDatasourceFormsButtonConfig.ts
  app/client/src/ee/sagas/DatasourcesSagas.ts
  app/client/src/entities/Action/index.ts
  app/client/src/entities/Datasource/index.ts
  app/client/src/entities/JSCollection/index.ts
  app/client/src/pages/Editor/EntityNavigation/ActionPane/index.ts
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/sagas/WidgetBlueprintSagas.ts
  app/client/test/sagas.ts
Labels: Enhancement, ok-to-test

#38497 chore: Add code-split for service layer Git integration for packages
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/GitApplicationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/searchentities/SearchEntitySolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitUtilsTest.java
Labels: skip-changelog, ok-to-test

#38492 chore: fix form widgets bugs
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilCheckboxGroupWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilCheckboxWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilHeadingWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilIconButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilInlineButtonWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilParagraphWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilRadioGroupWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilStatsWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilSwitchGroupWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilSwitchWidgetSnapshot_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Anvil/Widgets/AnvilToolbarButtonWidgetSnapshot_spec.ts
  app/client/cypress/limited-tests.txt
  app/client/cypress/support/Pages/Anvil/AnvilSnapshot.ts
  app/client/packages/design-system/widgets/src/components/Calendar/src/CalendarHeading.tsx
  app/client/packages/design-system/widgets/src/components/Calendar/src/CalendarMonthDropdown.tsx
  app/client/packages/design-system/widgets/src/components/Calendar/src/CalendarYearDropdown.tsx
  app/client/packages/design-system/widgets/src/components/Calendar/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Calendar/utils/calendar.ts
  app/client/packages/design-system/widgets/src/components/Datepicker/src/Datepicker.tsx
  app/client/packages/design-system/widgets/src/components/FieldLabel/src/FieldLabel.tsx
  app/client/packages/design-system/widgets/src/components/Input/src/Input.tsx
  app/client/packages/design-system/widgets/src/components/Input/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Select/src/SelectTrigger.tsx
  app/client/packages/design-system/widgets/src/components/Text/src/Text.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSBaseInputWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSCurrencyInputWidget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSCurrencyInputWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSInputWidget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSInputWidget/config/settersConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSInputWidget/widget/helper.ts
  app/client/src/modules/ui-builder/ui/wds/WDSInputWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSPhoneInputWidget/config/autocompleteConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSPhoneInputWidget/widget/helpers.ts
  app/client/src/modules/ui-builder/ui/wds/WDSPhoneInputWidget/widget/index.tsx
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#38516 chore: bump DSL version to 91 and update migration logic
  app/client/packages/dsl/src/migrate/index.ts
  app/client/packages/dsl/src/migrate/tests/DSLMigration.test.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
Labels: High, Release, Needs Triaging, Git Product, skip-changelog, DailyPromotionBlocker, ok-to-test, Packages & Git Pod

#38528 fix: Resolving merge conflict
  app/client/packages/design-system/ads/src/List/List.tsx
Labels: Bug, ok-to-test

#38523 chore: disable faro session tracking
  app/client/src/instrumentation/index.ts
Labels: skip-changelog, ok-to-test

#38532 feat: ADS Entity Item (#38442)
  app/client/packages/design-system/ads/src/List/List.stories.tsx
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/List/List.types.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/useEditableText.test.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/useEditableText.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/utils.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/index.ts
  app/client/src/IDE/Components/EditableName/EditableName.test.tsx
  app/client/src/IDE/Components/EditableName/EditableName.tsx
  app/client/src/IDE/Components/EditableName/useValidateEntityName.ts
  app/client/src/pages/Editor/IDE/EditorTabs/EditableTab.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.test.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
Labels: ok-to-test

#38524 chore: Housekeeping of List Item and Entity Item
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/List/List.types.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/useEditableText.test.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/useEditableText.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.types.ts
Labels: skip-changelog, ok-to-test

#38537 chore: Housekeeping items in List and Entity Item ADS
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/List/List.types.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/useEditableText.test.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/Editable/useEditableText.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.types.ts
Labels: skip-changelog, ok-to-test

#38495 chore: merge and merge status
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/dtos/FetchRemoteDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/handler/FSGitHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitArtifactControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/dtos/ArtifactJsonTransformationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: potential-duplicate, Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#38543 chore: make cyclic deps check an error
  .github/workflows/ci-client-cyclic-deps-check.yml
  .github/workflows/quality-checks.yml
Labels: skip-changelog, ok-to-test

#38553 fix: Show bindings hiding behind scroll
  app/client/src/components/editorComponents/PropertyPaneSidebar.tsx
  app/client/src/pages/Editor/IDE/Layout/StaticLayout.tsx
Labels: Bug, Production, Regressed, IDE Product, Needs Triaging, IDE Pod, Medium, IDE Navigation, ok-to-test

#38360 feat: datasource homepage ui redesign and search functionality for the datasources
  app/client/cypress/e2e/Sanity/Datasources/Styles_spec.js
  app/client/cypress/locators/DatasourcesEditor.json
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/dataSourceCommands.js
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
  app/client/src/pages/Editor/IntegrationEditor/AIDataSources.tsx
  app/client/src/pages/Editor/IntegrationEditor/AIPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/AddDatasourceSecurely.tsx
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceHeader.tsx
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/DBOrMostPopularPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceItem.tsx
  app/client/src/pages/Editor/IntegrationEditor/EmptySearchedPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationStyledComponents.tsx
  app/client/src/pages/Editor/IntegrationEditor/MockDataSources.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewApi.tsx
  app/client/src/pages/Editor/IntegrationEditor/NewQuery.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/Constants.ts
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/ContactForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/Helpers.ts
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/index.tsx
Labels: Enhancement, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test

#38555 fix: UsagePulse initialisation flow
  app/client/src/actions/analyticsActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/uiReducers/index.tsx
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/reducers/uiReducers/analyticsReducer.ts
  app/client/src/selectors/analyticsSelectors.ts
Labels: Bug, IDE Infra, ok-to-test

#38558 fix: Updating CSS for list item to fix UI breaking on JS module instance in EE
  app/client/packages/design-system/ads/src/List/List.styles.tsx
Labels: Bug, Release, IDE Product, Needs Triaging, Release Blocker, IDE Pod, Medium, IDE Navigation, ok-to-test

#38562 fix: Updating CSS for list item to fix UI breaking on JS module instance in EE (#38558)
  app/client/packages/design-system/ads/src/List/List.styles.tsx
Labels: ok-to-test

#38564 chore: make refName and refType transient in Artifact Metadata class
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/GitArtifactMetadataCE.java
Labels: skip-changelog

#38550 chore: Use zone as form
  app/client/packages/design-system/widgets/src/components/Button/src/types.ts
  app/client/src/WidgetProvider/constants.ts
  app/client/src/WidgetProvider/factory/index.tsx
  app/client/src/WidgetProvider/factory/types.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSButtonWidget/component/RecaptchaV2.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSButtonWidget/component/RecaptchaV3.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSButtonWidget/component/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSButtonWidget/component/useRecaptcha.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSButtonWidget/config/defaultsConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSButtonWidget/config/propertyPaneConfig/contentConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSButtonWidget/widget/index.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSButtonWidget/widget/types.ts
  app/client/src/modules/ui-builder/ui/wds/WDSZoneWidget/widget/config/defaultConfig.ts
  app/client/src/modules/ui-builder/ui/wds/WDSZoneWidget/widget/config/propertyPaneContent.ts
  app/client/src/modules/ui-builder/ui/wds/WDSZoneWidget/widget/context.tsx
  app/client/src/modules/ui-builder/ui/wds/WDSZoneWidget/widget/index.tsx
  app/client/src/reducers/entityReducers/pageListReducer.tsx
  app/client/src/reducers/entityReducers/types.ts
  app/client/src/utils/autocomplete/defCreatorUtils.ts
  app/client/src/utils/autocomplete/types.ts
Labels: Task, skip-changelog, Anvil Pod, ok-to-test

#38571 chore: update client-build github runner
  .github/workflows/github-release.yml
Labels: skip-changelog

#38569 fix: Added login for better flow
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.ts
Labels: Bug, ok-to-test

#38563 chore: git mod - minor fixes
  app/client/src/git/artifact-helpers/application/applicationStatusTransformer.ts
  app/client/src/git/components/QuickActions/BranchButton.tsx
  app/client/src/git/components/QuickActions/QuickActionsView.tsx
  app/client/src/git/components/QuickActions/hooks/useStatusChangeCount.ts
  app/client/src/git/components/QuickActions/index.tsx
  app/client/src/git/hooks/useDiscard.ts
  app/client/src/git/requests/fetchStatusRequest.types.ts
  app/client/src/git/sagas/discardSaga.ts
  app/client/src/git/store/actions/discardActions.ts
  app/client/src/pages/Editor/gitSync/components/GitChangesList/StaticChange.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/index.test.tsx
  app/client/src/pages/Editor/gitSync/components/GitChangesList/index.tsx
  app/client/src/reducers/uiReducers/gitSyncReducer.ts
  app/client/src/selectors/gitSyncSelectors.tsx
Labels: Git Product, skip-changelog, ok-to-test

#38579 fix: Response view not passing error to support
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/ErrorView/ErrorView.tsx
Labels: Bug, ok-to-test

#38512 chore: Adding Group component in ADS Templates
  app/client/packages/design-system/ads/src/List/List.stories.tsx
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/List/List.types.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityGroupsList/EntityGroupsList.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityGroupsList/EntityGroupsList.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityGroupsList/EntityGroupsList.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityGroupsList/EntityGroupsList.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityGroupsList/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/index.ts
  app/client/packages/design-system/ads/src/Templates/IDEHeader/IDEHeader.stories.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/StateInspector.tsx
  app/client/src/pages/Editor/CustomWidgetBuilder/Preview/Debugger/helpDropdown.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/Group.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/GroupedList.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/constants.ts
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
  app/client/src/pages/Editor/IDE/RightPane/components/CreateNewQueryModal.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38457 test: regression tests for import flow
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/VerifyImport_spec.ts
  app/client/cypress/fixtures/TryToCoverMore.json
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/AppSettings/AppSettings.ts
Labels: skip-changelog, Test

#38592 ci: Checking no_data with contains to avoid error
  .github/workflows/ci-test-limited-with-count.yml
Labels: skip-changelog, CI, ok-to-test

#38590 fix: Fix copy issue in embedsetting spec
  app/client/cypress/e2e/Regression/ClientSide/EmbedSettings/EmbedSettings_spec.js
Labels: Bug, ok-to-test

#38577 test: validate 'Show Bindings' menu for queries & JS Objects in split-pane
  app/client/cypress/e2e/Regression/ClientSide/ExplorerTests/Show_Bindings_Menu_Bug38547_spec.ts
  app/client/cypress/locators/commonlocators.json
  app/client/cypress/support/Pages/ApiPage.ts
Labels: skip-changelog, ok-to-test, Test

#38387 fix: select column to display cell value when options are mismatched
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
  app/client/src/widgets/TableWidgetV2/component/cellComponents/SelectCell.tsx
Labels: Bug, Table Widget, QA, Widgets Product, Critical, High, Production, Regressed, Needs Triaging, Stale, QA Pod, ok-to-test, Widgets & Accelerators Pod

#38596 test: exluding from airgap list of tests
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/VerifyImport_spec.ts
Labels: skip-changelog, Test

#38493 feat: ADS Entity List Tree
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EmptyState/EmptyState.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EmptyState/EmptyState.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.test.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/ExplorerContainer/ExplorerContainer.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/NoSearchResults/NoSearchResults.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/SearchAndAdd/SearchAndAdd.styles.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/SearchAndAdd/SearchAndAdd.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/index.ts
  app/client/src/IDE/Components/EditableName/index.ts
  app/client/src/IDE/Components/EditableName/useValidateEntityName.ts
  app/client/src/IDE/index.ts
  app/client/src/actions/explorerActions.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/pages/Editor/Explorer/Widgets/OldWidgetEntityList.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIEntityListTree/UIEntityListTree.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIEntityListTree/WidgetContextMenu.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIEntityListTree/WidgetTypeIcon.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIEntityListTree/hooks/useDeleteWidget.ts
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIEntityListTree/hooks/useSwitchToWidget.ts
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIEntityListTree/hooks/useWidgetTreeExpandedState.ts
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIEntityListTree/index.ts
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIEntityListTree/utils/enhanceTree.ts
  app/client/src/pages/Editor/IDE/EditorPane/hooks/useNameEditorState.ts
  app/client/src/selectors/explorerSelector.ts
Labels: Enhancement, IDE Product, Task, IDE Pod, ok-to-test

#38603 chore: Updated the mockdb code
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
Labels: skip-changelog, ok-to-test

#38615 chore: [ADS] Entity Tree Hover interactions
  app/client/packages/design-system/ads/src/List/List.stories.tsx
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.styles.ts
Labels: Task, skip-changelog, ok-to-test

#38597 fix: Issue with Api Body content type selection
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/ApiEditor/PostBodyData.tsx
  app/client/src/PluginActionEditor/store/pluginActionEditorActions.ts
  app/client/src/PluginActionEditor/store/pluginActionEditorSelectors.ts
  app/client/src/PluginActionEditor/store/pluginEditorReducer.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
  app/client/src/components/editorComponents/form/fields/DropdownFieldWrapper.tsx
  app/client/src/components/editorComponents/form/fields/DropdownWrapper.tsx
  app/client/src/components/editorComponents/form/fields/SelectField.tsx
  app/client/src/navigation/FocusElements.ts
  app/client/src/sagas/ApiPaneSagas.ts
Labels: Bug, Production, IDE Product, Needs Triaging, Query Forms, Query & JS Pod, IDE Pod, REST API plugin, Medium, IDE Navigation, Integrations Product, ok-to-test

#38621 chore: Replacing the entity group list component on state inspector and data side pane with new ADS component
  app/client/packages/design-system/ads/src/List/List.stories.tsx
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityGroupsList/EntityGroupsList.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityGroupsList/EntityGroupsList.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityGroupsList/EntityGroupsList.types.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/components/editorComponents/Debugger/StateInspector/StateInspector.tsx
  app/client/src/pages/Editor/Explorer/ExplorerIcons.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/Add.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/Add.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
  app/client/src/pages/Editor/IDE/RightPane/components/CreateNewQueryModal.tsx
  app/client/src/pages/Editor/IDE/constants.ts
Labels: Low, IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38634 chore: git mod - minor fixes
  app/client/src/git/components/OpsModal/TabMerge/TabMergeView.tsx
  app/client/src/git/components/QuickActions/QuickActionsView.test.tsx
  app/client/src/git/components/QuickActions/QuickActionsView.tsx
  app/client/src/git/components/QuickActions/index.tsx
  app/client/src/git/hooks/useInit.ts
  app/client/src/git/sagas/initGitSaga.ts
  app/client/src/git/store/actions/initGitActions.ts
  app/client/src/git/store/gitArtifactSlice.ts
  app/client/src/git/store/helpers/initialState.ts
  app/client/src/git/store/selectors/gitArtifactSelectors.ts
  app/client/src/git/store/types.ts
Labels: Release, Needs Triaging, Git Product, skip-changelog, Medium, ok-to-test, Packages & Git Pod

#38650 Revert "feat: Added focus ring for focus visible (#37700)"
  app/client/packages/design-system/ads-old/src/SearchComponent/index.tsx
  app/client/packages/design-system/ads/src/Button/Button.styles.tsx
  app/client/packages/design-system/ads/src/Button/Button.tsx
  app/client/packages/design-system/ads/src/Input/Input.styles.tsx
  app/client/packages/design-system/ads/src/Input/Input.tsx
  app/client/packages/design-system/ads/src/Link/Link.styles.tsx
  app/client/packages/design-system/ads/src/SegmentedControl/SegmentedControl.styles.tsx
  app/client/packages/design-system/ads/src/Select/styles.css
  app/client/packages/design-system/ads/src/Switch/Switch.styles.tsx
  app/client/packages/design-system/ads/src/Tab/Tab.styles.tsx
  app/client/packages/design-system/ads/src/Text/Text.styles.tsx
  app/client/packages/design-system/ads/src/__theme__/default/index.css
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/CodeEditor/styledComponents.ts
  app/client/src/components/propertyControls/ColorPickerComponentV2.tsx
  app/client/src/components/propertyControls/IconSelectControl.tsx
  app/client/src/components/propertyControls/IconSelectControlV2.tsx
  app/client/src/index.css
Labels: ok-to-test

#38651 fix: [ADS] Entity Tree node overflow
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.styles.ts
Labels: Bug, ok-to-test

#38641 chore: Move IDE Sidebar into ADS
  app/client/packages/design-system/ads/src/Templates/Sidebar/Sidebar.stories.tsx
  app/client/packages/design-system/ads/src/Templates/Sidebar/Sidebar.tsx
  app/client/packages/design-system/ads/src/Templates/Sidebar/SidebarButton/SidebarButton.test.tsx
  app/client/packages/design-system/ads/src/Templates/Sidebar/SidebarButton/SidebarButton.tsx
  app/client/packages/design-system/ads/src/Templates/Sidebar/SidebarButton/SidebarButton.types.ts
  app/client/packages/design-system/ads/src/Templates/Sidebar/SidebarButton/constants.ts
  app/client/packages/design-system/ads/src/Templates/Sidebar/SidebarButton/index.ts
  app/client/packages/design-system/ads/src/Templates/Sidebar/SidebarButton/styles.ts
  app/client/packages/design-system/ads/src/Templates/Sidebar/enums.ts
  app/client/packages/design-system/ads/src/Templates/Sidebar/index.tsx
  app/client/packages/design-system/ads/src/Templates/Sidebar/styles.ts
  app/client/packages/design-system/ads/src/Templates/Sidebar/types.ts
  app/client/packages/design-system/ads/src/Templates/index.ts
  app/client/src/IDE/Components/Sidebar/Sidebar.tsx
  app/client/src/IDE/Components/Sidebar/SidebarButton/SidebarButton.tsx
  app/client/src/IDE/Components/Sidebar/SidebarButton/index.ts
  app/client/src/IDE/Components/Sidebar/index.tsx
  app/client/src/IDE/index.ts
  app/client/src/ce/entities/IDE/constants.ts
  app/client/src/pages/Editor/IDE/Sidebar.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#38635 chore: fixes mergeviaremote_spec flakiness
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/MergeViaRemote_spec.ts
Labels: Git Product, skip-changelog, ok-to-test

#38660 ci: Do not fail on image remove
  .github/workflows/build-docker-image.yml
Labels: skip-changelog, CI

#38662 ci: return true if command fails
  .github/workflows/build-docker-image.yml
Labels: skip-changelog, CI, ok-to-test

#38657 chore: Fix theme CE change only in EE
  app/client/packages/design-system/theming/src/hooks/src/useTheme.tsx
Labels: skip-changelog, ok-to-test

#38661 chore: Update mixpanel masking classname
  app/client/cypress/locators/QueryEditor.json
  app/client/cypress/support/Pages/DataSources.ts
  app/client/cypress/support/commands.js
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Table.tsx
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/PeekOverlayPopup.tsx
  app/client/src/components/editorComponents/Debugger/LogItem/LogItem.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/StateInspector.tsx
  app/client/src/components/editorComponents/ReadOnlyEditor.tsx
  app/client/src/pages/AppViewer/AppPage/AppPage.tsx
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/utils/Analytics/mixpanel.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38637 fix: copy changes to the description and content of modal
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/ContactForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/Helpers.ts
  app/client/src/pages/Editor/IntegrationEditor/RequestNewIntegration/form.tsx
Labels: Bug, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#38622 chore: Improve code
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Admin_settings_spec.ts
Labels: skip-changelog, ok-to-test

#38687 fix: AI query not showing any bottom tabs
  app/client/src/ce/PluginActionEditor/components/PluginActionResponse/hooks/usePluginActionResponseTabs.tsx
Labels: Bug, ok-to-test

#38697 ci: Fix for ssh port 22 issue
  .github/workflows/ci-test-limited-with-count.yml
  .github/workflows/ci-test-limited.yml
Labels: skip-changelog, CI, ok-to-test

#38688 fix: Workflow query conversion
  app/client/src/pages/Editor/AppPluginActionEditor/components/ConvertToModule/ConvertToModuleCTA.tsx
Labels: Bug, ok-to-test

#38703 fix: Flaky test case fix
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/General_settings_Spec.ts
Labels: Bug, ok-to-test

#38709 fix: suppress error toast for update notifications
  app/client/src/api/interceptors/response/failureHandlers/handleBadRequestError.ts
Labels: Bug, ok-to-test

#38659 chore: Move action redesign to GA
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/RequestTabs.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/CommonEditorForm/utils/autoGeneratedHeaders.ts
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/QueriesBlankState.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/ApiFormatSegmentedResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/Response.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/components/ActionExecutionInProgressView.tsx
  app/client/src/PluginActionEditor/components/PluginActionSettings/SettingsPopover.tsx
  app/client/src/PluginActionEditor/components/PluginActionToolbar/components/ActionSettings.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/components/editorComponents/ActionNameEditor.tsx
  app/client/src/components/editorComponents/ActionRightPane/index.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/APIEditor/ApiEditorContext.tsx
  app/client/src/pages/Editor/APIEditor/CommonEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/Editor.tsx
  app/client/src/pages/Editor/APIEditor/GraphQL/GraphQLEditorForm.tsx
  app/client/src/pages/Editor/APIEditor/RestAPIForm.tsx
  app/client/src/pages/Editor/APIEditor/index.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/Announcement.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/Editortabs.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/JSEditor/Form.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorContextMenu.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorForm/JSEditorForm.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorForm/old/JSEditorForm.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSHeader.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSObjectNameEditor/JSObjectNameEditor.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/JSObjectNameEditor/old/JSObjectNameEditor.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionRun.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionRun.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/old/JSFunctionRun.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/old/JSFunctionSettings.tsx
  app/client/src/pages/Editor/QueryEditor/DatasourceSelector.tsx
  app/client/src/pages/Editor/QueryEditor/Editor.tsx
  app/client/src/pages/Editor/QueryEditor/EditorJSONtoForm.tsx
  app/client/src/pages/Editor/QueryEditor/Form.tsx
  app/client/src/pages/Editor/QueryEditor/QueryDebuggerTabs.test.tsx
  app/client/src/pages/Editor/QueryEditor/QueryEditorContext.tsx
  app/client/src/pages/Editor/QueryEditor/QueryEditorHeader.tsx
  app/client/src/pages/Editor/QueryEditor/index.tsx
  app/client/src/sagas/ApiPaneSagas.ts
  app/client/src/utils/localStorage.tsx
Labels: skip-changelog, ok-to-test

#38723 ci: Pinning the server build runs to Ubuntu 22.04 because of Flapdoodle errors
  .github/workflows/server-build.yml
  .github/workflows/server-integration-tests.yml
Labels: skip-changelog, CI

#38706 chore: disable sourcemaps for non-prod builds and cleanup craco configs
  app/client/build.sh
  app/client/craco.build.config.js
  app/client/craco.common.config.js
  app/client/craco.dev.config.js
Labels: skip-changelog, ok-to-test

#38731 chore: Make Split screen feature GA
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/src/IDE/hooks/useIsInSideBySideEditor.test.tsx
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/UIRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/components/SegmentAddHeader.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/Editortabs.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/ideSelectors.tsx
Labels: IDE Product, Epic, skip-changelog, IDE Pod, IDE Navigation, ok-to-test

#38572 fix: JSObject diff error when actions are missing
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/utils/JSPaneUtils.tsx
Labels: Bug, Task, ok-to-test

#38538 test: adding test for page functionality
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PageActions_spec.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/PartialImportExport.ts
Labels: skip-changelog, ok-to-test, Test

#38692 fix: console log update and fix modal issue
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_DownloadFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_LocalRemoveValueFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_LocalStoreValueFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_NavigateToFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_ShowAlertFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_ShowCloseModalFunctions_spec.ts
  app/client/cypress/support/Pages/IDE/Sidebar.ts
Labels: Bug, ok-to-test

#38753 test: Api curl remaining cases
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_RunValidations_spec.ts
Labels: skip-changelog, ok-to-test, Test

#38733 refactor: remove deprecated table widget tests
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/TableBugs_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/TableFilter1_1_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/TableFilter1_2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/TableFilter2_1_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/TableFilter2_2_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Button_Icon_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Color_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Column_Resize_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Derived_Column_Data_validation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_EmptyRow_Color_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_FilteredTableData_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_GeneralProperty_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_MultiRowSelect_dataUpdation_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_MultiRowSelect_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Number_column_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_PropertyPane_1_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_PropertyPane_2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_PropertyPane_IconName_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Property_JsonUpdate_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Switch_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Widget_Add_button_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Widget_Copy_Paste_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Widget_Default_Row_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Widget_Derived_Column_Computed_value_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_Widget_Selected_row_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/Table_tabledata_schema_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/table_with_text_no_2dArray_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV1/table_with_text_selRowIndices_spec.js
Labels: Table Widget, Widgets Product, Task, ok-to-test, Widgets & Accelerators Pod

#38672 fix: edit datasource for External saas plugins
  app/client/src/ce/components/EnvConfigSection/index.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/DataSourceEditor/ExternalSaasConnection.tsx
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiDatasourceFormsButtonConfig.ts
  app/client/src/ee/pages/Editor/DataSourceEditor/ExternalSaasConnection.tsx
  app/client/src/entities/Datasource/index.ts
  app/client/src/entities/Plugin/index.ts
  app/client/src/index.css
  app/client/src/pages/Editor/DataSourceEditor/DBForm.tsx
  app/client/src/pages/Editor/DataSourceEditor/DatasourceFormRenderer.tsx
  app/client/src/pages/Editor/DataSourceEditor/DatasourceSection.tsx
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/index.css
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/reducers/entityReducers/datasourceReducer.ts
  app/client/src/selectors/datasourceSelectors.ts
Labels: Bug, Low, Production, Needs Triaging, Task, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod

#38768 chore: up max-old-space-size to 8192
  app/client/build.sh
Labels: skip-changelog

#38749 fix: Stopped calling usage pulse in air-gapped instance
  app/client/src/usagePulse/index.ts
  app/client/src/usagePulse/usagePulse.test.ts
Labels: Bug, ok-to-test

#38778 chore: Refactoring usage of `editorType` to `ideType` to remove code duplication
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceInfo.tsx
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/DatasourceTab/DatasourceTab.tsx
  app/client/src/ce/IDE/hooks/useParentEntityInfo.ts
  app/client/src/ce/actions/helpers.ts
  app/client/src/ce/entities/IDE/hooks/useCreateActionsPermissions.ts
  app/client/src/ce/hooks/datasourceEditorHooks.tsx
  app/client/src/ce/hooks/hooks.test.ts
  app/client/src/ce/hooks/index.ts
  app/client/src/ce/navigation/FocusSetters.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/ListItem.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/hooks.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/utils/getJSEntityItemUrl.test.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/utils/getJSEntityItemUrl.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/utils/getJSUrl.test.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/JS/utils/getJSUrl.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/ListItem.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/hooks.tsx
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/utils/getQueryEntityItemUrl.test.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/utils/getQueryEntityItemUrl.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/utils/getQueryUrl.test.ts
  app/client/src/ce/pages/Editor/IDE/EditorPane/Query/utils/getQueryUrl.ts
  app/client/src/ce/pages/Editor/gitSync/useReconnectModalData.ts
  app/client/src/ce/selectors/appIDESelectors.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/ce/utils/BusinessFeatures/permissionPageHelpers.tsx
  app/client/src/ce/utils/lintRulesHelpers.ts
  app/client/src/components/editorComponents/form/fields/DropdownWrapper.tsx
  app/client/src/ee/IDE/hooks/useParentEntityInfo.ts
  app/client/src/ee/entities/IDE/hooks/useCreateActionsPermissions.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/JS/utils.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/JS/utils/getJSEntityItemUrl.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/JS/utils/getJSUrl.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/Query/utils.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/Query/utils/getQueryEntityItemUrl.ts
  app/client/src/ee/pages/Editor/IDE/EditorPane/Query/utils/getQueryUrl.ts
  app/client/src/pages/Editor/CustomWidgetBuilder/useCustomBuilder.tsx
  app/client/src/pages/Editor/DataSourceEditor/DSFormHeader.tsx
  app/client/src/pages/Editor/DataSourceEditor/hooks.ts
  app/client/src/pages/Editor/DatasourceInfo/DatasourceStructure.tsx
  app/client/src/pages/Editor/DatasourceInfo/DatasourceViewModeSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/GoogleSheetSchema.tsx
  app/client/src/pages/Editor/DatasourceInfo/HideGeneratePageButton.test.tsx
  app/client/src/pages/Editor/Explorer/Actions/ActionEntity.tsx
  app/client/src/pages/Editor/Explorer/Files/index.tsx
  app/client/src/pages/Editor/Explorer/JSActions/JSActionEntity.tsx
  app/client/src/pages/Editor/IDE/EditorPane/JS/List.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/List.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/constants.ts
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.test.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/DBOrMostPopularPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceCard.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/plugins/Linting/constants.ts
  app/client/src/plugins/Linting/tests/generateLintingGlobalData.test.ts
  app/client/src/plugins/Linting/utils/getLintingErrors.ts
  app/client/src/sagas/IDESaga.tsx
  app/client/src/selectors/jsPaneSelectors.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38784 fix: Update ChartWidget fontFamily handling to respect system default
  app/client/src/widgets/ChartWidget/widget/index.test.ts
  app/client/src/widgets/ChartWidget/widget/index.tsx
Labels: Bug, Chart Widget, ok-to-test

#38795 fix: ds structure issue fixed for zendesk integration
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/DatasourceContextServiceCEImpl.java
Labels: Bug, Widgets Product, Low, Needs Triaging, Deploy Preview, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Widgets & Accelerators Pod, Integrations Pod, Query & Widgets Pod

#38806 chore: Removed setting of published theme while application import
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/imports/ApplicationImportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/base/ThemeServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/themes/importable/ThemeImportableServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
Labels: Task, skip-changelog, ok-to-test

#38756 chore: Remove style from editor and setting config
  app/client/src/PluginActionEditor/components/PluginActionForm/components/ActionForm/Zone/styles.module.css
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/FormRender.tsx
  app/client/src/PluginActionEditor/components/PluginActionSettings/SettingsPopover.tsx
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/components/formControls/DynamicInputTextControl.tsx
  app/client/src/components/formControls/DynamicTextFieldControl.tsx
  app/client/src/components/formControls/FieldArrayControl.tsx
  app/client/src/components/formControls/InputTextControl.tsx
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/GoogleSheetsSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/QuerySettingsConfig.ts
  app/client/test/factories/MockPluginsState.ts
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/editor/chat.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/editor/vision.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/form.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/setting.json
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38794 fix: when value of array is empty, no need for data type recalculation
  app/client/src/widgets/JSONFormWidget/schemaParser.test.ts
  app/client/src/widgets/JSONFormWidget/schemaParser.ts
Labels: Bug, Needs More Info, Widgets Product, Low, Production, Community Reported, Needs Triaging, JSON Form, ok-to-test, Widgets & Accelerators Pod

#38793 chore: merge updateActionData with an evaluation
  app/client/src/sagas/EvaluationsSaga.test.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/workers/Evaluation/fns/utils/TriggerEmitter.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/handlers/types.ts
  app/client/src/workers/Evaluation/handlers/updateActionData.ts
  app/client/src/workers/Evaluation/types.ts
  app/client/src/workers/common/DataTreeEvaluator/dataTreeEvaluator.test.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, ok-to-test

#38786 chore: Accept app mode param in fetch environment action
  app/client/src/ce/actions/environmentAction.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
Labels: skip-changelog, ok-to-test

#38788 feat: editable dismissible tab component
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTab.stories.tsx
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTab.styles.ts
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTab.tsx
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTab.types.ts
  app/client/packages/design-system/ads/src/DismissibleTab/constants.ts
  app/client/packages/design-system/ads/src/DismissibleTab/index.ts
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.tsx
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.types.ts
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/index.ts
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.styles.ts
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.tsx
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.types.ts
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/index.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/index.ts
  app/client/packages/design-system/ads/src/Templates/index.ts
  app/client/packages/design-system/ads/src/__hooks__/index.ts
  app/client/packages/design-system/ads/src/__hooks__/useEditableText/index.ts
  app/client/packages/design-system/ads/src/__hooks__/useEditableText/useEditableText.test.tsx
  app/client/packages/design-system/ads/src/__hooks__/useEditableText/useEditableText.ts
  app/client/packages/design-system/ads/src/__hooks__/useEditableText/utils.ts
  app/client/packages/design-system/ads/src/index.ts
Labels: Enhancement, IDE Product, Task, IDE Pod, ok-to-test

#38826 chore: remove deprecated feature flag for custom loading state in TableWidget
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: skip-changelog, Table Widget V2, ok-to-test

#38836 fix: Attempting fix of tenant deserialization error with forcing a serialUID to override the runtime value
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Tenant.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
Labels: Bug, ok-to-test

#38837 chore: Citations loading optimization
  app/client/packages/design-system/widgets/src/components/Button/src/Button.tsx
  app/client/packages/design-system/widgets/src/components/Button/src/types.ts
  app/client/packages/design-system/widgets/src/components/Button/stories/Button.stories.tsx
  app/client/packages/design-system/widgets/src/components/ComboBox/src/types.ts
  app/client/packages/design-system/widgets/src/components/Datepicker/src/DatepickerTrigger.tsx
  app/client/packages/design-system/widgets/src/components/Datepicker/src/types.ts
  app/client/packages/design-system/widgets/src/components/Datepicker/stories/Datepicker.stories.tsx
  app/client/packages/design-system/widgets/src/components/Icon/src/Icon.tsx
  app/client/packages/design-system/widgets/src/components/IconButton/stories/IconButton.stories.tsx
  app/client/packages/design-system/widgets/src/components/InlineButtons/src/types.ts
  app/client/packages/design-system/widgets/src/components/InlineButtons/stories/InlineButtons.stories.tsx
  app/client/packages/design-system/widgets/src/components/Input/src/types.ts
  app/client/packages/design-system/widgets/src/components/Modal/src/types.ts
  app/client/packages/design-system/widgets/src/components/Select/src/types.ts
  app/client/packages/design-system/widgets/src/components/Select/stories/Select.stories.tsx
  app/client/packages/design-system/widgets/src/components/Spinner/src/index.tsx
  app/client/packages/design-system/widgets/src/components/Spinner/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/TextArea/src/types.ts
  app/client/packages/design-system/widgets/src/components/TextField/src/types.ts
  app/client/packages/design-system/widgets/src/components/TimeField/src/types.ts
  app/client/packages/design-system/widgets/src/components/ToolbarButtons/src/types.ts
  app/client/packages/design-system/widgets/src/components/ToolbarButtons/stories/ToolbarButtons.stories.tsx
Labels: skip-changelog, ok-to-test

#38833 chore: Extracting out `showNudge` config from screen mode toggle component
  app/client/src/pages/Editor/IDE/EditorTabs/ScreenModeToggle.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/index.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38842 chore: Adding stack trace for errors in fetching tenant from redis to debug the root cause
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/TenantServiceCEImpl.java
Labels: skip-changelog

#38205 fix: Enhance error handling in ComputeTablePropertyControlV2 binding methods
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Derived_Column_Data_validation_spec.js
  app/client/packages/dsl/src/migrate/index.ts
  app/client/packages/dsl/src/migrate/migrations/090-migrate-table-widget-v2-validation-try-catch.ts
  app/client/packages/dsl/src/migrate/tests/DSLMigration.test.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/ValidationTryCatchDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/ValidationTryCatch.test.ts
  app/client/src/components/propertyControls/TableComputeValue.tsx
  app/client/src/widgets/TableWidgetV2/widget/reactTableUtils/transformDataPureFn.tsx
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Bug, Widgets Product, Production, Needs Triaging, Medium, Table Widget V2, Widgets & Accelerators Pod, Query & Widgets Pod

#38832 chore: Removing unused files & components
  app/client/src/actions/onboardingActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/uiReducers/explorerReducer.ts
  app/client/src/pages/Editor/Explorer/Common/EntityExplorerResizeHandler.tsx
  app/client/src/pages/Editor/Explorer/Common/components.tsx
  app/client/src/pages/Editor/Explorer/EntityExplorer.tsx
  app/client/src/pages/Editor/Explorer/Pages/index.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetGroup.tsx
  app/client/src/pages/Editor/Explorer/index.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.test.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/Statusbar.tsx
  app/client/src/pages/Editor/FirstTimeUserOnboarding/constants.ts
  app/client/src/pages/Editor/IDE/EditorPane/Pages/AddPageContextMenu.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Pages/PageContextMenu.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Pages/PageElement.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Pages/PagesSection.tsx
  app/client/src/pages/Editor/IDE/EditorPane/UI/List.test.tsx
  app/client/src/pages/Editor/IDE/Header/EditorTitle.tsx
  app/client/src/pages/Editor/WidgetsEditorEntityExplorer.tsx
  app/client/src/reducers/uiReducers/appSettingsPaneReducer.ts
  app/client/src/reducers/uiReducers/onBoardingReducer.ts
  app/client/src/sagas/OnboardingSagas.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38846 chore: reverting the git branches it
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/GitBranchesIT.java
Labels: skip-changelog

#38804 chore: code split for consolidated api span names to add module instances and entities in EE
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ConsolidatedApiSpanNames.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ConsolidatedApiSpanNamesCE.java
Labels: skip-changelog, ok-to-test

#38805 chore: git branches IT
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/operations/FileOperationsCEv2Impl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/constants/ce/GitConstantsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/dtos/ArtifactJsonTransformationDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/test/it/com/appsmith/server/git/GitBranchesITWithCentralService.java
Labels: skip-changelog, ok-to-test

#38847 fix: git merge button visibility on branch change after a successful merge
  app/client/src/git/components/OpsModal/TabMerge/TabMergeView.tsx
  app/client/src/git/components/OpsModal/TabMerge/index.tsx
  app/client/src/git/hooks/useMerge.ts
  app/client/src/git/store/actions/mergeActions.ts
  app/client/src/git/store/gitArtifactSlice.ts
Labels: Bug, Release, Needs Triaging, Git Product, Medium, DailyPromotionBlocker, ok-to-test, Packages & Git Pod

#38852 fix: Revert "fix: Enhance error handling in ComputeTablePropertyControlV2 binding methods (#38205)"
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/TableV2_Derived_Column_Data_validation_spec.js
  app/client/packages/dsl/src/migrate/index.ts
  app/client/packages/dsl/src/migrate/migrations/090-migrate-table-widget-v2-validation-try-catch.ts
  app/client/packages/dsl/src/migrate/tests/DSLMigration.test.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/DSLs/ValidationTryCatchDSLs.ts
  app/client/packages/dsl/src/migrate/tests/TableWidgetV2/ValidationTryCatch.test.ts
  app/client/src/components/propertyControls/TableComputeValue.tsx
  app/client/src/widgets/TableWidgetV2/widget/reactTableUtils/transformDataPureFn.tsx
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Bug, Table Widget V2, ok-to-test

#38857 fix: tabs behavior for anvil
  app/client/src/PluginActionEditor/components/PluginActionResponse/PluginActionResponse.tsx
  app/client/src/PluginActionEditor/components/PluginActionToolbar.tsx
  app/client/src/PluginActionEditor/store/pluginEditorReducer.ts
  app/client/src/ce/PluginActionEditor/hooks/useHandleRunClick.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
Labels: Bug, ok-to-test

#38859 chore: move the rts.conf code to shell file
  deploy/docker/fs/opt/appsmith/run-rts.sh
  deploy/docker/fs/opt/appsmith/templates/supervisord/application_process/rts.conf
Labels: skip-changelog, ok-to-test

#38858 fix: premium and soon datasource display condition changed
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/ContactForm.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/index.tsx
Labels: Bug, Widgets Product, Low, Production, Needs Triaging, Query & JS Pod, Integrations Product, Integrations Pod General, ok-to-test, Widgets & Accelerators Pod, Integrations Pod, Query & Widgets Pod

#38851 chore: make branchName a query param in consolidated api
  app/client/src/actions/pageActions.tsx
  app/client/src/api/services/ConsolidatedPageLoadApi/api.ts
  app/client/src/api/services/ConsolidatedPageLoadApi/types.ts
  app/client/src/api/services/ConsolidatedPageLoadApi/url.ts
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/utils/serviceWorkerUtils.test.ts
  app/client/src/ce/utils/serviceWorkerUtils.ts
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/sagas/InitSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ConsolidatedAPIController.java
Labels: skip-changelog, ok-to-test

#38861 chore: Fix mockdb query
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/EntityBottomBar_spec.ts
Labels: skip-changelog, ok-to-test

#38878 chore: Remove deprecated organization from code
  app/client/src/api/TemplatesApi.ts
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/sagas/BuildingBlockSagas/BuildingBlockAdditionSagas.ts
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/helpers/StopwatchHelpers.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/ce/GitExecutorCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/GitExecutor.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/handler/FSGitHandler.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Datasource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AclConstants.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/acl/AppsmithRole.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ApplicationTemplateControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/utils/GitAnalyticsUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationTemplateServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/WorkspaceServiceCEImpl.java
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
  app/server/appsmith-server/src/main/resources/examples-organization.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/controllers/ApplicationControllerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/GitFileUtilsTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-page-removed.json
Labels: skip-changelog, ok-to-test

#38881 chore: Add pending tests for side by side
  app/client/cypress/e2e/Regression/ClientSide/Debugger/JSObjects_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/IDE/Canvas_View_mode.ts
  app/client/cypress/support/Objects/CommonLocators.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/cypress/support/index.d.ts
  app/client/src/pages/Editor/IDE/EditorPane/JS/JSRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorPane/Query/QueryRender.test.tsx
  app/client/src/pages/Editor/IDE/EditorTabs/Editortabs.test.tsx
Labels: skip-changelog, ok-to-test

#38882 fix: Issue for enter with shift
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_RunValidations_spec.ts
Labels: Bug, ok-to-test

#38752 feat: allow persistent volume name to be overridden in the helm chart
  deploy/helm/Chart.yaml
  deploy/helm/templates/_helpers.tpl
  deploy/helm/templates/persistentVolume.yaml
  deploy/helm/templates/persistentVolumeClaim.yaml
  deploy/helm/values.yaml
Labels: Enhancement

#38798 fix: App card routing
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/support/WorkspaceCommands.js
  app/client/src/pages/Applications/ApplicationCard.tsx
  app/client/src/pages/Editor/AppsmithLink.tsx
Labels: Bug, ok-to-test

#38799 chore: Add IDE Tabs state in Focus Retention
  app/client/src/actions/ideActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/navigation/FocusElements/AppIDE.ts
  app/client/src/ce/navigation/FocusElements/NoIDE.ts
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.test.ts
  app/client/src/ce/navigation/FocusStrategy/AppIDEFocusStrategy.ts
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/components/editorComponents/GlobalSearch/useRecentEntities.tsx
  app/client/src/components/editorComponents/GlobalSearch/utils.tsx
  app/client/src/navigation/FocusEntity.test.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/pages/Editor/IDE/hooks.test.tsx
  app/client/src/pages/Editor/IDE/hooks.ts
  app/client/src/pages/Editor/utils.tsx
  app/client/src/reducers/uiReducers/ideReducer.ts
  app/client/src/sagas/FocusRetentionSaga.ts
  app/client/src/sagas/TernSaga.ts
  app/client/src/sagas/editorContextSagas.ts
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38887 fix: Avoid canvas tooltip unmount
  app/client/src/pages/Editor/WidgetsEditor/components/CodeModeTooltip.tsx
Labels: Bug, Performance Pod, Low, Production, IDE Product, IDE Pod, IDE Navigation, Performance, ok-to-test

#38827 chore: git pkg - adding baseIds in package based urls
  app/client/src/ce/constants/ModuleConstants.ts
  app/client/src/ce/constants/PackageConstants.ts
  app/client/src/navigation/FocusEntity.ts
Labels: Git Product, Task, skip-changelog, ok-to-test, Packages & Git Pod

#38884 fix: Fix for url redirection
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/ApplicationURL_spec.js
  app/client/cypress/tags.js
Labels: Bug, ok-to-test

#38855 feat: scrollable tabs list
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTab.tsx
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTabBar.stories.tsx
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTabBar.styles.ts
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTabBar.tsx
  app/client/packages/design-system/ads/src/DismissibleTab/DismissibleTabBar.types.ts
  app/client/packages/design-system/ads/src/DismissibleTab/index.ts
  app/client/packages/design-system/ads/src/ScrollArea/ScrollArea.tsx
Labels: Enhancement, IDE Product, Task, IDE Pod, ok-to-test

#38856 feat: Add configurable field limit to JSONFormWidget
  app/client/src/widgets/JSONFormWidget/component/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/helper.test.ts
  app/client/src/widgets/JSONFormWidget/widget/helper.ts
  app/client/src/widgets/JSONFormWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/widget/propertyConfig.ts
Labels: Enhancement, Widgets Product, JSON Form, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#38888 chore: skipping cases for mockdb usage
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bug26716_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DS_Bug28750_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/DatasourceSchema_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Debugger/Widget_property_navigation_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/MobileResponsiveTests/ConversionFlow_Generated_App_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OneClickBinding/PropertyControl_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/OtherUIFeatures/EntityBottomBar_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad_cyclic_dependency_errors_spec.js
  app/client/cypress/e2e/Sanity/Datasources/MockDBs_Spec.ts
  app/client/cypress/e2e/Sanity/Datasources/Styles_spec.js
  app/client/cypress/e2e/Smoke/GenerateCRUD/Generate_Crud_New_Page_spec.ts
Labels: skip-changelog, ok-to-test

#38900 fix: action creator zendesk actions not shown fixed
  app/client/src/PluginActionEditor/components/PluginActionResponse/components/Response/utils/getErrorFromActionResponse.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
Labels: Bug, Widgets Product, Task, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#38873 chore: add etag in consolidated api controller
  app/client/craco.build.config.js
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/src/serviceWorker.ts
  app/client/start-https.sh
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/ConsolidatedApiSpanNamesCE.java
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ConsolidatedAPIController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ConsolidatedAPIServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce_compatible/ConsolidatedAPIServiceCECompatibleImpl.java
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, ok-to-test

#38896 test: Editor tests for renaming, copying, moving, and deleting APIs
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_Additional_Tests_spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/PageList.ts
Labels: skip-changelog, ok-to-test, Test

#38927 chore: add AI related env variables to dps
  .github/workflows/on-demand-build-docker-image-deploy-preview.yml
  scripts/deploy_preview.sh
Labels: skip-changelog

#38522 test: Admin setting new test cases with email
  app/client/cypress/e2e/Regression/ClientSide/AdminSettings/Email_settings_Spec.ts
  app/client/cypress/locators/AdminsSettings.js
  app/client/cypress/locators/SignupPage.json
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/cypress/support/Pages/HomePage.ts
  app/client/cypress/tags.js
Labels: skip-changelog, ok-to-test, Test

#38910 chore: added buckets for 2s, 5s, 10s and 20s to be measured on grafana
  app/server/appsmith-server/src/main/resources/application.properties
Labels: skip-changelog, ok-to-test

#38912 chore: Refactor code for seat based sign up check.
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#38893 chore: Function Render of State Inspector
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/Analytics.ts
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/PeekOverlayPopup.tsx
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/constants.ts
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/styles.ts
  app/client/src/components/editorComponents/CodeEditor/PeekOverlayPopup/utils.ts
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/StateInspector.test.tsx
  app/client/src/components/editorComponents/Debugger/StateInspector/StateInspector.tsx
  app/client/src/components/editorComponents/JSONViewer/JSONViewer.tsx
  app/client/src/components/editorComponents/JSONViewer/constants.ts
  app/client/src/components/editorComponents/JSONViewer/index.ts
  app/client/src/components/editorComponents/JSONViewer/styles.ts
  app/client/src/components/editorComponents/JSONViewer/types.ts
Labels: Debugger Product, skip-changelog, IDE Pod, ok-to-test

#38686 feat: select widget grouping
  app/client/packages/design-system/ads/src/Select/Select.tsx
  app/client/packages/design-system/ads/src/Select/Select.types.ts
  app/client/packages/design-system/ads/src/Select/styles.css
  app/client/src/components/formControls/DropDownControl.test.tsx
  app/client/src/components/formControls/DropDownControl.tsx
Labels: Enhancement, Frontend, Task, Anvil Pod, Workflows Pod, Workflows Product, ok-to-test

#38931 chore: Updating analytics events to use workspaceId instead of orgId
  app/client/src/actions/pageActions.tsx
  app/client/src/ce/pages/workspace/InviteUsersForm.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/PostEvaluationSagas.ts
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/base/ApplicationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/base/ArtifactServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/utils/GitAnalyticsUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/DatasourceAnalyticsUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MockDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
Labels: skip-changelog, ok-to-test

#38885 chore: Extracting out common logic between two ADS components to move it to one
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.tsx
  app/client/packages/design-system/ads/src/Templates/EditableDismissibleTab/EditableDismissibleTab.types.ts
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.stories.tsx
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.styles.ts
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.tsx
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.styles.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/src/pages/Editor/IDE/LeftPane/DataSidePane.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#38939 chore: convert consolidated api etag to a weak one
  app/client/start-https.sh
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ConsolidatedAPIServiceCEImpl.java
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, ok-to-test

#38818 fix: added configurable connection pool support for mssql
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/test/java/com/external/plugins/MssqlTestDBContainerManager.java
Labels: Bug, Stale, ok-to-test
