Repository appsmithorg/appsmith, pull requests merged in 2025-04, with the labels that each got.

#39992 chore: Add code-split for hydrating the latest tag during git import
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#39988 chore: add feature flag to the git reset optimisation
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/handler/FSGitHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CommonGitFileUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitDiscardTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/resourcemap/ExchangeJsonConversionTests.java
Labels: skip-changelog, ok-to-test

#40005 fix: fixed smtp code to add starttls disabled if credentials are not provided
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com/external/plugins/SmtpPlugin.java
  app/server/appsmith-plugins/smtpPlugin/src/test/java/com/external/plugins/SmtpPluginTest.java
Labels: Bug, Needs Triaging, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query & Widgets Pod, Unplanned Work - Q&W

#39939 feat: implement disabled functionality in the property pane section and control
  app/client/src/components/propertyControls/CodeEditorControl.tsx
  app/client/src/components/propertyControls/InputTextControl.tsx
  app/client/src/components/propertyControls/TableCustomSortControl.tsx
  app/client/src/constants/PropertyControlConstants.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.test.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyControlsGenerator.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneContexts.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.test.tsx
  app/client/src/pages/Editor/PropertyPane/PropertySection.tsx
Labels: Enhancement, Property Pane, Widgets Product, UI Building Product, Table Widget V2, ok-to-test, Query & Widgets Pod, Unplanned Work - Q&W

#40017 fix: login domain redirect blocking to application
  app/client/src/ce/selectors/organizationSelectors.tsx
  app/client/src/ce/utils/signupHelpers.ts
  app/client/src/pages/setup/SignupSuccess.tsx
Labels: Bug, ok-to-test

#40024 chore: Updating session utils file for server side handling
  app/client/src/utils/SessionUtils.ts
Labels: skip-changelog

#39982 fix: handles premium integrations based on release and license flags
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/pages/Editor/DataSidePane/DataSidePane.tsx
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/EmptySearchedPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/index.tsx
Labels: Bug, Task, ok-to-test, Query & Widgets Pod, Unplanned Work - Q&W

#39942 feat: added global logout feature
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelector_JsToNonJSMode_4_spec.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/index.d.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/sagas/ActionExecution/ActionExecutionSagas.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/ce/utils/autocomplete/EntityDefinitions.ts
  app/client/src/components/editorComponents/ActionCreator/FieldGroup/FieldGroupConfig.test.ts
  app/client/src/components/editorComponents/ActionCreator/FieldGroup/FieldGroupConfig.ts
  app/client/src/components/editorComponents/ActionCreator/constants.ts
  app/client/src/components/editorComponents/ActionCreator/utils.ts
  app/client/src/components/editorComponents/ActionCreator/viewComponents/ActionBlockTree/utils.tsx
  app/client/src/workers/Evaluation/fns/index.ts
  app/client/src/workers/Evaluation/fns/logout.ts
Labels: Enhancement, ok-to-test

#39703 chore: added caching layer for table widget data
  app/client/src/widgets/TableWidgetV2/component/Table.tsx
  app/client/src/widgets/TableWidgetV2/component/TableContext.test.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/BaseVirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteVirtualization.test.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteVirtualization.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/Actions.test.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/component/types.ts
  app/client/src/widgets/TableWidgetV2/constants.ts
  app/client/src/widgets/TableWidgetV2/widget/__tests__/TableRendered.test.ts
  app/client/src/widgets/TableWidgetV2/widget/__tests__/derived.test/getProcessedTableData.test.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Widgets Product, Task, skip-changelog, Table Widget V2, ok-to-test, Widgets & Accelerators Pod, Query & Widgets Pod

#39961 chore: UI package main pane relevant ce changes
  app/client/src/ce/IDE/Interfaces/IDETypes.ts
  app/client/src/ce/IDE/constants/routes.ts
  app/client/src/ce/pages/Editor/Explorer/helpers.tsx
  app/client/src/ce/sagas/NavigationSagas.ts
  app/client/src/ce/sagas/moduleInterfaceSagas.ts
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/sagas/WidgetDeletionSagas.ts
  app/client/src/sagas/WidgetSelectionSagas.ts
  app/client/src/utils/canvasStructureHelpers.ts
  app/client/src/widgets/BaseWidget.tsx
Labels: skip-changelog, ok-to-test

#40031 chore: Removes highlighting from JSEditor
  app/client/src/pages/Editor/JSEditor/Form.tsx
Labels: skip-changelog

#40020 feat: disable table features when infinite scroll is enabled
  app/client/src/widgets/TableWidgetV2/component/cellComponents/HeaderCell.tsx
  app/client/src/widgets/TableWidgetV2/widget/__tests__/propertyUtils.test.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/__tests__/contentConfig.test.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyUtils.ts
Labels: Enhancement, Widgets Product, Task, Table Widget V2, ok-to-test, Query & Widgets Pod

#40037 fix: WDS neutral foregrounds
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: Bug, ok-to-test

#40040 chore: Showing admin setting categories based on feature flags
  app/client/src/ce/pages/AdminSettings/config/index.ts
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/pages/AdminSettings/LeftPane.tsx
  app/client/src/utils/dayJsUtils.ts
Labels: skip-changelog, ok-to-test

#39912 chore: Removing feature flag for app IDE new entity explorer
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/AppIDE/components/JSListItem/old/ListItem.tsx
  app/client/src/ce/pages/AppIDE/components/QueryEntityItem/old/ListItem.tsx
  app/client/src/ee/pages/AppIDE/components/JSListItem/old/ListItem.tsx
  app/client/src/ee/pages/AppIDE/components/QueryEntityItem/old/ListItem.tsx
  app/client/src/pages/AppIDE/components/JSExplorer/JSSegmentList.tsx
  app/client/src/pages/AppIDE/components/PageList/ContextMenu/OldPageContextMenu.tsx
  app/client/src/pages/AppIDE/components/PageList/OldPageEntity.tsx
  app/client/src/pages/AppIDE/components/PageList/PageList.tsx
  app/client/src/pages/AppIDE/components/QueryExplorer/QuerySegmentList.tsx
  app/client/src/pages/AppIDE/components/UIList/UIList.test.tsx
  app/client/src/pages/AppIDE/components/UIList/UIList.tsx
  app/client/src/pages/AppIDE/layouts/routers/JSEditor/JSRender.test.tsx
  app/client/src/pages/AppIDE/layouts/routers/QueryEditor/QueryRender.test.tsx
  app/client/src/pages/Editor/Explorer/Widgets/OldWidgetEntityList.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetContextMenu.tsx
  app/client/src/pages/Editor/Explorer/Widgets/WidgetEntity.tsx
  app/client/test/testUtils.tsx
Labels: IDE Product, Task, skip-changelog, IDE Pod, ok-to-test

#40052 chore: remove title in Sidebar
  app/client/packages/design-system/widgets/src/components/Sidebar/src/Sidebar.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/SidebarContent.tsx
  app/client/packages/design-system/widgets/src/components/Sidebar/src/types.ts
  app/client/packages/design-system/widgets/src/components/Sidebar/stories/Sidebar.stories.tsx
Labels: skip-changelog, ok-to-test

#40039 chore: Insert orgId in context for server internal flows
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/FeatureFlagMigrationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/InstanceConfigHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTask.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/PingScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ScheduledTaskImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/EnvManagerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/PingScheduledTaskCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ScheduledTaskCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ScheduledTaskCEImpl.java
Labels: skip-changelog, ok-to-test

#40046 chore: Minor refactor for sign up workspace create flow.
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/AuthenticationSuccessHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationSuccessHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/UserSignupHelper.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserSignupHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#40061 chore: update markdown styles
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
Labels: skip-changelog, ok-to-test

#40021 chore: removed klona completely in setupUpdateTree
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
Labels: skip-changelog, ok-to-test

#40067 chore: Adding cleanup for a query param post successful session transfer
  app/client/src/utils/SessionUtils.ts
Labels: skip-changelog

#40069 chore: Update WDS md img and sidebar width
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Sidebar/src/styles.module.css
Labels: skip-changelog

#40070 fix: Type features leak in WDS
  app/client/packages/design-system/theming/src/theme/src/ThemeProvider.tsx
Labels: Bug, Task, Anvil Pod, ok-to-test, AI Agents

#40050 feat: implement infinite scroll hook
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/InfiniteScrollVariableHeightRows_spec.ts
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteScroll.tsx
Labels: Enhancement, ok-to-test

#40064 chore: add HTTP/3 support
  deploy/docker/fs/opt/appsmith/caddy-reconfigure.mjs
Labels: skip-changelog, ok-to-test

#40076 chore: Update CustomCookieWebSessionIdResolverCE.java to not require secure sites for lax cookies
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/ce/CustomCookieWebSessionIdResolverCE.java
Labels: skip-changelog

#40075 fix: First time user experience for org admin
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/UserSignupHelperCE.java
Labels: Bug, ok-to-test

#40071 fix: on adding redirectUrl to the logout function, the url was not encoded
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/ActionSelector_JsToNonJSMode_4_spec.ts
  app/client/src/ce/sagas/userSagas.tsx
Labels: Bug, Widgets Product, High, Production, Needs Triaging, Widget Property, ok-to-test, Query Widgets & IDE Pod

#40073 feat: Remove email verification setting for Multi organization flow
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/src/ce/pages/AdminSettings/config/authentication.tsx
  app/client/src/ce/utils/planHelpers.ts
  app/client/src/pages/AdminSettings/config/email.ts
Labels: Enhancement, ok-to-test

#40079 chore: Adding handling for empty environment variable for SSO configuration
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/oauth2/OAuth2PropertiesCustomizer.java
Labels: skip-changelog

#40078 chore: Split TC call changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/actioncollections/base/ActionCollectionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ActionCollectionServiceImplTest.java
Labels: skip-changelog

#40057 feat: add project estimation issue template
  .github/ISSUE_TEMPLATE/--project-estimation.yaml
Labels: Enhancement

#40080 chore: Adding handling for empty environment variable for SSO configu…
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/oauth2/OAuth2PropertiesCustomizer.java
Labels: ok-to-test

#40083 chore: update props passed in RAG doc selector props
  app/client/src/utils/formControl/FormControlRegistry.tsx
Labels: skip-changelog

#40084 chore: Adjust WDS typography (add letter-spacing to text)
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Heading.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Text/src/Text.tsx
  app/client/packages/design-system/widgets/src/components/Text/src/styles.module.css
Labels: Task, skip-changelog, Anvil Pod, ok-to-test, AI Agents

#40088 chore: Adjust default Anvil/WDS border radius
  app/client/packages/design-system/theming/src/token/src/defaultTokens.json
  app/client/packages/storybook/src/components/ThemeSettings.tsx
  app/client/src/constants/AppConstants.ts
  app/client/src/pages/Editor/WDSThemePropertyPane/constants.ts
Labels: Task, skip-changelog, Anvil Pod, ok-to-test, AI Agents

#40095 chore: remove auth subtitle for agents
  app/client/src/pages/UserAuth/SignUp.tsx
Labels: skip-changelog

#40094 chore: Improvide codeblock in WDS Markdown
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Code.tsx
Labels: skip-changelog, WDS team, ok-to-test

#40096 chore: Add custom System Instructions control
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/sparkling-filled.svg
  app/client/src/components/formControls/AIChatSystemInstructionsControl.tsx
  app/client/src/components/formControls/FormTemplateControl.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigForm.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingEmpty.tsx
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
Labels: skip-changelog

#40098 chore: Adding postfix prop to input field used on admin settings
  app/client/src/ce/pages/AdminSettings/config/index.ts
  app/client/src/ce/pages/AdminSettings/config/types.ts
  app/client/src/components/utils/ReduxFormTextField.tsx
  app/client/src/pages/AdminSettings/FormGroup/TextInput.tsx
  app/client/src/pages/AdminSettings/FormGroup/group.tsx
Labels: skip-changelog, ok-to-test

#40103 chore: Update Anvil border radius test
  app/client/cypress/e2e/Regression/ClientSide/Anvil/AppTheming/AnvilAppThemingSnapshot_spec.ts
Labels: skip-changelog, ok-to-test

#40104 chore: Remove dirty check dots from Entity Item and Tab
  app/client/src/pages/AppIDE/components/JSEntityItem/JSEntityItem.tsx
  app/client/src/pages/AppIDE/components/QueryEntityItem/QueryEntityItem.tsx
  app/client/src/pages/AppIDE/layouts/components/EditorTabs/EditableTab.tsx
Labels: skip-changelog

#40105 fix: Added documentation around execute methods
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/plugins/PluginExecutor.java
Labels: Bug

#40134 chore: Remove JS Visualisation
  app/client/src/components/editorComponents/JSResponseView.tsx
Labels: skip-changelog

#40136 chore: On signup with email, new app should open carbon modal open
  app/client/src/pages/UserAuth/VerifyUser.tsx
Labels: skip-changelog

#40137 chore: Update the AI chat Query controls
  app/client/src/PluginActionEditor/components/PluginActionForm/components/ActionForm/Zone/index.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/FormRender.tsx
  app/client/src/components/formControls/AIChatSystemInstructionsControl.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigForm.tsx
Labels: skip-changelog

#40139 chore: Update function calling add menu
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigForm.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingMenuField.tsx
Labels: skip-changelog

#40143 chore: polish items
  app/client/packages/design-system/ads/src/Badge/Badge.styles.tsx
  app/client/packages/design-system/ads/src/Badge/Badge.types.ts
  app/client/src/pages/UserAuth/LeftSideContent.tsx
Labels: skip-changelog

#40144 fix: Updating styles for invite modal to fix UI issue
  app/client/src/ce/pages/workspace/InviteUsersForm.tsx
Labels: Bug, Admin Settings Product, Low, Production, Needs Triaging, Platform Administration Pod, ok-to-test

#40145 chore: Update documentation link for agents
  app/client/src/pages/Editor/HelpButton.tsx
Labels: skip-changelog

#40151 chore: Hiding the embedding restricted field in share modal for cloud billing
  app/client/src/ce/pages/Applications/EmbedSnippetTab.tsx
Labels: skip-changelog, ok-to-test

#40152 chore: update documenation links for agents
  app/client/src/constants/ThirdPartyConstants.tsx
  app/client/src/pages/Editor/HelpButton.tsx
  app/client/src/pages/common/SearchBar/HomepageHeaderAction.tsx
Labels: skip-changelog

#40150 fix: Blocking disconnection of the only connected auth method in admin settings
  app/client/cypress/e2e/Regression/ClientSide/FormLogin/EnableFormLogin_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Google/EnableGoogle_spec.js
  app/client/src/ce/utils/adminSettingsHelpers.ts
  app/client/src/pages/AdminSettings/SettingsForm.tsx
Labels: Bug, ok-to-test

#40154 chore: Enable the form login by default
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/OrganizationConfigurationCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/OrganizationServiceCETest.java
Labels: skip-changelog, ok-to-test

#40156 chore: Updating upgrade link for cloud billing
  app/client/src/ce/selectors/rampSelectors.tsx
  app/client/src/utils/hooks/useOnUpgrade.ts
Labels: skip-changelog, ok-to-test

#40158 chore: fix chat widget height issue
  app/client/src/pages/AppViewer/index.tsx
Labels: skip-changelog

#40166 chore: Add additional chat option
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigForm.tsx
  app/client/src/ee/actions/aiAgentActions.ts
  app/client/src/pages/Editor/EditorName/useNavigationMenuData.ts
  app/client/src/pages/Editor/HelpButton.tsx
Labels: skip-changelog

#40165 chore: Removing user repo fetches only by email
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/UserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/SessionUserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/UserAndAccessManagementServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/UserAndAccessManagementServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce_compatible/UserAndAccessManagementServiceCECompatibleImpl.java
Labels: skip-changelog, ok-to-test

#40170 chore: log evaluation error logs and push execption to sentry
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
Labels: skip-changelog, ok-to-test

#40168 feat: Add isWithinAnOrganization state to organization reducer
  app/client/src/ce/reducers/organizationReducer.ts
Labels: Enhancement, ok-to-test

#40175 chore: move ai chat from help to bottom bar
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/ai-chat.svg
  app/client/src/ce/components/BottomBar/AIAgentSupportTrigger.tsx
  app/client/src/components/BottomBar/index.tsx
  app/client/src/ee/components/BottomBar/AIAgentSupportTrigger.tsx
  app/client/src/pages/Editor/EditorName/useNavigationMenuData.ts
  app/client/src/pages/Editor/HelpButton.tsx
Labels: skip-changelog

#40179 chore: Add chrome extension link in embed
  app/client/src/ce/pages/Applications/ChromeExtensionBanner.tsx
  app/client/src/ce/pages/Applications/EmbedSnippetTab.tsx
  app/client/src/components/formControls/FunctionCallingConfigControl/components/FunctionCallingConfigForm.tsx
  app/client/src/ee/pages/Applications/ChromeExtensionBanner.tsx
  app/client/src/pages/UserAuth/LeftSideContent.tsx
Labels: skip-changelog

#40180 chore: Update AI agent tag to preview
  app/client/src/ce/pages/Applications/index.tsx
Labels: skip-changelog

#40181 chore: add messages for chrome extension banner
  app/client/src/ce/constants/messages.ts
Labels: skip-changelog

#40132 fix: added cypress test for basic infinite table scroll
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Table_InfiniteScroll_spec.ts
  app/client/cypress/support/Pages/Table.ts
Labels: Bug, Task, ok-to-test, Query Widgets & IDE Pod

#40185 chore: Adding AI agent feature flag check for audit logs upgrade page
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AdminSettings/config/auditlogs.ts
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
Labels: skip-changelog, ok-to-test

#40102 feat: Optimize Infinite Scroll Implementation in Table Widget
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/BaseVirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteScroll.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
Labels: Table Widget V2, ok-to-test, Query Widgets & IDE Pod, Query & Widgets

#40163 chore: fixes issue with disabled branch button
  app/client/src/git/sagas/triggerAutocommitSaga.ts
Labels: Bug, skip-changelog, ok-to-test

#40198 chore: add unique index on organization slug in MongoDB
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/Organization.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration073_AddUniqueIndexOnOrganizationSlug.java
Labels: skip-changelog

#40206 chore: bug fixes agents
  app/client/src/ce/pages/Applications/EmbedSnippetTab.tsx
  app/client/src/pages/Editor/EditorName/useNavigationMenuData.ts
  app/client/src/pages/Editor/HelpButton.tsx
  app/client/src/widgets/wds/WDSSelectWidget/widget/derived.js
  app/client/src/widgets/wds/WDSSelectWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSSelectWidget/widget/parseDerivedProperties.ts
Labels: skip-changelog

#40108 chore: added approved messages
  app/client/src/ce/constants/approvedErrorMessages.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/ee/constants/approvedErrorMessages.ts
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/UserAuth/VerificationError.tsx
Labels: skip-changelog, ok-to-test

#40209 refactor: update terminology for new row options in select widget
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/columnTypes/Select1_spec.ts
  app/client/src/widgets/TableWidgetV2/widget/__tests__/utilities.test.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/PanelConfig/Select.ts
Labels: Table Widget V2, ok-to-test, Query Widgets & IDE Pod

#40066 feat: reset table when infinite scroll is turned on
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/InfiniteScrollVariableHeightRows_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Table_InfiniteScroll_spec.ts
  app/client/cypress/support/Pages/Table.ts
  app/client/src/pages/Editor/PropertyPane/PropertyControl.tsx
  app/client/src/widgets/TableWidgetV2/component/TableBodyCoreComponents/VirtualList.test.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/BaseVirtualList.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteScroll.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Enhancement, Widgets Product, Task, Table Widget V2, ok-to-test, Query Widgets & IDE Pod

#40211 chore: Add `organizationId` in MDC logs to ease debugging in multi-org setup
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/MDCFilter.java
  app/server/appsmith-server/src/main/resources/application-ce.properties
Labels: skip-changelog, ok-to-test

#40196 refactor: restructure .cursor directory for improved organization and clarity
  .cursor/README.md
  .cursor/docs/README.md
  .cursor/docs/guides/performance.md
  .cursor/docs/guides/testing.md
  .cursor/docs/guides/verification.md
  .cursor/docs/practices/react-hooks.md
  .cursor/docs/references/codebase-map.md
  .cursor/docs/references/technical-details.md
  .cursor/docs/references/testing-reference.md
  .cursor/hooks/README.md
  .cursor/hooks/scripts/auto-update-docs.mdc
  .cursor/hooks/scripts/update-docs.sh
  .cursor/incremental_learning.json
  .cursor/index.mdc
  .cursor/rules.json
  .cursor/rules/README.md
  .cursor/rules/commit/semantic-pr-validator.mdc
  .cursor/rules/commit/semantic-pr.md
  .cursor/rules/index.md
  .cursor/rules/index.mdc
  .cursor/rules/quality/performance-optimizer.mdc
  .cursor/rules/quality/pre-commit-checks.mdc
  .cursor/rules/quality/react-hook-best-practices.mdc
  .cursor/rules/testing/test-generator.mdc
  .cursor/rules/verification/bug-fix-verifier.mdc
  .cursor/rules/verification/feature-implementation-validator.mdc
  .cursor/rules/verification/feature-verifier.mdc
  .cursor/rules/verification/workflow-validator.mdc
  .cursor/settings.json
Labels: ok-to-test

#40215 fix: added null checks for accessing published actionDTO before export
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/RefAwareDomain.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
Labels: Bug, ok-to-test

#40133 fix: API editor query parameters not auto-updating URL
  app/client/src/components/formControls/CustomActionsConfigControl/index.tsx
  app/client/src/sagas/ApiPaneSagas.ts
Labels: Bug, Needs Triaging, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40222 chore: Load segment lib without dynamic import
  app/client/src/utils/Analytics/segment.ts
Labels: skip-changelog

#40223 feat: add CodeBlock component for syntax highlighting
  app/client/packages/design-system/widgets/src/components/CodeBlock/index.ts
  app/client/packages/design-system/widgets/src/components/CodeBlock/src/CodeBlock.tsx
  app/client/packages/design-system/widgets/src/components/CodeBlock/src/index.ts
  app/client/packages/design-system/widgets/src/components/CodeBlock/stories/CodeBlock.stories.tsx
  app/client/packages/design-system/widgets/src/index.ts
Labels: Enhancement, ok-to-test

#40232 chore: CE changes for updates on import-export-na
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/exports/ApplicationExportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/exportable/ExportableServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/ExportServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exports/internal/artifactbased/ArtifactBasedExportServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/importable/NewActionImportableServiceCEImpl.java
Labels: skip-changelog

#40230 chore: Adjust agent chat code elements
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/widgets/src/components/CodeBlock/src/CodeBlock.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/mdComponents/Code.tsx
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
  app/client/packages/design-system/widgets/src/components/Sidebar/src/constants.ts
Labels: Task, skip-changelog, Anvil Pod, ok-to-test, AI Agents

#40214 chore: Enable templates for agents
  app/client/src/pages/Templates/TemplateContent/index.tsx
  app/client/src/pages/Templates/TemplateFilters/TemplateFilter.test.tsx
  app/client/src/selectors/templatesSelectors.tsx
Labels: skip-changelog, ok-to-test

#40246 chore: update embed snippet tab
  app/client/src/ce/pages/Applications/EmbedSnippetTab.tsx
Labels: skip-changelog

#40248 chore: fix sidebar animation
  app/client/packages/design-system/widgets/src/components/Sidebar/src/styles.module.css
Labels: Task, skip-changelog, Anvil Pod, AI Agents

#40252 fix: Flaky organization service test by adding unique slug while org creation
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/OrganizationServiceCETest.java
Labels: Bug

#40262 fix: Bad mixpanel config arising from env
  app/client/src/ce/configs/index.ts
Labels: Bug, ok-to-test

#40260 chore: Adjust nested paddings in markdown
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
Labels: skip-changelog, ok-to-test

#40257 chore: removed last klona
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/Evaluation/__tests__/generateOpimisedUpdates.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/helpers.test.ts
  app/client/src/workers/Evaluation/helpers.ts
Labels: skip-changelog, ok-to-test

#40270 chore: replaced Sentry with faro
  app/client/src/sagas/EvalErrorHandler.ts
Labels: skip-changelog

#40226 chore: Add code-split for widget refactoring in UI module
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/LayoutContainer.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/PageDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/refactors/PageLayoutRefactoringServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/ContextLayoutRefactoringService.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/applications/RefactoringServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/resolver/ContextLayoutRefactorResolver.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/resolver/ContextLayoutRefactorResolverCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactoringServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/refactors/ce/RefactoringServiceCEImplTest.java
Labels: skip-changelog, ok-to-test

#40273 fix: Adjust markdown lists margin
  app/client/packages/design-system/widgets/src/components/Markdown/src/styles.module.css
Labels: Bug, ok-to-test

#40266 chore: Update embed tab to hide private embed settings
  app/client/src/ce/pages/Applications/EmbedSnippetTab.tsx
  app/client/src/pages/Applications/EmbedSnippet/PrivateEmbeddingContent.tsx
Labels: skip-changelog, ok-to-test

#40256 feat(server): Enable upcoming integrations endpoint
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/PluginController.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/PluginControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/base/PluginServiceImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/PluginServiceCEImplTest.java
Labels: ok-to-test

#40264 fix: Avoid having mismatched data in Plugin Action form
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/UQIEditorForm.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/hooks/useFormData.ts
Labels: Bug, High, Release, Needs Triaging, Anvil Pod, ok-to-test, AI Agents

#40286 chore: filter out AI Datasource during import
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/sagas/TemplatesSagas.ts
Labels: skip-changelog, ok-to-test

#40285 chore: fix issues in eval error logs sent to faro
  app/client/src/instrumentation/index.ts
  app/client/src/instrumentation/sendFaroErrors.ts
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/helper.ts
  app/client/src/sagas/types.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/helpers.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DependencyMap/utils.ts
Labels: skip-changelog, ok-to-test

#40304 chore: Disable default fallback when the form login enabled is null for org config
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/OrganizationConfigurationCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/OrganizationServiceCETest.java
Labels: skip-changelog, ok-to-test

#40297 chore: Adjust WDS fg negative
  app/client/packages/design-system/theming/src/color/src/DarkModeTheme.ts
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/DarkModeTheme.test.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: Task, skip-changelog, Anvil Pod, ok-to-test, AI Agents

#40310 chore: Remove AI datasource creation options
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
Labels: skip-changelog, ok-to-test

#40312 chore: Remove Navigation Settings in AI apps
  app/client/src/pages/AppIDE/components/AppSettings/AppSettings.tsx
Labels: skip-changelog, ok-to-test

#40271 feat: Remove hardcoding of upcoming integrations from client codebase #40047
  app/client/src/actions/pluginActions.ts
  app/client/src/api/PluginApi.ts
  app/client/src/api/__tests__/PluginApi.test.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/entities/Engine/actionHelpers.ts
  app/client/src/ce/pages/Applications/CreateNewAppsOption.test.tsx
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/entities/Plugin/index.ts
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/EmptySearchedPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/Constants.ts
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/index.tsx
  app/client/src/reducers/entityReducers/pluginsReducer.ts
  app/client/src/sagas/PluginSagas.ts
Labels: Enhancement, Task, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40243 chore: Refactor widget rename saga to extend for packages
  app/client/src/api/PageApi.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/store.ts
Labels: Frontend, Task, skip-changelog, Packages Pod, ok-to-test, Packages & Git Pod

#40300 chore: Changes to support fixes in UI packages
  app/client/src/ce/sagas/moduleInterfaceSagas.ts
  app/client/src/ce/selectors/modulesSelector.ts
  app/client/src/pages/AppIDE/components/WidgetAdd/WidgetsList.tsx
  app/client/src/pages/Editor/PropertyPane/ConnectDataCTA.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
  app/client/src/pages/Editor/widgetSidebar/tests/UIEntitySidebar.test.tsx
  app/client/src/sagas/ReplaySaga.ts
Labels: skip-changelog, ok-to-test

#40301 chore: add dsl version validation for app computation cache
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/sagas/EvaluationsSaga.test.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/Evaluation/__tests__/evaluation.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.test.ts
  app/client/src/workers/common/AppComputationCache/AppComputationCache.test.ts
  app/client/src/workers/common/AppComputationCache/index.ts
  app/client/src/workers/common/AppComputationCache/types.ts
  app/client/src/workers/common/DataTreeEvaluator/dataTreeEvaluator.test.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DependencyMap/index.ts
Labels: skip-changelog, ok-to-test

#40322 fix: Updating the UX for hidden pages
  app/client/packages/design-system/ads/src/List/List.styles.tsx
  app/client/packages/design-system/ads/src/List/List.tsx
  app/client/packages/design-system/ads/src/List/List.types.tsx
  app/client/src/pages/AppIDE/components/PageList/PageEntity.tsx
Labels: Bug, High, Production, IDE Product, Needs Triaging, IDE Pod, ok-to-test, Query Widgets & IDE Pod

#40328 ci: Fixing the page actions spec
  app/client/cypress/e2e/Regression/ClientSide/PartialImportExport/PageActions_spec.ts
Labels: skip-changelog, CI, ok-to-test

#40323 chore: Dynamically fetch system generated users via DB query
  app/server/appsmith-server/src/main/java/com/appsmith/server/projections/EmailOnly.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/repositories/ce/CustomUserRepositoryCEImplTest.java
Labels: skip-changelog, ok-to-test

#40336 chore: set cs env for appsmith-ai plugin
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/services/ce/SharedConfigCE.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/AppsmithAiPlugin.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/constants/AppsmithAiConstants.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/services/AiServerServiceImpl.java
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/java/com/external/plugins/utils/RequestUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SharedConfigImpl.java
Labels: skip-changelog, ok-to-test

#40342 chore: cherry pick eval errors fix
  app/client/src/instrumentation/index.ts
  app/client/src/instrumentation/sendFaroErrors.ts
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/helper.ts
  app/client/src/sagas/types.ts
  app/client/src/utils/DynamicBindingUtils.ts
  app/client/src/workers/Evaluation/JSObject/index.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.test.ts
  app/client/src/workers/Evaluation/evalTreeWithChanges.ts
  app/client/src/workers/Evaluation/handlers/evalTree.ts
  app/client/src/workers/Evaluation/helpers.ts
  app/client/src/workers/common/DataTreeEvaluator/index.ts
  app/client/src/workers/common/DependencyMap/utils.ts
Labels: skip-changelog, ok-to-test

#40340 chore: optimise sort when developing the dependencyMap
  app/client/src/entities/DependencyMap/index.ts
Labels: skip-changelog, ok-to-test

#40339 feat: Replacing `executeOnLoad` with `runBehavior` in all action config settings
  app/client/src/PluginActionEditor/constants/PluginActionConstants.ts
  app/client/src/PluginActionEditor/transformers/RestActionTransformers.test.ts
  app/client/src/ce/constants/messages.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/GoogleSheetsSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/QuerySettingsConfig.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/types.ts
  app/client/src/pages/Editor/SaaSEditor/__data__/FinalState.json
  app/client/src/pages/Editor/SaaSEditor/__data__/InitialState.json
  app/client/test/factories/MockPluginsState.ts
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/setting.json
Labels: ok-to-test

#40351 chore: new agent creation flow
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Editor/gitSync/useReconnectModalData.ts
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ee/actions/aiAgentActions.ts
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/gitSync/ImportSuccessModal.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/Templates/Template/index.tsx
  app/client/src/pages/Templates/TemplateContent/index.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/sagas/TemplatesSagas.ts
  app/client/src/selectors/templatesSelectors.tsx
Labels: skip-changelog, ok-to-test

#40327 fix: icon ds missing when plugin not present
  app/client/src/PluginActionEditor/components/PluginActionNameEditor.tsx
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/Debugger/ErrorLogs/components/LogEntityLink.tsx
  app/client/src/components/propertyControls/ActionSelectorControl.tsx
  app/client/src/pages/Editor/DataSidePane/DataSidePane.tsx
  app/client/src/pages/Editor/gitSync/components/DatasourceListItem.tsx
  app/client/src/pages/Editor/utils.tsx
  app/client/src/sagas/selectors.tsx
Labels: Bug, Task, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40353 chore: Adjust WDS accent subtle
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
  app/client/packages/design-system/theming/src/color/tests/LightModeTheme.test.ts
Labels: Task, skip-changelog, Anvil Pod, ok-to-test, AI Agents

#40325 chore: login metric added
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/LoginSpan.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/AuthenticationFailureHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/AuthenticationFailureHandlerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/NoTagsMeterFilter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SecurityConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/LoginMetricsFilter.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/filters/LoginRateLimitFilter.java
Labels: skip-changelog, ok-to-test

#40358 feat: Replacing remaining instances of `executeOnLoad` with `runBehavior` on frontend
  app/client/src/PluginActionEditor/constants/PluginActionConstants.ts
  app/client/src/PluginActionEditor/transformers/RestActionTransformers.test.ts
  app/client/src/actions/pluginActionActions.ts
  app/client/src/api/ActionAPI.tsx
  app/client/src/api/PageApi.tsx
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/entities/DataTree/dataTreeJSAction.test.ts
  app/client/src/ce/reducers/entityReducers/actionsReducer.tsx
  app/client/src/ce/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/utils/autocomplete/EntityDefinitions.test.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/components/editorComponents/utils.test.ts
  app/client/src/entities/Action/actionProperties.test.ts
  app/client/src/entities/Action/index.ts
  app/client/src/pages/Editor/EntityNavigation/JSObjectsPane/index.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/utils.test.ts
  app/client/src/pages/Editor/SaaSEditor/__data__/FinalState.json
  app/client/src/pages/Editor/SaaSEditor/__data__/InitialState.json
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/BuildingBlockSagas/tests/fixtures.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/utils/DynamicBindingUtils.test.ts
  app/client/src/utils/FilterInternalProperties/JsAction.ts
  app/client/src/utils/JSPaneUtils.test.ts
  app/client/src/utils/JSPaneUtils.tsx
  app/client/test/factories/Actions/API.ts
  app/client/test/factories/Actions/GoogleSheetFactory.ts
  app/client/test/factories/Actions/JSObject.ts
  app/client/test/factories/Actions/Postgres.ts
  app/client/test/factories/MockPluginsState.ts
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/setting.json
Labels: ok-to-test

#40275 fix: JSON form generate form flow broken for tables without primaryKey and READ_WRITE permissions
  app/client/src/WidgetQueryGenerators/Snowflake/index.test.ts
  app/client/src/WidgetQueryGenerators/Snowflake/index.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/DropdownOption.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/index.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.test.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/constants.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/styles.tsx
  app/client/src/utils/editorContextUtils.ts
Labels: Bug, ok-to-test

#40364 chore: update messages for chrome extension
  app/client/src/ce/constants/messages.ts
Labels: skip-changelog, ok-to-test

#40363 fix: Handling erroneous state in Entity item ADS template
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.tsx
  app/client/packages/design-system/ads/src/Templates/EditableEntityName/EditableEntityName.types.ts
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityItem/EntityItem.tsx
  app/client/packages/design-system/ads/src/Templates/EntityExplorer/EntityListTree/EntityListTree.types.ts
Labels: Bug, Production, IDE Product, Needs Triaging, IDE Pod, Medium, ok-to-test, Query Widgets & IDE Pod

#40360 fix: Updated the copy text if plugin not installed, disabled new query and edit for unavailable plugin ds
  app/client/src/PluginActionEditor/PluginActionEditor.tsx
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/AppIDE/components/QueryAdd/useGroupedAddQueryOperations.tsx
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/components/editorComponents/GlobalSearch/index.tsx
  app/client/src/pages/Editor/DataSourceEditor/DSFormHeader.tsx
  app/client/src/pages/Editor/DataSourceEditor/NewActionButton.tsx
Labels: Bug, Task, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40320 chore: Add util methods in WidgetRefactorUtil class
  app/server/appsmith-server/src/main/java/com/appsmith/server/widgets/refactors/WidgetRefactorUtil.java
Labels: skip-changelog, ok-to-test

#40377 chore: Remove AI quote from login
  app/client/src/pages/UserAuth/Container.tsx
  app/client/src/pages/UserAuth/LeftSideContent.tsx
Labels: skip-changelog, ok-to-test

#40326 fix: parsing of nested parentheses in TableComputeValue expressions
  app/client/src/components/propertyControls/TableComputeValue.test.tsx
  app/client/src/components/propertyControls/TableComputeValue.tsx
Labels: Bug, Widgets Product, Production, Needs Triaging, Medium, Table Widget V2, ok-to-test, Query Widgets & IDE Pod, Unplanned Work - Q&W, A-Force

#40389 fix: add missing modText and isMacOrIOS mocks to fix CI test failures
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.test.ts
Labels: Bug, ok-to-test

#40403 chore: Temporarily skip useTableOrSpreadsheet unit test
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.test.skip.ts
Labels: skip-changelog, ok-to-test

#40349 chore: Fix layout issues for UI package editor
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/reducers/uiReducers/index.tsx
  app/client/src/ce/reducers/uiReducers/mainCanvasReducer.ts
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ee/reducers/uiReducers/mainCanvasReducer.ts
  app/client/src/layoutSystems/CanvasFactory.tsx
  app/client/src/pages/AppIDE/components/WidgetAdd/WidgetsList.tsx
  app/client/src/pages/Editor/utils.tsx
  app/client/src/pages/Editor/widgetSidebar/UIEntitySidebar.tsx
  app/client/src/sagas/AutoLayoutUpdateSagas.tsx
  app/client/src/sagas/CanvasSagas/DraggingCanvasSagas.ts
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/widgets/withWidgetProps.tsx
Labels: Frontend, skip-changelog, Packages Pod, UI module, ok-to-test, Packages & Git Pod

#40390 chore: UI Module instances support broken references in widgets entity explorer
  app/client/src/ce/pages/AppIDE/components/UIEntityListTree/OrphanUIModuleInstancesEntityList.tsx
  app/client/src/ee/pages/AppIDE/components/UIEntityListTree/OrphanUIModuleInstancesEntityList.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/UIEntityListTree.tsx
  app/client/src/pages/AppIDE/components/UIEntityListTree/WidgetTreeItem.tsx
  app/client/src/reducers/uiReducers/pageCanvasStructureReducer.ts
Labels: skip-changelog, ok-to-test

#40058 chore: update base image for appsmith
  deploy/docker/base.dockerfile
Labels: skip-changelog, Stale

#40407 chore: made pull and rehydrate a sequential process
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#40399 chore: fix height of reconnect modal
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
Labels: High, Production, Needs Triaging, skip-changelog, Release Blocker, Anvil Pod, ok-to-test, AI Agents

#40374 refactor: Remove strong dependency from feature flag enum to (de)serialise organization object
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/OrganizationConfigurationCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/FeatureFlagMigrationHelperCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/FeatureFlagMigrationHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/OrganizationServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/helpers/FeatureFlagMigrationHelperTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/FeatureFlagServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/OrganizationServiceCETest.java
Labels: ok-to-test

#40334 chore: Move `updateLayout` analytics event to ContextLayoutRefactoringService
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newpages/refactors/PageLayoutRefactoringServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/AnalyticsContextDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/refactors/ContextLayoutRefactoringService.java
Labels: skip-changelog, ok-to-test

#40465 chore: downgrade tinymce from 7.7.1 to 6.8.3 in package.json
  app/client/package.json
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
  app/client/yarn.lock
Labels: Rich Text Editor Widget, Widgets Product, Community Reported, Task, skip-changelog, ok-to-test, Query Widgets & IDE Pod

#40350 chore: refactor faro (CE)
  app/client/src/AppErrorBoundry.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/FormRender.tsx
  app/client/src/actions/pageActions.tsx
  app/client/src/api/helpers/validateJsonResponseMeta.ts
  app/client/src/api/interceptors/response/failureHandlers/handleMissingResponseMeta.ts
  app/client/src/api/interceptors/response/failureHandlers/handleNotFoundError.ts
  app/client/src/api/interceptors/response/failureHandlers/handleUnauthorizedError.ts
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/utils/AnalyticsUtil.tsx
  app/client/src/components/editorComponents/CodeEditor/EvaluatedValuePopup.tsx
  app/client/src/components/editorComponents/ErrorBoundry.tsx
  app/client/src/components/propertyControls/TabControl.tsx
  app/client/src/ee/sagas/index.tsx
  app/client/src/git/sagas/helpers/handleApiErrors.ts
  app/client/src/index.tsx
  app/client/src/instrumentation/PageLoadInstrumentation.ts
  app/client/src/instrumentation/generateTraces.ts
  app/client/src/instrumentation/index.ts
  app/client/src/instrumentation/sendFaroErrors.ts
  app/client/src/pages/Editor/Canvas.tsx
  app/client/src/pages/UserAuth/Login.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/UserAuth/VerifyUser.tsx
  app/client/src/pages/UserAuth/helpers.ts
  app/client/src/reducers/evaluationReducers/treeReducer.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/AppThemingSaga.tsx
  app/client/src/sagas/ErrorSagas.tsx
  app/client/src/sagas/EvalErrorHandler.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/FormEvaluationSaga.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/sagas/ReplaySaga.ts
  app/client/src/sagas/WidgetLoadingSaga.ts
  app/client/src/sagas/layoutConversionSagas.ts
  app/client/src/utils/Analytics/sentry.ts
  app/client/src/utils/getPathAndValueFromActionDiffObject.ts
  app/client/src/utils/helpers.test.ts
  app/client/src/utils/helpers.tsx
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/JSONFormWidget/fields/CurrencyInputField.tsx
  app/client/src/widgets/JSONFormWidget/fields/useRegisterFieldValidity.ts
  app/client/src/widgets/MapChartWidget/component/utilities.ts
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/InlineCellEditor.tsx
  app/client/src/widgets/TableWidgetV2/component/cellComponents/PlainTextCell.tsx
  app/client/src/widgets/TabsMigrator/widget/index.tsx
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/index.tsx
  app/client/src/workers/Evaluation/errorModifier.ts
Labels: skip-changelog, ok-to-test

#40462 chore: added import override CE
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/git/ce/constants/messages.tsx
  app/client/src/git/components/ImportModal/index.tsx
  app/client/src/git/components/ImportOverrideModal/ImportOverrideModalView.tsx
  app/client/src/git/components/ImportOverrideModal/index.tsx
  app/client/src/git/constants/enums.ts
  app/client/src/git/hooks/useImport.ts
  app/client/src/git/hooks/useMessage.ts
  app/client/src/git/index.ts
  app/client/src/git/requests/gitImportRequest.ts
  app/client/src/git/requests/gitImportRequest.types.ts
  app/client/src/git/sagas/gitImportSaga.ts
  app/client/src/git/store/actions/gitImportActions.ts
  app/client/src/git/store/actions/uiActions.ts
  app/client/src/git/store/gitGlobalSlice.ts
  app/client/src/git/store/helpers/initialState.ts
  app/client/src/git/store/selectors/gitGlobalSelectors.ts
  app/client/src/git/store/types.ts
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ErrorType.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/GitConnectDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/ImportServiceCEImpl.java
Labels: Git Product, skip-changelog, Git Platform, ok-to-test

#40479 test: fix failing Rich text editor
  app/client/.husky/check-staged-files.sh
  app/client/cypress/support/Objects/CommonLocators.ts
Labels: Rich Text Editor Widget, skip-changelog, ok-to-test, Test, Query Widgets & IDE Pod

#40480 fix: Updating JSFunctionSettings unit test to fix failure
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/PluginActionEditor/constants/PluginActionConstants.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
Labels: Bug, potential-duplicate, IDE Product, Core Query Execution, Task, IDE Pod, Integrations Product, Query Settings, Query Widgets & IDE Pod

#40474 fix: update visibility condition for infinite scroll in TableWidgetV2
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/InfiniteScrollVariableHeightRows_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/Table_InfiniteScroll_spec.ts
  app/client/src/widgets/TableWidgetV2/widget/propertyConfig/contentConfig.ts
Labels: Bug, Widgets Product, Release, Needs Triaging, Table Widget V2, PR blocker, ok-to-test, Query Widgets & IDE Pod

#40481 fix: Cyclic dependencies for reactive queries run behavior changes
  app/client/src/PluginActionEditor/components/PluginActionSettings/SettingsPopover.tsx
  app/client/src/PluginActionEditor/types/PluginActionTypes.ts
  app/client/src/actions/pluginActionActions.ts
  app/client/src/api/ActionAPI.tsx
  app/client/src/api/PageApi.tsx
  app/client/src/ce/components/editorComponents/GPT/index.tsx
  app/client/src/ce/reducers/entityReducers/actionsReducer.tsx
  app/client/src/ce/reducers/entityReducers/jsActionsReducer.tsx
  app/client/src/ce/utils/moduleInstanceNavigationData.ts
  app/client/src/components/editorComponents/CodeEditor/EditorConfig.ts
  app/client/src/components/editorComponents/CodeEditor/MarkHelpers/entityMarker.ts
  app/client/src/components/editorComponents/CodeEditor/commandsHelper.ts
  app/client/src/components/editorComponents/CodeEditor/generateQuickCommands.tsx
  app/client/src/components/editorComponents/CodeEditor/index.tsx
  app/client/src/components/editorComponents/utils.test.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/GoogleSheetsSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/QuerySettingsConfig.ts
  app/client/src/entities/Action/index.ts
  app/client/src/entities/DataTree/dataTreeTypes.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.test.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/types.ts
  app/client/src/pages/Editor/JSEditor/utils.test.ts
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/ActionSagas.ts
  app/client/src/sagas/JSPaneSagas.ts
  app/client/src/selectors/navigationSelectors.ts
  app/client/src/utils/FilterInternalProperties/JsAction.ts
  app/client/src/utils/JSPaneUtils.tsx
  app/client/src/utils/NavigationSelector/JsChildren.ts
  app/client/src/utils/NavigationSelector/WidgetChildren.ts
  app/client/src/utils/NavigationSelector/common.ts
Labels: Bug

#40477 chore: open carbon modal when creating agent from scratch
  app/client/src/ee/actions/aiAgentActions.ts
  app/client/src/sagas/TemplatesSagas.ts
Labels: skip-changelog

#40488 chore: ee split plugin schemas
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginSchemaSolution.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginSchemaSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginSchemaSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginSchemaSolutionImpl.java
Labels: skip-changelog

#40486 fix: simplify table reset logic in TableWidgetV2
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Widgets Product, Release, Needs Triaging, Table Widget V2, PR blocker, ok-to-test, Query Widgets & IDE Pod

#40476 feat: improve unit test mocking in useTableOrSpreadsheet hook
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.test.skip.ts
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.test.tsx
Labels: Enhancement, ok-to-test

#40489 ci: Fixing cypress tests that are failing due to the change from executeOnLoad to runBehavior
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_ShowCloseModalFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug14987_spec.js
  app/client/cypress/e2e/Regression/ClientSide/BugTests/Bug20275_Spec.js
  app/client/cypress/e2e/Regression/ClientSide/JSObject/JSObject_Tests_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/PublishedApps/PublishedModeToastToggle_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/SetOptions_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/SetProperty/WidgetPropertySetters2_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/ApiTests/API_MultiPart_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Oracle_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Datasources/Snowflake_Basic_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/JSFunctionExecution_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/JsFunctionExecution/SetTimeout_spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/APIOnLoad_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad2_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/OnLoadTests/JSOnLoad4_Spec.ts
  app/client/cypress/e2e/Regression/ServerSide/Params/PassingParams_Spec.ts
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/components/formControls/utils.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
Labels: potential-duplicate, IDE Product, Core Query Execution, Task, skip-changelog, IDE Pod, CI, Integrations Product, Query Settings, Query Widgets & IDE Pod

#40515 ci: Fixing remaining 4 failing cypress test cases
  app/client/cypress/fixtures/PartialImportExport/PartialImportExportSampleApp.json
  app/client/cypress/fixtures/PartialImportExport/QueriesExportedOnly.json
  app/client/cypress/support/Pages/ApiPage.ts
  app/client/cypress/support/Pages/JSEditor.ts
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
Labels: potential-duplicate, IDE Product, Core Query Execution, Task, skip-changelog, IDE Pod, CI, Integrations Product, Query Settings, ok-to-test, Query Widgets & IDE Pod
