Repository appsmithorg/appsmith, pull requests merged in 2025-07, with the labels that each got.

#41068 fix: Enable Roles and Groups Display on Cloud Instances
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PACConfigurationServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/PACConfigurationServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UserServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/PACConfigurationServiceCETest.java
Labels: Bug, ok-to-test

#40936 chore: Disable anonymous user tracking when feature flag turned on
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/sagas/userSagas.tsx
  app/client/src/ce/utils/AnalyticsUtil.tsx
  app/client/src/utils/Analytics/segment.test.ts
  app/client/src/utils/Analytics/segment.ts
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/AnalyticsServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
Labels: skip-changelog, Stale, ok-to-test

#41074 feat: implements onPageUnload functionality for the edit app mode page selector
  app/client/src/actions/pageActions.tsx
  app/client/src/pages/AppIDE/components/PageList/PageEntity.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/selectors/__tests__/editorSelectors/pluginActionSelectors.test.ts
  app/client/src/selectors/editorSelectors.tsx
Labels: Enhancement, Task, JS Objects, Javascript Product, ok-to-test, Query Widgets & IDE Pod

#40933 fix: enhance CA certificate handling in entrypoint script
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Bug

#41081 feat: enhance navigation state handling in PageEntity and saga
  app/client/src/pages/AppIDE/components/PageList/PageEntity.tsx
  app/client/src/sagas/ActionExecution/NavigateActionSaga/index.ts
  app/client/src/sagas/ActionExecution/NavigateActionSaga/types.ts
Labels: Enhancement, JS Objects, ok-to-test, Query Widgets & IDE Pod

#41083 chore: fix redirect url bug on datasource create on signup
  app/client/src/ce/pages/Applications/CreateNewAppsOption.tsx
Labels: Production, Needs Triaging, skip-changelog, Medium, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod, Unplanned Work - Q&W

#41082 chore: UI module instance generation placeholder on page load and change
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/sagas/helpers.ts
Labels: skip-changelog, ok-to-test

#41090 fix: Adding an additional check to show correct cyclic dependency errors in the Reactive flow
  app/client/src/entities/DependencyMap/DependencyMapUtils.ts
Labels: Bug, High, Release, Needs Triaging, Core Query Execution, Integrations Product, PR blocker, ok-to-test, Query Widgets & IDE Pod

#41099 feat: add multi-org support to signup redirect helpers
  app/client/src/ce/utils/signupHelpers.ts
Labels: Enhancement, ok-to-test

#41101 chore: Add changes for new API contracts in GitSync.ts
  app/client/cypress/support/Pages/GitSync.ts
Labels: skip-changelog, ok-to-test

#41102 feat: skip license page for cloud billing users
  app/client/src/pages/setup/SignupSuccess.tsx
Labels: Enhancement, ok-to-test

#41033 chore: ce changes related to decoupling webworker
  app/client/src/WidgetProvider/factory/__tests__/WidgetFactory.test.ts
  app/client/src/WidgetProvider/factory/decorators.ts
  app/client/src/WidgetProvider/factory/registrationHelper.tsx
  app/client/src/WidgetProvider/factory/widgetConfigVersion.ts
  app/client/src/actions/JSLibraryActions.ts
  app/client/src/actions/evaluationActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/index.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/selectors/moduleInstanceSelectors.ts
  app/client/src/components/editorComponents/form/ToggleComponentToJson.tsx
  app/client/src/components/propertyControls/index.ts
  app/client/src/entities/Engine/AppViewerEngine.ts
  app/client/src/layoutSystems/anvil/editor/canvasArenas/hooks/useAnvilDnDListenerStates.ts
  app/client/src/layoutSystems/fixedlayout/canvas/FixedLayoutViewerCanvas.tsx
  app/client/src/pages/AppViewer/Navigation/index.tsx
  app/client/src/pages/AppViewer/index.tsx
  app/client/src/pages/Templates/TemplateView.tsx
  app/client/src/reducers/evaluationReducers/firstEvaluationReducer.ts
  app/client/src/reducers/evaluationReducers/index.ts
  app/client/src/sagas/EvalWorkerActionSagas.ts
  app/client/src/sagas/EvaluationsSaga.test.ts
  app/client/src/sagas/EvaluationsSaga.ts
  app/client/src/sagas/InitSagas.ts
  app/client/src/selectors/actionSelectors.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/selectors/evaluationSelectors.ts
  app/client/src/selectors/widgetSelectors.ts
  app/client/src/utils/WidgetSizeUtils.ts
  app/client/src/utils/WorkerUtil.ts
  app/client/src/utils/editor/EditorUtils.ts
  app/client/src/utils/testPropertyPaneConfig.test.ts
  app/client/src/widgets/index.ts
  app/client/src/workers/Evaluation/asyncWorkerActions.ts
  app/client/src/workers/Evaluation/handlers/jsLibrary.ts
  app/client/src/workers/common/DataTreeEvaluator/dataTreeEvaluator.test.ts
Labels: skip-changelog, ok-to-test

#41109 feat: update premium icon for create datasource page
  app/client/src/components/editorComponents/PremiumFeatureTag.tsx
  app/client/src/pages/Editor/IntegrationEditor/DatasourceItem.tsx
  app/client/src/pages/Editor/IntegrationEditor/IntegrationStyledComponents.tsx
  app/client/src/pages/Editor/IntegrationEditor/PremiumDatasources/index.tsx
Labels: Enhancement, ok-to-test

#41097 feat: add git route aspect for branch handling
  Dockerfile
  app/server/.gitignore
  app/server/appsmith-git/pom.xml
  app/server/appsmith-git/src/main/java/com/appsmith/git/configurations/GitServiceConfig.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/dto/BashFunctionResult.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/service/BashService.java
  app/server/appsmith-git/src/main/resources/application.properties
  app/server/appsmith-git/src/main/resources/git.sh
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/handler/FSGitHandler.java
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/annotations/GitRoute.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/gitRoute/GitRouteArtifact.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/artifacts/gitRoute/GitRouteArtifactCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/aspect/GitRouteAspect.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/aspect/GitRouteAspect.md
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithError.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppsmithErrorCode.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/GitRedisUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCECompatibleImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RedisUtils.java
  app/server/appsmith-server/src/main/resources/application-ce.properties
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/resourcemap/ExchangeJsonConversionTests.java
  app/server/appsmith-server/src/test/resources/application-test.properties
  deploy/docker/fs/opt/appsmith/run-with-env.sh
Labels: Enhancement, Stale, ok-to-test

#41123 feat: remove release_paid_features_tagging feature flag
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/DataSidePane/DataSidePane.tsx
Labels: Enhancement, ok-to-test

#41124 feat: implement upgrade button within editor header
  app/client/src/pages/AppIDE/layouts/components/Header/index.tsx
Labels: Enhancement, ok-to-test

#41139 fix: Updating the check for matching app libraries path
  app/client/src/ce/constants/routes/appRoutes.ts
Labels: Bug, Low, Production, IDE Product, Needs Triaging, IDE Pod, ok-to-test, Query Widgets & IDE Pod

#41144 fix: Updating logic for reactive actions to fix cyclic dependency issue with App templates and Generate page flow of a DB
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/ce/workers/common/DependencyMap/utils/getEntityDependenciesByType.ts
  app/client/src/entities/DependencyMap/DependencyMapUtils.ts
Labels: Bug, High, Production, Needs Triaging, Core Query Execution, Medium, Integrations Product, ok-to-test, Query Widgets & IDE Pod

#41147 fix: Updating the logo in the app editor to use favicon instead
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/AppsmithLink.tsx
  app/client/src/utils/BrandingUtils.ts
Labels: Bug, IDE Product, Task, IDE Pod, ok-to-test, Query Widgets & IDE Pod

#41148 fix: Updating the logo in the app editor to use favicon instead (#41147)
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/AppsmithLink.tsx
  app/client/src/utils/BrandingUtils.ts
Labels: ok-to-test

#41152 fix: security fix 425
  app/client/package.json
  app/client/yarn.lock
Labels: Bug, ok-to-test

#41136 chore: adding ce files
  app/client/cypress/e2e/Regression/ClientSide/Git/ExistingApps/v1.9.24/DSCrudAndBindings_Spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitAutocommit_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitDiscardChange/DiscardChanges_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitImport/ImportEmptyRepo_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/DisconnectGit_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitBranchProtect_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitConnectV2_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/GitStatusLite_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/Git/GitSync/MergeViaRemote_spec.ts
  app/client/cypress/support/Objects/FeatureFlags.ts
  app/client/cypress/support/Pages/GitSync.ts
  app/client/cypress/support/commands.js
  app/client/cypress/support/gitSync.js
Labels: Task, skip-changelog, ok-to-test

#41154 chore: update the apache lang3 version to 3.18.0
  app/server/appsmith-interfaces/pom.xml
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/DatasourceUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/HeaderUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/restApiUtils/helpers/HintMessageUtils.java
  app/server/appsmith-plugins/amazons3Plugin/src/main/java/com/external/utils/DatasourceUtils.java
  app/server/appsmith-plugins/arangoDBPlugin/src/main/java/com/external/plugins/ArangoDBPlugin.java
  app/server/appsmith-plugins/databricksPlugin/src/main/java/com/external/plugins/DatabricksPlugin.java
  app/server/appsmith-plugins/elasticSearchPlugin/src/main/java/com/external/plugins/ElasticSearchPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/MssqlPlugin.java
  app/server/appsmith-plugins/mssqlPlugin/src/main/java/com/external/plugins/utils/MssqlExecuteUtils.java
  app/server/appsmith-plugins/mysqlPlugin/src/main/java/com/external/plugins/MySqlPlugin.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/OraclePlugin.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/utils/OracleDatasourceUtils.java
  app/server/appsmith-plugins/oraclePlugin/src/main/java/com/external/plugins/utils/OracleExecuteUtils.java
  app/server/appsmith-plugins/pom.xml
  app/server/appsmith-plugins/postgresPlugin/src/main/java/com/external/plugins/PostgresPlugin.java
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/plugins/RedisPlugin.java
  app/server/appsmith-plugins/redisPlugin/src/main/java/com/external/utils/RedisURIUtils.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/plugins/RedshiftPlugin.java
  app/server/appsmith-plugins/redshiftPlugin/src/main/java/com/external/utils/RedshiftDatasourceUtils.java
  app/server/appsmith-plugins/smtpPlugin/src/main/java/com/external/plugins/SmtpPlugin.java
  app/server/appsmith-plugins/snowflakePlugin/src/main/java/com/external/utils/SnowflakeKeyUtils.java
  app/server/appsmith-server/pom.xml
  app/server/appsmith-server/src/main/java/com/appsmith/server/authentication/handlers/ce/CustomFormLoginServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/SegmentConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ExecutableDependencyEdge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ExecutionDependencyEdge.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/utils/GitAnalyticsUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/CompareDslActionDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/GitDeployKeyGenerator.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/bridge/BridgeUpdate.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration003AddInstanceNameToTenantConfiguration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/ApplicationPageServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CurlImporterServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/MockDataServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/UsagePulseServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/CommonGitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitCommitTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ops/GitDiscardTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
Labels: skip-changelog, ok-to-test
