Repository appsmithorg/appsmith, pull requests merged in 2025-06, with the labels that each got.

#40818 fix: widgets getting disappeared when page name contains parentheses
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCEImpl.java
Labels: Bug, Critical, Production, Needs Triaging, ok-to-test

#40664 fix: Incorrect display of values in table computed value
  app/client/packages/dsl/src/migrate/index.ts
  app/client/packages/dsl/src/migrate/tests/DSLMigration.test.ts
  app/client/src/components/propertyControls/TableComputeValue.test.tsx
  app/client/src/components/propertyControls/TableComputeValue.tsx
  app/client/src/widgets/TableWidgetV2/widget/utilities.ts
Labels: Bug, QA, Widgets Product, Production, Needs Triaging, Stale, Medium, Table Widget V2, ok-to-test, Query Widgets & IDE Pod, Unplanned Work - Q&W, A-Force

#40821 feat: handled error condition from cs
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/PluginScheduledTaskUtilsCEImpl.java
Labels: Enhancement, Task, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod, Unplanned Work - Q&W

#40775 chore: fix resetting of Dropdown control of UQI
  app/client/src/components/formControls/DropDownControl.tsx
Labels: skip-changelog, ok-to-test

#40833 fix: generate crud queries to have dynamicBindingPathList
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
Labels: Bug, High, Needs Triaging, Deploy Preview, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40851 chore: decoupled property pane registration
  app/client/src/pages/Editor/PropertyPane/index.tsx
  app/client/src/utils/editor/EditorUtils.ts
Labels: skip-changelog, ok-to-test

#40880 chore: re-instate status call for protected branches in git connected apps
  app/client/src/git/sagas/fetchStatusSaga.ts
Labels: High, Release, Needs Triaging, Git Product, skip-changelog, DailyPromotionBlocker, ok-to-test, Packages & Git Pod

#40906 chore: Call context independent method to update layout
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#40896 chore: Modifying git fetch remote method signature
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/handler/FSGitHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/GitHandlingServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/common/CommonGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/controllers/GitApplicationControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#40915 chore: Moving autocommit to new git implementation
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/handler/ce/FSGitHandlerCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/applications/git/ApplicationGitFileUtilsCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/AutoCommitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/ServerSchemaMigrationEnforcerTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitEventHandlerImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/AutoCommitServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/autocommit/helpers/GitAutoCommitHelperImplTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/testhelpers/git/GitFileSystemTestHelper.java
Labels: skip-changelog, ok-to-test

#40922 fix: Reverting the change to add debounce to `onValueChange` for input widgets
  app/client/cypress/e2e/Regression/ClientSide/Widgets/Input/Inputv2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_BasicClientSideData_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/ListV2/Listv2_Nested_EventBindings_spec.js
  app/client/cypress/support/Pages/AggregateHelper.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/widgets/CurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/InputWidget/widget/index.tsx
  app/client/src/widgets/InputWidgetV2/widget/index.tsx
  app/client/src/widgets/PhoneInputWidget/widget/index.tsx
  app/client/src/widgets/RichTextEditorWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSCurrencyInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSInputWidget/widget/index.tsx
  app/client/src/widgets/wds/WDSPhoneInputWidget/widget/index.tsx
Labels: Bug, Input Widget, Widgets Product, High, Production, Text Widget, Community Reported, Needs Triaging, ok-to-test, Query Widgets & IDE Pod

#40870 chore: add tag for Airtable
  app/client/cypress/e2e/Sanity/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress/tags.js
Labels: skip-changelog, ok-to-test

#40693 fix: enable form login spec improvement
  app/client/cypress/e2e/Regression/ClientSide/FormLogin/EnableFormLogin_spec.js
  app/client/cypress/e2e/Regression/ClientSide/FormLogin/EnableFormLogin_spec.ts
  app/client/cypress/locators/LoginPage.json
  app/client/cypress/support/Pages/AdminSettings.ts
Labels: Bug, ok-to-test

#40931 chore: flaky tests fixed
  app/client/cypress/e2e/Regression/ClientSide/BugTests/ApiBugs_Spec.ts
Labels: Low, Production, Needs Triaging, skip-changelog, Integrations Product, Integrations Pod General, ok-to-test, Query Widgets & IDE Pod

#40935 fix: Upgrade packages
  app/client/config/webpackDevServer.config.js
  app/client/jest.config.js
  app/client/package.json
  app/client/packages/dsl/src/migrate/utils.ts
  app/client/packages/storybook/package.json
  app/client/scripts/start.js
  app/client/src/instrumentation/utils.ts
  app/client/src/usagePulse/utils.ts
  app/client/src/utils/generators.tsx
  app/client/src/widgets/WidgetUtils.ts
  app/client/yarn.lock
Labels: Bug, Security, ok-to-test

#40938 feat: add multi-org domain tracking
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/utils/multiOrgDomains.ts
Labels: Enhancement, ok-to-test

#40932 chore: Remove Airtable tests from being excluded from CI runs
  app/client/cypress/e2e/Sanity/Datasources/Airtable_Basic_Spec.ts
  app/client/cypress_ci.config.ts
  app/client/cypress_ci_custom.config.ts
  app/client/cypress_ci_hosted.config.ts
Labels: skip-changelog, ok-to-test

#40917 chore: analytic events added for reactive behaviour change
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/AnalyticsEvents.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/constants/ce/FieldNameCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/RunBehaviourAnalyticsMetadata.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/enums/RunBehaviourUpdateSource.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/RunBehaviourAnalyticsUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ActionExecutionSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImplTest.java
Labels: skip-changelog, ok-to-test

#40965 chore: removed unnecessary injected services
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/LayoutActionServiceImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImplTest.java
Labels: skip-changelog, ok-to-test

#40968 fix: Suppress webpack-dev-server ResizeObserver loop development runtime error
  app/client/config/webpackDevServer.config.js
Labels: Bug, ok-to-test

#40970 feat: improve recent domains section spacing and text truncation
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/utils/multiOrgDomains.ts
Labels: Enhancement, ok-to-test

#40966 feat: Add instanceId to distributed lock keys for multi-instance isolation
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceIdProviderImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/DistributedLockAspectTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/aspect/TestLockService.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/aspects/DistributedLockAspect.java
  app/server/reactive-caching/src/main/java/com/appsmith/caching/components/InstanceIdProvider.java
  app/server/reactive-caching/src/test/java/com/appsmith/testcaching/TestConfig.java
  app/server/reactive-caching/src/test/java/com/appsmith/testcaching/TestInstanceIdProvider.java
  app/server/reactive-caching/src/test/java/com/appsmith/testcaching/test/TestCachingMethods.java
Labels: Enhancement, ok-to-test

#40988 chore: add workflows setting for agents CE
  app/client/packages/design-system/ads/src/Icon/Icon.provider.tsx
  app/client/packages/design-system/ads/src/Input/Input.tsx
  app/client/packages/design-system/ads/src/__assets__/icons/ads/lightning-line.svg
  app/client/src/IDE/constants/SidebarButtons.ts
  app/client/src/IDE/enums.ts
  app/client/src/api/TemplatesApi.ts
  app/client/src/ce/api/ApplicationApi.tsx
  app/client/src/ce/constants/WorkflowConstants.ts
  app/client/src/ce/constants/routes/appRoutes.ts
  app/client/src/ce/pages/AppIDE/constants/SidebarButtons.ts
  app/client/src/ce/pages/AppIDE/layout/routers/MainPane/constants.ts
  app/client/src/components/BottomBar/index.tsx
  app/client/src/components/editorComponents/Debugger/DebuggerTabs.tsx
  app/client/src/components/editorComponents/Debugger/constants.ts
  app/client/src/ee/pages/AppIDE/components/TriggerSettingsPane/TriggerSettingsPane.tsx
  app/client/src/ee/pages/AppIDE/components/TriggerSettingsPane/index.ts
  app/client/src/ee/pages/WorkflowIDE/layouts/components/BottomBar/WorkflowRunHistory/RunHistoryTab.tsx
  app/client/src/ee/pages/WorkflowIDE/layouts/components/BottomBar/WorkflowRunHistory/RunHistoryTrigger.tsx
  app/client/src/ee/pages/WorkflowIDE/layouts/components/BottomBar/WorkflowRunHistory/index.ts
  app/client/src/ee/pages/WorkflowIDE/layouts/components/BottomBar/index.ts
  app/client/src/entities/Application/types.ts
  app/client/src/navigation/FocusEntity.ts
  app/client/src/pages/AppIDE/layouts/components/Header/index.tsx
  app/client/src/pages/AppIDE/layouts/hooks/useGridLayoutTemplate.ts
  app/client/src/pages/AppIDE/layouts/routers/LeftPane.tsx
  app/client/src/pages/AppIDE/layouts/routers/Sidebar.tsx
  app/client/src/sagas/TemplatesSagas.ts
Labels: skip-changelog, ok-to-test

#41005 chore: Added tag to exclude Airtable_Basic_Spec.ts from airgapped runs
  app/client/cypress/e2e/Sanity/Datasources/Airtable_Basic_Spec.ts
Labels: skip-changelog, ok-to-test

#41003 fix: upgrade tinymce latest MIT licensed version
  app/client/package.json
  app/client/src/widgets/RichTextEditorWidget/component/index.tsx
  app/client/yarn.lock
Labels: Bug, Security, ok-to-test

#40976 chore: Fixing ErrorAttributes null error in logs
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/AppSmithErrorWebExceptionHandler.java
Labels: skip-changelog, ok-to-test

#41014 fix: Updating `updateDependencies` map to execute newly binded queries in reactive flow
  app/client/src/ce/reducers/uiReducers/editorReducer.tsx
  app/client/src/workers/common/DependencyMap/index.ts
Labels: Bug, ok-to-test

#40990 chore: removed sentry form server
  app/server/appsmith-server/src/main/java/com/appsmith/server/configurations/InstanceConfig.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/GlobalExceptionHandler.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/util/ObservabilityLogger.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/exceptions/util/SentryLogger.java
Labels: skip-changelog, ok-to-test

#41016 feat: enable fetching organizations based on cloud billing status
  app/client/src/ce/pages/Applications/index.tsx
Labels: Enhancement, ok-to-test

#41015 test: fix Regression/ClientSide/ActionExecution/FrameworkFunctions_NavigateToFunctions_spec.ts
  app/client/cypress/e2e/Regression/ClientSide/ActionExecution/FrameworkFunctions_NavigateToFunctions_spec.ts
Labels: skip-changelog, JS Objects, ok-to-test, Test, Query Widgets & IDE Pod, Unplanned Work - Q&W

#41028 fix: Updating the logic for page load action checks to fix reactivity for new bindings
  app/client/src/ce/reducers/uiReducers/editorReducer.tsx
  app/client/src/sagas/ActionExecution/PluginActionSaga.ts
  app/client/src/sagas/PostEvaluationSagas.ts
  app/client/src/selectors/editorSelectors.tsx
Labels: Bug, Release, IDE Product, Needs Triaging, Core Query Execution, IDE Pod, Medium, Integrations Product, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#41020 refactor: extract RecentDomainsSection into reusable component
  app/client/src/pages/UserAuth/RecentDomainsSection.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
Labels: ok-to-test

#41045 chore: update cleanup dp to delete merged PRs
  scripts/cleanup_dp.sh
Labels: skip-changelog

#41049 fix: Updating the function definition for checking reactive cyclic dependencies
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/entities/DependencyMap/DependencyMapUtils.ts
  app/client/src/entities/DependencyMap/__tests__/DependencyMapUtils.test.ts
Labels: Bug, Release, IDE Product, Needs Triaging, Core Query Execution, IDE Pod, Medium, Integrations Product, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#41058 fix: Updating the util to fix client build failure on EE
  app/client/src/ce/workers/Evaluation/evaluationUtils.ts
  app/client/src/entities/DependencyMap/DependencyMapUtils.ts
Labels: Bug, ok-to-test
