Repository appsmithorg/appsmith, pull requests merged in 2025-05, with the labels that each got.

#40520 fix: Read admin emails for migration from the docker.env file directly
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/db/ce/Migration10000_UpdateSuperUser.java
Labels: Bug, ok-to-test

#40521 chore: adds depandabot.yml
  .github/dependabot.yml
  app/client/.husky/check-staged-files.sh
Labels: Dependencies, skip-changelog, ok-to-test, github_actions

#40503 chore: Update chrome extension banner in share modal
  app/client/src/pages/AppIDE/layouts/components/Header/index.tsx
Labels: skip-changelog, ok-to-test

#40539 chore: added push log faro wrapper function captureLog
  app/client/src/instrumentation/index.ts
Labels: skip-changelog, ok-to-test

#40405 chore: remove extra reset in auto-commit
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/FileInterface.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
Labels: skip-changelog, ok-to-test

#40553 chore: Added isRenameDisabled and filtered UI modules from widgets section
  app/client/src/ce/constants/messages.ts
  app/client/src/pages/Editor/PropertyPane/PropertyPaneTitle.tsx
  app/client/src/pages/Editor/PropertyPane/PropertyPaneView.tsx
  app/client/src/selectors/editorSelectors.tsx
Labels: Bug, High, Release, Needs Triaging, skip-changelog, Packages Pod, PR blocker, UI module, ok-to-test, Packages & Git Pod

#40578 chore: Adjust WDS border neutral subtle (light mode)
  app/client/packages/design-system/theming/src/color/src/LightModeTheme.ts
Labels: Task, skip-changelog, WDS team, ok-to-test

#40583 chore: Add placeholder AI Integrations form
  app/client/src/ce/components/formControls/AIChatIntegrationsControl.tsx
  app/client/src/ce/components/formControls/index.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ee/components/formControls/AIChatIntegrationsControl/index.ts
  app/client/src/utils/formControl/FormControlRegistry.tsx
  app/client/src/utils/formControl/formControlTypes.ts
  app/client/src/utils/hooks/useFeatureFlagOverride.ts
Labels: skip-changelog, ok-to-test

#40598 fix: non null check on published action
  app/server/appsmith-server/src/main/java/com/appsmith/server/imports/internal/partial/PartialImportServiceCEImpl.java
Labels: Bug, ok-to-test

#40546 chore: Changes for supporting input in UI modules property pane
  app/client/src/actions/metaWidgetActions.ts
  app/client/src/ce/constants/ReduxActionConstants.tsx
  app/client/src/ce/reducers/uiReducers/editorReducer.tsx
  app/client/src/ce/sagas/PageSagas.tsx
  app/client/src/ce/sagas/helpers.ts
  app/client/src/ce/selectors/entitiesSelector.ts
  app/client/src/components/propertyControls/index.ts
  app/client/src/ee/components/propertyControls/index.ts
  app/client/src/reducers/entityReducers/metaWidgetsReducer.ts
  app/client/src/sagas/WidgetOperationSagas.tsx
  app/client/src/utils/ReducerUtils.ts
Labels: skip-changelog, ok-to-test

#40603 fix: reset table page number on infinite scroll reset
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Widgets Product, High, Production, Release, Needs Triaging, Table Widget V2, PR blocker, ok-to-test, Query Widgets & IDE Pod

#40602 chore: Added reset before checkout
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/central/CentralGitServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#40599 chore: Update the carbon modal ux
  app/client/src/sagas/TemplatesSagas.ts
Labels: skip-changelog, ok-to-test

#40607 chore: fix container query bug in ai chat widget
  app/client/packages/design-system/widgets/src/components/Flex/src/flexCss.ts
  app/client/packages/design-system/widgets/src/components/Flex/src/styles.module.css
  app/client/src/layoutSystems/anvil/layoutComponents/components/styles.css
Labels: skip-changelog, ok-to-test

#40609 fix: improve infinite scroll reset logic in TableWidgetV2
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Widgets Product, High, Low, Release, Needs Triaging, Table Widget V2, ok-to-test, Query Widgets & IDE Pod

#40361 feat: Updated references of all executeOnLoad to runBehaviour
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/constants/spans/ce/LayoutSpanCE.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/LayoutExecutableUpdateDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/helpers/DataTypeStringUtils.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/Executable.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/RunBehaviourEnum.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/controllers/ce/ActionControllerCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/NewActionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/LayoutExecutableUpdateDTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/dtos/ce/ActionViewCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/layouts/UpdateLayoutServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/LayoutActionServiceCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/main/resources/CRUD-DB-Table-Template-Application.json
  app/server/appsmith-server/src/test/java/com/appsmith/server/exports/internal/ExportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/fork/ApplicationForkingServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/git/CommonGitServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/imports/internal/ImportServiceTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutActionServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/LayoutServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/PageServiceTest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ActionServiceCE_Test.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/services/ce/ApplicationServiceCETest.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/PartialExportServiceTest.java
  app/server/appsmith-server/src/test/resources/com/appsmith/server/git/application.json
  app/server/appsmith-server/src/test/resources/com/appsmith/server/git/autocommit/application.json
  app/server/appsmith-server/src/test/resources/com/appsmith/server/git/autocommit/autocommit.json
  app/server/appsmith-server/src/test/resources/com/appsmith/server/git/ce-automation-test.json
  app/server/appsmith-server/src/test/resources/com/appsmith/server/imports/internal/faulty-dsl.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/building-block.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/invalid-application-without-pageId-action-collection.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/partial-export-resource.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/partial-export-valid-without-widget.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-custom-themes.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-page-added.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-with-un-configured-datasource.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-action-collection.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application-without-theme.json
  app/server/appsmith-server/src/test/resources/test_assets/ImportExportServiceTest/valid-application.json
Labels: Enhancement, IDE Product, Core Query Execution, Task, IDE Pod, Integrations Product, Query Settings, ok-to-test, Query Widgets & IDE Pod

#40612 fix: enhance datasource structure retrieval in useTableOrSpreadsheet hook
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/TableOrSpreadsheetDropdown/useTableOrSpreadsheet.tsx
Labels: Bug, Datasources, ok-to-test, Query Widgets & IDE Pod, Unplanned Work - Q&W

#40617 fix: removed usage of gs shared drive flag
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/ExecutionMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/config/FileListMethod.java
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/java/com/external/plugins/GoogleSheetsPlugin.java
Labels: Bug, Task, Google Sheets, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod, Unplanned Work - Q&W

#40610 feat: enhance infinite scroll column merging in TableWidgetV2
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Enhancement, QA, Widgets Product, High, Low, Release, Needs Triaging, Table Widget V2, PR blocker, ok-to-test, Query Widgets & IDE Pod

#40629 chore: Removing unnecessary code and keeping the logic same for plugin based and other action settings only on frontend
  app/client/src/PluginActionEditor/PluginActionContext.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/hooks/useGoogleSheetsSetDefaultProperty.ts
  app/client/src/PluginActionEditor/components/PluginActionToolbar/components/ActionSettings.tsx
  app/client/src/PluginActionEditor/types/PluginActionTypes.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/GoogleSheetsSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/PluginSettings.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/QuerySettingsConfig.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
  app/client/src/pages/Editor/SaaSEditor/__data__/FinalState.json
  app/client/src/pages/Editor/SaaSEditor/__data__/InitialState.json
  app/client/src/sagas/PluginSagas.ts
  app/client/src/utils/PluginUtils.ts
  app/client/test/factories/MockPluginsState.ts
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/setting.json
Labels: skip-changelog, ok-to-test

#40628 chore: remove old flags that have been rolled out to 100%
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/pages/Editor/IntegrationEditor/APIOrSaasPlugins.tsx
  app/client/src/pages/Editor/IntegrationEditor/CreateNewDatasourceTab.tsx
  app/client/src/pages/Editor/IntegrationEditor/EmptySearchedPlugins.tsx
Labels: Task, skip-changelog, Tech Debt, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod, Unplanned Work - Q&W

#40635 chore: Add chat widget migration
  app/client/packages/dsl/src/migrate/index.ts
  app/client/packages/dsl/src/migrate/migrations/092-update-ai-chat-widget.ts
  app/client/packages/dsl/src/migrate/tests/DSLMigration.test.ts
  app/client/src/ce/sagas/DatasourcesSagas.ts
Labels: skip-changelog, ok-to-test

#40644 feat: execute on load backwards compatibility backend changes
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/NewActionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/repositories/ce/CustomNewActionRepositoryCEImpl.java
Labels: Bug, Enhancement, High, Needs Triaging, Deploy Preview, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40639 chore: Update flags for self-hosting agents
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/ce/pages/AdminSettings/config/auditlogs.ts
  app/client/src/ce/pages/Applications/EmbedSnippetTab.tsx
  app/client/src/ce/pages/Applications/index.tsx
  app/client/src/ce/pages/Editor/gitSync/useReconnectModalData.ts
  app/client/src/ce/pages/Upgrade/AuditLogsUpgradePage.tsx
  app/client/src/ce/sagas/ApplicationSagas.tsx
  app/client/src/ce/selectors/aiAgentSelectors.ts
  app/client/src/ce/utils/signupHelpers.ts
  app/client/src/components/editorComponents/GlobalSearch/GlobalSearchHooks.tsx
  app/client/src/ee/actions/aiAgentActions.ts
  app/client/src/pages/AdminSettings/Profile/index.tsx
  app/client/src/pages/AppIDE/components/AppSettings/AppSettings.tsx
  app/client/src/pages/Applications/EmbedSnippet/PrivateEmbeddingContent.tsx
  app/client/src/pages/Editor/DataSourceEditor/index.tsx
  app/client/src/pages/Editor/EditorName/useNavigationMenuData.ts
  app/client/src/pages/Editor/HelpButton.tsx
  app/client/src/pages/Editor/SaaSEditor/DatasourceForm.tsx
  app/client/src/pages/Editor/gitSync/ImportSuccessModal.tsx
  app/client/src/pages/Editor/gitSync/ReconnectDatasourceModal.tsx
  app/client/src/pages/UserAuth/Container.tsx
  app/client/src/pages/UserAuth/LeftSideContent.tsx
  app/client/src/pages/UserAuth/SignUp.tsx
  app/client/src/pages/common/SearchBar/HomepageHeaderAction.tsx
  app/client/src/pages/common/datasourceAuth/index.tsx
  app/client/src/pages/setup/SignupSuccess.tsx
  app/client/src/sagas/TemplatesSagas.ts
  app/client/src/selectors/templatesSelectors.tsx
  app/client/src/utils/hooks/useFeatureFlagOverride.ts
Labels: skip-changelog, ok-to-test

#40623 chore: git: write only changed files to the FS
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/operations/FileOperationsCEv2Impl.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/git/operations/FileOperationsCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/CommonGitFileUtilsCE.java
Labels: skip-changelog, ok-to-test

#40647 fix: Enhance table search functionality by omitting system columns from search results
  app/client/src/widgets/TableWidgetV2/widget/__tests__/derived.test/getFilteredTableData.test.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Bug, Widgets Product, Critical, Production, Community Reported, Needs Triaging, Stale, Medium, Table Widget V2, ok-to-test, Query Widgets & IDE Pod, Unplanned Work - Q&W

#40632 fix: Enhanced offline data handling capabilities for the data table when infinite scroll is enabled.
  app/client/src/widgets/TableWidgetV2/component/TableContext.test.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/index.tsx
  app/client/src/widgets/TableWidgetV2/component/VirtualTable/InifiniteScrollBody/useInfiniteScroll.tsx
  app/client/src/widgets/TableWidgetV2/component/header/actions/Actions.test.tsx
  app/client/src/widgets/TableWidgetV2/component/index.tsx
  app/client/src/widgets/TableWidgetV2/component/types.ts
  app/client/src/widgets/TableWidgetV2/widget/index.tsx
Labels: Bug, Widgets Product, High, Release, Needs Triaging, Medium, Table Widget V2, ok-to-test, Query Widgets & IDE Pod

#40646 chore: Server version bump from 11 to 12 for an autocommit
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/dtos/LayoutExecutableUpdateDTO.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/ce/ActionCE_DTO.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaMigration.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/JsonSchemaVersionsFallback.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/migrations/MigrationHelperMethods.java
Labels: skip-changelog, ok-to-test

#40660 fix: Updating the styles for JS settings popover
  app/client/src/IDE/Components/ToolbarSettingsPopover.tsx
  app/client/src/ce/pages/Editor/JSEditor/JSEditorToolbar/JSEditorToolbar.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
Labels: Bug, Release, Needs Triaging, Medium, Integrations Product, Query Settings, ok-to-test, Query Widgets & IDE Pod

#40608 chore: added automatic option to run behaviour behind feature flag
  app/client/src/PluginActionEditor/PluginActionContext.tsx
  app/client/src/PluginActionEditor/components/PluginActionForm/components/UQIEditor/hooks/useGoogleSheetsSetDefaultProperty.ts
  app/client/src/PluginActionEditor/components/PluginActionToolbar/components/ActionSettings.tsx
  app/client/src/PluginActionEditor/types/PluginActionTypes.ts
  app/client/src/ce/entities/FeatureFlag.ts
  app/client/src/components/editorComponents/PartialImportExport/PartialExportModal/unitTestUtils.ts
  app/client/src/constants/AppsmithActionConstants/ActionConstants.tsx
  app/client/src/constants/AppsmithActionConstants/formConfig/ApiSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/GoogleSheetsSettingsConfig.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/PluginSettings.ts
  app/client/src/constants/AppsmithActionConstants/formConfig/QuerySettingsConfig.ts
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
  app/client/src/pages/Editor/SaaSEditor/__data__/FinalState.json
  app/client/src/pages/Editor/SaaSEditor/__data__/InitialState.json
  app/client/src/utils/PluginUtils.ts
  app/client/test/factories/MockPluginsState.ts
  app/server/appsmith-plugins/amazons3Plugin/src/main/resources/setting.json
  app/server/appsmith-plugins/anthropicPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/appsmithAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/firestorePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/googleSheetsPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mongoPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mssqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/mysqlPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/openAiPlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/oraclePlugin/src/main/resources/setting.json
  app/server/appsmith-plugins/postgresPlugin/src/main/resources/setting.json
Labels: IDE Product, Core Query Execution, Task, skip-changelog, IDE Pod, Integrations Product, Query Settings, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40654 chore: Allow UI module private entities in action selector query/js selection
  app/client/src/ce/selectors/modulesSelector.ts
  app/client/src/components/editorComponents/ActionCreator/helpers.tsx
  app/client/src/components/editorComponents/WidgetQueryGeneratorForm/CommonControls/DatasourceDropdown/useSource/useConnectToOptions.tsx
Labels: skip-changelog, ok-to-test

#40689 chore: added reset before checkout ref
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#40687 fix: show left side auth content when multi-org feature is enabled
  app/client/src/pages/UserAuth/Container.tsx
Labels: Bug, ok-to-test

#40690 feat: implement multi-organization login page
  app/client/src/ce/constants/messages.ts
  app/client/src/ce/reducers/organizationReducer.ts
  app/client/src/pages/UserAuth/Container.tsx
  app/client/src/pages/UserAuth/Login.tsx
Labels: Enhancement, ok-to-test

#40688 fix: Prevent NPE during BearerTokenAuth import
  app/server/appsmith-server/src/main/java/com/appsmith/server/datasources/importable/DatasourceImportableServiceCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/datasources/importable/DatasourceImportableServiceCEImplTest.java
Labels: Bug, Needs Triaging, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod, Unplanned Work - Q&W, A-Force

#40699 chore: cherry pick reset before switch branch
  app/server/appsmith-server/src/main/java/com/appsmith/server/git/fs/GitFSServiceCEImpl.java
Labels: ok-to-test

#40708 fix: email validation in input widget v2
  app/client/src/widgets/InputWidgetV2/widget/derived.js
  app/client/src/widgets/InputWidgetV2/widget/derived.test.ts
Labels: Bug, Input Widget, ok-to-test, Query Widgets & IDE Pod

#40671 feat: backend changes for updating run behaviour to automatic
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/enums/FeatureFlagEnum.java
  app/server/appsmith-interfaces/src/main/java/com/appsmith/external/models/RunBehaviourEnum.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImplTest.java
Labels: Enhancement, IDE Product, Core Query Execution, Task, IDE Pod, Integrations Product, Query Settings, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40709 feat: Handling the case when reactive actions feature flag is turned off and the run behaviour is Automatic
  app/client/src/components/formControls/DropDownControl.test.tsx
  app/client/src/components/formControls/DropDownControl.tsx
  app/client/src/pages/Editor/JSEditor/JSEditorToolbar/components/JSFunctionSettings.tsx
Labels: Enhancement, IDE Product, Core Query Execution, Task, IDE Pod, Integrations Product, Query Settings, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40722 fix: runBehaviour added in published mode as well
  app/server/appsmith-server/src/main/java/com/appsmith/server/newactions/base/NewActionServiceCEImpl.java
Labels: Bug, Task, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40718 fix: logout user if the session has expired between page switches
  app/client/src/api/ApiResponses.tsx
  app/client/src/ce/sagas/PageSagas.tsx
Labels: Bug, ok-to-test

#40717 fix: add type checking for Mixpanel session recording methods
  app/client/src/utils/Analytics/mixpanel.ts
Labels: Bug, ok-to-test

#40723 chore: logout issue when switching pages in view mode
  app/client/src/api/ApiResponses.tsx
  app/client/src/ce/sagas/PageSagas.tsx
Labels: ok-to-test

#40679 fix: Refactor validation logic in TableWidgetV2 to improve clarity and correctness
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/AddNewRow2_spec.js
  app/client/cypress/e2e/Regression/ClientSide/Widgets/TableV2/inline_editing_validations_spec.js
  app/client/src/widgets/TableWidgetV2/widget/__tests__/derived.test/getEditableCellValidity.test.js
  app/client/src/widgets/TableWidgetV2/widget/derived.js
Labels: Bug, Table Widget V2, ok-to-test, Query Widgets & IDE Pod, Unplanned Work - Q&W

#40725 fix: mixpanel start stop recording check
  app/client/src/utils/Analytics/mixpanel.ts
Labels: ok-to-test

#40719 chore: Tracking organizationId in analytics for cloud billing
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/AnalyticsServiceCEImpl.java
Labels: skip-changelog, ok-to-test

#40726 feat: updated toast messages for on page load actions
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImplTest.java
Labels: Enhancement, Needs Triaging, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40711 chore: Update list and form widget to work with UI modules
  app/client/src/WidgetProvider/constants.ts
  app/client/src/constants/WidgetConstants.tsx
  app/client/src/selectors/editorSelectors.tsx
  app/client/src/selectors/flattenedChildCanvasSelector.ts
  app/client/src/widgets/BaseWidget.tsx
  app/client/src/widgets/FormWidget/widget/index.tsx
  app/client/src/widgets/ListWidgetV2/MetaWidgetGenerator.ts
  app/client/src/widgets/ListWidgetV2/widget/index.tsx
Labels: skip-changelog, ok-to-test

#40735 fix: redirect users not part of organization to signup page
  app/client/src/pages/UserAuth/Login.tsx
Labels: Bug, ok-to-test

#40743 chore: Module editor Remove page tab from navigate to action selector
  app/client/src/ce/selectors/modulesSelector.ts
  app/client/src/components/editorComponents/ActionCreator/FieldGroup/index.tsx
  app/client/src/sagas/WidgetLoadingSaga.ts
Labels: Frontend, Task, skip-changelog, Packages Pod, UI module, ok-to-test, Packages & Git Pod

#40733 refactor: Update PluginSchemaSolution return type from JsonNode to List<Object>
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginSchemaSolutionCE.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/plugins/solutions/PluginSchemaSolutionCEImpl.java
Labels: ok-to-test

#40744 fix: eliminate concurrency bug in file deletion logic by removing side effects from parallel stream
  app/server/appsmith-git/src/main/java/com/appsmith/git/files/FileUtilsCEImpl.java
Labels: Bug, ok-to-test

#40754 refactor: Remove strong dependency from feature flag enum to (de)serialise tenant object
  app/server/appsmith-server/src/main/java/com/appsmith/server/domains/ce/TenantConfigurationCE.java
Labels: ok-to-test

#40755 fix: disallows page load to automatic transition in run behaviour for older actions
  app/server/appsmith-server/src/main/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/onload/internal/OnLoadExecutablesUtilCEImplTest.java
Labels: Bug, High, Release, Needs Triaging, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod

#40642 fix: allow running as non-root
  deploy/docker/base.dockerfile
  deploy/docker/fs/opt/appsmith/entrypoint.sh
Labels: Bug, Production, Community Reported, Needs Triaging, Stale, K8s, DevOps Pod, Medium

#40808 fix: Handle burst traffic for fetching feature flags during cron job
  app/server/appsmith-interfaces/src/main/java/com/appsmith/util/WebClientUtils.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/services/ce/CacheableFeatureFlagHelperCEImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/ScheduledTaskCEImpl.java
Labels: Bug, ok-to-test

#40810 fix: Don't load _all_ the workspaces into memory
  app/server/appsmith-server/src/main/java/com/appsmith/server/helpers/ce/PluginScheduledTaskUtilsCEImpl.java
Labels: Bug, ok-to-test

#40792 fix: generate crud run behaviour updates
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/CreateDBTablePageSolutionImpl.java
  app/server/appsmith-server/src/main/java/com/appsmith/server/solutions/ce/CreateDBTablePageSolutionCEImpl.java
  app/server/appsmith-server/src/test/java/com/appsmith/server/solutions/CreateDBTablePageSolutionTests.java
Labels: Bug, Task, Integrations Product, Integrations Pod General, ok-to-test, Integrations Pod, Query Widgets & IDE Pod
